USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCountryCode]    Script Date: 3/2/2026 10:26:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <06 May, 2025>
-- Description:	<Get Country Code From Name>
-- =============================================
CREATE FUNCTION [dbo].[fn_GetCountryCode]
(
    @CountryName VARCHAR(100)
)
RETURNS VARCHAR(10)
AS
BEGIN
    DECLARE @CountryCode VARCHAR(10);

    SELECT @CountryCode = c.CountryCode
	FROM dbo.Country c
	WHERE  c.Deleted = 0 AND c.CountryName COLLATE Latin1_General_CI_AI = @CountryName COLLATE Latin1_General_CI_AI;

    RETURN @CountryCode;
END;
GO
