USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetLocationOrderNumberFromCode]    Script Date: 3/2/2026 10:26:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Jul, 2025>
-- Description:	<Get OrderNumber from LocationCode>
-- =============================================
CREATE FUNCTION [dbo].[fn_GetLocationOrderNumberFromCode]
(
	@LocationCode VARCHAR(50)
)
RETURNS VARCHAR(200)
AS
BEGIN

	DECLARE @Result VARCHAR(200);

	SET @Result = '';

	DECLARE @NumberSBin INT,
			@LocationFound BIT,
			@TemporaryLocation BIT,
			@LocSBinID INT,
			@LocBinID INT,
			@LocShelfID INT,
			@LocColumnID INT,
			@LocRowID INT,
			@LocSectionID INT,
			@LocAreaID INT,
			@LocWarehouseID INT,
			@LocWarehouseCode NVARCHAR(1),
			@LocAreaCode NVARCHAR(1),
			@LocSectionCode NVARCHAR(3),
			@LocRowCode NVARCHAR(4),
			@LocColumnCode NVARCHAR(6),
			@LocShelfCode NVARCHAR(4),
			@LocBinCode NVARCHAR(7),
			@LocSBinCode NVARCHAR(7),
			@LocTempCode NVARCHAR(33),
			@LocColumnOrderNumber INT,
			@LocRowOrderNumber INT,
			@LocSectionOrderNumber INT,
			@LocAreaOrderNumber INT;	

    SET @LocationFound = 0;
	SET @TemporaryLocation = 0;
	
	IF LEN(@LocationCode) != 33
	BEGIN
		SET @LocationFound = 0;
		RETURN @Result;
	END
	ELSE
	BEGIN
		
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @AreaCode VARCHAR(20);
		DECLARE @SectionCode VARCHAR(20);
		DECLARE @BinCode VARCHAR(29);

		SET @WarehouseCode = SUBSTRING(@LocationCode, 1, 1);
		SET @AreaCode = SUBSTRING(@LocationCode, 2, 1);
		SET @SectionCode = SUBSTRING(@LocationCode, 3, 3);
		SET @BinCode = SUBSTRING(@LocationCode, 6, 29);

		IF LEFT(@BinCode, 2) COLLATE Latin1_General_BIN = 'TL'
		BEGIN
			IF EXISTS (SELECT 1 FROM dbo.LocTempLocation WHERE WarehouseCode = @WarehouseCode 
																AND AreaCode = @AreaCode
																AND SectionCode = @SectionCode
																AND BinCode = @BinCode
																AND DELETED = 0)
			BEGIN
				SET @LocationFound = 1;					
			END
		END
		ELSE
		BEGIN
			SET @LocationFound = 0;
		END

		-- tmp
		IF @LocationFound = 1
		BEGIN
			SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
			SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
			SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
			SET @LocTempCode = SUBSTRING(@LocationCode, 6, LEN(@LocationCode));

			-- Get LocWarehouse ID
			SELECT 
				@LocWarehouseID = LocWarehouseID
			FROM dbo.LocWarehouse
			WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

			IF @LocWarehouseID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			-- Get LocArea ID
			SELECT @LocAreaID = LocAreaID, @LocAreaOrderNumber = OrderNumber
			FROM dbo.LocArea
			WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

			IF @LocAreaID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			 -- Get LocSection Code
			SELECT @LocSectionID = LocSectionID, @LocSectionOrderNumber = OrderNumber
			FROM dbo.LocSection
			WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;

			IF @LocSectionID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			SET @TemporaryLocation = 1;			
		END
		ELSE
		BEGIN
			SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
			SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
			SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
			SET @LocRowCode = SUBSTRING(@LocationCode, 6, 4);
			SET @LocColumnCode = SUBSTRING(@LocationCode, 10, 6);
			SET @LocShelfCode = SUBSTRING(@LocationCode, 16, 4);
			SET @LocBinCode = SUBSTRING(@LocationCode, 20, 7);
			SET @LocSBinCode = SUBSTRING(@LocationCode, 27, 7);

			-- Get LocWarehouse ID
			SELECT @LocWarehouseID = LocWarehouseID
			FROM dbo.LocWarehouse
			WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

			IF @LocWarehouseID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END	

			-- Get LocArea ID
			SELECT @LocAreaID = LocAreaID, @LocAreaOrderNumber = OrderNumber
			FROM dbo.LocArea
			WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

			IF @LocAreaID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			 -- Get LocSection Code
			SELECT @LocSectionID = LocSectionID, @LocSectionOrderNumber = OrderNumber
			FROM dbo.LocSection
			WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;			

			IF @LocSectionID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			-- Get LocRow Code
			SELECT @LocRowID = LocRowID, @LocRowOrderNumber = OrderNumber
			FROM dbo.LocRow
			WHERE RowCode = @LocRowCode AND LocSectionID = @LocSectionID AND DELETED = 0;

			IF @LocRowID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			-- Get LocColumn Code
			SELECT @LocColumnID = LocColumnID, @LocColumnOrderNumber = OrderNumber 
			FROM dbo.LocColumn
			WHERE ColumnCode = @LocColumnCode AND LocRowID = @LocRowID AND DELETED = 0;

			IF @LocColumnID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END
			
			-- Get LocShelf Code
			SELECT @LocShelfID = LocShelfID
			FROM dbo.LocShelf
			WHERE ShelfCode = @LocShelfCode AND LocColumnID = @LocColumnID AND DELETED = 0;

			IF @LocShelfID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			-- Get LocBin Code
			SELECT @LocBinID = LocBinID  
			FROM dbo.LocBin
			WHERE BinCode = @LocBinCode AND LocShelfID = @LocShelfID AND DELETED = 0;

			IF @LocBinID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			-- Get LocSBin Code
			SELECT @LocSBinID = LocSBinID
			FROM dbo.LocSBin
			WHERE SBinCode = @LocSBinCode AND LocBinID = @LocBinID AND DELETED = 0;

			IF @LocSBinID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN @Result;
			END

			SET @LocationFound = 1;

		END
	
	END

	IF @LocationFound = 1
	BEGIN
		
		IF @TemporaryLocation = 1
		BEGIN
			SET @Result = @WarehouseCode + RIGHT(REPLICATE('0', 20) + CAST(@LocAreaOrderNumber AS VARCHAR(20)), 20) 
			                             + RIGHT(REPLICATE('0', 20) + CAST(@LocSectionOrderNumber AS VARCHAR(20)), 20) 
										 + @LocTempCode;

		END
		ELSE
		BEGIN
			SET @Result = @WarehouseCode + RIGHT(REPLICATE('0', 20) + CAST(@LocAreaOrderNumber AS VARCHAR(20)), 20)
			                             + RIGHT(REPLICATE('0', 20) + CAST(@LocSectionOrderNumber AS VARCHAR(20)), 20) 
										 + RIGHT(REPLICATE('0', 20) + CAST(@LocRowOrderNumber AS VARCHAR(20)), 20) 
										 + RIGHT(REPLICATE('0', 20) + CAST(@LocColumnOrderNumber AS VARCHAR(20)), 20) 
										 + @LocShelfCode + @LocBinCode + @LocSBinCode;										 
			
		END

	END

	RETURN @Result

END
GO
