USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetStockOnHandOfTenantItem]    Script Date: 3/2/2026 10:26:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_GetStockOnHandOfTenantItem]
(
    @TenantCode    VARCHAR(20),
    @WarehouseCode VARCHAR(20),
    @ItemNumber    VARCHAR(30)
)
RETURNS DECIMAL(18, 4)
AS
BEGIN
    DECLARE @TotalTransactionQty DECIMAL(18, 4);

    SELECT
        @TotalTransactionQty = SUM(UL.TransactionQty)
    FROM dbo.ULD U
    INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
    WHERE U.TenantCode = @TenantCode
      AND U.DELETED = 0
      AND UL.DELETED = 0
      AND U.WarehouseCode = @WarehouseCode
      AND U.ItemNumber = @ItemNumber
      AND U.HoldStatus IS NULL
      AND U.Status NOT IN ('Draft', 'InActive', 'Locked')
      AND UL.TransactionType <> 'Allocated';

    RETURN CASE 
             WHEN @TotalTransactionQty > 0 THEN @TotalTransactionQty
             ELSE 0
           END;
END;
GO
