USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogAccessLink_CheckExistedLogAccessLink]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Oct, 2024>
-- Description:	<Check Access Link existed>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogAccessLink_CheckExistedLogAccessLink] @AccessLink VARCHAR(500)
AS
BEGIN

	SET NOCOUNT ON;

	IF EXISTS(SELECT 1 FROM dbo.LogAccessLink WHERE AccessLink = @AccessLink AND Deleted = 0)
	BEGIN
		select 1;
	END
	ELSE
	BEGIN
		select 0;
	END
END
GO
