USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTypeMapping_GetLogMapping]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <27 Aug, 2024>
-- Description:	<Get Log Mapping>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTypeMapping_GetLogMapping] @LogFileName VARCHAR(255)
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@SqlLog bit;

	SELECT @SqlLog = SqlLog 
	FROM dbo.LogTypeMapping 
	WHERE LogFileName = @LogFileName AND Deleted = 0;

	IF @SqlLog IS NULL OR @SqlLog = 0
	BEGIN
		SELECT 0;
	END
	ELSE
	BEGIN
		SELECT 1;
	END

END
GO
