USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTable_InsertLogTable]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Nov, 2024>
-- Description:	<Auto Create Log table>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTable_InsertLogTable] 
	@LogFileName VARCHAR(100), 
	@LogTableName VARCHAR(100),
	@LogTableDesc VARCHAR(500),
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert into LogTypeMapping table
        INSERT INTO [3PLWMS_LOGS_DEV].[dbo].[LogTypeMapping] ([LogFileName], [SqlLog], [Deleted])
        VALUES (@LogFileName, 1, 0);

		DECLARE @SQL NVARCHAR(MAX);
		DECLARE @PrimaryKeyColumn NVARCHAR(128);

		-- Generate the primary key column name based on the table name
		SET @PrimaryKeyColumn = QUOTENAME(@LogTableName + 'LogID');

		SET @SQL = '
		CREATE TABLE ' + QUOTENAME(@LogTableName + 'Log') + ' (
			' + @PrimaryKeyColumn + ' [int] IDENTITY(1,1) NOT NULL,
			[AppName] [varchar](255) NOT NULL,
			[CallingInterfaceIPAddress] [varchar](500) NULL,
			[LogFileName] [varchar](255) NOT NULL,
			[LoggedInUser] [varchar](255) NOT NULL,
			[FileName] [varchar](255) NOT NULL,
			[MessageType] [varchar](50) NOT NULL,
			[TransactionResult] [varchar](50) NOT NULL,
			[Message] [varchar](max) NOT NULL,
			[Comment1] [varchar](max) NULL,
			[Comment2] [varchar](max) NULL,
			[Comment3] [varchar](max) NULL,
			[PayloadRequest] [varchar](max) NULL,
			[PayloadResponse] [varchar](max) NULL,
			[ResponseStatus] [varchar](max) NULL,
			[MobileDeviceID] [varchar](40) NULL,
			[LogTime] [datetime] NULL,
			CONSTRAINT [PK_' + @LogTableName + '] PRIMARY KEY CLUSTERED 
			(
			  [' + @LogTableName  +  'LogID] ASC
			)WITH (
				PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, 
				ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
			) ON [PRIMARY]
		) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];';

		-- Execute the dynamic SQL to create the table
		EXEC sp_executesql @SQL;

		-- Adding description to the table using sp_addextendedproperty
		DECLARE @AddDescriptionSQL NVARCHAR(MAX);

		SET @AddDescriptionSQL = '
		EXEC sp_addextendedproperty 
			@name = ''MS_Description'', 
			@value = ''' + @LogTableDesc + ''', 
			@level0type = ''SCHEMA'', @level0name = ''dbo'', 
			@level1type = ''TABLE'', @level1name = ' + QUOTENAME(@LogTableName + 'Log') + ';
		';

		-- Execute the SQL to add the description
		EXEC sp_executesql @AddDescriptionSQL;

        -- Commit the transaction if everything is successful
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback the transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Optionally, handle the error by returning an error message or raising an error
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END
GO
