USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTypeMapping_ListLogTypeMapping]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Nov, 2024>
-- Description:	<List Log Log Mapping>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTypeMapping_ListLogTypeMapping] 
	@Search NVARCHAR(100) = NULL, 
    @PageNumber INT = 1,     
    @PageSize INT = 10,    
    @OrderBy NVARCHAR(50) = 'LogTypeMappingID', 
    @OrderDir NVARCHAR(4) = 'ASC',
	@TotalRecords INT OUTPUT,
    @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LogTypeMapping WHERE Deleted = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT * FROM dbo.LogTypeMapping WHERE Deleted = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LogTypeMapping 
		WHERE Deleted = 0 AND LOWER(LogFileName) LIKE '%' + LOWER(@Search) + '%' ;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT * FROM LogTypeMapping 
            WHERE Deleted = 0 AND LOWER(LogFileName) LIKE ''%' + LOWER(@Search) + '%''             
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
