USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogAccessLink_DeleteLogAccessLink]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Nov, 2024>
-- Description:	<Delete Log Access Link>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogAccessLink_DeleteLogAccessLink] @LogAccessLinkID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Try to update the DELETED field
    BEGIN TRY

		IF EXISTS(SELECT 1 FROM dbo.LogAccessLink WHERE LogAccessLinkID = @LogAccessLinkID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Log Access Link has already been deleted.'
			 RETURN;
		END
	
        UPDATE dbo.LogAccessLink
        SET DELETED = 1
        WHERE LogAccessLinkID = @LogAccessLinkID;
     
        PRINT 'Delete successful for LogAccessLinkID: ' + CAST(@LogAccessLinkID AS NVARCHAR);
    END TRY
    BEGIN CATCH
         -- Handle the error
		 DECLARE @ErrorMessage NVARCHAR(4000)
		 DECLARE @ErrorSeverity INT
		 DECLARE @ErrorState INT

		 SELECT 
			 @ErrorMessage = ERROR_MESSAGE(),
			 @ErrorSeverity = ERROR_SEVERITY(),
			 @ErrorState = ERROR_STATE()

		 -- Rethrow the error
		 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
