USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTable_ListLogTables]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Nov, 2024>
-- Description:	<List Log Tables>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTable_ListLogTables] 
	@Search NVARCHAR(100) = NULL, 
    @PageNumber INT = 1,     
    @PageSize INT = 10,    
    @OrderBy NVARCHAR(50) = 'LogTableName', 
    @OrderDir NVARCHAR(4) = 'ASC',
	@TotalRecords INT OUTPUT,
    @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
	DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
	BEGIN
		-- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_NAME LIKE '%Log';		

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT 
		              TABLE_NAME AS LogTableName,
					  ISNULL(
						(
							SELECT VALUE 
							FROM fn_listextendedproperty(NULL, ''schema'', ''dbo'', ''table'', TABLE_NAME, NULL, NULL)
							WHERE name = ''MS_Description''
			            ), ''No Description'') AS LogTableDescription
		
		            FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = ''BASE TABLE'' AND TABLE_NAME LIKE ''%Log'' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				    ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

	END
	ELSE
	BEGIN
	   -- Get the total number of records
		SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM 
			(
				SELECT 
					TABLE_NAME AS LogTableName,
					TABLE_TYPE,
					ISNULL(
						CAST(
							(
								SELECT VALUE 
								FROM fn_listextendedproperty(NULL, 'schema', 'dbo', 'table', TABLE_NAME, NULL, NULL)
								WHERE name = 'MS_Description'
							) AS NVARCHAR(MAX)
						), 'No Description'
					) AS LogTableDescription
				FROM INFORMATION_SCHEMA.TABLES
			) AS A
		WHERE A.TABLE_TYPE = 'BASE TABLE' 
		  AND (
			  LOWER(A.LogTableName) LIKE '%' + LOWER(@Search) + '%Log' 
			  OR LOWER(A.LogTableDescription) LIKE '%' + LOWER(@Search) + '%'
		  );


		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT *
		    FROM 
			(
				SELECT 
					TABLE_NAME AS LogTableName,
					TABLE_TYPE,
					ISNULL(
						CAST(
							(
								SELECT VALUE 
								FROM fn_listextendedproperty(NULL, ''schema'', ''dbo'', ''table'', TABLE_NAME, NULL, NULL)
								WHERE name = ''MS_Description''
							) AS NVARCHAR(MAX)
						), ''No Description''
					) AS LogTableDescription
				FROM INFORMATION_SCHEMA.TABLES
			) AS A
			WHERE A.TABLE_TYPE = ''BASE TABLE'' 
			AND (
				LOWER(A.LogTableName) LIKE ''%' + LOWER(@Search) + '%Log''  
				OR LOWER(A.LogTableDescription) LIKE ''%' + LOWER(@Search) + '%'' 
			) 
			ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
			' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
			FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

	END 
   
	-- Execute the dynamic SQL
	EXEC sp_executesql @SQL;

END
GO
