USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTypeMapping_InsertLogTypeMapping]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Nov, 2024>
-- Description:	<Insert Log Type Mapping>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTypeMapping_InsertLogTypeMapping]  
	@LogFileName VARCHAR(255),
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

         BEGIN TRANSACTION

		 -- Check for duplicate LogTypeMapping
		 IF EXISTS(SELECT 1 FROM dbo.LogTypeMapping WHERE LogFileName = @LogFileName AND Deleted = 0)
		 BEGIN
			 SET @Message = 'Log File Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

         -- Insert into table
        INSERT INTO dbo.LogTypeMapping
        (
            LogFileName,
            SqlLog,
            Deleted
        )
        VALUES
        (
            @LogFileName,
            1,
            0
        );

        -- Commit the transaction
        COMMIT TRANSACTION 
		
	END TRY
	BEGIN CATCH

         -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
   
END
GO
