USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTable_DeleteLogTable]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Nov, 2024>
-- Description:	<Delete Log table>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTable_DeleteLogTable] 
	@LogTableName VARCHAR(100),
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;
       
		DECLARE @SQL NVARCHAR(MAX);

		-- Construct the dynamic SQL to drop the table
		SET @SQL = 'DROP TABLE IF EXISTS ' + QUOTENAME(@LogTableName);

		-- Execute the dynamic SQL to create the table
		EXEC sp_executesql @SQL;

        -- Commit the transaction if everything is successful
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback the transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Optionally, handle the error by returning an error message or raising an error
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END
GO
