USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTypeMapping_UpdateLogTypeMapping]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Nov, 2024>
-- Description:	<Update Log Type Mapping>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTypeMapping_UpdateLogTypeMapping]  
	@LogTypeMappingID INT,
	@LogFileName VARCHAR(255),
	@Allow BIT,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
   
		-- Update the LogTypeMapping table, excluding TenantCode and Deleted fields
		UPDATE dbo.LogTypeMapping
		SET
			LogFileName = COALESCE(@LogFileName, LogFileName),
			SqlLog = COALESCE(@Allow, SqlLog)
		WHERE LogTypeMappingID = @LogTypeMappingID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
