USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogAccessLink_InsertLogAccessLink]    Script Date: 3/5/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Nov, 2024>
-- Description:	<Insert Log Access Link>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogAccessLink_InsertLogAccessLink] 
	@AccessLink VARCHAR(500),
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
      
		 IF EXISTS(SELECT 1 FROM dbo.LogAccessLink WHERE AccessLink = @AccessLink AND Deleted = 0)
		 BEGIN
			 SET @Message = 'Access Link already exists.'
			 RETURN;
		 END

         -- Insert into API table
        INSERT INTO dbo.LogAccessLink
        (
            AccessLink,
            Deleted
        )
        VALUES
        (
            @AccessLink,
            0
        );

      
	END TRY
	BEGIN CATCH

		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
