USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[DHLWarehouseIntegrationType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[DHLWarehouseIntegrationType] AS TABLE(
	[AccountNumber] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL
)
GO
