USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[BoxWeightType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[BoxWeightType] AS TABLE(
	[Number] [int] NULL,
	[Weight] [decimal](10, 3) NULL
)
GO
