USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderPackingResultType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[OrderPackingResultType] AS TABLE(
	[Qty] [int] NULL,
	[SerialNumber] [nvarchar](30) NULL,
	[ItemNumber] [nvarchar](30) NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[BoxNumber] [int] NULL,
	[StandardBoxID] [int] NULL,
	[ULDBarcode] [nvarchar](30) NULL
)
GO
