USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[APServiceType]    Script Date: 3/2/2026 10:26:00 AM ******/
CREATE TYPE [dbo].[APServiceType] AS TABLE(
	[ServiceID] [int] NULL,
	[OrderType] [nchar](20) NULL,
	[OrderServiceName] [nchar](100) NULL,
	[ServiceName] [nvarchar](50) NULL,
	[ServiceCode] [nvarchar](10) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[SignatureOnDeliveryReceiverDrop] [bit] NOT NULL,
	[SignatureAlwaysRequired] [bit] NOT NULL,
	[SignatureOnDeliverySenderDrop] [bit] NOT NULL,
	[NoSignature] [bit] NOT NULL,
	[AuthorityToLeave] [bit] NOT NULL,
	[AllowPartialDelivery] [bit] NOT NULL,
	[SafeDropEnabled] [bit] NOT NULL,
	[ProductID] [nvarchar](20) NULL
)
GO
