USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[ItemCompositeTableType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[ItemCompositeTableType] AS TABLE(
	[ID] [int] NULL,
	[ItemID] [int] NULL,
	[ItemNumber] [nvarchar](30) NULL,
	[ItemName] [nvarchar](250) NULL,
	[Quantity] [int] NULL
)
GO
