USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[DHLResponseDocumentsType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[DHLResponseDocumentsType] AS TABLE(
	[ShipmentReference] [nvarchar](150) NULL,
	[imageFormat] [nvarchar](50) NULL,
	[typeCode] [nvarchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[FileName] [nvarchar](300) NULL
)
GO
