USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[TenantPermissionType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[TenantPermissionType] AS TABLE(
	[Permission] [varchar](500) NULL,
	[Create] [bit] NULL,
	[View] [bit] NULL,
	[Edit] [bit] NULL,
	[Delete] [bit] NULL
)
GO
