USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[TenantSectionPermissionType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[TenantSectionPermissionType] AS TABLE(
	[Action] [varchar](50) NULL,
	[Section] [varchar](200) NULL,
	[Permission] [varchar](500) NULL,
	[Allow] [bit] NULL
)
GO
