USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedFunction [dbo].[GetItemBarcodes]    Script Date: 3/2/2026 10:26:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <18 Sep, 2025>
-- Description:	<Get location name from LocationCode>
-- =============================================
CREATE FUNCTION [dbo].[GetItemBarcodes]
(
    @ItemID INT
)
RETURNS VARCHAR(MAX)
AS
BEGIN
    DECLARE @Result VARCHAR(MAX);

    SELECT @Result = STRING_AGG(Barcode, '|')
    FROM dbo.ItemTradeUnit
    WHERE Deleted = 0
      AND ItemID = @ItemID;

    RETURN @Result;

END
GO
