USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[ChargeGroupWarehouseCostTable]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[ChargeGroupWarehouseCostTable] AS TABLE(
	[Id] [int] NULL,
	[WarehouseCode] [varchar](20) NULL,
	[Price] [decimal](10, 2) NULL,
	[Unit] [varchar](50) NULL,
	[Currency] [varchar](20) NULL,
	[Operation] [varchar](100) NULL
)
GO
