USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[CPServiceType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[CPServiceType] AS TABLE(
	[OrderType] [nchar](20) NULL,
	[OrderServiceName] [nchar](100) NULL
)
GO
