USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[IpAddressList]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[IpAddressList] AS TABLE(
	[IpAddress] [varchar](50) NULL
)
GO
