USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[APWarehouseIntegrationType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[APWarehouseIntegrationType] AS TABLE(
	[AccountNumber] [nvarchar](50) NULL,
	[Token] [nvarchar](100) NULL,
	[MLID] [nvarchar](50) NULL
)
GO
