USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderPickingResultType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[OrderPickingResultType] AS TABLE(
	[Qty] [int] NULL,
	[RequiredQty] [int] NULL,
	[ULDID] [int] NULL,
	[ItemNumber] [nvarchar](30) NULL,
	[ScannedType] [nvarchar](30) NULL,
	[ScannedUnit] [nvarchar](30) NULL,
	[ScannedQty] [int] NULL,
	[ScannedNumber] [nvarchar](max) NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[OrderID] [int] NULL
)
GO
