USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[ReceiptInboundLineTableType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[ReceiptInboundLineTableType] AS TABLE(
	[Id] [int] NULL,
	[ItemNumber] [varchar](30) NULL,
	[ItemName] [varchar](250) NULL,
	[Quantity] [int] NULL
)
GO
