USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[DHLResponseChargesBreakdownType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[DHLResponseChargesBreakdownType] AS TABLE(
	[name] [nvarchar](150) NULL,
	[price] [decimal](10, 2) NULL,
	[typeCode] [nvarchar](50) NULL
)
GO
