USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[ChargeItemWarehouseCostTable]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[ChargeItemWarehouseCostTable] AS TABLE(
	[Id] [int] NULL,
	[WarehouseCode] [varchar](20) NULL,
	[Price] [decimal](10, 2) NULL,
	[Currency] [varchar](20) NULL
)
GO
