USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[DHLServiceType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[DHLServiceType] AS TABLE(
	[OrderType] [varchar](20) NULL,
	[ServiceName] [varchar](50) NULL,
	[OrderServiceName] [varchar](100) NULL
)
GO
