USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[LocationsCreateType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[LocationsCreateType] AS TABLE(
	[SecondaryId] [int] NULL,
	[Code] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](100) NULL
)
GO
