USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[CheckOrderType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[CheckOrderType] AS TABLE(
	[OrderNumber] [nvarchar](50) NULL,	
	[TenantCode] [nvarchar](10) NULL,	
	[WarehouseCode] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[Reason] [nvarchar](1000) NULL
)
GO
