USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[ValueArray]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[ValueArray] AS TABLE(
	[ID] [int] NULL,
	[Value] [varchar](max) NULL
)
GO
