USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[APItemCost]    Script Date: 3/2/2026 10:26:00 AM ******/
CREATE TYPE [dbo].[APItemCost] AS TABLE(
	[AP_item_id] [nvarchar](150) NULL,
	[AP_total_cost] [decimal](10, 2) NULL,
	[AP_total_cost_ex_gst] [decimal](10, 2) NULL,
	[AP_total_gst] [decimal](10, 2) NULL
)
GO
