USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[OrderType] AS TABLE(
	[OrderNumber] [nvarchar](50) NULL,
	[OrderSource] [nvarchar](50) NULL,
	[CarrierID] [int] NULL,
	[Carrier] [nvarchar](500) NULL,
	[TenantCode] [nvarchar](10) NULL,
	[Phone] [nvarchar](70) NULL,
	[Email] [nvarchar](200) NULL,
	[WarehouseCode] [nvarchar](20) NULL,
	[ShippingAddressName] [nvarchar](100) NULL,
	[ShippingAddressCompany] [nvarchar](300) NULL,
	[ShippingAddressAddress1] [nvarchar](300) NULL,
	[ShippingAddressAddress2] [nvarchar](300) NULL,
	[ShippingAddressCity] [nvarchar](150) NULL,
	[ShippingAddressProvince] [nvarchar](150) NULL,
	[ShippingAddressZip] [nvarchar](20) NULL,
	[ShippingAddressCountry] [nvarchar](50) NULL
)
GO
