USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[StringArray]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[StringArray] AS TABLE(
	[Value] [varchar](max) NULL
)
GO
