USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[ItemTradeUnitTableType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[ItemTradeUnitTableType] AS TABLE(
	[Id] [int] NULL,
	[Barcode] [varchar](30) NULL,
	[UnitQuantity] [int] NULL,
	[ItemType] [varchar](20) NULL,
	[Height] [int] NULL,
	[Width] [int] NULL,
	[Depth] [int] NULL,
	[Weight] [decimal](10, 2) NULL,
	[Packaging] [varchar](50) NULL,
	[PalletTi] [int] NULL,
	[PalletHi] [int] NULL,
	[PrimaryUnit] [bit] NULL
)
GO
