USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[OrderLineType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[OrderLineType] AS TABLE(
	[OrderNumber] [nvarchar](50) NULL,
	[ItemID] [int] NULL,
	[OrderItemNumber] [nvarchar](30) NULL,
	[OrderItemName] [nvarchar](250) NULL,
	[OrderQuantity] [int] NULL
)
GO
