USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[BoxValueType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[BoxValueType] AS TABLE(
	[Number] [int] NULL,
	[Value] [decimal](10, 3) NULL
)
GO
