USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[PickingResultType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[PickingResultType] AS TABLE(
	[Qty] [int] NULL,
	[RequiredQty] [int] NULL,
	[ULDID] [int] NULL,
	[ItemNumber] [nvarchar](30) NULL,
	[ScannedType] [nvarchar](30) NULL,
	[ScannedUnit] [nvarchar](30) NULL,
	[ScannedQty] [int] NULL,
	[ScannedNumber] [nvarchar](max) NULL
)
GO
