USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[StockTakeItemLocationType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[StockTakeItemLocationType] AS TABLE(
	[ItemID] [int] NULL,
	[BinID] [int] NULL,
	[TempID] [int] NULL,
	[LocationBarCode] [nvarchar](50) NULL
)
GO
