USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[BoxSizeType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[BoxSizeType] AS TABLE(
	[Length] [decimal](10, 2) NULL,
	[Height] [decimal](10, 2) NULL,
	[Width] [decimal](10, 2) NULL
)
GO
