USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[ParameterArray]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[ParameterArray] AS TABLE(
	[Name] [varchar](max) NULL,
	[Value] [varchar](max) NULL
)
GO
