USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[DOTWMSSortLabelType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[DOTWMSSortLabelType] AS TABLE(
	[WaveNumber] [nvarchar](50) NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[Status] [nvarchar](30) NULL
)
GO
