USE [3PLWMS_Developers]
GO
/****** Object:  UserDefinedTableType [dbo].[DHLResponsePackagesType]    Script Date: 3/2/2026 10:26:01 AM ******/
CREATE TYPE [dbo].[DHLResponsePackagesType] AS TABLE(
	[referenceNumber] [int] NULL,
	[trackingNumber] [nvarchar](50) NULL
)
GO
