USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Sep, 2025>
-- Description:	<Insert Complete Order Invoice>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
	@WaveID INT,
	@InvoiceReferences VARCHAR(500) = NULL,
	@OrderNumber VARCHAR(50),
	@TenantCode VARCHAR(10),
	@WarehouseCode VARCHAR(20),
	@Charge DECIMAL(10, 2),
	@Currency VARCHAR(20),
	@ChargeItemName VARCHAR(100),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @WaveNumber VARCHAR(11);
		IF @WaveID IS NOT NULL
		BEGIN
			SELECT @WaveNumber = WaveNumber
			FROM dbo.Wave
			WHERE WaveID = WaveID AND Deleted = 0;
		END
		ELSE
		BEGIN
			SET @WaveNumber = '';
		END


		DECLARE @References VARCHAR(500);
		IF @InvoiceReferences IS NOT NULL AND @InvoiceReferences <> ''
		BEGIN
			SET @References = @InvoiceReferences;
		END
		ELSE
		BEGIN
			SET @References = @OrderNumber;
		END


		INSERT INTO [dbo].[Invoice] (
			TenantCode,
			ChargeName,
			ChargeType,
			ChargeCategory,
			InvoiceReferences,
			WaveReferences,
			ItemReferences,
			WarehouseCode,
			Qty,
			Cost,
			Charge,
			Currency,
			Status,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES (
			@TenantCode,
			@ChargeItemName,
			'Standard',
			'Shipping',
			@References,
			@WaveNumber,
			'',
			@WarehouseCode,
			1,
			@Charge,
			@Charge,
			@Currency,
			'Pending',
			0, -- Deleted
			@CreatedDateTime,
			@CreatedBy
		);

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
