USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_InsertReceiptInbound]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<Insert Manual Receipt Inbound>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_InsertReceiptInbound]  
	@WarehouseCode VARCHAR(20),
    @TenantCode VARCHAR(20),
	@ShipmentNumber VARCHAR(30),
	@ClientShipmentNumber VARCHAR(30),
    @DueDate DATETIME,
	@ContainerType VARCHAR(20) = NULL,
	@ReceiptInboundLines ReceiptInboundLineTableType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@InsertedID INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		-- Check for Tenant Code
		IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Tenant Code does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @ReceiptInboundID INT;
		SELECT @ReceiptInboundID = ReceiptInboundID
		FROM dbo.ReceiptInbound
		WHERE WarehouseCode = @WarehouseCode AND TenantCode = @TenantCode AND ShipmentNumber = @ShipmentNumber AND Deleted = 1;

		IF @ReceiptInboundID IS NOT NULL
		BEGIN
			UPDATE dbo.ReceiptInbound
			SET
				DueDate = COALESCE(@DueDate, DueDate),
				ClientShipmentNumber = COALESCE(@ClientShipmentNumber, ClientShipmentNumber),
				ContainerType = COALESCE(@ContainerType, ContainerType),
				Deleted = 0,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy,
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime = NULL,
				LastEditedBy = NULL
			WHERE ReceiptInboundID = @ReceiptInboundID;

			SET @InsertedID = @ReceiptInboundID;
		END
		ELSE
		BEGIN
			 -- Insert into ReceiptInbound table
			INSERT INTO dbo.ReceiptInbound
			(
				WarehouseCode,
				TenantCode,
				ShipmentNumber,
				ClientShipmentNumber,
				DueDate,
				ContainerType,
				ReceiptStatus,
				ReceiptType,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@WarehouseCode,
				@TenantCode,
				@ShipmentNumber,
				@ClientShipmentNumber,
				@DueDate,
				@ContainerType,
				'Pending',
				'Manual',
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			SET @ReceiptInboundID = SCOPE_IDENTITY();
			SET @InsertedID = @ReceiptInboundID;
		END
       
	    -- Insert the associated trade units into ItemTradeUnits table
		INSERT INTO dbo.ReceiptInboundLine (ReceiptInboundID, ShipmentNumber, ItemNumber, ItemName, Quantity, ReceivedQuantity, Deleted, CreatedDateTime, CreatedBy)
		SELECT @ReceiptInboundID, @ShipmentNumber, ItemNumber, ItemName, Quantity, 0, 0, @CreatedDateTime, @CreatedBy
		FROM @ReceiptInboundLines;

        -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
