USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_UpdateReceiptStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <13 Nov, 2024>
-- Description:	<Update Receipt Inbound status>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_UpdateReceiptStatus] 
    @ReceiptInboundID	INT,
    @ReceiptStatus		VARCHAR(25),
	@InvoiceCharging     BIT = 1,
	@CompletedBy		VARCHAR(100) = NULL,
	@CompletedDateTime	DATETIME = NULL
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
	
		BEGIN TRANSACTION;

		IF LOWER(@ReceiptStatus) = 'completed' OR LOWER(@ReceiptStatus) = 'completedwithexception'
		BEGIN
			DECLARE @ShipmentNumber VARCHAR(30);
			DECLARE @ClientShipmentNumber VARCHAR(30);
			DECLARE @TenantCode VARCHAR(20); 
			DECLARE @ReceiptType VARCHAR(20); 
			DECLARE @OldReceiptStatus VARCHAR(25); 


			SELECT @ReceiptType = ReceiptType, @TenantCode = TenantCode, 
			       @ShipmentNumber = ShipmentNumber, @ClientShipmentNumber = ClientShipmentNumber,
				   @OldReceiptStatus = ReceiptStatus
			FROM dbo.ReceiptInbound WHERE ReceiptInboundID = @ReceiptInboundID AND DELETED = 0;

			IF LOWER(@OldReceiptStatus) = 'completed' OR LOWER(@OldReceiptStatus) = 'completedwithexception' 
			BEGIN
				ROLLBACK TRANSACTION;
				RETURN;
			END

			UPDATE U
				SET U.Status = 'Bulk',
					U.FirstEditedDateTime = COALESCE(U.FirstEditedDateTime, @CompletedDateTime),
					U.FirstEditedBy = COALESCE(U.FirstEditedBy, @CompletedBy),
					U.LastEditedDateTime = @CompletedDateTime,
					U.LastEditedBy = @CompletedBy
			FROM dbo.ULD AS U
			INNER JOIN dbo.ULDLine AS L 
				ON U.ULDID = L.ULDID 
				AND L.DELETED = 0 
				AND (L.TransactionReference = @ShipmentNumber OR L.TransactionReference = @ShipmentNumber)
			WHERE 
				U.TenantCode = @TenantCode 
				AND U.DELETED = 0 
				AND U.Status = 'Draft';

			If @ReceiptType = 'Manual'
			BEGIN
				DECLARE @ItemNumber NVARCHAR(30); 
				DECLARE @TransactionQty INT;

				-- Declare the cursor
				DECLARE ItemCursor CURSOR FOR
				SELECT ItemNumber
				FROM dbo.ReceiptInboundLine
				WHERE ReceiptInboundID = @ReceiptInboundID AND DELETED = 0;

				-- Open the cursor
				OPEN ItemCursor;

				-- Fetch the first row into the variable
				FETCH NEXT FROM ItemCursor INTO @ItemNumber;

				-- Loop through the cursor
				WHILE @@FETCH_STATUS = 0
				BEGIN

					SELECT 
						@TransactionQty = SUM(ul.TransactionQty)
						FROM dbo.ULD u
						JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
						WHERE 
							u.DELETED = 0 
							AND u.TenantCode = @TenantCode 
							AND ul.DELETED = 0 
							AND ul.ItemNumber = @ItemNumber
							AND (ul.TransactionReference = @ShipmentNumber OR ul.TransactionReference = @ClientShipmentNumber);
					
					UPDATE dbo.ReceiptInboundLine
					SET
						ReceivedQuantity = @TransactionQty,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @CompletedBy),
						LastEditedDateTime = @CompletedDateTime,
						LastEditedBy = @CompletedBy
					WHERE 
						ReceiptInboundID = @ReceiptInboundID AND ItemNumber = @ItemNumber AND DELETED = 0;

					-- Fetch the next row into the variable
					FETCH NEXT FROM ItemCursor INTO @ItemNumber;
				END;

				-- Close and deallocate the cursor
				CLOSE ItemCursor;
				DEALLOCATE ItemCursor;
			END

			UPDATE dbo.ReceiptInbound
			SET 
			   ReceiptStatus = @ReceiptStatus,
			   CompletedBy = @CompletedBy,
			   CompletedDateTime = @CompletedDateTime,
			   FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
			   FirstEditedBy = COALESCE(FirstEditedBy, @CompletedBy),
			   LastEditedDateTime = @CompletedDateTime,
			   LastEditedBy = @CompletedBy
			WHERE ReceiptInboundID = @ReceiptInboundID;
			
			IF @InvoiceCharging = 1
			BEGIN
				-- create charge invoice
				EXEC [dbo].[SP_VI_TBL_Invoice_CompleteReceivingInvoice]
					@ReceiptInboundID = @ReceiptInboundID,
					@CreatedDateTime = @CompletedDateTime,
					@CreatedBy = @CompletedBy,
					@Message = NULL;
			END
			

			DECLARE @ReportSubject VARCHAR(200) = @ReceiptType + ' Receiving Shipment ' + @ShipmentNumber;
			DECLARE @ReportCategory VARCHAR(50) = 'Receiving';
			DECLARE @Status VARCHAR(20) = 'Success';
			DECLARE @StoreProcedure VARCHAR(200) = 'SP_VI_TBL_Report_RunReportOfReceivingReceipt';
			DECLARE @Message VARCHAR(4000);

			IF LOWER(@ReceiptStatus) = 'completedwithexception'
			BEGIN
				SET @Status = 'Exception';
			END

			DECLARE @Params dbo.ParameterArray;
			INSERT INTO @Params (Name, Value)
			VALUES ('ShipmentNumber', @ShipmentNumber);
			
			EXEC [dbo].[SP_VI_TBL_Report_InsertReport]
				@TenantCode = @TenantCode,
				@ReportSubject = @ReportSubject,
				@ReportCategory = @ReportCategory,
				@Status = @Status,
				@StoreProcedure = @StoreProcedure,
				@Parameters = @Params,
				@CreatedDateTime = @CompletedDateTime,
				@CreatedBy = @CompletedBy,
				@Message = @Message OUTPUT;

		END
		ELSE
		BEGIN
			UPDATE dbo.ReceiptInbound
			SET 
			   ReceiptStatus = @ReceiptStatus,
			   FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
			   FirstEditedBy = COALESCE(FirstEditedBy, @CompletedBy),
			   LastEditedDateTime = @CompletedDateTime,
			   LastEditedBy = @CompletedBy
			WHERE ReceiptInboundID = @ReceiptInboundID;
		END
		
        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ReceiptInboundID: ' + CAST(@ReceiptInboundID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ReceiptInboundID: ' + CAST(@ReceiptInboundID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
