USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipmentItem_ViewAPIntShipmentItemsByID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Sep, 2025>
-- Description:	<Get detail information of AP Shipment Item (Int)>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipmentItem_ViewAPIntShipmentItemsByID] 
   @ShipmentID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT shi.* 
    FROM dbo.AP_ShipmentItemsINT shi
    WHERE shi.ShipmentID = @ShipmentID AND shi.DELETED = 0;
END
GO
