USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_InsertItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2024>
-- Description:	<Insert Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_InsertItem]  
    @ItemNumber           VARCHAR(30) = NULL,
    @TenantCode           VARCHAR(10) = NULL,
    @ItemName             VARCHAR(250) = NULL,
	@ItemPrice            DECIMAL(10,2) = NULL,
    @ItemGroups           ValueArray READONLY,
	@CompositeType		  VARCHAR(30) = NULL,
	@MinimumStockLimit	   INT = 0,
	@ItemIsComposite      BIT = NULL,
	@ItemIsMaterial      BIT = NULL, 
	@MaterialType        VARCHAR(50) = NULL,
    @ItemIsActive         BIT = NULL,
    @NonShippingItem      BIT = NULL,
    @TrackSerialOnShipment BIT = NULL,
    @TrackSerialOnReceipt  BIT = NULL,
    @TrackBatchCodeOnShipment BIT = NULL,
    @TrackBatchCodeOnReceipt  BIT = NULL,
    @TrackExpiryDateOnShipment BIT = NULL,
    @TrackExpiryDateOnReceipt  BIT = NULL,
    @HsTariffCode         VARCHAR(50) = NULL,
    @ReorderLevel         VARCHAR(50) = NULL,
    @CountryOfOrgin       VARCHAR(50) = NULL,
    @BillableForPicking   BIT = NULL,
    @SerialNumberMask     VARCHAR(50) = NULL,
    @BatchNumberMask      VARCHAR(50) = NULL,
	@Quantity             INT = NULL,
	@ShopDomain           VARCHAR(150) = NULL,
	@PickingCondition     VARCHAR(100) = NULL,
	@DHLDocument		  VARCHAR(200) = NULL,
	@IsSueSort           BIT = 0,
	@IsCMC               BIT = 0,
	@IsPerfectPick       BIT = 0,
	@ItemTradeUnits ItemTradeUnitTableType READONLY,
	@CompositeItems ItemCompositeTableType READONLY,
	@KittingCosts   ChargeItemWarehouseCostTable READONLY,
	@CreatedDateTime DATETIME = NULL,
	@CreatedBy VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
	
WITH EXECUTE AS OWNER
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION


		IF @ItemIsMaterial = 1 AND (@MaterialType IS NULL OR LTRIM(RTRIM(@MaterialType)) = '')
		BEGIN
			SET @Message = 'Material Type is required when Item is Material.'
			ROLLBACK TRANSACTION;
			RETURN;
		END
    
		-- Check for duplicate ItemCode
		IF EXISTS(SELECT 1 FROM dbo.Items WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Item Number of Tenant already exists.'
			ROLLBACK TRANSACTION;
            RETURN;
		END

		IF EXISTS(
			SELECT 1 
			FROM @ItemTradeUnits itu
			WHERE EXISTS 
			(
				SELECT 1 
				FROM dbo.Items i
				JOIN dbo.ItemTradeUnit itu2 ON i.ItemID = itu2.ItemID
				WHERE i.TenantCode = @TenantCode 
				  AND itu2.DELETED = 0 
				  AND i.DELETED = 0 
				  AND itu.Barcode = itu2.Barcode
			)
		)
		BEGIN
			SET @Message = 'Barcode of Tenant already exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- Check SN required
		IF @ItemIsComposite IS NOT NULL AND @ItemIsComposite = 1 AND @CompositeType = 'Stock'
		BEGIN
			
			DECLARE @CurrentItemID INT;
			DECLARE @Found BIT;

			SET @Found = 0;

			DECLARE ItemCursor CURSOR FOR
				SELECT ItemID
				FROM @CompositeItems
				WHERE ItemID IS NOT NULL;  -- optional filter

			OPEN ItemCursor;

			FETCH NEXT FROM ItemCursor INTO @CurrentItemID;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				
				IF EXISTS(
					SELECT 1 
					FROM Items
					WHERE ItemID = @CurrentItemID AND Deleted = 0 AND TrackSerialOnReceipt = 1
				)
				BEGIN
					SET @Found = 1;
				END

				FETCH NEXT FROM ItemCursor INTO @CurrentItemID;
			END

			CLOSE ItemCursor;
			DEALLOCATE ItemCursor;

			IF @Found = 1 
			BEGIN
				SET @Message = 'Items requiring a serial number must have a composite type of "Order"';
				ROLLBACK TRANSACTION;
				RETURN;
			END
			
		END

		DECLARE @ItemID INT;
		-- Insert into Items table
		INSERT INTO dbo.Items
		(
			ItemNumber,				
			TenantCode,
			ItemPrice,
			ItemName,
			CompositeType, 
			ItemIsComposite,
			ItemIsMaterial,
			ItemIsActive,
			NonShippingItem,
			MaterialType,
			TrackSerialOnShipment,
			TrackSerialOnReceipt,
			TrackBatchCodeOnShipment,
			TrackBatchCodeOnReceipt,
			TrackExpiryDateOnShipment,
			TrackExpiryDateOnReceipt,
			HsTariffCode,
			ReorderLevel,
			CountryOfOrgin,
			BillableForPicking,
			SerialNumberMask,
			BatchNumberMask,
			ShopDomain,
			PickingCondition,
			MinimumStockLimit,
			DHLDocument,
			Deleted,
			IsSueSort,
			IsCMC,
			IsPerfectPick,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@ItemNumber,
			@TenantCode,
			@ItemPrice,
			@ItemName,
			@CompositeType, 
			@ItemIsComposite,
			@ItemIsMaterial,
			@ItemIsActive,
			@NonShippingItem,
			@MaterialType,
			@TrackSerialOnShipment,
			@TrackSerialOnReceipt,
			@TrackBatchCodeOnShipment,
			@TrackBatchCodeOnReceipt,
			@TrackExpiryDateOnShipment,
			@TrackExpiryDateOnReceipt,
			@HsTariffCode,
			@ReorderLevel,
			@CountryOfOrgin,
			@BillableForPicking,
			@SerialNumberMask,
			@BatchNumberMask,
			@ShopDomain,
			@PickingCondition,
			@MinimumStockLimit,
			@DHLDocument,
			0, 
			@IsSueSort,
			@IsCMC,
			@IsPerfectPick,
			@CreatedDateTime,
			@CreatedBy
		);

		SET @ItemID = SCOPE_IDENTITY();

		IF @ItemIsComposite IS NOT NULL AND @ItemIsComposite = 1
		BEGIN
			INSERT INTO dbo.ItemComposite (ParentItemID, ParentItemNumber, ItemID, ItemName, ItemNumber, Quantity, Deleted, CreatedDateTime, CreatedBy)
			SELECT @ItemID, @ItemNumber, [ItemID], [ItemName], [ItemNumber], [Quantity], 0, @CreatedDateTime, @CreatedBy
			FROM @CompositeItems;
		END
       
		-- Insert the associated trade units into ItemTradeUnits table
		INSERT INTO dbo.ItemTradeUnit (ItemID, Barcode, UnitQuantity, ItemType, Height, Width, Depth, Weight, Packaging, PalletTi, PalletHi, PrimaryUnit, Deleted, CreatedDateTime,	CreatedBy)
		SELECT @ItemID, Barcode, UnitQuantity, ItemType, Height, Width, Depth, Weight, Packaging, PalletTi, PalletHi, PrimaryUnit, 0, @CreatedDateTime, @CreatedBy
		FROM @ItemTradeUnits;

		-- Insert the associated charge Item Group
		INSERT INTO dbo.ItemChargeGroup (ItemID, ChargeGroupID, Category, Deleted, CreatedDateTime,	CreatedBy)
		SELECT @ItemID, [ID], [Value], 0 , @CreatedDateTime, @CreatedBy
		FROM @ItemGroups;

		IF @ItemIsComposite IS NOT NULL AND @ItemIsComposite = 1
		BEGIN
			INSERT INTO dbo.ItemKitingCost (ItemID, WarehouseCode, Cost, Currency, Deleted, CreatedDateTime, CreatedBy)
			SELECT @ItemID, WarehouseCode, Price, Currency, 0 , @CreatedDateTime, @CreatedBy
			FROM @KittingCosts;
		END

		-- Commit the transaction
		COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH
		-- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
