USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocWarehouse_ViewLocWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam Nguyen>
-- Create date: <04 Oct, 2024>
-- Description:	<View LocWarehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocWarehouse_ViewLocWarehouse] @LocWarehouseID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.LocWarehouse 
    WHERE LocWarehouseID = @LocWarehouseID AND DELETED = 0;
END
GO
