USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Widget_ListAllWidgets]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Dec, 2025>
-- Description:	<List All Widget>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Widget_ListAllWidgets] 
AS
BEGIN

	SET NOCOUNT ON;

    SELECT WidgetName
	FROM dbo.Widget	
	WHERE Deleted = 0;

END
GO
