USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_UpdateOrder]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 April, 2025>
-- Description:	<Update Order>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_UpdateOrder]  
	@OrderID INT,
    @WarehouseCode VARCHAR(20),
    @TenantCode VARCHAR(10),
    @CarrierID INT,
    @CarrierServiceID INT,
    @DestinationName NVARCHAR(50) = NULL,
    @DestinationCompany NVARCHAR(100) = NULL,
    @DestinationAddressLine1 NVARCHAR(50) = NULL,
    @DestinationAddressLine2 NVARCHAR(50) = NULL,
    @DestinationSuburb NVARCHAR(20) = NULL,
    @DestinationState NVARCHAR(20) = NULL,
    @DestinationPostcode NVARCHAR(15) = NULL,
    @DestinationCountry NVARCHAR(50) = NULL,
    @DestinationPhone VARCHAR(50) = NULL,
    @DestinationEmail VARCHAR(250) = NULL,
    @ReferenceNumber VARCHAR(20) = NULL,
    @ShipmentNumber VARCHAR(20) = NULL,
    @SpecialInstructions VARCHAR(500) = NULL,
    @FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy        VARCHAR(100) = NULL,
	@LastEditedDateTime   DATETIME = NULL,
	@LastEditedBy         VARCHAR(100) = NULL,
	@OrderLines OrderLineType READONLY,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		-- Check for Tenant Code
		IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Tenant Code does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF NOT EXISTS(SELECT 1 FROM dbo.LocWarehouse WHERE WarehouseCode = @WarehouseCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Warehouse Code does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END
       
        IF NOT EXISTS( SELECT 1 FROM dbo.Orders WHERE OrderID = @OrderID AND Deleted = 0)
        BEGIN
            SET @Message = 'OrderID does not exist or has been deleted.'
            ROLLBACK TRANSACTION;
			RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.Orders WHERE order_number = @ReferenceNumber AND OrderID <> @OrderID AND Deleted = 0)
		BEGIN
			SET @Message = 'This order numnber is existed'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @Carrier VARCHAR(30), @CarrierService VARCHAR(200);
		IF @CarrierID = 1
		BEGIN
			SET @Carrier = 'Australia Post';

			SELECT @CarrierService = ServiceName
			FROM APIntegration i
			LEFT JOIN APIntegrationLine l on l.IntegrationID = i.IntegrationID
			WHERE i.WarehouseCode = @WarehouseCode and i.TenantCode = @TenantCode and l.ServiceID = @CarrierServiceID and i.Deleted = 0 and l.Deleted = 0
			GROUP BY ServiceID, ServiceName
		
			IF @CarrierService IS NULL
			BEGIN
				SET @Message = 'Carrier Service does not exists.'
				ROLLBACK TRANSACTION;
				RETURN;
			END
		END
		ELSE IF @CarrierID = 2
		BEGIN
			SET @Carrier = 'Manual Shipment';
			SET @CarrierService = 'Manual Shipment';
		END
		ELSE IF @CarrierID = 3
		BEGIN
			SET @Carrier = 'DHL Express';
			IF @CarrierServiceID = 1
			BEGIN
				SET @CarrierService = 'DAP';
			END
			ELSE
			BEGIN
				SET @CarrierService = 'DDP';
			END
		END
		ELSE IF @CarrierID = 4
		BEGIN
			SET @Carrier = 'Courier Please';
			SET @CarrierService = 'Courier Please Service';
		END

		-- get current
		DECLARE @CurrentWarehouseCode VARCHAR(50),
            @CurrentTenantCode VARCHAR(50),
            @CurrentCarrier VARCHAR(100),
            @CurrentCarrierService VARCHAR(100),
            @CurrentCarrierID INT,
            @CurrentCarrierServiceID INT,
            @CurrentDestinationName VARCHAR(200),
            @CurrentDestinationCompany VARCHAR(200),
            @CurrentDestinationAddressLine1 VARCHAR(200),
            @CurrentDestinationAddressLine2 VARCHAR(200),
            @CurrentDestinationSuburb VARCHAR(100),
            @CurrentDestinationState VARCHAR(100),
            @CurrentDestinationPostcode VARCHAR(20),
            @CurrentDestinationCountry VARCHAR(100),
            @CurrentDestinationPhone VARCHAR(50),
            @CurrentDestinationEmail VARCHAR(100),
            @CurrentReferenceNumber VARCHAR(100),
            @CurrentShipmentNumber VARCHAR(100),
            @CurrentSpecialInstructions VARCHAR(MAX);

		-- Get current values
		SELECT 
			@CurrentWarehouseCode = WarehouseCode,
			@CurrentTenantCode = TenantCode,
			@CurrentCarrier = Carrier,
			@CurrentCarrierService = CarrierService,
			@CurrentCarrierID = CarrierID,
			@CurrentCarrierServiceID = CarrierServiceID,
			@CurrentDestinationName = shipping_address_name,
			@CurrentDestinationCompany = shipping_address_company,
			@CurrentDestinationAddressLine1 = shipping_address_address1,
			@CurrentDestinationAddressLine2 = shipping_address_address2,
			@CurrentDestinationSuburb = shipping_address_city,
			@CurrentDestinationState = shipping_address_province,
			@CurrentDestinationPostcode = shipping_address_zip,
			@CurrentDestinationCountry = shipping_address_country,
			@CurrentDestinationPhone = Phone,
			@CurrentDestinationEmail = contact_email,
			@CurrentReferenceNumber = ReferenceNumber,
			@CurrentShipmentNumber = ShipmentNumber,
			@CurrentSpecialInstructions = SpecialInstructions
		FROM dbo.Orders
		WHERE OrderID = @OrderID;

		UPDATE dbo.Orders
		SET
			WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
			TenantCode = COALESCE(@TenantCode, TenantCode),
			Carrier = COALESCE(@Carrier, Carrier),
            CarrierService = COALESCE(@CarrierService, CarrierService),
			CarrierID = COALESCE(@CarrierID, CarrierID),
            CarrierServiceID = COALESCE(@CarrierServiceID, CarrierServiceID),
			shipping_address_name = COALESCE(@DestinationName, shipping_address_name),
			shipping_address_company = COALESCE(@DestinationCompany, shipping_address_company),
			shipping_address_address1 = COALESCE(@DestinationAddressLine1, shipping_address_address1),
			shipping_address_address2 = COALESCE(@DestinationAddressLine2, shipping_address_address2),
			shipping_address_city = COALESCE(@DestinationSuburb, shipping_address_city),
			shipping_address_province = COALESCE(@DestinationState, shipping_address_province),
			shipping_address_zip = COALESCE(@DestinationPostcode, shipping_address_zip),
			shipping_address_country = COALESCE(@DestinationCountry, shipping_address_country),
			Phone = COALESCE(@DestinationPhone, Phone),
			contact_email = COALESCE(@DestinationEmail, contact_email),
			ReferenceNumber = COALESCE(@ReferenceNumber, ReferenceNumber),
			ShipmentNumber = COALESCE(@ShipmentNumber, ShipmentNumber),
			SpecialInstructions = COALESCE(@SpecialInstructions, SpecialInstructions),
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE OrderID = @OrderID;

		-- insert order history
		IF @WarehouseCode IS NOT NULL AND @WarehouseCode <> @CurrentWarehouseCode
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@OrderID, 'Update', 'WarehouseCode', 'Changed from ' + @CurrentWarehouseCode + ' to ' + @WarehouseCode, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @TenantCode IS NOT NULL AND @TenantCode <> @CurrentTenantCode
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'TenantCode', 'Changed from ' + @CurrentTenantCode + ' to ' + @TenantCode, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @Carrier IS NOT NULL AND @Carrier <> @CurrentCarrier
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'Carrier', 'Changed from ' + @CurrentCarrier + ' to ' + @Carrier, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @CarrierService IS NOT NULL AND @CarrierService <> @CurrentCarrierService
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'CarrierService', 'Changed from ' + @CurrentCarrierService + ' to ' + @CarrierService, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		/*IF @CarrierID IS NOT NULL AND @CarrierID <> @CurrentCarrierID
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'CarrierID', CAST(@CarrierID AS VARCHAR(200)), @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @CarrierServiceID IS NOT NULL AND @CarrierServiceID <> @CurrentCarrierServiceID
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'CarrierServiceID', CAST(@CarrierServiceID AS VARCHAR(200)), @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END*/

		
		IF @DestinationName IS NOT NULL AND @DestinationName <> @CurrentDestinationName
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationName', 'Changed from ' + @CurrentDestinationName + ' to ' + @DestinationName, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationCompany IS NOT NULL AND @DestinationCompany <> @CurrentDestinationCompany
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationCompany', 'Changed from ' + @CurrentDestinationCompany + ' to ' + @DestinationCompany, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationAddressLine1 IS NOT NULL AND @DestinationAddressLine1 <> @CurrentDestinationAddressLine1
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationAddressLine1', 'Changed from ' + @CurrentDestinationAddressLine1 + ' to ' + @DestinationAddressLine1, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationAddressLine2 IS NOT NULL AND @DestinationAddressLine2 <> @CurrentDestinationAddressLine2
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationAddressLine2', 'Changed from ' + @CurrentDestinationAddressLine2 + ' to ' + @DestinationAddressLine2, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationSuburb IS NOT NULL AND @DestinationSuburb <> @CurrentDestinationSuburb
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationSuburb', 'Changed from ' + @CurrentDestinationSuburb + ' to ' + @DestinationSuburb, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationState IS NOT NULL AND @DestinationState <> @CurrentDestinationState
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationState', 'Changed from ' + @CurrentDestinationState + ' to ' + @DestinationState, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationPostcode IS NOT NULL AND @DestinationPostcode <> @CurrentDestinationPostcode
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationPostcode', 'Changed from ' + @CurrentDestinationPostcode + ' to ' + @DestinationPostcode, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationCountry IS NOT NULL AND @DestinationCountry <> @CurrentDestinationCountry
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationCountry', 'Changed from ' + @CurrentDestinationCountry + ' to ' + @DestinationCountry, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationPhone IS NOT NULL AND @DestinationPhone <> @CurrentDestinationPhone
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationPhone', 'Changed from ' + @CurrentDestinationPhone + ' to ' + @DestinationPhone, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @DestinationEmail IS NOT NULL AND @DestinationEmail <> @CurrentDestinationEmail
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'DestinationEmail', 'Changed from ' + @CurrentDestinationEmail + ' to ' + @DestinationEmail, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @ReferenceNumber IS NOT NULL AND @ReferenceNumber <> @CurrentReferenceNumber
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'ReferenceNumber', 'Changed from ' + @CurrentReferenceNumber + ' to ' + @ReferenceNumber, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @ShipmentNumber IS NOT NULL AND @ShipmentNumber <> @CurrentShipmentNumber
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'ShipmentNumber', 'Changed from ' + @CurrentShipmentNumber + ' to ' + @ShipmentNumber, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		IF @SpecialInstructions IS NOT NULL AND @SpecialInstructions <> @CurrentSpecialInstructions
		BEGIN
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
			VALUES (@OrderID, 'Update', 'SpecialInstructions', 'Changed from ' + @CurrentSpecialInstructions + ' to ' + @SpecialInstructions, @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		END

		-- order line
		CREATE TABLE #CurrentOrderLines (
			ItemID INT,
			OrderItemNumber NVARCHAR(30),
			OrderItemName NVARCHAR(250),
			OrderQuantity INT
		);

		--get current
		INSERT INTO #CurrentOrderLines (ItemID, OrderItemNumber, OrderItemName, OrderQuantity)
		SELECT ItemID, line_items_sku, line_items_name, line_items_current_quantity
		FROM dbo.OrdersLine
		WHERE OrderID = @OrderID AND Deleted = 0;

		-- 2. DETECT ADDED
		SELECT o.*
		INTO #ToInsert
		FROM @OrderLines o
		LEFT JOIN #CurrentOrderLines c
			ON o.ItemID = c.ItemID AND o.OrderItemNumber = c.OrderItemNumber
		WHERE c.ItemID IS NULL;

		-- 3. DETECT REMOVED
		SELECT c.*
		INTO #ToDelete
		FROM #CurrentOrderLines c
		LEFT JOIN @OrderLines o
			ON c.ItemID = o.ItemID AND c.OrderItemNumber = o.OrderItemNumber
		WHERE o.ItemID IS NULL;

		-- 4. DETECT UPDATED
		SELECT o.*, c.OrderQuantity as OldQty
		INTO #ToUpdate
		FROM @OrderLines o
		JOIN #CurrentOrderLines c
			ON o.ItemID = c.ItemID AND o.OrderItemNumber = c.OrderItemNumber
		WHERE 
			ISNULL(o.OrderQuantity, -1) <> ISNULL(c.OrderQuantity, -1);

		-- INSERT NEW ROWS
		INSERT INTO dbo.OrdersLine 
		(OrderID, ItemID, line_items_name, line_items_sku, line_items_current_quantity, TenantCode, Deleted, CreatedDateTime, CreatedBy)
		SELECT 
			@OrderID, 
			ItemID, 
			OrderItemName, 
			OrderItemNumber, 
			OrderQuantity, 
			@TenantCode, 
			0, 
			@LastEditedDateTime, 
			@LastEditedBy
		FROM #ToInsert;

		INSERT INTO dbo.OrderHistory 
		(OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
		SELECT 
			@OrderID, 
			'AddItem', 
			OrderItemName, 
			OrderQuantity, 
			@LastEditedDateTime, 
			0, 
			@LastEditedDateTime, 
			@LastEditedBy
		FROM #ToInsert;
		

		-- UPDATE MODIFIED ROWS
		UPDATE ol
		SET 
			ol.line_items_current_quantity = u.OrderQuantity,
			ol.FirstEditedDateTime = COALESCE(ol.FirstEditedDateTime, @FirstEditedDateTime),
			ol.FirstEditedBy = COALESCE(ol.FirstEditedBy, @FirstEditedBy),
			ol.LastEditedDateTime = COALESCE(@LastEditedDateTime, ol.LastEditedDateTime),
			ol.LastEditedBy = COALESCE(@LastEditedBy, ol.LastEditedBy)
		FROM dbo.OrdersLine ol
		JOIN #ToUpdate u
			ON ol.OrderID = @OrderID AND ol.ItemID = u.ItemID AND ol.line_items_sku = u.OrderItemNumber
		WHERE ol.Deleted = 0;

		INSERT INTO dbo.OrderHistory 
		(OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
		SELECT 
			@OrderID, 
			'UpdateItem', 
			OrderItemName, 
			'Changed from ' + CAST(OldQty AS VARCHAR(20)) + ' to ' + CAST(OrderQuantity AS VARCHAR(20)), 
			@LastEditedDateTime, 
			0, 
			@LastEditedDateTime, 
			@LastEditedBy
		FROM #ToUpdate;
		

		-- MARK REMOVED ROWS AS DELETED
		UPDATE ol
		SET 
			ol.Deleted = 1,
			ol.FirstEditedDateTime = COALESCE(ol.FirstEditedDateTime, @FirstEditedDateTime),
			ol.FirstEditedBy = COALESCE(ol.FirstEditedBy, @FirstEditedBy),
			ol.LastEditedDateTime = COALESCE(@LastEditedDateTime, ol.LastEditedDateTime),
			ol.LastEditedBy = COALESCE(@LastEditedBy, ol.LastEditedBy)
		FROM dbo.OrdersLine ol
		JOIN #ToDelete d
			ON ol.OrderID = @OrderID AND ol.ItemID = d.ItemID AND ol.line_items_sku = d.OrderItemNumber
		WHERE ol.Deleted = 0;

		INSERT INTO dbo.OrderHistory 
		(OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
		SELECT 
			@OrderID, 
			'RemoveItem', 
			OrderItemName, 
			OrderQuantity, 
			@LastEditedDateTime, 
			0, 
			@LastEditedDateTime, 
			@LastEditedBy
		FROM #ToDelete;

		-- CLEANUP
		DROP TABLE #CurrentOrderLines;
		DROP TABLE #ToInsert;
		DROP TABLE #ToUpdate;
		DROP TABLE #ToDelete;

         -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
