USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Country_ListAllCountries]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <29 Oct, 2025>
-- Description:	<List Country>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Country_ListAllCountries]
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT CountryID, CountryName, CountryCode
		FROM dbo.Country 
		WHERE DELETED = 0 ORDER BY CountryName;
END
GO
