USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_GetTenantInfoOfReceiptInbound]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 jan, 2025>
-- Description:	<Get Tenant Info of ReceiptInbound>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_GetTenantInfoOfReceiptInbound]
	@ReceiptInboundID INT
AS
BEGIN
	
	SET NOCOUNT ON;
   
	-- Get Notification Email and Notification Name
	SELECT t.TenantCode, t.NotificationEmail, t.NotificationName, r.ShipmentNumber, t.TenantContactEmail, t.TenantContactName
	FROM dbo.ReceiptInbound r
	INNER JOIN dbo.Tenant t ON r.TenantCode = t.TenantCode
	WHERE r.DELETED = 0 AND r.ReceiptInboundID = @ReceiptInboundID;
END

GO
