USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_ViewOrder]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 April, 2025>
-- Description:	<Get detail information of Order>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_ViewOrder] @OrderID INT
AS
BEGIN
	
   SET NOCOUNT ON;

   -- Retrieve 
   SELECT 
		t.TenantName, w.WarehouseName, o.*
	FROM dbo.Orders o
	LEFT JOIN dbo.Tenant t ON o.TenantCode = t.TenantCode
	LEFT JOIN dbo.LocWarehouse w ON o.WarehouseCode = w.WarehouseCode
	WHERE o.OrderID = @OrderID  AND o.DELETED = 0;
END
GO
