USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInboundLine_ViewReceiptInboundLineById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<View Receipt Inbound Line By ID>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ReceiptInboundLine_ViewReceiptInboundLineById] @ReceiptInboundID INT
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @ReceiptType VARCHAR(20);
	DECLARE @ShipmentNumber VARCHAR(30);
	DECLARE @TenantCode VARCHAR(20); 	
	DECLARE @ReceiptStatus VARCHAR(25);

	SELECT @TenantCode = TenantCode, @ShipmentNumber = ShipmentNumber, @ReceiptType = ReceiptType , @ReceiptStatus = ReceiptStatus
	FROM dbo.ReceiptInbound WHERE ReceiptInboundID = @ReceiptInboundID AND DELETED = 0;

	CREATE TABLE #TempDetails (
		ItemID INT,
		ReceiptInboundID INT,
		ShipmentNumber NVARCHAR(30), 
		ItemNumber NVARCHAR(30),     
		ItemName NVARCHAR(250),      
		Quantity INT,
		ReceivedQuantity INT
	);

	DECLARE @ItemNumber NVARCHAR(30); 
	DECLARE @ReceivedQuantity INT;

	If @ReceiptType = 'Manual'
	BEGIN

	    -- get info
		INSERT INTO #TempDetails (ItemID, ReceiptInboundID, ShipmentNumber, ItemNumber, ItemName, Quantity, ReceivedQuantity)
		SELECT i.ItemID, rl.ReceiptInboundID, rl.ShipmentNumber, rl.ItemNumber, rl.ItemName, rl.Quantity, rl.ReceivedQuantity 
		FROM dbo.ReceiptInboundLine rl
		INNER JOIN dbo.ReceiptInbound r ON r.ReceiptInboundID=rl.ReceiptInboundID
		INNER JOIN dbo.Items i ON i.ItemNumber=rl.ItemNumber and i.TenantCode=r.TenantCode AND i.Deleted = 0
		WHERE r.ReceiptInboundID = @ReceiptInboundID AND rl.DELETED = 0;

		-- Declare the cursor
		DECLARE ItemCursor CURSOR FOR
		SELECT DISTINCT ItemNumber
		FROM #TempDetails;
		
		-- Open the cursor
		OPEN ItemCursor;

		-- Fetch the first row
		FETCH NEXT FROM ItemCursor INTO @ItemNumber;

		-- Loop through the cursor and insert into #TempDetails
		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- get qty
			SELECT @ReceivedQuantity = COALESCE(SUM(ul.TransactionQty),0)
			FROM dbo.ULD u
			JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
			WHERE 
				u.DELETED = 0 
				AND u.TenantCode = @TenantCode 
				AND ul.DELETED = 0 
				AND ul.ItemNumber = @ItemNumber
				AND ul.TransactionReference = @ShipmentNumber;

			UPDATE #TempDetails
			SET ReceivedQuantity = @ReceivedQuantity
			WHERE ItemNumber = @ItemNumber;

			-- Fetch the next row
			FETCH NEXT FROM ItemCursor INTO @ItemNumber;
		END;

		-- Close and deallocate the cursor
		CLOSE ItemCursor;
		DEALLOCATE ItemCursor;
		
	END
	ELSE
	BEGIN 
		INSERT INTO #TempDetails (ItemID, ReceiptInboundID, ShipmentNumber, ItemNumber, ItemName, Quantity, ReceivedQuantity)
		SELECT 
			ISNULL(i.ItemID, 0) AS ItemID,
			@ReceiptInboundID,
			@ShipmentNumber,
			ul.ItemNumber,
			ul.ItemName,
			0 as Quantity,
			COALESCE(SUM(ul.TransactionQty),0) as ReceivedQuantity
		FROM dbo.ULD u
		JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
		LEFT JOIN dbo.Items i ON ul.ItemNumber = i.ItemNumber AND u.TenantCode = i.TenantCode AND i.Deleted = 0 
		WHERE 
			u.DELETED = 0 
			AND u.TenantCode = @TenantCode 
			AND ul.DELETED = 0 
			AND ul.TransactionReference = @ShipmentNumber
		GROUP BY
		    i.ItemID,
			ul.ItemNumber,
			ul.ItemName
	END

	SELECT 
		ItemID,
		ReceiptInboundID,
		ShipmentNumber,
		ItemNumber,
		ItemName,
		Quantity,
		ReceivedQuantity,
		@ReceiptStatus as Status
	FROM #TempDetails;

	DROP TABLE #TempDetails;

    
END
GO
