USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetStockOnHandOfTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 Mar, 2025>
-- Description:	<Get Stock of tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetStockOnHandOfTenant] 
	@TenantID INT,
	@WarehouseCodes dbo.StringArray READONLY,  -- empty is ALl Warehouses	
	@Search NVARCHAR(100) = NULL,
	@PageNumber INT = 1,
    @PageSize INT = 10,
    @OrderBy NVARCHAR(50) = 'ItemNumber',
    @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	@TotalRecords INT OUTPUT,
    @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @WarehouseCodeList dbo.StringArray;
	DECLARE @WarehouseCount INT;
	SELECT @WarehouseCount = COUNT(*) FROM @WarehouseCodes;
	
	DECLARE @TenantCode VARCHAR(10);
	SELECT @TenantCode = TenantCode FROM Tenant WHERE DELETED = 0 AND TenantID = @TenantID;

	IF @WarehouseCount = 0   -- 'All Warehouses';
	BEGIN
		PRINT 'All Warehouses';

		INSERT INTO @WarehouseCodeList (Value)
		SELECT WarehouseCode
		FROM LocWarehouse
		WHERE DELETED = 0;
	END
	ELSE
	BEGIN
		INSERT INTO @WarehouseCodeList (Value)
		SELECT (Value) FROM @WarehouseCodes;
	END

	DECLARE @WarehouseCodeListStr NVARCHAR(MAX);
	-- Convert the TVP to a comma-separated string
	SELECT @WarehouseCodeListStr = STRING_AGG('''' + Value + '''', ', ') FROM @WarehouseCodeList;
	
	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);
 
	IF @Search IS NULL OR LEN(@Search) = 0
	BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*)
		FROM (
			SELECT 
				U.ItemNumber, 
				U.ItemName,
				U.WarehouseCode,
				COUNT(DISTINCT U.ULDID) AS TotalULD, 
				SUM(UL.TransactionQty) AS TotalTransactionQty
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			WHERE U.TenantCode = @TenantCode
				AND U.DELETED = 0
				AND UL.DELETED = 0
				AND U.HoldStatus IS NULL 
				AND U.Status <> 'Draft' AND U.Status <> 'InActive'  AND U.Status <> 'Locked'
				AND UL.TransactionType  <> 'Allocated'
				AND U.WarehouseCode IN (
					SELECT Value FROM @WarehouseCodeList
				)
			GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
			HAVING SUM(UL.TransactionQty) > 0
		) AS A;
		
		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'
			SELECT A.WarehouseCode, lw.WarehouseName, A.ItemName, A.ItemNumber, COALESCE(A.TotalULD,0) AS TotalULD, COALESCE(A.TotalTransactionQty,0) AS Qty
			FROM (
				SELECT 
					U.ItemNumber, 
					U.ItemName,
					U.WarehouseCode,
					COUNT(DISTINCT U.ULDID) AS TotalULD, 
					SUM(UL.TransactionQty) AS TotalTransactionQty
				FROM dbo.ULD U
				INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
				WHERE U.TenantCode = ''' + @TenantCode + '''
					AND U.DELETED = 0
					AND U.HoldStatus IS NULL 
					AND U.Status <> ''Draft'' AND U.Status <> ''InActive''  AND U.Status <> ''Locked''
					AND UL.TransactionType  <> ''Allocated''
					AND UL.DELETED = 0';

		-- Append the dynamic IN clause for WarehouseCode
		IF @WarehouseCodeListStr <> ''''''
		BEGIN
			SET @SQL = @SQL + N' AND U.WarehouseCode IN (' + @WarehouseCodeListStr + ')';
		END

		-- Complete the query with grouping and ordering
		SET @SQL = @SQL + N'
				GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
				HAVING SUM(UL.TransactionQty) > 0
			) AS A
			LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = A.WarehouseCode
			ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
			OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END
	ELSE
	BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*)
		FROM
		(
			SELECT 
				U.WarehouseCode, 
				U.ItemName, 
				U.ItemNumber, 
				COALESCE(COUNT(DISTINCT U.ULDID), 0) AS TotalULD, 
				COALESCE(SUM(UL.TransactionQty), 0) AS TotalTransactionQty
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			WHERE U.TenantCode = @TenantCode
				AND U.DELETED = 0
				AND UL.DELETED = 0
				AND U.HoldStatus IS NULL 
				AND U.Status <> 'Draft' AND U.Status <> 'InActive'  AND U.Status <> 'Locked'
				AND UL.TransactionType  <> 'Allocated'
				AND U.WarehouseCode IN (
					SELECT Value FROM @WarehouseCodeList
				)
			GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
			HAVING SUM(UL.TransactionQty) > 0
		) AS A
		LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = A.WarehouseCode
		WHERE 
			LOWER(A.WarehouseCode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(lw.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(A.ItemName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(A.ItemNumber) LIKE '%' + LOWER(@Search) + '%';



		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'
			SELECT A.WarehouseCode, lw.WarehouseName, A.ItemName, A.ItemNumber, COALESCE(A.TotalULD,0) AS TotalULD, COALESCE(A.TotalTransactionQty,0) AS Qty
			FROM (
				SELECT 
					U.ItemNumber, 
					U.ItemName,
					U.WarehouseCode,
					COUNT(DISTINCT U.ULDID) AS TotalULD, 
					SUM(UL.TransactionQty) AS TotalTransactionQty
				FROM dbo.ULD U
				INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
				WHERE U.TenantCode = ''' + @TenantCode + '''
					AND U.DELETED = 0
					AND U.HoldStatus IS NULL 
					AND U.Status <> ''Draft'' AND U.Status <> ''InActive''  AND U.Status <> ''Locked''
					AND UL.TransactionType  <> ''Allocated''
					AND UL.DELETED = 0';

		-- Append the dynamic IN clause for WarehouseCode
		IF @WarehouseCodeListStr <> ''''''
		BEGIN
			SET @SQL = @SQL + N' AND U.WarehouseCode IN (' + @WarehouseCodeListStr + ')';
		END

		-- Complete the query with grouping and ordering
		SET @SQL = @SQL + N'
			GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
			HAVING SUM(UL.TransactionQty) > 0
		) AS A
		LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = A.WarehouseCode
		WHERE LOWER(A.WarehouseCode) LIKE ''%'' + LOWER(''' + @Search + ''') + ''%'' 
		   OR LOWER(lw.WarehouseName) LIKE ''%'' + LOWER(''' + @Search + ''') + ''%'' 
		   OR LOWER(A.ItemName) LIKE ''%'' + LOWER(''' + @Search + ''') + ''%'' 
		   OR LOWER(A.ItemNumber) LIKE ''%'' + LOWER(''' + @Search + ''') + ''%''
		ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
		OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

	END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;

END
GO
