USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_GetAppliedStatusById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <29 Nov, 2024>
-- Description:	<Get Applied Status of Charge Item By Id>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_ChargeItem_GetAppliedStatusById]  
	 @ChargeItemID INT,
	 @Status VARCHAR(20) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @NumberOfTenants INT = 0;
	DECLARE @NumberOfAllApplied INT = 0;

	SELECT @NumberOfTenants = COUNT(*)
	FROM dbo.Tenant
	WHERE deleted = 0;
	
	DECLARE @NumberOfAppliedTenants INT = 0;

	SELECT @NumberOfAppliedTenants = COUNT(*)
	FROM dbo.TenantChargeItem tci 
	WHERE Deleted = 0 AND ChargeItemId = @ChargeItemId
	GROUP BY ChargeItemId
	
	IF @NumberOfAppliedTenants = 0
	BEGIN
		SET @Status = 'Apply';
	END
	ELSE IF @NumberOfAppliedTenants = @NumberOfTenants
	BEGIN
		SET @Status = 'All';
	END
	ELSE
	BEGIN
		SET @Status = 'Part';
	END

END
GO
