USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocArea_DeleteLocArea]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Soft Delete>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocArea_DeleteLocArea] @LocAreaID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
    SET NOCOUNT ON;
   
    BEGIN TRY

		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.LocArea WHERE LocAreaID = @LocAreaID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Area has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @AllColumnIds dbo.IdArray;

		INSERT INTO @AllColumnIds (Value)
		SELECT lc.LocColumnID FROM dbo.LocColumn lc
		JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
		JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
		WHERE lc.Deleted = 0
			AND lr.Deleted = 0
			AND ls.Deleted = 0
			AND ls.LocAreaID = @LocAreaID;
		
		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.LocColumnID IN (SELECT Value FROM @AllColumnIds)
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);

		IF @NumberOfULD > 0
		BEGIN
			SET @Message = 'There are not empty ULDs at these location.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

        DECLARE @LocWarehouseID INT, @TotalDeletedRecords INT;

		SELECT @LocWarehouseID = LocWarehouseID
		FROM dbo.LocArea
		WHERE LocAreaID = @LocAreaID;

		SELECT @TotalDeletedRecords = COUNT(*) 
		FROM dbo.LocArea
		WHERE LocWarehouseID = @LocWarehouseID AND DELETED = 1;

		SET @TotalDeletedRecords = -@TotalDeletedRecords - 1;

		-- Step 1: Update LocArea table
		UPDATE dbo.LocArea
		SET Deleted = 1,
			OrderNumber = @TotalDeletedRecords
		WHERE LocAreaID = @LocAreaID;

        -- Step 2: Update LocSection table using JOIN with LocArea
        UPDATE ls
        SET ls.Deleted = 1
        FROM dbo.LocSection ls
        INNER JOIN dbo.LocArea la ON ls.LocAreaID = la.LocAreaID
        WHERE la.LocAreaID = @LocAreaID;

        -- Step 3: Update LocRow table using JOIN with LocSection
        UPDATE lr
        SET lr.Deleted = 1
        FROM dbo.LocRow lr
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocAreaID = @LocAreaID;

        -- Step 4: Update LocColumn table using JOIN with LocRow
        UPDATE lc
        SET lc.Deleted = 1
        FROM dbo.LocColumn lc
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocAreaID = @LocAreaID;

        -- Step 5: Update LocShelf table using JOIN with LocColumn
        UPDATE lshelf
        SET lshelf.Deleted = 1
        FROM dbo.LocShelf lshelf
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocAreaID = @LocAreaID;

        -- Step 6: Update LocBin table using JOIN with LocShelf
        UPDATE lb
        SET lb.Deleted = 1
        FROM dbo.LocBin lb
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocAreaID = @LocAreaID;

        -- Step 7: Update LocSBin table using JOIN with LocBin
        UPDATE lsb
        SET lsb.Deleted = 1
        FROM dbo.LocSBin lsb
        INNER JOIN dbo.LocBin lb ON lsb.LocBinID = lb.LocBinID
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocAreaID = @LocAreaID;
		
        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for LocAreaID: ' + CAST(@LocAreaID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating LocAreaID: ' + CAST(@LocAreaID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
