USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_LockTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Mar, 2025>
-- Description:	<Lock Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_LockTenant] 
	@TenantID INT,
	@WarehouseCodes dbo.StringArray READONLY, -- If  len = 0 , means lock all warehouse
	@Reason              VARCHAR(1000),
	@CreatedDateTime     DATETIME = NULL,
	@CreatedBy           VARCHAR(100) = NULL,
	@Message             VARCHAR(4000) OUTPUT -- Output parameter for error messages
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @TenantCode VARCHAR(10);
		-- Retrieve the TenantCode based on the provided TenantID
		SELECT @TenantCode = TenantCode 
		FROM dbo.Tenant 
		WHERE TenantID = @TenantID AND DELETED = 0;

		DECLARE @NumberOfWarehouse INT;
		SELECT @NumberOfWarehouse = COUNT(*) FROM @WarehouseCodes;

		DECLARE @Codes dbo.StringArray;
		DECLARE @ExistedCodes dbo.StringArray;

		IF @NumberOfWarehouse = 0 -- ALL
		BEGIN
		
			INSERT INTO @ExistedCodes (Value)
			SELECT WarehouseCode FROM TenantLock WHERE TenantCode = @TenantCode;

			INSERT INTO @Codes (Value)
			SELECT lw.WarehouseCode 
			FROM dbo.LocWarehouse lw 
			WHERE lw.Deleted = 0 
			  AND NOT EXISTS (
				  SELECT 1 
				  FROM @ExistedCodes ec 
				  WHERE ec.[Value] = lw.WarehouseCode
			  );

		   -- update existed
			Update TenantLock 
			SET 
				Deleted = 0,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = @CreatedDateTime,
				LastEditedBy = @CreatedBy
			WHERE TenantCode = @TenantCode AND WarehouseCode IN (SELECT [Value] FROM @ExistedCodes) ;

			--insert
			INSERT INTO dbo.TenantLock
			(
			    TenantCode,
			    WarehouseCode,
				Reason,
				LockDateTime,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @TenantCode, [Value], @Reason, GETDATE(), 0, @CreatedDateTime, @CreatedBy
			FROM @Codes;
		END
		ELSE
		BEGIN

			INSERT INTO @ExistedCodes (Value)
			SELECT WarehouseCode FROM TenantLock WHERE TenantCode = @TenantCode AND WarehouseCode IN (
				  SELECT [Value] 
				  FROM @WarehouseCodes
			  );

			INSERT INTO @Codes (Value)
			SELECT [Value] 
			FROM @WarehouseCodes wc
			WHERE NOT EXISTS (
				  SELECT 1 
				  FROM @ExistedCodes ec 
				  WHERE ec.[Value] = wc.[Value]
			  );

			UPDATE TenantLock 
			SET 
				Deleted = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = @CreatedDateTime,
				LastEditedBy = @CreatedBy
			WHERE TenantCode = @TenantCode;

		   -- update existed
			Update TenantLock 
			SET 
				Deleted = 0,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = @CreatedDateTime,
				LastEditedBy = @CreatedBy
			WHERE TenantCode = @TenantCode AND WarehouseCode IN (
				  SELECT [Value] 
				  FROM @ExistedCodes
			  );;

			--insert
			INSERT INTO dbo.TenantLock
			(
			    TenantCode,
			    WarehouseCode,
				Reason,
				LockDateTime,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @TenantCode, [Value], @Reason, GETDATE(), 0, @CreatedDateTime, @CreatedBy
			FROM @Codes;

		END

			-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
