USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_DHLGetShipmentData]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DHLGetShipmentData]
    @ShipmentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MessageReference,
        plannedShippingDateAndTime,
        pickup_isRequested,
        closeTime,
        location,
        productCode,
        localProductCode,
        getRateEstimates,
        accounts_typeCode_Shipper,
        accounts_number_Shipper,
        accounts_typeCode_Payer,
        accounts_number_Payer,
        valueAddedServices_serviceCode,
        valueAddedServices_value,
        valueAddedServices_currency,
        valueAddedServices_serviceCode2,
        outputImageProperties_printerDPI,
        outputImageProperties_encodingFormat,
        outputImageProperties_splitTransportAndWaybillDocLabels,
        outputImageProperties_allDocumentsInOneImage,
        outputImageProperties_splitDocumentsByPages,
        outputImageProperties_splitInvoiceAndReceipt,
        outputImageProperties_receiptAndLabelsInOneImage,
        SD_postalCode,
        SD_cityName,
        SD_countryCode,
        SD_provinceCode,
        SD_addressLine1,
        SD_addressLine2,
        SD_countryName,
        SD_CI_email,
        SD_CI_phone,
        SD_CI_mobilePhone,
        SD_CI_companyName,
        SD_CI_fullName,
        SD_RN_typeCode,
        SD_RN_number,
        SD_RN_issuerCountryCode,
        SD_BD_name,
        SD_BD_settlementLocalCurrency,
        SD_BD_settlementForeignCurrency,
        SD_typeCode,
        RD_postalCode,
        RD_cityName,
        RD_countryCode,
        RD_provinceCode,
        RD_addressLine1,
        RD_addressLine2,
        RD_countryName,
        RD_CI_email,
        RD_CI_phone,
        RD_CI_mobilePhone,
        RD_CI_companyName,
        RD_CI_fullName,
        RD_RN_typeCode,
        RD_RN_number,
        RD_RN_issuerCountryCode,
        RD_BD_name,
        RD_BD_settlementLocalCurrency,
        RD_BD_settlementForeignCurrency,
        RD_typeCode,
        content_isCustomsDeclarable,
        content_declaredValue,
        content_declaredValueCurrency,
        invoice_number,
        invoice_date,
        invoice_instructions,
        invoice_totalNetWeight,
        invoice_totalGrossWeight,
        invoice_customerReferences_typeCode,
        invoice_customerReferences_value,
        invoice_termsOfPayment,
        invoice_indicativeCustomsValues_importCustomsDutyValue,
        invoice_indicativeCustomsValues_importTaxesValue,
        remarks_value,
        destinationPortName,
        placeOfIncoterm,
        payerVATNumber,
        recipientReference,
        exporter_id,
        exporter_code,
        packageMarks,
        declarationNotes_value,
        exportReference,
        exportReason,
        exportReasonType,
        licenses_typeCode,
        licenses_value,
        shipmentType,
        [description],
        USFilingTypeValue,
        incoterm,
        unitOfMeasurement,
        shipmentNotification_typeCode,
        shipmentNotification_receiverId,
        shipmentNotification_languageCode,
        shipmentNotification_languageCountryCode,
        shipmentNotification_bespokeMessage,
        prepaidCharges_typeCode,
        prepaidCharges_currency,
        prepaidCharges_value,
        prepaidCharges_method,
        estimatedDeliveryDate_isRequested,
        estimatedDeliveryDate_typeCode,
        getAdditionalInformation_typeCode,
        getAdditionalInformation_isRequested,
        [SupportDocument1],
        [typeCode1],
        [imageFormat1],
        [SupportDocument2],
        [typeCode2],
        [imageFormat2],
        [SupportDocument3],
        [typeCode3],
        [imageFormat3]
    FROM dbo.DHLShipment
    WHERE ShipmentID = @ShipmentID;
END;
GO
