USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_DeleteWave]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2025>
-- Description:	<Soft Delete Wave>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_DeleteWave] 
	@WaveID INT,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	 BEGIN TRY
		
		BEGIN TRANSACTION;

		DECLARE @WaveStatus VARCHAR(20);

		SELECT @WaveStatus = WaveStatus
		FROM dbo.Wave
		WHERE @WaveID = WaveID;

		IF @WaveStatus = 'Completed'
		BEGIN
			SET @Message = 'Can not delete not-pending wave';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- remove fulfilment
		DECLARE @UpdatedFulfilmentIDs TABLE (FulfilmentID INT);

		UPDATE f
		SET f.Deleted = 1
		OUTPUT INSERTED.FulfilmentID INTO @UpdatedFulfilmentIDs
		FROM dbo.Fulfilment f
		JOIN dbo.WaveLine wl
			ON wl.OrderNumber = f.OrderNumber
		WHERE wl.WaveID = @WaveID;

		UPDATE fl
		SET fl.Deleted = 1		
		FROM dbo.FulfilmentLine AS fl
		WHERE fl.Deleted = 0
		  AND EXISTS (
				SELECT 1
				FROM @UpdatedFulfilmentIDs u
				WHERE u.FulfilmentID = fl.FulfilmentID
		  );

		-- remove picking schedule		
		DECLARE @UpdatedULDIDs TABLE (
			ULDID INT,
			FulfilmentOrder VARCHAR(50) -- adjust length/type to match actual column
		);

		UPDATE ps
		SET ps.Deleted = 1
		OUTPUT INSERTED.ULDID, INSERTED.FulfilmentOrder
		INTO @UpdatedULDIDs (ULDID, FulfilmentOrder)
		FROM dbo.PickingSchedule AS ps
		JOIN dbo.Fulfilment AS f
		  ON f.order_number = ps.FulfilmentOrder
		 AND f.TenantCode   = ps.TenantCode
		WHERE ps.Deleted = 0
		  AND ps.FulfilmentType = N'Orders'
		  AND EXISTS (
				SELECT 1
				FROM @UpdatedFulfilmentIDs AS u
				WHERE u.FulfilmentID = f.FulfilmentID
		  );

		-- update orgin orders
		UPDATE s
		SET s.Status = 'Pending'
		FROM dbo.Service as s
		WHERE s.Deleted = 0 AND EXISTS (
			SELECT 1
			FROM @UpdatedULDIDs u
			WHERE s.ServiceNumber = u.FulfilmentOrder
		); 

		UPDATE o
		SET o.OrderStatus = 'Pending'
		FROM dbo.Orders as o
		WHERE o.Deleted = 0 AND EXISTS (
			SELECT 1
			FROM @UpdatedULDIDs u
			WHERE o.order_number = u.FulfilmentOrder
		); 

		-- remove ULD line
		UPDATE ul		
		SET ul.Deleted = 1	
		FROM ULDLine as ul		
		WHERE ul.TransactionType = 'Allocated' AND EXISTS (
			SELECT 1
			FROM @UpdatedULDIDs u
			WHERE u.ULDID = ul.ULDID AND ul.TransactionReference = u.FulfilmentOrder
		); 

		-- remove wave
		UPDATE dbo.Wave
		SET Deleted = 1
		WHERE @WaveID = WaveID;

		UPDATE dbo.WaveLine
		SET Deleted = 1
		WHERE @WaveID = WaveID;

		 -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for WaveID: ' + CAST(@WaveID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating WaveID: ' + CAST(@WaveID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;

   
END
GO
