USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Dashboard_GetOrderSourceDetail]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <1 Nov, 2025>
-- Description:	<Dashboard DEtails>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Dashboard_GetOrderSourceDetail] 	
	@TenantCode     VARCHAR(20) = NULL,	
	@WarehouseCode  VARCHAR(10) = NULL,
	@OrderSource    VARCHAR(50) = NULL,	-- Manual OR shopify
	@StartDate      DATETIME,
	@EndDate        DATETIME,	
	@Search         NVARCHAR(100),
	@PageNumber     INT = 1,
    @PageSize       INT = 10,
    @OrderBy        NVARCHAR(50),
    @OrderDir       NVARCHAR(4) = 'ASC',
	@TotalRecords   INT OUTPUT,
    @TotalPages     INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	----------------------------------------------------------
	-- Validate ORDER BY to prevent injection
	----------------------------------------------------------
	IF @OrderDir NOT IN ('ASC','DESC')
		SET @OrderDir = 'ASC';

	IF @OrderBy IS NULL OR LEN(@OrderBy)=0
		SET @OrderBy = 'FulfilmentID';

	----------------------------------------------------------
	-- Paging
	----------------------------------------------------------
	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;

	----------------------------------------------------------
	-- Prepare universal WHERE conditions
	----------------------------------------------------------
	DECLARE @Where NVARCHAR(MAX) = N' WHERE Deleted = 0 ';
	DECLARE @SearchFilter NVARCHAR(MAX) = N'';
	DECLARE @OrderSourceFilter NVARCHAR(MAX) = N'';

	----------------------------------------------------------
	-- Tenant filter
	----------------------------------------------------------
	SET @Where += N' AND (@TenantCode IS NULL OR TenantCode = @TenantCode)';

	----------------------------------------------------------
	-- Warehouse filter
	----------------------------------------------------------
	SET @Where += N' AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)';

	----------------------------------------------------------
	-- Date filter
	----------------------------------------------------------
	SET @Where += N' AND CreatedDateTime BETWEEN @StartDate AND @EndDate ';

	----------------------------------------------------------
	-- OrderSource filter
	----------------------------------------------------------
	SET @OrderSourceFilter = N'';

	IF @OrderSource IS NOT NULL
	BEGIN		
		SET @OrderSourceFilter = N' AND OrderSource = @OrderSource ';
	END
	SET @Where += @OrderSourceFilter;

	----------------------------------------------------------
	-- Search filter (optional)
	----------------------------------------------------------
	IF @Search IS NOT NULL AND LEN(@Search) > 0
	BEGIN
		SET @Search = '%' + LOWER(@Search) + '%';

		SET @SearchFilter = N'
			AND (
				   LOWER(WarehouseName) LIKE @Search
				OR LOWER(OrderNumber) LIKE @Search
				OR LOWER(OrderSource) LIKE @Search
				OR LOWER(order_number) LIKE @Search
			)';
		
		SET @Where += @SearchFilter;
	END

	----------------------------------------------------------
	-- Count total
	----------------------------------------------------------
	DECLARE @SQLCount NVARCHAR(MAX) = N'
		SELECT @TotalRecords = COUNT(*)
		FROM dbo.Fulfilment
	' + @Where;

	EXEC sp_executesql 
		@SQLCount,
		N'@TenantCode VARCHAR(20),
		  @WarehouseCode VARCHAR(10),
		  @OrderSource VARCHAR(50),
		  @StartDate DATETIME,
		  @EndDate DATETIME,
		  @Search NVARCHAR(100),
		  @TotalRecords INT OUTPUT',
		@TenantCode = @TenantCode,
		@WarehouseCode = @WarehouseCode,
		@OrderSource = @OrderSource, 
		@StartDate = @StartDate,
		@EndDate = @EndDate,
		@Search = @Search,
		@TotalRecords = @TotalRecords OUTPUT;

	----------------------------------------------------------
	-- Total pages
	----------------------------------------------------------
	SET @TotalPages = CASE WHEN @TotalRecords = 0 
	                       THEN 0 
	                       ELSE CEILING(@TotalRecords * 1.0 / @PageSize) 
	                  END;

	----------------------------------------------------------
	-- Main select dynamic SQL
	----------------------------------------------------------
	DECLARE @SQL NVARCHAR(MAX) = N'
		SELECT *
		FROM dbo.Fulfilment
	' + @Where + N'
		ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDir + '
		OFFSET @Offset ROWS
		FETCH NEXT @PageSize ROWS ONLY;
	';

	EXEC sp_executesql 
		@SQL,
		N'@TenantCode VARCHAR(20),
		  @WarehouseCode VARCHAR(10),
		  @OrderSource VARCHAR(50),
		  @StartDate DATETIME,
		  @EndDate DATETIME,
		  @Search NVARCHAR(100),
		  @Offset INT,
		  @PageSize INT',
		@TenantCode = @TenantCode,
		@WarehouseCode = @WarehouseCode,
		@OrderSource = @OrderSource, 
		@StartDate = @StartDate,
		@EndDate = @EndDate,
		@Search = @Search,
		@Offset = @Offset,
		@PageSize = @PageSize;
END
GO
