USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_ViewAllTenantIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 May, 2025>
-- Description:	<View All Tenant Integration>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Tenant_ViewAllTenantIntegration] 
AS
BEGIN	
	SET NOCOUNT ON;

    SELECT i.TenantCode, t.TenantName, i.IntegrationType, i.ShopDomain , i.LocationID
	FROM dbo.Integration i 
	LEFT JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode
	WHERE i.DELETED = 0;
END
GO
