USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_InsertULDFromReceipt]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Nov, 2024>
-- Description:	<Insert ULD From Receipt>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ULD_InsertULDFromReceipt]  
	@TenantCode			VARCHAR(10),
	@ItemNumber			VARCHAR(30),
	@ULDType			VARCHAR(30) = 'Unit',  -- unit of barcode Item - outlet - pallet
	@ReceivingQty		INT = 0,   -- quantity folowing the unit of @ULDType
	@LocationCode		VARCHAR(50),
	@ShipmentNumber		VARCHAR(30), 
	@BatchNumber		VARCHAR(30) = NULL, 
	@SerialNumber		VARCHAR(30) = NULL, 
	@ExpiryDate			DATETIME = NULL, 
	@TransactionQty		INT = 0, 
    @TransactionUser	VARCHAR(100),
	@InvoiceCharging     BIT = 1,
	@NewULDID			INT OUTPUT,
    @Message			VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

        BEGIN TRANSACTION


		DECLARE @LocationFound BIT;
		DECLARE @IsTmpEmpty BIT;

		EXEC dbo.[SP_VI_TBL_LocTempLocation_CheckLocationAvailable] 
				@LocationCode = @LocationCode,
				@LocationFound = @LocationFound OUTPUT,
				@LocationLabel = NULL,
				@IsEmpty = @IsTmpEmpty OUTPUT;

		IF @LocationFound = 1 AND @IsTmpEmpty = 0
		BEGIN
			SET @Message = 'The Location Code is not empty';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @CurrentDateTime DATETIME = GETDATE();
		DECLARE @IsLocked BIT,
		        @LockReason VARCHAR(1000);

		-- Call the inner stored procedure
		EXEC [dbo].[SP_VI_TBL_Tenant_CheckTenantLock]
			@TenantCode = @TenantCode,
			@Lock = @IsLocked OUTPUT,
			@Reason = @LockReason OUTPUT;

		IF @IsLocked = 1
		BEGIN
			SET @Message = 'The Tenant is locked by reason: ' + @LockReason;
			SET @NewULDID = 0;
			ROLLBACK TRANSACTION;
			RETURN;
		END

		 DECLARE @ItemName VARCHAR(250);
		 SELECT @ItemName = ItemName FROM dbo.Items WHERE TenantCode = @TenantCode AND ItemNumber = @ItemNumber AND Deleted = 0
		 -- Check for ItemCode existed
		 IF @ItemName IS NULL
		 BEGIN
			 SET @Message = 'Item does not exists.';
			 SET @NewULDID = 0;
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		 IF @ShipmentNumber IS NULL   
		 BEGIN
			SET @Message = 'Shipment Number is NULL when receiving Item of Inbound Receipt';
			SET @NewULDID = 0;
			ROLLBACK TRANSACTION;
			RETURN;
		 END

		 DECLARE @ReceiptType NVARCHAR(30);
		 DECLARE @ReceiptInboundID INT;
		 DECLARE @WarehouseCode NVARCHAR(20);

		 SELECT @ReceiptInboundID = ReceiptInboundID, @ReceiptType = ReceiptType, @WarehouseCode = WarehouseCode
		        FROM dbo.ReceiptInbound 
		        WHERE DELETED = 0 AND (ShipmentNumber = @ShipmentNumber OR ClientShipmentNumber = @ShipmentNumber);
		

		 DECLARE @TenantStorageType VARCHAR(50);
		 SELECT @TenantStorageType = StorageType
		 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;

		 IF @ReceiptType = 'Manual'   
		 BEGIN
			IF NOT EXISTS (SELECT 1 FROM dbo.ReceiptInboundLine WHERE DELETED = 0 AND ReceiptInboundID = @ReceiptInboundID AND ItemNumber = @ItemNumber)
			BEGIN
				INSERT INTO dbo.ReceiptInboundLine (
					ReceiptInboundID, 
					ShipmentNumber, 
					ItemNumber, 
					ItemName, 
					Quantity, 
					ReceivedQuantity, 
					Deleted, 
					CreatedDateTime, 
					CreatedBy
				)
				VALUES (
					@ReceiptInboundID,           
					@ShipmentNumber,      
					@ItemNumber,
					@ItemName,   
					0, -- Quantity
					0, -- ReceivedQuantity
					0, -- Deleted
					@CurrentDateTime,
					@TransactionUser
				);
			END
		 END
		 
		 
		 DECLARE @NewULDBarcode VARCHAR(30);
		 --Create Barcode
		 DECLARE @Prefix NVARCHAR(6) = '3PLULD';
		 DECLARE @SequenceValue BIGINT;
		 DECLARE @CurrentPrefix INT;

		 -- Get the next value from the sequence
		 SET @SequenceValue = NEXT VALUE FOR dbo.ULDBarcodeSequence;

		 -- Get the current prefix
		 SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;

		 -- Check if the sequence has cycled back to the starting value
		 IF @SequenceValue = 10000000001
		 BEGIN
			-- Increment the prefix if the sequence has cycled
			UPDATE dbo.ULDPrefix
			SET CurrentPrefix = CurrentPrefix + 1;

			-- Refresh the current prefix after updating
			SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;
		 END

		 -- Construct the full ULD ID
		 SET @NewULDBarcode = @Prefix + CAST(@CurrentPrefix AS NVARCHAR(10)) + CAST(@SequenceValue AS NVARCHAR(50));

		 -- call store procedure		
		DECLARE @ColumnId INT;	
		DECLARE @StorageType VARCHAR(50);	
		DECLARE @SBinId INT;
		DECLARE @IsEmpty BIT;
		DECLARE @AllocatedTenantCode VARCHAR(10);
		DECLARE @LocShelfID INT;
		DECLARE	@LocBinID INT;
		DECLARE @IsBelong BIT;

		-- Call the child stored procedure
		EXEC [dbo].[SP_VI_TBL_Loc_CheckLocationAvailableAtWarehouse] 
			@LocationCode = @LocationCode,
			@WarehouseCode =  @WarehouseCode,
			@ColumnId = @ColumnId OUTPUT,
			@SBinId = @SBinId OUTPUT,
			@LocationFound = NULL,
			@LocationLabel = NULL,
			@StorageType = @StorageType OUTPUT,
			@IsEmpty = @IsEmpty OUTPUT,
			@SBinType = NULL,
			@AllocatedTenant = @AllocatedTenantCode OUTPUT,
			@IsBelong = @IsBelong OUTPUT;

		 IF @IsBelong = 0
		 BEGIN
			SET @Message = 'The Location does not belong to receipt''s warehouse.';
			SET @NewULDID = 0;
			ROLLBACK TRANSACTION;
			RETURN;
		 END

		IF @StorageType IS NOT NULL
		BEGIN
			IF @StorageType = 'PerfectPick' OR @StorageType = 'PickFace'
			BEGIN
				IF @TenantStorageType IS NOT NULL
				BEGIN
					IF @StorageType = 'PerfectPick' AND @TenantStorageType = 'Manual'
					BEGIN
						SET @Message = 'The Destination Location has PerfectPick Storage Type but Tenant Storage Type is Manual';
						SET @NewULDID = 0;
						ROLLBACK TRANSACTION;
						RETURN;
					END
					IF @StorageType = 'PickFace' AND @TenantStorageType = 'Automated'
					BEGIN
						SET @Message = 'The Destination Location has PickFace Storage Type but Tenant Storage Type is Automated';
						SET @NewULDID = 0;
						ROLLBACK TRANSACTION;
						RETURN;
					END
				END
			END


			IF @IsEmpty = 0 AND @StorageType = 'Receiving' AND @AllocatedTenantCode <> @TenantCode
			BEGIN
				 SET @Message = 'The receiving location contains ULDs of another Tenant.';
				 SET @NewULDID = 0;
				 ROLLBACK TRANSACTION;
				 RETURN;
			 END
		 END

		 DECLARE @IsPallet BIT;
		 IF @StorageType IS NOT NULL AND (@StorageType = 'Receiving' OR @StorageType = 'TemporaryLocation' OR @StorageType = 'Bulk')
		 BEGIN
			SET @IsPallet = 1;
		 END
		 ELSE
		 BEGIN
			SET @IsPallet = 0;
		 END

		 IF @SBinId IS NOT NULL
		BEGIN
			SELECT 
				@LocShelfID = lb.LocShelfID, 
				@LocBinID = lsbin.LocBinID
			FROM LocSbin lsbin
			JOIN LocBin lb ON lsbin.LocBinID = lb.LocBinID
			WHERE lsbin.LocSbinID = @SBinId AND lsbin.DELETED = 0;
		END

		 DECLARE @NewULDTable TABLE (ULDID INT);

		 -- Insert to ULD
		 INSERT INTO [dbo].[ULD] (
			ULDBarcode,
			ULDCurrentLocation,
			LocColumnID,
			LocShelfID,
			LocBinID,
			LocSBinID,
			TenantCode,
			WarehouseCode,
			HoldStatus,
			CurrentZone,
			ULDType,
			Status,
			ItemNumber,
			ItemName,
			ExpiryDate,
			BatchNumber,
			IsPallete,
			Deleted,
			ReceivedDateTime,
			CreatedDateTime,
			CreatedBy
		)
		OUTPUT INSERTED.ULDID INTO @NewULDTable
		VALUES (
			@NewULDBarcode,
			@LocationCode,
			@ColumnId,
			@LocShelfID,
			@LocBinID,
			@SBinId,
			@TenantCode,
			@WarehouseCode,
			NULL,
			NULL,
			@ULDType,
			'Draft',
			@ItemNumber,
			@ItemName,
			@ExpiryDate,
			@BatchNumber,
			@IsPallet,
			0, 
			@CurrentDateTime,
			@CurrentDateTime,
			@TransactionUser
		);

		
		SELECT @NewULDID = ULDID FROM @NewULDTable;
		DECLARE @TransactionMovement VARCHAR(1000);

		-- Insert to ULD Line
		
		-- Insert Receipt
		
		IF @SerialNumber IS NULL -- No have Serial number
		BEGIN
			SET @TransactionMovement = 'Received ' +  CAST(@TransactionQty AS VARCHAR(10)) + 'x ' + @ItemNumber + ' ';
			IF @BatchNumber IS NOT NULL
			BEGIN
				SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
			END
			IF @ExpiryDate IS NOT NULL
			BEGIN
				SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
			END
			SET @TransactionMovement = @TransactionMovement + 'on receipt ' + @ShipmentNumber;

			INSERT INTO [dbo].[ULDLine] (
				ULDID,
				SequenceNumber,
				SerialNumber,
				TransactionDate,
				TransactionUser,
				TransactionType,
				TransactionQty,
				ReceivingQty,
				TransactionReference,
				TransactionMovement,
				TransactionLocation,
				ItemNumber,
				ItemName,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
		
			VALUES (
				@NewULDID,
				1,
				NULL,
				@CurrentDateTime,
				@TransactionUser,
				'Receipt',
				@TransactionQty,
				@ReceivingQty,
				@ShipmentNumber,
				@TransactionMovement, 
				@LocationCode,
				@ItemNumber,
				@ItemName,
				0,
				@CurrentDateTime,
				@TransactionUser
			);
			END
		ELSE -- Serial numbers exist.
		BEGIN

		    IF EXISTS(SELECT 1 FROM dbo.ULD u LEFT JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
							WHERE u.TenantCode = @TenantCode AND u.DELETED = 0 AND ul.DELETED = 0 
							AND LOWER(ul.SerialNumber) = LOWER(@SerialNumber))
			BEGIN
				 SET @Message = 'Serial Number does exists for this Tenant';
				 SET @NewULDID = 0;
				 ROLLBACK TRANSACTION;
				 RETURN;
			END
			
			SET @TransactionMovement = 'Received 1x' + @ItemNumber + ' ';
				SET @TransactionMovement = @TransactionMovement + 'Serial Number: ' + @SerialNumber + ' ';
				IF @BatchNumber IS NOT NULL
				BEGIN
					SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
				END
				IF @ExpiryDate IS NOT NULL
				BEGIN
					SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
				END
				SET @TransactionMovement = @TransactionMovement + 'on receipt ' + @ShipmentNumber;

				INSERT INTO [dbo].[ULDLine] (
					ULDID,
					SequenceNumber,
					SerialNumber,
					TransactionDate,
					TransactionUser,
					TransactionType,
					TransactionQty,
					ReceivingQty,
					TransactionReference,
					TransactionMovement,
					TransactionLocation,
					ItemNumber,
					ItemName,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
			
				VALUES (
					@NewULDID,
					1,
					@SerialNumber,
					@CurrentDateTime,
					@TransactionUser,
					'Receipt',
					1,
					1,
					@ShipmentNumber,
					@TransactionMovement, 
					@LocationCode,
					@ItemNumber,
					@ItemName,
					0,
					@CurrentDateTime,
					@TransactionUser
				);

		END -- End Serial numbers exist.


		UPDATE dbo.ReceiptInbound
		SET
			ReceiptStatus = 'Started',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
			LastEditedDateTime = @CurrentDateTime,
			LastEditedBy = @TransactionUser
		WHERE ReceiptInboundID = @ReceiptInboundID;
		
		IF @InvoiceCharging = 1
		BEGIN
			DECLARE @TransactionReference VARCHAR(500);
			SET @TransactionReference = 'Receiving the shipment number: ' +  @ShipmentNumber;

			-- create invoice 
			EXEC [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice] 
				@TenantCode = @TenantCode,
				@WarehouseCode = @WarehouseCode,
				@ItemCode = @ItemNumber,
				@TransactionReference = @TransactionReference,  
				@ItemUnit = @ULDType,     
				@ItemQty = @ReceivingQty,
				@CreatedDateTime = @CurrentDateTime, 
				@CreatedBy = @TransactionUser,  
				@Message = @Message;
		END

        -- Commit the transaction
		COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
   
END
GO
