USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_CheckExistedUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 Sep, 2024>
-- Description:	<Check user email existed>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_CheckExistedUser] @UserEmail VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS(SELECT 1 FROM dbo.Users WHERE UserEmail = @UserEmail AND Deleted = 0)
	BEGIN
		select 1;
	END
	ELSE
	BEGIN
		select 0;
	END
END
GO
