USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_CheckAvailableStockForKitting]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Jun, 2025>
-- Description:	<Check Available Stok For Kitting>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_CheckAvailableStockForKitting]	
	@ServiceID INT = NULL,  -- Kitting Service ID
	@OperationDateTime    DATETIME = NULL,
	@OperationBy          VARCHAR(100) = NULL,
	@IsEnough BIT OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	SET @IsEnough = 1;

	CREATE TABLE #TempItemULDTable (		
		ULDID INT NOT NULL,
		ULDBarcode VARCHAR(30) NOT NULL,
		ULDCurrentLocation VARCHAR(50) NULL,
		LocationOrderNumber VARCHAR(200) NULL,
		LocColumnID INT NULL,
		LocShelfID INT NULL,
		LocBinID INT NULL,
		LocSBinID INT NULL,
		ULDType VARCHAR(30) NULL,
		TenantCode VARCHAR(10) NULL,
		WarehouseCode VARCHAR(20) NULL,
		HoldStatus VARCHAR(20) NULL,
		CurrentZone VARCHAR(20) NULL,
		Status VARCHAR(20) NULL,
		ItemNumber VARCHAR(30) NULL,
		ItemName VARCHAR(250) NULL,
		ExpiryDate DATETIME NULL,
		BatchNumber VARCHAR(30) NULL,
		CreatedDateTime DATETIME NULL,
		TotalQty INT NULL
	);

	-- create temp table
	CREATE TABLE #TempULDTable (	
		RowNum INT NOT NULL,
		ULDID INT NOT NULL,
		ULDBarcode VARCHAR(30) NOT NULL,
		ULDCurrentLocation VARCHAR(50) NULL,
		LocationOrderNumber VARCHAR(200) NULL,
		LocColumnID INT NULL,
		LocShelfID INT NULL,
		LocBinID INT NULL,
		LocSBinID INT NULL,
		ULDType VARCHAR(30) NULL,
		TenantCode VARCHAR(10) NULL,
		WarehouseCode VARCHAR(20) NULL,
		HoldStatus VARCHAR(20) NULL,
		CurrentZone VARCHAR(20) NULL,
		Status VARCHAR(20) NULL,
		ItemNumber VARCHAR(30) NULL,
		ItemName VARCHAR(250) NULL,
		ExpiryDate DATETIME NULL,
		BatchNumber VARCHAR(30) NULL,
		CreatedDateTime DATETIME NULL,
		TotalQty INT NULL
	);

	CREATE TABLE #TempMissingItemTable (
		ItemNumber VARCHAR(30) NULL,
		ItemName VARCHAR(250) NULL,
		TotalQty INT NULL
	);

	-- get Kitting Items
	DECLARE @CompositeItemID INT,
		    @CompositeItemQty INT,
			@ItemNumber VARCHAR(50),
			@ItemName VARCHAR(250),
			@TenantCode VARCHAR(10),
			@WarehouseCode VARCHAR(20),
			@PickingCondition VARCHAR(100),
			@ServiceNumber VARCHAR(50);

	SELECT @WarehouseCode = WarehouseCode,
			@TenantCode = TenantCode,
			@ServiceNumber = ServiceNumber
	FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;

	IF @ServiceNumber IS NULL
	BEGIN
		SET @IsEnough = 0;
		RETURN; 
	END

	SELECT @CompositeItemID = ItemID, 
		    @CompositeItemQty = Qty
	FROM KittingItem WHERE ServiceID = @ServiceID AND Deleted = 0;	

	--table contains all children items
	CREATE TABLE #TempChildItemsTable (
		ItemID INT,
		Qty INT
	);

	--insert data
	INSERT INTO #TempChildItemsTable (
		ItemID,
		Qty
	)
	EXEC [dbo].[SP_VI_TBL_Items_GetAllChildrenItemsOfCompositeItem] 
		@CompositeItemID = @CompositeItemID;


	-- table contains required qty
	CREATE TABLE #TempRequiredItemsTable (
		ItemNumber VARCHAR(50),
		Qty INT
	);

	--loop through children
	DECLARE @ChildItemID INT;
	DECLARE @Quantity INT;
	DECLARE @TotalQty INT;
		
	-- Declare the cursor
	DECLARE ItemCursor CURSOR LOCAL FOR
	SELECT ItemID, Qty 
	FROM #TempChildItemsTable;

	-- Open the cursor
	OPEN ItemCursor;

	-- Fetch the first row
	FETCH NEXT FROM ItemCursor INTO @ChildItemID, @Quantity;

	-- Loop through rows
	WHILE @@FETCH_STATUS = 0
	BEGIN
			
		SET @ItemNumber = '';
		SET @ItemName = '';

		-- Check Composite Item And Get ItemNumber
		SELECT @ItemNumber = ItemNumber,
			    @ItemName = ItemName,
				@PickingCondition = PickingCondition
		FROM Items WHERE ItemID = @ChildItemID AND Deleted = 0;
		
		--insert ULD to tmp table
		INSERT INTO #TempItemULDTable (				
				ULDID,
				ULDBarcode,
				ULDCurrentLocation,		
				LocationOrderNumber,
				LocColumnID,
				LocShelfID,
				LocBinID,
				LocSBinID,
				ULDType,
				TenantCode,
				WarehouseCode,
				HoldStatus,
				CurrentZone,
				Status,
				ItemNumber,
				ItemName,
				ExpiryDate,
				BatchNumber,
				CreatedDateTime,
				TotalQty
		)
		EXEC [dbo].[SP_VI_TBL_ULD_GetULDsHavingStockOfTenantAtWarehouse] 
			@TenantCode = @TenantCode,
			@WarehouseCode = @WarehouseCode,
			@ItemNumber = @ItemNumber,
			@PickingCondition = @PickingCondition,
			@CountOnHold = 0;	
				

		-- get current qty
		SELECT @TotalQty = ISNULL(SUM(TotalQty), 0) FROM #TempItemULDTable WHERE ItemNumber = @ItemNumber;			

		IF @TotalQty < @Quantity * @CompositeItemQty
		BEGIN
			SET @IsEnough = 0;
				
			-- insert missing
			INSERT INTO #TempMissingItemTable (
				ItemNumber,
				ItemName,
				TotalQty
			)
			VALUES
			(
				@ItemNumber,
				@ItemName,
				@Quantity * @CompositeItemQty - @TotalQty
			);
				
		END
		ELSE
		BEGIN
			INSERT INTO #TempRequiredItemsTable (
				ItemNumber,
				Qty
			)
			VALUES
			(
				@ItemNumber,
				@Quantity * @CompositeItemQty
			);
		END

		DECLARE @NormalizedCondition VARCHAR(100);
		SET @NormalizedCondition = REPLACE(REPLACE(@PickingCondition, '-', ''), ' ', '');			

		IF @NormalizedCondition IS NULL OR @NormalizedCondition = '' OR  @NormalizedCondition = 'None'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY LocationOrderNumber ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,		
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY LocationOrderNumber ASC;
		END
		ELSE IF @NormalizedCondition = 'FirstInFirstOut'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY CreatedDateTime ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,		
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY CreatedDateTime ASC;
		END
		ELSE IF @NormalizedCondition = 'LastInFirstOut'
		BEGIN		
			
			INSERT INTO #TempULDTable (	
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,		
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY CreatedDateTime DESC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,			
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY CreatedDateTime DESC;
		END		
		ELSE IF @NormalizedCondition = 'FirstExpiryFirstOut'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,		
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY ExpiryDate ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY ExpiryDate ASC;
		END
		ELSE
		BEGIN
			PRINT  @NormalizedCondition;
		END
		
		DELETE FROM #TempItemULDTable;

		-- Fetch next
		FETCH NEXT FROM ItemCursor INTO @ChildItemID, @Quantity;
	END

	-- Clean up
	CLOSE ItemCursor;
	DEALLOCATE ItemCursor;		

	DECLARE @SequenceNumber INT,
			@TransactionMovement VARCHAR(1000),
			@ULDID INT,
			@ULDBarcode VARCHAR(30),
			@ULDCurrentLocation VARCHAR(50),
			@ULDQty INT,
			@AllocatedQty INT,
			@SerialNumber VARCHAR(30);

	DECLARE @TemporaryLocation BIT,
			@LocationFound BIT,
			@LocBinID INT,
			@LocColumnID INT,
			@LocRowID INT,
			@LocSectionID INT,
			@LocAreaID INT,
			@LocWarehouseID INT,
			@LocWarehouseCode VARCHAR(1),
			@LocAreaCode VARCHAR(1),
			@LocSectionCode VARCHAR(3),
			@LocRowCode VARCHAR(4),
			@LocColumnCode VARCHAR(6),
			@LocBinCode VARCHAR(7),
			@LocTempCode VARCHAR(33),
			@WarehouseName VARCHAR(200),
			@AreaName    VARCHAR(200),
			@SectionName VARCHAR(200),
			@RowName     VARCHAR(200),
			@ColumnName  VARCHAR(200),
			@BinName     VARCHAR(200),
			@StorageType VARCHAR(50);

	
	IF @IsEnough = 1
	BEGIN
		BEGIN TRY

			BEGIN TRANSACTION

			CREATE TABLE #TmpPickingSchedule
			(
				FulfilmentOrder     varchar(50) NULL,
				FulfilmentType		varchar(20) NULL,							
				ItemID              int NULL,
				ItemNumber          varchar(30) NULL,
				ItemName            varchar(250) NULL,
				Qty                 int NULL,
				ULDID               int NULL,
				ULDBarcode          varchar(30) NULL,
				ULDCurrentLocation  varchar(50) NULL,
				LocationOrderNumber VARCHAR(200) NULL,
				WarehouseID         int NULL,
				AreaID              int NULL,
				SectionID           int NULL,
				RowID               int NULL,
				ColumnID            int NULL,
				BinID               int NULL,
				WarehouseCode       varchar(20) NULL,
				AreaCode            varchar(20) NULL,
				SectionCode         varchar(20) NULL,
				RowCode             varchar(20) NULL,
				ColumnCode          varchar(20) NULL,
				BinCode             varchar(20) NULL,
				Status              varchar(20) NULL,
				StartDate           datetime NULL,
				Deleted             bit NULL,
				CreatedDateTime     datetime NULL,
				CreatedBy           varchar(100) NULL,
				WarehouseName       varchar(200) NULL,
				AreaName            varchar(200) NULL,
				SectionName         varchar(200) NULL,
				RowName             varchar(200) NULL,
				ColumnName          varchar(200) NULL,
				BinName             varchar(200) NULL
			);

			-- delete previous failure
			DELETE FROM dbo.ULDLine
			WHERE Deleted = 1 AND TransactionReference = @ServiceNumber AND AllocatedType IS NOT NULL;

			DECLARE ULDCursor CURSOR LOCAL FOR
			SELECT ULDID, ULDBarcode, ULDCurrentLocation, ItemName, ItemNumber, TotalQty
			FROM #TempULDTable
			ORDER BY ItemNumber, RowNum;

			-- Open the cursor
			OPEN ULDCursor;

			-- Fetch the first row
			FETCH NEXT FROM ULDCursor INTO @ULDID, @ULDBarcode, @ULDCurrentLocation, @ItemName, @ItemNumber, @ULDQty;
		
			-- Loop through rows
			WHILE @@FETCH_STATUS = 0
			BEGIN	

				SELECT @SequenceNumber = COUNT(*)
				FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
				SET @SequenceNumber = @SequenceNumber + 1;

				SET @AllocatedQty = NULL;

				-- get require qty
				SELECT @AllocatedQty = QTY FROM #TempRequiredItemsTable WHERE ItemNumber = @ItemNumber;

				IF @AllocatedQty IS NOT NULL
				BEGIN
										
					IF @AllocatedQty = @ULDQty
					BEGIN
						DELETE FROM #TempRequiredItemsTable
						WHERE ItemNumber = @ItemNumber;

						SET @AllocatedQty = @ULDQty;
					END 
					ELSE IF @AllocatedQty > @ULDQty
					BEGIN
						UPDATE #TempRequiredItemsTable
						SET QTY = (@AllocatedQty - @ULDQty)
						WHERE ItemNumber = @ItemNumber;

						SET @AllocatedQty = @ULDQty;
					END
					ELSE
					BEGIN
						DELETE FROM #TempRequiredItemsTable
						WHERE ItemNumber = @ItemNumber;							
					END

					SET @TransactionMovement = 'Allocated ' +  CAST(@AllocatedQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @ServiceNumber + ' order';
						
					-- insert allocation for ULD Line
					INSERT INTO [dbo].[ULDLine] (
						ULDID,
						SequenceNumber,
						SerialNumber,
						TransactionDate,
						TransactionUser,
						TransactionType,
						TransactionQty,
						TransactionReference,
						TransactionMovement,
						TransactionLocation,
						ItemNumber,
						ItemName,
						AllocatedType,
						Picked,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
			
					VALUES (
						@ULDID,
						@SequenceNumber,
						NULL, -- @SerialNumber
						@OperationDateTime,
						@OperationBy,
						'Allocated',
						-@AllocatedQty,						
						@ServiceNumber,
						@TransactionMovement, 
						@ULDCurrentLocation,
						@ItemNumber,
						@ItemName,
						'Kitting',
						0,
						1,
						@OperationDateTime,
						@OperationBy
					);

					------------ insert picking schedule-------------------------------
					
					EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
						@LocationCode = @ULDCurrentLocation,
						@LocationFound = @LocationFound OUTPUT,
						@TemporaryLocation = @TemporaryLocation OUTPUT,
						@LocSBinID = NULL,
						@LocBinID = @LocBinID OUTPUT,
						@LocShelfID = NULL,
						@LocColumnID = @LocColumnID OUTPUT,
						@LocRowID = @LocRowID OUTPUT,
						@LocSectionID = @LocSectionID OUTPUT,
						@LocAreaID = @LocAreaID OUTPUT,
						@LocWarehouseID = @LocWarehouseID OUTPUT,
						@LocWarehouseCode = @LocWarehouseCode OUTPUT,
						@LocAreaCode = @LocAreaCode OUTPUT,
						@LocSectionCode = @LocSectionCode OUTPUT,
						@LocRowCode = @LocRowCode OUTPUT,
						@LocColumnCode = @LocColumnCode OUTPUT,
						@LocShelfCode = NULL,
						@LocBinCode = @LocBinCode OUTPUT,
						@LocTempCode = @LocTempCode OUTPUT,
						@LocSBinCode = NULL,
						@LocWarehouseName = @WarehouseName OUTPUT,
						@LocAreaName = @AreaName OUTPUT,
						@LocSectionName = @SectionName OUTPUT,
						@LocRowName = @RowName OUTPUT,
						@LocColumnName = @ColumnName OUTPUT,
						@LocBinName = @BinName OUTPUT,
						@StorageType = @StorageType OUTPUT;

					SELECT @ChildItemID = ItemID
					FROM dbo.Items
					WHERE ItemNumber = @ItemNumber And Deleted = 0;

					IF @LocationFound = 1
					BEGIN
						IF @TemporaryLocation = 1
						BEGIN
							INSERT INTO #TmpPickingSchedule (
								FulfilmentOrder,
								FulfilmentType,															
								ItemID,
								ItemNumber,
								ItemName,
								Qty,
								ULDBarcode,
								ULDCurrentLocation,
								LocationOrderNumber,
								ULDID,
								WarehouseID,
								AreaID,
								SectionID,
								RowID,
								ColumnID,
								BinID,
								WarehouseCode,
								AreaCode,
								SectionCode,
								RowCode,
								ColumnCode,
								BinCode,
								Status,
								StartDate,
								Deleted,
								CreatedDateTime,
								CreatedBy,
								WarehouseName,
								AreaName,
								SectionName,
								RowName,
								ColumnName,
								BinName
							)
							VALUES (
								@ServiceNumber,
								'Kitting',														
								@ChildItemID,
								@ItemNumber,
								@ItemName,
								@AllocatedQty,
								@ULDBarcode,
								@ULDCurrentLocation,
								dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
								@ULDID,
								@LocWarehouseID,
								@LocAreaID,
								@LocSectionID,
								NULL, -- RowID
								NULL, -- ColumnID
								NULL, -- BinID
								@LocWarehouseCode,
								@LocAreaCode,
								@LocSectionCode,
								NULL, -- RowCode
								NULL, -- ColumnCode
								SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7), -- BinCode
								'Init',
								GETDATE(),
								1,
								@OperationDateTime,
								@OperationBy,
								@WarehouseName,
								@AreaName,
								@SectionName,
								NULL, -- RowName
								NULL, -- ColumnName
								NULL  -- BinName
							);

						
						END -- END IF @TemporaryLocation = 1
						ELSE
						BEGIN
							INSERT INTO #TmpPickingSchedule (
								FulfilmentOrder,
								FulfilmentType,															
								ItemID,
								ItemNumber,
								ItemName,
								Qty,
								ULDBarcode,
								ULDCurrentLocation,
								LocationOrderNumber,
								ULDID,
								WarehouseID,
								AreaID,
								SectionID,
								RowID,
								ColumnID,
								BinID,
								WarehouseCode,
								AreaCode,
								SectionCode,
								RowCode,
								ColumnCode,
								BinCode,
								Status,
								StartDate,
								Deleted,
								CreatedDateTime,
								CreatedBy,
								WarehouseName,
								AreaName,
								SectionName,
								RowName,
								ColumnName,
								BinName
							)
							VALUES (
								@ServiceNumber,
								'Kitting',															
								@ChildItemID,					 -- ItemID
								@ItemNumber,					 -- ItemNumber
								@ItemName,					     -- ItemName
								@AllocatedQty,					-- Qty
								@ULDBarcode,    
								@ULDCurrentLocation,    
								dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
								@ULDID,
								@LocWarehouseID,		-- WarehouseID
								@LocAreaID,				-- AreaID
								@LocSectionID,			-- SectionID
								@LocRowID,				-- RowID
								@LocColumnID,			-- ColumnID
								@LocBinID,              -- BinID
								@LocWarehouseCode,		-- WarehouseCode
								@LocAreaCode,			-- AreaCode
								@LocSectionCode,		-- SectionCode
								@LocRowCode ,			-- RowCode
								@LocColumnCode,			-- ColumnCode
								@LocBinCode,			-- BinCode
								'Init',					-- Status
								GETDATE(),			-- StartDate
								1,						-- Deleted
								@OperationDateTime,		-- CreatedDateTime
								@OperationBy,			-- CreatedBy
								@WarehouseName,			-- WarehouseName
								@AreaName,				-- AreaName
								@SectionName,			-- SectionName
								@RowName,				-- RowName
								@ColumnName,			-- ColumnName
								@BinName				-- BinName								
							);
					
						END -- End IF @TemporaryLocation <> 1
					END -- End IF @LocationFound = 1
						
				END
					
				-- Fetch next
				FETCH NEXT FROM ULDCursor INTO @ULDID, @ULDBarcode, @ULDCurrentLocation, @ItemName, @ItemNumber, @ULDQty;
			END

			CLOSE ULDCursor;
			DEALLOCATE ULDCursor;

				
			-- insert to picking schedule
			INSERT INTO dbo.PickingSchedule (
				FulfilmentOrder,
				FulfilmentType,		
				TenantCode,
				ItemID,
				ItemNumber,
				ItemName,
				Qty,
				ULDBarcode,
				ULDCurrentLocation,		
				LocationOrderNumber,
				ULDID,
				WarehouseID,
				AreaID,
				SectionID,
				RowID,
				ColumnID,
				BinID,
				WarehouseCode,
				AreaCode,
				SectionCode,
				RowCode,
				ColumnCode,
				BinCode,
				Status,
				StartDate,
				Deleted,
				CreatedDateTime,
				CreatedBy,
				WarehouseName,
				AreaName,
				SectionName,
				RowName,
				ColumnName,
				BinName
			)
			SELECT 
				FulfilmentOrder,
				FulfilmentType,	
				@TenantCode as TenantCode,
				ItemID,
				ItemNumber,
				ItemName,
				Qty,
				ULDBarcode,
				ULDCurrentLocation,	
				LocationOrderNumber,
				ULDID,
				WarehouseID,
				AreaID,
				SectionID,
				RowID,
				ColumnID,
				BinID,
				WarehouseCode,
				AreaCode,
				SectionCode,
				RowCode,
				ColumnCode,
				BinCode,
				Status,
				StartDate,
				Deleted,
				CreatedDateTime,
				CreatedBy,
				WarehouseName,
				AreaName,
				SectionName,
				RowName,
				ColumnName,
				BinName
			FROM #TmpPickingSchedule
			ORDER BY ItemName, LocationOrderNumber ASC;
				

			-- Commit the transaction
			COMMIT TRANSACTION;

		END TRY
		BEGIN CATCH

			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			-- Handle the error
			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;
	END
	ELSE
	BEGIN
		SELECT * FROM #TempMissingItemTable;
	END

	
	
END
GO
