USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_ViewAppliedTenantById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 Jan, 2025>
-- Description:	<View All Applied Report Schedule By Id>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_ViewAppliedTenantById]  
	 @ReportScheduleID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT DISTINCT
    t.TenantCode, 
    t.TenantName,
    CASE 
        WHEN COALESCE(trs.ReportScheduleID, 0) > 0 THEN 1
        ELSE 0
    END AS Applied
	FROM dbo.Tenant t
	LEFT JOIN dbo.TenantReportSchedule trs 
		ON LOWER(t.TenantCode) = LOWER(trs.TenantCode) 
		AND trs.ReportScheduleID = @ReportScheduleID AND trs.deleted = 0
	WHERE t.deleted = 0
	ORDER BY t.TenantName;
END
GO
