USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInboundLine_CheckBarcodeInReceiptInboundLineById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Dec, 2024>
-- Description:	<Check Barcode of Manual Receipt Inbound Line By ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInboundLine_CheckBarcodeInReceiptInboundLineById] 
     @ReceiptInboundID INT,
	 @Barcode VARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (
		SELECT 1
		FROM ItemTradeUnit 
		WHERE DELETED = 0 
		  AND Barcode = @Barcode
		  AND ItemID IN (
			SELECT i.ItemID 
			FROM dbo.ReceiptInboundLine rl
			INNER JOIN dbo.ReceiptInbound r 
				ON r.ReceiptInboundID = rl.ReceiptInboundID
			INNER JOIN dbo.Items i 
				ON i.ItemNumber = rl.ItemNumber AND i.TenantCode = r.TenantCode AND i.Deleted = 0
			WHERE r.ReceiptInboundID = @ReceiptInboundID 
			  AND rl.DELETED = 0
		)
	)
	BEGIN
		SELECT 1 AS Result;
	END
	ELSE
	BEGIN
		SELECT 0 AS Result;
	END
END
GO
