USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_GetUserStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Aug, 2024>
-- Description:	<Get User Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_GetUserStatus] @AzureUserId VARCHAR(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT UserStatus 
	FROM dbo.Users 
	WHERE AzureUserId = @AzureUserId and Deleted = 0;

END
GO
