USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_UpdateAppliedTenantStatusOfChargeItems]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Jan, 2025>
-- Description:	<Update Apply Status of Tenant for List of ChargeItem>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_UpdateAppliedTenantStatusOfChargeItems]  
	 @ChargeItemIds dbo.IdArray READONLY,
	 @TenantCode VARCHAR(10),	
	 @FirstEditedDateTime          DATETIME = NULL,
	 @FirstEditedBy                VARCHAR(100) = NULL,
	 @LastEditedDateTime           DATETIME = NULL,
	 @LastEditedBy                 VARCHAR(100) = NULL,
	 @Message   VARCHAR(4000) OUTPUT -- Output parameter for error messages
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ChargeItemId INT;
		DECLARE @NewTenantChargeItemID INT;
		DECLARE @IsUsingCustomPrice BIT;
		SELECT @IsUsingCustomPrice = COALESCE(IsUsingCustomPrice, 0) FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;

		--keep old
		CREATE TABLE #CustomChargeItemIdsTable (
			Id INT
		);
		INSERT INTO #CustomChargeItemIdsTable
		SELECT DISTINCT ChargeItemID FROM dbo.TenantChargeItem WHERE TenantCode = @TenantCode AND ChargeType = 'Custom';
		
		--delete all config		
		DELETE FROM dbo.TenantChargeItem WHERE TenantCode = @TenantCode AND ChargeType = 'Standard';

		-- Declare the cursor
		DECLARE ChargeItemIdCursor CURSOR FOR
		SELECT Value FROM @ChargeItemIds;

		-- Open the cursor
		OPEN ChargeItemIdCursor;

		-- Fetch the first row
		FETCH NEXT FROM ChargeItemIdCursor INTO @ChargeItemId;

		-- Loop through the rows
		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF @IsUsingCustomPrice = 1 -- custom
			BEGIN

				 IF EXISTS(SELECT 1 FROM #CustomChargeItemIdsTable WHERE Id = @ChargeItemId)
				 BEGIN
					DELETE FROM #CustomChargeItemIdsTable
					WHERE Id = @ChargeItemId;
				 END
				 ELSE
				 BEGIN
					-- insert new
					INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted, CreatedDateTime, CreatedBy)
					VALUES (@TenantCode, @ChargeItemId, 'Custom', 0, @FirstEditedDateTime, @FirstEditedBy);

					SET @NewTenantChargeItemID = SCOPE_IDENTITY();

					INSERT INTO [dbo].[TenantCustomCost] (
								[TenantChargeItemID],
								[WarehouseCode],
								[ChargeItemPrice],
								[ChargeItemCurrency],
								[Deleted],
								CreatedDateTime,
								CreatedBy
						)
						SELECT
							@NewTenantChargeItemID,  
							CIC.WarehouseCode,       
							CIC.ChargeItemPrice,               
							CIC.ChargeItemCurrency,            
							0, 
							@FirstEditedDateTime, 
							@FirstEditedBy                        
						FROM dbo.ChargeItemCost CIC
						WHERE CIC.ChargeItemId = @ChargeItemId AND CIC.DELETED = 0;
				 END
			END
			ELSE
			BEGIn
					INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted)
					VALUES (@TenantCode, @ChargeItemId, 'Standard', 0);
			END

			-- Fetch the next row
			FETCH NEXT FROM ChargeItemIdCursor INTO @ChargeItemId;
		END;

		-- Close and deallocate the cursor
		CLOSE ChargeItemIdCursor;
		DEALLOCATE ChargeItemIdCursor;

		DECLARE @NumberDeleteted INT;
		SELECT @NumberDeleteted  = COUNT(*) FROM #CustomChargeItemIdsTable;
		IF @NumberDeleteted > 0
		BEGIN
			DELETE c
			FROM dbo.TenantCustomCost c
			JOIN dbo.TenantChargeItem tci
				ON c.TenantChargeItemID = tci.TenantChargeItemID
			WHERE tci.TenantCode = @TenantCode AND tci.ChargeItemId IN (SELECT Id FROM #CustomChargeItemIdsTable)
		END		

		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
