USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_UpdateFulfilment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Oct, 2025>
-- Description:	<Update Fulfilment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_UpdateFulfilment]
	@FulfilmentID INT,	
	@ContactEmail			  VARCHAR(200) = NULL,
	@Phone					  VARCHAR(70)  = NULL,
	@ShippingAddressName      VARCHAR(100)  = NULL,
	@ShippingAddressCompany   VARCHAR(300)  = NULL,
	@ShippingAddressAddress1  VARCHAR(300)  = NULL,
	@ShippingAddressAddress2  VARCHAR(300)  = NULL,
	@ShippingAddressCity      VARCHAR(150)  = NULL,
	@ShippingAddressProvince  VARCHAR(150)  = NULL,
	@ShippingAddressZip       VARCHAR(20)  = NULL,
	@ShippingAddressCountry   VARCHAR(50),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,	
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		UPDATE f
		SET 
			f.shipping_address_name     = COALESCE(@ShippingAddressName, f.shipping_address_name),
			f.shipping_address_company  = COALESCE(@ShippingAddressCompany, f.shipping_address_company),
			f.shipping_address_address1 = COALESCE(@ShippingAddressAddress1, f.shipping_address_address1),
			f.shipping_address_address2 = COALESCE(@ShippingAddressAddress2, f.shipping_address_address2),
			f.shipping_address_city     = COALESCE(@ShippingAddressCity, f.shipping_address_city),
			f.shipping_address_province = COALESCE(@ShippingAddressProvince, f.shipping_address_province),
			f.shipping_address_zip      = COALESCE(@ShippingAddressZip, f.shipping_address_zip),
			f.shipping_address_country  = COALESCE(@ShippingAddressCountry, f.shipping_address_country),
			f.Phone                     = COALESCE(@Phone, f.Phone),
			f.contact_email             = COALESCE(@ContactEmail, f.contact_email)
		FROM dbo.Fulfilment f
		WHERE f.FulfilmentID = @FulfilmentID;

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
   
END
GO
