USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_API_InsertAPI]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Insert API>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_API_InsertAPI]  
	@APIName VARCHAR(100),
    @APIDescription VARCHAR(1000),
	@APIDocumentationLocation VARCHAR(100),
    @APILabel VARCHAR(100),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate APIName
		 IF EXISTS(SELECT 1 FROM dbo.API WHERE APIName = @APIName AND Deleted = 0)
		 BEGIN
			 SET @Message = 'API Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		 DECLARE @APIID INT;
		 SELECT @APIID = APIID FROM dbo.API WHERE APIName = @APIName AND Deleted = 1;
        
		 IF @APIID IS NULL
		 BEGIN
			 -- Insert into API table
			INSERT INTO dbo.API
			(
				APIName,
				APIDescription,
				APIDocumentationLocation,
				APILabel,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@APIName,
				@APIDescription,
				@APIDocumentationLocation,
				@APILabel,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)
		END
		ELSE
		BEGIN
			UPDATE dbo.API
			SET
				Deleted = 0,
				APIDescription = COALESCE(@APIDescription, APIDescription),
				APIDocumentationLocation = COALESCE(@APIDocumentationLocation, APIDocumentationLocation),
				APILabel = COALESCE(@APILabel, APILabel),
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime =  NULL,
				LastEditedBy =  NULL,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			WHERE APIID = @APIID
		END
       
        -- Insert into UserPermission table for all existing UserCodes
        INSERT INTO dbo.UserPermission
        (
            UserName,
            UserCode,
            APIName,			
			Deleted,
            Permission,
			CreatedDateTime,
			CreatedBy
        )
        SELECT 
            FirstName + ' ' + LastName AS UserName,
            UserCode,
            @APIName,			
			0,
            0, -- Default permission value
			@CreatedDateTime,
			@CreatedBy
        FROM dbo.Users
        WHERE Deleted = 0

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
