USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_SectionPrinter_ViewSectionPrinter]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Nov, 2025>
-- Description:	<Get detail information of Section Printer>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_SectionPrinter_ViewSectionPrinter] 
  @SectionPrinterID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.SectionPrinter 
    WHERE SectionPrinterID = @SectionPrinterID AND DELETED = 0;
END
GO
