USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_InsertKittingService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 May, 2025>
-- Description:	<Insert Kitting Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_InsertKittingService]  
    @WarehouseCode VARCHAR(20),
	@TenantCode VARCHAR(20),
	@ServiceName VARCHAR(100),
	@ServiceDescription VARCHAR(1000),
    @StartDate DATETIME,
	@EndDate DATETIME,
	@ItemID INT,
	@Qty INT,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION
		
		IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Tenant Code does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @NewServiceID INT;

		DECLARE @CurrentDateString VARCHAR(8);
		SET @CurrentDateString = FORMAT(GETDATE(), 'ddMMyyyy');

		DECLARE @TenantName VARCHAR(150);
		SELECT @TenantName = COALESCE(TenantName,TenantCode)
		FROM dbo.Tenant
		WHERE TenantCode = @TenantCode;

		SET @TenantName = LEFT(REPLACE(@TenantName, ' ', ''), 33);
	
		DECLARE @SequenceValue BIGINT;
		SET @SequenceValue = NEXT VALUE FOR dbo.ServiceSequence;
		DECLARE @FormattedSequenceValue VARCHAR(7);
		SET @FormattedSequenceValue = RIGHT('0000000' + CAST(@SequenceValue AS VARCHAR(20)), 7);

		DECLARE @NewServiceNumber VARCHAR(50);
		SET @NewServiceNumber = @TenantName + '-' + @CurrentDateString + '-' + @FormattedSequenceValue;
	
		 -- Insert into Service table
		INSERT INTO dbo.Service
		(
			WarehouseCode,
			TenantCode,
			ServiceNumber,
			ServiceName,
			ServiceType,
			ServiceDescription,
			AdditionalType,
			AdditionalQty,
			AdditionalCost,
			StartDate,
			EndDate,
			Status,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@WarehouseCode,
			@TenantCode,
			@NewServiceNumber,
			@ServiceName,
			'Kitting',
			@ServiceDescription,
			'',
			0,
			0,
			@StartDate,
			@EndDate,
			'Pending',
			0,
			@CreatedDateTime,
			@CreatedBy
		);

		SET @NewServiceID = SCOPE_IDENTITY();

		DECLARE @ItemNumber VARCHAR(30);
		DECLARE @ItemName VARCHAR(250);

		SELECT @ItemNumber = ItemNumber, @ItemName = ItemName
		FROM dbo.Items
		WHERE ItemId = @ItemId AND Deleted = 0;

		-- Insert into Service table
		INSERT INTO dbo.KittingItem
		(
			ServiceID,
			TenantCode,
			ItemID,
			ItemNumber,
			ItemName,
			Qty,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@NewServiceID,
			@TenantCode,
			@ItemId,
			@ItemNumber,
			@ItemName,
			@Qty,
			0,
			@CreatedDateTime,
			@CreatedBy
		);

		 -- Commit the transaction
        COMMIT TRANSACTION
    
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
