USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_ListReceiptInboundsByTypeAndStatusAndTenantCode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Nov, 2024>
-- Description:	<List Receipt Inbound by Type, Status, Tenant Code>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_ListReceiptInboundsByTypeAndStatusAndTenantCode]
     @WarehouseCode VARCHAR(20), 
	 @TenantCode VARCHAR(10), 
     @ReceiptType NVARCHAR(20),
     @ReceiptStatuses dbo.StringArray READONLY
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT ri.*, 
		   t.TenantName, 
		   lw.WarehouseName
	FROM dbo.ReceiptInbound ri
	LEFT JOIN dbo.Tenant t
		ON t.TenantCode = ri.TenantCode
	LEFT JOIN dbo.LocWarehouse lw
		ON lw.WarehouseCode = ri.WarehouseCode
	WHERE ri.DELETED = 0
		AND LOWER(ri.TenantCode) = LOWER(@TenantCode)
		AND LOWER(ri.WarehouseCode) = LOWER(@WarehouseCode)
		AND ri.ReceiptStatus IN (SELECT Value FROM @ReceiptStatuses)
		AND ri.ReceiptType = @ReceiptType;

		   
END
GO
