USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CancelKittingService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Jul, 2025>
-- Description:	<Cancel Kitting Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_CancelKittingService] 
    @WaveID INT,
	@OperationDateTime   DATETIME = NULL,
	@OperationBy         VARCHAR(100) = NULL,	
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION		

		DECLARE @ServiceType VARCHAR(50),
				@ServiceNumber VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10),				
				@PickStatus VARCHAR(20),
				@ServiceID INT;

		SELECT @ServiceNumber = SourceOrderNumber,
		       @PickStatus = PickStatus
		FROM dbo.WaveLine WHERE WaveID = @WaveID AND Deleted = 0;

		SELECT @ServiceID = ServiceID,			  
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode
		FROM dbo.Service WHERE ServiceNumber = @ServiceNumber AND Deleted = 0;		

		IF @ServiceType IS NULL OR @ServiceType != 'Kitting'
		BEGIN
			SET @Message = 'This Service is not Kitting Service.';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @PickStatus IS NULL OR @PickStatus != 'Pending'
		BEGIN
			SET @Message = 'You cannot cancel a service that is currently in picking.';	
			ROLLBACK TRANSACTION;
			RETURN;
		END		


		-- update Picking status of wave
		UPDATE dbo.Wave
		SET 
			WaveStatus = 'Cancelled',			
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @OperationDateTime,
			LastEditedBy = @OperationBy
		WHERE WaveID = @WaveID AND WaveType = 'Kitting' AND Deleted = 0;		

		-- update status of fulfilment order
		DECLARE @OrderNumber VARCHAR(50);
		SELECT @OrderNumber = OrderNumber
		FROM dbo.WaveLine
		WHERE WaveID = @WaveID AND Deleted = 0;		
		UPDATE dbo.Fulfilment
		SET 
			FulfilmentStatus = 'Cancelled',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @OperationDateTime,
			LastEditedBy = @OperationBy
		WHERE OrderNumber = @OrderNumber AND Deleted = 0;
				
		-- update receipt status
		UPDATE dbo.Service
		SET 
			[Status] = 'Cancelled',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @OperationDateTime,
			LastEditedBy = @OperationBy
		WHERE ServiceID = @ServiceID;		

		-- uld
		DECLARE @ULDID INT,
				@ULDLineID INT;

		DECLARE ULDLineCursor CURSOR LOCAL FAST_FORWARD FOR
		SELECT U.ULDID, U.ULDLineID
		FROM dbo.ULDLine U
		WHERE U.TransactionReference = @ServiceNumber 
		  AND U.Deleted = 0 
		  AND U.AllocatedType = 'Kitting';

		OPEN ULDLineCursor;

		FETCH NEXT FROM ULDLineCursor INTO @ULDID, @ULDLineID;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			UPDATE U
				SET U.Deleted = 1
			FROM dbo.ULDLine U
			WHERE ULDLineID = @ULDLineID AND U.Deleted = 0;		

			EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
				@ULDID = @ULDID;

			FETCH NEXT FROM ULDLineCursor INTO @ULDID, @ULDLineID;
		END

		CLOSE ULDLineCursor;
		DEALLOCATE ULDLineCursor;

			
		 -- Commit the transaction
        COMMIT TRANSACTION
    

        PRINT 'Update successful for ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Print error message
        PRINT 'Error occurred while updating ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
