USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_CurrentWarehousePrinterUser_SetCurrentWarehousePrinterForUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Nov, 2024>
-- Description:	<Set Current Warehouse Printer of User>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_CurrentWarehousePrinterUser_SetCurrentWarehousePrinterForUser] 
    @AzureUserId VARCHAR(50), 
	@WarehouseCode VARCHAR(20), 
	@PrinterName VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		IF EXISTS(SELECT 1 FROM dbo.CurrentWarehousePrinterUser WHERE AzureUserId = @AzureUserId AND WarehouseCode = @WarehouseCode)
		BEGIN
			UPDATE dbo.CurrentWarehousePrinterUser
			SET PrinterName = @PrinterName
			WHERE AzureUserId = @AzureUserId AND WarehouseCode = @WarehouseCode;
		END
		ELSE
		BEGIN
			INSERT INTO dbo.CurrentWarehousePrinterUser
			(
				WarehouseCode,
				AzureUserId,
				PrinterName
			)
			VALUES
			(
				@WarehouseCode,
				@AzureUserId,
				@PrinterName
			)
		END;
        
        PRINT 'Update successful for AzureUserId: ' + @AzureUserId;
    END TRY
    BEGIN CATCH
         -- Handle the error
		 DECLARE @ErrorMessage NVARCHAR(4000)
		 DECLARE @ErrorSeverity INT
		 DECLARE @ErrorState INT

		 SELECT 
			 @ErrorMessage = ERROR_MESSAGE(),
			 @ErrorSeverity = ERROR_SEVERITY(),
			 @ErrorState = ERROR_STATE()

		 -- Rethrow the error
		 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
