USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocRow_UpdateLocRow]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Update>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocRow_UpdateLocRow] 
	@LocRowID                    INT,
    @RowName                     VARCHAR(200) = NULL,
	@RowDesc                     VARCHAR(1000) = NULL,
    @OrderNumber                  INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @Deleted BIT = NULL, @LocSectionID INT;

		SELECT @Deleted = Deleted, 
			   @LocSectionID = LocSectionID
		FROM dbo.LocRow
		WHERE LocRowID = @LocRowID;

		IF @Deleted IS NULL OR @Deleted = 1
		BEGIN
			SET @Message = 'LocRowID does not exist or has been deleted.'
			RETURN;
		END

		IF EXISTS(SELECT 1 FROM dbo.LocRow WHERE LocSectionID = @LocSectionID AND LocRowID != @LocRowID AND Deleted = 0 
		AND LOWER(TRIM(RowName)) = LOWER(TRIM(@RowName)))
        BEGIN
            SET @Message = 'Row name already exists.'
            RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.LocRow WHERE LocSectionID = @LocSectionID AND LocRowID != @LocRowID AND Deleted = 0 
		AND OrderNumber = @OrderNumber)
        BEGIN
            SET @Message = 'Order Number already exists.'
            RETURN;
        END

		-- Check maximum order number can change
		DECLARE @RowIncrement INT;
		DECLARE @CurrentOrder INT;
		
		SELECT 
			@RowIncrement = MAX(CASE WHEN SettingName = 'ROW_INCREMENT' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN ('ROW_INCREMENT');

		SELECT @CurrentOrder = CurrentOrder
		FROM dbo.LocSequence
		WHERE LocationID = @LocSectionID AND LocationType = 3;

		IF @OrderNumber > @CurrentOrder + @RowIncrement
        BEGIN
            SET @Message = 'Order number exceeds the allowed limit.'
            RETURN;
        END
				
		UPDATE dbo.LocRow
		SET
			RowName = COALESCE(@RowName, RowName),
			OrderNumber = COALESCE(@OrderNumber, OrderNumber),
			RowDesc = COALESCE(@RowDesc, RowDesc),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE LocRowID = @LocRowID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
