USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSBin_DeleteLocSBin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Soft Delete>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSBin_DeleteLocSBin] @LocSBinID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    -- Try to update the DELETED field
    BEGIN TRY

		IF EXISTS(SELECT 1 FROM dbo.LocSBin WHERE LocSBinID = @LocSBinID AND Deleted = 1)
		BEGIN
			 SET @Message = 'SBin has already been deleted.'
			 RETURN;
		END

		DECLARE @OutLocationBarcode VARCHAR(50);
		DECLARE @DummyLocationLabel VARCHAR(10);
		EXEC [dbo].[SP_VI_TBL_Loc_GetLocationBarcode] 
			@SBinID = @LocSBinID,
			@Type = 'SBin',
			@LocationBarcode = @OutLocationBarcode OUTPUT,
			@LocationLabel = @DummyLocationLabel OUTPUT;

		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.ULDCurrentLocation = @OutLocationBarcode
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);


		IF @NumberOfULD > 0
		BEGIN
			 SET @Message = 'There are not empty ULDs at this location.'
			 RETURN;
		END

        UPDATE dbo.LocSBin
        SET DELETED = 1
        WHERE LocSBinID = @LocSBinID;

        PRINT 'Remove successful for LocSBinID: ' + CAST(@LocSBinID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
