USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_CheckAPIAuthenticationByEmail]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 March, 2025>
-- Description:	<Check API Authentication By Email>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_CheckAPIAuthenticationByEmail] 
    @UserEmail VARCHAR(100), 
    @APIKey VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @UserAPIKey VARCHAR(50);
	DECLARE @TenantCode VARCHAR(10);

	SELECT @UserAPIKey = UserAPIKey,
		   @TenantCode = TenantCode
	FROM dbo.Users 
	WHERE UserEmail = @UserEmail AND Deleted = 0;

	IF @UserAPIKey IS NULL OR @UserAPIKey != @APIKey OR @TenantCode = '' OR @TenantCode IS NOT NULL
	BEGIN
		SELECT 0;
	END
	ELSE
	BEGIN
		SELECT 1;
	END
END
GO
