USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetLocationBarcodesByBin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Dec, 2024>
-- Description:	<Get Location Barcodes For Bin>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetLocationBarcodesByBin]
    @BinID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Declare variables to store the results
    DECLARE @LocWarehouseCode NVARCHAR(20),
            @LocAreaCode NVARCHAR(20),
			@LocSectionCode NVARCHAR(20),
            @LocRowCode NVARCHAR(20),
            @LocColumnCode NVARCHAR(20),
            @LocShelfCode NVARCHAR(20),
            @LocBinCode NVARCHAR(20),
            @LocSBinCode NVARCHAR(20);

	DECLARE @LocWarehouseID INT,
            @LocAreaID INT,
			@LocSectionID INT,
            @LocRowID INT,
            @LocColumnID INT,
            @LocShelfID INT;

	DECLARE @NumberSBIns INT;

	SELECT @NumberSBIns = COUNT(*)
    FROM dbo.LocSBin
    WHERE LocBinID = @BinID AND DELETED = 0;
	
    -- Get LocBin Code
    SELECT @LocBinCode = BinCode,
           @LocShelfID = LocShelfID
    FROM dbo.LocBin
    WHERE LocBinID = @BinID AND DELETED = 0;

    -- Get LocShelf Code
    SELECT @LocShelfCode = ShelfCode,
           @LocColumnID = LocColumnID
    FROM dbo.LocShelf
    WHERE LocShelfID = @LocShelfID AND DELETED = 0;

    -- Get LocColumn Code
    SELECT @LocColumnCode = ColumnCode,
           @LocRowID = LocRowID
    FROM dbo.LocColumn
    WHERE LocColumnID = @LocColumnID AND DELETED = 0;

    -- Get LocRow Code
    SELECT @LocRowCode = RowCode,
           @LocSectionID = LocSectionID
    FROM dbo.LocRow
    WHERE LocRowID = @LocRowID AND DELETED = 0;

	 -- Get LocSection Code
    SELECT @LocSectionCode = SectionCode,
           @LocAreaID = LocAreaID
    FROM dbo.LocSection
    WHERE LocSectionID = @LocSectionID AND DELETED = 0;

    -- Get LocArea Code
    SELECT @LocAreaCode = AreaCode,
           @LocWarehouseID = LocWarehouseID
    FROM dbo.LocArea
    WHERE LocAreaID = @LocAreaID AND DELETED = 0;

    -- Get LocWarehouse Code
    SELECT @LocWarehouseCode = WarehouseCode
    FROM dbo.LocWarehouse
    WHERE LocWarehouseID = @LocWarehouseID AND DELETED = 0;

    DECLARE @LocationBarcode VARCHAR(50);
	DECLARE @LocationLabel VARCHAR(10);
	
	IF @NumberSBIns = 1
	BEGIN
		SELECT @LocSBinCode = SBinCode
		FROM dbo.LocSBin
		WHERE LocBinID = @BinID AND DELETED = 0;

		 -- Return the full hierarchy
		SET @LocationBarcode = @LocWarehouseCode + @LocAreaCode + @LocSectionCode + @LocRowCode +
                            @LocColumnCode + @LocShelfCode + @LocBinCode + @LocSBinCode;

	
		SET @LocationLabel =  @LocBinCode;

		SELECT @LocationLabel as Label, @LocationBarcode as Barcode, 'Bin' As Type;
	END
	ELSE
	BEGIN

		CREATE TABLE #TempBarcodeTable
		(
			Barcode VARCHAR(50),
			Label VARCHAR(10),
			Type VARCHAR(10)
		);

		 -- Return the full hierarchy
		SET @LocationBarcode = @LocWarehouseCode + @LocAreaCode + @LocSectionCode + @LocRowCode +
                            @LocColumnCode + @LocShelfCode + @LocBinCode;
		SET @LocationLabel =  @LocBinCode;

		-- insert Bin
		INSERT INTO #TempBarcodeTable (Label, Barcode, Type)
		SELECT 
			@LocationLabel AS Label, 
			@LocationBarcode AS Barcode, 
		    'Bin' AS Type;

        -- insert sub bin
		DECLARE BinCursor CURSOR FOR
		SELECT SBinCode
		FROM dbo.LocSBin
		WHERE LocBinID = @BinID AND DELETED = 0;

		-- Open the cursor
		OPEN BinCursor;

		-- Fetch the first row into the variable
		FETCH NEXT FROM BinCursor INTO @LocSBinCode;

		-- Loop through the result set
		WHILE @@FETCH_STATUS = 0
		BEGIN

			SET @LocationBarcode = @LocWarehouseCode + @LocAreaCode + @LocSectionCode + @LocRowCode +
                            @LocColumnCode + @LocShelfCode + @LocBinCode + @LocSBinCode;

			INSERT INTO #TempBarcodeTable (Label, Barcode, Type)
			SELECT 
				@LocSBinCode AS Label, 
				@LocationBarcode AS Barcode, 
				'SBin' AS Type;

			-- Fetch the next row
			FETCH NEXT FROM BinCursor INTO @LocSBinCode;
		END;

		-- Close and deallocate the cursor
		CLOSE BinCursor;
		DEALLOCATE BinCursor;
		
		SELECT * FROM #TempBarcodeTable;

		DROP TABLE #TempBarcodeTable;

	END

END
GO
