USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_ViewUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2024>
-- Description:	<Get detail information of user>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_ViewUser] @UserID INT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @SQL NVARCHAR(MAX);

    -- Generate dynamic SQL to select all columns except 'Password'
    SELECT @SQL = 'SELECT ' + STRING_AGG(COLUMN_NAME, ', ') 
                  FROM INFORMATION_SCHEMA.COLUMNS
                  WHERE TABLE_NAME = 'Users' AND COLUMN_NAME <> 'MobilePassword';

	-- Append the FROM clause with a parameterized UserID
    SET @SQL = @SQL + ' FROM dbo.Users WHERE DELETED = 0 AND UserID =' + CAST(@UserID AS NVARCHAR);

    -- Execute the dynamic SQL with parameter
    EXEC sp_executesql @SQL;

END
GO
