USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ViewService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<View Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ViewService] @ServiceID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT
		s.*, 
		lw.WarehouseName,
		t.TenantName
	FROM 
		dbo.Service s
		JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
		JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode 
    WHERE s.ServiceID = @ServiceID AND s.DELETED = 0;
END
GO
