USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeGroup_ListChargeGroupsByCategory]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <18 Dec, 2024>
-- Description:	<Get list of  Charge Group of Category>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeGroup_ListChargeGroupsByCategory] 
	 @Category NVARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT ChargeGroupID, ChargeGroupName, ChargeGroupDescription from dbo.ChargeGroup WHERE Category = @Category AND DELETED = 0;
    
END
GO
