USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_DeleteAPShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Soft Delete Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipment_DeleteAPShipment] 
	@ShipmentID INT, 
	@Type VARCHAR(20), -- Int or Local
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		
		DECLARE @StartedTran BIT = 0;
		
		IF @@TRANCOUNT = 0
		BEGIN
			SET @StartedTran = 1;
			BEGIN TRANSACTION;
		END
		
		
		If @Type = 'Local'
		BEGIN

			UPDATE dbo.AP_ShipmentItems
			SET DELETED = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ShipmentID = @ShipmentID;

			UPDATE dbo.AP_Shipment
			SET DELETED = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ShipmentID = @ShipmentID;		

		END
		ELSE
		BEGIN
			UPDATE dbo.AP_ShipmentItemsINT
			SET DELETED = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ShipmentID = @ShipmentID;

			UPDATE dbo.AP_ShipmentINT
			SET DELETED = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ShipmentID = @ShipmentID;
			
		END

		UPDATE dbo.WaveLine
			SET ShipmentID = NULL,
				ShipmentType = NULL,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ShipmentID = @ShipmentID AND ShipmentType = @Type;

        -- Commit transaction if update is successful
        IF @StartedTran = 1
		BEGIN
			COMMIT TRANSACTION;
		END
        
        PRINT 'Update successful for ShipmentID: ' + CAST(@ShipmentID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @StartedTran = 1 AND @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ShipmentID: ' + CAST(@ShipmentID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
