USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_UpdateTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_VI_TBL_Tenant_UpdateTenant] 
	@TenantID                     INT,
    @TenantName                   VARCHAR(150) = NULL,
	@StorageType                  VARCHAR(50),  -- Automated or Manual
    @TenantJoinDate               DATETIME = NULL,
    @TenantAddressLine1           VARCHAR(150) = NULL,
    @TenantAddressLine2           VARCHAR(150) = NULL,
    @TenantSuburb                 VARCHAR(20) = NULL,
    @TenantState                  VARCHAR(20) = NULL,
    @TenantPostcode               VARCHAR(15) = NULL,
    @TenantCountry                VARCHAR(50) = NULL,
	@TenantStatus                 VARCHAR(20) = NULL,
    @TenantDefaultCarrier         VARCHAR(50) = NULL,
    @TenantABN                    VARCHAR(11) = NULL,
    @TenantContactMobile          VARCHAR(20) = NULL,
    @TenantContactEmail           VARCHAR(100) = NULL,
    @TenantContactName            VARCHAR(100) = NULL,
    @TenantReturnAddress          VARCHAR(150) = NULL,
	@NotificationEmail            VARCHAR(100) = NULL,
    @NotificationName             VARCHAR(150) = NULL,
	@ExpiredAlertDays	          INT = 0,
	@ExtraOrderCost               DECIMAL(10,2) = 0,
    @CMCChargeCost               DECIMAL(10,2) = 0,
	@MailingChargePercent         INT = 15,
    @PackingRequired              BIT = 0,
    @PackingRequiredType          VARCHAR(50) = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message                      VARCHAR(4000) OUTPUT -- Output parameter for error messages
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        -- Check if the TenantID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantID = @TenantID AND Deleted = 0)
        BEGIN
            SET @Message = 'TenantID does not exist or has been deleted.'
            RETURN;
        END

		DECLARE @ExistedStorageType  VARCHAR(50);
		DECLARE @TenantCode  VARCHAR(10);
		SELECT @ExistedStorageType = StorageType,
		       @TenantCode = TenantCode
		FROM dbo.Tenant WHERE TenantID = @TenantID AND Deleted = 0;

		IF @ExistedStorageType IS NOT NULL AND @ExistedStorageType <> @StorageType
		BEGIN
			
			IF EXISTS(SELECT 1 FROM BayTenantAllocation WHERE Deleted = 0 AND TenantCode = @TenantCode) 
			BEGIN
				SET @Message = 'There are Column Allocations for this Tenant. Please re-allocate before change to ' + @StorageType + ' storage';
				RETURN;
			END

        END

        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.Tenant
        SET
            PackingRequired = @PackingRequired,
            PackingRequiredType = @PackingRequiredType,
            TenantName = @TenantName,
            TenantJoinDate = @TenantJoinDate,
			StorageType = @StorageType,
            TenantAddressLine1 = @TenantAddressLine1,
            TenantAddressLine2 = @TenantAddressLine2,
            TenantSuburb = @TenantSuburb,
            TenantState = @TenantState,
            TenantPostcode = @TenantPostcode,
            TenantCountry = @TenantCountry,
			TenantStatus = @TenantStatus,
            TenantDefaultCarrier = @TenantDefaultCarrier,
            TenantABN = @TenantABN,
            TenantContactMobile = @TenantContactMobile,
            TenantContactEmail = @TenantContactEmail,
            TenantContactName = @TenantContactName,
            TenantReturnAddress = @TenantReturnAddress,
			NotificationEmail = @NotificationEmail,
			NotificationName = @NotificationName,
			ExpiredAlertDays = @ExpiredAlertDays,
			ExtraOrderCost = @ExtraOrderCost,
            CMCChargeCost = @CMCChargeCost,
			MailingChargePercent = @MailingChargePercent,
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE TenantID = @TenantID
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END
GO
