USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CancelService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<Cancel Service>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_Service_CancelService] 
    @ServiceID INT,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		-- update receipt status
		UPDATE dbo.Service
		SET 
			[Status] = 'Cancelled',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @LastEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @LastEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE ServiceID = @ServiceID;

        PRINT 'Update successful for ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Print error message
        PRINT 'Error occurred while updating ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
