USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetAllCompositeItemsOfTenantByType]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Jun, 2025>
-- Description:	<List Composite Item Of Tenant By Type>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetAllCompositeItemsOfTenantByType] 
	@TenantCode VARCHAR(10),
	@CompositeType VARCHAR(30) = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	IF @CompositeType IS NULL
	BEGIN
		SELECT 
			ItemID, ItemNumber, ItemName
		FROM 
			dbo.Items
		WHERE 
			ItemIsComposite = 1 AND TenantCode = @TenantCode AND DELETED = 0
		ORDER BY ItemName ASC;
	END
	ELSE
	BEGIN
		SELECT 
				ItemID, ItemNumber, ItemName
			FROM 
				dbo.Items
			WHERE 
				ItemIsComposite = 1 
				AND CompositeType = @CompositeType
				AND TenantCode = @TenantCode 
				AND Deleted = 0
			ORDER BY ItemName ASC;
	END
END
GO
