USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_API_DeleteAPI]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Soft Delete API>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_API_DeleteAPI] 
	@APIID INT, 
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.API WHERE APIID = @APIID AND Deleted = 1)
		BEGIN
			 SET @Message = 'API has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- Retrieve APIName from the dbo.API table
        DECLARE @APIName VARCHAR(100);
        SELECT @APIName = APIName FROM dbo.API WHERE APIID = @APIID;

        -- Check if APIName exists
        IF @APIName IS NULL
        BEGIN
            SET @Message = 'API not found for the given APIID.'
            ROLLBACK TRANSACTION;
            RETURN;
        END

        UPDATE dbo.API
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE APIID = @APIID;

		-- Delete all UserPermissions associated with this APIName
		--DELETE FROM dbo.UserPermission WHERE APIName = @APIName;
		UPDATE dbo.UserPermission
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE APIName = @APIName;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for APIID: ' + CAST(@APIID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating APIID: ' + CAST(@APIID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
