USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_ListAllLockedULDs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Jul, 2025>
-- Description:	<List Locked ULDs>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_ListAllLockedULDs]
     @WarehouseCode NVARCHAR(10) = NULL,	
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ULDID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        
		-- Get the total number of records
		DECLARE @Query NVARCHAR(MAX) = N'SELECT @TotalRecords = COUNT(*) FROM dbo.ULD WHERE DELETED = 0 AND (IsWarehouseTenant IS NULL OR IsWarehouseTenant = 0) AND Status = ''Locked''';

		-- Append conditions based on parameter values
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @Query += N' AND WarehouseCode = TRIM(@WarehouseCode)';
		END		

		-- Execute the dynamically built query
		EXEC sp_executesql @Query,
		N'@WarehouseCode NVARCHAR(10), @TotalRecords INT OUTPUT',
		@WarehouseCode, @TotalRecords OUTPUT;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT i.*, t.TenantName, lw.WarehouseName , ii.ItemID, t.TenantID
		              FROM dbo.ULD i
					  LEFT JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					  LEFT JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
					  LEFT JOIN dbo.Items ii ON ii.ItemNumber = i.ItemNumber AND ii.TenantCode = i.TenantCode AND ii.Deleted = 0
		              WHERE i.DELETED = 0 AND (i.IsWarehouseTenant IS NULL OR i.IsWarehouseTenant = 0) AND i.Status = ''Locked''';

		-- Append conditions dynamically
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END

		-- Add ORDER BY, OFFSET, and FETCH clauses
		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				   ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		-- Execute the dynamically built query
		EXEC sp_executesql @SQL,
			N'@WarehouseCode NVARCHAR(10), @OrderBy NVARCHAR(50), @OrderDir NVARCHAR(10), @Offset INT, @PageSize INT',
			@WarehouseCode, @OrderBy, @OrderDir, @Offset, @PageSize;

    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		-- Initialize base SQL query
		SET @SQL = N'SELECT @TotalRecords = COUNT(*) 
										FROM dbo.ULD i
										LEFT JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
										LEFT JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
										WHERE i.DELETED = 0 AND (i.IsWarehouseTenant IS NULL OR i.IsWarehouseTenant = 0) AND i.Status = ''Locked'' 
										AND (
											LOWER(i.ULDCurrentLocation) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.LockReason) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.ItemName) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.ItemNumber) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.ULDBarcode) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(t.TenantName) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(lw.WarehouseName) LIKE ''%'' + @Search + ''%''
											OR LOWER(i.BatchNumber) LIKE ''%'' + @Search + ''%''
											OR LOWER(CONVERT(NVARCHAR, i.ExpiryDate, 103)) LIKE ''%'' + @Search + ''%'' 
										)';

		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END			

		-- Execute the query
		EXEC sp_executesql @SQL,
			N'@Search NVARCHAR(MAX), @WarehouseCode NVARCHAR(10), @TotalRecords INT OUTPUT',
			@Search, @WarehouseCode, @TotalRecords OUTPUT;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT i.*, t.TenantName, lw.WarehouseName, ii.ItemID, t.TenantID
						FROM dbo.ULD i
					    LEFT JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					    LEFT JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
						LEFT JOIN dbo.Items ii ON ii.ItemNumber = i.ItemNumber AND ii.TenantCode = i.TenantCode AND ii.Deleted = 0
						WHERE i.DELETED = 0 AND (i.IsWarehouseTenant IS NULL OR i.IsWarehouseTenant = 0) AND i.Status = ''Locked''
						AND (
							LOWER(i.ULDCurrentLocation) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(i.LockReason) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(i.ItemName) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(i.ItemNumber) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(i.ULDBarcode) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(t.TenantName) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(lw.WarehouseName) LIKE ''%'' + @Search + ''%''
							OR LOWER(i.BatchNumber) LIKE ''%'' + @Search + ''%''
							OR LOWER(CONVERT(NVARCHAR, i.ExpiryDate, 103)) LIKE ''%'' + @Search + ''%'' 
						)';

		-- Dynamically append additional filters
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END			

		-- Append ORDER BY, OFFSET, and FETCH clauses
		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				   ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					 FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		-- Execute the dynamically built query
		EXEC sp_executesql @SQL,
			N'@Search NVARCHAR(MAX), @WarehouseCode NVARCHAR(10), @OrderBy NVARCHAR(50), 
			  @OrderDir NVARCHAR(10), @Offset INT, @PageSize INT',
			@Search, @WarehouseCode, @OrderBy, @OrderDir, @Offset, @PageSize;

    END 
   
END
GO
