USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_GetULDsByLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Feb, 2025>
-- Description:	<Get ULD By Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_GetULDsByLocation] 
	@LocationCode VARCHAR(50)
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT 
		u.ULDID,
		u.ULDBarcode,
		u.TenantCode,
		t.TenantName,
		u.WarehouseCode,
		lw.WarehouseName,
		u.ItemName,
		u.ItemNumber,
		u.ULDType
	FROM dbo.ULD u
	JOIN dbo.Tenant t ON u.TenantCode = t.TenantCode
	JOIN dbo.LocWarehouse lw ON u.WarehouseCode = lw.WarehouseCode
	WHERE u.DELETED = 0 
	AND u.ULDCurrentLocation = @LocationCode;

END
GO
