USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_UpdateAppliedTenantsStatusOfReportSchedule]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 jan, 2025>
-- Description:	<Update Applied Tenant Status of ReportSchedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_UpdateAppliedTenantsStatusOfReportSchedule]  
	 @ReportScheduleId INT,
	 @TenantCodes dbo.StringArray READONLY,	
	 @CreatedDateTime DATETIME = NULL,
     @CreatedBy VARCHAR(100) = NULL,
	 @Message   VARCHAR(4000) OUTPUT -- Output parameter for error messages
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION
		
		CREATE TABLE #TempTenantCodes (
			[Value] [VARCHAR](MAX)
		);

		INSERT INTO #TempTenantCodes ([Value])
		SELECT [Value] FROM @TenantCodes;

		DELETE ttc
		FROM #TempTenantCodes ttc
		JOIN dbo.TenantReportSchedule tci ON ttc.[Value] = tci.TenantCode
		WHERE tci.ReportScheduleID = @ReportScheduleId;

		-- update all existed to deleted
		UPDATE dbo.TenantReportSchedule
		SET DELETED = 1
		WHERE ReportScheduleID = @ReportScheduleId;

		-- update applied		
		UPDATE tci
		SET tci.DELETED = 0
		FROM dbo.TenantReportSchedule tci
		JOIN @TenantCodes tc ON tci.TenantCode = tc.[Value]
		WHERE tci.ReportScheduleID = @ReportScheduleId;

		--insert new
		DECLARE @TenantCode NVARCHAR(10);
		DECLARE @Interval VARCHAR(50);
		DECLARE @Output VARCHAR(50);
		DECLARE @StoreProcedureName VARCHAR(200);

		-- get report schedule info
		SELECT @Interval = Interval, @Output = [Output], @StoreProcedureName = StoreProcedureName
		FROM dbo.ReportSchedule  
		WHERE  DELETED = 0 AND ReportScheduleID = @ReportScheduleId;

		-- Declare the cursor
		DECLARE TenantCodeCursor CURSOR FOR
		SELECT Value FROM #TempTenantCodes;

		-- Open the cursor
		OPEN TenantCodeCursor;

		-- Fetch the first row
		FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;

		-- Loop through the rows
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			INSERT INTO dbo.TenantReportSchedule (TenantCode, ReportScheduleId, Interval, [Output], StoreProcedureName, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@TenantCode, @ReportScheduleId, @Interval, @Output, @StoreProcedureName, 0, @CreatedDateTime, @CreatedBy);

			-- Fetch the next row
			FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;
		END;

		-- Close and deallocate the cursor
		CLOSE TenantCodeCursor;
		DEALLOCATE TenantCodeCursor;


		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
