USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_StartStockTakeService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Mar, 2025>
-- Description:	<Start Service>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_Service_StartStockTakeService] 
    @ServiceID INT,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE 
				@ServiceType VARCHAR(50),
				@StockTakeType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@ServiceStatus VARCHAR(10),
				@TenantCode VARCHAR(10);

		SELECT @WarehouseCode = WarehouseCode,
			   @TenantCode = TenantCode,
			   @ServiceType = ServiceType,
			   @StockTakeType = AdditionalType,
			   @ServiceStatus = Status
		FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;

		-- Check for Tenant Code
		IF @TenantCode IS NULL
		BEGIN
			SET @Message = 'Service does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceType IS NULL OR @ServiceType != 'Stocktake'
		BEGIN
			SET @Message = 'This Service is not Stocktake Service.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceStatus IS NULL OR @ServiceStatus = 'InProgress'
		BEGIN
			SET @Message = 'This Service have already started.'
			ROLLBACK TRANSACTION;
			RETURN;
		END


		-- update receipt status
		UPDATE dbo.Service
		SET [Status] = 'InProgress',
			StartServiceTime = COALESCE(StartServiceTime, @LastEditedDateTime),
			StartServiceBy = COALESCE(StartServiceBy, @LastEditedBy),
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @LastEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @LastEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE ServiceID = @ServiceID AND Deleted = 0;	

		DECLARE 
				@ItemNumber VARCHAR(50),
				@ItemName VARCHAR(255),
				@ULDCurrentLocation VARCHAR(100),
				@TemporaryLocation BIT,
				@LocationFound BIT;

		DECLARE
				@LocBinID INT,
				@LocColumnID INT,
				@LocRowID INT,
				@LocSectionID INT,
				@LocAreaID INT,
				@LocWarehouseID INT,
				@LocWarehouseCode VARCHAR(1),
				@LocAreaCode VARCHAR(1),
				@LocSectionCode VARCHAR(3),
				@LocRowCode VARCHAR(4),
				@LocColumnCode VARCHAR(6),
				@LocBinCode VARCHAR(7),
				@LocTempCode VARCHAR(33),
				@WarehouseName VARCHAR(200),
				@AreaName    VARCHAR(200),
				@SectionName VARCHAR(200),
				@RowName     VARCHAR(200),
				@ColumnName  VARCHAR(200),
				@BinName     VARCHAR(200),
				@StorageType VARCHAR(50);

		CREATE TABLE #TmpStockTakeScheduleTable
		(
			[ServiceID] INT NOT NULL,
			[ItemName] VARCHAR(250) NULL,
			[ItemNumber] VARCHAR(30) NULL,
			[ULDCurrentLocation] VARCHAR(50) NULL,
			[LocationOrderNumber] VARCHAR(200) NULL,
			[WarehouseID] INT NULL,
			[AreaID] INT NULL,
			[SectionID] INT NULL,
			[RowID] INT NULL,
			[ColumnID] INT NULL,
			[BinID] INT NULL,
			[WarehouseCode] VARCHAR(20) NULL,
			[AreaCode] VARCHAR(20) NULL,
			[SectionCode] VARCHAR(20) NULL,
			[RowCode] VARCHAR(20) NULL,
			[ColumnCode] VARCHAR(20) NULL,
			[BinCode] VARCHAR(20) NULL,
			[Status] VARCHAR(20) NULL,
			[StartDate] DATETIME NULL,
			[Deleted] BIT NULL,
			[CreatedDateTime] DATETIME NULL,
			[CreatedBy] VARCHAR(100) NULL,
			[WarehouseName] VARCHAR(200) NULL,
			[AreaName] VARCHAR(200) NULL,
			[SectionName] VARCHAR(200) NULL,
			[RowName] VARCHAR(200) NULL,
			[ColumnName] VARCHAR(200) NULL,
			[BinName] VARCHAR(200) NULL,
			[StorageType] VARCHAR(50) NULL
		);
		

		-- -- create schedule for Full and Partly
		IF @StockTakeType = 'Full'
		BEGIN
			PRINT 'Full';

			IF CURSOR_STATUS('global', 'full_cursor') >= 0
			BEGIN
				CLOSE full_cursor;
				DEALLOCATE full_cursor;
			END;

			DECLARE full_cursor CURSOR FOR
			SELECT DISTINCT U.ULDCurrentLocation
			FROM dbo.ULD U
			WHERE U.TenantCode = @TenantCode
				AND U.DELETED = 0
				AND U.WarehouseCode = @WarehouseCode
				AND U.ULDCurrentLocation IS NOT NULL
				AND U.Status != 'Draft'
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
						AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
			ORDER BY U.ULDCurrentLocation;


			-- Open and fetch
			OPEN full_cursor;
			FETCH NEXT FROM full_cursor INTO @ULDCurrentLocation;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- get info
				EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
					@LocationCode = @ULDCurrentLocation,
					@LocationFound = @LocationFound OUTPUT,
					@TemporaryLocation = @TemporaryLocation OUTPUT,
					@LocSBinID = NULL,
					@LocBinID = @LocBinID OUTPUT,
					@LocShelfID = NULL,
					@LocColumnID = @LocColumnID OUTPUT,
					@LocRowID = @LocRowID OUTPUT,
					@LocSectionID = @LocSectionID OUTPUT,
					@LocAreaID = @LocAreaID OUTPUT,
					@LocWarehouseID = @LocWarehouseID OUTPUT,
					@LocWarehouseCode = @LocWarehouseCode OUTPUT,
					@LocAreaCode = @LocAreaCode OUTPUT,
					@LocSectionCode = @LocSectionCode OUTPUT,
					@LocRowCode = @LocRowCode OUTPUT,
					@LocColumnCode = @LocColumnCode OUTPUT,
					@LocShelfCode = NULL,
					@LocBinCode = @LocBinCode OUTPUT,
					@LocTempCode = @LocTempCode OUTPUT,
					@LocSBinCode = NULL,
					@LocWarehouseName = @WarehouseName OUTPUT,
					@LocAreaName = @AreaName OUTPUT,
					@LocSectionName = @SectionName OUTPUT,
					@LocRowName = @RowName OUTPUT,
					@LocColumnName = @ColumnName OUTPUT,
					@LocBinName = @BinName OUTPUT,
					@StorageType = @StorageType OUTPUT;

				IF @LocationFound = 1
				BEGIN
					IF @TemporaryLocation = 1
					BEGIN
						INSERT INTO #TmpStockTakeScheduleTable (
						    ServiceID,
							ULDCurrentLocation,
							LocationOrderNumber,
							WarehouseID,
							AreaID,
							SectionID,
							WarehouseCode,
							AreaCode,
							SectionCode,
							BinCode,
							Status,
							StartDate,
							Deleted,
							CreatedDateTime,
							CreatedBy,
							WarehouseName,
							AreaName,
							SectionName,
							RowName,
							ColumnName,
							BinName,
							StorageType
						)
						VALUES (
						    @ServiceID,
							@ULDCurrentLocation,
							dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
							@LocWarehouseID,
							@LocAreaID,
							@LocSectionID,
							@LocWarehouseCode,
							@LocAreaCode,
							@LocSectionCode,
							SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7),
							'Init',
							GETDATE(),
							0,
							@LastEditedDateTime,
							@LastEditedBy,
							@WarehouseName,
							@AreaName,
							@SectionName,
							@RowName,
							@ColumnName,
							@BinName,
							'Temporary'
						);
					END
					ELSE -- normal location
					BEGIN
						INSERT INTO #TmpStockTakeScheduleTable (
						    ServiceID,
							ULDCurrentLocation,
							LocationOrderNumber,
							WarehouseID,
							AreaID,
							SectionID,
							RowID,
							ColumnID,
							BinID,
							WarehouseCode,
							AreaCode,
							SectionCode,
							RowCode,
							ColumnCode,
							BinCode,
							Status,
							StartDate,
							Deleted,
							CreatedDateTime,
							CreatedBy,
							WarehouseName,
							AreaName,
							SectionName,
							RowName,
							ColumnName,
							BinName,
							StorageType
						)
						VALUES (
						    @ServiceID,
							@ULDCurrentLocation,
							dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
							@LocWarehouseID,
							@LocAreaID,
							@LocSectionID,
							@LocRowID,
							@LocColumnID,
							@LocBinID,
							@LocWarehouseCode,
							@LocAreaCode,
							@LocSectionCode,
							@LocRowCode,
							@LocColumnCode,
							@LocBinCode,
							'Init',
							GETDATE(),
							0,
							@LastEditedDateTime,
							@LastEditedBy,
							@WarehouseName,
							@AreaName,
							@SectionName,
							@RowName,
							@ColumnName,
							@BinName,
							@StorageType
						);
					END
				END
			
				-- Fetch next row
				FETCH NEXT FROM full_cursor INTO @ULDCurrentLocation;
			END

			-- Clean up
			CLOSE full_cursor;
			DEALLOCATE full_cursor;

			--- order and insert to Schedule
			INSERT INTO [dbo].[StockTakeSchedule] (
				ServiceID,
				ItemNumber,
				ItemName,
				ULDCurrentLocation,
				WarehouseID,
				AreaID,
				SectionID,
				RowID,
				ColumnID,
				BinID,
				WarehouseCode,
				AreaCode,
				SectionCode,
				RowCode,
				ColumnCode,
				BinCode,
				Status,
				StartDate,
				Deleted,
				CreatedDateTime,
				CreatedBy,
				WarehouseName,
				AreaName,
				SectionName,
				RowName,
				ColumnName,
				BinName,
				StorageType
			)
			SELECT 
				ServiceID,
				ItemNumber,
				ItemName,
				ULDCurrentLocation,
				WarehouseID,
				AreaID,
				SectionID,
				RowID,
				ColumnID,
				BinID,
				WarehouseCode,
				AreaCode,
				SectionCode,
				RowCode,
				ColumnCode,
				BinCode,
				Status,
				StartDate,
				Deleted,
				CreatedDateTime,
				CreatedBy,
				WarehouseName,
				AreaName,
				SectionName,
				RowName,
				ColumnName,
				BinName,
				StorageType
			FROM #TmpStockTakeScheduleTable
			ORDER BY LocationOrderNumber ASC;

		END -- end full
		ELSE 
		BEGIN
			PRINT 'Partly'
			---
			DECLARE @ItemNumbers dbo.StringArray;
			DECLARE @LocationCodeOfItems dbo.ParameterArray;

			INSERT INTO @ItemNumbers ([Value])
			SELECT ItemNumber
			FROM dbo.StockTakeItem
			WHERE ServiceID = @ServiceID AND DELETED = 0;

			-- Have location config
			INSERT INTO @LocationCodeOfItems ([Name], [Value])
			SELECT i.ItemNumber, il.LocationBarCode
			FROM dbo.StockTakeItem i
			JOIN StockTakeItemLocation il ON i.StockTakeItemID = il.StockTakeItemID
			WHERE i.ServiceID = @ServiceID AND i.DELETED = 0;

			IF CURSOR_STATUS('global', 'partly_cursor') >= 0
			BEGIN
				CLOSE partly_cursor;
				DEALLOCATE partly_cursor;
			END;

			DECLARE partly_cursor CURSOR FOR
			SELECT DISTINCT
				U.ItemNumber, 
				U.ItemName, 
				U.ULDCurrentLocation
			FROM dbo.ULD U
			WHERE U.TenantCode = @TenantCode
				AND U.DELETED = 0
				AND U.WarehouseCode = @WarehouseCode
				AND U.ItemNumber IN (SELECT Value FROM @ItemNumbers)
				AND U.ULDCurrentLocation IS NOT NULL
				AND U.Status != 'Draft'
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
						AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
			ORDER BY U.ItemName, U.ULDCurrentLocation;

			-- Open and fetch
			OPEN partly_cursor;
			FETCH NEXT FROM partly_cursor INTO @ItemNumber, @ItemName, @ULDCurrentLocation;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				IF EXISTS (SELECT 1 FROM @LocationCodeOfItems WHERE [Name] = @ItemNumber) -- have config location
				BEGIN
					IF EXISTS (SELECT 1 FROM @LocationCodeOfItems WHERE [Name] = @ItemNumber AND [Value] = @ULDCurrentLocation) -- have location
					BEGIN
						-- Get location info
						EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
							@LocationCode = @ULDCurrentLocation,
							@LocationFound = @LocationFound OUTPUT,
							@TemporaryLocation = @TemporaryLocation OUTPUT,
							@LocSBinID = NULL,
							@LocBinID = @LocBinID OUTPUT,
							@LocShelfID = NULL,
							@LocColumnID = @LocColumnID OUTPUT,
							@LocRowID = @LocRowID OUTPUT,
							@LocSectionID = @LocSectionID OUTPUT,
							@LocAreaID = @LocAreaID OUTPUT,
							@LocWarehouseID = @LocWarehouseID OUTPUT,
							@LocWarehouseCode = @LocWarehouseCode OUTPUT,
							@LocAreaCode = @LocAreaCode OUTPUT,
							@LocSectionCode = @LocSectionCode OUTPUT,
							@LocRowCode = @LocRowCode OUTPUT,
							@LocColumnCode = @LocColumnCode OUTPUT,
							@LocShelfCode = NULL,
							@LocBinCode = @LocBinCode OUTPUT,
							@LocTempCode = @LocTempCode OUTPUT,
							@LocSBinCode = NULL,
							@LocWarehouseName = @WarehouseName OUTPUT,
							@LocAreaName = @AreaName OUTPUT,
							@LocSectionName = @SectionName OUTPUT,
							@LocRowName = @RowName OUTPUT,
							@LocColumnName = @ColumnName OUTPUT,
							@LocBinName = @BinName OUTPUT,
							@StorageType = @StorageType OUTPUT;


						IF @LocationFound = 1
						BEGIN
							IF @TemporaryLocation = 1
							BEGIN
								INSERT INTO #TmpStockTakeScheduleTable (
								    ServiceID,
									ItemNumber,
									ItemName,
									ULDCurrentLocation,
									LocationOrderNumber,
									WarehouseID,
									AreaID,
									SectionID,
									WarehouseCode,
									AreaCode,
									SectionCode,
									BinCode,
									Status,
									StartDate,
									Deleted,
									CreatedDateTime,
									CreatedBy,
									WarehouseName,
									AreaName,
									SectionName,
									RowName,
									ColumnName,
									BinName,
									StorageType
								)
								VALUES (
								    @ServiceID,
									@ItemNumber, 
									@ItemName,
									@ULDCurrentLocation,
									dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
									@LocWarehouseID,
									@LocAreaID,
									@LocSectionID,
									@LocWarehouseCode,
									@LocAreaCode,
									@LocSectionCode,
									SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7),
									'Init',
									GETDATE(),
									0,
									@LastEditedDateTime,
									@LastEditedBy,
									@WarehouseName,
									@AreaName,
									@SectionName,
									@RowName,
									@ColumnName,
									@BinName,
									'Temporary'
								);
							END -- end Temp location
							ELSE -- normal location
							BEGIN
								INSERT INTO #TmpStockTakeScheduleTable (
								    ServiceID,
									ItemNumber,
									ItemName,
									ULDCurrentLocation,
									LocationOrderNumber,
									WarehouseID,
									AreaID,
									SectionID,
									RowID,
									ColumnID,
									BinID,
									WarehouseCode,
									AreaCode,
									SectionCode,
									RowCode,
									ColumnCode,
									BinCode,
									Status,
									StartDate,
									Deleted,
									CreatedDateTime,
									CreatedBy,
									WarehouseName,
									AreaName,
									SectionName,
									RowName,
									ColumnName,
									BinName,
									StorageType
								)
								VALUES (
								    @ServiceID,
									@ItemNumber, 
									@ItemName,
									@ULDCurrentLocation,
									dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
									@LocWarehouseID,
									@LocAreaID,
									@LocSectionID,
									@LocRowID,
									@LocColumnID,
									@LocBinID,
									@LocWarehouseCode,
									@LocAreaCode,
									@LocSectionCode,
									@LocRowCode,
									@LocColumnCode,
									@LocBinCode,
									'Init',
									GETDATE(),
									0,
									@LastEditedDateTime,
									@LastEditedBy,
									@WarehouseName,
									@AreaName,
									@SectionName,
									@RowName,
									@ColumnName,
									@BinName,
									@StorageType
								);
							END -- end normal location
						END -- end @LocationFound = 1
					END -- end IF EXISTS (SELECT 1 FROM @LocationCodeOfItems WHERE [Name] = @ItemNumber AND [Value] = @ULDCurrentLocation) -- have location
				END -- End IF EXISTS (SELECT 1 FROM @LocationCodeOfItems WHERE [Name] = @ItemNumber) -- have config location
				
				-- Fetch next row
				FETCH NEXT FROM partly_cursor INTO @ItemNumber, @ItemName, @ULDCurrentLocation;
			END

			-- Clean up
			CLOSE partly_cursor;
			DEALLOCATE partly_cursor;

			DECLARE @NoLocationCodeOfItems dbo.ParameterArray;

			-- Have no location config
			INSERT INTO @NoLocationCodeOfItems ([Name], [Value])
			SELECT i.ItemNumber, il.LocationBarCode
			FROM dbo.StockTakeItem i
			LEFT JOIN StockTakeItemLocation il ON i.StockTakeItemID = il.StockTakeItemID
			WHERE i.ServiceID = @ServiceID AND i.DELETED = 0 AND il.LocationBarCode IS NULL;

			IF CURSOR_STATUS('global', 'no_location_partly_cursor') >= 0
			BEGIN
				CLOSE no_location_partly_cursor;
				DEALLOCATE no_location_partly_cursor;
			END;

			DECLARE no_location_partly_cursor CURSOR FOR
			SELECT DISTINCT
				U.ItemNumber, 
				U.ItemName, 
				U.ULDCurrentLocation
			FROM dbo.ULD U
			WHERE U.TenantCode = @TenantCode
				AND U.DELETED = 0
				AND U.WarehouseCode = @WarehouseCode
				AND U.ItemNumber IN (SELECT [Name] FROM @NoLocationCodeOfItems)
				AND U.ULDCurrentLocation IS NOT NULL
				AND U.Status != 'Draft'
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
						AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
			ORDER BY U.ItemName, U.ULDCurrentLocation;

			-- Open and fetch
			OPEN no_location_partly_cursor;
			FETCH NEXT FROM no_location_partly_cursor INTO @ItemNumber, @ItemName, @ULDCurrentLocation;
			WHILE @@FETCH_STATUS = 0
			BEGIN

				-- Get location info
				EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
					@LocationCode = @ULDCurrentLocation,
					@LocationFound = @LocationFound OUTPUT,
					@TemporaryLocation = @TemporaryLocation OUTPUT,
					@LocSBinID = NULL,
					@LocBinID = @LocBinID OUTPUT,
					@LocShelfID = NULL,
					@LocColumnID = @LocColumnID OUTPUT,
					@LocRowID = @LocRowID OUTPUT,
					@LocSectionID = @LocSectionID OUTPUT,
					@LocAreaID = @LocAreaID OUTPUT,
					@LocWarehouseID = @LocWarehouseID OUTPUT,
					@LocWarehouseCode = @LocWarehouseCode OUTPUT,
					@LocAreaCode = @LocAreaCode OUTPUT,
					@LocSectionCode = @LocSectionCode OUTPUT,
					@LocRowCode = @LocRowCode OUTPUT,
					@LocColumnCode = @LocColumnCode OUTPUT,
					@LocShelfCode = NULL,
					@LocBinCode = @LocBinCode OUTPUT,
					@LocTempCode = @LocTempCode OUTPUT,
					@LocSBinCode = NULL,
					@LocWarehouseName = @WarehouseName OUTPUT,
					@LocAreaName = @AreaName OUTPUT,
					@LocSectionName = @SectionName OUTPUT,
					@LocRowName = @RowName OUTPUT,
					@LocColumnName = @ColumnName OUTPUT,
					@LocBinName = @BinName OUTPUT,
					@StorageType = @StorageType OUTPUT;

				IF @LocationFound = 1
				BEGIN
					IF @TemporaryLocation = 1
					BEGIN
						INSERT INTO #TmpStockTakeScheduleTable (
							ServiceID,
							ItemNumber,
							ItemName,
							ULDCurrentLocation,
							LocationOrderNumber,
							WarehouseID,
							AreaID,
							SectionID,
							WarehouseCode,
							AreaCode,
							SectionCode,
							BinCode,
							Status,
							StartDate,
							Deleted,
							CreatedDateTime,
							CreatedBy,
							WarehouseName,
							AreaName,
							SectionName,
							RowName,
							ColumnName,
							BinName,
							StorageType
						)
						VALUES (
							@ServiceID,
							@ItemNumber, 
							@ItemName,
							@ULDCurrentLocation,
							dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
							@LocWarehouseID,
							@LocAreaID,
							@LocSectionID,
							@LocWarehouseCode,
							@LocAreaCode,
							@LocSectionCode,
							SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7),
							'Init',
							GETDATE(),
							0,
							@LastEditedDateTime,
							@LastEditedBy,
							@WarehouseName,
							@AreaName,
							@SectionName,
							@RowName,
							@ColumnName,
							@BinName,
							'Temporary'
						);
					END -- end Temp location
					ELSE -- normal location
					BEGIN
						INSERT INTO #TmpStockTakeScheduleTable (
							ServiceID,
							ItemNumber,
							ItemName,
							ULDCurrentLocation,
							LocationOrderNumber,
							WarehouseID,
							AreaID,
							SectionID,
							RowID,
							ColumnID,
							BinID,
							WarehouseCode,
							AreaCode,
							SectionCode,
							RowCode,
							ColumnCode,
							BinCode,
							Status,
							StartDate,
							Deleted,
							CreatedDateTime,
							CreatedBy,
							WarehouseName,
							AreaName,
							SectionName,
							RowName,
							ColumnName,
							BinName,
							StorageType
						)
						VALUES (
							@ServiceID,
							@ItemNumber, 
							@ItemName,
							@ULDCurrentLocation,
							dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation),
							@LocWarehouseID,
							@LocAreaID,
							@LocSectionID,
							@LocRowID,
							@LocColumnID,
							@LocBinID,
							@LocWarehouseCode,
							@LocAreaCode,
							@LocSectionCode,
							@LocRowCode,
							@LocColumnCode,
							@LocBinCode,
							'Init',
							GETDATE(),
							0,
							@LastEditedDateTime,
							@LastEditedBy,
							@WarehouseName,
							@AreaName,
							@SectionName,
							@RowName,
							@ColumnName,
							@BinName,
							@StorageType
						);
					END -- end normal location
				END -- end @LocationFound = 1

				-- Fetch next row
				FETCH NEXT FROM no_location_partly_cursor INTO @ItemNumber, @ItemName, @ULDCurrentLocation;
			END

			-- Clean up
			CLOSE no_location_partly_cursor;
			DEALLOCATE no_location_partly_cursor;

			--- order and insert to Schedule
			INSERT INTO [dbo].[StockTakeSchedule] (
				ServiceID,
				ItemNumber,
				ItemName,
				ULDCurrentLocation,
				WarehouseID,
				AreaID,
				SectionID,
				RowID,
				ColumnID,
				BinID,
				WarehouseCode,
				AreaCode,
				SectionCode,
				RowCode,
				ColumnCode,
				BinCode,
				Status,
				StartDate,
				Deleted,
				CreatedDateTime,
				CreatedBy,
				WarehouseName,
				AreaName,
				SectionName,
				RowName,
				ColumnName,
				BinName,
				StorageType
			)
			SELECT 
				ServiceID,
				ItemNumber,
				ItemName,
				ULDCurrentLocation,
				WarehouseID,
				AreaID,
				SectionID,
				RowID,
				ColumnID,
				BinID,
				WarehouseCode,
				AreaCode,
				SectionCode,
				RowCode,
				ColumnCode,
				BinCode,
				Status,
				StartDate,
				Deleted,
				CreatedDateTime,
				CreatedBy,
				WarehouseName,
				AreaName,
				SectionName,
				RowName,
				ColumnName,
				BinName,
				StorageType
			FROM #TmpStockTakeScheduleTable
			ORDER BY LocationOrderNumber,ItemName ASC;
			
		END	-- End partly

		-- lock tenant
		INSERT INTO dbo.TenantLock
		(
			TenantCode,
			WarehouseCode,
			Reason,
			LockDateTime,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@TenantCode,
			@WarehouseCode,
			'Starting StockTake',
			GETDATE(),
			0, -- Default value for Deleted
			@LastEditedDateTime,
			@LastEditedBy
		) 

		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
