USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_StandardBox_ViewStandardBox]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Get detail information of Standard Boc>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_StandardBox_ViewStandardBox] @StandardBoxID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.StandardBox 
    WHERE StandardBoxID = @StandardBoxID AND DELETED = 0;
END
GO
