USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_OrdersLine_UploadOrderLine]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 April, 2025>
-- Description:	<Upload Order Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_OrdersLine_UploadOrderLine]  
    @OrderID INT,
	@OrderLines OrderLineType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @ItemID INT,
				@TenantCode VARCHAR(10),
				@OrderItemName NVARCHAR(255),
				@OrderItemNumber NVARCHAR(100),
				@OrderQuantity INT;

		SELECT @TenantCode = TenantCode FROM dbo.Orders WHERE OrderID = @OrderID AND DELETED = 0;

		IF @TenantCode IS NULL
		BEGIN
			SET @Message = 'Order does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE order_cursor CURSOR FOR
		SELECT  OrderItemName, OrderItemNumber, OrderQuantity
		FROM @OrderLines;

		OPEN order_cursor;

		FETCH NEXT FROM order_cursor INTO @OrderItemName, @OrderItemNumber, @OrderQuantity;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- Do something with each row
			PRINT 'ItemID: ' + CAST(@ItemID AS NVARCHAR) 
				+ ', Name: ' + @OrderItemName 
				+ ', Number: ' + @OrderItemNumber 
				+ ', Quantity: ' + CAST(@OrderQuantity AS NVARCHAR);

			SELECT @ItemID = ItemID 
			FROM dbo.Items 
			WHERE TenantCode = @TenantCode 
				  AND TRIM(ItemNumber) = TRIM(@OrderItemNumber)
				  AND TRIM(ItemName) = TRIM(@OrderItemName)
			      AND Deleted = 0;

			IF @ItemID IS NULL
			BEGIN
				SET @Message = 'Item does not exists.'
				ROLLBACK TRANSACTION;
				RETURN;
			END

			-- Insert the associated trade units into ItemTradeUnits table
			INSERT INTO dbo.OrdersLine 
				(OrderID, ItemID, line_items_name, line_items_sku, line_items_current_quantity, TenantCode, Deleted, CreatedDateTime, CreatedBy)
			VALUES
				(@OrderID, @ItemID, @OrderItemName, @OrderItemNumber, @OrderQuantity, @TenantCode, 0, @CreatedDateTime, @CreatedBy);

			-- Fetch next row
			FETCH NEXT FROM order_cursor INTO @OrderItemName, @OrderItemNumber, @OrderQuantity;
		END;

		CLOSE order_cursor;
		DEALLOCATE order_cursor;


		

         -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
