USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_CP_Update_ShipmentDomestic_QuoteResponse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CP_Update_ShipmentDomestic_QuoteResponse]
    @ShipmentDomesticID INT,
    @rateCardId NVARCHAR(50),
    @ResponseQTE_Results NVARCHAR(50) = NULL,
    @ResponseQTE_ResultsMSG NVARCHAR(30) = NULL,
    @ResponseQTE_CalculatedFreightCharge DECIMAL(8,2) = NULL,
    @ResponseQTE_CalculatedFuelCharge DECIMAL(6,2) = NULL,
    @ResponseQTE_ETA NVARCHAR(100) = NULL,
    @ResponseQTE_PickupCutOffTime NVARCHAR(10) = NULL,
    @ResponseQTE_RateCardCode NVARCHAR(5) = NULL,
    @ResponseQTE_RateCardDescription NVARCHAR(50) = NULL,
    @ResponseQTE_Weight DECIMAL(6,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.CPShipmentDomestic
    SET 
        rateCardId                          = @rateCardId,
        ResponseQTE_Results                 = @ResponseQTE_Results,
        ResponseQTE_ResultsMSG              = @ResponseQTE_ResultsMSG,
        ResponseQTE_CalculatedFreightCharge = @ResponseQTE_CalculatedFreightCharge,
        ResponseQTE_CalculatedFuelCharge    = @ResponseQTE_CalculatedFuelCharge,
        ResponseQTE_ETA                     = @ResponseQTE_ETA,
        ResponseQTE_PickupCutOffTime        = @ResponseQTE_PickupCutOffTime,
        ResponseQTE_RateCardCode            = @ResponseQTE_RateCardCode,
        ResponseQTE_RateCardDescription     = @ResponseQTE_RateCardDescription,
        ResponseQTE_Weight                  = @ResponseQTE_Weight
    WHERE ShipmentDomesticID = @ShipmentDomesticID;
END;
GO
