USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_BinTenantAllocation_CheckValidReAllocate]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Mar, 2025>
-- Description:	<Check Valid of Re-allocate Bay>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_BinTenantAllocation_CheckValidReAllocate]  
	@BinIds dbo.IdArray READONLY,
    @Tenants VARCHAR(4000) OUTPUT,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	SET @Message = '';
	SET @Tenants = '';

	-- check having ULD
	DECLARE @NumberOfULD INT;
	SELECT @NumberOfULD = COUNT(*)
	FROM dbo.ULD U
	WHERE U.LocBInID IN (SELECT Value FROM @BinIds)
	AND U.DELETED = 0
	AND EXISTS (
		SELECT 1
		FROM dbo.ULDLine UL
		WHERE UL.ULDID = U.ULDID
		AND UL.DELETED = 0
		GROUP BY UL.ULDID
		HAVING SUM(UL.TransactionQty) > 0
	);

	IF @NumberOfULD > 0
	BEGIN
		SET @Message = 'There are not empty ULDs at these location.';
		RETURN;
	END

	-- Get All other Tenant allocated
	DECLARE @TenantName VARCHAR(150);

	DECLARE tenant_cursor CURSOR FOR
	SELECT TenantName 
	FROM dbo.BinTenantAllocation bta
	JOIN @BinIds ac ON bta.BinID = ac.Value
	WHERE bta.Deleted = 0;

	OPEN tenant_cursor
	FETCH NEXT FROM tenant_cursor INTO @TenantName

	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- Append TenantName to @Tenants with a comma separator
		SET @Tenants = @Tenants + CASE WHEN @Tenants = '' THEN '' ELSE ',' END + @TenantName

		FETCH NEXT FROM tenant_cursor INTO @TenantName
	END

	CLOSE tenant_cursor
	DEALLOCATE tenant_cursor
END
GO
