USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_AutoCreatingPalletStorageInvoices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Feb, 2025>
-- Description:	<Auto Creating Pallet Storage Invoices>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_AutoCreatingPalletStorageInvoices]
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @ChargeItemName VARCHAR(200) = 'Storage - PALLET';
		DECLARE @ChargeItemID INT;
		
		-- get Charge ID
		SELECT @ChargeItemID = ChargeItemID
		FROM dbo.ChargeITem
		WHERE ChargeItemName = @ChargeItemName AND DELETED = 0 AND ChargeItemGroup = 'Storage' AND ChargeItemUnit = 'Week';

		IF @ChargeItemID IS NOT NULL
		BEGIN

			BEGIN TRANSACTION

			DECLARE @SectionID INT;
			DECLARE @TenantCode VARCHAR(10);
			DECLARE @WarehouseCode VARCHAR(20);

			DECLARE @Charge DECIMAL(10, 2);
			DECLARE @Currency VARCHAR(20);
			DECLARE @ChargeType VARCHAR(20); -- Standard or Custom
			DECLARE @InvoiceReferences VARCHAR(500) = NULL;

			DECLARE @LocationFound BIT;
			DECLARE @LocationLabel  VARCHAR(20);

			DECLARE @LocWarehouseCode NVARCHAR(1),
					@LocAreaCode NVARCHAR(1),
					@LocSectionCode NVARCHAR(3),
					@StorageType VARCHAR(50),
					@LocAreaID INT,
					@LocWarehouseID INT;
			
			-- init cursor-----------
			DECLARE @ULDCurrentLocation VARCHAR(50);

			IF CURSOR_STATUS('global', 'ULD_Cursor') >= 0
			BEGIN
				IF CURSOR_STATUS('global', 'ULD_Cursor') = 1
					CLOSE ULD_Cursor;

				DEALLOCATE ULD_Cursor;
			END

			DECLARE ULD_Cursor CURSOR FOR 
			SELECT DISTINCT 
				U.ULDCurrentLocation, 
				U.TenantCode, 
				U.WarehouseCode 
			FROM dbo.ULD U
			WHERE U.IsPallete = 1
			AND U.ULDCurrentLocation IS NOT NULL
			AND U.DELETED = 0
			AND EXISTS (
				SELECT 1 
				FROM dbo.ULDLine UL
				WHERE 
					UL.ULDID = U.ULDID
					AND U.Status <> 'Draft'
					AND UL.TransactionType  <> 'Allocated'
					AND UL.DELETED = 0
				GROUP BY UL.ULDID
				HAVING SUM(UL.TransactionQty) > 0
			);

			OPEN ULD_Cursor;

			FETCH NEXT FROM ULD_Cursor INTO @ULDCurrentLocation, @TenantCode, @WarehouseCode;

			WHILE @@FETCH_STATUS = 0
			BEGIN

				SET @Charge = 0;
				SET @Currency = '';
				SET @StorageType = '';
				
				SELECT  @Charge = ISNULL(ChargeItemPrice, 0),
						@Currency = ISNULL(ChargeItemCurrency, '')
				FROM dbo.ChargeItemCost 
				WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode AND ChargeItemId = @ChargeItemID;			

				SET @InvoiceReferences = dbo.fn_GetLocationNameFromCode(@ULDCurrentLocation);
				IF @InvoiceReferences IS NULL
				BEGIN
					SET @InvoiceReferences = @ULDCurrentLocation;
				END
				ELSE
				BEGIN

					IF CHARINDEX(' B:', @InvoiceReferences) > 0
					BEGIN
						SET @InvoiceReferences = LEFT(@InvoiceReferences, CHARINDEX(' B:', @InvoiceReferences) - 1);
					END

					SET @LocationFound = 0;
					SET @LocationLabel = '';

					EXEC [dbo].[SP_VI_TBL_LocTempLocation_CheckLocationAvailable]
						 @LocationCode = @ULDCurrentLocation,         
						 @LocationFound = @LocationFound OUTPUT,
						 @LocationLabel = @LocationLabel OUTPUT,
						 @IsEmpty = NULL;

					IF @LocationFound = 1
					BEGIN
						SET @StorageType = 'Temp';
						SET @InvoiceReferences  = @InvoiceReferences + ' B: ' + @LocationLabel;
					END	
					ELSE
					BEGIN
						SET @LocWarehouseCode = SUBSTRING(@ULDCurrentLocation, 1, 1);
						SET @LocAreaCode = SUBSTRING(@ULDCurrentLocation, 2, 1);
						SET @LocSectionCode = SUBSTRING(@ULDCurrentLocation, 3, 3);

						-- Get LocWarehouse ID
						SELECT @LocWarehouseID = LocWarehouseID
						FROM dbo.LocWarehouse
						WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

						IF @LocWarehouseID IS NOT NULL
						BEGIN
							SELECT @LocAreaID = LocAreaID
							FROM dbo.LocArea
							WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

							IF @LocAreaID IS NOT NULL
							BEGIN
								SELECT @StorageType = StorageType
								FROM dbo.LocSection
								WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;
							END
						END	
					END
				END

				IF @StorageType = '' OR @StorageType = 'Bulk' OR @StorageType = 'Receiving' OR @StorageType = 'Temp' 
				BEGIN
					INSERT INTO [dbo].[Invoice] (
						TenantCode,
						ChargeName,
						ChargeType,
						ChargeCategory,
						InvoiceReferences,
						WarehouseCode,
						Qty,
						Cost,
						Charge,
						Currency,
						Status,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
					VALUES (
						@TenantCode,
						@ChargeItemName,
						'PalletStorage',
						'Storage',
						@InvoiceReferences,
						@WarehouseCode,
						1,
						@Charge,
						@Charge,
						@Currency,
						'Pending',
						0, -- Deleted
						GETDATE(),     
						'Scheduler'
					);
				END
				
				FETCH NEXT FROM ULD_Cursor INTO @ULDCurrentLocation, @TenantCode, @WarehouseCode;

			END;

			CLOSE ULD_Cursor;
			DEALLOCATE ULD_Cursor;
			
			
			-- Commit the transaction
			COMMIT TRANSACTION;
		END


    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;

END
GO
