USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_UpdateAppliedTenantStatusOfReportSchedules]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Jan, 2025>
-- Description:	<Update Apply Status of Tenant for List of Report Schedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_UpdateAppliedTenantStatusOfReportSchedules]  
	 @ReportScheduleIds dbo.IdArray READONLY,
	 @TenantCode VARCHAR(10),	
	 @CreatedDateTime DATETIME = NULL,
     @CreatedBy VARCHAR(100) = NULL,
	 @Message   VARCHAR(4000) OUTPUT -- Output parameter for error messages
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ReportScheduleId INT;
		DECLARE @Interval VARCHAR(50);
		DECLARE @Output VARCHAR(50);
		DECLARE @StoreProcedureName VARCHAR(200);

		
		DELETE FROM dbo.TenantReportSchedule WHERE TenantCode = @TenantCode;

		-- Declare the cursor
		DECLARE ReportScheduleIdCursor CURSOR FOR
		SELECT Value FROM @ReportScheduleIds;

		-- Open the cursor
		OPEN ReportScheduleIdCursor;

		-- Fetch the first row
		FETCH NEXT FROM ReportScheduleIdCursor INTO @ReportScheduleId;

		-- Loop through the rows
		WHILE @@FETCH_STATUS = 0
		BEGIN

			-- get report schedule info
			SELECT @Interval = Interval, @Output = [Output], @StoreProcedureName = StoreProcedureName
			FROM dbo.ReportSchedule  
			WHERE  DELETED = 0 AND ReportScheduleID = @ReportScheduleId;

			INSERT INTO dbo.TenantReportSchedule (TenantCode, ReportScheduleId, Interval, [Output], StoreProcedureName, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@TenantCode, @ReportScheduleId, @Interval, @Output, @StoreProcedureName, 0, @CreatedDateTime, @CreatedBy);
			
			-- Fetch the next row
			FETCH NEXT FROM ReportScheduleIdCursor INTO @ReportScheduleId;
		END;

		-- Close and deallocate the cursor
		CLOSE ReportScheduleIdCursor;
		DEALLOCATE ReportScheduleIdCursor;

		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
