USE [3PLWMS_Developers];
GO

/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_ViewStandardService]    Script Date: 28/04/2026 ******/
SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

-- =============================================
-- Author:      <Nam Nguyen>
-- Create date: <28 Apr, 2026>
-- Description: <Get detail information of Standard Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APIntegration_ViewStandardService]
    @ServiceID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM dbo.AP_StandardService
    WHERE ServiceID = @ServiceID
      AND Deleted = 0;
END;
GO