USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_SetCurrentWarehouseForUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 Oct, 2024>
-- Description:	<Set Current Warehouse of User>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_SetCurrentWarehouseForUser] 
	@AzureUserId VARCHAR(50), 
	@WarehouseCode VARCHAR(20),
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		IF EXISTS(SELECT 1 FROM dbo.CurrentWarehouseUser WHERE AzureUserId = @AzureUserId)
		BEGIN
			UPDATE dbo.CurrentWarehouseUser
			SET WarehouseCode = @WarehouseCode,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE AzureUserId = @AzureUserId;
		END
		ELSE
		BEGIN
			INSERT INTO dbo.CurrentWarehouseUser
			(
				WarehouseCode,
				AzureUserId,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@WarehouseCode,
				@AzureUserId,
				0,
				@LastEditedDateTime,
				@LastEditedBy
			)
		END;
       
        PRINT 'Update successful for AzureUserId: ' + @AzureUserId;
    END TRY
    BEGIN CATCH
        -- Handle the error
	 DECLARE @ErrorMessage NVARCHAR(4000)
	 DECLARE @ErrorSeverity INT
	 DECLARE @ErrorState INT

	 SELECT 
		 @ErrorMessage = ERROR_MESSAGE(),
		 @ErrorSeverity = ERROR_SEVERITY(),
		 @ErrorState = ERROR_STATE()

	 -- Rethrow the error
	 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
