USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_BinTenantAllocation_ReAllocate]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Feb, 2025>
-- Description:	<Re-allocate Bay>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_BinTenantAllocation_ReAllocate]  
	@TenantCode VARCHAR(10) = NULL,
	@BinIds dbo.IdArray READONLY,
	@ChargeImmediately BIT,
	@ChargeDate DATETIME = NULL,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @AllBinIds dbo.IdArray;
		DECLARE @TenantName VARCHAR(150);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @IsSetEmpty BIT;
		DECLARE @TenantStorageType VARCHAR(50);

		IF @TenantCode IS NULL
		BEGIN
			SET @IsSetEmpty = 1;
		END
		ELSE
		BEGIN
	     -- Check if TenantCode is at least 6 characters long 
		 IF LEN(@TenantCode) < 6
			BEGIN
				SET @Message = 'TenantCode must be at least 6 characters long.'
				ROLLBACK TRANSACTION;
				RETURN;
			END

			-- Check for TenantCode not existed
			SELECT @TenantName = TenantName,
			       @TenantStorageType = StorageType
			FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0;
			IF @TenantName IS NULL
			BEGIN
				SET @Message = 'TenantCode does not exist.';
				ROLLBACK TRANSACTION;
				RETURN;
			END
			SET @IsSetEmpty = 0;
		END
		
		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.LocBinID IN (SELECT Value FROM @AllBinIds)
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);

		IF @NumberOfULD > 0
		BEGIN
			SET @Message = 'There are ULDs at these location.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- get warehoue code
		SELECT @WarehouseCode = w.WarehouseCode
		FROM LocBin b
		JOIN LocShelf sf ON b.LocShelfID = sf.LocShelfID
		JOIN LocColumn c ON sf.LocColumnID = c.LocColumnID
		JOIN LocRow r ON c.LocRowID = r.LocRowID
		JOIN LocSection s ON r.LocSectionID = s.LocSectionID
		JOIN LocArea a ON s.LocAreaID = a.LocAreaID
		JOIN LocWarehouse w ON a.LocWarehouseID = w.LocWarehouseID
		WHERE b.LocBinID IN (SELECT (Value) FROM @BinIds);

		-- remove old
		UPDATE dbo.BinTenantAllocation 
		SET DELETED = 1
		WHERE BinID IN (SELECT Value FROM @BinIds);

		IF @IsSetEmpty = 0
		BEGIN

			IF @TenantStorageType IS NOT NULL AND @TenantStorageType = 'Manual'
			BEGIN
				SET @Message = 'Bin Allocated are not allowed for the Tenant Storage Type is Manual';
				ROLLBACK TRANSACTION;
				RETURN;
			END

			IF @ChargeDate IS NULL
			BEGIN
				SET @ChargeDate = DATEADD(DAY, 1 - DATEPART(WEEKDAY, GETDATE()), CAST(GETDATE() AS DATE));
			END

			--insert new
			INSERT INTO dbo.BinTenantAllocation 
			(TenantCode, TenantName, SectionID, RowID, ColumnID, ShelfID, BinID, AllocationDate, Deleted, CreatedDateTime, CreatedBy)
			SELECT 
				@TenantCode,  
				@TenantName,
				A.LocSectionID,
				A.LocRowID,
				A.LocColumnID,
				A.LocShelfID,
				A.LocBinID,
				@ChargeDate,          
				0,                   
				@CreatedDateTime,   
				@CreatedBy          
			FROM 
			(
				SELECT 
					s.LocSectionID,
					r.LocRowID,
					c.LocColumnID,
					sh.LocShelfID,
					b.LocBinID
				FROM 
					LocBin b
				JOIN 
					LocShelf sh ON b.LocShelfID = sh.LocShelfID
				JOIN 
					LocColumn c ON sh.LocColumnID = c.LocColumnID
				JOIN 
					LocRow r ON c.LocRowID = r.LocRowID
				JOIN 
					LocSection s ON r.LocSectionID = s.LocSectionID
				WHERE 
					b.LocBinID IN (SELECT [Value] FROM @BinIds)
			) AS A
		
			-- Charging
			IF @ChargeImmediately = 1
			BEGIN
				 PRINT 'Charge Immediately';
				 DECLARE @Qty INT;
				 SELECT @Qty = COUNT(*) FROM @BinIds;

				 EXEC [dbo].[SP_VI_TBL_Invoice_InsertBinAllocationInvoice]
					@TenantCode = @TenantCode,
					@WarehouseCode = @WarehouseCode,
					@Qty = @Qty,
					@CreatedDateTime = @CreatedDateTime,
					@CreatedBy = @CreatedBy,
					@Message = @Message OUTPUT;	
			END
			ELSE  
			BEGIN
				 PRINT 'Charge Next Month';
			END
		END

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
