USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_GetAvailableQtyOfULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 Jun, 2025>
-- Description:	<Get Available Qty of ULD >
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_GetAvailableQtyOfULD]  
	@ULDID INT,
	@Qty INT OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT  
		@Qty = SUM(UL.TransactionQty)
	FROM dbo.ULD U
	INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
	WHERE 
		U.ULDID = @ULDID
		AND UL.Deleted = 0
	GROUP BY
		U.ULDID
	HAVING 
		SUM(UL.TransactionQty) > 0
   
END
GO
