USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ListAllStockTakePendingServices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Get All Pending Stock Take Services>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_Service_ListAllStockTakePendingServices]
     @WarehouseCode VARCHAR(20),
	 @TenantCode VARCHAR(20) = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	CREATE TABLE #TempServiceStocktake (
		ServiceID INT,
		ServiceName VARCHAR(105),
		ServiceNumber VARCHAR(50),
		Status VARCHAR(20),
		ServiceDescription VARCHAR(1000),
		StocktakeType VARCHAR(100),
		NumberItems INT,
		TenantCode VARCHAR(20),
		TenantName VARCHAR(155)
	);


	IF @TenantCode IS NULL
	BEGIN
		INSERT INTO #TempServiceStocktake (
			ServiceID,
			ServiceName,
			ServiceNumber,
			Status,
			ServiceDescription,
			StocktakeType,
			NumberItems,
			TenantCode,
			TenantName
		)
		SELECT 
			s.ServiceID,
			s.ServiceName,
			s.ServiceNumber,
			s.[Status],
			s.ServiceDescription,
			s.AdditionalType AS StocktakeType,
			CASE 
				WHEN s.AdditionalType = 'Full' THEN 0
				ELSE sti.NumberItems
			END AS NumberItems,
			s.TenantCode,
			t.TenantName
		FROM dbo.Service s
		LEFT JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
		LEFT JOIN (SELECT ServiceID, COUNT(ServiceID) as NumberItems FROM StockTakeItem WHERE DELETED = 0 GROUP BY ServiceID) sti 
		ON sti.ServiceID = s.ServiceID
		WHERE s.Deleted = 0 
			  AND s.WarehouseCode = @WarehouseCode 
			  AND s.ServiceType = 'Stocktake' 
			  AND (s.Status = 'Pending' OR s.Status = 'InProgress');
	END
	ELSE
	BEGIN
		INSERT INTO #TempServiceStocktake (
			ServiceID,
			ServiceName,
			ServiceNumber,
			Status,
			ServiceDescription,
			StocktakeType,
			NumberItems,
			TenantCode,
			TenantName
		)
		SELECT 
			s.ServiceID,
			s.ServiceName,
			s.ServiceNumber,
			s.[Status],
			s.ServiceDescription,
			s.AdditionalType AS StocktakeType,
			CASE 
				WHEN s.AdditionalType = 'Full' THEN 0
				ELSE sti.NumberItems
			END AS NumberItems,
			s.TenantCode,
			t.TenantName
		FROM dbo.Service s
		LEFT JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
		LEFT JOIN (SELECT ServiceID, COUNT(ServiceID) as NumberItems FROM StockTakeItem WHERE DELETED = 0 GROUP BY ServiceID) sti 
		ON sti.ServiceID = s.ServiceID
		WHERE s.Deleted = 0 
			  AND s.WarehouseCode = @WarehouseCode 
			  AND s.TenantCode = @TenantCode
			  AND s.ServiceType = 'Stocktake' 
			  AND (s.Status = 'Pending' OR s.Status = 'InProgress');
	END
	
	SELECT T.*, S.Total, S1.Implemented FROM #TempServiceStocktake T
	LEFT JOIN 
	(SELECT ServiceID , COUNT(ServiceID) as Total FROM dbo.StockTakeSchedule s WHERE Deleted = 0 GROUP BY ServiceID) S ON S.ServiceID = T.ServiceID
	LEFT JOIN 
	(SELECT ServiceID , COUNT(ServiceID) as Implemented FROM dbo.StockTakeSchedule s WHERE Status IN ('End') AND Deleted = 0 GROUP BY ServiceID) S1 
	ON S1.ServiceID = T.ServiceID
END
GO
