USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_CP_Update_Manifest_JobNumber]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CP_Update_Manifest_JobNumber]
    @ManifestID INT,
    @JobNumber NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.CPManifest
    SET jobNumber = @JobNumber
    WHERE ManifestID = @ManifestID;
END;
GO
