USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_DeleteEmptyULDByBarcode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Feb, 2025>
-- Description:	<Delete Empty ULD By Barcode>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_DeleteEmptyULDByBarcode] 
	@ULDBarcode			VARCHAR(30), 
	@TransactionUser	VARCHAR(100),
	@Message			VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
  
    BEGIN TRY
		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.ULD WHERE ULDBarcode = @ULDBarcode AND Deleted = 1)
		BEGIN
			 SET @Message = 'ULD has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @ULDID INT;
		SELECT @ULDID = ULDID FROM dbo.ULD WHERE ULDBarcode = @ULDBarcode AND Deleted = 0;

		IF @ULDID IS NULL
		BEGIN
			 SET @Message = 'ULD does not existed.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @OldTransactionQty INT; 
		SELECT @OldTransactionQty = Sum(TransactionQty)
		FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;

		IF @OldTransactionQty > 0
		BEGIN
			 SET @Message = 'ULD is not empty.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @CurrentDateTime DATETIME = GETDATE();

		UPDATE dbo.ULD
		SET Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
			LastEditedDateTime = @CurrentDateTime,
			LastEditedBy = @TransactionUser
		WHERE ULDID = @ULDID;

		UPDATE dbo.ULDLine
		SET Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
			LastEditedDateTime = @CurrentDateTime,
			LastEditedBy = @TransactionUser
		WHERE ULDID = @ULDID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ULDID: ' + CAST(@ULDID AS NVARCHAR);
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ULDID: ' + CAST(@ULDID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
