USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_AutoCompleteWavePacking]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Jan, 2026>
-- Description:	<Complete Wave Packing request>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_AutoCompleteWavePacking] 
	@AutoItemTradeUnitID INT,	
	@AutoULDBarcode NVARCHAR(30),
	@WaveNumber VARCHAR(11),
	@OperationDateTime DATETIME = NULL,
	@OperationBy VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY		

		BEGIN TRANSACTION

		DECLARE @WaveID INT;
		DECLARE @ManualPacking BIT;

		-- get info
		SELECT @WaveID = WaveID,
			   @ManualPacking = ManualPacking
		FROM dbo.Wave
		WHERE WaveNumber = @WaveNumber AND Deleted = 0;

		IF @ManualPacking = 0
		BEGIN
			SET @Message = 'Auto packing is not allowed for this wave.';
			ROLLBACK TRANSACTION;
			RETURN;
		END


		-- Create temporary table to store results
		CREATE TABLE #PackingTaskResults (
			OrderNumber VARCHAR(50),
			ShipmentID INT,
			Carrier VARCHAR(50),
			IsLocal BIT,
			OrderSource VARCHAR(50),
			SourceOrderNumber VARCHAR(50),
			TenantName VARCHAR(100)
		);

		-- Declare cursor for order numbers
		DECLARE @OrderNumber VARCHAR(50);
		DECLARE @IsAllow BIT,
				@IsINTShipment BIT,
				@DefaultBoxID INT,
				@DefaultBoxName VARCHAR(200),
				@IsAutoPacking BIT;

		DECLARE OrderNumbers_Cursor CURSOR FOR
			SELECT OrderNumber FROM dbo.Waveline WHERE Deleted = 0 AND WaveID = @WaveID;

		OPEN OrderNumbers_Cursor;
		FETCH NEXT FROM OrderNumbers_Cursor INTO @OrderNumber;
		WHILE @@FETCH_STATUS = 0
		BEGIN
			SET @Message = NULL;

			EXEC [dbo].[SP_VI_TBL_Wave_StartPackingTask]
				@WaveID = @WaveID,
				@OperationDateTime = @OperationDateTime,
				@OperationBy = @OperationBy,
				@OrderNumber = @OrderNumber,
				@IsAllow = @IsAllow OUTPUT,
				@IsINTShipment = @IsINTShipment OUTPUT,
				@DefaultBoxID = @DefaultBoxID OUTPUT,
				@DefaultBoxName = @DefaultBoxName OUTPUT,
				@IsAutoPacking = @IsAutoPacking OUTPUT,
				@Message = @Message OUTPUT;

			IF @Message IS NOT NULL AND @Message <> ''
			BEGIN
				ROLLBACK TRANSACTION;
				RETURN;
			END

			IF ISNULL(@IsAllow, 1) = 0
			BEGIN
				SET @Message = 'This packing task has been started by another staff.';
				ROLLBACK TRANSACTION;
				RETURN;
			END

			SET @Message = NULL;

			-- Execute stored procedure and capture results into temp table
			INSERT INTO #PackingTaskResults (OrderNumber, ShipmentID, Carrier, IsLocal, OrderSource, SourceOrderNumber, TenantName)
			EXEC [dbo].[SP_VI_TBL_Wave_AutoCompletePackingTask]
				@WaveID = @WaveID,
				@CompletedDateTime = @OperationDateTime,
				@OperationBy = @OperationBy,
				@AutoOrderNumber = @OrderNumber,
				@AutoItemTradeUnitID = @AutoItemTradeUnitID,
				@AutoULDBarcode = @AutoULDBarcode,
				@Message = @Message OUTPUT;

				IF @Message IS NOT NULL AND @Message <> ''
				BEGIN					
					 ROLLBACK TRANSACTION;
					 RETURN;				
				END
			
			FETCH NEXT FROM OrderNumbers_Cursor INTO @OrderNumber;
		END

		CLOSE OrderNumbers_Cursor;
		DEALLOCATE OrderNumbers_Cursor;		
		
		-- Commit the transaction
        COMMIT TRANSACTION

		SELECT * FROM #PackingTaskResults;
		
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
