USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_ListWaves]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 Jun, 2025>
-- Description:	<List Wave By Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_ListWaves]
	 @WarehouseCode NVARCHAR(10) = NULL,	
     @WaveStatus NVARCHAR(20) = NULL,
	 @WaveType NVARCHAR(50),  --Orders - Kitting - Release Stock - Destroy Stock
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
	 @PageSize INT = 10,
	 @OrderBy NVARCHAR(50) = 'WaveID',
	 @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);
	DECLARE @WarehouseCondition NVARCHAR(100);

	IF @WarehouseCode IS NOT NULL
	BEGIN
		SET @WarehouseCondition = N' AND WarehouseCode = ''' + @WarehouseCode + N'''';
	END
	ELSE
	BEGIN
		SET @WarehouseCondition = N'';
	END


	IF @WaveStatus IS NOT NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave WHERE WaveStatus = @WaveStatus 
						       AND WaveType = @WaveType 
							   AND DELETED = 0
							   AND (
								   @WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode
							   );

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = 
				N'SELECT * 
				  FROM dbo.Wave 
				  WHERE WaveStatus = ''' + @WaveStatus + N''' 
					AND WaveType   = ''' + @WaveType   + N''' 
					AND Deleted    = 0 ' 
				  + @WarehouseCondition + 
				N' ORDER BY ' + QUOTENAME(@OrderBy) + N' ' + @OrderDir + 
				N' OFFSET ' + CAST(@Offset AS NVARCHAR(20)) + N' ROWS 
				  FETCH NEXT ' + CAST(@PageSize AS NVARCHAR(20)) + N' ROWS ONLY';

		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave 
			WHERE DELETED = 0 
			AND WaveStatus = @WaveStatus 
			AND WaveType = @WaveType 
			AND (
				LOWER(WaveNumber) LIKE '%' + LOWER(@Search) + '%' 				
			)
			AND (
				@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT * FROM dbo.Wave 
				WHERE DELETED = 0 
				AND WaveStatus = ''' + @WaveStatus + ''' 
				AND WaveType = ''' + @WaveType + ''' 
				AND (
					LOWER(WaveNumber) LIKE ''%' + LOWER(@Search) + '%'' 					
				) '  + @WarehouseCondition + 
				' ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END 
	END
	ELSE -- @WaveStatus IS NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave WHERE DELETED = 0 
					            AND WaveType = @WaveType
								AND (
								   @WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode
							   );

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT * FROM dbo.Wave WHERE DELETED = 0 AND WaveType = ''' + @WaveType + ''''  +  @WarehouseCondition  + ' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave 
			WHERE DELETED = 0 AND WaveType = @WaveType			
			AND (
				LOWER(WaveNumber) LIKE '%' + LOWER(@Search) + '%' 				
			)
			AND (
				@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT * FROM dbo.Wave 
				WHERE DELETED = 0 
				AND WaveType = ''' + @WaveType + ''' 
				AND (
					LOWER(WaveNumber) LIKE ''%' + LOWER(@Search) + '%'' 					
				) '  +  @WarehouseCondition  +
				' ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END 
	END

    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL; 
END
GO
