USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CompleteStockTakeTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 April, 2025>
-- Description:	<Complete Stock Take Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_CompleteStockTakeTask] 
    @ServiceID INT,
	@StockTakeScheduleID INT,
	@CompletedDateTime  DATETIME = NULL,
	@OperationBy       VARCHAR(100) = NULL,
	@Results dbo.StockTakeResultType READONLY,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION
		
		DECLARE 
				@ServiceStatus VARCHAR(20),
				@ServiceType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@Status VARCHAR(20),
				@TenantCode VARCHAR(10);

		SELECT @ServiceStatus = Status,
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode
		FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;
		
		IF @ServiceStatus != 'InProgress'
		BEGIN
			SET @Message = 'Service Status is not In Progress.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceType IS NULL OR @ServiceType != 'Stocktake'
		BEGIN
			SET @Message = 'This Service is not Stocktake Service.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		SELECT @Status = [Status] 
		FROM dbo.StockTakeSchedule 
		WHERE StockTakeScheduleID = @StockTakeScheduleID AND DELETED = 0;

		IF @Status IS NULL OR @Status != 'Taken'
		BEGIN
			SET @Message = 'This StockTake is over.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		UPDATE dbo.StockTakeSchedule
			SET [Status] = 'End',
			    CompletedDate = @CompletedDateTime,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @CompletedDateTime,
				LastEditedBy = @OperationBy
			WHERE StockTakeScheduleID = @StockTakeScheduleID;


		-- Insert Result
		DECLARE result_cursor CURSOR FOR
		SELECT Qty, ULDID, ItemNumber, ScannedType, ScannedUnit, ScannedQty, ScannedNumber
		FROM @Results;

		-- Variables to hold data from cursor
		DECLARE 
			@ItemID INT,
			@Qty INT,
			@ULDID INT,
			@ItemNumber NVARCHAR(30),
			@ULDCurrentLocation VARCHAR(50),
			@ULDBarcode VARCHAR(50),
			@ItemName VARCHAR(250),
			@ScannedType VARCHAR(30),
			@ScannedUnit VARCHAR(30),
			@ScannedNumber VARCHAR(MAX),
			@ScannedQty INT,
			@AvailableQty INT;

		-- Open cursor
		OPEN result_cursor;

		FETCH NEXT FROM result_cursor INTO @Qty, @ULDID, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber;

		-- Loop through the rows
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			-- get ItemID
			SELECT @ItemID = ItemID 
			FROM dbo.Items 
			WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode AND DELETED = 0;

			-- get ULD info
			SELECT @ULDCurrentLocation = ULDCurrentLocation, @ULDBarcode = ULDBarcode, @ItemName = ItemName
			FROM dbo.ULD
			WHERE ULDID = @ULDID AND DELETED = 0;

			SET @AvailableQty = 0;

			EXEC [dbo].[SP_VI_TBL_ULD_GetAvailableQtyOfULD]
				 @ULDID = @ULDID,
				 @Qty = @AvailableQty OUTPUT;

			-- insert
			INSERT INTO [dbo].[StockTakeResult] (
				ServiceID,
				StockTakeScheduleID,
				ItemID,
				ULDID,
				TenantCode,
				ULDBarcode,
				ItemName,
				ItemNumber,
				ULDCurrentLocation,
				StockQty,
				Qty,
				ScannedType,
				ScannedUnit,
				ScannedQty,
				ScannedNumber,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES (
				@ServiceID,
				@StockTakeScheduleID,
				@ItemID,
				@ULDID,
				@TenantCode,
				@ULDBarcode,
				@ItemName,
				@ItemNumber,
				@ULDCurrentLocation,
				@AvailableQty,
				@Qty,
				@ScannedType,
	            @ScannedUnit,
	            @ScannedQty,
				@ScannedNumber,
				0,
				@CompletedDateTime,
				@OperationBy
			);

			-- Fetch next row
			FETCH NEXT FROM result_cursor INTO @Qty, @ULDID, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber;
		END;

		-- Clean up
		CLOSE result_cursor;
		DEALLOCATE result_cursor;

		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
