USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Log_InsertLog]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2024>
-- Description:	<Create Log>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Log_InsertLog]
	@LogTableName VARCHAR(255),
	@AppName VARCHAR(255),
    @LogFileName VARCHAR(255),
    @CallingInterfaceIPAddress VARCHAR(50) = NULL,
    @LoggedInUser VARCHAR(255),
    @FileName VARCHAR(255),
    @MessageType VARCHAR(50),
    @TransactionResult VARCHAR(10),
    @Message VARCHAR(MAX),
    @Comment1 VARCHAR(MAX) = NULL,
    @Comment2 VARCHAR(MAX) = NULL,
    @Comment3 VARCHAR(MAX) = NULL,
    @PayloadRequest VARCHAR(MAX) = NULL,
    @PayloadResponse VARCHAR(MAX) = NULL,
    @ResponseStatus VARCHAR(MAX) = NULL,
    @MobileDeviceID VARCHAR(40) = NULL,
	@OutputMessage VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	BEGIN TRY

		-- Check for tablle existed
		IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = @LogTableName AND TABLE_SCHEMA = 'dbo')
		BEGIN
			SET @OutputMessage = 'Table is not exists.'
			RETURN;
		END
        
		DECLARE @SQL NVARCHAR(MAX);

		-- Construct the dynamic SQL statement
		SET @SQL = N'INSERT INTO ' + QUOTENAME(@LogTableName) + N' (AppName, LogFileName, CallingInterfaceIPAddress, LoggedInUser, FileName, MessageType, TransactionResult, Message, Comment1, Comment2, Comment3, PayloadRequest, PayloadResponse, ResponseStatus, MobileDeviceID) ' +
				   N'VALUES (@AppName, @LogFileName, @CallingInterfaceIPAddress, @LoggedInUser, @FileName, @MessageType, @TransactionResult, @Message, @Comment1, @Comment2, @Comment3, @PayloadRequest, @PayloadResponse, @ResponseStatus, @MobileDeviceID)';

		-- Execute the dynamic SQL with sp_executesql to safely pass parameters
		EXEC sp_executesql 
			@SQL,
			N'@AppName NVARCHAR(100), @LogFileName NVARCHAR(100), @CallingInterfaceIPAddress NVARCHAR(50), @LoggedInUser NVARCHAR(50), @FileName NVARCHAR(100), @MessageType NVARCHAR(50), @TransactionResult NVARCHAR(50), @Message NVARCHAR(MAX), @Comment1 NVARCHAR(100), @Comment2 NVARCHAR(100), @Comment3 NVARCHAR(100), @PayloadRequest NVARCHAR(MAX), @PayloadResponse NVARCHAR(MAX), @ResponseStatus NVARCHAR(50), @MobileDeviceID NVARCHAR(50)',
			@AppName = @AppName,
			@LogFileName = @LogFileName,
			@CallingInterfaceIPAddress = @CallingInterfaceIPAddress,
			@LoggedInUser = @LoggedInUser,
			@FileName = @FileName,
			@MessageType = @MessageType,
			@TransactionResult = @TransactionResult,
			@Message = @Message,
			@Comment1 = @Comment1,
			@Comment2 = @Comment2,
			@Comment3 = @Comment3,
			@PayloadRequest = @PayloadRequest,
			@PayloadResponse = @PayloadResponse,
			@ResponseStatus = @ResponseStatus,
			@MobileDeviceID = @MobileDeviceID;

    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END
GO
