USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_MobileDevice_UpdateMobileDevice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Oct, 2024>
-- Description:	<Remove Mobile Device ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_MobileDevice_UpdateMobileDevice] 
    @MobileDeviceIdentifier VARCHAR(40),
	@Allow					BIT,
	@FirstEditedDateTime    DATETIME = NULL,
	@FirstEditedBy          VARCHAR(100) = NULL,
	@LastEditedDateTime     DATETIME = NULL,
	@LastEditedBy           VARCHAR(100) = NULL,
	@Message				VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.MobileDevice
		SET
			Allow = @Allow,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = @LastEditedDateTime,
			LastEditedBy = @LastEditedBy
		WHERE MobileDeviceIdentifier = @MobileDeviceIdentifier;

        PRINT 'Update successful for MobileDeviceIdentifier: ' + @MobileDeviceIdentifier;
    END TRY
    BEGIN CATCH
         -- Handle the error
		 DECLARE @ErrorMessage NVARCHAR(4000)
		 DECLARE @ErrorSeverity INT
		 DECLARE @ErrorState INT

		 SELECT 
			 @ErrorMessage = ERROR_MESSAGE(),
			 @ErrorSeverity = ERROR_SEVERITY(),
			 @ErrorState = ERROR_STATE()

		 -- Rethrow the error
		 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
 
END
GO
