USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_InsertIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Aug, 2025>
-- Description:	<Insert AP Integration>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_APIntegration_InsertIntegration]  
	@TenantCode VARCHAR(10),
    @WarehouseCode VARCHAR(10),
	@Token VARCHAR(100),
    @AccountNumber VARCHAR(50),
	@MLID VARCHAR(50),	
	@IsWarehouseAccount BIT = 0,
	@ImportReferenceNumber VARCHAR(50),	
	@ExportDeclarationNumber VARCHAR(50),
	@ServiceMappings [dbo].[APServiceType] READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @APIntegrationID INT;
		DECLARE @TenantName VARCHAR(150);

		SELECT @APIntegrationID = IntegrationID FROM dbo.APIntegration WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		  -- Check for duplicate 
		 IF @APIntegrationID IS NOT NULL  -- update
		 BEGIN
			UPDATE dbo.APIntegration
			SET
				AccountNumber = @AccountNumber,
				Token = @Token,
				MLID = @MLID,
				IsWarehouseAccount = @IsWarehouseAccount,
				ImportReferenceNumber = @ImportReferenceNumber,	
				ExportDeclarationNumber = @ExportDeclarationNumber,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
			WHERE IntegrationID = @APIntegrationID;

			-- remove all line
			UPDATE dbo.APIntegrationLine
			SET
				Deleted = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
			WHERE IntegrationID = @APIntegrationID;

		 END
		 ELSE
		 BEGIN -- INSERT 

			SELECT @TenantName = TenantName 
			FROM dbo.Tenant
			WHERE TenantCode = @TenantCode AND Deleted = 0;

			INSERT INTO dbo.APIntegration
			(
				TenantCode,
				TenantName,
				WarehouseCode,
				AccountNumber,
				Token,
				MLID,
				IsWarehouseAccount,
				ImportReferenceNumber,
				ExportDeclarationNumber, 
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@TenantCode,
				@TenantName,
				@WarehouseCode,
				@AccountNumber,
				@Token,
				@MLID,	
				@IsWarehouseAccount,
				@ImportReferenceNumber,	
				@ExportDeclarationNumber,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			SET @APIntegrationID = SCOPE_IDENTITY();
		 END

		 DECLARE @ServiceID INT,
				@OrderType NCHAR(20),
				@OrderServiceName NCHAR(100),
				@ServiceName NVARCHAR(50),
				@ServiceCode NVARCHAR(10),
				@ProductCode NVARCHAR(50),
				@Description NVARCHAR(50),
				@SignatureOnDeliveryReceiverDrop BIT,
				@SignatureAlwaysRequired BIT,
				@SignatureOnDeliverySenderDrop BIT,
				@NoSignature BIT,
				@AuthorityToLeave BIT,
				@AllowPartialDelivery BIT,
				@SafeDropEnabled BIT,
				@ProductID NVARCHAR(20)

		 DECLARE ServiceCursor CURSOR FOR
			SELECT 
				ServiceID,
				OrderType,
				OrderServiceName,
				ServiceName,
				ServiceCode,
				ProductCode,
				Description,
				SignatureOnDeliveryReceiverDrop,
				SignatureAlwaysRequired,
				SignatureOnDeliverySenderDrop,
				NoSignature,
				AuthorityToLeave,
				AllowPartialDelivery,
				SafeDropEnabled,
				ProductID
			FROM @ServiceMappings

		OPEN ServiceCursor

		FETCH NEXT FROM ServiceCursor INTO 
			@ServiceID,
			@OrderType,
			@OrderServiceName,
			@ServiceName,
			@ServiceCode,
			@ProductCode,
			@Description,
			@SignatureOnDeliveryReceiverDrop,
			@SignatureAlwaysRequired,
			@SignatureOnDeliverySenderDrop,
			@NoSignature,
			@AuthorityToLeave,
			@AllowPartialDelivery,
			@SafeDropEnabled,
			@ProductID

		WHILE @@FETCH_STATUS = 0
		BEGIN	
			IF @ServiceID IS NULL -- standard
			BEGIN

				SELECT @ServiceID = s.ServiceID
				FROM dbo.AP_Service s
				WHERE s.ServiceName = @ServiceName
				  AND s.ServiceCode = @ServiceCode
				  AND s.ProductCode = @ProductCode
				  AND s.Description = @Description
				  AND s.SignatureOnDeliveryReceiverDrop = @SignatureOnDeliveryReceiverDrop
				  AND s.SignatureAlwaysRequired = @SignatureAlwaysRequired
				  AND s.SignatureOnDeliverySenderDrop = @SignatureOnDeliverySenderDrop
				  AND s.NoSignature = @NoSignature
				  AND s.AuthorityToLeave = @AuthorityToLeave
				  AND s.AllowPartialDelivery = @AllowPartialDelivery
				  AND s.SafeDropEnabled = @SafeDropEnabled
				  AND s.ProductID = @ProductID
				  AND s.Deleted = 0;
		
				IF @ServiceID IS NULL
				BEGIN
					INSERT INTO dbo.AP_Service
					(
						ServiceName,
						ServiceCode,
						ProductCode,
						Description,
						SignatureOnDeliveryReceiverDrop,
						SignatureAlwaysRequired,
						SignatureOnDeliverySenderDrop,
						NoSignature,
						AuthorityToLeave,
						AllowPartialDelivery,
						SafeDropEnabled,
						ProductID,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
					VALUES
					(
						@ServiceName,
						@ServiceCode,
						@ProductCode,
						@Description,
						@SignatureOnDeliveryReceiverDrop,
						@SignatureAlwaysRequired,
						@SignatureOnDeliverySenderDrop,
						@NoSignature,
						@AuthorityToLeave,
						@AllowPartialDelivery,
						@SafeDropEnabled,
						@ProductID,
						0,
						@CreatedDateTime,
						@CreatedBy
					);

					SET @ServiceID = SCOPE_IDENTITY();
				END
			END

			-- insert line
			INSERT INTO dbo.APIntegrationLine
			(
				IntegrationID,
				ServiceID,
				ServiceName,
				OrderType,
				OrderServiceName,					
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@APIntegrationID,
				@ServiceID,
				@ServiceName,
				@OrderType,
				@OrderServiceName,							
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);


			FETCH NEXT FROM ServiceCursor INTO 
				@ServiceID,
				@OrderType,
				@OrderServiceName,
				@ServiceName,
				@ServiceCode,
				@ProductCode,
				@Description,
				@SignatureOnDeliveryReceiverDrop,
				@SignatureAlwaysRequired,
				@SignatureOnDeliverySenderDrop,
				@NoSignature,
				@AuthorityToLeave,
				@AllowPartialDelivery,
				@SafeDropEnabled,
				@ProductID
		END

		CLOSE ServiceCursor
		DEALLOCATE ServiceCursor

		 
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
