USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_SectionPrinter_DeleteSectionPrinter]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Soft Delete SectionPrinter>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_SectionPrinter_DeleteSectionPrinter] 
	@SectionPrinterID INT, 
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.SectionPrinter WHERE SectionPrinterID = @SectionPrinterID AND Deleted = 1)
		BEGIN
			 SET @Message = 'SectionPrinter has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END
		
        UPDATE dbo.SectionPrinter
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE SectionPrinterID = @SectionPrinterID;
		
        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for SectionPrinterID: ' + CAST(@SectionPrinterID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating SectionPrinterID: ' + CAST(@SectionPrinterID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
