USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_StartPickingTaskOfKitting]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 April, 2025>
-- Description:	<Start Picking Task of Kitting>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_StartPickingTaskOfKitting] 
    @WaveID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100),
	@PickingScheduleID INT OUTPUT,
	@ULDCurrentLocation VARCHAR(50) OUTPUT,
	@ItemName VARCHAR(250) OUTPUT,
	@ItemNumber VARCHAR(30) OUTPUT,
	@WarehouseName VARCHAR(200) OUTPUT,
	@AreaName    VARCHAR(200) OUTPUT,
	@SectionName VARCHAR(200) OUTPUT,
	@RowName     VARCHAR(200) OUTPUT,
	@ColumnName  VARCHAR(200) OUTPUT,
	@BinName     VARCHAR(200) OUTPUT,
	@HasMultipleSBins BIT OUTPUT,
	@WaveStatus VARCHAR(20) OUTPUT,
	@PickStatus VARCHAR(20) OUTPUT,
	@Qty INT OUTPUT,
	@ServiceID INT OUTPUT,
	@IsEnough BIT OUTPUT,
	@NumberOfRequiredKittings INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY		

		BEGIN TRANSACTION

		SET @HasMultipleSBins = 0;
		SET @ULDCurrentLocation = '';
		SET @ItemName = '';
		SET @ItemNumber = '';
		SET @WarehouseName = '';
		SET @AreaName = '';
		SET @SectionName = '';
		SET @RowName  = '';
		SET @ColumnName = '';
		SET @BinName = '';
		SET @HasMultipleSBins = 0;
		SET @WaveStatus = '';
		SET @PickStatus = '';
		SET @Qty = 0;
		SET @ServiceID = 0;
		SET @IsEnough = 1;		

		DECLARE @BinID INT,
				@ULDID INT,
				@ServiceStatus VARCHAR(20),
				@ServiceType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10);

		DECLARE @OrderNumber VARCHAR(50);
		DECLARE @ServiceNumber VARCHAR(50);

		-- get wave status
		SELECT 	@WaveStatus = WaveStatus FROM dbo.Wave WHERE WaveID = @WaveID AND Deleted = 0;

		-- get service info from wave
		SELECT @OrderNumber = OrderNumber,			  
			   @PickStatus = PickStatus,
			   @ServiceNumber = SourceOrderNumber
		FROM dbo.WaveLine WHERE WaveID = @WaveID AND Deleted = 0;

		-- get service from service
		SELECT @ServiceID = ServiceID,
			   @ServiceStatus = Status,
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode
		FROM dbo.Service WHERE ServiceNumber = @ServiceNumber AND Deleted = 0;

		-- get required qty
		SELECT @NumberOfRequiredKittings = Qty FROM dbo.KittingItem WHERE ServiceID = @ServiceID AND Deleted = 0;

		IF @ServiceType IS NULL OR @ServiceType != 'Kitting'
		BEGIN
			SET @Message = 'This Service is not Kitting Service.';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- Check for Tenant Code
		IF @ServiceStatus = 'Pending'
		BEGIN
			SET @Message = 'This Service has not started yet.';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @WaveStatus = 'Pending'
		BEGIN
			-- Update wave status
			UPDATE dbo.Wave
			SET 
				WaveStatus = 'Started',	
				StepStatus = 'Started',	
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @OperationDateTime,
				LastEditedBy = @OperationBy
			WHERE WaveID = @WaveID AND Deleted = 0;	
			
			-- update status of Fulfilment
			UPDATE dbo.Fulfilment
			SET 
				FulfilmentStatus = 'Started',
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @OperationDateTime,
				LastEditedBy = @OperationBy
			WHERE OrderNumber = @OrderNumber AND Deleted = 0;			

		END


		IF @PickStatus = 'Pending'
		BEGIN
			-- Update pick status
			UPDATE dbo.WaveLine
			SET 				
				PickStatus =  'Started',
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @OperationDateTime,
				LastEditedBy = @OperationBy
			WHERE WaveID = @WaveID AND Deleted = 0;	
		END				

		-- Declare
		CREATE TABLE #TempKittingTaskTable
		(
			ULDID INT,
			ULDBarcode VARCHAR(30),
			ItemBarcode VARCHAR(30),
			ItemNumber VARCHAR(30),
			ItemName VARCHAR(250),
			UnitQuantity INT,
			TrackSerialOnReceipt BIT,
			TradeUnit VARCHAR(20),
			ULDType VARCHAR(30)
		);
		
		
		-- Get Existed 
		SELECT TOP 1 @PickingScheduleID = PickingScheduleID, 
					@ULDID = ULDID, 
		            @ItemName = ItemName, @ItemNumber = ItemNumber,
					@WarehouseName = WarehouseName,
					@AreaName  = AreaName,
					@SectionName = SectionName,
					@RowName = RowName,
					@ColumnName = ColumnName,
					@BinName = BinName,
					@BinID = BinID,
					@ULDCurrentLocation = ULDCurrentLocation,
					@Qty = Qty
		FROM dbo.PickingSchedule 
		WHERE FulfilmentOrder = @ServiceNumber AND DELETED = 0 AND FulfilmentType = 'Kitting' AND STATUS = 'Taken' AND OperationStaff = @OperationBy
		ORDER BY LocationOrderNumber;

		-- There is no existed and get new one
		IF @PickingScheduleID IS NULL
		BEGIN

			SELECT TOP 1 @PickingScheduleID = PickingScheduleID, 
						@ULDID = ULDID,
						@ItemName = ItemName, @ItemNumber = ItemNumber,
						@WarehouseName = WarehouseName,
						@AreaName  = AreaName,
						@SectionName = SectionName,
						@RowName = RowName,
						@ColumnName = ColumnName,
						@BinName = BinName,
						@BinID = BinID,
						@ULDCurrentLocation = ULDCurrentLocation,
						@Qty = Qty
			FROM dbo.PickingSchedule 
			WHERE FulfilmentOrder = @ServiceNumber AND DELETED = 0 AND FulfilmentType = 'Kitting' AND STATUS = 'Init' AND OperationStaff IS NULL
			ORDER BY LocationOrderNumber;

			IF @PickingScheduleID IS NOT NULL
			BEGIN
				UPDATE dbo.PickingSchedule
				SET [Status] = 'Taken',
					OperationStaff = @OperationBy,
					StartDate = @OperationDateTime,
					FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
					FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
					LastEditedDateTime = @OperationDateTime,
					LastEditedBy = @OperationBy
				WHERE PickingScheduleID = @PickingScheduleID;
			END
		END

		IF @BinID IS NOT NULL
		BEGIN
			IF (SELECT COUNT(*) FROM LocSBin WHERE Deleted = 0 AND LocBinID = @BinID) > 1
			BEGIN
				SET @HasMultipleSBins = 1;
			END
		END

		IF @PickingScheduleID IS NOT NULL
		BEGIN
			INSERT INTO #TempKittingTaskTable (ULDID, ULDBarcode, ItemBarcode, ItemNumber, ItemName, UnitQuantity, TrackSerialOnReceipt, TradeUnit, ULDType)
			SELECT 
			    U.ULDID, 
				U.ULDBarcode,
				it.Barcode as ItemBarcode,
				it.ItemNumber,
				it.ItemName,
				it.UnitQuantity,
				it.TrackSerialOnReceipt,
				it.ItemType,
				U.ULDType 
			FROM 
				dbo.ULD U
			LEFT JOIN
			(
				SELECT i.ItemNumber, i.ItemName, i.TenantCode, iu.Barcode, iu.ItemType, iu.UnitQuantity, i.TrackSerialOnReceipt 
				From Items i
				LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID
				WHERE i.Deleted = 0 
			) it ON u.TenantCode = it.TenantCode AND u.ItemNumber = it.ItemNumber
			WHERE 
				U.DELETED = 0 AND ULDID = @ULDID;

			SELECT * FROM #TempKittingTaskTable;

		END
		ELSE
		BEGIN
			IF @PickStatus = 'Completed'
			BEGIN
				SET @Message = '';	
				SET @PickingScheduleID = 0;	

				DECLARE @NumberOfInitPicking INT;

				SELECT @NumberOfInitPicking = COUNT(*)
				FROM dbo.PickingSchedule
				WHERE Deleted = 0 AND FulfilmentOrder = @ServiceNumber AND Status = 'Init' And FulfilmentType = 'Kitting';

				SET @IsEnough = 1;

				IF @NumberOfInitPicking > 0
				BEGIN
					SET @Message = 'Can not complete kitting. There are items that have been picked';					
					ROLLBACK TRANSACTION;
					RETURN;
				END

				DECLARE @PickNumber INT;
				SELECT @PickNumber = COUNT(*) FROM dbo.PickingResult WHERE Deleted = 0 AND OrderID = @ServiceID

				IF @PickNumber = 0
				BEGIN					
					SET @IsEnough = 0;					
					RETURN;
				END
				
				DECLARE @PickQty INT, @RequiredQTY INT;

				DECLARE PickingCursor CURSOR LOCAL FAST_FORWARD FOR
				SELECT 
					RequiredQTY, 
					SUM(QTY) AS TotalQty,
					ItemName
				FROM dbo.PickingResult 
				WHERE Deleted = 0 AND OrderID = @ServiceID
				GROUP BY PickingScheduleID, RequiredQTY, ItemName;

				OPEN PickingCursor;

				FETCH NEXT FROM PickingCursor INTO @RequiredQTY, @PickQty, @ItemName;

				WHILE @@FETCH_STATUS = 0
				BEGIN
					IF @PickQty <> @RequiredQTY
					BEGIN
						SET @IsEnough = 0;						
						GOTO ExitCursor;
					END

					FETCH NEXT FROM PickingCursor INTO @RequiredQTY, @PickQty, @ItemName;
				END

				ExitCursor:
				CLOSE PickingCursor;
				DEALLOCATE PickingCursor;

			END
			ELSE
			BEGIN
				SET @Message = 'There is no location for picking.';	
			END			
			ROLLBACK TRANSACTION;
			RETURN;
		END
				
		-- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
