USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_DHL_Response_JSON]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DHL_Response_JSON]
    @MessageReference NVARCHAR(100),
    @ShipmentTrackingNumber NVARCHAR(50),
    @CurrencyType NVARCHAR(50),
    @PriceCurrency NVARCHAR(50),
    @Price DECIMAL(10,2),
    @DispatchConfirmationNumber NVARCHAR(50),
    @DocumentsJson NVARCHAR(MAX),
    @ServiceBreakdownJson NVARCHAR(MAX),
    @PackagesJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    /* ---------- helper: build comma-lists via FOR XML PATH (SQL 2016 compatible) ---------- */
    DECLARE @sql NVARCHAR(MAX);

    /* ---------- DOCUMENTS ---------- */
    DECLARE @Docs dbo.DHLResponseDocumentsType;
    SELECT TOP (0) * INTO #DocsTmp FROM @Docs;

    DECLARE @DocsColList  NVARCHAR(MAX),
            @DocsWithList NVARCHAR(MAX);

    ;WITH cols AS (
        SELECT
            c.name                      AS ColName,
            c.column_id                 AS Ord,
            UPPER(st.name)              AS BaseType,
            c.max_length,
            c.precision,
            c.scale
        FROM sys.table_types tt
        JOIN sys.columns c
          ON c.object_id = tt.type_table_object_id
        JOIN sys.types st
          ON st.user_type_id = c.user_type_id
        WHERE tt.schema_id = SCHEMA_ID('dbo')
          AND tt.name = 'DHLResponseDocumentsType'
    )
    SELECT
        @DocsColList = STUFF((
            SELECT ',' + QUOTENAME(ColName)
            FROM cols ORDER BY Ord
            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'),1,1,''),
        @DocsWithList = STUFF((
            SELECT ',' +
                   QUOTENAME(ColName) + ' ' +
                   CASE BaseType
                       WHEN 'NVARCHAR' THEN 'NVARCHAR(' + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length/2) END + ')'
                       WHEN 'NCHAR'    THEN 'NCHAR('    + CONVERT(varchar(10), max_length/2) + ')'
                       WHEN 'VARCHAR'  THEN 'VARCHAR('  + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length) END + ')'
                       WHEN 'CHAR'     THEN 'CHAR('     + CONVERT(varchar(10), max_length) + ')'
                       WHEN 'DECIMAL'  THEN 'DECIMAL('  + CONVERT(varchar(10), precision) + ',' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'NUMERIC'  THEN 'NUMERIC('  + CONVERT(varchar(10), precision) + ',' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'DATETIME2' THEN 'DATETIME2(' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'DATETIME' THEN 'DATETIME'
                       WHEN 'SMALLDATETIME' THEN 'SMALLDATETIME'
                       WHEN 'DATE'     THEN 'DATE'
                       WHEN 'TIME'     THEN 'TIME'
                       WHEN 'BIT'      THEN 'BIT'
                       WHEN 'INT'      THEN 'INT'
                       WHEN 'BIGINT'   THEN 'BIGINT'
                       WHEN 'SMALLINT' THEN 'SMALLINT'
                       WHEN 'TINYINT'  THEN 'TINYINT'
                       WHEN 'FLOAT'    THEN 'FLOAT'
                       WHEN 'REAL'     THEN 'REAL'
                       WHEN 'MONEY'    THEN 'MONEY'
                       WHEN 'SMALLMONEY' THEN 'SMALLMONEY'
                       WHEN 'UNIQUEIDENTIFIER' THEN 'UNIQUEIDENTIFIER'
                       WHEN 'VARBINARY' THEN 'VARBINARY(' + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length) END + ')'
                       ELSE BaseType
                   END
                   + ' ''$.' + ColName + ''''
            FROM cols ORDER BY Ord
            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'),1,1,'');

    SET @sql = N'
        INSERT #DocsTmp (' + @DocsColList + ')
        SELECT ' + @DocsColList + '
        FROM OPENJSON(@J) WITH (' + @DocsWithList + ');';

    EXEC sp_executesql @sql, N'@J NVARCHAR(MAX)', @DocumentsJson;

    INSERT @Docs SELECT * FROM #DocsTmp;
    DROP TABLE #DocsTmp;

    /* ---------- SERVICE BREAKDOWN ---------- */
    DECLARE @Brk dbo.DHLResponseChargesBreakdownType;
    SELECT TOP (0) * INTO #BrkTmp FROM @Brk;

    DECLARE @BrkColList  NVARCHAR(MAX),
            @BrkWithList NVARCHAR(MAX);

    ;WITH cols AS (
        SELECT
            c.name AS ColName, c.column_id AS Ord,
            UPPER(st.name) AS BaseType, c.max_length, c.precision, c.scale
        FROM sys.table_types tt
        JOIN sys.columns c
          ON c.object_id = tt.type_table_object_id
        JOIN sys.types st
          ON st.user_type_id = c.user_type_id
        WHERE tt.schema_id = SCHEMA_ID('dbo')
          AND tt.name = 'DHLResponseChargesBreakdownType'
    )
    SELECT
        @BrkColList = STUFF((
            SELECT ',' + QUOTENAME(ColName)
            FROM cols ORDER BY Ord
            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'),1,1,''),
        @BrkWithList = STUFF((
            SELECT ',' +
                   QUOTENAME(ColName) + ' ' +
                   CASE BaseType
                       WHEN 'NVARCHAR' THEN 'NVARCHAR(' + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length/2) END + ')'
                       WHEN 'NCHAR'    THEN 'NCHAR('    + CONVERT(varchar(10), max_length/2) + ')'
                       WHEN 'VARCHAR'  THEN 'VARCHAR('  + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length) END + ')'
                       WHEN 'CHAR'     THEN 'CHAR('     + CONVERT(varchar(10), max_length) + ')'
                       WHEN 'DECIMAL'  THEN 'DECIMAL('  + CONVERT(varchar(10), precision) + ',' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'NUMERIC'  THEN 'NUMERIC('  + CONVERT(varchar(10), precision) + ',' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'DATETIME2' THEN 'DATETIME2(' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'DATETIME' THEN 'DATETIME'
                       WHEN 'SMALLDATETIME' THEN 'SMALLDATETIME'
                       WHEN 'DATE'     THEN 'DATE'
                       WHEN 'TIME'     THEN 'TIME'
                       WHEN 'BIT'      THEN 'BIT'
                       WHEN 'INT'      THEN 'INT'
                       WHEN 'BIGINT'   THEN 'BIGINT'
                       WHEN 'SMALLINT' THEN 'SMALLINT'
                       WHEN 'TINYINT'  THEN 'TINYINT'
                       WHEN 'FLOAT'    THEN 'FLOAT'
                       WHEN 'REAL'     THEN 'REAL'
                       WHEN 'MONEY'    THEN 'MONEY'
                       WHEN 'SMALLMONEY' THEN 'SMALLMONEY'
                       WHEN 'UNIQUEIDENTIFIER' THEN 'UNIQUEIDENTIFIER'
                       WHEN 'VARBINARY' THEN 'VARBINARY(' + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length) END + ')'
                       ELSE BaseType
                   END
                   + ' ''$.' + ColName + ''''
            FROM cols ORDER BY Ord
            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'),1,1,'');

    SET @sql = N'
        INSERT #BrkTmp (' + @BrkColList + ')
        SELECT ' + @BrkColList + '
        FROM OPENJSON(@J) WITH (' + @BrkWithList + ');';

    EXEC sp_executesql @sql, N'@J NVARCHAR(MAX)', @ServiceBreakdownJson;

    INSERT @Brk SELECT * FROM #BrkTmp;
    DROP TABLE #BrkTmp;

    /* ---------- PACKAGES ---------- */
    DECLARE @Pkgs dbo.DHLResponsePackagesType;
    SELECT TOP (0) * INTO #PkgsTmp FROM @Pkgs;

    DECLARE @PkgsColList  NVARCHAR(MAX),
            @PkgsWithList NVARCHAR(MAX);

    ;WITH cols AS (
        SELECT
            c.name AS ColName, c.column_id AS Ord,
            UPPER(st.name) AS BaseType, c.max_length, c.precision, c.scale
        FROM sys.table_types tt
        JOIN sys.columns c
          ON c.object_id = tt.type_table_object_id
        JOIN sys.types st
          ON st.user_type_id = c.user_type_id
        WHERE tt.schema_id = SCHEMA_ID('dbo')
          AND tt.name = 'DHLResponsePackagesType'
    )
    SELECT
        @PkgsColList = STUFF((
            SELECT ',' + QUOTENAME(ColName)
            FROM cols ORDER BY Ord
            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'),1,1,''),
        @PkgsWithList = STUFF((
            SELECT ',' +
                   QUOTENAME(ColName) + ' ' +
                   CASE BaseType
                       WHEN 'NVARCHAR' THEN 'NVARCHAR(' + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length/2) END + ')'
                       WHEN 'NCHAR'    THEN 'NCHAR('    + CONVERT(varchar(10), max_length/2) + ')'
                       WHEN 'VARCHAR'  THEN 'VARCHAR('  + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length) END + ')'
                       WHEN 'CHAR'     THEN 'CHAR('     + CONVERT(varchar(10), max_length) + ')'
                       WHEN 'DECIMAL'  THEN 'DECIMAL('  + CONVERT(varchar(10), precision) + ',' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'NUMERIC'  THEN 'NUMERIC('  + CONVERT(varchar(10), precision) + ',' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'DATETIME2' THEN 'DATETIME2(' + CONVERT(varchar(10), scale) + ')'
                       WHEN 'DATETIME' THEN 'DATETIME'
                       WHEN 'SMALLDATETIME' THEN 'SMALLDATETIME'
                       WHEN 'DATE'     THEN 'DATE'
                       WHEN 'TIME'     THEN 'TIME'
                       WHEN 'BIT'      THEN 'BIT'
                       WHEN 'INT'      THEN 'INT'
                       WHEN 'BIGINT'   THEN 'BIGINT'
                       WHEN 'SMALLINT' THEN 'SMALLINT'
                       WHEN 'TINYINT'  THEN 'TINYINT'
                       WHEN 'FLOAT'    THEN 'FLOAT'
                       WHEN 'REAL'     THEN 'REAL'
                       WHEN 'MONEY'    THEN 'MONEY'
                       WHEN 'SMALLMONEY' THEN 'SMALLMONEY'
                       WHEN 'UNIQUEIDENTIFIER' THEN 'UNIQUEIDENTIFIER'
                       WHEN 'VARBINARY' THEN 'VARBINARY(' + CASE WHEN max_length = -1 THEN 'MAX' ELSE CONVERT(varchar(10), max_length) END + ')'
                       ELSE BaseType
                   END
                   + ' ''$.' + ColName + ''''
            FROM cols ORDER BY Ord
            FOR XML PATH(''), TYPE).value('.','nvarchar(max)'),1,1,'');

    SET @sql = N'
        INSERT #PkgsTmp (' + @PkgsColList + ')
        SELECT ' + @PkgsColList + '
        FROM OPENJSON(@J) WITH (' + @PkgsWithList + ');';

    EXEC sp_executesql @sql, N'@J NVARCHAR(MAX)', @PackagesJson;

    INSERT @Pkgs SELECT * FROM #PkgsTmp;
    DROP TABLE #PkgsTmp;

    /* ---------- Call existing TVP-based proc ---------- */
    EXEC dbo.sp_DHL_Response
        @MessageReference           = @MessageReference,
        @ShipmentTrackingNumber     = @ShipmentTrackingNumber,
        @CurrencyType               = @CurrencyType,
        @PriceCurrency              = @PriceCurrency,
        @Price                      = @Price,
        @DispatchConfirmationNumber = @DispatchConfirmationNumber,
        @Documents                  = @Docs,
        @ServiceBreakdown           = @Brk,
        @Packages                   = @Pkgs;
END
GO
