USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_StandardBox_InsertStandardBox]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Sep, 2025>
-- Description:	<Insert StandardBox>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_StandardBox_InsertStandardBox]  
		@StandardBoxName VARCHAR(100),
    @StandardBoxDescription VARCHAR(2000),	
	@Length	decimal(10, 2),
	@Height	decimal(10, 2),
	@Width	decimal(10, 2),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate StandardBoxName
		 IF EXISTS(SELECT 1 FROM dbo.StandardBox WHERE [Name] = @StandardBoxName AND Deleted = 0)
		 BEGIN
			 SET @Message = 'StandardBox Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		 DECLARE @StandardBoxID INT;
		 SELECT @StandardBoxID = StandardBoxID FROM dbo.StandardBox WHERE [Name] = @StandardBoxName AND Deleted = 1;
        
		 IF @StandardBoxID IS NULL
		 BEGIN
			 -- Insert into StandardBox table
			INSERT INTO dbo.StandardBox
			(
				[Name],
				[Description],	
				[Length],
				Height,
				Width,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@StandardBoxName,
				@StandardBoxDescription,	
				@Length,
				@Height,
				@Width,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)
		END
		ELSE
		BEGIN
			UPDATE dbo.StandardBox
			SET
				Deleted = 0,
				[Description] = COALESCE(@StandardBoxDescription, [Description]),	
				[Length] = COALESCE(@Length, [Length]),	
				Height = COALESCE(@Height, Height),	
				Width = COALESCE(@Width, Width),	
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime =  NULL,
				LastEditedBy =  NULL,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			WHERE StandardBoxID = @StandardBoxID
		END
       

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
