USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItemCost_InsertChargeItemCostById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Nov, 2024>
-- Description:	<Insert Cost of Warehouse by Charge Item ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItemCost_InsertChargeItemCostById] 
	@ChargeItemID INT,
	@ChargeItemCost FLOAT,
	@WarehouseCode VARCHAR(20),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		-- Check for duplicate ChargeItemName
		IF EXISTS(SELECT 1 FROM dbo.ChargeItemCost WHERE ChargeItemID = @ChargeItemID AND WarehouseCode = @WarehouseCode AND Deleted = 0)
		BEGIN
			 SET @Message = 'Cost for this Warehouse does existed.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @ChargeItemCurrency VARCHAR(20);

		SELECT @ChargeItemCurrency = Currency
		FROM dbo.locWarehouse
		WHERE LOWER(WarehouseCode) = LOWER(@WarehouseCode) AND Deleted = 0;

		-- Insert into ChargeItem table
        INSERT INTO dbo.ChargeItemCost
        (
            ChargeItemID,
            WarehouseCode,
            ChargeItemPrice,
			ChargeItemCurrency,
            Deleted,
            CreatedDateTime,
            CreatedBy
        )
        VALUES
        (
            @ChargeItemID,
            @WarehouseCode,
            @ChargeItemCost,
			@ChargeItemCurrency,
            0, -- Default value for Deleted
            @CreatedDateTime,
            @CreatedBy
        )
		
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
