USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_UpdateLockedStatusByULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Jun, 2025>
-- Description:	<Update Lock Status By ULD>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_UpdateLockedStatusByULD] 
   @ULDID				INT,
   @Locked				BIT, 
   @LockReason			VARCHAR(1000), 
   @EditedDateTime      DATETIME = NULL,
   @EditedBy            VARCHAR(100) = NULL,
   @Message				VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY

	   DECLARE @Status VARCHAR(20);
	   SELECT @Status = [Status] FROM dbo.ULD WHERE ULDID = @ULDID AND Deleted = 0;


	   IF @Status IS NULL
	   BEGIN
			SET @Message = 'ULD does not existed.';
			RETURN;
	   END

	   IF @Status = 'InActive'
	   BEGIN
			SET @Message = 'ULD is InActive.';
			RETURN;
	   END
	   	  
	   IF @Locked = 1
	   BEGIN
			SET @Status = 'Locked';
	   END
	   ELSE
	   BEGIN
			SET @Status = 'Bulk';
	   END
       
	   UPDATE dbo.ULD
	   SET  Status = @Status,
			LockReason = @LockReason,
		    FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@EditedBy, LastEditedBy)
	   WHERE ULDID = @ULDID;

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
