USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Shipment_ViewShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Nov, 2025>
-- Description:	<View Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Shipment_ViewShipment]
	@ShipmentID INT,
	@ShipmentType VARCHAR(50), -- DHL AP
	@IsLocal BIT = 0  -- Used for AP
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @OrderNumber VARCHAR(50),
		    @FulfilmentID INT;

	SELECT @FulfilmentID = FulfilmentID
	FROM dbo.Fulfilment
	WHERE OrderNumber = @OrderNumber AND Deleted = 0;

	IF @ShipmentType = 'DHL'
	BEGIN

		SELECT @OrderNumber = OrderNumber
		FROM dbo.WaveLine 
		WHERE ShipmentID = @ShipmentID AND Deleted = 0 AND CarrierID = 3;
		

		IF @OrderNumber IS NOT NULL
		BEGIN
			SELECT ISNULL(wl.OrderNumber, s.MessageReference) AS OrderNumber, wl.WaveNumber, wl.SourceOrderNumber, r.shipmentTrackingNumber, s.* 
			FROM dbo.DHLShipment s 
			LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0
			LEFT JOIN dbo.DHLResponse r ON r.MessageReference = s.MessageReference
			WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0 AND wl.CarrierID = 3 AND wl.ShipmentType = 'INT';	
		END
		ELSE
		BEGIN
			SELECT ISNULL(s.MessageReference, '') AS OrderNumber, '' as WaveNumber, '' as SourceOrderNumber , r.shipmentTrackingNumber, s.* 
			FROM dbo.DHLShipment s 			
			LEFT JOIN dbo.DHLResponse r ON r.MessageReference = s.MessageReference
			WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0;	
		END
		
		SELECT * from dbo.DHLLineItems WHERE ShipmentID = @ShipmentID AND Deleted = 0;

		SELECT * from dbo.DHLPackages WHERE ShipmentID = @ShipmentID AND Deleted = 0;
		
	END
	ELSE IF @ShipmentType = 'AP'
	BEGIN
		IF @IsLocal = 1
		BEGIN

			SELECT @OrderNumber = OrderNumber
			FROM dbo.WaveLine 
			WHERE ShipmentID = @ShipmentID AND Deleted = 0 AND CarrierID = 1 AND ShipmentType = 'Local';
		

			IF @OrderNumber IS NOT NULL
			BEGIN
				SELECT ISNULL(wl.OrderNumber, s.Shipment_Reference) AS OrderNumber, wl.WaveNumber, wl.SourceOrderNumber, s.* FROM dbo.AP_Shipment s
				LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0
				WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = 'Local';	
			END
			ELSE
			BEGIN
				SELECT ISNULL(s.Shipment_Reference,'') AS OrderNumber, '' as WaveNumber, '' as SourceOrderNumber, s.* 
				FROM dbo.AP_Shipment s
				WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0;
			END

			SELECT * FROM dbo.AP_ShipmentItems WHERE ShipmentID = @ShipmentID AND Deleted = 0;
		END
		ELSE
		BEGIN

			SELECT @OrderNumber = OrderNumber
			FROM dbo.WaveLine 
			WHERE ShipmentID = @ShipmentID AND Deleted = 0 AND CarrierID = 1 AND ShipmentType = 'INT';
		

			IF @OrderNumber IS NOT NULL
			BEGIN
				SELECT ISNULL(wl.OrderNumber, s.Shipment_Reference) AS OrderNumber, wl.WaveNumber, wl.SourceOrderNumber, s.* FROM dbo.AP_ShipmentINT s
				LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0
				WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = 'INT';	
			END
			ELSE
			BEGIN
				SELECT ISNULL(s.Shipment_Reference,'') AS OrderNumber ,'' as WaveNumber, '' as SourceOrderNumber, s.* 
				FROM dbo.AP_ShipmentINT s				
				WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0;	
			END
			
			SELECT si.* , sic.country_of_origin, sic.description, sic.sku, sic.quantity, sic.weight as itemWeight, sic.item_contents_reference
			FROM dbo.AP_ShipmentItemsINT si 
			LEFT JOIN dbo.AP_ShipmentItemContentsINT sic ON si.ShipmentItemID = sic.ShipmentItemID AND sic.Deleted = 0
			WHERE si.ShipmentID = @ShipmentID AND si.Deleted = 0;

		END
	END

	SELECT * FROM dbo.FulfilmentLine
	WHERE FulfilmentID = @FulfilmentID AND Deleted = 0;
   
END
GO
