USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_ListUnavailableULDsByItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Jun, 2025>
-- Description:	<List ULDs By Item And Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_ListUnavailableULDsByItem]
	 @ItemNumber NVARCHAR(30),
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ULDID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT,
	 @TotalQty INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT  @TotalRecords = COUNT(*) ,  @TotalQty = SUM(A.Total)
		FROM (
			SELECT 
				U.ULDID, 
				SUM(UL.TransactionQty) AS Total
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			WHERE 
				U.ItemNumber = @ItemNumber
				AND U.Deleted = 0
				AND UL.Deleted = 0
				AND U.Status <> 'Draft' 
				AND (U.HoldStatus = 'Hold' OR  U.Status <> 'Bulk')
				AND (U.IsWarehouseTenant IS NULL OR U.IsWarehouseTenant = 0)
			GROUP BY U.ULDID			
		) A;


		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT  
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.CreatedDateTime,
				SUM(UL.TransactionQty) AS TotalQty,
				t.TenantName, 
				lw.WarehouseName
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			JOIN dbo.Tenant t ON U.TenantCode = t.TenantCode 
			JOIN dbo.LocWarehouse lw ON U.WarehouseCode = lw.WarehouseCode
			WHERE 
				U.Deleted = 0
				AND UL.Deleted = 0
				AND U.Status <> ''Draft''
				AND (U.HoldStatus = ''Hold'' OR  U.Status <> ''Bulk'')
				AND (U.IsWarehouseTenant IS NULL OR U.IsWarehouseTenant = 0)
				AND U.ItemNumber = @ItemNumber 
			GROUP BY
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.CreatedDateTime,
				t.TenantName, 
				lw.WarehouseName			
			ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT  @TotalRecords = COUNT(*) ,  @TotalQty = SUM(A.Total) 
		FROM
		(
			SELECT 
				U.ULDID, 
				SUM(UL.TransactionQty) AS Total
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			JOIN dbo.Tenant t ON U.TenantCode = t.TenantCode 
			JOIN dbo.LocWarehouse lw ON U.WarehouseCode = lw.WarehouseCode
			WHERE U.ItemNumber = @ItemNumber AND U.DELETED = 0 AND UL.Deleted = 0 
			      AND U.Status <> 'Draft'
				  AND (U.HoldStatus = 'Hold' OR  U.Status <> 'Bulk')
				  AND (U.IsWarehouseTenant IS NULL OR U.IsWarehouseTenant = 0)
				  AND (
						LOWER(U.ULDCurrentLocation) LIKE '%' + LOWER(@Search) + '%' 
						OR LOWER(U.ItemName) LIKE '%' + LOWER(@Search) + '%' 
						OR LOWER(U.ULDBarcode) LIKE '%' + LOWER(@Search) + '%' 
						OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
						OR LOWER(lw.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
					)
			GROUP BY U.ULDID			
		) A;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT  
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.CreatedDateTime,
				SUM(UL.TransactionQty) AS TotalQty,
				t.TenantName, 
				lw.WarehouseName
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			JOIN dbo.Tenant t ON U.TenantCode = t.TenantCode 
			JOIN dbo.LocWarehouse lw ON U.WarehouseCode = lw.WarehouseCode
			WHERE 
				U.Deleted = 0
				AND UL.Deleted = 0
				AND U.Status <> ''Draft''
				AND (U.HoldStatus = ''Hold'' OR  U.Status <> ''Bulk'')
				AND (U.IsWarehouseTenant IS NULL OR U.IsWarehouseTenant = 0)
				AND U.ItemNumber = @ItemNumber  
				AND (
					LOWER(U.ULDCurrentLocation) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(U.ItemName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(U.ULDBarcode) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
			GROUP BY
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.CreatedDateTime,
				t.TenantName, 
				lw.WarehouseName			
			ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL,
		N'@ItemNumber NVARCHAR(30)',
		@ItemNumber = @ItemNumber;
END
GO
