USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_CompletePackingTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Sep, 2025>
-- Description:	<Complete Packing Task>
-- =============================================
ALTER PROCEDURE  [dbo].[SP_VI_TBL_Wave_CompletePackingTask]     
	@WaveID INT,	
	@CompletedDateTime  DATETIME = NULL,
	@OperationBy   VARCHAR(100) = NULL,
	@Results dbo.OrderPackingResultType READONLY,	
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION		

		DECLARE @OrderNumber VARCHAR(50),
				@SourceOrderNumber VARCHAR(50),				
			    @ItemNumber VARCHAR(30),
				@PackingType  VARCHAR(50),
				@PickingType  VARCHAR(50),
				@NewPackingResultID INT,
				@ShipmentID INT,
				@BoxNumber INT,
				@ItemTradeUnitID INT,
				@NumberOfRow INT;
		DECLARE @TenantCode VARCHAR(10),
				@WarehouseCode VARCHAR(20),						
				@FulfilmentID INT,
				@CarrierID INT;

		DECLARE @IsLocal BIT;		
		DECLARE @BoxSize dbo.BoxSizeType;		

		DECLARE @ShipmentMessage VARCHAR(4000);
		DECLARE @ShipmentType VARCHAR(20);

		-- Get picking type
		SELECT @PickingType = PickingType
		FROM dbo.Wave
		WHERE WaveID = @WaveID AND Deleted = 0;

		SELECT @NumberOfRow = COUNT(*) FROM @Results;

		SET @IsLocal = 0;

		IF @NumberOfRow = 1
		BEGIN

			SELECT @OrderNumber = OrderNumber,
				   @ItemNumber = ItemNumber,
				   @ItemTradeUnitID = StandardBoxID
			FROM @Results;

			-- Get old
			SELECT @NewPackingResultID = PackingResultID
			FROM dbo.PackingResult
			WHERE WaveID = @WaveID AND OrderNumber = @OrderNumber AND Deleted = 0;

			IF @NewPackingResultID IS NOT NULL
			BEGIN
				 SET @Message = 'This order has been packed!';
				 ROLLBACK TRANSACTION;
				 RETURN;
			END

			IF @ItemNumber IS NULL -- NOT Single But One Box
			BEGIN
				SET @PackingType = 'Bulk';
			END
			ELSE -- Single
			BEGIN
				SET @PackingType = 'Single';
			END

			-- get fulfilment info			
			SELECT @TenantCode = TenantCode,
				   @WarehouseCode = WarehouseCode,
				   @FulfilmentID = FulfilmentID,
				   @SourceOrderNumber = order_number,				   
				   @CarrierID = ISNULL(CarrierID,1)
			FROM dbo.Fulfilment 
			WHERE OrderNumber = @OrderNumber AND Deleted = 0;		

			IF @CarrierID = 1 -- AP
			BEGIN
				-- get box size			
				INSERT INTO @BoxSize (Length, Width, Height)
				SELECT Depth, Width, Height
				FROM dbo.ItemTradeUnit
				WHERE Deleted = 0 AND ItemTradeUnitID = @ItemTradeUnitID;
		
				EXEC [dbo].[SP_VI_TBL_APShipment_InsertAPShipment]
					@FulfilmentOrder = @OrderNumber,
					@BoxSize = @BoxSize,
					@CreatedDateTime = @CompletedDateTime,
					@CreatedBy = @OperationBy,
					@WarehouseCode = NULL,
					@TenantCode = NULL,
					@NewShipmentID = @ShipmentID OUTPUT,
					@AccountNumber =  NULL,
					@Token =  NULL,
					@IsLocal =  @IsLocal OUTPUT,
					@Message =  @ShipmentMessage OUTPUT;

				IF @ShipmentMessage IS NOT NULL AND @ShipmentMessage <> ''
				BEGIN
					 SET @Message = @ShipmentMessage;
					 ROLLBACK TRANSACTION;
					 RETURN;				
				END

				IF @IsLocal = 1
				BEGIN
					SET @ShipmentType = 'Local';
				END
				ELSE
				BEGIN
					SET @ShipmentType = 'INT';
				END

			END
			ELSE IF @CarrierID = 2 -- MANUAL
			BEGIN
				SET @ShipmentID = NULL;
				SET @ShipmentType = NULL;
			END 
			ELSE IF @CarrierID = 3 -- DHL Express
			BEGIN
				-- get box size			
				INSERT INTO @BoxSize (Length, Width, Height)
				SELECT Depth, Width, Height
				FROM dbo.ItemTradeUnit
				WHERE Deleted = 0 AND ItemTradeUnitID = @ItemTradeUnitID;
		
				EXEC [dbo].[SP_VI_TBL_DHLShipment_InsertDHLShipment]
					@FulfilmentOrder = @OrderNumber,
					@BoxSize = @BoxSize,
					@IsOneBox = 1,
					@CreatedDateTime = @CompletedDateTime,
					@CreatedBy = @OperationBy,
					@WarehouseCode = NULL,
					@TenantCode = NULL,
					@AccountNumber = NULL,
					@Token = NULL,
					@NewShipmentID = @ShipmentID OUTPUT,					
					@Message =  @ShipmentMessage OUTPUT;

				IF @ShipmentMessage IS NOT NULL AND @ShipmentMessage <> ''
				BEGIN
					 SET @Message = @ShipmentMessage;
					 ROLLBACK TRANSACTION;
					 RETURN;				
				END
				SET @ShipmentType = 'INT';
			END 
			ELSE IF @CarrierID = 4 -- CP
			BEGIN
				SET @ShipmentID = NULL;
				SET @ShipmentType = NULL;
			END 
			
			-- update waveline
			UPDATE dbo.Waveline
			SET
				ShipmentID = @ShipmentID,
				ShipmentType = @ShipmentType,
				CarrierID = @CarrierID,
				FirstEditedDateTime = COALESCE(@CompletedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@CompletedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
			WHERE OrderNumber = @OrderNumber AND Deleted = 0;
		

			INSERT INTO [dbo].[PackingResult]
			(
				OrderNumber		
				,WaveID
				,CarrierID
				,ShipmentID
				,PackingType
				,NumberOfBoxes
				,Status
				,Deleted
				,CreatedDateTime
				,CreatedBy
			)
			VALUES (
				@OrderNumber    
				,@WaveID
				,@CarrierID
				,@ShipmentID
				,@PackingType                
				,1    
				,'Pending'
				,0                       
				,@CompletedDateTime            
				,@OperationBy
			);   

			SET @NewPackingResultID = SCOPE_IDENTITY();

			DECLARE 
				@ItemName     NVARCHAR(250),
				@SerialNumber NVARCHAR(100),
				@ItemID          INT,
				@Qty          INT;
			
			DECLARE cur_ULDPicked CURSOR LOCAL FAST_FORWARD FOR
			SELECT
				ul.ItemNumber,
				ul.ItemName,
				ul.SerialNumber,
				i.ItemId,
				SUM(ul.TransactionQty) AS Qty
			FROM dbo.ULDLine ul
			LEFT JOIN dbo.Items i ON i.ItemNumber = ul.ItemNumber AND i.Deleted = 0
			WHERE ul.Deleted = 0
				AND ul.TransactionReference = @SourceOrderNumber
				AND ul.TransactionType = 'Picked'
				AND ul.AllocatedType = 'Orders'
			GROUP BY ul.ItemNumber, ul.ItemName, ul.SerialNumber, i.ItemId;

			OPEN cur_ULDPicked;

			FETCH NEXT FROM cur_ULDPicked
			INTO @ItemNumber, @ItemName, @SerialNumber, @ItemID, @Qty;

			WHILE @@FETCH_STATUS = 0
			BEGIN

				INSERT INTO [dbo].[PackingResultLine]
				(
					[PackingResultID]
					,[StandardBoxID]
					,[BoxNumber]
					,[ItemID]
					,[ItemName]
					,[ItemNumber]
					,[SerialNumber]
					,[Qty]
					,[Deleted]
					,[CreatedDateTime]
					,[CreatedBy]
				)
				VALUES( 
					@NewPackingResultID,      
					@ItemTradeUnitID,
					1,
					@ItemID,
					@ItemName,
					@ItemNumber,
					@SerialNumber,
					-@Qty,
					0,                       
					@CompletedDateTime,          
					@OperationBy
				);

				FETCH NEXT FROM cur_ULDPicked
				INTO @ItemNumber, @ItemName, @SerialNumber, @ItemID, @Qty;
			END

			CLOSE cur_ULDPicked;
			DEALLOCATE cur_ULDPicked;
			

		END
		ELSE
		BEGIN

			SET @IsLocal = 1;			

			DECLARE @Items OrderLineType;
		
			-- Create temp table
			CREATE TABLE #TempPackingBoxes
			(
				OrderNumber    NVARCHAR(50) NULL,
				BoxNumber      INT          NULL,
				ItemTradeUnitID  INT          NULL
			);

			-- Insert grouped results into temp table
			INSERT INTO #TempPackingBoxes (OrderNumber, BoxNumber, ItemTradeUnitID)
			SELECT 
				OrderNumber, 
				BoxNumber, 
				StandardBoxID
			FROM @Results
			GROUP BY 
				OrderNumber, 
				BoxNumber, 
				StandardBoxID;


			-- get order number
			SELECT TOP 1 @OrderNumber = OrderNumber
			FROM #TempPackingBoxes;

			-- Get old
			SELECT @NewPackingResultID = PackingResultID
			FROM dbo.PackingResult
			WHERE WaveID = @WaveID AND OrderNumber = @OrderNumber AND Deleted = 0;

			IF @NewPackingResultID IS NOT NULL
			BEGIN
				 SET @Message = 'This order has been packed!';
				 ROLLBACK TRANSACTION;
				 RETURN;
			END

			--get number of boxes
			SELECT @NumberOfRow = COUNT(*) 
			FROM #TempPackingBoxes;
			
			-- get fulfilment info			
			SELECT @TenantCode = TenantCode,
				   @WarehouseCode = WarehouseCode,
				   @FulfilmentID = FulfilmentID,
				   @CarrierID = ISNULL(CarrierID,1)
			FROM dbo.Fulfilment 
			WHERE OrderNumber = @OrderNumber AND Deleted = 0;

			IF @CarrierID = 1 -- AP
			BEGIN
				-- insert shipment header
				EXEC [dbo].[SP_VI_TBL_APShipment_InsertAPLocalShipment]
					@FulfilmentID = @FulfilmentID,
					@BoxSize = @BoxSize,
					@AddDefaultItem = 0,
					@CreatedDateTime = @CompletedDateTime,
					@CreatedBy = @OperationBy,
					@NewShipmentID = @ShipmentID OUTPUT,		
					@Message =  @ShipmentMessage OUTPUT;				

				IF @ShipmentMessage IS NOT NULL AND @ShipmentMessage <> ''
				BEGIN
					 SET @Message = @ShipmentMessage;
					 ROLLBACK TRANSACTION;
					 RETURN;				
				END

				SET @ShipmentType = 'Local'

			END
			ELSE IF @CarrierID = 2 -- Manual
			BEGIN
				SET @ShipmentID = NULL;
				SET @ShipmentType = NULL;
			END
			ELSE IF @CarrierID = 3 -- DHL
			BEGIN
				EXEC [dbo].[SP_VI_TBL_DHLShipment_InsertDHLShipment]
					@FulfilmentOrder = @OrderNumber,
					@BoxSize = @BoxSize,
					@IsOneBox = 0,
					@CreatedDateTime = @CompletedDateTime,
					@CreatedBy = @OperationBy,
					@WarehouseCode = NULL,
					@TenantCode = NULL,
					@AccountNumber = NULL,
					@Token = NULL,
					@NewShipmentID = @ShipmentID OUTPUT,					
					@Message =  @ShipmentMessage OUTPUT;

				IF @ShipmentMessage IS NOT NULL AND @ShipmentMessage <> ''
				BEGIN
					 SET @Message = @ShipmentMessage;
					 ROLLBACK TRANSACTION;
					 RETURN;				
				END
				SET @ShipmentType = 'INT';
			END

			-- update waveline
			UPDATE dbo.Waveline
			SET
				ShipmentID = @ShipmentID,
				ShipmentType = @ShipmentType,
				CarrierID = @CarrierID,
				FirstEditedDateTime = COALESCE(@CompletedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@CompletedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
			WHERE OrderNumber = @OrderNumber AND Deleted = 0;

			INSERT INTO [dbo].[PackingResult]
			(
				OrderNumber
				,WaveID
				,CarrierID
				,ShipmentID
				,PackingType
				,NumberOfBoxes
				,Status
				,Deleted
				,CreatedDateTime
				,CreatedBy
			)
			VALUES (
				@OrderNumber   
				,@WaveID
				,@CarrierID
				,@ShipmentID
				,'Bulk'                
				,@NumberOfRow    
				,'Pending'
				,0                       
				,@CompletedDateTime            
				,@OperationBy
			);   

			SET @NewPackingResultID = SCOPE_IDENTITY();			
			
			DECLARE cur_TempPackingBoxes CURSOR LOCAL FAST_FORWARD FOR
				SELECT OrderNumber, BoxNumber, ItemTradeUnitID
				FROM #TempPackingBoxes
				ORDER BY OrderNumber, BoxNumber;  -- optional ordering

			-- Open cursor
			OPEN cur_TempPackingBoxes;

			-- Fetch first row
			FETCH NEXT FROM cur_TempPackingBoxes
			INTO @OrderNumber, @BoxNumber, @ItemTradeUnitID;

			-- Loop through rows
			WHILE @@FETCH_STATUS = 0
			BEGIN			
				
				DELETE FROM @Items;
				INSERT INTO @Items (OrderNumber, ItemID, OrderItemNumber, OrderItemName, OrderQuantity)
				SELECT @OrderNumber, 
						i.ItemID,					   
						r.ItemNumber,
						i.ItemName,
						r.Qty
				FROM @Results as r
				INNER JOIN dbo.Items i ON r.ItemNumber = i.ItemNumber AND i.TenantCode = @TenantCode				
				WHERE r.BoxNumber = @BoxNumber  AND r.StandardBoxID = @ItemTradeUnitID;

				-- add item detail
				DELETE FROM @BoxSize;
				INSERT INTO @BoxSize (Length, Width, Height)
				SELECT Depth, Width, Height
				FROM dbo.ItemTradeUnit
				WHERE Deleted = 0 AND ItemTradeUnitID = @ItemTradeUnitID;

				IF @CarrierID = 1 -- AP
				BEGIN
					
					EXEC [dbo].[SP_VI_TBL_APShipmentItems_AddItems]
						@ShipmentID = @ShipmentID,
						@BoxNumber = @BoxNumber,
						@BoxSize = @BoxSize,
						@Items = @Items,
						@CreatedDateTime = @CompletedDateTime,
						@CreatedBy = @OperationBy,
						@NewShipmentItemID = NULL,		
						@Message = @ShipmentMessage OUTPUT;

						IF @ShipmentMessage IS NOT NULL AND @ShipmentMessage <> ''
						BEGIN
							 SET @Message = @ShipmentMessage;
							 ROLLBACK TRANSACTION;
							 RETURN;				
						END
				END
				ELSE IF @CarrierID = 3 -- DHL
				BEGIN
					PRINT 'DHL'
					EXEC [dbo].[SP_VI_TBL_DHLPackages_AddPackages]
						@ShipmentID = @ShipmentID,	
						@OrderNumber = @OrderNumber,
						@BoxSize = @BoxSize,
						@Items = @Items,
						@CreatedDateTime = @CompletedDateTime,
						@CreatedBy = @OperationBy,						
						@Message = @ShipmentMessage OUTPUT;

						IF @ShipmentMessage IS NOT NULL AND @ShipmentMessage <> ''
						BEGIN
							 SET @Message = @ShipmentMessage;
							 ROLLBACK TRANSACTION;
							 RETURN;				
						END
				END
				
				-- Insert into PackingResultLine
				INSERT INTO [dbo].[PackingResultLine]
				(
					   [PackingResultID]
					   ,[StandardBoxID]
					   ,[BoxNumber]
					   ,[ItemID]
					   ,[ItemName]
					   ,[ItemNumber]
					   ,[SerialNumber]
					   ,[Qty]
					   ,[Deleted]
					   ,[CreatedDateTime]
					   ,[CreatedBy]
				)
				SELECT 
					   @NewPackingResultID,      
					   @ItemTradeUnitID,
					   @BoxNumber,
					   i.ItemID,
					   i.ItemName,
					   r.ItemNumber,
					   r.SerialNumber,
					   r.Qty,
					   0,                       
					   @CompletedDateTime,          
					   @OperationBy
				FROM @Results r
				LEFT JOIN dbo.Items i ON r.ItemNumber = i.ItemNumber AND i.TenantCode = @TenantCode				
				WHERE r.BoxNumber = @BoxNumber  AND r.StandardBoxID = @ItemTradeUnitID;

				-- Fetch next row
				FETCH NEXT FROM cur_TempPackingBoxes
				INTO @OrderNumber, @BoxNumber, @ItemTradeUnitID;
			END

			-- Close and deallocate
			CLOSE cur_TempPackingBoxes;
			DEALLOCATE cur_TempPackingBoxes;
			
		END


		If @PickingType <> 'Single'
		BEGIN

			DECLARE @PackingScheduleID INT;
			SELECT @PackingScheduleID = PackingScheduleID
			FROM dbo.PackingSchedule
			WHERE OrderNumber = @OrderNumber AND WaveID = @WaveID AND Status = 'Started' AND Deleted = 0 And OperationStaff = @OperationBy;

			IF @PackingScheduleID IS NOT NULL
			BEGIN
				UPDATE dbo.PackingSchedule
				SET Status = 'End',
					CompletedDate = @CompletedDateTime,
					FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
					FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
					LastEditedDateTime = COALESCE(@CompletedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE PackingScheduleID = @PackingScheduleID;		
			END
		END
		ELSE
		BEGIN
			INSERT INTO dbo.PackingSchedule (
				OrderNumber,
				WaveID,
				Status,
				StartDate,			
				OperationStaff,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES (
				@OrderNumber,       
				@WaveID,           
				'End',           
				@CompletedDateTime,  
				@OperationBy,    
				0,           
				@CompletedDateTime,   
				@OperationBy          
			);
		END
		
		/*DECLARE @IsCharge BIT;
		SET @IsCharge = 1;

		IF @CarrierID = 1  -- AP 
		BEGIN
			SELECT @IsCharge = ISNULL(IsWarehouseAccount,1) 
			FROM [dbo].[APIntegration] 
			WHERE DELETED = 0 AND TenantCode = @TenantCode;
		END ELSE If @CarrierID = 3 -- DHL
		BEGIN
			SELECT @IsCharge = ISNULL(IsWarehouseAccount,1) 
			FROM [dbo].[DHLIntegration] 
			WHERE DELETED = 0 AND TenantCode = @TenantCode;
		END
		
		IF @IsCharge = 1
		BEGIN
			--Insert charge
			DECLARE @InvoiceMessage VARCHAR(4000);

			EXEC [dbo].[SP_VI_TBL_Invoice_InsertPackingInvoice]  
				@WaveID = @WaveID,
				@OrderNumber = @OrderNumber,
				@TenantCode      = @TenantCode,     
				@WarehouseCode   = @WarehouseCode,       
				@CreatedDateTime = @CompletedDateTime,   
				@CreatedBy       = @OperationBy,   
				@Message         = @InvoiceMessage OUTPUT;
		END*/
		
		--Insert charge
		DECLARE @InvoiceMessage VARCHAR(4000);

		EXEC [dbo].[SP_VI_TBL_Invoice_InsertPackingInvoice]  
			@WaveID = @WaveID,
			@OrderNumber = @OrderNumber,
			@TenantCode      = @TenantCode,     
			@WarehouseCode   = @WarehouseCode,       
			@CreatedDateTime = @CompletedDateTime,   
			@CreatedBy       = @OperationBy,   
			@Message         = @InvoiceMessage OUTPUT;

		-- decrease box in uld
		EXEC [dbo].[SP_VI_TBL_ULD_DeductBoxStockForPacking]
			@WarehouseCode = @WarehouseCode,
			@TenantCode = @TenantCode,
			@OrderNumber = @OrderNumber,
			@CompletedDateTime = @CompletedDateTime,
			@OperationBy = @OperationBy,
			@Results = @Results,
			@Message = @Message OUTPUT;

		IF @Message IS NOT NULL AND @Message <> ''
		BEGIN
			ROLLBACK TRANSACTION;
			RETURN;
		END
		
		
		 -- Commit the transaction
        COMMIT TRANSACTION;

		--return Carrier = AP or Manual
		SELECT pr.OrderNumber, pr.ShipmentID , 
		CASE 
			WHEN pr.CarrierID = 1 THEN 'AP'
			WHEN pr.CarrierID = 2 THEN 'Manual'
			WHEN pr.CarrierID = 3 THEN 'DHL Express'
			WHEN pr.CarrierID = 4 THEN 'CP'
			ELSE ''
		END AS Carrier, 
		@IsLocal AS IsLocal,
		f.OrderSource,
		f.order_number as SourceOrderNumber,
		t.TenantName
		FROM dbo.PackingResult pr
		LEFT JOIN dbo.Fulfilment f ON f.OrderNumber = pr.OrderNumber AND f.Deleted = 0
		LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
		WHERE pr.PackingResultID = @NewPackingResultID AND pr.Deleted = 0;

       
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
