USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_GetAllSerialNumberByULDs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 May, 2025>
-- Description:	<Get All serail Number By ULDs>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_GetAllSerialNumberByULDs] 
	@ULDIDs dbo.IdArray READONLY
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	  U.ULDBarcode,
	  A.SerialNumber 
	FROM 
	  (
		SELECT 
		  ULDID,
		  SerialNumber, 
		  SUM(TransactionQty) as s 
		FROM 
		  dbo.ULDLine 
		WHERE 
		  ULDID IN (SELECT [Value] FROM @ULDIDs) 
		  AND Deleted = 0 
		  AND SerialNumber IS NOT NULL 
		GROUP BY 
		  ULDID, SerialNumber
	  ) A 
	  LEFT JOIN dbo.ULD U ON U.ULDID = A.ULDID
	WHERE 
	  A.s > 0
END
GO
