USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_UpdateService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<Update Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_UpdateService] 
	@ServiceID INT,
	@WarehouseCode VARCHAR(20),
	@TenantCode VARCHAR(20),
	@ServiceName VARCHAR(100),
	@ServiceDescription VARCHAR(1000),
    @StartDate			DATETIME,
	@EndDate			DATETIME,
	@FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy        VARCHAR(100) = NULL,
	@LastEditedDateTime   DATETIME = NULL,
	@LastEditedBy         VARCHAR(100) = NULL,
	@Message			  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ServiceType VARCHAR(50);
		SELECT @ServiceType = ServiceType FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0

        -- Check if the ServiceID exists and is not marked as deleted
        IF @ServiceType IS NULL
        BEGIN
            SET @Message = 'ServiceID does not exist or has been deleted.'
            ROLLBACK TRANSACTION;
			RETURN;
        END
		
        -- Update the Service table, excluding TenantCode and Deleted fields
		UPDATE dbo.Service
			SET
			WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
			TenantCode = COALESCE(@TenantCode, TenantCode),
			ServiceName = COALESCE(@ServiceName, ServiceName),
			ServiceDescription = COALESCE(@ServiceDescription, ServiceDescription),
			ServiceType = COALESCE(@ServiceType, ServiceType),
			StartDate = COALESCE(@StartDate, StartDate),
			EndDate = COALESCE(@EndDate, EndDate),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE ServiceID = @ServiceID;

		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
