USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocRow_ListAllRowsBySectionId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get Row by SectionId>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocRow_ListAllRowsBySectionId] 
	@LocSectionID INT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @StorageType VARCHAR(50);
	SELECT @StorageType = StorageType FROM LocSection WHERE LocSectionID = @LocSectionID AND DELETED = 0;

	IF @StorageType = 'PickFace'
	BEGIN
		SELECT lr.*, COALESCE(bta.AllocationCount,0) as AllocationCount, COALESCE(@StorageType,'') as StorageType
		FROM 
			(
				SELECT r.*, COALESCE(c.ColumnCount, 0) AS ColumnCount
				FROM LocRow r
					LEFT JOIN (
						SELECT LocRowId, COUNT(*) AS ColumnCount
						FROM LocColumn
						WHERE Deleted = 0
						GROUP BY LocRowId
					) c ON r.LocRowId = c.LocRowId
			) lr 
			LEFT JOIN 
			(
				SELECT RowId , Deleted, COUNT(RowId) as AllocationCount 
				FROM dbo.BayTenantAllocation GROUP BY RowId, Deleted
			 ) bta 
			ON lr.LocRowID = bta.RowID AND bta.Deleted = 0 
			WHERE lr.LocSectionID = @LocSectionID AND lr.DELETED = 0;
		
	END
	ELSE IF @StorageType = 'PerfectPick'
	BEGIN
		SELECT r.*,
			   COALESCE(@StorageType,'') as StorageType,
			   COALESCE(c.BinCount, 0) AS BinCount, 
			   COALESCE(bta.AllocationCount, 0) AS AllocationCount
		FROM LocRow r
		LEFT JOIN (
			SELECT c.LocRowId, COUNT(b.LocBinId) AS BinCount
			FROM LocColumn c
				LEFT JOIN LocShelf s ON c.LocColumnId = s.LocColumnId AND s.Deleted = 0
				LEFT JOIN LocBin b ON s.LocShelfId = b.LocShelfId AND b.Deleted = 0
			GROUP BY c.LocRowId
		) c ON r.LocRowId = c.LocRowId
		LEFT JOIN (
			SELECT RowId, COUNT(RowId) AS AllocationCount
			FROM dbo.BinTenantAllocation
			WHERE Deleted = 0
			GROUP BY RowId
		) bta ON r.LocRowId = bta.RowId
		WHERE r.LocSectionID = @LocSectionID AND r.DELETED = 0 ;
	END
	ELSE
	BEGIN
		SELECT r.*, COALESCE(s.StorageType,'') as StorageType
		FROM LocRow r
		LEFT JOIN dbo.LocSection s ON s.LocSectionID = r.LocSectionID
		WHERE r.LocSectionID = @LocSectionID AND r.DELETED = 0
	END
	
END
GO
