USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_DeleteItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2024>
-- Description:	<Soft Delete Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_DeleteItem] @ItemID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
	
    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.Items WHERE ItemID = @ItemID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Item has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @TenantCode VARCHAR(10),
				@ItemNumber VARCHAR(30);

	    SELECT @TenantCode = TenantCode, @ItemNumber = ItemNumber
		FROM dbo.Items WHERE Deleted = 0 AND ItemID = @ItemID;

		-- check ULD
		CREATE TABLE #TempULDTable (
			ULDID INT NOT NULL,
			ULDBarcode VARCHAR(30) NOT NULL,
			ULDCurrentLocation VARCHAR(50) NULL,	
			LocationOrderNumber VARCHAR(200) NULL,
			LocColumnID INT NULL,
			LocShelfID INT NULL,
			LocBinID INT NULL,
			LocSBinID INT NULL,
			ULDType VARCHAR(30) NULL,
			TenantCode VARCHAR(10) NULL,
			WarehouseCode VARCHAR(20) NULL,
			HoldStatus VARCHAR(20) NULL,
			CurrentZone VARCHAR(20) NULL,
			Status VARCHAR(20) NULL,
			ItemNumber VARCHAR(30) NULL,
			ItemName VARCHAR(250) NULL,
			ExpiryDate DATETIME NULL,
			BatchNumber VARCHAR(30) NULL,
			CreatedDateTime DATETIME NULL,
			TotalQty INT NULL
		);

		INSERT INTO #TempULDTable
		EXEC [dbo].[SP_VI_TBL_ULD_GetULDsHavingStockOfTenantAtWarehouse] 
				@TenantCode = @TenantCode,
				@WarehouseCode = NULL,
				@ItemNumber = @ItemNumber,
				@PickingCondition = NULL,
				@CountOnHold = 1;

		IF EXISTS (SELECT 1 FROM #TempULDTable)
		BEGIN
			 DROP TABLE #TempULDTable;
			 SET @Message = 'Item cannot be deleted because there are ULDs that contain this item.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DROP TABLE #TempULDTable;

		-- Check receipt manual
		IF EXISTS (SELECT 1 FROM ReceiptInbound r
					INNER JOIN ReceiptInboundLine l ON l.ReceiptInboundID = r.ReceiptInboundID
					WHERE l.Deleted = 0 AND r.Deleted = 0 AND r.ReceiptStatus IN ( 'InProgress', 'Pending')
						  AND l.ItemNumber = @ItemNumber AND r.TenantCode= @TenantCode)
		BEGIN
			 SET @Message = 'Item cannot be deleted because there are in-progress receiving receipts that contain this item..';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- Check receipt random
		IF EXISTS (SELECT 1 
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			WHERE 
				U.Deleted = 0
				AND UL.Deleted = 0
				AND U.TenantCode = @TenantCode
				AND U.ItemNumber = @ItemNumber
				AND u.Status = 'Draft'
			GROUP BY
				U.ULDID
			HAVING 
				SUM(UL.TransactionQty) > 0)
		BEGIN
			 SET @Message = 'Item cannot be deleted because there are in-progress receiving receipts that contain this item..';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.Items
        SET DELETED = 1
        WHERE ItemID = @ItemID;

		UPDATE dbo.ItemTradeUnit
        SET DELETED = 1
        WHERE ItemID = @ItemID;

		UPDATE dbo.ItemKitingCost
        SET DELETED = 1
        WHERE ItemID = @ItemID;
		
        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ItemID: ' + CAST(@ItemID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating ItemID: ' + CAST(@ItemID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
