USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_MobileDevice_InsertMobileDevice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Oct, 2024>
-- Description:	<Insert Mobile Device ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_MobileDevice_InsertMobileDevice]  
	@MobileDeviceIdentifier VARCHAR(40),
    @MobileDeviceManufacturer VARCHAR(100),
    @MobileDeviceModel VARCHAR(100),
    @MobileDeviceName VARCHAR(100),
	@CreatedDateTime DATETIME = NULL,
	@CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		 -- Check for duplicate MobileDeviceIdentifier
		 IF EXISTS(SELECT 1 FROM dbo.MobileDevice WHERE MobileDeviceIdentifier = @MobileDeviceIdentifier AND Deleted = 0 AND Allow = 1)
		 BEGIN
			 SET @Message = 'Mobile Device ID already exists.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END
        
        -- Insert into MobileDevice table
        INSERT INTO dbo.MobileDevice
        (
            MobileDeviceIdentifier,
            MobileDeviceManufacturer,
            MobileDeviceModel,
            MobileDeviceName,
            Allow,
            Deleted,
			CreatedDateTime,
			CreatedBy
        )
        VALUES
        (
            @MobileDeviceIdentifier,
            @MobileDeviceManufacturer,
            @MobileDeviceModel,
            @MobileDeviceName,
            1,
            0,
			@CreatedDateTime,
			@CreatedBy
        );

		 -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
