USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_CancelReceiptReceivingProcess]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Dec, 2024>
-- Description:	<Cancel Receiving Receipt Inbound>
-- =============================================
ALTER PROCEDURE  [dbo].[SP_VI_TBL_ReceiptInbound_CancelReceiptReceivingProcess] 
     @ReceiptInboundID	INT,
	 @TransactionUser	VARCHAR(100),
	 @InvoiceCharging     BIT = 1
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION;

		DECLARE @Qty INT; 
		DECLARE @TenantCode  VARCHAR(10);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(30);
		DECLARE @ULDType VARCHAR(30);
		DECLARE @UnitQuantity INT;
		DECLARE @TransactionReference VARCHAR(500);

	    DECLARE @ShipmentNumber VARCHAR(30);
		DECLARE @ClientShipmentNumber VARCHAR(30);
		DECLARE @ULDID INT;
		DECLARE @CurrentDateTime DATETIME = GETDATE();

		SELECT @ShipmentNumber = ShipmentNumber, 
		       @ClientShipmentNumber = ClientShipmentNumber
		FROM dbo.ReceiptInbound
		WHERE ReceiptInboundID = @ReceiptInboundID;

		DECLARE ULD_Cursor CURSOR FOR
		SELECT ULDID
		FROM dbo.ULDLine
		WHERE TransactionType = 'Receipt'
		  AND Deleted = 0
		  AND (
				LOWER(TransactionReference) = LOWER(@ShipmentNumber)
				OR LOWER(TransactionReference) = LOWER(@ClientShipmentNumber)
			  );

		OPEN ULD_Cursor;

		FETCH NEXT FROM ULD_Cursor INTO @ULDID;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			SELECT 
			   @TenantCode = TenantCode,
			   @WarehouseCode = WarehouseCode,
			   @ULDType = ULDType,
			   @ItemNumber = ItemNumber,
			   @ItemName = ItemName
			FROM dbo.ULD WHERE ULDID = @ULDID AND DELETED = 0;

			SELECT @Qty = SUM(UL.TransactionQty)
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = @ULDID	AND UL.DELETED = 0
			GROUP BY UL.ULDID;

			IF @Qty > 0
			BEGIN
				SET @Qty = -@Qty;

				IF @ULDType = 'Outer' OR  @ULDType = 'Pallet'
				BEGIN
					SELECT @UnitQuantity = COALESCE(iu.UnitQuantity,1)
					From Items i
					LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID AND iu.ItemType = @ULDType
					WHERE i.Deleted = 0 AND i.ItemNumber = @ItemNumber AND i.TenantCode = @TenantCode;

					SET @Qty = @Qty/@UnitQuantity;
				END

				IF @InvoiceCharging = 1
				BEGIN
					SET @TransactionReference = 'Receiving the shipment number: ' +  @ShipmentNumber;

					EXEC [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice] 
						@TenantCode = @TenantCode,
						@WarehouseCode = @WarehouseCode,
						@ItemCode = @ItemNumber,
						@TransactionReference = @TransactionReference,  
						@ItemUnit = @ULDType,     
						@ItemQty = @Qty,    
						@CreatedDateTime = @CurrentDateTime, 
						@CreatedBy = @TransactionUser,  
						@Message = NULL;
				END

				
			END
			
			-- Update dbo.ULD
			UPDATE dbo.ULD
			SET Deleted = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
				LastEditedDateTime = @CurrentDateTime,
				LastEditedBy = @TransactionUser
			WHERE ULDID = @ULDID;

			-- Update dbo.ULDLine
			UPDATE dbo.ULDLine
			SET Deleted = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
				LastEditedDateTime = @CurrentDateTime,
				LastEditedBy = @TransactionUser
			WHERE ULDID = @ULDID;
			
			FETCH NEXT FROM ULD_Cursor INTO @ULDID;
		END;

		CLOSE ULD_Cursor;
		DEALLOCATE ULD_Cursor;
		
		
		-- update receipt status
		UPDATE dbo.ReceiptInbound
        SET 
            ReceiptStatus = 'Pending',
            FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
            FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
            LastEditedDateTime = @CurrentDateTime,
            LastEditedBy = @TransactionUser
        WHERE ReceiptInboundID = @ReceiptInboundID;
		

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ReceiptInboundID: ' + CAST(@ReceiptInboundID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ReceiptInboundID: ' + CAST(@ReceiptInboundID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
