USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_CloseJobManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <18 Dec, 2025>
-- Description:	<Implement Close Job Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_CloseJobManualReport]   
    @ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @SQL NVARCHAR(MAX);

	-- Declare
	CREATE TABLE #TempTable
	(
		WarehouseCode VARCHAR(20),
		WarehouseName VARCHAR(150),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		Destination  VARCHAR(250),
		OrderNumber VARCHAR(50),
		SourceOrderNumber VARCHAR(50)
	);


	IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL
	BEGIN
		INSERT INTO #TempTable
		(
			WarehouseCode,
			WarehouseName,		
			TenantCode,
			TenantName,
			Destination,
			OrderNumber,
			SourceOrderNumber
		)
		SELECT 		
			ISNULL(W.WarehouseCode,''),
			ISNULL(W.WarehouseName,''),
			A.TenantCode,
			ISNULL(T.TenantName,''),
			A.Destination,
			A.OrderNumber,
			A.SourceOrderNumber
		FROM (
				SELECT f.OrderNumber, f.order_number as SourceOrderNumber , f.WarehouseCode, f.TenantCode, f.shipping_address_name as Destination
				FROM Fulfilment f
				LEFT JOIN dbo.WaveLine wl ON wl.OrderNumber = f.OrderNumber AND wl.Deleted = 0
				WHERE f.Deleted = 0 AND FulfilmentStatus = 'Completed'
					  AND wl.PackDateTime BETWEEN @StartDate AND @EndDate
					  AND (@WarehouseCode IS NULL OR f.WarehouseCode = @WarehouseCode)
					  AND (@ManualTenantCode IS NULL OR f.TenantCode = @ManualTenantCode)
			
		) AS A 
		LEFT JOIN dbo.LocWarehouse W ON A.WarehouseCode = W.WarehouseCode AND W.Deleted = 0
		LEFT JOIN dbo.Tenant T ON A.TenantCode = T.TenantCode AND T.Deleted = 0
		WHERE (@WarehouseCode IS NULL OR A.WarehouseCode = @WarehouseCode);
	END
	ELSE
	BEGIN
		INSERT INTO #TempTable
		(
			WarehouseCode,
			WarehouseName,		
			TenantCode,
			TenantName,
			Destination,
			OrderNumber,
			SourceOrderNumber
		)
		SELECT 		
			ISNULL(W.WarehouseCode,''),
			ISNULL(W.WarehouseName,''),
			A.TenantCode,
			ISNULL(T.TenantName,''),
			A.Destination,
			A.OrderNumber,
			A.SourceOrderNumber
		FROM (
				SELECT f.OrderNumber, f.order_number as SourceOrderNumber , f.WarehouseCode, f.TenantCode, f.shipping_address_name as Destination
				FROM Fulfilment f
				WHERE f.Deleted = 0 AND FulfilmentStatus = 'Completed'
					  AND (@WarehouseCode IS NULL OR f.WarehouseCode = @WarehouseCode)
					  AND (@ManualTenantCode IS NULL OR f.TenantCode = @ManualTenantCode)
			
		) AS A 
		LEFT JOIN dbo.LocWarehouse W ON A.WarehouseCode = W.WarehouseCode AND W.Deleted = 0
		LEFT JOIN dbo.Tenant T ON A.TenantCode = T.TenantCode AND T.Deleted = 0
		WHERE (@WarehouseCode IS NULL OR A.WarehouseCode = @WarehouseCode);
	END

	--return
	SELECT 
		WarehouseCode,
		WarehouseName,
		TenantCode,
		TenantName,
		Destination,
		OrderNumber,
		SourceOrderNumber
	FROM #TempTable;
END
GO
