USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantSectionPermission_ListAllTenantSectionPermissions]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Dec, 2025>
-- Description:	<List All Tenant Section Permission>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantSectionPermission_ListAllTenantSectionPermissions] 
AS
BEGIN

	SET NOCOUNT ON;

	SELECT 
		sp.TenantSectionPermissionID,
		sp.TenantPermissionID,
		sp.[Section],
		p.Permission,
		sp.CreatedBy,
		sp.FirstEditedDateTime,
		sp.FirstEditedBy,
		sp.LastEditedDateTime,
		sp.LastEditedBy
	FROM dbo.TenantSectionPermission sp
	INNER JOIN dbo.TenantPermission p ON sp.TenantPermissionID = p.TenantPermissionID
	WHERE sp.Deleted = 0 AND p.Deleted = 0;

END
GO
