USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_DeleteULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Nov, 2024>
-- Description:	<Soft Delete ULD>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_DeleteULD] @ULDID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
  
    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.ULD WHERE ULDID = @ULDID AND Deleted = 1)
		BEGIN
			 SET @Message = 'ULD has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.ULD
        SET DELETED = 1
        WHERE ULDID = @ULDID;

		UPDATE dbo.ULDLine
        SET DELETED = 1
        WHERE ULDID = @ULDID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ULDID: ' + CAST(@ULDID AS NVARCHAR);
    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ULDID: ' + CAST(@ULDID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
