USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Manifest_GetManifestsOfOrders]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <29 Sep, 2025>
-- Description:	<Get Manifests from Orders>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Manifest_GetManifestsOfOrders]  
	@OrderNumbers dbo.StringArray READONLY
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @OrderNumber VARCHAR(50);

	CREATE TABLE #TmpManifest
    (
		OrderNumber VARCHAR(50)  NULL,
        ManifestID  INT      NULL
    );


	DECLARE cur CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
		SELECT [Value]
		FROM @OrderNumbers;

	OPEN cur;

	FETCH NEXT FROM cur INTO @OrderNumber;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		INSERT INTO #TmpManifest (OrderNumber, ManifestID)
		SELECT @OrderNumber, ManifestID
		FROM ManifestLine Where Deleted = 0 AND FulfilmentNumber = @OrderNumber;
		
		FETCH NEXT FROM cur INTO @OrderNumber;
	END

	CLOSE cur;
	DEALLOCATE cur;

	SELECT * FROM #TmpManifest;

END
GO
