USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertAPMailingInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Sep, 2025>
-- Description:	<Insert AP Mailing Invoice>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertAPMailingInvoice]  
	@OrderNumbers dbo.StringArray READONLY,		
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @WarehouseCode VARCHAR(10),
				@TenantCode VARCHAR(10),				
				@OldTenantCode VARCHAR(10),
				@OrderNumber VARCHAR(50),				
				@ShipmentID INT,
				@WaveID INT,
				@MailingChargePercent INT,
				@Currency VARCHAR(20),				
				@AP_order_total_cost DECIMAL(6,2),
				@TransactionReference VARCHAR(500),
				@ShipmentType VARCHAR(20),
				@InvoiceMessage VARCHAR(4000),
				@InvoiceReferences VARCHAR(500),
				@IsManual BIT,
				@IsLocal BIT;

		CREATE TABLE #TmpTable
		(
			WarehouseCode VARCHAR(10),
			TenantCode    VARCHAR(10),
			OrderNumber VARCHAR(50),
			IsManual BIT,
			IsLocal BIT
		);

		DECLARE cur_OrderNumbers CURSOR LOCAL FAST_FORWARD FOR
			SELECT [Value]
			FROM @OrderNumbers;

		OPEN cur_OrderNumbers;

		FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF LEFT(@OrderNumber, 3) = 'MS-'
			BEGIN
				-- belong oen of three
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal)
				SELECT WarehouseCode,ISNULL(AlterTenantCode, TenantCode), @OrderNumber, 1 , 1
				FROM dbo.AP_Shipment
				WHERE Shipment_Reference = @OrderNumber AND Deleted = 0;

				-- belong oen of three
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal)
				SELECT WarehouseCode,ISNULL(AlterTenantCode, TenantCode), @OrderNumber, 1 , 0
				FROM dbo.AP_ShipmentINT
				WHERE Shipment_Reference = @OrderNumber AND Deleted = 0;
				
			END
			ELSE
			BEGIN
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal)
				SELECT f.WarehouseCode,f.TenantCode, @OrderNumber, 0, 0
				FROM dbo.Fulfilment f				
				WHERE f.OrderNumber = @OrderNumber AND f.Deleted = 0;
			END

			FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;
		END;

		CLOSE cur_OrderNumbers;
		DEALLOCATE cur_OrderNumbers;

		SET @OldTenantCode = '';

		-- Define the cursor
		DECLARE cur_TmpTable CURSOR LOCAL FAST_FORWARD FOR
			SELECT WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal
			FROM #TmpTable ORDER BY WarehouseCode, TenantCode;

		-- Open cursor
		OPEN cur_TmpTable;

		-- Fetch first row
		FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual, @IsLocal;
		
		-- Loop through all rows
		WHILE @@FETCH_STATUS = 0
		BEGIN

			DECLARE @IsCharge BIT;
			SET @IsCharge = 1;

			SELECT @IsCharge = ISNULL(IsWarehouseAccount,1) 
			FROM [dbo].[APIntegration] 
			WHERE DELETED = 0 AND TenantCode = @TenantCode;

			IF @IsCharge <> 1
			BEGIN
				FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual, @IsLocal;
				CONTINUE;
			END
			
			IF (@OldTenantCode <> @TenantCode)
			BEGIN
				
				SET @OldTenantCode = @TenantCode;

				SELECT @Currency = Currency
				FROM dbo.LocWarehouse
				WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

				SELECT @MailingChargePercent = ISNULL(MailingChargePercent,0)
				FROM dbo.Tenant
				WHERE TenantCode = @TenantCode AND Deleted = 0;
			END

			IF @IsManual = 0 -- in wave  not have MS-
			BEGIN

				DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
					SELECT 
						f.ShipmentID
					FROM dbo.WaveLine AS f	
					WHERE f.Deleted = 0 AND f.OrderNumber = @OrderNumber;

				OPEN cur_Fulfilment;

				FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID;

				WHILE @@FETCH_STATUS = 0
				BEGIN
								
					SELECT @WaveID = WaveID,
							@ShipmentType = ShipmentType
					FROM dbo.Waveline
					WHERE OrderNumber = @OrderNumber AND Deleted = 0;
				
					IF @MailingChargePercent > 0 AND @ShipmentType IS NOT NULL AND @ShipmentID IS NOT NULL
					BEGIN
						PRINT 'Mailing Invoice';

						PRINT CAST(@ShipmentID as VARCHAR(20));

						IF @ShipmentType = 'Local'
						BEGIN
							SELECT @AP_order_total_cost = ISNULL(AP_order_total_cost,0)
							FROM dbo.AP_Shipment
							WHERE ShipmentID = @ShipmentID AND Deleted = 0;
						END 
						ELSE
						BEGIN
							SELECT @AP_order_total_cost = ISNULL(AP_order_total_cost,0)
							FROM dbo.AP_ShipmentINT
							WHERE ShipmentID = @ShipmentID AND Deleted = 0;
						END
					
						SET @TransactionReference = 'Shipping Charge';

						/*SET @AP_order_total_cost = CEILING(
							@AP_order_total_cost 
							+ (@AP_order_total_cost * @MailingChargePercent / 100.0)
						);*/

						SET @AP_order_total_cost =
						CEILING(
							(
								@AP_order_total_cost
								+ (@AP_order_total_cost * @MailingChargePercent / 100.0)
							) * 100
						) / 100.0;


						EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
							@WaveID = @WaveID,
							@OrderNumber = @OrderNumber,
							@TenantCode      = @TenantCode,     
							@WarehouseCode   = @WarehouseCode,       
							@Currency = @Currency,
							@Charge = @AP_order_total_cost,
							@ChargeItemName = @TransactionReference,
							@CreatedDateTime = @CreatedDateTime,   
							@CreatedBy       = @CreatedBy,   
							@Message         = @InvoiceMessage OUTPUT;
					END

					FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID;
				END;

				CLOSE cur_Fulfilment;
				DEALLOCATE cur_Fulfilment;
			END
			ELSE -- manual
			BEGIN
				IF @IsLocal = 1
				BEGIN
					DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
						SELECT 							
							f.ShipmentID,
							f.ManualInvoiceComment
						FROM dbo.AP_Shipment AS f	
						WHERE f.Deleted = 0 AND f.Shipment_Reference = @OrderNumber;

					OPEN cur_Fulfilment;

					FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID, @InvoiceReferences;

					WHILE @@FETCH_STATUS = 0
					BEGIN

						-- create invoice
						IF @MailingChargePercent > 0 AND @ShipmentID IS NOT NULL
						BEGIN
							PRINT 'Shipping Invoice';

							SELECT @AP_order_total_cost = ISNULL(AP_order_total_cost,0)
							FROM dbo.AP_Shipment
							WHERE ShipmentID = @ShipmentID AND Deleted = 0;		

							/*SET @AP_order_total_cost = CEILING(
								@AP_order_total_cost 
								+ (@AP_order_total_cost * @MailingChargePercent / 100.0)
							);*/

							SET @AP_order_total_cost =
							CEILING(
								(
									@AP_order_total_cost
									+ (@AP_order_total_cost * @MailingChargePercent / 100.0)
								) * 100
							) / 100.0;

							IF @InvoiceReferences IS NOT NULL
							BEGIN
								SET @TransactionReference = @InvoiceReferences;
							END
							ELSE
							BEGIN
								SET @TransactionReference = 'Shipping Charge';
							END

							EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
								@WaveID = @WaveID,
								@OrderNumber = @OrderNumber,
								@TenantCode      = @TenantCode,     
								@WarehouseCode   = @WarehouseCode,       
								@Currency = @Currency,
								@Charge = @AP_order_total_cost,
								@ChargeItemName = @TransactionReference,
								@CreatedDateTime = @CreatedDateTime,   
								@CreatedBy       = @CreatedBy,   
								@Message         = @InvoiceMessage OUTPUT;
						END				

						FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID, @InvoiceReferences;
					END;

					CLOSE cur_Fulfilment;
					DEALLOCATE cur_Fulfilment;

				END -- END @IsLocal = 1
				ELSE
				BEGIN
					DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
						SELECT 							
							f.ShipmentID,
							f.ManualInvoiceComment
						FROM dbo.AP_ShipmentINT AS f	
						WHERE f.Deleted = 0 AND f.Shipment_Reference = @OrderNumber;

					OPEN cur_Fulfilment;

					FETCH NEXT FROM cur_Fulfilment INTO  @ShipmentID, @InvoiceReferences;

					WHILE @@FETCH_STATUS = 0
					BEGIN
										
						-- create invoice
						IF @MailingChargePercent > 0 AND @ShipmentID IS NOT NULL
						BEGIN
							PRINT 'Shipping Invoice';

							SELECT @AP_order_total_cost = ISNULL(AP_order_total_cost,0)
							FROM dbo.AP_ShipmentINT
							WHERE ShipmentID = @ShipmentID AND Deleted = 0;

							/*SET @AP_order_total_cost = CEILING(
								@AP_order_total_cost 
								+ (@AP_order_total_cost * @MailingChargePercent / 100.0)
							);*/

							SET @AP_order_total_cost =
								CEILING(
									(
										@AP_order_total_cost
										+ (@AP_order_total_cost * @MailingChargePercent / 100.0)
									) * 100
								) / 100.0;

							IF @InvoiceReferences IS NOT NULL
							BEGIN
								SET @TransactionReference = @InvoiceReferences;
							END
							ELSE
							BEGIN
								SET @TransactionReference = 'Shipping Charge';
							END

							EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
								@WaveID = @WaveID,
								@OrderNumber = @OrderNumber,
								@TenantCode      = @TenantCode,     
								@WarehouseCode   = @WarehouseCode,       
								@Currency = @Currency,
								@Charge = @AP_order_total_cost,
								@ChargeItemName = @TransactionReference,
								@CreatedDateTime = @CreatedDateTime,   
								@CreatedBy       = @CreatedBy,   
								@Message         = @InvoiceMessage OUTPUT;
						END				
				

						FETCH NEXT FROM cur_Fulfilment INTO  @ShipmentID, @InvoiceReferences;
					END;

					CLOSE cur_Fulfilment;
					DEALLOCATE cur_Fulfilment;
				END

			END -- end manual
				
			
			-- Next row
			FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual, @IsLocal;
		END;

		-- Cleanup
		CLOSE cur_TmpTable;
		DEALLOCATE cur_TmpTable;		
		
		-- Commit the transaction
        COMMIT TRANSACTION;		

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
