USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_ListInvoices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 jan, 2025>
-- Description:	<List Invoices>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Invoice_ListInvoices]
	 @Search NVARCHAR(100),
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'InvoiceID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.Invoice WHERE DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName 
		              FROM
		                 dbo.Invoice i
					  JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					  JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
		          WHERE i.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.Invoice i
		JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
		JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
		WHERE i.DELETED = 0 
		AND (
			LOWER(i.ChargeType) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(i.InvoiceReferences) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(i.ChargeName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(lw.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName
		           FROM 
		              dbo.Invoice i
                   JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
				   JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
            WHERE i.DELETED = 0 
            AND (
                LOWER(i.ChargeType) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(i.InvoiceReferences) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(i.ChargeName) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
            ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;

END
GO
