USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocTempLocation_GetLocationBarcode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 Feb, 2025>
-- Description:	<Get Temp Location Barcode>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocTempLocation_GetLocationBarcode]
    @LocTempLocationID INT,
	@LocationBarcode VARCHAR(50) OUTPUT,
	@LocationLabel VARCHAR(10) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @WarehouseCode VARCHAR(20);
	DECLARE @AreaCode VARCHAR(20);
	DECLARE @SectionCode VARCHAR(20);
	DECLARE @BinCode VARCHAR(29);

	SELECT @WarehouseCode = WarehouseCode,
		   @AreaCode = AreaCode,
		   @SectionCode = SectionCode,
		   @BinCode = BinCode
	FROM dbo.LocTempLocation 
	WHERE LocTempLocationID = @LocTempLocationID AND DELETED = 0;
	
    -- Return the full hierarchy
	SET @LocationBarcode = @WarehouseCode + @AreaCode + @SectionCode + @BinCode;
	
    SET @LocationLabel =  SUBSTRING(@LocationBarcode, 27, 7);

END
GO
