USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockTakeSummaryWeeklyReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement Weekly StockTake Summary Report>  
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockTakeSummaryWeeklyReport]
	@ReportDefinitionID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @OutputType VARCHAR(50),
			@StartDate DateTime,
			@EndDate DateTime;

	SELECT @OutputType = OutputType
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	EXEC SP_VI_TBL_ReportScript_GetReportDateRange
		 @ScheduleType = 'Weekly',
		 @StartDate = @StartDate OUTPUT,
		 @EndDate = @EndDate OUTPUT;
	
	IF @OutputType IS NULL OR @OutputType = 'Portal'
	BEGIN
		PRINT 'Save DB';

		BEGIN TRY

			BEGIN TRANSACTION

			--inset header
			INSERT INTO dbo.ReportData (ReportDefinitionID, TenantCode, TenantName, WarehouseCode, StartDate, EndDate, StoreProcedure, Deleted, CreatedDateTime, CreatedBy)
			SELECT DISTINCT 
				@ReportDefinitionID,
				A.TenantCode,
				A.TenantName,
				A.WarehouseCode,
				@StartDate,
				@EndDate,
				'[dbo].[SP_VI_TBL_ReportScript_StockTakeSummaryManualReport]',
				0,
				GETDATE(),
				'System'
			FROM 
			(
				SELECT r.ServiceID, r.WarehouseCode, r.TenantCode, t.TenantName, r.ServiceNumber, r.ServiceName, r.ServiceType, 
				   r.Status, r.StartDate, r.EndDate, r.CreatedBy, r.CreatedDateTime
				FROM Service r
				LEFT JOIN Tenant t ON t.TenantCode = r.TenantCode
				WHERE r.Deleted = 0 AND r.ServiceType = 'Stocktake' AND r.Status = 'Completed'
					  AND r.CreatedDateTime BETWEEN @StartDate AND @EndDate
			) A
			GROUP BY A.TenantCode, A.TenantName, A.WarehouseCode;

			-- Commit the transaction
			COMMIT TRANSACTION;

			--return 
			SELECT TenantCode FROM dbo.ReportData WHERE Deleted = 0 AND ReportDefinitionID = @ReportDefinitionID;

		END TRY
		BEGIN CATCH
			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;

	END
	
	IF @OutputType IS NULL OR @OutputType = 'Server'
	BEGIN
		PRINT 'Return CSV';

		SELECT r.ServiceID, r.WarehouseCode, w.WarehouseName, r.TenantCode, t.TenantName, r.ServiceNumber, r.ServiceName, r.ServiceType, 
		   r.Status, r.StartDate, r.EndDate, r.CreatedBy, r.CreatedDateTime
		FROM Service r
		LEFT JOIN Tenant t ON t.TenantCode = r.TenantCode
		LEFT JOIN LocWarehouse w ON w.WarehouseCode = r.WarehouseCode
		WHERE r.Deleted = 0 AND r.CreatedDateTime BETWEEN @StartDate AND @EndDate
			  AND r.ServiceType = 'Stocktake' AND r.Status = 'Completed';

	END
END
GO
