USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CompleteKittingService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Jul, 2025>
-- Description:	<Complete Kitting Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_CompleteKittingService] 
    @ServiceID INT,
	@NumberOfItemsPerULD  INT,  
	@NumberOfKittings     INT = 0,  
	@LocWarehouseID      INT,  
	@LocAreaID           INT,  
	@LocSectionID        INT, 
	@CompletedDateTime   DATETIME = NULL,
	@OperationBy         VARCHAR(100) = NULL,
	@LocationCodes       VARCHAR(1000) OUTPUT,
	@NewULDIDs			 VARCHAR(1000) OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		SET @LocationCodes = '';
		SET @NewULDIDs = '';

		DECLARE @ServiceStatus VARCHAR(20),
				@ServiceNumber VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@ServiceType VARCHAR(50),				
				@TenantCode VARCHAR(10),
				@NewULDID INT;

		SELECT @ServiceStatus = Status,
			   @WarehouseCode = WarehouseCode,
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode,
			   @ServiceNumber = ServiceNumber
		FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;

		--composite item
		DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(250);
		DECLARE @ItemID INT;
		DECLARE @KittingQty INT;

		SELECT @ItemNumber = ItemNumber, 
			   @ItemName = ItemName, 
			   @KittingQty = Qty,
			   @ItemID = ItemID
		FROM dbo.KittingItem WHERE ServiceID = @ServiceID AND Deleted = 0;

		-- Picking not enough
		IF @NumberOfKittings <> 0
		BEGIN
			SET @KittingQty = @NumberOfKittings;
		END

		-- Check for Status
		IF @ServiceStatus != 'InProgress'
		BEGIN
			SET @Message = 'Service Status is not In Progress.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceType IS NULL OR @ServiceType <> 'Kitting'
		BEGIN
			SET @Message = 'This Service is not supported.'
			ROLLBACK TRANSACTION;
			RETURN;
		END
		
		IF EXISTS (
			SELECT 1 
			FROM dbo.PickingSchedule 
			WHERE FulfilmentOrder = @ServiceNumber AND FulfilmentType = 'Kitting' AND Deleted = 0 AND Status = 'Taken'
		)
		BEGIN
			SET @Message = 'There are operators who have not finished picking.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		
		-- update status of fulfilment order
		DECLARE @OrderNumber VARCHAR(50);
		DEclare @WaveNumber  VARCHAR(20);
		DECLARE @WaveID INT;

		SELECT @WaveID = WaveID,
			   @OrderNumber = OrderNumber
		FROM dbo.WaveLine
		WHERE SourceOrderNumber = @ServiceNumber AND Deleted = 0;	


		SELECT @WaveNumber = WaveNumber
		FROM dbo.Wave
		WHERE WaveID = WaveID AND Deleted = 0;	
		
		-- update Picking status of wave		
		UPDATE dbo.Wave
		SET 
			WaveStatus = 'Completed',
			StepStatus = 'Completed',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @CompletedDateTime,
			LastEditedBy = @OperationBy
		WHERE WaveID = @WaveID AND Deleted = 0;		

		UPDATE dbo.Fulfilment
		SET 
			FulfilmentStatus = 'Completed',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @CompletedDateTime,
			LastEditedBy = @OperationBy
		WHERE OrderNumber = @OrderNumber AND Deleted = 0;
				
		-- update receipt status
		UPDATE dbo.Service
		SET 
			[Status] = 'Completed',
			CompleteServiceTime = COALESCE(CompleteServiceTime, @CompletedDateTime),
			CompleteServiceBy = COALESCE(CompleteServiceBy, @OperationBy),
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @CompletedDateTime,
			LastEditedBy = @OperationBy
		WHERE ServiceID = @ServiceID;		


		-- get number of ULDs
		DECLARE @NumberOfULDs INT;  

		-- Calculate number of ULDs
		SET @NumberOfULDs = CEILING(CAST(@KittingQty AS FLOAT) / @NumberOfItemsPerULD);  

		DECLARE @Counter INT = 1;  
		DECLARE @RemainingItems INT;  
		DECLARE @ItemsInThisULD INT;  
		SET @RemainingItems = @KittingQty;
		
		-- create temp location		
		DECLARE @AreaCode VARCHAR(20);
		DECLARE @SectionCode VARCHAR(20);		
		DECLARE @NewTmpLocation INT;
		DECLARE @BinCode VARCHAR(28);
		DECLARE @LocationCode VARCHAR(35);
		SELECT @WarehouseCode = WarehouseCode FROM dbo.LocWarehouse WHERE DELETED = 0 AND LocWarehouseID  = @LocWarehouseID;
		SELECT @AreaCode = AreaCode FROM dbo.LocArea WHERE DELETED = 0 AND LocAreaID  = @LocAreaID;
		SELECT @SectionCode = SectionCode FROM dbo.LocSection WHERE DELETED = 0 AND LocSectionID  = @LocSectionID;	

		-- ULD
		DECLARE @Prefix NVARCHAR(6) = '3PLULD';
		DECLARE @SequenceValue BIGINT;
		DECLARE @CurrentPrefix INT;
		DECLARE @NewULDBarcode VARCHAR(50);
		DECLARE @TransactionMovement VARCHAR(1000);

		WHILE @Counter <= @NumberOfULDs
		BEGIN
			
			-- If remaining items are more than the ULD capacity, fill it fully
			IF @RemainingItems >= @NumberOfItemsPerULD
				SET @ItemsInThisULD = @NumberOfItemsPerULD;  
			ELSE
				SET @ItemsInThisULD = @RemainingItems;  

			-- insert temp location
			SET @NewTmpLocation = NEXT VALUE FOR dbo.TmpLocationSequence;		
			SET @BinCode = 'TL' + RIGHT(REPLICATE('0', 26 - LEN(CAST(@NewTmpLocation AS VARCHAR(28)))) + CAST(@NewTmpLocation AS VARCHAR(28)), 26);
    	
			INSERT INTO dbo.LocTempLocation (
				LocSectionID, SectionCode, LocAreaID, AreaCode, LocWarehouseID, WarehouseCode, 
				BinCode, BinType, StorageType, Height, Width, Depth, Distance, Deleted, 
				CreatedDateTime, CreatedBy
			)
			VALUES (
				@LocSectionID, @SectionCode, @LocAreaID, @AreaCode, @LocWarehouseID, @WarehouseCode, 
				@BinCode, 'Pallet', 'TemporaryLocation', 0, 0, 0, 0, 0, 
				@CompletedDateTime, @OperationBy
			);
		
			SET @LocationCode = @WarehouseCode + @AreaCode + @SectionCode + @BinCode;
			SET @LocationCodes = @LocationCodes + @LocationCode + ';';

			-- Insert ULD
			-- Get the next value from the sequence
			SET @SequenceValue = NEXT VALUE FOR dbo.ULDBarcodeSequence;

			-- Get the current prefix
			SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;

			-- Check if the sequence has cycled back to the starting value
			IF @SequenceValue = 10000000001
			BEGIN
				-- Increment the prefix if the sequence has cycled
				UPDATE dbo.ULDPrefix
				SET CurrentPrefix = CurrentPrefix + 1;

				-- Refresh the current prefix after updating
				SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;
			END

			SET @NewULDBarcode = @Prefix + CAST(@CurrentPrefix AS NVARCHAR(10)) + CAST(@SequenceValue AS NVARCHAR(50));
		
			DECLARE @NewULDTable TABLE (ULDID INT);
			-- Insert to ULD
			INSERT INTO [dbo].[ULD] (
				ULDBarcode,
				ULDCurrentLocation,
				TenantCode,
				HoldStatus,
				CurrentZone,
				ULDType,
				WarehouseCode,
				Status,
				ItemNumber,
				ItemName,
				ExpiryDate,
				BatchNumber,
				IsPallete,
				Deleted,
				ReceivedDateTime,
				CreatedDateTime,
				CreatedBy
			)
			OUTPUT INSERTED.ULDID INTO @NewULDTable
			VALUES (
				@NewULDBarcode,
				@LocationCode,
				@TenantCode,
				NULL,
				NULL,
				'Unit',
				@WarehouseCode,
				'Bulk',
				@ItemNumber,
				@ItemName,
				NULL,
				NULL,
				1,
				0, 
				@CompletedDateTime,
				@CompletedDateTime,
				@OperationBy
			);

			SELECT @NewULDID = ULDID FROM @NewULDTable;

			-- Insert ULD Line
			SET @TransactionMovement = 'Kitting ' +  CAST(@ItemsInThisULD AS VARCHAR(10)) + 'x ' + @ItemNumber + ' ';
			SET @TransactionMovement = @TransactionMovement + 'on service ' + @ServiceNumber;

			INSERT INTO [dbo].[ULDLine] (
				ULDID,
				SequenceNumber,
				SerialNumber,
				TransactionDate,
				TransactionUser,
				TransactionType,
				TransactionQty,
				ReceivingQty,
				TransactionReference,
				TransactionMovement,
				TransactionLocation,
				ItemNumber,
				ItemName,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
		
			VALUES (
				@NewULDID,
				1,
				NULL,
				@CompletedDateTime,
				@OperationBy,
				'Kitting',
				@ItemsInThisULD,
				NULL,
				@ServiceNumber,
				@TransactionMovement, 
				@LocationCode,
				@ItemNumber,
				@ItemName,
				0,
				@CompletedDateTime,
				@OperationBy
			);

			SET @NewULDIDs = @NewULDIDs + CAST(@NewULDID AS VARCHAR) + ';';
			
			-- Subtract assigned items
			SET @RemainingItems = @RemainingItems - @ItemsInThisULD;  

			-- Next ULD
			SET @Counter = @Counter + 1;  
		END			

		-- Insert kitting charging 
		DECLARE @Charge DECIMAL(10, 2);
		DECLARE @Currency VARCHAR(20);

		SELECT @Charge = ISNULL(Cost,0),
			   @Currency = Currency
		FROM ItemKitingCost WHERE ItemID = @ItemID AND Deleted = 0 AND WarehouseCode = @WarehouseCode; 

		IF @Charge IS NULL
		BEGIN
			SET @Charge = 0;
		END

		IF @Currency IS NULL
		BEGIN
			SET @Currency = '';
		END

		INSERT INTO [dbo].[Invoice] (
			TenantCode,
			ChargeName,
			ChargeType,
			ChargeCategory,
			InvoiceReferences,
			WaveReferences,
			ItemReferences,
			WarehouseCode,
			Qty,
			Cost,
			Charge,
			Currency,
			Status,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES (
			@TenantCode,
			'Kitting',
			'Standard',
			'Services - Kitting',
			@ServiceNumber,
			@WaveNumber, -- WaveReferences
			@ItemName + ' - ' + @ItemNumber,
			@WarehouseCode,
			@KittingQty,
			@Charge,
			@Charge * @KittingQty,
			@Currency,
			'Pending',
			0, -- Deleted
			@CompletedDateTime,
			@OperationBy
		);


		--revert Init Schedule Picking
		UPDATE U
			SET U.Deleted = 1
		FROM dbo.ULDLine U 
		LEFT JOIN 
		(
			SELECT ULDID FROM dbo.PickingSchedule WHERE FulfilmentOrder = @ServiceNumber AND Deleted = 0 AND Status = 'Init'
		) p ON p.ULDID = U.ULDID
		WHERE U.Deleted = 0 AND U.AllocatedType = 'Kitting' AND U.TransactionType = 'Allocated' AND U.TransactionReference = @ServiceNumber;
			
		 -- Commit the transaction
        COMMIT TRANSACTION;
    

        PRINT 'Update successful for ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Print error message
        PRINT 'Error occurred while updating ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
