USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocColumn_ListLocColumn]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<List>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocColumn_ListLocColumn]
     @LocRowID INT,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'LocColumnID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocColumn WHERE LocRowID = @LocRowID AND DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT lc.*, COALESCE(''Allocated '' + bta.TenantName, ''N/A'') as AllocationStatus FROM dbo.LocColumn lc LEFT JOIN dbo.BayTenantAllocation bta ON lc.LocColumnID = bta.ColumnID AND bta.Deleted = 0 WHERE lc.LocRowID = ' + CAST(@LocRowID AS NVARCHAR(10)) + ' AND lc.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocColumn 
		WHERE DELETED = 0 
		ANd LocRowID = @LocRowID 
		AND (
			LOWER(ColumnName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ColumnCode) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT lc.*, COALESCE(''Allocated '' + bta.TenantName, ''N/A'') as AllocationStatus 
		    FROM dbo.LocColumn lc LEFT JOIN dbo.BayTenantAllocation bta ON lc.LocColumnID = bta.ColumnID AND bta.Deleted = 0 
            WHERE lc.DELETED = 0 
			AND lc.LocRowID = ' + CAST(@LocRowID AS NVARCHAR(10)) + ' 
            AND (
                LOWER(lc.ColumnName) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(lc.ColumnCode) LIKE ''%' + LOWER(@Search) + '%'' 
            ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
   EXEC sp_executesql @SQL; 
END
GO
