USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Report_RunReportByID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 jan, 2025>
-- Description:	<Run Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Report_RunReportByID] @ReportID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10);
	DECLARE @StoreProcedure VARCHAR(200);
	

	SELECT @TenantCode = TenantCode, @StoreProcedure = StoreProcedure FROM dbo.Report WHERE ReportID = @ReportID AND DELETED = 0;

	IF @StoreProcedure IS NULL
	BEGIN
		SET @Message = 'This report has no Store Procedure to run.';
		RETURN;
	END;


	IF @StoreProcedure = 'SP_VI_TBL_Report_RunReportOfReceivingReceipt' -- Receiving receipt report
	BEGIN
		DECLARE @ShipmentNumber VARCHAR(30);
		SELECT @ShipmentNumber = ReportParameterValue FROM dbo.ReportParameter 
	                                              WHERE ReportID = @ReportID AND DELETED = 0 
												  AND ReportParameterName = 'ShipmentNumber';

		CREATE TABLE #TempDetails (
			Warehouse VARCHAR(150),
			Tenant VARCHAR(150),
			ShipmentNumber VARCHAR(30), 
			DueDate DATETIME,
			ItemCode VARCHAR(30),     
			ItemName VARCHAR(250),    
			ULDBarcode NVARCHAR(30),  
			ExpectedQuantity INT,
			ReceivedQuantity INT,
			VarianceQuantity INT
		);

		INSERT INTO #TempDetails
		EXEC SP_VI_TBL_Report_RunReportOfReceivingReceipt @ShipmentNumber;

		SELECT 
			Warehouse,
			Tenant,
			ShipmentNumber,
			DueDate,
			ItemCode,  
			ItemName,     
			ULDBarcode,
			ExpectedQuantity,
			ReceivedQuantity,
			VarianceQuantity
		FROM #TempDetails;

		DROP TABLE #TempDetails;
	END
	ELSE IF @StoreProcedure = 'SP_VI_TBL_Report_RunReportOfCompleteStocktake' -- StockTake report
	BEGIN


		DECLARE @ServiceNumber VARCHAR(50);
		SELECT @ServiceNumber = ReportParameterValue FROM dbo.ReportParameter 
	                                              WHERE ReportID = @ReportID AND DELETED = 0 
												  AND ReportParameterName = 'ServiceNumber';

		CREATE TABLE #StockTakeDetails (
			ServiceID INT,
			WarehouseCode VARCHAR(20),
			Warehouse VARCHAR(150),
			TenantCode VARCHAR(10),
			Tenant VARCHAR(150),
			ServiceNumber VARCHAR(30), 
			ServiceName VARCHAR(100), 
			ULDBarcode VARCHAR(50),     
			ItemCode VARCHAR(30),     
			ItemName VARCHAR(250),      
			ULDCurrentLocation VARCHAR(50),
			LocationName VARCHAR(200),
			Qty INT,
			ScannedType  VARCHAR(30),
			ScannedUnit  VARCHAR(30),
			ScannedQty INT,
			ScannedBarcode VARCHAR(MAX),
			CreatedDateTime DATETIME,
			CreatedBy VARCHAR(100),
			HoldStatus VARCHAR(20),
			HoldReason VARCHAR(1000)
		);

	
		INSERT INTO #StockTakeDetails
		EXEC SP_VI_TBL_Report_RunReportOfCompleteStocktake @ServiceNumber;

		SELECT 			
			ServiceID
			WarehouseCode,
			Warehouse,
			TenantCode,
			Tenant,
			ServiceNumber, 
			ServiceName,
			ULDBarcode,   
			ItemCode,  
			ItemName,
			ULDCurrentLocation,
			LocationName,
			Qty,
			ScannedType,
			ScannedUnit,
			ScannedQty,
			ScannedBarcode,
			CreatedDateTime,
			CreatedBy,
			HoldStatus,
			HoldReason
		FROM #StockTakeDetails;

		DROP TABLE #StockTakeDetails;
	END

	


 
END
GO
