USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_FulfilmentLine_ViewFulfilmentLinesByOrderNumbers]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Jul, 2025>
-- Description:	<Get detail information of FulfilmentLine by FulfilmentOrder>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_FulfilmentLine_ViewFulfilmentLinesByOrderNumbers] 
     @FulfilmentOrders dbo.StringArray READONLY
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	CREATE TABLE #TmpShipment
	(
		CarrierID INT,
		OrderNumber VARCHAR(50),
		ShipmentID INT,
		ConsignmentID VARCHAR(150),
		ShipmentType VARCHAR(20),
		WaveNumber VARCHAR(11)
	);

	INSERT INTO #TmpShipment(OrderNumber, ShipmentID, ShipmentType, CarrierID, WaveNumber)
	SELECT wl.OrderNumber, wl.ShipmentID, wl.ShipmentType, wl.CarrierID, wl.WaveNumber
	FROM dbo.Waveline wl
	INNER JOIN @FulfilmentOrders o ON wl.OrderNumber = o.[Value]
	WHERE wl.Deleted = 0;

	DECLARE @OrderNumber VARCHAR(50);
	DECLARE @ShipmentID INT;
	DECLARE @CarrierID INT;
	DECLARE @ConsignmentID VARCHAR(150);
	DECLARE @ShipmentType VARCHAR(20);

	DECLARE ShipmentCursor CURSOR FOR
		SELECT OrderNumber, ShipmentID, ShipmentType, CarrierID
		FROM #TmpShipment;

	OPEN ShipmentCursor;

	FETCH NEXT FROM ShipmentCursor INTO @OrderNumber, @ShipmentID, @ShipmentType, @CarrierID;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		IF @ShipmentID IS NOT NULL AND @ShipmentType IS NOT NULL AND @CarrierID = 1
		BEGIN
			IF @ShipmentType = 'Local'
			BEGIN
				SELECT @ConsignmentID = AP_ConsignmentID
				FROM AP_Shipment
				WHERE ShipmentID = @ShipmentID AND Deleted = 0;
			END
			ELSE
			BEGIN
				SELECT @ConsignmentID = AP_ConsignmentID
				FROM AP_ShipmentINT
				WHERE ShipmentID = @ShipmentID AND Deleted = 0;
			END

			UPDATE #TmpShipment
			SET 
				ConsignmentID = @ConsignmentID
			WHERE 
				OrderNumber = @OrderNumber;
		END
		ELSE
		BEGIN
			IF @ShipmentID IS NULL AND @ShipmentType IS NULL
			BEGIN
				SELECT @ConsignmentID = TrackingNumber
				FROM dbo.Fulfilment
				WHERE OrderNumber = @OrderNumber AND DELETED = 0 AND FulfilmentStatus = 'Completed';
			END			
		END

		FETCH NEXT FROM ShipmentCursor INTO @OrderNumber, @ShipmentID, @ShipmentType, @CarrierID;
	END;

	CLOSE ShipmentCursor;
	DEALLOCATE ShipmentCursor;

	
    SELECT l.*, f.OrderNumber, ISNULL(pin.SlotNumber, 0) AS SlotNumber , f.order_number as SourceOrderNumber, t.TenantName, f.TenantCode, f.WarehouseCode, 
		   ts.ShipmentID, ts.ShipmentType, ts.ConsignmentID, ts.WaveNumber
	FROM dbo.FulfilmentLine l
	INNER JOIN dbo.Fulfilment f ON f.FulfilmentID = l.FulfilmentID
	INNER JOIN @FulfilmentOrders o ON f.OrderNumber = o.[Value]
	LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
	LEFT JOIN #TmpShipment ts ON ts.OrderNumber = f.OrderNumber
	LEFT JOIN dbo.PickingInfo pin ON pin.OrderNumber = f.OrderNumber AND pin.Deleted = 0
	WHERE l.Deleted = 0;

END
GO
