USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_UpdateQuantityByULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Nov, 2024>
-- Description:	<Update Quantity By ULD>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ULD_UpdateQuantityByULD] 
   @ULDID				INT,
   @TransactionQty		INT, 
   @InvoiceCharging     BIT = 1,
   @TransactionUser		VARCHAR(100),
   @Message				VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @CurrentDateTime DATETIME = GETDATE();

		DECLARE @SequenceNumber INT;
		SELECT @SequenceNumber = COUNT(*)
		FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
		SET @SequenceNumber = @SequenceNumber + 1;

		If @TransactionQty <= 0
		BEGIN
			 SET @Message = 'Can not update quantity less than zero';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		IF EXISTS(SELECT 1 FROM dbo.ULDLine WHERE ULDID = @ULDID AND SerialNumber IS NOT NULL AND DELETED = 0)
		BEGIN
			 SET @Message = 'Can not update quantity for Serial Numnber ULD';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @ShipmentNumber VARCHAR(30); 
		DECLARE @OldTransactionQty INT; 

		SELECT @ShipmentNumber = TransactionReference, @OldTransactionQty = Sum(TransactionQty)
		FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0 GROUP BY TransactionReference;

		DECLARE @TenantCode  VARCHAR(10);
	    DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(30);
	    DECLARE @LocationCode VARCHAR(50);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ULDType  VARCHAR(30);
	  
		SELECT @TenantCode = TenantCode,
		       @LocationCode = ULDCurrentLocation,
			   @ItemNumber = ItemNumber,
			   @ItemName = ItemName,
			   @WarehouseCode = WarehouseCode,
			   @ULDType = ULDType
		FROM dbo.ULD WHERE ULDID = @ULDID AND DELETED = 0;

		IF @ULDType <> 'Unit'
		BEGIN
			SET @Message = 'Can not update items for Box or Pallet';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @ChangedTransactionQty INT; 
		SET @ChangedTransactionQty = @TransactionQty - @OldTransactionQty;
	
		DECLARE @TransactionMovement VARCHAR(1000);
		IF @ChangedTransactionQty > 0
		BEGIN
			SET @TransactionMovement = 'Update to increase ' +  CAST(ABS(@ChangedTransactionQty) AS VARCHAR(10)) + 'x ' + @ItemNumber + ' ';
		END
		ELSE
		BEGIN
			SET @TransactionMovement = 'Update to decrease  ' +  CAST(ABS(@ChangedTransactionQty) AS VARCHAR(10)) + 'x ' + @ItemNumber + ' ';
		END

		INSERT INTO [dbo].[ULDLine] (
			ULDID,
			SequenceNumber,
			SerialNumber,
			TransactionDate,
			TransactionUser,
			TransactionType,
			TransactionQty,
			TransactionReference,
			TransactionMovement,
			TransactionLocation,
			ItemNumber,
			ItemName,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
			
		VALUES (
			@ULDID,
			@SequenceNumber,
			NULL,
			@CurrentDateTime,
			@TransactionUser,
			'Updated',
			@ChangedTransactionQty,
			@ShipmentNumber,
			@TransactionMovement, 
			@LocationCode,
			@ItemNumber,
			@ItemName,
			0,
			@CurrentDateTime,
			@TransactionUser
		);

		IF @InvoiceCharging = 1
		BEGIN
			DECLARE @TransactionReference VARCHAR(500);
			SET @TransactionReference = 'Receiving the shipment number: ' +  @ShipmentNumber;

			-- create invoice 
			EXEC [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice] 
				@TenantCode = @TenantCode,
				@WarehouseCode = @WarehouseCode,
				@ItemCode = @ItemNumber,
				@TransactionReference = @TransactionReference,  
				@ItemUnit = @ULDType,     
				@ItemQty = @ChangedTransactionQty,    
				@CreatedDateTime = @CurrentDateTime, 
				@CreatedBy = @TransactionUser,  
				@Message = NULL;
		END

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
