USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetStorageSummaryOfTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <18 Mar, 2025>
-- Description:	<GET Storage Summary Of Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetStorageSummaryOfTenant]  
	@TenantCode VARCHAR(10),
	@AllocatedColumns INT OUTPUT,
	@AllocatedBins INT OUTPUT,
	@AllocatedSBins INT OUTPUT,
	@UsedSBins INT OUTPUT,
	@AvailableSBins INT OUTPUT,
	@UsedPallets INT OUTPUT,
	@AllocatedTempLocations INT OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	SET @AllocatedColumns = 0;
	SET @AllocatedBins = 0;
	SET @AllocatedSBins = 0;
	SET @UsedSBins = 0;
	SET @UsedPallets = 0;
	SET @AllocatedTempLocations = 0;

	SELECT 
	       @AllocatedColumns = COALESCE(COUNT(A.LocColumnID),0),  
	       @AllocatedBins = COALESCE(SUM(A.TotalBin),0),  
	       @AllocatedSBins = COALESCE(SUM(A.TotalSBin),0),  
		   @UsedSBins = COALESCE(SUM(A.UsedSBin),0)
	FROM (
		SELECT C.*, COALESCE(U.UsedSBin, 0) AS UsedSBin
		FROM 
		(
			SELECT lc.LocColumnID,
					COUNT(DISTINCT lb.LocBinID) AS TotalBin,
					COUNT(DISTINCT lsbin.LocSBinID) AS TotalSBin
			FROM LocColumn lc
			JOIN LocShelf ls ON lc.LocColumnID = ls.LocColumnID
			JOIN LocBin lb ON ls.LocShelfID = lb.LocShelfID
			JOIN LocSBin lsbin ON lb.LocBinID = lsbin.LocBinID
			JOIN BayTenantAllocation bta ON lc.LocColumnID = bta.ColumnId
			WHERE bta.Deleted = 0 AND bta.TenantCode = @TenantCode
			GROUP BY lc.LocColumnID
		) C
		LEFT JOIN 
		(
			SELECT U.LocColumnID, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
			FROM dbo.ULD U
			WHERE U.LocColumnID IS NOT NULL 
			AND U.LocSBinID IS NOT NULL
			AND U.DELETED = 0
			AND EXISTS 
			(
				SELECT 1
				FROM dbo.ULDLine UL
				WHERE UL.ULDID = U.ULDID
				AND UL.DELETED = 0
				GROUP BY UL.ULDID
				HAVING SUM(UL.TransactionQty) > 0
			)
			GROUP BY U.LocColumnID
		) U ON U.LocColumnID = C.LocColumnID
	) AS A;

	SET @AvailableSBins = @AllocatedSBins - @UsedSBins;

	-- pallet
	SELECT @UsedPallets = COALESCE(COUNT(DISTINCT U.ULDCurrentLocation),0)
	FROM dbo.ULD U
	WHERE U.LocSBinID IS NOT NULL 
		AND U.TenantCode = @TenantCode
		AND U.IsPallete = 1
		AND U.DELETED = 0
		AND U.LocColumnID IS NOT NULL AND U.LocColumnID <> -1
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
				AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);

	-- tmp
	SELECT @AllocatedTempLocations = COALESCE(COUNT(DISTINCT U.ULDCurrentLocation),0)
	FROM dbo.ULD U
	WHERE U.TenantCode = @TenantCode
		AND U.IsPallete = 1
		AND U.DELETED = 0
		AND U.LocColumnID IS NULL OR U.LocColumnID = -1
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
				AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);

END
GO
