USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_GetPendingRandomReceiptInboundDetail]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<List Pending Random Receipt Inbound Detail>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_GetPendingRandomReceiptInboundDetail]
    @ReceiptInboundID INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ShipmentNumber VARCHAR(30);
	DECLARE @TenantCode VARCHAR(20);

	SELECT @TenantCode = TenantCode, @ShipmentNumber = ShipmentNumber FROM dbo.ReceiptInbound WHERE DELETED = 0 AND ReceiptInboundID = @ReceiptInboundID;

    -- Temp table to store combined results
    CREATE TABLE #TempULDTransactionDetails
    (
        ULDID INT,
		TenantCode VARCHAR(10),
		LocationCode VARCHAR(50),
        ItemName VARCHAR(250),
        ItemNumber VARCHAR(30),
		ItemType VARCHAR(30), -- ULD Type
        BatchNumber VARCHAR(30),
        ExpiryDate DATETIME,
        TrackSerialOnReceipt BIT,
        TransactionQty INT
    );

    -- Insert records where SerialNumber IS NULL
    INSERT INTO #TempULDTransactionDetails (ULDID, TenantCode, LocationCode, ItemName, ItemNumber, ItemType, BatchNumber, ExpiryDate, TrackSerialOnReceipt, TransactionQty)
    SELECT 
        u.ULDID, 
		@TenantCode as TenantCode,
		u.ULDCurrentLocation,
        u.ItemName, 
        u.ItemNumber, 
		u.ULDType as ItemType,
        u.BatchNumber, 
        u.ExpiryDate, 
		0 as TrackSerialOnReceipt,
        SUM(ul.TransactionQty) as TransactionQty
    FROM dbo.ULD u
    JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
    WHERE 
        u.DELETED = 0 
        AND u.TenantCode = @TenantCode 
        AND ul.SerialNumber IS NULL
        AND ul.DELETED = 0 
        AND ul.TransactionReference = @ShipmentNumber
	GROUP BY 
        u.ULDID, 
		u.ULDCurrentLocation,
        u.ItemName, 
        u.ItemNumber, 
		u.ULDType,
        u.BatchNumber, 
        u.ExpiryDate;

    -- Insert records where SerialNumber IS NOT NULL (count of TransactionQty)
    INSERT INTO #TempULDTransactionDetails (ULDID, TenantCode, LocationCode, ItemName, ItemNumber, ItemType, BatchNumber, ExpiryDate, TrackSerialOnReceipt, TransactionQty)
    SELECT 
        u.ULDID, 
		@TenantCode as TenantCode,
		u.ULDCurrentLocation as LocationCode,
        u.ItemName, 
        u.ItemNumber, 
		u.ULDType as ItemType,
        u.BatchNumber, 
        u.ExpiryDate, 
        1 AS TrackSerialOnReceipt, 
        SUM(ul.TransactionQty) AS TransactionQty
    FROM dbo.ULD u
    JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
    WHERE 
        u.DELETED = 0 
        AND u.TenantCode = @TenantCode 
        AND ul.SerialNumber IS NOT NULL
        AND ul.DELETED = 0 
        AND ul.TransactionReference = @ShipmentNumber
    GROUP BY 
        u.ULDID, 
		u.ULDCurrentLocation,
        u.ItemName, 
        u.ItemNumber, 
		u.ULDType,
        u.BatchNumber, 
        u.ExpiryDate;


    -- Select the combined results
    SELECT 
        ULDID, 
		TenantCode,
		LocationCode,
		dbo.fn_GetShortLocationNameFromCode(LocationCode) as LocationLabel,
        ItemName, 
        ItemNumber, 
		ItemType,
        BatchNumber, 
        ExpiryDate, 
        TrackSerialOnReceipt, 
        TransactionQty
    FROM #TempULDTransactionDetails;

    -- Clean up temp table
    DROP TABLE #TempULDTransactionDetails;

END
GO
