USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ServiceLine_InsertServiceLine]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<Insert Service Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ServiceLine_InsertServiceLine] 
	@ServiceID INT,
	@Activity VARCHAR(100),
	@NumberOfPeople INT,
	@NumberOfHours INT,
    @CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@NewServiceLineID INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        -- Check if the ServiceID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0)
        BEGIN
            SET @Message = 'ServiceID does not exist or has been deleted.'
            RETURN;
        END

		-- Insert into Service table
		INSERT INTO dbo.ServiceLine
		(
			ServiceID,
			Activity,
			NumberOfPeople,
			NumberOfHours,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@ServiceID,
			@Activity,
			@NumberOfPeople,
			@NumberOfHours,				
			0,
			@CreatedDateTime,
			@CreatedBy
		);

		SET @NewServiceLineID = SCOPE_IDENTITY();
  
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
