USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_CheckMobileAuthentication]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Oct, 2024>
-- Description:	<Check mobile Authentication>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_CheckMobileAuthentication] 
        @UserEmail VARCHAR(100), 
        @Password VARCHAR(20),
        @MobileDeviceIdentifier VARCHAR(40),
	    @Message VARCHAR(4000) OUTPUT,
		@APIKey VARCHAR(50) OUTPUT,
		@Warehouse VARCHAR(150) OUTPUT,
		@WarehouseCode VARCHAR(20) OUTPUT,
		@WarehouseID INT OUTPUT,
		@AzureUserId VARCHAR(50) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    DECLARE @CurPassword VARBINARY(8000);
    DECLARE @HashedCheckPassword VARBINARY(8000);
	DECLARE @UserAPIKey VARCHAR(50);
	DECLARE @Code VARCHAR(20);
	DECLARE @WarehouseName VARCHAR(150);
	DECLARE @TenantCode VARCHAR(10);
	DECLARE @AzureId VARCHAR(50);

    SET @HashedCheckPassword = HASHBYTES('SHA2_256', @Password);

    SELECT @CurPassword = MobilePassword, 
		   @UserAPIKey = UserAPIKey, 
		   @Code = WarehouseCode,
		   @TenantCode = TenantCode,
		   @AzureId = AzureUserId
    FROM dbo.Users 
    WHERE UserEmail = @UserEmail AND LOWER(UserType) = 'owner' AND Deleted = 0

	IF @CurPassword IS NULL OR @CurPassword != @HashedCheckPassword OR @TenantCode = '' OR @TenantCode IS NOT NULL 
	BEGIN
		SET @Message = 'UserEmail or Password is not correct.';
		SELECT 0;
	END
	ELSE
	BEGIN
		IF NOT EXISTS(SELECT 1 FROM dbo.MobileDevice WHERE MobileDeviceIdentifier = @MobileDeviceIdentifier AND Deleted = 0 AND Allow = 1)
		BEGIN
			SET @Message = 'Mobile Device ID is not allowed or not existed.'
			SELECT 0;
		END
		ELSE
		BEGIN
			IF @Code IS NOT NULL
			BEGIN
				SELECT 
					@WarehouseName = WarehouseName,
					@WarehouseID = LocWarehouseID
				FROM dbo.LocWarehouse 
				WHERE WarehouseCode = @Code
			END

			SET @APIKey = @UserAPIKey;
			SET @Warehouse = @WarehouseName;
			SET @WarehouseCode = @Code;
			SET @AzureUserId = @AzureId;
			SELECT 1;
		END
	END
	
END
GO
