USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDashboardConfig_ListReportDashboardConfigs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Get list of ReportDashboardConfigID with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDashboardConfig_ListReportDashboardConfigs]
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'TenantCode',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records (grouped by tenant)
		SELECT @TotalRecords = COUNT(DISTINCT TenantCode)
		FROM dbo.ReportDashboardConfig
		WHERE DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		-- Build paginated grouped query
		SET @SQL = N'
			SELECT d.TenantCode,
				   t.TenantName,
				   COUNT(*) AS NumberWidget
			FROM dbo.ReportDashboardConfig d
			LEFT JOIN Tenant t ON t.TenantCode = d.TenantCode
			WHERE d.DELETED = 0
			GROUP BY d.TenantCode, t.TenantName
			ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
			OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS
			FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END
    ELSE
    BEGIN

        SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*)
		FROM (
			SELECT DISTINCT d.TenantCode
			FROM dbo.ReportDashboardConfig d
			LEFT JOIN Tenant t ON t.TenantCode = d.TenantCode
			WHERE d.DELETED = 0
			  AND (
					LOWER(d.WidgetName) LIKE '%' + @Search + '%'
				 OR LOWER(d.TenantCode) LIKE '%' + @Search + '%'
				 OR LOWER(t.TenantName) LIKE '%' + @Search + '%'
				 OR LOWER(d.Location) LIKE '%' + @Search + '%'
			  )
		) AS GroupedTenants;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'
				SELECT 
					d.TenantCode,
					t.TenantName,
					COUNT(*) AS RecordCount
				FROM dbo.ReportDashboardConfig d
				LEFT JOIN Tenant t ON t.TenantCode = d.TenantCode
				WHERE d.DELETED = 0
				  AND (
						LOWER(d.WidgetName) LIKE ''%' + @Search + '%''
					 OR LOWER(d.TenantCode) LIKE ''%' + @Search + '%''
					 OR LOWER(t.TenantName) LIKE ''%' + @Search + '%''
					 OR LOWER(d.Location) LIKE ''%' + @Search + '%''
				  )
				GROUP BY d.TenantCode, t.TenantName
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
				OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';


    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
