USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocWarehouse_ListLocWarehouses]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2024>
-- Description:	<Get all Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocWarehouse_ListLocWarehouses] 
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * FROM dbo.LocWarehouse where Deleted = 0;
END
GO
