USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_UpdateItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2024>
-- Description:	<Update Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_UpdateItem] 
	@ItemID              INT,
    @ItemName             VARCHAR(250) = NULL,
	@ItemPrice            DECIMAL(10,2) = NULL,
    @ItemGroups           ValueArray READONLY,
	@CompositeType		  VARCHAR(30) = NULL,
	@MinimumStockLimit	   INT = 0,
	@ItemIsComposite      BIT = NULL,
	@ItemIsMaterial      BIT = NULL, 
	@MaterialType        VARCHAR(50) = NULL,
    @ItemIsActive         BIT = NULL,
    @NonShippingItem      BIT = NULL,
    @TrackSerialOnShipment BIT = NULL,
    @TrackSerialOnReceipt  BIT = NULL,
    @TrackBatchCodeOnShipment BIT = NULL,
    @TrackBatchCodeOnReceipt  BIT = NULL,
    @TrackExpiryDateOnShipment BIT = NULL,
    @TrackExpiryDateOnReceipt  BIT = NULL,
    @HsTariffCode         VARCHAR(50) = NULL,
    @ReorderLevel         VARCHAR(50) = NULL,
    @CountryOfOrgin       VARCHAR(50) = NULL,
    @BillableForPicking   BIT = NULL,
    @SerialNumberMask     VARCHAR(50) = NULL,
    @BatchNumberMask      VARCHAR(50) = NULL,
	@ShopDomain           VARCHAR(150) = NULL,
	@PickingCondition     VARCHAR(100) = NULL,
	@DHLDocument		  VARCHAR(200) = NULL,
	@ItemTradeUnits ItemTradeUnitTableType READONLY,
	@CompositeItems ItemCompositeTableType READONLY,
	@KittingCosts   ChargeItemWarehouseCostTable READONLY,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	BEGIN TRY

		BEGIN TRANSACTION


		IF @ItemIsMaterial = 1 AND (@MaterialType IS NULL OR LTRIM(RTRIM(@MaterialType)) = '')
		BEGIN
			SET @Message = 'Material Type is required when Item is Material.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @ItemNumber VARCHAR(30);
		DECLARE @TenantCode VARCHAR(10);		
		DECLARE @OldItemIsActive BIT;
		

		SELECT  @ItemNumber = ItemNumber,
		        @TenantCode = TenantCode,
				@OldItemIsActive = ItemIsActive	
		FROM dbo.Items WHERE ItemID = @ItemID AND Deleted = 0
		

		-- Check if the ItemID exists and is not marked as deleted
		IF @ItemNumber IS NULL
		BEGIN
			SET @Message = 'ItemID does not exist or has been deleted.'
			ROLLBACK TRANSACTION;
            RETURN;
		END

		IF EXISTS(
			SELECT 1 
			FROM @ItemTradeUnits itu
			WHERE EXISTS 
			(
				SELECT 1 
				FROM dbo.Items i
				JOIN dbo.ItemTradeUnit itu2 ON i.ItemID = itu2.ItemID
				WHERE i.TenantCode != @TenantCode 
				  AND itu2.DELETED = 0 
				  AND i.DELETED = 0 
				  AND itu.Barcode = itu2.Barcode
			)
		)
		BEGIN
			SET @Message = 'Barcode of Tenant already exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		/*DECLARE	@IsEmpty BIT;

		EXEC [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtWarehouse]		   
		    @TenantCode = @TenantCode,
			@ItemNumber = @ItemNumber,
			@IsEmpty = @IsEmpty OUTPUT;

		IF @IsEmpty = 0
		BEGIN
			IF @ItemIsActive = 0 AND @OldItemIsActive = 1
			BEGIN
				SET @Message = 'There is stock of this item. It cannot be inactivated.'
			END
			ELSE
			BEGIN
				SET @Message = 'Item update not allowed while stock is available.'
			END
			
			ROLLBACK TRANSACTION;
			RETURN;
		END	*/

		-- Check SN required
		IF @ItemIsComposite IS NOT NULL AND @ItemIsComposite = 1 AND @CompositeType = 'Stock'
		BEGIN
			
			DECLARE @CurrentItemID INT;
			DECLARE @Found BIT;

			SET @Found = 0;

			DECLARE ItemCursor CURSOR FOR
				SELECT ItemID
				FROM @CompositeItems
				WHERE ItemID IS NOT NULL;  -- optional filter

			OPEN ItemCursor;

			FETCH NEXT FROM ItemCursor INTO @CurrentItemID;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				
				IF EXISTS(
					SELECT 1 
					FROM Items
					WHERE ItemID = @CurrentItemID AND Deleted = 0 AND TrackSerialOnReceipt = 1
				)
				BEGIN
					SET @Found = 1;
				END

				FETCH NEXT FROM ItemCursor INTO @CurrentItemID;
			END

			CLOSE ItemCursor;
			DEALLOCATE ItemCursor;

			IF @Found = 1 
			BEGIN
				SET @Message = 'Items requiring a serial number must have a composite type of "Order"';
				ROLLBACK TRANSACTION;
				RETURN;
			END
			
		END

		
		-- Update the table
		UPDATE dbo.Items
		SET
			DHLDocument = @DHLDocument,
			ItemName = @ItemName,
			ItemPrice = @ItemPrice,			
			CompositeType = @CompositeType,
			MinimumStockLimit = @MinimumStockLimit,
			PickingCondition = @PickingCondition,
			ItemIsComposite = @ItemIsComposite,
			ItemIsMaterial = @ItemIsMaterial,
			MaterialType = CASE 
				WHEN COALESCE(@ItemIsMaterial, ItemIsMaterial) = 1 
				THEN COALESCE(@MaterialType, MaterialType) 
				ELSE NULL 
			END,
			ItemIsActive = @ItemIsActive,
			NonShippingItem = @NonShippingItem,
			TrackSerialOnShipment = @TrackSerialOnShipment,
			TrackSerialOnReceipt = @TrackSerialOnReceipt,
			TrackBatchCodeOnShipment = @TrackBatchCodeOnShipment,
			TrackBatchCodeOnReceipt = @TrackBatchCodeOnReceipt,
			TrackExpiryDateOnShipment = @TrackExpiryDateOnShipment,
			TrackExpiryDateOnReceipt = @TrackExpiryDateOnReceipt,
			HsTariffCode = @HsTariffCode,
			ReorderLevel = @ReorderLevel,
			CountryOfOrgin = @CountryOfOrgin,
			BillableForPicking = @BillableForPicking,
			SerialNumberMask = @SerialNumberMask,
			BatchNumberMask = @BatchNumberMask,  			
			ShopDomain = @ShopDomain, 
			FirstEditedDateTime = @FirstEditedDateTime,
			FirstEditedBy = @FirstEditedBy,
			LastEditedDateTime = @LastEditedDateTime,
			LastEditedBy = @LastEditedBy
		WHERE ItemID = @ItemID

		-- Update deleted for all existing rows in the ItemTradeUnits table
		UPDATE dbo.ItemTradeUnit
        SET
			Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE
		    ItemID = @ItemID;

		-- Update existing rows in the ItemTradeUnits table based on the Id in @ItemTradeUnits
        UPDATE itu
        SET
            itu.Barcode = COALESCE(ituTable.Barcode, itu.Barcode),
            itu.UnitQuantity = COALESCE(ituTable.UnitQuantity, itu.UnitQuantity),
            itu.ItemType = COALESCE(ituTable.ItemType, itu.ItemType),
            itu.Height = COALESCE(ituTable.Height, itu.Height),
            itu.Width = COALESCE(ituTable.Width, itu.Width),
            itu.Depth = COALESCE(ituTable.Depth, itu.Depth),
            itu.[Weight] = COALESCE(ituTable.[Weight], itu.[Weight]),
            itu.Packaging = COALESCE(ituTable.Packaging, itu.Packaging),
            itu.PalletTi = COALESCE(ituTable.PalletTi, itu.PalletTi),
            itu.PalletHi = COALESCE(ituTable.PalletHi, itu.PalletHi),
            itu.PrimaryUnit = COALESCE(ituTable.PrimaryUnit, itu.PrimaryUnit),
			itu.Deleted = 0,
			itu.FirstEditedDateTime = COALESCE(itu.FirstEditedDateTime, @FirstEditedDateTime),
			itu.FirstEditedBy = COALESCE(itu.FirstEditedBy, @FirstEditedBy),
			itu.LastEditedDateTime = COALESCE(@LastEditedDateTime, itu.LastEditedDateTime),
			itu.LastEditedBy = COALESCE(@LastEditedBy, itu.LastEditedBy)
        FROM
            dbo.ItemTradeUnit itu
        INNER JOIN
            @ItemTradeUnits ituTable
        ON
            itu.ItemTradeUnitID = ituTable.Id
        WHERE
            ituTable.Id IS NOT NULL; -- Only update rows where Id is not NULL

		-- Insert new rows where the Id is NULL in @ItemTradeUnits
        INSERT INTO dbo.ItemTradeUnit 
			(
				ItemID, Barcode, UnitQuantity, ItemType, Height, Width, Depth, 
				Weight, Packaging, PalletTi, PalletHi, PrimaryUnit, Deleted, CreatedDateTime, CreatedBy
			 )
        SELECT 
            @ItemID, -- Link to the current ItemID
            ituTable.Barcode,
            ituTable.UnitQuantity,
            ituTable.ItemType,
            ituTable.Height,
            ituTable.Width,
            ituTable.Depth,
            ituTable.Weight,
            ituTable.Packaging,
            ituTable.PalletTi,
            ituTable.PalletHi,
            ituTable.PrimaryUnit,
			0,
			@LastEditedDateTime, 
			@LastEditedBy
        FROM @ItemTradeUnits ituTable
        WHERE ituTable.Id IS NULL OR ituTable.Id = 0; -- Insert only rows where Id is NULL


		---  update Item Composite
		IF @ItemIsComposite IS NOT NULL AND @ItemIsComposite = 1
		BEGIN
			UPDATE dbo.ItemComposite
			SET
				Deleted = 1,
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE
				ParentItemID = @ItemID;

			UPDATE dbo.ItemKitingCost
			SET
				Deleted = 1,
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE
				ItemID = @ItemID;

			-- Update existing rows in the ItemComposite table based on the Id in @ItemComposites
			UPDATE ci
			SET
				ci.Deleted = 0,
				ci.ItemID = COALESCE(ciTable.ItemID, ci.ItemID),
				ci.ItemName = COALESCE(ciTable.ItemName, ci.ItemName),
				ci.ItemNumber = COALESCE(ciTable.ItemNumber, ci.ItemNumber),
				ci.Quantity = COALESCE(ciTable.Quantity, ci.Quantity),
				ci.FirstEditedDateTime = COALESCE(ci.FirstEditedDateTime, @FirstEditedDateTime),
				ci.FirstEditedBy = COALESCE(ci.FirstEditedBy, @FirstEditedBy),
				ci.LastEditedDateTime = COALESCE(@LastEditedDateTime, ci.LastEditedDateTime),
				ci.LastEditedBy = COALESCE(@LastEditedBy, ci.LastEditedBy)
			FROM
				dbo.ItemComposite ci
			INNER JOIN
				@CompositeItems ciTable
			ON
				ci.ItemCompositeID = ciTable.ID
			WHERE
				ciTable.ID IS NOT NULL; -- Only update rows where Id is not NULL

			-- Insert new rows where the Id is NULL in @CompositeItems
			INSERT INTO dbo.ItemComposite (ParentItemID, ParentItemNumber, ItemID, ItemName, ItemNumber, Quantity, Deleted, CreatedDateTime, CreatedBy)
			SELECT @ItemID, @ItemNumber, ciTable.ItemID, ciTable.ItemName, ciTable.ItemNumber, ciTable.Quantity, 0, @LastEditedDateTime, @LastEditedBy
			FROM @CompositeItems ciTable
			WHERE ciTable.ID IS NULL OR ciTable.ID = 0; -- Insert only rows where Id is NULL

		END

		-- Deleted for all existing rows in the ItemChargeGroup table
		DELETE FROM dbo.ItemChargeGroup WHERE ItemID = @ItemID;

		-- Insert the associated charge Item Group
		INSERT INTO dbo.ItemChargeGroup (ItemID, ChargeGroupID, Category, Deleted, CreatedDateTime,	CreatedBy)
		SELECT @ItemID, [ID], [Value], 0 , @LastEditedDateTime, @LastEditedBy
		FROM @ItemGroups;

		IF @ItemIsComposite IS NOT NULL AND @ItemIsComposite = 1
		BEGIN
			INSERT INTO dbo.ItemKitingCost (ItemID, WarehouseCode, Cost, Currency, Deleted, CreatedDateTime, CreatedBy)
			SELECT @ItemID, WarehouseCode, Price, Currency, 0 , @LastEditedDateTime, @LastEditedBy
			FROM @KittingCosts;
		END

		-- remove composite info
		IF @ItemIsComposite IS NULL OR @ItemIsComposite = 0
		BEGIN
			UPDATE dbo.ItemComposite
			SET
				Deleted = 1,
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE
				ParentItemID = @ItemID;

			UPDATE dbo.ItemKitingCost
			SET
				Deleted = 1,
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE
				ItemID = @ItemID;
		END

		-- Commit the transaction
		COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH

		-- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
