USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ManualIntegration_ViewIntegrationByTenantAndWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Aug, 2025>
-- Description:	<Get detail information of Manual Integration by Tenant And Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ManualIntegration_ViewIntegrationByTenantAndWarehouse] 
    @TenantCode VARCHAR(10),
    @WarehouseCode VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.ManualIntegration 
    WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND  DELETED = 0;
END
GO
