USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_CompleteReceivingInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 April, 2025>
-- Description:	<Insert Complete Receiving Invoice>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_Invoice_CompleteReceivingInvoice]  
	@ReceiptInboundID INT,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @TenantCode VARCHAR(10),
		        @ShipmentNumber VARCHAR(30),
				@WarehouseCode VARCHAR(20);

	    SELECT @WarehouseCode = WarehouseCode, 
		       @TenantCode = TenantCode, 
			   @ShipmentNumber = ShipmentNumber
		FROM dbo.ReceiptInbound WHERE ReceiptInboundID = @ReceiptInboundID AND DELETED = 0;

		DECLARE @ChargeItemID INT;
		DECLARE @ChargeItemName VARCHAR(200);
		DECLARE @ChargeItemUnit VARCHAR(50);

		SELECT ChargeItemID, ChargeItemName, ChargeItemUnit 
		FROM dbo.ChargeItem	WHERE ChargeItemGroup = 'Receiving' AND DELETED = 0;
		
		
		DECLARE @Charge DECIMAL(10, 2);
		DECLARE @Currency VARCHAR(20);
		DECLARE @ChargeType VARCHAR(20); -- Standard or Custom


		DECLARE charge_item_cursor CURSOR FOR 
		SELECT ChargeItemID, ChargeItemName, ChargeItemUnit
		FROM dbo.ChargeItem	WHERE ChargeItemGroup = 'Receiving' AND ChargeItemUnit = 'Receipt' AND DELETED = 0;

		OPEN charge_item_cursor;

		FETCH NEXT FROM charge_item_cursor INTO @ChargeItemID, @ChargeItemName, @ChargeItemUnit;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- Call the child stored procedure
			EXEC [dbo].[SP_VI_TBL_ChargeItem_GetCostInfoOfTenantByWarehouseCode]
				@ChargeItemID = @ChargeItemID,
				@TenantCode = @TenantCode,
				@WarehouseCode = @WarehouseCode,
				@Charge = @Charge OUTPUT,
				@Currency = @Currency OUTPUT,
				@ChargeType = @ChargeType OUTPUT;

			IF @ChargeType IS NOT NULL
			BEGIN
				INSERT INTO [dbo].[Invoice] (
					TenantCode,
					ChargeName,
					ChargeType,
					ChargeCategory,
					InvoiceReferences,
					ItemReferences,
					WarehouseCode,
					Qty,
					Cost,
					Charge,
					Currency,
					Status,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES (
					@TenantCode,
					@ChargeItemName,
					@ChargeType,
					'Receiving',
					@ShipmentNumber,
					'',
					@WarehouseCode,
					1,
					@Charge,
					@Charge,
					@Currency,
					'Pending',
					0, -- Deleted
					@CreatedDateTime,
					@CreatedBy
				);
			END

			FETCH NEXT FROM charge_item_cursor INTO @ChargeItemID, @ChargeItemName, @ChargeItemUnit;
		END

		CLOSE charge_item_cursor;
		DEALLOCATE charge_item_cursor;


    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
