USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_InsertRandomReceiptInbound]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<Insert Random Receipt Inbound>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_InsertRandomReceiptInbound]  
	@WarehouseCode VARCHAR(20),
    @TenantCode VARCHAR(20),
	@ShipmentNumber VARCHAR(30),
    @ReferenceNumber VARCHAR(250),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for Tenant Code
		 IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0)
		 BEGIN
			 SET @Message = 'Tenant Code does not exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END
        
        -- Insert into ReceiptInbound table
        INSERT INTO dbo.ReceiptInbound
        (
            WarehouseCode,
            TenantCode,
            ShipmentNumber,
			ReferenceNumber,
			ReceiptStatus,
			ReceiptType,
            Deleted,
            CreatedDateTime,
            CreatedBy
        )
        VALUES
        (
            @WarehouseCode,
            @TenantCode,
            @ShipmentNumber,
			@ReferenceNumber,
            'Pending',
			'Random',
            0, -- Default value for Deleted
            @CreatedDateTime,
            @CreatedBy
        )

        -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
