USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_CancelOrder]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 April, 2025>
-- Description:	<Cancel Order>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_CancelOrder] 
    @OrderID INT,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION
		-- update receipt status
		UPDATE dbo.Orders
		SET 
			[OrderStatus] = 'Cancelled',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @LastEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @LastEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE OrderID = @OrderID;

		INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
		VALUES 
		(@OrderID, 'CancelOrder', 'N/A', 'Cancelled by ' + @LastEditedBy + ' at ' + + CAST(@LastEditedDateTime AS NVARCHAR) , @LastEditedDateTime, 0, @LastEditedDateTime, @LastEditedBy);
		
		  -- Commit the transaction
        COMMIT TRANSACTION

        PRINT 'Update successful for OrderID: ' + CAST(@OrderID AS NVARCHAR);

    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Print error message
        PRINT 'Error occurred while updating OrderID: ' + CAST(@OrderID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
