USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_DeleteEmptyULDs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <13 Mar, 2025>
-- Description:	<DELETE ULD empty >
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_DeleteEmptyULDs] 
AS
BEGIN
	
	SET NOCOUNT ON;
	-- Try to update the DELETED field
    BEGIN TRY
		UPDATE u
		SET u.DELETED = 1
		FROM dbo.ULD u
		WHERE EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = u.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) = 0
		);

	END TRY
    BEGIN CATCH
        -- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
