USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Dashboard_GetOrderSourceWidget]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <1 Nov, 2025>
-- Description:	<Dashboard API>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Dashboard_GetOrderSourceWidget] 	
	@TenantCode   VARCHAR(20) = NULL,
	@WarehouseCode VARCHAR(10) = NULL,
	@StartDate DATETIME = NULL,
	@EndDate DATETIME = NULL,	
	@ManualOrders INT OUTPUT,
	@ShopifyOrders INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @UtcTodayStart DATETIME = CAST(GETDATE() AS DATE);
	DECLARE @UtcTodayEnd   DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, @UtcTodayStart));

	IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL
	BEGIN
		SET @UtcTodayStart = @StartDate;
		SET @UtcTodayEnd = @EndDate;
	END	
	
	SELECT @ManualOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND OrderSource = 'Manual'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	SELECT @ShopifyOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND OrderSource = 'shopify'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	
END
GO
