USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_ApplyChargeItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Nov, 2024>
-- Description:	<Apply Charge Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_ApplyChargeItem]  
    @ChargeItemID INT,
	@AllTenant BIT = FALSE,
	@TenantIds dbo.IdArray READONLY,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		IF @ChargeItemID IS NULL
		BEGIN
			 SET @Message = 'ChargeItem is not created successfully.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- Get Tenant Codes
		DECLARE @TenantCodes dbo.StringArray;
		DECLARE @CustomTenantCodes dbo.StringArray;

		IF @AllTenant = 1
		BEGIN
			INSERT INTO @TenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE DELETED = 0 AND (IsUsingCustomPrice = 0 OR IsUsingCustomPrice IS NULL);

			INSERT INTO @CustomTenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE DELETED = 0 AND IsUsingCustomPrice = 1;
		END
		ELSE
		BEGIN
			INSERT INTO @TenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE (IsUsingCustomPrice = 0 OR IsUsingCustomPrice IS NULL) AND TenantId IN (SELECT Value FROM @TenantIds);

			INSERT INTO @CustomTenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE IsUsingCustomPrice = 1 AND TenantId IN (SELECT Value FROM @TenantIds);

		END

        -- Insert Standard
		INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted)
		SELECT Value AS TenantCode,
			    @ChargeItemID AS ChargeItemId,
			    'Standard' AS ChargeType,
			    0 As Deleted
		FROM @TenantCodes;

		-- Insert Custom
		IF EXISTS (SELECT 1 FROM @CustomTenantCodes)
		BEGIN

			DECLARE @NewTenantChargeItemID INT;
			DECLARE @TenantCode NVARCHAR(10);
		
			-- Declare the cursor
			DECLARE TenantCodeCursor CURSOR FOR
			SELECT Value FROM @CustomTenantCodes;

			-- Open the cursor
			OPEN TenantCodeCursor;

			-- Fetch the first row
			FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;

			-- Loop through the rows
			WHILE @@FETCH_STATUS = 0
			BEGIN

				INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted)
				VALUES (@TenantCode, @ChargeItemId, 'Custom', 0);

				SET @NewTenantChargeItemID = SCOPE_IDENTITY();

				INSERT INTO [dbo].[TenantCustomCost] (
							[TenantChargeItemID],
							[WarehouseCode],
							[ChargeItemPrice],
							[ChargeItemCurrency],
							[Deleted]
					)
					SELECT
						@NewTenantChargeItemID,  
						CIC.WarehouseCode,       
						CIC.ChargeItemPrice,               
						CIC.ChargeItemCurrency,            
						0                        
					FROM dbo.ChargeItemCost CIC
					WHERE CIC.ChargeItemId = @ChargeItemId AND CIC.DELETED = 0;

				-- Fetch the next row
				FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;
			END;

			-- Close and deallocate the cursor
			CLOSE TenantCodeCursor;
			DEALLOCATE TenantCodeCursor;

		END


        -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
