USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_ApplyReportDefinition]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <22 May, 2025>
-- Description:	<Apply Report Definition>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_ApplyReportDefinition]  
    @ReportDefinitionID INT,
	@AllTenant BIT = FALSE,
	@TenantIds dbo.IdArray READONLY,
	@WarehouseCodes dbo.StringArray READONLY,
	@CreatedDateTime DATETIME = NULL,
	@CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		IF @ReportDefinitionID IS NULL
		BEGIN
			 SET @Message = 'ReportDefinition is not created successfully.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- Get Tenant Codes
		DECLARE @TenantCodes dbo.StringArray;
		
		IF @AllTenant = 1
		BEGIN
			INSERT INTO @TenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE DELETED = 0;
		END
		ELSE
		BEGIN
			INSERT INTO @TenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE TenantId IN (SELECT Value FROM @TenantIds);
		END

		DECLARE @TenantCode VARCHAR(10);

		DECLARE TenantCodeCursor CURSOR FOR
			SELECT Value
			FROM @TenantCodes;

		OPEN TenantCodeCursor;

		FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			-- Insert Standard
			INSERT INTO dbo.TenantReportDefinition 
				(
					TenantCode, 
					ReportDefinitionId, 
					WarehouseCode, 
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
			SELECT  @TenantCode,
					@ReportDefinitionID,
					[Value],
					0 As Deleted,
					@CreatedDateTime,
					@CreatedBy
			FROM @WarehouseCodes;

			FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;
		END

		CLOSE TenantCodeCursor;
		DEALLOCATE TenantCodeCursor;        

        -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
