USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_DeleteChargeItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Nov, 2024>
-- Description:	<Soft Delete Charge Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_DeleteChargeItem] 
        @ChargeItemID INT, 
		@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.ChargeItem WHERE ChargeItemID = @ChargeItemID AND Deleted = 1)
		BEGIN
			 SET @Message = 'ChargeItem has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.ChargeItem
        SET DELETED = 1
        WHERE ChargeItemID = @ChargeItemID;

		-- Delete all TenantChargeItem associated with this ChargeItem

		UPDATE dbo.TenantChargeItem
        SET DELETED = 1
        WHERE ChargeItemID = @ChargeItemID;

		UPDATE dbo.ChargeItemCost
		SET DELETED = 1
		WHERE ChargeItemID = @ChargeItemID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ChargeItemID: ' + CAST(@ChargeItemID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			 ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ChargeItemID: ' + CAST(@ChargeItemID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
