USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Report_RunReportOfReceivingReceipt]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 jan, 2025>
-- Description:	<Run Report for Receiving Receipt>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Report_RunReportOfReceivingReceipt] @ShipmentNumber VARCHAR(30) 
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @ReceiptInboundID INT;

	DECLARE @ReceiptType VARCHAR(20);
	DECLARE @TenantCode VARCHAR(20); 
	DECLARE @WarehouseCode VARCHAR(20); 
	DECLARE @DueDate DATETIME;

	DECLARE @Warehouse VARCHAR(150);
	DECLARE @Tenant VARCHAR(150);

	SELECT @DueDate = DueDate, @TenantCode = TenantCode, @ReceiptInboundID = ReceiptInboundID, @ReceiptType = ReceiptType, @WarehouseCode = WarehouseCode
	FROM dbo.ReceiptInbound WHERE ShipmentNumber = @ShipmentNumber AND DELETED = 0;

	-- get Tenant
	SELECT @Tenant = TenantName FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;

	-- get Warehouse
	SELECT @Warehouse = WarehouseName FROM dbo.LocWarehouse WHERE WarehouseCode = @WarehouseCode AND DELETED = 0;

	CREATE TABLE #TempDetails (
		Warehouse NVARCHAR(150),
		Tenant NVARCHAR(150),
		ShipmentNumber NVARCHAR(30), 
		DueDate DATETIME,
		ItemCode NVARCHAR(30),     
		ItemName NVARCHAR(250),    
		ULDBarcode NVARCHAR(30),  
		ExpectedQuantity INT,
		ReceivedQuantity INT,
		VarianceQuantity INT
	);


	IF @ReceiptType = 'Manual'
	BEGIN
		INSERT INTO #TempDetails (Warehouse, Tenant, ShipmentNumber, DueDate, ItemCode, ItemName, ULDBarcode, ExpectedQuantity, ReceivedQuantity, VarianceQuantity)
		SELECT 
			@Warehouse,
			@Tenant,
			@ShipmentNumber,
			@DueDate,
			ul.ItemNumber as ItemCode,
			ul.ItemName,
			u.ULDBarcode,
			COALESCE(SUM(r.Quantity),0) as ExpectedQuantity,
			COALESCE(SUM(ul.TransactionQty),0) as ReceivedQuantity,
			(COALESCE(SUM(ul.TransactionQty),0) - COALESCE(SUM(r.Quantity),0)) AS VarianceQuantity						
		FROM dbo.ULD u
		JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
		LEFT JOIN dbo.ReceiptInboundLine r ON  r.ShipmentNumber = ul.TransactionReference AND ul.ItemNumber = r.ItemNumber AND r.Deleted = 0  
		WHERE 
			u.DELETED = 0 
			AND u.TenantCode = @TenantCode 
			AND ul.DELETED = 0 
			AND ul.TransactionReference = @ShipmentNumber			
		GROUP BY
			ul.ItemNumber,
			ul.ItemName,
			u.ULDBarcode;
	END
	ELSE
	BEGIN
		INSERT INTO #TempDetails (Warehouse, Tenant, ShipmentNumber, DueDate, ItemCode, ItemName, ULDBarcode, ExpectedQuantity, ReceivedQuantity, VarianceQuantity)
		SELECT 
			@Warehouse,
			@Tenant,
			@ShipmentNumber,
			@DueDate,
			ul.ItemNumber as ItemCode,
			ul.ItemName,
			u.ULDBarcode,
			0 as ExpectedQuantity,
			COALESCE(SUM(ul.TransactionQty),0) as ReceivedQuantity,
			-COALESCE(SUM(ul.TransactionQty),0) AS VarianceQuantity
		FROM dbo.ULD u
		JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
		WHERE 
			u.DELETED = 0 
			AND u.TenantCode = @TenantCode 
			AND ul.DELETED = 0 
			AND ul.TransactionReference = @ShipmentNumber
		GROUP BY
			ul.ItemNumber,
			ul.ItemName,
			u.ULDBarcode;
	END
	

	SELECT * FROM #TempDetails;

	DROP TABLE #TempDetails;

END
GO
