USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetLocationBarcode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Dec, 2024>
-- Description:	<Get Location Barcode>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetLocationBarcode]
    @SBinID INT,
	@Type VARCHAR(10),   -- Bin or SBin
	@LocationBarcode VARCHAR(50) OUTPUT,
	@LocationLabel VARCHAR(10) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Declare variables to store the results
    DECLARE @LocWarehouseCode NVARCHAR(20),
            @LocAreaCode NVARCHAR(20),
			@LocSectionCode NVARCHAR(20),
            @LocRowCode NVARCHAR(20),
            @LocColumnCode NVARCHAR(20),
            @LocShelfCode NVARCHAR(20),
            @LocBinCode NVARCHAR(20),
            @LocSBinCode NVARCHAR(20);

	DECLARE @LocWarehouseID INT,
            @LocAreaID INT,
			@LocSectionID INT,
            @LocRowID INT,
            @LocColumnID INT,
            @LocShelfID INT,
            @LocBinID INT;

	SELECT @LocSBinCode = SBinCode,
           @LocBinID = LocBinID
    FROM dbo.LocSBin
    WHERE LocSbinID = @SBinID;

    -- Get LocBin Code
    SELECT @LocBinCode = BinCode,
           @LocShelfID = LocShelfID
    FROM dbo.LocBin
    WHERE LocBinID = @LocBinID;

    -- Get LocShelf Code
    SELECT @LocShelfCode = ShelfCode,
           @LocColumnID = LocColumnID
    FROM dbo.LocShelf
    WHERE LocShelfID = @LocShelfID;

    -- Get LocColumn Code
    SELECT @LocColumnCode = ColumnCode,
           @LocRowID = LocRowID
    FROM dbo.LocColumn
    WHERE LocColumnID = @LocColumnID;

    -- Get LocRow Code
    SELECT @LocRowCode = RowCode,
           @LocSectionID = LocSectionID
    FROM dbo.LocRow
    WHERE LocRowID = @LocRowID;

	 -- Get LocSection Code
    SELECT @LocSectionCode = SectionCode,
           @LocAreaID = LocAreaID
    FROM dbo.LocSection
    WHERE LocSectionID = @LocSectionID;

    -- Get LocArea Code
    SELECT @LocAreaCode = AreaCode,
           @LocWarehouseID = LocWarehouseID
    FROM dbo.LocArea
    WHERE LocAreaID = @LocAreaID;

    -- Get LocWarehouse Code
    SELECT @LocWarehouseCode = WarehouseCode
    FROM dbo.LocWarehouse
    WHERE LocWarehouseID = @LocWarehouseID;

    -- Return the full hierarchy
		SET @LocationBarcode = @LocWarehouseCode + @LocAreaCode + @LocSectionCode + @LocRowCode +
                            @LocColumnCode + @LocShelfCode + @LocBinCode + @LocSBinCode;

	
    IF @Type = 'SBin'
	BEGIN
		SET @LocationLabel =  @LocSBinCode;
	END
	ELSE
	BEGIN
		SET @LocationLabel =  @LocBinCode;
	END

	
END
GO
