USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_DeleteReceiptInbound]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<Soft Delete Receipt Inbound>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_DeleteReceiptInbound] 
  @ReceiptInboundID INT, 
  @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
    
    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.ReceiptInbound WHERE ReceiptInboundID = @ReceiptInboundID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Receipt has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.ReceiptInbound
        SET DELETED = 1
        WHERE ReceiptInboundID = @ReceiptInboundID;

		-- Update Delete all ReceiptInboundLine associated with this ReceiptInboundId
		UPDATE dbo.ReceiptInboundLine
        SET DELETED = 1
        WHERE ReceiptInboundID = @ReceiptInboundID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ReceiptInboundID: ' + CAST(@ReceiptInboundID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ReceiptInboundID: ' + CAST(@ReceiptInboundID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
