USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_BayTenantAllocation_CheckValidReAllocate]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Mar, 2025>
-- Description:	<Check Valid of Re-allocate Bay>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_BayTenantAllocation_CheckValidReAllocate]  
	@ParentId INT,
    @ParentLocationType VARCHAR(10), -- Section or Row or Column
	@ColumnIds dbo.IdArray READONLY,
    @Tenants VARCHAR(4000) OUTPUT,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	SET @Message = '';
	SET @Tenants = '';

	DECLARE @AllColumnIds dbo.IdArray;
					
	-- Check the value of @LocationType and handle each case
	IF @ParentLocationType = 'Section' -- Handling All Columns below 'Section'
	BEGIN
			-- Check for SectionId not existed
		IF NOT EXISTS(SELECT 1 FROM dbo.LocSection WHERE LocSectionID = @ParentId AND Deleted = 0)
		BEGIN
			SET @Message = 'Section does not exist.';
			RETURN;
		END

		INSERT INTO @AllColumnIds (Value)
		SELECT lc.LocColumnID FROM dbo.LocColumn lc
		JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
		WHERE lc.Deleted = 0
			AND lr.Deleted = 0
			AND lr.LocSectionID = @ParentId;

	END
	ELSE IF @ParentLocationType = 'Row' -- Handling All Columns below 'Row'
	BEGIN
			-- Check for RowID not existed
		IF NOT EXISTS(SELECT 1 FROM dbo.LocRow WHERE LocRowID = @ParentId AND Deleted = 0)
		BEGIN
			SET @Message = 'Row does not exist.';
			RETURN;
		END

		INSERT INTO @AllColumnIds (Value) 
		SELECT LocColumnID FROM dbo.LocColumn WHERE LocRowID = @ParentId AND Deleted = 0;
			
	END
	ELSE  --Handling All selected Columns  
	BEGIN
		INSERT INTO @AllColumnIds (Value) SELECT (Value) FROM @ColumnIds;
	END

	-- check having ULD
	DECLARE @NumberOfULD INT;
	SELECT @NumberOfULD = COUNT(*)
	FROM dbo.ULD U
	WHERE U.LocColumnID IN (SELECT Value FROM @AllColumnIds)
	AND U.DELETED = 0
	AND EXISTS (
		SELECT 1
		FROM dbo.ULDLine UL
		WHERE UL.ULDID = U.ULDID
		AND UL.DELETED = 0
		GROUP BY UL.ULDID
		HAVING SUM(UL.TransactionQty) > 0
	);

	IF @NumberOfULD > 0
	BEGIN
		SET @Message = 'There are not empty ULDs at these location.';
		RETURN;
	END

	-- Get All other Tenant allocated
	DECLARE @TenantName VARCHAR(150);

	DECLARE tenant_cursor CURSOR FOR
	SELECT TenantName 
	FROM dbo.BayTenantAllocation bta
	JOIN @AllColumnIds ac ON bta.ColumnID = ac.Value
	WHERE bta.Deleted = 0;

	OPEN tenant_cursor
	FETCH NEXT FROM tenant_cursor INTO @TenantName

	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- Append TenantName to @Tenants with a comma separator
		SET @Tenants = @Tenants + CASE WHEN @Tenants = '' THEN '' ELSE ',' END + @TenantName

		FETCH NEXT FROM tenant_cursor INTO @TenantName
	END

	CLOSE tenant_cursor
	DEALLOCATE tenant_cursor
END
GO
