USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_ListReportDefinitions]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <22 May, 2025>
-- Description:	<Get list of Report Definition with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_ListReportDefinitions]
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ReportDefinitionID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @NumberOfTenants INT = 0;
	DECLARE @NumberOfAllApplied INT = 0;

	SELECT @NumberOfTenants = COUNT(*)
	FROM dbo.Tenant
	WHERE deleted = 0;

	SET @NumberOfAllApplied = @NumberOfTenants;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.ReportDefinition WHERE DELETED = 0 And Type = 'Schedule';

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ci.*, 
                    CASE 
                        WHEN ci.appliedNumber = 0 THEN ''Apply''
                        WHEN ci.appliedNumber = ' + CAST(@NumberOfAllApplied AS NVARCHAR) + ' THEN ''All''
                        ELSE ''Part''
                    END AS Status
             FROM 
			 (
				SELECT rs.*, COALESCE(trs.appliedNumber, 0) AS appliedNumber 
				FROM dbo.ReportDefinition rs 
				LEFT JOIN  
				(
					SELECT ReportDefinitionId, COUNT(DISTINCT TenantCode) AS appliedNumber 
					FROM dbo.TenantReportDefinition
					WHERE deleted = 0
					GROUP BY ReportDefinitionId
				) trs
                ON rs.ReportDefinitionId = trs.ReportDefinitionId
			 ) ci
             WHERE ci.DELETED = 0 AND ci.Type = ''Schedule''
             ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
             OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
             FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*)
		FROM dbo.ReportDefinition rs
		WHERE rs.DELETED = 0
		And rs.Type = 'Schedule'
		AND (
			LOWER(rs.ReportName) LIKE '%' + LOWER(@Search) + '%' 			
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ci.*, 
                    CASE 
                        WHEN ci.appliedNumber = 0 THEN ''Apply''
                        WHEN ci.appliedNumber = ' + CAST(@NumberOfAllApplied AS NVARCHAR) + ' THEN ''All''
                        ELSE ''Part''
                    END AS Status
             FROM 
			 (
				SELECT rs.*, COALESCE(trs.appliedNumber, 0) AS appliedNumber 
				FROM dbo.ReportDefinition rs 
				LEFT JOIN  
				(
					SELECT ReportDefinitionId, COUNT(DISTINCT TenantCode) AS appliedNumber 
					FROM dbo.TenantReportDefinition 
					WHERE deleted = 0
					GROUP BY ReportDefinitionId
				) trs 
                ON rs.ReportDefinitionId = trs.ReportDefinitionId
			 ) ci
             WHERE ci.DELETED = 0 AND ci.Type = ''Schedule''
             AND (
                 LOWER(ci.ReportName) LIKE ''%' + LOWER(@Search) + '%'' 
             )
             ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
             OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
             FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
