USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_ViewIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Aug, 2025>
-- Description:	<Get detail information of AP Integration>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_APIntegration_ViewIntegration] 
   @IntegrationID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * , w.WarehouseName
    FROM dbo.APIntegration i
	LEFT JOIN LocWarehouse w on w.WarehouseCode = i.WarehouseCode
    WHERE IntegrationID = @IntegrationID AND i.DELETED = 0;
END
GO
