USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_UpdateFailedLogin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Aug, 2024>
-- Description:	<Set Number Failed Login>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_UpdateFailedLogin] @AzureUserId varchar(50), @FailedLogin INT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Users
        SET NumberOfFailedLogin = @FailedLogin
        WHERE AzureUserId = @AzureUserId;

        PRINT 'Update successful for userId: ' + @AzureUserId;
    END TRY
    BEGIN CATCH
        -- Handle the error
		 DECLARE @ErrorMessage NVARCHAR(4000)
		 DECLARE @ErrorSeverity INT
		 DECLARE @ErrorState INT

		 SELECT 
			 @ErrorMessage = ERROR_MESSAGE(),
			 @ErrorSeverity = ERROR_SEVERITY(),
			 @ErrorState = ERROR_STATE()

		 -- Rethrow the error
		 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
