USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_DeleteCurrentWorkstationOfUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_DeleteCurrentWorkstationOfUser] 
	@AzureUserId VARCHAR(50), 
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.CurrentWorkStationUser WHERE AzureUserId = @AzureUserId AND Deleted = 1)
		BEGIN
			 SET @Message = 'Workstation has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END
		
        UPDATE dbo.CurrentWorkStationUser
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE AzureUserId = @AzureUserId;
		
        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful workstation for AzureUserId: ' + CAST(@AzureUserId AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating workstation for AzureUserId: ' + CAST(@AzureUserId AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
