USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CompleteService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Jul, 2025>
-- Description:	<Complete Kitting Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_CompleteService] 
    @ServiceID INT,
	@OtherCost DECIMAL(10, 2) = 0,
	@CompletedDateTime   DATETIME = NULL,
	@OperationBy         VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ServiceLineNumber INT,
				@ServiceStatus VARCHAR(20),
				@ServiceNumber VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@ServiceType VARCHAR(50),
				@StockTakeType VARCHAR(50),
				@TenantCode VARCHAR(10);

		SELECT @ServiceStatus = Status,
			   @WarehouseCode = WarehouseCode,
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode,
			   @ServiceNumber = ServiceNumber,
			   @StockTakeType = AdditionalType
		FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;

		-- Check for Status
		IF @ServiceStatus != 'InProgress'
		BEGIN
			SET @Message = 'Service Status is not In Progress.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceType IS NULL
		BEGIN
			SET @Message = 'This Service is not supported.'
			ROLLBACK TRANSACTION;
			RETURN;
		END
		
		IF  @ServiceType = 'Stocktake'
		BEGIN
			SELECT @ServiceLineNumber = COUNT(*) FROM dbo.ServiceLine WHERE ServiceID = @ServiceID AND DELETED = 0;
			IF @ServiceLineNumber = 0
			BEGIN
				SET @Message = 'This Service does not have charging info.'
				ROLLBACK TRANSACTION;
				RETURN;
			END 
		END

		IF @ServiceType = 'Stocktake'
		BEGIN

			IF EXISTS (
				SELECT 1 
				FROM dbo.StocktakeSchedule 
				WHERE ServiceID = @ServiceID AND Deleted = 0 AND Status = 'Taken'
			)
			BEGIN
				SET @Message = 'There are operators who have not finished stock-taking.'
				ROLLBACK TRANSACTION;
				RETURN;
			END

			DECLARE @StockTakeScheduleID INT,
					@ItemNumber VARCHAR(50),
					@ULDCurrentLocation VARCHAR(100);

			DECLARE stocktake_cursor CURSOR FOR
			SELECT StockTakeScheduleID, ItemNumber, ULDCurrentLocation
			FROM StockTakeSchedule
			WHERE ServiceID = @ServiceID
			  AND Status = 'Init'
			  AND Deleted = 0;

			OPEN stocktake_cursor;

			FETCH NEXT FROM stocktake_cursor INTO @StockTakeScheduleID, @ItemNumber, @ULDCurrentLocation;

			WHILE @@FETCH_STATUS = 0
			BEGIN

				IF @StockTakeType = 'Full'
				BEGIN
				
					INSERT INTO [dbo].[StockTakeResult] (
						ServiceID,
						StockTakeScheduleID,
						ItemID,
						ULDID,
						TenantCode,
						ULDBarcode,
						ItemName,
						ItemNumber,
						ULDCurrentLocation,
						StockQty,
						Qty,						
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
					SELECT DISTINCT
						@ServiceID,
						@StockTakeScheduleID,
						it.ItemID,
						U.ULDID, 
						@TenantCode,
						U.ULDBarcode,
						it.ItemName,
						it.ItemNumber,
						@ULDCurrentLocation,
						ISNULL(qty.TotalQty, 0) AS QtyFound,
						0,
						0,
						@CompletedDateTime,
						@OperationBy 
					FROM 
						dbo.ULD U
					LEFT JOIN
					(
						SELECT i.ItemID , i.ItemNumber, i.ItemName, i.TenantCode
						From Items i
						LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID
						WHERE i.Deleted = 0 
					) it ON u.TenantCode = it.TenantCode AND u.ItemNumber = it.ItemNumber
					LEFT JOIN (
						SELECT UL.ULDID, SUM(UL.TransactionQty) AS TotalQty
						FROM dbo.ULDLine UL
						WHERE UL.Deleted = 0
						GROUP BY UL.ULDID
					) qty ON qty.ULDID = u.ULDID
					WHERE 
						u.DELETED = 0 AND ULDCurrentLocation = @ULDCurrentLocation;
			
				END
				ELSE -- @StockTakeType = 'Partly'
				BEGIN

					INSERT INTO [dbo].[StockTakeResult] (
						ServiceID,
						StockTakeScheduleID,
						ItemID,
						ULDID,
						TenantCode,
						ULDBarcode,
						ItemName,
						ItemNumber,
						ULDCurrentLocation,
						StockQty,
						Qty,						
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
					SELECT DISTINCT
						@ServiceID,
						@StockTakeScheduleID,
						it.ItemID,
						U.ULDID, 
						@TenantCode,
						U.ULDBarcode,						
						it.ItemName,
						it.ItemNumber,
						@ULDCurrentLocation,
						ISNULL(qty.TotalQty, 0) AS QtyFound,
						0,
						0,
						@CompletedDateTime,
						@OperationBy  
					FROM 
						dbo.ULD U
					LEFT JOIN
					(
						SELECT i.ItemID, i.ItemNumber, i.ItemName, i.TenantCode
						From Items i
						LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID
						WHERE i.Deleted = 0 
					) it ON u.TenantCode = it.TenantCode AND u.ItemNumber = it.ItemNumber
					LEFT JOIN (
						SELECT UL.ULDID, SUM(UL.TransactionQty) AS TotalQty
						FROM dbo.ULDLine UL
						WHERE UL.Deleted = 0
						GROUP BY UL.ULDID
					) qty ON qty.ULDID = u.ULDID
					WHERE 
						u.DELETED = 0 AND u.ULDCurrentLocation = @ULDCurrentLocation 
						AND u.TenantCode = @TenantCode AND u.ItemNumber = @ItemNumber;
				END


				FETCH NEXT FROM stocktake_cursor INTO @StockTakeScheduleID, @ItemNumber, @ULDCurrentLocation;
			END

			CLOSE stocktake_cursor;
			DEALLOCATE stocktake_cursor;

			--insert charging
			EXEC [dbo].[SP_VI_TBL_Invoice_InsertLabourServiceInvoice]
				@ServiceID = @ServiceID,
				@CreatedDateTime = @CompletedDateTime,
				@CreatedBy = @OperationBy,
				@Message = @Message OUTPUT;
		END -- End Stock take


		IF  @ServiceType = 'Other'
		BEGIN
			--Insert invoice for Other 			
			EXEC [dbo].[SP_VI_TBL_Invoice_InsertOtherServiceInvoice]
				@ServiceID = @ServiceID,
				@OtherCost = @OtherCost,
				@CreatedDateTime = @CompletedDateTime,
				@CreatedBy = @OperationBy,
				@Message = @Message OUTPUT;
		END
		
		-- update receipt status
		UPDATE dbo.Service
		SET 
			[Status] = 'Completed',
			CompleteServiceTime = COALESCE(CompleteServiceTime, @CompletedDateTime),
			CompleteServiceBy = COALESCE(CompleteServiceBy, @OperationBy),
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @CompletedDateTime,
			LastEditedBy = @OperationBy
		WHERE ServiceID = @ServiceID;

		-- unlock
		IF @ServiceType = 'Stocktake'
		BEGIN
			UPDATE dbo.TenantLock
			SET
				Deleted = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @CompletedDateTime,
				LastEditedBy = @OperationBy
			WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Reason = 'Starting StockTake';

			-- create complete report

			DECLARE @ReportSubject VARCHAR(200) = 'Complete StockTake Service Number ' + @ServiceNumber;
			DECLARE @ReportCategory VARCHAR(50) = 'StockTake';
			DECLARE @Status VARCHAR(20) = 'Success';
			DECLARE @StoreProcedure VARCHAR(200) = 'SP_VI_TBL_Report_RunReportOfCompleteStocktake';

			DECLARE @Params dbo.ParameterArray;
			INSERT INTO @Params (Name, Value)
			VALUES ('ServiceNumber', @ServiceNumber);
			
			EXEC [dbo].[SP_VI_TBL_Report_InsertReport]
				@TenantCode = @TenantCode,
				@ReportSubject = @ReportSubject,
				@ReportCategory = @ReportCategory,
				@Status = @Status,
				@StoreProcedure = @StoreProcedure,
				@Parameters = @Params,
				@CreatedDateTime = @CompletedDateTime,
				@CreatedBy = @OperationBy,
				@Message = @Message OUTPUT;

		END

		 -- Commit the transaction
        COMMIT TRANSACTION
    

        PRINT 'Update successful for ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Print error message
        PRINT 'Error occurred while updating ServiceID: ' + CAST(@ServiceID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
