USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_InsertTenantIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Aug, 2024>
-- Description:	<Insert tenant Integration>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Tenant_InsertTenantIntegration] 
	@TenantCode            VARCHAR(10),
	@WarehouseName		   VARCHAR(150),
	@IntegrationType	   VARCHAR(50),
	@ShopDomain            VARCHAR(100),
	@LocationID			   VARCHAR(50) = NULL,
	@AppLink			   VARCHAR(MAX) = NULL,
	@CreatedDateTime       DATETIME = NULL,
	@CreatedBy             VARCHAR(100) = NULL,
	@IntegrationID         INT OUTPUT,
	@Message               VARCHAR(4000) OUTPUT -- Output parameter for error messages
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		IF EXISTS(SELECT 1 FROM dbo.Integration WHERE TenantCode = @TenantCode AND ShopDomain = @ShopDomain AND Deleted = 0)
		 BEGIN
			 SET @Message = 'This ShopDomain for Tenant already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		 -- Check for duplicate Integration
		 IF EXISTS(SELECT 1 FROM dbo.Integration WHERE TenantCode = @TenantCode AND IntegrationType = @IntegrationType AND ShopDomain = @ShopDomain AND Deleted = 0)
		 BEGIN
			 SET @Message = 'This Integration for Tenant already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END
		
		 SELECT @IntegrationID = IntegrationID FROM dbo.Integration WHERE TenantCode = @TenantCode AND IntegrationType = @IntegrationType AND ShopDomain = @ShopDomain AND Deleted = 1;
        
		 IF @IntegrationID IS NULL
		 BEGIN
			 -- Insert into Integration table
			INSERT INTO dbo.Integration
			(
				TenantCode,
				WarehouseName,
				IntegrationType,
				IntegrationStatus,
				ShopDomain,
				AppLink,
				LocationID,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@TenantCode,
				@WarehouseName,
				@IntegrationType,
				'Completed',
				@ShopDomain,
				@AppLink,
				@LocationID,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)

			SET @IntegrationID = SCOPE_IDENTITY();
		END
		ELSE
		BEGIN
			UPDATE dbo.Integration
			SET
				Deleted = 0,
				AppLink = @AppLink,
				WarehouseName = @WarehouseName,
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime =  NULL,
				LastEditedBy =  NULL,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			WHERE IntegrationID = @IntegrationID
		END
        
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
