USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportData_DownloadReportData]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Jun, 2025>
-- Description:	<Download Portal Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportData_DownloadReportData]
	 @ReportDataID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @ReportDefinitionID INT;
	DECLARE @ProcedureName VARCHAR(100);
    DECLARE @ReportFileName VARCHAR(100);
	DECLARE @StartDate DateTime, 
			@EndDate DateTime;
	DECLARE	@WarehouseCode VARCHAR(20),
			@TenantCode VARCHAR(10);

	SELECT 
		@ReportDefinitionID = ReportDefinitionID,
		@ProcedureName = StoreProcedure,
		@ReportFileName = ReportFileName,
		@StartDate = StartDate,
		@EndDate = EndDate,
		@WarehouseCode = WarehouseCode,
		@TenantCode = TenantCode
	FROM ReportData
	WHERE ReportDataID = @ReportDataID;

	
	IF @ReportFileName IS NULL
	BEGIN 
		DECLARE @SQL NVARCHAR(MAX);
		SET @SQL = '
		EXEC ' + @ProcedureName + '
			@ReportDefinitionID = ' + CAST(@ReportDefinitionID AS NVARCHAR) + ',
			@WarehouseCode = ''' + @WarehouseCode + ''',
			@ManualTenantCode = ''' + @TenantCode + ''',
			@StartDate = ''' + CONVERT(NVARCHAR, @StartDate, 120) + ''',
			@EndDate = ''' + CONVERT(NVARCHAR, @EndDate, 120) + '''';

		-- Execute the dynamic SQL
		EXEC sp_executesql @SQL;
	END
	ELSE
	BEGIN 
		SELECT @ReportFileName as ReportFileName;
	END

END
GO
