USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_TotalInvoiceManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Sep, 2025>
-- Description:	<Implement Total Invoice Manual Report>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ReportScript_TotalInvoiceManualReport]
	@ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@ManualWarehouseCode VARCHAR(20),
			@WarehouseName VARCHAR(150),
			@TenantName VARCHAR(250),
			@Mandatory BIT;


	DECLARE @WaveID INT,
	        @SourceOrderNumber VARCHAR(50),
	        @OrderNumber VARCHAR(50);

	SET @Mandatory = 1;  -- Default value if no row found or Mandatory is NULL

	SELECT @Mandatory = ISNULL(Mandatory, 1)
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	-- Declare
	CREATE TABLE #TempInvoiceTable
	(
		WarehouseCode VARCHAR(20),
		WarehouseName VARCHAR(150),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ChargeName VARCHAR(100),
		ChargeCategory VARCHAR(100),
		ChargeDesc VARCHAR(500),
		JobNumber VARCHAR(500),
		FulfilmentNumber VARCHAR(500),
		WaveNumber VARCHAR(50),
		Qty INT,
		Cost Decimal(18, 2),
		Charge Decimal(18, 2),
		Currency VARCHAR(20),
		ChargedDateTime DateTime,
		ChargedBy VARCHAR(100)
	);
	
	IF @Mandatory = 1
	BEGIN
		DECLARE TenantCursor CURSOR FOR
		SELECT t.TenantCode, t.TenantName, w.WarehouseCode, w.WarehouseName
		FROM dbo.Tenant t, dbo.LocWarehouse w		
		WHERE t.Deleted = 0 AND w.Deleted = 0
		AND t.TenantCode = ISNULL(@ManualTenantCode, t.TenantCode) 
		AND w.WarehouseCode = ISNULL(@WarehouseCode, w.WarehouseCode);

		OPEN TenantCursor;

		FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @ManualWarehouseCode, @WarehouseName;

		WHILE @@FETCH_STATUS = 0
		BEGIN	

			INSERT INTO #TempInvoiceTable
			(
				WarehouseCode,
				WarehouseName,
				TenantCode,
				TenantName,
				ChargeName,
				ChargeCategory,
				jobNumber,				
				WaveNumber,
				Qty,
				Cost,
				Charge,
				Currency,
				ChargedDateTime,
				ChargedBy
			)
			SELECT 
				@ManualWarehouseCode,
				@WarehouseName,
				TenantCode,
				@TenantName,
				ChargeName,
				ChargeCategory,
				CASE 
					WHEN ChargeCategory IN ('Receiving','Services - Stock Take','Services - Kitting','Services - Other','Picking') 
						THEN ISNULL(NULLIF(InvoiceReferences, ''), '')
					WHEN ChargeCategory = 'Storage' 
						THEN 'Weekly'
					WHEN ChargeCategory = 'Account Management' 
						THEN 'Service'
					ELSE ''
				END AS jobNumber,				
				CASE 					
					WHEN ChargeCategory IN ('Picking','Services - Kitting')
						THEN ISNULL(NULLIF(WaveReferences, ''), '')
					ELSE ''
				END AS WaveNumber,
				/*CASE 
					WHEN ChargeCategory IN ('Receiving','Receiving-ChargeGroup')
						THEN CONCAT(
							'Receiving',
							CASE 
								WHEN NULLIF(InvoiceReferences,'') IS NOT NULL 
								THEN ': ' + REPLACE(
										REPLACE(InvoiceReferences, 'Receiving the shipment number: ', ''), 
										'Complete the shipment number: ', ''
								   )
								ELSE '' 
							END
						)

					WHEN ChargeCategory IN ('Picking','Picking-ChargeGroup')
						THEN CONCAT(
							'Picking',
							CASE 
								WHEN NULLIF(InvoiceReferences,'') IS NOT NULL 
								THEN ': ' + REPLACE(InvoiceReferences, 'Picking the wave number: ', '') 
								ELSE '' 
							END
						)  
					ELSE 
						CASE 
							WHEN ChargeName = 'IT Platform /Customer Service fee' 
								THEN 'IT Platform /Customer Service fee' 	
							WHEN ChargeName = 'Storage - BAY' 
								THEN 'Bay / Pickface Storage' 
							WHEN ChargeName = 'Storage - PALLET' 
								THEN 'Pallet / Bulk Storage' 
							ELSE COALESCE(InvoiceReferences, ChargeName)  
						END
				END AS ChargeDesc,*/
				Qty,
				Cost,
				Charge,
				Currency,
				CreatedDateTime AS ChargedDateTime,
				CreatedBy AS ChargedBy
			FROM dbo.Invoice
			WHERE 
				TenantCode = @TenantCode
				AND WarehouseCode = @ManualWarehouseCode
				AND DELETED = 0
				AND CreatedDateTime BETWEEN @StartDate AND @EndDate
			ORDER BY TenantCode, WarehouseCode;
				
			-- Next
			FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @ManualWarehouseCode, @WarehouseName;
		END

	END
	ELSE
	BEGIN
		DECLARE TenantCursor CURSOR FOR
		SELECT s.TenantCode, t.TenantName, s.WarehouseCode, w.WarehouseName
		FROM dbo.TenantReportDefinition s
		LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode
		LEFT JOIN dbo.LocWarehouse w ON w.WarehouseCode = s.WarehouseCode	
		WHERE s.Deleted = 0 AND s.ReportDefinitionID = @ReportDefinitionID
		AND t.TenantCode = ISNULL(@ManualTenantCode, t.TenantCode) 
		AND w.WarehouseCode = ISNULL(@WarehouseCode, w.WarehouseCode);	

		OPEN TenantCursor;

		FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @ManualWarehouseCode, @WarehouseName;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- You can perform your logic here, e.g.:
			--PRINT 'Processing tenant: ' + @TenantCode;

			INSERT INTO #TempInvoiceTable
			(
				WarehouseCode,
				WarehouseName,
				TenantCode,
				TenantName,
				ChargeName,
				ChargeCategory,
				jobNumber,				
				WaveNumber,
				--ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				ChargedDateTime,
				ChargedBy
			)
			SELECT 
				@ManualWarehouseCode,
				@WarehouseName,
				TenantCode,
				@TenantName,
				ChargeName,
				ChargeCategory,
				CASE 
					WHEN ChargeCategory IN ('Receiving','Services - Stock Take','Services - Kitting','Services - Other','Picking') 
						THEN ISNULL(NULLIF(InvoiceReferences, ''), '')
					WHEN ChargeCategory = 'Storage' 
						THEN 'Weekly'
					WHEN ChargeCategory = 'Account Management' 
						THEN 'Service'
					ELSE ''
				END AS jobNumber,				
				CASE 					
					WHEN ChargeCategory IN ('Picking','Services - Kitting')
						THEN ISNULL(NULLIF(WaveReferences, ''), '')
					ELSE ''
				END AS WaveNumber,
				/*CASE 
					WHEN ChargeCategory IN ('Receiving','Receiving-ChargeGroup')
						THEN CONCAT(
							'Receiving',
							CASE 
								WHEN NULLIF(InvoiceReferences,'') IS NOT NULL 
								THEN ': ' + REPLACE(
										REPLACE(InvoiceReferences, 'Receiving the shipment number: ', ''), 
										'Complete the shipment number: ', ''
								   )
								ELSE '' 
							END
						)

					WHEN ChargeCategory IN ('Picking','Picking-ChargeGroup')
						THEN CONCAT(
							'Picking',
							CASE 
								WHEN NULLIF(InvoiceReferences,'') IS NOT NULL 
								THEN ': ' + REPLACE(InvoiceReferences, 'Picking the wave number: ', '') 
								ELSE '' 
							END
						)
					ELSE 
						CASE 
							WHEN ChargeName = 'IT Platform /Customer Service fee' 
								THEN 'IT Platform /Customer Service fee' 	
							WHEN ChargeName = 'Storage - BAY' 
								THEN 'Bay / Pickface Storage' 
							WHEN ChargeName = 'Storage - PALLET' 
								THEN 'Pallet / Bulk Storage' 
							ELSE COALESCE(InvoiceReferences, ChargeName)
						END
				END AS ChargeDesc,*/
				Qty,
				Cost,
				Charge,
				Currency,
				CreatedDateTime AS ChargedDateTime,
				CreatedBy AS ChargedBy
			FROM dbo.Invoice
			WHERE 
				TenantCode = @TenantCode
				AND WarehouseCode = @ManualWarehouseCode
				AND DELETED = 0
				AND CreatedDateTime BETWEEN @StartDate AND @EndDate
			ORDER BY TenantCode, WarehouseCode;
				
			-- Next
			FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @ManualWarehouseCode, @WarehouseName;
		END
	END

	CLOSE TenantCursor;
	DEALLOCATE TenantCursor;
	     
	DECLARE @ChargeCategory VARCHAR(100),
			@WaveNumber     VARCHAR(50),
			@JobNumber      VARCHAR(500);

	DECLARE cur_Invoice CURSOR LOCAL FAST_FORWARD FOR
		SELECT ChargeCategory, WaveNumber, JobNumber
		FROM #TempInvoiceTable
		WHERE ChargeCategory IN ('Picking', 'Services - Kitting');

	OPEN cur_Invoice;

	FETCH NEXT FROM cur_Invoice INTO @ChargeCategory, @WaveNumber, @JobNumber;

	WHILE @@FETCH_STATUS = 0
	BEGIN

		SELECT @WaveID = WaveID
		FROM dbo.Wave
		WHERE Deleted = 0 And WaveNumber = @WaveNumber;


		SELECT @OrderNumber = OrderNumber 
		FROM dbo.WaveLine WHERE Deleted = 0 and WaveID = @WaveID and SourceOrderNumber = @JobNumber;

		UPDATE #TempInvoiceTable
		SET
			FulfilmentNumber = ISNULL(@OrderNumber, '') 
		WHERE WaveNumber = @WaveNumber AND JobNumber = @JobNumber;

		-- Next row
		FETCH NEXT FROM cur_Invoice INTO @ChargeCategory, @WaveNumber, @JobNumber;
	END

	CLOSE cur_Invoice;
	DEALLOCATE cur_Invoice;

	SELECT A.* FROM
	(
		SELECT WarehouseCode, WarehouseName, TenantCode, TenantName, 'Receiving' as ChargeCategory , ChargeName, '' as WaveNumber, '' as FulfilmentNumber, JobNumber, SUM(Qty) as Qty, CAST(AVG(Cost) AS decimal(18,2)) AS Price, SUM(Charge) as TotalCharge, Currency, CAST(ChargedDateTime AS date) AS ChargedDate
		FROM #TempInvoiceTable
		WHERE ChargeCategory IN ('Receiving')
		GROUP BY WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeName, Currency, CAST(ChargedDateTime AS date), JobNumber

		UNION ALL

		SELECT WarehouseCode, WarehouseName, TenantCode, TenantName, 'Picking' as ChargeCategory , ChargeName, WaveNumber, FulfilmentNumber, JobNumber, SUM(Qty) as Qty, CAST(AVG(Cost) AS decimal(18,2)) AS Price, SUM(Charge) as TotalCharge, Currency, CAST(ChargedDateTime AS date) AS ChargedDate
		FROM #TempInvoiceTable
		WHERE ChargeCategory IN ('Picking')
		GROUP BY WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeName, Currency, CAST(ChargedDateTime AS date), WaveNumber , FulfilmentNumber, JobNumber

		UNION ALL

		SELECT WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory, ChargeName, '' as WaveNumber,  '' as FulfilmentNumber, JobNumber, SUM(Qty) as Qty, CAST(AVG(Cost) AS decimal(18,2)) AS Price, SUM(Charge) as TotalCharge, Currency, CAST(ChargedDateTime AS date) AS ChargedDate
		FROM #TempInvoiceTable
		WHERE ChargeCategory IN ('Services - Stock Take', 'Services - Other')
		GROUP BY WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory, ChargeName, Currency, CAST(ChargedDateTime AS date), JobNumber

		UNION ALL

		SELECT WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory , ChargeName, WaveNumber, FulfilmentNumber, JobNumber, SUM(Qty) as Qty, CAST(AVG(Cost) AS decimal(18,2)) AS Price, SUM(Charge) as TotalCharge, Currency, CAST(ChargedDateTime AS date) AS ChargedDate
		FROM #TempInvoiceTable
		WHERE ChargeCategory IN ('Services - Kitting')
		GROUP BY WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory, ChargeName, Currency, CAST(ChargedDateTime AS date),  WaveNumber , FulfilmentNumber, JobNumber

		UNION ALL

		SELECT WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory, ChargeName, '' as WaveNumber, '' as FulfilmentNumber, JobNumber, SUM(Qty) as Qty, CAST(AVG(Cost) AS decimal(18,2)) AS Price, SUM(Charge) as TotalCharge, Currency,  CAST(ChargedDateTime AS date) AS ChargedDate
		FROM #TempInvoiceTable
		WHERE ChargeCategory NOT IN ('Picking', 'Receiving','Services - Stock Take','Services - Kitting','Services - Other')
		GROUP BY WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory,  ChargeName, Currency,  CAST(ChargedDateTime AS date), JobNumber

	) as A
	ORDER BY A.ChargeCategory, A.WarehouseName, A.TenantName;
		

	
END
GO
