USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_ListFulfilmentsByStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <27 Jun, 2025>
-- Description:	<List Fulfilment Orders By Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_ListFulfilmentsByStatus]
     @FulfilmentStatus NVARCHAR(20),  -- Fulfilment : Started : Completed or Cancelled : Error
	 @FulfilmentType NVARCHAR(20),  --Orders - Kitting - Release Stock - Destroy Stock
	 @WarehouseName VARCHAR(150) = NULL, 
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
	 @PageSize INT = 10,
	 @OrderBy NVARCHAR(50) = 'FulfilmentID',
	 @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);	

	IF @FulfilmentStatus IS NOT NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Fulfilment WHERE FulfilmentStatus = @FulfilmentStatus AND FulfilmentType = @FulfilmentType 
				 AND OnHold = 0
				 AND DELETED = 0 AND WarehouseName = @WarehouseName;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT f.*, w.WaveID, w.WaveNumber, w.WaveStatus, lw.WarehouseName, t.TenantName, t.TenantID,

					
						CASE
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%Local'' 
								THEN ash.AP_ConsignmentID
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%INT'' 
								THEN asht.AP_ConsignmentID
							WHEN f.Carrier LIKE ''DHL Express%'' 
								THEN d.shipmentTrackingNumber
							WHEN f.TrackingNumber IS NOT NULL 
								THEN f.TrackingNumber
							ELSE ''''
						END AS CarrierTrackingNumber

					   FROM dbo.Fulfilment f 
					   LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = f.WarehouseCode
					   LEFT JOIN Tenant t ON t.TenantCode = f.TenantCode
			           LEFT JOIN 
					   ( 
						    SELECT l.OrderNumber, w.WaveID, w.WaveNumber, w.WaveStatus FROM WaveLine l 
							LEFT JOIN Wave w ON w.WaveID = l.WaveID 
							WHERE l.Deleted = 0
					   ) w
					   ON w.OrderNumber = f.OrderNumber

					   -- Required joins for Tracking
						LEFT JOIN dbo.WaveLine wl 
							ON wl.OrderNumber = f.OrderNumber 
						   AND wl.Deleted = 0

						LEFT JOIN dbo.AP_Shipment ash
							ON wl.ShipmentID = ash.ShipmentID 
						   AND ash.Deleted = 0

						LEFT JOIN dbo.AP_ShipmentINT asht
							ON wl.ShipmentID = asht.ShipmentID 
						   AND asht.Deleted = 0

						LEFT JOIN dbo.DHLResponse d
							ON f.OrderNumber = d.MessageReference

			           WHERE f.FulfilmentStatus = ''' + @FulfilmentStatus + 
					   ''' AND f.FulfilmentType = ''' + @FulfilmentType + 
					   ''' AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + 
					   ''' AND OnHold = 0 AND f.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Fulfilment f
			LEFT JOIN 
			( 
				SELECT l.OrderNumber, w.WaveNumber, w.WaveStatus FROM WaveLine l 
				LEFT JOIN Wave w ON w.WaveID = l.WaveID 
				WHERE l.Deleted = 0
			) w 
			ON w.OrderNumber = f.OrderNumber
			LEFT JOIN dbo.Tenant t ON f.TenantCode = t.TenantCode 
			WHERE f.DELETED = 0 
			AND f.OnHold = 0
			AND f.FulfilmentStatus = @FulfilmentStatus
			AND f.FulfilmentType = @FulfilmentType
			AND f.WarehouseName = @WarehouseName
			AND (
				LOWER(f.order_number) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(f.OrderNumber) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(w.WaveNumber) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(w.WaveStatus) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(f.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT f.*, t.TenantName, w.WaveID, w.WaveNumber, w.WaveStatus , lw.WarehouseName, t.TenantID,

				-- Add Tracking Number CASE
				CASE
					WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%Local'' 
						THEN ash.AP_ConsignmentID
					WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%INT'' 
						THEN asht.AP_ConsignmentID
					WHEN f.Carrier LIKE ''DHL Express%'' 
						THEN d.shipmentTrackingNumber
					WHEN f.TrackingNumber IS NOT NULL 
						THEN f.TrackingNumber
					ELSE ''''
				END AS CarrierTrackingNumber

				FROM dbo.Fulfilment f
				LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = f.WarehouseCode
			    LEFT JOIN 
				( 
					SELECT l.OrderNumber, w.WaveID, w.WaveNumber, w.WaveStatus FROM WaveLine l 
					LEFT JOIN Wave w ON w.WaveID = l.WaveID 
					WHERE l.Deleted = 0
				) w
				ON w.OrderNumber = f.OrderNumber

				-- Required joins for Tracking
				LEFT JOIN dbo.WaveLine wl 
					ON wl.OrderNumber = f.OrderNumber 
					AND wl.Deleted = 0

				LEFT JOIN dbo.AP_Shipment ash
					ON wl.ShipmentID = ash.ShipmentID 
					AND ash.Deleted = 0

				LEFT JOIN dbo.AP_ShipmentINT asht
					ON wl.ShipmentID = asht.ShipmentID 
					AND asht.Deleted = 0

				LEFT JOIN dbo.DHLResponse d
					ON f.OrderNumber = d.MessageReference

				LEFT JOIN dbo.Tenant t ON f.TenantCode = t.TenantCode 
				WHERE f.DELETED = 0 
				AND f.OnHold = 0 
				AND f.FulfilmentStatus = ''' + @FulfilmentStatus + ''' 
				AND f.FulfilmentType = ''' + @FulfilmentType + ''' 
				AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + ''' 
				AND (
					LOWER(f.order_number) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(f.OrderNumber) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(w.WaveNumber) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(w.WaveStatus) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(f.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END 
	END
	ELSE -- @FulfilmentStatus IS NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Fulfilment WHERE FulfilmentType = @FulfilmentType AND DELETED = 0 AND OnHold = 0 AND WarehouseName = @WarehouseName;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT f.*, w.WaveID, w.WaveNumber, w.WaveStatus , lw.WarehouseName, t.TenantName, t.TenantID,

					  -- Add Tracking Number CASE
						CASE
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%Local'' 
								THEN ash.AP_ConsignmentID
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%INT'' 
								THEN asht.AP_ConsignmentID
							WHEN f.Carrier LIKE ''DHL Express%'' 
								THEN d.shipmentTrackingNumber
							WHEN f.TrackingNumber IS NOT NULL 
								THEN f.TrackingNumber
							ELSE ''''
						END AS CarrierTrackingNumber

					   FROM dbo.Fulfilment f

					   -- Required joins for Tracking
						LEFT JOIN dbo.WaveLine wl 
							ON wl.OrderNumber = f.OrderNumber 
							AND wl.Deleted = 0

						LEFT JOIN dbo.AP_Shipment ash
							ON wl.ShipmentID = ash.ShipmentID 
							AND ash.Deleted = 0

						LEFT JOIN dbo.AP_ShipmentINT asht
							ON wl.ShipmentID = asht.ShipmentID 
							AND asht.Deleted = 0

						LEFT JOIN dbo.DHLResponse d
						ON f.OrderNumber = d.MessageReference

					   LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = f.WarehouseCode
					   LEFT JOIN Tenant t ON t.TenantCode = f.TenantCode
			           LEFT JOIN 
					   ( 
						    SELECT l.OrderNumber, w.WaveID, w.WaveNumber, w.WaveStatus FROM WaveLine l 
							LEFT JOIN Wave w ON w.WaveID = l.WaveID 
							WHERE l.Deleted = 0
					   ) w
					   ON w.OrderNumber = f.OrderNumber
			           WHERE f.FulfilmentType = ''' + @FulfilmentType + ''' 
					   AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + ''' 
					   AND f.DELETED = 0 AND f.OnHold = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Fulfilment f
			LEFT JOIN 
			( 
				SELECT l.OrderNumber, w.WaveNumber, w.WaveStatus FROM WaveLine l 
				LEFT JOIN Wave w ON w.WaveID = l.WaveID 
				WHERE l.Deleted = 0
			) w  
			ON w.OrderNumber = f.OrderNumber
			LEFT JOIN dbo.Tenant t ON f.TenantCode = t.TenantCode 
			WHERE f.DELETED = 0 
			AND f.OnHold = 0
			AND f.FulfilmentType = @FulfilmentType
			AND f.WarehouseName = @WarehouseName
			AND (
				LOWER(f.order_number) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(f.OrderNumber) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(w.WaveNumber) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(w.WaveStatus) LIKE '%' + LOWER(@Search) + '%' 				
				OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(f.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT f.*, t.TenantName, lw.WarehouseName, t.TenantID,
			     -- Add Tracking Number CASE
				CASE
					WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%Local'' 
						THEN ash.AP_ConsignmentID
					WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%INT'' 
						THEN asht.AP_ConsignmentID
					WHEN f.Carrier LIKE ''DHL Express%'' 
						THEN d.shipmentTrackingNumber
					WHEN f.TrackingNumber IS NOT NULL 
						THEN f.TrackingNumber
					ELSE ''''
				END AS CarrierTrackingNumber 
				FROM dbo.Fulfilment f

				  -- Required joins for Tracking
				LEFT JOIN dbo.WaveLine wl 
					ON wl.OrderNumber = f.OrderNumber 
					AND wl.Deleted = 0

				LEFT JOIN dbo.AP_Shipment ash
					ON wl.ShipmentID = ash.ShipmentID 
					AND ash.Deleted = 0

				LEFT JOIN dbo.AP_ShipmentINT asht
					ON wl.ShipmentID = asht.ShipmentID 
					AND asht.Deleted = 0

				LEFT JOIN dbo.DHLResponse d
					ON f.OrderNumber = d.MessageReference

				LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = f.WarehouseCode
			    LEFT JOIN dbo.Wave w ON w.OrderNumber = f.OrderNumber
				LEFT JOIN dbo.Tenant t ON f.TenantCode = t.TenantCode 
				WHERE f.DELETED = 0 
				AND f.OnHold = 0 
				AND f.FulfilmentType = ''' + @FulfilmentType + ''' 
				AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + ''' 
				AND (
					LOWER(f.order_number) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(f.OrderNumber) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(w.WaveNumber) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(w.WaveStatus) LIKE ''%' + LOWER(@Search) + '%'' 				
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(f.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END 
	END


	PRINT  @SQL; 

    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL; 
END
GO
