USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_DeleteShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Oct, 2025>
-- Description:	<Delete Shipment OF Fulfilment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_DeleteShipment]		
	@OrderNumber	VARCHAR(50),	
	@DeleteDateTime DATETIME = NULL,
    @DeletedBy VARCHAR(100) = NULL,	
	@APShipmentID VARCHAR(150) OUTPUT,	
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ShipmentID INT,
				@CarrierID INT,
				@ShipmentType VARCHAR(20);

		IF LEFT(@OrderNumber, 3) = 'MS-'
		BEGIN
			
			
			SET @CarrierID = 1;
			SET @ShipmentType = 'Local';

			SELECT @ShipmentID = ShipmentID
			FROM dbo.AP_Shipment
			WHERE Shipment_Reference = @OrderNumber AND Deleted = 0;

			IF @ShipmentID IS NULL
			BEGIN
				
				SET @ShipmentType = 'INT';

				SELECT @ShipmentID = ShipmentID
				FROM dbo.AP_ShipmentINT
				WHERE Shipment_Reference = @OrderNumber AND Deleted = 0;

				IF @ShipmentID IS NULL
				BEGIN
					SET @CarrierID = 3;

					SELECT @ShipmentID = ShipmentID
					FROM dbo.DHLShipment
					WHERE MessageReference = @OrderNumber AND Deleted = 0;
				END
			END
			
			IF @ShipmentID IS NOT NULL
			BEGIN				
				IF @CarrierID = 1
				BEGIN
					EXEC [dbo].[SP_VI_TBL_APShipment_DeleteAPShipment]
						  @ShipmentID = @ShipmentID,    
						  @Type = @ShipmentType, 						
						  @LastEditedDateTime =@DeleteDateTime,
						  @LastEditedBy = @DeletedBy,
						  @Message = @Message OUTPUT;
				END
				ELSE
				BEGIN					
					EXEC [dbo].[SP_VI_TBL_DHLShipment_DeleteDHLShipment]
						  @ShipmentID = @ShipmentID,              				 
						  @LastEditedDateTime = @DeleteDateTime,
						  @LastEditedBy = @DeletedBy,
						  @Message = @Message OUTPUT;
				END
			END
		END
		ELSE
		BEGIN

			DECLARE @FulfilmentID INT,				
			    @WaveLineID INT,
				@WaveID INT;
				

			-- get ShipmentID
			SELECT @ShipmentType = ShipmentType,
				   @ShipmentID = ShipmentID,
				   @WaveLineID = WaveLineID,
				   @WaveID = WaveID
			FROM dbo.WaveLine
			WHERE OrderNumber = @OrderNumber AND Deleted = 0;

			-- get ShipmentID
			SELECT @FulfilmentID = FulfilmentID
			FROM dbo.Fulfilment
			WHERE OrderNumber = @OrderNumber AND Deleted = 0;

			IF @ShipmentID IS NOT NULL
			BEGIN

				-- Deleted Shipment
				IF @ShipmentType = 'Local'
				BEGIN

					SELECT @APShipmentID = AP_shipment_id
					FROM dbo.AP_Shipment
					WHERE ShipmentID = @ShipmentID;

					UPDATE dbo.AP_Shipment
					SET DELETED = 1,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @DeleteDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @DeletedBy),
						LastEditedDateTime = COALESCE(@DeleteDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@DeletedBy, LastEditedBy)
					WHERE ShipmentID = @ShipmentID;
				END
				ELSE
				BEGIN

					SELECT @APShipmentID = AP_shipment_id
					FROM dbo.AP_ShipmentINT
					WHERE ShipmentID = @ShipmentID;

					UPDATE dbo.AP_ShipmentINT
					SET Deleted = 1,				    
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @DeleteDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @DeletedBy),
						LastEditedDateTime = COALESCE(@DeleteDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@DeletedBy, LastEditedBy)
					WHERE ShipmentID = @ShipmentID;
				END
			
				-- Update Fulfilment
				UPDATE dbo.Fulfilment
				SET FulfilmentStatus = 'Completed',
					CarrierID = NULL,
					Carrier = NULL,
					CarrierService = NULL,
					TrackingNumber = NULL,
					FirstEditedDateTime = COALESCE(FirstEditedDateTime, @DeleteDateTime),
					FirstEditedBy = COALESCE(FirstEditedBy, @DeletedBy),
					LastEditedDateTime = COALESCE(@DeleteDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@DeletedBy, LastEditedBy)
				WHERE FulfilmentID = @FulfilmentID;
		
				-- Update in WaveLine
				UPDATE dbo.Waveline
				SET ShipmentType = NULL,
					ShipmentID = NULL,
					PackStatus = 'Completed',
					MailStatus = 'Completed',
					PackBy = @DeletedBy,
					MailBy = @DeletedBy,
					FirstEditedDateTime = COALESCE(FirstEditedDateTime, @DeleteDateTime),
					FirstEditedBy = COALESCE(FirstEditedBy, @DeletedBy),
					LastEditedDateTime = COALESCE(@DeleteDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@DeletedBy, LastEditedBy)
				WHERE WaveLineID = @WaveLineID;			
			END
		       
			   
			-- check update wave completed
			DECLARE @NumberOfCompletedPacking INT,
					@NumberOfCompletedMailing INT;
		
			SELECT @NumberOfCompletedPacking = COUNT(*)  
			FROM WaveLine where WaveID = @WaveID AND Deleted = 0 AND PackStatus = 'Completed';

			SELECT @NumberOfCompletedMailing = COUNT(*)  
			FROM WaveLine where WaveID = @WaveID AND Deleted = 0 AND MailStatus = 'Completed';

			IF @NumberOfCompletedPacking <> 0 AND @NumberOfCompletedPacking = @NumberOfCompletedMailing
			BEGIN
				UPDATE dbo.Wave
				SET
					WaveStatus = 'Completed',					
					StepStatus = 'Completed',
					FirstEditedDateTime = COALESCE(@DeleteDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@DeletedBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@DeleteDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@DeletedBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;
			END
		END -- End not manual		

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
   
END
GO
