USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_UpdateChargeItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Nov, 2024>
-- Description:	<Update Charge Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_UpdateChargeItem] 
	@ChargeItemID INT,
	@APIID INT = NULL,
	@ChargeItemName VARCHAR(200),
    @ChargeItemUnit VARCHAR(50),
	@ChargeItemType VARCHAR(50),
    @ChargeItemGroup VARCHAR(100) = NULL,
	@Mandatory BIT = 0,
	@FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy         VARCHAR(100) = NULL,
	@LastEditedDateTime     DATETIME = NULL,
	@LastEditedBy          VARCHAR(100) = NULL,
	@Message				VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

        -- Check if the ChargeItemID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.ChargeItem WHERE ChargeItemID = @ChargeItemID AND Deleted = 0)
        BEGIN
            SET @Message = 'ChargeItemID does not exist or has been deleted.';
			ROLLBACK TRANSACTION;
            RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.ChargeItem WHERE ChargeItemID != @ChargeItemID AND APIID = @APIID AND Deleted = 0)
        BEGIN
            SET @Message = 'APIID does exist.';
			ROLLBACK TRANSACTION;
            RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.ChargeItem WHERE ChargeItemID != @ChargeItemID AND ChargeItemName = @ChargeItemName AND Deleted = 0)
        BEGIN
            SET @Message = 'Charge Item Name does exist.';
			ROLLBACK TRANSACTION;
            RETURN;
        END


        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.ChargeItem
        SET
		    APIID = COALESCE(@APIID, APIID),
			Mandatory = @Mandatory,
            ChargeItemName = COALESCE(@ChargeItemName, ChargeItemName),
			ChargeItemUnit = COALESCE(@ChargeItemUnit, ChargeItemUnit),
			ChargeItemType = COALESCE(@ChargeItemType, ChargeItemType),
			ChargeItemGroup = COALESCE(@ChargeItemGroup, ChargeItemGroup),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE ChargeItemID = @ChargeItemID;

		IF @Mandatory = 1
		BEGIN
			DECLARE @NewChargeItemID INT;
			SET @NewChargeItemID =  @ChargeItemID;

			-- update deleted 
			DELETE TCC
			FROM TenantCustomCost TCC
			INNER JOIN TenantChargeItem TCI	ON TCC.TenantChargeItemID = TCI.TenantChargeItemID
			WHERE TCI.ChargeItemId = @ChargeItemId; 

			DELETE dbo.TenantChargeItem
			WHERE ChargeItemID = @ChargeItemID;

			DECLARE @InnerMessage VARCHAR(4000);
			DECLARE @AllTenant BIT = 1; -- Set to TRUE
			DECLARE @TenantIds dbo.IdArray;

			EXEC SP_VI_TBL_ChargeItem_ApplyChargeItem 
					@ChargeItemID = @NewChargeItemID,
					@AllTenant = @AllTenant,
					@TenantIds = @TenantIds,
					@Message = @InnerMessage OUTPUT;

		END

		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
