USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_ListItems]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2024>
-- Description:	<Search Items>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_ListItems]
     @TenantCode NVARCHAR(10) = NULL,
     @WarehouseCode VARCHAR(20) = NULL,  
     @Search NVARCHAR(100),
     @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50),
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
     @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

    IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        SELECT @TotalRecords = COUNT(*)
        FROM dbo.Items
        WHERE (@TenantCode IS NULL OR TenantCode = @TenantCode)
          AND DELETED = 0;

        SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);
        
        SET @SQL = N'
            SELECT DISTINCT i.*, 
                   ISNULL(it.Barcode, NULL) AS PrimaryUnit,
                   dbo.fn_GetStockOnHandOfTenantItem(i.TenantCode, @WarehouseCode, i.ItemNumber) AS StockOnHand
            FROM (
                SELECT it.*, t.TenantName 
                FROM dbo.Items it 
                LEFT JOIN dbo.Tenant t ON it.TenantCode = t.TenantCode
            ) i
            LEFT JOIN dbo.ItemTradeUnit it 
                ON i.ItemID = it.ItemID 
               AND it.PrimaryUnit = 1 
               AND it.Deleted = 0 
            WHERE i.Deleted = 0
              AND (@TenantCode IS NULL OR i.TenantCode = @TenantCode)
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
            OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

        EXEC sp_executesql 
            @SQL, 
            N'@TenantCode VARCHAR(10), @WarehouseCode VARCHAR(20)', 
            @TenantCode = @TenantCode,
            @WarehouseCode = @WarehouseCode;
    END
    ELSE
    BEGIN
        SELECT @TotalRecords = COUNT(*)
        FROM (
            SELECT DISTINCT i.*, ISNULL(it.Barcode, NULL) AS PrimaryUnit
            FROM (
                SELECT it.*, t.TenantName 
                FROM dbo.Items it 
                LEFT JOIN dbo.Tenant t ON it.TenantCode = t.TenantCode
            ) i
            LEFT JOIN dbo.ItemTradeUnit it 
                ON i.ItemID = it.ItemID 
               AND it.PrimaryUnit = 1 
               AND it.Deleted = 0
            WHERE i.DELETED = 0
              AND (@TenantCode IS NULL OR i.TenantCode = @TenantCode)
              AND (
                    LOWER(i.ItemNumber) LIKE '%' + LOWER(@Search) + '%' 
                 OR LOWER(i.ItemName) LIKE '%' + LOWER(@Search) + '%' 
                 OR LOWER(i.TenantName) LIKE '%' + LOWER(@Search) + '%' 
                 OR LOWER(ISNULL(it.Barcode, '')) LIKE '%' + LOWER(@Search) + '%' 
              )
        ) AS it;
        
        SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);
        SET @Search = '%' + LOWER(@Search) + '%';

        SET @SQL = N'
            SELECT DISTINCT i.*,
                   ISNULL(it.Barcode, NULL) AS PrimaryUnit,
                   dbo.fn_GetStockOnHandOfTenantItem(i.TenantCode, @WarehouseCode, i.ItemNumber) AS StockOnHand
            FROM (
                SELECT it.*, t.TenantName 
                FROM dbo.Items it 
                LEFT JOIN dbo.Tenant t ON it.TenantCode = t.TenantCode
            ) i
            LEFT JOIN dbo.ItemTradeUnit it 
                ON i.ItemID = it.ItemID 
               AND it.PrimaryUnit = 1 
               AND it.Deleted = 0 
            WHERE i.DELETED = 0
              AND (@TenantCode IS NULL OR i.TenantCode = @TenantCode)
              AND (
                    LOWER(i.ItemNumber) LIKE @Search 
                 OR LOWER(i.ItemName) LIKE @Search 
                 OR LOWER(i.TenantName) LIKE @Search
                 OR LOWER(ISNULL(it.Barcode, '''')) LIKE @Search 
              ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
            OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

        EXEC sp_executesql 
            @SQL,
            N'@TenantCode VARCHAR(10), @WarehouseCode VARCHAR(20), @Search NVARCHAR(100)',
            @TenantCode = @TenantCode,
            @WarehouseCode = @WarehouseCode,
            @Search = @Search;
    END
END
GO
