USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_ViewAppliedChargeItemByTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Dec, 2024>
-- Description:	<View All Applied Charge Item By Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_ViewAppliedChargeItemByTenant]  
	 @TenantCode VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;
  
	SELECT ci.*, tci.ChargeType
	FROM dbo.TenantChargeItem tci
	LEFT JOIN dbo.ChargeItem ci ON LOWER(ci.ChargeItemId) = LOWER(tci.ChargeItemId)
	WHERE tci.TenantCode = @TenantCode AND tci.deleted = 0 order by tci.ChargeItemId;

END
GO
