USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetLocationBarcodesByRow]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <06 Jan, 2025>
-- Description:	<Get Location Barcodes by Row>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetLocationBarcodesByRow]
    @LocRowID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Declare variables to store the results
    DECLARE @LocWarehouseCode NVARCHAR(20),
            @LocAreaCode NVARCHAR(20),
			@LocSectionCode NVARCHAR(20),
            @LocRowCode NVARCHAR(20),
			@LocColumnCode NVARCHAR(20),
            @LocShelfCode NVARCHAR(20),
            @LocBinCode NVARCHAR(20),
            @LocSBinCode NVARCHAR(20);

	-- get above code
	SELECT 
		@LocWarehouseCode = lw.WarehouseCode,
		@LocAreaCode = la.AreaCode,
		@LocSectionCode = ls.SectionCode
	FROM 
		LocRow lr
	INNER JOIN 
		LocSection ls ON lr.LocSectionId = ls.LocSectionId
	INNER JOIN 
		LocArea la ON ls.LocAreaId = la.LocAreaId
	INNER JOIN 
		LocWarehouse lw ON la.LocWarehouseId = lw.LocWarehouseId
	WHERE 
		lr.LocRowID = @LocRowID 
		AND lr.DELETED = 0;

	-- retrive
	SELECT 
	    lr.RowCode AS RowCode,
		lc.ColumnCode AS ColumnCode,
		ls.ShelfCode AS ShelfCode,
		lb.BinCode AS BinCode,
		lsb.SBinCode AS SBinCode,
		(@LocWarehouseCode + @LocAreaCode + @LocSectionCode + lr.RowCode + lc.ColumnCode + ls.ShelfCode + lb.BinCode + lsb.SBinCode) AS Barcode,
		CASE 
			WHEN (SELECT COUNT(*) FROM LocSBin WHERE LocBinId = lb.LocBinId) = 1 THEN lb.BinCode
			ELSE lsb.SBinCode
		END AS ReadableText
	FROM 
		LocRow lr
	INNER JOIN 
		LocColumn lc ON lr.LocRowId = lc.LocRowId
	INNER JOIN 
		LocShelf ls ON lc.LocColumnId = ls.LocColumnId
	INNER JOIN 
		LocBin lb ON ls.LocShelfId = lb.LocShelfId
	INNER JOIN 
		LocSBin lsb ON lb.LocBinId = lsb.LocBinId
	WHERE 
		lr.LocRowId = @LocRowID AND lr.DELETED = 0 AND lc.DELETED = 0 AND ls.DELETED = 0 AND lb.DELETED = 0 AND lsb.DELETED = 0
	ORDER BY 
		lc.ColumnCode, ls.ShelfCode, lb.BinCode, lsb.SBinCode;


END
GO
