USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_GetTodayReportDefinitions]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <22 May, 2025>
-- Description:	<Get Today Report Definition>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_GetTodayReportDefinitions]
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TodayUTC DATE = CAST(GETDATE() AS DATE);
    DECLARE @IsFirstDayOfMonth BIT = 0;
    DECLARE @IsMonday BIT = 0;

	SET DATEFIRST 1;

    -- Check if it's the first day of the month
    IF DAY(@TodayUTC) = 1
	BEGIN
        SET @IsFirstDayOfMonth = 1;
	END

    -- Check if it's Monday (1 = Monday, 7 = Sunday in @@DATEFIRST = 1 setting)
    IF DATEPART(WEEKDAY, @TodayUTC) = 1
	BEGIN
        SET @IsMonday = 1;
	END

	IF @IsMonday = 1 AND @IsFirstDayOfMonth = 1
	BEGIN
		PRINT 'Today is both Monday and the first day of the month.';
		SELECT * FROM ReportDefinition WHERE DELETED = 0 And Type = 'Schedule';
	END
	ELSE IF @IsMonday = 1
	BEGIN
		PRINT  'Today is Monday but not the first day of the month.';
		SELECT * FROM ReportDefinition WHERE DELETED = 0 And Type = 'Schedule' AND (ReportName LIKE '%Daily%' OR ReportName LIKE '%Weekly%');
	END
	ELSE IF @IsFirstDayOfMonth = 1
	BEGIN
		PRINT  'Today is the first day of the month but not Monday.';
		SELECT * FROM ReportDefinition WHERE DELETED = 0 And Type = 'Schedule' AND (ReportName LIKE '%Daily%' OR ReportName LIKE '%Monthly%');
	END
	ELSE
	BEGIN
		PRINT  'Today is neither Monday nor the first day of the month.'; 
		SELECT * FROM ReportDefinition WHERE DELETED = 0 And Type = 'Schedule' AND ReportName LIKE '%Daily%';
	END
	
END
GO
