USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_StartPickingTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Jul, 2025>
-- Description:	<Start Picking Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_StartPickingTask] 
    @WaveID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100),
	@PickingScheduleID INT OUTPUT,
	@ULDCurrentLocation VARCHAR(50) OUTPUT,
	@OrderID INT OUTPUT, -- FulfilmentID
	@OrderNumber  VARCHAR(50) OUTPUT,
	@SourceOrderNumber  VARCHAR(50) OUTPUT,
	@ItemName VARCHAR(250) OUTPUT,
	@ItemNumber VARCHAR(30) OUTPUT,
	@WarehouseName VARCHAR(200) OUTPUT,
	@AreaName    VARCHAR(200) OUTPUT,
	@SectionName VARCHAR(200) OUTPUT,
	@RowName     VARCHAR(200) OUTPUT,
	@ColumnName  VARCHAR(200) OUTPUT,
	@BinName     VARCHAR(200) OUTPUT,
	@HasMultipleSBins BIT OUTPUT,
	@WaveStatus VARCHAR(20) OUTPUT,
	@PickStatus VARCHAR(20) OUTPUT,
	@PickingType  VARCHAR(50) OUTPUT,
	@Qty INT OUTPUT,	
	@SlotNumber INT OUTPUT,	
	@IsEnough BIT OUTPUT,	
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY		

		BEGIN TRANSACTION

		SET @HasMultipleSBins = 0;
		SET @ULDCurrentLocation = '';
		SET @PickingType = '';
		SET @OrderNumber = '';
		SET @ItemName = '';
		SET @ItemNumber = '';
		SET @WarehouseName = '';
		SET @AreaName = '';
		SET @SectionName = '';
		SET @RowName  = '';
		SET @ColumnName = '';
		SET @BinName = '';
		SET @HasMultipleSBins = 0;
		SET @WaveStatus = '';
		SET @PickStatus = '';
		SET @Qty = 0;		
		SET @IsEnough = 1;		

		DECLARE @BinID INT,
				@ULDID INT,					
				@Status VARCHAR(20),
				@CurrentStep VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10);

		--get current step
		SELECT @WarehouseCode = WarehouseCode,
			   @CurrentStep = CurrentStep,
			   @WaveStatus = WaveStatus,
			   @PickStatus = StepStatus,
			   @PickingType = PickingType
		FROM dbo.Wave WHERE WaveID = @WaveID AND Deleted = 0;		

		-- check
		IF @CurrentStep <> 'Picking'
		BEGIN
			SET @Message = 'Picking is over';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @PickStatus = 'Completed'
		BEGIN
			SET @Message = 'Picking is completed';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @WaveStatus = 'Pending'
		BEGIN
			SET @Message = 'This wave has not been started yet.';	
			ROLLBACK TRANSACTION;
			RETURN;
		END
	
		-- Declare

		CREATE TABLE #TempOrderNumberAndTenantTable
		(
			SourceOrderNumber VARCHAR(50),
			OrderNumber VARCHAR(50),
			OrderID INT,
			TenantCode VARCHAR(10)
		);

		CREATE TABLE #TemPickingTaskTable
		(
			ULDID INT,
			ULDBarcode VARCHAR(30),
			ItemBarcode VARCHAR(30),
			ItemNumber VARCHAR(30),
			ItemName VARCHAR(250),
			UnitQuantity INT,
			TrackSerialOnReceipt BIT,
			TradeUnit VARCHAR(20),
			ULDType VARCHAR(30)
		);

		SET @SlotNumber = 0;


		IF @PickingType = 'PickToOrder'
		BEGIN

			INSERT INTO #TempOrderNumberAndTenantTable (SourceOrderNumber, OrderNumber, OrderID, TenantCode)
			SELECT w.SourceOrderNumber, w.OrderNumber, f.FulfilmentId as OrderID, w.TenantCode
			FROM dbo.WaveLine w
			LEFT JOIN dbo.Fulfilment f ON f.OrderNumber = w.OrderNumber
			WHERE w.WaveID = @WaveID AND w.Deleted = 0;

			-- Get Existed 
			SELECT TOP 1 @PickingScheduleID = ps.PickingScheduleID, 
						@SourceOrderNumber = ps.FulfilmentOrder,
						@TenantCode = ps.TenantCode,
						@ULDID = ps.ULDID, 
						@ItemName = ps.ItemName, 
						@ItemNumber = ps.ItemNumber,
						@WarehouseName = ps.WarehouseName,
						@AreaName  = ps.AreaName,
						@SectionName = ps.SectionName,
						@RowName = ps.RowName,
						@ColumnName = ps.ColumnName,
						@BinName = ps.BinName,
						@BinID = ps.BinID,
						@ULDCurrentLocation = ps.ULDCurrentLocation,
						@Qty = ps.Qty,
						@OrderID = t.OrderID,
						@OrderNumber = t.OrderNumber
			FROM dbo.PickingSchedule ps
			JOIN #TempOrderNumberAndTenantTable t ON t.SourceOrderNumber = ps.FulfilmentOrder AND t.TenantCode = ps.TenantCode
			WHERE ps.DELETED = 0 
				  AND ps.FulfilmentType = 'Orders' 
				  AND ps.STATUS = 'Taken' 
				  AND ps.OperationStaff = @OperationBy
			--ORDER BY ItemNumber, LocationOrderNumber;
			ORDER BY LocationOrderNumber, ItemNumber;

			-- There is no existed and get new one
			IF @PickingScheduleID IS NULL
			BEGIN

				SELECT TOP 1 @PickingScheduleID = ps.PickingScheduleID, 
							@SourceOrderNumber = ps.FulfilmentOrder,
							@TenantCode = ps.TenantCode,
							@ULDID = ps.ULDID, 
							@ItemName = ps.ItemName, 
							@ItemNumber = ps.ItemNumber,
							@WarehouseName = ps.WarehouseName,
							@AreaName  = ps.AreaName,
							@SectionName = ps.SectionName,
							@RowName = ps.RowName,
							@ColumnName = ps.ColumnName,
							@BinName = ps.BinName,
							@BinID = ps.BinID,
							@ULDCurrentLocation = ps.ULDCurrentLocation,
							@Qty = ps.Qty,
							@OrderID = t.OrderID,
							@OrderNumber = t.OrderNumber
				FROM dbo.PickingSchedule ps
				JOIN #TempOrderNumberAndTenantTable t ON t.SourceOrderNumber = ps.FulfilmentOrder AND t.TenantCode = ps.TenantCode
				WHERE ps.DELETED = 0 AND ps.FulfilmentType = 'Orders' 
					  AND ps.STATUS = 'Init' 
					  AND ps.OperationStaff IS NULL
				--ORDER BY ps.ItemNumber, ps.LocationOrderNumber, ps.FulfilmentOrder;
				ORDER BY ps.LocationOrderNumber, ps.ItemNumber, ps.FulfilmentOrder;

				IF @PickingScheduleID IS NOT NULL
				BEGIN
					UPDATE dbo.PickingSchedule
					SET [Status] = 'Taken',
						OperationStaff = @OperationBy,
						StartDate = @OperationDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @OperationDateTime,
						LastEditedBy = @OperationBy
					WHERE PickingScheduleID = @PickingScheduleID;
				END
			END

			IF @BinID IS NOT NULL
			BEGIN
				IF (SELECT COUNT(*) FROM LocSBin WHERE Deleted = 0 AND LocBinID = @BinID) > 1
				BEGIN
					SET @HasMultipleSBins = 1;
				END
			END

			IF @PickingScheduleID IS NOT NULL
			BEGIN

				SELECT @SlotNumber = SlotNumber
				FROM dbo.PickingInfo
				WHERE WaveID = @WaveID AND Deleted = 0 AND OrderNumber = @OrderNumber;

				INSERT INTO #TemPickingTaskTable (ULDID, ULDBarcode, ItemBarcode, ItemNumber, ItemName, UnitQuantity, TrackSerialOnReceipt, TradeUnit, ULDType)
				SELECT 
					U.ULDID, 
					U.ULDBarcode,
					it.Barcode as ItemBarcode,
					it.ItemNumber,
					it.ItemName,
					it.UnitQuantity,
					it.TrackSerialOnReceipt,
					it.ItemType,
					U.ULDType 
				FROM 
					dbo.ULD U
				LEFT JOIN
				(
					SELECT i.ItemNumber, i.ItemName, i.TenantCode, iu.Barcode, iu.ItemType, iu.UnitQuantity, i.TrackSerialOnReceipt 
					From Items i
					LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID
					WHERE i.Deleted = 0 
				) it ON u.TenantCode = it.TenantCode AND u.ItemNumber = it.ItemNumber
				WHERE U.DELETED = 0 AND ULDID = @ULDID;

				SELECT * FROM #TemPickingTaskTable;

			END
			ELSE
			BEGIN			
				SET @Message = '';			
				ROLLBACK TRANSACTION;
				RETURN;
			END		
		END -- End @PickingType = 'PickToOrder'
		ELSE
		BEGIN

			SET @OrderID = 1;

			SELECT TOP 1 @PickingScheduleID = ps.PickingScheduleID, 					
						@TenantCode = ps.TenantCode,
						@ULDID = ps.ULDID, 
						@ItemName = ps.ItemName, 
						@ItemNumber = ps.ItemNumber,
						@WarehouseName = ps.WarehouseName,
						@AreaName  = ps.AreaName,
						@SectionName = ps.SectionName,
						@RowName = ps.RowName,
						@ColumnName = ps.ColumnName,
						@BinName = ps.BinName,
						@BinID = ps.BinID,
						@ULDCurrentLocation = ps.ULDCurrentLocation,
						@Qty = ps.Qty						
			FROM dbo.PickingSchedule ps			
			WHERE ps.DELETED = 0 
				  AND ps.WaveID = @WaveID
				  AND ps.FulfilmentType = 'Orders' 
				  AND ps.STATUS = 'Taken' 
				  AND ps.OperationStaff = @OperationBy
			--ORDER BY ItemNumber, LocationOrderNumber;
			ORDER BY LocationOrderNumber, ItemNumber;

			-- There is no existed and get new one
			IF @PickingScheduleID IS NULL
			BEGIN

				SELECT TOP 1 @PickingScheduleID = ps.PickingScheduleID, 							
							@TenantCode = ps.TenantCode,
							@ULDID = ps.ULDID, 
							@ItemName = ps.ItemName, 
							@ItemNumber = ps.ItemNumber,
							@WarehouseName = ps.WarehouseName,
							@AreaName  = ps.AreaName,
							@SectionName = ps.SectionName,
							@RowName = ps.RowName,
							@ColumnName = ps.ColumnName,
							@BinName = ps.BinName,
							@BinID = ps.BinID,
							@ULDCurrentLocation = ps.ULDCurrentLocation,
							@Qty = ps.Qty
				FROM dbo.PickingSchedule ps			
				WHERE ps.DELETED = 0 
					  AND ps.WaveID = @WaveID
					  AND ps.FulfilmentType = 'Orders' 
					  AND ps.STATUS = 'Init' 
					  AND ps.OperationStaff IS NULL
				--ORDER BY ps.ItemNumber, ps.LocationOrderNumber, ps.FulfilmentOrder;
				ORDER BY ps.LocationOrderNumber, ps.ItemNumber, ps.FulfilmentOrder;

				IF @PickingScheduleID IS NOT NULL
				BEGIN
					UPDATE dbo.PickingSchedule
					SET [Status] = 'Taken',
						OperationStaff = @OperationBy,
						StartDate = @OperationDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @OperationDateTime,
						LastEditedBy = @OperationBy
					WHERE PickingScheduleID = @PickingScheduleID;
				END
			END

			IF @BinID IS NOT NULL
			BEGIN
				IF (SELECT COUNT(*) FROM LocSBin WHERE Deleted = 0 AND LocBinID = @BinID) > 1
				BEGIN
					SET @HasMultipleSBins = 1;
				END
			END

			IF @PickingScheduleID IS NOT NULL
			BEGIN
				INSERT INTO #TemPickingTaskTable (ULDID, ULDBarcode, ItemBarcode, ItemNumber, ItemName, UnitQuantity, TrackSerialOnReceipt, TradeUnit, ULDType)
				SELECT 
					U.ULDID, 
					U.ULDBarcode,
					it.Barcode as ItemBarcode,
					it.ItemNumber,
					it.ItemName,
					it.UnitQuantity,
					it.TrackSerialOnReceipt,
					it.ItemType,
					U.ULDType 
				FROM 
					dbo.ULD U
				LEFT JOIN
				(
					SELECT i.ItemNumber, i.ItemName, i.TenantCode, iu.Barcode, iu.ItemType, iu.UnitQuantity, i.TrackSerialOnReceipt 
					From Items i
					LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID
					WHERE i.Deleted = 0 
				) it ON u.TenantCode = it.TenantCode AND u.ItemNumber = it.ItemNumber
				WHERE U.DELETED = 0 AND ULDID = @ULDID;

				SELECT * FROM #TemPickingTaskTable;

			END
			ELSE
			BEGIN			
				SET @Message = 'No more picking task';			
				ROLLBACK TRANSACTION;
				RETURN;
			END		


		END -- ENd @PickingType <> 'PickToOrder'

		
				
		-- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
