USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportData_ListReportData]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Jun, 2025>
-- Description:	<List Portal Report by Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportData_ListReportData]
     @WarehouseCode VARCHAR(10),
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ReportDataID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.ReportData WHERE WarehouseCode = @WarehouseCode AND DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT RD.ReportName, RD.Cat, R.* FROM dbo.ReportData R LEFT JOIN ReportDefinition RD ON R.ReportDefinitionID = RD.ReportDefinitionID WHERE R.WarehouseCode = ' + QUOTENAME(@WarehouseCode, '''') + ' AND R.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.ReportData R
		LEFT JOIN ReportDefinition RD ON R.ReportDefinitionID = RD.ReportDefinitionID
		WHERE R.DELETED = 0 
		AND R.WarehouseCode = @WarehouseCode
		AND (
			LOWER(R.TenantName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(CONVERT(VARCHAR, R.StartDate, 120)) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(CONVERT(VARCHAR, R.EndDate, 120)) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(R.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(RD.ReportName) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'
			SELECT RD.ReportName , RD.Cat, R.* 
			FROM dbo.ReportData R
			LEFT JOIN ReportDefinition RD ON R.ReportDefinitionID = RD.ReportDefinitionID
			WHERE R.DELETED = 0 
			  AND R.WarehouseCode = ' + QUOTENAME(@WarehouseCode, '''') + ' 
			  AND (
				LOWER(R.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(CONVERT(VARCHAR, R.StartDate, 120)) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(CONVERT(VARCHAR, R.EndDate, 120)) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(R.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(RD.ReportName) LIKE ''%' + LOWER(@Search) + '%'' 
			  ) 
			ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDir + '
			OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
			FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';


    END 

	PRINT @SQL;
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL; 
END
GO
