USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_SearchItemCodeByTenantCode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<Search Item Code of Tenant Code>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_SearchItemCodeByTenantCode] @TenantCode VARCHAR(10), @Search NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT ItemID, TenantCode, ItemNumber, ItemName
		FROM dbo.Items 
		WHERE DELETED = 0 
		    AND LOWER(TenantCode) = LOWER(@TenantCode) 
		    AND LOWER(ItemNumber) LIKE '%' + LOWER(@Search) + '%' ;

END
GO
