USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocWarehouse_UpdateLocWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam Nguyen>
-- Create date: <04 Oct, 2024>
-- Description:	<Update LocWarehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocWarehouse_UpdateLocWarehouse] 
	@LocWarehouseID INT,
    @WarehouseName VARCHAR(100),
	@WarehouseDesc VARCHAR(1000),
    @WAddressLine1 VARCHAR(100),
    @WAddressLine2 VARCHAR(100) = NULL,
	@Phone VARCHAR(20),
	@Email VARCHAR(100),
    @WSuburb VARCHAR(50),
    @WState VARCHAR(50),
    @WPostcode VARCHAR(10),
    @WCountry VARCHAR(50),
	@Currency VARCHAR(20),
    @DHLWarehouseIntegration DHLWarehouseIntegrationType READONLY,
	@APWarehouseIntegration APWarehouseIntegrationType READONLY,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
    @Message                      VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

        BEGIN TRANSACTION

        -- Check if the LocWarehouseID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID AND Deleted = 0)
        BEGIN
            SET @Message = 'LocWarehouseID does not exist or has been deleted.'
            RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.LocWarehouse WHERE LocWarehouseID != @LocWarehouseID AND Deleted = 0 
		AND LOWER(TRIM(WarehouseName)) = LOWER(TRIM(@WarehouseName)))
        BEGIN
            SET @Message = 'Warehouse name already exists.'
            RETURN;
        END

       
        UPDATE dbo.LocWarehouse
        SET
            WarehouseName = COALESCE(@WarehouseName, WarehouseName),
			WarehouseDesc = COALESCE(@WarehouseDesc, WarehouseDesc),
            WAddressLine1 = COALESCE(@WAddressLine1, WAddressLine1),
            WAddressLine2 = COALESCE(@WAddressLine2, WAddressLine2),
			Phone = COALESCE(@Phone, Phone),
			Email = COALESCE(@Email, Email),
            WSuburb = COALESCE(@WSuburb, WSuburb),
            WState = COALESCE(@WState, WState),
            WPostcode = COALESCE(@WPostcode, WPostcode),
            WCountry = COALESCE(@WCountry, WCountry),
			Currency = COALESCE(@Currency, Currency),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE LocWarehouseID = @LocWarehouseID

		-- Get WarehouseCode from LocWarehouse
		DECLARE @WarehouseCode VARCHAR(20);
		SELECT @WarehouseCode = WarehouseCode FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID;

        -- Update or Insert DHL Integration details
		IF EXISTS (SELECT 1 FROM dbo.DHLWarehouseIntegration WHERE WarehouseCode = @WarehouseCode AND Deleted = 0)
		BEGIN
			-- If exists, mark as deleted first
			UPDATE dbo.DHLWarehouseIntegration
			SET Deleted = 1
			WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;
		END;

		-- Now perform MERGE to insert/update DHL Integration details
		MERGE INTO dbo.DHLWarehouseIntegration AS target
		USING @DHLWarehouseIntegration AS source
		ON target.WarehouseCode = @WarehouseCode AND target.AccountNumber = source.AccountNumber AND target.Deleted = 0
		WHEN MATCHED THEN
			UPDATE SET 
				UserName = source.UserName,
				[Password] = source.[Password],
				LastEditedDateTime = @LastEditedDateTime,
				LastEditedBy = @LastEditedBy
		WHEN NOT MATCHED THEN
			INSERT (WarehouseCode, AccountNumber, UserName, [Password], Deleted, CreatedDateTime, CreatedBy)
			VALUES (@WarehouseCode, source.AccountNumber, source.UserName, source.[Password], 0, @FirstEditedDateTime, @FirstEditedBy);

        -- Update or Insert AP Integration details
		IF EXISTS (SELECT 1 FROM dbo.APWarehouseIntegration WHERE WarehouseCode = @WarehouseCode AND Deleted = 0)
		BEGIN
			-- If exists, mark as deleted first
			UPDATE dbo.APWarehouseIntegration
			SET Deleted = 1
			WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;
		END;

		-- Now perform MERGE to insert/update AP Integration details
		MERGE INTO dbo.APWarehouseIntegration AS target
		USING @APWarehouseIntegration AS source
		ON target.WarehouseCode = @WarehouseCode AND target.AccountNumber = source.AccountNumber AND target.Deleted = 0
		WHEN MATCHED THEN
			UPDATE SET 
				Token = source.Token,
				MLID = source.MLID,
				LastEditedDateTime = @LastEditedDateTime,
				LastEditedBy = @LastEditedBy
		WHEN NOT MATCHED THEN
			INSERT (WarehouseCode, AccountNumber, Token, MLID, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@WarehouseCode, source.AccountNumber, source.Token, source.MLID, 0, @FirstEditedDateTime, @FirstEditedBy);

          -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
