USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_ViewAppliedTenantById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 May, 2025>
-- Description:	<View All Applied Report Definition By Id>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_ViewAppliedTenantById]  
	 @ReportDefinitionID INT
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Mandatory BIT;
	
	SELECT @Mandatory = Mandatory FROM ReportDefinition WHERE ReportDefinitionID = @ReportDefinitionID AND DELETED= 0;


	IF @Mandatory = 0
	BEGIN
		 SELECT DISTINCT
		t.TenantCode, 
		t.TenantName,
		trs.WarehouseCode,
		CASE 
			WHEN COALESCE(trs.ReportDefinitionID, 0) > 0 THEN 1
			ELSE 0
		END AS Applied
		FROM dbo.Tenant t
		LEFT JOIN dbo.TenantReportDefinition trs 
			ON LOWER(t.TenantCode) = LOWER(trs.TenantCode) 
			AND trs.ReportDefinitionID = @ReportDefinitionID AND trs.deleted = 0
		WHERE t.deleted = 0
		ORDER BY t.TenantName;
	END
	ELSE
	BEGIN
		SELECT DISTINCT
			t.TenantCode, 
			t.TenantName,
			w.WarehouseCode,
			1 AS Applied
		FROM dbo.Tenant t, dbo.LocWarehouse w
		WHERE t.deleted = 0 AND w.deleted = 0
		ORDER BY t.TenantName;
	END
   
END
GO
