USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_UpdateAppliedTenantsStatusOfChargeItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Dec, 2024>
-- Description:	<Update Applied Tenant Status of ChargeItem>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_UpdateAppliedTenantsStatusOfChargeItem]  
	 @ChargeItemId INT,
	 @TenantCodes dbo.StringArray READONLY,	
	 @FirstEditedDateTime          DATETIME = NULL,
	 @FirstEditedBy                VARCHAR(100) = NULL,
	 @LastEditedDateTime           DATETIME = NULL,
	 @LastEditedBy                 VARCHAR(100) = NULL,
	 @Message   VARCHAR(4000) OUTPUT -- Output parameter for error messages
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION
		
		CREATE TABLE #TempTenantCodes (
			[Value] [VARCHAR](MAX)
		);

		INSERT INTO #TempTenantCodes ([Value])
		SELECT [Value] FROM @TenantCodes;

		DELETE ttc
		FROM #TempTenantCodes ttc
		JOIN dbo.TenantChargeItem tci 
			ON ttc.[Value] = tci.TenantCode
		WHERE tci.ChargeItemID = @ChargeItemId;

		-- update all existed to deleted
		UPDATE dbo.TenantChargeItem
			SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = @LastEditedDateTime,
			LastEditedBy = @LastEditedBy
		WHERE ChargeItemID = @ChargeItemId;

			
		-- update applied		
		UPDATE tci
		SET tci.DELETED = 0,
		    tci.FirstEditedDateTime = COALESCE(tci.FirstEditedDateTime, @FirstEditedDateTime),
			tci.FirstEditedBy = COALESCE(tci.FirstEditedBy, @FirstEditedBy),
			tci.LastEditedDateTime = @LastEditedDateTime,
			tci.LastEditedBy = @LastEditedBy
		FROM dbo.TenantChargeItem tci
		JOIN @TenantCodes tc ON tci.TenantCode = tc.[Value]
		WHERE tci.ChargeItemID = @ChargeItemId;


		--insert new
		DECLARE @TenantCode NVARCHAR(10);
		DECLARE @IsUsingCustomPrice BIT;
		DECLARE @NewTenantChargeItemID INT;

		-- Declare the cursor
		DECLARE TenantCodeCursor CURSOR FOR
		SELECT Value FROM #TempTenantCodes;

		-- Open the cursor
		OPEN TenantCodeCursor;

		-- Fetch the first row
		FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;

		-- Loop through the rows
		WHILE @@FETCH_STATUS = 0
		BEGIN

			SELECT @IsUsingCustomPrice = COALESCE(IsUsingCustomPrice, 0) FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;
			IF @IsUsingCustomPrice = 1 -- custom
			BEGIN
				
				INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted)
				VALUES (@TenantCode, @ChargeItemId, 'Custom', 0);

				SET @NewTenantChargeItemID = SCOPE_IDENTITY();

				INSERT INTO [dbo].[TenantCustomCost] (
							[TenantChargeItemID],
							[WarehouseCode],
							[ChargeItemPrice],
							[ChargeItemCurrency],
							[Deleted],
							CreatedDateTime, 
							CreatedBy
					)
					SELECT
						@NewTenantChargeItemID,  
						CIC.WarehouseCode,       
						CIC.ChargeItemPrice,               
						CIC.ChargeItemCurrency,            
						0,       
						@FirstEditedDateTime,
						@FirstEditedBy
					FROM dbo.ChargeItemCost CIC
					WHERE CIC.ChargeItemId = @ChargeItemId AND CIC.DELETED = 0;

			END
			ELSE
			BEGIN
				
				INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted, CreatedDateTime, CreatedBy)
				VALUES (@TenantCode, @ChargeItemId, 'Standard', 0, @FirstEditedDateTime, @FirstEditedBy);
			END
			

			-- Fetch the next row
			FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;
		END;

		-- Close and deallocate the cursor
		CLOSE TenantCodeCursor;
		DEALLOCATE TenantCodeCursor;


		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
