USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_StartOtherService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Sep, 2025>
-- Description:	<Start Other Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_StartOtherService] 
    @ServiceID INT,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE 
				@ServiceType VARCHAR(50),
				@StockTakeType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@ServiceStatus VARCHAR(10),
				@TenantCode VARCHAR(10);

		SELECT @WarehouseCode = WarehouseCode,
			   @TenantCode = TenantCode,
			   @ServiceType = ServiceType,			  
			   @ServiceStatus = Status
		FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;

		-- Check for Tenant Code
		IF @TenantCode IS NULL
		BEGIN
			SET @Message = 'Service does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceType IS NULL OR @ServiceType != 'Other'
		BEGIN
			SET @Message = 'This Service is not Other.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceStatus IS NULL OR @ServiceStatus = 'InProgress'
		BEGIN
			SET @Message = 'This Service have already started.'
			ROLLBACK TRANSACTION;
			RETURN;
		END
		
		-- update receipt status
		UPDATE dbo.Service
		SET [Status] = 'InProgress',
			StartServiceTime = COALESCE(StartServiceTime, @LastEditedDateTime),
			StartServiceBy = COALESCE(StartServiceBy, @LastEditedBy),
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @LastEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @LastEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE ServiceID = @ServiceID AND Deleted = 0;	


		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
