USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_InsertManualAPIntShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Insert Manual INT shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipment_InsertManualAPIntShipment]  	
	@BoxSize dbo.BoxSizeType READONLY,	
	@NewShipmentItems dbo.OrderLineType READONLY, 
	@SrcShipment VARCHAR(100) = NULL,
	@WarehouseCode  VARCHAR(10),
	@TenantCode VARCHAR(10),
	@ChargeTenantCode VARCHAR(10) = NULL,
	@Comment VARCHAR(1000) = NULL,
	@ContactEmail			  VARCHAR(200) = NULL,
	@Phone					  VARCHAR(70)  = NULL,
	@ShippingAddressName      VARCHAR(100)  = NULL,
	@ShippingAddressCompany   VARCHAR(300)  = NULL,
	@ShippingAddressAddress1  VARCHAR(300)  = NULL,
	@ShippingAddressAddress2  VARCHAR(300)  = NULL,
	@ShippingAddressCity      VARCHAR(150)  = NULL,
	@ShippingAddressProvince  VARCHAR(150)  = NULL,
	@ShippingAddressZip       VARCHAR(20)  = NULL,
	@ShippingAddressCountry   VARCHAR(100) = NULL,
	@CarrierID INT,
	@ServiceName  VARCHAR(200),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@AccountNumber NVARCHAR(50) OUTPUT,
	@Token NCHAR(100) OUTPUT,
	@NewShipmentID  INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;
	
	BEGIN TRY
		
        BEGIN TRANSACTION;
		
		DECLARE @Carrier VARCHAR(500),				
				@MLID VARCHAR(50),
				@ImportReferenceNumber VARCHAR(50),
				@ExportDeclarationNumber VARCHAR(50),
				@IntegrationProductID VARCHAR(20),
				@OrderSource VARCHAR(50);

		DECLARE @Length Decimal(10,2),
				@Height Decimal(10,2),
				@Width Decimal(10,2),
				@Weight Decimal(10,2),				
				@ItemWeight Decimal(10,2),
				@InsuranceAmount DECIMAL(10,2),
				@ItemValue DECIMAL(10,2),
				@AuthorityToLeave BIT = 0,
				@AllowPartialDelivery BIT = 0;

		DECLARE 			
			@Shipment_Reference      VARCHAR(50),
			@Shipment_Reference_1    VARCHAR(50),
			@Shipment_Reference_2    VARCHAR(50),
			@email_tracking_enabled  BIT,
			@from_Name               VARCHAR(50),
			@from_Business_Name      VARCHAR(50),
			@from_Addressline1       VARCHAR(50),
			@from_Addressline2       VARCHAR(50),
			@from_Suburb             VARCHAR(20),
			@from_State              VARCHAR(20),
			@from_Postcode           VARCHAR(20),
			@from_Phone              VARCHAR(20),
			@from_Email              VARCHAR(150),
			@to_Name                 VARCHAR(50),
			@to_business_Name        VARCHAR(50),
			@to_Addressline1         VARCHAR(50),
			@to_Addressline2         VARCHAR(50),
			@to_Suburb               VARCHAR(20),
			@to_State                VARCHAR(20),
			@to_Country				 VARCHAR(20),
			@to_Postcode             VARCHAR(20),
			@to_phone                VARCHAR(20),
			@to_email                VARCHAR(150),	
			@NewShipmentItemID		 INT;


		SET @Carrier = @ServiceName;
		SET @to_Name = @ShippingAddressName;
		SET @to_business_Name = @ShippingAddressCompany;
		SET @to_Addressline1 = @ShippingAddressAddress1;
		SET @to_Addressline2 = @ShippingAddressAddress2;
		SET @to_Suburb = @ShippingAddressCity;
		SET @to_State = @ShippingAddressProvince;
		SET @to_Postcode = @ShippingAddressZip;			  
		SET @to_phone = @Phone;
		SET @to_email = @ContactEmail;
		
		SET @to_Country = dbo.fn_GetCountryCode(@ShippingAddressCountry);		
		IF @to_Country IS NULL
		BEGIN
			SET @Message = 'Country Code does not exist.';		
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- get Tenant name
		SELECT @from_Name = TenantName
		FROM dbo.Tenant
		WHERE TenantCode = @TenantCode AND Deleted = 0;
		
		SET @email_tracking_enabled = 1;		
		SET @Shipment_Reference_1 = @TenantCode;

		-- get data from warehouse
		SELECT 													
			@from_Addressline1 = WAddressLine1,
			@from_Addressline2 = WAddressLine2,
			@from_Suburb = WSuburb,
			@from_State = WState,
			@from_Postcode = WPostcode,
			@from_Phone = Phone,
			@from_Email = Email
		FROM LocWarehouse
		WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;
			
		SELECT @MLID = MLID, 
			   @ImportReferenceNumber = ImportReferenceNumber, 
			   @ExportDeclarationNumber = ExportDeclarationNumber,
			   @AccountNumber = AccountNumber, 
			   @Token = Token
		FROM dbo.APIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		SELECT 
			@IntegrationProductID = s.ProductID			
		FROM dbo.AP_StandardService s
		WHERE s.ServiceName = @ServiceName AND Deleted = 0;
		

		IF LEN(@to_Addressline1) > 40
		BEGIN
			DECLARE @SplitPos INT;

			-- Find the last space within the first 40 characters
			SET @SplitPos = LEN(LEFT(@to_Addressline1, 40)) 
						  - CHARINDEX(' ', REVERSE(LEFT(@to_Addressline1, 40))) + 1;

			-- If no space found (CHARINDEX = 0), just cut at 40
			IF @SplitPos <= 0 OR @SplitPos > 40
				SET @SplitPos = 40;

			-- Assign line1 and line2
			SET @to_Addressline2 = ISNULL(@to_Addressline2, '') 
								 + LTRIM(SUBSTRING(@to_Addressline1, @SplitPos + 1, 60));

			SET @to_Addressline1 = LEFT(@to_Addressline1, @SplitPos);
		END	

		
		-- Get next sequence value
		DECLARE @ShipmentOrderID INT;
		SET @ShipmentOrderID = NEXT VALUE FOR dbo.ShipmentNumberSequence;

		SET @Shipment_Reference = N'MS-' + CAST(@ShipmentOrderID AS VARCHAR(21));
		SET @Shipment_Reference_1 = @TenantCode;		
				
		INSERT INTO dbo.AP_ShipmentINT
		(
			ServiceName,
			Shipment_Reference,
			Shipment_Reference_1,
			Shipment_Reference_2,
			email_tracking_enabled,
			from_Name,
			from_Business_Name,
			from_Addressline1,
			from_Addressline2,
			from_Suburb,
			from_State,
			from_Postcode,
			from_Phone,
			from_Email,
			to_Name,
			to_business_Name,
			to_Addressline1,
			to_Addressline2,
			to_Suburb,
			to_State,
			to_Postcode,
			to_Country,
			to_phone,
			to_email,
			TenantMLID,
			WarehouseCode,
			TenantCode,
			ManualShipmentStatus,
			AlterTenantCode,
			ManualInvoiceComment,
			SourceShipment,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@ServiceName, 
			@Shipment_Reference,
			@Shipment_Reference_1,
			@Shipment_Reference_2,
			@email_tracking_enabled, 
			@from_Name, 
			@from_Business_Name,
			@from_Addressline1,
			@from_Addressline2,
			@from_Suburb,
			@from_State,
			@from_Postcode,
			@from_Phone,
			@from_Email,
			@to_Name,
			@to_business_Name,
			@to_Addressline1,
			@to_Addressline2,
			@to_Suburb,
			@to_State,
			@to_Postcode,
			@to_Country,
			@to_phone,
			@to_email,
			@MLID,
			@WarehouseCode,
			@TenantCode, 
			'Pending',
			@ChargeTenantCode,
			@Comment,
			@SrcShipment,
			0, 
			@CreatedDateTime, 
			@CreatedBy 
		);

		SET @NewShipmentID = SCOPE_IDENTITY();

		DECLARE @ClassificationType VARCHAR(100) = NULL,					
				@DescriptionOfOther VARCHAR(500) = NULL,  -- add if @ClassificationType = 'OTHER'
				@ItemReference VARCHAR(50) = NULL,
				@ItemDescription VARCHAR(500) = NULL;

		
		SET @ClassificationType = 'SALE_OF_GOODS';
		--SET @ItemReference = N'MS-' + CAST(@ShipmentOrderID AS VARCHAR(21));
		SET @ItemReference = CAST(@ShipmentOrderID AS VARCHAR(21));
		SET @ItemDescription = @TenantCode;

		IF @OrderSource = 'Manual'
		BEGIN
			SET @InsuranceAmount= 0; -- have to calculate
		END

		-- Insert one box to AP_ShipmentItemsINT
		INSERT INTO dbo.AP_ShipmentItemsINT
		(
			ShipmentID,
			classification_type,
			commercial_value,
			description_of_other,
			export_declaration_number,
			import_reference_number,
			item_Reference,
			item_description,
			product_id,
			Length,
			Height,
			Width,
			Weight,
			authority_to_leave,
			allow_partial_delivery,
			Article,
			InsuranceAmount,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES( 
			@NewShipmentID,
			@ClassificationType, 
			0,
			@DescriptionOfOther,				
			@ExportDeclarationNumber,
			@ImportReferenceNumber,
			@ItemReference,
			@ItemDescription, ---
			@IntegrationProductID,
			'0',
			'0',
			'0',
			'0',
			@AuthorityToLeave,
			@AllowPartialDelivery,
			1,
			@InsuranceAmount,
			0,                    
			@CreatedDateTime,
			@CreatedBy 
		);
			

		SET @NewShipmentItemID = SCOPE_IDENTITY();

		-- insert to AP_ShipmentItemContentsINT

		DECLARE @Sku VARCHAR(150);; -- input parameter
		DECLARE @Quantity INT, @ItemID INT;			
		DECLARE @Description VARCHAR(300);

		DECLARE fulfilment_cursor CURSOR LOCAL FAST_FORWARD FOR
		SELECT OrderItemNumber, OrderQuantity , OrderItemName, ItemID  
		FROM @NewShipmentItems;		

		OPEN fulfilment_cursor;

		FETCH NEXT FROM fulfilment_cursor 
		INTO @Sku, @Quantity, @Description, @ItemID;

		SET @Weight = 0;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			-- get weight
			SELECT @ItemWeight = ISNULL(Weight,0)
			FROM dbo.ItemTradeUnit
			WHERE ItemID = @ItemID 
				AND ItemType = 'Unit'
				AND Deleted = 0;

			SELECT @ItemValue = ISNULL(ItemPrice, 0)
			FROM dbo.Items
			WHERE ItemID = @ItemID AND Deleted = 0;

			SET @ItemValue = @Quantity * @ItemValue;
			SET @InsuranceAmount = @InsuranceAmount + @ItemValue;

			INSERT INTO dbo.AP_ShipmentItemContentsINT
			(
				ShipmentItemID,
				country_of_origin,
				description,
				tariff_code,
				sku,
				quantity,				
				value,
				weight,
				item_contents_reference,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@NewShipmentItemID,
				'AU',
				@Description,
				'420330',
				@Sku,
				@Quantity,				
				@ItemValue,
				@ItemWeight,
				'',
				0,              
				@CreatedDateTime,
				@CreatedBy 
			);
				
			SET @Weight = @Weight + (@Quantity * @ItemWeight);

			-- Next row
			FETCH NEXT FROM fulfilment_cursor 
			INTO  @Sku, @Quantity, @Description, @ItemID;
		END

		CLOSE fulfilment_cursor;
		DEALLOCATE fulfilment_cursor;


		SELECT 
			@Length = CEILING(ISNULL(Length, 0) / 10.0),
			@Height = CEILING(ISNULL(Height, 0) / 10.0),
			@Width  = CEILING(ISNULL(Width, 0) / 10.0)
		FROM @BoxSize;


		-- Update
		Update dbo.AP_ShipmentItemsINT
		SET 
			InsuranceAmount = @InsuranceAmount,
			Length = CAST(CAST(@Length AS INT) AS VARCHAR(20)),
			Height = CAST(CAST(@Height AS INT) AS VARCHAR(20)),
			Width = CAST(CAST(@Width  AS INT) AS VARCHAR(20)),
			Weight = CAST(@Weight AS varchar(20))
		WHERE ShipmentItemID = @NewShipmentItemID;
		

		-- Commit the transaction     
		 COMMIT TRANSACTION;     
             

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
			ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
