USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_IPAddressStatusList_IsIPAddressBlocked]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Mar, 2025>
-- Description:	<Get Status of IP Address>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_IPAddressStatusList_IsIPAddressBlocked] 
   @IPAddress VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IsBlocked BIT = 0;
    DECLARE @IsWhitelisted BIT = 0;

    SELECT
        @IsBlocked = ISNULL(IsBlocked, 0),
        @IsWhitelisted = ISNULL(IsWhitelisted, 0)
    FROM dbo.IPAddressStatusList
    WHERE IPAddress = @IPAddress AND DELETED = 0;

    IF @@ROWCOUNT = 0
    BEGIN
		INSERT INTO dbo.IPAddressStatusList
		(
			IPAddress,
			FailedCount,
			IsBlocked,
			IsWhitelisted,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@IPAddress,
			0,
			0,
			0,
			0,
			GETDATE(),
			'System'
		);


        SELECT
            CAST(0 AS BIT) AS IsBlocked,
            CAST(0 AS BIT) AS IsWhitelisted;
        RETURN;
    END

    IF @IsWhitelisted = 1
    BEGIN
        SELECT
            CAST(0 AS BIT) AS IsBlocked,
            CAST(1 AS BIT) AS IsWhitelisted;
        RETURN;
    END

    SELECT
        @IsBlocked AS IsBlocked,
        @IsWhitelisted AS IsWhitelisted;
END
GO
