USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_UpdateUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Aug, 2024>
-- Description:	<Update tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_UpdateUser] 
	@UserID                     INT,
	@LastName VARCHAR(100),
    @FirstName VARCHAR(100),
    @UserCode VARCHAR(50),
    @UserEmail VARCHAR(100),
	@LastLogin DATETIME = NULL,
    @UserStatus VARCHAR(20) = NULL,
    @UserType VARCHAR(30) = NULL,
    @WarehouseCode VARCHAR(20) = NULL,
	@TenantCode VARCHAR(10) = NULL,
    @UserGroup VARCHAR(50) = NULL,
	@BlockedReason VARCHAR(3000) = NULL,
	@NumberOfFailedLogin INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        IF NOT EXISTS(SELECT 1 FROM dbo.Users WHERE UserID = @UserID AND Deleted = 0)
        BEGIN
            SET @Message = 'UserID does not exist or has been deleted.'
            RETURN
        END

		DECLARE @SuperUser BIT;

		IF @UserType IS NOT NULL AND UPPER(@UserType) = 'OWNER'
        BEGIN
            SET @SuperUser = 1;
        END

        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.Users
        SET
            LastName = COALESCE(@LastName, LastName),
			FirstName = COALESCE(@FirstName, FirstName),
			UserCode = COALESCE(@UserCode, UserCode),
			UserEmail = COALESCE(@UserEmail, UserEmail),
			LastLogin = COALESCE(@LastLogin, LastLogin),
			UserStatus = COALESCE(@UserStatus, UserStatus),
			UserType = COALESCE(@UserType, UserType),
			WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
			TenantCode = COALESCE(@TenantCode, TenantCode),
			UserGroup = COALESCE(@UserGroup, UserGroup),
			SuperUser = COALESCE(@SuperUser, SuperUser),
			BlockedReason = COALESCE(@BlockedReason, BlockedReason),
			NumberOfFailedLogin = COALESCE(@NumberOfFailedLogin, NumberOfFailedLogin),
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE UserID = @UserID
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
END
GO
