USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_OrderHistory_ViewOrderHistoryByOrderID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <29 April, 2025>
-- Description:	<View Order History By Order ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_OrderHistory_ViewOrderHistoryByOrderID]  
	@OrderID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT * FROM dbo.OrderHistory WHERE OrderID = @OrderID AND DELETED = 0 ORDER BY HistoryDate;
 
END
GO
