USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_WarehousePrinter_ViewWarehousePrinter]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 NOv, 2024>
-- Description:	<Get detail information of WarehousePrinter>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_WarehousePrinter_ViewWarehousePrinter] @WarehousePrinterID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.WarehousePrinter 
    WHERE WarehousePrinterID = @WarehousePrinterID AND DELETED = 0;
END
GO
