USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_GetTenantInfoOfService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 jan, 2025>
-- Description:	<Get Tenant Info of Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_GetTenantInfoOfService]
	@ServiceID INT
AS
BEGIN
	
	SET NOCOUNT ON;
   
	-- Get Notification Email and Notification Name
	SELECT t.TenantCode, t.NotificationEmail, t.NotificationName, s.ServiceNumber, s.ServiceType, t.TenantContactEmail, t.TenantContactName
	FROM dbo.Service s
	INNER JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
	WHERE s.DELETED = 0 AND s.ServiceID = @ServiceID;
END
GO
