USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_InsertBulkLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Sep, 2024>
-- Description:	<Insert Bulk Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_InsertBulkLocation]
	@LocParentID        INT,  -- Id of parent follow the value of @LocType. Ex: @LocType = 1 (Create Area) so @LocParentID is ID of warehouse
	@LocType		    INT,  -- Type of Loc will be created 2:Section ; 3:Row ; 4:Column ; 5:Shelf ; 6:Bin ; 7:SBin
    @NumberSections     INT = 0,
    @NumberRows         INT = 0,
    @NumberColumns      INT = 0,
    @NumberShelves      INT = 0,
    @NumberBins         INT = 0,
    @NumberSBins        INT = 0,
    @SBinType           VARCHAR(50) = NULL, -- pallet or Shelf
    @Height             INT = 0,
    @Width              INT = 0,
    @Depth              INT = 0,
    @Distance           INT = 0,
    @StorageType        VARCHAR(50) = NULL, --picking or bulk
	@CreatedDateTime	DATETIME = NULL,
	@CreatedBy			VARCHAR(100) = NULL,
	@Message            VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION;

		-- Declare variables for each SettingValue in camel case
		DECLARE @MaxNumberWarehouses INT,
				@MaxNumberAreas INT,
				@MaxNumberSections INT,
				@MaxNumberRows INT,
				@MaxNumberColumns INT,
				@MaxNumberShelves INT,
				@MaxNumberBins INT,
				@MaxNumberSBins INT,
				@WarehouseIncrement INT,
				@AreaIncrement INT,
				@SectionIncrement INT,
				@RowIncrement INT,
				@ColumnIncrement INT,
				@ShelfIncrement INT,
				@BinIncrement INT,
				@SbinIncrement INT,
                @SectionCodeMaxValue INT,
				@RowCodeMaxValue INT,
				@ColumnCodeMaxValue INT,
				@ShelfCodeMaxValue INT,
				@BinCodeMaxValue INT,
				@SbinCodeMaxValue INT;
    
		-- Select the values from the Setting table and assign to variables
		SELECT 
			@MaxNumberWarehouses = MAX(CASE WHEN SettingName = 'MAX_NUMBER_WAREHOUSES' THEN SettingValue END),
			@MaxNumberAreas = MAX(CASE WHEN SettingName = 'MAX_NUMBER_AREAS' THEN SettingValue END),
			@MaxNumberSections = MAX(CASE WHEN SettingName = 'MAX_NUMBER_SECTIONS' THEN SettingValue END),
			@MaxNumberRows = MAX(CASE WHEN SettingName = 'MAX_NUMBER_ROWS' THEN SettingValue END),
			@MaxNumberColumns = MAX(CASE WHEN SettingName = 'MAX_NUMBER_COLUMNS' THEN SettingValue END),
			@MaxNumberShelves = MAX(CASE WHEN SettingName = 'MAX_NUMBER_SHELVES' THEN SettingValue END),
			@MaxNumberBins = MAX(CASE WHEN SettingName = 'MAX_NUMBER_BINS' THEN SettingValue END),
			@MaxNumberSBins = MAX(CASE WHEN SettingName = 'MAX_NUMBER_SBINS' THEN SettingValue END),
			@WarehouseIncrement = MAX(CASE WHEN SettingName = 'WAREHOUSE_INCREMENT' THEN SettingValue END),
			@AreaIncrement = MAX(CASE WHEN SettingName = 'AREA_INCREMENT' THEN SettingValue END),
			@SectionIncrement = MAX(CASE WHEN SettingName = 'SECTION_INCREMENT' THEN SettingValue END),
			@RowIncrement = MAX(CASE WHEN SettingName = 'ROW_INCREMENT' THEN SettingValue END),
			@ColumnIncrement = MAX(CASE WHEN SettingName = 'COLUMN_INCREMENT' THEN SettingValue END),
			@ShelfIncrement = MAX(CASE WHEN SettingName = 'SHELF_INCREMENT' THEN SettingValue END),
			@BinIncrement = MAX(CASE WHEN SettingName = 'BIN_INCREMENT' THEN SettingValue END),
			@SbinIncrement = MAX(CASE WHEN SettingName = 'SBIN_INCREMENT' THEN SettingValue END),
            @SectionCodeMaxValue = MAX(CASE WHEN SettingName = 'SECTION_CODE_MAX_VALUE' THEN SettingValue END),
			@RowCodeMaxValue = MAX(CASE WHEN SettingName = 'ROW_CODE_MAX_VALUE' THEN SettingValue END),
			@ColumnCodeMaxValue = MAX(CASE WHEN SettingName = 'COLUMN_CODE_MAX_VALUE' THEN SettingValue END),
			@ShelfCodeMaxValue = MAX(CASE WHEN SettingName = 'SHELF_CODE_MAX_VALUE' THEN SettingValue END),
			@BinCodeMaxValue = MAX(CASE WHEN SettingName = 'BIN_CODE_MAX_VALUE' THEN SettingValue END),
			@SbinCodeMaxValue = MAX(CASE WHEN SettingName = 'SBIN_CODE_MAX_VALUE' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN (
			'MAX_NUMBER_WAREHOUSES', 'MAX_NUMBER_AREAS', 'MAX_NUMBER_SECTIONS', 'MAX_NUMBER_ROWS',
			'MAX_NUMBER_COLUMNS', 'MAX_NUMBER_SHELVES', 'MAX_NUMBER_BINS', 'MAX_NUMBER_SBINS',
			'WAREHOUSE_INCREMENT', 'AREA_INCREMENT', 'SECTION_INCREMENT', 'ROW_INCREMENT',
			'COLUMN_INCREMENT', 'SHELF_INCREMENT', 'BIN_INCREMENT', 'SBIN_INCREMENT',
            'SECTION_CODE_MAX_VALUE','ROW_CODE_MAX_VALUE','COLUMN_CODE_MAX_VALUE',
            'SHELF_CODE_MAX_VALUE','BIN_CODE_MAX_VALUE','SBIN_CODE_MAX_VALUE');
       
        DECLARE @CurrentOrder INT;
		DECLARE @CurrentCode INT;
		DECLARE @CurrentPrefix INT;
        DECLARE @CurrentLocColumnID INT;
		DECLARE @ShelfID INT;
        DECLARE @Counter INT;
		
		DECLARE @SectionTable TABLE (
			SectionNum INT,
			Deleted BIT,
			LocAreaID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			SectionCode VARCHAR(20)
		);

        DECLARE @RowTable TABLE (
			RowNum INT,
			Deleted BIT,
			LocSectionID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			RowCode VARCHAR(20)
		);

        DECLARE @ColumnTable TABLE (
			ColumnNum INT,
			Deleted BIT,
			LocRowID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			ColumnCode VARCHAR(20)
		);

        DECLARE @ShelfTable TABLE (
			ShelfNum INT,
			Deleted BIT,
			LocColumnID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			ShelfCode VARCHAR(20)
		);

        DECLARE @TempShelfTable TABLE
		(
			LocShelfID INT,
			LocColumnID INT,
			Code VARCHAR(20),
			RowNum INT
		);
        
		DECLARE @TempBinTable TABLE
		(
			LocShelfID INT,
			LocColumnID INT,
			Code VARCHAR(20),
            OrderNumber INT,
			RowNum INT
		);
      
        DECLARE @NewSectionIDs TABLE (
			LocSectionID INT
		);
        DECLARE @NewRowIDs TABLE (
			LocRowID INT
		);
        DECLARE @NewColumnIDs TABLE (
			LocColumnID INT
		);
        DECLARE @NewShelfIDs TABLE (
			LocShelfID INT,
			LocColumnID INT
		);
        DECLARE @NewBinIDs TABLE (
			LocBinID INT
		);

        SELECT 
			@CurrentOrder = ISNULL(COALESCE(CurrentOrder, 0), 0),
			@CurrentCode = ISNULL(COALESCE(CurrentCode, 0), 0),
			@CurrentPrefix = ISNULL(COALESCE(CurrentPrefix, 1), 1)
		FROM dbo.LocSequence
		WHERE LocationId = @LocParentID AND LocationType = @LocType;

		-- Check if any rows were returned
		IF @@ROWCOUNT = 0
		BEGIN
			-- No rows were returned, set the default values
			SET @CurrentOrder = 0;
			SET @CurrentCode = 0;
			SET @CurrentPrefix = 1;
		END

		IF @LocType = 2
        BEGIN
            -- Code to handle Section creation
            PRINT 'Creating Section...';

            IF @StorageType IS NULL
			BEGIN
				SET @Message = 'The Storage Type of section is not allowed empty';
				ROLLBACK TRANSACTION;
				RETURN;
			END

			IF @NumberSections  >  @MaxNumberSections
            BEGIN
                SET @Message = 'The number of Sections exceeds its limit: ' + CAST(@MaxNumberSections AS VARCHAR(10));
			    ROLLBACK TRANSACTION;
                RETURN;
            END;
           
			IF @CurrentCode < @SectionCodeMaxValue
			BEGIN
				SET @CurrentCode = @CurrentCode + 1;
			END
			ELSE
			BEGIN
				SET @CurrentCode = 1;
				SET @CurrentPrefix = @CurrentPrefix + 1;
			END;

           
           -- Step 1: Insert into LocSection using recursive CTE with the @NumberSections variable
             WITH SectionCTE AS (
                -- Anchor member: Insert the first section 
                SELECT 1 AS SectionNum,
                       0 as Deleted, 
                       @LocParentID as LocAreaID,
                       (@CurrentOrder + @SectionIncrement) as OrderNumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00')) as SectionCode
                UNION ALL
                -- Recursive member: Insert remaining sections
                SELECT SectionNum + 1,
                       0,
                       @LocParentID,
                       OrderNumber + @SectionIncrement,
                       CASE 
						   WHEN Code < @SectionCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @SectionCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @SectionCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @SectionCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '00')) as SectionCode
                FROM SectionCTE
                WHERE SectionNum < @NumberSections
            )

			-- Insert CTE results into the temporary table
			INSERT INTO @SectionTable (SectionNum, Deleted, LocAreaID, OrderNumber, Code, Prefix, SectionCode)
			SELECT SectionNum, Deleted, LocAreaID, OrderNumber, Code, Prefix, SectionCode
			FROM SectionCTE
			OPTION (MAXRECURSION 0);

			-- Insert dynamically generated sections into LocSection
            INSERT INTO LocSection (LocAreaID, OrderNumber, SectionCode, SectionName, StorageType, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocSectionID INTO @NewSectionIDs
            SELECT LocAreaID, OrderNumber, SectionCode, SectionCode, @StorageType, Deleted, @CreatedDateTime, @CreatedBy
            FROM @SectionTable;  -- To allow more than the default 100 recursion levels


			-- Get the last values for Code and Prefix from the CTE
			SELECT TOP 1 @CurrentCode = Code, @CurrentPrefix = Prefix
			FROM @SectionTable
			ORDER BY SectionNum DESC;

			  -- Update LocSequence
            IF @CurrentOrder = 0
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder + (@SectionIncrement * @NumberSections), @CurrentCode , @CurrentPrefix , 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder + (@SectionIncrement * @NumberSections), CurrentOrder),
                    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

            -- Step 2: Insert into LocRow using recursive CTE
            SET @CurrentOrder = @RowIncrement;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH RowCTE AS (
                -- Anchor member: Insert the first row for each section
                SELECT S.LocSectionID, 
                       1 AS RowNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')) as RowCode
                FROM @NewSectionIDs S
                UNION ALL
                -- Recursive member: Insert remaining rows for each section
                SELECT R.LocSectionID, 
                       RowNum + 1, 
                       ONumber + @RowIncrement,
                       CASE 
						   WHEN Code < @RowCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @RowCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @RowCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @RowCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000'))
                FROM RowCTE R
                JOIN @NewSectionIDs S ON S.LocSectionID = R.LocSectionID
                WHERE RowNum < @NumberRows 
            )

            -- Insert CTE results into the table
            INSERT INTO LocRow (LocSectionID, OrderNumber, RowCode, RowName, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocRowID INTO @NewRowIDs
            SELECT LocSectionID, ONumber, RowCode , RowCode, 0, @CreatedDateTime, @CreatedBy
            FROM RowCTE
            OPTION (MAXRECURSION 0);

            -- Update LocSequence
			SET @CurrentOrder = @NumberRows * @RowIncrement;
            IF (@NumberRows % @RowCodeMaxValue) = 0
			BEGIN
				SET @CurrentCode = @RowCodeMaxValue;
                SET @CurrentPrefix = (@NumberRows / @RowCodeMaxValue);
			END
			ELSE
			BEGIN
				SET @CurrentCode = (@NumberRows % @RowCodeMaxValue);
				SET @CurrentPrefix = (@NumberRows / @RowCodeMaxValue) + 1;
			END;

            INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
			SELECT 
				3 AS LocationType,        
				LocSectionID AS LocationId,  
				@CurrentOrder AS CurrentOrder,    
                @CurrentCode as CurrentCode,
                @CurrentPrefix as CurrentPrefix,  
				0 AS Deleted               
			FROM @NewSectionIDs;

            -- Step 3: Insert into LocColumn using recursive CTE
            SET @CurrentOrder = @ColumnIncrement;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH ColumnCTE AS (
                -- Anchor member: Insert the first Column for each Row
                SELECT R.LocRowID, 
                       1 AS ColumnNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00000')) as ColumnCode
                FROM @NewRowIDs R
                UNION ALL
                -- Recursive member: Insert remaining Columns for each row
                SELECT C.LocRowID, 
                       ColumnNum + 1, 
                       ONumber + @ColumnIncrement,
                       CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ColumnCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '00000'))
                FROM ColumnCTE C
                JOIN @NewRowIDs R ON R.LocRowID = C.LocRowID
                WHERE ColumnNum < @NumberColumns 
            )

            -- Insert CTE results into the temporary table
            INSERT INTO LocColumn (LocRowID, OrderNumber, ColumnCode, ColumnName, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocColumnID INTO @NewColumnIDs
            SELECT LocRowID, ONumber, ColumnCode , ColumnCode, 0, @CreatedDateTime, @CreatedBy
            FROM ColumnCTE
            OPTION (MAXRECURSION 0);

            -- Update LocSequence
			SET @CurrentOrder = @NumberColumns * @ColumnIncrement;
            IF (@NumberColumns % @ColumnCodeMaxValue) = 0
			BEGIN
				SET @CurrentCode = @ColumnCodeMaxValue;
                SET @CurrentPrefix = (@NumberColumns / @ColumnCodeMaxValue);
			END
			ELSE
			BEGIN
				SET @CurrentCode = (@NumberColumns % @ColumnCodeMaxValue);
				SET @CurrentPrefix = (@NumberColumns / @ColumnCodeMaxValue) + 1;
			END;

            INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
			SELECT 
				4 AS LocationType,        
				LocRowID AS LocationId,  
				@CurrentOrder AS CurrentOrder,    
                @CurrentCode as CurrentCode,
                @CurrentPrefix as CurrentPrefix,  
				0 AS Deleted               
			FROM @NewRowIDs;

            -- Step 4: Insert into LocShelf using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH ShelfCTE AS (
                -- Anchor member: Insert the first Shelf for each Column
                SELECT C.LocColumnID, 
                       1 AS ShelfNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')) as ShelfCode
                FROM @NewColumnIDs C
                UNION ALL
                -- Recursive member: Insert remaining Shelf for each Column
                SELECT S.LocColumnID, 
                       ShelfNum + 1, 
                       ONumber + @ShelfIncrement,
                       CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ShelfCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000'))
                FROM ShelfCTE S
                JOIN @NewColumnIDs C ON C.LocColumnID = S.LocColumnID
                WHERE ShelfNum < @NumberShelves 
            )

            -- Insert CTE results into the table
            INSERT INTO LocShelf (LocColumnID, OrderNumber, ShelfCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocShelfID, INSERTED.LocColumnID INTO @NewShelfIDs
            SELECT LocColumnID, ONumber, ShelfCode , 0, @CreatedDateTime, @CreatedBy
            FROM ShelfCTE
            OPTION (MAXRECURSION 0);           

            -- Step 5: Insert into LocBin using recursive CTE
            INSERT INTO @TempShelfTable (LocShelfID, LocColumnID, Code, RowNum)
			SELECT 
				LocShelfID, 
				LocColumnID, 
				NULL AS Code, 
				ROW_NUMBER() OVER (PARTITION BY LocColumnID ORDER BY LocShelfID) AS RowNum
			FROM @NewShelfIDs;
						
			DECLARE ShelfCursor CURSOR FOR
			SELECT DISTINCT LocColumnID
			FROM @TempShelfTable;

			OPEN ShelfCursor;
			FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Initialize the prefix to 'A' and code number to 1 for each LocColumnID
				SET @CurrentCode = 1;
			    SET @CurrentPrefix = 1;
				SET @CurrentOrder = 0;

				-- Update the Code field for the current LocColumnID group
				DECLARE UpdateCursor CURSOR FOR
				SELECT LocShelfID 
				FROM @TempShelfTable
				WHERE LocColumnID = @CurrentLocColumnID
				ORDER BY RowNum;

				OPEN UpdateCursor;
				FETCH NEXT FROM UpdateCursor INTO @ShelfID;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @Counter = 1;
					WHILE @Counter <= @NumberBins
					BEGIN
						
						INSERT INTO @TempBinTable (LocShelfID, LocColumnID, OrderNumber, Code)
						VALUES (@ShelfID, @CurrentLocColumnID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')));

						-- Increment the code number
						SET @CurrentCode = @CurrentCode + 1;
                        SET @CurrentOrder = @CurrentOrder + @SBinIncrement;

						-- When the code number exceeds 10, reset it to 1 and increment the prefix
						IF @CurrentCode > @BinCodeMaxValue
						BEGIN
							SET @CurrentCode = 1;
							SET @CurrentPrefix = @CurrentPrefix + 1;
						END
					    SET @Counter = @Counter + 1;
					END

					-- Fetch the next shelf in the current LocColumnID group
					FETCH NEXT FROM UpdateCursor INTO @ShelfID;
				END

				CLOSE UpdateCursor;
				DEALLOCATE UpdateCursor;

				-- Move to the next LocColumnID group
				FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;
			END

			CLOSE ShelfCursor;
			DEALLOCATE ShelfCursor;

			-- Select the updated rows to show the changes (optional, for verification)
            INSERT INTO LocBin (LocShelfID, OrderNumber, BinCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocBinID INTO @NewBinIDs
			SELECT LocShelfID, OrderNumber, Code , 0, @CreatedDateTime, @CreatedBy
			FROM @TempBinTable;		      
            
            -- Step 6: Insert into LocSBin using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH SBinCTE AS (
                -- Anchor member: Insert the first SBin for each Bin
                SELECT B.LocBinID, 
                       1 AS SBinNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')) as SBinCode
                FROM @NewBinIDs B
                UNION ALL
                -- Recursive member: Insert remaining SBin for each Shelf
                SELECT SB.LocBinID, 
                       SBinNum + 1, 
                       ONumber + @SBinIncrement,
                       CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @SBinCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @SBinCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000000'))
                FROM SBinCTE SB                
                JOIN @NewBinIDs B ON B.LocBinID = SB.LocBinID
                WHERE SBinNum < @NumberSBins 
            )

            -- Insert CTE results into the table           
            INSERT INTO LocSBin (LocBinID, OrderNumber, SBinCode, Deleted, SBinType, Height, Width, Depth, Distance, CreatedDateTime, CreatedBy)
            SELECT LocBinID, ONumber, SBinCode , 0 , @SBinType as SBinType, @Height as Height, @Width as Width, @Depth as Depth, @Distance as Distance, @CreatedDateTime, @CreatedBy
            FROM SBinCTE
            OPTION (MAXRECURSION 0);
           
            
		END
        ELSE IF @LocType = 3
        BEGIN
            -- Code to handle Row creation
            PRINT 'Creating Row...';

            IF @NumberRows >  @MaxNumberRows
            BEGIN
                SET @Message = 'The number of Rows exceeds its limit: ' + CAST(@MaxNumberRows AS VARCHAR(10));
			    ROLLBACK TRANSACTION;
                RETURN;
            END

            IF @CurrentCode < @RowCodeMaxValue
			BEGIN
				SET @CurrentCode = @CurrentCode + 1;
			END
			ELSE
			BEGIN
				SET @CurrentCode = 1;
				SET @CurrentPrefix = @CurrentPrefix + 1;
			END;

           
           -- Step 1: Insert into LocRow using recursive CTE with the @NumberRows variable
             WITH RowCTE AS (
                -- Anchor member: Insert the first Row
                SELECT 1 AS RowNum,
                       0 as Deleted, 
                       @LocParentID as LocSectionID,
                       (@CurrentOrder + @RowIncrement) as OrderNumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')) as RowCode
                UNION ALL
                -- Recursive member: Insert remaining Rows
                SELECT RowNum + 1,
                       0,
                       @LocParentID,
                       OrderNumber + @RowIncrement,
                       CASE 
						   WHEN Code < @RowCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @RowCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @RowCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @RowCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000')) as RowCode
                FROM RowCTE
                WHERE RowNum < @NumberRows
            )

			-- Insert CTE results into the temporary table
			INSERT INTO @RowTable (RowNum, Deleted, LocSectionID, OrderNumber, Code, Prefix, RowCode)
			SELECT RowNum, Deleted, LocSectionID, OrderNumber, Code, Prefix, RowCode
			FROM RowCTE
			OPTION (MAXRECURSION 0);

			-- Insert into LocRow
            INSERT INTO LocRow (LocSectionID, OrderNumber, RowCode, RowName, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocRowID INTO @NewRowIDs
            SELECT LocSectionID, OrderNumber, RowCode, RowCode, Deleted, @CreatedDateTime, @CreatedBy
            FROM @RowTable;  -- To allow more than the default 100 recursion levels


			-- Get the last values for Code and Prefix from temporary table
			SELECT TOP 1 @CurrentCode = Code, @CurrentPrefix = Prefix
			FROM @RowTable
			ORDER BY RowNum DESC;

			  -- Update LocSequence
            IF @CurrentOrder = 0
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder + (@RowIncrement * @NumberRows), @CurrentCode , @CurrentPrefix , 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder + (@RowIncrement * @NumberRows), CurrentOrder),
                    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

            -- Step 2: Insert into LocColumn using recursive CTE
            SET @CurrentOrder = @ColumnIncrement;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH ColumnCTE AS (
                -- Anchor member: Insert the first Column for each Row
                SELECT R.LocRowID, 
                       1 AS ColumnNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00000')) as ColumnCode
                FROM @NewRowIDs R
                UNION ALL
                -- Recursive member: Insert remaining Columns for each row
                SELECT R.LocRowID, 
                       ColumnNum + 1, 
                       ONumber + @ColumnIncrement,
                       CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ColumnCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '00000'))
                FROM ColumnCTE C
                JOIN @NewRowIDs R ON R.LocRowID = C.LocRowID
                WHERE ColumnNum < @NumberColumns 
            )

            -- Insert CTE results into the temporary table
            INSERT INTO LocColumn (LocRowID, OrderNumber, ColumnCode, ColumnName, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocColumnID INTO @NewColumnIDs
            SELECT LocRowID, ONumber, ColumnCode , ColumnCode, 0, @CreatedDateTime, @CreatedBy
            FROM ColumnCTE
            OPTION (MAXRECURSION 0);

            -- Update LocSequence
			SET @CurrentOrder = @NumberColumns * @ColumnIncrement;
            IF (@NumberColumns % @ColumnCodeMaxValue) = 0
			BEGIN
				SET @CurrentCode = @ColumnCodeMaxValue;
                SET @CurrentPrefix = (@NumberColumns / @ColumnCodeMaxValue);
			END
			ELSE
			BEGIN
				SET @CurrentCode = (@NumberColumns % @ColumnCodeMaxValue);
				SET @CurrentPrefix = (@NumberColumns / @ColumnCodeMaxValue) + 1;
			END;

            INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
			SELECT 
				4 AS LocationType,        
				LocRowID AS LocationId,  
				@CurrentOrder AS CurrentOrder,    
                @CurrentCode as CurrentCode,
                @CurrentPrefix as CurrentPrefix,  
				0 AS Deleted               
			FROM @NewRowIDs;

            -- Step 3: Insert into LocShelf using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH ShelfCTE AS (
                -- Anchor member: Insert the first Shelf for each Column
                SELECT C.LocColumnID, 
                       1 AS ShelfNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')) as ShelfCode
                FROM @NewColumnIDs C
                UNION ALL
                -- Recursive member: Insert remaining Shelf for each Column
                SELECT S.LocColumnID, 
                       ShelfNum + 1, 
                       ONumber + @ShelfIncrement,
                       CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ShelfCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000'))
                FROM ShelfCTE S
                JOIN @NewColumnIDs C ON C.LocColumnID = S.LocColumnID
                WHERE ShelfNum < @NumberShelves 
            )

            -- Insert CTE results into the table
            INSERT INTO LocShelf (LocColumnID, OrderNumber, ShelfCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocShelfID, INSERTED.LocColumnID INTO @NewShelfIDs
            SELECT LocColumnID, ONumber, ShelfCode , 0, @CreatedDateTime, @CreatedBy
            FROM ShelfCTE
            OPTION (MAXRECURSION 0);            

            -- Step 4: Insert into LocBin using recursive CTE
            INSERT INTO @TempShelfTable (LocShelfID, LocColumnID, Code, RowNum)
			SELECT 
				LocShelfID, 
				LocColumnID, 
				NULL AS Code, 
				ROW_NUMBER() OVER (PARTITION BY LocColumnID ORDER BY LocShelfID) AS RowNum
			FROM @NewShelfIDs;
						
			DECLARE ShelfCursor CURSOR FOR
			SELECT DISTINCT LocColumnID
			FROM @TempShelfTable;

			OPEN ShelfCursor;
			FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Initialize the prefix to 'A' and code number to 1 for each LocColumnID
				SET @CurrentCode = 1;
			    SET @CurrentPrefix = 1;
				SET @CurrentOrder = 0;

				-- Update the Code field for the current LocColumnID group
				DECLARE UpdateCursor CURSOR FOR
				SELECT LocShelfID 
				FROM @TempShelfTable
				WHERE LocColumnID = @CurrentLocColumnID
				ORDER BY RowNum;

				OPEN UpdateCursor;
				FETCH NEXT FROM UpdateCursor INTO @ShelfID;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @Counter = 1;
					WHILE @Counter <= @NumberBins
					BEGIN
						
						INSERT INTO @TempBinTable (LocShelfID, LocColumnID, OrderNumber, Code)
						VALUES (@ShelfID, @CurrentLocColumnID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')));

						-- Increment the code number
						SET @CurrentCode = @CurrentCode + 1;
                        SET @CurrentOrder = @CurrentOrder + @SBinIncrement;

						-- When the code number exceeds 10, reset it to 1 and increment the prefix
						IF @CurrentCode > @BinCodeMaxValue
						BEGIN
							SET @CurrentCode = 1;
							SET @CurrentPrefix = @CurrentPrefix + 1;
						END
					    SET @Counter = @Counter + 1;
					END

					-- Fetch the next shelf in the current LocColumnID group
					FETCH NEXT FROM UpdateCursor INTO @ShelfID;
				END

				CLOSE UpdateCursor;
				DEALLOCATE UpdateCursor;

				-- Move to the next LocColumnID group
				FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;
			END

			CLOSE ShelfCursor;
			DEALLOCATE ShelfCursor;

			-- Select the updated rows to show the changes (optional, for verification)
            INSERT INTO LocBin (LocShelfID, OrderNumber, BinCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocBinID INTO @NewBinIDs
			SELECT LocShelfID, OrderNumber, Code , 0, @CreatedDateTime, @CreatedBy
			FROM @TempBinTable;		   
            
            -- Step 5: Insert into LocSBin using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH SBinCTE AS (
                -- Anchor member: Insert the first SBin for each Bin
                SELECT B.LocBinID, 
                       1 AS SBinNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')) as SBinCode
                FROM @NewBinIDs B
                UNION ALL
                -- Recursive member: Insert remaining SBin for each Shelf
                SELECT SB.LocBinID, 
                       SBinNum + 1, 
                       ONumber + @SBinIncrement,
                       CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @SBinCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @SBinCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000000'))
                FROM SBinCTE SB                
                JOIN @NewBinIDs B ON B.LocBinID = SB.LocBinID
                WHERE SBinNum < @NumberSBins 
            )

            -- Insert CTE results into the table           
            INSERT INTO LocSBin (LocBinID, OrderNumber, SBinCode, Deleted, SBinType, Height, Width, Depth, Distance, CreatedDateTime, CreatedBy)
            SELECT LocBinID, ONumber, SBinCode , 0 , @SBinType as SBinType, @Height as Height, @Width as Width, @Depth as Depth, @Distance as Distance, @CreatedDateTime, @CreatedBy
            FROM SBinCTE
            OPTION (MAXRECURSION 0);

        END
        ELSE IF @LocType = 4
        BEGIN
            -- Code to handle Column creation
            PRINT 'Creating Column...';

             IF @NumberColumns >  @MaxNumberColumns
            BEGIN
                SET @Message = 'The number of Columns exceeds its limit: ' + CAST(@MaxNumberColumns AS VARCHAR(10));
			    ROLLBACK TRANSACTION;
                RETURN;
            END

            IF @CurrentCode < @ColumnCodeMaxValue
			BEGIN
				SET @CurrentCode = @CurrentCode + 1;
			END
			ELSE
			BEGIN
				SET @CurrentCode = 1;
				SET @CurrentPrefix = @CurrentPrefix + 1;
			END;

           
           -- Step 1: Insert into LocColumn using recursive CTE with the @NumberColumns variable
             WITH ColumnCTE AS (
                -- Anchor member: Insert the first Column
                SELECT 1 AS ColumnNum,
                       0 as Deleted, 
                       @LocParentID as LocRowId,
                       (@CurrentOrder + @ColumnIncrement) as OrderNumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00000')) as ColumnCode
                UNION ALL
                -- Recursive member: Insert remaining Columns
                SELECT ColumnNum + 1,
                       0,
                       @LocParentID,
                       OrderNumber + @ColumnIncrement,
                       CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ColumnCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '00000')) as ColumnCode
                FROM ColumnCTE
                WHERE ColumnNum < @NumberColumns
            )

			-- Insert CTE results into the temporary table
			INSERT INTO @ColumnTable (ColumnNum, Deleted, LocRowId, OrderNumber, Code, Prefix, ColumnCode)
			SELECT ColumnNum, Deleted, LocRowId, OrderNumber, Code, Prefix, ColumnCode
			FROM ColumnCTE
			OPTION (MAXRECURSION 0);

			-- Insert into LocColumn
            INSERT INTO LocColumn (LocRowId, OrderNumber, ColumnCode, ColumnName, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocColumnID INTO @NewColumnIDs
            SELECT LocRowId, OrderNumber, ColumnCode, ColumnCode, Deleted, @CreatedDateTime, @CreatedBy
            FROM @ColumnTable;  -- To allow more than the default 100 recursion levels


			-- Get the last values for Code and Prefix from temporary table
			SELECT TOP 1 @CurrentCode = Code, @CurrentPrefix = Prefix
			FROM @ColumnTable
			ORDER BY ColumnNum DESC;

			  -- Update LocSequence
            IF @CurrentOrder = 0
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder + (@ColumnIncrement * @NumberColumns), @CurrentCode , @CurrentPrefix , 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder + (@ColumnIncrement * @NumberColumns), CurrentOrder),
                    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

            -- Step 2: Insert into LocShelf using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH ShelfCTE AS (
                -- Anchor member: Insert the first Shelf for each Column
                SELECT C.LocColumnID, 
                       1 AS ShelfNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')) as ShelfCode
                FROM @NewColumnIDs C
                UNION ALL
                -- Recursive member: Insert remaining Shelf for each Column
                SELECT S.LocColumnID, 
                       ShelfNum + 1, 
                       ONumber + @ShelfIncrement,
                       CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ShelfCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000'))
                FROM ShelfCTE S
                JOIN @NewColumnIDs C ON C.LocColumnID = S.LocColumnID
                WHERE ShelfNum < @NumberShelves 
            )

            -- Insert CTE results into the table
            INSERT INTO LocShelf (LocColumnID, OrderNumber, ShelfCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocShelfID, INSERTED.LocColumnID INTO @NewShelfIDs
            SELECT LocColumnID, ONumber, ShelfCode , 0, @CreatedDateTime, @CreatedBy
            FROM ShelfCTE
            OPTION (MAXRECURSION 0);

            -- Update LocSequence
			SET @CurrentOrder = (@NumberShelves - 1) * @ShelfIncrement;
            IF (@NumberShelves % @ShelfCodeMaxValue) = 0
			BEGIN
				SET @CurrentCode = @ShelfCodeMaxValue;
                SET @CurrentPrefix = (@NumberShelves / @ShelfCodeMaxValue);
			END
			ELSE
			BEGIN
				SET @CurrentCode = (@NumberShelves % @ShelfCodeMaxValue);
				SET @CurrentPrefix = (@NumberShelves / @ShelfCodeMaxValue) + 1;
			END;

            INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
			SELECT 
				5 AS LocationType,        
				LocColumnID AS LocationId,  
				@CurrentOrder AS CurrentOrder,    
                @CurrentCode as CurrentCode,
                @CurrentPrefix as CurrentPrefix,  
				0 AS Deleted               
			FROM @NewColumnIDs;

            -- Step 3: Insert into LocBin using recursive CTE
			INSERT INTO @TempShelfTable (LocShelfID, LocColumnID, Code, RowNum)
			SELECT 
				LocShelfID, 
				LocColumnID, 
				NULL AS Code, 
				ROW_NUMBER() OVER (PARTITION BY LocColumnID ORDER BY LocShelfID) AS RowNum
			FROM @NewShelfIDs;
						
			DECLARE ShelfCursor CURSOR FOR
			SELECT DISTINCT LocColumnID
			FROM @TempShelfTable;

			OPEN ShelfCursor;
			FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Initialize the prefix to 'A' and code number to 1 for each LocColumnID
				SET @CurrentCode = 1;
			    SET @CurrentPrefix = 1;
				SET @CurrentOrder = 0;

				-- Update the Code field for the current LocColumnID group
				DECLARE UpdateCursor CURSOR FOR
				SELECT LocShelfID 
				FROM @TempShelfTable
				WHERE LocColumnID = @CurrentLocColumnID
				ORDER BY RowNum;

				OPEN UpdateCursor;
				FETCH NEXT FROM UpdateCursor INTO @ShelfID;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @Counter = 1;
					WHILE @Counter <= @NumberBins
					BEGIN
						
						INSERT INTO @TempBinTable (LocShelfID, LocColumnID, OrderNumber, Code)
						VALUES (@ShelfID, @CurrentLocColumnID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')));

						-- Increment the code number
						SET @CurrentCode = @CurrentCode + 1;
                        SET @CurrentOrder = @CurrentOrder + @SBinIncrement;

						-- When the code number exceeds 10, reset it to 1 and increment the prefix
						IF @CurrentCode > @BinCodeMaxValue
						BEGIN
							SET @CurrentCode = 1;
							SET @CurrentPrefix = @CurrentPrefix + 1;
						END
					    SET @Counter = @Counter + 1;
					END

					-- Fetch the next shelf in the current LocColumnID group
					FETCH NEXT FROM UpdateCursor INTO @ShelfID;
				END

				CLOSE UpdateCursor;
				DEALLOCATE UpdateCursor;

				-- Move to the next LocColumnID group
				FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;
			END

			CLOSE ShelfCursor;
			DEALLOCATE ShelfCursor;

			-- Select the updated rows to show the changes (optional, for verification)
            INSERT INTO LocBin (LocShelfID, OrderNumber, BinCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocBinID INTO @NewBinIDs
			SELECT LocShelfID, OrderNumber, Code, 0, @CreatedDateTime, @CreatedBy
			FROM @TempBinTable;		   		
            
            -- Step 4: Insert into LocSBin using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH SBinCTE AS (
                -- Anchor member: Insert the first SBin for each Bin
                SELECT B.LocBinID, 
                       1 AS SBinNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')) as SBinCode
                FROM @NewBinIDs B
                UNION ALL
                -- Recursive member: Insert remaining SBin for each Shelf
                SELECT SB.LocBinID, 
                       SBinNum + 1, 
                       ONumber + @SBinIncrement,
                       CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @SBinCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @SBinCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000000'))
                FROM SBinCTE SB                
                JOIN @NewBinIDs B ON B.LocBinID = SB.LocBinID
                WHERE SBinNum < @NumberSBins 
            )

            -- Insert CTE results into the table           
            INSERT INTO LocSBin (LocBinID, OrderNumber, SBinCode, Deleted, SBinType, Height, Width, Depth, Distance, CreatedDateTime, CreatedBy)
            SELECT LocBinID, ONumber, SBinCode , 0 , @SBinType as SBinType, @Height as Height, @Width as Width, @Depth as Depth, @Distance as Distance, @CreatedDateTime, @CreatedBy
            FROM SBinCTE
            OPTION (MAXRECURSION 0);

        END;
       

		 -- Commit transaction if update is successful
		COMMIT TRANSACTION;
    
		PRINT 'Insert successful';

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW;
	END CATCH;


END
GO
