USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_ViewULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Nov, 2024>
-- Description:	<Get detail information of ULD>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_ViewULD] @ULDID INT
AS
BEGIN
	
   SET NOCOUNT ON;

   DECLARE 	@ULDCurrentLocation VARCHAR(50),
			@TemporaryLocation BIT,
			@LocationFound BIT,			
			@LocBinID INT,
			@LocColumnID INT,
			@LocRowID INT,
			@LocSectionID INT,
			@LocAreaID INT,
			@LocWarehouseID INT,
			@LocWarehouseCode VARCHAR(1),
			@LocAreaCode VARCHAR(1),
			@LocSectionCode VARCHAR(3),
			@LocRowCode VARCHAR(4),
			@LocColumnCode VARCHAR(6),
			@LocBinCode VARCHAR(7),
			@LocSBinCode VARCHAR(7),
			@LocTempCode VARCHAR(33),
			@WarehouseName VARCHAR(200),
			@AreaName    VARCHAR(200),
			@SectionName VARCHAR(200),
			@RowName     VARCHAR(200),
			@ColumnName  VARCHAR(200),
			@BinName     VARCHAR(200),
			@StorageType VARCHAR(50);

	-- get @ULDCurrentLocation
    SELECT @ULDCurrentLocation = u.ULDCurrentLocation
	FROM dbo.ULD u	
	WHERE u.ULDID = @ULDID  AND u.DELETED = 0;

    EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
		@LocationCode = @ULDCurrentLocation,
		@LocationFound = @LocationFound OUTPUT,
		@TemporaryLocation = @TemporaryLocation OUTPUT,
		@LocSBinID = NULL,
		@LocBinID = @LocBinID OUTPUT,
		@LocShelfID = NULL,
		@LocColumnID = @LocColumnID OUTPUT,
		@LocRowID = @LocRowID OUTPUT,
		@LocSectionID = @LocSectionID OUTPUT,
		@LocAreaID = @LocAreaID OUTPUT,
		@LocWarehouseID = @LocWarehouseID OUTPUT,
		@LocWarehouseCode = @LocWarehouseCode OUTPUT,
		@LocAreaCode = @LocAreaCode OUTPUT,
		@LocSectionCode = @LocSectionCode OUTPUT,
		@LocRowCode = @LocRowCode OUTPUT,
		@LocColumnCode = @LocColumnCode OUTPUT,
		@LocShelfCode = NULL,
		@LocBinCode = @LocBinCode OUTPUT,
		@LocTempCode = @LocTempCode OUTPUT,
		@LocSBinCode = @LocSBinCode OUTPUT,
		@LocWarehouseName = @WarehouseName OUTPUT,
		@LocAreaName = @AreaName OUTPUT,
		@LocSectionName = @SectionName OUTPUT,
		@LocRowName = @RowName OUTPUT,
		@LocColumnName = @ColumnName OUTPUT,
		@LocBinName = @BinName OUTPUT,
		@StorageType = @StorageType OUTPUT;

   -- Retrieve 
   SELECT 
		t.TenantName, w.WarehouseName, u.ULDID, u.ULDBarcode, u.ItemName, u.ItemNumber,
		u.CreatedDateTime, u.[Status], u.ULDCurrentLocation, COALESCE(u.CurrentZone,'') as CurrentZone, 
		COALESCE(u.HoldStatus,'') as HoldStatus,
		COALESCE(u.HoldReason,'') as HoldReason,
		@TemporaryLocation as IsTemporaryLocation,
		@LocTempCode as TemporaryCode,
		@WarehouseName as WarehouseName,
		@AreaName as AreaName,
		@SectionName as SectionName,
		@RowName as RowName,
		@ColumnName as ColumnName,
		@BinName as BinName,
		@LocBinCode as BinCode,
		@LocSBinCode as SBinCode
	FROM dbo.ULD u
	LEFT JOIN dbo.Tenant t ON u.TenantCode = t.TenantCode
	LEFT JOIN dbo.LocWarehouse w ON u.WarehouseCode = w.WarehouseCode
	WHERE u.ULDID = @ULDID  AND u.DELETED = 0;
END
GO
