USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetCarriersFromMappingNames]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Jan, 2026>
-- Description:	<Check Carrier of Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetCarriersFromMappingNames] 
    @TenantCode VARCHAR(10),
    @MappingNames dbo.StringArray READONLY
AS
BEGIN
    SET NOCOUNT ON;

    CREATE TABLE #MappingCarrier (
        MappingName VARCHAR(100),
        Carrier      VARCHAR(50)
    );
   
    INSERT INTO #MappingCarrier (MappingName)
    SELECT [Value] FROM @MappingNames;

   -- Update Carrier based on APIntegration and APIntegrationLine data  
    UPDATE mc
    SET mc.Carrier = 'Australia Post'
    FROM #MappingCarrier mc
    WHERE mc.Carrier IS NULL
      AND TRIM(mc.MappingName) IN (
            SELECT TRIM(il.OrderServiceName)
            FROM dbo.APIntegration i
            JOIN dbo.APIntegrationLine il
                 ON i.IntegrationID = il.IntegrationID
                AND il.Deleted = 0
            WHERE i.TenantCode = @TenantCode
              AND i.Deleted = 0
              AND il.OrderServiceName IS NOT NULL
      );

   -- Update Carrier based on DHLIntegration and DHLIntegrationLine data  
    UPDATE mc  
      SET mc.Carrier = 'DHL Express'
      FROM #MappingCarrier mc
      WHERE mc.Carrier IS NULL
        AND TRIM(mc.MappingName) IN (
            SELECT TRIM(il.OrderServiceName)
            FROM dbo.DHLIntegration i
            JOIN dbo.DHLIntegrationLine il
                 ON i.IntegrationID = il.IntegrationID
                AND il.Deleted = 0
            WHERE i.TenantCode = @TenantCode
              AND i.Deleted = 0
              AND il.OrderServiceName IS NOT NULL
      );

   -- Update Carrier based on CPIntegration and CPIntegrationLine data 
      UPDATE mc  
         SET mc.Carrier = 'Couriers Please'
         FROM #MappingCarrier mc
         WHERE mc.Carrier IS NULL
         AND TRIM(mc.MappingName) IN (
               SELECT TRIM(il.OrderServiceName)
               FROM dbo.CPIntegration i
               JOIN dbo.CPIntegrationLine il
                  ON i.IntegrationID = il.IntegrationID
                  AND il.Deleted = 0
               WHERE i.TenantCode = @TenantCode
               AND i.Deleted = 0
               AND il.OrderServiceName IS NOT NULL
         );

    SELECT * FROM #MappingCarrier;
END
GO
