USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_ReceivingDetailWeeklyReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement Weekly Receiving Detail Report>  
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_ReceivingDetailWeeklyReport]
	@ReportDefinitionID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @OutputType VARCHAR(50),
			@StartDate DateTime,
			@EndDate DateTime;

	SELECT @OutputType = OutputType
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	EXEC SP_VI_TBL_ReportScript_GetReportDateRange
		 @ScheduleType = 'Weekly',
		 @StartDate = @StartDate OUTPUT,
		 @EndDate = @EndDate OUTPUT;
	
	IF @OutputType IS NULL OR @OutputType = 'Portal'
	BEGIN
		PRINT 'Save DB';

		BEGIN TRY

			BEGIN TRANSACTION

			--inset header
			INSERT INTO dbo.ReportData (ReportDefinitionID, TenantCode, TenantName, WarehouseCode, StartDate, EndDate, StoreProcedure, Deleted, CreatedDateTime, CreatedBy)
			SELECT DISTINCT 
				@ReportDefinitionID,
				A.TenantCode,
				A.TenantName,
				A.WarehouseCode,
				@StartDate,
				@EndDate,
				'[dbo].[SP_VI_TBL_ReportScript_ReceivingDetailManualReport]',
				0,
				GETDATE(),
				'System'
			FROM 
			(
				SELECT 
					r.ReceiptInboundID, 
					r.WarehouseCode, 
					r.TenantCode, 
					t.TenantName,
					r.ShipmentNumber AS SystemShipmentNumber, 
					r.ClientShipmentNumber, 
					ul.ItemNumber, 
					ul.ItemName, 
					0 AS Quantity, 
					ul.TransactionQty AS ReceivedQuantity, 
					ul.SerialNumber, 
					u.ExpiryDate, 
					u.BatchNumber, 
					ul.CreatedDateTime, 
					ul.CreatedBy 
				FROM 
					ReceiptInbound r 
				INNER JOIN 
					ULDLine ul ON r.ShipmentNumber = ul.TransactionReference AND ul.Deleted = 0 
				LEFT JOIN 
					ULD u ON ul.ULDID = u.ULDID 
				LEFT JOIN 
					Tenant t ON r.TenantCode = t.TenantCode
				WHERE 
					r.Deleted = 0 AND r.ReceiptType = 'Random' AND ul.CreatedDateTime BETWEEN @StartDate AND @EndDate

				UNION ALL

				SELECT 
					r.ReceiptInboundID,
					r.WarehouseCode,
					r.TenantCode,
					t.TenantName,
					r.ShipmentNumber AS SystemShipmentNumber,
					r.ClientShipmentNumber,
					l.ItemNumber,
					l.ItemName,
					CASE 
						WHEN ul.SerialNumber IS NOT NULL THEN 1 
						ELSE l.Quantity 
					END AS Quantity,
					CASE 
						WHEN ul.SerialNumber IS NOT NULL THEN 1 
						ELSE l.ReceivedQuantity 
					END AS ReceivedQuantity,
					ul.SerialNumber,
					u.ExpiryDate,
					u.BatchNumber,
					l.CreatedDateTime,
					l.CreatedBy
				FROM 
					ReceiptInbound r
				INNER JOIN 
					ReceiptInboundLine l ON r.ReceiptInboundID = l.ReceiptInboundID AND l.Deleted = 0
				LEFT JOIN 
					ULDLine ul ON l.ShipmentNumber = ul.TransactionReference 
							   AND l.ItemNumber = ul.ItemNumber 
							   AND ul.Deleted = 0
				LEFT JOIN 
					ULD u ON ul.ULDID = u.ULDID
				LEFT JOIN 
					Tenant t ON r.TenantCode = t.TenantCode
				WHERE 
					r.Deleted = 0 AND r.ReceiptType = 'Manual' AND l.CreatedDateTime BETWEEN @StartDate AND @EndDate
			) A
			GROUP BY A.TenantCode, A.TenantName, A.WarehouseCode;

			-- Commit the transaction
			COMMIT TRANSACTION;

			--return 
			SELECT DISTINCT TenantCode FROM dbo.ReportData WHERE Deleted = 0 AND ReportDefinitionID = @ReportDefinitionID;

		END TRY
		BEGIN CATCH
			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;

	END
	
	IF @OutputType IS NULL OR @OutputType = 'Server'
	BEGIN
		PRINT 'Return CSV';
		
		-- Combined random and manual receipts
		SELECT 
			r.ReceiptInboundID, 
			r.WarehouseCode, 
			r.TenantCode, 
			t.TenantName,
			r.ShipmentNumber AS SystemShipmentNumber, 
			r.ClientShipmentNumber, 
			ul.ItemNumber as ItemCode, 
			ul.ItemName, 
			0 AS Quantity, 
			ul.TransactionQty AS ReceivedQuantity, 
			ul.SerialNumber, 
			u.ExpiryDate, 
			u.BatchNumber, 
			ul.CreatedDateTime, 
			ul.CreatedBy 
		FROM 
			ReceiptInbound r 
		INNER JOIN 
			ULDLine ul ON r.ShipmentNumber = ul.TransactionReference AND ul.Deleted = 0 
		LEFT JOIN 
			ULD u ON ul.ULDID = u.ULDID 
		LEFT JOIN 
			Tenant t ON r.TenantCode = t.TenantCode
		WHERE 
			r.Deleted = 0 AND r.ReceiptType = 'Random' AND ul.CreatedDateTime BETWEEN @StartDate AND @EndDate

		UNION ALL

		SELECT 
			r.ReceiptInboundID,
			r.WarehouseCode,
			r.TenantCode,
			t.TenantName,
			r.ShipmentNumber AS SystemShipmentNumber,
			r.ClientShipmentNumber,
			l.ItemNumber as ItemCode, 
			l.ItemName,
			CASE 
				WHEN ul.SerialNumber IS NOT NULL THEN 1 
				ELSE l.Quantity 
			END AS Quantity,
			CASE 
				WHEN ul.SerialNumber IS NOT NULL THEN 1 
				ELSE l.ReceivedQuantity 
			END AS ReceivedQuantity,
			ul.SerialNumber,
			u.ExpiryDate,
			u.BatchNumber,
			l.CreatedDateTime,
			l.CreatedBy
		FROM 
			ReceiptInbound r
		INNER JOIN 
			ReceiptInboundLine l ON r.ReceiptInboundID = l.ReceiptInboundID AND l.Deleted = 0
		LEFT JOIN 
			ULDLine ul ON l.ShipmentNumber = ul.TransactionReference 
					   AND l.ItemNumber = ul.ItemNumber 
					   AND ul.Deleted = 0
		LEFT JOIN 
			ULD u ON ul.ULDID = u.ULDID
		LEFT JOIN 
			Tenant t ON r.TenantCode = t.TenantCode
		WHERE 
			r.Deleted = 0 AND r.ReceiptType = 'Manual' AND l.CreatedDateTime BETWEEN @StartDate AND @EndDate;
	END

END
GO
