USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_SectionPrinter_GetAllSectionPrinterOfWareHouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Nov, 2025>
-- Description:	<Get all of Section Printer of Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_SectionPrinter_GetAllSectionPrinterOfWareHouse] 
  @WarehouseCode VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

    SELECT s.SectionPrinterID,
           (a.AreaName + ' - ' + s.SectionName) AS WorkStation,
           a.AreaName,
           s.SectionName,
           s.LabelPrinter,
           COALESCE(wpL.PrinterType,       'ZPL') AS LabelPrinterType,
           COALESCE(wpL.PrinterResolution,  203 ) AS LabelPrinterDPI,
           s.DesktopPrinter,
           COALESCE(wpD.PrinterType,       'PDF') AS DesktopPrinterType,
           COALESCE(wpD.PrinterResolution,  600 ) AS DesktopPrinterDPI
    FROM   dbo.SectionPrinter s
    LEFT   JOIN dbo.LocArea a            ON a.LocAreaID      = s.AreaID         AND a.Deleted   = 0
    LEFT   JOIN dbo.WarehousePrinter wpL ON wpL.WarehouseCode = s.WarehouseCode
                                        AND wpL.PrinterName   = s.LabelPrinter
                                        AND wpL.Deleted = 0
    LEFT   JOIN dbo.WarehousePrinter wpD ON wpD.WarehouseCode = s.WarehouseCode
                                        AND wpD.PrinterName   = s.DesktopPrinter
                                        AND wpD.Deleted = 0
    WHERE  s.WarehouseCode = @WarehouseCode AND s.DELETED = 0;
END
GO
