USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_ReceivingSummaryWeeklyReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement Weekly Receiving Summary  Report>  
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_ReceivingSummaryWeeklyReport]
	@ReportDefinitionID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @OutputType VARCHAR(50),
			@StartDate DateTime,
			@EndDate DateTime;

	SELECT @OutputType = OutputType
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	EXEC SP_VI_TBL_ReportScript_GetReportDateRange
		 @ScheduleType = 'Weekly',
		 @StartDate = @StartDate OUTPUT,
		 @EndDate = @EndDate OUTPUT;

	
	IF @OutputType IS NULL OR @OutputType = 'Portal'
	BEGIN
		PRINT 'Save DB';

		BEGIN TRY

			BEGIN TRANSACTION

			--inset header
			INSERT INTO dbo.ReportData (ReportDefinitionID, TenantCode, TenantName, WarehouseCode, StartDate, EndDate, StoreProcedure, Deleted, CreatedDateTime, CreatedBy)
			SELECT DISTINCT 
				@ReportDefinitionID,
				A.TenantCode,
				A.TenantName,
				A.WarehouseCode,
				@StartDate,
				@EndDate,
				'[dbo].[SP_VI_TBL_ReportScript_ReceivingSummaryManualReport]',
				0,
				GETDATE(),
				'System'
			FROM 
			(
				SELECT r.ReceiptInboundID, r.WarehouseCode, r.TenantCode, t.TenantName, r.ShipmentNumber as SystemShipmentNumber, r.ClientShipmentNumber, 
				   r.ReferenceNumber , r.DueDate, r.ContainerType, r.ReceiptStatus, r.ReceiptType, r.CreatedDateTime, 
				   r.CreatedBy, r.CompletedDateTime,  r.CompletedBy 
				FROM ReceiptInbound r
				LEFT JOIN Tenant t ON r.TenantCode = t.TenantCode
				WHERE r.Deleted = 0 AND r.ReceiptStatus ='Completed' AND r.CreatedDateTime BETWEEN @StartDate AND @EndDate
			) A
			GROUP BY A.TenantCode, A.TenantName, A.WarehouseCode;

			-- Commit the transaction
			COMMIT TRANSACTION;

			--return 
			SELECT TenantCode FROM ReceiptInbound WHERE Deleted = 0 AND CreatedDateTime BETWEEN @StartDate AND @EndDate;

		END TRY
		BEGIN CATCH
			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;

	END
	
	IF @OutputType IS NULL OR @OutputType = 'Server'
	BEGIN
		PRINT 'Return CSV';
		SELECT r.ReceiptInboundID, r.WarehouseCode, r.TenantCode, t.TenantName, r.shipmentNumber as SystemShipmentNumber, r.ClientShipmentNumber, 
	       r.ReferenceNumber , r.DueDate, r.ContainerType, r.ReceiptStatus, r.ReceiptType, r.CreatedDateTime, 
		   r.CreatedBy, r.CompletedDateTime,  r.CompletedBy 
		FROM ReceiptInbound r
		LEFT JOIN Tenant t ON t.TenantCode = r.TenantCode
		WHERE r.Deleted = 0 AND r.ReceiptStatus ='Completed' AND r.CreatedDateTime BETWEEN @StartDate AND @EndDate;

	END

END
GO
