USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetWarehouseHavingStocks]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetWarehouseHavingStocks] 
	@TenantCode VARCHAR(20)
AS
BEGIN	
	SET NOCOUNT ON;

	SELECT DISTINCT U.WarehouseCode, W.WarehouseName, U.TenantCode
	FROM dbo.ULD U
	INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
	LEFT JOIN dbo.LocWarehouse W ON W.WarehouseCode = U.WarehouseCode
	WHERE U.TenantCode = @TenantCode 
		  AND U.DELETED = 0
		  AND UL.DELETED = 0				
	GROUP BY U.WarehouseCode, W.WarehouseName, U.TenantCode
	HAVING SUM(UL.TransactionQty) > 0
   
END
GO
