USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocArea_ListAllAreasByWarehouseId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get Area by WarehouseId>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocArea_ListAllAreasByWarehouseId] @LocWarehouseID INT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.LocArea 
	WHERE LocWarehouseID = @LocWarehouseID AND DELETED = 0;
END
GO
