USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocShelf_UpdateLocShelf]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Update>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocShelf_UpdateLocShelf] 
	@LocShelfID                    INT,
    @ShelfName                     VARCHAR(200) = NULL,
	@ShelfDesc                     VARCHAR(1000) = NULL,
    @OrderNumber                  INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		IF NOT EXISTS(SELECT 1 FROM dbo.LocShelf WHERE LocShelfID = @LocShelfID AND Deleted = 0)
		BEGIN
			SET @Message = 'LocShelfID does not exist or has been deleted.'
			RETURN;
		END
		
		UPDATE dbo.LocShelf
		SET
			ShelfName = COALESCE(@ShelfName, ShelfName),
			OrderNumber = COALESCE(@OrderNumber, OrderNumber),
			ShelfDesc = COALESCE(@ShelfDesc, ShelfDesc),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE LocShelfID = @LocShelfID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
