USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_CheckValidToChangeULDLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Feb, 2025>
-- Description:	<Check Location To Change For ULD >
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_CheckValidToChangeULDLocation]  
	@LocationCode VARCHAR(50),
	@ULDBarcode VARCHAR(30),
	@ToLocationCode VARCHAR(50) = NULL,
    @Message VARCHAR(4000) OUTPUT,
	@DestColumnID INT OUTPUT,
	@TenantCode VARCHAR(10) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

    IF LEN(@LocationCode) != 33
	BEGIN
		SET @Message = 'The Current Location Code is not correct.';
		RETURN;
	END

	DECLARE @ULDLocationCode VARCHAR(50);
	DECLARE @TenantStorageType VARCHAR(50);

	SELECT @TenantCode = TenantCode,
		   @ULDLocationCode = ULDCurrentLocation
	       FROM dbo.ULD WHERE ULDBarcode = @ULDBarcode AND DELETED = 0;
	IF @TenantCode IS NULL
	BEGIN
		SET @Message = 'This ULDBarcode does not exists.';
		RETURN;
	END

	SELECT @TenantStorageType = StorageType
	FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;
	
	IF @ULDLocationCode != @LocationCode
	BEGIN
		SET @Message = 'The Source Location Code does not contain the ULD Barcode';
		RETURN;
	END

	
	DECLARE @IsLocked BIT,
		    @LockReason VARCHAR(1000);

	-- Call the inner stored procedure
	EXEC [dbo].[SP_VI_TBL_Tenant_CheckTenantLock]
		@TenantCode = @TenantCode,
		@Lock = @IsLocked OUTPUT,
		@Reason = @LockReason OUTPUT;

	IF @IsLocked = 1
	BEGIN
		SET @Message = 'The Tenant is locked by reason: ' + @LockReason;
		--ROLLBACK TRANSACTION;
		RETURN;
	END

	IF @ToLocationCode IS NOT NULL
	BEGIN
		-- call store procedure
		DECLARE @LocationFound BIT;
		DECLARE @LocationLabel VARCHAR(10);
		DECLARE @StorageType VARCHAR(50);
		DECLARE @IsEmpty BIT;
		DECLARE @ColumnId INT;
		DECLARE @AllocatedTenantCode VARCHAR(10);

		-- check dest location
		SET @LocationFound = 0;
		SET @IsEmpty = 1;

		EXEC dbo.[SP_VI_TBL_LocTempLocation_CheckLocationAvailable] 
				@LocationCode = @ToLocationCode,
				@LocationFound = @LocationFound OUTPUT,
				@LocationLabel = NULL,
				@IsEmpty = @IsEmpty OUTPUT;

		IF @LocationFound = 1 AND @IsEmpty = 0
		BEGIN
			SET @Message = 'The Temporary Destination Location Code is not empty';
			RETURN;
		END

		-- Call the child stored procedure
		EXEC [dbo].[SP_VI_TBL_Loc_CheckLocationAvailable] 
			@LocationCode = @ToLocationCode,
			@LocationFound = @LocationFound OUTPUT,
			@LocationLabel = @LocationLabel OUTPUT,
			@StorageType = @StorageType OUTPUT,
			@IsEmpty = @IsEmpty OUTPUT,
			@ColumnId = @ColumnId OUTPUT,
			@SBinId = NULL,
			@SBinType = NULL,
			@AllocatedTenant = NULL;

		SET @DestColumnID = @ColumnId;

		IF @LocationFound = 1
		BEGIN
			IF @StorageType = 'PerfectPick' OR @StorageType = 'PickFace'
			BEGIN
				IF @TenantStorageType IS NOT NULL
				BEGIN
					IF @StorageType = 'PerfectPick' AND @TenantStorageType = 'Manual'
					BEGIN
						SET @Message = 'The Destination Location has PerfectPick Storage Type but Tenant Storage Type is Manual';
						RETURN;
					END
					IF @StorageType = 'PickFace' AND @TenantStorageType = 'Automated'
					BEGIN
						SET @Message = 'The Destination Location has PickFace Storage Type but Tenant Storage Type is Automated';
						RETURN;
					END
				END

				-- Check Bay Allocation
				SELECT @AllocatedTenantCode = TenantCode FROM dbo.BayTenantAllocation where ColumnID = @ColumnId AND DELETED = 0;
				IF @AllocatedTenantCode IS NULL
				BEGIN
					SET @Message = 'The Destination Location is Empty';
					RETURN;
				END
				IF @AllocatedTenantCode  != @TenantCode
				BEGIN
					SET @Message = 'The Destination Location was allocated to another Tenant';
					RETURN;
				END
			END
			ELSE
			BEGIN
				-- TemporaryLocation has only one ULD
				IF @IsEmpty = 0 AND @StorageType = 'TemporaryLocation'
				BEGIN
					SET @Message = 'The Destination Temporary Location is not empty';				
					RETURN;
				END
			END
		END

	END

	SET @Message = '';

END
GO
