USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Shipment_CopyShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Nov, 2025>
-- Description:	<Copy Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Shipment_CopyShipment]
	@DescShipmentID INT,	
	@DescShipmentType VARCHAR(50) = NULL,
	@ContactEmail			  VARCHAR(200) = NULL,
	@Phone					  VARCHAR(70)  = NULL,
	@ShippingAddressName      VARCHAR(100)  = NULL,
	@ShippingAddressCompany   VARCHAR(300)  = NULL,
	@ShippingAddressAddress1  VARCHAR(300)  = NULL,
	@ShippingAddressAddress2  VARCHAR(300)  = NULL,
	@ShippingAddressCity      VARCHAR(150)  = NULL,
	@ShippingAddressProvince  VARCHAR(150)  = NULL,
	@ShippingAddressZip       VARCHAR(20)  = NULL,
	@ShippingAddressCountry   VARCHAR(50) = NULL,
	@CarrierID INT,
	@CarrierService  VARCHAR(200),
	@ChargeTenantCode VARCHAR(10) = NULL,
	@Comment VARCHAR(1000) = NULL,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	-- input for Local AP	
	@NewShipmentItems dbo.OrderLineType READONLY, -- use [OrderNumber] as Box Number. if @NewBoxSizes has 2 rows, so @NewShipmentItems have [OrderNumber] = 1 or 2
	@NewBoxSizes dbo.BoxSizeType READONLY,  -- how many box to add new 
	-- input for INT AP	
	@NewShipmentItemContents dbo.OrderLineType READONLY, 
	@NewINTBoxSizes dbo.BoxSizeType READONLY,  
	-- input for DHL
	@NewDHLShipmentItems dbo.OrderLineType READONLY,
	@NewDHLBoxSizes dbo.BoxSizeType READONLY,
	-- output ----
	@AccountNumber NVARCHAR(50) OUTPUT,
	@Token NCHAR(100) OUTPUT,	
	@OrderNumber NCHAR(50) OUTPUT,	
	@NewShipmentID INT OUTPUT,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @ShipmentType VARCHAR(50),
				@OldCarrierID INT,
				@WaveID INT,
				@WarehouseCode  VARCHAR(10),
				@TenantCode VARCHAR(10),
				@SrcShipment VARCHAR(100);

		DECLARE @AddedBoxSizes dbo.BoxSizeType,
			    @AddedShipmentItems dbo.OrderLineType;

		SET @SrcShipment = CAST(@DescShipmentID AS VARCHAR(20));

		-- get tenantcode
		SELECT @OldCarrierID = CarrierID,
		       @ShipmentType = ShipmentType,
			   @TenantCode = TenantCode,
			   @WaveID = WaveID
		FROM dbo.WaveLine WHERE ShipmentID = @DescShipmentID AND Deleted = 0;

		-- get warehouse code
		SELECT @WarehouseCode = WarehouseCode
		FROM dbo.Wave
		WHERE WaveID = @WaveID AND Deleted = 0;

		IF @OldCarrierID IS NULL
		BEGIN
			IF EXISTS (SELECT 1 FROM @NewShipmentItems)
			BEGIN
				INSERT INTO @AddedShipmentItems
				SELECT * FROM @NewShipmentItems;

				INSERT INTO @AddedBoxSizes
				SELECT * FROM @NewBoxSizes;

				SET @ShipmentType = 'Local';

			END 
			ELSE IF EXISTS (SELECT 1 FROM @NewShipmentItemContents)
			BEGIN
				INSERT INTO @AddedShipmentItems
				SELECT * FROM @NewShipmentItemContents;

				INSERT INTO @AddedBoxSizes
				SELECT * FROM @NewINTBoxSizes;

				SET @ShipmentType = 'INT';
			END
			ELSE
			BEGIN
				INSERT INTO @AddedShipmentItems
				SELECT * FROM @NewDHLShipmentItems;

				INSERT INTO @AddedBoxSizes
				SELECT * FROM @NewDHLBoxSizes

				SET @ShipmentType = '';
			END

			IF @DescShipmentType = 'Local'
			BEGIN
				SELECT @WarehouseCode = WarehouseCode,
				       @TenantCode = TenantCode
				FROM AP_Shipment
				WHERE ShipmentID = @DescShipmentID AND Deleted = 0;
			END
			ELSE IF  @DescShipmentType = 'INT'
			BEGIN
				SELECT @WarehouseCode = WarehouseCode,
				       @TenantCode = TenantCode
				FROM AP_ShipmentINT
				WHERE ShipmentID = @DescShipmentID AND Deleted = 0;
			END
			ELSE
			BEGIN
				SELECT @WarehouseCode = WarehouseCode,
						   @TenantCode = TenantCode
					FROM DHLShipment
					WHERE ShipmentID = @DescShipmentID AND Deleted = 0;
			END
		END
		ELSE
		BEGIN
			IF @OldCarrierID = 3  -- DHL
			BEGIN
				INSERT INTO @AddedShipmentItems
				SELECT * FROM @NewDHLShipmentItems;

				INSERT INTO @AddedBoxSizes
				SELECT * FROM @NewDHLBoxSizes

			END
			ELSE IF @OldCarrierID = 1 -- AP
			BEGIN
				IF @ShipmentType = 'Local'  -- Locai
				BEGIN
					INSERT INTO @AddedShipmentItems
					SELECT * FROM @NewShipmentItems;

					INSERT INTO @AddedBoxSizes
					SELECT * FROM @NewBoxSizes;
				END
				ELSE
				BEGIN
					INSERT INTO @AddedShipmentItems
					SELECT * FROM @NewShipmentItemContents;

					INSERT INTO @AddedBoxSizes
					SELECT * FROM @NewINTBoxSizes;
				END
			END
		END


		--- Add new shipment
		IF @CarrierID = 3  -- DHL
		BEGIN
			EXEC [dbo].[SP_VI_TBL_DHLShipment_InsertManualDHLShipment]
				@BoxSize = @AddedBoxSizes,
				@NewShipmentItems = @AddedShipmentItems,
				@SrcShipment = @SrcShipment,
				@WarehouseCode = @WarehouseCode,
				@TenantCode = @TenantCode,
				@ChargeTenantCode = @ChargeTenantCode,
				@Comment = @Comment,
				@ContactEmail = @ContactEmail,
				@Phone = @Phone,
				@ShippingAddressName = @ShippingAddressName,
				@ShippingAddressCompany = @ShippingAddressCompany,
				@ShippingAddressAddress1 = @ShippingAddressAddress1,
				@ShippingAddressAddress2 = @ShippingAddressAddress2,
				@ShippingAddressCity = @ShippingAddressCity,
				@ShippingAddressProvince = @ShippingAddressProvince,
				@ShippingAddressZip = @ShippingAddressZip,
				@ShippingAddressCountry = @ShippingAddressCountry,
				@CarrierID = @CarrierID,
				@ServiceName = @CarrierService,
				@CreatedDateTime = @CreatedDateTime,
				@CreatedBy = @CreatedBy,
				@AccountNumber = @AccountNumber OUTPUT,
				@Token = @Token OUTPUT,
				@NewShipmentID = @NewShipmentID OUTPUT,
				@Message = @Message OUTPUT;

			SELECT @OrderNumber = MessageReference 
			FROM DHLShipment 
			WHERE ShipmentID = @NewShipmentID AND Deleted = 0;
			
		END
		ELSE IF @CarrierID = 1 -- AP
		BEGIN

			IF @ShipmentType = 'Local'  -- Locai
			BEGIN
				EXEC [dbo].[SP_VI_TBL_APShipment_InsertManualAPLocalShipment]
					@BoxSize = @AddedBoxSizes,
					@NewShipmentItems = @AddedShipmentItems,
					@SrcShipment = @SrcShipment,
					@WarehouseCode = @WarehouseCode,
					@TenantCode = @TenantCode,
					@ChargeTenantCode = @ChargeTenantCode,
					@Comment = @Comment,
					@ContactEmail = @ContactEmail,
					@Phone = @Phone,
					@ShippingAddressName = @ShippingAddressName,
					@ShippingAddressCompany = @ShippingAddressCompany,
					@ShippingAddressAddress1 = @ShippingAddressAddress1,
					@ShippingAddressAddress2 = @ShippingAddressAddress2,
					@ShippingAddressCity = @ShippingAddressCity,
					@ShippingAddressProvince = @ShippingAddressProvince,
					@ShippingAddressZip = @ShippingAddressZip,
					@ShippingAddressCountry = @ShippingAddressCountry,
					@CarrierID = @CarrierID,
					@ServiceName = @CarrierService,
					@CreatedDateTime = @CreatedDateTime,
					@CreatedBy = @CreatedBy,
					@AccountNumber = @AccountNumber OUTPUT,
					@Token = @Token OUTPUT,
					@NewShipmentID = @NewShipmentID OUTPUT,
					@Message = @Message OUTPUT;

				SELECT @OrderNumber = Shipment_Reference 
				FROM AP_Shipment 
				WHERE ShipmentID = @NewShipmentID AND Deleted = 0;
			END
			ELSE
			BEGIN
				EXEC [dbo].[SP_VI_TBL_APShipment_InsertManualAPIntShipment]
					@BoxSize = @AddedBoxSizes,
					@NewShipmentItems = @AddedShipmentItems,
					@SrcShipment = @SrcShipment,
					@WarehouseCode = @WarehouseCode,
					@TenantCode = @TenantCode,
					@ChargeTenantCode = @ChargeTenantCode,
					@Comment = @Comment,
					@ContactEmail = @ContactEmail,
					@Phone = @Phone,
					@ShippingAddressName = @ShippingAddressName,
					@ShippingAddressCompany = @ShippingAddressCompany,
					@ShippingAddressAddress1 = @ShippingAddressAddress1,
					@ShippingAddressAddress2 = @ShippingAddressAddress2,
					@ShippingAddressCity = @ShippingAddressCity,
					@ShippingAddressProvince = @ShippingAddressProvince,
					@ShippingAddressZip = @ShippingAddressZip,
					@ShippingAddressCountry = @ShippingAddressCountry,
					@CarrierID = @CarrierID,
					@ServiceName = @CarrierService,
					@CreatedDateTime = @CreatedDateTime,
					@CreatedBy = @CreatedBy,
					@AccountNumber = @AccountNumber OUTPUT,
					@Token = @Token OUTPUT,
					@NewShipmentID = @NewShipmentID OUTPUT,
					@Message = @Message OUTPUT;

				SELECT @OrderNumber = Shipment_Reference 
				FROM AP_ShipmentINT
				WHERE ShipmentID = @NewShipmentID AND Deleted = 0;

			END
		END

		
    END TRY
    BEGIN CATCH
        
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;

   
END
GO
