USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_WarehousePrinter_UpdateWarehousePrinter]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Nov, 2024>
-- Description:	<Update WarehousePrinter>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_WarehousePrinter_UpdateWarehousePrinter] 
	@WarehousePrinterID INT,
	@WarehouseCode VARCHAR(20),
    @PrinterName VARCHAR(200),
	@PrinterType VARCHAR(50),
	@PrinterResolution INT,
	@FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy VARCHAR(100) = NULL,
	@LastEditedDateTime DATETIME = NULL,
	@LastEditedBy VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
        -- Check if the WarehousePrinterID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.WarehousePrinter WHERE WarehousePrinterID = @WarehousePrinterID AND Deleted = 0)
        BEGIN
            SET @Message = 'WarehousePrinterID does not exist or has been deleted.'
            RETURN;
        END
		 -- Check for duplicate
		 IF EXISTS(SELECT 1 FROM dbo.WarehousePrinter WHERE WarehousePrinterID != @WarehousePrinterID AND PrinterName = @PrinterName AND WarehouseCode = @WarehouseCode AND Deleted = 0)
		 BEGIN
			 SET @Message = 'Printer Name already exists for this Warehouse.'
			 RETURN;
		 END
		 
        -- Update 
        UPDATE dbo.WarehousePrinter
        SET
            WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
			PrinterName = COALESCE(@PrinterName, PrinterName),
			PrinterType = COALESCE(@PrinterType, PrinterType),
		    PrinterResolution =COALESCE(@PrinterResolution, PrinterResolution),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE WarehousePrinterID = @WarehousePrinterID
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
