USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Dashboard_GetOrderStatusWidget]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <1 Nov, 2025>
-- Description:	<Dashboard API>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Dashboard_GetOrderStatusWidget] 	
	@TenantCode   VARCHAR(20) = NULL,
	@WarehouseCode VARCHAR(10) = NULL,
	@StartDate DATETIME = NULL,
	@EndDate DATETIME = NULL,
	@PendingOrders INT OUTPUT,
	@ProcessedOrders INT OUTPUT,
	@InProgressOrders INT OUTPUT,
	@ErrorOrders INT OUTPUT	
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @UtcTodayStart DATETIME = CAST(GETDATE() AS DATE);
	DECLARE @UtcTodayEnd   DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, @UtcTodayStart));

	IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL
	BEGIN
		SET @UtcTodayStart = @StartDate;
		SET @UtcTodayEnd = @EndDate;
	END	

	-- Pending
	SELECT @PendingOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Fulfilment'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	-- InProgress
	SELECT @InProgressOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	       AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Started'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	-- Completed
	SELECT @ProcessedOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Completed'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	--Error
	SELECT @ErrorOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Error'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);


	
END
GO
