USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_CheckValidSourceOfTransferULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Feb, 2025>
-- Description:	<Check Valid Source Of Transfer ULD >
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_CheckValidSourceOfTransferULD]  
	@LocationCode VARCHAR(50),
	@ULDBarcode VARCHAR(30),
    @Message VARCHAR(4000) OUTPUT,
	@ItemNumber VARCHAR(30) OUTPUT,
	@ItemName VARCHAR(250) OUTPUT,
	@AvailableQty INT OUTPUT,
	@IsSerialNumber BIT OUTPUT,
	@ULDID INT OUTPUT,
	@TenantCode VARCHAR(10) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

    IF LEN(@LocationCode) != 33 
	BEGIN
		SET @Message = 'The Location Code is not in correct format.';
		RETURN;
	END

	DECLARE @ULDLocationCode VARCHAR(50);
	DECLARE @HoldStatus VARCHAR(20);
	DECLARE @HoldReason VARCHAR(1000);

	SELECT @ULDLocationCode = ULDCurrentLocation,
		   @ULDID = ULDID,
		   @ItemNumber = ItemNumber,
		   @ItemName = ItemName,
		   @TenantCode = TenantCode,
		   @HoldStatus = HoldStatus,
		   @HoldReason = HoldReason
	FROM dbo.ULD WHERE ULDBarcode = @ULDBarcode AND DELETED = 0;

	IF @HoldStatus IS NOT NULL AND @HoldStatus = 'Hold'
	BEGIN
		SET @Message = 'This ULD is on hold due to the following reason: ' + @HoldReason;
		RETURN;
	END

	IF @ULDLocationCode IS NULL
	BEGIN
		SET @Message = 'This ULDBarcode does not exists.';
		RETURN;
	END

	IF @ULDLocationCode <> @LocationCode
	BEGIN
		SET @Message = 'The Location does not contain this ULD';
		RETURN;
	END

	DECLARE @IsLocked BIT,
		    @LockReason VARCHAR(1000);

	-- Call the inner stored procedure
    EXEC [dbo].[SP_VI_TBL_Tenant_CheckTenantLock]
        @TenantCode = @TenantCode,
        @Lock = @IsLocked OUTPUT,
        @Reason = @LockReason OUTPUT;

	IF @IsLocked = 1
	BEGIN
		SET @Message = 'The Tenant is locked by reason: ' + @LockReason;
		RETURN;
	END

	SET @IsSerialNumber = 0;
	IF EXISTS(SELECT 1 FROM dbo.ULD u INNER JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID WHERE u.ULDBarcode = @ULDBarcode AND u.DELETED = 0 AND ul.DELETED = 0 AND ul.SerialNumber IS NOT NULL)
	BEGIN
		SET @IsSerialNumber = 1;
	END

	SELECT @AvailableQty = COALESCE(SUM(ul.TransactionQty), 0)
	FROM dbo.ULDLine ul
	INNER JOIN dbo.ULD u ON ul.ULDID = u.ULDID
	WHERE ul.DELETED = 0 AND u.ULDID = @ULDID AND u.DELETED = 0;

END
GO
