USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_ListAllTenants]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get All Tenants>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_ListAllTenants]
AS
BEGIN

	SET NOCOUNT ON;

	SELECT TenantID, TenantCode, TenantName , StorageType, IsUsingCustomPrice
	FROM dbo.Tenant 
	WHERE DELETED = 0 
	ORDER BY TenantName;
END
GO
