USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_ListAllItems]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2024>
-- Description:	<List Items>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_ListAllItems]
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT ItemID, ItemName
		FROM dbo.Items 
		WHERE DELETED = 0 ORDER BY ItemName;
END
GO
