USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_ListUsers]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2024>
-- Description:	<Get list of users with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_ListUsers]
     @UserType NVARCHAR(20) = NULL, --  Internal   External
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT,
     @PageSize INT,
     @OrderBy NVARCHAR(50),
     @OrderDir NVARCHAR(4), -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	SELECT @SQL = 'SELECT ' + STRING_AGG(COLUMN_NAME, ', ') 
                  FROM INFORMATION_SCHEMA.COLUMNS
                  WHERE TABLE_NAME = 'Users' AND COLUMN_NAME <> 'MobilePassword';

	IF @OrderBy = 'DisplayName'
	BEGIN
		SET @OrderBy = 'LOWER(CONCAT(FirstName, '' '', LastName))';
	END

	IF @UserType IS NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Users WHERE DELETED = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = @SQL + N' FROM dbo.Users WHERE DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Users 
			WHERE DELETED = 0 
			AND (
				LOWER(UserGroup) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(FirstName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(LastName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(UserEmail) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(UserType) LIKE '%' + LOWER(@Search) + '%'
				OR LOWER(CONCAT(FirstName, ' ', LastName)) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = @SQL + N' FROM dbo.Users 
				WHERE DELETED = 0 
				AND (
					LOWER(UserGroup) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(FirstName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(LastName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(UserEmail) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(UserType) LIKE ''%' + LOWER(@Search) + '%''
					OR LOWER(CONCAT(FirstName, '' '', LastName)) LIKE ''%' + LOWER(@Search) + '%''  
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END 

	END -- END @UserType IS NULL
	ELSE
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			IF @UserType = 'Internal'
			BEGIN
				-- Get the total number of records
				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Users WHERE DELETED = 0 AND TenantCode IS NULL;

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = @SQL + N' FROM dbo.Users WHERE DELETED = 0 AND TenantCode IS NULL ORDER BY ' + @OrderBy + ' ' + @OrderDir +
						' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

			END  --END @UserType = 'Internal'
			ELSE
			BEGIN
				-- Get the total number of records
				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Users WHERE DELETED = 0 AND TenantCode IS NOT NULL;

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = @SQL + N' FROM dbo.Users WHERE DELETED = 0 AND TenantCode IS NOT NULL ORDER BY ' + @OrderBy + ' ' + @OrderDir +
						' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

			END	--END @UserType = 'External '		
		END
		ELSE -- END @Search IS NULL
		BEGIN
			IF @UserType = 'Internal'
			BEGIN
				-- Get the total number of records
				SET @Search = LOWER(@Search);

				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Users 
				WHERE DELETED = 0 AND TenantCode IS NULL
				AND (
					LOWER(UserGroup) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FirstName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(LastName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(UserEmail) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(UserType) LIKE '%' + LOWER(@Search) + '%'
					OR LOWER(CONCAT(FirstName, ' ', LastName)) LIKE '%' + LOWER(@Search) + '%' 
				);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = @SQL + N' FROM dbo.Users 
					WHERE DELETED = 0 AND TenantCode IS NULL
					AND (
						LOWER(UserGroup) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FirstName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(LastName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(UserEmail) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(UserType) LIKE ''%' + LOWER(@Search) + '%''
						OR LOWER(CONCAT(FirstName, '' '', LastName)) LIKE ''%' + LOWER(@Search) + '%''  
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

			END
			ELSE --END @UserType = 'Internal'
			BEGIN
				-- Get the total number of records
				SET @Search = LOWER(@Search);

				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Users 
				WHERE DELETED = 0 AND TenantCode IS NOT NULL
				AND (
					LOWER(UserGroup) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FirstName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(LastName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(UserEmail) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(UserType) LIKE '%' + LOWER(@Search) + '%'
					OR LOWER(CONCAT(FirstName, ' ', LastName)) LIKE '%' + LOWER(@Search) + '%' 
				);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = @SQL + N' FROM dbo.Users 
					WHERE DELETED = 0 AND TenantCode IS NOT NULL
					AND (
						LOWER(UserGroup) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FirstName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(LastName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(UserEmail) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(UserType) LIKE ''%' + LOWER(@Search) + '%''
						OR LOWER(CONCAT(FirstName, '' '', LastName)) LIKE ''%' + LOWER(@Search) + '%''  
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

			END	--END @UserType = 'External'	

		END  -- END @Search IS NOT NULL

	END -- END @UserType IS NOT NULL
	
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
