USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_CopyULDIntoExistedLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Mar, 2025>
-- Description:	<Copy ULD to existed Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_CopyULDIntoExistedLocation]
    @FromULDBarcode VARCHAR(30),
	@LocationCode       VARCHAR(50),
	@CreatedDateTime	DATETIME = NULL,
	@CreatedBy			VARCHAR(100) = NULL,
	@Message            VARCHAR(4000) OUTPUT,
	@NewULDID			INT OUTPUT
AS
BEGIN
	
	BEGIN TRY

		BEGIN TRANSACTION;


		--Create Barcode
		DECLARE @TenantCode  VARCHAR(10);
		DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(250);
		DECLARE @BatchNumber VARCHAR(30); 
		DECLARE @ExpiryDate DATETIME; 
		DECLARE @SourceULDDate DATETIME;
		DECLARE @ULDType VARCHAR(30);
		DECLARE @WarehouseCode VARCHAR(20);

		SELECT 
			@TenantCode = TenantCode,
			@ItemNumber = ItemNumber,
			@ItemName = ItemName,
			@BatchNumber = BatchNumber,
			@ExpiryDate = ExpiryDate,
			@ULDType = ULDType,
			@WarehouseCode = WarehouseCode,
			@SourceULDDate = CreatedDateTime
        FROM [dbo].[ULD]
        WHERE ULDBarcode = @FromULDBarcode AND Deleted = 0; 

		DECLARE @Prefix NVARCHAR(6) = '3PLULD';
		DECLARE @SequenceValue BIGINT;
		DECLARE @CurrentPrefix INT;

		-- Get the next value from the sequence
		SET @SequenceValue = NEXT VALUE FOR dbo.ULDBarcodeSequence;

		-- Get the current prefix
		SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;

		-- Check if the sequence has cycled back to the starting value
		IF @SequenceValue = 10000000001
		BEGIN
			-- Increment the prefix if the sequence has cycled
			UPDATE dbo.ULDPrefix
			SET CurrentPrefix = CurrentPrefix + 1;

			-- Refresh the current prefix after updating
			SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;
		END

		-- Construct the full ULD ID
		DECLARE @NewULDBarcode VARCHAR(50);
		SET @NewULDBarcode = @Prefix + CAST(@CurrentPrefix AS NVARCHAR(10)) + CAST(@SequenceValue AS NVARCHAR(50));

		 -- call store procedure	
		DECLARE @StorageType VARCHAR(50);
		DECLARE @ColumnId INT;
		DECLARE @SBinId INT;
		DECLARE @LocShelfID INT;
		DECLARE	@LocBinID INT;

		-- Call the child stored procedure
		EXEC [dbo].[SP_VI_TBL_Loc_CheckLocationAvailable] 
			@LocationCode = @LocationCode,
			@LocationFound = NULL,
			@LocationLabel = NULL,
			@StorageType = @StorageType OUTPUT,
			@ColumnId = @ColumnId OUTPUT,
			@SBinId = @SBinId OUTPUT,
			@IsEmpty = NULL,
			@SBinType = NULL,
			@AllocatedTenant = NULL;

		DECLARE @TenantStorageType VARCHAR(50);
		SELECT @TenantStorageType = StorageType
		FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;

		IF @StorageType IS NOT NULL AND (@StorageType = 'PerfectPick' OR @StorageType = 'PickFace')
		BEGIN
			IF @TenantStorageType IS NOT NULL
			BEGIN
				IF @StorageType = 'PerfectPick' AND @TenantStorageType = 'Manual'
				BEGIN
					SET @Message = 'The Destination Location has PerfectPick Storage Type but Tenant Storage Type is Manual';
					SET @NewULDID = 0;
					ROLLBACK TRANSACTION;
					RETURN;
				END
				IF @StorageType = 'PickFace' AND @TenantStorageType = 'Automated'
				BEGIN
					SET @Message = 'The Destination Location has PickFace Storage Type but Tenant Storage Type is Automated';
					SET @NewULDID = 0;
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END
		END

		DECLARE @IsPallet BIT;
		IF @StorageType IS NOT NULL AND (@StorageType = 'Receiving' OR @StorageType = 'TemporaryLocation' OR @StorageType = 'Bulk')
		BEGIN
			SET @IsPallet = 1;
		END
		ELSE
		BEGIN
			SET @IsPallet = 0;
		END

		IF @SBinId IS NOT NULL
		BEGIN
			SELECT 
				@LocShelfID = lb.LocShelfID, 
				@LocBinID = lsbin.LocBinID
			FROM LocSbin lsbin
			JOIN LocBin lb ON lsbin.LocBinID = lb.LocBinID
			WHERE lsbin.LocSbinID = @SBinId AND lsbin.DELETED = 0;
		END

		DECLARE @SourcePickingCondition VARCHAR(100);
		SELECT @SourcePickingCondition = PickingCondition FROM dbo.Items 
		WHERE Deleted = 0 AND ItemNumber = @ItemNumber AND TenantCode = @TenantCode;

		if @SourcePickingCondition IS NOT NULL 
	          AND (@SourcePickingCondition = 'Last In - First Out' OR @SourcePickingCondition = 'First In - First Out')
		BEGIN
			SET @CreatedDateTime = @SourceULDDate;
		END

		DECLARE @NewULDTable TABLE (ULDID INT);
		-- Insert to ULD
		INSERT INTO [dbo].[ULD] (
			ULDBarcode,
			ULDCurrentLocation,
			LocColumnID,
			LocShelfID,
			LocBinID,
			LocSBinID,
			TenantCode,
			WarehouseCode,
			HoldStatus,
			CurrentZone,
			ULDType,
			Status,
			ItemNumber,
			ItemName,
			ExpiryDate,
			BatchNumber,
			IsPallete,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		OUTPUT INSERTED.ULDID INTO @NewULDTable
		VALUES (
			@NewULDBarcode,
			@LocationCode,
			@ColumnId,
			@LocShelfID,
			@LocBinID,
			@SBinId,
			@TenantCode,
			@WarehouseCode,
			NULL,
			NULL,
			@ULDType,
			'Bulk',
			@ItemNumber,
			@ItemName,
			@ExpiryDate,
			@BatchNumber,
			@IsPallet,
			0, 
			@CreatedDateTime,
			@CreatedBy
		);


		SELECT @NewULDID = ULDID FROM @NewULDTable;

	    -- Commit transaction if update is successful
		COMMIT TRANSACTION;
    
		PRINT 'Insert successful';

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;
END
GO
