USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_BayTenantAllocation_ReAllocate]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Feb, 2025>
-- Description:	<Re-allocate Bay>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_BayTenantAllocation_ReAllocate]  
	@ParentId INT,
    @ParentLocationType VARCHAR(10), -- Section or Row or Column
	@TenantCode VARCHAR(10) = NULL,
	@ColumnIds dbo.IdArray READONLY,
	@ChargeImmediately BIT,
	@ChargeDate DATETIME = NULL,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION
		
		DECLARE @TenantName VARCHAR(150);
		DECLARE @IsSetEmpty BIT;
		DECLARE @TenantStorageType VARCHAR(50);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @AreaCode VARCHAR(20);
		DECLARE @SectionCode VARCHAR(20);
		DECLARE @RowCode VARCHAR(20);
		DECLARE @ColumnCode VARCHAR(20);

		DECLARE @LocWarehouseName VARCHAR(200),
				@LocAreaName    VARCHAR(200),
				@LocSectionName VARCHAR(200),
				@LocRowName     VARCHAR(200),
				@LocColumnName  VARCHAR(200);

		CREATE TABLE #TmpColumnTable (
			ID INT,
			Code VARCHAR(20),
			Name VARCHAR(200)
		);

		IF @TenantCode IS NULL
		BEGIN
			SET @IsSetEmpty = 1;
		END
		ELSE
		BEGIN
	     -- Check if TenantCode is at least 6 characters long 
		 IF LEN(@TenantCode) < 6
			BEGIN
				SET @Message = 'TenantCode must be at least 6 characters long.'
				ROLLBACK TRANSACTION;
				RETURN;
			END

			-- Check for TenantCode not existed
			SELECT @TenantName = TenantName,
			       @TenantStorageType = StorageType
			FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0;
			IF @TenantName IS NULL
			BEGIN
				SET @Message = 'TenantCode does not exist.';
				ROLLBACK TRANSACTION;
				RETURN;
			END
			SET @IsSetEmpty = 0;
		END
				
		-- Check the value of @LocationType and handle each case
		IF @ParentLocationType = 'Section' -- Handling All Columns below 'Section'
		BEGIN
			 -- Check for SectionId not existed
			IF NOT EXISTS(SELECT 1 FROM dbo.LocSection WHERE LocSectionID = @ParentId AND Deleted = 0)
			BEGIN
				SET @Message = 'Section does not exist.';
				ROLLBACK TRANSACTION;
				RETURN;
			END

			-- get warehouse code
			SELECT @WarehouseCode = w.WarehouseCode, 
				   @AreaCode = a.AreaCode, 
				   @SectionCode = s.SectionCode,
				   @LocWarehouseName = w.WarehouseName,
				   @LocAreaName = a.AreaName,
				   @LocSectionName = s.SectionName
			FROM LocSection s
			JOIN LocArea a ON s.LocAreaID = a.LocAreaID
			JOIN LocWarehouse w ON a.LocWarehouseID = w.LocWarehouseID
			WHERE s.LocSectionID = @ParentId;

			INSERT INTO #TmpColumnTable (ID, Code, Name)			
			SELECT lc.LocColumnID , lc.ColumnCode, lc.ColumnName
			FROM dbo.LocColumn lc
			JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
			WHERE lc.Deleted = 0
				AND lr.Deleted = 0
				AND lr.LocSectionID = @ParentId;

			SELECT @RowCode = lr.RowCode,
				   @LocRowName = lr.RowName
			FROM dbo.LocColumn lc
			JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
			WHERE lc.Deleted = 0 AND lc.LocColumnID IN (SELECT TOP 1 Id FROM #TmpColumnTable);

		END
		ELSE IF @ParentLocationType = 'Row' -- Handling All Columns below 'Row'
		BEGIN
			 -- Check for RowID not existed
			IF NOT EXISTS(SELECT 1 FROM dbo.LocRow WHERE LocRowID = @ParentId AND Deleted = 0)
			BEGIN
				SET @Message = 'Row does not exist.';
				ROLLBACK TRANSACTION;
				RETURN;
			END

			-- get warehouse code
			SELECT @WarehouseCode = w.WarehouseCode, 
				   @AreaCode = a.AreaCode, 
				   @SectionCode = s.SectionCode, 
				   @RowCode = r.RowCode,
				   @LocWarehouseName = w.WarehouseName,
				   @LocAreaName = a.AreaName,
				   @LocSectionName = s.SectionName,
				   @LocRowName = r.RowName
			FROM LocRow r
			JOIN LocSection s ON r.LocSectionID = s.LocSectionID
			JOIN LocArea a ON s.LocAreaID = a.LocAreaID
			JOIN LocWarehouse w ON a.LocWarehouseID = w.LocWarehouseID
			WHERE r.LocRowID = @ParentId;
						
			INSERT INTO #TmpColumnTable (ID, Code, Name)	
			SELECT LocColumnID , ColumnCode, ColumnName
			FROM dbo.LocColumn WHERE LocRowID = @ParentId AND Deleted = 0;
			
		END
		ELSE  --Handling All selected Columns  
		BEGIN

			SELECT @WarehouseCode = w.WarehouseCode, 
				   @AreaCode = a.AreaCode, 
				   @SectionCode = s.SectionCode, 
				   @RowCode = r.RowCode,
				   @LocWarehouseName = w.WarehouseName,
				   @LocAreaName = a.AreaName,
				   @LocSectionName = s.SectionName,
				   @LocRowName = r.RowName
			FROM LocColumn c
			JOIN LocRow r ON c.LocRowID = r.LocRowID
			JOIN LocSection s ON r.LocSectionID = s.LocSectionID
			JOIN LocArea a ON s.LocAreaID = a.LocAreaID
			JOIN LocWarehouse w ON a.LocWarehouseID = w.LocWarehouseID
			WHERE c.LocColumnID IN (SELECT (Value) FROM @ColumnIds);
			
			INSERT INTO #TmpColumnTable (ID, Code, Name)	
			SELECT LocColumnID , ColumnCode, ColumnName
			FROM dbo.LocColumn WHERE LocColumnID IN (SELECT (Value) FROM @ColumnIds) AND Deleted = 0;
		END

		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.LocColumnID IN (SELECT ID FROM #TmpColumnTable)
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);

		IF @NumberOfULD > 0
		BEGIN
			SET @Message = 'There are not empty ULDs at these location.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- remove old
		UPDATE dbo.BayTenantAllocation 
			SET DELETED = 1
			WHERE ColumnID IN (SELECT ID FROM #TmpColumnTable);

		IF @IsSetEmpty = 0
		BEGIN

			IF @TenantStorageType IS NOT NULL
			BEGIN
				IF @TenantStorageType = 'Manual' AND EXISTS (
					SELECT
						 TOP 1 ls.StorageType
					FROM
						dbo.LocSection ls 
						INNER JOIN dbo.LocRow lr ON ls.LocSectionID = lr.LocSectionID AND lr.DELETED = 0 AND ls.StorageType = 'PerfectPick'
						INNER JOIN dbo.LocColumn lc ON lr.LocRowID = lc.LocRowID AND lc.DELETED = 0 AND lc.LocColumnID IN (SELECT ID FROM #TmpColumnTable) 
				)
				BEGIN
					SET @Message = 'The Location has PerfectPick Storage Type but Tenant Storage Type is Manual';
					ROLLBACK TRANSACTION;
					RETURN;
				END
				IF  @TenantStorageType = 'Automated' AND EXISTS (
					SELECT
						 TOP 1 ls.StorageType
					FROM
						dbo.LocSection ls 
						INNER JOIN dbo.LocRow lr ON ls.LocSectionID = lr.LocSectionID AND lr.DELETED = 0 AND ls.StorageType = 'PickFace'
						INNER JOIN dbo.LocColumn lc ON lr.LocRowID = lc.LocRowID AND lc.DELETED = 0 AND lc.LocColumnID IN (SELECT ID FROM #TmpColumnTable) 
				)
				BEGIN
					SET @Message = 'The Location has PickFace Storage Type but Tenant Storage Type is Automated';
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END

			IF @ChargeDate IS NULL
			BEGIN
				SET @ChargeDate = DATEADD(DAY, 1 - DATEPART(WEEKDAY, GETDATE()), CAST(GETDATE() AS DATE));
			END

			--insert new
			INSERT INTO dbo.BayTenantAllocation 
				(TenantCode, TenantName, SectionID, ColumnID, RowID, AllocationDate, Deleted, CreatedDateTime, CreatedBy)
			SELECT 
				@TenantCode,  
				@TenantName,
				lr.LocSectionID as SectionID,
				lc.LocColumnID as ColumnID, 
				lc.LocRowID as RowID,
				@ChargeDate,          
				0,                   
				@CreatedDateTime,   
				@CreatedBy          
			FROM dbo.LocColumn lc
			INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
			WHERE lc.LocColumnID IN (SELECT ID FROM #TmpColumnTable);

			
			-- Charging
			IF @ChargeImmediately = 1
			BEGIN
				 PRINT 'Charge Immediately';

				 DECLARE @InvoiceReferences VARCHAR(500) = NULL;

				 -- Declare variables to hold cursor data
				 DECLARE @Code VARCHAR(20);
				 DECLARE @Name VARCHAR(200);

				 -- Declare cursor
				 DECLARE TmpCursor CURSOR FOR
				 SELECT Code, Name FROM #TmpColumnTable;

				 -- Open cursor
				 OPEN TmpCursor;

				 -- Fetch first row
				 FETCH NEXT FROM TmpCursor INTO @Code, @Name;

				 -- Loop through cursor
				 WHILE @@FETCH_STATUS = 0
				 BEGIN
					
					SET @InvoiceReferences = 'W: ' + @LocWarehouseName + ' A: ' + @LocAreaName + ' S: ' + @LocSectionName + ' R: ' + @LocRowName + ' C: ' + @Name;		

					EXEC [dbo].[SP_VI_TBL_Invoice_InsertBayAllocationInvoice]
						@TenantCode = @TenantCode,
						@WarehouseCode = @WarehouseCode,
						@InvoiceReferences = @InvoiceReferences,
						@Qty = 1,
						@CreatedDateTime = @CreatedDateTime,
						@CreatedBy = @CreatedBy,
						@Message = @Message OUTPUT;	

					-- Fetch next row
					FETCH NEXT FROM TmpCursor INTO @Code, @Name;
				 END;

				 -- Clean up
				 CLOSE TmpCursor;
				 DEALLOCATE TmpCursor;
				 
			END
			ELSE  
			BEGIN
				 PRINT 'Charge Next Week';
			END
		END

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
