USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_ListAllTenantsOfWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <22 Oct, 2025>
-- Description:	<Get All Tenants Of Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_ListAllTenantsOfWarehouse]
	@WarehouseCode VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT DISTINCT t.TenantCode, t.TenantName 
	FROM dbo.ULD u
	LEFT JOIN dbo.Tenant t ON t.TenantCode = u.TenantCode AND t.Deleted = 0 
	WHERE u.WarehouseCode = @WarehouseCode AND u.DELETED = 0 
	ORDER BY t.TenantName;
END
GO
