USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockExpiredAlertManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Sep, 2025>
-- Description:	<Implement Stock Expired Alert Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockExpiredAlertManualReport]
    @ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@DayDuration INT,
			@Mandatory BIT,
			@ReportType VARCHAR(50),
			@Interval VARCHAR(50),
			@TenantName VARCHAR(250);

	DECLARE @SQL NVARCHAR(MAX);

	-- Declare
	CREATE TABLE #TempTable
	(
		WarehouseCode VARCHAR(20),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ItemName VARCHAR(250),
		ItemNumber VARCHAR(30),
		ExpiryDate Date
	);

	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;	

	INSERT INTO #TempTable
	(
		WarehouseCode,
		TenantCode,
		TenantName,
		ItemName,
		ItemNumber,
		ExpiryDate
	)
	SELECT 
			A.WarehouseCode, 
			@TenantCode,
			@TenantName,
			A.ItemName, 
			A.ItemNumber, 
			A.ExpiryDate
		FROM (
				SELECT 
				    U.ExpiryDate,
					U.ItemNumber, 
					U.ItemName,
					U.WarehouseCode,
					COUNT(DISTINCT U.ULDID) AS TotalULD, 
					SUM(UL.TransactionQty) AS TotalTransactionQty
				FROM dbo.ULD U
				INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
				WHERE U.TenantCode = @ManualTenantCode
					AND U.DELETED = 0					
					AND U.Status <> 'Draft'
					AND UL.TransactionType  <> 'Allocated'
					AND UL.DELETED = 0 
					AND U.ExpiryDate IS NOT NULL 
				GROUP BY U.ExpiryDate, U.ItemNumber, U.ItemName, U.WarehouseCode
			HAVING SUM(UL.TransactionQty) > 0
		) AS A 
		WHERE A.WarehouseCode = @WarehouseCode
		     AND A.ExpiryDate >= DATEADD(DAY, 1, GETDATE())   -- from tomorrow
			AND A.ExpiryDate <  DATEADD(DAY, 16, GETDATE()); -- up to 15 days ahead	

	--return
	SELECT 
		WarehouseCode,
		TenantCode,
		TenantName,
		ItemName,
		ItemNumber as ItemCode,
		ExpiredDate
	FROM #TempTable;
END
GO
