USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_ViewShipmentInfoOfOrders]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <29 Sep, 2025>
-- Description:	<Get shipment Info For Orders>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipment_ViewShipmentInfoOfOrders]  
	@OrderNumbers dbo.StringArray READONLY
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @OrderNumber VARCHAR(50);
	DECLARE @ShipmentType VARCHAR(20);
	DECLARE @TenantCode   VARCHAR(10);
	DECLARE @WarehouseCode VARCHAR(10);
	DECLARE @APShipmentID  NVARCHAR(150);
	DECLARE @TrackingNumber NVARCHAR(150);
	DECLARE @ShipmentID INT;

	CREATE TABLE #TmpAPShipment
    (
		OrderNumber VARCHAR(50)   NULL,
        APShipmentID   NVARCHAR(150)      NULL,
        AccountNumber  NVARCHAR(50)    NULL,
        Token          NVARCHAR(100)      NULL,
        ShipmentID     INT             NULL,
        ShipmentType   VARCHAR(20)     NULL,  
        TenantCode     VARCHAR(10)     NULL,
        WarehouseCode  VARCHAR(10)     NULL,
		TrackingNumber NVARCHAR(150)     NULL
    );

	DECLARE cur CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
		SELECT [Value]
		FROM @OrderNumbers;

	OPEN cur;

	FETCH NEXT FROM cur INTO @OrderNumber;

	WHILE @@FETCH_STATUS = 0
	BEGIN


		IF LEFT(@OrderNumber, 3) = 'MS-'
		BEGIN			

			SELECT @ShipmentID = s.ShipmentID,
				   @TenantCode = s.TenantCode,
				   @WarehouseCode = s.WarehouseCode
			FROM dbo.AP_Shipment s
			WHERE s.Shipment_Reference = @OrderNumber AND s.Deleted = 0;

			IF @ShipmentID IS NOT NULL
			BEGIN
				SET @ShipmentType = 'Local';
			END
			ELSE
			BEGIN				
				SELECT @ShipmentID = s.ShipmentID,
					   @TenantCode = s.TenantCode,
					   @WarehouseCode = s.WarehouseCode
				FROM dbo.AP_ShipmentINT s
				WHERE s.Shipment_Reference = @OrderNumber AND s.Deleted = 0;

				SET @ShipmentType = 'INT';
			END
		
		END
		ELSE -- Normal
		BEGIN
		
			SELECT @ShipmentID = wl.ShipmentID, 
				   @ShipmentType = wl.ShipmentType,
				   @TenantCode = wl.TenantCode,
				   @WarehouseCode = w.WarehouseCode
			FROM Waveline wl 
			LEFT JOIN Wave w ON w.WaveID = wl.WaveID AND w.Deleted = 0
			WHERE wl.Deleted = 0 AND wl.PackStatus = 'Completed' AND wl.OrderNumber = @OrderNumber;
			
		END -- Normal

		IF @ShipmentID IS NOT NULL
		BEGIN

			IF @ShipmentType = 'Local'
			BEGIN
				SELECT @APShipmentID = AP_shipment_id,
					   @TrackingNumber = AP_ConsignmentID
				FROM dbo.AP_Shipment 
				WHERE ShipmentID = @ShipmentID AND Deleted = 0;
			END
			ELSE
			BEGIN
				SELECT @APShipmentID = AP_shipment_id,
					   @TrackingNumber = AP_ConsignmentID
				FROM dbo.AP_ShipmentINT 
				WHERE ShipmentID = @ShipmentID AND Deleted = 0;
			END
			
			INSERT INTO #TmpAPShipment (OrderNumber, APShipmentID, AccountNumber, Token, ShipmentID, ShipmentType, TenantCode, WarehouseCode, TrackingNumber)
			SELECT 
				@OrderNumber,
				@APShipmentID,
				ai.AccountNumber,
				ai.Token,
				@ShipmentID,
				@ShipmentType,
				ai.TenantCode,
				ai.WarehouseCode,
				@TrackingNumber
			FROM dbo.APIntegration ai
			WHERE ai.TenantCode = @TenantCode AND  ai.WarehouseCode = @WarehouseCode AND ai.Deleted = 0;

		END -- IF @ShipmentID IS NOT NULL

		FETCH NEXT FROM cur INTO @OrderNumber;
	END

	CLOSE cur;
	DEALLOCATE cur;

	SELECT * FROM #TmpAPShipment;


END
GO
