USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_DeleteTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Aug, 2024>
-- Description:	<Soft Delete tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_DeleteTenant] 
	@TenantID INT, 
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT -- Output parameter for error messages
AS
BEGIN
	
	SET NOCOUNT ON;
    
    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

	
		IF EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantID = @TenantID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Tenant has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @TenantCode VARCHAR(10);
		SELECT @TenantCode = TenantCode FROM dbo.Tenant WHERE TenantID = @TenantID AND Deleted = 0;
		
		IF EXISTS(SELECT 1 FROM dbo.Items WHERE TenantCode = @TenantCode AND Deleted = 0)
		BEGIN
			 SET @Message = 'This tenant already had items.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END 


        UPDATE dbo.Tenant
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE TenantID = @TenantID;

		UPDATE dbo.TenantCustomCost
        SET DELETED = 1,
		    FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE TenantChargeItemID IN (SELECT TenantChargeItemID FROM dbo.TenantChargeItem WHERE TenantCode = @TenantCode);

		UPDATE dbo.TenantChargeItem
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE TenantCode = @TenantCode;

		UPDATE dbo.TenantReportSchedule
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE TenantCode = @TenantCode;
		

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for TenantID: ' + CAST(@TenantID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating TenantID: ' + CAST(@TenantID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
