USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_InsertULDLineFromReceipt]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Dec, 2024>
-- Description:	<Add ULD Line To ULD>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ULD_InsertULDLineFromReceipt]  
	@ULDID				INT,
	@SerialNumber		VARCHAR(30), 
	@TransactionUser	VARCHAR(100),
	@InvoiceCharging     BIT = 1,
    @Message			VARCHAR(4000) OUTPUT
AS
BEGIN

    SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION
		DECLARE @CurrentDateTime DATETIME = GETDATE();

		 IF EXISTS(SELECT 1 FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0 AND LOWER(SerialNumber) = LOWER(@SerialNumber))
		 BEGIN
			 SET @Message = 'Serial Number does exists in this receipt.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		DECLARE @SequenceNumber INT;
		SELECT @SequenceNumber = COUNT(*)
		FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
		SET @SequenceNumber = @SequenceNumber + 1;

		DECLARE @ShipmentNumber VARCHAR(30); 
		SELECT @ShipmentNumber = TransactionReference
		FROM dbo.ULDLine WHERE ULDID = @ULDID AND  TransactionType = 'Receipt' AND DELETED = 0;

		DECLARE @TenantCode  VARCHAR(10);
	    DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(30);
	    DECLARE @LocationCode VARCHAR(50);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ULDType VARCHAR(30);
	    
		DECLARE @BatchNumber VARCHAR(30); 
	    DECLARE @ExpiryDate DATETIME;
		
		SELECT @TenantCode = TenantCode,
			   @WarehouseCode = WarehouseCode,
			   @ULDType =  ULDType,
		       @LocationCode = ULDCurrentLocation,
			   @ItemNumber = ItemNumber,
			   @ItemName = ItemName,
			   @BatchNumber = BatchNumber,
			   @ExpiryDate = ExpiryDate
		FROM dbo.ULD WHERE ULDID = @ULDID AND DELETED = 0;

		 IF EXISTS(SELECT 1 FROM dbo.ULD u LEFT JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
							WHERE u.TenantCode = @TenantCode AND u.DELETED = 0 AND ul.DELETED = 0 
							AND LOWER(ul.SerialNumber) = LOWER(@SerialNumber))
		 BEGIN
			 SET @Message = 'Serial Number does exists for this Tenant';
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END
	
		--
		DECLARE @TransactionMovement VARCHAR(1000);
		SET @TransactionMovement = 'Received 1x' + @ItemNumber + ' ';
		SET @TransactionMovement = @TransactionMovement + 'Serial Number: ' + @SerialNumber + ' ';
		IF @BatchNumber IS NOT NULL
		BEGIN
			SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
		END
		IF @ExpiryDate IS NOT NULL
		BEGIN
			SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
		END
		SET @TransactionMovement = @TransactionMovement + 'on receipt ' + @ShipmentNumber;

		INSERT INTO [dbo].[ULDLine] (
			ULDID,
			SequenceNumber,
			SerialNumber,
			TransactionDate,
			TransactionUser,
			TransactionType,
			TransactionQty,
			ReceivingQty,
			TransactionReference,
			TransactionMovement,
			TransactionLocation,
			ItemNumber,
			ItemName,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
			
		VALUES (
			@ULDID,
			@SequenceNumber,
			@SerialNumber,
			@CurrentDateTime,
			@TransactionUser,
			'Receipt',
			1,
			1,
			@ShipmentNumber,
			@TransactionMovement, 
			@LocationCode,
			@ItemNumber,
			@ItemName,
			0,
			@CurrentDateTime,
			@TransactionUser
		);

		IF @InvoiceCharging = 1
		BEGIN
			DECLARE @TransactionReference VARCHAR(500);
			SET @TransactionReference = 'Receiving the shipment number: ' +  @ShipmentNumber;

			-- create invoice 
			EXEC [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice] 
				@TenantCode = @TenantCode,
				@WarehouseCode = @WarehouseCode,
				@ItemCode = @ItemNumber,
				@TransactionReference = @TransactionReference,  
				@ItemUnit = @ULDType,     
				@ItemQty = 1,    
				@CreatedDateTime = @CurrentDateTime, 
				@CreatedBy = @TransactionUser,  
				@Message = NULL;
		END

		

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
