USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Manifest_InsertManifest]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2025>
-- Description:	<Insert Manifest>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Manifest_InsertManifest]    
	@OrderNumbers dbo.StringArray READONLY,  	
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,	
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @WarehouseCode VARCHAR(10),
				@TenantCode VARCHAR(10),				
				@OldTenantCode VARCHAR(10),
				@OrderNumber VARCHAR(50),
				@SrcOrderNumber VARCHAR(50),
				@NewManifestID INT,
				@NumberOfBoxes INT,
				@ShipmentID INT,
				@WaveID INT,				
				@Currency VARCHAR(20),
				@ExtraOrderCost DECIMAL(10,2),
				@AP_order_total_cost DECIMAL(6,2),
				@TransactionReference VARCHAR(500),
				@ShipmentType VARCHAR(20),
				@InvoiceMessage VARCHAR(4000),
				@InvoiceReferences VARCHAR(500),
				@IsManual BIT,
				@IsLocal BIT;


		CREATE TABLE #TmpTable
		(
			WarehouseCode VARCHAR(10),
			TenantCode    VARCHAR(10),
			OrderNumber VARCHAR(50),
			IsManual BIT,
			IsLocal BIT
		);

		DECLARE @IsHasLine BIT = 0;		
		--
		DECLARE cur_OrderNumbers CURSOR LOCAL FAST_FORWARD FOR
			SELECT [Value]
			FROM @OrderNumbers;

		OPEN cur_OrderNumbers;

		FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF LEFT(@OrderNumber, 3) = 'MS-'
			BEGIN
				-- belong oen of three
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal)
				SELECT WarehouseCode,ISNULL(AlterTenantCode, TenantCode), @OrderNumber, 1 , 1
				FROM dbo.AP_Shipment
				WHERE Shipment_Reference = @OrderNumber AND Deleted = 0;

				-- belong oen of three
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal)
				SELECT WarehouseCode,ISNULL(AlterTenantCode, TenantCode), @OrderNumber, 1 , 0
				FROM dbo.AP_ShipmentINT
				WHERE Shipment_Reference = @OrderNumber AND Deleted = 0;
				
			END
			ELSE
			BEGIN
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal)
				SELECT WarehouseCode,TenantCode, @OrderNumber, 0, 0
				FROM dbo.Fulfilment
				WHERE OrderNumber = @OrderNumber AND Deleted = 0;
			END

			FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;
		END;

		CLOSE cur_OrderNumbers;
		DEALLOCATE cur_OrderNumbers;
		
		SET @OldTenantCode = '';

		-- Define the cursor
		DECLARE cur_TmpTable CURSOR LOCAL FAST_FORWARD FOR
			SELECT WarehouseCode, TenantCode, OrderNumber, IsManual, IsLocal
			FROM #TmpTable ORDER BY WarehouseCode, TenantCode;

		-- Open cursor
		OPEN cur_TmpTable;

		-- Fetch first row
		FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual, @IsLocal;

		
		-- Loop through all rows
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			IF (@OldTenantCode <> @TenantCode)
			BEGIN

				INSERT INTO [dbo].[Manifest] (
					[WarehouseCode],
					[TenantCode],
					[MailingDateTime],
					[MailingBy],
					[Deleted],
					[CreatedDateTime],
					[CreatedBy]
				)
				VALUES (
					@WarehouseCode,
					@TenantCode,
					@CreatedDateTime,
					@CreatedBy,
					0, 
					@CreatedDateTime,
					@CreatedBy
				);

				-- Return the newly generated ID
				SET @NewManifestID = SCOPE_IDENTITY();

				SET @OldTenantCode = @TenantCode;

				SELECT @Currency = Currency
				FROM dbo.LocWarehouse
				WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

				SELECT @ExtraOrderCost = ISNULL(ExtraOrderCost,0)
				FROM dbo.Tenant
				WHERE TenantCode = @TenantCode AND Deleted = 0;
			END

			IF @IsManual = 0
			BEGIN
				DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
					SELECT 
						f.order_number,					
						ps.NumberOfBoxes,
						ps.ShipmentID
					FROM dbo.Fulfilment AS f				
					JOIN dbo.PackingResult AS ps  ON ps.OrderNumber = f.OrderNumber AND ps.Deleted = 0
					WHERE f.Deleted = 0 AND f.OrderNumber = @OrderNumber;

				OPEN cur_Fulfilment;

				FETCH NEXT FROM cur_Fulfilment INTO @SrcOrderNumber, @NumberOfBoxes, @ShipmentID;

				WHILE @@FETCH_STATUS = 0
				BEGIN
				
					INSERT INTO [dbo].[ManifestLine] (
						[ManifestID],
						[ShipmentID],
						[FulfilmentNumber],
						[SourceOrderNumber],
						[NumberOfBoxes],
						[Deleted],
						[CreatedDateTime],
						[CreatedBy]
					)
					VALUES( 
						@NewManifestID,
						@ShipmentID,
						@OrderNumber,
						@SrcOrderNumber,
						@NumberOfBoxes,
						0,            
						@CreatedDateTime,   
						@CreatedBy
					);

					SET @IsHasLine = 1;

					SELECT @WaveID = WaveID,
						   @ShipmentType = ShipmentType
					FROM dbo.Waveline
					WHERE OrderNumber = @OrderNumber AND Deleted = 0;

					-- create invoice
					IF @ExtraOrderCost <> 0
					BEGIN
						PRINT 'Extra Invoice';

						SET @TransactionReference = 'Extra Order Cost';

						--Insert charge
						EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
							@WaveID = @WaveID,
							@OrderNumber = @OrderNumber,
							@TenantCode      = @TenantCode,     
							@WarehouseCode   = @WarehouseCode,       
							@Currency = @Currency,
							@Charge = @ExtraOrderCost,
							@ChargeItemName = @TransactionReference,
							@CreatedDateTime = @CreatedDateTime,   
							@CreatedBy       = @CreatedBy,   
							@Message         = @InvoiceMessage OUTPUT;

					END
				

					FETCH NEXT FROM cur_Fulfilment INTO @SrcOrderNumber, @NumberOfBoxes, @ShipmentID;
				END;

				CLOSE cur_Fulfilment;
				DEALLOCATE cur_Fulfilment;

			END -- End IsManual = 0
			ELSE
			BEGIN
				
				IF @IsLocal = 1
				BEGIN

					DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
						SELECT 
							f.SourceShipment,
							f.ShipmentID,
							f.ManualInvoiceComment
						FROM dbo.AP_Shipment AS f	
						WHERE f.Deleted = 0 AND f.Shipment_Reference = @OrderNumber;

					OPEN cur_Fulfilment;

					FETCH NEXT FROM cur_Fulfilment INTO @SrcOrderNumber, @ShipmentID, @InvoiceReferences;

					WHILE @@FETCH_STATUS = 0
					BEGIN

						SELECT @NumberOfBoxes = COUNT(*) 
						FROM dbo.AP_ShipmentItems 
						WHERE shipmentID = @ShipmentID AND Deleted = 0;
				
						INSERT INTO [dbo].[ManifestLine] (
							[ManifestID],
							[ShipmentID],
							[FulfilmentNumber],
							[SourceOrderNumber],
							[NumberOfBoxes],
							[Deleted],
							[CreatedDateTime],
							[CreatedBy]
						)
						VALUES( 
							@NewManifestID,
							@ShipmentID,
							@OrderNumber,
							@SrcOrderNumber,
							@NumberOfBoxes,
							0,            
							@CreatedDateTime,   
							@CreatedBy
						);

						SET @IsHasLine = 1;

						-- create invoice
						IF @ExtraOrderCost <> 0
						BEGIN
							PRINT 'Extra Invoice';

							SET @TransactionReference = 'Extra Order Cost';

							--Insert charge
							EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
								@WaveID = NULL,
								@InvoiceReferences = @InvoiceReferences,
								@OrderNumber = @OrderNumber,
								@TenantCode      = @TenantCode,     
								@WarehouseCode   = @WarehouseCode,       
								@Currency = @Currency,
								@Charge = @ExtraOrderCost,
								@ChargeItemName = @TransactionReference,
								@CreatedDateTime = @CreatedDateTime,   
								@CreatedBy       = @CreatedBy,   
								@Message         = @InvoiceMessage OUTPUT;

						END
				

						FETCH NEXT FROM cur_Fulfilment INTO @SrcOrderNumber, @ShipmentID, @InvoiceReferences;
					END;

					CLOSE cur_Fulfilment;
					DEALLOCATE cur_Fulfilment;

				END -- END @IsLocal = 1
				ELSE
				BEGIN
					DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
						SELECT 
							f.SourceShipment,
							f.ShipmentID,
							f.ManualInvoiceComment
						FROM dbo.AP_ShipmentINT AS f	
						WHERE f.Deleted = 0 AND f.Shipment_Reference = @OrderNumber;

					OPEN cur_Fulfilment;

					FETCH NEXT FROM cur_Fulfilment INTO @SrcOrderNumber, @ShipmentID, @InvoiceReferences;

					WHILE @@FETCH_STATUS = 0
					BEGIN
				
						INSERT INTO [dbo].[ManifestLine] (
							[ManifestID],
							[ShipmentID],
							[FulfilmentNumber],
							[SourceOrderNumber],
							[NumberOfBoxes],
							[Deleted],
							[CreatedDateTime],
							[CreatedBy]
						)
						VALUES( 
							@NewManifestID,
							@ShipmentID,
							@OrderNumber,
							@SrcOrderNumber,
							1,
							0,            
							@CreatedDateTime,   
							@CreatedBy
						);

						SET @IsHasLine = 1;

						-- create invoice
						IF @ExtraOrderCost <> 0
						BEGIN
							PRINT 'Extra Invoice';

							SET @TransactionReference = 'Extra Order Cost';

							--Insert charge
							EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
								@WaveID = NULL,
								@InvoiceReferences = @InvoiceReferences,
								@OrderNumber = @OrderNumber,
								@TenantCode      = @TenantCode,     
								@WarehouseCode   = @WarehouseCode,       
								@Currency = @Currency,
								@Charge = @ExtraOrderCost,
								@ChargeItemName = @TransactionReference,
								@CreatedDateTime = @CreatedDateTime,   
								@CreatedBy       = @CreatedBy,   
								@Message         = @InvoiceMessage OUTPUT;

						END
				

						FETCH NEXT FROM cur_Fulfilment INTO @SrcOrderNumber, @ShipmentID, @InvoiceReferences;
					END;

					CLOSE cur_Fulfilment;
					DEALLOCATE cur_Fulfilment;
				END

			END

			
			-- Next row
			FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual, @IsLocal;
		END;

		-- Cleanup
		CLOSE cur_TmpTable;
		DEALLOCATE cur_TmpTable;	

		IF @IsHasLine = 0
		BEGIN
			SET @Message = 'Cannot create manifest line.';
			ROLLBACK TRANSACTION;
		END
		ELSE
		BEGIN
			-- Commit the transaction
       		 COMMIT TRANSACTION;
		END

		

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
   
END
GO
