USE [3PLWMS_Developers];
GO

/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_DeleteStandardService]    Script Date: 28/04/2026 ******/
SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

-- =============================================
-- Author:      <Nam Nguyen>
-- Create date: <28 Apr, 2026>
-- Description: <Soft Delete Standard Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APIntegration_DeleteStandardService]
    @ServiceID INT,
    @FirstEditedDateTime DATETIME = NULL,
    @FirstEditedBy NVARCHAR(100) = NULL,
    @LastEditedDateTime DATETIME = NULL,
    @LastEditedBy NVARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS
        (
            SELECT 1
            FROM dbo.AP_StandardService
            WHERE ServiceID = @ServiceID
              AND Deleted = 1
        )
        BEGIN
            SET @Message = 'Standard Service has already been deleted.';

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.AP_StandardService
            WHERE ServiceID = @ServiceID
        )
        BEGIN
            SET @Message = 'Standard Service not found for the given ServiceID.';

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        UPDATE dbo.AP_StandardService
        SET
            Deleted = 1,
            FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
            FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
            LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
            LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE ServiceID = @ServiceID;

        SET @Message = 'Delete successful for ServiceID: ' + CAST(@ServiceID AS VARCHAR(20)) + '.';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        SET @Message = ERROR_MESSAGE();

        THROW;
    END CATCH;
END;
GO