USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DOTWMS_GetSortLabelInfo]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jan, 2026>
-- Description:	<Get DOTWMSSortLabel data>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_DOTWMS_GetSortLabelInfo]  
	@WaveNumber VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT WaveNumber, OrderNumber, Status
	FROM dbo.DOTWMS_WaveSort
	WHERE WaveNumber = @WaveNumber AND Deleted = 0
	ORDER BY OrderNumber;
	

END
GO
