USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ListAllKittingPendingServices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Get All Pending Kitting Services>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ListAllKittingPendingServices]
     @WarehouseCode VARCHAR(20),
	 @TenantCode VARCHAR(20) = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	CREATE TABLE #TempServiceKitting (
		ServiceID INT,
		ServiceName VARCHAR(105),
		ServiceNumber VARCHAR(50),
		Status VARCHAR(20),
		ServiceDescription VARCHAR(1000),
		ItemName VARCHAR(250),
		ItemNumber VARCHAR(30),
		TenantCode VARCHAR(20),
		TenantName VARCHAR(155)
	);


	IF @TenantCode IS NULL
	BEGIN
		INSERT INTO #TempServiceKitting (
			ServiceID,
			ServiceName,
			ServiceNumber,
			Status,
			ServiceDescription,
			ItemName,
			ItemNumber,
			TenantCode,
			TenantName
		)
		SELECT 
			s.ServiceID,
			s.ServiceName,
			s.ServiceNumber,
			s.[Status],
			s.ServiceDescription,
			k.ItemName,
			k.ItemNumber,
			s.TenantCode,
			t.TenantName
		FROM dbo.Service s
		LEFT JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
		LEFT JOIN dbo.KittingItem k ON k.ServiceID = s.ServiceID
		WHERE s.Deleted = 0 
			  AND s.WarehouseCode = @WarehouseCode 
			  AND s.ServiceType = 'Kitting'
			  AND (s.Status = 'Pending' OR s.Status = 'InProgress');
	END
	ELSE
	BEGIN
		INSERT INTO #TempServiceKitting (
			ServiceID,
			ServiceName,
			ServiceNumber,
			Status,
			ServiceDescription,
			ItemName,
			ItemNumber,
			TenantCode,
			TenantName
		)
		SELECT 
			s.ServiceID,
			s.ServiceName,
			s.ServiceNumber,
			s.[Status],
			s.ServiceDescription,
			k.ItemName,
			k.ItemNumber,
			s.TenantCode,
			t.TenantName
		FROM dbo.Service s
		LEFT JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode		
		LEFT JOIN dbo.KittingItem k ON k.ServiceID = s.ServiceID
		WHERE s.Deleted = 0 
			  AND s.WarehouseCode = @WarehouseCode 
			  AND s.TenantCode = @TenantCode
			  AND s.ServiceType = 'Kitting' 
			  AND (s.Status = 'Pending' OR s.Status = 'InProgress');
	END
	
	SELECT T.* FROM #TempServiceKitting T;
	
END
GO
