USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_ReceivingDetailManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement Receiving Detail Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_ReceivingDetailManualReport]
	@ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantName VARCHAR(250);
	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;

	-- Combined random and manual receipts
	SELECT 
		r.ReceiptInboundID, 
		r.WarehouseCode, 
		r.TenantCode, 
		@TenantName AS TenantName,
		r.ShipmentNumber AS SystemShipmentNumber, 
		r.ClientShipmentNumber, 
		ul.ItemNumber as ItemCode, 
		ul.ItemName, 
		0 AS Quantity, 
		ul.TransactionQty AS ReceivedQuantity, 
		ul.SerialNumber, 
		u.ExpiryDate, 
		u.BatchNumber, 
		ul.CreatedDateTime, 
		ul.CreatedBy 
	FROM 
		ReceiptInbound r 
	INNER JOIN 
		ULDLine ul ON r.ShipmentNumber = ul.TransactionReference AND ul.Deleted = 0 
	LEFT JOIN 
		ULD u ON ul.ULDID = u.ULDID 
	WHERE 
		r.Deleted = 0 AND r.TenantCode = @ManualTenantCode 
		AND (@WarehouseCode IS NULL OR r.WarehouseCode = @WarehouseCode)
		AND r.ReceiptType = 'Random' AND ul.CreatedDateTime BETWEEN @StartDate AND @EndDate

	UNION ALL

	SELECT 
		r.ReceiptInboundID,
		r.WarehouseCode,
		r.TenantCode,
		@TenantName AS TenantName,
		r.ShipmentNumber AS SystemShipmentNumber,
		r.ClientShipmentNumber,
		l.ItemNumber as ItemCode,
		l.ItemName,
		CASE 
			WHEN ul.SerialNumber IS NOT NULL THEN 1 
			ELSE l.Quantity 
		END AS Quantity,
		CASE 
			WHEN ul.SerialNumber IS NOT NULL THEN 1 
			ELSE l.ReceivedQuantity 
		END AS ReceivedQuantity,
		ul.SerialNumber,
		u.ExpiryDate,
		u.BatchNumber,
		l.CreatedDateTime,
		l.CreatedBy
	FROM 
		ReceiptInbound r
	INNER JOIN 
		ReceiptInboundLine l ON r.ReceiptInboundID = l.ReceiptInboundID AND l.Deleted = 0
	LEFT JOIN 
		ULDLine ul ON l.ShipmentNumber = ul.TransactionReference 
				   AND l.ItemNumber = ul.ItemNumber 
				   AND ul.Deleted = 0
	LEFT JOIN 
		ULD u ON ul.ULDID = u.ULDID
	WHERE 
		r.Deleted = 0 AND r.TenantCode = @ManualTenantCode 
		AND (@WarehouseCode IS NULL OR r.WarehouseCode = @WarehouseCode)
		AND r.ReceiptType = 'Manual' AND l.CreatedDateTime BETWEEN @StartDate AND @EndDate;
	
END

GO
