USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_WarehousePrinter_DeleteWarehousePrinter]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Nov, 2024>
-- Description:	<Soft Delete>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_WarehousePrinter_DeleteWarehousePrinter] @WarehousePrinterID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		IF EXISTS(SELECT 1 FROM dbo.WarehousePrinter WHERE WarehousePrinterID = @WarehousePrinterID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Printer has already been deleted.'
			 RETURN;
		END

        UPDATE dbo.WarehousePrinter
        SET DELETED = 1
        WHERE WarehousePrinterID = @WarehousePrinterID;

        PRINT 'Update successful for WarehousePrinterID: ' + CAST(@WarehousePrinterID AS NVARCHAR);
    END TRY
    BEGIN CATCH
         -- Handle the error
		 DECLARE @ErrorMessage NVARCHAR(4000)
		 DECLARE @ErrorSeverity INT
		 DECLARE @ErrorState INT

		 SELECT 
			 @ErrorMessage = ERROR_MESSAGE(),
			 @ErrorSeverity = ERROR_SEVERITY(),
			 @ErrorState = ERROR_STATE()

		 -- Rethrow the error
		 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
