USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Jan, 2025>
-- Description:	<Insert Receiving Invoice>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice]  
	@TenantCode VARCHAR(10),
	@WarehouseCode VARCHAR(20),
    @ItemCode VARCHAR(30),
    @TransactionReference VARCHAR(500),
	@ItemUnit VARCHAR(200),
	@ItemQty INT, -- qty follow this @ItemUnit
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @ChargeItemCat VARCHAR(100);
		
		SET @ChargeItemCat = 'Receiving';

		-- create charge group invoice
		EXEC [dbo].[SP_VI_TBL_Invoice_InsertChargeGroupInvoice]
			@ItemNumber = @ItemCode,
			@ItemUnit = @ItemUnit,
			@TenantCode = @TenantCode,
			@WarehouseCode = @WarehouseCode,
			@Qty = @ItemQty,
			@TransactionReference = @TransactionReference,
			@Category = @ChargeItemCat,
			@CreatedDateTime = @CreatedDateTime,
			@CreatedBy = @CreatedBy,
			@Message = @Message OUTPUT;

		DECLARE @ItemName VARCHAR(250);
		
		SELECT @ItemName = ItemName 
		       FROM dbo.Items 
		       WHERE ItemNumber = @ItemCode AND TenantCode = @TenantCode AND DELETED = 0;

		DECLARE @Charge DECIMAL(10, 2);
		DECLARE @Currency VARCHAR(20);
		DECLARE @ChargeType VARCHAR(20); -- Standard or Custom

		DECLARE @ChargeItemID INT;
		DECLARE @ChargeItemName VARCHAR(200);
		DECLARE @ChargeItemUnit VARCHAR(50);

		DECLARE charge_item_cursor CURSOR FOR 
		SELECT ChargeItemID, ChargeItemName, ChargeItemUnit FROM dbo.ChargeItem	WHERE ChargeItemGroup = @ChargeItemCat AND DELETED = 0;

		OPEN charge_item_cursor;

		FETCH NEXT FROM charge_item_cursor INTO @ChargeItemID, @ChargeItemName, @ChargeItemUnit;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF @ItemUnit = @ChargeItemUnit
			BEGIN
				
				SET @ChargeType = NULL;
				-- Call the child stored procedure
				EXEC [dbo].[SP_VI_TBL_ChargeItem_GetCostInfoOfTenantByWarehouseCode]
					@ChargeItemID = @ChargeItemID,
					@TenantCode = @TenantCode,
					@WarehouseCode = @WarehouseCode,
					@Charge = @Charge OUTPUT,
					@Currency = @Currency OUTPUT,
					@ChargeType = @ChargeType OUTPUT;

				IF @ChargeType IS NOT NULL
				BEGIN
					INSERT INTO [dbo].[Invoice] (
						TenantCode,
						ChargeName,
						ChargeType,
						ChargeCategory,
						InvoiceReferences,
						ItemReferences,
						WarehouseCode,
						Qty,
						Cost,
						Charge,
						Currency,
						Status,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
					VALUES (
						@TenantCode,
						@ChargeItemName,
						@ChargeType,
						@ChargeItemCat,
						@TransactionReference,
						@ItemName + ' - ' + @ItemCode,
						@WarehouseCode,
						@ItemQty,
						@Charge,
						@Charge * @ItemQty,
						@Currency,
						'Pending',
						0, -- Deleted
						@CreatedDateTime,
						@CreatedBy
					);
				END
			END

			FETCH NEXT FROM charge_item_cursor INTO @ChargeItemID, @ChargeItemName, @ChargeItemUnit;
		END

		CLOSE charge_item_cursor;
		DEALLOCATE charge_item_cursor;

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
