USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_InsertOrder]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 April, 2025>
-- Description:	<Insert Order>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_InsertOrder]  
    @WarehouseCode VARCHAR(20),
    @TenantCode VARCHAR(10),
	@CarrierID INT,  -- 1 AU -  2 Manual Shipment
    @CarrierServiceID INT,  -- 1 for Manual Shipment
    @DestinationName NVARCHAR(50) = NULL,
    @DestinationCompany NVARCHAR(100) = NULL,
    @DestinationAddressLine1 NVARCHAR(50) = NULL,
    @DestinationAddressLine2 NVARCHAR(50) = NULL,
    @DestinationSuburb NVARCHAR(20) = NULL,
    @DestinationState NVARCHAR(20) = NULL,
    @DestinationPostcode NVARCHAR(15) = NULL,
    @DestinationCountry NVARCHAR(50) = NULL,
    @DestinationPhone VARCHAR(50) = NULL,
    @DestinationEmail VARCHAR(250) = NULL,
    @ReferenceNumber VARCHAR(30) = NULL,
    @ShipmentNumber VARCHAR(20) = NULL,
    @SpecialInstructions VARCHAR(500) = NULL,
    @CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@OrderLines OrderLineType READONLY,
	@NewOrderID INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		-- Check for Tenant Code
		IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Tenant Code does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF NOT EXISTS(SELECT 1 FROM dbo.LocWarehouse WHERE WarehouseCode = @WarehouseCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Warehouse Code does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @Carrier VARCHAR(30), @CarrierService VARCHAR(200);

		IF @CarrierID = 1
		BEGIN
			SET @Carrier = 'Australia Post';

			SELECT @CarrierService = ServiceName
			FROM APIntegration i
			LEFT JOIN APIntegrationLine l on l.IntegrationID = i.IntegrationID
			WHERE i.WarehouseCode = @WarehouseCode and i.TenantCode = @TenantCode and l.ServiceID = @CarrierServiceID and i.Deleted = 0 and l.Deleted = 0
			GROUP BY ServiceID, ServiceName
		
			IF @CarrierService IS NULL
			BEGIN
				SET @Message = 'Carrier Service does not exists.'
				ROLLBACK TRANSACTION;
				RETURN;
			END
		END		
		ELSE IF @CarrierID = 2
		BEGIN
			SET @Carrier = 'Manual Shipment';
			SET @CarrierService = 'Manual Shipment';
		END
		ELSE IF @CarrierID = 3
		BEGIN
			SET @Carrier = 'DHL Express';
			IF @CarrierServiceID = 1
			BEGIN
				SET @CarrierService = 'DAP';
			END
			ELSE
			BEGIN
				SET @CarrierService = 'DDP';
			END
			
		END
		ELSE IF @CarrierID = 4
		BEGIN
			SET @Carrier = 'Courier Please';
			SET @CarrierService = 'Courier Please Service';
		END
				

		IF EXISTS(SELECT 1 FROM dbo.Orders WHERE order_number = @ReferenceNumber AND Deleted = 0)
		BEGIN
			SET @Message = 'This order numnber is existed'
			ROLLBACK TRANSACTION;
			RETURN;
		END


		DECLARE @WarehouseName VARCHAR(150);
		SELECT @WarehouseName = WarehouseName
		FROM dbo.LocWarehouse
		WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;


		DECLARE @TempOrderLines OrderLineType;
		INSERT INTO @TempOrderLines (ItemID, OrderItemNumber, OrderItemName, OrderQuantity)
		SELECT i.ItemID, ol.OrderItemNumber, ol.OrderItemName, ol.OrderQuantity
		FROM @OrderLines ol
		LEFT JOIN dbo.Items i ON i.ItemNumber = ol.OrderItemNumber AND i.TenantCode = @TenantCode AND i.Deleted = 0;

        INSERT INTO [dbo].[Orders] (
		    order_number,
            WarehouseCode,
			WarehouseName,
            TenantCode,
            Carrier,
            CarrierService,
			CarrierID,
			CarrierServiceID,
            shipping_address_name,
            shipping_address_company,
            shipping_address_address1,
            shipping_address_address2,
            shipping_address_city,
            shipping_address_province,
            shipping_address_zip,
            shipping_address_country,
            Phone,
			[Source],
            contact_email,
            ReferenceNumber,
            ShipmentNumber,
            SpecialInstructions,
			OrderStatus,
			FulfilmentStatus,
			FulfilmentStatusDateTime,
			Deleted,
			CreatedDateTime,
			CreatedBy
        )
        VALUES (
			@ReferenceNumber,
            @WarehouseCode,
			@WarehouseName,
            @TenantCode,
            @Carrier,
            @CarrierService,
			@CarrierID,
			@CarrierServiceID,
            @DestinationName,
            @DestinationCompany,
            @DestinationAddressLine1,
            @DestinationAddressLine2,
            @DestinationSuburb,
            @DestinationState,
            @DestinationPostcode,
            @DestinationCountry,
            @DestinationPhone,
			'Manual',
            @DestinationEmail,
            @ReferenceNumber,
            @ShipmentNumber,
            @SpecialInstructions,
			'Pending',
			'Not Started',
			@CreatedDateTime,
			0,
			@CreatedDateTime,
			@CreatedBy
        );

		SET @NewOrderID = SCOPE_IDENTITY();

		-- Insert the associated trade units into ItemTradeUnits table
		INSERT INTO dbo.OrdersLine (OrderID, ItemID, line_items_name, line_items_sku, line_items_current_quantity, TenantCode, Deleted, CreatedDateTime, CreatedBy)
		SELECT @NewOrderID, ItemID, OrderItemName, OrderItemNumber, OrderQuantity, @TenantCode, 0, @CreatedDateTime, @CreatedBy
		FROM @TempOrderLines;

		-- insert history only if value is not null
		IF @WarehouseCode IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'WarehouseCode', 'Created value is ' + @WarehouseCode, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @TenantCode IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'TenantCode', 'Created value is ' + @TenantCode, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @Carrier IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'Carrier', 'Created value is ' + @Carrier, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @CarrierService IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'CarrierService', 'Created value is ' + @CarrierService, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationName IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationName', 'Created value is ' + @DestinationName, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationCompany IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationCompany', 'Created value is ' + @DestinationCompany, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationAddressLine1 IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationAddressLine1', 'Created value is ' + @DestinationAddressLine1, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationAddressLine2 IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationAddressLine2', 'Created value is ' + @DestinationAddressLine2, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationSuburb IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationSuburb', 'Created value is ' + @DestinationSuburb, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationState IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationState', 'Created value is ' + @DestinationState, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationPostcode IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationPostcode', 'Created value is ' + @DestinationPostcode, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationCountry IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationCountry', 'Created value is ' + @DestinationCountry, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationPhone IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationPhone', 'Created value is ' + @DestinationPhone, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @DestinationEmail IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'DestinationEmail', 'Created value is ' + @DestinationEmail, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @ReferenceNumber IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'ReferenceNumber', 'Created value is ' + @ReferenceNumber, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @ShipmentNumber IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'ShipmentNumber', 'Created value is ' + @ShipmentNumber, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		IF @SpecialInstructions IS NOT NULL
			INSERT INTO dbo.OrderHistory (OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy)
			VALUES (@NewOrderID, 'Create', 'SpecialInstructions', 'Created value is ' + @SpecialInstructions, @CreatedDateTime, 0, @CreatedDateTime, @CreatedBy);

		-- insert item history log
		INSERT INTO dbo.OrderHistory 
		(OrderID, HistoryType, HistoryField, HistoryValue, HistoryDate, Deleted, CreatedDateTime, CreatedBy) 
		SELECT 
			@NewOrderID, 
			'AddItem', 
			OrderItemName, 
			OrderQuantity, 
			@CreatedDateTime, 
			0, 
			@CreatedDateTime, 
			@CreatedBy
		FROM @TempOrderLines;
	
         -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END

GO
