USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DHLShipment_ViewDHLShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <31 Oct, 2025>
-- Description:	<Get DHL shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DHLShipment_ViewDHLShipment]  
	@ShipmentID INT
AS
BEGIN
	SELECT d.[FileName], d.[typeCode] as FileTypeCode, s.*
	FROM dbo.DHLShipment s
	LEFT JOIN dbo.DHLResponseDocuments d ON d.ShipmentReference = s.MessageReference
	WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0;
END
GO
