USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Report_InsertReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 jan, 2025>
-- Description:	<Insert report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Report_InsertReport]  
	@TenantCode VARCHAR(10),
    @ReportSubject VARCHAR(200),
	@ReportCategory VARCHAR(50),
    @Status VARCHAR(20),
	@StoreProcedure VARCHAR(200) = NULL,
	@Parameters dbo.ParameterArray READONLY, 
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

	    DECLARE @NewReportID INT;        

        -- Insert into Report table
        INSERT INTO dbo.Report
        (
            TenantCode,
            ReportSubject,
            ReportCategory,
            Status,
			StoreProcedure,
            Deleted,
            CreatedDateTime,
            CreatedBy
        )
        VALUES
        (
            @TenantCode,
            @ReportSubject,
            @ReportCategory,
            @Status,
			@StoreProcedure,
            0, -- Default value for Deleted
            @CreatedDateTime,
            @CreatedBy
        )
		
		SET @NewReportID = SCOPE_IDENTITY();

        -- Insert into UserPermission table for all existing UserCodes
        INSERT INTO dbo.ReportParameter
        (
            ReportID,
            ReportParameterName,
            ReportParameterValue,
            Deleted,
            CreatedDateTime,
            CreatedBy
        )
        SELECT 
            @NewReportID,
            [Name],
            [Value],
            0,
			@CreatedDateTime,
            @CreatedBy
        FROM @Parameters;

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
