USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_BinTenantAllocation_AllocateForTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Mar, 2025>
-- Description:	<Allocate Bin For Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_BinTenantAllocation_AllocateForTenant]  
	@TenantCode VARCHAR(10),
	@BinIds dbo.IdArray READONLY,
	@ShelfID      INT = NULL,
	@NumberOfBins INT = 0,
	@ChargeImmediately BIT,
	@ChargeDate DATETIME = NULL,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION
		
		DECLARE @TenantName VARCHAR(150);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @TenantStorageType VARCHAR(50);

		-- Check if TenantCode is at least 6 characters long
        IF LEN(@TenantCode) < 6
        BEGIN
			SET @Message = 'TenantCode must be at least 6 characters long.'
			ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Check for TenantCode not existed
		SELECT @TenantName = TenantName,
			   @TenantStorageType = StorageType
		FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0;
        IF @TenantName IS NULL
        BEGIN
            SET @Message = 'TenantCode does not exist.';
			ROLLBACK TRANSACTION;
            RETURN;
        END
		
		IF (SELECT COUNT(*) FROM @BinIds) = 0 AND @ShelfID IS NULL
		BEGIN
			SET @Message = 'There are no Bin to allocate.';
			ROLLBACK TRANSACTION;
			RETURN;
		END;

		DECLARE @AllBinIds dbo.IdArray;

		IF @ShelfID IS NOT NULL AND @NumberOfBins > 0
		BEGIN

			INSERT INTO @AllBinIds (Value)
			SELECT TOP (@NumberOfBins) b.LocBinID
			FROM LocBin b
			LEFT JOIN dbo.BinTenantAllocation bta ON bta.BinID = b.LocBinID AND bta.Deleted = 0
			WHERE b.LocShelfID = @ShelfID AND b.Deleted = 0 AND bta.BinID IS NULL;

			DECLARE @Count INT;
			SELECT @Count = COUNT(*) FROM @AllBinIds

			IF @Count = 0 OR @Count < @NumberOfBins
			BEGIN
				SET @Message = 'There are no Bin or not enough Bin to allocate.';
				ROLLBACK TRANSACTION;
				RETURN;
			END;

		END
		ELSE
		BEGIN
			INSERT INTO @AllBinIds (Value) 
			SELECT (Value) FROM @BinIds;

			IF EXISTS (
				SELECT 1 
				FROM dbo.BinTenantAllocation bta
				JOIN @AllBinIds ac ON bta.BinID = ac.Value
				WHERE bta.Deleted = 0 AND bta.TenantCode != @TenantCode
			)
			BEGIN
				SET @Message = 'One or more bins are already allocated to another tenant.';
				ROLLBACK TRANSACTION;
				RETURN;
			END;
		END

		IF EXISTS (
			SELECT 1
			FROM LocSBin sb
			WHERE sb.LocBinID IN (SELECT Value FROM @AllBinIds) 
			AND sb.SBinType = 'Pallet'
		)
		BEGIN
			SET @Message = 'Cannot allocate Pallet to Tenant. Please check again.';
			ROLLBACK TRANSACTION;
			RETURN;
		END;

		IF @TenantStorageType IS NOT NULL AND @TenantStorageType = 'Manual'
		BEGIN
			SET @Message = 'Bin Allocated are not allowed for the Tenant Storage Type is Manual';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- get warehoue code
		SELECT @WarehouseCode = w.WarehouseCode
		FROM LocBin b
		JOIN LocShelf sf ON b.LocShelfID = sf.LocShelfID
		JOIN LocColumn c ON sf.LocColumnID = c.LocColumnID
		JOIN LocRow r ON c.LocRowID = r.LocRowID
		JOIN LocSection s ON r.LocSectionID = s.LocSectionID
		JOIN LocArea a ON s.LocAreaID = a.LocAreaID
		JOIN LocWarehouse w ON a.LocWarehouseID = w.LocWarehouseID
		WHERE b.LocBinID IN (SELECT (Value) FROM @AllBinIds);
		

		-- remove existed 
		DELETE ac
		FROM @AllBinIds ac
		JOIN dbo.BinTenantAllocation bta ON bta.BinID = ac.Value
		WHERE bta.Deleted = 0 AND bta.TenantCode = @TenantCode;
				
		IF @ChargeDate IS NULL
		BEGIN
			SET @ChargeDate = DATEADD(DAY, 1 - DATEPART(WEEKDAY, GETDATE()), CAST(GETDATE() AS DATE));
		END

		--insert
		INSERT INTO dbo.BinTenantAllocation 
			(TenantCode, TenantName, SectionID, RowID, ColumnID, ShelfID, BinID, AllocationDate, Deleted, CreatedDateTime, CreatedBy)
		SELECT 
			@TenantCode,  
			@TenantName,
			A.LocSectionID,
			A.LocRowID,
			A.LocColumnID,
			A.LocShelfID,
			A.LocBinID,
			@ChargeDate,          
			0,                   
			@CreatedDateTime,   
			@CreatedBy          
		FROM 
		(
			SELECT 
				s.LocSectionID,
				r.LocRowID,
				c.LocColumnID,
				sh.LocShelfID,
				b.LocBinID
			FROM 
				LocBin b
			JOIN 
				LocShelf sh ON b.LocShelfID = sh.LocShelfID
			JOIN 
				LocColumn c ON sh.LocColumnID = c.LocColumnID
			JOIN 
				LocRow r ON c.LocRowID = r.LocRowID
			JOIN 
				LocSection s ON r.LocSectionID = s.LocSectionID
			WHERE 
				b.LocBinID IN (SELECT [Value] FROM @AllBinIds)
		) AS A

		-- Charging
		IF @ChargeImmediately = 1
		BEGIN
			 PRINT 'Charge Immediately';
			 DECLARE @Qty INT;
			 SELECT @Qty = COUNT(*) FROM @BinIds;

			 EXEC [dbo].[SP_VI_TBL_Invoice_InsertBinAllocationInvoice]
				@TenantCode = @TenantCode,
				@WarehouseCode = @WarehouseCode,
				@Qty = @Qty,
				@CreatedDateTime = @CreatedDateTime,
				@CreatedBy = @CreatedBy,
				@Message = @Message OUTPUT;	
		END
		ELSE  
		BEGIN
			 PRINT 'Charge Next Month';
			 --@ChargeDate
		END

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
