USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_CheckUploadOrderItems]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<Check Upload Order Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_CheckUploadOrderItems]  
	@TenantCode VARCHAR(10),
	@Items dbo.ParameterArray READONLY, -- name is ItemNumber nad Value is ItemName
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

    SET NOCOUNT ON;

	SET @Message = '';

	IF EXISTS (
		SELECT 1
		FROM @Items ii
		LEFT JOIN dbo.Items i 
			ON ii.[Name] = i.ItemNumber AND ii.[Value] = i.ItemName AND i.TenantCode = @TenantCode AND i.Deleted = 0
		WHERE i.ItemID IS NULL
	)
	BEGIN
		SET @Message = 'One or more Item Number Or Item Name do not exist for the given TenantCode.';
		RETURN;
	END

END
GO
