USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_UpdateReportSchedule]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Jan, 2025>
-- Description:	<Update Report Schedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_UpdateReportSchedule] 
	@ReportScheduleID INT,
	@ReportName VARCHAR(100),
    @Interval VARCHAR(50),
	@Output VARCHAR(50),
	@Mandatory BIT = 0,
    @StoreProcedure VARCHAR(200) = NULL,
	@Description VARCHAR(1000) = NULL,
	@ReportType VARCHAR(50) = NULL,
	@SixtyFiveDayChecked BIT = 0,
	@WarehouseCode VARCHAR(20),
	@CurrentData BIT = 0,
	@Invoice BIT = 0,
	@FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy         VARCHAR(100) = NULL,
	@LastEditedDateTime     DATETIME = NULL,
	@LastEditedBy          VARCHAR(100) = NULL,
	@Message				VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

        -- Check if the ReportScheduleID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.ReportSchedule WHERE ReportScheduleID = @ReportScheduleID AND Deleted = 0)
        BEGIN
            SET @Message = 'ReportScheduleID does not exist or has been deleted.';
			ROLLBACK TRANSACTION;
            RETURN;
        END

		DECLARE @DayDuration INT;

		IF @SixtyFiveDayChecked = 1
		BEGIN
			SET @DayDuration = 65;
		END
	
        -- Update the ReportSchedule table, excluding TenantCode and Deleted fields
        UPDATE dbo.ReportSchedule
        SET
		    Mandatory = @Mandatory,
			WarehouseCode = @WarehouseCode,
			CurrentData = @CurrentData,
			Invoice = @Invoice,
            ReportName = COALESCE(@ReportName, ReportName),
			Interval = COALESCE(@Interval, Interval),
			[Output] = COALESCE(@Output, [Output]),
			[Description] = COALESCE(@Description, [Description]),
			ReportType = COALESCE(@ReportType, ReportType),
			DayDuration = @DayDuration,
			StoreProcedureName = COALESCE(@StoreProcedure, StoreProcedureName),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE ReportScheduleID = @ReportScheduleID;

		IF @Mandatory = 1
		BEGIN
			DECLARE @NewReportScheduleID INT;
			SET @NewReportScheduleID =  @ReportScheduleID;

			-- update deleted 
			DELETE dbo.TenantReportSchedule
			WHERE ReportScheduleID = @ReportScheduleID;

			DECLARE @InnerMessage VARCHAR(4000);
			DECLARE @AllTenant BIT = 1; -- Set to TRUE
			DECLARE @TenantIds dbo.IdArray;

			EXEC SP_VI_TBL_ReportSchedule_ApplyReportSchedule 
					@ReportScheduleID = @NewReportScheduleID,
					@AllTenant = @AllTenant,
					@TenantIds = @TenantIds,
					@Message = @InnerMessage OUTPUT;

		END

		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
