USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_SectionPrinter_InsertSectionPrinter]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Insert SectionPrinter>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_SectionPrinter_InsertSectionPrinter]  	
	@SectionID INT,
    @LabelPrinter VARCHAR(500),
	@DesktopPrinter VARCHAR(500),   
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate SectionPrinterName
		 IF EXISTS(SELECT 1 FROM dbo.SectionPrinter WHERE SectionID = @SectionID AND Deleted = 0)
		 BEGIN
			 SET @Message = 'SectionPrinter already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		DECLARE @WarehouseCode VARCHAR(5),
				@AreaID INT,
				@WarehouseID INT,
				@SectionName VARCHAR(100);

		SELECT @AreaID = LocAreaID,
		       @SectionName = SectionName
		FROM dbo.LocSection
		WHERE LocSectionID = @SectionID AND Deleted = 0;

		SELECT @WarehouseID = LocWarehouseID
		FROM dbo.LocArea
		WHERE LocAreaID = @AreaID AND Deleted = 0;

		SELECT @WarehouseCode = WarehouseCode
		FROM dbo.LocWarehouse
		WHERE LocWarehouseID = @WarehouseID AND Deleted = 0;

		DECLARE @SectionPrinterID INT;
		SELECT @SectionPrinterID = SectionPrinterID FROM dbo.SectionPrinter WHERE SectionID = @SectionID AND Deleted = 1;
        
		 IF @SectionPrinterID IS NULL
		 BEGIN
			 -- Insert into SectionPrinter table
			INSERT INTO dbo.SectionPrinter
			(
				WarehouseCode,
				AreaID,
				SectionID,
				SectionName,
				LabelPrinter,
				DesktopPrinter,				
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@WarehouseCode,
				@AreaID,
				@SectionID,
				@SectionName,
				@LabelPrinter,
				@DesktopPrinter,  
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)
		END
		ELSE
		BEGIN
			UPDATE dbo.SectionPrinter
			SET
				Deleted = 0,
				LabelPrinter = COALESCE(@LabelPrinter, LabelPrinter),
				DesktopPrinter = COALESCE(@DesktopPrinter, DesktopPrinter),				
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime =  NULL,
				LastEditedBy =  NULL,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			WHERE SectionPrinterID = @SectionPrinterID
		END
        
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
