USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_ViewTenantLockInfo]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Mar, 2025>
-- Description:	<Get detail Lock information of tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_ViewTenantLockInfo] 
	@TenantID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10);
    
    -- Retrieve the TenantCode based on the provided TenantID
    SELECT @TenantCode = TenantCode 
    FROM dbo.Tenant 
    WHERE TenantID = @TenantID AND DELETED = 0;

    -- Insert statements for procedure here
	SELECT tl.*, lw.WarehouseName 
	FROM dbo.TenantLock tl 
	LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = tl.WarehouseCode
	WHERE tl.TenantCode = @TenantCode AND tl.DELETED = 0;
END
GO
