USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ServiceLine_ListServiceLines]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<List Service Lines>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ServiceLine_ListServiceLines] 
	@ServiceID INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT * FROM dbo.ServiceLine WHERE ServiceID = @ServiceID AND Deleted = 0;
END
GO
