USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DHLShipment_InsertDHLShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Oct, 2025>
-- Description:	<Insert DHL Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DHLShipment_InsertDHLShipment]  
    @FulfilmentOrder VARCHAR(50),	
	@BoxSize dbo.BoxSizeType READONLY,
	@IsOneBox BIT,	
	@PrinterDPI INT = 200,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@WarehouseCode  VARCHAR(10) OUTPUT,
	@TenantCode VARCHAR(10) OUTPUT,
	@AccountNumber NVARCHAR(50) OUTPUT,
	@Token NCHAR(100) OUTPUT,
	@NewShipmentID  INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @IntegrationID INT,	
			@FulfilmentID INT,
			@CarrierServiceID INT,
			@Carrier VARCHAR(500),
			@SourceOrderNumber VARCHAR(50),
			@OrderSource VARCHAR(50),
			@ServiceName VARCHAR(50),
			@accounts_number_Shipper NVARCHAR(24),
			@accounts_number_Payer NVARCHAR(24);

		SELECT  @FulfilmentID = FulfilmentID,
				@TenantCode = TenantCode, 
				@WarehouseCode = WarehouseCode, 
				@OrderSource = OrderSource,
				@SourceOrderNumber = order_number,
				@Carrier = Carrier				
		FROM dbo.Fulfilment
		WHERE OrderNumber = @FulfilmentOrder AND Deleted = 0;

		SELECT @IntegrationID = IntegrationID,
			   @accounts_number_Shipper = AccountNumber,
			   @accounts_number_Payer = TenantAccountNumber,
			   @AccountNumber = UserName,
			   @Token = [Password]
		FROM dbo.DHLIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0; 

		IF @IntegrationID IS NOT NULL
		BEGIN
			IF @OrderSource = 'Manual'
			BEGIN
			
				SELECT @ServiceName = CarrierService
				FROM dbo.Orders
				WHERE order_number = @SourceOrderNumber AND Deleted = 0;
				
			END
			ELSE  -- Not manual
			BEGIN

				SET @Carrier = REPLACE(@Carrier COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       'DHL Express ' COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       '');

				SELECT 
					 @ServiceName = l.ServiceName
				FROM dbo.DHLIntegrationLine l 				
				where l.Deleted = 0 
						AND l.IntegrationID = @IntegrationID 
						AND l.OrderType COLLATE SQL_Latin1_General_CP1_CI_AS = @OrderSource COLLATE SQL_Latin1_General_CP1_CI_AS						
						AND l.OrderServiceName = @Carrier;
			END

			-- ========== Declare local variables for all fields ==========
			DECLARE 
				@MessageReference NVARCHAR(100),
				@plannedShippingDateAndTime NVARCHAR(60),
				@pickup_isRequested BIT = 1,
				@closeTime NVARCHAR(5) = N'16:00',
				@location NVARCHAR(50), -- Suburb
				@productCode NVARCHAR(12) = N'P',
				@localProductCode NVARCHAR(6) = N'P',
				@getRateEstimates BIT = 1,
				@accounts_typeCode_Shipper NVARCHAR(30) = N'shipper',				 
				@accounts_typeCode_Payer NVARCHAR(30) = N'payer',				
				@valueAddedServices_serviceCode NVARCHAR(12) = N'',
				@valueAddedServices_value DECIMAL(10,2) = NULL,
				@valueAddedServices_currency NVARCHAR(6) = N'',
				@valueAddedServices_serviceCode2 NVARCHAR(12) = N'WY',
				@outputImageProperties_printerDPI INT = @PrinterDPI,
				@outputImageProperties_encodingFormat NCHAR(10) = 'zpl',
				@outputImageProperties_splitTransportAndWaybillDocLabels BIT = 1,
				@outputImageProperties_allDocumentsInOneImage BIT = 0,
				@outputImageProperties_splitDocumentsByPages BIT = 0,
				@outputImageProperties_splitInvoiceAndReceipt BIT = 1,
				@outputImageProperties_receiptAndLabelsInOneImage BIT = 0,
				@SD_postalCode NVARCHAR(24), -- Warehouse info
				@SD_cityName NVARCHAR(90), -- Warehouse info
				@SD_countryCode NVARCHAR(4), -- Warehouse info
				@SD_provinceCode NVARCHAR(70), -- Warehouse info
				@SD_addressLine1 NVARCHAR(90), -- Warehouse info
				@SD_addressLine2 NVARCHAR(90), -- Warehouse info
				@SD_countryName NVARCHAR(90), -- Warehouse info
				@SD_CI_email NVARCHAR(140), -- Warehouse info
				@SD_CI_phone NVARCHAR(140), -- Warehouse info
				@SD_CI_mobilePhone NVARCHAR(140), -- Warehouse info
				@SD_CI_companyName NVARCHAR(200), -- Tenant info
				@SD_CI_fullName NVARCHAR(500) = N'', 
				@SD_RN_typeCode NVARCHAR(6)= N'', 
				@SD_RN_number NVARCHAR(70)= N'', 
				@SD_RN_issuerCountryCode NVARCHAR(4)= N'', 
				@SD_BD_name NVARCHAR(120)= N'', 
				@SD_BD_settlementLocalCurrency NVARCHAR(6)= N'', 
				@SD_BD_settlementForeignCurrency NVARCHAR(6)= N'', 
				@SD_typeCode NVARCHAR(50) = N'business',
				@RD_postalCode NVARCHAR(24), -- Receivie info
				@RD_cityName NVARCHAR(90), -- Receivie info
				@RD_countryCode NVARCHAR(4), -- Receivie info
				@RD_provinceCode NVARCHAR(70), -- Receivie info
				@RD_addressLine1 NVARCHAR(90), -- Receivie info
				@RD_addressLine2 NVARCHAR(90), -- Receivie info
				@RD_countryName NVARCHAR(90), -- Receivie info
				@RD_CI_email NVARCHAR(140), -- Receivie info
				@RD_CI_phone NVARCHAR(140), -- Receivie info
				@RD_CI_mobilePhone NVARCHAR(140) = N'', -- Receivie info
				@RD_CI_companyName NVARCHAR(200), -- Receivie info
				@RD_CI_fullName NVARCHAR(500), -- Receivie info
				@RD_RN_typeCode NVARCHAR(6)= N'', 
				@RD_RN_number NVARCHAR(70)= N'', 
				@RD_RN_issuerCountryCode NVARCHAR(4)= N'', 
				@RD_BD_name NVARCHAR(120)= N'', 
				@RD_BD_settlementLocalCurrency NVARCHAR(6)= N'', 
				@RD_BD_settlementForeignCurrency NVARCHAR(6)= N'', 
				@RD_typeCode NVARCHAR(50) = N'business',
				@content_isCustomsDeclarable BIT = 1,
				@content_declaredValue DECIMAL(18,2),  -- calculate
				@content_declaredValueCurrency NVARCHAR(6) = 'AUD',
				@invoice_number NVARCHAR(50),
				@invoice_date NVARCHAR(20),
				@invoice_instructions NVARCHAR(30) = N'Handle with care',
				@invoice_totalNetWeight DECIMAL(18,3), -- calculate
				@invoice_totalGrossWeight DECIMAL(18,3),
				@invoice_customerReferences_typeCode NVARCHAR(6) = N'CU',
				@invoice_customerReferences_value NVARCHAR(50),
				@invoice_termsOfPayment NVARCHAR(50),
				@invoice_indicativeCustomsValues_importCustomsDutyValue DECIMAL(18,2),
				@invoice_indicativeCustomsValues_importTaxesValue DECIMAL(18,2),
				@remarks_value NVARCHAR(500), 
				@destinationPortName NVARCHAR(200),
				@placeOfIncoterm NVARCHAR(200),
				@payerVATNumber NVARCHAR(50),
				@recipientReference NVARCHAR(100),
				@exporter_id NVARCHAR(50),
				@exporter_code NVARCHAR(50),
				@packageMarks NVARCHAR(200),
				@declarationNotes_value NVARCHAR(1400),
				@exportReference NVARCHAR(80),
				@exportReason NVARCHAR(60) = N'Purchased Items',
				@exportReasonType NVARCHAR(60) = N'permanent',
				@licenses_typeCode NVARCHAR(50),
				@licenses_value NVARCHAR(32),
				@shipmentType NVARCHAR(50) = N'commercial',
				@customsDocuments_typeCode NVARCHAR(6) = N'INV',
				@customsDocuments_value NVARCHAR(300),
				@description NVARCHAR(140)  = N'Shipment',
				@USFilingTypeValue NVARCHAR(40) = N'',
				@incoterm NVARCHAR(6),
				@unitOfMeasurement NVARCHAR(50) = N'metric',
				@shipmentNotification_typeCode NVARCHAR(50) = N'email',
				@shipmentNotification_receiverId NVARCHAR(100),
				@shipmentNotification_languageCode NVARCHAR(6) = N'eng',
				@shipmentNotification_languageCountryCode NVARCHAR(4) = N'UK',
				@shipmentNotification_bespokeMessage NVARCHAR(500),
				@prepaidCharges_typeCode NVARCHAR(50),
				@prepaidCharges_currency NVARCHAR(6),
				@prepaidCharges_value DECIMAL(18,2),
				@prepaidCharges_method NVARCHAR(50),
				@estimatedDeliveryDate_isRequested BIT,
				@estimatedDeliveryDate_typeCode NVARCHAR(8),
				@getAdditionalInformation_typeCode NVARCHAR(50),
				@getAdditionalInformation_isRequested BIT,
				@SupportDocument1 NVARCHAR(150),
				@typeCode1 NVARCHAR(6) = N'INV',
				@imageFormat1 NVARCHAR(8) = N'PDF',
				@SupportDocument2 NVARCHAR(150),
				@typeCode2 NVARCHAR(6) = N'INV',
				@imageFormat2 NVARCHAR(8) = N'PDF',
				@SupportDocument3 NVARCHAR(150),
				@typeCode3 NVARCHAR(6),
				@imageFormat3 NVARCHAR(8);

			SET @MessageReference = @FulfilmentOrder;				
			
			DECLARE @offsetMinutes INT;
			DECLARE @sign CHAR(1);
			DECLARE @hours INT;
			DECLARE @minutes INT;
			DECLARE @offset NVARCHAR(6);
			DECLARE @plannedDateTime DATETIME;		

			-- Define DHL cutoff and next-day start times
			DECLARE @cutoffHour INT = 15;   -- 3 PM cutoff for same-day pickups
			DECLARE @nextDayHour INT = 9;   -- 9 AM next-day pickup start

			-- Check current date/time
			DECLARE @currentDate DATE = CAST(GETDATE() AS DATE);
			DECLARE @currentTime TIME = CAST(GETDATE() AS TIME);
			DECLARE @dayOfWeek INT = DATEPART(WEEKDAY, @currentDate); -- Sunday=1, Monday=2, ..., Saturday=7

			-- If today is Saturday (7) or Sunday (1), schedule for next Monday at 09:00
			IF (@dayOfWeek IN (1,7))
			BEGIN
				DECLARE @daysToAdd INT = CASE 
											WHEN @dayOfWeek = 7 THEN 2  -- Saturday → Monday
											WHEN @dayOfWeek = 1 THEN 1  -- Sunday → Monday
										 END;
				SET @plannedDateTime = DATEADD(HOUR, @nextDayHour, DATEADD(DAY, @daysToAdd, CAST(@currentDate AS DATETIME)));
			END
			ELSE
			BEGIN
				-- If current time is past cutoff, schedule next working day (also skip weekend)
				IF (DATEPART(HOUR, @currentTime) >= @cutoffHour)
				BEGIN
					SET @plannedDateTime = DATEADD(HOUR, @nextDayHour, CAST(DATEADD(DAY, 1, @currentDate) AS DATETIME));

					-- If next day is Saturday → move to Monday
					IF (DATEPART(WEEKDAY, DATEADD(DAY, 1, @currentDate)) = 7)
						SET @plannedDateTime = DATEADD(HOUR, @nextDayHour, CAST(DATEADD(DAY, 3, @currentDate) AS DATETIME));
					-- If next day is Sunday → move to Monday
					ELSE IF (DATEPART(WEEKDAY, DATEADD(DAY, 1, @currentDate)) = 1)
						SET @plannedDateTime = DATEADD(HOUR, @nextDayHour, CAST(DATEADD(DAY, 2, @currentDate) AS DATETIME));
				END
				ELSE
					-- Otherwise schedule today at 14:00
					SET @plannedDateTime = DATEADD(HOUR, 14, CAST(@currentDate AS DATETIME));
			END

			-- Calculate offset between local time and UTC
			SET @offsetMinutes = DATEDIFF(MINUTE, GETDATE(), GETDATE());
			SET @sign = CASE WHEN @offsetMinutes < 0 THEN '-' ELSE '+' END;
			SET @hours = ABS(@offsetMinutes) / 60;
			SET @minutes = ABS(@offsetMinutes) % 60;

			-- Format offset as +hh:mm
			SET @offset = @sign
						+ RIGHT('0' + CAST(@hours AS NVARCHAR(2)), 2)
						+ ':'
						+ RIGHT('0' + CAST(@minutes AS NVARCHAR(2)), 2);

			-- Build planned shipping date with GMT offset
			SET @plannedShippingDateAndTime =
				CONVERT(NVARCHAR(19), @plannedDateTime, 126) + ' GMT' + @offset;


			SET @invoice_date = CONVERT(NVARCHAR(60), CAST(GETDATE() AS DATE), 23);
			
			SET @invoice_number = @FulfilmentOrder + '-' + @SourceOrderNumber;
			SET @invoice_customerReferences_value = 'CU-' + @SourceOrderNumber;
			SET @exportReference = @FulfilmentOrder + '-' + @SourceOrderNumber;
			SET @customsDocuments_value = @FulfilmentOrder + '-' + @SourceOrderNumber; 
			SET @shipmentNotification_bespokeMessage = @FulfilmentOrder + '-' + @SourceOrderNumber; 
			SET @incoterm = @ServiceName;

			-- get location
			SELECT @location = WSuburb,
			       @SD_postalCode = WPostcode,
				   @SD_cityName = WState,
				   @SD_provinceCode = WState,
				   @SD_countryCode = dbo.fn_GetCountryCode(WCountry),
				   @SD_countryName = WCountry,
				   @SD_addressLine1 = WAddressLine1,
				   @SD_addressLine2 = WAddressLine2,
				   @SD_CI_email = Email,
				   @SD_CI_phone = Phone,
				   @SD_CI_mobilePhone = Phone
			FROM dbo.LocWarehouse
			WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

			SELECT @SD_CI_companyName = TenantName				 
			FROM dbo.Tenant
			WHERE TenantCode = @TenantCode AND Deleted = 0;

			SET @SD_CI_fullName = @SD_CI_companyName;
		
			IF @OrderSource = 'Manual'
			BEGIN
				SELECT  @RD_addressLine1 = shipping_address_address1,
						@RD_addressLine2 = shipping_address_address2,
						@RD_CI_phone = Phone,
						@RD_CI_email = contact_email,
						@RD_CI_fullName = shipping_address_name,
						@RD_CI_companyName = shipping_address_company,							
						@RD_cityName = shipping_address_city,
						@RD_provinceCode = shipping_address_province,
						@RD_postalCode = shipping_address_zip,
						@RD_countryName = shipping_address_country,
						@RD_countryCode = dbo.fn_GetCountryCode(shipping_address_country)
					FROM dbo.Orders
					WHERE Deleted = 0 ANd order_number = @SourceOrderNumber;
			
			END
			ELSE  -- Not manual
			BEGIN
				SELECT  @RD_CI_fullName = shipping_address_name,
						@RD_CI_companyName = shipping_address_company,
						@RD_addressLine1 = shipping_address_address1,
						@RD_addressLine2 = shipping_address_address2,
						@RD_cityName = shipping_address_city,
						@RD_provinceCode = shipping_address_province,
						@RD_postalCode = shipping_address_zip,				  
						@RD_CI_phone = Phone,
						@RD_CI_email = contact_email,
						@RD_countryName = shipping_address_country,
						@RD_countryCode = dbo.fn_GetCountryCode(shipping_address_country)
				FROM dbo.Fulfilment
				WHERE FulfilmentID = @FulfilmentID AND Deleted = 0;
			END

			SET @shipmentNotification_receiverId = @RD_CI_email;	
			
			if @RD_CI_companyName  IS NULL
			BEGIN
				SET @RD_CI_companyName = @RD_CI_fullName;
			END

			-- ========== Insert ==========
			INSERT INTO [dbo].[DHLShipment]
			(
				[MessageReference],
				[plannedShippingDateAndTime],
				[pickup_isRequested],
				[closeTime],
				[location],
				[productCode],
				[localProductCode],
				[getRateEstimates],
				[accounts_typeCode_Shipper],
				[accounts_number_Shipper],
				[accounts_typeCode_Payer],
				[accounts_number_Payer],
				[valueAddedServices_serviceCode],
				[valueAddedServices_value],
				[valueAddedServices_currency],
				[valueAddedServices_serviceCode2],
				[outputImageProperties_printerDPI],
				[outputImageProperties_encodingFormat],
				[outputImageProperties_splitTransportAndWaybillDocLabels],
				[outputImageProperties_allDocumentsInOneImage],
				[outputImageProperties_splitDocumentsByPages],
				[outputImageProperties_splitInvoiceAndReceipt],
				[outputImageProperties_receiptAndLabelsInOneImage],
				[SD_postalCode],
				[SD_cityName],
				[SD_countryCode],
				[SD_provinceCode],
				[SD_addressLine1],
				[SD_addressLine2],
				[SD_countryName],
				[SD_CI_email],
				[SD_CI_phone],
				[SD_CI_mobilePhone],
				[SD_CI_companyName],
				[SD_CI_fullName],
				[SD_RN_typeCode],
				[SD_RN_number],
				[SD_RN_issuerCountryCode],
				[SD_BD_name],
				[SD_BD_settlementLocalCurrency],
				[SD_BD_settlementForeignCurrency],
				[SD_typeCode],
				[RD_postalCode],
				[RD_cityName],
				[RD_countryCode],
				[RD_provinceCode],
				[RD_addressLine1],
				[RD_addressLine2],
				[RD_countryName],
				[RD_CI_email],
				[RD_CI_phone],
				[RD_CI_mobilePhone],
				[RD_CI_companyName],
				[RD_CI_fullName],
				[RD_RN_typeCode],
				[RD_RN_number],
				[RD_RN_issuerCountryCode],
				[RD_BD_name],
				[RD_BD_settlementLocalCurrency],
				[RD_BD_settlementForeignCurrency],
				[RD_typeCode],
				[content_isCustomsDeclarable],
				[content_declaredValue],
				[content_declaredValueCurrency],
				[invoice_number],
				[invoice_date],
				[invoice_instructions],
				[invoice_totalNetWeight],
				[invoice_totalGrossWeight],
				[invoice_customerReferences_typeCode],
				[invoice_customerReferences_value],
				[invoice_termsOfPayment],
				[invoice_indicativeCustomsValues_importCustomsDutyValue],
				[invoice_indicativeCustomsValues_importTaxesValue],
				[remarks_value],
				[destinationPortName],
				[placeOfIncoterm],
				[payerVATNumber],
				[recipientReference],
				[exporter_id],
				[exporter_code],
				[packageMarks],
				[declarationNotes_value],
				[exportReference],
				[exportReason],
				[exportReasonType],
				[licenses_typeCode],
				[licenses_value],
				[shipmentType],
				[customsDocuments_typeCode],
				[customsDocuments_value],
				[description],
				[USFilingTypeValue],
				[incoterm],
				[unitOfMeasurement],
				[shipmentNotification_typeCode],
				[shipmentNotification_receiverId],
				[shipmentNotification_languageCode],
				[shipmentNotification_languageCountryCode],
				[shipmentNotification_bespokeMessage],
				[prepaidCharges_typeCode],
				[prepaidCharges_currency],
				[prepaidCharges_value],
				[prepaidCharges_method],
				[estimatedDeliveryDate_isRequested],
				[estimatedDeliveryDate_typeCode],
				[getAdditionalInformation_typeCode],
				[getAdditionalInformation_isRequested],
				[SupportDocument1],
				[typeCode1],
				[imageFormat1],
				[SupportDocument2],
				[typeCode2],
				[imageFormat2],
				[SupportDocument3],
				[typeCode3],
				[imageFormat3],
				[WarehouseCode],
				[TenantCode],
				[Deleted],
				[CreatedDateTime],
				[CreatedBy]
			)
			VALUES
			(
				@MessageReference,
				@plannedShippingDateAndTime,
				@pickup_isRequested,
				@closeTime,
				@location,
				@productCode,
				@localProductCode,
				@getRateEstimates,
				@accounts_typeCode_Shipper,
				@accounts_number_Shipper,
				@accounts_typeCode_Payer,
				@accounts_number_Payer,
				@valueAddedServices_serviceCode,
				@valueAddedServices_value,
				@valueAddedServices_currency,
				@valueAddedServices_serviceCode2,
				@outputImageProperties_printerDPI,
				@outputImageProperties_encodingFormat,
				@outputImageProperties_splitTransportAndWaybillDocLabels,
				@outputImageProperties_allDocumentsInOneImage,
				@outputImageProperties_splitDocumentsByPages,
				@outputImageProperties_splitInvoiceAndReceipt,
				@outputImageProperties_receiptAndLabelsInOneImage,
				@SD_postalCode,
				@SD_cityName,
				@SD_countryCode,
				@SD_provinceCode,
				@SD_addressLine1,
				@SD_addressLine2,
				@SD_countryName,
				@SD_CI_email,
				@SD_CI_phone,
				@SD_CI_mobilePhone,
				@SD_CI_companyName,
				@SD_CI_fullName,
				@SD_RN_typeCode,
				@SD_RN_number,
				@SD_RN_issuerCountryCode,
				@SD_BD_name,
				@SD_BD_settlementLocalCurrency,
				@SD_BD_settlementForeignCurrency,
				@SD_typeCode,
				@RD_postalCode,
				@RD_cityName,
				@RD_countryCode,
				@RD_provinceCode,
				@RD_addressLine1,
				@RD_addressLine2,
				@RD_countryName,
				@RD_CI_email,
				@RD_CI_phone,
				@RD_CI_mobilePhone,
				@RD_CI_companyName,
				@RD_CI_fullName,
				@RD_RN_typeCode,
				@RD_RN_number,
				@RD_RN_issuerCountryCode,
				@RD_BD_name,
				@RD_BD_settlementLocalCurrency,
				@RD_BD_settlementForeignCurrency,
				@RD_typeCode,
				@content_isCustomsDeclarable,
				@content_declaredValue,
				@content_declaredValueCurrency,
				@invoice_number,
				@invoice_date,
				@invoice_instructions,
				@invoice_totalNetWeight,
				@invoice_totalGrossWeight,
				@invoice_customerReferences_typeCode,
				@invoice_customerReferences_value,
				@invoice_termsOfPayment,
				@invoice_indicativeCustomsValues_importCustomsDutyValue,
				@invoice_indicativeCustomsValues_importTaxesValue,
				@remarks_value,
				@destinationPortName,
				@placeOfIncoterm,
				@payerVATNumber,
				@recipientReference,
				@exporter_id,
				@exporter_code,
				@packageMarks,
				@declarationNotes_value,
				@exportReference,
				@exportReason,
				@exportReasonType,
				@licenses_typeCode,
				@licenses_value,
				@shipmentType,
				@customsDocuments_typeCode,
				@customsDocuments_value,
				@description,
				@USFilingTypeValue,
				@incoterm,
				@unitOfMeasurement,
				@shipmentNotification_typeCode,
				@shipmentNotification_receiverId,
				@shipmentNotification_languageCode,
				@shipmentNotification_languageCountryCode,
				@shipmentNotification_bespokeMessage,
				@prepaidCharges_typeCode,
				@prepaidCharges_currency,
				@prepaidCharges_value,
				@prepaidCharges_method,
				@estimatedDeliveryDate_isRequested,
				@estimatedDeliveryDate_typeCode,
				@getAdditionalInformation_typeCode,
				@getAdditionalInformation_isRequested,
				@SupportDocument1,
				@typeCode1,
				@imageFormat1,
				@SupportDocument2,
				@typeCode2,
				@imageFormat2,
				@SupportDocument3,
				@typeCode3,
				@imageFormat3,
				@WarehouseCode,
				@TenantCode,
				0,
				@CreatedDateTime,
				@CreatedBy
			);

			SET @NewShipmentID = SCOPE_IDENTITY();

			--------------------------------- insert image option ----------------------------------------------------------

			INSERT INTO [dbo].[DHLImageOptions]
			(
				ShipmentID
				,typeCode
				,templateName
				,isRequested				
				,invoiceType
				,languageCode
				,languageCountryCode						
				,Deleted
				,CreatedDateTime
				,CreatedBy
			)
		   VALUES
			(
				@NewShipmentID,
				N'invoice',
				N'COMMERCIAL_INVOICE_P_10',
				1,
				N'commercial',
				N'eng',
				N'US',				
				0,
				@CreatedDateTime,
				@CreatedBy
			);
			
			INSERT INTO [dbo].[DHLImageOptions]
			(
				ShipmentID
				,typeCode
				,templateName
				,isRequested				
				,hideAccountNumber								
				,Deleted
				,CreatedDateTime
				,CreatedBy
			)
		   VALUES
			(
				@NewShipmentID,
				N'waybillDoc',
				N'ARCH_8x4',
				0,
				0,						
				0,
				@CreatedDateTime,
				@CreatedBy
			);

			INSERT INTO [dbo].[DHLImageOptions]
			(
				ShipmentID
				,typeCode
				,templateName
				,isRequested				
				,renderDHLLogo
                ,fitLabelsToA4						
				,Deleted
				,CreatedDateTime
				,CreatedBy
			)
		   VALUES
			(
				@NewShipmentID,
				N'label',
				N'ECOM26_84_001',
				1,
				1,			
				0,
				0,
				@CreatedDateTime,
				@CreatedBy
			);
			

			--------------------------------- insert line ----------------------------------------------------------------------------------
			DECLARE      
				@number INT,			
				@price DECIMAL(18,2),
				@quantity_value INT,
				@quantity_unitOfMeasurement NVARCHAR(16) = N'PCS',
				@commodityCodes_typeCode NVARCHAR(30) = N'outbound',
				@commodityCodes_value NVARCHAR(36),			
				@manufacturerCountry NVARCHAR(4) = N'AU',
				@exportControlClassificationNumber NVARCHAR(50) = N'',
				@weight_netValue DECIMAL(18,3),
				@weight_grossValue DECIMAL(18,3),
				@isTaxesPaid BIT = 1,
				@additionalInformation NVARCHAR(1000) = N'',
				@customerReferences_typeCode NVARCHAR(6) = N'',
				@customerReferences_value NVARCHAR(70) = N'';


			DECLARE @Quantity INT,
					@ItemID INT,
					@DHLDocument VARCHAR(150),
					@ItemWeight Decimal(10,2);

			SET @content_declaredValue = 0;
			SET @invoice_totalNetWeight = 0;
			SET @number = 1;
			
			DECLARE fulfilment_cursor CURSOR LOCAL FAST_FORWARD FOR
			SELECT line_items_current_quantity,ItemID
			FROM dbo.FulfilmentLine
			WHERE FulfilmentID = @FulfilmentID  AND Deleted = 0;

			OPEN fulfilment_cursor;

			FETCH NEXT FROM fulfilment_cursor 
			INTO  @Quantity, @ItemID;

			WHILE @@FETCH_STATUS = 0
			BEGIN

				-- get weight
				SELECT @ItemWeight = ISNULL(Weight,0)
				FROM dbo.ItemTradeUnit
				WHERE ItemID = @ItemID 
					AND ItemType = 'Unit'
					AND Deleted = 0;

				SELECT @price = ISNULL(ItemPrice, 0),
				       @DHLDocument = DHLDocument,
					   @commodityCodes_value = HSTariffCode
				FROM dbo.Items
				WHERE ItemID = @ItemID AND Deleted = 0;

				IF @SupportDocument1 IS NULL AND @DHLDocument IS NOT NULL
				BEGIN
					SET @SupportDocument1 = @DHLDocument;
				END

				IF @SupportDocument2 IS NULL AND @DHLDocument IS NOT NULL
				BEGIN
					SET @SupportDocument2 = @DHLDocument;
				END

				SET @quantity_value = @Quantity * @price;
				SET @content_declaredValue = @content_declaredValue + @quantity_value;
				

				SET @weight_netValue = @Quantity * @ItemWeight;
				SET @weight_grossValue = @Quantity * @ItemWeight;
				SET @invoice_totalNetWeight = @invoice_totalNetWeight + @weight_netValue;

				---------------- Insert number of items in Orders ----------------------  

				INSERT INTO [dbo].[DHLLineItems]
				(
					[ShipmentID],
					[number],
					[description],
					[price],
					[quantity_value],
					[quantity_unitOfMeasurement],
					[commodityCodes_typeCode],
					[commodityCodes_value],
					[exportReasonType],
					[manufacturerCountry],
					[exportControlClassificationNumber],
					[weight_netValue],
					[weight_grossValue],
					[isTaxesPaid],
					[additionalInformation],
					[customerReferences_typeCode],
					[customerReferences_value],
					[customsDocuments_typeCode],
					[customsDocuments_value],
					[Deleted],
					[CreatedDateTime],
					[CreatedBy]
				)
				VALUES
				(
					@NewShipmentID,
					@number,
					@description,
					@price,
					@quantity_value,
					@quantity_unitOfMeasurement,
					@commodityCodes_typeCode,
					@commodityCodes_value,
					@exportReasonType,
					@manufacturerCountry,
					@exportControlClassificationNumber,
					@weight_netValue,
					@weight_grossValue,
					@isTaxesPaid,
					@additionalInformation,
					@customerReferences_typeCode,
					@customerReferences_value,
					@customsDocuments_typeCode,
					@customsDocuments_value,
					0,
					@CreatedDateTime,
					@CreatedBy
				);

				SET @number = @number + 1;

				-- Next row
				FETCH NEXT FROM fulfilment_cursor 
				INTO  @Quantity, @ItemID;
			END

			CLOSE fulfilment_cursor;
			DEALLOCATE fulfilment_cursor;

			--------------Update @SupportDocument1, @SupportDocument2, @content_declaredValue, @invoice_totalNetWeight @invoice_totalGrossWeight ----------------------
			Update dbo.DHLShipment
			SET
				SupportDocument1 = @SupportDocument1,
				SupportDocument2 = @SupportDocument2,
				content_declaredValue = @content_declaredValue,
				invoice_totalNetWeight = @invoice_totalNetWeight,
				invoice_totalGrossWeight = @invoice_totalGrossWeight
			WHERE ShipmentID = @NewShipmentID;

			-- ----------------------------------------------- Insert Boxes --------------------------------------------------------------------------------------
			IF @IsOneBox = 1
			BEGIN
				DECLARE
					@typeCode NVARCHAR(6),
					@weight DECIMAL(10,3),
					@length DECIMAL(10,3),
					@width DECIMAL(10,0),
					@height DECIMAL(10,0),
					@CR_value NVARCHAR(70),
					@CR_typeCode NVARCHAR(6),			
					@labelDescription NVARCHAR(160);

				SET @CR_value = @FulfilmentOrder + '-' + @SourceOrderNumber; 
				SET @CR_typeCode = N'CU';
				SET @description = @TenantCode + '-' + N'Oversea Shipment';
				SET @weight = @invoice_totalNetWeight;

				SELECT 
					@length = CEILING(ISNULL(Length, 0) / 10.0),
					@height = CEILING(ISNULL(Height, 0) / 10.0),
					@width  = CEILING(ISNULL(Width, 0) / 10.0)
				FROM @BoxSize;


				INSERT INTO [dbo].[DHLPackages]
				(
					[ShipmentID],
					[typeCode],
					[weight],
					[length],
					[width],
					[height],
					[CR_value],
					[CR_typeCode],
					[description],
					[labelDescription],
					[Deleted],
					[CreatedDateTime],
					[CreatedBy]
				)
				VALUES
				(
					@NewShipmentID,
					@typeCode,
					@weight,
					@length,
					@width,
					@height,
					@CR_value,
					@CR_typeCode,
					@description,
					@labelDescription,
					0,
					@CreatedDateTime,
					@CreatedBy
				);

			END
       
		END	 -- End 	IF @IntegrationID IS NOT NULL
		ELSE
		BEGIN
			SET @Message = 'Can not insert Shipment';		
		END

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
	
END
GO
