USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_API_UpdateAPI]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Aug, 2024>
-- Description:	<Update API>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_API_UpdateAPI] 
	@APIID INT,
	@APIName VARCHAR(100),
    @APIDescription VARCHAR(1000),
	@APIDocumentationLocation VARCHAR(100),
    @APILabel VARCHAR(100),
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		BEGIN TRANSACTION

        -- Check if the APIID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.API WHERE APIID = @APIID AND Deleted = 0)
        BEGIN
            SET @Message = 'APIID does not exist or has been deleted.';
			ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.API
        SET
            APIName = COALESCE(@APIName, APIName),
			APIDescription = COALESCE(@APIDescription, APIDescription),
			APIDocumentationLocation = COALESCE(@APIDocumentationLocation, APIDocumentationLocation),
			APILabel = COALESCE(@APILabel, APILabel),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE APIID = @APIID

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
