USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_StartWaveRequest]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2025>
-- Description:	<Start Wave Request>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_StartWaveRequest] 
	@Operation VARCHAR(20),  -- Picking Sorting Packing Mailing
	@WaveNumber VARCHAR(11),
	@DefaultBoxID INT = NULL,
	@OperationDateTime DATETIME,
	@OperationBy VARCHAR(100),
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY		

		BEGIN TRANSACTION

			DECLARE @WaveID INT,
					@PickingType VARCHAR(50), 
					@WaveStatus VARCHAR(20),
					@CurrentOperation VARCHAR(50), 
					@OperationStatus VARCHAR(20), 
					@PickRequired BIT,
					@SortRequired BIT,
					@PackRequired BIT,
					@MailingRequired BIT,
					@IsCompositeItem BIT;

			DECLARE @ChildItemNumber VARCHAR(30);
			DECLARE @ChildItemName VARCHAR(250);
			DECLARE @CurrentItemID INT;
			DECLARE @CurrentQty INT;


			DECLARE @ChildItems TABLE (
				ItemID INT,
				Qty INT
			);

			IF @Operation = 'Picking'
			BEGIN
				PRINT 'Picking';

				-- get info
				SELECT @WaveID = WaveID,
					   @PickingType = PickingType,
					   @WaveStatus = WaveStatus,
					   @PickRequired = PickRequired,
					   @SortRequired = SortRequired,
					   @PackRequired = PackRequired,
					   @MailingRequired = MailingRequired,
					   @OperationStatus = StepStatus,
					   @CurrentOperation = CurrentStep
				FROM dbo.Wave
				WHERE WaveNumber = @WaveNumber AND Deleted = 0;

			END
			ELSE IF @Operation = 'Sorting'
			BEGIN
				PRINT 'Sorting';

				-- get info
				SELECT @WaveID = WaveID,
					   @PickingType = PickingType,
					   @WaveStatus = WaveStatus,
					   @SortRequired = SortRequired,
					   @PackRequired = PackRequired,
					   @MailingRequired = MailingRequired,
					   @OperationStatus = StepStatus,
					   @CurrentOperation = CurrentStep
				FROM dbo.Wave
				WHERE WaveNumber = @WaveNumber AND Deleted = 0;

			END 
			ELSE IF @Operation = 'Packing'
			BEGIN
				PRINT 'Packing';

				-- Update  default Box ID
				IF @DefaultBoxID IS NOT NULL
				BEGIN
					UPDATE dbo.Wave
					SET DefaultBoxID = @DefaultBoxID
					WHERE WaveNumber = @WaveNumber AND Deleted = 0;
				END

				DECLARE @ManualPacking BIT;
				
				-- get info
				SELECT @WaveID = WaveID,
					   @PickingType = PickingType,
					   @WaveStatus = WaveStatus,					   
					   @PackRequired = PackRequired,
					   @MailingRequired = MailingRequired,
					   @OperationStatus = StepStatus,
					   @CurrentOperation = CurrentStep,
					   @ManualPacking = ManualPacking
				FROM dbo.Wave
				WHERE WaveNumber = @WaveNumber AND Deleted = 0;

				IF @ManualPacking = 0
				BEGIN
					 SET @Message = 'This wave is set for auto packing, cannot start manual packing.'
					 ROLLBACK TRANSACTION;
					 RETURN;
				END

			END
			ELSE IF @Operation = 'Mailing'
			BEGIN
				PRINT 'Mailing';

				-- get info
				SELECT @WaveID = WaveID,
					   @PickingType = PickingType,
					   @WaveStatus = WaveStatus,
					   @MailingRequired = MailingRequired,
					   @OperationStatus = StepStatus,
					   @CurrentOperation = CurrentStep
				FROM dbo.Wave
				WHERE WaveNumber = @WaveNumber AND Deleted = 0;
			END

			IF @WaveStatus  = 'Pending' AND  @Operation <> 'Picking'
			BEGIN
				 SET @Message = 'This Wave has not been started picking yet.'
				 ROLLBACK TRANSACTION;
				 RETURN;
			END

			IF @WaveStatus  = 'Completed' 
			BEGIN
				 SET @Message = 'This Wave has already completed.'
				 ROLLBACK TRANSACTION;
				 RETURN;
			END

			IF @WaveStatus  = 'Pending'  -- not start yet
			BEGIN				
				-- Update Wave
				UPDATE dbo.Wave
				SET
					WaveStatus = 'Started',
					CurrentStep = @Operation,
					StepStatus = 'Started',
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

				UPDATE dbo.WaveLine
				SET						
					PickStatus = 'Started',
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)					
				WHERE WaveID = @WaveID AND Deleted = 0;

				UPDATE f				
				SET						
					f.FulfilmentStatus = 'Started',
					f.FirstEditedDateTime = COALESCE(@OperationDateTime, f.FirstEditedDateTime),
					f.FirstEditedBy = COALESCE(@OperationBy, f.FirstEditedBy),
					f.LastEditedDateTime = COALESCE(@OperationDateTime, f.LastEditedDateTime),
					f.LastEditedBy = COALESCE(@OperationBy, f.LastEditedBy)					
				FROM dbo.Fulfilment as f
				JOIN dbo.WaveLine as wl ON f.OrderNumber = wl.OrderNumber
				WHERE wl.WaveID = @WaveID AND wl.Deleted = 0;

				/*IF @Operation = 'Picking'
				BEGIN
							
					DECLARE @POrderNumber VARCHAR(50);
					DECLARE @SlotNumber INT;

					SET @SlotNumber = 1;

					DECLARE OrderCursor CURSOR FOR
						SELECT OrderNumber
						FROM dbo.WaveLine
						WHERE WaveID = @WaveID 
							AND Deleted = 0;

					OPEN OrderCursor;

					FETCH NEXT FROM OrderCursor INTO @POrderNumber;

					WHILE @@FETCH_STATUS = 0
					BEGIN
							
						INSERT INTO dbo.PickingInfo (
							WaveID,									
							OrderNumber,									
							SlotNumber,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VAlUES(
							@WaveID, 
							@POrderNumber, 
							@SlotNumber, 
							0, 
							@OperationDateTime,
							@OperationBy);
								
						SET @SlotNumber = @SlotNumber + 1;

						FETCH NEXT FROM OrderCursor INTO @POrderNumber;
					END;

					CLOSE OrderCursor;
					DEALLOCATE OrderCursor;
							

				END*/
						

			END
			ELSE
			BEGIN -- started					
				
				--check
				IF @CurrentOperation = @Operation
				BEGIN
					IF @OperationStatus = 'Completed'
					BEGIN
						SET @Message = @Operation + ' phase has been already completed .'
						ROLLBACK TRANSACTION;
						RETURN;
					END
					ELSE IF @OperationStatus = 'Pending'   -- Transform from previous phase
					BEGIN						
						UPDATE dbo.Wave
						SET							
							StepStatus = 'Started',
							FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
							FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
							LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
							LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
						WHERE WaveID = @WaveID AND Deleted = 0;


						DECLARE 
								@OrderNumber VARCHAR(50),
								@SourceOrderNumber VARCHAR(50),
								@ItemId      INT,
								@ItemName    VARCHAR(250),
								@ItemNumber    VARCHAR(50),
								@ULDBarcode VARCHAR(30),
								@SerialNumber VARCHAR(30),
								@ULDID INT,
								@TransactionQty INT,
								@Qty INT,
								@i INT;

						-- create data
						IF @Operation = 'Sorting'
						BEGIN
							-- Insert data to Sort Schedule
							DECLARE cur_FulfilmentItems CURSOR LOCAL FAST_FORWARD FOR
							SELECT 
								A.OrderNumber,
								A.SourceOrderNumber,
								fl.line_items_name            AS ItemName,
								fl.line_items_sku             AS ItemNumber,
								fl.line_items_current_quantity AS Qty,
								fl.ItemID 
							FROM dbo.FulfilmentLine fl
							JOIN (
								SELECT f.FulfilmentID, f.OrderNumber, f.order_number as SourceOrderNumber
								FROM dbo.WaveLine wl
								LEFT JOIN dbo.Fulfilment f 
									ON f.OrderNumber = wl.OrderNumber AND f.Deleted = 0
								WHERE wl.Deleted = 0 
								  AND wl.WaveID = @WaveID
								  AND wl.PickStatus = 'Completed'
							) AS A
								ON A.FulfilmentID = fl.FulfilmentID
							WHERE fl.Deleted = 0;

							OPEN cur_FulfilmentItems;

							FETCH NEXT FROM cur_FulfilmentItems
							INTO @OrderNumber, @SourceOrderNumber, @ItemName, @ItemNumber, @Qty, @ItemId;

							WHILE @@FETCH_STATUS = 0
							BEGIN			
							
								SELECT @IsCompositeItem = ItemIsComposite
								FROM dbo.Items
								WHERE ItemId = @ItemId AND DELETED = 0 AND CompositeType = 'Order';

								IF @IsCompositeItem IS NOT NULL AND @IsCompositeItem = 1
								BEGIN
									DELETE FROM @ChildItems;
									-- get children items
									INSERT INTO @ChildItems (ItemID, Qty)
									EXEC [dbo].[SP_VI_TBL_Items_GetAllChildrenItemsOfCompositeItem] 
										@CompositeItemID = @ItemId;

									DECLARE ChildItemCursor CURSOR LOCAL FAST_FORWARD FOR
									SELECT ItemID, Qty
									FROM @ChildItems;

									OPEN ChildItemCursor;

									FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;

									WHILE @@FETCH_STATUS = 0
									BEGIN			

										SELECT @ChildItemNumber = ItemNumber,
												@ChildItemName = ItemName
										FROm dbo.Items
										WHERE ItemID = @CurrentItemID AND DEleted = 0;
										
										DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
											SELECT DISTINCT u.ULDID, 
												   u.ULDBarcode, 
												   ul.TransactionQty,
												   ul.SerialNumber
											FROM dbo.ULDLine ul
											LEFT JOIN dbo.ULD u 
												ON u.ULDID = ul.ULDID
											WHERE ul.TransactionReference = @SourceOrderNumber 
											  AND ul.TransactionType = 'Picked' 
											  AND ul.Deleted = 0  
											  AND ul.ItemNumber = @ChildItemName;

										OPEN cur_ULDLine;

										FETCH NEXT FROM cur_ULDLine 
										INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;

										WHILE @@FETCH_STATUS = 0
										BEGIN
									
											SET @TransactionQty = -@TransactionQty * @CurrentQty;
											SET @i = 1;

											WHILE @i <= @TransactionQty
											BEGIN
												INSERT INTO dbo.SortingSchedule (
													WaveID,
													ULDID,
													ULDBarcode,
													ItemID,
													ItemNumber,
													ItemName,											
													Qty,
													OrderNumber,									
													SerialNumber,
													Deleted,
													CreatedDateTime,
													CreatedBy
												)
												VALUES (
													@WaveID,  
													@ULDID,
													@ULDBarcode,
													@CurrentItemID,                           
													@ChildItemNumber,                       
													@ChildItemName,													
													1,                               
													@OrderNumber,   
													@SerialNumber,                       
													0,                               
													@OperationDateTime,                 
													@OperationBy                    
												);

												SET @i += 1;
											END -- End While

											FETCH NEXT FROM cur_ULDLine 
											INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;
										END

										CLOSE cur_ULDLine;
										DEALLOCATE cur_ULDLine;

										FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;
									END

									CLOSE ChildItemCursor;
									DEALLOCATE ChildItemCursor;
								END
								ELSE -- End  IF @IsCompositeItem = 1
								BEGIN
									DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
										SELECT DISTINCT u.ULDID, 
											   u.ULDBarcode, 
											   ul.TransactionQty,
											   ul.SerialNumber
										FROM dbo.ULDLine ul
										LEFT JOIN dbo.ULD u 
											ON u.ULDID = ul.ULDID
										WHERE ul.TransactionReference = @SourceOrderNumber 
										  AND ul.TransactionType = 'Picked' 
										  AND ul.Deleted = 0  
										  AND ul.ItemNumber = @ItemNumber;

									OPEN cur_ULDLine;

									FETCH NEXT FROM cur_ULDLine 
									INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;

									WHILE @@FETCH_STATUS = 0
									BEGIN
									
										SET @TransactionQty = -@TransactionQty;
										SET @i = 1;

										WHILE @i <= @TransactionQty
										BEGIN
											INSERT INTO dbo.SortingSchedule (
												WaveID,
												ULDID,
												ULDBarcode,
												ItemID,
												ItemNumber,
												ItemName,											
												Qty,
												OrderNumber,									
												SerialNumber,
												Deleted,
												CreatedDateTime,
												CreatedBy
											)
											VALUES (
												@WaveID,  
												@ULDID,
												@ULDBarcode,
												@ItemId,                           
												@ItemNumber,                       
												@ItemName,													
												1,                               
												@OrderNumber,   
												@SerialNumber,                       
												0,                               
												@OperationDateTime,                 
												@OperationBy                    
											);

											SET @i += 1;
										END -- End While

										FETCH NEXT FROM cur_ULDLine 
										INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;
									END

									CLOSE cur_ULDLine;
									DEALLOCATE cur_ULDLine;
								END
										

								FETCH NEXT FROM cur_FulfilmentItems
								INTO @OrderNumber, @SourceOrderNumber, @ItemName, @ItemNumber, @Qty, @ItemId;
							END

							CLOSE cur_FulfilmentItems;
							DEALLOCATE cur_FulfilmentItems;

						END -- End IF @Operation = 'Sorting'
						ELSE
						IF @Operation = 'Packing'
						BEGIN	
							
							-- Insert data to Packing Schedule
							If @PickingType <> 'Bulk'
							BEGIN

								DECLARE cur_FulfilmentItems CURSOR LOCAL FAST_FORWARD FOR
								SELECT 
									A.OrderNumber,
									A.SourceOrderNumber,
									fl.line_items_name            AS ItemName,
									fl.line_items_sku             AS ItemNumber,
									fl.line_items_current_quantity AS Qty,
									fl.ItemID 
								FROM dbo.FulfilmentLine fl
								JOIN (
									SELECT f.FulfilmentID, f.OrderNumber, f.order_number as SourceOrderNumber
									FROM dbo.WaveLine wl
									LEFT JOIN dbo.Fulfilment f 
										ON f.OrderNumber = wl.OrderNumber AND f.Deleted = 0
									WHERE wl.Deleted = 0 
									  AND wl.WaveID = @WaveID
									  AND wl.PickStatus = 'Completed'
								) AS A
									ON A.FulfilmentID = fl.FulfilmentID
								WHERE fl.Deleted = 0;

								OPEN cur_FulfilmentItems;

								FETCH NEXT FROM cur_FulfilmentItems
								INTO @OrderNumber, @SourceOrderNumber, @ItemName, @ItemNumber, @Qty, @ItemId;

								WHILE @@FETCH_STATUS = 0
								BEGIN			
								
									SELECT @IsCompositeItem = ItemIsComposite
									FROM dbo.Items
									WHERE ItemId = @ItemId AND DELETED = 0 AND CompositeType = 'Order';

									IF @IsCompositeItem IS NOT NULL AND @IsCompositeItem = 1
									BEGIN

										IF @PickingType <> 'Single'  -- not do this for Single
										BEGIN
											DELETE FROM @ChildItems;
											-- get children items
											INSERT INTO @ChildItems (ItemID, Qty)
											EXEC [dbo].[SP_VI_TBL_Items_GetAllChildrenItemsOfCompositeItem] 
												@CompositeItemID = @ItemId;

											DECLARE ChildItemCursor CURSOR LOCAL FAST_FORWARD FOR
											SELECT ItemID, Qty
											FROM @ChildItems;

											OPEN ChildItemCursor;

											FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;

											WHILE @@FETCH_STATUS = 0
											BEGIN			

												SELECT @ChildItemNumber = ItemNumber,
													   @ChildItemName = ItemName
												FROm dbo.Items
												WHERE ItemID = @CurrentItemID AND DEleted = 0;
				
												DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
													SELECT DISTINCT u.ULDID, 
														   u.ULDBarcode, 
														   ul.TransactionQty,
														   ul.SerialNumber
													FROM dbo.ULDLine ul
													LEFT JOIN dbo.ULD u 
														ON u.ULDID = ul.ULDID
													WHERE ul.TransactionReference = @SourceOrderNumber 
													  AND ul.TransactionType = 'Picked' 
													  AND ul.Deleted = 0  
													  AND ul.ItemNumber = @ChildItemNumber;

												OPEN cur_ULDLine;

												FETCH NEXT FROM cur_ULDLine 
												INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;

												WHILE @@FETCH_STATUS = 0
												BEGIN
									
													SET @TransactionQty = -@TransactionQty * @CurrentQty;
													SET @i = 1;

													WHILE @i <= @TransactionQty
													BEGIN
														INSERT INTO dbo.PackingInfo (
															WaveID,
															ULDID,
															ULDBarcode,
															ItemID,
															ItemNumber,
															ItemName,											
															Qty,
															OrderNumber,									
															SerialNumber,
															Deleted,
															CreatedDateTime,
															CreatedBy
														)
														VALUES (
															@WaveID,  
															@ULDID,
															@ULDBarcode,
															@CurrentItemID,                           
															@ChildItemNumber,                       
															@ChildItemName,													
															1,                               
															@OrderNumber,   
															@SerialNumber,                       
															0,                               
															@OperationDateTime,                 
															@OperationBy                    
														);

														SET @i += 1;
													END -- End While

													FETCH NEXT FROM cur_ULDLine 
													INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;
												END

												CLOSE cur_ULDLine;
												DEALLOCATE cur_ULDLine;

												FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;
											END

											CLOSE ChildItemCursor;
											DEALLOCATE ChildItemCursor;

										END -- END IF @PickingType <> 'Single'
									END
									ELSE -- not composite
									BEGIN
										DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
											SELECT DISTINCT u.ULDID, 
												   u.ULDBarcode, 
												   ul.TransactionQty,
												   ul.SerialNumber
											FROM dbo.ULDLine ul
											LEFT JOIN dbo.ULD u 
												ON u.ULDID = ul.ULDID
											WHERE ul.TransactionReference = @SourceOrderNumber 
											  AND ul.TransactionType = 'Picked' 
											  AND ul.Deleted = 0  
											  AND ul.ItemNumber = @ItemNumber;

										OPEN cur_ULDLine;

										FETCH NEXT FROM cur_ULDLine 
										INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;

										WHILE @@FETCH_STATUS = 0
										BEGIN
									
											SET @TransactionQty = -@TransactionQty;
											SET @i = 1;

											WHILE @i <= @TransactionQty
											BEGIN
												INSERT INTO dbo.PackingInfo (
													WaveID,
													ULDID,
													ULDBarcode,
													ItemID,
													ItemNumber,
													ItemName,											
													Qty,
													OrderNumber,									
													SerialNumber,
													Deleted,
													CreatedDateTime,
													CreatedBy
												)
												VALUES (
													@WaveID,  
													@ULDID,
													@ULDBarcode,
													@ItemId,                           
													@ItemNumber,                       
													@ItemName,													
													1,                               
													@OrderNumber,   
													@SerialNumber,                       
													0,                               
													@OperationDateTime,                 
													@OperationBy                    
												);

												SET @i += 1;
											END -- End While

											FETCH NEXT FROM cur_ULDLine 
											INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;
										END

										CLOSE cur_ULDLine;
										DEALLOCATE cur_ULDLine;
									END
										
									

									FETCH NEXT FROM cur_FulfilmentItems
									INTO @OrderNumber, @SourceOrderNumber, @ItemName, @ItemNumber, @Qty, @ItemId;
								END

								CLOSE cur_FulfilmentItems;
								DEALLOCATE cur_FulfilmentItems;

							END -- ENd <> Bulk
							ELSE 
							BEGIN

								DECLARE cur_FulfilmentItems CURSOR LOCAL FAST_FORWARD FOR
								SELECT 
									A.OrderNumber,
									A.SourceOrderNumber,
									fl.line_items_name            AS ItemName,
									fl.line_items_sku             AS ItemNumber,
									fl.line_items_current_quantity AS Qty,
									fl.ItemID 
								FROM dbo.FulfilmentLine fl
								JOIN (
									SELECT f.FulfilmentID, f.OrderNumber, f.order_number as SourceOrderNumber
									FROM dbo.WaveLine wl
									LEFT JOIN dbo.Fulfilment f 
										ON f.OrderNumber = wl.OrderNumber AND f.Deleted = 0
									WHERE wl.Deleted = 0 
									  AND wl.WaveID = @WaveID
									  AND wl.SortStatus = 'Completed'
								) AS A
									ON A.FulfilmentID = fl.FulfilmentID
								WHERE fl.Deleted = 0;

								OPEN cur_FulfilmentItems;

								FETCH NEXT FROM cur_FulfilmentItems
								INTO @OrderNumber, @SourceOrderNumber, @ItemName, @ItemNumber, @Qty, @ItemId;

								WHILE @@FETCH_STATUS = 0
								BEGIN			
								

									SELECT @IsCompositeItem = ItemIsComposite
									FROM dbo.Items
									WHERE ItemId = @ItemId AND DELETED = 0 AND CompositeType = 'Order';

									IF @IsCompositeItem IS NOT NULL AND @IsCompositeItem = 1
									BEGIN

										DELETE FROM @ChildItems;
										-- get children items
										INSERT INTO @ChildItems (ItemID, Qty)
										EXEC [dbo].[SP_VI_TBL_Items_GetAllChildrenItemsOfCompositeItem] 
											@CompositeItemID = @ItemId;
											
										DECLARE ChildItemCursor CURSOR LOCAL FAST_FORWARD FOR
										SELECT ItemID, Qty
										FROM @ChildItems;

										OPEN ChildItemCursor;

										FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;

										WHILE @@FETCH_STATUS = 0
										BEGIN			

											SELECT @ChildItemNumber = ItemNumber,
													@ChildItemName = ItemName
											FROm dbo.Items
											WHERE ItemID = @CurrentItemID AND DEleted = 0;
				
											DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
												SELECT DISTINCT u.ULDID, 
													   u.ULDBarcode, 
													   ul.TransactionQty,
													   ul.SerialNumber
												FROM dbo.ULDLine ul
												LEFT JOIN dbo.ULD u 
													ON u.ULDID = ul.ULDID
												WHERE ul.TransactionReference = @SourceOrderNumber 
												  AND ul.TransactionType = 'Picked' 
												  AND ul.Deleted = 0  
												  AND ul.ItemNumber = @ChildItemNumber;

												OPEN cur_ULDLine;

												FETCH NEXT FROM cur_ULDLine 
												INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;

												WHILE @@FETCH_STATUS = 0
												BEGIN
									
													SET @TransactionQty = -@TransactionQty * @CurrentQty;
													SET @i = 1;

													WHILE @i <= @TransactionQty
													BEGIN
														INSERT INTO dbo.PackingInfo (
															WaveID,
															ULDID,
															ULDBarcode,
															ItemID,
															ItemNumber,
															ItemName,											
															Qty,
															OrderNumber,									
															SerialNumber,
															Deleted,
															CreatedDateTime,
															CreatedBy
														)
														VALUES (
															@WaveID,  
															@ULDID,
															@ULDBarcode,
															@CurrentItemID,                           
															@ChildItemNumber,                       
															@ChildItemName,													
															1,                               
															@OrderNumber,   
															@SerialNumber,                       
															0,                               
															@OperationDateTime,                 
															@OperationBy                    
														);

														SET @i += 1;
													END -- End While

													FETCH NEXT FROM cur_ULDLine 
													INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;
												END

												CLOSE cur_ULDLine;
												DEALLOCATE cur_ULDLine;

											FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;
										END

										CLOSE ChildItemCursor;
										DEALLOCATE ChildItemCursor;
									END -- end composite
									ELSE
									BEGIN
										DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
											SELECT DISTINCT u.ULDID, 
												   u.ULDBarcode, 
												   ul.TransactionQty,
												   ul.SerialNumber
											FROM dbo.ULDLine ul
											LEFT JOIN dbo.ULD u 
												ON u.ULDID = ul.ULDID
											WHERE ul.TransactionReference = @SourceOrderNumber 
											  AND ul.TransactionType = 'Picked' 
											  AND ul.Deleted = 0  
											  AND ul.ItemNumber = @ItemNumber;

										OPEN cur_ULDLine;

										FETCH NEXT FROM cur_ULDLine 
										INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;

										WHILE @@FETCH_STATUS = 0
										BEGIN
									
											SET @TransactionQty = -@TransactionQty;
											SET @i = 1;

											WHILE @i <= @TransactionQty
											BEGIN
												INSERT INTO dbo.PackingInfo (
													WaveID,
													ULDID,
													ULDBarcode,
													ItemID,
													ItemNumber,
													ItemName,											
													Qty,
													OrderNumber,									
													SerialNumber,
													Deleted,
													CreatedDateTime,
													CreatedBy
												)
												VALUES (
													@WaveID,  
													@ULDID,
													@ULDBarcode,
													@ItemId,                           
													@ItemNumber,                       
													@ItemName,													
													1,                               
													@OrderNumber,   
													@SerialNumber,                       
													0,                               
													@OperationDateTime,                 
													@OperationBy                    
												);

												SET @i += 1;
											END -- End While

											FETCH NEXT FROM cur_ULDLine 
											INTO @ULDID, @ULDBarcode, @TransactionQty, @SerialNumber;
										END

										CLOSE cur_ULDLine;
										DEALLOCATE cur_ULDLine;
									END

									FETCH NEXT FROM cur_FulfilmentItems
									INTO @OrderNumber, @SourceOrderNumber, @ItemName, @ItemNumber, @Qty, @ItemId;
								END

								CLOSE cur_FulfilmentItems;
								DEALLOCATE cur_FulfilmentItems;
							
							END
						END
						ELSE IF @Operation = 'Mailing'
						BEGIN
							PRINT 'Create data for mailing';
						END

					END
				END
				

				IF @CurrentOperation <> @Operation				
				BEGIN 
					-- check for sorting
					IF @Operation = 'Sorting'
					BEGIN
					
						IF @SortRequired = 0
						BEGIN
							SET @Message = 'This Wave does not need sorting phase'
							ROLLBACK TRANSACTION;
							RETURN;
						END
						IF @CurrentOperation <> 'Picking'
						BEGIN
							SET @Message = 'This Wave passed the sorting phase.'
							ROLLBACK TRANSACTION;
							RETURN;
						END
						IF @OperationStatus <> 'Completed'
						BEGIN
							SET @Message = 'Picking phase has not been completed yet.'
							ROLLBACK TRANSACTION;
							RETURN;
						END
					END -- check sorting

					-- check for packing
					IF @Operation = 'Packing'
					BEGIN

						IF @PackRequired = 0
						BEGIN
							SET @Message = 'This Wave does not need packing phase'
							ROLLBACK TRANSACTION;
							RETURN;
						END						
						IF @CurrentOperation = 'Picking' AND @SortRequired = 1
						BEGIN
							SET @Message = 'The sorting phase has not been implemented yet.'
							ROLLBACK TRANSACTION;
							RETURN;
						END
						IF @CurrentOperation = 'Picking' AND @OperationStatus <> 'Completed'
						BEGIN
							SET @Message = 'Picking phase has not been completed yet.'
							ROLLBACK TRANSACTION;
							RETURN;
						END								
						IF @CurrentOperation = 'Sorting' AND @OperationStatus <> 'Completed'
						BEGIN
							SET @Message = 'Sorting phase has not been completed yet.'
							ROLLBACK TRANSACTION;
							RETURN;
						END		
						IF @CurrentOperation = 'Mailing'
						BEGIN
							SET @Message = 'This Wave has passed the packing phase.'
							ROLLBACK TRANSACTION;
							RETURN;
						END
					END -- check packing

					-- check for packing
					IF @Operation = 'Mailing'
					BEGIN
						IF @MailingRequired = 0
						BEGIN
							SET @Message = 'This Wave does not need mailing phase'
							ROLLBACK TRANSACTION;
							RETURN;
						END		
					END -- check mailing

					-- update status
					UPDATE dbo.Wave
					SET							
						CurrentStep = @Operation,
						StepStatus = 'Started',
						FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
					WHERE WaveID = @WaveID AND Deleted = 0;

					-- create data


				END -- end @CurrentOperation <> @Operation		

				--return data
				IF @Operation = 'Picking'
				BEGIN
									
					/*select * 
					FROM dbo.PickingSchedule AS ps
					JOIN dbo.Fulfilment AS f
						ON f.order_number = ps.FulfilmentOrder
						AND f.TenantCode   = ps.TenantCode
					WHERE ps.FulfilmentType = N'Orders'
						AND EXISTS (
							SELECT 1
							FROM 
							(
								select FulfilmentID FROM dbo.Fulfilment f
								JOIN dbo.WaveLine wl ON wl.OrderNumber = f.OrderNumber
								WHERE wl.WaveID = @WaveID
							)
							AS u
							WHERE u.FulfilmentID = f.FulfilmentID
						);*/

					Select s.PickingInfoID, w.WaveNumber, s.OrderNumber, s.SlotNumber
					FROM dbo.PickingInfo s
					LEFT JOIN dbo.Wave w 
						ON w.WaveID = s.WaveID 
					   AND w.Deleted = 0
					WHERE s.WaveID = @WaveID  AND s.Deleted = 0;

				END
				ELSE IF @Operation = 'Sorting'
				BEGIN
					SELECT  
						s.SortingScheduleID AS SortingID,
						w.WaveNumber,
						s.OrderNumber,
						CASE 
							WHEN NULLIF(LTRIM(RTRIM(s.SerialNumber)), '') IS NOT NULL 
								THEN s.SerialNumber 
							ELSE s.ItemNumber + '|' +
									CASE
										WHEN NULLIF(LTRIM(RTRIM(dbo.GetItemBarcodes(s.ItemID))), '') IS NOT NULL
											THEN 'SNR|' + dbo.GetItemBarcodes(s.ItemID)
										ELSE ''
									END
						END AS ItemCode
					FROM dbo.SortingSchedule s
					LEFT JOIN dbo.Wave w 
						ON w.WaveID = s.WaveID 
					   AND w.Deleted = 0
					WHERE s.WaveID = @WaveID 
					  AND s.Deleted = 0;

				END
				ELSE
				IF @Operation = 'Packing'
				BEGIN

					CREATE TABLE #TmpPackingInfo
					(
						WaveNumber      VARCHAR(50),
						OrderNumber     VARCHAR(50),
						TenantCode      VARCHAR(10),
						ItemName        VARCHAR(250),
						RawItemCode     VARCHAR(500),
						Operator        VARCHAR(100),
						[Status]        VARCHAR(50),
						ShipmentID      INT,
						Carrier			 VARCHAR(20),
						IsLocal          Bit,
						IsAutoPacking	 Bit
					);
					
					INSERT INTO #TmpPackingInfo (WaveNumber, OrderNumber, TenantCode, ItemName, RawItemCode, Operator, [Status], IsAutoPacking)
					SELECT 
						w.WaveNumber,
						s.OrderNumber,
						f.TenantCode,
						s.ItemName,							
						CASE 
							WHEN NULLIF(LTRIM(RTRIM(s.SerialNumber)), '') IS NOT NULL 
								THEN 'Serial|' + s.ItemNumber + '|' + s.SerialNumber 
							ELSE s.ItemNumber + '|' + COALESCE(dbo.GetItemBarcodes(s.ItemID), '')
						END AS RawItemCode,
						ps.OperationStaff AS Operator,
						CASE 
							WHEN pr.Status IS NULL OR pr.Status <> 'Failed'
							THEN ps.[Status]
							ELSE pr.Status 
						END AS [Status], 0 AS IsAutoPacking
					FROM dbo.PackingInfo s
					LEFT JOIN dbo.Wave w ON w.WaveID = s.WaveID AND w.Deleted = 0
					LEFT JOIN dbo.PackingSchedule ps ON ps.WaveID = s.WaveID AND ps.OrderNumber = s.OrderNumber AND ps.Deleted = 0
					LEFT JOIN dbo.PackingResult pr ON ps.WaveID = s.WaveID AND pr.OrderNumber = s.OrderNumber AND pr.Deleted = 0 
					LEFT JOIN dbo.Fulfilment f ON f.OrderNumber = s.OrderNumber AND f.Deleted = 0
					WHERE s.WaveID = @WaveID AND s.Deleted = 0;

					-- Update ShipmentID, Carrier, IsLocal on #TmpPackingInfo from WaveLine
					;WITH src AS (
						SELECT
							wl.OrderNumber,
							MAX(wl.ShipmentID) AS ShipmentID,
							MAX(CASE 
									WHEN wl.CarrierID = 1 THEN 'AP'
									WHEN wl.CarrierID = 2 THEN 'Manual'
									WHEN wl.CarrierID = 3 THEN 'DHL Express'
									WHEN wl.CarrierID = 4 THEN 'CP'
									ELSE ''
								END) AS Carrier,
							CAST(MAX(CASE WHEN wl.ShipmentType = 'Local' THEN 1 ELSE 0 END) AS bit) AS IsLocal
						FROM dbo.WaveLine wl
						LEFT JOIN dbo.Tenant t ON wl.TenantCode = t.TenantCode AND t.Deleted = 0
						WHERE wl.WaveID = @WaveID  
						  AND wl.Deleted = 0
						GROUP BY wl.OrderNumber
					)
					UPDATE t
					SET
						t.ShipmentID = s.ShipmentID,
						t.Carrier    = s.Carrier,
						t.IsLocal    = s.IsLocal
					FROM #TmpPackingInfo AS t
					JOIN src AS s
					  ON s.OrderNumber = t.OrderNumber;


					-- Update IsAutoPacking on #TmpPackingInfo from WaveLine and Tenant
					;WITH src1 AS (
						SELECT
							wl.OrderNumber,							
							t.PackingRequired,
							t.PackingRequiredType
						FROM dbo.WaveLine wl
						LEFT JOIN dbo.Tenant t ON wl.TenantCode = t.TenantCode AND t.Deleted = 0
						WHERE wl.WaveID = @WaveID  
						  AND wl.Deleted = 0
					)
					UPDATE t
					SET						
						t.IsAutoPacking = 1
					FROM #TmpPackingInfo AS t
					JOIN src1 AS s
					  ON s.OrderNumber = t.OrderNumber
					WHERE s.PackingRequired = 1 AND s.PackingRequiredType = 'AutoPackOrder'
					      AND NOT EXISTS (
								SELECT 1
								FROM dbo.Fulfilment f 
								INNER JOIN dbo.FulfilmentLine fl ON fl.FulfilmentID = f.FulfilmentID AND fl.Deleted = 0
								INNER JOIN dbo.Items i ON i.ItemID = fl.ItemID AND i.Deleted = 0 AND ISNULL(i.TrackSerialOnReceipt, 0) = 1
								WHERE f.Deleted = 0 AND f.OrderNumber = s.OrderNumber
						);

					SELECT * FROM #TmpPackingInfo;
					
				END
				ELSE IF @Operation = 'Mailing'
				BEGIN
					PRINT 'Create data for mailing';
				END


				
			END -- end wave started


		-- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;

END
GO
