USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocColumn_UpdateLocColumn]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Update>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocColumn_UpdateLocColumn] 
	@LocColumnID                    INT,
    @ColumnName                     VARCHAR(200) = NULL,
	@ColumnDesc                     VARCHAR(1000) = NULL,
    @OrderNumber                  INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @Deleted BIT = NULL, @LocRowID INT;

		SELECT @Deleted = Deleted, 
			   @LocRowID = LocRowID
		FROM dbo.LocColumn
		WHERE LocColumnID = @LocColumnID;
		
		IF @Deleted IS NULL OR @Deleted = 1
		BEGIN
			SET @Message = 'LocColumnID does not exist or has been deleted.'
			RETURN;
		END

		IF EXISTS(SELECT 1 FROM dbo.LocColumn WHERE LocRowID = @LocRowID AND LocColumnID != @LocColumnID AND Deleted = 0 
		AND LOWER(TRIM(ColumnName)) = LOWER(TRIM(@ColumnName)))
        BEGIN
            SET @Message = 'Column name already exists.'
            RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.LocColumn WHERE LocRowID = @LocRowID AND LocColumnID != @LocColumnID AND Deleted = 0 
		AND OrderNumber = @OrderNumber)
        BEGIN
            SET @Message = 'Order Number already exists.'
            RETURN;
        END
		
		-- Check maximum order number can change
		DECLARE @ColumnIncrement INT;
		DECLARE @CurrentOrder INT;

		SELECT 
			@ColumnIncrement = MAX(CASE WHEN SettingName = 'COLUMN_INCREMENT' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN ('COLUMN_INCREMENT');

		SELECT @CurrentOrder = CurrentOrder
		FROM dbo.LocSequence
		WHERE LocationID = @LocRowID AND LocationType = 4;

		IF @OrderNumber > @CurrentOrder + @ColumnIncrement
        BEGIN
            SET @Message = 'Order number exceeds the allowed limit.'
            RETURN;
        END

		UPDATE dbo.LocColumn
		SET
			ColumnName = COALESCE(@ColumnName, ColumnName),
			OrderNumber = COALESCE(@OrderNumber, OrderNumber),
			ColumnDesc = COALESCE(@ColumnDesc, ColumnDesc),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE LocColumnID = @LocColumnID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
