USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocColumn_DeleteLocColumn]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Soft Delete>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocColumn_DeleteLocColumn] @LocColumnID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
    SET NOCOUNT ON;
   
    BEGIN TRY

		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.LocColumn WHERE LocColumnID = @LocColumnID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Column has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.LocColumnID = @LocColumnID
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);


		IF @NumberOfULD > 0
		BEGIN
			 SET @Message = 'There are not empty ULDs at this location.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        DECLARE @LocRowID INT, @TotalDeletedRecords INT;

		SELECT @LocRowID = LocRowID
		FROM dbo.LocColumn
		WHERE LocColumnID = @LocColumnID;

		SELECT @TotalDeletedRecords = COUNT(*) 
		FROM dbo.LocColumn
		WHERE LocRowID = @LocRowID AND DELETED = 1;

		SET @TotalDeletedRecords = -@TotalDeletedRecords - 1;

		-- Step 1: Update LocColumn table
		UPDATE dbo.LocColumn
		SET Deleted = 1,
			OrderNumber = @TotalDeletedRecords
		WHERE LocColumnID = @LocColumnID;

        -- Step 2: Update LocShelf table using JOIN with LocColumn
        UPDATE lshelf
        SET lshelf.Deleted = 1
        FROM dbo.LocShelf lshelf
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        WHERE lc.LocColumnID = @LocColumnID;

        -- Step 3: Update LocBin table using JOIN with LocShelf
        UPDATE lb
        SET lb.Deleted = 1
        FROM dbo.LocBin lb
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        WHERE lshelf.LocColumnID = @LocColumnID;

        -- Step 4: Update LocSBin table using JOIN with LocBin
        UPDATE lsb
        SET lsb.Deleted = 1
        FROM dbo.LocSBin lsb
        INNER JOIN dbo.LocBin lb ON lsb.LocBinID = lb.LocBinID
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        WHERE lshelf.LocColumnID = @LocColumnID;
		

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for LocColumnID: ' + CAST(@LocColumnID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating LocColumnID: ' + CAST(@LocColumnID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
