USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 April, 2025>
-- Description:	<Get Full Location Info from Location Code>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
	@LocationCode VARCHAR(50),
	@LocationFound BIT OUTPUT,
	@TemporaryLocation BIT OUTPUT,
	@LocSBinID INT OUTPUT,
	@LocBinID INT OUTPUT,
	@LocShelfID INT OUTPUT,
	@LocColumnID INT OUTPUT,
	@LocRowID INT OUTPUT,
	@LocSectionID INT OUTPUT,
	@LocAreaID INT OUTPUT,
	@LocWarehouseID INT OUTPUT,
	@LocWarehouseCode NVARCHAR(1) OUTPUT,
	@LocAreaCode NVARCHAR(1) OUTPUT,
	@LocSectionCode NVARCHAR(3) OUTPUT,
	@LocRowCode NVARCHAR(4) OUTPUT,
	@LocColumnCode NVARCHAR(6) OUTPUT,
	@LocShelfCode NVARCHAR(4) OUTPUT,
	@LocBinCode NVARCHAR(7) OUTPUT,
	@LocSBinCode NVARCHAR(7) OUTPUT,
	@LocTempCode NVARCHAR(33) OUTPUT,
	@LocWarehouseName VARCHAR(200) OUTPUT,
	@LocAreaName    VARCHAR(200) OUTPUT,
	@LocSectionName VARCHAR(200) OUTPUT,
	@LocRowName     VARCHAR(200) OUTPUT,
	@LocColumnName  VARCHAR(200) OUTPUT,
	@LocBinName     VARCHAR(200) OUTPUT,
	@StorageType VARCHAR(50) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	
	SET NOCOUNT ON;

	SET @LocationFound = 0;
	SET @TemporaryLocation = 0;
	
	IF LEN(@LocationCode) != 33
	BEGIN
		SET @LocationFound = 0;
		RETURN;
	END
	ELSE
	BEGIN

		-- check temp location
		EXEC dbo.[SP_VI_TBL_LocTempLocation_CheckLocationAvailable] 
			@LocationCode = @LocationCode,
			@LocationFound = @LocationFound OUTPUT,
			@LocationLabel = NULL,
			@IsEmpty = NULL;

		IF @LocationFound = 1
		BEGIN
			SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
			SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
			SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
			SET @LocTempCode = SUBSTRING(@LocationCode, 6, LEN(@LocationCode));

			-- Get LocWarehouse ID
			SELECT @LocWarehouseID = LocWarehouseID, @LocWarehouseName = WarehouseName
			FROM dbo.LocWarehouse
			WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

			IF @LocWarehouseID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END


			-- Get LocArea ID
			SELECT @LocAreaID = LocAreaID, @LocAreaName = AreaName
			FROM dbo.LocArea
			WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

			IF @LocAreaID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			 -- Get LocSection Code
			SELECT @LocSectionID = LocSectionID, @LocSectionName = SectionName 
			FROM dbo.LocSection
			WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;

			IF @LocSectionID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			SET @TemporaryLocation = 1;
			RETURN;
		END
		ELSE
		BEGIN
			SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
			SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
			SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
			SET @LocRowCode = SUBSTRING(@LocationCode, 6, 4);
			SET @LocColumnCode = SUBSTRING(@LocationCode, 10, 6);
			SET @LocShelfCode = SUBSTRING(@LocationCode, 16, 4);
			SET @LocBinCode = SUBSTRING(@LocationCode, 20, 7);
			SET @LocSBinCode = SUBSTRING(@LocationCode, 27, 7);

			

			-- Get LocWarehouse ID
			SELECT @LocWarehouseID = LocWarehouseID, @LocWarehouseName = WarehouseName
			FROM dbo.LocWarehouse
			WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

			IF @LocWarehouseID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END	

			-- Get LocArea ID
			SELECT @LocAreaID = LocAreaID, @LocAreaName = AreaName
			FROM dbo.LocArea
			WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

			IF @LocAreaID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			 -- Get LocSection Code
			SELECT @LocSectionID = LocSectionID, @LocSectionName = SectionName, @StorageType = StorageType
			FROM dbo.LocSection
			WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;

			IF @LocSectionID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			-- Get LocRow Code
			SELECT @LocRowID = LocRowID, @LocRowName = RowName 
			FROM dbo.LocRow
			WHERE RowCode = @LocRowCode AND LocSectionID = @LocSectionID AND DELETED = 0;

			IF @LocRowID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

		
			-- Get LocColumn Code
			SELECT @LocColumnID = LocColumnID, @LocColumnName = ColumnName 
			FROM dbo.LocColumn
			WHERE ColumnCode = @LocColumnCode AND LocRowID = @LocRowID AND DELETED = 0;

			IF @LocColumnID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END
			
			-- Get LocShelf Code
			SELECT @LocShelfID = LocShelfID
			FROM dbo.LocShelf
			WHERE ShelfCode = @LocShelfCode AND LocColumnID = @LocColumnID AND DELETED = 0;

			IF @LocShelfID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			-- Get LocBin Code
			SELECT @LocBinID = LocBinID, @LocBinName = BinName   
			FROM dbo.LocBin
			WHERE BinCode = @LocBinCode AND LocShelfID = @LocShelfID AND DELETED = 0;

			IF @LocBinID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			-- Get LocSBin Code
			SELECT @LocSBinID = LocSBinID
			FROM dbo.LocSBin
			WHERE SBinCode = @LocSBinCode AND LocBinID = @LocBinID AND DELETED = 0;

			IF @LocSBinID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			SET @LocationFound = 1;

		END
	
	END

END
GO
