USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_DHLGetShipmentLineItems]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DHLGetShipmentLineItems]
    @ShipmentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        [LineItemsID],
        [ShipmentID],
        [number],
        [description],
        [price],
        [quantity_value],
        [quantity_unitOfMeasurement],
        [commodityCodes_typeCode],
        [commodityCodes_value],
        [exportReasonType],
        [manufacturerCountry],
        [exportControlClassificationNumber],
        [weight_netValue],
        [weight_grossValue],
        [isTaxesPaid],
        [additionalInformation],
        [customerReferences_typeCode],
        [customerReferences_value],
        [customsDocuments_typeCode],
        [customsDocuments_value]
    FROM [dbo].[DHLLineItems]
    WHERE [ShipmentID] = @ShipmentID;
END;
GO
