USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocRow_ListLocRow]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<List>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocRow_ListLocRow]
     @LocSectionID INT,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'LocRowID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocRow WHERE LocSectionID = @LocSectionID AND DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT lr.*, COALESCE(bta.AllocationCount,0) as AllocationCount 
		           FROM 
					 (
						SELECT r.*, COALESCE(c.ColumnCount, 0) AS ColumnCount
						FROM LocRow r
						LEFT JOIN (
							SELECT LocRowId, COUNT(*) AS ColumnCount
							FROM LocColumn
							GROUP BY LocRowId
						) c ON r.LocRowId = c.LocRowId
					 ) lr 
				   LEFT JOIN 
					 (select RowId , Deleted, COUNT(RowId) as AllocationCount FROM dbo.BayTenantAllocation group by RowId, Deleted) bta 
				   ON lr.LocRowID = bta.RowID AND bta.Deleted = 0 WHERE lr.LocSectionID = ' + CAST(@LocSectionID AS NVARCHAR(10)) + ' AND lr.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				  ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocRow 
		WHERE DELETED = 0 
		AND LocSectionID = @LocSectionID 
		AND (
			LOWER(RowName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(RowCode) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT lr.*, COALESCE(bta.AllocationCount,0) as AllocationCount 
		    FROM 
				(
					SELECT r.*, COALESCE(c.ColumnCount, 0) AS ColumnCount
					FROM LocRow r
					LEFT JOIN (
						SELECT LocRowId, COUNT(*) AS ColumnCount
						FROM LocColumn
						GROUP BY LocRowId
					) c ON r.LocRowId = c.LocRowId
				)  lr
		    LEFT JOIN 
				(select RowId , Deleted, COUNT(RowId) as AllocationCount FROM dbo.BayTenantAllocation group by RowId, Deleted) bta 
			ON lr.LocRowID = bta.RowID AND bta.Deleted = 0
            WHERE lr.DELETED = 0 
			AND lr.LocSectionID = ' + CAST(@LocSectionID AS NVARCHAR(10)) + ' 
            AND (
                LOWER(lr.RowName) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(lr.RowCode) LIKE ''%' + LOWER(@Search) + '%'' 
            ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL; 
END
GO
