USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Manifest_UpdateManifest]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2025>
-- Description:	<Update Manifest>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Manifest_UpdateManifest]
	@ManifestID INT,
	@AustPostID VARCHAR(150),
	@FileName VARCHAR(200),
	@EditedDateTime DATETIME = NULL,
    @EditedBy VARCHAR(100) = NULL,	
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		UPDATE dbo.Manifest
        SET
            AustPostID = COALESCE(@AustPostID, AustPostID),
			FileName = COALESCE(@FileName, FileName),		
			FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@EditedBy, LastEditedBy)
        WHERE ManifestID = @ManifestID

		-- update order status
		DECLARE @FulfilmentNumber VARCHAR(50), @StepStatus VARCHAR(20);
		DECLARE @WaveID INT, @WaveLineID INT, @ShipmentID INT;
		DECLARE @WaveIDs dbo.IdArray;

		DECLARE cur_Fulfilments CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
			SELECT FulfilmentNumber
			FROM dbo.ManifestLine
			WHERE ManifestID = @ManifestID
			  AND Deleted = 0;

		OPEN cur_Fulfilments;

		FETCH NEXT FROM cur_Fulfilments INTO @FulfilmentNumber;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF LEFT(@FulfilmentNumber, 3) = 'MS-'
			BEGIN

				SELECT @ShipmentID = ShipmentID
				FROM dbo.AP_Shipment
				WHERE Shipment_Reference = @FulfilmentNumber AND Deleted = 0;

				IF @ShipmentID IS NOT NULL
				BEGIN
					UPDATE dbo.AP_Shipment
					SET ManualShipmentStatus = 'Completed'
					WHERE ShipmentID = @ShipmentID AND Deleted = 0;
				END
				ELSE
				BEGIN
					SELECT @ShipmentID = ShipmentID
					FROM dbo.AP_ShipmentINT
					WHERE Shipment_Reference = @FulfilmentNumber AND Deleted = 0;

					IF @ShipmentID IS NOT NULL
					BEGIN
						UPDATE dbo.AP_ShipmentINT
						SET ManualShipmentStatus = 'Completed'
						WHERE ShipmentID = @ShipmentID AND Deleted = 0;
					END
				END
			END
			ELSE
			BEGIN
				SELECT @WaveID = WaveID,
			       @WaveLineID  = WaveLineID
				FROM dbo.WaveLine
				WHERE OrderNumber = @FulfilmentNumber AND PackStatus = 'Completed' AND Deleted = 0;

				SELECT @StepStatus = StepStatus
				FROM dbo.Wave
				WHERE WaveID = @WaveID;

				IF @StepStatus = 'Pending'
				BEGIN
					UPDATE dbo.Wave
					SET						
						StepStatus = 'Started',					
						FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@EditedBy, LastEditedBy)					
					WHERE WaveID = @WaveID;
				END
			
				UPDATE dbo.WaveLine
				SET						
					MailStatus = 'Completed',					
					FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@EditedBy, LastEditedBy),
					MailDateTime = COALESCE(@EditedDateTime, MailDateTime),
					MailBy = COALESCE(@EditedBy, MailBy)
				WHERE WaveLineID = @WaveLineID;

				UPDATE dbo.Fulfilment
				SET						
					FulfilmentStatus = 'Completed',					
					FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@EditedBy, LastEditedBy)
				WHERE OrderNumber = @FulfilmentNumber AND Deleted = 0;

			
				IF NOT EXISTS (SELECT 1 FROM @WaveIDs WHERE [Value] = @WaveID)
				BEGIN
					INSERT INTO @WaveIDs([Value])
					VALUES(@WaveID);
				END
			END

			FETCH NEXT FROM cur_Fulfilments INTO @FulfilmentNumber;
		END

		CLOSE cur_Fulfilments;
		DEALLOCATE cur_Fulfilments;

		DECLARE @NumberOfCompletedPacking INT,
		        @NumberOfCompletedMailing INT;

		-- update wave complete
		DECLARE cur_Waves CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
			SELECT [Value]
			FROM @WaveIDs;   -- dbo.IdArray with [Value] column

		OPEN cur_Waves;

		FETCH NEXT FROM cur_Waves INTO @WaveID;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			SELECT @NumberOfCompletedPacking = COUNT(*)  
			FROM WaveLine where WaveID = @WaveID AND Deleted = 0 AND PackStatus = 'Completed';

			SELECT @NumberOfCompletedMailing = COUNT(*)  
			FROM WaveLine where WaveID = @WaveID AND Deleted = 0 AND MailStatus = 'Completed';

			IF @NumberOfCompletedPacking <> 0 AND @NumberOfCompletedPacking = @NumberOfCompletedMailing
			BEGIN
				UPDATE dbo.Wave
				SET
					WaveStatus = 'Completed',					
					StepStatus = 'Completed',
					FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@EditedBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;
			END

			FETCH NEXT FROM cur_Waves INTO @WaveID;
		END

		CLOSE cur_Waves;
		DEALLOCATE cur_Waves;
		
		-- Commit the transaction
        COMMIT TRANSACTION;		

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
   
END
GO
