USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_SectionPrinter_ListSectionPrinters]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Get list of SectionPrinter with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_SectionPrinter_ListSectionPrinters]
	 @WarehouseCode NVARCHAR(10),
	 @AreaID INT = NULL,
	 @SectionID INT = NULL,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'LocSectionID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	DECLARE @WarehouseID INT;
	DECLARE @AreaIDs dbo.IdArray;

	SELECT @WarehouseID = LocWarehouseID
	FROM LocWarehouse 
	WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

	IF @SectionID IS NULL
	BEGIN

		IF @AreaID IS NULL
		BEGIN
			INSERT INTO @AreaIDs(Value)
			SELECT LocAreaID FROM dbo.LocArea 
			WHERE LocWarehouseID = @WarehouseID AND Deleted = 0;
		END
		ELSE
		BEGIN
			INSERT INTO @AreaIDs(Value)
			VALUES(@AreaID);
		END
	

		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*)
			FROM dbo.LocSection ls
			JOIN @AreaIDs a ON ls.LocAreaID = a.[Value]
			WHERE ls.Deleted = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT s.*, 
					   sp.SectionPrinterID,
					   la.AreaName,	
					   ISNULL(sp.LabelPrinter, '''') AS LabelPrinter,
					   ISNULL(sp.DesktopPrinter, '''') AS DesktopPrinter
				FROM dbo.LocSection s
				JOIN @AreaIDs a ON s.LocAreaID = a.[Value]
				LEFT JOIN dbo.SectionPrinter sp ON sp.SectionID = s.LocSectionID AND sp.Deleted = 0
				LEFT JOIN dbo.LocArea la ON la.LocAreaID = s.LocAreaID AND la.Deleted = 0
				WHERE s.Deleted = 0
				ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDir + '
				OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
			';
	
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*)
			FROM dbo.LocSection ls
			LEFT JOIN dbo.SectionPrinter sp ON sp.SectionID = ls.LocSectionID AND sp.Deleted = 0
			JOIN @AreaIDs a ON ls.LocAreaID = a.[Value]
			WHERE ls.Deleted = 0
			AND (
				LOWER(ls.SectionName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(sp.WarehouseCode) LIKE '%' + LOWER(@Search) + '%' 		
				OR LOWER(sp.LabelPrinter) LIKE '%' + LOWER(@Search) + '%' 		
				OR LOWER(sp.DesktopPrinter) LIKE '%' + LOWER(@Search) + '%' 		
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT s.*, 
				       sp.SectionPrinterID,
					   la.AreaName,	
					   ISNULL(sp.LabelPrinter, '''') AS LabelPrinter,
					   ISNULL(sp.DesktopPrinter, '''') AS DesktopPrinter
				FROM dbo.LocSection s
				JOIN @AreaIDs a ON s.LocAreaID = a.[Value]
				LEFT JOIN dbo.SectionPrinter sp ON sp.SectionID = s.LocSectionID AND sp.Deleted = 0
				LEFT JOIN dbo.LocArea la ON la.LocAreaID = s.LocAreaID AND la.Deleted = 0
				WHERE s.Deleted = 0
				AND (
					LOWER(s.SectionName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(sp.WarehouseCode) LIKE ''%' + LOWER(@Search) + '%''          
					OR LOWER(sp.LabelPrinter) LIKE ''%' + LOWER(@Search) + '%''     
					OR LOWER(sp.DesktopPrinter) LIKE ''%' + LOWER(@Search) + '%''     
				) 
				ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDir + '
				OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
			';
		END 
	
		EXEC sp_executesql
			@SQL,
			N'@Offset INT, @PageSize INT, @AreaIDs dbo.IdArray READONLY',
			@Offset = @Offset,
			@PageSize = @PageSize,
			@AreaIDs = @AreaIDs;

	END
	ELSE -- @SectionID IS NOT NULL
	BEGIN

		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*)
			FROM dbo.LocSection ls			
			WHERE ls.LocSectionID = @SectionID AND ls.Deleted = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT s.*, 
					   sp.SectionPrinterID,
					   la.AreaName,	
					   ISNULL(sp.LabelPrinter, '''') AS LabelPrinter,
					   ISNULL(sp.DesktopPrinter, '''') AS DesktopPrinter
				FROM dbo.LocSection s				
				LEFT JOIN dbo.SectionPrinter sp ON sp.SectionID = s.LocSectionID AND sp.Deleted = 0
				LEFT JOIN dbo.LocArea la ON la.LocAreaID = s.LocAreaID AND la.Deleted = 0
				WHERE s.Deleted = 0 AND s.LocSectionID = @SectionID
				ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDir + '
				OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
			';
	
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*)
			FROM dbo.LocSection ls
			LEFT JOIN dbo.SectionPrinter sp ON sp.SectionID = ls.LocSectionID AND sp.Deleted = 0		
			WHERE ls.LocSectionID = @SectionID AND ls.Deleted = 0
			AND (
				LOWER(ls.SectionName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(sp.WarehouseCode) LIKE '%' + LOWER(@Search) + '%' 		
				OR LOWER(sp.LabelPrinter) LIKE '%' + LOWER(@Search) + '%' 		
				OR LOWER(sp.DesktopPrinter) LIKE '%' + LOWER(@Search) + '%' 		
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT s.*, 
				       sp.SectionPrinterID,
					   la.AreaName,	
					   ISNULL(sp.LabelPrinter, '''') AS LabelPrinter,
					   ISNULL(sp.DesktopPrinter, '''') AS DesktopPrinter
				FROM dbo.LocSection s				
				LEFT JOIN dbo.SectionPrinter sp ON sp.SectionID = s.LocSectionID AND sp.Deleted = 0
				LEFT JOIN dbo.LocArea la ON la.LocAreaID = s.LocAreaID AND la.Deleted = 0
				WHERE s.Deleted = 0 AND s.LocSectionID = @SectionID
				AND (
					LOWER(s.SectionName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(sp.WarehouseCode) LIKE ''%' + LOWER(@Search) + '%''          
					OR LOWER(sp.LabelPrinter) LIKE ''%' + LOWER(@Search) + '%''     
					OR LOWER(sp.DesktopPrinter) LIKE ''%' + LOWER(@Search) + '%''     
				) 
				ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDir + '
				OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
			';
		END 
	
		EXEC sp_executesql
			@SQL,
			N'@Offset INT, @PageSize INT, @SectionID INT',
			@Offset = @Offset,
			@PageSize = @PageSize,
			@SectionID = @SectionID;
	END
	

END
GO
