USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetAllAllocatedPalletOfTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <18 Mar, 2025>
-- Description:	<GETAll Allocated Pallet Of Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetAllAllocatedPalletOfTenant]  
	@TenantCode VARCHAR(10)
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantName VARCHAR(150);
	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;

	CREATE TABLE #LocationInfo (
		ULDCurrentLocation VARCHAR(50),
		LocationFound BIT,
		TemporaryLocation BIT,
		LocSBinID INT,
		LocBinID INT,
		LocShelfID INT,
		LocColumnID INT,
		LocRowID INT,
		LocSectionID INT,
		LocAreaID INT,
		LocWarehouseID INT,
		LocWarehouseCode NVARCHAR(1),
		LocAreaCode NVARCHAR(1),
		LocSectionCode NVARCHAR(3),
		LocRowCode NVARCHAR(4),
		LocColumnCode NVARCHAR(6),
		LocShelfCode NVARCHAR(4),
		LocBinCode NVARCHAR(7),
		LocSBinCode NVARCHAR(7),
		LocTempCode NVARCHAR(33),
		LocWarehouseName VARCHAR(200),
		LocAreaName VARCHAR(200),
		LocSectionName VARCHAR(200),
		LocRowName VARCHAR(200),
		LocColumnName VARCHAR(200),
		LocBinName VARCHAR(200),
		StorageType VARCHAR(50),
		HasMultipleSBin BIT
	);

	DECLARE @ULDCurrentLocation VARCHAR(255);
	DECLARE @LocationCodes dbo.StringArray;

	-- get current location available in ULD
	INSERT INTO @LocationCodes (Value) 
	(
		SELECT DISTINCT U.ULDCurrentLocation
		FROM dbo.ULD U
		WHERE U.LocSBinID IS NOT NULL 
			AND U.TenantCode = @TenantCode 
			AND U.IsPallete = 1
			AND U.DELETED = 0
			AND EXISTS (
				SELECT 1
				FROM dbo.ULDLine UL
				WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
				GROUP BY UL.ULDID
				HAVING SUM(UL.TransactionQty) > 0
			)
	);

	-- get full location data by code list
	INSERT INTO #LocationInfo
	EXEC dbo.[SP_VI_TBL_Loc_GetFullLocationInfoFromCodes] @LocationCodes = @LocationCodes

	-- filter data to display
	SELECT LocWarehouseName, LocAreaName, LocSectionName, LocRowName, LocColumnName
	FROM #LocationInfo
	WHERE LocationFound = 1;

	DROP TABLE #LocationInfo;
END
GO
