USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_ViewTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Aug, 2024>
-- Description:	<Get detail information of tenant>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Tenant_ViewTenant] @TenantID INT
AS
BEGIN

	SET NOCOUNT ON;

    DECLARE @TenantCode VARCHAR(10);
    DECLARE @SQL NVARCHAR(MAX) = N'';
    DECLARE @DynamicColumns NVARCHAR(MAX) = N'';
    DECLARE @IntegrationStatus VARCHAR(50);
    DECLARE @IntegrationType VARCHAR(50);
	DECLARE @ShopDomain VARCHAR(100);
    DECLARE @LocationID VARCHAR(50);
	DECLARE @AppLink VARCHAR(MAX);
    DECLARE @Counter INT = 1;

    -- Retrieve the TenantCode based on the provided TenantID
    SELECT @TenantCode = TenantCode 
    FROM dbo.Tenant 
    WHERE TenantID = @TenantID AND DELETED = 0;

    -- Step 1: Select all columns into a temporary table
    SELECT * 
    INTO #TempTenant
    FROM dbo.Tenant 
    WHERE TenantCode = @TenantCode;

    -- Step 2: Cursor to loop through the IntegrationStatus and IntegrationType
    DECLARE IntegrationCursor CURSOR FOR
    SELECT IntegrationStatus, IntegrationType, COALESCE(ShopDomain,''), COALESCE(AppLink,''), COALESCE(LocationID,'')
    FROM dbo.Integration
    WHERE TenantCode = @TenantCode AND Deleted = 0;

    OPEN IntegrationCursor;
    FETCH NEXT FROM IntegrationCursor INTO @IntegrationStatus, @IntegrationType, @ShopDomain, @AppLink, @LocationID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Add a new column for each IntegrationStatus and IntegrationType pair
		SET @DynamicColumns += N', ''' + @IntegrationType + ''' AS IntegrationType' + CAST(@Counter AS NVARCHAR(10));
        SET @DynamicColumns += N', ''' + @IntegrationStatus + ''' AS IntegrationStatus' + CAST(@Counter AS NVARCHAR(10));
		SET @DynamicColumns += N', ''' + @ShopDomain + ''' AS ShopDomain' + CAST(@Counter AS NVARCHAR(10));
		SET @DynamicColumns += N', ''' + @AppLink + ''' AS AppLink' + CAST(@Counter AS NVARCHAR(10));
        SET @DynamicColumns += N', ''' + @LocationID + ''' AS LocationID' + CAST(@Counter AS NVARCHAR(10));
    
        -- Increment counter for unique column names
        SET @Counter += 1;

        FETCH NEXT FROM IntegrationCursor INTO @IntegrationStatus, @IntegrationType, @ShopDomain, @AppLink, @LocationID;
    END;

    CLOSE IntegrationCursor;
    DEALLOCATE IntegrationCursor;

	PRINT @DynamicColumns;

    -- Step 3: Build the final dynamic SQL
    SET @SQL = N'SELECT * ' + @DynamicColumns + ' FROM #TempTenant';

    -- Print the dynamic SQL for debugging (optional)
    PRINT @SQL;

    -- Step 4: Execute the dynamic SQL
    EXEC sp_executesql @SQL;

    -- Step 5: Clean up the temporary table
    DROP TABLE #TempTenant;
END
GO
