USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_FulfilmentLine_ViewFulfilmentLinesByManualShipmentOrderNumbers]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Jul, 2025>
-- Description:	<Get detail information of FulfilmentLine by Manual Shipment FulfilmentOrder>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_FulfilmentLine_ViewFulfilmentLinesByManualShipmentOrderNumbers] 
     @FulfilmentOrders dbo.StringArray READONLY
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	CREATE TABLE #TmpFromAddress
	(
		OrderNumber		  NVARCHAR(50),
		FromName          NVARCHAR(50),		
		FromAddressLine1  NVARCHAR(50),
		FromAddressLine2  NVARCHAR(50),
		FromSuburb        NVARCHAR(20),
		FromState         NVARCHAR(20),
		FromPostcode      NVARCHAR(20),
		FromPhone         NVARCHAR(20),
		FromEmail         NVARCHAR(150),
		DeliveryInstruction  NVARCHAR(500)
	);


	DECLARE @OrderNumber VARCHAR(50),
			@SourceOrderNumber VARCHAR(50),
			@OrderSource VARCHAR(50),
			@TenantCode VARCHAR(10),
			@TenantName VARCHAR(250),
			@WarehouseCode  VARCHAR(10),
			@DeliveryInstruction VARCHAR(500),
			@from_Name  nvarchar(50);	

	DECLARE OrderCursor CURSOR FOR
		SELECT [Value]
		FROM @FulfilmentOrders;

	OPEN OrderCursor;

	FETCH NEXT FROM OrderCursor INTO @OrderNumber;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		SELECT @TenantCode = f.TenantCode, 
			   @TenantName = t.TenantName,
			   @WarehouseCode = f.WarehouseCode,
			   @SourceOrderNumber = f.order_number,
			   @OrderSource = f.OrderSource
		FROM dbo.Fulfilment f
		LEFT JOIN dbo.tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
		WHERE f.Deleted = 0 AND f.OrderNumber = @OrderNumber;

		IF @OrderSource = 'Manual'
		BEGIN
			SELECT @DeliveryInstruction = ISNULL(SpecialInstructions,'')
			FROM dbo.Orders
			WHERE Deleted = 0 AND order_number = @SourceOrderNumber;
		END

		INSERT INTO #TmpFromAddress
		(
			OrderNumber,
			FromName,			
			FromAddressLine1,
			FromAddressLine2,
			FromSuburb,
			FromState,
			FromPostcode,
			FromPhone,
			FromEmail,
			DeliveryInstruction
		)
		SELECT 	
			@OrderNumber,
			@TenantName,
			WAddressLine1,
			WAddressLine2,
			WSuburb,
			WState,
			WPostcode,
			Phone,
			Email,
			@DeliveryInstruction
		FROM LocWarehouse
		WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

		FETCH NEXT FROM OrderCursor INTO @OrderNumber;
	END;

	CLOSE OrderCursor;
	DEALLOCATE OrderCursor;

	
    SELECT l.*, f.OrderNumber, ISNULL(pin.SlotNumber, 0) AS SlotNumber , f.order_number as SourceOrderNumber, t.TenantName, f.TenantCode, f.WarehouseCode,
		--- from
		o.FromName ,
		o.FromAddressLine1,
		o.FromAddressLine2,
		o.FromSuburb,
		o.FromState,
		o.FromPostcode,
		o.FromPhone,
		o.FromEmail,		
		o.DeliveryInstruction,
		--- to
		f.shipping_address_name as 'ToName',
		f.shipping_address_company as 'ToBusinessName',
		f.shipping_address_address1 as 'ToAddressLine1',
		f.shipping_address_address2 as 'ToAddressLine2',
		f.shipping_address_city as 'ToSuburb',
		f.shipping_address_province as 'ToState',
		f.shipping_address_zip as 'ToPostcode',
		f.shipping_address_country as 'ToCountry',
		f.Phone as 'ToPhone',
		f.contact_email as 'ToEmail'
	FROM dbo.FulfilmentLine l
	INNER JOIN dbo.Fulfilment f ON f.FulfilmentID = l.FulfilmentID
	INNER JOIN #TmpFromAddress o ON f.OrderNumber = o.OrderNumber
	LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0	
	LEFT JOIN dbo.PickingInfo pin ON pin.OrderNumber = f.OrderNumber AND pin.Deleted = 0
	WHERE l.Deleted = 0;

END
GO
