USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_SearchFulfilments]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 Jul, 2025>
-- Description:	<Search Fulfilment Orders>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_SearchFulfilments]
     @FulfilmentStatus VARCHAR(20) = NULL, -- Fulfilment Started Completed Error
     @PickStatus VARCHAR(20) = NULL,  -- Pending Started Completed Error 
	 @SortStatus VARCHAR(20) = NULL,  -- Pending Started Completed Error 
	 @PackStatus VARCHAR(20) = NULL,  -- Pending Started Completed Error 
	 @MailStatus VARCHAR(20) = NULL,  -- Pending Started Completed Error 
	 @Search VARCHAR(50) = NULL,
	 @TenantCode VARCHAR(20) = NULL,  
	 @WarehouseCode NVARCHAR(10) = NULL,		
	 @PageNumber INT = 1,
	 @PageSize INT = 10,
	 @OrderBy VARCHAR(50) = 'FulfilmentID',
	 @OrderDir VARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @FulfilmentType VARCHAR(20);
	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);
	DECLARE @RowCount INT;

	SET @FulfilmentType = 'Orders';

	SET @SQL = N'
		SELECT @RowCount = COUNT(*) 
		FROM  dbo.Fulfilment f
		LEFT JOIN
		(
			SELECT l.OrderNumber, w.WaveNumber, w.WaveStatus , l.PickStatus, l.SortStatus, l.PackStatus, l.MailStatus, w.PickingType
			FROM WaveLine l 
			LEFT JOIN Wave w ON w.WaveID = l.WaveID 
			WHERE l.Deleted = 0
		) w ON w.OrderNumber = f.OrderNumber	

		LEFT JOIN dbo.WaveLine wl 
			ON wl.OrderNumber = f.OrderNumber 
		   AND wl.Deleted = 0

		LEFT JOIN dbo.AP_Shipment ash
			ON wl.ShipmentID = ash.ShipmentID 
		   AND ash.Deleted = 0

		LEFT JOIN dbo.AP_ShipmentINT asht
			ON wl.ShipmentID = asht.ShipmentID 
		   AND asht.Deleted = 0

		LEFT JOIN dbo.DHLResponse d
			ON f.OrderNumber = d.MessageReference

		WHERE f.Deleted = 0 AND f.OnHold = 0 AND f.FulfilmentType = ''' +  @FulfilmentType  +  '''';		

		IF @FulfilmentStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND f.FulfilmentStatus = ''' + REPLACE(@FulfilmentStatus, '''', '''''') + '''';
		END
						
		IF @Search IS NOT NULL
		BEGIN
			SET @SQL += N' AND (
					f.OrderNumber LIKE ''%' + REPLACE(@Search, '''', '''''') + '%'' 
					OR f.order_number LIKE ''%' + REPLACE(@Search, '''', '''''') + '%'' 
					OR 
					(
						CASE
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%Local'' 
								THEN ash.AP_ConsignmentID
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%INT'' 
								THEN asht.AP_ConsignmentID
							WHEN f.Carrier LIKE ''DHL Express%'' 
								THEN d.shipmentTrackingNumber
							WHEN f.TrackingNumber IS NOT NULL 
								THEN f.TrackingNumber
							ELSE ''''
						END
					) LIKE ''%' + REPLACE(@Search, '''', '''''') + '%''
				)';
		END


		IF @WarehouseCode IS NOT NULL
			SET @SQL += N' AND f.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + '''';

		IF @TenantCode IS NOT NULL
			SET @SQL += N' AND f.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';

		IF @PickStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.PickStatus = ''' + REPLACE(@PickStatus, '''', '''''') + '''';
		END

		IF @SortStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.PickingType = ''Bulk'' AND w.SortStatus = ''' + REPLACE(@SortStatus, '''', '''''') + '''';
		END

		IF @PackStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.PackStatus = ''' + REPLACE(@PackStatus, '''', '''''') + '''';
		END

		IF @MailStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.MailStatus = ''' + REPLACE(@MailStatus, '''', '''''') + '''';
		END
			
		-- Execute and capture result
		EXEC sp_executesql @SQL, N'@RowCount INT OUTPUT', @RowCount = @RowCount OUTPUT;

		SET @TotalRecords = @RowCount;
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'
			SELECT 
				f.*, 
				w.WaveID, 
				w.WaveNumber, 
				w.WaveStatus, 
				lw.WarehouseName, 
				t.TenantName, 
				t.TenantID, 
				w.PickStatus, 
				w.SortStatus, 
				w.PackStatus, 
				w.MailStatus,

				-- Add Tracking Number CASE
				CASE
					WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%Local'' 
						THEN ash.AP_ConsignmentID
					WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%INT'' 
						THEN asht.AP_ConsignmentID
					WHEN f.Carrier LIKE ''DHL Express%'' 
						THEN d.shipmentTrackingNumber
					WHEN f.TrackingNumber IS NOT NULL 
						THEN f.TrackingNumber
					ELSE ''''
				END AS CarrierTrackingNumber

			FROM dbo.Fulfilment f

			-- Wave and WaveLine
			LEFT JOIN (
				SELECT 
					l.OrderNumber, 
					w.WaveID, 
					w.WaveNumber, 
					w.WaveStatus, 
					l.PickStatus, 
					l.SortStatus, 
					l.PackStatus, 
					l.MailStatus, 
					w.PickingType
				FROM WaveLine l
				LEFT JOIN Wave w ON w.WaveID = l.WaveID 
				WHERE l.Deleted = 0
			) w ON w.OrderNumber = f.OrderNumber

			-- Required joins for Tracking
			LEFT JOIN dbo.WaveLine wl 
				ON wl.OrderNumber = f.OrderNumber 
			   AND wl.Deleted = 0

			LEFT JOIN dbo.AP_Shipment ash
				ON wl.ShipmentID = ash.ShipmentID 
			   AND ash.Deleted = 0

			LEFT JOIN dbo.AP_ShipmentINT asht
				ON wl.ShipmentID = asht.ShipmentID 
			   AND asht.Deleted = 0

			LEFT JOIN dbo.DHLResponse d
				ON f.OrderNumber = d.MessageReference

			-- Other existing joins
			LEFT JOIN LocWarehouse lw 
				ON lw.WarehouseCode = f.WarehouseCode 
			   AND lw.Deleted = 0

			LEFT JOIN Tenant t 
				ON t.TenantCode = f.TenantCode 
			   AND t.Deleted = 0

			WHERE f.Deleted = 0 
			  AND f.OnHold = 0
			  AND f.FulfilmentType = ''' + @FulfilmentType + '''';


		IF @FulfilmentStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND f.FulfilmentStatus = ''' + REPLACE(@FulfilmentStatus, '''', '''''') + '''';
		END
	
		IF @Search IS NOT NULL
		BEGIN
			SET @SQL += N' AND (
					f.OrderNumber LIKE ''%' + REPLACE(@Search, '''', '''''') + '%'' 
					OR f.order_number LIKE ''%' + REPLACE(@Search, '''', '''''') + '%'' 
					OR 
					(
						CASE
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%Local'' 
								THEN ash.AP_ConsignmentID
							WHEN f.Carrier LIKE ''Australia Post%'' AND wl.ShipmentType LIKE ''%INT'' 
								THEN asht.AP_ConsignmentID
							WHEN f.Carrier LIKE ''DHL Express%'' 
								THEN d.shipmentTrackingNumber
							WHEN f.TrackingNumber IS NOT NULL 
								THEN f.TrackingNumber
							ELSE ''''
						END
					) LIKE ''%' + REPLACE(@Search, '''', '''''') + '%''
				)';
		END


		IF @WarehouseCode IS NOT NULL
			SET @SQL += N' AND f.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + '''';

		IF @TenantCode IS NOT NULL
			SET @SQL += N' AND f.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';

		IF @PickStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.PickStatus = ''' + REPLACE(@PickStatus, '''', '''''') + '''';
		END

		IF @SortStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.PickingType = ''Bulk'' AND w.SortStatus = ''' + REPLACE(@SortStatus, '''', '''''') + '''';
		END

		IF @PackStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.PackStatus = ''' + REPLACE(@PackStatus, '''', '''''') + '''';
		END

		IF @MailStatus IS NOT NULL
		BEGIN
			SET @SQL += N' AND w.MailStatus = ''' + REPLACE(@MailStatus, '''', '''''') + '''';
		END

		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS VARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS VARCHAR) + ' ROWS ONLY';

		PRINT @SQL;

		EXEC sp_executesql @SQL;
END
GO
