USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantCustomCost_ListChargeItemCostByTenantAndId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Nov, 2024>
-- Description:	<List All Custom Cost of Warehouse by Charge Item ID And Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantCustomCost_ListChargeItemCostByTenantAndId] 
    @TenantCode VARCHAR(10),
	@ChargeItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

   -- Retrieve 
    SELECT tcc.* , w.WarehouseName
    FROM dbo.TenantCustomCost tcc
	INNER JOIN dbo.TenantChargeItem tci 
	ON tcc.TenantChargeItemID = tci.TenantChargeItemID 
	    AND tci.ChargeItemID = @ChargeItemID AND tci.TenantCode = @TenantCode
	LEFT JOIN dbo.LocWarehouse w
	ON tcc.WarehouseCode = w.WarehouseCode
    WHERE tci.DELETED = 0;

END
GO
