USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_MobileDevice_CheckExistedMobileDevice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Oct, 2024>
-- Description:	<Check Mobile Device ID existed>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_MobileDevice_CheckExistedMobileDevice] @MobileDeviceIdentifier VARCHAR(40)
AS
BEGIN

	SET NOCOUNT ON;

	IF EXISTS(SELECT 1 FROM dbo.MobileDevice WHERE MobileDeviceIdentifier = @MobileDeviceIdentifier AND Deleted = 0 AND Allow = 1)
	BEGIN
		select 1;
	END
	ELSE
	BEGIN
		select 0;
	END
END
GO
