USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_ApplyReportSchedule]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 jan, 2025>
-- Description:	<Apply Report Schedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_ApplyReportSchedule]  
    @ReportScheduleID INT,
	@AllTenant BIT = FALSE,
	@TenantIds dbo.IdArray READONLY,
	@CreatedDateTime DATETIME = NULL,
	@CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		IF @ReportScheduleID IS NULL
		BEGIN
			 SET @Message = 'ReportSchedule is not created successfully.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- Get Tenant Codes
		DECLARE @TenantCodes dbo.StringArray;
		DECLARE @Interval VARCHAR(50);
		DECLARE @Output VARCHAR(50);
		DECLARE @StoreProcedureName VARCHAR(200);

		-- get report schedule info
		SELECT @Interval = Interval, @Output = [Output], @StoreProcedureName = StoreProcedureName
		FROM dbo.ReportSchedule  
		WHERE  DELETED = 0 AND ReportScheduleID = @ReportScheduleID;

		IF @AllTenant = 1
		BEGIN
			INSERT INTO @TenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE DELETED = 0;
		END
		ELSE
		BEGIN
			INSERT INTO @TenantCodes (Value)
			SELECT TenantCode
			FROM dbo.Tenant
			WHERE TenantId IN (SELECT Value FROM @TenantIds);
		END

        -- Insert Standard
		INSERT INTO dbo.TenantReportSchedule 
			(
				TenantCode, 
				ReportScheduleId, 
				Interval, 
				[Output], 
				StoreProcedureName, 
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
		SELECT Value AS TenantCode,
				@ReportScheduleID AS ReportScheduleId,
				@Interval,
				@Output,
				@StoreProcedureName,
				0 As Deleted,
				@CreatedDateTime,
				@CreatedBy
		FROM @TenantCodes;

        -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
