USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSBin_ViewLocSBin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<View>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSBin_ViewLocSBin] @LocSBinID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.LocSBin 
    WHERE LocSBinID = @LocSBinID AND DELETED = 0;
END
GO
