USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockTakeDetailWeeklyReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement Weekly StockTake Detail Report>  
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockTakeDetailWeeklyReport]
	@ReportDefinitionID INT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @OutputType VARCHAR(50),
			@StartDate DateTime,
			@EndDate DateTime;

	SELECT @OutputType = OutputType
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	
	EXEC SP_VI_TBL_ReportScript_GetReportDateRange
		 @ScheduleType = 'Weekly',
		 @StartDate = @StartDate OUTPUT,
		 @EndDate = @EndDate OUTPUT;

	
	IF @OutputType IS NULL OR @OutputType = 'Portal'
	BEGIN
		PRINT 'Save DB';

		BEGIN TRY

			BEGIN TRANSACTION

			--inset header
			INSERT INTO dbo.ReportData (ReportDefinitionID, TenantCode, TenantName, WarehouseCode, StartDate, EndDate, StoreProcedure, Deleted, CreatedDateTime, CreatedBy)
			SELECT DISTINCT 
				@ReportDefinitionID,
				A.TenantCode,
				A.TenantName,
				A.WarehouseCode,
				@StartDate,
				@EndDate,
				'[dbo].[SP_VI_TBL_ReportScript_StockTakeDetailManualReport]',
				0,
				GETDATE(),
				'System'
			FROM 
			(
				SELECT s.ServiceID, s.WarehouseCode, s.TenantCode, t.TenantName, s.ServiceNumber, s.ServiceName,
				   sr.ULDBarcode, sr.ItemName, sr.ItemNumber, sr.ULDCurrentLocation, sr.Qty, sr.ScannedType, 
				   sr.ScannedUnit, sr.ScannedQty, sr.ScannedNumber, sr.CreatedDateTime, sr.CreatedBy
				FROM Service s 
				JOIN StockTakeResult sr ON s.ServiceID = sr.ServiceID
				LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode
				WHERE s.Deleted = 0 AND s.ServiceType = 'Stocktake' AND s.Status = 'Completed'
					  AND s.CreatedDateTime BETWEEN @StartDate AND @EndDate
			) A
			GROUP BY A.TenantCode, A.TenantName, A.WarehouseCode;

			-- Commit the transaction
			COMMIT TRANSACTION;

			--return 
			SELECT TenantCode FROM dbo.ReportData WHERE Deleted = 0 AND ReportDefinitionID = @ReportDefinitionID;

		END TRY
		BEGIN CATCH
			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;

	END
	
	IF @OutputType IS NULL OR @OutputType = 'Server'
	BEGIN
		PRINT 'Return CSV';

		SELECT s.ServiceID, s.WarehouseCode, w.WarehouseName, s.TenantCode, t.TenantName, s.ServiceNumber, s.ServiceName,
		   sr.ULDBarcode, sr.ItemName, sr.ItemNumber as ItemCode, sr.ULDCurrentLocation, dbo.fn_GetLocationNameFromCode(sr.ULDCurrentLocation) AS ULDCurrentLocationName,
		   sr.Qty, sr.ScannedType,sr.ScannedUnit, sr.ScannedQty, sr.ScannedNumber as ScannedBarCode, sr.CreatedDateTime, sr.CreatedBy, 
		   COALESCE(u.HoldStatus, '') as HoldStatus, COALESCE(u.HoldReason, '') as HoldReason
		FROM Service s 
		JOIN StockTakeResult sr ON s.ServiceID = sr.ServiceID
		LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode
		LEFT JOIN LocWarehouse w ON w.WarehouseCode = s.WarehouseCode
		LEFT JOIN ULD u ON u.ULDID = sr.ULDID
		WHERE s.Deleted = 0 AND s.ServiceType = 'Stocktake' AND s.Status = 'Completed'
			  AND s.CreatedDateTime BETWEEN @StartDate AND @EndDate;

	END
END
GO
