USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_ViewReceiptInbound]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<View Receipt Inbound>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_ViewReceiptInbound] @ReceiptInboundID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT
		ri.*, 
		lw.WarehouseName, 
		t.TenantName
	FROM 
		dbo.ReceiptInbound ri
		JOIN dbo.LocWarehouse lw ON ri.WarehouseCode = lw.WarehouseCode
		JOIN dbo.Tenant t ON ri.TenantCode = t.TenantCode 
    WHERE ri.ReceiptInboundID = @ReceiptInboundID AND ri.DELETED = 0;
END
GO
