USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_ViewAppliedReportScheduleByTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 Jan, 2025>
-- Description:	<View All Applied Report Schedule By Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_ViewAppliedReportScheduleByTenant]  
	 @TenantCode VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;
  
	SELECT rs.*
	FROM dbo.TenantReportSchedule trs
	LEFT JOIN dbo.ReportSchedule rs ON LOWER(rs.ReportScheduleId) = LOWER(trs.ReportScheduleId)
	WHERE trs.TenantCode = @TenantCode AND trs.deleted = 0 order by trs.ReportScheduleId;
END
GO
