USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocWarehouse_ViewShipmentAccountWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam Nguyen>
-- Create date: <1 Jan, 2024>
-- Description:	<View LocWarehouse's Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocWarehouse_ViewShipmentAccountWarehouse] 
     @WarehouseCode VARCHAR(10),
     @Type VARCHAR(10) -- AP: AP Warehouse, DH: DHL Warehouse
AS
BEGIN
	
	SET NOCOUNT ON;

    IF @Type  = 'AP'
    BEGIN
        IF EXISTS (SELECT 1 FROM [dbo].[APWarehouseIntegration] WHERE WarehouseCode = @WarehouseCode AND Deleted = 0)
        BEGIN
            SELECT * FROM [dbo].[APWarehouseIntegration] WHERE WarehouseCode = @WarehouseCode AND Deleted = 0
        END       
    END
    ELSE IF @Type  = 'DHL'
    BEGIN
        IF EXISTS (SELECT 1 FROM [dbo].[DHLWarehouseIntegration] WHERE WarehouseCode = @WarehouseCode AND Deleted = 0)
         BEGIN
            SELECT * FROM [dbo].[DHLWarehouseIntegration] WHERE WarehouseCode = @WarehouseCode AND Deleted = 0
        END
    END
END
GO
