USE [3PLWMS]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertPackingInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2025>
-- Description:	<Insert Packing Invoice>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertPackingInvoice]  
	@WaveID INT,
	@OrderNumber VARCHAR(50),  
	@TenantCode VARCHAR(10),
	@WarehouseCode VARCHAR(20),   	
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @ChargeItemCat VARCHAR(100);			
		DECLARE @Unit VARCHAR(50);
		SET @ChargeItemCat = 'Packing';	

		DECLARE @WaveNumber VARCHAR(11);
		DECLARE @PickingType VARCHAR(50);
		-- get wave info
		SELECT @WaveNumber = WaveNumber, @PickingType = PickingType
		FROM dbo.Wave WHERE WaveID = @WaveID AND Deleted = 0;	


		DECLARE @PickingScheduleID INT;		
		DECLARE @SourceOrderNumber VARCHAR(50);		
		DECLARE @PackingResultID INT;		
		DECLARE @ItemNumber VARCHAR(50);
		DECLARE @Qty INT;
		DECLARE @PickingQty INT;
		DECLARE @OrginalQty INT;

		SELECT @SourceOrderNumber = SourceOrderNumber
		FROM dbo.WaveLine WHERE WaveID = @WaveID AND OrderNumber = @OrderNumber;

		SELECT @PackingResultID = PackingResultID
		FROM dbo.PackingResult WHERE WaveID = @WaveID AND OrderNumber = @OrderNumber AND Deleted = 0;		
		

		IF @PackingResultID IS NOT NULL
		BEGIN

			DECLARE cur_PackingResultLine CURSOR FOR
				SELECT ItemNumber, SUM(QTY) AS Qty
				FROM PackingResultLine
				WHERE PackingResultID = @PackingResultID 
				  AND Deleted = 0
				GROUP BY ItemNumber;

			OPEN cur_PackingResultLine;

			FETCH NEXT FROM cur_PackingResultLine INTO @ItemNumber, @Qty;

			WHILE @@FETCH_STATUS = 0
			BEGIN

				IF @PickingType = 'PickToOrder'
				BEGIN
					DECLARE cur_PickingResultUnit CURSOR FOR
					SELECT ScannedUnit, SUM(ScannedQty) AS Qty, SUM(Qty) AS OriginalQty
					FROM PickingResult
					WHERE OrderNumber = @OrderNumber
					  AND Deleted = 0
					  AND ItemNumber = @ItemNumber
					GROUP BY ScannedUnit;

					OPEN cur_PickingResultUnit;

					FETCH NEXT FROM cur_PickingResultUnit INTO @Unit, @PickingQty, @OrginalQty;

					WHILE @@FETCH_STATUS = 0
					BEGIN

						IF @PickingQty = 0
						BEGIN
							SET @PickingQty = @OrginalQty;
						END
						
						-- create charge group invoice per scanned unit
						EXEC [dbo].[SP_VI_TBL_Invoice_InsertChargeGroupInvoice]
							@ItemNumber = @ItemNumber,
							@ItemUnit = @Unit,
							@TenantCode = @TenantCode,
							@WarehouseCode = @WarehouseCode,
							@Qty = @PickingQty,
							@TransactionReference = @OrderNumber,
							@OrderReferences = @SourceOrderNumber,
							@WaveReferences = @WaveNumber,
							@Category = @ChargeItemCat,
							@CreatedDateTime = @CreatedDateTime,
							@CreatedBy = @CreatedBy,
							@Message = @Message OUTPUT;

						FETCH NEXT FROM cur_PickingResultUnit INTO @Unit, @PickingQty, @OrginalQty;
					END

					CLOSE cur_PickingResultUnit;
					DEALLOCATE cur_PickingResultUnit;
				END
				ELSE --  @PickingType <> 'PickToOrder'
				BEGIN
					SELECT @PickingScheduleID = PickingScheduleID FROM dbo.PickingSchedule WHERE WaveID = @WaveID AND Deleted = 0 AND ItemNumber = @ItemNumber;					
					SELECT @Unit = ScannedUnit FROM dbo.PickingResult WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;

					EXEC [dbo].[SP_VI_TBL_Invoice_InsertChargeGroupInvoice]
							@ItemNumber = @ItemNumber,
							@ItemUnit = @Unit,
							@TenantCode = @TenantCode,
							@WarehouseCode = @WarehouseCode,
							@Qty = @Qty,
							@TransactionReference = @OrderNumber,
							@OrderReferences = @SourceOrderNumber,
							@WaveReferences = @WaveNumber,
							@Category = @ChargeItemCat,
							@CreatedDateTime = @CreatedDateTime,
							@CreatedBy = @CreatedBy,
							@Message = @Message OUTPUT;

				END

				FETCH NEXT FROM cur_PackingResultLine INTO @ItemNumber, @Qty;
			END

			CLOSE cur_PackingResultLine;
			DEALLOCATE cur_PackingResultLine;
			
		END		
		

		DECLARE @Charge DECIMAL(10, 2);
		DECLARE @Currency VARCHAR(20);
		DECLARE @ChargeType VARCHAR(20); -- Standard or Custom

		DECLARE @ChargeItemID INT;
		DECLARE @ChargeItemName VARCHAR(200);		
		DECLARE @ChargeItemUnit VARCHAR(50);

		DECLARE charge_item_cursor CURSOR FOR 
		SELECT ChargeItemID, ChargeItemName, ChargeItemUnit FROM dbo.ChargeItem WHERE ChargeItemGroup = @ChargeItemCat AND DELETED = 0;

		OPEN charge_item_cursor;

		FETCH NEXT FROM charge_item_cursor INTO @ChargeItemID, @ChargeItemName, @ChargeItemUnit;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			SET @ChargeType = NULL;
			-- Call the child stored procedure
			EXEC [dbo].[SP_VI_TBL_ChargeItem_GetCostInfoOfTenantByWarehouseCode]
				@ChargeItemID = @ChargeItemID,
				@TenantCode = @TenantCode,
				@WarehouseCode = @WarehouseCode,
				@Charge = @Charge OUTPUT,
				@Currency = @Currency OUTPUT,
				@ChargeType = @ChargeType OUTPUT;			

			IF @ChargeType IS NOT NULL
			BEGIN				

				DECLARE cur_PackingResultLine1 CURSOR FOR
				SELECT ItemNumber, SUM(QTY) AS Qty
				FROM PackingResultLine
				WHERE PackingResultID = @PackingResultID 
				  AND Deleted = 0
				GROUP BY ItemNumber;

				OPEN cur_PackingResultLine1;

				FETCH NEXT FROM cur_PackingResultLine1 INTO @ItemNumber, @Qty;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					IF @PickingType = 'PickToOrder'
					BEGIN
						
						DECLARE cur_PickingResultUnit1 CURSOR FOR
						SELECT ScannedUnit, SUM(ScannedQty) AS Qty, SUM(Qty) AS OriginalQty
						FROM PickingResult
						WHERE OrderNumber = @OrderNumber
						AND Deleted = 0
						AND ItemNumber = @ItemNumber
						GROUP BY ScannedUnit;

						OPEN cur_PickingResultUnit1;

						FETCH NEXT FROM cur_PickingResultUnit1 INTO @Unit, @PickingQty, @OrginalQty;

						WHILE @@FETCH_STATUS = 0
						BEGIN
						

							IF @PickingQty = 0
							BEGIN
								SET @PickingQty = @OrginalQty;
							END
							
							If @Unit = @ChargeItemUnit
							BEGIN

								INSERT INTO [dbo].[Invoice] (
									TenantCode,
									ChargeName,
									ChargeType,
									ChargeCategory,
									InvoiceReferences,
									OrderReferences,
									WaveReferences,
									ItemReferences,
									WarehouseCode,
									Qty,
									Cost,
									Charge,
									Currency,
									Status,
									Deleted,
									CreatedDateTime,
									CreatedBy
								)
								VALUES (
									@TenantCode,
									@ChargeItemName,
									@ChargeType,
									@ChargeItemCat,
									@OrderNumber,
									@SourceOrderNumber,
									@WaveNumber,
									'',
									@WarehouseCode,
									@PickingQty,
									@Charge,
									@Charge * @PickingQty,
									@Currency,
									'Pending',
									0, -- Deleted
									@CreatedDateTime,
									@CreatedBy
								);
							END

							FETCH NEXT FROM cur_PickingResultUnit1 INTO @Unit, @PickingQty, @OrginalQty;
						END

						CLOSE cur_PickingResultUnit1;
						DEALLOCATE cur_PickingResultUnit1;
					END
					ELSE -- @PickingType <> 'PickToOrder'
					BEGIN
						/*SELECT @PickingScheduleID = PickingScheduleID FROM dbo.PickingSchedule WHERE WaveID = @WaveID AND Deleted = 0 AND ItemNumber = @ItemNumber;					
						SELECT @Unit = ScannedUnit FROM dbo.PickingResult WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;*/

						If @ChargeItemUnit = 'Unit'
						BEGIN
							
							/*IF NOT EXISTS (
								SELECT 1 
								FROM dbo.Invoice 
								WHERE TenantCode = @TenantCode 
								AND WarehouseCode = @WarehouseCode								
								AND ChargeType = @ChargeType
								AND OrderReferences = @SourceOrderNumber 
								AND ChargeName = @ChargeItemName 
								AND ChargeCategory = @ChargeItemCat
								AND Deleted = 0
							)
							BEGIN*/
								INSERT INTO [dbo].[Invoice] (
									TenantCode,
									ChargeName,
									ChargeType,
									ChargeCategory,
									InvoiceReferences,
									OrderReferences,
									WaveReferences,
									ItemReferences,
									WarehouseCode,
									Qty,
									Cost,
									Charge,
									Currency,
									Status,
									Deleted,
									CreatedDateTime,
									CreatedBy
								)
								VALUES (
									@TenantCode,
									@ChargeItemName,
									@ChargeType,
									@ChargeItemCat,
									@OrderNumber,
									@SourceOrderNumber,
									@WaveNumber,
									'',
									@WarehouseCode,
									@Qty,
									@Charge,
									@Charge * @Qty,
									@Currency,
									'Pending',
									0, -- Deleted
									@CreatedDateTime,
									@CreatedBy
								);
								/*END*/
							END
							
						END

					FETCH NEXT FROM cur_PackingResultLine1 INTO @ItemNumber, @Qty;
				END

				CLOSE cur_PackingResultLine1;
				DEALLOCATE cur_PackingResultLine1;
			END

			FETCH NEXT FROM charge_item_cursor INTO @ChargeItemID, @ChargeItemName, @ChargeItemUnit;
		END

		CLOSE charge_item_cursor;
		DEALLOCATE charge_item_cursor;
		

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
