USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSection_ListAllSectionsByAreaId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get Section by AreaId>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSection_ListAllSectionsByAreaId] 
   @LocAreaID INT,
   @StorageType VARCHAR(50) = NULL
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	IF @StorageType IS NULL
	BEGIN
		/*SELECT ls.*, COALESCE(bta.AllocationCount,0) as AllocationCount
		FROM (
			SELECT s.*, COALESCE(c.ColumnCount, 0) AS ColumnCount
			FROM LocSection s
			LEFT JOIN (
				SELECT r.LocSectionId, COUNT(c.LocColumnId) AS ColumnCount
				FROM LocRow r
				LEFT JOIN LocColumn c ON r.LocRowId = c.LocRowId and c.Deleted = 0
				GROUP BY r.LocSectionId
			) c ON s.LocSectionId = c.LocSectionId
		) ls 
		LEFT JOIN 
			(
				SELECT SectionId , COUNT(SectionId) as AllocationCount 
				FROM dbo.BayTenantAllocation 
				WHERE Deleted = 0
				group by SectionId
			) bta
		ON ls.LocSectionID = bta.SectionID
		WHERE ls.LocAreaID = @LocAreaID AND ls.DELETED = 0;*/
		SELECT s.*, 
			   COALESCE(c.BinCount, 0) AS BinCount, 
			   COALESCE(bta.AllocationBinCount, 0) AS AllocationBinCount,
			   COALESCE(d.ColumnCount, 0) AS ColumnCount, 
			   COALESCE(bta1.AllocationColumnCount, 0) AS AllocationColumnCount
		FROM LocSection s
		LEFT JOIN (
			SELECT r.LocSectionId, COUNT(b.LocBinId) AS BinCount
			FROM LocRow r
				LEFT JOIN LocColumn c ON r.LocRowId = c.LocRowId AND c.Deleted = 0
				LEFT JOIN LocShelf s ON c.LocColumnId = s.LocColumnId AND s.Deleted = 0
				LEFT JOIN LocBin b ON s.LocShelfId = b.LocShelfId AND b.Deleted = 0
			GROUP BY r.LocSectionId
		) c ON s.LocSectionId = c.LocSectionId
		LEFT JOIN (
			SELECT r.LocSectionId, COUNT(c.LocColumnId) AS ColumnCount
			FROM LocRow r
			LEFT JOIN LocColumn c ON r.LocRowId = c.LocRowId AND c.Deleted = 0
			GROUP BY r.LocSectionId
		) d ON s.LocSectionId = d.LocSectionId
		LEFT JOIN (
			SELECT SectionId, COUNT(SectionId) AS AllocationBinCount
			FROM dbo.BinTenantAllocation
			WHERE Deleted = 0
			GROUP BY SectionId
		) bta ON s.LocSectionID = bta.SectionID
		LEFT JOIN (
			SELECT SectionId, COUNT(SectionId) AS AllocationColumnCount
			FROM dbo.BayTenantAllocation
			WHERE Deleted = 0
			GROUP BY SectionId
		) bta1 ON s.LocSectionID = bta1.SectionID
		WHERE s.LocAreaID = @LocAreaID 
		  AND s.DELETED = 0; 
		 
	END
	ELSE IF @StorageType = 'PickFace'
	BEGIN
		SELECT s.*, 
			   COALESCE(c.ColumnCount, 0) AS ColumnCount, 
			   COALESCE(bta.AllocationCount, 0) AS AllocationCount
		FROM LocSection s
		LEFT JOIN (
			SELECT r.LocSectionId, COUNT(c.LocColumnId) AS ColumnCount
			FROM LocRow r
			LEFT JOIN LocColumn c ON r.LocRowId = c.LocRowId AND c.Deleted = 0
			GROUP BY r.LocSectionId
		) c ON s.LocSectionId = c.LocSectionId
		LEFT JOIN (
			SELECT SectionId, COUNT(SectionId) AS AllocationCount
			FROM dbo.BayTenantAllocation
			WHERE Deleted = 0
			GROUP BY SectionId
		) bta ON s.LocSectionID = bta.SectionID
		WHERE s.LocAreaID = @LocAreaID 
		  AND s.DELETED = 0 
		  AND s.StorageType = @StorageType;
	END
	ELSE IF @StorageType = 'PerfectPick'
	BEGIN
		SELECT s.*, 
			   COALESCE(c.BinCount, 0) AS BinCount, 
			   COALESCE(bta.AllocationCount, 0) AS AllocationCount
		FROM LocSection s
		LEFT JOIN (
			SELECT r.LocSectionId, COUNT(b.LocBinId) AS BinCount
			FROM LocRow r
				LEFT JOIN LocColumn c ON r.LocRowId = c.LocRowId AND c.Deleted = 0
				LEFT JOIN LocShelf s ON c.LocColumnId = s.LocColumnId AND s.Deleted = 0
				LEFT JOIN LocBin b ON s.LocShelfId = b.LocShelfId AND b.Deleted = 0
			GROUP BY r.LocSectionId
		) c ON s.LocSectionId = c.LocSectionId
		LEFT JOIN (
			SELECT SectionId, COUNT(SectionId) AS AllocationCount
			FROM dbo.BinTenantAllocation
			WHERE Deleted = 0
			GROUP BY SectionId
		) bta ON s.LocSectionID = bta.SectionID
		WHERE s.LocAreaID = @LocAreaID 
		  AND s.DELETED = 0 
		  AND s.StorageType = @StorageType;
	END
	ELSE
	BEGIN
		SELECT s.*
		FROM LocSection s
		WHERE s.LocAreaID = @LocAreaID 
		  AND s.DELETED = 0 
		  AND s.StorageType = @StorageType;
	END

END
GO
