USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockReachLimitDailyReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Sep, 2025>
-- Description:	<Implement Stock Reach Limit Daily Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockReachLimitDailyReport]
	@ReportDefinitionID INT,
	@OutputFileName VARCHAR(100) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@WarehouseCode VARCHAR(20),
			@OutputType VARCHAR(50),
			@TenantName VARCHAR(250),
			@ReportName VARCHAR(300);

	SELECT @OutputType = OutputType,
		   @ReportName = ReportName
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	DECLARE @SQL NVARCHAR(MAX);

	-- Declare
	CREATE TABLE #TempTable
	(
		WarehouseCode VARCHAR(20),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ItemName VARCHAR(250),
		ItemNumber VARCHAR(30),
		StockLimit INT,
		TotalULD INT,
		Qty INT
	);


	DECLARE TenantCursor CURSOR FOR
	SELECT s.TenantCode , s.WarehouseCode, t.TenantName
	FROM dbo.TenantReportDefinition s
	LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode
	WHERE s.Deleted = 0 AND s.ReportDefinitionID = @ReportDefinitionID;

	OPEN TenantCursor;

	FETCH NEXT FROM TenantCursor INTO @TenantCode, @WarehouseCode, @TenantName;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- You can perform your logic here, e.g.:
		PRINT 'Processing tenant: ' + @TenantCode + ' ' + @WarehouseCode;

	
		INSERT INTO #TempTable
		(
			WarehouseCode,
			TenantCode,
			TenantName,
			ItemName,
			ItemNumber,
			StockLimit,
			TotalULD,
			Qty
		)
		SELECT 
			A.WarehouseCode, 
			@TenantCode,
			@TenantName,
			A.ItemName, 
			A.ItemNumber, 
			I.MinimumStockLimit AS StockLimit,
			COALESCE(A.TotalULD, 0)            AS TotalULD, 
			COALESCE(A.TotalTransactionQty, 0) AS Qty
		FROM (
			SELECT 
				U.ItemNumber, 
				U.ItemName,
				U.WarehouseCode,
				COUNT(DISTINCT U.ULDID)     AS TotalULD, 
				SUM(UL.TransactionQty)      AS TotalTransactionQty
			FROM dbo.ULD      AS U
			INNER JOIN dbo.ULDLine AS UL
				ON UL.ULDID = U.ULDID
			WHERE U.TenantCode = @TenantCode
			  AND U.Deleted = 0
			  AND U.Status <> 'Draft'
			  AND UL.TransactionType <> 'Allocated'
			  AND UL.Deleted = 0
			GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
			HAVING SUM(UL.TransactionQty) > 0
		) AS A 
		INNER JOIN dbo.Items AS I
			ON I.ItemNumber = A.ItemNumber
		   AND I.TenantCode = @TenantCode
		   AND I.Deleted = 0
		WHERE A.WarehouseCode = @WarehouseCode
		  AND I.MinimumStockLimit IS NOT NULL
		  AND I.MinimumStockLimit > A.TotalTransactionQty;  -- below min stock


		-- Next
		FETCH NEXT FROM TenantCursor INTO @TenantCode, @WarehouseCode, @TenantName;
	END

	CLOSE TenantCursor;
	DEALLOCATE TenantCursor;

	IF @OutputType IS NULL OR @OutputType = 'Portal'
	BEGIN
		PRINT 'Save DB';

		SET @OutputFileName = 'ReportPortal_' + @ReportName + '_' + CONVERT(CHAR(8), GETDATE(), 112);

		BEGIN TRY

			BEGIN TRANSACTION

			--inset header
			INSERT INTO dbo.ReportData (ReportDefinitionID, TenantCode, TenantName, WarehouseCode, StartDate, EndDate, ReportFileName, Deleted, CreatedDateTime, CreatedBy)
			SELECT DISTINCT 
				@ReportDefinitionID,
				TenantCode,
				TenantName,
				WarehouseCode,
				NULL,
				NULL,
				@OutputFileName,
				0,
				GETDATE(),
				'System'
			FROM #TempTable
			GROUP BY TenantCode, TenantName, WarehouseCode;

			-- Commit the transaction
			COMMIT TRANSACTION

			
			SELECT 
				WarehouseCode,
				TenantCode,
				TenantName,
				ItemName,
				ItemNumber as ItemCode,
				StockLimit,
				TotalULD,
				Qty 
			FROM #TempTable;

		END TRY
		BEGIN CATCH
			
			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END


			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;

	END

	IF @OutputType IS NULL OR @OutputType = 'Server'
	BEGIN
		
		PRINT 'Return CSV';
		SELECT 
				WarehouseCode,
				TenantCode,
				TenantName,
				ItemName,
				ItemNumber as ItemCode,
				StockLimit,
				TotalULD,
				Qty  
		FROM #TempTable;
	END
END
GO
