USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantPermissionConfig_ViewTenantPermissionConfig]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantPermissionConfig_ViewTenantPermissionConfig] 
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

	IF @WarehouseCode IS NULL
	BEGIN
		SELECT * 
		FROM dbo.TenantPermissionConfig 		
		WHERE TenantCode = @TenantCode AND DELETED = 0;
	END
	ELSE
	BEGIN
		SELECT * 
		FROM dbo.TenantPermissionConfig 				
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND DELETED = 0;
	END

	IF @WarehouseCode IS NULL
    BEGIN
        SELECT 
            spc.TenantSectionPermissionConfigID,
            spc.TenantPermissionConfigID,
            spc.Section,
            spc.Action,
            spc.Allow,
            spc.Deleted,
            pc.Permission
        FROM dbo.TenantSectionPermissionConfig spc
        INNER JOIN dbo.TenantPermissionConfig pc ON pc.TenantPermissionConfigID = spc.TenantPermissionConfigID
        WHERE pc.TenantCode = @TenantCode 
          AND pc.DELETED = 0 
          AND spc.Deleted = 0;
    END
    ELSE
    BEGIN
        SELECT 
            spc.TenantSectionPermissionConfigID,
            spc.TenantPermissionConfigID,
            spc.Section,
            spc.Action,
            spc.Allow,
            spc.Deleted,
            pc.Permission
        FROM dbo.TenantSectionPermissionConfig spc
        INNER JOIN dbo.TenantPermissionConfig pc ON pc.TenantPermissionConfigID = spc.TenantPermissionConfigID
        WHERE pc.TenantCode = @TenantCode 
          AND pc.WarehouseCode = @WarehouseCode
          AND pc.DELETED = 0 
          AND spc.Deleted = 0;
    END
END
GO
