USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantPermissionConfig_UpdateTenantPermissionConfig]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Aug, 2024>
-- Description:	<Update TenantPermissionConfigID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantPermissionConfig_UpdateTenantPermissionConfig] 
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20),
	@ConfigInfo dbo.TenantPermissionType READONLY,	
	@ConfigSectionInfo dbo.TenantSectionPermissionType READONLY,	
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		BEGIN TRANSACTION

		IF @WarehouseCode IS NULL
		BEGIN
			-- Update the Tenant table, excluding TenantCode and Deleted fields
			UPDATE dbo.TenantPermissionConfig
			SET
				Deleted = 1,			
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE TenantCode = @TenantCode;
		END
		ELSE
		BEGIN
			-- Update the Tenant table, excluding TenantCode and Deleted fields
			UPDATE dbo.TenantPermissionConfig
			SET
				Deleted = 1,			
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode;
		END
		
		DECLARE
			@Permission VARCHAR(500),
			@Create BIT,
			@View BIT,
			@Edit BIT,
			@Delete BIT;

		DECLARE @NewId INT;

		DECLARE ConfigInfoCursor CURSOR LOCAL FAST_FORWARD FOR
		SELECT
			Permission,
			[Create],
			[View],
			[Edit],
			[Delete]
		FROM @ConfigInfo;

		OPEN ConfigInfoCursor;

		FETCH NEXT FROM ConfigInfoCursor
		INTO @Permission, @Create, @View, @Edit, @Delete;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'Create', @Create, 0, @LastEditedDateTime, @LastEditedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'Create', Allow, 0, @LastEditedDateTime, @LastEditedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'Create' AND Permission = @Permission;

			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'Edit', @Edit, 0, @LastEditedDateTime, @LastEditedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'Edit', Allow, 0, @LastEditedDateTime, @LastEditedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'Edit' AND Permission = @Permission;

			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'View', @View, 0, @LastEditedDateTime, @LastEditedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'View', Allow, 0, @LastEditedDateTime, @LastEditedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'View' AND Permission = @Permission;

			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'Delete', @Delete, 0, @LastEditedDateTime, @LastEditedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'Delete', Allow, 0, @LastEditedDateTime, @LastEditedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'Delete' AND Permission = @Permission;
			

			FETCH NEXT FROM ConfigInfoCursor
			INTO @Permission, @Create, @View, @Edit, @Delete;
		END;

		CLOSE ConfigInfoCursor;
		DEALLOCATE ConfigInfoCursor;


		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
