USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_FulfilmentLine_ViewFulfilmentLinesByIDs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Jul, 2025>
-- Description:	<Get detail information of FulfilmentLine by FulfilmentID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_FulfilmentLine_ViewFulfilmentLinesByIDs] 
     @FulfilmentIDs dbo.IdArray READONLY
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT l.*
	FROM dbo.FulfilmentLine l
	INNER JOIN @FulfilmentIDs f	ON l.FulfilmentID = f.[Value]
	WHERE l.Deleted = 0;

END
GO
