USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CompletePickingTaskOfKitting]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Jun, 2025>
-- Description:	<Complete Picking Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_CompletePickingTaskOfKitting]     
	@WaveID INT,
	@PickingScheduleID INT,
	@CompletedDateTime  DATETIME = NULL,
	@OperationBy       VARCHAR(100) = NULL,
	@Results dbo.PickingResultType READONLY,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION
		
		DECLARE @ServiceID INT,
			    @PickingQty INT,
				@PickedQty INT,
				@ServiceNumber VARCHAR(50),
				@ServiceStatus VARCHAR(20),
				@ServiceType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@Status VARCHAR(20),
				@TransactionMovement VARCHAR(1000),
				@TenantCode VARCHAR(10);
		
		-- get service info from wave
		SELECT @ServiceNumber = SourceOrderNumber
		FROM dbo.WaveLine WHERE WaveID = @WaveID AND Deleted = 0;

		-- get service from service
		SELECT @ServiceID = ServiceID,
			   @ServiceStatus = Status,
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode
		FROM dbo.Service WHERE ServiceNumber = @ServiceNumber AND Deleted = 0;
		
		IF @ServiceStatus != 'InProgress'
		BEGIN
			SET @Message = 'Service Status is not In Progress.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceType IS NULL OR @ServiceType != 'Kitting'
		BEGIN
			SET @Message = 'This Service is not Kitting Service.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		SELECT 
			@Status = [Status],
			@PickingQty = Qty
		FROM dbo.PickingSchedule 
		WHERE PickingScheduleID = @PickingScheduleID AND DELETED = 0;

		IF @Status IS NULL OR @Status != 'Taken'
		BEGIN
			SET @Message = 'This Picking is over.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- picked qty
		SELECT 
			@PickedQty = ISNULL(SUM(Qty), 0)
		FROM 
			@Results
		GROUP BY 
			ULDID;
		

		IF @PickedQty > @PickingQty
		BEGIN
			SET @Message = 'The picking number exceeds the limit.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		UPDATE dbo.PickingSchedule
		SET [Status] = 'End',
			CompletedDate = @CompletedDateTime,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = @CompletedDateTime,
			LastEditedBy = @OperationBy
		WHERE PickingScheduleID = @PickingScheduleID;


		-- get next locatiion to replace
		DECLARE @NewULDID INT;
		IF @PickedQty < @PickingQty
		BEGIN
			
			DECLARE @ReplacedQty INT;
			SET @ReplacedQty = @PickingQty - @PickedQty;
			EXEC [dbo].[SP_VI_TBL_ULD_GetNextLocationForPicking]
				@PickingScheduleID = @PickingScheduleID,  
				@Qty = @ReplacedQty,
				@WaveID = NULL,
				@OperationDateTime = @CompletedDateTime,
				@OperationBy  = @OperationBy,
				@NewULDID = @NewULDID OUTPUT;
			
		END      


		-- Variables to hold data from cursor
		DECLARE @SequenceNumber INT,
			@ItemID INT,
			@Qty INT,
			@RequiredQty INT,
			@ULDID INT,
			@ItemNumber NVARCHAR(30),
			@ULDCurrentLocation VARCHAR(50),
			@ULDBarcode VARCHAR(50),
			@ItemName VARCHAR(250),
			@ScannedType VARCHAR(30),
			@ScannedUnit VARCHAR(30),
			@ScannedNumber VARCHAR(MAX),
			@SerialCase BIT,
			@ScannedQty INT;

		SET @SerialCase = 0;

		-- Insert Result
		DECLARE result_cursor CURSOR LOCAL FOR
		SELECT Qty, RequiredQty, ULDID, ItemNumber, ScannedType, ScannedUnit, ScannedQty, ScannedNumber
		FROM @Results;

		-- Open cursor
		OPEN result_cursor;

		FETCH NEXT FROM result_cursor INTO @Qty, @RequiredQty, @ULDID, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber;

		-- Loop through the rows
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			-- get ItemID
			SELECT @ItemID = ItemID 
			FROM dbo.Items 
			WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode AND DELETED = 0;

			-- get ULD info
			SELECT @ULDCurrentLocation = ULDCurrentLocation, @ULDBarcode = ULDBarcode, @ItemName = ItemName
			FROM dbo.ULD
			WHERE ULDID = @ULDID AND DELETED = 0;

			IF @NewULDID IS NOT NULL  -- have replace
			BEGIN
				SET @RequiredQty = @Qty;
			END

			-- insert
			INSERT INTO [dbo].[PickingResult] (
				OrderID,
				OrderType,
				PickingScheduleID,
				ItemID,
				ULDID,
				TenantCode,
				ULDBarcode,
				ItemName,
				ItemNumber,
				ULDCurrentLocation,
				Qty,
				RequiredQty,
				ScannedType,
				ScannedUnit,
				ScannedQty,
				ScannedNumber,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES (
				@ServiceID,
				'Kitting',
				@PickingScheduleID,
				@ItemID,
				@ULDID,
				@TenantCode,
				@ULDBarcode,
				@ItemName,
				@ItemNumber,
				@ULDCurrentLocation,
				@Qty,
				@RequiredQty,
				@ScannedType,
	            @ScannedUnit,
	            @ScannedQty,
				@ScannedNumber,
				0,
				@CompletedDateTime,
				@OperationBy
			);
						
			-- Locked ULD
			IF @PickedQty < @PickingQty
			BEGIN
				DECLARE @ResultMessage VARCHAR(4000);
				DECLARE @LockReason VARCHAR(200);

				SET @LockReason = 'Real quantity of this ULD is not correct. Found when picking for orders ' + @ServiceNumber;

				EXEC [dbo].[SP_VI_TBL_ULD_UpdateLockedStatusByULD]
					@ULDID = @ULDID,          
					@Locked = 1,                 
					@LockReason = @LockReason,
					@EditedDateTime = @CompletedDateTime,
					@EditedBy = @OperationBy,   
					@Message = @ResultMessage OUTPUT;

			END

			-- update ULD Line
			If @ScannedType = 'Serial Number'
			BEGIN
				PRINT 'Serial Number';
				IF EXISTS (
					SELECT 1 
					FROM dbo.ULDLine 
					WHERE ULDID = @ULDID AND TransactionReference = @ServiceNumber AND TransactionType = 'Allocated' AND Deleted = 0
				)
				BEGIN
					UPDATE dbo.ULDLine
					SET 
						Deleted = 1,
						LastEditedDateTime = @CompletedDateTime,
						LastEditedBy = @OperationBy
					WHERE ULDID = @ULDID AND TransactionReference = @ServiceNumber AND TransactionType = 'Allocated';

					SELECT @SequenceNumber = COUNT(*)
					FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
					SET @SequenceNumber = @SequenceNumber + 1;
				END

				-- check serial number is picked by another operator
				IF EXISTS (
					SELECT 1 
					FROM dbo.ULDLine 
					WHERE ULDID = @ULDID AND SerialNumber = @ScannedNumber AND TransactionType = 'Picked' AND Deleted = 0
				)
				BEGIN
					SET @Message = 'This serial number ' + @ScannedNumber + ' is picked by another operator';
					ROLLBACK TRANSACTION;
					RETURN;
				END
				
				SET @TransactionMovement = 'Picked 1 ' + @ItemNumber + ' for ' + @ServiceNumber + ' order';

				INSERT INTO [dbo].[ULDLine] (
					ULDID,
					SequenceNumber,
					SerialNumber,
					TransactionDate,
					TransactionUser,
					TransactionType,
					TransactionQty,
					TransactionReference,
					TransactionMovement,
					TransactionLocation,
					ItemNumber,
					ItemName,
					AllocatedType,
					Picked,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES (
					@ULDID,
					@SequenceNumber,
					@ScannedNumber, -- @SerialNumber
					@CompletedDateTime,
					@OperationBy,
					'Picked',
					-1,						
					@ServiceNumber,
					@TransactionMovement, 
					@ULDCurrentLocation,
					@ItemNumber,
					@ItemName,
					'Kitting',
					1,
					0,
					@CompletedDateTime,
					@OperationBy
				);

				SET @SerialCase = 1;

			END
			ELSE
			BEGIN
				PRINT 'NOT Serial Number';

				IF EXISTS (
					SELECT 1 
					FROM dbo.ULDLine 
					WHERE ULDID = @ULDID AND TransactionReference = @ServiceNumber AND TransactionType = 'Allocated' AND Deleted = 0
				)
				BEGIN
					SET @TransactionMovement = 'Picked ' +  CAST(@PickedQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @ServiceNumber + ' order';

					UPDATE dbo.ULDLine
					SET 
						TransactionType = 'Picked',
						Picked = 1,
						TransactionMovement = @TransactionMovement,
						LastEditedDateTime = @CompletedDateTime,
						LastEditedBy = @OperationBy
					WHERE ULDID = @ULDID AND TransactionReference = @ServiceNumber;

					-- Add extra line for locked
					IF @PickedQty < @PickingQty
					BEGIN

						SET @TransactionMovement = 'Missing ' +  CAST((@PickingQty - @PickedQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' when picking ' + @ServiceNumber + ' order';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@ULDID,
							1,
							@CompletedDateTime,
							@OperationBy,
							'Missing',
							-(@PickingQty - @PickedQty),						
							@ServiceNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,							
							0,
							@CompletedDateTime,
							@OperationBy
						);
					END
				END
			END

			-- Fetch next row
			FETCH NEXT FROM result_cursor INTO @Qty, @RequiredQty, @ULDID, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber;
		END;

		-- Clean up
		CLOSE result_cursor;
		DEALLOCATE result_cursor;

		
		-- Add extra line for locked
		IF @SerialCase = 1 AND @PickedQty < @PickingQty
		BEGIN
			DECLARE @MissingSerialNumber VARCHAR(100);					

			DECLARE SerialCursor CURSOR LOCAL FOR
			SELECT SerialNumber
			FROM ULDLine
			WHERE SerialNumber IS NOT NULL 
				AND Deleted = 0 
				AND ULDID = @ULDID
			GROUP BY SerialNumber
			HAVING SUM(TransactionQty) = 1;

			OPEN SerialCursor;

			FETCH NEXT FROM SerialCursor INTO @MissingSerialNumber;

			WHILE @@FETCH_STATUS = 0
			BEGIN
					
				SET @TransactionMovement = 'Missing Picked 1 ' + @ItemNumber + ' for ' + @ServiceNumber + ' order';

				INSERT INTO [dbo].[ULDLine] (
					ULDID,
					SequenceNumber,
					SerialNumber,
					TransactionDate,
					TransactionUser,
					TransactionType,
					TransactionQty,
					TransactionReference,
					TransactionMovement,
					TransactionLocation,
					ItemNumber,
					ItemName,
					AllocatedType,
					Picked,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES (
					@ULDID,
					1,
					@MissingSerialNumber, -- @SerialNumber
					@CompletedDateTime,
					@OperationBy,
					'Missing Picked',
					-1,						
					@ServiceNumber,
					@TransactionMovement, 
					@ULDCurrentLocation,
					@ItemNumber,
					@ItemName,
					'Kitting',
					1,
					0,
					@CompletedDateTime,
					@OperationBy
				);

				SET @TransactionMovement = 'Missing ' +  CAST((@PickingQty - @PickedQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' when picking ' + @ServiceNumber + ' order';

				INSERT INTO [dbo].[ULDLine] (
					ULDID,
					SequenceNumber,
					SerialNumber,
					TransactionDate,
					TransactionUser,
					TransactionType,
					TransactionQty,
					TransactionReference,
					TransactionMovement,
					TransactionLocation,
					ItemNumber,
					ItemName,
					AllocatedType,
					Picked,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES (
					@ULDID,
					1,
					@MissingSerialNumber, -- @SerialNumber
					@CompletedDateTime,
					@OperationBy,
					'Missing',
					-1,						
					@ServiceNumber,
					@TransactionMovement, 
					@ULDCurrentLocation,
					@ItemNumber,
					@ItemName,
					'Kitting',
					1,
					0,
					@CompletedDateTime,
					@OperationBy
				);

				FETCH NEXT FROM SerialCursor INTO @MissingSerialNumber;
			END

			CLOSE SerialCursor;
			DEALLOCATE SerialCursor;
		END -- end missing for serial

		

		-- reset sequence
		EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
			 @ULDID = @ULDID;
		

        -- auto update 
		DECLARE @TotalPicks INT,
				@CurrentPicked INT;

		SELECT @TotalPicks = COUNT(*) ,
			   @CurrentPicked = SUM(CASE WHEN Status = 'End' THEN 1 ELSE 0 END)
		FROM dbo.PickingSchedule WHERE FulfilmentOrder = @ServiceNumber AND Deleted = 0 AND FulfilmentType = 'Kitting' GROUP BY FulfilmentOrder

		IF @TotalPicks = @CurrentPicked
		BEGIN
			UPDATE dbo.WaveLine
			SET 
				PickStatus =  'Completed',
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @CompletedDateTime,
				LastEditedBy = @OperationBy
			WHERE WaveID = @WaveID AND Deleted = 0;	
		END
		
		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
