USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ListServices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<List Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ListServices]
	 @WarehouseCode NVARCHAR(10) = NULL,
     @Statuses dbo.StringArray READONLY,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT,
     @PageSize INT,
     @OrderBy NVARCHAR(50),
     @OrderDir NVARCHAR(4), -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
		IF NOT EXISTS (SELECT 1 FROM @Statuses)
		BEGIN
			IF @WarehouseCode IS NULL
			BEGIN
				 -- Get the total number of records
				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Service WHERE DELETED = 0;

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT 
								s.*, 
								lw.WarehouseName, 
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
							WHERE 
								s.DELETED = 0  
							ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
							OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
							FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
			END
			ELSE
			BEGIN
				 -- Get the total number of records
				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Service WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode;

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT 
								s.*, 
								lw.WarehouseName, 
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
							WHERE 
								s.DELETED = 0 
								AND s.WarehouseCode = ''' + @WarehouseCode + ''' 
							ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
							OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
							FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
			END			
		
			-- Execute the dynamic SQL
			EXEC sp_executesql @SQL;
			
		END
		ELSE
		BEGIN
			IF @WarehouseCode IS NULL
			BEGIN
				 -- Get the total number of records
				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Service WHERE DELETED = 0 
				AND Status IN (SELECT Value FROM @Statuses);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT
				 				s.*, 
								lw.WarehouseName, 
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
							 WHERE s.DELETED = 0 
							 AND s.Status IN (SELECT Value FROM @Statuses)
							 ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
							 OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
							 FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';


				-- Execute the dynamic SQL with sp_executesql and pass parameters
				EXEC sp_executesql @SQL, 
					   N'@Statuses dbo.StringArray READONLY',
					   @Statuses;
			END
			ELSE
			BEGIN
				 -- Get the total number of records
				SELECT @TotalRecords = COUNT(*) 
				FROM dbo.Service WHERE DELETED = 0 
				AND WarehouseCode = @WarehouseCode
				AND Status IN (SELECT Value FROM @Statuses);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT
				 				s.*, 
								lw.WarehouseName, 
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
							 WHERE s.DELETED = 0 
							 AND s.WarehouseCode = ''' + @WarehouseCode + ''' 
							 AND s.Status IN (SELECT Value FROM @Statuses)
							 ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
							 OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
							 FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';


				-- Execute the dynamic SQL with sp_executesql and pass parameters
				EXEC sp_executesql @SQL, 
					   N'@Statuses dbo.StringArray READONLY, @WarehouseCode NVARCHAR(10)',
					   @Statuses, @WarehouseCode;
			END
			
		END
    END
    ELSE
    BEGIN

		IF NOT EXISTS (SELECT 1 FROM @Statuses)
		BEGIN
			IF @WarehouseCode IS NULL
			BEGIN
					-- Get the total number of records
				SET @Search = LOWER(@Search);

				SELECT @TotalRecords = COUNT(*) 
				FROM 
				(
						SELECT  s.*, lw.WarehouseName, t.TenantName
						FROM 
							dbo.Service s	
							JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
							JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
				) r
				WHERE r.DELETED = 0
				AND (
					LOWER(r.TenantName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceType) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceDescription) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.Status) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.StartDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.EndDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
				);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT 
								s.*, 
								lw.WarehouseName,
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode 
					WHERE s.DELETED = 0 
					AND (
						LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceType) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceDescription) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.Status) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.StartDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.EndDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
			END
			ELSE
			BEGIN
				-- Get the total number of records
				SET @Search = LOWER(@Search);

				SELECT @TotalRecords = COUNT(*) 
				FROM 
				(
						SELECT  s.*, lw.WarehouseName, t.TenantName
						FROM 
							dbo.Service s	
							JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
							JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
				) r
				WHERE r.DELETED = 0
				AND r.WarehouseCode = @WarehouseCode
				AND (
					LOWER(r.TenantName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceType) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceDescription) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.Status) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.StartDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.EndDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
				);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT 
								s.*, 
								lw.WarehouseName,
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode 
					WHERE s.DELETED = 0 
					AND s.WarehouseCode = ''' + @WarehouseCode + ''' 
					AND (
						LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceType) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceDescription) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.Status) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.StartDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.EndDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
			END

			-- Execute the dynamic SQL
			EXEC sp_executesql @SQL;

		END
		ELSE
		BEGIN
			IF @WarehouseCode IS NULL
			BEGIN
				-- Get the total number of records
				SET @Search = LOWER(@Search);

				SELECT @TotalRecords = COUNT(*) 
				FROM 
				(
						SELECT  s.*, lw.WarehouseName, t.TenantName
						FROM 
							dbo.Service s
							JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
							JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
				) r
				WHERE r.DELETED = 0 AND r.Status IN (SELECT Value FROM @Statuses)
				AND (
					LOWER(r.TenantName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceType) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceDescription) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.Status) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.StartDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.EndDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
				);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT
								s.*, 
								lw.WarehouseName,
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
					WHERE s.DELETED = 0
					AND s.Status IN (SELECT Value FROM @Statuses)
					AND (
						LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceType) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceDescription) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.Status) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.StartDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.EndDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

				-- Execute the dynamic SQL with sp_executesql and pass parameters
				EXEC sp_executesql @SQL, 
					   N'@Statuses dbo.StringArray READONLY',
					   @Statuses;
			END
			ELSE
			BEGIN
				-- Get the total number of records
				SET @Search = LOWER(@Search);

				SELECT @TotalRecords = COUNT(*) 
				FROM 
				(
						SELECT  s.*, lw.WarehouseName, t.TenantName
						FROM 
							dbo.Service s
							JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
							JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
				) r
				WHERE r.DELETED = 0 
				AND r.WarehouseCode = @WarehouseCode
				AND r.Status IN (SELECT Value FROM @Statuses)
				AND (
					LOWER(r.TenantName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceType) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.ServiceDescription) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(r.Status) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.StartDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(FORMAT(r.EndDate, 'dd/MM/yyyy')) LIKE '%' + LOWER(@Search) + '%' 
				);

				-- Calculate the total number of pages
				SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

				SET @SQL = N'SELECT
								s.*, 
								lw.WarehouseName,
								t.TenantName
							FROM 
								dbo.Service s
								JOIN dbo.LocWarehouse lw ON s.WarehouseCode = lw.WarehouseCode
								JOIN dbo.Tenant t ON s.TenantCode = t.TenantCode
					WHERE s.DELETED = 0
					AND s.WarehouseCode = @WarehouseCode 
					AND s.Status IN (SELECT Value FROM @Statuses)
					AND (
						LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceType) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.ServiceDescription) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(s.Status) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.StartDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(FORMAT(s.EndDate, ''dd/MM/yyyy'')) LIKE ''%' + LOWER(@Search) + '%'' 
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

				-- Execute the dynamic SQL with sp_executesql and pass parameters
				EXEC sp_executesql @SQL, 
					   N'@Statuses dbo.StringArray READONLY, @WarehouseCode NVARCHAR(10)',
					   @Statuses, @WarehouseCode;
			END

		END
    END 
   
END
GO
