USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Shipment_InsertManualShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Nov, 2025>
-- Description:	<Insert Manual Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Shipment_InsertManualShipment]  
	@AddedBoxSizes dbo.BoxSizeType READONLY,  -- how many box to add new 
	@AddedShipmentItems dbo.OrderLineType READONLY, -- use [OrderNumber] as Box Number. if @NewBoxSizes has 2 rows, so @NewShipmentItems have [OrderNumber] = 1 or 2
	@WarehouseCode  VARCHAR(10),
	@TenantCode VARCHAR(10),
	@ChargeTenantCode VARCHAR(10) = NULL,
	@Comment VARCHAR(1000) = NULL,
	@ContactEmail			  VARCHAR(200) = NULL,
	@Phone					  VARCHAR(70)  = NULL,
	@ShippingAddressName      VARCHAR(100)  = NULL,
	@ShippingAddressCompany   VARCHAR(300)  = NULL,
	@ShippingAddressAddress1  VARCHAR(300)  = NULL,
	@ShippingAddressAddress2  VARCHAR(300)  = NULL,
	@ShippingAddressCity      VARCHAR(150)  = NULL,
	@ShippingAddressProvince  VARCHAR(150)  = NULL,
	@ShippingAddressZip       VARCHAR(20)  = NULL,
	@ShippingAddressCountry   VARCHAR(50) = NULL,
	@CarrierID INT,
	@CarrierService  VARCHAR(200),
	@ShipmentType VARCHAR(50), -- Local or INT for CarrierID = 1
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	-- output ----
	@AccountNumber NVARCHAR(50) OUTPUT,
	@Token NCHAR(100) OUTPUT,	
	@OrderNumber NCHAR(50) OUTPUT,	
	@NewShipmentID INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY        

		 --- Add new shipment
		IF @CarrierID = 3  -- DHL
		BEGIN
			EXEC [dbo].[SP_VI_TBL_DHLShipment_InsertManualDHLShipment]
				@BoxSize = @AddedBoxSizes,
				@NewShipmentItems = @AddedShipmentItems,
				@WarehouseCode = @WarehouseCode,
				@TenantCode = @TenantCode,
				@ChargeTenantCode = @ChargeTenantCode,
				@Comment = @Comment,
				@ContactEmail = @ContactEmail,
				@Phone = @Phone,
				@ShippingAddressName = @ShippingAddressName,
				@ShippingAddressCompany = @ShippingAddressCompany,
				@ShippingAddressAddress1 = @ShippingAddressAddress1,
				@ShippingAddressAddress2 = @ShippingAddressAddress2,
				@ShippingAddressCity = @ShippingAddressCity,
				@ShippingAddressProvince = @ShippingAddressProvince,
				@ShippingAddressZip = @ShippingAddressZip,
				@ShippingAddressCountry = @ShippingAddressCountry,
				@CarrierID = @CarrierID,
				@ServiceName = @CarrierService,
				@CreatedDateTime = @CreatedDateTime,
				@CreatedBy = @CreatedBy,
				@AccountNumber = @AccountNumber OUTPUT,
				@Token = @Token OUTPUT,
				@NewShipmentID = @NewShipmentID OUTPUT,
				@Message = @Message OUTPUT;

			SELECT @OrderNumber = MessageReference 
			FROM DHLShipment 
			WHERE ShipmentID = @NewShipmentID AND Deleted = 0;

		END
		ELSE IF @CarrierID = 1 -- AP
		BEGIN
			IF @ShipmentType = 'Local'  -- Locai
			BEGIN
				EXEC [dbo].[SP_VI_TBL_APShipment_InsertManualAPLocalShipment]
					@BoxSize = @AddedBoxSizes,
					@NewShipmentItems = @AddedShipmentItems,
					@WarehouseCode = @WarehouseCode,
					@TenantCode = @TenantCode,
					@ChargeTenantCode = @ChargeTenantCode,
					@Comment = @Comment,
					@ContactEmail = @ContactEmail,
					@Phone = @Phone,
					@ShippingAddressName = @ShippingAddressName,
					@ShippingAddressCompany = @ShippingAddressCompany,
					@ShippingAddressAddress1 = @ShippingAddressAddress1,
					@ShippingAddressAddress2 = @ShippingAddressAddress2,
					@ShippingAddressCity = @ShippingAddressCity,
					@ShippingAddressProvince = @ShippingAddressProvince,
					@ShippingAddressZip = @ShippingAddressZip,
					@ShippingAddressCountry = @ShippingAddressCountry,
					@CarrierID = @CarrierID,
					@ServiceName = @CarrierService,
					@CreatedDateTime = @CreatedDateTime,
					@CreatedBy = @CreatedBy,
					@AccountNumber = @AccountNumber OUTPUT,
					@Token = @Token OUTPUT,
					@NewShipmentID = @NewShipmentID OUTPUT,
					@Message = @Message OUTPUT;

				SELECT @OrderNumber = Shipment_Reference 
				FROM AP_Shipment 
				WHERE ShipmentID = @NewShipmentID AND Deleted = 0;

			END
			ELSE
			BEGIN				

				EXEC [dbo].[SP_VI_TBL_APShipment_InsertManualAPIntShipment]
					@BoxSize = @AddedBoxSizes,
					@NewShipmentItems = @AddedShipmentItems,
					@WarehouseCode = @WarehouseCode,
					@TenantCode = @TenantCode,
					@ChargeTenantCode = @ChargeTenantCode,
					@Comment = @Comment,
					@ContactEmail = @ContactEmail,
					@Phone = @Phone,
					@ShippingAddressName = @ShippingAddressName,
					@ShippingAddressCompany = @ShippingAddressCompany,
					@ShippingAddressAddress1 = @ShippingAddressAddress1,
					@ShippingAddressAddress2 = @ShippingAddressAddress2,
					@ShippingAddressCity = @ShippingAddressCity,
					@ShippingAddressProvince = @ShippingAddressProvince,
					@ShippingAddressZip = @ShippingAddressZip,
					@ShippingAddressCountry = @ShippingAddressCountry,
					@CarrierID = @CarrierID,
					@ServiceName = @CarrierService,
					@CreatedDateTime = @CreatedDateTime,
					@CreatedBy = @CreatedBy,
					@AccountNumber = @AccountNumber OUTPUT,
					@Token = @Token OUTPUT,
					@NewShipmentID = @NewShipmentID OUTPUT,
					@Message = @Message OUTPUT;
					
				SELECT @OrderNumber = Shipment_Reference 
				FROM AP_ShipmentINT
				WHERE ShipmentID = @NewShipmentID AND Deleted = 0;
			END
		END
		

    END TRY
    BEGIN CATCH
        -- Handle the error       

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
