USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_ChangePerfectPickDivider]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <01 April, 2025>
-- Description:	<Change Subin Number of PerfectPick Bin>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_ChangePerfectPickDivider]
	@LocBinID              INT,
	@NumberSBins           INT,	
	@FirstEditedDateTime   DATETIME = NULL,
	@FirstEditedBy         VARCHAR(100) = NULL,
	@LastEditedDateTime    DATETIME = NULL,
	@LastEditedBy          VARCHAR(100) = NULL,
	@Message               VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION;		

		IF @NumberSBins > 8
		BEGIN
			 SET @Message = 'The Number of Sub Bin is not exceed 8.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.LocBinID = @LocBinID
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);
		IF @NumberOfULD > 0
		BEGIN
			SET @Message = 'There are ULDs at these location. Please move it before changing PerfectPick Divider';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		--update deleted
		UPDATE LocSBin
		SET Deleted = 1
		WHERE LocBinID =  @LocBinID;

		-- change
		DECLARE @LocSbinID INT;
		DECLARE @Count INT = 0;

		DECLARE locsbin_cursor CURSOR FOR
		SELECT LocSbinID
		FROM LocSBin
		WHERE LocBinID = @LocBinID
		ORDER BY LocSbinID

		OPEN locsbin_cursor

		FETCH NEXT FROM locsbin_cursor INTO @LocSbinID

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF @Count < @NumberSBins
			BEGIN
				UPDATE LocSBin
				SET Deleted = 0,
					FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
				WHERE LocSBinID =  @LocSbinID;
			END

			SET @Count = @Count + 1;

			FETCH NEXT FROM locsbin_cursor INTO @LocSbinID
		END

		CLOSE locsbin_cursor
		DEALLOCATE locsbin_cursor

		-- update PerfectPick Info
		UPDATE PerfectPickInfo
			    SET PerfectPickDivider = @NumberSBins,
					FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			   WHERE BinID =  @LocBinID;

		-- Commit transaction if update is successful
		COMMIT TRANSACTION;

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;
 
END
GO
