USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_SearchItemByBarcodeAndTenantCodeAndULDBarcode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Nov, 2024>
-- Description:	<Search Item by Barcode And Tenant Code And ULD Barcode>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_SearchItemByBarcodeAndTenantCodeAndULDBarcode]
	@TenantCode VARCHAR(10), 
	@ItemBarcode VARCHAR(30),
	@ULDBarcode VARCHAR(50),
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ItemNumber VARCHAR(30);

	SELECT @ItemNumber = ItemNumber FROM dbo.ULD WHERE ULDBarcode = @ULDBarcode AND DELETED = 0;
	IF @ItemNumber IS NULL
	BEGIN
		SET @Message = 'This ULD does not exist';
		RETURN;
	END
	
	IF NOT EXISTS (
		SELECT 
			 1
		FROM dbo.Items i
		INNER JOIN dbo.ItemTradeUnit itu 
			ON i.ItemID = itu.ItemID 
			AND itu.Barcode = @ItemBarcode 
		WHERE 
			i.TenantCode = @TenantCode 
			AND i.ItemNumber = @ItemNumber
			AND i.DELETED = 0 
			AND itu.DELETED = 0
	)
	BEGIN
		SET @Message = 'This ULD does not contain this Item Barcode';
		RETURN;
	END
	 

	SELECT 
		i.ItemID, 
		i.TenantCode, 
		i.ItemNumber, 
		i.ItemName, 
		i.TrackSerialOnReceipt, 
		i.TrackExpiryDateOnReceipt, 
		i.TrackBatchCodeOnReceipt, 
		itu.UnitQuantity, 
		itu.ItemType AS Unit
	FROM dbo.Items i
	INNER JOIN dbo.ItemTradeUnit itu 
		ON i.ItemID = itu.ItemID 
		AND itu.Barcode = @ItemBarcode 
	WHERE 
		i.TenantCode = @TenantCode 
		AND i.DELETED = 0 
		AND itu.DELETED = 0;
END
GO
