USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ItemTradeUnit_ViewItemTradeUnitByItemId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2024>
-- Description:	<List Item Trade Units By Item Id>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ItemTradeUnit_ViewItemTradeUnitByItemId] @ItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT 
        *
    FROM 
        dbo.ItemTradeUnit
    WHERE 
        ItemID = @ItemID AND DELETED = 0
	ORDER BY PrimaryUnit DESC;
END
GO
