USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_InsertUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2024>
-- Description:	<Insert user>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_InsertUser]  
	@LastName VARCHAR(100),
	@FirstName VARCHAR(100),
    @UserCode VARCHAR(50),
    @UserEmail VARCHAR(100),
	@MobilePassword VARCHAR(20) = NULL,
    @UserStatus VARCHAR(20) = NULL,
    @UserType VARCHAR(30) = NULL,
    @WarehouseCode VARCHAR(20) = NULL,
	@TenantCode VARCHAR(10) = NULL,
    @UserGroup VARCHAR(50) = NULL,
	@AzureUserId VARCHAR(50) = NULL,
    @CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	BEGIN TRY
        BEGIN TRANSACTION
        
        -- Check for duplicate UserCode
        IF EXISTS(SELECT 1 FROM dbo.Users WHERE UserCode = @UserCode AND Deleted = 0)
        BEGIN
            SET @Message = 'UserCode already exists.'
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Check for duplicate UserEmail
        IF EXISTS(SELECT 1 FROM dbo.Users WHERE UserEmail = @UserEmail AND Deleted = 0)
        BEGIN
            SET @Message = 'UserEmail already exists.'
            ROLLBACK TRANSACTION;
            RETURN;
        END

		-- Generate a random unique identifier
		DECLARE @RandomUniqueId UNIQUEIDENTIFIER;
		SET @RandomUniqueId = NEWID();

		-- Convert the unique identifier to a binary hash using SHA2_256
		DECLARE @BinaryHash VARBINARY(32);
		SET @BinaryHash = HASHBYTES('SHA2_256', CONVERT(NVARCHAR(36), @RandomUniqueId));

		-- Convert the binary hash to a hexadecimal string
		DECLARE @ApiKey VARCHAR(64);
		SET @ApiKey = CONVERT(VARCHAR(64), @BinaryHash, 2);

		-- Return the first 32 characters for the API key
		SET @ApiKey = LEFT(@ApiKey, 32);

		DECLARE @SuperUser BIT = 0;

		IF @UserType IS NOT NULL AND UPPER(@UserType) = 'OWNER'
        BEGIN
            SET @SuperUser = 1;
        END
		
		DECLARE @HashedPassword VARBINARY(8000);
		SET @HashedPassword = HASHBYTES('SHA2_256', @MobilePassword);

		IF EXISTS(SELECT 1 FROM dbo.Users WHERE UserEmail = @UserEmail AND Deleted = 1)
        BEGIN
			UPDATE dbo.Users
			SET
				MobilePassword = @HashedPassword,
				LastName = COALESCE(@LastName, LastName),
				FirstName = COALESCE(@FirstName, FirstName),
				UserCode = COALESCE(@UserCode, UserCode),
				UserStatus = COALESCE(@UserStatus, UserStatus),
				UserType = COALESCE(@UserType, UserType),
				WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
				TenantCode = COALESCE(@TenantCode, TenantCode),
				UserGroup = COALESCE(@UserGroup, UserGroup),  
				CreatedDateTime  = COALESCE(@CreatedDateTime, CreatedDateTime), 
				CreatedBy = COALESCE(@CreatedBy, CreatedBy), 
				UserAPIKey = @ApiKey,
				AzureUserId = @AzureUserId,
				SuperUser = @SuperUser,
				Deleted = 0,
				LastLogin = NULL,
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime = NULL,
				LastEditedBy = NULL
			WHERE UserEmail = @UserEmail;
		END
		ELSE IF EXISTS(SELECT 1 FROM dbo.Users WHERE AzureUserId = @AzureUserId AND Deleted = 1)
        BEGIN
			UPDATE dbo.Users
			SET
				MobilePassword = @HashedPassword,
				LastName = COALESCE(@LastName, LastName),
				FirstName = COALESCE(@FirstName, FirstName),
				UserCode = COALESCE(@UserCode, UserCode),
				UserStatus = COALESCE(@UserStatus, UserStatus),
				UserType = COALESCE(@UserType, UserType),
				WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
				TenantCode = COALESCE(@TenantCode, TenantCode),
				UserGroup = COALESCE(@UserGroup, UserGroup),  
				CreatedDateTime  = COALESCE(@CreatedDateTime, CreatedDateTime), 
				CreatedBy = COALESCE(@CreatedBy, CreatedBy), 
				UserAPIKey = @ApiKey,
				UserEmail = @UserEmail,
				AzureUserId = @AzureUserId,
				SuperUser = @SuperUser,
				Deleted = 0,
				LastLogin = NULL,
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime = NULL,
				LastEditedBy = NULL
			WHERE AzureUserId = @AzureUserId;
		END
		ELSE
		BEGIN
			-- Insert into Users table
			INSERT INTO dbo.Users
			(
				LastName,
				FirstName,
				UserCode,
				UserEmail,
				MobilePassword,
				UserStatus,
				Deleted,
				SuperUser,
				UserAPIKey,
				UserType,
				WarehouseCode,
				TenantCode,
				UserGroup,
				AzureUserId,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@LastName,
				@FirstName,
				@UserCode,
				@UserEmail,
				@HashedPassword,
				@UserStatus,
				0, -- Default value for Deleted
				@SuperUser,
				@ApiKey,
				@UserType,
				@WarehouseCode,
				@TenantCode,
				@UserGroup,
				@AzureUserId,
				@CreatedDateTime,
				@CreatedBy
			)
		END

		DECLARE @UserName VARCHAR(200);
	    SET @UserName = @FirstName + ' ' + @LastName;
		
		-- Insert new or update existing (with Deleted = 1)
		MERGE dbo.UserPermission AS target
		USING (
			SELECT 
				@UserName AS UserName,
				@UserCode AS UserCode,
				APIName,
				@CreatedDateTime AS CreatedDateTime,
				@CreatedBy AS CreatedBy
			FROM dbo.API
			WHERE Deleted = 0
		) AS source
		ON target.UserCode = source.UserCode
		   AND target.APIName = source.APIName
		WHEN MATCHED AND target.Deleted = 1 THEN
			UPDATE SET 
				target.Deleted = 0,
				target.Permission = 0,
				target.CreatedDateTime = source.CreatedDateTime,
				target.CreatedBy = source.CreatedBy
		WHEN NOT MATCHED THEN
			INSERT (UserName, UserCode, APIName, Deleted, Permission, CreatedDateTime, CreatedBy)
			VALUES (source.UserName, source.UserCode, source.APIName, 0, 0, source.CreatedDateTime, source.CreatedBy);
			
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
