USE [3PLWMS_Developers];
GO

/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_InsertStandardService]    Script Date: 28/04/2026 ******/
SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

-- =============================================
-- Author:      <Nam Nguyen>
-- Create date: <28 Apr, 2026>
-- Description: <Insert Standard Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APIntegration_InsertStandardService]
    @ServiceName NVARCHAR(50),
    @ServiceCode NVARCHAR(10),
    @ProductCode NVARCHAR(50),
    @Description NVARCHAR(50),
    @WarehouseCode VARCHAR(50) = NULL,
    @SignatureOnDeliveryReceiverDrop BIT,
    @SignatureAlwaysRequired BIT,
    @SignatureOnDeliverySenderDrop BIT,
    @NoSignature BIT,
    @AuthorityToLeave BIT,
    @SafeDropEnabled BIT = NULL,
    @AllowPartialDelivery BIT,
    @ProductID NVARCHAR(20) = NULL,
    @CreatedDateTime DATETIME = NULL,
    @CreatedBy NVARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check for duplicate ServiceName + WarehouseCode
        IF EXISTS
        (
            SELECT 1
            FROM dbo.AP_StandardService
            WHERE ServiceName = @ServiceName
              AND ISNULL(WarehouseCode, '') = ISNULL(@WarehouseCode, '')
              AND Deleted = 0
        )
        BEGIN
            SET @Message = 'Service Name already exists for this Warehouse.';

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        DECLARE @ServiceID INT;

        SELECT @ServiceID = ServiceID
        FROM dbo.AP_StandardService
        WHERE ServiceName = @ServiceName
          AND ISNULL(WarehouseCode, '') = ISNULL(@WarehouseCode, '')
          AND Deleted = 1;

        IF @ServiceID IS NULL
        BEGIN
            -- Insert into AP_StandardService table
            INSERT INTO dbo.AP_StandardService
            (
                ServiceName,
                ServiceCode,
                ProductCode,
                Description,
                WarehouseCode,
                SignatureOnDeliveryReceiverDrop,
                SignatureAlwaysRequired,
                SignatureOnDeliverySenderDrop,
                NoSignature,
                AuthorityToLeave,
                SafeDropEnabled,
                AllowPartialDelivery,
                ProductID,
                Deleted,
                CreatedDateTime,
                CreatedBy
            )
            VALUES
            (
                @ServiceName,
                @ServiceCode,
                @ProductCode,
                @Description,
                @WarehouseCode,
                @SignatureOnDeliveryReceiverDrop,
                @SignatureAlwaysRequired,
                @SignatureOnDeliverySenderDrop,
                @NoSignature,
                @AuthorityToLeave,
                @SafeDropEnabled,
                @AllowPartialDelivery,
                @ProductID,
                0,
                @CreatedDateTime,
                @CreatedBy
            );
        END;
        ELSE
        BEGIN
            UPDATE dbo.AP_StandardService
            SET
                Deleted = 0,
                ServiceCode = COALESCE(@ServiceCode, ServiceCode),
                ProductCode = COALESCE(@ProductCode, ProductCode),
                Description = COALESCE(@Description, Description),
                WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
                SignatureOnDeliveryReceiverDrop = @SignatureOnDeliveryReceiverDrop,
                SignatureAlwaysRequired = @SignatureAlwaysRequired,
                SignatureOnDeliverySenderDrop = @SignatureOnDeliverySenderDrop,
                NoSignature = @NoSignature,
                AuthorityToLeave = @AuthorityToLeave,
                SafeDropEnabled = @SafeDropEnabled,
                AllowPartialDelivery = @AllowPartialDelivery,
                ProductID = COALESCE(@ProductID, ProductID),
                FirstEditedDateTime = NULL,
                FirstEditedBy = NULL,
                LastEditedDateTime = NULL,
                LastEditedBy = NULL,
                CreatedDateTime = @CreatedDateTime,
                CreatedBy = @CreatedBy
            WHERE ServiceID = @ServiceID;
        END;

        SET @Message = 'Standard Service inserted successfully.';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        SET @Message = ERROR_MESSAGE();
    END CATCH;
END;
GO