USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_UpdateStockStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2025>
-- Description:	<Update Stock In Wave>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Wave_UpdateStockStatus] 
    @Operation VARCHAR(20),      -- Picking Sorting Packing Mailing
    @ID INT,                     -- following @Operation
    @Status VARCHAR(20),  -- End
    @OperationDateTime DATETIME = NULL,
    @OperationBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY		

		BEGIN TRANSACTION
		
		DECLARE @ULDID INT,
				@PickingQty INT,
				@PickedQty INT,					
				@TransactionMovement VARCHAR(1000);

		DECLARE	@SourceOrderNumber VARCHAR(50),					
				@WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10);

		IF @Operation = 'Picking'
		BEGIN			
			

			DECLARE @WaveID INT,
					@SequenceNumber INT,
					@OrderID INT,
					@OrderNumber VARCHAR(50),
					@ItemID INT,
					@Qty INT,
					@RequiredQty INT,		
					@PickingType NVARCHAR(50),
					@ItemNumber NVARCHAR(30),
					@ULDCurrentLocation VARCHAR(50),
					@ULDBarcode VARCHAR(50),
					@ItemName VARCHAR(250),
					@ScannedType VARCHAR(30),
					@ScannedUnit VARCHAR(30),
					@ScannedNumber VARCHAR(MAX),
					@SerialCase BIT,
					@ScannedQty INT;

			--get info
			SELECT @WaveID = WaveID,
				   @ULDID = ULDID,
				   @SourceOrderNumber = FulfilmentOrder,
				   @TenantCode = TenantCode,
				   @PickingQty = Qty,
				   @ULDCurrentLocation = ULDCurrentLocation
			FROM dbo.PickingSchedule
			WHERE PickingScheduleID = @ID AND DELETED = 0;

			IF @TenantCode IS NULL
			BEGIN
				SELECT @TenantCode = TenantCode
				FROM dbo.ULD
				WHERE ULDID = @ULDID AND DELETED = 0;
			END

			-- get picking type
			SELECT @PickingType = PickingType
			FROm dbo.Wave
			WHERE WaveID = @WaveID AND Deleted = 0;
			

			-- get serial type
			SELECT @ScannedType = ScannedType,
				   @PickedQty = ISNULL(SUM(Qty), 0),
				   @ItemNumber = ItemNumber,
				   @ItemName = ItemName
			FROM dbo.PickingResult
			WHERE PickingScheduleID = @ID AND DELETED = 0
			GROUP BY ScannedType, ItemNumber, ItemName;

			-- process
			IF @Status = 'End'		
			BEGIN
				
				IF @PickingType = 'PickToOrder'
				BEGIN
					If @ScannedType = 'Serial Number'
					BEGIN
						PRINT 'Serial Number';	

						IF EXISTS (
							SELECT 1 
							FROM dbo.ULDLine l
							JOIN dbo.ULD u ON u.ULDID = l.ULDID AND u.TenantCode = @TenantCode
							WHERE l.ULDID = @ULDID AND l.TransactionReference = @SourceOrderNumber AND l.TransactionType = 'Allocated' AND l.Deleted = 0
						)
						BEGIN
							UPDATE l					
							SET 
								l.Deleted = 1,
								l.LastEditedDateTime = @OperationDateTime,
								l.LastEditedBy = @OperationBy
							FROM dbo.ULDLine as l
							JOIN dbo.ULD u ON u.ULDID = l.ULDID AND u.TenantCode = @TenantCode
							WHERE l.ULDID = @ULDID AND l.TransactionReference = @SourceOrderNumber AND l.TransactionType = 'Allocated';

							--get sequence
							SELECT @SequenceNumber = COUNT(*)
							FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
							SET @SequenceNumber = @SequenceNumber + 1;

							--process add serial number
							DECLARE result_cursor CURSOR LOCAL FOR
							SELECT Qty, RequiredQty, ItemNumber, ScannedType, ScannedUnit, ScannedQty, ScannedNumber, OrderID, OrderNumber
							FROM dbo.PickingResult
							WHERE PickingScheduleID = @ID AND DELETED = 0;

							-- Open cursor
							OPEN result_cursor;

							FETCH NEXT FROM result_cursor INTO @Qty, @RequiredQty, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber, @OrderID, @OrderNumber;
							-- Loop through the rows
							WHILE @@FETCH_STATUS = 0
							BEGIN
								
								-- check serial number is picked by another operator
								IF EXISTS (
									SELECT 1 
									FROM dbo.ULDLine l
									JOIN dbo.ULD u ON u.ULDID = l.ULDID AND u.TenantCode = @TenantCode
									WHERE l.ULDID = @ULDID AND l.SerialNumber = @ScannedNumber AND l.TransactionType = 'Picked' AND l.Deleted = 0
								)
								BEGIN
									SET @Message = 'This serial number ' + @ScannedNumber + ' is picked by another operator';
									ROLLBACK TRANSACTION;
									RETURN;
								END

								SET @TransactionMovement = 'Picked 1 ' + @ItemNumber + ' for ' + @SourceOrderNumber + ' order';

								INSERT INTO [dbo].[ULDLine] (
									ULDID,
									SequenceNumber,
									SerialNumber,
									TransactionDate,
									TransactionUser,
									TransactionType,
									TransactionQty,
									TransactionReference,
									TransactionMovement,
									TransactionLocation,
									ItemNumber,
									ItemName,
									AllocatedType,
									Picked,
									Deleted,
									CreatedDateTime,
									CreatedBy
								)
								VALUES (
									@ULDID,
									@SequenceNumber,
									@ScannedNumber, -- @SerialNumber
									@OperationDateTime,
									@OperationBy,
									'Picked',
									-1,						
									@SourceOrderNumber,
									@TransactionMovement, 
									@ULDCurrentLocation,
									@ItemNumber,
									@ItemName,
									'Orders',
									1,
									0,
									@OperationDateTime,
									@OperationBy
								);

							
								-- Fetch next row
								FETCH NEXT FROM result_cursor INTO @Qty, @RequiredQty, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber, @OrderID, @OrderNumber;
							END;

							-- Clean up
							CLOSE result_cursor;
							DEALLOCATE result_cursor;
		

						END -- end IF EXISTS 
					
					END -- end serial number
					ELSE -- Not serial number
					BEGIN
						IF EXISTS (
							SELECT 1 
							FROM dbo.ULDLine l
							JOIN dbo.ULD u ON u.ULDID = l.ULDID AND u.TenantCode = @TenantCode
							WHERE l.ULDID = @ULDID AND l.TransactionReference = @SourceOrderNumber AND l.TransactionType = 'Allocated' AND l.Deleted = 0
						)
						BEGIN
							SET @TransactionMovement = 'Picked ' +  CAST(@PickedQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @SourceOrderNumber + ' order';

							UPDATE l
							SET 
								l.TransactionType = 'Picked',
								l.Picked = 1,
								l.TransactionMovement = @TransactionMovement,
								l.LastEditedDateTime = @OperationDateTime,
								l.LastEditedBy = @OperationBy
							FROM dbo.ULDLine as l
							JOIN dbo.ULD u ON u.ULDID = l.ULDID AND u.TenantCode = @TenantCode
							WHERE l.ULDID = @ULDID AND l.TransactionReference = @SourceOrderNumber AND l.Deleted = 0;						
						END -- end IF EXISTS
					END -- not Not serial number
				END -- End PickToOrder
				ELSE -- Single or Bulk
				BEGIN
					
					DECLARE @WaveOrderNumbers TABLE (SourceOrderNumber VARCHAR(50));					
					INSERt INTO @WaveOrderNumbers(SourceOrderNumber)
					SELECT SourceOrderNumber
					FROM  dbo.WaveLine
					WHERE WaveID = @WaveID AND Deleted = 0;	

					CREATE TABLE #PickingResultTable
					(
						Qty INT,
						RequiredQty INT,
						ItemNumber NVARCHAR(30),
						ScannedType VARCHAR(30),
						ScannedUnit VARCHAR(30),
						ScannedQty INT,
						ScannedNumber VARCHAR(MAX),
						OrderID INT,
						OrderNumber VARCHAR(50)
					);

					-- Serial Number
					INSERT INTO #PickingResultTable (Qty, RequiredQty, ItemNumber, ScannedType, ScannedUnit, ScannedQty, ScannedNumber, OrderID, OrderNumber)
					SELECT 
						Qty, 
						RequiredQty, 
						ItemNumber, 
						ScannedType, 
						ScannedUnit, 
						ScannedQty, 
						ScannedNumber, 
						OrderID, 
						OrderNumber
					FROM dbo.PickingResult
					WHERE PickingScheduleID = @ID AND DELETED = 0;			
					
					
					If @ScannedType = 'Serial Number'
					BEGIN
						PRINT 'Serial Number';	
						IF EXISTS (
							SELECT 1 
							FROM dbo.ULDLine l
							JOIN dbo.ULD u ON u.ULDID = l.ULDID AND u.TenantCode = @TenantCode
							WHERE l.ULDID = @ULDID 
								  AND l.TransactionReference IN (SELECT SourceOrderNumber FROM @WaveOrderNumbers)
								  AND l.TransactionType = 'Allocated' AND l.Deleted = 0
						)
						BEGIN

							
							DECLARE @SNumber VARCHAR(30), 
									@SOrderNumber VARCHAR(50),
								    @TransactionQty INT,
									@ULDLineID INT,
									@Count INT;

							DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
								SELECT l.TransactionReference, l.ULDLineID, l.TransactionQty
								FROM dbo.ULDLine AS l
								JOIN dbo.ULD u 
									ON u.ULDID = l.ULDID 
								   AND u.TenantCode = @TenantCode
								WHERE l.ULDID = @ULDID
								  AND l.TransactionReference IN (SELECT SourceOrderNumber FROM @WaveOrderNumbers)
								  AND l.TransactionType = 'Allocated';

							OPEN cur_ULDLine;

							FETCH NEXT FROM cur_ULDLine 
							INTO @SOrderNumber, @ULDLineID, @TransactionQty;

							WHILE @@FETCH_STATUS = 0
							BEGIN
								
								-- remove allocated
								UPDATE l					
								SET 
									l.Deleted = 1,
									l.LastEditedDateTime = @OperationDateTime,
									l.LastEditedBy = @OperationBy
								FROM dbo.ULDLine as l
								WHERE l.ULDLineID = @ULDLineID;

								SET @Count = 0;
								SET @TransactionQty = -@TransactionQty;

								WHILE @Count < @TransactionQty
								BEGIN
									SELECT TOP 1 @SNumber = ScannedNumber FROM #PickingResultTable;
									

									IF EXISTS (
										SELECT 1 
										FROM dbo.ULDLine l										
										WHERE l.ULDLineID = @ULDLineID AND l.SerialNumber = @SNumber AND l.TransactionType = 'Picked' AND l.Deleted = 0
									)
									BEGIN
										SET @Message = 'This serial number ' + @SNumber + ' is picked by another operator';
										ROLLBACK TRANSACTION;
										RETURN;
									END

									SET @TransactionMovement = 'Picked 1 ' + @SNumber + ' for ' + @SOrderNumber + ' order';

									INSERT INTO [dbo].[ULDLine] (
										ULDID,
										SequenceNumber,
										SerialNumber,
										TransactionDate,
										TransactionUser,
										TransactionType,
										TransactionQty,
										TransactionReference,
										TransactionMovement,
										TransactionLocation,
										ItemNumber,
										ItemName,
										AllocatedType,
										Picked,
										Deleted,
										CreatedDateTime,
										CreatedBy
									)
									VALUES (
										@ULDID,
										1,
										@SNumber, -- @SerialNumber
										@OperationDateTime,
										@OperationBy,
										'Picked',
										-1,						
										@SOrderNumber,
										@TransactionMovement, 
										@ULDCurrentLocation,
										@ItemNumber,
										@ItemName,
										'Orders',
										1,
										0,
										@OperationDateTime,
										@OperationBy
									);

									SET @Count = @Count + 1;
									DELETE FROM #PickingResultTable WHERE ScannedNumber = @SNumber;
								END


								FETCH NEXT FROM cur_ULDLine 
								INTO @SOrderNumber, @ULDLineID, @TransactionQty;
							END;

							CLOSE cur_ULDLine;
							DEALLOCATE cur_ULDLine;

						END -- end IF EXISTS 
					END -- End @ScannedType = 'Serial Number'
					ELSE
					BEGIN
						PRINT 'Not Serial Number';	
						IF EXISTS (
							SELECT 1 
							FROM dbo.ULDLine l
							JOIN dbo.ULD u ON u.ULDID = l.ULDID AND u.TenantCode = @TenantCode
							WHERE l.ULDID = @ULDID 
							AND l.TransactionReference IN (SELECT SourceOrderNumber FROM @WaveOrderNumbers)
							AND l.TransactionType = 'Allocated' AND l.Deleted = 0
						)
						BEGIN

							DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
								SELECT l.TransactionReference, l.ULDLineID, l.TransactionQty
								FROM dbo.ULDLine AS l
								JOIN dbo.ULD u 
									ON u.ULDID = l.ULDID 
								   AND u.TenantCode = @TenantCode
								WHERE l.ULDID = @ULDID
								  AND l.TransactionReference IN (SELECT SourceOrderNumber FROM @WaveOrderNumbers)
								  AND l.TransactionType = 'Allocated';

							OPEN cur_ULDLine;

							FETCH NEXT FROM cur_ULDLine 
							INTO @SOrderNumber, @ULDLineID, @TransactionQty;

							WHILE @@FETCH_STATUS = 0
							BEGIN
								
								SET @TransactionMovement = 'Picked ' +  CAST(@TransactionQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @SOrderNumber + ' order';

								UPDATE l
								SET 
									l.TransactionType = 'Picked',
									l.Picked = 1,
									l.TransactionMovement = @TransactionMovement,
									l.LastEditedDateTime = @OperationDateTime,
									l.LastEditedBy = @OperationBy
								FROM dbo.ULDLine as l
								WHERE l.ULDLineID = @ULDLineID AND l.Deleted = 0;


								FETCH NEXT FROM cur_ULDLine 
								INTO @SOrderNumber, @ULDLineID, @TransactionQty;
							END;

							CLOSE cur_ULDLine;
							DEALLOCATE cur_ULDLine;

						END -- end IF EXISTS

					END  -- End @ScannedType <> 'Serial Number'


				END -- End Single or Bulk
				
			END -- end OK	
			
			-- reset sequence
			EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
				 @ULDID = @ULDID;
		
		END
		ELSE IF @Operation = 'Sorting'
		BEGIN
			PRINT 'Sorting';

		END 
		ELSE IF @Operation = 'Packing'
		BEGIN
			PRINT 'Packing';

		END
		ELSE IF @Operation = 'Mailing'
		BEGIN
			PRINT 'Mailing';

		END

		-- Commit the transaction	
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
