USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeGroup_DeleteChargeGroup]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Dec, 2024>
-- Description:	<Soft Delete Charge Group>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeGroup_DeleteChargeGroup] @ChargeGroupID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.ChargeGroup WHERE ChargeGroupID = @ChargeGroupID AND Deleted = 1)
		BEGIN
			 SET @Message = 'ChargeGroup has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END
		
        UPDATE dbo.ChargeGroup
        SET DELETED = 1
        WHERE ChargeGroupID = @ChargeGroupID;
		
		UPDATE dbo.ChargeGroupCost
		SET DELETED = 1
		WHERE ChargeGroupID = @ChargeGroupID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Delete successful for ChargeGroupID: ' + CAST(@ChargeGroupID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while deleting ChargeGroupID: ' + CAST(@ChargeGroupID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
