USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_ListAllWavesByTypeAndStatuses]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Jun, 2025>
-- Description:	<List All Waves By Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_ListAllWavesByTypeAndStatuses]
     @WaveType VARCHAR(50), -- Kitting   Orders
	 @Operation VARCHAR(20), -- Picking Sorting Packing Mailing
	 @ManualPacking BIT = 1, -- 1: Manual Packing, 0: Auto Packing, Default is 1 (Manual Packing)
	 @WarehouseCode VARCHAR(20),
	 @OperationStatuses dbo.StringArray READONLY,  -- Pending    Started    Completed
     @WaveStatuses dbo.StringArray READONLY  -- Pending    Started    Completed
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @NumberOfWaveStatuses INT;
	DECLARE @NumberOfOperationStatuses INT = 0;

	SELECT @NumberOfWaveStatuses = COUNT(*) 
	FROM @WaveStatuses;

	SELECT @NumberOfOperationStatuses = COUNT(*) 
	FROM @OperationStatuses;

	DECLARE @HasCompleted BIT = 0;

	IF @NumberOfOperationStatuses = 0 OR EXISTS (
		SELECT 1
		FROM @OperationStatuses
		WHERE NULLIF(LTRIM(RTRIM([Value])),'') IS NOT NULL
		  AND UPPER(LTRIM(RTRIM([Value]))) = 'COMPLETED'
	)
	BEGIN
		SET @HasCompleted = 1;
	END

	IF @Operation = 'Picking'
	BEGIN
		IF @WaveType = 'Kitting'
		BEGIN

			SELECT w.* , s.Total, s.Implemented, s.SourceOrderNumber, s.ServiceID as OrderID, s.PickStatus, s.WarehouseCode
			FROM dbo.Wave w
			LEFT JOIN
			(
				SELECT f.*, l.WaveID, l.SourceOrderNumber , s.ServiceID, l.PickStatus, s.WarehouseCode
				FROM
				(
					SELECT FulfilmentOrder,
							COUNT(*) AS Total,
							SUM(CASE WHEN Status = 'End' THEN 1 ELSE 0 END) AS Implemented
					FROM dbo.PickingSchedule WHERE Deleted = 0  AND FulfilmentType = @WaveType GROUP BY FulfilmentOrder
				) f
				LEFT JOIN dbo.WaveLine l ON f.FulfilmentOrder = l.SourceOrderNumber AND l.Deleted = 0		
				LEFT JOIN dbo.Service s ON s.ServiceNumber = l.SourceOrderNumber AND s.Deleted = 0 AND ServiceType = 'Kitting'
			) s ON s.WaveID = w.WaveID
			WHERE w.WaveType = @WaveType 
			        AND w.DELETED = 0 
					AND s.WarehouseCode = @WarehouseCode
				    AND (
						@NumberOfWaveStatuses = 0
						OR w.WaveStatus IN (SELECT [Value] FROM @WaveStatuses)
					);
			
		END
		ELSE
		BEGIN

			IF @HasCompleted = 0
			BEGIN
				SELECT DISTINCT w.WaveID ,w.WaveNumber, w.NumberOfOrders, w.WaveStatus, w.PickingType, w.StepStatus as OperationStatus, w.WarehouseCode, lw.WarehouseName, 
								ISNULL(s.Total, 0) AS Total,
								ISNULL(s.Implemented, 0) AS Implemented
				FROM dbo.Wave w
				LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = w.WarehouseCode AND lw.Deleted = 0
				LEFT JOIN
				(
						SELECT WaveID,
								COALESCE(SUM(CASE WHEN Status <> 'Error' THEN 1 ELSE 0 END) , 0) AS Total,
								COALESCE(SUM(CASE WHEN Status = 'End' THEN 1 ELSE 0 END) , 0 ) AS Implemented
						FROM dbo.PickingSchedule 
						WHERE Deleted = 0 AND FulfilmentType = @WaveType
						GROUP BY WaveID 
				) s ON s.WaveID = w.WaveID 
				WHERE w.CurrentStep = @Operation
						AND w.WarehouseCode = @WarehouseCode
						AND w.WaveType = @WaveType 				  
						AND w.DELETED = 0
						AND (
							@NumberOfOperationStatuses = 0
							OR w.StepStatus IN (SELECT [Value] FROM @OperationStatuses) 
						)
						AND (
							@NumberOfWaveStatuses = 0
							OR w.WaveStatus IN (SELECT [Value] FROM @WaveStatuses) 
						);
			END
			ELSE
			BEGIN
				SELECT DISTINCT w.WaveID ,w.WaveNumber, w.NumberOfOrders, w.WaveStatus, w.PickingType, 
								CASE
									WHEN w.CurrentStep = @Operation THEN w.StepStatus
									ELSE 'Completed'
								  END AS OperationStatus, 
								w.WarehouseCode, lw.WarehouseName, 
								ISNULL(s.Total, 0) AS Total,
								ISNULL(s.Implemented, 0) AS Implemented
				FROM dbo.Wave w
				LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = w.WarehouseCode AND lw.Deleted = 0
				LEFT JOIN
				(
						SELECT WaveID,
								COALESCE(SUM(CASE WHEN Status <> 'Error' THEN 1 ELSE 0 END) , 0) AS Total,
								COALESCE(SUM(CASE WHEN Status = 'End' THEN 1 ELSE 0 END) , 0 ) AS Implemented
						FROM dbo.PickingSchedule 
						WHERE Deleted = 0 AND FulfilmentType = @WaveType
						GROUP BY WaveID 
				) s ON s.WaveID = w.WaveID 
				WHERE w.WarehouseCode = @WarehouseCode
						AND w.WaveType = @WaveType 				  
						AND w.DELETED = 0
						AND (
							@NumberOfOperationStatuses = 0
							OR w.StepStatus IN (SELECT [Value] FROM @OperationStatuses) 
						)
						AND (
							@NumberOfWaveStatuses = 0
							OR w.WaveStatus IN (SELECT [Value] FROM @WaveStatuses) 
						);
			END
			
		END
		
	END -- END @Operation = 'Picking'
	ELSE IF @Operation = 'Sorting'
	BEGIN
		IF @HasCompleted = 0
		BEGIN
			SELECT DISTINCT w.WaveID ,w.WaveNumber, w.NumberOfOrders, w.WaveStatus, w.PickingType, w.StepStatus as OperationStatus,	w.WarehouseCode, lw.WarehouseName
			FROM dbo.Wave w
			LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = w.WarehouseCode AND lw.Deleted = 0		
			WHERE w.CurrentStep = @Operation
					AND w.WarehouseCode = @WarehouseCode
					AND w.WaveType = @WaveType 				  
					AND w.DELETED = 0
					AND (
						@NumberOfOperationStatuses = 0
						OR w.StepStatus IN (SELECT [Value] FROM @OperationStatuses) 
					)
					AND (
							@NumberOfWaveStatuses = 0
							OR w.WaveStatus IN (SELECT [Value] FROM @WaveStatuses) 
					);
		END
		ELSE
		BEGIN
			SELECT DISTINCT w.WaveID ,w.WaveNumber, w.NumberOfOrders, w.WaveStatus, w.PickingType, 
							CASE
								WHEN w.CurrentStep = @Operation THEN w.StepStatus
								ELSE 'Completed'
							END AS OperationStatus,   
							w.WarehouseCode, lw.WarehouseName
			FROM dbo.Wave w
			LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = w.WarehouseCode AND lw.Deleted = 0		
			WHERE (w.CurrentStep = @Operation OR w.CurrentStep <> 'Picking')
					AND w.WarehouseCode = @WarehouseCode
					AND w.WaveType = @WaveType 				  
					AND w.DELETED = 0
					AND (
						@NumberOfOperationStatuses = 0
						OR w.StepStatus IN (SELECT [Value] FROM @OperationStatuses) 
					)
					AND (
							@NumberOfWaveStatuses = 0
							OR w.WaveStatus IN (SELECT [Value] FROM @WaveStatuses) 
					);
		END
		
	END -- END @Operation = 'Sorting'
	ELSE IF @Operation = 'Packing'
	BEGIN
		-- Create temp table to store Packing results
		IF OBJECT_ID('tempdb..#TempPackingResults') IS NOT NULL
			DROP TABLE #TempPackingResults;

		CREATE TABLE #TempPackingResults
		(
			WaveID INT,
			WaveNumber NVARCHAR(11),
			NumberOfOrders INT,
			WaveStatus NVARCHAR(20),
			PickingType NVARCHAR(50),
			OperationStatus NVARCHAR(20),
			WarehouseCode VARCHAR(20),
			WarehouseName NVARCHAR(150),
			IsAutoPacking BIT
		);

		IF @HasCompleted = 0
		BEGIN
			INSERT INTO #TempPackingResults
			SELECT DISTINCT w.WaveID ,w.WaveNumber, w.NumberOfOrders, w.WaveStatus, w.PickingType, w.StepStatus as OperationStatus, w.WarehouseCode, lw.WarehouseName, 0 AS IsAutoPacking
			FROM dbo.Wave w
			LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = w.WarehouseCode AND lw.Deleted = 0		
			WHERE w.CurrentStep = @Operation
					AND w.WarehouseCode = @WarehouseCode
					AND w.WaveType = @WaveType 				  
					AND w.DELETED = 0
					AND w.ManualPacking = @ManualPacking
					AND (
						@NumberOfOperationStatuses = 0
						OR w.StepStatus IN (SELECT [Value] FROM @OperationStatuses) 
					)
					AND (
							@NumberOfWaveStatuses = 0
							OR w.WaveStatus IN (SELECT [Value] FROM @WaveStatuses)  
					);
		
		END
		ELSE
		BEGIN
			INSERT INTO #TempPackingResults
			SELECT DISTINCT w.WaveID ,w.WaveNumber, w.NumberOfOrders, w.WaveStatus, w.PickingType, 
						   CASE
								WHEN w.CurrentStep = @Operation THEN w.StepStatus
								ELSE 'Completed'
							END AS OperationStatus,  
						   w.WarehouseCode, lw.WarehouseName, 0 AS IsAutoPacking
			FROM dbo.Wave w
			LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = w.WarehouseCode AND lw.Deleted = 0		
			WHERE (w.CurrentStep = @Operation OR w.CurrentStep NOT IN ('Picking','Sorting'))
					AND w.WarehouseCode = @WarehouseCode
					AND w.WaveType = @WaveType 				  
					AND w.DELETED = 0
					AND w.ManualPacking = @ManualPacking
					AND (
						@NumberOfOperationStatuses = 0
						OR w.StepStatus IN (SELECT [Value] FROM @OperationStatuses) 
					)
					AND (
							@NumberOfWaveStatuses = 0
							OR w.WaveStatus IN (SELECT [Value] FROM @WaveStatuses)  
					);
		END

		-- Update temp table with IsAutoPacking flag based on tenant configuration
		UPDATE t
		SET t.IsAutoPacking = CASE 
					WHEN tenant_check.TenantCodeCount = 1 
						 AND tenant_check.PackingRequired = 1 
						 AND tenant_check.PackingRequiredType = 'AutoPackWave'
						 AND tenant_check.TenantDeleted = 0
					THEN 1
					ELSE 0
			   END
		FROM #TempPackingResults t
		INNER JOIN (
			SELECT wl.WaveID, 
				   COUNT(DISTINCT wl.TenantCode) AS TenantCodeCount,
				   MAX(wl.TenantCode) AS TenantCode
			FROM dbo.WaveLine wl
			WHERE wl.Deleted = 0
			GROUP BY wl.WaveID
			HAVING COUNT(DISTINCT wl.TenantCode) = 1
		) wave_tenant ON wave_tenant.WaveID = t.WaveID
		LEFT JOIN dbo.Tenant tn ON tn.TenantCode = wave_tenant.TenantCode
		CROSS APPLY (
			SELECT 
				wave_tenant.TenantCodeCount,
				ISNULL(tn.PackingRequired, 0) AS PackingRequired,
				tn.PackingRequiredType,
				ISNULL(tn.Deleted, 1) AS TenantDeleted
		) tenant_check;

		-- Update IsAutoPacking to 0 if there is at least one item with TrackSerialOnReceipt = 1
		UPDATE t
		SET t.IsAutoPacking = 0
		FROM #TempPackingResults t
		WHERE t.IsAutoPacking = 1
		  AND EXISTS (
			SELECT 1
			FROM dbo.WaveLine wl
			INNER JOIN dbo.Fulfilment f ON f.OrderNumber = wl.OrderNumber 
				AND f.Deleted = 0
			INNER JOIN dbo.FulfilmentLine fl ON fl.FulfilmentID = f.FulfilmentID 
				AND fl.Deleted = 0
			INNER JOIN dbo.Items i ON i.ItemID = fl.ItemID 
				AND i.Deleted = 0
				AND ISNULL(i.TrackSerialOnReceipt, 0) = 1
			WHERE wl.Deleted = 0 
				AND wl.WaveID = t.WaveID
		);

		-- Return all results from temp table
		SELECT * FROM #TempPackingResults;
	END -- END @Operation = 'Packing'
END
GO
