USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_UpdateULDFromReceipt]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <31 Dec, 2024>
-- Description:	<Update ULD From Receipt>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ULD_UpdateULDFromReceipt] 
	@ItemNumber			VARCHAR(30),
	@ShipmentNumber		VARCHAR(30), 
	@BatchNumber		VARCHAR(30) = NULL, 
	@SerialNumber		VARCHAR(30) = NULL, 
	@ExpiryDate			DATETIME = NULL, 
	@TransactionQty		INT = 0, 
	@ULDType			VARCHAR(30), -- Unit - Outer - Pallet
	@ReceivingQty		INT = 0,   -- quantity folowing the unit of @ULDType
    @TransactionUser	VARCHAR(100),
	@ExistedULDID		INT,
	@InvoiceCharging     BIT = 1,
    @Message			VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @CurrentDateTime DATETIME = GETDATE();

		IF @ShipmentNumber IS NULL   
		BEGIN
			SET @Message = 'Shipment Number is NULL when receiving Item of Inbound Receipt';			
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @TransactionMovement VARCHAR(1000);
		DECLARE @ULDID INT;
		DECLARE @LocationCode VARCHAR(50);
		DECLARE @ItemName VARCHAR(250);
		DECLARE @TenantCode VARCHAR(10);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ExistedULDType  VARCHAR(30);

		SET  @ULDID = @ExistedULDID											

	    SELECT @TenantCode = TenantCode, 
		       @ItemName = ItemName,  
			   @LocationCode = ULDCurrentLocation , 
			   @WarehouseCode = WarehouseCode,
			   @ExistedULDType = ULDType
		FROM dbo.ULD WHERE DELETED = 0 AND ULDID = @ULDID;

		IF @ULDType <> @ExistedULDType
		BEGIN
			SET @Message = 'The ULD Type does not match';			
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @SequenceNumber INT;
		SELECT @SequenceNumber = COUNT(*)
		FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;

		SET @SequenceNumber = @SequenceNumber + 1;
		
		-- Insert to ULD Line
		
		IF @SerialNumber IS NULL -- No have Serial number
		BEGIN
			SET @TransactionMovement = 'Received ' +  CAST(@TransactionQty AS VARCHAR(10)) + 'x ' + @ItemNumber + ' ';
			IF @BatchNumber IS NOT NULL
			BEGIN
				SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
			END
			IF @ExpiryDate IS NOT NULL
			BEGIN
				SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
			END
			SET @TransactionMovement = @TransactionMovement + 'on receipt ' + @ShipmentNumber;

			INSERT INTO [dbo].[ULDLine] (
				ULDID,
				SequenceNumber,
				SerialNumber,
				TransactionDate,
				TransactionUser,
				TransactionType,
				TransactionQty,
				ReceivingQty,
				TransactionReference,
				TransactionMovement,
				TransactionLocation,
				ItemNumber,
				ItemName,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
		
			VALUES (
				@ULDID,
				@SequenceNumber,
				NULL,
				@CurrentDateTime,
				@TransactionUser,
				'Receipt',
				@TransactionQty,
				@ReceivingQty,
				@ShipmentNumber,
				@TransactionMovement, 
				@LocationCode,
				@ItemNumber,
				@ItemName,
				0,
				@CurrentDateTime,
				@TransactionUser
			);
			END
		ELSE -- Serial numbers exist.
		BEGIN

		    IF EXISTS(SELECT 1 FROM dbo.ULD u LEFT JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
							WHERE u.TenantCode = @TenantCode AND u.DELETED = 0 AND ul.DELETED = 0 
							AND LOWER(ul.SerialNumber) = LOWER(@SerialNumber))
			BEGIN
				 SET @Message = 'Serial Number does exists for this Tenant';				
				 ROLLBACK TRANSACTION;
				 RETURN;
			END
			
			SET @TransactionMovement = 'Received 1x' + @ItemNumber + ' ';
				SET @TransactionMovement = @TransactionMovement + 'Serial Number: ' + @SerialNumber + ' ';
				IF @BatchNumber IS NOT NULL
				BEGIN
					SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
				END
				IF @ExpiryDate IS NOT NULL
				BEGIN
					SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
				END
				SET @TransactionMovement = @TransactionMovement + 'on receipt ' + @ShipmentNumber;

				INSERT INTO [dbo].[ULDLine] (
					ULDID,
					SequenceNumber,
					SerialNumber,
					TransactionDate,
					TransactionUser,
					TransactionType,
					TransactionQty,
					TransactionReference,
					TransactionMovement,
					TransactionLocation,
					ItemNumber,
					ItemName,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
			
				VALUES (
					@ULDID,
					@SequenceNumber,
					@SerialNumber,
					@CurrentDateTime,
					@TransactionUser,
					'Receipt',
					1,
					@ShipmentNumber,
					@TransactionMovement, 
					@LocationCode,
					@ItemNumber,
					@ItemName,
					0,
					@CurrentDateTime,
					@TransactionUser
				);

		END -- End Serial numbers exist.

		IF @InvoiceCharging = 1
		BEGIN
			DECLARE @TransactionReference VARCHAR(500);
			SET @TransactionReference = 'Receiving the shipment number: ' +  @ShipmentNumber;

			-- create invoice 
			EXEC [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice] 
				@TenantCode = @TenantCode,
				@WarehouseCode = @WarehouseCode,
				@ItemCode = @ItemNumber,
				@TransactionReference = @TransactionReference,  
				@ItemUnit = @ULDType,     
				@ItemQty = @ReceivingQty,    
				@CreatedDateTime = @CurrentDateTime, 
				@CreatedBy = @TransactionUser,  
				@Message = NULL;
		END
		

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
