USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_StandardBox_UpdateStandardBox]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Sep, 2025>
-- Description:	<Update StandardBox>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_StandardBox_UpdateStandardBox] 
	@StandardBoxID INT,
	@StandardBoxName VARCHAR(100),
    @StandardBoxDescription VARCHAR(2000),	
	@Length	decimal(10, 2),
	@Height	decimal(10, 2),
	@Width	decimal(10, 2),
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		BEGIN TRANSACTION

        -- Check if the StandardBoxID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.StandardBox WHERE StandardBoxID = @StandardBoxID AND Deleted = 0)
        BEGIN
            SET @Message = 'StandardBoxID does not exist or has been deleted.';
			ROLLBACK TRANSACTION;
            RETURN;
        END
		 IF EXISTS(SELECT 1 FROM dbo.StandardBox WHERE [Name] = @StandardBoxName AND Deleted = 0 AND StandardBoxID <> @StandardBoxID)
		 BEGIN
			 SET @Message = 'StandardBox Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END


        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.StandardBox
        SET
            [Name] = COALESCE(@StandardBoxName, [Name]),
			[Description] = COALESCE(@StandardBoxDescription, [Description]),	
			[Length] = COALESCE(@Length, [Length]),	
			Height = COALESCE(@Height, Height),	
			Width = COALESCE(@Width, Width),	
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE StandardBoxID = @StandardBoxID

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
