USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_UpdateAppliedTenantStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Dec, 2024>
-- Description:	<Update Apply Status of Tenant for ChargeItem>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_UpdateAppliedTenantStatus]  
	 @ChargeItemID INT,
	 @TenantCode VARCHAR(10),
	 @Applied BIT,
	 @FirstEditedDateTime          DATETIME = NULL,
	 @FirstEditedBy                VARCHAR(100) = NULL,
	 @LastEditedDateTime           DATETIME = NULL,
	 @LastEditedBy                 VARCHAR(100) = NULL,
	 @Message   VARCHAR(4000) OUTPUT -- Output parameter for error messages
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

	    IF EXISTS(SELECT 1 FROM dbo.TenantChargeItem WHERE TenantCode = @TenantCode AND ChargeItemID = @ChargeItemID AND DELETED = 1)
		BEGIN
			IF @Applied = 1
			BEGIN
				UPDATE dbo.TenantChargeItem
				SET
					DELETED = COALESCE(0, DELETED),
					FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
					FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
					LastEditedDateTime = @LastEditedDateTime,
					LastEditedBy = @LastEditedBy
				WHERE TenantCode = @TenantCode AND ChargeItemID = @ChargeItemID;
			END
			ELSE
			BEGIN
				SET @Message = 'This Tenant has been already removed of the applied list.'
				ROLLBACK TRANSACTION;
				RETURN;
			END
		END
		ELSE
		BEGIN
			IF NOT EXISTS(SELECT 1 FROM dbo.TenantChargeItem WHERE TenantCode = @TenantCode AND ChargeItemID = @ChargeItemID AND DELETED = 0)
			BEGIN
				IF @Applied = 1
				BEGIN
					DECLARE @NewTenantChargeItemID INT;
					DECLARE @IsUsingCustomPrice BIT;
					SELECT @IsUsingCustomPrice = COALESCE(IsUsingCustomPrice, 0) FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;

					IF @IsUsingCustomPrice = 1 -- custom
					BEGIN
						INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted, CreatedDateTime, CreatedBy)
						VALUES
						(
							 @TenantCode,
							 @ChargeItemID,
							 'Custom',
							 0,
							 @FirstEditedDateTime,
						     @FirstEditedBy
						);

						SET @NewTenantChargeItemID = SCOPE_IDENTITY();

						INSERT INTO [dbo].[TenantCustomCost] (
							[TenantChargeItemID],
							[WarehouseCode],
							[ChargeItemPrice],
							[ChargeItemCurrency],
							[Deleted],
							CreatedDateTime, 
							CreatedBy
						)
						SELECT
							@NewTenantChargeItemID,  
							CIC.WarehouseCode,       
							CIC.ChargeItemPrice,               
							CIC.ChargeItemCurrency,            
							0,
							@FirstEditedDateTime,
						    @FirstEditedBy
						FROM dbo.ChargeItemCost CIC
						WHERE CIC.ChargeItemId = @ChargeItemId AND CIC.DELETED = 0;

					END
					ELSE
					BEGIN
						INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted, CreatedDateTime, CreatedBy)
						VALUES
						(
							 @TenantCode,
							 @ChargeItemID,
							 'Standard',
							 0,
							 @FirstEditedDateTime,
						     @FirstEditedBy
						);
					END
					
				END
			END
			ELSE
			BEGIN
				IF @Applied = 0
				BEGIN
					UPDATE dbo.TenantChargeItem
					SET
						DELETED = COALESCE(1, DELETED),
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
						LastEditedDateTime = @LastEditedDateTime,
						LastEditedBy = @LastEditedBy
					WHERE TenantCode = @TenantCode AND ChargeItemID = @ChargeItemID;
				END
			END
			
		END

		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;

END
GO
