USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_CPIntegration_UpdateIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Oct, 2025>
-- Description:	<Update CP Integration>
-- =============================================
CREATE PROCEDURE[dbo].[SP_VI_TBL_CPIntegration_UpdateIntegration]  
	@IntegrationID INT,
	@Token VARCHAR(100),   
	@ServiceMappings [dbo].[CPServiceType] READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION
	
		DECLARE @TenantName VARCHAR(150);

		UPDATE dbo.CPIntegration
			SET
				Token = @Token,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
			WHERE IntegrationID = @IntegrationID;

		-- remove all line
		UPDATE dbo.CPIntegrationLine
		SET
			Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
			LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
		WHERE IntegrationID = @IntegrationID;

		DECLARE @OrderType NCHAR(20),
				@OrderServiceName NCHAR(100)

		 DECLARE ServiceCursor CURSOR FOR
			SELECT 
				OrderType,
				OrderServiceName
			FROM @ServiceMappings

		OPEN ServiceCursor

		FETCH NEXT FROM ServiceCursor INTO 
			@OrderType,
			@OrderServiceName

		WHILE @@FETCH_STATUS = 0
		BEGIN	

			-- insert line
			INSERT INTO dbo.CPIntegrationLine
			(
				IntegrationID,				
				OrderType,
				OrderServiceName,					
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@IntegrationID,				
				@OrderType,
				@OrderServiceName,							
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			FETCH NEXT FROM ServiceCursor INTO 
				@OrderType,
				@OrderServiceName
		END

		CLOSE ServiceCursor
		DEALLOCATE ServiceCursor

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
