USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_UpdateTrackingInfo]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Oct, 2025>
-- Description:	<Update Tracking Info>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_UpdateTrackingInfo]
	@FulfilmentID INT,	
	@CarrierID INT,
	@CarrierServiceID INT = NULL,
	@TrackingNumber	VARCHAR(150) = NULL,	
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,	
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @Carrier VARCHAR(30), 
		        @CarrierService VARCHAR(200),
				@WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10);

	    SELECT @WarehouseCode = WarehouseCode,
		       @TenantCode = TenantCode
		FROM dbo.Fulfilment
		WHERE FulfilmentID = @FulfilmentID AND Deleted = 0;

		IF @CarrierID = 1
		BEGIN
			SET @Carrier = 'Australia Post';

			IF @CarrierService IS NOT NULL
			BEGIN
				SELECT @CarrierService = ServiceName
				FROM APIntegration i
				LEFT JOIN APIntegrationLine l on l.IntegrationID = i.IntegrationID
				WHERE i.WarehouseCode = @WarehouseCode and i.TenantCode = @TenantCode and l.ServiceID = @CarrierServiceID and i.Deleted = 0 and l.Deleted = 0
				GROUP BY ServiceID, ServiceName
			END
		END		
		ELSE IF @CarrierID = 2
		BEGIN
			SET @Carrier = 'Manual Shipment';
			SET @CarrierService = 'Manual Shipment';
		END
		ELSE IF @CarrierID = 3
		BEGIN
			SET @Carrier = 'DHL Express';
			IF @CarrierService IS NOT NULL
			BEGIN
				IF @CarrierServiceID = 1
				BEGIN
					SET @CarrierService = 'DAP';
				END
				ELSE
				BEGIN
					SET @CarrierService = 'DDP';
				END
			END
			
		END
		ELSE IF @CarrierID = 4
		BEGIN
			SET @Carrier = 'Couriers Please';
			SET @CarrierService = 'Domestic Parcels';
		END

		UPDATE f
		SET 
			f.TrackingNumber =  @TrackingNumber,
			f.CarrierID = @CarrierID,
			f.CarrierServiceID = @CarrierServiceID,
			f.Carrier = @Carrier,
			f.CarrierService = @CarrierService
		FROM dbo.Fulfilment f
		WHERE f.FulfilmentID = @FulfilmentID;

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
