USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_GetULDsHavingStockOfTenantAtLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 Jun, 2025>
-- Description:	<Get ULD Having Stock of Tenant at Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_GetULDsHavingStockOfTenantAtLocation]  
	@TenantCode VARCHAR(10) = NULL,
	@WarehouseCode VARCHAR(20) = NULL,
	@LocationType VARCHAR(20) = NULL,  -- Area or Section
	@LocationID INT = NULL, -- AreaID or SectionID based on @LocationType
	@ItemNumber VARCHAR(30),
	@PickingCondition VARCHAR(100) = NULL,
	@CountOnHold BIT = 1  -- 1: Count onHold ULD ;   0 : Not Count onHold ULD
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @SortByExpiry BIT = 1;       -- 1 = sort by ExpiryDate, 0 = sort by ReceivedDateTime
	DECLARE @SortDescending BIT = 0;     -- 1 = DESC, 0 = ASC

	DECLARE @SortColumn NVARCHAR(50);
	DECLARE @SortDirection NVARCHAR(4);
	DECLARE @OnHoldCondition NVARCHAR(100);
	DECLARE @sql NVARCHAR(MAX);

	DECLARE @LocWarehouseCode NVARCHAR(1),
			@LocAreaCode NVARCHAR(1),
			@LocSectionCode NVARCHAR(3),
			@LocationPrefix NVARCHAR(5),
			@LocationInfo NVARCHAR(100);

	DECLARE @LocWarehouseID INT,
            @LocAreaID INT,
			@LocSectionID INT;
	

	IF @CountOnHold = 1
	BEGIN
		SET @OnHoldCondition = '';
	END
	ELSE
	BEGIN			
		SET @OnHoldCondition = N' AND U.HoldStatus IS NULL';
	END

	-- Decide column name
	SET @SortColumn = CASE 
						WHEN @PickingCondition IS NULL OR @PickingCondition = '' THEN 'U.ReceivedDateTime' 
						WHEN @PickingCondition = 'First In – First Out' THEN 'U.ReceivedDateTime' 
						WHEN @PickingCondition = 'Last In – First Out' THEN 'U.ReceivedDateTime' 
						WHEN @PickingCondition = 'First Expiry – First Out' THEN 'U.ExpiryDate' 
						ELSE 'U.ReceivedDateTime'
					 END;

	-- Decide direction
	SET @SortDirection = CASE 
							WHEN @PickingCondition IS NULL OR @PickingCondition = '' THEN 'ASC' 	
							WHEN @PickingCondition = 'First In – First Out' THEN 'ASC' 
							WHEN @PickingCondition = 'Last In – First Out' THEN 'DESC' 
							WHEN @PickingCondition = 'First Expiry – First Out' THEN 'ASC' 
							ELSE 'ASC'
						 END;
	
	-- Build SQL string
	IF @WarehouseCode IS NOT NULL
	BEGIN

		IF @LocationType IS NOT NULL
		BEGIN
			IF @LocationType = 'Area' 
			BEGIN
				SELECT @LocAreaCode = AreaCode 
				FROM dbo.LocArea WHERE LocAreaID = @LocationID AND Deleted = 0;

				SET @LocationPrefix = @WarehouseCode + @LocAreaCode;

				SET @LocationInfo = N' AND SUBSTRING(ISNULL(U.ULDCurrentLocation, ''''), 1, 2) = ''' + REPLACE(@LocationPrefix, '''', '''''') + '''';

			END ELSE IF @LocationType = 'Section' 
			BEGIN

				SELECT @LocAreaID = LocAreaID, @LocSectionCode = SectionCode 
				FROM dbo.LocSection WHERE LocSectionID = @LocationID AND Deleted = 0;

				SELECT @LocWarehouseID = LocWarehouseID, @LocAreaCode = AreaCode 
				FROM dbo.LocArea WHERE  LocAreaID = @LocAreaID AND Deleted = 0;
		
				SET @LocationPrefix = @WarehouseCode + @LocAreaCode + @LocSectionCode;

				SET @LocationInfo = N' AND SUBSTRING(ISNULL(U.ULDCurrentLocation, ''''), 1, 5) = ''' + REPLACE(@LocationPrefix, '''', '''''') + '''';
			END
		END
		ELSE
		BEGIN
			SET @LocationInfo = '';
		END
		

		SET @sql = N'
			SELECT  
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				dbo.fn_GetLocationOrderNumberFromCode(U.ULDCurrentLocation) as LocationOrderNumber,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.ReceivedDateTime as CreatedDateTime,
				SUM(UL.TransactionQty) AS TotalQty
			FROM 
			(
				SELECT Distinct
					l.*, 
					t.Location
				FROM 
					dbo.ULD l
				LEFT JOIN 
					(
						SELECT 
							(WarehouseCode + AreaCode + SectionCode + BinCode) AS Location
						FROM 
							LocTempLocation 
						WHERE 
							Deleted = 0
					) t 
					ON l.ULDCurrentLocation = t.Location
				WHERE 
					l.Deleted = 0 
					AND l.ULDCurrentLocation IS NOT NULL 
					AND (l.LocColumnID IS NULL OR l.LocColumnID = -1)

				UNION ALL

					SELECT Distinct
						l.*, 
						''A'' AS Location
					FROM 
						dbo.ULD l 
					WHERE 
						l.Deleted = 0 
						AND l.ULDCurrentLocation IS NOT NULL 
						AND l.LocColumnID IS NOT NULL AND l.LocColumnID <> -1
			
			) U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			WHERE 
				UL.Deleted = 0
				AND U.Location IS NOT NULL
				AND U.WarehouseCode = @WarehouseCode
				AND U.TenantCode = @TenantCode
				AND U.ItemNumber = @ItemNumber
				AND U.Status <> ''Draft'' AND U.Status <> ''InActive''  AND U.Status <> ''Locked''
			' + @OnHoldCondition 
			   + @LocationInfo + 
			N' GROUP BY
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.ReceivedDateTime
			HAVING 
				SUM(UL.TransactionQty) > 0
			ORDER BY ' + @SortColumn + ' ' + @SortDirection + ';';

		--PRINT @sql;

		-- Execute
		EXEC sp_executesql @sql,
			N'@WarehouseCode VARCHAR(20), @TenantCode VARCHAR(10), @ItemNumber VARCHAR(30)',
			@WarehouseCode = @WarehouseCode,
			@TenantCode = @TenantCode,
			@ItemNumber = @ItemNumber;
	END
	ELSE
	BEGIN

		IF @LocationType IS NOT NULL
		BEGIN
			IF @LocationType = 'Area' 
			BEGIN
				SELECT @LocWarehouseID = LocWarehouseID, @LocAreaCode = AreaCode 
				FROM dbo.LocArea WHERE LocAreaID = @LocationID AND Deleted = 0;

				SELECT @LocWarehouseCode = WarehouseCode 
				FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID AND Deleted = 0;

				SET @LocationPrefix = @LocWarehouseCode + @LocAreaCode;

				SET @LocationInfo = N' AND SUBSTRING(ISNULL(U.ULDCurrentLocation, ''''), 1, 2) = ''' + REPLACE(@LocationPrefix, '''', '''''') + '''';

			END ELSE IF @LocationType = 'Section' 
			BEGIN

				SELECT @LocAreaID = LocAreaID, @LocSectionCode = SectionCode 
				FROM dbo.LocSection WHERE LocSectionID = @LocationID AND Deleted = 0;

				SELECT @LocWarehouseID = LocWarehouseID, @LocAreaCode = AreaCode 
				FROM dbo.LocArea WHERE  LocAreaID = @LocAreaID AND Deleted = 0;

				SELECT @LocWarehouseCode = WarehouseCode 
				FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID AND Deleted = 0;

				SET @LocationPrefix = @LocWarehouseCode + @LocAreaCode + @LocSectionCode;

				SET @LocationInfo = N' AND SUBSTRING(ISNULL(U.ULDCurrentLocation, ''''), 1, 5) = ''' + REPLACE(@LocationPrefix, '''', '''''') + '''';
			END
		END
		ELSE
		BEGIN
			SET @LocationInfo = '';
		END
			
		SET @sql = N'
			SELECT  
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				dbo.fn_GetLocationOrderNumberFromCode(U.ULDCurrentLocation) as LocationOrderNumber,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.ReceivedDateTime as CreatedDateTime,
				SUM(UL.TransactionQty) AS TotalQty
			FROM
			(
				SELECT Distinct
					l.*, 
					t.Location
				FROM 
					dbo.ULD l
				LEFT JOIN 
					(
						SELECT 
							(WarehouseCode + AreaCode + SectionCode + BinCode) AS Location
						FROM 
							LocTempLocation 
						WHERE 
							Deleted = 0
					) t 
					ON l.ULDCurrentLocation = t.Location
				WHERE 
					l.Deleted = 0 
					AND l.ULDCurrentLocation IS NOT NULL 
					AND (l.LocColumnID IS NULL OR l.LocColumnID = -1)

				UNION ALL

					SELECT Distinct
						l.*, 
						''A'' AS Location
					FROM 
						dbo.ULD l 
					WHERE 
						l.Deleted = 0 
						AND l.ULDCurrentLocation IS NOT NULL 
						AND l.LocColumnID IS NOT NULL AND l.LocColumnID <> -1
			
			) U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			WHERE 
				UL.Deleted = 0
				AND U.Location IS NOT NULL
				AND U.TenantCode = @TenantCode
				AND U.ItemNumber = @ItemNumber
				AND u.Status <> ''Draft'' AND u.Status <> ''InActive'' AND U.Status <> ''Locked''
			' + @OnHoldCondition 
			  + @LocationInfo +
			N' GROUP BY
				U.ULDID,
				U.ULDBarcode,
				U.ULDCurrentLocation,
				U.LocColumnID,
				U.LocShelfID,
				U.LocBinID,
				U.LocSBinID,
				U.ULDType,
				U.TenantCode,
				U.WarehouseCode,
				U.HoldStatus,
				U.CurrentZone,
				U.Status,
				U.ItemNumber,
				U.ItemName,
				U.ExpiryDate,
				U.BatchNumber,
				U.ReceivedDateTime
			HAVING 
				SUM(UL.TransactionQty) > 0
			ORDER BY ' + @SortColumn + ' ' + @SortDirection + ';';

		--PRINT @sql;

		-- Execute
		EXEC sp_executesql @sql,
			N'@TenantCode VARCHAR(10), @ItemNumber VARCHAR(30)',
			@TenantCode = @TenantCode,
			@ItemNumber = @ItemNumber;
	END

END
GO
