USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_DeleteReportSchedule]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Jan, 2025>
-- Description:	<Soft Delete Report Schedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_DeleteReportSchedule] 
        @ReportScheduleID INT, 
		@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.ReportSchedule WHERE ReportScheduleID = @ReportScheduleID AND Deleted = 1)
		BEGIN
			 SET @Message = 'ReportSchedule has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.ReportSchedule
        SET DELETED = 1
        WHERE ReportScheduleID = @ReportScheduleID;

		
		UPDATE dbo.ReportScheduleParameter
		SET DELETED = 1
		WHERE ReportScheduleID = @ReportScheduleID;

		UPDATE dbo.TenantReportSchedule
        SET DELETED = 1
        WHERE ReportScheduleID = @ReportScheduleID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for ReportScheduleID: ' + CAST(@ReportScheduleID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			 ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating ReportScheduleID: ' + CAST(@ReportScheduleID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
