USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_ExitPickingTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Jul, 2025>
-- Description:	<Exit Picking Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_ExitPickingTask] 
    @WaveID INT,
	@PickingScheduleID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @OrderNumber VARCHAR(50),
				@PickStatus VARCHAR(20),				
				@WarehouseCode VARCHAR(20),
				@Status VARCHAR(20),
				@CurrentStep VARCHAR(50),
				@TenantCode VARCHAR(10);

		SELECT @Status = [Status],
			   @OrderNumber = FulfilmentOrder,
			   @WarehouseCode = WarehouseCode,
			   @TenantCode = TenantCode
		FROM dbo.PickingSchedule 
		WHERE PickingScheduleID = @PickingScheduleID AND DELETED = 0;

		IF @Status IS NULL OR @Status != 'Taken'
		BEGIN
			SET @Message = 'This Picking task is over.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- get service info from wave
		SELECT @CurrentStep = CurrentStep,			 
			   @PickStatus = StepStatus			  
		FROM dbo.Wave WHERE WaveID = @WaveID AND Deleted = 0;		
		
		IF @CurrentStep <> 'Picking'
		BEGIN
			SET @Message = 'This Picking phase is over.';
			ROLLBACK TRANSACTION;
			RETURN;
		END
		
		IF @PickStatus != 'Started'
		BEGIN
			SET @Message = 'Pick Status is not Started.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		UPDATE dbo.PickingSchedule
			SET [Status] = 'Init',
			    OperationStaff = NULL,
			    StartDate = NULL,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @OperationDateTime,
				LastEditedBy = @OperationBy
			WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;

		
		-- Commit the transaction
        COMMIT TRANSACTION;
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
