USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_InActiveEmptyULDs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Jun, 2025>
-- Description:	<Inactive ULD empty >
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_InActiveEmptyULDs] 
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;
	-- Try to update the DELETED field
    BEGIN TRY
		UPDATE u
		SET u.Status = 'InActive'
		FROM dbo.ULD u
		WHERE u.Status <> 'Locked'
			AND EXISTS (
				SELECT 1
				FROM dbo.ULDLine UL
				WHERE UL.ULDID = u.ULDID AND UL.DELETED = 0 AND Ul.TransactionType <> 'Allocated'
				GROUP BY UL.ULDID
				HAVING SUM(UL.TransactionQty) = 0
			);

	END TRY
    BEGIN CATCH
        -- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
