USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_CP_GetItemsDomestic]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Actual business logic runs here */
CREATE   PROCEDURE [dbo].[sp_CP_GetItemsDomestic]
    @ShipmentDomesticID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ItemsDomesticID,
        ShipmentDomesticID,
        quantity,
        length,
        width,
        height,
        physicalWeight
    FROM dbo.CPItemsDomestic
    WHERE ShipmentDomesticID = @ShipmentDomesticID;
END;
GO
