USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertBinAllocationInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Mar, 2025>
-- Description:	<Insert Bin Allocation Invoice>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertBinAllocationInvoice]  
	@TenantCode VARCHAR(10),
	@WarehouseCode VARCHAR(20),
	@Qty INT,
	@Division INT = 1,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
     
		DECLARE @ChargeItemName VARCHAR(200) = 'PerfectPick Location';
		DECLARE @ChargeItemID INT;
		DECLARE @InvoiceReferences VARCHAR(500);
		
		SET @InvoiceReferences = '';
		-- get Charge ID
		SELECT @ChargeItemID = ChargeItemID
		FROM dbo.ChargeITem
		WHERE ChargeItemName = @ChargeItemName AND DELETED = 0 AND ChargeItemGroup = 'Regular' AND ChargeItemUnit = 'Week';

		IF @ChargeItemID IS NULL
		BEGIN
			 SET @Message = 'Bin Allocation Charge Item does not exists.';			
			 RETURN;
		END

		DECLARE @Charge DECIMAL(10, 2);
		DECLARE @Currency VARCHAR(20);
		
		IF @Division = 1
		BEGIN
			SELECT @Charge = ChargeItemPrice,
			       @Currency = ChargeItemCurrency
			FROM dbo.ChargeItemCost 
			WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode 
				  AND (Division IS NULL OR Division = 1)
			      AND ChargeItemId = @ChargeItemID;
		END
		ELSE
		BEGIN
			SELECT @Charge = ChargeItemPrice,
			       @Currency = ChargeItemCurrency
			FROM dbo.ChargeItemCost 
			WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode 
				  AND Division = @Division 
			      AND ChargeItemId = @ChargeItemID;
		END
		

		INSERT INTO [dbo].[Invoice] (
			TenantCode,
			ChargeName,
			ChargeType,
			ChargeCategory,
			InvoiceReferences,
			WarehouseCode,
			Qty,
			Cost,
			Charge,
			Currency,
			Status,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES (
			@TenantCode,
			@ChargeItemName,
			'BinAllocation',
			'Regular',
			@InvoiceReferences,
			@WarehouseCode,
			@Qty,
			@Charge,
			@Charge * @Qty,
			@Currency,
			'Pending',
			0, -- Deleted
			@CreatedDateTime,
			@CreatedBy
		);

    END TRY
    BEGIN CATCH
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
