USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_CarrierLine_ViewCarrierLine]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<View Carrier Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_CarrierLine_ViewCarrierLine] 
	@CarrierLineID INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT * FROM dbo.CarrierLine WHERE CarrierLineID = @CarrierLineID AND DELETED = 0;
END
GO
