USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_CheckAvailableStockOfItemsInLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Jul, 2025>
-- Description:	<Check Available Stock of Items In Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_CheckAvailableStockOfItemsInLocation]	
	@NumberOfOrders INT,
	@OrderNumbers dbo.OrderType READONLY,  
	@OrderItems dbo.OrderLineType READONLY,
	@LocationType VARCHAR(20) = NULL,  -- Area or Section
	@LocationID INT = NULL, -- AreaID or SectionID based on @LocationType
	@PickingType VARCHAR(50) = NULL,
	@OperationDateTime    DATETIME = NULL,
	@OperationBy          VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
	

	BEGIN TRY

		DECLARE @CurrentOrderNumber VARCHAR(50),
			    @TenantCode VARCHAR(10),
				@WarehouseCode VARCHAR(10),
				@ULDCurrentLocation VARCHAR(50),
				@ItemNumber VARCHAR(30),
				@ItemName VARCHAR(250),
				@ItemID INT,
				@AllocatedQty INT,
				@ULDBarcode VARCHAR(30),
				@ULDID INT,
				@IsEmpty BIT,
				@IsOK BIT,
				@IsCompositeItem BIT,
				@CarrierID INT,
				@HsTariffCode VARCHAR(50),
				@FailureReason NVARCHAR(1000);

		DECLARE @AvailableOrderNumbers dbo.OrderType;
		DECLARE @CreatedOrderNumbers dbo.CheckOrderType;

		DECLARE OrderNumbersCursor CURSOR FOR
		SELECT OrderNumber, TenantCode, WarehouseCode, CarrierID
		FROM @OrderNumbers;

		OPEN OrderNumbersCursor;

		FETCH NEXT FROM OrderNumbersCursor INTO @CurrentOrderNumber, @TenantCode, @WarehouseCode, @CarrierID;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			SET @IsOK = 1;

			-- loop through items
			DECLARE OrderNumberItemsCursor CURSOR FOR
			SELECT OrderItemNumber
			FROM @OrderItems
			WHERE OrderNumber = @CurrentOrderNumber;

			OPEN OrderNumberItemsCursor;

			FETCH NEXT FROM OrderNumberItemsCursor INTO @ItemNumber;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				
				SET @IsEmpty = 0;
				SET @ItemID = NULL;
				SET @IsCompositeItem = 0;

				SELECT @ItemID = ItemID
				FROM dbo.Items
				WHERE ItemNumber = @ItemNumber
				  AND TenantCode = @TenantCode
				  AND DELETED = 0;

				IF @ItemID IS NULL
				BEGIN
					SET @IsOK = 0;
					GOTO ExitCursorLoop;
				END

				-- Check HsTariffCode required for DHL orders
				IF @CarrierID = 3 -- DHL
				BEGIN
					SELECT @HsTariffCode = HsTariffCode
					FROM dbo.Items
					WHERE ItemID = @ItemID AND DELETED = 0;

					IF @HsTariffCode IS NULL OR LTRIM(RTRIM(@HsTariffCode)) = ''
					BEGIN
						SET @IsOK = 0;
						GOTO ExitCursorLoop;
					END
				END

				-- get child items
				SELECT @IsCompositeItem = ItemIsComposite,
					   @ItemID = ItemID
				FROM dbo.Items
				WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode 
				AND DELETED = 0 AND CompositeType = 'Order';

				IF @IsCompositeItem IS NOT NULL AND @IsCompositeItem = 1
				BEGIN

					IF @PickingType IS NOT NULL AND @PickingType = 'Single'
					BEGIN
						SET @IsOK = 0;
						GOTO ExitCursorLoop;
					END
					ELSE
					BEGIN
						DECLARE @ChildItems TABLE (
							ItemID INT,
							Qty INT
						);
			
						-- get children items
						INSERT INTO @ChildItems (ItemID, Qty)
						EXEC [dbo].[SP_VI_TBL_Items_GetAllChildrenItemsOfCompositeItem] 
							@CompositeItemID = @ItemId;

						DECLARE @CurrentItemID INT;
						DECLARE @CurrentItemNumber VARCHAR(30);

						DECLARE ChildItemCursor CURSOR LOCAL FAST_FORWARD FOR
						SELECT ItemID
						FROM @ChildItems;

						OPEN ChildItemCursor;

						FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID;

						WHILE @@FETCH_STATUS = 0
						BEGIN			
				
							SET @IsEmpty = 0;

							SELECT @CurrentItemNumber = ItemNumber
							FROM dbo.Items
							WHERE ItemID = @CurrentItemID AND Deleted = 0;

							EXEC [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtLocation]  
								@TenantCode = @TenantCode,        
								@LocationID = @LocationID,            
								@LocationType = @LocationType,     
								@ItemNumber = @CurrentItemNumber,     
								@IsEmpty = @IsEmpty OUTPUT;	
							
								IF @IsEmpty = 1
								BEGIN
									 SET @IsOK = 0;
									 GOTO ExitCursorLoop;
								END

							FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID;
						END

						CLOSE ChildItemCursor;
						DEALLOCATE ChildItemCursor;

					END

					

				END
				ELSE
				BEGIN -- not composite

					EXEC [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtLocation]  
						@TenantCode = @TenantCode,        
						@LocationID = @LocationID,            
						@LocationType = @LocationType,     
						@ItemNumber = @ItemNumber,     
						@IsEmpty = @IsEmpty OUTPUT;		

						IF @IsEmpty = 1
						BEGIN
							 SET @IsOK = 0;
							 GOTO ExitCursorLoop;
						END

				END

				FETCH NEXT FROM OrderNumberItemsCursor INTO @ItemNumber;
			END

			ExitCursorLoop:
			CLOSE OrderNumberItemsCursor;
			DEALLOCATE OrderNumberItemsCursor;
			-- end loop through items

			-- insert available
			IF @IsOK = 1
			BEGIN
				INSERT INTO @AvailableOrderNumbers (OrderNumber, TenantCode, WarehouseCode)
				VALUES (@CurrentOrderNumber, @TenantCode, @WarehouseCode);
			END

			FETCH NEXT FROM OrderNumbersCursor INTO @CurrentOrderNumber, @TenantCode, @WarehouseCode, @CarrierID;
		END

		CLOSE OrderNumbersCursor;
		DEALLOCATE OrderNumbersCursor;		
	
		-- create
		DECLARE @IsEnough BIT;
		DECLARE @NumberOfCreatedOrders INT;
		DECLARE @NumberOfAvailableOrders INT;
		DECLARE @AvailableOrderNumberItems dbo.OrderLineType;

		CREATE TABLE #TempMissingItemTable (
			ItemNumber VARCHAR(30) NULL,
			ItemName VARCHAR(250) NULL,
			TotalQty INT NULL,
			MissingType VARCHAR(20) NULL
		);

		SELECT @NumberOfAvailableOrders = COUNT(*) FROM @AvailableOrderNumbers;
		IF @NumberOfAvailableOrders <> 0  -- implement if count > 0
		BEGIN

			DECLARE AvailableOrderNumbersCursor CURSOR FOR
			SELECT OrderNumber, TenantCode, WarehouseCode
			FROM @AvailableOrderNumbers;

			OPEN AvailableOrderNumbersCursor;

			FETCH NEXT FROM AvailableOrderNumbersCursor INTO @CurrentOrderNumber, @TenantCode, @WarehouseCode;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				
				SELECT @NumberOfCreatedOrders = COUNT(*) FROM @CreatedOrderNumbers;
				IF @NumberOfCreatedOrders = @NumberOfOrders
				BEGIN
					GOTO ExitCreatedCursorLoop;
				END
				

				SET @IsEnough = 0;		

				DELETE FROM @AvailableOrderNumberItems;

				-- insert value
				INSERT INTO @AvailableOrderNumberItems(OrderNumber,ItemID,OrderItemNumber,OrderItemName,OrderQuantity)
				SELECT OrderNumber, ItemID, OrderItemNumber, OrderItemName, OrderQuantity 
				FROM @OrderItems WHERE OrderNumber = @CurrentOrderNumber;

				SET @FailureReason = NULL;

				SELECT TOP 1 @CarrierID = CarrierID
				FROM @OrderNumbers
				WHERE OrderNumber = @CurrentOrderNumber
					AND TenantCode = @TenantCode
					AND WarehouseCode = @WarehouseCode;

				DELETE FROM #TempMissingItemTable;

				INSERT INTO #TempMissingItemTable (ItemNumber, ItemName, TotalQty, MissingType)
				EXEC [dbo].[SP_VI_TBL_Items_CheckAvailableStockForOrder]
						@WarehouseCode = @WarehouseCode,
						@TenantCode = @TenantCode,
						@OrderNumber = @CurrentOrderNumber,
						@OrderItems = @AvailableOrderNumberItems,
						@CarrierID = @CarrierID,
						@OperationDateTime = @OperationDateTime,
						@OperationBy = @OperationBy,
						@PickingType = @PickingType,
						@ReturnMissing = 1,
						@IsEnough = @IsEnough OUTPUT;

				IF @IsEnough = 0
				BEGIN
						SELECT @FailureReason = STUFF((
								SELECT DISTINCT ', ' +
										CASE MissingType
												WHEN 'NotExist' THEN 'Item is not existed'
												WHEN 'NotEnough' THEN 'Not enough stock for item'
												WHEN 'NoHsTariffCode' THEN 'HsTariffCode is required when using DHL carrier'
												WHEN 'NotSupportSinglePickCompositeItem' THEN 'Not support single for composite item.'
												ELSE MissingType
										END
								FROM #TempMissingItemTable
								FOR XML PATH(''), TYPE
						).value('.', 'NVARCHAR(MAX)'), 1, 2, '');

						INSERT INTO @CreatedOrderNumbers (OrderNumber, TenantCode, WarehouseCode, Status, Reason)
						VALUES (@CurrentOrderNumber, @TenantCode, @WarehouseCode, 'Failed', ISNULL(@FailureReason, 'Error'));

						FETCH NEXT FROM AvailableOrderNumbersCursor INTO @CurrentOrderNumber, @TenantCode, @WarehouseCode;
						CONTINUE;
				END
				ELSE
				BEGIN				
					EXEC [dbo].[SP_VI_TBL_Items_CheckAvailableStockForOrderInLocation]  
						@WarehouseCode = @WarehouseCode,
						@TenantCode = @TenantCode,  
						@OrderNumber = @CurrentOrderNumber,
						@OrderItems = @AvailableOrderNumberItems,
						@LocationType = @LocationType,
						@LocationID = @LocationID,
						@OperationDateTime = @OperationDateTime,  
						@OperationBy = @OperationBy,
						@ReturnMissing = 0,
						@IsEnough = @IsEnough OUTPUT;

					IF @IsEnough = 1 
					BEGIN
						INSERT INTO @CreatedOrderNumbers (OrderNumber, TenantCode, WarehouseCode, Status)
						VALUES (@CurrentOrderNumber, @TenantCode, @WarehouseCode, 'Created');
					END
					ELSE
					BEGIN
						INSERT INTO @CreatedOrderNumbers (OrderNumber, TenantCode, WarehouseCode, Status, Reason)
						VALUES (@CurrentOrderNumber, @TenantCode, @WarehouseCode, 'Failed', 'Not enough stock for item');
					END
				END
				

				FETCH NEXT FROM AvailableOrderNumbersCursor INTO @CurrentOrderNumber, @TenantCode, @WarehouseCode;
			END

			ExitCreatedCursorLoop:
			CLOSE AvailableOrderNumbersCursor;
			DEALLOCATE AvailableOrderNumbersCursor;
		END
		
		SELECT * FROM @CreatedOrderNumbers;

	END TRY
    BEGIN CATCH
       

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
