USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Report_RunReportOfCompleteStocktake]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Jun, 2025>
-- Description:	<Run Report for Complete Stocktake>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Report_RunReportOfCompleteStocktake] @ServiceNumber VARCHAR(50)
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @TenantCode VARCHAR(20); 
	DECLARE @WarehouseCode VARCHAR(20); 	

	DECLARE @Warehouse VARCHAR(150);
	DECLARE @Tenant VARCHAR(150);

	SELECT @TenantCode = TenantCode, 
		   @WarehouseCode = WarehouseCode
	FROM dbo.Service WHERE ServiceNumber = @ServiceNumber AND DELETED = 0;

	-- get Tenant
	SELECT @Tenant = TenantName FROM dbo.Tenant WHERE TenantCode = @TenantCode AND DELETED = 0;

	-- get Warehouse
	SELECT @Warehouse = WarehouseName FROM dbo.LocWarehouse WHERE WarehouseCode = @WarehouseCode AND DELETED = 0;

	SELECT s.ServiceID, s.WarehouseCode, @Warehouse as Warehouse, s.TenantCode, @Tenant as Tenant, s.ServiceNumber, s.ServiceName,
	   sr.ULDBarcode, sr.ItemName, sr.ItemNumber as ItemCode, sr.ULDCurrentLocation, dbo.fn_GetLocationNameFromCode(sr.ULDCurrentLocation) AS LocationName, 
	   sr.Qty, sr.ScannedType, sr.ScannedUnit, sr.ScannedQty, sr.ScannedNumber as ScannedBarcode, sr.CreatedDateTime, sr.CreatedBy,
	   COALESCE (u.HoldStatus,'') as HoldStatus, COALESCE (u.HoldReason,'') as HoldReason
	FROM Service s 
	JOIN StockTakeResult sr ON s.ServiceID = sr.ServiceID
	LEFT JOIN ULD u ON u.ULDID = sr.ULDID
	WHERE s.Deleted = 0 AND s.ServiceType = 'Stocktake' AND s.Status = 'Completed'  AND s.ServiceNumber = @ServiceNumber;

END
GO
