USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSection_UpdateLocSection]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Update>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSection_UpdateLocSection] 
	@LocSectionID                    INT,
    @SectionName                     VARCHAR(200) = NULL,
	@SectionDesc                     VARCHAR(1000) = NULL,
    @OrderNumber                  INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @Deleted BIT = NULL, @LocAreaID INT;

		SELECT @Deleted = Deleted, 
			   @LocAreaID = LocAreaID
		FROM dbo.LocSection
		WHERE LocSectionID = @LocSectionID;

		IF @Deleted IS NULL OR @Deleted = 1
		BEGIN
			SET @Message = 'LocSectionID does not exist or has been deleted.'
			RETURN;
		END

		IF EXISTS(SELECT 1 FROM dbo.LocSection WHERE LocAreaID = @LocAreaID AND LocSectionID != @LocSectionID AND Deleted = 0 
		AND LOWER(TRIM(SectionName)) = LOWER(TRIM(@SectionName)))
        BEGIN
            SET @Message = 'Section name already exists.'
            RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.LocSection WHERE LocAreaID = @LocAreaID AND LocSectionID != @LocSectionID AND Deleted = 0 
		AND OrderNumber = @OrderNumber)
        BEGIN
            SET @Message = 'Order Number already exists.'
            RETURN;
        END

		-- Check maximum order number can change
		DECLARE @SectionIncrement INT;
		DECLARE @CurrentOrder INT;

		-- Select the values from the Setting table and assign to variables
		SELECT 
			@SectionIncrement = MAX(CASE WHEN SettingName = 'SECTION_INCREMENT' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN ('SECTION_INCREMENT');
		
		SELECT @CurrentOrder = CurrentOrder
		FROM dbo.LocSequence
		WHERE LocationID = @LocAreaID AND LocationType = 2;

		IF @OrderNumber > @CurrentOrder + @SectionIncrement
        BEGIN
            SET @Message = 'Order number exceeds the allowed limit.'
            RETURN;
        END
		
		-- Update the table, excluding TenantCode and Deleted fields
		UPDATE dbo.LocSection
		SET
			SectionName = COALESCE(@SectionName, SectionName),
			OrderNumber = COALESCE(@OrderNumber, OrderNumber),
			SectionDesc = COALESCE(@SectionDesc, SectionDesc),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE LocSectionID = @LocSectionID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
