USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULDLine_RevertAllocatedULDOfOrders]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Jul 2025>
-- Description:	<Revert Allocated ULDLine>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULDLine_RevertAllocatedULDOfOrders] 
	@OrderNumbers dbo.StringArray READONLY,
	@AllocatedType VARCHAR(20) = NULL, -- Kitting Orders
	@OperationDateTime DATETIME = NULL,
    @OperationBy VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		UPDATE U
			SET U.Deleted = 1
		FROM dbo.ULDLine U INNER JOIN @OrderNumbers O ON U.TransactionReference = O.[Value]
		WHERE U.Deleted = 0 AND U.AllocatedType = @AllocatedType;
	
		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
