USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ViewStockTakeResultsOfService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <06 May, 2025>
-- Description:	<View Result Of Stocktake Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ViewStockTakeResultsOfService] 
    @ServiceID INT,
	@Search NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

	IF @Search IS NULL
	BEGIN
		SELECT
			ss.ServiceNumber, 
			t.TenantName,
			s.StocktakeResultID,
			s.ServiceID,
			s.TenantCode,
			s.ItemID,
			s.ItemNumber,
			s.ItemName,
			s.ULDID,
			s.ULDBarcode,
			s.ULDCurrentLocation,
			dbo.fn_GetLocationNameFromCode(s.ULDCurrentLocation) AS LocationName, 
			s.StockQty,
			s.Qty,
			s.ScannedType,
			s.ScannedUnit,
			s.ScannedQty,
			s.ScannedNumber,
			s.CreatedDateTime,
			s.CreatedBy,
			s.LastEditedDateTime,
			s.LastEditedBy
		FROM dbo.StockTakeResult s
		LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode
		LEFT JOIN dbo.Service ss ON s.ServiceID = ss.ServiceID AND ss.Deleted = 0
		WHERE s.ServiceID = @ServiceID AND s.Deleted = 0;
	END
	ELSE
	BEGIN
		SELECT A.*
		FROM
			(
				SELECT
					ss.ServiceNumber, 
					t.TenantName,
					s.StocktakeResultID,
					s.ServiceID,
					s.TenantCode,
					s.ItemID,
					s.ItemNumber,
					s.ItemName,
					s.ULDID,
					s.ULDBarcode,
					s.ULDCurrentLocation,
					dbo.fn_GetLocationNameFromCode(s.ULDCurrentLocation) AS LocationName, 
					s.StockQty,
					s.Qty,
					s.ScannedType,
					s.ScannedUnit,
					s.ScannedQty,
					s.ScannedNumber,
					s.CreatedDateTime,
					s.CreatedBy,
					s.LastEditedDateTime,
					s.LastEditedBy
				FROM dbo.StockTakeResult s
				LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode
				LEFT JOIN dbo.Service ss ON s.ServiceID = ss.ServiceID AND ss.Deleted = 0
				WHERE s.ServiceID = @ServiceID AND s.Deleted = 0
			) A
			WHERE A.LocationName LIKE '%' +  @Search + '%';
	END
    
END
GO
