USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_SearchInvoices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 jan, 2025>
-- Description:	<Search Invoices>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Invoice_SearchInvoices]
	 @WarehouseCode NVARCHAR(10) = NULL,
     @TenantCode NVARCHAR(10) = NULL,
	 @Category NVARCHAR(20) = NULL,
	 @StartTime datetime = NULL,
	 @EndTime datetime = NULL,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'InvoiceID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		DECLARE @Query NVARCHAR(MAX) = N'SELECT @TotalRecords = COUNT(*) FROM dbo.Invoice WHERE DELETED = 0';

		-- Append conditions based on parameter values
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @Query += N' AND WarehouseCode = TRIM(@WarehouseCode)';
		END

		IF @TenantCode IS NOT NULL
		BEGIN
			SET @Query += N' AND TenantCode = TRIM(@TenantCode)';
		END

		IF @Category IS NOT NULL
		BEGIN
			SET @Query += N' AND ChargeCategory = TRIM(@Category)';
		END

		IF @StartTime IS NOT NULL AND @EndTime IS NOT NULL
		BEGIN
			SET @Query += N' AND CreatedDateTime >= @StartTime';
			SET @Query += N' AND CreatedDateTime <= @EndTime';
		END
	
		-- Execute the dynamically built query
		EXEC sp_executesql @Query,
		N'@WarehouseCode NVARCHAR(10), @TenantCode NVARCHAR(10), @Category NVARCHAR(20), @StartTime DATETIME, @EndTime DATETIME, @TotalRecords INT OUTPUT',
		@WarehouseCode, @TenantCode, @Category, @StartTime, @EndTime, @TotalRecords OUTPUT;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);
   
		SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName 
             FROM dbo.Invoice i
             JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
             JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
             WHERE i.DELETED = 0';

		-- Append conditions dynamically
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END

		IF @TenantCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.TenantCode = TRIM(@TenantCode)';
		END

		IF @Category IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.ChargeCategory = TRIM(@Category)';
		END

		IF @StartTime IS NOT NULL AND @EndTime IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.CreatedDateTime >= @StartTime';
			SET @SQL += N' AND i.CreatedDateTime <= @EndTime';
		END

		-- Add ORDER BY, OFFSET, and FETCH clauses
		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				   ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		-- Execute the dynamically built query
		EXEC sp_executesql @SQL,
			N'@WarehouseCode NVARCHAR(10), @TenantCode NVARCHAR(10), @Category NVARCHAR(20), @StartTime DATETIME, @EndTime DATETIME, 
			  @OrderBy NVARCHAR(50), @OrderDir NVARCHAR(10), @Offset INT, @PageSize INT',
			@WarehouseCode, @TenantCode, @Category, @StartTime, @EndTime, @OrderBy, @OrderDir, @Offset, @PageSize;
   
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		-- Initialize base SQL query
		SET @Query = N'SELECT @TotalRecords = COUNT(*) 
										FROM dbo.Invoice i
										JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
										JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
										WHERE i.DELETED = 0 
										AND (
											LOWER(i.ChargeType) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.InvoiceReferences) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.ChargeName) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(t.TenantName) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(lw.WarehouseName) LIKE ''%'' + @Search + ''%''
										)';
												
		-- Append conditions dynamically
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @Query += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END
		IF @TenantCode IS NOT NULL
		BEGIN
			SET @Query += N' AND i.TenantCode = TRIM(@TenantCode)';
		END

		IF @Category IS NOT NULL
		BEGIN
			SET @Query += N' AND i.ChargeCategory = TRIM(@Category)';
		END

		IF @StartTime IS NOT NULL AND @EndTime IS NOT NULL
		BEGIN
			SET @Query += N' AND i.CreatedDateTime >= @StartTime';
			SET @Query += N' AND i.CreatedDateTime <= @EndTime';
		END

		-- Execute the query
		EXEC sp_executesql @Query,
			N'@Search NVARCHAR(MAX), @WarehouseCode NVARCHAR(10), @TenantCode NVARCHAR(10), @Category NVARCHAR(20), 
			  @StartTime DATETIME, @EndTime DATETIME, @TotalRecords INT OUTPUT',
			@Search, @WarehouseCode, @TenantCode, @Category, @StartTime, @EndTime, @TotalRecords OUTPUT;


		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName
            FROM 
                dbo.Invoice i
            JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
            JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
            WHERE i.DELETED = 0 
            AND (
                LOWER(i.ChargeType) LIKE ''%'' + @Search + ''%'' 
                OR LOWER(i.InvoiceReferences) LIKE ''%'' + @Search + ''%'' 
                OR LOWER(i.ChargeName) LIKE ''%'' + @Search + ''%'' 
                OR LOWER(t.TenantName) LIKE ''%'' + @Search + ''%'' 
                OR LOWER(lw.WarehouseName) LIKE ''%'' + @Search + ''%''
            )';

		-- Dynamically append additional filters
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END

		IF @TenantCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.TenantCode = TRIM(@TenantCode)';
		END

		IF @Category IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.ChargeCategory = TRIM(@Category)';
		END

		IF @StartTime IS NOT NULL AND @EndTime IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.CreatedDateTime >= @StartTime';
			SET @SQL += N' AND i.CreatedDateTime <= @EndTime';
		END

		-- Append ORDER BY, OFFSET, and FETCH clauses
		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				   ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					 FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		-- Execute the dynamically built query
		EXEC sp_executesql @SQL,
			N'@Search NVARCHAR(MAX), @WarehouseCode NVARCHAR(10), @TenantCode NVARCHAR(10), @Category NVARCHAR(20), 
			  @StartTime DATETIME, @EndTime DATETIME, @OrderBy NVARCHAR(50), 
			  @OrderDir NVARCHAR(10), @Offset INT, @PageSize INT',
			@Search, @WarehouseCode, @TenantCode, @Category, @StartTime, @EndTime, @OrderBy, @OrderDir, @Offset, @PageSize;


    END 

END
GO
