USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_DHLGetShipmentPackages]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DHLGetShipmentPackages]
    @ShipmentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        PackageID,
        ShipmentID,
        typeCode,
        weight,
        [length],
        width,
        height,
        CR_value,
        CR_typeCode,
        [description],
        labelDescription
    FROM dbo.DHLPackages
    WHERE ShipmentID = @ShipmentID;
END;
GO
