USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_ListAllServicesByIds]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Aug, 2025>
-- Description:	<List All Services By IDS>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APIntegration_ListAllServicesByIds] 
	@Ids dbo.IdArray READONLY
AS
BEGIN

	SET NOCOUNT ON;

    SELECT s.*
	FROM dbo.AP_Service s
	JOIN @Ids i	ON s.ServiceID = i.[Value]
	WHERE s.Deleted = 0;

END
GO
