USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_StandardBox_DeleteStandardBox]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Sep, 2025>
-- Description:	<Soft Delete StandardBox>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_StandardBox_DeleteStandardBox] 
	@StandardBoxID INT, 
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.StandardBox WHERE StandardBoxID = @StandardBoxID AND Deleted = 1)
		BEGIN
			 SET @Message = 'StandardBox has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.StandardBox
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE StandardBoxID = @StandardBoxID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for StandardBoxID: ' + CAST(@StandardBoxID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating StandardBoxID: ' + CAST(@StandardBoxID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
