USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_DeleteTenantIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 May, 2025>
-- Description:	<Delete tenant Integration>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_DeleteTenantIntegration]
	@IntegrationID INT,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.Integration WHERE IntegrationID = @IntegrationID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Integration has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.Integration
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE IntegrationID = @IntegrationID;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for IntegrationID: ' + CAST(@IntegrationID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating IntegrationID: ' + CAST(@IntegrationID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
