USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_CheckMobileAPIAuthentication]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <27 Dec, 2024>
-- Description:	<Check API Mobile Authentication>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_CheckMobileAPIAuthentication] 
        @UserEmail VARCHAR(100), 
        @APIKey VARCHAR(50),
        @MobileDeviceIdentifier VARCHAR(40)
AS
BEGIN

	SET NOCOUNT ON;

	IF NOT EXISTS(SELECT 1 FROM dbo.MobileDevice WHERE MobileDeviceIdentifier = @MobileDeviceIdentifier AND Deleted = 0 AND Allow = 1)
	BEGIN
		SELECT 0;
	END
	ELSE
	BEGIN
		DECLARE @UserAPIKey VARCHAR(50);
		DECLARE @TenantCode VARCHAR(10);

		SELECT @UserAPIKey = UserAPIKey,
		       @TenantCode = TenantCode
		FROM dbo.Users 
		WHERE UserEmail = @UserEmail AND Deleted = 0;

		IF @UserAPIKey IS NULL OR @UserAPIKey != @APIKey OR @TenantCode = '' OR @TenantCode IS NOT NULL 
		BEGIN
			SELECT 0;
		END
		ELSE
		BEGIN
			SELECT 1;
		END

	END

END
GO
