USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULDLine_InsertULDLine]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Nov, 2024>
-- Description:	<Insert ULD Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULDLine_InsertULDLine]  
	@ULDID INT,
	@LocationCode VARCHAR(50) = NULL,  -- for @TransactionType is ULD Moved (move to new Location)
	@TransactionQty INT = 0,
    @TransactionUser VARCHAR(200) = NULL,
	@TransactionType INT = 0, -- 0: ULD Moved
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		IF NOT EXISTS(SELECT 1 FROM dbo.ULD WHERE ULDID = @ULDID AND Deleted = 0)
		BEGIN
			 SET @Message = 'ULD does not existed.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @BatchNumber VARCHAR(30) = NULL;
		DECLARE @SerialNumber VARCHAR(30) = NULL;
		DECLARE @ExpiryDate DATETIME = NULL;

		SELECT 
			@BatchNumber = BatchNumber,
			@ExpiryDate = ExpiryDate
		FROM dbo.ULD
		WHERE ULDID = @ULDID AND Deleted = 0;

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
