USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItemCost_ListChargeItemCostById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Nov, 2024>
-- Description:	<List All Cost of Warehouse by Charge Item ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItemCost_ListChargeItemCostById] 
	@ChargeItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

   -- Retrieve 
    SELECT ci.* , w.WarehouseName
    FROM dbo.ChargeItemCost ci
	LEFT JOIN dbo.LocWarehouse w
	ON ci.WarehouseCode = w.WarehouseCode
    WHERE ci.ChargeItemID = @ChargeItemID AND ci.DELETED = 0;
END
GO
