USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ViewStockTakeItemsOfService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Mar, 2025>
-- Description:	<View Items Of Stocktake Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ViewStockTakeItemsOfService] @ServiceID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT DISTINCT s.ItemID, s.ItemNumber, s.ItemName, s.TenantCode, l.LocationBarCode, l.BinID, l.TempLocationID
	FROM dbo.StockTakeItem s
	LEFT JOIN dbo.StockTakeItemLocation l ON s.StockTakeItemID = l.StockTakeItemID AND l.Deleted = 0
    WHERE s.ServiceID = @ServiceID AND s.DELETED = 0;
END
GO
