USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DHLShipment_GetTrackingNumber]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Oct, 2025>
-- Description:	<Get DHL Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DHLShipment_GetTrackingNumber]  
	@ShipmentID INT,	
	@TrackingNumber NVARCHAR(50) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @MessageReference NVARCHAR(100);

	SELECT @MessageReference = MessageReference
	FROM dbo.DHLShipment
	WHERE ShipmentID = @ShipmentID AND Deleted = 0;

	IF @MessageReference IS NOT NULL
	BEGIN
		SELECT @TrackingNumber = shipmentTrackingNumber
		FROM dbo.DHLResponse
		WHERE MessageReference = @MessageReference;
	END
END
GO
