USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_ReceivingSummaryManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement Receiving Summary Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_ReceivingSummaryManualReport]
	@ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantName VARCHAR(250);
	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;

	SELECT ReceiptInboundID, WarehouseCode, TenantCode, @TenantName, shipmentNumber as SystemShipmentNumber, ClientShipmentNumber, 
	       ReferenceNumber , DueDate, ContainerType, ReceiptStatus, ReceiptType, CreatedDateTime, 
		   CreatedBy, CompletedDateTime,  CompletedBy 
	FROM ReceiptInbound 
	WHERE Deleted = 0 AND TenantCode = @ManualTenantCode AND ReceiptStatus ='Completed'
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND CreatedDateTime BETWEEN @StartDate AND @EndDate;

END
GO
