USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_ViewWave]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Get detail information of Wave>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_ViewWave] 
	@WaveID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.Wave
    WHERE WaveID = @WaveID AND DELETED = 0;
END
GO
