USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_CopyOrderToFulfilment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 Jun, 2025>
-- Description:	<Copy Orders to Fulfilment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_CopyOrderToFulfilment]
	@FulfilmentType VARCHAR(50), --Orders - Kitting - Release Stock - Destroy Stock
	@PickingType VARCHAR(50) = N'PickToOrder', --Single - Bulk - Order
	@OrderNumbers dbo.OrderType READONLY,  
	@OrderItems dbo.OrderLineType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,	
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		-- create fulfilment order
		DECLARE @FulfilmentOrderID bigint;
		DECLARE @FulfilmentOrder VARCHAR(21);
		DECLARE @NewFulfilmentIDs dbo.IdArray;
		DECLARE @NewFulfilmentID INT;
		DECLARE @OldFulfilmentID INT;
		DECLARE @OldWaveID INT;
		DECLARE @NumberOfOrders INT;
		DECLARE @OldOrderNumber VARCHAR(50);
		DECLARE @FOrderNumber VARCHAR(50);
		DECLARE @CarrierID INT;

		IF @FulfilmentType = 'Kitting'  -- Kitting Orders
		BEGIN

			-- Get next sequence value
			SET @FulfilmentOrderID = NEXT VALUE FOR dbo.FulfilmentNumberSequence;

			-- Format it with leading zeroes (21 digits)
			SET @FulfilmentOrder = CAST(@FulfilmentOrderID AS VARCHAR(21)); --RIGHT('000000000000000000000' + CAST(@FulfilmentOrderID AS varchar), 21);
		
			DECLARE @ServiceID INT,
			        @FulfilmentID INT,
			        @ServiceNumber VARCHAR(50);
			-- get info
			SELECT TOP 1 @ServiceID = s.ServiceID, @ServiceNumber = s.ServiceNumber
			FROM dbo.Service s
			JOIN @OrderNumbers o ON s.ServiceNumber = o.OrderNumber
			WHERE s.Deleted = 0;

			-- delete previous failure
			SELECT @FulfilmentID = FulfilmentID FROM dbo.Fulfilment
			WHERE Deleted = 1 AND order_number = @ServiceNumber;

			-- delete previous failure
			DELETE FROM dbo.FulfilmentLine
			WHERE Deleted = 1 AND FulfilmentID = @FulfilmentID;

			DELETE FROM dbo.Fulfilment
			WHERE Deleted = 1 AND FulfilmentID = @FulfilmentID;

			INSERT INTO dbo.Fulfilment
			   (
			    OrderNumber
			   ,order_number
			   ,CreatedBy
			   ,CreatedDateTime
			   ,Deleted
			   ,FulfilmentType
			   ,FulfilmentStatus
			   ,WarehouseCode
			   ,WarehouseName
			   ,TenantCode)
			SELECT 
				@FulfilmentOrder,
				s.ServiceNumber, 
				@CreatedBy, 
				@CreatedDateTime, 
				1, 
				@FulfilmentType, 
				'Fulfilment', 
				s.WarehouseCode,
				w.WarehouseName,
				s.TenantCode
			FROM dbo.Service s
			LEFT JOIN LocWarehouse w ON w.WarehouseCode = s.WarehouseCode AND w.Deleted = 0
			WHERE s.DELETED = 0 AND s.ServiceID = @ServiceID;
		
			-- set new ID
			SET @NewFulfilmentID = SCOPE_IDENTITY();

			-- insert line
			INSERT INTO dbo.FulfilmentLine
			   (FulfilmentID
			   ,line_items_name
			   ,line_items_sku
			   ,line_items_current_quantity
			   ,TenantCode
			   ,ItemID
			   ,Deleted
			   ,CreatedBy
			   ,CreatedDateTime)
			SELECT @NewFulfilmentID, 
				   ItemName,
				   ItemNumber,
				   Qty,
				   TenantCode,
				   ItemID,
				   1,
				   @CreatedBy,
				   @CreatedDateTime
			FROM dbo.KittingItem 
			WHERE ServiceID = @ServiceID AND DELETED = 0;

			-- insert result
			INSERT INTO @NewFulfilmentIDs ([Value])
			VALUES (@NewFulfilmentID);

		END
		ELSE IF @FulfilmentType = 'Orders'  -- Tenant Orders
		BEGIN

			DECLARE @PickingScheduleTmpTable TABLE
			(				
				TenantCode VARCHAR(10) NULL,
				ItemID INT NULL,
				ItemNumber VARCHAR(30) NULL,
				ItemName VARCHAR(250) NULL,
				Qty INT NULL,
				ULDID INT NULL,
				ULDBarcode VARCHAR(30) NULL,
				ULDCurrentLocation VARCHAR(50) NULL,
				LocationOrderNumber VARCHAR(200) NULL,
				WarehouseID INT NULL,
				AreaID INT NULL,
				SectionID INT NULL,
				RowID INT NULL,
				ColumnID INT NULL,
				BinID INT NULL,
				WarehouseCode VARCHAR(20) NULL,
				AreaCode VARCHAR(20) NULL,
				SectionCode VARCHAR(20) NULL,
				RowCode VARCHAR(20) NULL,
				ColumnCode VARCHAR(20) NULL,
				BinCode VARCHAR(20) NULL,	
				WarehouseName VARCHAR(200) NULL,
				AreaName VARCHAR(200) NULL,
				SectionName VARCHAR(200) NULL,
				RowName VARCHAR(200) NULL,
				ColumnName VARCHAR(200) NULL,
				BinName VARCHAR(200) NULL
			);


			DECLARE @TenantContactEmail VARCHAR(100),
					@TenantContactMobile VARCHAR(70),
					@OrderSource VARCHAR(50),					
					@Carrier VARCHAR(500),
					@CurrentOrderNumber VARCHAR(50),
			        @TenantCode VARCHAR(10),
					@WarehouseCode VARCHAR(10),
					@WarehouseName VARCHAR(200),
					@ULDCurrentLocation VARCHAR(50),
					@ItemNumber VARCHAR(30),
					@ItemName VARCHAR(250),
					@ItemID INT,
					@AllocatedQty INT,
					@ULDBarcode VARCHAR(30),
					@ULDID INT;

			DECLARE @Phone					  VARCHAR(70),
			        @ContactEmail             VARCHAR(200),
					@ShippingAddressName      VARCHAR(100),
					@ShippingAddressCompany   VARCHAR(300),
					@ShippingAddressAddress1  VARCHAR(300),
					@ShippingAddressAddress2  VARCHAR(300),
					@ShippingAddressCity      VARCHAR(150),
					@ShippingAddressProvince  VARCHAR(150),
					@ShippingAddressZip       VARCHAR(20),
					@ShippingAddressCountry   VARCHAR(50);


			DECLARE @TemporaryLocation BIT,
					@LocationFound BIT,
					@LocBinID INT,
					@LocColumnID INT,
					@LocRowID INT,
					@LocSectionID INT,
					@LocAreaID INT,
					@LocWarehouseID INT,
					@LocWarehouseCode VARCHAR(1),
					@LocAreaCode VARCHAR(1),
					@LocSectionCode VARCHAR(3),
					@LocRowCode VARCHAR(4),
					@LocColumnCode VARCHAR(6),
					@LocBinCode VARCHAR(7),
					@LocTempCode VARCHAR(33),						
					@AreaName    VARCHAR(200),
					@SectionName VARCHAR(200),
					@RowName     VARCHAR(200),
					@ColumnName  VARCHAR(200),
					@BinName     VARCHAR(200),
					@StorageType VARCHAR(50);

			DECLARE OrderNumbersCursor CURSOR FOR
			SELECT  OrderNumber, TenantCode, WarehouseCode, OrderSource, Carrier, Phone, Email, CarrierID, 
					ShippingAddressName,
					ShippingAddressCompany,
					ShippingAddressAddress1,
					ShippingAddressAddress2,
					ShippingAddressCity,
					ShippingAddressProvince,
					ShippingAddressZip,
					ShippingAddressCountry
			FROM @OrderNumbers;

			OPEN OrderNumbersCursor;

			FETCH NEXT FROM OrderNumbersCursor 
			INTO @CurrentOrderNumber, @TenantCode, @WarehouseCode, @OrderSource, @Carrier, @Phone, @ContactEmail, @CarrierID,
						@ShippingAddressName, @ShippingAddressCompany, @ShippingAddressAddress1, @ShippingAddressAddress2, 
						@ShippingAddressCity, @ShippingAddressProvince, @ShippingAddressZip, @ShippingAddressCountry;

			WHILE @@FETCH_STATUS = 0
			BEGIN


				SELECT @WarehouseName = WarehouseName
				FROM LocWarehouse
				WHERE WarehouseCode = @WarehouseCode AND DELETED = 0;

				-- Get next sequence value
				SET @FulfilmentOrderID = NEXT VALUE FOR dbo.FulfilmentNumberSequence;

				-- Format it with leading zeroes (21 digits)
				SET @FulfilmentOrder = CAST(@FulfilmentOrderID AS VARCHAR(21));  --RIGHT('000000000000000000000' + CAST(@FulfilmentOrderID AS varchar), 21);

				SELECT @TenantContactEmail = TenantContactEmail
					   --@TenantContactMobile = TenantContactMobile
				FROM dbo.Tenant
				WHERE TenantCode = @TenantCode AND Deleted = 0;
				
				-- delete previous failure
				SELECT @FulfilmentID = FulfilmentID
				FROM dbo.Fulfilment
				WHERE Deleted = 1 AND order_number = @CurrentOrderNumber AND FulfilmentStatus = 'Fulfilment';
				
				DELETE FROM dbo.FulfilmentLine
				WHERE Deleted = 1 AND FulfilmentID = @FulfilmentID;

				DELETE FROM dbo.Fulfilment
				WHERE Deleted = 1 AND FulfilmentID = @FulfilmentID;

				IF @OrderSource = 'Fulfilment'
				BEGIN
					SELECT @OldFulfilmentID = FulfilmentID,
						   @OldOrderNumber = OrderNumber,
						   @OrderSource = OrderSource,
						   @CarrierID = CarrierID
					FROM dbo.Fulfilment 
					WHERE Deleted = 0 AND order_number = @CurrentOrderNumber AND TenantCode = @TenantCode;

					Update dbo.Fulfilment 
					SET 
						Deleted = 1,
						FulfilmentStatus = 'Moved',
						FirstEditedDateTime = COALESCE(@CreatedDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@CreatedBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
					WHERE FulfilmentID = @OldFulfilmentID;


					SELECT TOP 1 @OldWaveID = WaveId
					FROM dbo.WaveLine
					WHERE Deleted = 0 AND OrderNumber = @OldOrderNumber;

					UPDATE dbo.WaveLine
					SET 
						Deleted = 1,
						FirstEditedDateTime = COALESCE(@CreatedDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@CreatedBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
					WHERE Deleted = 0 AND OrderNumber = @OldOrderNumber;

					SELECT @NumberOfOrders = COUNT(*)
					FROM dbo.WaveLine
					WHERE Deleted = 0 AND WaveId = @OldWaveID;

					UPDATE dbo.Wave
					SET 
						NumberOfOrders = @NumberOfOrders,
						FirstEditedDateTime = COALESCE(@CreatedDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@CreatedBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
					WHERE Deleted = 0 AND WaveId = @OldWaveID;

				END

				IF @OrderSource = 'Manual'
				BEGIN				
					SELECT @TenantContactMobile = Phone,
						   @ShippingAddressAddress1 = shipping_address_address1, 
						   @ShippingAddressAddress2 = shipping_address_address2 
					FROM dbo.Orders
					WHERE order_number = @CurrentOrderNumber AND Deleted = 0;
				END


				IF @OrderSource = 'shopify'
				BEGIN
					SET @TenantContactMobile = @Phone;
					SET @TenantContactEmail = @ContactEmail;
				END

				INSERT INTO dbo.Fulfilment
				   (
						OrderNumber
					   ,OrderSource
					   ,Carrier
					   ,order_number
					   ,shipping_address_name
					   ,shipping_address_company
					   ,shipping_address_address1
					   ,shipping_address_address2
					   ,shipping_address_city
					   ,shipping_address_province
					   ,shipping_address_zip
					   ,shipping_address_country					   
					   ,contact_email
					   ,Phone
					   ,CreatedBy
					   ,CreatedDateTime
					   ,Deleted
					   ,FulfilmentType
					   ,FulfilmentStatus
					   ,WarehouseCode
					   ,WarehouseName
					   ,TenantCode
					   ,CarrierID
				   )
				VALUES
					( 
						@FulfilmentOrder,
						@OrderSource,
						@Carrier,
						@CurrentOrderNumber, 
						@ShippingAddressName, 
						@ShippingAddressCompany, 
						@ShippingAddressAddress1, 
						@ShippingAddressAddress2, 
						@ShippingAddressCity, 
						@ShippingAddressProvince, 
						@ShippingAddressZip, 
						@ShippingAddressCountry,
						@TenantContactEmail,
					    @TenantContactMobile,
						@CreatedBy, 
						@CreatedDateTime, 
						1, 
						@FulfilmentType, 
						'Fulfilment', 
						@WarehouseCode, 
						@WarehouseName,
						@TenantCode,
						@CarrierID
					);

				-- set new ID
				SET @NewFulfilmentID = SCOPE_IDENTITY();

				-- insert line
				INSERT INTO dbo.FulfilmentLine
				   (
					   FulfilmentID
					   ,line_items_name
					   ,line_items_sku
					   ,line_items_current_quantity
					   ,TenantCode
					   ,ItemID
					   ,Deleted
					   ,CreatedBy
					   ,CreatedDateTime
				   )
				SELECT 
					@NewFulfilmentID, 
					oi.OrderItemName,
					oi.OrderItemNumber,
					oi.OrderQuantity,
					@TenantCode,
					i.ItemID,  -- get ItemID from Items table
					1,
					@CreatedBy,
					@CreatedDateTime
				FROM @OrderItems oi
				INNER JOIN Items i
					ON i.ItemNumber = oi.OrderItemNumber
					AND i.TenantCode = @TenantCode
				WHERE oi.OrderNumber = @CurrentOrderNumber AND i.Deleted = 0;

				-- insert result
				INSERT INTO @NewFulfilmentIDs ([Value])
				VALUES (@NewFulfilmentID);
				
				-- create picking schedule				
				DECLARE cur_ULDLine CURSOR LOCAL FAST_FORWARD FOR
					SELECT
						ul.TransactionLocation,
						ul.ULDID,
						ul.ItemNumber,
						ul.ItemName,
						ul.TransactionQty,
						u.ULDBarcode
					FROM dbo.ULDLine AS ul
					INNER JOIN dbo.ULD AS u
						ON u.ULDID = ul.ULDID
					   AND u.Deleted = 0
					   AND u.TenantCode = @TenantCode
					WHERE ul.TransactionReference = @CurrentOrderNumber
					  AND ul.Deleted = 0
					  AND ul.TransactionType = 'Allocated'					 
					  AND ul.AllocatedType = @FulfilmentType;

				OPEN cur_ULDLine;

				FETCH NEXT FROM cur_ULDLine
				INTO @ULDCurrentLocation, @ULDID, @ItemNumber, @ItemName, @AllocatedQty, @ULDBarcode;

				WHILE @@FETCH_STATUS = 0
				BEGIN
					/* Lookup ItemID for this ItemNumber/Tenant */
					SELECT @ItemID = i.ItemID
					FROM dbo.Items AS i
					WHERE i.ItemNumber = @ItemNumber
					  AND i.TenantCode = @TenantCode
					  AND i.Deleted = 0;

					/* Reset outputs before location proc call */
					SET @WarehouseName    = NULL;
					SET @TemporaryLocation= 0;
					SET @LocationFound    = 0;
					SET @LocBinID         = NULL;
					SET @LocColumnID      = NULL;
					SET @LocRowID         = NULL;
					SET @LocSectionID     = NULL;
					SET @LocAreaID        = NULL;
					SET @LocWarehouseID   = NULL;
					SET @LocWarehouseCode = NULL;
					SET @LocAreaCode      = NULL;
					SET @LocSectionCode   = NULL;
					SET @LocRowCode       = NULL;
					SET @LocColumnCode    = NULL;
					SET @LocBinCode       = NULL;
					SET @LocTempCode      = NULL;
					SET @AreaName         = NULL;
					SET @SectionName      = NULL;
					SET @RowName          = NULL;
					SET @ColumnName       = NULL;
					SET @BinName          = NULL;
					SET @StorageType      = NULL;

					/* Resolve location */
					EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
						 @LocationCode      = @ULDCurrentLocation,
						 @LocationFound     = @LocationFound     OUTPUT,
						 @TemporaryLocation = @TemporaryLocation OUTPUT,
						 @LocSBinID         = NULL,
						 @LocBinID          = @LocBinID          OUTPUT,
						 @LocShelfID        = NULL,
						 @LocColumnID       = @LocColumnID       OUTPUT,
						 @LocRowID          = @LocRowID          OUTPUT,
						 @LocSectionID      = @LocSectionID      OUTPUT,
						 @LocAreaID         = @LocAreaID         OUTPUT,
						 @LocWarehouseID    = @LocWarehouseID    OUTPUT,
						 @LocWarehouseCode  = @LocWarehouseCode  OUTPUT,
						 @LocAreaCode       = @LocAreaCode       OUTPUT,
						 @LocSectionCode    = @LocSectionCode    OUTPUT,
						 @LocRowCode        = @LocRowCode        OUTPUT,
						 @LocColumnCode     = @LocColumnCode     OUTPUT,
						 @LocShelfCode      = NULL,
						 @LocBinCode        = @LocBinCode        OUTPUT,
						 @LocTempCode       = @LocTempCode       OUTPUT,
						 @LocSBinCode       = NULL,
						 @LocWarehouseName  = @WarehouseName     OUTPUT,
						 @LocAreaName       = @AreaName          OUTPUT,
						 @LocSectionName    = @SectionName       OUTPUT,
						 @LocRowName        = @RowName           OUTPUT,
						 @LocColumnName     = @ColumnName        OUTPUT,
						 @LocBinName        = @BinName           OUTPUT,
						 @StorageType       = @StorageType       OUTPUT;


					IF @PickingType = 'PickToOrder'
					BEGIN
						IF @LocationFound = 1
						BEGIN
							IF @TemporaryLocation = 1
							BEGIN
								INSERT INTO dbo.PickingSchedule
								(
									FulfilmentOrder, FulfilmentType, TenantCode,
									ItemID, ItemNumber, ItemName, Qty,
									ULDBarcode, ULDCurrentLocation, LocationOrderNumber, ULDID,
									WarehouseID, AreaID, SectionID, RowID, ColumnID, BinID,
									WarehouseCode, AreaCode, SectionCode, RowCode, ColumnCode, BinCode,
									Status, StartDate, Deleted, CreatedDateTime, CreatedBy,
									WarehouseName, AreaName, SectionName, RowName, ColumnName, BinName
								)
								VALUES
								(
									@CurrentOrderNumber, 'Orders', @TenantCode,
									@ItemID, @ItemNumber, @ItemName, -@AllocatedQty,
									@ULDBarcode, @ULDCurrentLocation, dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation), @ULDID,
									@LocWarehouseID, @LocAreaID, @LocSectionID, NULL, NULL, NULL,
									@LocWarehouseCode, @LocAreaCode, @LocSectionCode, NULL, NULL,
									SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7),
									'Init', GETDATE(), 1, @CreatedDateTime, @CreatedBy,
									@WarehouseName, @AreaName, @SectionName, NULL, NULL, NULL
								);
							END
							ELSE
							BEGIN
								INSERT INTO dbo.PickingSchedule
								(
									FulfilmentOrder, FulfilmentType, TenantCode,
									ItemID, ItemNumber, ItemName, Qty,
									ULDBarcode, ULDCurrentLocation, LocationOrderNumber, ULDID,
									WarehouseID, AreaID, SectionID, RowID, ColumnID, BinID,
									WarehouseCode, AreaCode, SectionCode, RowCode, ColumnCode, BinCode,
									Status, StartDate, Deleted, CreatedDateTime, CreatedBy,
									WarehouseName, AreaName, SectionName, RowName, ColumnName, BinName
								)
								VALUES
								(
									@CurrentOrderNumber, 'Orders', @TenantCode,
									@ItemID, @ItemNumber, @ItemName, -@AllocatedQty,
									@ULDBarcode, @ULDCurrentLocation, dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation), @ULDID,
									@LocWarehouseID, @LocAreaID, @LocSectionID, @LocRowID, @LocColumnID, @LocBinID,
									@LocWarehouseCode, @LocAreaCode, @LocSectionCode, @LocRowCode, @LocColumnCode, @LocBinCode,
									'Init', GETDATE(), 1, @CreatedDateTime, @CreatedBy,
									@WarehouseName, @AreaName, @SectionName, @RowName, @ColumnName, @BinName
								);
							END
						END
					END -- End IF @PickingType = 'PickToOrder'
					ELSE
					BEGIN

						IF @LocationFound = 1
						BEGIN
							
							SET @FOrderNumber = @FulfilmentOrder;

							IF @TemporaryLocation = 1
							BEGIN
								INSERT INTO @PickingScheduleTmpTable
								(
									TenantCode,
									ItemID, ItemNumber, ItemName, Qty,
									ULDBarcode, ULDCurrentLocation, LocationOrderNumber, ULDID,
									WarehouseID, AreaID, SectionID, RowID, ColumnID, BinID,
									WarehouseCode, AreaCode, SectionCode, RowCode, ColumnCode, BinCode,									
									WarehouseName, AreaName, SectionName, RowName, ColumnName, BinName
								)
								VALUES
								(
									@TenantCode,
									@ItemID, @ItemNumber, @ItemName, -@AllocatedQty,
									@ULDBarcode, @ULDCurrentLocation, dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation), @ULDID,
									@LocWarehouseID, @LocAreaID, @LocSectionID, NULL, NULL, NULL,
									@LocWarehouseCode, @LocAreaCode, @LocSectionCode, NULL, NULL, SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7),									
									@WarehouseName, @AreaName, @SectionName, NULL, NULL, NULL
								);
							END
							ELSE
							BEGIN
								INSERT INTO @PickingScheduleTmpTable
								(
									TenantCode,
									ItemID, ItemNumber, ItemName, Qty,
									ULDBarcode, ULDCurrentLocation, LocationOrderNumber, ULDID,
									WarehouseID, AreaID, SectionID, RowID, ColumnID, BinID,
									WarehouseCode, AreaCode, SectionCode, RowCode, ColumnCode, BinCode,
									WarehouseName, AreaName, SectionName, RowName, ColumnName, BinName
								)
								VALUES
								(
									@TenantCode,
									@ItemID, @ItemNumber, @ItemName, -@AllocatedQty,
									@ULDBarcode, @ULDCurrentLocation, dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLocation), @ULDID,
									@LocWarehouseID, @LocAreaID, @LocSectionID, @LocRowID, @LocColumnID, @LocBinID,
									@LocWarehouseCode, @LocAreaCode, @LocSectionCode, @LocRowCode, @LocColumnCode, @LocBinCode,									
									@WarehouseName, @AreaName, @SectionName, @RowName, @ColumnName, @BinName
								);
							END
						END

					END -- END IF @PickingType <> 'PickToOrder'
										

					/* Next row */
					FETCH NEXT FROM cur_ULDLine
					INTO @ULDCurrentLocation, @ULDID, @ItemNumber, @ItemName, @AllocatedQty, @ULDBarcode;
				END

				CLOSE cur_ULDLine;
				DEALLOCATE cur_ULDLine;

				FETCH NEXT FROM OrderNumbersCursor 
					INTO @CurrentOrderNumber, @TenantCode, @WarehouseCode, @OrderSource, @Carrier, @Phone, @ContactEmail, @CarrierID,
					     @ShippingAddressName, @ShippingAddressCompany, @ShippingAddressAddress1, @ShippingAddressAddress2, 
						 @ShippingAddressCity, @ShippingAddressProvince, @ShippingAddressZip, @ShippingAddressCountry;
			END

			CLOSE OrderNumbersCursor;
			DEALLOCATE OrderNumbersCursor;

		END
	

		IF @PickingType <> 'PickToOrder'
		BEGIN

			DECLARE @InsertedIDs TABLE
			(
				PickingScheduleID INT
			);

			INSERT INTO dbo.PickingSchedule
			(
				FulfilmentType,
				ItemID, ItemNumber, ItemName, Qty,
				ULDBarcode, ULDCurrentLocation, LocationOrderNumber, ULDID,
				WarehouseID, AreaID, SectionID, RowID, ColumnID, BinID,
				WarehouseCode, AreaCode, SectionCode, RowCode, ColumnCode, BinCode,
				Status, StartDate, Deleted, CreatedDateTime, CreatedBy,
				WarehouseName, AreaName, SectionName, RowName, ColumnName, BinName
			)
			OUTPUT INSERTED.PickingScheduleID INTO @InsertedIDs
			SELECT
				'Orders',
				ItemID,
				ItemNumber,
				ItemName,
				SUM(Qty)                       AS Qty,
				ULDBarcode,
				ULDCurrentLocation,
				LocationOrderNumber,
				ULDID,
				MAX(WarehouseID)               AS WarehouseID,
				MAX(AreaID)                    AS AreaID,
				MAX(SectionID)                 AS SectionID,
				MAX(RowID)                     AS RowID,
				MAX(ColumnID)                  AS ColumnID,
				MAX(BinID)                     AS BinID,
				MAX(WarehouseCode)             AS WarehouseCode,
				MAX(AreaCode)                  AS AreaCode,
				MAX(SectionCode)               AS SectionCode,
				MAX(RowCode)                   AS RowCode,
				MAX(ColumnCode)                AS ColumnCode,
				MAX(BinCode)                   AS BinCode,    
				'Init', GETDATE(), 1, @CreatedDateTime, @CreatedBy,
				MAX(WarehouseName)             AS WarehouseName,
				MAX(AreaName)                  AS AreaName,
				MAX(SectionName)               AS SectionName,
				MAX(RowName)                   AS RowName,
				MAX(ColumnName)                AS ColumnName,
				MAX(BinName)                   AS BinName
			FROM @PickingScheduleTmpTable
			GROUP BY
				TenantCode,
				ItemID,
				ItemName,
				ItemNumber,
				ULDID,
				ULDBarcode,
				ULDCurrentLocation,
				LocationOrderNumber;


			UPDATE dbo.PickingSchedule
				SET OrderNumber = @FOrderNumber
			WHERE PickingScheduleID IN (SELECT PickingScheduleID FROM @InsertedIDs);

			--update deleted for error orders
			
		END
		

		-- Commit the transaction
        COMMIT TRANSACTION;

		SELECT * FROM @NewFulfilmentIDs;

    END TRY
    BEGIN CATCH
        -- Handle the error
		IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
   
END
GO
