USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_CheckLocationAvailableAtWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 Jun, 2025>
-- Description:	<Check Available Location and Belong 2 Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_CheckLocationAvailableAtWarehouse]
	@LocationCode VARCHAR(50),
	@WarehouseCode VARCHAR(20),
	@LocationFound BIT OUTPUT,
	@LocationLabel  VARCHAR(10) OUTPUT,
	@StorageType  VARCHAR(50) OUTPUT,
	@SBinType  VARCHAR(50) OUTPUT,
	@IsEmpty BIT OUTPUT,
	@ColumnId INT OUTPUT,
	@SBinId INT OUTPUT,
	@AllocatedTenant VARCHAR(10) OUTPUT,
	@IsBelong BIT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	SET @LocationLabel = '';
	SET @StorageType = '';
	SET @SBinType = '';
	SET @IsEmpty = 0;
	SET @AllocatedTenant = '';

	IF LEN(@LocationCode) != 33
	BEGIN
		SET @LocationFound = 0;
		RETURN;
	END
	ELSE
	BEGIN
		

		DECLARE @LocWarehouseCode NVARCHAR(1),
				@LocAreaCode NVARCHAR(1),
				@LocSectionCode NVARCHAR(3),
				@LocRowCode NVARCHAR(4),
				@LocColumnCode NVARCHAR(6),
				@LocShelfCode NVARCHAR(4),
				@LocBinCode NVARCHAR(7),
				@LocSBinCode NVARCHAR(7);

		-- Parse the FullCode into the variables
		SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
		SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
		SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
		SET @LocRowCode = SUBSTRING(@LocationCode, 6, 4);
		SET @LocColumnCode = SUBSTRING(@LocationCode, 10, 6);
		SET @LocShelfCode = SUBSTRING(@LocationCode, 16, 4);
		SET @LocBinCode = SUBSTRING(@LocationCode, 20, 7);
		SET @LocSBinCode = SUBSTRING(@LocationCode, 27, 7);

		SET @IsBelong = 0;
		SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
		IF @WarehouseCode = @LocWarehouseCode
		BEGIN
			SET @IsBelong = 1;
		END

		-- check temp location
		EXEC dbo.[SP_VI_TBL_LocTempLocation_CheckLocationAvailable] 
			@LocationCode = @LocationCode,
			@LocationFound = @LocationFound OUTPUT,
			@LocationLabel = @LocationLabel OUTPUT,
			@IsEmpty = @IsEmpty OUTPUT;

		IF @LocationFound = 1
		BEGIN
			SET @StorageType = 'TemporaryLocation';
			SET @SBinType = 'Pallet';
			SET @ColumnId = -1;
			SET @SBinId = -1;
			RETURN;
		END

		DECLARE @LocWarehouseID INT,
            @LocAreaID INT,
			@LocSectionID INT,
            @LocRowID INT,
            @LocColumnID INT,
            @LocShelfID INT,
            @LocBinID INT;

		-- Get LocWarehouse ID
		SELECT @LocWarehouseID = LocWarehouseID
		FROM dbo.LocWarehouse
		WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

		IF @LocWarehouseID IS NULL
		BEGIN
			SET @LocationFound = 0;
			RETURN;
		END

		-- Get LocArea ID
		SELECT @LocAreaID = LocAreaID
		FROM dbo.LocArea
		WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

		IF @LocAreaID IS NULL
		BEGIN
			SET @LocationFound = 0;
			RETURN;
		END

		 -- Get LocSection Code
		SELECT @StorageType = StorageType , @LocSectionID = LocSectionID
		FROM dbo.LocSection
		WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;

		IF @LocSectionID IS NULL
		BEGIN
			SET @LocationFound = 0;
			RETURN;
		END

		-- Get LocRow Code
		SELECT @LocRowID = LocRowID
		FROM dbo.LocRow
		WHERE RowCode = @LocRowCode AND LocSectionID = @LocSectionID AND DELETED = 0;

		IF @LocRowID IS NULL
		BEGIN
			SET @LocationFound = 0;
			RETURN;
		END

		
		-- Get LocColumn Code
		SELECT @LocColumnID = LocColumnID
		FROM dbo.LocColumn
		WHERE ColumnCode = @LocColumnCode AND LocRowID = @LocRowID AND DELETED = 0;

		IF @LocColumnID IS NULL
		BEGIN
			SET @LocationFound = 0;
			RETURN;
		END
		ELSE
		BEGIN
			SET @ColumnId = @LocColumnID;
			IF @StorageType = 'PickFace'
			BEGIN
				SELECT @AllocatedTenant = TenantCode FROM dbo.BayTenantAllocation WHERE ColumnID = @ColumnId AND Deleted = 0;
			END
		END
		
		-- Get LocShelf Code
		SELECT @LocShelfID = LocShelfID
		FROM dbo.LocShelf
		WHERE ShelfCode = @LocShelfCode AND LocColumnID = @LocColumnID AND DELETED = 0;

		IF @LocShelfID IS NULL
		BEGIN
			SET @LocationFound = 0;
			RETURN;
		END

		-- Get LocBin Code
		SELECT @LocBinID = LocBinID
		FROM dbo.LocBin
		WHERE BinCode = @LocBinCode AND LocShelfID = @LocShelfID AND DELETED = 0;

		IF @LocBinID IS NULL
		BEGIN
			SET @LocationFound = 0;
			RETURN;
		END
		ELSE
		BEGIN

			IF @StorageType = 'PerfectPick'
			BEGIN
				SELECT @AllocatedTenant = TenantCode FROM dbo.BinTenantAllocation WHERE BinID = @LocBinID AND Deleted = 0;
			END

			DECLARE @NumberOfSBin INT;

			SELECT  @NumberOfSBin = COUNT(*)  
					FROM dbo.LocSBin 
					WHERE LocBinID = @LocBinID AND DELETED = 0;
		
			-- Get LocSBin Code
			IF @NumberOfSBin = 0
			BEGIN
				SET @LocationFound = 0;
			END
			ELSE
			BEGIN
				SET @LocationFound = 1;
				IF @NumberOfSBin = 1
				BEGIN
					SET @LocationLabel = @LocBinCode;
				END
				ELSE
				BEGIN
					SET @LocationLabel = @LocSBinCode;
				END

				SELECT @SBinType = SBinType, @SBinId = LocSBinID 
					FROM dbo.LocSBin 
					WHERE SBinCode = @LocSBinCode AND LocBinID = @LocBinID AND DELETED = 0;

				DECLARE @NumberOfULD INT;
				SELECT @NumberOfULD = COUNT(*)
				FROM dbo.ULD U
				WHERE U.ULDCurrentLocation = @LocationCode
				AND U.DELETED = 0
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				);
			
				IF @NumberOfULD = 0
				BEGIN
					SET @IsEmpty = 1;
				END
				ELSE
				BEGIN
					SET @IsEmpty = 0;
					-- get tenant for receiving storage type
					IF @StorageType = 'Receiving'
					BEGIN
						SELECT @AllocatedTenant = TenantCode
						FROM dbo.ULD 
						WHERE ULDCurrentLocation = @LocationCode AND DELETED = 0;
					END
				END 
			END
		END
	END
	
END
GO
