USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSBin_UpdateLocSBin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Update>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSBin_UpdateLocSBin] 
	@LocSBinID                    INT,
    @SBinName                     VARCHAR(200) = NULL,
	@SBinDesc                     VARCHAR(1000) = NULL,
    @OrderNumber                  INT = NULL,
    @SBinType                     VARCHAR(50) = NULL,
	@Height						  INT = NULL,
	@Width                        INT = NULL,
	@Depth                        INT = NULL,
	@Distance                     INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		IF NOT EXISTS(SELECT 1 FROM dbo.LocSBin WHERE LocSBinID = @LocSBinID AND Deleted = 0)
		BEGIN
			SET @Message = 'LocSBinID does not exist or has been deleted.'
			RETURN;
		END
	
		UPDATE dbo.LocSBin
		SET
			SBinName = COALESCE(@SBinName, SBinName),
			SBinDesc = COALESCE(@SBinDesc, SBinDesc),
			OrderNumber = COALESCE(@OrderNumber, OrderNumber),
			SBinType = COALESCE(@SBinType, SBinType),
			Height = COALESCE(@Height, Height),
			Width = COALESCE(@Width, Width),
			Depth = COALESCE(@Depth, Depth),
			Distance = COALESCE(@Distance, Distance),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE LocSBinID = @LocSBinID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
