USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_GetTenantInfoByShopDomains]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <13 may, 2025>
-- Description:	<Get Tenant Info By ShopDomain>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_GetTenantInfoByShopDomains] 
    @ShopDomains dbo.StringArray READONLY
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	SELECT i.ShopDomain , i.TenantCode, t.TenantName
	FROM @ShopDomains sd
	INNER JOIN dbo.Integration i ON i.ShopDomain = sd.Value AND i.DELETED = 0
	LEFT JOIN dbo.Tenant t ON t.TenantCode = i.TenantCode;
END
GO
