USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocRow_DeleteLocRow]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Soft Delete>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocRow_DeleteLocRow] @LocRowID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.LocRow WHERE LocRowID = @LocRowID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Row has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @AllColumnIds dbo.IdArray;

		INSERT INTO @AllColumnIds (Value) 
		SELECT LocColumnID FROM dbo.LocColumn WHERE LocRowID = @LocRowID AND Deleted = 0;

		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.LocColumnID IN (SELECT Value FROM @AllColumnIds)
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);

		IF @NumberOfULD > 0
		BEGIN
			SET @Message = 'There are not empty ULDs at these location.';
			ROLLBACK TRANSACTION;
			RETURN;
		END



		DECLARE @LocSectionID INT, @TotalDeletedRecords INT;

		SELECT @LocSectionID = LocSectionID
		FROM dbo.LocRow
		WHERE LocRowID = @LocRowID;

		SELECT @TotalDeletedRecords = COUNT(*) 
		FROM dbo.LocRow
		WHERE LocSectionID = @LocSectionID AND DELETED = 1;

		SET @TotalDeletedRecords = -@TotalDeletedRecords - 1;

        -- Step 1: Update LocRow table
        UPDATE dbo.LocRow
        SET Deleted = 1
        WHERE LocRowID = @LocRowID;

        -- Step 2: Update LocColumn table using JOIN with LocRow
        UPDATE lc
        SET lc.Deleted = 1
        FROM dbo.LocColumn lc
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        WHERE lr.LocRowID = @LocRowID;

        -- Step 3: Update LocShelf table using JOIN with LocColumn
        UPDATE lshelf
        SET lshelf.Deleted = 1
        FROM dbo.LocShelf lshelf
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        WHERE lc.LocRowID = @LocRowID;

        -- Step 4: Update LocBin table using JOIN with LocShelf
        UPDATE lb
        SET lb.Deleted = 1
        FROM dbo.LocBin lb
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        WHERE lc.LocRowID = @LocRowID;

        -- Step 5: Update LocSBin table using JOIN with LocBin
        UPDATE lsb
        SET lsb.Deleted = 1
        FROM dbo.LocSBin lsb
        INNER JOIN dbo.LocBin lb ON lsb.LocBinID = lb.LocBinID
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        WHERE lc.LocRowID = @LocRowID;


        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for LocRowID: ' + CAST(@LocRowID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating LocRowID: ' + CAST(@LocRowID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;

END
GO
