USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_UserPermission_UpdateUserPermission]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_VI_TBL_UserPermission_UpdateUserPermission] 
    @UserID INT, 
    @APIName VARCHAR(100), 
    @Permission BIT,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL
AS
BEGIN
   
   SET NOCOUNT ON;

    -- Try to update the Permission field
    BEGIN TRY

        DECLARE @UserCode VARCHAR(50);

        -- Get UserCode from Users by @UserID
        SELECT @UserCode = UserCode
        FROM dbo.Users
        WHERE UserID = @UserID;

        -- Check if UserCode was found
        IF @UserCode IS NULL
        BEGIN
            RAISERROR('UserCode not found for UserID: %d', 16, 1, @UserID);           
            RETURN;
        END

        -- Update the Permission field in UserPermission
        UPDATE dbo.UserPermission
        SET Permission = @Permission,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE APIName = @APIName AND UserCode = @UserCode;
        
        PRINT 'Updated permission successfully for UserID: ' + CAST(@UserID AS NVARCHAR) + ' and APIName: ' + @APIName;
    END TRY
    BEGIN CATCH
        -- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
