USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertDHLMailingInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2025>
-- Description:	<Insert DHL Mailing Invoice>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertDHLMailingInvoice]  
	@OrderNumbers dbo.StringArray READONLY,	
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @WarehouseCode VARCHAR(10),
				@TenantCode VARCHAR(10),				
				@OldTenantCode VARCHAR(10),
				@OrderNumber VARCHAR(50),				
				@ShipmentID INT,
				@WaveID INT,
				@MailingChargePercent INT,
				@ExtraOrderCost DECIMAL(10,2),
				@Currency VARCHAR(20),				
				@DHL_order_total_cost DECIMAL(10,2),
				@TransactionReference VARCHAR(500),				
				@InvoiceMessage VARCHAR(4000),
				@InvoiceReferences VARCHAR(500),
				@IsManual BIT;

		CREATE TABLE #TmpTable
			(
				WarehouseCode VARCHAR(10),
				TenantCode    VARCHAR(10),
				OrderNumber VARCHAR(50),
				IsManual BIT
			);

			--
		DECLARE cur_OrderNumbers CURSOR LOCAL FAST_FORWARD FOR
			SELECT [Value]
			FROM @OrderNumbers;

		OPEN cur_OrderNumbers;

		FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF LEFT(@OrderNumber, 3) = 'MS-'
			BEGIN
				-- belong oen of three
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual)
				SELECT WarehouseCode,ISNULL(AlterTenantCode, TenantCode), @OrderNumber, 1
				FROM dbo.DHLShipment
				WHERE MessageReference = @OrderNumber AND Deleted = 0;							
			END
			ELSE
			BEGIN			
				INSERT INTO #TmpTable (WarehouseCode, TenantCode, OrderNumber, IsManual)
				SELECT WarehouseCode,TenantCode, @OrderNumber, 0
				FROM dbo.Fulfilment
				WHERE OrderNumber = @OrderNumber AND Deleted = 0;
			END

			FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;
		END;

		CLOSE cur_OrderNumbers;
		DEALLOCATE cur_OrderNumbers;

		SET @OldTenantCode = '';

		-- Define the cursor
		DECLARE cur_TmpTable CURSOR LOCAL FAST_FORWARD FOR
			SELECT WarehouseCode, TenantCode, OrderNumber, IsManual
			FROM #TmpTable ORDER BY WarehouseCode, TenantCode;

		-- Open cursor
		OPEN cur_TmpTable;

		-- Fetch first row
		FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual;
		
		-- Loop through all rows
		WHILE @@FETCH_STATUS = 0
		BEGIN

			DECLARE @IsCharge BIT;
			SET @IsCharge = 1;

			SELECT @IsCharge = ISNULL(IsWarehouseAccount,1) 
			FROM [dbo].[DHLIntegration] 
			WHERE DELETED = 0 AND TenantCode = @TenantCode;

			IF @IsCharge <> 1
			BEGIN
				FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual;
				CONTINUE;
			END
			
			IF (@OldTenantCode <> @TenantCode)
			BEGIN
				
				SET @OldTenantCode = @TenantCode;

				SELECT @Currency = Currency
				FROM dbo.LocWarehouse
				WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

				SELECT @MailingChargePercent = ISNULL(MailingChargePercent,0),
					   @ExtraOrderCost = ISNULL(ExtraOrderCost,0)
				FROM dbo.Tenant
				WHERE TenantCode = @TenantCode AND Deleted = 0;

			END

			IF @IsManual = 0 -- in wave
			BEGIN

				DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
					SELECT 
						ps.ShipmentID
					FROM dbo.Fulfilment AS f				
					JOIN dbo.PackingResult AS ps  ON ps.OrderNumber = f.OrderNumber AND ps.Deleted = 0
					WHERE f.Deleted = 0 AND f.OrderNumber = @OrderNumber;

				OPEN cur_Fulfilment;

				FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID;

				WHILE @@FETCH_STATUS = 0
				BEGIN
								
					SELECT @WaveID = WaveID					   
					FROM dbo.Waveline
					WHERE OrderNumber = @OrderNumber AND Deleted = 0;
				
					IF @MailingChargePercent > 0 AND @ShipmentID IS NOT NULL
					BEGIN
						PRINT 'DHL Shipping Invoice';

						select @DHL_order_total_cost = ISNULL(price,0)		  
						FROM dbo.DHLResponse where MessageReference = @OrderNumber;					
					
						SET @TransactionReference = 'DHL Shipping Charge';

						SET @DHL_order_total_cost = CEILING(
							@DHL_order_total_cost 
							+ (@DHL_order_total_cost * @MailingChargePercent / 100.0)
						);

						EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
							@WaveID = @WaveID,
							@OrderNumber = @OrderNumber,
							@TenantCode      = @TenantCode,     
							@WarehouseCode   = @WarehouseCode,       
							@Currency = @Currency,
							@Charge = @DHL_order_total_cost,
							@ChargeItemName = @TransactionReference,
							@CreatedDateTime = @CreatedDateTime,   
							@CreatedBy       = @CreatedBy,   
							@Message         = @InvoiceMessage OUTPUT;
					END

					IF @ExtraOrderCost <> 0
					BEGIN
						PRINT 'Extra Invoice';

						SET @TransactionReference = 'Extra Order Cost';

						--Insert charge
						EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
							@WaveID = @WaveID,
							@OrderNumber = @OrderNumber,
							@TenantCode      = @TenantCode,     
							@WarehouseCode   = @WarehouseCode,       
							@Currency = @Currency,
							@Charge = @ExtraOrderCost,
							@ChargeItemName = @TransactionReference,
							@CreatedDateTime = @CreatedDateTime,   
							@CreatedBy       = @CreatedBy,   
							@Message         = @InvoiceMessage OUTPUT;

					END

					FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID;
				END;

				CLOSE cur_Fulfilment;
				DEALLOCATE cur_Fulfilment;
			END
			ELSE -- Manual
			BEGIN
				DECLARE cur_Fulfilment CURSOR LOCAL FAST_FORWARD FOR
				SELECT 							
					f.ShipmentID,
					f.ManualInvoiceComment
				FROM dbo.DHLShipment AS f	
				WHERE f.Deleted = 0 AND f.MessageReference = @OrderNumber;

				OPEN cur_Fulfilment;

				FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID, @InvoiceReferences;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					-- create invoice
					IF @MailingChargePercent > 0 AND @ShipmentID IS NOT NULL
					BEGIN
						PRINT 'Mailing Invoice';

						SELECT @DHL_order_total_cost = ISNULL(price,0)		  
						FROM dbo.DHLResponse WHERE MessageReference = @OrderNumber;		

						SET @DHL_order_total_cost = CEILING(
							@DHL_order_total_cost 
							+ (@DHL_order_total_cost * @MailingChargePercent / 100.0)
						);

						IF @InvoiceReferences IS NOT NULL
						BEGIN
							SET @TransactionReference = @InvoiceReferences;
						END
						ELSE
						BEGIN
							SET @TransactionReference = 'Mailing Charge';
						END

						EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
							@WaveID = @WaveID,
							@OrderNumber = @OrderNumber,
							@TenantCode      = @TenantCode,     
							@WarehouseCode   = @WarehouseCode,       
							@Currency = @Currency,
							@Charge = @DHL_order_total_cost,
							@ChargeItemName = @TransactionReference,
							@CreatedDateTime = @CreatedDateTime,   
							@CreatedBy       = @CreatedBy,   
							@Message         = @InvoiceMessage OUTPUT;
					END		
						
					IF @ExtraOrderCost <> 0
					BEGIN
						PRINT 'Extra Invoice';

						IF @InvoiceReferences IS NOT NULL
						BEGIN
							SET @TransactionReference = @InvoiceReferences;
						END
						ELSE
						BEGIN
							SET @TransactionReference = 'Extra Order Cost';
						END

						--Insert charge
						EXEC [dbo].[SP_VI_TBL_Invoice_InsertMailingInvoice]  
							@WaveID = NULL,
							@InvoiceReferences = @InvoiceReferences,
							@OrderNumber = @OrderNumber,
							@TenantCode      = @TenantCode,     
							@WarehouseCode   = @WarehouseCode,       
							@Currency = @Currency,
							@Charge = @ExtraOrderCost,
							@ChargeItemName = @TransactionReference,
							@CreatedDateTime = @CreatedDateTime,   
							@CreatedBy       = @CreatedBy,   
							@Message         = @InvoiceMessage OUTPUT;

					END				

					FETCH NEXT FROM cur_Fulfilment INTO @ShipmentID, @InvoiceReferences;
				END;

				CLOSE cur_Fulfilment;
				DEALLOCATE cur_Fulfilment;

			END -- End Manual
			
			-- Next row
			FETCH NEXT FROM cur_TmpTable INTO @WarehouseCode, @TenantCode, @OrderNumber, @IsManual;
		END;

		-- Cleanup
		CLOSE cur_TmpTable;
		DEALLOCATE cur_TmpTable;	
	
		-- Commit the transaction			
        COMMIT TRANSACTION;		

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
