USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockOnHandManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 May, 2025>
-- Description:	<Implement Stock On Hand Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockOnHandManualReport]
    @ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@DayDuration INT,
			@Mandatory BIT,
			@ReportType VARCHAR(50),
			@Interval VARCHAR(50),
			@TenantName VARCHAR(250);

	DECLARE @SQL NVARCHAR(MAX);

	-- Declare
	CREATE TABLE #TempTable
	(
		WarehouseCode VARCHAR(20),
		WarehouseName VARCHAR(150),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ItemName VARCHAR(250),
		ItemNumber VARCHAR(30),
		TotalULD INT,
		Qty INT
	);

	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;	

	INSERT INTO #TempTable
	(
		WarehouseCode,
		WarehouseName,		
		TenantCode,
		TenantName,
		ItemName,
		ItemNumber,
		TotalULD,
		Qty
	)
	SELECT 		
		ISNULL(W.WarehouseCode,''),
		ISNULL(W.WarehouseName,''),
		@ManualTenantCode,
		@TenantName,
		A.ItemName, 
		A.ItemNumber, 
		COALESCE(A.TotalULD,0) AS TotalULD, 
		COALESCE(A.TotalTransactionQty,0) AS Qty
	FROM (
			SELECT 
				U.ItemNumber, 
				U.ItemName,
				U.WarehouseCode,
				COUNT(DISTINCT U.ULDID) AS TotalULD, 
				SUM(UL.TransactionQty) AS TotalTransactionQty
			FROM dbo.ULD U
			INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
			WHERE U.TenantCode = @ManualTenantCode
				AND U.DELETED = 0				 
				AND U.Status <> 'Draft'
				AND UL.TransactionType  <> 'Allocated'
				AND UL.DELETED = 0 
			GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
		HAVING SUM(UL.TransactionQty) > 0
	) AS A 
	LEFT JOIN dbo.LocWarehouse W ON A.WarehouseCode = W.WarehouseCode AND W.Deleted = 0
	WHERE (@WarehouseCode IS NULL OR A.WarehouseCode = @WarehouseCode);

	--return
	SELECT 
		WarehouseCode,
		WarehouseName,
		TenantCode,
		TenantName,
		ItemName,
		ItemNumber as ItemCode,
		TotalULD,
		Qty
	FROM #TempTable;
END
GO
