USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Jun, 2025>
-- Description:	<Check ULD Having Stock of Tenant at WareHouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtWarehouse]  
    @TenantCode VARCHAR(10) = NULL,
    @WarehouseCode VARCHAR(20) = NULL,
	@ItemNumber VARCHAR(30) = NULL,
    @IsEmpty BIT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX);
    DECLARE @RowCount INT;

    SET @sql = N'
        SELECT @RowCount = COUNT(*) 
        FROM (
            SELECT U.ULDID, SUM(UL.TransactionQty) AS TotalQty
            FROM dbo.ULD U
            INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
            WHERE U.Deleted = 0
              AND UL.Deleted = 0
			  AND U.HoldStatus IS NULL
			  AND Ul.TransactionType <> ''Allocated''
              AND U.Status <> ''Draft''';

    IF @WarehouseCode IS NOT NULL
        SET @sql += N' AND U.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + '''';

    IF @TenantCode IS NOT NULL
        SET @sql += N' AND U.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';

	IF @ItemNumber IS NOT NULL
        SET @sql += N' AND U.ItemNumber = ''' + REPLACE(@ItemNumber, '''', '''''') + '''';

    SET @sql += N'
            GROUP BY U.ULDID
            HAVING SUM(UL.TransactionQty) > 0
        ) AS Sub;';

	PRINT @sql;

    -- Execute and capture result
    EXEC sp_executesql @sql, N'@RowCount INT OUTPUT', @RowCount = @RowCount OUTPUT;

    -- Set output value
    IF @RowCount > 0
        SET @IsEmpty = 0;
    ELSE
        SET @IsEmpty = 1;
END
GO
