USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_InsertChargeItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Nov, 2024>
-- Description:	<Insert Charge Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_InsertChargeItem]  
    @APIID INT = NULL,
	@ChargeItemName VARCHAR(200),
    @ChargeItemUnit VARCHAR(50),
	@ChargeItemType VARCHAR(50),
	@ChargeItemGroup VARCHAR(100) = NULL,
	@Mandatory BIT = 0,
	@ChargeItemWarehouseCosts ChargeItemWarehouseCostTable READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		-- Check for duplicate ChargeItemName
		IF EXISTS(SELECT 1 FROM dbo.ChargeItem WHERE APIID = @APIID AND Deleted = 0)
		BEGIN
			 SET @Message = 'API already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		IF EXISTS(SELECT 1 FROM dbo.ChargeItem WHERE ChargeItemName = @ChargeItemName AND Deleted = 0)
		BEGIN
			 SET @Message = 'Charge Item Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @NewChargeItemID INT;
		SELECT @NewChargeItemID = ChargeItemID FROM dbo.ChargeItem WHERE ChargeItemName = @ChargeItemName AND Deleted = 1;

		IF @NewChargeItemID IS NULL
		BEGIN

			DECLARE @NewChargeItemIDs TABLE (
				ID INT
			);

			-- Insert into ChargeItem table
			INSERT INTO dbo.ChargeItem
			(
				ChargeItemName,
				ChargeItemUnit,
				ChargeItemType,
				ChargeItemGroup,
				APIID,
				Deleted,
				Mandatory,
				CreatedDateTime,
				CreatedBy
			)
			OUTPUT INSERTED.ChargeItemID INTO @NewChargeItemIDs
			VALUES
			(
				@ChargeItemName,
				@ChargeItemUnit,
				@ChargeItemType,
				@ChargeItemGroup,
				@APIID,
				0, -- Default value for Deleted
				@Mandatory,
				@CreatedDateTime,
				@CreatedBy
			)
					
			SELECT @NewChargeItemID = ID FROM @NewChargeItemIDs;

			IF @NewChargeItemID IS NULL
			BEGIN
				 SET @Message = 'ChargeItem is not created successfully.'
				 ROLLBACK TRANSACTION;
				 RETURN;
			END
		END
		ELSE
		BEGIN
			UPDATE dbo.ChargeItem
			SET Deleted = 0,
			    APIID = COALESCE(@APIID, APIID),
				Mandatory = @Mandatory,
				ChargeItemUnit = COALESCE(@ChargeItemUnit, ChargeItemUnit),
				ChargeItemType = COALESCE(@ChargeItemType, ChargeItemType),
				ChargeItemGroup = COALESCE(@ChargeItemGroup, ChargeItemGroup),
				CreatedDateTime = COALESCE(@CreatedDateTime, CreatedDateTime),
				CreatedBy = COALESCE(@CreatedBy, CreatedBy)
			WHERE ChargeItemID = @NewChargeItemID;
		END

		
		-- Insert the associated cost
		INSERT INTO dbo.ChargeItemCost (ChargeItemID, WarehouseCode, ChargeItemPrice, ChargeItemCurrency, Deleted, CreatedDateTime, CreatedBy)
		SELECT @NewChargeItemID, WarehouseCode, Price, Currency , 0, @CreatedDateTime, @CreatedBy
		FROM @ChargeItemWarehouseCosts;


		IF @Mandatory = 1
		BEGIN
			DECLARE @InnerMessage VARCHAR(4000);
			DECLARE @AllTenant BIT = 1; -- Set to TRUE
			DECLARE @TenantIds dbo.IdArray;

			EXEC SP_VI_TBL_ChargeItem_ApplyChargeItem 
					@ChargeItemID = @NewChargeItemID,
					@AllTenant = @AllTenant,
					@TenantIds = @TenantIds,
					@Message = @InnerMessage OUTPUT;

		END
				
        -- Commit the transaction
        COMMIT TRANSACTION
		
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
