USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_StartPickingOrder]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 April, 2025>
-- Description:	<Start Picking Order>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_StartPickingOrder] 
    @OrderID INT,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10);

		SELECT @WarehouseCode = WarehouseCode,
			   @TenantCode = TenantCode
		FROM dbo.Orders WHERE OrderID = @OrderID AND Deleted = 0;

		-- Check for Tenant Code
		IF @TenantCode IS NULL
		BEGIN
			SET @Message = 'Order does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- update receipt status
		UPDATE dbo.Orders
		SET [OrderStatus] = 'InProgress',
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @LastEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @LastEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE OrderID = @OrderID AND Deleted = 0;
		
		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
