USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_ViewULDLinesOfTenantItemInWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Nov, 2024>
-- Description:	<Get detail information of ULDLine by ULDID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_ViewULDLinesOfTenantItemInWarehouse] 
     @TenantCode VARCHAR(20),
	 @WarehouseCode VARCHAR(20),  
	 @ItemNumber VARCHAR(30),
     @StartDate DATETIME = NULL,
     @EndDate DATETIME = NULL,
     @Search NVARCHAR(100),
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'SequenceNumber',
     @OrderDir NVARCHAR(4) = 'DESC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    DECLARE @ULDIDs dbo.IdArray;

    INSERT INTO @ULDIDs (Value)
    SELECT DISTINCT ULDID
    FROM dbo.ULD
    WHERE TenantCode = @TenantCode
        AND WarehouseCode = @WarehouseCode            
        AND DELETED = 0;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN

        IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL
        BEGIN           
             -- Get the total number of records
            SELECT @TotalRecords = COUNT(*) 
            FROM dbo.ULDLine WHERE ULDID IN (SELECT Value FROM @ULDIDs) AND DELETED = 0 
                AND ItemNumber = @ItemNumber
                AND TransactionDate BETWEEN @StartDate AND @EndDate;

            -- Calculate the total number of pages
            SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

            SET @SQL = N'SELECT * FROM dbo.ULDLine WHERE DELETED = 0  AND TransactionDate BETWEEN @StartDate AND @EndDate AND ItemNumber = @ItemNumber AND ULDID IN (SELECT Value FROM @ULDIDs) ORDER BY ' + @OrderBy + ' ' + @OrderDir +
                    ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
        
        END
        ELSE
        BEGIN
             -- Get the total number of records
            SELECT @TotalRecords = COUNT(*) 
            FROM dbo.ULDLine WHERE ULDID IN (SELECT Value FROM @ULDIDs) AND DELETED = 0 AND ItemNumber = @ItemNumber; 

            -- Calculate the total number of pages
            SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

            SET @SQL = N'SELECT * FROM dbo.ULDLine WHERE DELETED = 0 AND ItemNumber = @ItemNumber AND ULDID IN (SELECT Value FROM @ULDIDs) ORDER BY ' + @OrderBy + ' ' + @OrderDir +
                    ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
        ENd
       
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

        IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL
        BEGIN   
            SELECT @TotalRecords = COUNT(*) 
            FROM dbo.ULDLine 
            WHERE ULDID IN (SELECT Value FROM @ULDIDs) AND DELETED = 0 AND ItemNumber = @ItemNumber
            AND TransactionDate BETWEEN @StartDate AND @EndDate
            AND (
                LOWER(ItemNumber) LIKE '%' + LOWER(@Search) + '%' 
                OR LOWER(ItemName) LIKE '%' + LOWER(@Search) + '%' 
                OR LOWER(TransactionReference) LIKE '%' + LOWER(@Search) + '%' 
            );

            -- Calculate the total number of pages
            SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

            SET @SQL = N'SELECT * FROM dbo.ULDLine 
                WHERE DELETED = 0 
                AND ULDID IN (SELECT Value FROM @ULDIDs) 
                AND ItemNumber = @ItemNumber
                AND TransactionDate BETWEEN @StartDate AND @EndDate
                AND (
                    LOWER(ItemNumber) LIKE ''%' + LOWER(@Search) + '%'' 
                    OR LOWER(ItemName) LIKE ''%' + LOWER(@Search) + '%'' 
                    OR LOWER(TransactionReference) LIKE ''%' + LOWER(@Search) + '%'' 
                ) 
                ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
                ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
                FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
        END
        ELSE
        BEGIN
            SELECT @TotalRecords = COUNT(*) 
            FROM dbo.ULDLine 
            WHERE ULDID IN (SELECT Value FROM @ULDIDs) AND DELETED = 0 AND ItemNumber = @ItemNumber
            AND (
                LOWER(ItemNumber) LIKE '%' + LOWER(@Search) + '%' 
                OR LOWER(ItemName) LIKE '%' + LOWER(@Search) + '%' 
                OR LOWER(TransactionReference) LIKE '%' + LOWER(@Search) + '%' 
            );

            -- Calculate the total number of pages
            SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

            SET @SQL = N'SELECT * FROM dbo.ULDLine 
                WHERE DELETED = 0 
                AND ULDID IN (SELECT Value FROM @ULDIDs) 
                AND ItemNumber = @ItemNumber
                AND (
                    LOWER(ItemNumber) LIKE ''%' + LOWER(@Search) + '%'' 
                    OR LOWER(ItemName) LIKE ''%' + LOWER(@Search) + '%'' 
                    OR LOWER(TransactionReference) LIKE ''%' + LOWER(@Search) + '%'' 
                ) 
                ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
                ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
                FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
        END

		

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL, N'@ItemNumber VARCHAR(30), @ULDIDs dbo.IdArray READONLY,@StartDate DATE,@EndDate DATE,@Search VARCHAR(100)', @ItemNumber, @ULDIDs,@StartDate,@EndDate,@Search;

END
GO
