USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_StartStockTakeTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 April, 2025>
-- Description:	<Start Picking Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_StartStockTakeTask] 
    @ServiceID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100),
	@StockTakeScheduleID INT OUTPUT,
	@StockTakeType VARCHAR(50) OUTPUT,
	@ULDCurrentLocation VARCHAR(50) OUTPUT,
	@ItemName VARCHAR(250) OUTPUT,
	@ItemNumber VARCHAR(30) OUTPUT,
	@WarehouseName VARCHAR(200) OUTPUT,
	@AreaName    VARCHAR(200) OUTPUT,
	@SectionName VARCHAR(200) OUTPUT,
	@RowName     VARCHAR(200) OUTPUT,
	@ColumnName  VARCHAR(200) OUTPUT,
	@BinName     VARCHAR(200) OUTPUT,
	@HasMultipleSBins BIT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY	
	
		BEGIN TRANSACTION

		SET @HasMultipleSBins = 0;

		DECLARE @BinID INT,
				@ColumnID INT,
				@ServiceStatus VARCHAR(20),
				@ServiceType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10),
				@StorageType VARCHAR(50);				

		DECLARE @ItemBarcodes dbo.StringArray;

		SELECT @ServiceStatus = Status,
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode,
			   @StockTakeType = AdditionalType
		FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;

		IF @ServiceType IS NULL OR @ServiceType != 'Stocktake'
		BEGIN
			SET @Message = 'This Service is not Stocktake Service.';
			ROLLBACK TRANSACTION;	
			RETURN;
		END

		IF @ServiceStatus = 'Completed'
		BEGIN
			SET @Message = 'Service Status is not In Progress.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- Check for Tenant Code
		IF @ServiceStatus = 'Pending'
		BEGIN
			EXEC [dbo].[SP_VI_TBL_Service_StartStockTakeService]
					@ServiceID = @ServiceID,
					@LastEditedDateTime = @OperationDateTime,
					@LastEditedBy = @OperationBy,
					@Message = @Message OUTPUT;

			IF @Message IS NOT NULL
			BEGIN
				RETURN;
			END
		END

		-- Declare
		CREATE TABLE #TempStockTakeTaskTable
		(
			ULDID INT,
			ULDBarcode VARCHAR(30),
			ItemBarcode VARCHAR(30),
			ItemNumber VARCHAR(30),
			ItemName VARCHAR(250),
			UnitQuantity INT,
			TrackSerialOnReceipt BIT,
			TradeUnit VARCHAR(20),
			ULDType VARCHAR(30)
		);
		
		-- Get Existed 
		SELECT TOP 1 @StockTakeScheduleID = StockTakeScheduleID, 
		            @ULDCurrentLocation = ULDCurrentLocation, 
		            @ItemName = ItemName, @ItemNumber = ItemNumber,
					@WarehouseName = WarehouseName,
					@AreaName  = AreaName,
					@SectionName = SectionName,
					@RowName = RowName,
					@ColumnName = ColumnName,
					@BinName = BinName,
					@BinID = BinID
		FROM dbo.StockTakeSchedule 
		WHERE ServiceID = @ServiceID AND DELETED = 0 AND STATUS = 'Taken' AND OperationStaff = @OperationBy;

		-- There is no existed and get new one
		IF @StockTakeScheduleID IS NULL
		BEGIN

			SELECT TOP 1 @StockTakeScheduleID = StockTakeScheduleID, 
			            @ULDCurrentLocation = ULDCurrentLocation, 
						@ItemName = ItemName, @ItemNumber = ItemNumber,
						@WarehouseName = WarehouseName,
						@AreaName  = AreaName,
						@SectionName = SectionName,
						@RowName = RowName,
						@ColumnName = ColumnName,
						@BinName = BinName,
						@BinID = BinID,
						@ColumnID = ColumnID,
						@StorageType = StorageType
			FROM dbo.StockTakeSchedule 
			WHERE ServiceID = @ServiceID AND DELETED = 0 AND STATUS = 'Init' AND OperationStaff IS NULL;

			IF @StockTakeScheduleID IS NOT NULL
			BEGIN
				IF @StorageType IS NOT NULL AND @StorageType = 'PickFace'  -- get All Column
				BEGIN
					UPDATE dbo.StockTakeSchedule
					SET [Status] = 'Taken',
						OperationStaff = @OperationBy,
						StartDate = @OperationDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @OperationDateTime,
						LastEditedBy = @OperationBy
					WHERE ServiceID = @ServiceID AND DELETED = 0 AND ColumnID = @ColumnID;
				END
				ELSE
				BEGIN
					UPDATE dbo.StockTakeSchedule
					SET [Status] = 'Taken',
						OperationStaff = @OperationBy,
						StartDate = @OperationDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @OperationDateTime,
						LastEditedBy = @OperationBy
					WHERE StockTakeScheduleID = @StockTakeScheduleID;
				END
			END
			ELSE
			BEGIN
				SET @Message = 'There is no location for stock-taking.';	
				ROLLBACK TRANSACTION;
				RETURN;
			END
		END

		IF @BinID IS NOT NULL
		BEGIN
			IF (SELECT COUNT(*) FROM LocSBin WHERE Deleted = 0 AND LocBinID = @BinID) > 1
			BEGIN
				SET @HasMultipleSBins = 1;
			END
		END

		IF @StockTakeScheduleID IS NOT NULL
		BEGIN
			-- return ULDs
			IF @StockTakeType = 'Full'
			BEGIN
				
				INSERT INTO #TempStockTakeTaskTable (ULDID, ULDBarcode, ItemBarcode, ItemNumber, ItemName, UnitQuantity, TrackSerialOnReceipt, TradeUnit, ULDType)
				SELECT DISTINCT
					U.ULDID, 
					U.ULDBarcode,
					it.Barcode as ItemBarcode,
					it.ItemNumber,
					it.ItemName,
					it.UnitQuantity,
					it.TrackSerialOnReceipt,
					it.ItemType,
					U.ULDType 
				FROM 
					dbo.ULD U
				LEFT JOIN
				(
					SELECT i.ItemNumber, i.ItemName, i.TenantCode, iu.Barcode, iu.ItemType, iu.UnitQuantity, i.TrackSerialOnReceipt 
					From Items i
					LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID
					WHERE i.Deleted = 0 
				) it ON u.TenantCode = it.TenantCode AND u.ItemNumber = it.ItemNumber
				WHERE 
					U.DELETED = 0 AND ULDCurrentLocation = @ULDCurrentLocation AND U.TenantCode = @TenantCode;			
			END
			ELSE
			BEGIN

				INSERT INTO #TempStockTakeTaskTable (ULDID, ULDBarcode, ItemBarcode, ItemNumber, ItemName, UnitQuantity, TrackSerialOnReceipt, TradeUnit, ULDType)
				SELECT DISTINCT
					U.ULDID, 
					U.ULDBarcode,
					it.Barcode as ItemBarcode,
					it.ItemNumber,
					it.ItemName,
					it.UnitQuantity,
					it.TrackSerialOnReceipt,
					it.ItemType,
					U.ULDType 
				FROM 
					dbo.ULD U
				LEFT JOIN
				(
					SELECT i.ItemNumber, i.ItemName, i.TenantCode, iu.Barcode, iu.ItemType , iu.UnitQuantity , i.TrackSerialOnReceipt
					From Items i
					LEFT JOIN ItemTradeUnit iu ON iu.ItemID = i.ItemID
					WHERE i.Deleted = 0 
				) it ON u.TenantCode = it.TenantCode AND u.ItemNumber = it.ItemNumber
				WHERE 
					u.DELETED = 0 AND u.ULDCurrentLocation = @ULDCurrentLocation 
					AND u.TenantCode = @TenantCode AND u.ItemNumber = @ItemNumber;
			END

			SELECT 
				ULDID,
				ULDBarcode, 
				ItemBarcode,
				ItemNumber,
				ItemName,
				UnitQuantity,
				TrackSerialOnReceipt,
				TradeUnit,
				ULDType
			FROM #TempStockTakeTaskTable;

		END
		ELSE
		BEGIN
			SET @Message = 'There is no location for stock-taking.';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
