USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantSectionPermissionConfig_ViewTenantSectionPermissionConfigByID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Dec, 2025>
-- Description:	<Get detail information of Tenant Section Permission Config>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantSectionPermissionConfig_ViewTenantSectionPermissionConfigByID] 	
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20),
	@Permission VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;

	IF @WarehouseCode IS NULL
	BEGIN
		SELECT c.*
		FROM dbo.TenantSectionPermissionConfig AS c
		INNER JOIN dbo.TenantPermissionConfig AS pc
			ON pc.TenantPermissionConfigID = c.TenantPermissionConfigID
		WHERE pc.TenantCode = @TenantCode
		  AND pc.Permission = @Permission
		  AND pc.Deleted = 0
		  AND c.Deleted = 0;

	END
	ELSE
	BEGIN
		SELECT c.*
		FROM dbo.TenantSectionPermissionConfig AS c
		INNER JOIN dbo.TenantPermissionConfig AS pc
			ON pc.TenantPermissionConfigID = c.TenantPermissionConfigID
		WHERE pc.TenantCode = @TenantCode
		  AND pc.WarehouseCode = @WarehouseCode
		  AND pc.Permission = @Permission
		  AND pc.Deleted = 0
		  AND c.Deleted = 0;
	END
END
GO
