USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetAllNotificationEmailInfoTenants]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Get All Notification Email Info of Tenants>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetAllNotificationEmailInfoTenants] 
	@TenantCodes dbo.StringArray READONLY
AS
BEGIN

	SET NOCOUNT ON;
	
	SELECT 
		t.TenantCode, 
		t.NotificationName, 
		t.NotificationEmail
	FROM 
		dbo.Tenant t
	JOIN 
		@TenantCodes tc ON t.TenantCode = tc.[Value]
	WHERE 
		t.Deleted = 0;


END
GO
