USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_ViewULDContent]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <22 Jan 2025>
-- Description:	<View ULDContent>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_ViewULDContent] 
     @ULDID INT,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'SerialNumber',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	IF EXISTS(SELECT 1 FROM dbo.ULDLine WHERE ULDID = @ULDID AND Deleted = 0 AND SerialNumber Is NOT NULL)
	BEGIN

		DECLARE @BatchNumber VARCHAR(30);
		DECLARE @ExpiryDate VARCHAR(50);
		SELECT @BatchNumber = COALESCE(BatchNumber,'Not Recorded'), @ExpiryDate = ExpiryDate
		FROM dbo.ULD 		
		WHERE ULDID = @ULDID AND DELETED = 0;

		DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
		DECLARE @SQL NVARCHAR(MAX);

		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN

			-- Calculate total records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.ULDLine ul
			INNER JOIN (
				SELECT SerialNumber
				FROM dbo.ULDLine
				WHERE ULDID = @ULDID 
				  AND DELETED = 0
				GROUP BY SerialNumber
				HAVING SUM(TransactionQty) > 0
			) AS sn
			ON ul.SerialNumber = sn.SerialNumber
			WHERE ul.ULDID = @ULDID  AND ul.DELETED = 0;
			
			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);			

			SET @SQL = N'SELECT ul.ItemNumber, ul.ItemName, ''' + CAST(@BatchNumber AS NVARCHAR) + ''' AS BatchNumber, ul.SerialNumber, ' 
			          + CASE WHEN @ExpiryDate IS NULL THEN 'NULL' ELSE '''' + CAST(@ExpiryDate AS NVARCHAR) + '''' END + ' AS ExpiryDate, 
					  		 ul.TransactionQty as Quantity,
							 u.BatchNumber,
							 u.ExpiryDate
							 FROM dbo.ULDLine ul
							 INNER JOIN (
								SELECT SerialNumber
								FROM dbo.ULDLine
								WHERE ULDID = ' + CAST(@ULDID AS NVARCHAR) + ' 
									AND DELETED = 0
								GROUP BY SerialNumber
								HAVING SUM(TransactionQty) > 0
							 ) AS sn
							 ON ul.SerialNumber = sn.SerialNumber 
							 LEFT JOIN dbo.ULD u ON ul.ULDID = u.ULDID AND u.Deleted = 0
							 WHERE ul.DELETED = 0 AND ul.ULDID = ' + CAST(@ULDID AS NVARCHAR) + ' 
							 ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
							' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

						
		END
		ELSE
		BEGIN

			-- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.ULDLine ul
			INNER JOIN (
				SELECT SerialNumber
				FROM dbo.ULDLine
				WHERE ULDID = @ULDID  AND DELETED = 0
				GROUP BY SerialNumber
				HAVING SUM(TransactionQty) > 0
			) AS sn
			ON ul.SerialNumber = sn.SerialNumber
			LEFT JOIN dbo.ULD u ON ul.ULDID = u.ULDID AND u.Deleted = 0
			WHERE ul.ULDID = @ULDID AND ul.DELETED = 0
			AND (
				LOWER(ul.SerialNumber) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(u.BatchNumber) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(CONVERT(NVARCHAR, u.ExpiryDate, 103)) LIKE '%' + LOWER(@Search) + '%'
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT ul.ItemNumber, ul.ItemName, ''' 
					  + CAST(@BatchNumber AS NVARCHAR) + ''' AS BatchNumber, ul.SerialNumber, ' 
					  + CASE WHEN @ExpiryDate IS NULL THEN 'NULL' ELSE '''' + CAST(@ExpiryDate AS NVARCHAR) + '''' END + ' AS ExpiryDate, 
					     ul.TransactionQty as Quantity,
						 u.BatchNumber,
						 u.ExpiryDate 
						FROM dbo.ULDLine ul
						INNER JOIN (
							SELECT SerialNumber
							FROM dbo.ULDLine
							WHERE ULDID = ' + CAST(@ULDID AS NVARCHAR) + '  
								AND DELETED = 0
							GROUP BY SerialNumber
							HAVING SUM(TransactionQty) > 0
						) AS sn
						ON ul.SerialNumber = sn.SerialNumber 
						LEFT JOIN dbo.ULD u ON ul.ULDID = u.ULDID AND u.Deleted = 0
				        WHERE ul.DELETED = 0 AND ul.ULDID = ' + CAST(@ULDID AS NVARCHAR) + '  
				        AND (
							LOWER(ul.SerialNumber) LIKE ''%' + LOWER(@Search) + '%'' 
							OR LOWER(u.BatchNumber) LIKE ''%' + LOWER(@Search) + '%'' 
							OR LOWER(CONVERT(NVARCHAR, u.ExpiryDate, 103)) LIKE ''%' + LOWER(@Search) + '%''
						) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		END

		-- Execute the dynamic SQL
		EXEC sp_executesql @SQL;


	END
	ELSE
	BEGIN

		SELECT @TotalRecords = 1;
		SET @TotalPages = 1;

		SELECT ItemNumber, ItemName, COALESCE(BatchNumber,'Not Recorded') as BatchNumber, 'Not Recorded' as SerialNumber, 
		       ExpiryDate,
			   ISNULL(
				(
					SELECT SUM(ul.TransactionQty) 
					FROM dbo.ULDLine ul
					WHERE ul.ULDID = @ULDID  AND ul.DELETED = 0
				), 0) AS Quantity
		FROM dbo.ULD 		
		WHERE ULDID = @ULDID AND DELETED = 0;
	END
	
END
GO
