USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DashboardConfig_DeleteDashboardConfig]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Soft Delete DashboardConfig>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DashboardConfig_DeleteDashboardConfig] 
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20),
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF @WarehouseCode IS NULL
		BEGIN
			UPDATE dbo.DashboardConfig
			SET DELETED = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)				
			WHERE TenantCode = @TenantCode AND DELETED = 0;
		END
		ELSE
		BEGIN
			UPDATE dbo.DashboardConfig
			SET DELETED = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)				
			WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND DELETED = 0;
		END
	

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for TenantCode: ' + @TenantCode;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

        -- Print error message
        PRINT 'Error occurred while updating TenantCode: ' + @TenantCode;
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
