USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_ViewAPIntShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Get Int shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipment_ViewAPIntShipment]  
	@ShipmentID INT
AS
BEGIN
	SELECT AP_Label_URL AS LabelURL, *
	FROM dbo.AP_ShipmentINT 
	WHERE ShipmentID = @ShipmentID AND Deleted = 0;
END
GO
