USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_CP_createManifest]    Script Date: 3/2/2026 10:38:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CP_createManifest]
    @ManifestID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        [ManifestID],
        [TenantCode],
        [accountName],
        [contactName],
        [contractEmail],
        [readyDateTime],
        [consignmentCount],
        [totalItemCount],
        [totalWeight],
        [phoneNumber],
        [companyName],
       [address1],
        [address2],
        [address3],
        [suburb],
        [postcode]
        
    FROM dbo.CPManifest 
    WHERE ManifestID = @ManifestID;
END;
GO
