USE [3PLWMS_DEVELOPERS]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipmentItems_AddItems]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Add Box to Local AP Shipments>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_APShipmentItems_AddItems]  
	@ShipmentID INT,	
	@BoxNumber INT,
	@BoxWeight DECIMAL(10, 2) = 0,
	@BoxSize dbo.BoxSizeType READONLY,
	@Items dbo.OrderLineType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@NewShipmentItemID  INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN	
	
	SET NOCOUNT ON;

	DECLARE @StartedTran bit = 0;

	BEGIN TRY

		-- Start only if no ambient transaction
		IF @@TRANCOUNT = 0
		BEGIN
			SET @StartedTran = 1;
			BEGIN TRANSACTION;
		END       

		DECLARE @IntegrationID INT,	
				@ItemID INT,
				@ItemValue DECIMAL(10,2),
				@CarrierServiceID INT,				
				@InsuranceAmount DECIMAL(7,2),
				@IntegrationProductID VARCHAR(20),
				@ShipmentReference  VARCHAR(50),				
				@Article INT,
				@Carrier VARCHAR(500),
				@OrderSource VARCHAR(50),
				@OrderNumber VARCHAR(50),
				@SourceOrderNumber VARCHAR(50),
				@WarehouseCode  VARCHAR(10),
				@TenantCode VARCHAR(10),
				@AuthorityToLeave BIT,
				@AllowPartialDelivery BIT;

		DECLARE @Length Decimal(10,2),
				@Height Decimal(10,2),
				@Width Decimal(10,2),
				@Weight Decimal(10,2),				
				@ItemWeight Decimal(10,2);
			    
		--- get index
		SELECT @Article = COUNT(*)
		FROM dbo.AP_ShipmentItems
		WHERE ShipmentID = @ShipmentID AND Deleted = 0;
		SET @Article = @Article + 1;

		-- Calculate when having price
		SET @InsuranceAmount = 0;  

		-- get FulfilmentID
		SELECT @ShipmentReference = Shipment_Reference
		FROM dbo.AP_Shipment
		WHERE ShipmentID = @ShipmentID AND Deleted = 0;
		
		SELECT 
			@OrderNumber = LEFT(@ShipmentReference, CHARINDEX('-', @ShipmentReference) - 1),
			@SourceOrderNumber = SUBSTRING(@ShipmentReference, CHARINDEX('-', @ShipmentReference) + 1, LEN(@ShipmentReference));	

		SELECT  @TenantCode = TenantCode, 
				@WarehouseCode = WarehouseCode,
				@OrderSource = OrderSource,				
				@Carrier = Carrier
		FROM dbo.Fulfilment
		WHERE OrderNumber = @OrderNumber AND Deleted = 0;

		SELECT @IntegrationID = IntegrationID
		FROM dbo.APIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		IF @IntegrationID IS NOT NULL
		BEGIN
			IF @OrderSource = 'Manual'
			BEGIN
				SELECT @CarrierServiceID = CarrierServiceID
				FROM dbo.Orders
				WHERE order_number = @SourceOrderNumber AND Deleted = 0;
				
				SELECT 
					@IntegrationProductID = s.ProductID,					
					@AuthorityToLeave = s.AuthorityToLeave,	
					@AllowPartialDelivery = s.AllowPartialDelivery
				FROM dbo.AP_Service s
				WHERE s.ServiceID = @CarrierServiceID AND s.Deleted = 0;
					
			END
			ELSE  -- Not manual
			BEGIN
				SELECT 
					@IntegrationProductID = s.ProductID,					
					@AuthorityToLeave = s.AuthorityToLeave,	
					@AllowPartialDelivery = s.AllowPartialDelivery
				FROM dbo.APIntegrationLine l 
				LEFT JOIN dbo.AP_Service s ON s.ServiceID = l.ServiceID AND s.Deleted = 0
				where l.Deleted = 0 and l.IntegrationID = @IntegrationID 
						AND l.OrderType = @OrderSource
						AND l.OrderServiceName = @Carrier ;
			END
		END -- End @IntegrationID IS NOT NULL


		SET @InsuranceAmount = 0;
		SET @Length = 0;
		SET @Height = 0;
		SET @Width = 0;
		SET @Weight = 0;

		DECLARE @ItemNumber NVARCHAR(20),
				@ItemQty INT;

		DECLARE cur_Items CURSOR LOCAL FAST_FORWARD FOR
			SELECT OrderItemNumber, OrderQuantity
			FROM @Items;

		OPEN cur_Items;  

		FETCH NEXT FROM cur_Items INTO @ItemNumber, @ItemQty;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			SELECT @ItemID = ItemID
			FROM dbo.Items
			WHERE ItemNumber = @ItemNumber AND Deleted = 0 AND TenantCode = @TenantCode;

			SELECT @ItemWeight = ISNULL(Weight,0)
			FROM dbo.ItemTradeUnit
			WHERE ItemID = @ItemID 
				AND ItemType = 'Unit'
				AND Deleted = 0;
		
			SET @Weight = @Weight + (@ItemQty * @ItemWeight);


			SELECT @ItemValue = ISNULL(ItemPrice, 0)
			FROM dbo.Items
			WHERE ItemID = @ItemID AND Deleted = 0;

			SET @ItemValue = @ItemQty * @ItemValue;
			SET @InsuranceAmount = @InsuranceAmount + @ItemValue;

			FETCH NEXT FROM cur_Items INTO @ItemNumber, @ItemQty;
		END;

		CLOSE cur_Items;
		DEALLOCATE cur_Items;

		-- Add box weight
		SET @Weight = @Weight + @BoxWeight;
		
		SELECT 
			@Length = CEILING(ISNULL(Length, 0) / 10.0),
			@Height = CEILING(ISNULL(Height, 0) / 10.0),
			@Width  = CEILING(ISNULL(Width, 0) / 10.0)
		FROM @BoxSize;
		
		INSERT INTO dbo.AP_ShipmentItems
		(
			ShipmentID,
			item_Reference,
			product_id,
			Length,
			Height,
			Width,
			Weight,
			authority_to_leave,
			allow_partial_delivery,
			Article,
			InsuranceAmount,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES( 
			@ShipmentID,			
			@ShipmentReference,
			@IntegrationProductID,
			CAST(CAST(@Length AS INT) AS VARCHAR(20)),
			CAST(CAST(@Height AS INT) AS VARCHAR(20)),
			CAST(CAST(@Width  AS INT) AS VARCHAR(20)),
			CAST(@Weight AS varchar(20)),
			@AuthorityToLeave,
			@AllowPartialDelivery,
			@BoxNumber,
			@InsuranceAmount,
			0,                    
			@CreatedDateTime,
			@CreatedBy 
		);

		SET @NewShipmentItemID = SCOPE_IDENTITY();

		-- Commit the transaction
		IF @StartedTran = 1
            COMMIT TRANSACTION;       

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
			IF @StartedTran = 1
				ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
