USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_WaveLine_UpdateOrdersStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2025>
-- Description:	<Update WaveLine Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_WaveLine_UpdateOrdersStatus] 
	@Operation VARCHAR(20),  -- Picking Sorting Packing Mailing
	@Orders dbo.ParameterArray READONLY,  -- FOrderNUmber AND Status
	@OperationDateTime DATETIME,
	@OperationBy VARCHAR(100),
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY		

		BEGIN TRANSACTION

		DECLARE @WaveID INT,
				@NumberOfOrders INT,
				@FOrderNumber VARCHAR(50),
				@Status VARCHAR(20);


		SELECT @NumberOfOrders = COUNT(*) FROM @Orders WHERE [Value] <> 'Failed';

		DECLARE order_cursor CURSOR LOCAL FAST_FORWARD FOR
			SELECT [Name], [Value]
			FROM @Orders;

		OPEN order_cursor;

		FETCH NEXT FROM order_cursor INTO @FOrderNumber, @Status;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			IF @WaveID IS NULL
			BEGIN
				SELECT @WaveID = w.WaveID  
				FROM dbo.Fulfilment f
				JOIN  dbo.WaveLine w ON w.OrderNumber = f.OrderNumber
				WHERE f.OrderNumber = @FOrderNumber;
			END
			
			IF @Status = 'Failed'
			BEGIN
				UPDATE dbo.Fulfilment
				SET 
					FulfilmentStatus = 'Error',
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE OrderNumber = @FOrderNumber;

				IF @Operation = 'Picking'
				BEGIN
					UPDATE dbo.WaveLine
					SET 
						PickStatus = 'Error',
						SortStatus = NULL,
						PackStatus = NULL,
						FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
					WHERE OrderNumber = @FOrderNumber;
				END
				ELSE IF @Operation = 'Sorting'
				BEGIN			
					UPDATE dbo.WaveLine
					SET 
						SortStatus = 'Error',						
						PackStatus = NULL,
						FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
					WHERE OrderNumber = @FOrderNumber;

				END IF @Operation = 'Packing'
				BEGIN
					UPDATE dbo.WaveLine
					SET 
						PackStatus = 'Error',						
						FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
					WHERE OrderNumber = @FOrderNumber;
				END
			END

			FETCH NEXT FROM order_cursor INTO @FOrderNumber, @Status;
		END;

		CLOSE order_cursor;
		DEALLOCATE order_cursor;


		--Update Number of Orders
		/*IF @WaveID IS NOT NULL
		BEGIN
			UPDATE dbo.Wave
			SET 
				NumberOfOrders = @NumberOfOrders,
				FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
			WHERE WaveID = @WaveID;
		END*/

		-- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
