USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocShelf_ListAllShelvesByColumnId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get Shelf by ColumnId>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocShelf_ListAllShelvesByColumnId] @LocColumnID INT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @StorageType VARCHAR(50);
	DECLARE @SBinType VARCHAR(50);

	SELECT
	   TOP 1 @StorageType = ls.StorageType 
	FROM
	   dbo.LocSection ls 
	   INNER JOIN dbo.LocRow lr ON ls.LocSectionID = lr.LocSectionID AND lr.DELETED = 0 
	   INNER JOIN dbo.LocColumn lc ON lr.LocRowID = lc.LocRowID AND lc.DELETED = 0 AND lc.LocColumnID = @LocColumnID;

	SELECT
	   TOP 1 @SBinType = lsb.SBinType 
	FROM
	   dbo.LocSBin lsb 
	   INNER JOIN dbo.LocBin lb ON lb.LocBinID = lsb.LocBinID AND lb.DELETED = 0 
	   INNER JOIN dbo.LocShelf ls ON ls.LocShelfID = lb.LocShelfID AND ls.DELETED = 0 
	WHERE
	   ls.LocColumnID = @LocColumnID AND ls.DELETED = 0;

	IF @StorageType = 'PickFace'
	BEGIN
		SELECT A.*, 
			   @StorageType AS StorageType,
			   @SBinType AS SBinType,
			   COALESCE(bta.TenantName, 'N/A') as AllocationStatus,
			   COALESCE(B.BinCount, 0) AS TotalBin,
			   COALESCE(C.SBinCount, 0) AS TotalSBin,
			   COALESCE(D.TotalULD, 0) AS TotalULD,
			   COALESCE(D.UsedSBin, 0) AS UsedSBin
		FROM 
		(
			SELECT * FROM dbo.LocShelf ls WHERE ls.LocColumnID = @LocColumnID AND ls.DELETED = 0
		) A
		LEFT JOIN dbo.BayTenantAllocation bta ON A.LocColumnID = bta.ColumnID AND bta.Deleted = 0 	
		LEFT JOIN 
		(
			SELECT LocShelfID, COUNT(LocBinID) AS BinCount
			FROM dbo.LocBin WHERE Deleted = 0 GROUP BY LocShelfID
		) B ON A.LocShelfID = B.LocShelfID
		LEFT JOIN 
		(
			SELECT lb.LocShelfID, COUNT(lsb.LocSBinID) AS SBinCount
			FROM dbo.LocBin lb
			LEFT JOIN dbo.LocSBin lsb ON lb.LocBinID = lsb.LocBinID AND lsb.Deleted = 0
			WHERE lb.Deleted = 0
			GROUP BY lb.LocShelfID
		) C ON A.LocShelfID = C.LocShelfID
		LEFT JOIN (
			SELECT U.LocShelfID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.LocShelfID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocShelfID
		) D ON A.LocShelfID = D.LocShelfID;
	END
	ELSE IF @StorageType = 'PerfectPick'
	BEGIN
		SELECT A.*, 
			   @StorageType AS StorageType,
			   @SBinType AS SBinType,
			   COALESCE(bta.AllocationCount, 0) AS AllocationCount,
			   COALESCE(B.BinCount, 0) AS TotalBin,
			   COALESCE(C.SBinCount, 0) AS TotalSBin,
			   COALESCE(D.TotalULD, 0) AS TotalULD,
			   COALESCE(D.UsedSBin, 0) AS UsedSBin
		FROM 
		(
			SELECT * FROM dbo.LocShelf ls WHERE ls.LocColumnID = @LocColumnID AND ls.DELETED = 0
		) A
		LEFT JOIN (
			SELECT ShelfId, COUNT(ShelfId) AS AllocationCount
			FROM dbo.BinTenantAllocation WHERE Deleted = 0
			GROUP BY ShelfId
		) bta ON A.LocShelfId = bta.ShelfId
		LEFT JOIN 
		(
			SELECT LocShelfID, COUNT(LocBinID) AS BinCount
			FROM dbo.LocBin WHERE Deleted = 0 GROUP BY LocShelfID
		) B ON A.LocShelfID = B.LocShelfID
		LEFT JOIN 
		(
			SELECT lb.LocShelfID, COUNT(lsb.LocSBinID) AS SBinCount
			FROM dbo.LocBin lb
			LEFT JOIN dbo.LocSBin lsb ON lb.LocBinID = lsb.LocBinID AND lsb.Deleted = 0
			WHERE lb.Deleted = 0
			GROUP BY lb.LocShelfID
		) C ON A.LocShelfID = C.LocShelfID
		LEFT JOIN (
			SELECT U.LocShelfID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.LocShelfID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocShelfID
		) D ON A.LocShelfID = D.LocShelfID;
	END
	ELSE
	BEGIN
		SELECT A.*, 
			   @StorageType AS StorageType,
			   @SBinType AS SBinType,
			   'N/A' as AllocationStatus,
			   COALESCE(B.BinCount, 0) AS TotalBin,
			   COALESCE(C.SBinCount, 0) AS TotalSBin,
			   COALESCE(D.TotalULD, 0) AS TotalULD,
			   COALESCE(D.UsedSBin, 0) AS UsedSBin
		FROM 
		(
			SELECT * FROM dbo.LocShelf ls WHERE ls.LocColumnID = @LocColumnID AND ls.DELETED = 0
		) A
		LEFT JOIN 
		(
			SELECT LocShelfID, COUNT(LocBinID) AS BinCount
			FROM dbo.LocBin WHERE Deleted = 0 GROUP BY LocShelfID
		) B ON A.LocShelfID = B.LocShelfID
		LEFT JOIN 
		(
			SELECT lb.LocShelfID, COUNT(lsb.LocSBinID) AS SBinCount
			FROM dbo.LocBin lb
			LEFT JOIN dbo.LocSBin lsb ON lb.LocBinID = lsb.LocBinID AND lsb.Deleted = 0
			WHERE lb.Deleted = 0
			GROUP BY lb.LocShelfID
		) C ON A.LocShelfID = C.LocShelfID
		LEFT JOIN (
			SELECT U.LocShelfID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.LocShelfID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocShelfID
		) D ON A.LocShelfID = D.LocShelfID;
	END
	
END
GO
