USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_InsertManualAPLocalShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Insert Manual Local AP Shipments>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipment_InsertManualAPLocalShipment]  
	@BoxSize dbo.BoxSizeType READONLY, --how many box to add new 	
	@NewShipmentItems dbo.OrderLineType READONLY, -- use [OrderNumber] as Box Number. if @NewBoxSizes has 2 rows, so @NewShipmentItems have [OrderNumber] = 1 or 2
	@WarehouseCode  VARCHAR(10),
	@SrcShipment VARCHAR(100) = NULL,
	@TenantCode VARCHAR(10),
	@ChargeTenantCode VARCHAR(10) = NULL,
	@Comment VARCHAR(1000) = NULL,
	@ContactEmail			  VARCHAR(200) = NULL,
	@Phone					  VARCHAR(70)  = NULL,
	@ShippingAddressName      VARCHAR(100)  = NULL,
	@ShippingAddressCompany   VARCHAR(300)  = NULL,
	@ShippingAddressAddress1  VARCHAR(300)  = NULL,
	@ShippingAddressAddress2  VARCHAR(300)  = NULL,
	@ShippingAddressCity      VARCHAR(150)  = NULL,
	@ShippingAddressProvince  VARCHAR(150)  = NULL,
	@ShippingAddressZip       VARCHAR(20)  = NULL,
	@ShippingAddressCountry   VARCHAR(50) = NULL,
	@CarrierID INT,
	@ServiceName  VARCHAR(200),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@AccountNumber NVARCHAR(50) OUTPUT,
	@Token NCHAR(100) OUTPUT,
	@NewShipmentID  INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;	

	BEGIN TRY

        BEGIN TRANSACTION;    		

		DECLARE @Carrier VARCHAR(500),				
				@MLID VARCHAR(50),
				@ImportReferenceNumber VARCHAR(50),
				@ExportDeclarationNumber VARCHAR(50),
				@IntegrationProductID VARCHAR(20),
				@OrderSource VARCHAR(50),
				@AuthorityToLeave BIT = 0,
				@AllowPartialDelivery BIT = 0;

		
		DECLARE 			
			@Shipment_Reference      VARCHAR(50),
			@Shipment_Reference_1    VARCHAR(50),
			@Shipment_Reference_2    VARCHAR(50),
			@email_tracking_enabled  BIT,
			@from_Name               VARCHAR(50),
			@from_Business_Name      VARCHAR(50),
			@from_Addressline1       VARCHAR(50),
			@from_Addressline2       VARCHAR(50),
			@from_Suburb             VARCHAR(20),
			@from_State              VARCHAR(20),
			@from_Postcode           VARCHAR(20),
			@from_Phone              VARCHAR(20),
			@from_Email              VARCHAR(150),
			@to_Name                 VARCHAR(50),
			@to_business_Name        VARCHAR(50),
			@to_Addressline1         VARCHAR(50),
			@to_Addressline2         VARCHAR(50),
			@to_Suburb               VARCHAR(20),
			@to_State                VARCHAR(20),
			@to_Country				 VARCHAR(20),
			@to_Postcode             VARCHAR(20),
			@to_phone                VARCHAR(20),
			@to_email                VARCHAR(150),	
			@NewShipmentItemID		 INT;


		SET @Carrier = @ServiceName;
		SET @to_Name = @ShippingAddressName;
		SET @to_business_Name = @ShippingAddressCompany;
		SET @to_Addressline1 = @ShippingAddressAddress1;
		SET @to_Addressline2 = @ShippingAddressAddress2;
		SET @to_Suburb = @ShippingAddressCity;
		SET @to_State = @ShippingAddressProvince;
		SET @to_Postcode = @ShippingAddressZip;			  
		SET @to_phone = @Phone;
		SET @to_email = @ContactEmail;

		SELECT @MLID = MLID, 
			   @ImportReferenceNumber = ImportReferenceNumber, 
			   @ExportDeclarationNumber = ExportDeclarationNumber,
			   @AccountNumber = AccountNumber, 
			   @Token = Token
		FROM dbo.APIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		-- Get next sequence value
		DECLARE @ShipmentOrderID INT;
		SET @ShipmentOrderID = NEXT VALUE FOR dbo.ShipmentNumberSequence;		

		SET @email_tracking_enabled = 1;
		SET @Shipment_Reference = N'MS-' + CAST(@ShipmentOrderID AS VARCHAR(21));
		SET @Shipment_Reference_1 = @TenantCode;

		-- get Tenant name
		SELECT @from_Name = TenantName
		FROM dbo.Tenant
		WHERE TenantCode = @TenantCode AND Deleted = 0;

		-- get data from warehouse
		SELECT 												
			@from_Addressline1 = WAddressLine1,
			@from_Addressline2 = WAddressLine2,
			@from_Suburb = WSuburb,
			@from_State = WState,
			@from_Postcode = WPostcode,
			@from_Phone = Phone,
			@from_Email = Email
		FROM LocWarehouse
		WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

		SELECT 
			@IntegrationProductID = s.ProductID,			
			@AuthorityToLeave = s.AuthorityToLeave,	
			@AllowPartialDelivery = s.AllowPartialDelivery
		FROM dbo.AP_Service s
		WHERE s.ServiceName = @ServiceName AND s.Deleted = 0;


		IF LEN(@to_Addressline1) > 40
		BEGIN
			DECLARE @SplitPos INT;

			-- Find the last space within the first 40 characters
			SET @SplitPos = LEN(LEFT(@to_Addressline1, 40)) 
						  - CHARINDEX(' ', REVERSE(LEFT(@to_Addressline1, 40))) + 1;

			-- If no space found (CHARINDEX = 0), just cut at 40
			IF @SplitPos <= 0 OR @SplitPos > 40
				SET @SplitPos = 40;

			-- Assign line1 and line2
			SET @to_Addressline2 = ISNULL(@to_Addressline2, '') 
								 + LTRIM(SUBSTRING(@to_Addressline1, @SplitPos + 1, 60));

			SET @to_Addressline1 = LEFT(@to_Addressline1, @SplitPos);
		END	
				
				
		INSERT INTO dbo.AP_Shipment
		(
			ServiceName,
			Shipment_Reference,
			Shipment_Reference_1,
			Shipment_Reference_2,
			email_tracking_enabled,
			from_Name,
			from_Business_Name,
			from_Addressline1,
			from_Addressline2,
			from_Suburb,
			from_State,
			from_Postcode,
			from_Phone,
			from_Email,
			to_Name,
			to_business_Name,
			to_Addressline1,
			to_Addressline2,
			to_Suburb,
			to_State,
			to_Postcode,
			to_phone,
			to_email,
			TenantMLID,
			WarehouseCode,
			TenantCode,
			ManualShipmentStatus,
			AlterTenantCode,
			ManualInvoiceComment,
			SourceShipment,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@ServiceName, 
			@Shipment_Reference,
			@Shipment_Reference_1,
			@Shipment_Reference_2,
			@email_tracking_enabled, --
			@from_Name, --
			@from_Business_Name,--
			@from_Addressline1,--
			@from_Addressline2,--
			@from_Suburb,--
			@from_State,--
			@from_Postcode,--
			@from_Phone,--
			@from_Email,--
			@to_Name,--
			@to_business_Name,--
			@to_Addressline1,--
			@to_Addressline2,--
			@to_Suburb,--
			@to_State,--
			@to_Postcode,--
			@to_phone,--
			@to_email,--
			@MLID,--
			@WarehouseCode,
			@TenantCode, --
			'Pending',
			@ChargeTenantCode,
			@Comment,
			@SrcShipment,
			0, --
			@CreatedDateTime, --
			@CreatedBy --
		);

		SET @NewShipmentID = SCOPE_IDENTITY();

		
		-- Insert box to AP_ShipmentItems

		DECLARE @BoxWeight dbo.BoxWeightType;
		DECLARE @BoxValue dbo.BoxValueType;

		DECLARE @InsuranceAmount DECIMAL(10,2),						
				@ShipmentReference  VARCHAR(50),			
				@ItemValue DECIMAL(10,2),				
				@Weight Decimal(10,2),						
				@ItemWeight Decimal(10,2);

		DECLARE @Quantity INT, 
			    @ItemID INT,
				@BoxNumberInt INT,
				@BoxNumber VARCHAR(50);			

		SET @InsuranceAmount = 0;			
		SET @Weight = 0;

		DECLARE fulfilment_cursor CURSOR LOCAL FAST_FORWARD FOR
		SELECT OrderNumber,OrderQuantity , ItemID
		FROM @NewShipmentItems;
			
		OPEN fulfilment_cursor;

		FETCH NEXT FROM fulfilment_cursor 
		INTO  @BoxNumber, @Quantity, @ItemID;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			-- get weight
			SELECT @ItemWeight = ISNULL(Weight,0)
			FROM dbo.ItemTradeUnit
			WHERE ItemID = @ItemID 
				AND ItemType = 'Unit'
				AND Deleted = 0;

			SELECT @ItemValue = ISNULL(ItemPrice, 0)
			FROM dbo.Items
			WHERE ItemID = @ItemID AND Deleted = 0;

			SET @ItemValue = @Quantity * @ItemValue;
			SET @InsuranceAmount = @InsuranceAmount + @ItemValue;
					
			SET @Weight = @Quantity * @ItemWeight;

			SET @BoxNumberInt = TRY_CONVERT(INT, @BoxNumber);
			-- set weight
			IF EXISTS (SELECT 1 FROM @BoxWeight WHERE [Number] = @BoxNumberInt)
			BEGIN
				UPDATE @BoxWeight
				SET [Weight] = [Weight] + @Weight
				WHERE [Number] = @BoxNumberInt;
			END
			ELSE
			BEGIN
				INSERT INTO @BoxWeight ([Number], [Weight])
				VALUES (@BoxNumberInt, @Weight);
			END;

			-- set value
			IF EXISTS (SELECT 1 FROM @BoxValue WHERE [Number] = @BoxNumberInt)
			BEGIN
				UPDATE @BoxValue
				SET [Value] = [Value] + @InsuranceAmount
				WHERE [Number] = @BoxNumberInt;
			END
			ELSE
			BEGIN
				INSERT INTO @BoxValue ([Number], [Value])
				VALUES (@BoxNumberInt, @InsuranceAmount);
			END;

			-- Next row
			FETCH NEXT FROM fulfilment_cursor 
			INTO  @BoxNumber, @Quantity, @ItemID;
		END

		CLOSE fulfilment_cursor;
		DEALLOCATE fulfilment_cursor;

		DECLARE @BoxLength DECIMAL(10,2),
			@BoxHeight DECIMAL(10,2),
            @BoxWidth  DECIMAL(10,2),
			@Count INT;

		SET @Count = 1;

		DECLARE box_cursor CURSOR FOR
		SELECT [Length], [Height], [Width]
		FROM @BoxSize;  

		OPEN box_cursor;

		FETCH NEXT FROM box_cursor INTO @BoxLength, @BoxHeight, @BoxWidth;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			 
			--convert to cm
			SET	@BoxLength = CEILING(ISNULL(@BoxLength, 0) / 10.0);
			SET	@BoxHeight = CEILING(ISNULL(@BoxHeight, 0) / 10.0);
			SET	@BoxWidth  = CEILING(ISNULL(@BoxWidth, 0) / 10.0);		
			
			SELECT @Weight = [Weight] FROM @BoxWeight WHERE [Number] = @Count;
			SELECT @InsuranceAmount = [Value] FROM @BoxValue WHERE [Number] = @Count;

			INSERT INTO dbo.AP_ShipmentItems
			(
				ShipmentID,
				item_Reference,
				product_id,
				Length,
				Height,
				Width,
				Weight,
				authority_to_leave,
				allow_partial_delivery,
				Article,
				InsuranceAmount,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( 
				@NewShipmentID,			
				@Shipment_Reference,
				@IntegrationProductID,
				CAST(CAST(@BoxLength AS INT) AS VARCHAR(20)),
				CAST(CAST(@BoxHeight AS INT) AS VARCHAR(20)),
				CAST(CAST(@BoxWidth  AS INT) AS VARCHAR(20)),
				CAST(@Weight AS VARCHAR(20)),
				@AuthorityToLeave,
				@AllowPartialDelivery,
				@Count,
				@InsuranceAmount,
				0,                    
				@CreatedDateTime,
				@CreatedBy 
			);

			SET @Count = @Count + 1;

			FETCH NEXT FROM box_cursor INTO @BoxLength, @BoxHeight, @BoxWidth;
		END

		CLOSE box_cursor;
		DEALLOCATE box_cursor;

		-- Commit the transaction     
		COMMIT TRANSACTION;   
               

    END TRY
    BEGIN CATCH
        -- Handle the error
       IF @@TRANCOUNT > 0
        BEGIN
			ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
