USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_GetStockOnHandOfTenantItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 Mar, 2025>
-- Description:	<Get Stock of Item tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_GetStockOnHandOfTenantItem] 
	@TenantCode VARCHAR(20),
	@WarehouseCode VARCHAR(20) = NULL,  
	@ItemNumber VARCHAR(30)
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;
 
	SELECT 		
		U.WarehouseCode, LW.WarehouseName, SUM(UL.TransactionQty) AS TotalTransactionQty
	FROM dbo.ULD U 
	INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
	LEFT JOIN dbo.LocWarehouse LW ON LW.WarehouseCode = U.WarehouseCode AND LW.Deleted = 0
	WHERE U.TenantCode = @TenantCode
		AND U.DELETED = 0
		AND UL.DELETED = 0
		AND (@WarehouseCode IS NULL OR U.WarehouseCode = @WarehouseCode)
		AND U.ItemNumber = @ItemNumber
		AND U.HoldStatus IS NULL 
		AND U.Status <> 'Draft' AND U.Status <> 'InActive'  AND U.Status <> 'Locked'
		AND UL.TransactionType  <> 'Allocated'
	GROUP BY U.ItemNumber, U.TenantCode, U.WarehouseCode, LW.WarehouseName
	HAVING SUM(UL.TransactionQty) > 0
  
END
GO
