USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_GetNextLocationForPicking]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Jul, 2025>
-- Description:	<Get Next Location for Picking>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_GetNextLocationForPicking]  
    @PickingScheduleID INT,
	@Qty INT,
	@WaveID INT = NULL,	
	@OperationDateTime  DATETIME = NULL,
	@OperationBy       VARCHAR(100) = NULL,
	@NewULDID INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	 BEGIN TRY		

		BEGIN TRANSACTION

		DECLARE @WaveNumber VARCHAR(50),
				@PickingType VARCHAR(50),
				@ULDCurrentLocation VARCHAR(50),
				@ItemID INT,
				@FulfilmentType VARCHAR(20),
				@FulfilmentOrder VARCHAR(50),
				@OrderNumber VARCHAR(50),
				@ItemName VARCHAR(250),
				@ItemNumber VARCHAR(30);

		DECLARE @CurULDID INT;

		-- GET PIcking type
		SELECT @PickingType = PickingType,
			   @WaveNumber = WaveNumber
		FROM dbo.Wave
		WHERE WaveID = @WaveID

		SELECT @ULDCurrentLocation = ULDCurrentLocation,
			   @ItemID = ItemID,
			   @FulfilmentType = FulfilmentType,
			   @FulfilmentOrder = FulfilmentOrder,
			   @OrderNumber = OrderNumber,
			   @ItemName = ItemName,
			   @ItemNumber = ItemNumber,
			   @CurULDID = ULDID
		FROM dbo.PickingSchedule 
		WHERE PickingScheduleID = @PickingScheduleID;

		DECLARE 
				@TemporaryLocation BIT,
				@LocationFound BIT,			
				@LocBinID INT,
				@LocShelfID INT,
				@LocColumnID INT,
				@LocRowID INT,
				@LocSectionID INT,
				@LocAreaID INT,
				@LocWarehouseID INT,
				@LocWarehouseCode VARCHAR(1),
				@LocAreaCode VARCHAR(1),
				@LocSectionCode VARCHAR(3),
				@LocRowCode VARCHAR(4),
				@LocColumnCode VARCHAR(6),
				@LocBinCode VARCHAR(7),
				@LocSBinCode VARCHAR(7),
				@LocTempCode VARCHAR(33),
				@WarehouseName VARCHAR(200),
				@AreaName    VARCHAR(200),
				@SectionName VARCHAR(200),
				@RowName     VARCHAR(200),
				@ColumnName  VARCHAR(200),
				@BinName     VARCHAR(200),
				@StorageType VARCHAR(50);

		EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
			@LocationCode = @ULDCurrentLocation,
			@LocationFound = @LocationFound OUTPUT,
			@TemporaryLocation = @TemporaryLocation OUTPUT,
			@LocSBinID = NULL,
			@LocBinID = @LocBinID OUTPUT,
			@LocShelfID = @LocShelfID OUTPUT,
			@LocColumnID = @LocColumnID OUTPUT,
			@LocRowID = @LocRowID OUTPUT,
			@LocSectionID = @LocSectionID OUTPUT,
			@LocAreaID = @LocAreaID OUTPUT,
			@LocWarehouseID = @LocWarehouseID OUTPUT,
			@LocWarehouseCode = @LocWarehouseCode OUTPUT,
			@LocAreaCode = @LocAreaCode OUTPUT,
			@LocSectionCode = @LocSectionCode OUTPUT,
			@LocRowCode = @LocRowCode OUTPUT,
			@LocColumnCode = @LocColumnCode OUTPUT,
			@LocShelfCode = NULL,
			@LocBinCode = @LocBinCode OUTPUT,
			@LocTempCode = @LocTempCode OUTPUT,
			@LocSBinCode = @LocSBinCode OUTPUT,
			@LocWarehouseName = @WarehouseName OUTPUT,
			@LocAreaName = @AreaName OUTPUT,
			@LocSectionName = @SectionName OUTPUT,
			@LocRowName = @RowName OUTPUT,
			@LocColumnName = @ColumnName OUTPUT,
			@LocBinName = @BinName OUTPUT,
			@StorageType = @StorageType OUTPUT;

		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @TenantCode VARCHAR(10);
		DECLARE @PickingCondition VARCHAR(100);		

		IF @FulfilmentType = 'Kitting'
		BEGIN
			SELECT @WarehouseCode = WarehouseCode,
				   @TenantCode = TenantCode
			FROM dbo.Service
			WHERE ServiceNumber = @FulfilmentOrder AND Deleted = 0;
		END
		ELSE 
		BEGIN
			SELECT @WarehouseCode = WarehouseCode,
				   @TenantCode = TenantCode
			FROM dbo.PickingSchedule
			WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;

			IF @PickingType <> 'PickToOrder'
			BEGIN
				SELECT @TenantCode = TenantCode
				FROM dbo.ULD
				WHERE ULDID = @CurULDID AND Deleted = 0;
			END
		END

		
		SELECT @PickingCondition = PickingCondition
		FROM Items WHERE ItemID = @ItemID AND Deleted = 0;

		CREATE TABLE #TempItemULDTable (		
			ULDID INT NOT NULL,
			ULDBarcode VARCHAR(30) NOT NULL,
			ULDCurrentLocation VARCHAR(50) NULL,
			LocationOrderNumber VARCHAR(200) NULL,
			LocColumnID INT NULL,
			LocShelfID INT NULL,
			LocBinID INT NULL,
			LocSBinID INT NULL,
			ULDType VARCHAR(30) NULL,
			TenantCode VARCHAR(10) NULL,
			WarehouseCode VARCHAR(20) NULL,
			HoldStatus VARCHAR(20) NULL,
			CurrentZone VARCHAR(20) NULL,
			Status VARCHAR(20) NULL,
			ItemNumber VARCHAR(30) NULL,
			ItemName VARCHAR(250) NULL,
			ExpiryDate DATETIME NULL,
			BatchNumber VARCHAR(30) NULL,
			CreatedDateTime DATETIME NULL,
			TotalQty INT NULL
		);

		-- create temp table
		CREATE TABLE #TempULDTable (
			RowNum INT NOT NULL,
			ULDID INT NOT NULL,
			ULDBarcode VARCHAR(30) NOT NULL,
			ULDCurrentLocation VARCHAR(50) NULL,
			LocationOrderNumber VARCHAR(200) NULL,
			LocColumnID INT NULL,
			LocShelfID INT NULL,
			LocBinID INT NULL,
			LocSBinID INT NULL,
			ULDType VARCHAR(30) NULL,
			TenantCode VARCHAR(10) NULL,
			WarehouseCode VARCHAR(20) NULL,
			HoldStatus VARCHAR(20) NULL,
			CurrentZone VARCHAR(20) NULL,
			Status VARCHAR(20) NULL,
			ItemNumber VARCHAR(30) NULL,
			ItemName VARCHAR(250) NULL,
			ExpiryDate DATETIME NULL,
			BatchNumber VARCHAR(30) NULL,
			CreatedDateTime DATETIME NULL,
			TotalQty INT NULL
		);


		INSERT INTO #TempItemULDTable (
				ULDID,
				ULDBarcode,
				ULDCurrentLocation,	
				LocationOrderNumber,
				LocColumnID,
				LocShelfID,
				LocBinID,
				LocSBinID,
				ULDType,
				TenantCode,
				WarehouseCode,
				HoldStatus,
				CurrentZone,
				Status,
				ItemNumber,
				ItemName,
				ExpiryDate,
				BatchNumber,
				CreatedDateTime,
				TotalQty
		)
		EXEC [dbo].[SP_VI_TBL_ULD_GetULDsHavingStockOfTenantAtWarehouse] 
			@TenantCode = @TenantCode,
			@WarehouseCode = @WarehouseCode,
			@ItemNumber = @ItemNumber,
			@PickingCondition = @PickingCondition,
			@CountOnHold = 0;

		DECLARE @NormalizedCondition VARCHAR(100);
		SET @NormalizedCondition = REPLACE(REPLACE(@PickingCondition, '-', ''), ' ', '');		

		IF @NormalizedCondition  IS NULL OR @NormalizedCondition = '' OR  @NormalizedCondition = 'None'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,		
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY LocationOrderNumber ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY LocationOrderNumber ASC;
		END
		ELSE IF @NormalizedCondition = 'FirstInFirstOut'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,		
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY CreatedDateTime ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY CreatedDateTime ASC;
		END
		ELSE IF @NormalizedCondition = 'LastInFirstOut'
		BEGIN		
			
			INSERT INTO #TempULDTable (	
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY CreatedDateTime DESC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY CreatedDateTime DESC;
		END		
		ELSE IF @NormalizedCondition = 'FirstExpiryFirstOut'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY ExpiryDate ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY ExpiryDate ASC;
		END
		/*ELSE
		BEGIN
			PRINT @NormalizedCondition;
		END*/
		
		DELETE FROM #TempItemULDTable;


		DECLARE 
		    @Found BIT,
			@ULDID INT,
			@ColumnID INT,
			@ShelfID INT,
			@BinID INT,
			@RowID INT,
			@SectionID INT,
			@AreaID  INT,
			@WarehouseID INT,
			@ULDCurrentLoc VARCHAR(100),
			@ULDBarcode VARCHAR(30),
			@TotalQty INT;

		-- Init cursor
		DECLARE ULD_Cursor CURSOR LOCAL FAST_FORWARD FOR
			SELECT 
				ULDID,
				ULDBarcode,
				LocColumnID,
				LocShelfID,
				LocBinID,
				ULDCurrentLocation,
				TotalQty			
			FROM #TempULDTable
			WHERE TotalQty >= @Qty
			ORDER BY ULDCurrentLocation; 


		OPEN ULD_Cursor;

		FETCH NEXT FROM ULD_Cursor INTO 
			@ULDID,	
			@ULDBarcode,
			@ColumnID,
			@ShelfID,
			@BinID,
			@ULDCurrentLoc,	
			@TotalQty;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			
			IF @CurULDID <> @ULDID		--- @ULDCurrentLocation <> @ULDCurrentLoc  -- Not get current ULD of this Picking Schedule
			BEGIN
					-- Init---
				SET @Found = 0;
				SET @LocationFound = 0;

				IF @TemporaryLocation = 1 -- source is temporary location so get the first one
				BEGIN
					SET @Found = 1;
					GOTO ExitCursorLoop;
				END
		
				-- Check temp location
				EXEC [dbo].[SP_VI_TBL_LocTempLocation_CheckLocationAvailable]
					 @LocationCode = @ULDCurrentLoc,         
					 @LocationFound = @LocationFound OUTPUT,
					 @LocationLabel = NULL,
					 @IsEmpty = NULL;

				IF @LocationFound = 1
				BEGIN
					SET @Found = 1;
					GOTO ExitCursorLoop;
				END
				ELSE
				BEGIN
					-- Get info
					SELECT @RowID = LocRowID from LocColumn WHERE LocColumnID = @ColumnID AND Deleted = 0;
					SELECT @SectionID = LocSectionID from LocRow WHERE LocRowID = @RowID AND Deleted = 0;
					SELECT @AreaID = LocAreaID from LocSection WHERE LocSectionID = @SectionID AND Deleted = 0;
					SELECT @WarehouseID = LocWarehouseID from LocArea WHERE LocAreaID = @AreaID AND Deleted = 0;
			
					--- check
					IF @BinID = @LocBinID
					BEGIN
						SET @Found = 1;
						GOTO ExitCursorLoop;
					END
					ELSE IF @ShelfID = @LocShelfID
					BEGIN
						SET @Found = 1;
						GOTO ExitCursorLoop;
					END
					ELSE IF @ColumnID = @LocColumnID
					BEGIN
						SET @Found = 1;
						GOTO ExitCursorLoop;
					END
					ELSE IF @RowID = @LocRowID
					BEGIN
						SET @Found = 1;
						GOTO ExitCursorLoop;
					END
					ELSE IF @SectionID = @LocSectionID
					BEGIN
						SET @Found = 1;
						GOTO ExitCursorLoop;
					END
					ELSE IF @AreaID = @LocAreaID
					BEGIN
						SET @Found = 1;
						GOTO ExitCursorLoop;
					END
					ELSE IF @WarehouseID = @LocWarehouseID
					BEGIN
						SET @Found = 1;
						GOTO ExitCursorLoop;
					END
				END
			END
			

			FETCH NEXT FROM ULD_Cursor INTO 
				@ULDID,	
				@ULDBarcode,
				@ColumnID,
				@ShelfID,
				@BinID,
				@ULDCurrentLoc,	
				@TotalQty;
		END

		ExitCursorLoop:
		CLOSE ULD_Cursor;
		DEALLOCATE ULD_Cursor;

		IF @Found = 1
		BEGIN

			SET @NewULDID = @ULDID;

			DECLARE @SequenceNumber INT,
			        @AllocatedQty INT,
					@TransactionMovement VARCHAR(1000),
					@OldQty INT;

			SET @AllocatedQty = @Qty;

			IF @FulfilmentType = 'Kitting' OR @PickingType = 'PickToOrder'
			BEGIN

				SELECT @OldQty = Qty 
				FROM dbo.PickingSchedule 
				WHERE FulfilmentOrder = @FulfilmentOrder AND FulfilmentType = @FulfilmentType 
						AND Deleted = 0 AND Status = 'Init'
						AND ULDID = @ULDID;

				IF @OldQty IS NOT NULL
				BEGIN  -- next uld is a ULD in schedule

					-- update qty of schedule
					UPDATE 
						dbo.PickingSchedule 
					SET Qty = @OldQty + @AllocatedQty,
						LastEditedDateTime = @OperationDateTime,
						LastEditedBy = @OperationBy
					WHERE FulfilmentOrder = @FulfilmentOrder 
						  AND FulfilmentType = @FulfilmentType 
						  AND Deleted = 0 AND Status = 'Init'
						  AND ULDID = @ULDID

					-- update uldLine
					SELECT @OldQty = TransactionQty 
					FROM dbo.ULDLine 
					WHERE TransactionReference = @FulfilmentOrder AND TransactionType = 'Allocated' 
						AND Deleted = 0 
						AND ULDID = @ULDID;

					UPDATE
						dbo.ULDLine 
					SET TransactionQty = @OldQty - @AllocatedQty,
						LastEditedDateTime = @OperationDateTime,
						LastEditedBy = @OperationBy
					WHERE TransactionReference = @FulfilmentOrder AND TransactionType = 'Allocated' 
						AND Deleted = 0 
						AND ULDID = @ULDID;

				END
				ELSE   -- not in schedule
				BEGIN
					-- Update ULD LIne
					SELECT @SequenceNumber = COUNT(*)
					FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
					SET @SequenceNumber = @SequenceNumber + 1;			

					SET @TransactionMovement = 'Allocated ' +  CAST(@AllocatedQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @FulfilmentOrder + ' order';
						
					-- insert allocation for ULD Line
					INSERT INTO [dbo].[ULDLine] (
						ULDID,						
						SequenceNumber,
						SerialNumber,
						TransactionDate,
						TransactionUser,
						TransactionType,
						TransactionQty,
						TransactionReference,
						TransactionMovement,
						TransactionLocation,
						ItemNumber,
						ItemName,
						AllocatedType,
						Picked,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
			
					VALUES (
						@ULDID,						
						@SequenceNumber,
						NULL, -- @SerialNumber
						@OperationDateTime,
						@OperationBy,
						'Allocated',
						-@AllocatedQty,						
						@FulfilmentOrder,
						@TransactionMovement, 
						@ULDCurrentLoc,
						@ItemNumber,
						@ItemName,
						@FulfilmentType,
						0,
						0,
						@OperationDateTime,
						@OperationBy
					);

					------------ insert picking schedule-------------------------------
					
					EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
						@LocationCode = @ULDCurrentLoc,
						@LocationFound = @LocationFound OUTPUT,
						@TemporaryLocation = @TemporaryLocation OUTPUT,
						@LocSBinID = NULL,
						@LocBinID = @LocBinID OUTPUT,
						@LocShelfID = NULL,
						@LocColumnID = @LocColumnID OUTPUT,
						@LocRowID = @LocRowID OUTPUT,
						@LocSectionID = @LocSectionID OUTPUT,
						@LocAreaID = @LocAreaID OUTPUT,
						@LocWarehouseID = @LocWarehouseID OUTPUT,
						@LocWarehouseCode = @LocWarehouseCode OUTPUT,
						@LocAreaCode = @LocAreaCode OUTPUT,
						@LocSectionCode = @LocSectionCode OUTPUT,
						@LocRowCode = @LocRowCode OUTPUT,
						@LocColumnCode = @LocColumnCode OUTPUT,
						@LocShelfCode = NULL,
						@LocBinCode = @LocBinCode OUTPUT,
						@LocTempCode = @LocTempCode OUTPUT,
						@LocSBinCode = NULL,
						@LocWarehouseName = @WarehouseName OUTPUT,
						@LocAreaName = @AreaName OUTPUT,
						@LocSectionName = @SectionName OUTPUT,
						@LocRowName = @RowName OUTPUT,
						@LocColumnName = @ColumnName OUTPUT,
						@LocBinName = @BinName OUTPUT,
						@StorageType = @StorageType OUTPUT;

					IF @LocationFound = 1
					BEGIN
						IF @TemporaryLocation = 1
						BEGIN
							INSERT INTO dbo.PickingSchedule (
								FulfilmentOrder,
								FulfilmentType,	
								OrderNumber,
								TenantCode,
								WaveID,
								ItemID,
								ItemNumber,
								ItemName,
								Qty,
								ULDBarcode,
								ULDCurrentLocation,
								LocationOrderNumber,
								ULDID,
								WarehouseID,
								AreaID,
								SectionID,
								RowID,
								ColumnID,
								BinID,
								WarehouseCode,
								AreaCode,
								SectionCode,
								RowCode,
								ColumnCode,
								BinCode,
								Status,
								StartDate,
								Deleted,
								CreatedDateTime,
								CreatedBy,
								WarehouseName,
								AreaName,
								SectionName,
								RowName,
								ColumnName,
								BinName
							)
							VALUES (
								@FulfilmentOrder,
								@FulfilmentType,	
								@OrderNumber,
								@TenantCode,
								@WaveID,
								@ItemID,
								@ItemNumber,
								@ItemName,
								@AllocatedQty,
								@ULDBarcode,
								@ULDCurrentLoc,
								dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLoc),
								@ULDID,
								@LocWarehouseID,
								@LocAreaID,
								@LocSectionID,
								NULL, -- RowID
								NULL, -- ColumnID
								NULL, -- BinID
								@LocWarehouseCode,
								@LocAreaCode,
								@LocSectionCode,
								NULL, -- RowCode
								NULL, -- ColumnCode
								SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7), -- BinCode
								'Init',
								GETDATE(),
								0,
								@OperationDateTime,
								@OperationBy,
								@WarehouseName,
								@AreaName,
								@SectionName,
								NULL, -- RowName
								NULL, -- ColumnName
								NULL  -- BinName
							);

						
						END -- END IF @TemporaryLocation = 1
						ELSE
						BEGIN
							INSERT INTO dbo.PickingSchedule (
								FulfilmentOrder,
								FulfilmentType,	
								OrderNumber,
								TenantCode,
								WaveID,
								ItemID,
								ItemNumber,
								ItemName,
								Qty,
								ULDBarcode,
								ULDCurrentLocation,
								LocationOrderNumber,
								ULDID,
								WarehouseID,
								AreaID,
								SectionID,
								RowID,
								ColumnID,
								BinID,
								WarehouseCode,
								AreaCode,
								SectionCode,
								RowCode,
								ColumnCode,
								BinCode,
								Status,
								StartDate,
								Deleted,
								CreatedDateTime,
								CreatedBy,
								WarehouseName,
								AreaName,
								SectionName,
								RowName,
								ColumnName,
								BinName
							)
							VALUES (
								@FulfilmentOrder,
								@FulfilmentType,	
								@OrderNumber,
								@TenantCode,
								@WaveID,
								@ItemID,					 -- ItemID
								@ItemNumber,					 -- ItemNumber
								@ItemName,					     -- ItemName
								@AllocatedQty,					-- Qty
								@ULDBarcode,    
								@ULDCurrentLoc,    
								dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLoc),
								@ULDID,
								@LocWarehouseID,		-- WarehouseID
								@LocAreaID,				-- AreaID
								@LocSectionID,			-- SectionID
								@LocRowID,				-- RowID
								@LocColumnID,			-- ColumnID
								@LocBinID,              -- BinID
								@LocWarehouseCode,		-- WarehouseCode
								@LocAreaCode,			-- AreaCode
								@LocSectionCode,		-- SectionCode
								@LocRowCode ,			-- RowCode
								@LocColumnCode,			-- ColumnCode
								@LocBinCode,			-- BinCode
								'Init',					-- Status
								GETDATE(),			-- StartDate
								0,						-- Deleted
								@OperationDateTime,		-- CreatedDateTime
								@OperationBy,			-- CreatedBy
								@WarehouseName,			-- WarehouseName
								@AreaName,				-- AreaName
								@SectionName,			-- SectionName
								@RowName,				-- RowName
								@ColumnName,			-- ColumnName
								@BinName				-- BinName								
							);
					
						END -- End IF @TemporaryLocation <> 1
					END -- End IF @LocationFound = 1
				END -- END  ELSE -- not in schedule

			END -- END  @FulfilmentType = 'Kitting' OR @PickingType = 'PickToOrder'
			ELSE
			BEGIN -- Picking type = 'Single' or 'Bulk'

					
					------------ insert picking schedule-------------------------------
					
					EXEC [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCode]
						@LocationCode = @ULDCurrentLoc,
						@LocationFound = @LocationFound OUTPUT,
						@TemporaryLocation = @TemporaryLocation OUTPUT,
						@LocSBinID = NULL,
						@LocBinID = @LocBinID OUTPUT,
						@LocShelfID = NULL,
						@LocColumnID = @LocColumnID OUTPUT,
						@LocRowID = @LocRowID OUTPUT,
						@LocSectionID = @LocSectionID OUTPUT,
						@LocAreaID = @LocAreaID OUTPUT,
						@LocWarehouseID = @LocWarehouseID OUTPUT,
						@LocWarehouseCode = @LocWarehouseCode OUTPUT,
						@LocAreaCode = @LocAreaCode OUTPUT,
						@LocSectionCode = @LocSectionCode OUTPUT,
						@LocRowCode = @LocRowCode OUTPUT,
						@LocColumnCode = @LocColumnCode OUTPUT,
						@LocShelfCode = NULL,
						@LocBinCode = @LocBinCode OUTPUT,
						@LocTempCode = @LocTempCode OUTPUT,
						@LocSBinCode = NULL,
						@LocWarehouseName = @WarehouseName OUTPUT,
						@LocAreaName = @AreaName OUTPUT,
						@LocSectionName = @SectionName OUTPUT,
						@LocRowName = @RowName OUTPUT,
						@LocColumnName = @ColumnName OUTPUT,
						@LocBinName = @BinName OUTPUT,
						@StorageType = @StorageType OUTPUT;

					IF @LocationFound = 1
					BEGIN
						IF @TemporaryLocation = 1
						BEGIN
							INSERT INTO dbo.PickingSchedule (
								FulfilmentOrder,
								FulfilmentType,	
								WaveID,
								ItemID,
								ItemNumber,
								ItemName,
								Qty,
								ULDBarcode,
								ULDCurrentLocation,
								LocationOrderNumber,
								ULDID,
								WarehouseID,
								AreaID,
								SectionID,
								RowID,
								ColumnID,
								BinID,
								WarehouseCode,
								AreaCode,
								SectionCode,
								RowCode,
								ColumnCode,
								BinCode,
								Status,
								StartDate,
								Deleted,
								CreatedDateTime,
								CreatedBy,
								WarehouseName,
								AreaName,
								SectionName,
								RowName,
								ColumnName,
								BinName
							)
							VALUES (
								NULL,
								@FulfilmentType,	
								@WaveID,
								@ItemID,
								@ItemNumber,
								@ItemName,
								@AllocatedQty,
								@ULDBarcode,
								@ULDCurrentLoc,
								dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLoc),
								@ULDID,
								@LocWarehouseID,
								@LocAreaID,
								@LocSectionID,
								NULL, -- RowID
								NULL, -- ColumnID
								NULL, -- BinID
								@LocWarehouseCode,
								@LocAreaCode,
								@LocSectionCode,
								NULL, -- RowCode
								NULL, -- ColumnCode
								SUBSTRING(@LocTempCode, LEN(@LocTempCode) - 6, 7), -- BinCode
								'Init',
								GETDATE(),
								0,
								@OperationDateTime,
								@OperationBy,
								@WarehouseName,
								@AreaName,
								@SectionName,
								NULL, -- RowName
								NULL, -- ColumnName
								NULL  -- BinName
							);

						
						END -- END IF @TemporaryLocation = 1
						ELSE
						BEGIN
							INSERT INTO dbo.PickingSchedule (
								FulfilmentOrder,
								FulfilmentType,	
								WaveID,
								ItemID,
								ItemNumber,
								ItemName,
								Qty,
								ULDBarcode,
								ULDCurrentLocation,
								LocationOrderNumber,
								ULDID,
								WarehouseID,
								AreaID,
								SectionID,
								RowID,
								ColumnID,
								BinID,
								WarehouseCode,
								AreaCode,
								SectionCode,
								RowCode,
								ColumnCode,
								BinCode,
								Status,
								StartDate,
								Deleted,
								CreatedDateTime,
								CreatedBy,
								WarehouseName,
								AreaName,
								SectionName,
								RowName,
								ColumnName,
								BinName
							)
							VALUES (
								NULL,
								@FulfilmentType,	
								@WaveID,
								@ItemID,					 -- ItemID
								@ItemNumber,					 -- ItemNumber
								@ItemName,					     -- ItemName
								@AllocatedQty,					-- Qty
								@ULDBarcode,    
								@ULDCurrentLoc,    
								dbo.fn_GetLocationOrderNumberFromCode(@ULDCurrentLoc),
								@ULDID,
								@LocWarehouseID,		-- WarehouseID
								@LocAreaID,				-- AreaID
								@LocSectionID,			-- SectionID
								@LocRowID,				-- RowID
								@LocColumnID,			-- ColumnID
								@LocBinID,              -- BinID
								@LocWarehouseCode,		-- WarehouseCode
								@LocAreaCode,			-- AreaCode
								@LocSectionCode,		-- SectionCode
								@LocRowCode ,			-- RowCode
								@LocColumnCode,			-- ColumnCode
								@LocBinCode,			-- BinCode
								'Init',					-- Status
								GETDATE(),			-- StartDate
								0,						-- Deleted
								@OperationDateTime,		-- CreatedDateTime
								@OperationBy,			-- CreatedBy
								@WarehouseName,			-- WarehouseName
								@AreaName,				-- AreaName
								@SectionName,			-- SectionName
								@RowName,				-- RowName
								@ColumnName,			-- ColumnName
								@BinName				-- BinName								
							);
					
						END -- End IF @TemporaryLocation <> 1
					END -- End IF @LocationFound = 1

			END -- End Picking type = 'Single' or 'Bulk'
			

		END
		

		-- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;

END
GO
