USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockTakeSummaryManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement StockTake Summary Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockTakeSummaryManualReport]
	@ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantName VARCHAR(250);
	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;

	DECLARE @WarehouseName VARCHAR(150);
	SELECT @WarehouseName = WarehouseName FROM dbo.LocWarehouse WHERE Deleted = 0 AND WarehouseCode = @WarehouseCode;
	
	SELECT ServiceID, WarehouseCode, @WarehouseName as WarehouseName, TenantCode, @TenantName as TenantName, ServiceNumber, ServiceName, ServiceType, 
		   Status, StartDate, EndDate, CreatedBy, CreatedDateTime
	FROM Service 
	WHERE Deleted = 0 AND TenantCode = @ManualTenantCode AND  WarehouseCode = @WarehouseCode
		  AND ServiceType = 'Stocktake' AND Status = 'Completed'
		  AND CreatedDateTime BETWEEN @StartDate AND @EndDate;

END
GO
