USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_InsertAPLocalShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Insert Local AP Shipments>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipment_InsertAPLocalShipment]  
	@FulfilmentID INT,	
	@BoxSize dbo.BoxSizeType READONLY,
	@AddDefaultItem BIT,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@NewShipmentID  INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @StartedTran bit = 0;

	BEGIN TRY

        IF @@TRANCOUNT = 0
		BEGIN
			SET @StartedTran = 1;
			BEGIN TRANSACTION;
		END       

		DECLARE @CarrierServiceID INT,
				@IntegrationID INT,				
				@ImportReferenceNumber VARCHAR(50),
				@ExportDeclarationNumber VARCHAR(50),
				@MLID VARCHAR(50),
				@Carrier VARCHAR(500),
				@FulfilmentOrderNumber VARCHAR(50),
				@SourceOrderNumber VARCHAR(50),
				@OrderSource VARCHAR(50),
				@WarehouseCode  VARCHAR(10),
				@TenantCode VARCHAR(10);

		DECLARE @OrderServiceName VARCHAR(100),
				@IntegrationProductID VARCHAR(20),
			    @IntegrationProductCode VARCHAR(50),
				@IntegrationServiceCode VARCHAR(10),
				@IntegrationServiceName VARCHAR(50),
				@AuthorityToLeave BIT,
				@AllowPartialDelivery BIT;


		DECLARE 			
			@Shipment_Reference      nvarchar(50),
			@Shipment_Reference_1    nvarchar(50),
			@Shipment_Reference_2    nvarchar(50),
			@email_tracking_enabled  BIT,
			@from_Name               nvarchar(50),
			@from_Business_Name      nvarchar(50),
			@from_Addressline1       nvarchar(50),
			@from_Addressline2       nvarchar(50),
			@from_Suburb             nvarchar(20),
			@from_State              nvarchar(20),
			@from_Postcode           nvarchar(20),
			@from_Phone              nvarchar(20),
			@from_Email              nvarchar(150),
			@to_Name                 nvarchar(50),
			@to_business_Name        nvarchar(50),
			@to_Addressline1         nvarchar(50),
			@to_Addressline2         nvarchar(50),
			@to_Suburb               nvarchar(20),
			@to_State                nvarchar(20),
			@to_Postcode             nvarchar(20),
			@to_phone                nvarchar(20),
			@to_email                nvarchar(150);
		
		-- get tenant code
		SELECT @TenantCode = TenantCode, 
				@WarehouseCode = WarehouseCode, 
				@OrderSource = OrderSource,
				@SourceOrderNumber = order_number,
				@FulfilmentOrderNumber = OrderNumber,
				@Carrier = Carrier,
				@to_Name = shipping_address_name,
				@to_business_Name = ISNULL(shipping_address_company, ''),
				@to_Addressline1 = shipping_address_address1,
				@to_Addressline2 = ISNULL(shipping_address_address2, ''),
				@to_Suburb = shipping_address_city,
				@to_State = shipping_address_province,
				@to_Postcode = shipping_address_zip,				  
				@to_phone = Phone,
				@to_email = contact_email			
		FROM dbo.Fulfilment
		WHERE FulfilmentID = @FulfilmentID AND Deleted = 0;

		-- get Intergration info
		SELECT @IntegrationID = IntegrationID,
				@MLID = MLID, 
				@ImportReferenceNumber = ImportReferenceNumber, 
				@ExportDeclarationNumber = ExportDeclarationNumber
		FROM dbo.APIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		SET @email_tracking_enabled = 1;
		SET @Shipment_Reference = @FulfilmentOrderNumber + '-' + @SourceOrderNumber;
		SET @Shipment_Reference_1 = @TenantCode;

		-- get Tenant name
		SELECT @from_Name = TenantName
		FROM dbo.Tenant
		WHERE TenantCode = @TenantCode AND Deleted = 0;

		-- get data from warehouse
		SELECT 												
			@from_Addressline1 = WAddressLine1,
			@from_Addressline2 = WAddressLine2,
			@from_Suburb = WSuburb,
			@from_State = WState,
			@from_Postcode = WPostcode,
			@from_Phone = Phone,
			@from_Email = Email
		FROM LocWarehouse
		WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;
			
		IF @IntegrationID IS NOT NULL
		BEGIN
			IF @OrderSource = 'Manual'
			BEGIN
				
				SELECT @CarrierServiceID = CarrierServiceID
				FROM dbo.Orders
				WHERE order_number = @SourceOrderNumber AND Deleted = 0;

				SELECT 
					@IntegrationProductID = s.ProductID,
					@IntegrationProductCode = s.ProductCode,
					@IntegrationServiceCode = s.ServiceCode,
					@IntegrationServiceName = s.ServiceName,
					@AuthorityToLeave = s.AuthorityToLeave,	
					@AllowPartialDelivery = s.AllowPartialDelivery
				FROM dbo.AP_Service s
				WHERE s.ServiceID = @CarrierServiceID AND s.Deleted = 0;

				IF NULLIF(LTRIM(RTRIM(@to_phone)), '') IS NULL
					OR NULLIF(LTRIM(RTRIM(@to_email)), '') IS NULL
					OR NULLIF(LTRIM(RTRIM(@to_Addressline1)), '') IS NULL
				BEGIN

					PRINT 'Phone, email or country is missing, try to get from order info.';

					SELECT @to_Addressline1 = shipping_address_address1,
							@to_Addressline2 = shipping_address_address2,
							@to_phone = Phone,
							@to_email = contact_email,
							@to_Name = shipping_address_name,
							@to_business_Name = shipping_address_company,						
							@to_Suburb = shipping_address_city,
							@to_State = shipping_address_province,
							@to_Postcode = shipping_address_zip  
						FROM dbo.Orders
						WHERE Deleted = 0 ANd order_number = @SourceOrderNumber;
				END
					
			END
			ELSE  -- Not manual
			BEGIN

				SET @Carrier = REPLACE(@Carrier COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       'Australia Post ' COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       '');

				SELECT 
					@IntegrationProductID = s.ProductID,
					@IntegrationProductCode = s.ProductCode,
					@IntegrationServiceCode = s.ServiceCode,
					@IntegrationServiceName = s.ServiceName,
					@AuthorityToLeave = s.AuthorityToLeave,	
					@AllowPartialDelivery = s.AllowPartialDelivery
				FROM dbo.APIntegrationLine l 
				LEFT JOIN dbo.AP_Service s ON s.ServiceID = l.ServiceID AND s.Deleted = 0
				where l.Deleted = 0 and l.IntegrationID = @IntegrationID 
						AND l.OrderType COLLATE SQL_Latin1_General_CP1_CI_AS = @OrderSource COLLATE SQL_Latin1_General_CP1_CI_AS
						AND l.OrderServiceName = @Carrier ;
			END
		END -- End @IntegrationID IS NOT NULL

		IF LEN(@to_Addressline1) > 40
		BEGIN
			DECLARE @SplitPos INT;

			-- Find the last space within the first 40 characters
			SET @SplitPos = LEN(LEFT(@to_Addressline1, 40)) 
						  - CHARINDEX(' ', REVERSE(LEFT(@to_Addressline1, 40))) + 1;

			-- If no space found (CHARINDEX = 0), just cut at 40
			IF @SplitPos <= 0 OR @SplitPos > 40
				SET @SplitPos = 40;

			-- Assign line1 and line2
			SET @to_Addressline2 = ISNULL(@to_Addressline2, '') 
								 + LTRIM(SUBSTRING(@to_Addressline1, @SplitPos + 1, 60));

			SET @to_Addressline1 = LEFT(@to_Addressline1, @SplitPos);
		END	

		IF @IntegrationServiceName IS NOT NULL AND @IntegrationServiceName <> 'International'
		BEGIN
				
			INSERT INTO dbo.AP_Shipment
			(
				ServiceName,
				Shipment_Reference,
				Shipment_Reference_1,
				Shipment_Reference_2,
				email_tracking_enabled,
				from_Name,
				from_Business_Name,
				from_Addressline1,
				from_Addressline2,
				from_Suburb,
				from_State,
				from_Postcode,
				from_Phone,
				from_Email,
				to_Name,
				to_business_Name,
				to_Addressline1,
				to_Addressline2,
				to_Suburb,
				to_State,
				to_Postcode,
				to_phone,
				to_email,
				TenantMLID,
				WarehouseCode,
				TenantCode,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@IntegrationServiceName, --
				@Shipment_Reference,
				@Shipment_Reference_1,
				@Shipment_Reference_2,
				@email_tracking_enabled, --
				@from_Name, --
				@from_Business_Name,--
				@from_Addressline1,--
				@from_Addressline2,--
				@from_Suburb,--
				@from_State,--
				@from_Postcode,--
				@from_Phone,--
				@from_Email,--
				@to_Name,--
				@to_business_Name,--
				@to_Addressline1,--
				@to_Addressline2,--
				@to_Suburb,--
				@to_State,--
				@to_Postcode,--
				@to_phone,--
				@to_email,--
				@MLID,--
				@WarehouseCode,
				@TenantCode, --
				0, --
				@CreatedDateTime, --
				@CreatedBy --
			);

			SET @NewShipmentID = SCOPE_IDENTITY();

			-- Insert one box to AP_ShipmentItems
			IF @AddDefaultItem = 1
			BEGIN
				
				DECLARE @InsuranceAmount DECIMAL(10,2),						
						@ShipmentReference  VARCHAR(50),			
						@ItemValue DECIMAL(10,2),
						@Length Decimal(10,2),
						@Height Decimal(10,2),
						@Width Decimal(10,2),
						@Weight Decimal(10,2),						
						@ItemWeight Decimal(10,2);

				DECLARE @Quantity INT, @ItemID INT;			

				SET @InsuranceAmount = 0;
				SET @Length = 0;
				SET @Height = 0;
				SET @Width = 0;
				SET @Weight = 0;

				DECLARE fulfilment_cursor CURSOR LOCAL FAST_FORWARD FOR
				SELECT line_items_current_quantity , ItemID
				FROM dbo.FulfilmentLine
				WHERE FulfilmentID = @FulfilmentID  AND Deleted = 0;

				OPEN fulfilment_cursor;

				FETCH NEXT FROM fulfilment_cursor 
				INTO  @Quantity, @ItemID;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					-- get weight
					SELECT @ItemWeight = ISNULL(Weight,0)
					FROM dbo.ItemTradeUnit
					WHERE ItemID = @ItemID 
						AND ItemType = 'Unit'
						AND Deleted = 0;

					SELECT @ItemValue = ISNULL(ItemPrice, 0)
					FROM dbo.Items
					WHERE ItemID = @ItemID AND Deleted = 0;

					SET @ItemValue = @Quantity * @ItemValue;
					SET @InsuranceAmount = @InsuranceAmount + @ItemValue;
					
					SET @Weight = @Weight + (@Quantity * @ItemWeight);

					-- Next row
					FETCH NEXT FROM fulfilment_cursor 
					INTO  @Quantity, @ItemID;
				END

				CLOSE fulfilment_cursor;
				DEALLOCATE fulfilment_cursor;

				SELECT 
					@Length = CEILING(ISNULL(Length, 0) / 10.0),
					@Height = CEILING(ISNULL(Height, 0) / 10.0),
					@Width  = CEILING(ISNULL(Width, 0) / 10.0)
				FROM @BoxSize;


				INSERT INTO dbo.AP_ShipmentItems
				(
					ShipmentID,
					item_Reference,
					product_id,
					Length,
					Height,
					Width,
					Weight,
					authority_to_leave,
					allow_partial_delivery,
					Article,
					InsuranceAmount,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES( 
					@NewShipmentID,			
					@Shipment_Reference,
					@IntegrationProductID,
					CAST(CAST(@Length AS INT) AS VARCHAR(20)),
					CAST(CAST(@Height AS INT) AS VARCHAR(20)),
					CAST(CAST(@Width  AS INT) AS VARCHAR(20)),
					CAST(@Weight AS varchar(20)),
					@AuthorityToLeave,
					@AllowPartialDelivery,
					1,
					@InsuranceAmount,
					0,                    
					@CreatedDateTime,
					@CreatedBy 
				);

			END
			

		END -- END @IntegrationServiceName <> 'International'

		-- Commit the transaction     
		IF @StartedTran = 1
            COMMIT TRANSACTION;       

    END TRY
    BEGIN CATCH
        -- Handle the error
       IF @@TRANCOUNT > 0
        BEGIN
			IF @StartedTran = 1
				ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
