USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_InsertSingleLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Sep, 2024>
-- Description:	<Insert Simple Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_InsertSingleLocation]
	@LocParentID        INT,  -- Id of parent follow the value of @LocType. Ex: @LocType = 1 (Create Area) so @LocParentID is ID of warehouse
	@LocType		    INT,  -- Type of Loc will be created 0: Warehouse ; 1: Area ; 2:Section ; 3:Row ; 4:Column ; 5:Shelf ; 6:Bin ; 7:Sbin
    @Number             INT = 0,
	@Name               VARCHAR(200) = NULL,
	@Desc               VARCHAR(1000) = NULL,
    @SBinType           VARCHAR(50) = NULL, -- pallet or Shelf
    @Height             INT = 0,
    @Width              INT = 0,
    @Depth              INT = 0,
    @Distance           INT = 0,
    @StorageType        VARCHAR(50) = NULL, --receiving, bulk ...
	@CreatedDateTime	DATETIME = NULL,
	@CreatedBy			VARCHAR(100) = NULL,
	@Message            VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION;

		-- Declare variables for each SettingValue in camel case
		DECLARE @WarehouseIncrement INT,
				@AreaIncrement INT,
				@SectionIncrement INT,
				@RowIncrement INT,
				@ColumnIncrement INT,
				@ShelfIncrement INT,
				@BinIncrement INT,
				@SbinIncrement INT,
				@SectionCodeMaxValue INT,
				@RowCodeMaxValue INT,
				@ColumnCodeMaxValue INT,
				@ShelfCodeMaxValue INT,
				@BinCodeMaxValue INT,
				@SbinCodeMaxValue INT;
    
		-- Select the values from the Setting table and assign to variables
		SELECT 
			@WarehouseIncrement = MAX(CASE WHEN SettingName = 'WAREHOUSE_INCREMENT' THEN SettingValue END),
			@AreaIncrement = MAX(CASE WHEN SettingName = 'AREA_INCREMENT' THEN SettingValue END),
			@SectionIncrement = MAX(CASE WHEN SettingName = 'SECTION_INCREMENT' THEN SettingValue END),
			@RowIncrement = MAX(CASE WHEN SettingName = 'ROW_INCREMENT' THEN SettingValue END),
			@ColumnIncrement = MAX(CASE WHEN SettingName = 'COLUMN_INCREMENT' THEN SettingValue END),
			@ShelfIncrement = MAX(CASE WHEN SettingName = 'SHELF_INCREMENT' THEN SettingValue END),
			@BinIncrement = MAX(CASE WHEN SettingName = 'BIN_INCREMENT' THEN SettingValue END),
			@SbinIncrement = MAX(CASE WHEN SettingName = 'SBIN_INCREMENT' THEN SettingValue END),
			@SectionCodeMaxValue = MAX(CASE WHEN SettingName = 'SECTION_CODE_MAX_VALUE' THEN SettingValue END),
			@RowCodeMaxValue = MAX(CASE WHEN SettingName = 'ROW_CODE_MAX_VALUE' THEN SettingValue END),
			@ColumnCodeMaxValue = MAX(CASE WHEN SettingName = 'COLUMN_CODE_MAX_VALUE' THEN SettingValue END),
			@ShelfCodeMaxValue = MAX(CASE WHEN SettingName = 'SHELF_CODE_MAX_VALUE' THEN SettingValue END),
			@BinCodeMaxValue = MAX(CASE WHEN SettingName = 'BIN_CODE_MAX_VALUE' THEN SettingValue END),
			@SbinCodeMaxValue = MAX(CASE WHEN SettingName = 'SBIN_CODE_MAX_VALUE' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN (
			'WAREHOUSE_INCREMENT', 'AREA_INCREMENT', 'SECTION_INCREMENT', 'ROW_INCREMENT',
			'COLUMN_INCREMENT', 'SHELF_INCREMENT', 'BIN_INCREMENT', 'SBIN_INCREMENT',
			'SECTION_CODE_MAX_VALUE','ROW_CODE_MAX_VALUE','COLUMN_CODE_MAX_VALUE',
            'SHELF_CODE_MAX_VALUE','BIN_CODE_MAX_VALUE','SBIN_CODE_MAX_VALUE');

        DECLARE @CurrentOrder INT;
		DECLARE @CurrentCode INT;
		DECLARE @CurrentPrefix INT;
        DECLARE @i INT;
	
        SELECT 
			@CurrentOrder = ISNULL(COALESCE(CurrentOrder, 0), 0),
			@CurrentCode = ISNULL(COALESCE(CurrentCode, 0), 0),
			@CurrentPrefix = ISNULL(COALESCE(CurrentPrefix, 1), 1)
		FROM dbo.LocSequence
		WHERE LocationId = @LocParentID AND LocationType = @LocType;

		-- Check if any rows were returned
		IF @@ROWCOUNT = 0
		BEGIN
			-- No rows were returned, set the default values
			SET @CurrentOrder = 0;
			SET @CurrentCode = 0;
			SET @CurrentPrefix = 1;
		END

		IF @LocType = 1
        BEGIN
            -- Code to handle Area creation
            PRINT 'Creating Area...';

			IF @Name IS NOT NULL
			BEGIN
				IF EXISTS (SELECT 1 
						   FROM dbo.LocArea 
						   WHERE LocWarehouseID = @LocParentID 
							 AND TRIM(AreaName) = TRIM(@Name) AND DELETED = 0)
				BEGIN
					SET @Message = 'The area name already exists.';
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END;
           
            -- Loop to insert rows based on @Number
            SET @i = 0;

            WHILE @i < @Number
            BEGIN
                 -- Increment the order number and loop counter
                SET @CurrentOrder = @CurrentOrder + @AreaIncrement;
				SET @CurrentCode = @CurrentCode + 1;
				IF @Number > 1
				BEGIN
					SET @Name = CHAR(65 + (@CurrentCode - 1) % 26);
				END
				ELSE IF @Name IS NULL
				BEGIN
					SET @Name = CHAR(65 + (@CurrentCode - 1) % 26);
				END

                -- Insert a new row into LocArea table
                INSERT INTO dbo.LocArea (LocWarehouseID, OrderNumber, AreaCode, Deleted, AreaName, AreaDesc, CreatedDateTime, CreatedBy)
                VALUES (@LocParentID, @CurrentOrder , CHAR(65 + (@CurrentCode - 1) % 26), 0, @Name, @Desc, @CreatedDateTime, @CreatedBy);
               
                SET @i = @i + 1;
            END

              -- Update LocSequence
            IF NOT EXISTS (SELECT 1 
               FROM dbo.LocSequence 
               WHERE LocationId = @LocParentID 
                 AND LocationType = @LocType)
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder, @CurrentCode, 0 , 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder),
				    CurrentCode = COALESCE(@CurrentCode, CurrentCode)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

        END
        ELSE IF @LocType = 2
        BEGIN
            -- Code to handle Section creation
            PRINT 'Creating Section...';

			IF @StorageType IS NULL
			BEGIN
				SET @Message = 'The Storage Type of section is not allowed empty';
				ROLLBACK TRANSACTION;
				RETURN;
			END

			IF @Name IS NOT NULL
			BEGIN
				IF EXISTS (SELECT 1 
						   FROM dbo.LocSection 
						   WHERE LocAreaID = @LocParentID 
							 AND TRIM(SectionName) = TRIM(@Name) AND DELETED = 0)
				BEGIN
					SET @Message = 'The section name already exists.';
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END;
            
            SET @i = 0;

            WHILE @i < @Number
            BEGIN
                 -- Increment the order number and loop counter
                SET @CurrentOrder = @CurrentOrder + @SectionIncrement;
                IF @CurrentCode < @SectionCodeMaxValue
				BEGIN
					 SET @CurrentCode = @CurrentCode + 1;
				END
				ELSE
				BEGIN
					 SET @CurrentCode = 1;
					 SET @CurrentPrefix = @CurrentPrefix + 1;
				END

				IF @Number > 1
				BEGIN
					SET @Name = CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00'));
				END
				ELSE IF @Name IS NULL
				BEGIN
					SET @Name = CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00'));
				END

                -- Insert a new row into LocSection table
                INSERT INTO dbo.LocSection (LocAreaID, OrderNumber, SectionCode, Deleted, SectionName, SectionDesc, StorageType, CreatedDateTime, CreatedBy)
                VALUES (@LocParentID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00')), 0, @Name, @Desc, @StorageType, @CreatedDateTime, @CreatedBy);
               
                SET @i = @i + 1;
            END

              -- Update LocSequence
            IF NOT EXISTS (SELECT 1 
               FROM dbo.LocSequence 
               WHERE LocationId = @LocParentID 
                 AND LocationType = @LocType)
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder, @CurrentCode , @CurrentPrefix , 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder),
				    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

        END
        ELSE IF @LocType = 3
        BEGIN
            -- Code to handle Row creation
            PRINT 'Creating Row...';

			IF @Name IS NOT NULL
			BEGIN
				IF EXISTS (SELECT 1 
						   FROM dbo.LocRow 
						   WHERE LocSectionID = @LocParentID 
							 AND TRIM(RowName) = TRIM(@Name) AND DELETED = 0)
				BEGIN
					SET @Message = 'The row name already exists.';
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END;
            

            SET @i = 0;

            WHILE @i < @Number
            BEGIN
                 -- Increment the order number and loop counter
                SET @CurrentOrder = @CurrentOrder + @RowIncrement;
                IF @CurrentCode < @RowCodeMaxValue
				BEGIN
					 SET @CurrentCode = @CurrentCode + 1;
				END
				ELSE
				BEGIN
					 SET @CurrentCode = 1;
					 SET @CurrentPrefix = @CurrentPrefix + 1;
				END

				IF @Number > 1
				BEGIN
					SET @Name = CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000'));
				END
				ELSE IF @Name IS NULL
				BEGIN
					SET @Name = CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000'));
				END

                -- Insert a new row into LocRow table
                INSERT INTO dbo.LocRow (LocSectionID, OrderNumber, RowCode, Deleted, RowName, RowDesc, CreatedDateTime, CreatedBy)
                VALUES (@LocParentID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')), 0, @Name, @Desc, @CreatedDateTime, @CreatedBy);
               
                SET @i = @i + 1;
            END

              -- Update LocSequence
            IF NOT EXISTS (SELECT 1 
               FROM dbo.LocSequence 
               WHERE LocationId = @LocParentID 
                 AND LocationType = @LocType)
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder, @CurrentCode , @CurrentPrefix, 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder),
				    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

        END
        ELSE IF @LocType = 4
        BEGIN
            -- Code to handle Column creation
            PRINT 'Creating Column...';

			IF @Name IS NOT NULL
			BEGIN
				IF EXISTS (SELECT 1 
						   FROM dbo.LocColumn 
						   WHERE LocRowID = @LocParentID 
							 AND TRIM(ColumnName) = TRIM(@Name) AND DELETED = 0)
				BEGIN
					SET @Message = 'The column name already exists.';
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END;
            

            SET @i = 0;

            WHILE @i < @Number
            BEGIN
                 -- Increment the order number and loop counter               
				SET @CurrentOrder = @CurrentOrder + @ColumnIncrement;
                IF @CurrentCode < @ColumnCodeMaxValue
				BEGIN
					 SET @CurrentCode = @CurrentCode + 1;
				END
				ELSE
				BEGIN
					 SET @CurrentCode = 1;
					 SET @CurrentPrefix = @CurrentPrefix + 1;
				END

				IF @Number > 1
				BEGIN
					SET @Name = CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00000'));
				END
				ELSE IF @Name IS NULL
				BEGIN
					SET @Name = CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00000'));
				END

                -- Insert a new Column into LocColumn table
                INSERT INTO dbo.LocColumn (LocRowID, OrderNumber, ColumnCode, Deleted, ColumnName, ColumnDesc, CreatedDateTime, CreatedBy)
                VALUES (@LocParentID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00000')), 0, @Name, @Desc, @CreatedDateTime, @CreatedBy);
               
                SET @i = @i + 1;
            END

              -- Update LocSequence
            IF NOT EXISTS (SELECT 1 
               FROM dbo.LocSequence 
               WHERE LocationId = @LocParentID 
                 AND LocationType = @LocType)
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder, @CurrentCode , @CurrentPrefix, 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder),
				    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

        END;
        /*ELSE IF @LocType = 5
        BEGIN
            -- Code to handle Shelf creation
            PRINT 'Creating Shelf...';
            SET @i = 0;

            WHILE @i < @Number
            BEGIN
                 -- Increment the order number and loop counter
				SET @CurrentOrder = @CurrentOrder + @ShelfIncrement;
                IF @CurrentCode < @ShelfCodeMaxValue
				BEGIN
					 SET @CurrentCode = @CurrentCode + 1;
				END
				ELSE
				BEGIN
					 SET @CurrentCode = 1;
					 SET @CurrentPrefix = @CurrentPrefix + 1;
				END

                -- Insert a new Shelf into LocShelf table
                INSERT INTO dbo.LocShelf (LocColumnID, OrderNumber, ShelfCode, Deleted, ShelfName, ShelfDesc)
                VALUES (@LocParentID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')), 0, @Name, @Desc);
               
                SET @i = @i + 1;
            END

              -- Update LocSequence
            IF NOT EXISTS (SELECT 1 
               FROM dbo.LocSequence 
               WHERE LocationId = @LocParentID 
                 AND LocationType = @LocType)
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder, @CurrentCode , @CurrentPrefix, 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder),
				    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

        END
        ELSE IF @LocType = 6
        BEGIN
            -- Code to handle Bin creation
            PRINT 'Creating Bin...';
            SET @i = 0;

            WHILE @i < @Number
            BEGIN
                 -- Increment the order number and loop counter
				SET @CurrentOrder = @CurrentOrder + @BinIncrement;
                IF @CurrentCode < @BinCodeMaxValue
				BEGIN
					 SET @CurrentCode = @CurrentCode + 1;
				END
				ELSE
				BEGIN
					 SET @CurrentCode = 1;
					 SET @CurrentPrefix = @CurrentPrefix + 1;
				END

                -- Insert a new Bin into LocBin table
                INSERT INTO dbo.LocBin (LocShelfID, OrderNumber, BinCode, Deleted, BinName, BinDesc)
                VALUES (@LocParentID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')), 0, @Name, @Desc);
               
                SET @i = @i + 1;
            END

              -- Update LocSequence
            IF NOT EXISTS (SELECT 1 
               FROM dbo.LocSequence 
               WHERE LocationId = @LocParentID 
                 AND LocationType = @LocType)
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder, @CurrentCode , @CurrentPrefix, 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder),
				    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;

        END
        ELSE
        BEGIN
            -- Default case for unknown LocType
            PRINT 'Creating Sbin';
            SET @i = 0;

            WHILE @i < @Number
            BEGIN
                 -- Increment the order number and loop counter
				SET @CurrentOrder = @CurrentOrder + @SBinIncrement;
                IF @CurrentCode < @SBinCodeMaxValue
				BEGIN
					 SET @CurrentCode = @CurrentCode + 1;
				END
				ELSE
				BEGIN
					 SET @CurrentCode = 1;
					 SET @CurrentPrefix = @CurrentPrefix + 1;
				END

                -- Insert a new SBin into LocSBin table
                INSERT INTO dbo.LocSBin (LocBinID, OrderNumber, SBinCode, Deleted, SBinType, Height, Width, Depth, Distance, StorageType, SBinName, SBinDesc)
                VALUES (@LocParentID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')), 0, @SBinType, @Height, @Width, @Depth, @Distance, @StorageType, @Name, @Desc);
               
                SET @i = @i + 1;
            END

              -- Update LocSequence
            IF NOT EXISTS (SELECT 1 
               FROM dbo.LocSequence 
               WHERE LocationId = @LocParentID 
                 AND LocationType = @LocType)
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder, @CurrentCode , @CurrentPrefix, 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder),
				    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;
        END;*/

	    -- Commit transaction if update is successful
		COMMIT TRANSACTION;
    
		PRINT 'Insert successful';

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;


END

GO
