USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_GetAllManualReportDefinitions]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <22 May, 2025>
-- Description:	<Get All Manual Report Definition>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_GetAllManualReportDefinitions]
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT * FROM ReportDefinition WHERE DELETED = 0 And Type = 'Manual';
END
GO
