USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_GetAllSerialNumberByULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Nov, 2024>
-- Description:	<Get All serail Number By ULD>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_GetAllSerialNumberByULD] @ULDID INT
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
	  SerialNumber 
	FROM 
	  (
		SELECT 
		  SerialNumber, 
		  SUM(TransactionQty) as s 
		FROM 
		  dbo.ULDLine 
		WHERE 
		  ULDID = @ULDID 
		  AND Deleted = 0 
		  AND SerialNumber IS NOT NULL 
		GROUP BY 
		  SerialNumber
	  ) A 
	WHERE 
	  A.s > 0
END
GO
