USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_CPIntegration_InsertIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Oct, 2025>
-- Description:	<Insert CP Integration>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_CPIntegration_InsertIntegration]  
	@TenantCode VARCHAR(10),
    @WarehouseCode VARCHAR(10),
	@Token VARCHAR(100),   
	@ServiceMappings [dbo].[CPServiceType] READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @CPIntegrationID INT;
		DECLARE @TenantName VARCHAR(150);

		SELECT @CPIntegrationID = IntegrationID FROM dbo.CPIntegration WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		  -- Check for duplicate 
		 IF @CPIntegrationID IS NOT NULL  -- update
		 BEGIN
			UPDATE dbo.CPIntegration
			SET
				Token = @Token,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
			WHERE IntegrationID = @CPIntegrationID;

		 END
		 ELSE
		 BEGIN -- INSERT 

			SELECT @TenantName = TenantName 
			FROM dbo.Tenant
			WHERE TenantCode = @TenantCode AND Deleted = 0;

			INSERT INTO dbo.CPIntegration
			(
				TenantCode,
				TenantName,
				WarehouseCode,
				Token,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@TenantCode,
				@TenantName,
				@WarehouseCode,
				@Token,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			SET @CPIntegrationID = SCOPE_IDENTITY();
		 END

		 DECLARE @OrderType NCHAR(20),
				@OrderServiceName NCHAR(100)

		 DECLARE ServiceCursor CURSOR FOR
			SELECT 
				OrderType,
				OrderServiceName
			FROM @ServiceMappings

		OPEN ServiceCursor

		FETCH NEXT FROM ServiceCursor INTO 
			@OrderType,
			@OrderServiceName

		WHILE @@FETCH_STATUS = 0
		BEGIN	

			-- insert line
			INSERT INTO dbo.CPIntegrationLine
			(
				IntegrationID,				
				OrderType,
				OrderServiceName,					
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@CPIntegrationID,				
				@OrderType,
				@OrderServiceName,							
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			FETCH NEXT FROM ServiceCursor INTO 
				@OrderType,
				@OrderServiceName
		END

		CLOSE ServiceCursor
		DEALLOCATE ServiceCursor
		 
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
