USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_InvoiceManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <13 May, 2025>
-- Description:	<Implement Invoice Manual Report>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ReportScript_InvoiceManualReport]
	@ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@WarehouseName VARCHAR(150),
			@DayDuration INT,
			@Mandatory BIT,
			@ReportType VARCHAR(50),
			@Interval VARCHAR(50),
			@TenantName VARCHAR(250);


	-- Declare
	CREATE TABLE #TempInvoiceTable
	(
		WarehouseCode VARCHAR(20),
		WarehouseName VARCHAR(150),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ChargeName VARCHAR(100),
		ChargeDesc VARCHAR(500),
		Qty INT,
		Cost Decimal(18, 2),
		Charge Decimal(18, 2),
		Currency VARCHAR(20),
		ChargedDateTime VARCHAR(8),
		ChargedBy VARCHAR(100)
	);

	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;

	SELECT @WarehouseName = WarehouseName FROM dbo.LocWarehouse WHERE Deleted = 0 AND WarehouseCode = @WarehouseCode;

	INSERT INTO #TempInvoiceTable
	(
		WarehouseCode,
		WarehouseName,
		TenantCode,
		TenantName,
		ChargeName,
		ChargeDesc,
		Qty,
		Cost,
		Charge,
		Currency,
		ChargedDateTime,
		ChargedBy
	)
	SELECT 
		ISNULL(@WarehouseCode, I.WarehouseCode),
		ISNULL(@WarehouseName, LW.WarehouseName),
		ISNULL(@ManualTenantCode, I.TenantCode) as TenantCode,
		ISNULL(@TenantName, T.TenantName),
		I.ChargeName,
		I.InvoiceReferences as ChargeDesc,
		I.Qty,
		I.Cost,
		I.Charge,
		I.Currency,
		CONVERT(char(8), I.CreatedDateTime, 3) AS ChargedDateTime,		 
		I.CreatedBy AS ChargedBy
	FROM dbo.Invoice I
	LEFT JOIN dbo.Tenant T ON T.TenantCode = I.TenantCode AND T.Deleted = 0
	LEFT JOIN dbo.LocWarehouse LW ON LW.WarehouseCode = I.WarehouseCode AND LW.Deleted = 0
	WHERE 
		I.DELETED = 0
		AND I.CreatedDateTime BETWEEN @StartDate AND @EndDate
		AND (@ManualTenantCode IS NULL OR I.TenantCode = @ManualTenantCode)
		AND (@WarehouseCode IS NULL OR I.WarehouseCode = @WarehouseCode);	

	-- return
	SELECT * FROM #TempInvoiceTable;

END
GO
