USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItemCost_UpdateChargeItemCostById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Nov, 2024>
-- Description:	<Update Cost of Warehouse by Charge Item ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItemCost_UpdateChargeItemCostById] 
	@ChargeItemID INT,
	@ChargeItemWarehouseCosts ChargeItemWarehouseCostTable READONLY,
	@FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy         VARCHAR(100) = NULL,
	@LastEditedDateTime     DATETIME = NULL,
	@LastEditedBy          VARCHAR(100) = NULL,
	@Message				VARCHAR(4000) OUTPUT
AS
BEGIN
	BEGIN TRY
       
	   SET NOCOUNT ON;

		MERGE INTO dbo.ChargeItemCost AS Target
		USING @ChargeItemWarehouseCosts AS Source
		ON Target.ChargeItemID = @ChargeItemID AND Target.WarehouseCode = Source.WarehouseCode
		WHEN MATCHED THEN
			UPDATE SET 
				ChargeItemPrice = COALESCE(Source.Price, Target.ChargeItemPrice),
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, Target.FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, Target.FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, Target.LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, Target.LastEditedBy);
        
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
