USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocBin_UpdateLocBin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Update>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocBin_UpdateLocBin] 
	@LocBinID                    INT,
    @BinName                     VARCHAR(200) = NULL,
	@BinDesc                     VARCHAR(1000) = NULL,
    @OrderNumber                  INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
		
		IF NOT EXISTS(SELECT 1 FROM dbo.LocBin WHERE LocBinID = @LocBinID AND Deleted = 0)
		BEGIN
			SET @Message = 'LocBinID does not exist or has been deleted.'
			RETURN;
		END
		
		UPDATE dbo.LocBin
		SET
			BinName = COALESCE(@BinName, BinName),
			OrderNumber = COALESCE(@OrderNumber, OrderNumber),
			BinDesc = COALESCE(@BinDesc, BinDesc),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE LocBinID = @LocBinID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
