USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULDLIne_ResetULDLineSequence]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <06 Jul 2025>
-- Description:	<Reset ULDLine sequence>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULDLIne_ResetULDLineSequence] 
     @ULDID INT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY

		WITH OrderedRows AS
		(
			SELECT
				ULDLineID, -- assuming you have a primary key column
				ROW_NUMBER() OVER (ORDER BY ULDLineID ASC) AS NewSequence
			FROM dbo.ULDLine
			WHERE ULDID = @ULDID AND Deleted = 0
		)
		UPDATE ULDLine
		SET SequenceNumber = OrderedRows.NewSequence
		FROM ULDLine
		INNER JOIN OrderedRows ON ULDLine.ULDLineID = OrderedRows.ULDLineID;
       
    END TRY
    BEGIN CATCH
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
