USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogAccessLink_CheckExistedLogAccessLink]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Oct, 2024>
-- Description:	<Check Access Link existed>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogAccessLink_CheckExistedLogAccessLink] @AccessLink VARCHAR(500)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM dbo.LogAccessLink WHERE AccessLink = @AccessLink)
	BEGIN
		select 1;
	END
	ELSE
	BEGIN
		select 0;
	END
END
GO
