USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_SearchMaterialItemByBarcodeAndTenantCode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Nov, 2024>
-- Description:	<Search Material Item by Barcode>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_SearchMaterialItemByBarcodeAndTenantCode]
	@TenantCode VARCHAR(10), 
	@Barcode VARCHAR(30),
	@MaterialType VARCHAR(50) -- Box
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		i.ItemID, 
		i.TenantCode, 
		i.ItemNumber, 
		i.ItemName, 
		i.TrackSerialOnReceipt, 
		i.TrackExpiryDateOnReceipt, 
		i.TrackBatchCodeOnReceipt, 
		itu.ItemTradeUnitID,
		itu.UnitQuantity, 
		itu.ItemType AS Unit,
		itu.Width, 
		itu.Height,
		itu.Depth
	FROM dbo.Items i
	INNER JOIN dbo.ItemTradeUnit itu 
		ON i.ItemID = itu.ItemID 
		AND itu.Barcode = @Barcode -- Move JOIN condition to JOIN clause
	WHERE 
		i.TenantCode = @TenantCode 
		AND i.ItemIsActive = 1
		AND i.ItemIsMaterial = 1
		AND i.MaterialType = @MaterialType
		AND i.DELETED = 0 
		AND itu.DELETED = 0;

END
GO
