USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeGroup_UpdateChargeGroup]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Dec, 2024>
-- Description:	<Update Charge Group>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeGroup_UpdateChargeGroup] 
    @ChargeGroupID INT,
	@ChargeGroupName VARCHAR(100),
    @ChargeGroupDescription VARCHAR(1000),
	@Category VARCHAR(50),
	@Costs dbo.ChargeGroupWarehouseCostTable READONLY,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate ChargeGroupName
		IF NOT EXISTS(SELECT 1 FROM dbo.ChargeGroup WHERE ChargeGroupID = @ChargeGroupID AND Deleted = 0)
		BEGIN
			 SET @Message = 'Charge Group does not exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		IF EXISTS(SELECT 1 FROM dbo.ChargeGroup WHERE ChargeGroupID != @ChargeGroupID AND ChargeGroupName = @ChargeGroupName AND Deleted = 0)
		BEGIN
			 SET @Message = 'Charge Group Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		 -- Update 
        UPDATE dbo.ChargeGroup
        SET
            ChargeGroupName = COALESCE(@ChargeGroupName, ChargeGroupName),
			ChargeGroupDescription = COALESCE(@ChargeGroupDescription, ChargeGroupDescription),
			Category = COALESCE(@Category, Category),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE ChargeGroupID = @ChargeGroupID

		-- update deleted for old
		UPDATE dbo.ChargeGroupCost
		SET DELETED = 1
		WHERE ChargeGroupID = @ChargeGroupID;

		-- Insert into Cost
		INSERT INTO dbo.ChargeGroupCost
		(
			ChargeGroupID,
			WarehouseCode,
			ChargeItemPrice,
			ChargeItemUnit,
			ChargeItemCurrency,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		SELECT 
			@ChargeGroupID as ChargeGroupID,
			WarehouseCode,
			Price,
			Unit,
			Currency,
			0 as Deleted,
			@LastEditedDateTime,
			@LastEditedBy
		FROM 
			@Costs;

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
