USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_InitReportSchedules]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Jul, 2025>
-- Description:	<Init report schedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_InitReportSchedules]    
	@ResponseText NVARCHAR(MAX) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Object INT,
            @Status INT,
			@Url NVARCHAR(4000),              -- API endpoint URL
			@HeaderKey NVARCHAR(100),         -- Header key (e.g., 'Authorization' or 'x-api-key')
			@HeaderValue NVARCHAR(4000),      -- Header value (e.g., 'Bearer <token>')
			@JsonPayload NVARCHAR(MAX);       -- JSON data to POST				 

    BEGIN TRY

		SET @Url = 'https://tapi1.3plwms.com.au/ReportsAPI/api/ReportSchedule/TriggerReportSchedule';
		SET @HeaderKey = 'Key';
		SET @HeaderValue = 'mse8Q~GzWCsIJe8O12I5yw6GRrl55C6xcM.7Fb78';
		SET @JsonPayload = '{}';

        -- Create HTTP object
        EXEC @Status = sp_OACreate 'MSXML2.ServerXMLHTTP', @Object OUT;
        IF @Status <> 0
        BEGIN
            RAISERROR('Failed to create HTTP object.', 16, 1);
            RETURN;
        END

        -- Open connection
        EXEC @Status = sp_OAMethod @Object, 'open', NULL, 'POST', @Url, false;
        IF @Status <> 0
        BEGIN
            RAISERROR('Failed to open connection.', 16, 1);
            RETURN;
        END

        -- Set headers
        EXEC @Status = sp_OAMethod @Object, 'setRequestHeader', NULL, 'Content-Type', 'application/json';
        EXEC @Status = sp_OAMethod @Object, 'setRequestHeader', NULL, @HeaderKey, @HeaderValue;
        IF @Status <> 0
        BEGIN
            RAISERROR('Failed to set headers.', 16, 1);
            RETURN;
        END

        -- Send request with JSON body
        EXEC @Status = sp_OAMethod @Object, 'send', NULL, @JsonPayload;
        IF @Status <> 0
        BEGIN
            RAISERROR('Failed to send request.', 16, 1);
            RETURN;
        END

        -- Get response
        EXEC @Status = sp_OAGetProperty @Object, 'responseText', @ResponseText OUT;
        IF @Status <> 0
        BEGIN
            RAISERROR('Failed to get response.', 16, 1);
            RETURN;
        END

        -- Clean up
        EXEC sp_OADestroy @Object;
    END TRY
    BEGIN CATCH
        -- Cleanup in case of error
        IF @Object IS NOT NULL
            EXEC sp_OADestroy @Object;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error in SP_VI_TBL_ReportSchedule_InitReportSchedules: %s', 16, 1, @ErrMsg);
    END CATCH
END
GO
