USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_UserPermission_ListUserPermission]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Aug, 2024>
-- Description:	<List UserPermission>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_UserPermission_ListUserPermission] 
    @UserID INT, 
    @SuperUser BIT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
  
	SET NOCOUNT ON;

    DECLARE @UserCode VARCHAR(50);

    SELECT @SuperUser = SuperUser , @UserCode = UserCode
		FROM dbo.Users 
        WHERE UserID = @UserID AND DELETED = 0;

	IF @SuperUser IS NULL
    BEGIN
        SET @SuperUser = 0; -- Return false as BIT
    END

    SELECT u.*, a.APILabel
	FROM dbo.UserPermission u
	LEFT JOIN dbo.API a ON a.APIName = u.APIName AND a.DELETED = 0
	WHERE u.UserCode = @UserCode AND u.DELETED = 0;

END
GO
