USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_AutoCreatingBayAllocationInvoices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Feb, 2025>
-- Description:	<Auto Creating Bay Allocation Invoices>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_AutoCreatingBayAllocationInvoices]
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @ChargeItemName VARCHAR(200) = 'Storage - BAY';
		DECLARE @ChargeItemID INT;
		
		-- get Charge ID
		SELECT @ChargeItemID = ChargeItemID
		FROM dbo.ChargeITem
		WHERE ChargeItemName = @ChargeItemName AND DELETED = 0 AND ChargeItemGroup = 'Storage' AND ChargeItemUnit = 'Week';

		IF @ChargeItemID IS NOT NULL
		BEGIN

			BEGIN TRANSACTION

			DECLARE @SectionID INT;
			DECLARE @ColumnCode VARCHAR(20);
			DECLARE @SectionCode VARCHAR(20);
			DECLARE @RowCode VARCHAR(20);
			DECLARE @TenantCode VARCHAR(10);
			DECLARE @WarehouseCode VARCHAR(20);
			DECLARE @AreaCode VARCHAR(20);

			DECLARE @LocWarehouseName VARCHAR(200),
					@LocAreaName    VARCHAR(200),
					@LocSectionName VARCHAR(200),
					@LocRowName     VARCHAR(200),
					@LocColumnName  VARCHAR(200);
			 DECLARE @InvoiceReferences VARCHAR(500) = NULL;

			DECLARE @Charge DECIMAL(10, 2);
			DECLARE @Currency VARCHAR(20);
			DECLARE @ChargeType VARCHAR(20); -- Standard or Custom

			-- Init cursor
			DECLARE BayTenantCursor CURSOR FOR
			SELECT 
				A.TenantCode, 
				A.SectionID, 
				C.ColumnCode,
				R.RowCode,
				R.RowName,
				C.ColumnName
			FROM dbo.BayTenantAllocation A
			LEFT JOIN dbo.LocColumn C ON C.LocColumnID = A.ColumnID
			LEFT JOIN dbo.LocRow R ON R.LocRowID = A.RowID
			WHERE A.DELETED = 0 
			  AND (A.AllocationDate IS NULL OR A.AllocationDate <= GETDATE());

			OPEN BayTenantCursor;

			FETCH NEXT FROM BayTenantCursor INTO @TenantCode, @SectionID, @ColumnCode, @RowCode, @LocRowName, @LocColumnName;

			WHILE @@FETCH_STATUS = 0
			BEGIN

				SET @Charge = 0;
				SET @Currency = '';
				SET @WarehouseCode = NULL;
				SET @SectionCode = NULL;
				SET @AreaCode = NULL;

				-- Get Warehouse Code from SectionID
				SELECT @WarehouseCode = lw.WarehouseCode, 
					   @SectionCode = ls.SectionCode, 
					   @AreaCode = la.AreaCode,
					   @LocWarehouseName = lw.WarehouseName,
					   @LocAreaName = la.AreaName,
					   @LocSectionName = ls.SectionName
				FROM LocSection ls
				JOIN LocArea la ON ls.LocAreaID = la.LocAreaID
				JOIN LocWarehouse lw ON la.LocWarehouseID = lw.LocWarehouseID
				WHERE ls.LocSectionID = @SectionID;	
				
				SELECT  @Charge = ISNULL(ChargeItemPrice, 0),
						@Currency = ISNULL(ChargeItemCurrency, '')
				FROM dbo.ChargeItemCost 
				WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode AND ChargeItemId = @ChargeItemID;

				SET @InvoiceReferences = 'W: ' + @LocWarehouseName + ' A: ' + @LocAreaName + ' S: ' + @LocSectionName + ' R: ' + @LocRowName + ' C: ' + @LocColumnName;

				INSERT INTO [dbo].[Invoice] (
					TenantCode,
					ChargeName,
					ChargeType,
					ChargeCategory,
					InvoiceReferences,
					WarehouseCode,
					Qty,
					Cost,
					Charge,
					Currency,
					Status,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES (
					@TenantCode,
					@ChargeItemName,
					'BayAllocation',
					'Storage',
					@InvoiceReferences,
					@WarehouseCode,
					1,
					@Charge,
					@Charge,
					@Currency,
					'Pending',
					0, -- Deleted
					GETDATE(),     
					'Scheduler'
				);

				FETCH NEXT FROM BayTenantCursor INTO @TenantCode, @SectionID, @ColumnCode, @RowCode, @LocRowName, @LocColumnName;
			END;

			CLOSE BayTenantCursor;
			DEALLOCATE BayTenantCursor;
			
			-- Commit the transaction
			COMMIT TRANSACTION;
		END


    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;

END
GO
