USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertPackingInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2025>
-- Description:	<Insert Packing Invoice for CMC completed orders>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertCMCPackingInvoice]  
	@OrderNumbers dbo.StringArray READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @OrderNumber VARCHAR(50),
				@WaveID INT,
				@WaveNumber VARCHAR(11),
				@TenantCode VARCHAR(10),
				@WarehouseCode VARCHAR(10),
				@Charge DECIMAL(10, 2),
				@Currency VARCHAR(20),
				@InvoiceMessage VARCHAR(4000);

		DECLARE cur_OrderNumbers CURSOR LOCAL FAST_FORWARD FOR
			SELECT [Value]
			FROM @OrderNumbers;

		OPEN cur_OrderNumbers;

		FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			-- Get Fulfilment and Tenant details
			SELECT TOP 1
				@WaveID = wl.WaveID,
				@TenantCode = f.TenantCode,
				@WarehouseCode = f.WarehouseCode,
				@Currency = lw.Currency
			FROM dbo.Fulfilment f
			INNER JOIN dbo.WaveLine wl
				ON wl.OrderNumber = f.OrderNumber
			   AND wl.Deleted = 0
			INNER JOIN dbo.LocWarehouse lw
				ON lw.WarehouseCode = f.WarehouseCode
			   AND lw.Deleted = 0
			WHERE f.OrderNumber = @OrderNumber
			  AND f.Deleted = 0
			ORDER BY wl.WaveID DESC;

			-- Get WaveNumber if WaveID is set
			IF @WaveID IS NOT NULL
			BEGIN
				SELECT @WaveNumber = WaveNumber
				FROM dbo.Wave 
				WHERE WaveID = @WaveID AND Deleted = 0;
			END
			ELSE
			BEGIN
				SET @WaveNumber = '';
			END

			-- Get CMC packing charge from Tenant
			SELECT @Charge = ISNULL(CMCChargeCost, 0)
			FROM dbo.Tenant
			WHERE TenantCode = @TenantCode AND Deleted = 0;

			-- Insert invoice
			INSERT INTO [dbo].[Invoice] (
				TenantCode,
				ChargeName,
				ChargeType,
				ChargeCategory,
				InvoiceReferences,
				WaveReferences,
				ItemReferences,
				WarehouseCode,
				Qty,
				Cost,
				Charge,
				Currency,
				Status,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES (
				@TenantCode,
				'CMC Packing',
				'Standard',
				'Packing',
				@OrderNumber,
				@WaveNumber,
				'',
				@WarehouseCode,
				1,
				@Charge,
				@Charge,
				ISNULL(@Currency, 'AUD (A$)'),
				'Pending',
				0,
				@CreatedDateTime,
				@CreatedBy
			);

			FETCH NEXT FROM cur_OrderNumbers INTO @OrderNumber;
		END;

		CLOSE cur_OrderNumbers;
		DEALLOCATE cur_OrderNumbers;

		COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
