USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_BinTenantAllocation_GetAllAllocatedOfTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Mar, 2025>
-- Description:	<GET All Allocated Bin Of Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_BinTenantAllocation_GetAllAllocatedOfTenant]  
	@TenantCode VARCHAR(10)
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT bta.BinTenantAllocationID, bta.TenantCode, bta.TenantName, bta.AllocationDate, 
	       bta.BinID, lb.BinCode, lss.ShelfCode, 
		   lc.ColumnCode, lc.ColumnName, lr.RowCode, lr.RowName, ls.SectionCode, ls.SectionName, la.AreaCode, la.AreaName, lw.WarehouseCode, lw.WarehouseName
	FROM dbo.BinTenantAllocation bta 
	INNER JOIN dbo.LocBin lb ON lb.LocBinID = bta.BinID
	INNER JOIN dbo.LocShelf lss ON lss.LocShelfID = bta.ShelfID
	INNER JOIN dbo.LocColumn lc ON lc.LocColumnID = bta.ColumnID
	INNER JOIN dbo.LocRow lr ON lr.LocRowID = lc.LocRowID
	INNER JOIN dbo.LocSection ls ON ls.LocSectionID = lr.LocSectionID
	INNER JOIN dbo.LocArea la ON la.LocAreaID = ls.LocAreaID
	INNER JOIN dbo.LocWarehouse lw ON lw.LocWarehouseID = la.LocWarehouseID
	WHERE bta.Deleted = 0 AND bta.TenantCode = @TenantCode;
END
GO
