USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocWarehouse_InsertSingleWarehouseLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocWarehouse_InsertSingleWarehouseLocation]  
    @NumberWarehouses INT,
    @WarehouseName VARCHAR(100),
    @WAddressLine1 VARCHAR(100),
    @WAddressLine2 VARCHAR(100),
	@Phone VARCHAR(20),
	@Email VARCHAR(100),
    @WSuburb VARCHAR(50),
    @WState VARCHAR(50),
    @WPostcode VARCHAR(10),
    @WCountry VARCHAR(50),
	@Currency VARCHAR(20),
	@WarehouseDesc VARCHAR(1000),
	@ChargeItemWarehouseCosts ChargeItemWarehouseCostTable READONLY,
	@DHLWarehouseIntegration DHLWarehouseIntegrationType READONLY,
	@APWarehouseIntegration APWarehouseIntegrationType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		-- Code to handle Warehouse creation
        PRINT 'Creating Warehouse...';
		
		IF EXISTS (SELECT 1 
						FROM dbo.LocWarehouse 
						WHERE TRIM(WarehouseName) = TRIM(@WarehouseName) AND DELETED = 0)
		BEGIN
			SET @Message = 'The Warehouse name already exists.';
			ROLLBACK TRANSACTION;
			RETURN;
		END;

		DECLARE @TotalRecords INT;
        DECLARE @i INT;
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @SequenceValue BIGINT;
		DECLARE @Deleted BIT;
		
        SELECT @TotalRecords = COUNT(*) FROM dbo.LocWarehouse;
		IF @TotalRecords = 26
		BEGIN
			SET @Message = 'Can not create more Warehouse.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

        -- Loop to insert rows based on @NumberWarehouses
        SET @i = 0;

        WHILE @i < @NumberWarehouses
        BEGIN
           
			-- Get the next value from the sequence
			SET @SequenceValue = 1;
			SET @WarehouseCode = CHAR(65 + (@SequenceValue - 1) % 26);
			SELECT @Deleted = Deleted FROM dbo.LocWarehouse WHERE WarehouseCode = @WarehouseCode;

			WHILE @WarehouseCode != 'Z' AND @Deleted IS NOT NULL AND @Deleted = 0
			BEGIN				
				SET @Deleted = NULL;
				SET @SequenceValue = @SequenceValue + 1;
				SET @WarehouseCode = CHAR(65 + (@SequenceValue - 1) % 26);
				SELECT @Deleted = Deleted FROM dbo.LocWarehouse WHERE WarehouseCode = @WarehouseCode;				
			END

			IF @Deleted IS NULL
			BEGIN
				-- Insert into Warehouse table
				INSERT INTO dbo.LocWarehouse
				(
					WarehouseCode,
					WarehouseName,
					WAddressLine1,
					WAddressLine2,
					Phone,
					Email,
					WSuburb,
					WState,
					WPostcode,
					WCountry,
					Currency,
					Deleted,
					CreatedDateTime,
					CreatedBy,
					WarehouseDesc
				)
				VALUES
				(
					@WarehouseCode,
					@WarehouseName,
					@WAddressLine1,
					@WAddressLine2,
					@Phone,
					@Email,
					@WSuburb,
					@WState,
					@WPostcode,
					@WCountry,
					@Currency,
					0, -- Default value for Deleted
					@CreatedDateTime,
					@CreatedBy,
					@WarehouseDesc
				);
			END
			ELSE IF @Deleted  = 1
			BEGIN
				UPDATE dbo.LocWarehouse
				SET
					Deleted = 0,
					WarehouseName = COALESCE(@WarehouseName, WarehouseName),
					WarehouseDesc = COALESCE(@WarehouseDesc, WarehouseDesc),
					WAddressLine1 = COALESCE(@WAddressLine1, WAddressLine1),
					WAddressLine2 = COALESCE(@WAddressLine2, WAddressLine2),
					Phone = COALESCE(@Phone, Phone),
					Email = COALESCE(@Email, Email),
					WSuburb = COALESCE(@WSuburb, WSuburb),
					WState = COALESCE(@WState, WState),
					WPostcode = COALESCE(@WPostcode, WPostcode),
					WCountry = COALESCE(@WCountry, WCountry),
					Currency = COALESCE(@Currency, Currency),
					CreatedDateTime = @CreatedDateTime,
					CreatedBy = @CreatedBy,
					FirstEditedDateTime = NULL,
					FirstEditedBy = NULL,
					LastEditedDateTime = NULL,
					LastEditedBy = NULL
				WHERE WarehouseCode = @WarehouseCode
			END
			
			
			-- Insert the associated cost
			INSERT INTO dbo.ChargeItemCost (ChargeItemID, WarehouseCode, ChargeItemPrice, ChargeItemCurrency, Deleted, CreatedDateTime, CreatedBy)
			SELECT Id, @WarehouseCode, Price, @Currency , 0, @CreatedDateTime, @CreatedBy
			FROM @ChargeItemWarehouseCosts;

			-- Insert DHL Integration details
			INSERT INTO dbo.DHLWarehouseIntegration (WarehouseCode, AccountNumber, UserName, [Password], Deleted, CreatedDateTime, CreatedBy)
			SELECT @WarehouseCode, AccountNumber, UserName, Password, 0, @CreatedDateTime, @CreatedBy
			FROM @DHLWarehouseIntegration;

			-- Insert AP Integration details
			INSERT INTO dbo.APWarehouseIntegration (WarehouseCode, AccountNumber, Token, MLID, Deleted, CreatedDateTime, CreatedBy)
			SELECT @WarehouseCode, AccountNumber, Token, MLID, 0, @CreatedDateTime, @CreatedBy
			FROM @APWarehouseIntegration;


			IF NOT EXISTS (SELECT 1 
						FROM dbo.Tenant 
						WHERE IsWarehouseTenant = 1 AND DELETED = 0 AND TRIM(TenantWarehouseCode) = TRIM(@WarehouseCode))
			BEGIN
				-- Insert Tenant for the Warehouse
				INSERT INTO dbo.Tenant
				(
					TenantCode,
            		TenantName,
					TenantWarehouseName,
					TenantWarehouseCode,
					IsWarehouseTenant,
					TenantJoinDate,
					TenantStatus,
					TenantAddressLine1,
					TenantAddressLine2,
					TenantSuburb,
					TenantState,
					TenantPostcode,
					TenantCountry,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				SELECT 
						'WH-' + @WarehouseCode,
						'Warehouse Tenant - ' + @WarehouseName,					
						@WarehouseName,
						@WarehouseCode,
						1,
						GETDATE(),
						'Active',
						WAddressLine1,
						WAddressLine2,
						WSuburb,
						WState,
						WPostcode,
						WCountry,						
						0, -- Default value for Deleted
						@CreatedDateTime,
						@CreatedBy
				FROM dbo.LocWarehouse
				Where WarehouseCode = @WarehouseCode AND DELETED = 0;
				
			END;


            SET @i = @i + 1;
        END
        
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
