USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_CheckZeroCost]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Jan, 2025>
-- Description:	<Check Cost Zero of Charge Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_CheckZeroCost] @ChargeItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	IF NOT EXISTS(SELECT 1 FROM dbo.ChargeItemCost WHERE ChargeItemID = @ChargeItemID AND DELETED = 0 AND ChargeItemPrice = 0)
	BEGIN
		SELECT 1;
	END
	ELSE
	BEGIN
		SELECT 0;
	END
END
GO
