USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Carrier_ListCarriers]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<Get list of Carrier with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Carrier_ListCarriers]
	 @WarehouseCode VARCHAR(20) = NULL,
	 @TenantCode VARCHAR(20) = NULL,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'CarrierID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @WarehouseCode IS NULL AND @TenantCode IS NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier WHERE DELETED = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT 
					c.*, 
					t.TenantName, 
					w.WarehouseName
				FROM dbo.Carrier c
				LEFT JOIN dbo.Tenant t 
					ON t.TenantCode = c.TenantCode
				LEFT JOIN dbo.LocWarehouse w 
					ON w.WarehouseCode = c.WarehouseCode
				WHERE c.DELETED = 0
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
				OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

			PRINT 'aaa ' +  @SQL;
			
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier 
			WHERE DELETED = 0 
			AND (
				LOWER(CarrierName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(CarrierCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT c.*, 
							t.TenantName, 
							w.WarehouseName
					FROM dbo.Carrier c
					LEFT JOIN dbo.Tenant t 
						ON t.TenantCode = c.TenantCode
					LEFT JOIN dbo.LocWarehouse w 
						ON w.WarehouseCode = c.WarehouseCode
				WHERE c.DELETED = 0 
				AND (
					LOWER(c.CarrierName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(c.CarrierCode) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(w.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		END 
	END
	ELSE IF @WarehouseCode IS NOT NULL AND @TenantCode IS NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
					SELECT 
						c.*, 
						t.TenantName, 
						w.WarehouseName
					FROM dbo.Carrier c
					LEFT JOIN dbo.Tenant t 
						ON t.TenantCode = c.TenantCode
					LEFT JOIN dbo.LocWarehouse w 
						ON w.WarehouseCode = c.WarehouseCode
					WHERE c.DELETED = 0 
					  AND c.WarehouseCode = ''' + @WarehouseCode + '''
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
					OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier 
			WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode
			AND (
				LOWER(CarrierName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(CarrierCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT 
						c.*, 
						t.TenantName, 
						w.WarehouseName
					FROM dbo.Carrier c
					LEFT JOIN dbo.Tenant t 
						ON t.TenantCode = c.TenantCode
					LEFT JOIN dbo.LocWarehouse w 
						ON w.WarehouseCode = c.WarehouseCode
					WHERE c.DELETED = 0 
					  AND c.WarehouseCode = ''' + @WarehouseCode + '''
					AND (
						LOWER(c.CarrierName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(c.CarrierCode) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					    OR LOWER(w.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		END 
	END
	ELSE IF @WarehouseCode IS NULL AND @TenantCode IS NOT NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier WHERE DELETED = 0 AND TenantCode = @TenantCode;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);
		
			SET @SQL = N'
					SELECT 
						c.*, 
						t.TenantName, 
						w.WarehouseName
					FROM dbo.Carrier c
					LEFT JOIN dbo.Tenant t 
						ON t.TenantCode = c.TenantCode
					LEFT JOIN dbo.LocWarehouse w 
						ON w.WarehouseCode = c.WarehouseCode
					WHERE c.DELETED = 0 
					  AND c.TenantCode = ''' + @TenantCode + '''
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
					OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier 
			WHERE DELETED = 0 AND TenantCode = @TenantCode 
			AND (
				LOWER(CarrierName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(CarrierCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT 
						c.*, 
						t.TenantName, 
						w.WarehouseName
					FROM dbo.Carrier c
					LEFT JOIN dbo.Tenant t 
						ON t.TenantCode = c.TenantCode
					LEFT JOIN dbo.LocWarehouse w 
						ON w.WarehouseCode = c.WarehouseCode
					WHERE c.DELETED = 0 
					  AND c.TenantCode = ''' + @TenantCode + '''
				AND (
					LOWER(c.CarrierName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(c.CarrierCode) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(w.WarehouseName) LIKE ''%' + LOWER(@Search) + '%''
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		END 
	END
	ELSE
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier WHERE DELETED = 0 AND TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode; 

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			
			SET @SQL = N'
					SELECT 
						c.*, 
						t.TenantName, 
						w.WarehouseName
					FROM dbo.Carrier c
					LEFT JOIN dbo.Tenant t 
						ON t.TenantCode = c.TenantCode
					LEFT JOIN dbo.LocWarehouse w 
						ON w.WarehouseCode = c.WarehouseCode
					WHERE c.DELETED = 0 
					  AND c.WarehouseCode = ''' + @WarehouseCode + '''
					  AND c.TenantCode = ''' + @TenantCode + '''
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
					OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Carrier 
			WHERE DELETED = 0 AND TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode
			AND (
				LOWER(CarrierName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(CarrierCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT 
						c.*, 
						t.TenantName, 
						w.WarehouseName
					FROM dbo.Carrier c
					LEFT JOIN dbo.Tenant t 
						ON t.TenantCode = c.TenantCode
					LEFT JOIN dbo.LocWarehouse w 
						ON w.WarehouseCode = c.WarehouseCode
					WHERE c.DELETED = 0 
					  AND c.WarehouseCode = ''' + @WarehouseCode + '''
					  AND c.TenantCode = ''' + @TenantCode + '''
					AND (
						LOWER(c.CarrierName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(c.CarrierCode) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
						OR LOWER(w.WarehouseName) LIKE ''%' + LOWER(@Search) + '%''
					) 
					ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		END 
	END

   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
