USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_CheckTenantLock]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Mar, 2025>
-- Description:	<Check Lock of tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_CheckTenantLock] 
	@TenantCode VARCHAR(10),
	@Lock BIT OUTPUT,
	@Reason VARCHAR(1000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SET @Lock = 0;
	SET @Reason = '';

	DECLARE @TenantID INT;

    SELECT @TenantID = TenantID
    FROM dbo.Tenant 
    WHERE TenantCode = @TenantCode AND DELETED = 0;

	DECLARE @TenantLockID INT;

	IF @TenantID IS NOT NULL	
	BEGIN
		SELECT @TenantLockID = TenantLockID, @Reason = Reason
		FROM dbo.TenantLock 
		WHERE TenantCode = @TenantCode AND DELETED = 0;

		IF @TenantLockID IS NOT NULL
		BEGIN
			SET @Lock = 1;
			SET @Reason = @Reason;
		END	
	END

END
GO
