USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertBayAllocationInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Feb, 2025>
-- Description:	<Insert Bay Allocation Invoice>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertBayAllocationInvoice]  
	@TenantCode VARCHAR(10),
	@WarehouseCode VARCHAR(20),	
	@InvoiceReferences VARCHAR(500) = NULL,
	@Qty INT,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY      

		DECLARE @ChargeItemName VARCHAR(200) = 'Storage - BAY';
		DECLARE @ChargeItemID INT;
		
		-- get Charge ID
		SELECT @ChargeItemID = ChargeItemID
		FROM dbo.ChargeITem
		WHERE ChargeItemName = @ChargeItemName AND DELETED = 0 AND ChargeItemGroup = 'Storage' AND ChargeItemUnit = 'Week';

		IF @ChargeItemID IS NULL
		BEGIN
			 SET @Message = 'Bay Allocation Charge Item does not exists.';			
			 RETURN;
		END


		DECLARE @Charge DECIMAL(18, 2);
		DECLARE @Currency VARCHAR(20);

		SET @Charge = 0;
		SET @Currency = '';

		SELECT  @Charge = ISNULL(ChargeItemPrice, 0),
				@Currency = ISNULL(ChargeItemCurrency, '')
		FROM dbo.ChargeItemCost 
		WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode AND ChargeItemId = @ChargeItemID;

		INSERT INTO [dbo].[Invoice] (
			TenantCode,
			ChargeName,
			ChargeType,
			ChargeCategory,
			InvoiceReferences,
			WarehouseCode,
			Qty,
			Cost,
			Charge,
			Currency,
			Status,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES (
			@TenantCode,
			@ChargeItemName,
			'BayAllocation',
			'Storage',
			@InvoiceReferences,
			@WarehouseCode,
			@Qty,
			@Charge,
			@Charge * @Qty,
			@Currency,
			'Pending',
			0, -- Deleted
			@CreatedDateTime,
			@CreatedBy
		);


    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;


END
GO
