USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Log_ListLogs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2024>
-- Description:	<List Log>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Log_ListLogs]
		@LogTableName VARCHAR(255),
        @Search NVARCHAR(100),
	    @PageNumber INT,
        @PageSize INT,
        @OrderBy NVARCHAR(50),
        @OrderDir NVARCHAR(4), -- 'ASC' or 'DESC'
	    @TotalRecords INT OUTPUT,
        @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	 -- Check for duplicate ItemCode
	IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = @LogTableName AND TABLE_SCHEMA = 'dbo')
	BEGIN
     SET @TotalRecords = 0;
	 SET @TotalPages = 0;
	 SELECT * FROM dbo.SecurityLog WHERE 1 = 0;
	 RETURN;
	END


	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN

		-- Construct the dynamic SQL statement to count records
		SET @SQL = N'SELECT @TotalRecords = COUNT(*) FROM ' + QUOTENAME(@LogTableName);

		-- Execute the dynamic SQL with sp_executesql to set @TotalRecords
		EXEC sp_executesql 
			@SQL,
			N'@TotalRecords INT OUTPUT',
			@TotalRecords = @TotalRecords OUTPUT;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT * FROM ' + QUOTENAME(@LogTableName) + ' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		-- Construct the dynamic SQL statement for the filtered count
		SET @SQL = N'SELECT @TotalRecords = COUNT(*) FROM ' + QUOTENAME(@LogTableName) + N' WHERE ' +
				   N'(LOWER(AppName) LIKE ''%'' + LOWER(@Search) + ''%'' ' +
				   N'OR LOWER(LoggedInUser) LIKE ''%'' + LOWER(@Search) + ''%'' ' +
				   N'OR LOWER(MessageType) LIKE ''%'' + LOWER(@Search) + ''%'')';

		-- Execute the dynamic SQL with sp_executesql to safely pass parameters
		EXEC sp_executesql 
			@SQL,
			N'@Search NVARCHAR(100), @TotalRecords INT OUTPUT',
			@Search = @Search,
			@TotalRecords = @TotalRecords OUTPUT;


		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT * FROM ' + QUOTENAME(@LogTableName) + '  
            WHERE 
            (
                LOWER(AppName) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(LoggedInUser) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(MessageType) LIKE ''%' + LOWER(@Search) + '%'' 
            ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
