USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_ViewIntegrationServiceByTenantAndWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Aug, 2025>
-- Description:	<Get detail information of AP Integration by Tenant>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_APIntegration_ViewIntegrationServiceByTenantAndWarehouse] 
   @TenantCode VARCHAR(10),
   @WarehouseCode VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @APIntegration INT;
	
    SELECT @APIntegration = IntegrationID 
    FROM dbo.APIntegration 
    WHERE TenantCode = @TenantCode AND DELETED = 0 AND WarehouseCode = @WarehouseCode;

	IF @APIntegration IS NOT NULL
	BEGIN
		SELECT IntegrationLineID, ServiceID, ServiceName , OrderType, OrderServiceName
		FROM dbo.APIntegrationLine 
		WHERE IntegrationID = @APIntegration AND Deleted = 0;
	END

END
GO
