USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ItemKitingCost_ViewItemKitingCostByItemId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Jun, 2025>
-- Description:	<List Item Kitting cost By Item Id>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ItemKitingCost_ViewItemKitingCostByItemId] @ItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT 
        c.*, w.WarehouseName
    FROM 
        dbo.ItemKitingCost c
	LEFT JOIN 
		dbo.LocWarehouse w ON c.WarehouseCode = w.WarehouseCode
    WHERE 
        c.ItemID = @ItemID AND c.DELETED = 0;
END
GO
