USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSection_DeleteLocSection]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Soft Delete>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSection_DeleteLocSection] @LocSectionID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.LocSection WHERE LocSectionID = @LocSectionID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Section has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @AllColumnIds dbo.IdArray;

		INSERT INTO @AllColumnIds (Value)
		SELECT lc.LocColumnID FROM dbo.LocColumn lc
		JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
		WHERE lc.Deleted = 0
			AND lr.Deleted = 0
			AND lr.LocSectionID = @LocSectionID;
		
		-- check having ULD
		DECLARE @NumberOfULD INT;
		SELECT @NumberOfULD = COUNT(*)
		FROM dbo.ULD U
		WHERE U.LocColumnID IN (SELECT Value FROM @AllColumnIds)
		AND U.DELETED = 0
		AND EXISTS (
			SELECT 1
			FROM dbo.ULDLine UL
			WHERE UL.ULDID = U.ULDID
			AND UL.DELETED = 0
			GROUP BY UL.ULDID
			HAVING SUM(UL.TransactionQty) > 0
		);

		IF @NumberOfULD > 0
		BEGIN
			SET @Message = 'There are not empty ULDs at these location.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @LocAreaID INT, @TotalDeletedRecords INT;

		SELECT @LocAreaID = LocAreaID
		FROM dbo.LocSection
		WHERE LocSectionID = @LocSectionID;

		SELECT @TotalDeletedRecords = COUNT(*) 
		FROM dbo.LocSection
		WHERE LocAreaID = @LocAreaID AND DELETED = 1;

		SET @TotalDeletedRecords = -@TotalDeletedRecords - 1;

		-- Step 1: Update LocSection table
		UPDATE dbo.LocSection
		SET Deleted = 1,
			OrderNumber = @TotalDeletedRecords
		WHERE LocSectionID = @LocSectionID;

        -- Step 2: Update LocRow table using JOIN with LocSection
        UPDATE lr
        SET lr.Deleted = 1
        FROM dbo.LocRow lr
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocSectionID = @LocSectionID;

        -- Step 3: Update LocColumn table using JOIN with LocRow
        UPDATE lc
        SET lc.Deleted = 1
        FROM dbo.LocColumn lc
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocSectionID = @LocSectionID;

        -- Step 4: Update LocShelf table using JOIN with LocColumn
        UPDATE lshelf
        SET lshelf.Deleted = 1
        FROM dbo.LocShelf lshelf
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocSectionID = @LocSectionID;

        -- Step 5: Update LocBin table using JOIN with LocShelf
        UPDATE lb
        SET lb.Deleted = 1
        FROM dbo.LocBin lb
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocSectionID = @LocSectionID;

        -- Step 6: Update LocSBin table using JOIN with LocBin
        UPDATE lsb
        SET lsb.Deleted = 1
        FROM dbo.LocSBin lsb
        INNER JOIN dbo.LocBin lb ON lsb.LocBinID = lb.LocBinID
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        INNER JOIN dbo.LocColumn lc ON lshelf.LocColumnID = lc.LocColumnID
        INNER JOIN dbo.LocRow lr ON lc.LocRowID = lr.LocRowID
        INNER JOIN dbo.LocSection ls ON lr.LocSectionID = ls.LocSectionID
        WHERE ls.LocSectionID = @LocSectionID;
		

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for LocSectionID: ' + CAST(@LocSectionID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating LocSectionID: ' + CAST(@LocSectionID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
