USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Report_UpdateReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 jan, 2025>
-- Description:	<Update report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Report_UpdateReport] 
    @ReportID INT,
	@TenantCode VARCHAR(10),
    @ReportSubject VARCHAR(200),
	@ReportCategory VARCHAR(50),
    @Status VARCHAR(20),
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
    @Message                      VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
        -- Check if the ReportID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.Report WHERE ReportID = @ReportID AND Deleted = 0)
        BEGIN
            SET @Message = 'ReportID does not exist or has been deleted.'
            RETURN;
        END

        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.Report
        SET
            @TenantCode = COALESCE(@TenantCode, TenantCode),
			@ReportSubject = COALESCE(@ReportSubject, ReportSubject),
			@ReportCategory = COALESCE(@ReportCategory, ReportCategory),
			@Status = COALESCE(@Status, Status),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE ReportID = @ReportID;

    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
