USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_PackingResult_ViewPackingResultOfOrderByStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2025>
-- Description:	<Get packing result of order by Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_PackingResult_ViewPackingResultOfOrderByStatus] 
	@OrderNumber VARCHAR(50),
    @Status VARCHAR(30) = 'Pending',
	@WarehouseCode  VARCHAR(10) OUTPUT,
	@TenantCode VARCHAR(10) OUTPUT,
	@AccountNumber NVARCHAR(50) OUTPUT,
	@Token NCHAR(100) OUTPUT,
	@IsLocal BIT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @IntegrationID INT,	
			@FulfilmentID INT,
			@CarrierServiceID INT,
			@Carrier VARCHAR(500),
			@SourceOrderNumber VARCHAR(50),
			@OrderSource VARCHAR(50),
			@ServiceName VARCHAR(50),
			@CarrierID INT;

	SELECT  @FulfilmentID = FulfilmentID,
		    @TenantCode = TenantCode, 
			@WarehouseCode = WarehouseCode, 
			@OrderSource = OrderSource,
			@SourceOrderNumber = order_number,
			@Carrier = Carrier,
			@CarrierID = ISNULL(CarrierID,1)
	FROM dbo.Fulfilment
	WHERE OrderNumber = @OrderNumber AND Deleted = 0;

	IF @CarrierID = 1 -- AP
	BEGIN
		SELECT @IntegrationID = IntegrationID, @AccountNumber = AccountNumber, @Token = Token
		FROM dbo.APIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		IF @IntegrationID IS NOT NULL
		BEGIN
			IF @OrderSource = 'Manual'
			BEGIN
			
				SELECT @CarrierServiceID = CarrierServiceID
				FROM dbo.Orders
				WHERE order_number = @SourceOrderNumber AND Deleted = 0;

				SELECT @ServiceName = ServiceName
				FROM dbo.AP_Service
				WHERE ServiceID = @CarrierServiceID AND Deleted = 0;
			END
			ELSE  -- Not manual
			BEGIN
				SET @Carrier = REPLACE(@Carrier COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       'Australia Post ' COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       '');

				SELECT 
					 @ServiceName = l.ServiceName
				FROM dbo.APIntegrationLine l 
				LEFT JOIN dbo.AP_Service s ON s.ServiceID = l.ServiceID AND s.Deleted = 0
				where l.Deleted = 0 
						AND l.IntegrationID = @IntegrationID 
						AND l.OrderType COLLATE SQL_Latin1_General_CP1_CI_AS = @OrderSource COLLATE SQL_Latin1_General_CP1_CI_AS
					    AND l.OrderServiceName = @Carrier ;
			END

			IF @ServiceName = 'International'
			BEGIN
				SET @IsLocal = 0;
			END
			ELSE
			BEGIN
				SET @IsLocal = 1;
			END					
		END -- End @IntegrationID IS NOT NULL
	END
	IF @CarrierID = 3 -- DHL
	BEGIN
		SELECT @IntegrationID = IntegrationID,
			   @AccountNumber = UserName,
			   @Token = [Password]
		FROM dbo.DHLIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0; 

		IF @IntegrationID IS NOT NULL
		BEGIN
			IF @OrderSource = 'Manual'
			BEGIN
			
				SELECT @ServiceName = CarrierService
				FROM dbo.Orders
				WHERE order_number = @SourceOrderNumber AND Deleted = 0;
				
			END
			ELSE  -- Not manual
			BEGIN

				SET @Carrier = REPLACE(@Carrier COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       'DHL Express ' COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       '');

				SELECT 
					 @ServiceName = l.ServiceName
				FROM dbo.DHLIntegrationLine l 				
				where l.Deleted = 0 
						AND l.IntegrationID = @IntegrationID 
						AND l.OrderType COLLATE SQL_Latin1_General_CP1_CI_AS = @OrderSource COLLATE SQL_Latin1_General_CP1_CI_AS						
						AND l.OrderServiceName = @Carrier;
			END
		END
	END

    SELECT * 
    FROM dbo.PackingResult 
    WHERE OrderNumber = @OrderNumber AND Status = @Status AND DELETED = 0;
END
GO
