USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_ViewAPLocalShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Get local shipment>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_VI_TBL_APShipment_ViewAPLocalShipment]  
	@ShipmentID INT,
	@IsManual BIT OUTPUT
AS
BEGIN
	
	SET @IsManual = 0;

	DECLARE @OrderSource VARCHAR(50),
		    @OrderNumber VARCHAR(50),
			@SrcOrderNumber VARCHAR(50),
			@SpecialInstructions VARCHAR(500);

	SELECT @OrderNumber = OrderNumber
	FROM dbo.WaveLine
	WHERE ShipmentID = @ShipmentID AND Deleted = 0;

	IF @OrderNumber IS NOT NULL
	BEGIN
		SELECT @OrderSource = OrderSource,
			   @SrcOrderNumber = order_number
		FROM Fulfilment
		WHERE OrderNumber = @OrderNumber AND Deleted = 0;

		IF @OrderSource = 'Manual'
		BEGIN
			SET @IsManual = 1;
			SELECT @SpecialInstructions = SpecialInstructions
			FROM dbo.Orders
			WHERE order_number = @SrcOrderNumber AND Deleted = 0;
		END
		ELSE
		BEGIN
			SET @SpecialInstructions = '';
		END
	END

	SELECT
		s.ServiceName			AS ServiceName,
		s.to_phone				AS ToPhone,
		s.to_Name				AS ToName,
		s.to_business_Name		AS ToBusinessName,
		s.to_Addressline1		AS ToAddressLine1,
		s.to_Addressline2		AS ToAddressLine2,
		s.to_Suburb				AS ToSuburb,
		s.to_State				AS ToState,
		s.to_Postcode			AS ToPostcode,
		s.from_Name				AS FromName,
		s.from_Addressline1		AS FromAddressLine1,
		s.from_Addressline2		AS FromAddressLine2,
		s.from_Suburb			AS FromSuburb,
		s.from_State			AS FromState,
		s.from_Postcode			AS FromPostcode,
		s.AP_OrderID			AS AP_OrderID,
		s.Shipment_Reference	AS ShipmentReference,
		s.AP_shipment_id		AS AP_shipment_id,
		si.AP_barcode_id		AS APBarcodeID,
		si.[Weight]				AS [Weight],
		si.AP_consignment_id	AS APConsignmentID,
		si.AP_article_id		AS APArticleID,
		si.Article				AS Article,
		ss.AuthorityToLeave		AS IsAuthorityToLeave,
		@SpecialInstructions    AS DeliveryInstruction
		
	FROM dbo.AP_Shipment s
	INNER JOIN dbo.AP_ShipmentItems si ON s.ShipmentID = si.ShipmentID AND si.Deleted = 0
	LEFT JOIN dbo.AP_StandardService ss ON s.ServiceName = ss.ServiceName
	WHERE s.ShipmentID = @ShipmentID AND s.Deleted = 0;

END
GO
