USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ItemComposite_ViewItemCompositeByItemId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 April, 2025>
-- Description:	<List Composite Item By Item Id>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ItemComposite_ViewItemCompositeByItemId] @ItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT 
        *
    FROM 
        dbo.ItemComposite
    WHERE 
        ParentItemID = @ItemID AND DELETED = 0
	ORDER BY ItemName ASC;
END
GO
