USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_StartPackingTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2025>
-- Description:	<Start Picking Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_StartPackingTask] 
    @WaveID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100),
	@OrderNumber  VARCHAR(50),
	@IsAllow BIT OUTPUT,
	@IsINTShipment BIT OUTPUT,
	@DefaultBoxID INT OUTPUT,
	@DefaultBoxName VARCHAR(200) OUTPUT,
	@IsAutoPacking BIT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
	DECLARE @StartedTran BIT = 0;

	BEGIN TRY		

		IF @@TRANCOUNT = 0
		BEGIN
			SET @StartedTran = 1;
			BEGIN TRANSACTION
		END

		SET @IsAllow = 1;
		SET @IsINTShipment = 0;
		Set @IsAutoPacking = 0;

		DECLARE @WaveTenantCode VARCHAR(20);
		DECLARE @CarrierID INT,
		        @Carrier VARCHAR(100); 
		
		SELECT @CarrierID = CarrierID, 
			   @Carrier = Carrier,
			   @WaveTenantCode = TenantCode
		FROM Fulfilment 
		WHERE OrderNumber = @OrderNumber AND Deleted = 0 AND Carrier like '%International%';

		IF @CarrierID <> 2 AND @Carrier IS NOT NULL
		BEGIN
			SET @IsINTShipment = 1;
		END

		DECLARE @PackingScheduleID INT;
		DECLARE @ExistingStaff VARCHAR(100); 

		SELECT @PackingScheduleID = PackingScheduleID,
			   @ExistingStaff = OperationStaff
		FROM dbo.PackingSchedule
		WHERE OrderNumber = @OrderNumber 
		  AND WaveID = @WaveID 
		  AND [Status] = 'Started'
		  AND Deleted = 0;

		IF @PackingScheduleID IS NOT NULL
		BEGIN
			IF @ExistingStaff <> @OperationBy
			BEGIN
				SET @IsAllow = 0;
				IF @StartedTran = 1
					ROLLBACK TRANSACTION;
				RETURN;
			END
			ELSE
			BEGIN
				SET @IsAllow = 1;
				IF @StartedTran = 1
					ROLLBACK TRANSACTION;
				RETURN;
			END
		END

		INSERT INTO dbo.PackingSchedule (
			OrderNumber,
			WaveID,
			Status,
			StartDate,			
			OperationStaff,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES (
			@OrderNumber,       
			@WaveID,           
			'Started',           
			@OperationDateTime,  
			@OperationBy,    
			0,           
			@OperationDateTime,   
			@OperationBy          
		);

		SET @DefaultBoxID = NULL;
		SET @DefaultBoxName = NULL;

		SELECT @DefaultBoxID = w.DefaultBoxID
		FROM dbo.Wave w
		WHERE w.WaveID = @WaveID AND w.Deleted = 0;

		IF @DefaultBoxID IS NOT NULL
		BEGIN
			select @DefaultBoxName = [Name] 
			FROM StandardBox 
			WHERE StandardBoxID = @DefaultBoxID AND Deleted = 0;
		END
		
		IF @WaveTenantCode IS NOT NULL
		BEGIN
			SELECT @IsAutoPacking = CASE 
				WHEN EXISTS (
					SELECT 1
					FROM dbo.Tenant t
					WHERE t.TenantCode = @WaveTenantCode 
					AND t.PackingRequired = 1 
					AND t.Deleted = 0 
					AND t.PackingRequiredType = 'AutoPackOrder'
					AND NOT EXISTS (
						SELECT 1
						FROM dbo.Fulfilment f 
						INNER JOIN dbo.FulfilmentLine fl ON fl.FulfilmentID = f.FulfilmentID AND fl.Deleted = 0
						INNER JOIN dbo.Items i ON i.ItemID = fl.ItemID AND i.Deleted = 0 AND ISNULL(i.TrackSerialOnReceipt, 0) = 1
						WHERE f.Deleted = 0 AND f.OrderNumber = @OrderNumber
					)
				) THEN 1
				ELSE 0
			END;
		END			

		-- Commit the transaction
		IF @StartedTran = 1
        	COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
			IF @StartedTran = 1
            	ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
  
END
GO
