USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_CompleteWaveRequest]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2025>
-- Description:	<Complete Wave request>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_CompleteWaveRequest] 
	@Operation VARCHAR(20),  -- Picking Sorting Packing Mailing
	@WaveNumber VARCHAR(11),
	@OperationDateTime DATETIME = NULL,
	@OperationBy VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY		

		BEGIN TRANSACTION

		DECLARE @WaveID INT,
				@WaveStatus VARCHAR(20),
				@CurrentOperation VARCHAR(50), 
				@OperationStatus VARCHAR(20), 
				@PickingType VARCHAR(50), 
				@PickRequired BIT,
				@SortRequired BIT,
				@PackRequired BIT,
				@MailingRequired BIT;

		IF @Operation = 'Picking'
		BEGIN
			PRINT 'Picking';

			-- get info
			SELECT @WaveID = WaveID,
					@WaveStatus = WaveStatus,
					@PickRequired = PickRequired,
					@SortRequired = SortRequired,
					@PackRequired = PackRequired,
					@MailingRequired = MailingRequired,
					@OperationStatus = StepStatus,
					@CurrentOperation = CurrentStep,
					@PickingType = PickingType
			FROM dbo.Wave
			WHERE WaveNumber = @WaveNumber AND Deleted = 0;		

			IF EXISTS(SELECT 1 FROM dbo.PickingSchedule WHERE WaveID = @WaveID AND Deleted = 0 AND Status = 'Taken')
			BEGIN
				SET @Message = 'There is on-going picking task.'
				ROLLBACK TRANSACTION;
				RETURN;
			END


		END
		ELSE IF @Operation = 'Sorting'
		BEGIN
			PRINT 'Sorting';

			-- get info
			SELECT @WaveID = WaveID,
					@WaveStatus = WaveStatus,
					@SortRequired = SortRequired,
					@PackRequired = PackRequired,
					@MailingRequired = MailingRequired,
					@OperationStatus = StepStatus,
					@CurrentOperation = CurrentStep
			FROM dbo.Wave
			WHERE WaveNumber = @WaveNumber AND Deleted = 0;

		END 
		ELSE IF @Operation = 'Packing'
		BEGIN
			PRINT 'Packing';

			-- get info
			SELECT @WaveID = WaveID,
					@WaveStatus = WaveStatus,					   
					@PackRequired = PackRequired,
					@MailingRequired = MailingRequired,
					@OperationStatus = PackRequired,
					@CurrentOperation = CurrentStep
			FROM dbo.Wave
			WHERE WaveNumber = @WaveNumber AND Deleted = 0;


			IF EXISTS(SELECT 1 FROM dbo.PackingSchedule WHERE WaveID = @WaveID AND Deleted = 0 AND Status = 'Taken')
			BEGIN
				SET @Message = 'There is on-going packing task.'
				ROLLBACK TRANSACTION;
				RETURN;
			END

		END
		ELSE IF @Operation = 'Mailing'
		BEGIN
			PRINT 'Mailing';

			-- get info
			SELECT @WaveID = WaveID,
					@WaveStatus = WaveStatus,
					@MailingRequired = MailingRequired,
					@OperationStatus = StepStatus,
					@CurrentOperation = CurrentStep
			FROM dbo.Wave
			WHERE WaveNumber = @WaveNumber AND Deleted = 0;
		END
		
		IF @WaveStatus = 'Pending'
		BEGIN
			SET @Message = 'This Wave has not been started yet.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @WaveStatus  = 'Completed' 
		BEGIN
			SET @Message = 'This Wave has already completed.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @CurrentOperation <> @Operation
		BEGIN
			SET @Message = 'This Wave is not in ' + @Operation + ' phase';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		--check
		IF @OperationStatus = 'Completed'
		BEGIN
			SET @Message = @Operation + ' phase has been already completed .'
			ROLLBACK TRANSACTION;
			RETURN;
		END
		ELSE IF @OperationStatus = 'Pending'   -- Transform from previous phase
		BEGIN						
			SET @Message = @Operation + ' phase has not been started yet.'
			ROLLBACK TRANSACTION;
			RETURN;
		END			
		
		
		DECLARE @NextOperation VARCHAR(20);
		DECLARE @SortStatus VARCHAR(20);
		DECLARE @PackStatus VARCHAR(20);
		DECLARE @MailStatus VARCHAR(20);

		------------------------------------- Picking --------------------------------------------
		IF @Operation = 'Picking'
		BEGIN
			PRINT 'Complete picking';		

			IF @SortRequired  = 1
			BEGIN
				SET @NextOperation = 'Sorting';
				SET @SortStatus = 'Pending';
			END
			ELSE IF	@PackRequired = 1
			BEGIN
				SET @NextOperation = 'Packing';
				SET @PackStatus = 'Pending';
			END
			ELSE IF	@MailingRequired = 1
			BEGIN
				SET @NextOperation = 'Mailing';
				SET @MailStatus = 'Pending';
			END
			ELSE
			BEGIN
				SET @NextOperation = 'Done';
			END

			PRINT @NextOperation;	
			
			-- Update Wave
			IF @NextOperation = 'Done'
			BEGIN
				UPDATE dbo.Wave
				SET
					WaveStatus = 'Completed',					
					StepStatus = 'Completed',
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

				--update waveline
				UPDATE dbo.WaveLine
				SET						
					PickStatus = 'Completed',					
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy),
					PickDateTime = COALESCE(@OperationDateTime, PackDateTime),
					PickBy = COALESCE(@OperationBy, PickBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

			END
			ELSE
			BEGIN
				UPDATE dbo.Wave
				SET					
					CurrentStep = @NextOperation,
					StepStatus = 'Pending',
					PickCompletedDateTime = COALESCE(@OperationDateTime, PickCompletedDateTime),
					PickCompletedBy = COALESCE(@OperationBy, PickCompletedBy),
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

				--update waveline
				UPDATE dbo.WaveLine
				SET						
					PickStatus = 'Completed',
					SortStatus = @SortStatus,
					PackStatus = @PackStatus,
					MailStatus = @MailStatus,
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy),
					PickDateTime = COALESCE(@OperationDateTime, PackDateTime),
					PickBy = COALESCE(@OperationBy, PickBy)
				WHERE WaveID = @WaveID AND Deleted = 0;
			END
			
			-- return order status
			
			DECLARE @OrderNumber VARCHAR(30),
					@ItemNumber VARCHAR(30),
					@TenantCode VARCHAR(10),
					@Qty INT,
					@PickedQty INT,
					@DiffQty INT,
					@Count INT;

			DECLARE @Results TABLE (
				OrderNumber VARCHAR(50),
				Status VARCHAR(20),
				TenantCode VARCHAR(10),
				ItemNumber VARCHAR(30),
				Qty INT
			);

			DECLARE @FailedPicking TABLE (				
				TenantCode VARCHAR(10),
				ItemNumber VARCHAR(30),
				QTY INT
			);

			DECLARE @RequiredPicking TABLE (				
				TenantCode VARCHAR(10),
				ItemNumber VARCHAR(30),
				QTY INT
			);

			DECLARE @FailedResults TABLE (
				OrderNumber VARCHAR(50)				
			);
					

			IF @PickingType = 'PickToOrder'
			BEGIN
				SELECT
					ps.OrderNumber,
					CASE WHEN SUM(CASE WHEN ps.Status = 'Failed' THEN 1 ELSE 0 END) > 0
						 THEN 'Failed' ELSE 'Completed' END AS Status
				FROM dbo.PickingSchedule ps
				WHERE ps.Deleted = 0
				  AND ps.FulfilmentType = 'Orders'
				  AND EXISTS (
					  SELECT 1
					  FROM dbo.WaveLine AS w
					  WHERE w.OrderNumber = ps.OrderNumber
						AND w.WaveID = @WaveID
				  )
				GROUP BY ps.OrderNumber;    

			END
			ELSE IF @PickingType = 'Single'
			BEGIN

				INSERT INTO @Results(OrderNumber, Status, ItemNumber, TenantCode) 
				SELECT wl.OrderNumber, 'Completed' , f.ItemNumber, f.TenantCode 
				FROM dbo.WaveLine wl 
				LEFT JOIN 
				( 
					SELECT f.OrderNumber, fl.line_items_sku as ItemNumber, fl.TenantCode 
					FROM dbo.Fulfilment f 
					INNER JOIN dbo.FulfilmentLine fl ON fl.FulfilmentID = f.FulfilmentID AND fl.Deleted = 0 		
					WHERE f.Deleted = 0
				) f ON f.OrderNumber = wl.OrderNumber
				WHERE wl.WaveID = @WaveID AND wl.Deleted = 0;
				

				DECLARE cur_FailedOrders CURSOR LOCAL FAST_FORWARD FOR
					SELECT ps.Qty, ps.PickedQty, ps.ItemNumber, u.TenantCode
					FROM dbo.PickingSchedule ps
					LEFT JOIN dbo.ULD u ON ps.ULDID = u.ULDID
					WHERE ps.Deleted = 0
					  AND ps.FulfilmentType = 'Orders'
					  --AND ps.Status = 'Failed'
					  AND ps.Qty <> ps.PickedQty
					  AND WaveID = @WaveID;

				OPEN cur_FailedOrders;

				FETCH NEXT FROM cur_FailedOrders INTO @Qty, @PickedQty, @ItemNumber, @TenantCode;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @DiffQty = @Qty - @PickedQty;
					SET @Count = 0;				

					WHILE @Count < @DiffQty
					BEGIN

						UPDATE r
						SET r.Status = 'Failed'
						FROM (
							SELECT TOP (1) *
							FROM @Results
							WHERE ItemNumber = @ItemNumber
							      AND TenantCode = @TenantCode
								  AND Status = 'Completed'
						) AS r;

						SET @Count = @Count + 1;
					END					

					FETCH NEXT FROM cur_FailedOrders INTO @Qty, @PickedQty, @ItemNumber, @TenantCode;
				END;

				CLOSE cur_FailedOrders;
				DEALLOCATE cur_FailedOrders;	
				
				--return value
				SELECT OrderNumber, Status FROM @Results;

			END
			ELSE IF @PickingType = 'Bulk'  
			BEGIN

				-- get picking failed number
				INSERT INTO @FailedPicking(ItemNumber, TenantCode, Qty)
				SELECT  ps.ItemNumber, u.TenantCode, SUM(ps.Qty - ps.PickedQty) as Qty 
				FROM dbo.PickingSchedule ps
				LEFT JOIN dbo.ULD u ON u.ULDID = ps.ULDID AND u.Deleted = 0
				WHERE ps.Deleted = 0 AND ps.FulfilmentType = 'Orders' 
				--AND ps.Status = 'Failed'
				AND ps.Qty <> ps.PickedQty
				AND ps.WaveId = @WaveID
				GROUP BY ps.ItemNumber, u.TenantCode;

				--SELECT * FROM @FailedPicking;

				-- get qty of each item 				
				INSERT INTO @Results(OrderNumber, ItemNumber, TenantCode, Qty)
				SELECT f.*
				FROM dbo.WaveLine wl 
				LEFT JOIN 
				( 
					SELECT f.OrderNumber, fl.line_items_sku as ItemNumber, fl.TenantCode , SUM(line_items_current_quantity) as Qty
					FROM dbo.Fulfilment f 
					INNER JOIN dbo.FulfilmentLine fl ON fl.FulfilmentID = f.FulfilmentID AND fl.Deleted = 0 		
					WHERE f.Deleted = 0
					GROUP BY f.OrderNumber, fl.line_items_sku , fl.TenantCode
				) f ON f.OrderNumber = wl.OrderNumber
				WHERE wl.WaveID = @WaveID AND wl.Deleted = 0
				Order By f.OrderNumber, f.ItemNumber, f.TenantCode;			

				--SELECT * FROM @Results;

				-- get total required
				INSERT INTO @RequiredPicking(ItemNumber, TenantCode, Qty)
				SELECT ItemNumber, TenantCode, SUM(Qty) as Qty 
				FROM @Results
				GROUP BY ItemNumber, TenantCode;

				--SELECT * FROM @RequiredPicking;

				
				DECLARE @ROrderNumber VARCHAR(50),		
						@RStatus VARCHAR(20),
						@CurQty INT,
						@RQty  INT;

				-- Cursor definition: get all failed orders for this Wave
				DECLARE cur_Failed CURSOR LOCAL FAST_FORWARD FOR
					SELECT ItemNumber, TenantCode, Qty
					FROM @FailedPicking;

				OPEN cur_Failed;

				FETCH NEXT FROM cur_Failed INTO @ItemNumber, @TenantCode, @Qty;

				WHILE @@FETCH_STATUS = 0
				BEGIN
					
					SET @RStatus = 'Completed';
					SET @CurQty = 0;

					-- get picked qty
					SELECT @CurQty = Qty
					FROM @RequiredPicking
					WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode;

					--get having missing
					SET @CurQty = @CurQty - @Qty;		

					DECLARE cur_Results CURSOR LOCAL FAST_FORWARD FOR
						SELECT OrderNumber, Qty
						FROM @Results
						WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode
						ORDER BY Qty ASC, OrderNumber ASC;

					OPEN cur_Results;

					FETCH NEXT FROM cur_Results INTO @ROrderNumber, @RQty;

					WHILE @@FETCH_STATUS = 0
					BEGIN

						IF @RQty <= @CurQty
						BEGIN
							SET @CurQty = @CurQty - @RQty;
						END
						ELSE
						BEGIN
							INSERT INTO @FailedResults(OrderNumber) VALUES (@ROrderNumber);
							SET @CurQty = 0;
						END

						FETCH NEXT FROM cur_Results INTO @ROrderNumber, @RQty;
					END;

					CLOSE cur_Results;
					DEALLOCATE cur_Results;

					FETCH NEXT FROM cur_Failed INTO @ItemNumber, @TenantCode, @Qty;
				END;

				CLOSE cur_Failed;
				DEALLOCATE cur_Failed;

				--SELECT * FROM @FailedResults;

				-- update result
				DELETE FROM @Results;

				INSERT INTO @Results(OrderNumber, Status) 
				SELECT wl.OrderNumber, 'Completed' 
				FROM dbo.WaveLine wl 				
				WHERE wl.WaveID = @WaveID AND wl.Deleted = 0;

				UPDATE r
					SET r.Status = 'Failed'
				FROM @Results as r
				WHERE r.OrderNumber IN (SELECT OrderNumber FROM @FailedResults);

				--return value
				SELECT OrderNumber, Status FROM @Results;

			END
			
		END
		------------------------------------- Sorting --------------------------------------------
		ELSE IF @Operation = 'Sorting'
		BEGIN
			PRINT 'Complete sorting';	

			IF	@PackRequired = 1
			BEGIN
				SET @NextOperation = 'Packing';
				SET @PackStatus = 'Pending';
			END
			ELSE IF	@MailingRequired = 1
			BEGIN
				SET @NextOperation = 'Mailing';
				SET @MailStatus = 'Pending';
			END
			ELSE
			BEGIN
				SET @NextOperation = 'Done';
			END

			IF @NextOperation = 'Done'
			BEGIN
				UPDATE dbo.Wave
				SET
					WaveStatus = 'Completed',					
					StepStatus = 'Completed',
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

				--update waveline
				UPDATE dbo.WaveLine
				SET						
					SortStatus = 'Completed',					
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy),
					SortDateTime = COALESCE(@OperationDateTime, SortDateTime),
					SortBy = COALESCE(@OperationBy, SortBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

			END
			ELSE
			BEGIN
				UPDATE dbo.Wave
				SET					
					CurrentStep = @NextOperation,
					StepStatus = 'Pending',
					SortCompletedDateTime = COALESCE(@OperationDateTime, SortCompletedDateTime),
					SortCompletedBy = COALESCE(@OperationBy, SortCompletedBy),
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

				--update waveline
				UPDATE dbo.WaveLine
				SET						
					SortStatus = 'Completed',					
					PackStatus = @PackStatus,
					MailStatus = @MailStatus,
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy),
					SortDateTime = COALESCE(@OperationDateTime, SortDateTime),
					SortBy = COALESCE(@OperationBy, SortBy)
				WHERE WaveID = @WaveID AND Deleted = 0 AND PickStatus = 'Completed';
			END


		END
		ELSE
		------------------------------------- Packing --------------------------------------------
		IF @Operation = 'Packing'
		BEGIN
			PRINT 'Complete packing';	

			IF	@MailingRequired = 1
			BEGIN
				SET @NextOperation = 'Mailing';
				SET @MailStatus = 'Pending';
			END
			ELSE
			BEGIN
				SET @NextOperation = 'Done';
			END

			IF @NextOperation = 'Done'
			BEGIN
				UPDATE dbo.Wave
				SET
					WaveStatus = 'Completed',					
					StepStatus = 'Completed',
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

				--update waveline
				UPDATE dbo.WaveLine
				SET						
					PackStatus = 'Completed',					
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy),
					PackDateTime = COALESCE(@OperationDateTime, PackDateTime),
					PackBy = COALESCE(@OperationBy, PackBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

			END
			ELSE
			BEGIN
				UPDATE dbo.Wave
				SET					
					CurrentStep = @NextOperation,
					StepStatus = 'Pending',
					PackCompletedDateTime = COALESCE(@OperationDateTime, PackCompletedDateTime),
					PackCompletedBy = COALESCE(@OperationBy, SortCompletedBy),
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				WHERE WaveID = @WaveID AND Deleted = 0;

				--update waveline				
				UPDATE wl
				SET
					PackStatus          = 'Completed',
					MailStatus          = CASE 
                              WHEN wl.CarrierID = 2 
                                  THEN 'Completed'
							  WHEN wl.CarrierID = 3 
                                  THEN 'Completed'
                              ELSE COALESCE(@MailStatus, wl.MailStatus)
                          END,
					FirstEditedDateTime = CASE WHEN wl.FirstEditedDateTime IS NULL THEN @OperationDateTime ELSE wl.FirstEditedDateTime END,
					FirstEditedBy       = CASE WHEN wl.FirstEditedBy       IS NULL THEN @OperationBy        ELSE wl.FirstEditedBy       END,
					LastEditedDateTime  = COALESCE(@OperationDateTime, wl.LastEditedDateTime),
					LastEditedBy        = COALESCE(@OperationBy,        wl.LastEditedBy),
					PackDateTime        = CASE WHEN wl.PackDateTime IS NULL THEN @OperationDateTime ELSE wl.PackDateTime END,
					PackBy              = CASE WHEN wl.PackBy        IS NULL THEN @OperationBy        ELSE wl.PackBy       END
				FROM dbo.WaveLine AS wl
				WHERE wl.WaveID = @WaveID
				  AND wl.Deleted = 0
				  AND wl.PackStatus <> 'Completed'                         
				  AND EXISTS (                                             
						SELECT 1
						FROM dbo.PackingResult AS pr
						WHERE pr.WaveID = @WaveID
						  AND pr.Deleted = 0
						  AND pr.Status = 'Completed'
						  AND pr.OrderNumber = wl.OrderNumber
				  );

			   -- update fulfilment completed
			    UPDATE f 
				SET						
					FulfilmentStatus = 'Completed',					
					FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
					FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
					LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
				FROM dbo.Fulfilment AS f
				WHERE f.Deleted = 0 AND f.OrderNumber In
				(
					SELECT OrderNumber FROM dbo.WaveLine WHERE WaveID = @WaveID AND Deleted = 0 AND MailStatus = 'Completed'
				);
				

				--insert Invoice for DHL

				/*DECLARE @DHLMessage VARCHAR(4000);
				DECLARE @DHLOrderNumbers dbo.StringArray;

				INSERT INTO @DHLOrderNumbers([Value])
				SELECT OrderNumber FROM dbo.WaveLine 
				WHERE WaveID = @WaveID AND Deleted = 0 
				                       AND CarrierID = 3 -- DHL
									   AND MailStatus = 'Completed';

				EXEC [dbo].[SP_VI_TBL_Invoice_InsertDHLMailingInvoice]
					@OrderNumbers = @DHLOrderNumbers,
					@CreatedDateTime = @OperationDateTime,   
					@CreatedBy = @OperationBy,          
					@Message = @DHLMessage OUTPUT;*/

				-- update error
				UPDATE wl
				SET
					PackStatus          = 'Error',
					FirstEditedDateTime = CASE WHEN wl.FirstEditedDateTime IS NULL THEN @OperationDateTime ELSE wl.FirstEditedDateTime END,
					FirstEditedBy       = CASE WHEN wl.FirstEditedBy       IS NULL THEN @OperationBy        ELSE wl.FirstEditedBy       END,
					LastEditedDateTime  = COALESCE(@OperationDateTime, wl.LastEditedDateTime),
					LastEditedBy        = COALESCE(@OperationBy,        wl.LastEditedBy),
					PackDateTime        = CASE WHEN wl.PackDateTime IS NULL THEN @OperationDateTime ELSE wl.PackDateTime END,
					PackBy              = CASE WHEN wl.PackBy        IS NULL THEN @OperationBy        ELSE wl.PackBy       END
				FROM dbo.WaveLine AS wl
				WHERE wl.WaveID = @WaveID
				  AND wl.Deleted = 0
				  AND wl.PackStatus <> 'Error'          -- avoid pointless updates
				  AND wl.PackStatus <> 'Completed'      -- don’t downgrade completed lines
				  AND EXISTS (
						SELECT 1
						FROM dbo.PackingResult AS pr
						WHERE pr.WaveID = @WaveID
						  AND pr.Deleted = 0
						  AND pr.Status <> 'Completed'
						  AND pr.OrderNumber = wl.OrderNumber
				  );

				-- update wave status
				DECLARE @NumberOfCompletedPacking INT,  @NumberOfCompletedMailing INT;

				SELECT @NumberOfCompletedPacking = COUNT(*)  
				FROM WaveLine where WaveID = @WaveID AND Deleted = 0 AND PackStatus = 'Completed';

				SELECT @NumberOfCompletedMailing = COUNT(*)  
				FROM WaveLine where WaveID = @WaveID AND Deleted = 0 AND MailStatus = 'Completed';

				IF @NumberOfCompletedPacking <> 0 AND @NumberOfCompletedPacking = @NumberOfCompletedMailing
				BEGIN
					UPDATE dbo.Wave
					SET
						WaveStatus = 'Completed',					
						StepStatus = 'Completed',
						FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
						FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
						LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
						LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
					WHERE WaveID = @WaveID AND Deleted = 0;
				END

			END

			-- return data
			SELECT DISTINCT
				wl.OrderNumber,
				ISNULL(ps.Status, 'Failed') AS Status
			FROM dbo.WaveLine AS wl
			LEFT JOIN dbo.PackingResult AS ps
				ON ps.OrderNumber = wl.OrderNumber
			   AND ps.Deleted = 0
			WHERE wl.WaveID  = @WaveID
			  AND wl.Deleted = 0
			  AND ISNULL(ps.Status, 'Failed') <> 'Completed';

		END
		ELSE IF @Operation = 'Mailing'
		BEGIN
			PRINT 'Complete mailing';	
		END
			

		-- Commit the transaction
        COMMIT TRANSACTION
		
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
