USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockReachLimitManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Sep, 2025>
-- Description:	<Implement Stock Reach Limit Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockReachLimitManualReport]
    @ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@DayDuration INT,
			@Mandatory BIT,
			@ReportType VARCHAR(50),
			@Interval VARCHAR(50),
			@TenantName VARCHAR(250);

	DECLARE @SQL NVARCHAR(MAX);

	-- Declare
	CREATE TABLE #TempTable
	(
		WarehouseCode VARCHAR(20),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ItemName VARCHAR(250),
		ItemNumber VARCHAR(30),
		StockLimit INT,
		TotalULD INT,
		Qty INT
	);

	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;	

	INSERT INTO #TempTable
	(
		WarehouseCode,
		TenantCode,
		TenantName,
		ItemName,
		ItemNumber,
		StockLimit,
		TotalULD,
		Qty
	)
	SELECT 
			A.WarehouseCode, 
			@TenantCode,
			@TenantName,
			A.ItemName, 
			A.ItemNumber, 
			I.MinimumStockLimit AS StockLimit,
			COALESCE(A.TotalULD, 0)            AS TotalULD, 
			COALESCE(A.TotalTransactionQty, 0) AS Qty
		FROM (
			SELECT 
				U.ItemNumber, 
				U.ItemName,
				U.WarehouseCode,
				COUNT(DISTINCT U.ULDID)     AS TotalULD, 
				SUM(UL.TransactionQty)      AS TotalTransactionQty
			FROM dbo.ULD      AS U
			INNER JOIN dbo.ULDLine AS UL
				ON UL.ULDID = U.ULDID
			WHERE U.TenantCode = @ManualTenantCode
			  AND U.Deleted = 0
			  AND U.Status <> 'Draft'
			  AND UL.TransactionType <> 'Allocated'
			  AND UL.Deleted = 0
			GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
			HAVING SUM(UL.TransactionQty) > 0
		) AS A 
		INNER JOIN dbo.Items AS I
			ON I.ItemNumber = A.ItemNumber
		   AND I.TenantCode = @TenantCode
		   AND I.Deleted = 0
		WHERE A.WarehouseCode = @WarehouseCode
		  AND I.MinimumStockLimit IS NOT NULL
		  AND I.MinimumStockLimit > A.TotalTransactionQty;  -- below min stock	

	--return
	SELECT 
		WarehouseCode,
		TenantCode,
		TenantName,
		ItemName,
		ItemNumber as ItemCode,
		StockLimit,
		TotalULD,
		Qty
	FROM #TempTable;
END
GO
