USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_InsertReportSchedule]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Jan, 2025>
-- Description:	<Insert Report Schedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_InsertReportSchedule]     
	@ReportName VARCHAR(100),
    @Interval VARCHAR(50),
	@Output VARCHAR(50),
    @StoreProcedure VARCHAR(200) = NULL,
	@Description VARCHAR(1000) = NULL,
	@ReportType VARCHAR(50) = NULL,
	@WarehouseCode VARCHAR(20),
	@SixtyFiveDayChecked BIT = 0,
	@Mandatory BIT = 0,
	@CurrentData BIT = 0,
	@Invoice BIT = 0,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		IF EXISTS(SELECT 1 FROM dbo.ReportSchedule WHERE ReportName = @ReportName AND Deleted = 0)
		BEGIN
			 SET @Message = 'Report Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @NewReportScheduleIDs TABLE (
			ID INT
		);

		DECLARE @DayDuration INT;

		IF @SixtyFiveDayChecked = 1
		BEGIN
			SET @DayDuration = 65;
		END

		-- Insert into ReportSchedule table
        INSERT INTO dbo.ReportSchedule
        (
            ReportName,
            Interval,
			[Output],
            StoreProcedureName,
			[Description],
			ReportType,
			DayDuration,
			WarehouseCode,
			CurrentData,
			Invoice,
			Mandatory,
			Deleted,
            CreatedDateTime,
            CreatedBy
        )
		OUTPUT INSERTED.ReportScheduleID INTO @NewReportScheduleIDs
        VALUES
        (
            @ReportName,
            @Interval,
			@Output,
            @StoreProcedure,
			@Description,
			@ReportType,
			@DayDuration,
			@WarehouseCode,
			@CurrentData,
			@Invoice,
			@Mandatory,
            0, -- Default value for Deleted
            @CreatedDateTime,
            @CreatedBy
        );

		DECLARE @ReportScheduleID INT;
		SELECT @ReportScheduleID = ID FROM @NewReportScheduleIDs;

		IF @Mandatory = 1
		BEGIN
			DECLARE @InnerMessage VARCHAR(4000);
			DECLARE @AllTenant BIT = 1; -- Set to TRUE
			DECLARE @TenantIds dbo.IdArray;

			EXEC SP_VI_TBL_ReportSchedule_ApplyReportSchedule 
					@ReportScheduleID = @ReportScheduleID,
					@AllTenant = @AllTenant,
					@TenantIds = @TenantIds,
					@Message = @InnerMessage OUTPUT;

		END
		
        -- Commit the transaction
        COMMIT TRANSACTION
		
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
