USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_GetCurrentWarehouseOfUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Oct, 2024>
-- Description:	<Get Default Warehouse of user>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_GetCurrentWarehouseOfUser] @AzureUserId VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE	@WarehouseCode VARCHAR(20);

	SELECT @WarehouseCode = WarehouseCode 
	FROM dbo.CurrentWarehouseUser 
	WHERE AzureUserId = @AzureUserId;

	IF  @WarehouseCode is NULL
	BEGIN
		SELECT @WarehouseCode = WarehouseCode 
		FROM dbo.Users 
		WHERE AzureUserId = @AzureUserId;
	END
	
   SELECT 
        COALESCE(LocWarehouseID, 0) AS LocWarehouseID,
		COALESCE(WarehouseName, '') AS WarehouseName,
		COALESCE(WarehouseCode, '') AS WarehouseCode
    FROM 
        dbo.LocWarehouse 
    WHERE 
        WarehouseCode = @WarehouseCode OR @WarehouseCode IS NULL;
END
GO
