USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_AddStockTakeResult]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 April, 2025>
-- Description:	<Add Stock Take Result>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_AddStockTakeResult] 
    @ServiceID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100),
	@StockTakeScheduleID INT,
	@Qty INT,
	@ULDID INT,
	@ULDBarcode VARCHAR(50) OUTPUT,
	@ItemName VARCHAR(250) OUTPUT,
	@ItemNumber VARCHAR(30) OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
