USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportWidget_ListAllReportWidgets]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Dec, 2025>
-- Description:	<List All ReportWidget>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportWidget_ListAllReportWidgets] 
	@Ids dbo.IdArray READONLY
AS
BEGIN

	SET NOCOUNT ON;

    SELECT ReportName, ISNULL(Cat, 'Default') AS Cat
	FROM dbo.ReportDefinition	
	WHERE Deleted = 0 AND Cat IS NULL OR Cat = '' OR Cat = 'Custom';

END
GO
