USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_OrdersLine_ViewOrdersLinesByID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 April, 2025>
-- Description:	<Get detail information of OrderLine by OrderID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_OrdersLine_ViewOrdersLinesByID] 
     @OrderID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT * FROM dbo.OrdersLine WHERE DELETED = 0 AND OrderID = @OrderID;
END
GO
