USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantPermissionConfig_InsertTenantPermissionConfig]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Insert TenantPermissionConfigID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantPermissionConfig_InsertTenantPermissionConfig]  
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20),
	@ConfigInfo dbo.TenantPermissionType READONLY,	
	@ConfigSectionInfo dbo.TenantSectionPermissionType READONLY,	
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate TenantPermissionConfigName
		 IF EXISTS(SELECT 1 FROM dbo.TenantPermissionConfig WHERE TenantCode = @TenantCode AND Deleted = 0)
		 BEGIN
			 SET @Message = 'TenantPermissionConfig Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		 DECLARE
			@Permission VARCHAR(500),
			@Create BIT,
			@View BIT,
			@Edit BIT,
			@Delete BIT;

		DECLARE @NewId INT;

		DECLARE ConfigInfoCursor CURSOR LOCAL FAST_FORWARD FOR
		SELECT
			Permission,
			[Create],
			[View],
			[Edit],
			[Delete]
		FROM @ConfigInfo;

		OPEN ConfigInfoCursor;

		FETCH NEXT FROM ConfigInfoCursor
		INTO @Permission, @Create, @View, @Edit, @Delete;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			-- Create
			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'Create', @Create, 0, @CreatedDateTime, @CreatedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'Create', Allow, 0, @CreatedDateTime, @CreatedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'Create' AND Permission = @Permission;

			-- Edit
			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'Edit', @Edit, 0, @CreatedDateTime, @CreatedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'Edit', Allow, 0, @CreatedDateTime, @CreatedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'Edit' AND Permission = @Permission;

			-- View
			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'View', @View, 0, @CreatedDateTime, @CreatedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'View', Allow, 0, @CreatedDateTime, @CreatedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'View' AND Permission = @Permission;

			--Delete
			INSERT INTO dbo.TenantPermissionConfig
			(
				WarehouseCode,
				TenantCode,			
				Permission,
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( @WarehouseCode, @TenantCode, @Permission, 'Delete', @Delete, 0, @CreatedDateTime, @CreatedBy);

			SET @NewId = SCOPE_IDENTITY();
			INSERT INTO dbo.TenantSectionPermissionConfig
			(
				TenantPermissionConfigID,
				[Section],
				[Action],
				Allow,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			SELECT @NewId, [Section], 'Delete', Allow, 0, @CreatedDateTime, @CreatedBy 
			FROM @ConfigSectionInfo WHERE [Action] = 'Delete' AND Permission = @Permission;
			

			FETCH NEXT FROM ConfigInfoCursor
			INTO @Permission, @Create, @View, @Edit, @Delete;
		END;

		CLOSE ConfigInfoCursor;
		DEALLOCATE ConfigInfoCursor;


        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
