USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Report_ViewReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 jan, 2025>
-- Description:	<View report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Report_ViewReport] @ReportID INT
AS
BEGIN
	
	SET NOCOUNT ON;
   
    SELECT * 
    FROM dbo.Report 
    WHERE ReportID = @ReportID AND DELETED = 0;
END
GO
