USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_UpdateStockTakeService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <29 Mar, 2025>
-- Description:	<Update Stocktake Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_UpdateStockTakeService] 
	@ServiceID INT,
	@WarehouseCode VARCHAR(20),
	@TenantCode VARCHAR(20),
	@ServiceName VARCHAR(100) = NULL,
	@ServiceDescription VARCHAR(1000) = NULL,
	@StockTakeType		VARCHAR(100) = NULL,	
	@ItemIds dbo.IdArray READONLY, -- For Partly StockTake Type
	@ItemIdLocations dbo.StockTakeItemLocationType READONLY,
    @StartDate			DATETIME = NULL,
	@EndDate			DATETIME = NULL,
	@FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy        VARCHAR(100) = NULL,
	@LastEditedDateTime   DATETIME = NULL,
	@LastEditedBy         VARCHAR(100) = NULL,
	@Message			  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ServiceType VARCHAR(50);
		SELECT @ServiceType = ServiceType FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0

        -- Check if the ServiceID exists and is not marked as deleted
        IF @ServiceType IS NULL
        BEGIN
            SET @Message = 'ServiceID does not exist or has been deleted.'
            ROLLBACK TRANSACTION;
			RETURN;
        END
		
        -- Update the Service table, excluding TenantCode and Deleted fields
		IF @ServiceType = 'Stocktake'
		BEGIN

			 UPDATE dbo.Service
			 SET
				WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
				TenantCode = COALESCE(@TenantCode, TenantCode),
				ServiceName = COALESCE(@ServiceName, ServiceName),
				ServiceDescription = COALESCE(@ServiceDescription, ServiceDescription),
				ServiceType = COALESCE(@ServiceType, ServiceType),
				AdditionalType = COALESCE(@StockTakeType, AdditionalType),
				StartDate = COALESCE(@StartDate, StartDate),
				EndDate = COALESCE(@EndDate, EndDate),
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ServiceID = @ServiceID;

			DECLARE @NewStockTakeItemID INT;
			DECLARE @ItemId INT;
			DECLARE @StockTakeItemID INT;
			DECLARE @ItemCount INT;
			DECLARE @ItemNumber VARCHAR(30);
			DECLARE @ItemName VARCHAR(250);

			SELECT @ItemCount = COUNT(*) FROM @ItemIds;

			--update deleted
			UPDATE dbo.StockTakeItem
			SET Deleted = 1,
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ServiceID = @ServiceID;

			UPDATE dbo.StockTakeItemLocation
			SET Deleted = 1,
				FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
				FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE ServiceID = @ServiceID;

			IF @StockTakeType = 'Partly' AND @ItemCount > 0
			BEGIN

				-- Declare a cursor to loop through the Ids
				DECLARE ItemCursor CURSOR FOR
				SELECT [Value] FROM @ItemIds;

				-- Open the cursor
				OPEN ItemCursor;

				-- Fetch the first row
				FETCH NEXT FROM ItemCursor INTO @ItemId;

				-- Loop through the cursor
				WHILE @@FETCH_STATUS = 0
				BEGIN
					-- Retrieve ItemNumber and ItemName from the Items table
					SELECT @ItemNumber = ItemNumber, @ItemName = ItemName
					FROM dbo.Items
					WHERE ItemId = @ItemId AND Deleted = 0;

					SET @StockTakeItemID = NULL;

					SELECT @StockTakeItemID = COALESCE(StockTakeItemID, NULL) FROM dbo.StockTakeItem
					WHERE ServiceID = @ServiceID AND ItemNumber = @ItemNumber AND TenantCode = @TenantCode;

					IF @StockTakeItemID IS NOT NULL
					BEGIN

						UPDATE dbo.StockTakeItem
						SET 
							Deleted = 0,
							FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
							FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
							LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
							LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
						WHERE StockTakeItemID = @StockTakeItemID;

						SET @NewStockTakeItemID = @StockTakeItemID;

					END
					ELSE
					BEGIN

						-- Insert into Service table
						INSERT INTO dbo.StockTakeItem
						(
							ServiceID,
							TenantCode,
							ItemID,
							ItemNumber,
							ItemName,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES
						(
							@ServiceID,
							@TenantCode,
							@ItemId,
							@ItemNumber,
							@ItemName,
							0,
							@LastEditedDateTime,
							@LastEditedBy
						);

						SET @NewStockTakeItemID = SCOPE_IDENTITY();
					END

					--insert location
					INSERT INTO dbo.StockTakeItemLocation
					(
						StockTakeItemID,
						ServiceID,
						ItemID,
						BinID,
						TempLocationID,
						LocationBarCode,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
					SELECT @NewStockTakeItemID as StockTakeItemID, @ServiceID, @ItemId, 
							[BinID] as BinID, [TempID] as TempLocationID,
							[LocationBarCode] , 0, @LastEditedDateTime,	@LastEditedBy
					FROM @ItemIdLocations 
					WHERE [ItemID] = @ItemId;

					-- Fetch the next row
					FETCH NEXT FROM ItemCursor INTO @ItemId;
				END

				-- Close and deallocate the cursor
				CLOSE ItemCursor;
				DEALLOCATE ItemCursor;
			END

		END

		 -- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
