USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_RunReportSchedules]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Jul, 2025>
-- Description:	<Run All Reports>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_RunReportSchedules]
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Always set Monday as the first day of the week
	SET DATEFIRST 1; -- 1 = Monday

	IF DATEPART(WEEKDAY, GETDATE()) = 1
	BEGIN
		BEGIN TRY
			EXEC dbo.SP_VI_TBL_Invoice_AutoCreatingBayAllocationInvoices;
		END TRY
		BEGIN CATCH
			PRINT 'Error in SP_VI_TBL_Invoice_AutoCreatingBayAllocationInvoices: ' + ERROR_MESSAGE();
		END CATCH;

		BEGIN TRY
			EXEC dbo.SP_VI_TBL_Invoice_AutoCreatingPalletStorageInvoices;
		END TRY
		BEGIN CATCH
			PRINT 'Error in SP_VI_TBL_Invoice_AutoCreatingPalletStorageInvoices: ' + ERROR_MESSAGE();
		END CATCH;

		BEGIN TRY
			EXEC dbo.SP_VI_TBL_Invoice_AutoCreatingITFlatformInvoices;
		END TRY
		BEGIN CATCH
			PRINT 'Error in SP_VI_TBL_Invoice_AutoCreatingITFlatformInvoices: ' + ERROR_MESSAGE();
		END CATCH;
	END	

    BEGIN TRY
        EXEC dbo.SP_VI_TBL_LocTempLocation_DeleteEmptyLocTempLocations;
    END TRY
    BEGIN CATCH
        PRINT 'Error in SP_VI_TBL_LocTempLocation_DeleteEmptyLocTempLocations: ' + ERROR_MESSAGE();
    END CATCH;

    BEGIN TRY
        EXEC dbo.SP_VI_TBL_ULD_InActiveEmptyULDs;
    END TRY
    BEGIN CATCH
        PRINT 'Error in SP_VI_TBL_ULD_InActiveEmptyULDs: ' + ERROR_MESSAGE();
    END CATCH;
END
GO
