USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_GetCostInfoOfTenantByWarehouseCode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Feb, 2025>
-- Description:	<Get Cost And Charge of Charge Item By Tenant And WarehouseCode>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_GetCostInfoOfTenantByWarehouseCode] 
    @ChargeItemID INT,
	@TenantCode VARCHAR(10),
	@WarehouseCode VARCHAR(20),
	@Charge DECIMAL(18, 2) OUTPUT,
	@Currency VARCHAR(20) OUTPUT,
	@ChargeType VARCHAR(20) OUTPUT -- Standard or Custom
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantChargeItemID INT;

	SELECT @ChargeType = ChargeType,
	       @TenantChargeItemID = TenantChargeItemID 
	FROM dbo.TenantChargeItem 
	WHERE DELETED = 0 AND TenantCode = @TenantCode AND ChargeItemId = @ChargeItemID;

	
	IF @ChargeType IS NOT NULL
	BEGIN
		IF @ChargeType = 'Standard'
		BEGIN
			SELECT @Charge = ChargeItemPrice,
			       @Currency = ChargeItemCurrency
			FROM dbo.ChargeItemCost 
			WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode AND ChargeItemId = @ChargeItemID;
		END
		ELSE
		BEGIN
			SELECT @Charge = ChargeItemPrice,
			       @Currency = ChargeItemCurrency
			FROM dbo.TenantCustomCost 
			WHERE DELETED = 0 AND WarehouseCode = @WarehouseCode AND TenantChargeItemID = @TenantChargeItemID;
		END
	END

	IF @Charge IS NULL
	BEGIN
		SET @Charge = 0;
	END

	IF @Currency IS NULL
	BEGIN
		SET @Currency ='AUD (A$)';
	END
	
END
GO
