USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_ExitPackingTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2025>
-- Description:	<Exit Picking Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_ExitPackingTask] 
    @WaveID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100),
	@OrderNumber  VARCHAR(50),	
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY		

		BEGIN TRANSACTION

		DECLARE @PackingScheduleID INT;

		SELECT @PackingScheduleID = PackingScheduleID
		FROM dbo.PackingSchedule
		WHERE OrderNumber = @OrderNumber AND WaveID = @WaveID AND Status = 'Started' AND Deleted = 0 And OperationStaff = @OperationBy;

		IF @PackingScheduleID IS NULL
		BEGIN
			SET @Message = 'There is no packing task of this operator';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		UPDATE dbo.PackingSchedule
		SET Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
			LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
		WHERE PackingScheduleID = @PackingScheduleID;		

		-- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
  
END
GO
