USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocColumn_ListAllColumnsByRowId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get Column by RowId>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocColumn_ListAllColumnsByRowId] @LocRowID INT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @StorageType VARCHAR(50);
	DECLARE @SBinType VARCHAR(50);

	SELECT TOP 1 @StorageType = ls.StorageType
	FROM dbo.LocSection ls
	INNER JOIN dbo.LocRow lr ON ls.LocSectionID = lr.LocSectionID AND lr.DELETED = 0 AND lr.LocRowID = @LocRowID;

	SELECT TOP 1 @SBinType = lsb.SBinType
	FROM dbo.LocSBin lsb
	INNER JOIN dbo.LocBin lb ON lb.LocBinID = lsb.LocBinID AND lb.DELETED = 0
	INNER JOIN dbo.LocShelf ls ON ls.LocShelfID = lb.LocShelfID AND ls.DELETED = 0
	INNER JOIN dbo.LocColumn lc ON lc.LocColumnID = ls.LocColumnID AND lc.DELETED = 0
	WHERE lc.LocRowID = @LocRowID AND lc.DELETED = 0 


	IF @StorageType = 'PickFace'
	BEGIN
		SELECT A.*,
			   @StorageType AS StorageType,
			   @SBinType AS SBinType,
			   COALESCE(B.TotalBin, 0) AS TotalBin,
			   COALESCE(B.TotalSBin, 0) AS TotalSBin,
			   COALESCE(B.TotalULD, 0) AS TotalULD,
			   COALESCE(B.UsedSBin, 0) AS UsedSBin
		FROM 
		(
			SELECT DISTINCT lc.*, COALESCE(bta.TenantName, 'N/A') AS AllocationStatus
			FROM dbo.LocColumn lc
			LEFT JOIN dbo.BayTenantAllocation bta ON lc.LocColumnID = bta.ColumnID AND bta.Deleted = 0
			WHERE LocRowID = @LocRowID AND lc.DELETED = 0
		) A
		LEFT JOIN 
		(
			SELECT C.*, COALESCE(U.TotalULD, 0) AS TotalULD, COALESCE(U.UsedSBin, 0) AS UsedSBin
			FROM 
			(
				SELECT lc.LocColumnID,
					   COUNT(DISTINCT lb.LocBinID) AS TotalBin,
					   COUNT(DISTINCT lsbin.LocSBinID) AS TotalSBin
				FROM LocColumn lc
				INNER JOIN LocShelf ls ON lc.LocColumnID = ls.LocColumnID
				INNER JOIN LocBin lb ON ls.LocShelfID = lb.LocShelfID
				INNER JOIN LocSBin lsbin ON lb.LocBinID = lsbin.LocBinID
				WHERE lc.LocRowID = @LocRowID
				GROUP BY lc.LocColumnID
			) C
			LEFT JOIN 
			(
				SELECT U.LocColumnID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS 
				(
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocColumnID
			) U ON U.LocColumnID = C.LocColumnID
		) B ON A.LocColumnID = B.LocColumnID;
	END
	ELSE IF @StorageType = 'PerfectPick'
	BEGIN
		SELECT A.*,
			   @StorageType AS StorageType,
			   @SBinType AS SBinType,
			   COALESCE(B.TotalBin, 0) AS TotalBin,
			   COALESCE(B.TotalSBin, 0) AS TotalSBin,
			   COALESCE(B.TotalULD, 0) AS TotalULD,
			   COALESCE(B.UsedSBin, 0) AS UsedSBin
		FROM 
		(
			SELECT DISTINCT lc.*, COALESCE(bta.AllocationCount, 0) AS AllocationCount
			FROM dbo.LocColumn lc
			LEFT JOIN (
				SELECT ColumnId, COUNT(ColumnId) AS AllocationCount
				FROM dbo.BinTenantAllocation WHERE Deleted = 0
				GROUP BY ColumnId
			) bta ON lc.LocColumnId = bta.ColumnId
			WHERE LocRowID = @LocRowID AND lc.DELETED = 0
		) A
		LEFT JOIN 
		(
			SELECT C.*, COALESCE(U.TotalULD, 0) AS TotalULD, COALESCE(U.UsedSBin, 0) AS UsedSBin
			FROM 
			(
				SELECT lc.LocColumnID,
					   COUNT(DISTINCT lb.LocBinID) AS TotalBin,
					   COUNT(DISTINCT lsbin.LocSBinID) AS TotalSBin
				FROM LocColumn lc
				INNER JOIN LocShelf ls ON lc.LocColumnID = ls.LocColumnID
				INNER JOIN LocBin lb ON ls.LocShelfID = lb.LocShelfID
				INNER JOIN LocSBin lsbin ON lb.LocBinID = lsbin.LocBinID
				WHERE lc.LocRowID = @LocRowID
				GROUP BY lc.LocColumnID
			) C
			LEFT JOIN 
			(
				SELECT U.LocColumnID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS 
				(
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocColumnID
			) U ON U.LocColumnID = C.LocColumnID
		) B ON A.LocColumnID = B.LocColumnID;
	END
	ELSE
	BEGIN
		SELECT A.*,
			   @StorageType AS StorageType,
			   @SBinType AS SBinType,
			   COALESCE(B.TotalBin, 0) AS TotalBin,
			   COALESCE(B.TotalSBin, 0) AS TotalSBin,
			   COALESCE(B.TotalULD, 0) AS TotalULD,
			   COALESCE(B.UsedSBin, 0) AS UsedSBin
		FROM 
		(
			SELECT DISTINCT lc.*
			FROM dbo.LocColumn lc
			WHERE LocRowID = @LocRowID AND lc.DELETED = 0
		) A
		LEFT JOIN 
		(
			SELECT C.*, COALESCE(U.TotalULD, 0) AS TotalULD, COALESCE(U.UsedSBin, 0) AS UsedSBin
			FROM 
			(
				SELECT lc.LocColumnID,
					   COUNT(DISTINCT lb.LocBinID) AS TotalBin,
					   COUNT(DISTINCT lsbin.LocSBinID) AS TotalSBin
				FROM LocColumn lc
				INNER JOIN LocShelf ls ON lc.LocColumnID = ls.LocColumnID
				INNER JOIN LocBin lb ON ls.LocShelfID = lb.LocShelfID
				INNER JOIN LocSBin lsbin ON lb.LocBinID = lsbin.LocBinID
				WHERE lc.LocRowID = @LocRowID
				GROUP BY lc.LocColumnID
			) C
			LEFT JOIN 
			(
				SELECT U.LocColumnID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS 
				(
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocColumnID
			) U ON U.LocColumnID = C.LocColumnID
		) B ON A.LocColumnID = B.LocColumnID;
	END

	


END
GO
