USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertOtherServiceInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Feb, 2025>
-- Description:	<Insert Other Service Invoice>
-- =============================================
CREATE PROCEDURE[dbo].[SP_VI_TBL_Invoice_InsertOtherServiceInvoice]  
	@ServiceID INT,
	@OtherCost DECIMAL(10, 2) = 0,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @TenantCode VARCHAR(10);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ServiceName VARCHAR(100);		
		DECLARE @ServiceNumber VARCHAR(50);		

		SELECT @WarehouseCode = WarehouseCode,
			   @TenantCode = TenantCode,
			   @ServiceName = ServiceName,
			   @ServiceNumber = ServiceNumber
		FROM dbo.Service WHERE ServiceID = @ServiceID AND DELETED = 0;

		IF @ServiceName IS NULL
		BEGIN
			 SET @Message = 'This Service does not exists.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		
		DECLARE @Currency VARCHAR(20);		
		SELECT @Currency = Currency
		FROM LocWarehouse
		WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;

		INSERT INTO [dbo].[Invoice] (
			TenantCode,
			ChargeName,
			ChargeType,
			ChargeCategory,
			InvoiceReferences,
			WarehouseCode,
			Qty,
			Cost,
			Charge,
			Currency,
			Status,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES (
			@TenantCode,
			@ServiceName,
			'Standard',
			'Services - Other',
			@ServiceNumber,
			@WarehouseCode,
			1,
			@OtherCost,
			@OtherCost,
			@Currency,
			'Pending',
			0, -- Deleted
			@CreatedDateTime,
			@CreatedBy
		);

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
