USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_WarehousePrinter_ListAllWarehousePrintersByWarehouseCode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Nov, 2024>
-- Description:	<Get Printer by Warehouse Code>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_WarehousePrinter_ListAllWarehousePrintersByWarehouseCode] @WarehouseCode VARCHAR(20)
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	SELECT wp.*, lw.WarehouseName
	FROM dbo.WarehousePrinter wp
	JOIN dbo.LocWarehouse lw ON wp.WarehouseCode = lw.WarehouseCode
	WHERE wp.WarehouseCode = @WarehouseCode AND wp.DELETED = 0;

END
GO
