USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_ChangeUserMobilePassword]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 OCt, 2024>
-- Description:	<Change user mobile password>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_ChangeUserMobilePassword] 
	    @UserID INT, 
        @OldPassword VARCHAR(20),
        @NewPassword VARCHAR(20),
        @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

         -- Check if the UserID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.Users WHERE UserID = @UserID AND Deleted = 0)
        BEGIN
            SET @Message = 'UserID does not exist or has been deleted.'
            ROLLBACK TRANSACTION;
			RETURN;
        END

		DECLARE @CurPassword VARBINARY(8000);
        DECLARE @HashedOldPassword VARBINARY(8000);
        DECLARE @HashedNewPassword VARBINARY(8000);

        -- Hash the old and new passwords using SHA2_256
        SET @HashedOldPassword = HASHBYTES('SHA2_256', @OldPassword);
        SET @HashedNewPassword = HASHBYTES('SHA2_256', @NewPassword);

        SELECT @CurPassword = MobilePassword 
		FROM dbo.Users WHERE UserID = @UserID AND DELETED = 0;


		IF @CurPassword IS NULL OR @CurPassword != @HashedOldPassword
        BEGIN
            SET @Message = 'Current password is not correct.'
            ROLLBACK TRANSACTION;
            RETURN;
        END

        UPDATE dbo.Users
        SET MobilePassword = @HashedNewPassword
        WHERE UserID = @UserID AND DELETED = 0;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Change password successful for UserID: ' + CAST(@UserID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating UserID: '  + CAST(@UserID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
