USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_WaveLine_UpdateShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Sep, 2025>
-- Description:	<Update WaveLine Shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_WaveLine_UpdateShipment] 
	@OrderNumber VARCHAR(50),  
	@ShipmentID INT = NULL, 
	@ShipmentType VARCHAR(20) = NULL,
	@OperationDateTime DATETIME,
	@OperationBy VARCHAR(100),
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY		

		BEGIN TRANSACTION

		UPDATE dbo.Waveline
		SET
			ShipmentID = @ShipmentID,
			ShipmentType = @ShipmentType,
			FirstEditedDateTime = COALESCE(@OperationDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@OperationBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
		WHERE OrderNumber = @OrderNumber AND Deleted = 0;
		

		-- Commit the transaction
        COMMIT TRANSACTION
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
