USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_CheckAPIAuthentication]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <30 Oct, 2024>
-- Description:	<Check API Authentication> 
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_CheckAPIAuthentication] 
    @UserEmail VARCHAR(100), 
	@APIKey VARCHAR(50),
	@APIName VARCHAR(100) = NULL,
	@IsValid BIT OUTPUT,
	@TenantCode VARCHAR(10) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	SET @IsValid = 1;
	
	DECLARE @UserAPIKey VARCHAR(50);
	DECLARE @OutputMessage VARCHAR(400) = '';
	DECLARE @UserCode VARCHAR(50);

    SELECT @UserAPIKey = UserAPIKey, @TenantCode = TenantCode, @UserCode = UserCode
    FROM dbo.Users 
    WHERE UserEmail = @UserEmail AND Deleted = 0;

	-- Check for internal user
	IF @UserAPIKey IS NULL or @UserAPIKey != @APIKey
	BEGIN
		SET @IsValid = 0;
	END
	ELSE IF @TenantCode IS NOT NULL
	BEGIN
		-- check permission external not permission
		IF ((SELECT 1 FROM UserPermission WHERE UserCode = @UserCode AND APIName = @APIName AND Permission = 1) = 1)
		BEGIN
			SET @IsValid = 1;
		END
		ELSE
		BEGIN
			SET @IsValid = 0;
		END
	END
END
GO
