USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_MobileVersionInfo_ListAllMobileVersionInfo]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 May, 2025>
-- Description:	<List all information of Mobile Version>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_MobileVersionInfo_ListAllMobileVersionInfo]
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.MobileVersionInfo 
    WHERE DELETED = 0
	ORDER BY [Version] DESC;
END
GO
