USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Carrier_UpdateCarrier]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<Update Carrier>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Carrier_UpdateCarrier] 
	@CarrierID INT,
	@WarehouseCode VARCHAR(20),
	@TenantCode VARCHAR(20),
	@CarrierName VARCHAR(150),
    @CarrierCode VARCHAR(20),
	@CarrierActive BIT,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        -- Check if the CarrierID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.Carrier WHERE CarrierID = @CarrierID AND Deleted = 0)
        BEGIN
            SET @Message = 'CarrierID does not exist or has been deleted.'
            RETURN;
        END

        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.Carrier
        SET
			CarrierActive = COALESCE(@CarrierActive, CarrierActive),
            CarrierName = COALESCE(@CarrierName, CarrierName),
			CarrierCode = COALESCE(@CarrierCode, CarrierCode),
			WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
			TenantCode = COALESCE(@TenantCode, TenantCode),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE CarrierID = @CarrierID
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
