USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DHLIntegration_UpdateIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Oct, 2025>
-- Description:	<Update DHL Integration>
-- =============================================
CREATE PROCEDURE[dbo].[SP_VI_TBL_DHLIntegration_UpdateIntegration]  
	@IntegrationID INT,
	@Password VARCHAR(100),
	@UserName VARCHAR(100),
    @AccountNumber VARCHAR(100),	
	@TenantAccountNumber VARCHAR(100),	
	@ServiceMappings [dbo].[DHLServiceType] READONLY,
	@IsWarehouseAccount BIT = 0,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION
	
		DECLARE @TenantName VARCHAR(150);

		UPDATE dbo.DHLIntegration
			SET
				UserName = @UserName,
				AccountNumber = @AccountNumber,
				TenantAccountNumber = @TenantAccountNumber,
				[Password] = @Password,				
				IsWarehouseAccount = @IsWarehouseAccount,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
			WHERE IntegrationID = @IntegrationID;

		-- remove all line
		UPDATE dbo.DHLIntegrationLine
		SET
			Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
			LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
		WHERE IntegrationID = @IntegrationID;

		 DECLARE @OrderType VARCHAR(20),
			     @ServiceName VARCHAR(50),
				 @OrderServiceName VARCHAR(100);

		 DECLARE ServiceCursor CURSOR FOR
			SELECT 
				OrderType,
				ServiceName,
				OrderServiceName
			FROM @ServiceMappings

		OPEN ServiceCursor

		FETCH NEXT FROM ServiceCursor INTO 
			@OrderType,
			@ServiceName,
			@OrderServiceName

		WHILE @@FETCH_STATUS = 0
		BEGIN	

			-- insert line
			INSERT INTO dbo.DHLIntegrationLine
			(
				IntegrationID,				
				OrderType,
				ServiceName,
				OrderServiceName,					
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@IntegrationID,				
				@OrderType,
				@ServiceName,
				@OrderServiceName,							
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			FETCH NEXT FROM ServiceCursor INTO 
				@OrderType,
				@ServiceName,
				@OrderServiceName
		END

		CLOSE ServiceCursor
		DEALLOCATE ServiceCursor

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
