USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_ViewItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2024>
-- Description:	<List Items>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_ViewItem] @ItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT i.* , ISNULL(it.Barcode, NULL) AS PrimaryUnit
    FROM (SELECT it.*, t.TenantName 
                  FROM dbo.Items it 
                  LEFT JOIN dbo.Tenant t ON it.TenantCode = t.TenantCode) i
	LEFT JOIN dbo.ItemTradeUnit it ON i.ItemID = it.ItemID AND it.primaryUnit = 1
    WHERE i.ItemID = @ItemID AND i.DELETED = 0;
END
GO
