USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_ListReportSchedules]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Jan, 2025>
-- Description:	<Get list of Report Schedule with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_ListReportSchedules]
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ReportScheduleID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @NumberOfTenants INT = 0;
	DECLARE @NumberOfAllApplied INT = 0;

	SELECT @NumberOfTenants = COUNT(*)
	FROM dbo.Tenant
	WHERE deleted = 0;

	SET @NumberOfAllApplied = @NumberOfTenants;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.ReportSchedule WHERE DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ci.*, 
                    CASE 
                        WHEN ci.appliedNumber = 0 THEN ''Apply''
                        WHEN ci.appliedNumber = ' + CAST(@NumberOfAllApplied AS NVARCHAR) + ' THEN ''All''
                        ELSE ''Part''
                    END AS Status
             FROM 
			 (
				SELECT rs.*, COALESCE(trs.appliedNumber, 0) AS appliedNumber 
				FROM dbo.ReportSchedule rs 
				LEFT JOIN  
				(
					SELECT ReportScheduleId, COUNT(*) AS appliedNumber 
					FROM dbo.TenantReportSchedule
					WHERE deleted = 0 
					GROUP BY ReportScheduleId
				) trs
                ON rs.ReportScheduleId = trs.ReportScheduleId
			 ) ci
             WHERE ci.DELETED = 0 
             ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
             OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
             FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*)
		FROM dbo.ReportSchedule rs
		WHERE rs.DELETED = 0
		AND (
			LOWER(rs.ReportName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(rs.Interval) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(rs.[Output]) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(rs.[Description]) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(rs.ReportType) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ci.*, 
                    CASE 
                        WHEN ci.appliedNumber = 0 THEN ''Apply''
                        WHEN ci.appliedNumber = ' + CAST(@NumberOfAllApplied AS NVARCHAR) + ' THEN ''All''
                        ELSE ''Part''
                    END AS Status
             FROM 
			 (
				SELECT rs.*, COALESCE(trs.appliedNumber, 0) AS appliedNumber 
				FROM dbo.ReportSchedule rs 
				LEFT JOIN  
				(
					SELECT ReportScheduleId, COUNT(*) AS appliedNumber 
					FROM dbo.TenantReportSchedule 
					WHERE deleted = 0 
					GROUP BY ReportScheduleId
				) trs 
                ON rs.ReportScheduleId = trs.ReportScheduleId
			 ) ci
             WHERE ci.DELETED = 0 
             AND (
                 LOWER(ci.ReportName) LIKE ''%' + LOWER(@Search) + '%'' 
                 OR LOWER(ci.Interval) LIKE ''%' + LOWER(@Search) + '%'' 
                 OR LOWER(ci.[Output]) LIKE ''%' + LOWER(@Search) + '%'' 
				 OR LOWER(ci.[Description]) LIKE ''%' + LOWER(@Search) + '%'' 
				 OR LOWER(ci.ReportType) LIKE ''%' + LOWER(@Search) + '%'' 
             )
             ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
             OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
             FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
