USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_InsertTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_VI_TBL_Tenant_InsertTenant] 
	@TenantCode                   VARCHAR(10),
    @TenantName                   VARCHAR(150) = NULL,
	@StorageType                  VARCHAR(50),  -- Automated or Manual
    @TenantJoinDate               DATETIME = NULL,
    @TenantAddressLine1           VARCHAR(150) = NULL,
    @TenantAddressLine2           VARCHAR(150) = NULL,
    @TenantSuburb                 VARCHAR(20) = NULL,
    @TenantState                  VARCHAR(20) = NULL,
    @TenantPostcode               VARCHAR(15) = NULL,
    @TenantCountry                VARCHAR(50) = NULL,
    @TenantStatus                 VARCHAR(20) = 'Active',
    @TenantDefaultCarrier         VARCHAR(50) = NULL,
    @TenantABN                    VARCHAR(11) = NULL,
    @TenantContactMobile          VARCHAR(20) = NULL,
    @TenantContactEmail           VARCHAR(100) = NULL,
    @TenantContactName            VARCHAR(100) = NULL,
    @TenantReturnAddress          VARCHAR(150) = NULL,
	@NotificationEmail            VARCHAR(100) = NULL,
    @NotificationName             VARCHAR(150) = NULL,
	@ChargeItemIds                IdArray READONLY,
	@ReportDefinitionInfo         ValueArray READONLY,
	@ExpiredAlertDays	          INT = 0,
	@ExtraOrderCost               DECIMAL(10,2) = 0,
    @CMCChargeCost               DECIMAL(10,2) = 0,
	@MailingChargePercent         INT = 15,
    @PackingRequired              BIT = 0,
    @PackingRequiredType          VARCHAR(50) = NULL,
	@CreatedDateTime              DATETIME = NULL,
	@CreatedBy                    VARCHAR(100) = NULL,
	@Message                 VARCHAR(4000) OUTPUT -- Output parameter for error messages
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

        -- Check if TenantCode is at least 6 characters long
        IF LEN(@TenantCode) < 6
        BEGIN
			SET @Message = 'TenantCode must be at least 6 characters long.'
			ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Check for duplicate TenantCode
        IF EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode)
        BEGIN
            SET @Message = 'TenantCode already exists.';
			ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Insert into Tenant table
        INSERT INTO dbo.Tenant
        (
            TenantCode,
            TenantName,
            TenantJoinDate,
            TenantAddressLine1,
            TenantAddressLine2,
            TenantSuburb,
            TenantState,
            TenantPostcode,
            TenantCountry,
            TenantStatus,
            TenantDefaultCarrier,
			StorageType,
            IsInit,
            Deleted,
            TenantABN,
            TenantContactMobile,
            TenantContactEmail,
            TenantContactName,
            TenantReturnAddress,
			NotificationEmail,
			NotificationName,
			MailingChargePercent,
			ExpiredAlertDays,
			ExtraOrderCost,
            CMCChargeCost,
            PackingRequired,
            PackingRequiredType,
			CreatedDateTime,
			CreatedBy
        )
        VALUES
        (
            @TenantCode,
            @TenantName,
            @TenantJoinDate,
            @TenantAddressLine1,
            @TenantAddressLine2,
            @TenantSuburb,
            @TenantState,
            @TenantPostcode,
            @TenantCountry,
            @TenantStatus,
            @TenantDefaultCarrier,
			@StorageType,
            0, -- Default value for IsInit
            0, -- Default value for Deleted
            @TenantABN,
            @TenantContactMobile,
            @TenantContactEmail,
            @TenantContactName,
            @TenantReturnAddress,
			@NotificationEmail,
			@NotificationName,
			@MailingChargePercent,
			@ExpiredAlertDays,
			@ExtraOrderCost,
            @CMCChargeCost,
            @PackingRequired,
            @PackingRequiredType,
			@CreatedDateTime,
			@CreatedBy
        )

		INSERT INTO dbo.TenantChargeItem (TenantCode, ChargeItemId, ChargeType, Deleted, CreatedDateTime, CreatedBy)
		SELECT  @TenantCode,
		        Value AS ChargeItemId,
			    'Standard' AS ChargeType,
			    0 As Deleted,
				@CreatedDateTime,
			    @CreatedBy
		FROM @ChargeItemIds;

		-- Insert Standard
		INSERT INTO dbo.TenantReportDefinition 
			(
				TenantCode, 
				ReportDefinitionId, 
				WarehouseCode, 
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
		SELECT  @TenantCode,
				[ID],
				[Value],
				0 As Deleted,
				@CreatedDateTime,
				@CreatedBy
		FROM @ReportDefinitionInfo;


		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
