USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocTempLocation_CheckLocationAvailable]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 Feb, 2025>
-- Description:	<Check Temp Location Available>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocTempLocation_CheckLocationAvailable]
	@LocationCode VARCHAR(50),
	@LocationFound BIT OUTPUT,
	@LocationLabel  VARCHAR(10) OUTPUT,
	@IsEmpty BIT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	SET @IsEmpty = 0;
	SET @LocationFound = 0;
	SET @LocationLabel = '';

	IF LEN(@LocationCode) != 33
	BEGIN
		SET @LocationFound = 0;
		RETURN;
	END
	ELSE
	BEGIN

		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @AreaCode VARCHAR(20);
		DECLARE @SectionCode VARCHAR(20);
		DECLARE @BinCode VARCHAR(29);

		SET @WarehouseCode = SUBSTRING(@LocationCode, 1, 1);
		SET @AreaCode = SUBSTRING(@LocationCode, 2, 1);
		SET @SectionCode = SUBSTRING(@LocationCode, 3, 3);
		SET @BinCode = SUBSTRING(@LocationCode, 6, 29);

		IF LEFT(@BinCode, 2) COLLATE Latin1_General_BIN = 'TL'
		BEGIN
			IF EXISTS (SELECT 1 FROM dbo.LocTempLocation WHERE WarehouseCode = @WarehouseCode 
															  AND AreaCode = @AreaCode
															  AND SectionCode = @SectionCode
															  AND BinCode = @BinCode
															  AND DELETED = 0)
			BEGIN
				  SET @LocationFound = 1;
				  SET @LocationLabel = SUBSTRING(@LocationCode, 27, 7);

				  DECLARE @NumberOfULD INT;
				  SELECT @NumberOfULD = COUNT(*)
				  FROM dbo.ULD U
				  WHERE U.ULDCurrentLocation = @LocationCode
					    AND U.DELETED = 0
					    AND EXISTS (
							SELECT 1
							FROM dbo.ULDLine UL
							WHERE UL.ULDID = U.ULDID
							AND UL.DELETED = 0
							GROUP BY UL.ULDID
							HAVING SUM(UL.TransactionQty) > 0
						);
				  
				  IF @NumberOfULD = 0
				  BEGIN
					SET @IsEmpty = 1;
				  END
			END
		END
		ELSE
		BEGIN
			SET @LocationFound = 0;
		END
	END
END
GO
