USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LogTypeMapping_GetLogMapping]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <27 Aug, 2024>
-- Description:	<Get Log Mapping>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LogTypeMapping_GetLogMapping] @LogFileName VARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE	@SqlLog bit;

	SELECT @SqlLog = SqlLog 
	FROM dbo.LogTypeMapping 
	WHERE LogFileName = @LogFileName;

	IF @SqlLog IS NULL OR @SqlLog = 0
	BEGIN
		SELECT 0;
	END
	ELSE
	BEGIN
		SELECT 1;
	END

END
GO
