USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_PackingResult_UpdatePackingResultStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Jun, 2025>
-- Description:	<Update Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_PackingResult_UpdatePackingResultStatus] 
   @PackingResultID				INT,
   @Status				VARCHAR(30),
   @EditedDateTime      DATETIME = NULL,
   @EditedBy            VARCHAR(100) = NULL,
   @Message				VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY
       
	   UPDATE dbo.PackingResult
	   SET  Status = @Status,			
		    FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@EditedBy, LastEditedBy)
	   WHERE PackingResultID = @PackingResultID;

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
