USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocShelf_DeleteLocShelf]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Soft Delete>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocShelf_DeleteLocShelf] @LocShelfID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY

		-- Begin transaction to ensure data integrity
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.LocShelf WHERE LocShelfID = @LocShelfID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Shelf has already been deleted.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		--check
		DECLARE @LocSBinID INT;

		DECLARE cur_LocSBin CURSOR FOR
		SELECT lsb.LocSBinID 
		FROM dbo.LocSBin lsb
		JOIN dbo.LocBin lb ON lb.LocBinID = lsb.LocBinID
		WHERE lsb.Deleted = 0 AND lb.Deleted = 0 AND lb.LocShelfID = @LocShelfID;

		OPEN cur_LocSBin;

		FETCH NEXT FROM cur_LocSBin INTO @LocSBinID;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- Process each LocSBinID inside the loop
			PRINT 'Processing LocSBinID: ' + CAST(@LocSBinID AS VARCHAR);

			-- Call stored procedure for each LocSBinID
			DECLARE @OutLocationBarcode VARCHAR(50);
			DECLARE @OutLocationLabel VARCHAR(10);

			EXEC [dbo].[SP_VI_TBL_Loc_GetLocationBarcode] 
				@SBinID = @LocSBinID,
				@Type = 'SBin',
				@LocationBarcode = @OutLocationBarcode OUTPUT,
				@LocationLabel = @OutLocationLabel OUTPUT;

			-- check having ULD
			DECLARE @NumberOfULD INT;
			SELECT @NumberOfULD = COUNT(*)
			FROM dbo.ULD U
			WHERE U.ULDCurrentLocation = @OutLocationBarcode
			AND U.DELETED = 0
			AND EXISTS (
				SELECT 1
				FROM dbo.ULDLine UL
				WHERE UL.ULDID = U.ULDID
				AND UL.DELETED = 0
				GROUP BY UL.ULDID
				HAVING SUM(UL.TransactionQty) > 0
			);


			IF @NumberOfULD > 0
			BEGIN
				CLOSE cur_LocSBin;
				DEALLOCATE cur_LocSBin;

				 SET @Message = 'There are not empty ULDs at this location.'
				 RETURN;
			END

			FETCH NEXT FROM cur_LocSBin INTO @LocSBinID;
		END

		CLOSE cur_LocSBin;
		DEALLOCATE cur_LocSBin;

        -- Step 1: Update LocShelf table
        UPDATE dbo.LocShelf
        SET Deleted = 1
        WHERE LocShelfID = @LocShelfID;

        -- Step 2: Update LocBin table using JOIN with LocShelf
        UPDATE lb
        SET lb.Deleted = 1
        FROM dbo.LocBin lb
        INNER JOIN dbo.LocShelf lshelf ON lb.LocShelfID = lshelf.LocShelfID
        WHERE lshelf.LocShelfID = @LocShelfID;

        -- Step 3: Update LocSBin table using JOIN with LocBin
        UPDATE lsb
        SET lsb.Deleted = 1
        FROM dbo.LocSBin lsb
        INNER JOIN dbo.LocBin lb ON lsb.LocBinID = lb.LocBinID
        WHERE lb.LocShelfID = @LocShelfID;
		

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for LocShelfID: ' + CAST(@LocShelfID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating LocShelfID: ' + CAST(@LocShelfID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;

END
GO
