USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_InsertAPShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Insert AP Shipment>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_APShipment_InsertAPShipment]  
	@FulfilmentOrder VARCHAR(50),	
	@BoxSize dbo.BoxSizeType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@WarehouseCode  VARCHAR(10) OUTPUT,
	@TenantCode VARCHAR(10) OUTPUT,
	@NewShipmentID  INT OUTPUT,
	@AccountNumber NVARCHAR(50) OUTPUT,
	@Token NCHAR(100) OUTPUT,
	@IsLocal BIT OUTPUT,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @IntegrationID INT,	
			@FulfilmentID INT,
			@CarrierServiceID INT,
			@Carrier VARCHAR(500),
			@SourceOrderNumber VARCHAR(50),
			@OrderSource VARCHAR(50),
			@ServiceName VARCHAR(50);

	SELECT  @FulfilmentID = FulfilmentID,
		    @TenantCode = TenantCode, 
			@WarehouseCode = WarehouseCode, 
			@OrderSource = OrderSource,
			@SourceOrderNumber = order_number,
			@Carrier = Carrier
	FROM dbo.Fulfilment
	WHERE OrderNumber = @FulfilmentOrder AND Deleted = 0;

	SELECT @IntegrationID = IntegrationID, @AccountNumber = AccountNumber, @Token = Token
	FROM dbo.APIntegration
	WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

	IF @IntegrationID IS NOT NULL
	BEGIN
		IF @OrderSource = 'Manual'
		BEGIN
			
			SELECT @CarrierServiceID = CarrierServiceID
			FROM dbo.Orders
			WHERE order_number = @SourceOrderNumber AND Deleted = 0;

			SELECT @ServiceName = ServiceName
			FROM dbo.AP_Service
			WHERE ServiceID = @CarrierServiceID AND Deleted = 0;
		END
		ELSE  -- Not manual
		BEGIN

			SET @Carrier = REPLACE(@Carrier COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       'Australia Post ' COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       '');

			SELECT 
				 @ServiceName = l.ServiceName
			FROM dbo.APIntegrationLine l 
			LEFT JOIN dbo.AP_Service s ON s.ServiceID = l.ServiceID AND s.Deleted = 0
			where l.Deleted = 0 
					AND l.IntegrationID = @IntegrationID 
					AND l.OrderType COLLATE SQL_Latin1_General_CP1_CI_AS = @OrderSource COLLATE SQL_Latin1_General_CP1_CI_AS
					AND l.OrderServiceName = @Carrier ;
		END
				
		IF @ServiceName = 'International'
		BEGIN
			
			EXEC [dbo].[SP_VI_TBL_APShipment_InsertAPIntShipment]
				@FulfilmentID    = @FulfilmentID,
				@BoxSize = @BoxSize,
				@CreatedDateTime = @CreatedDateTime,  
				@CreatedBy       = @CreatedBy,        
				@NewShipmentID   = @NewShipmentID OUTPUT,
				@Message         = @Message OUTPUT;
			SET @IsLocal = 0;
		END
		ELSE
		BEGIN
			EXEC [dbo].[SP_VI_TBL_APShipment_InsertAPLocalShipment]
				@FulfilmentID   = @FulfilmentID,
				@BoxSize = @BoxSize,
				@AddDefaultItem = 1,
				@CreatedDateTime= @CreatedDateTime,      
				@CreatedBy      = @CreatedBy,            
				@NewShipmentID  = @NewShipmentID OUTPUT,
				@Message        = @Message OUTPUT;
			SET @IsLocal = 1;
		END
		
					
	END -- End @IntegrationID IS NOT NULL
	ELSE
	BEGIN
		SET @Message = 'Can not insert Shipment';		
	END
	
END
GO
