USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_IPAddressStatusList_UpdateIPAddressStatusList]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Dec, 2025>
-- Description:	<Update IPAddressStatusList>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_IPAddressStatusList_UpdateIPAddressStatusList] 
	@IPAddressStatusListID INT,
	@IPAddress VARCHAR(100),
	@Name VARCHAR(200) = NULL,
	@Comment TEXT =  NULL,
	@Email VARCHAR(50) = NULL,
	@IsBlocked BIT,
	@IsWhitelisted BIT,
    @BlockedDateTime DATETIME = NULL,
	@LastFailedAttempt DATETIME = NULL,
	@FailedCount INT = 0,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		BEGIN TRANSACTION

        -- Check if the IPAddressStatusListID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.IPAddressStatusList WHERE IPAddressStatusListID = @IPAddressStatusListID AND Deleted = 0)
        BEGIN
            SET @Message = 'IPAddressStatusListID does not exist or has been deleted.';
			ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.IPAddressStatusList
        SET
            IPAddress = COALESCE(@IPAddress, IPAddress),
			[Name] = COALESCE(@Name, [Name]),
			Comment = COALESCE(@Comment, Comment),
			Email = COALESCE(@Email, Email),

			IsWhitelisted = COALESCE(@IsWhitelisted, IsWhitelisted),

			IsBlocked = CASE
                    WHEN @IsWhitelisted = 1 THEN 0
                    ELSE COALESCE(@IsBlocked, IsBlocked)
                END,

			FailedCount = CASE
					WHEN @IsWhitelisted = 1 THEN 0
					ELSE COALESCE(@FailedCount, FailedCount)
				END,

			BlockedDateTime = CASE
					WHEN @IsWhitelisted = 1 THEN NULL
					ELSE COALESCE(@BlockedDateTime, BlockedDateTime)
				END,

			LastFailedAttempt = CASE
					WHEN @IsWhitelisted = 1 THEN NULL
					ELSE COALESCE(@LastFailedAttempt, LastFailedAttempt)
				END,

			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE IPAddressStatusListID = @IPAddressStatusListID

		-- Commit the transaction
        COMMIT TRANSACTION;



    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
