USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Jul, 2025>
-- Description:	<Check ULD Having Stock of Tenant at Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtLocation]  
    @TenantCode VARCHAR(10) = NULL,
    @LocationID INT = NULL,  -- AreaID or SectionID
	@LocationType VARCHAR(50) = NULL,  -- Area or Section
	@ItemNumber VARCHAR(30) = NULL,
    @IsEmpty BIT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX);
    DECLARE @RowCount INT;

	DECLARE @LocWarehouseCode NVARCHAR(1),
			@LocAreaCode NVARCHAR(1),
			@LocSectionCode NVARCHAR(3),
			@LocationPrefix NVARCHAR(5);

	DECLARE @LocWarehouseID INT,
            @LocAreaID INT,
			@LocSectionID INT;

    SET @sql = N'
        SELECT @RowCount = COUNT(*) 
        FROM (
            SELECT U.ULDID, SUM(UL.TransactionQty) AS TotalQty
            FROM dbo.ULD U
            INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
            WHERE U.Deleted = 0
              AND UL.Deleted = 0
			  AND U.HoldStatus IS NULL
              AND U.Status <> ''Draft''';

	IF @LocationType IS NOT NULL
	BEGIN
		IF @LocationType = 'Area' 
		BEGIN
			SELECT @LocWarehouseID = LocWarehouseID, @LocAreaCode = AreaCode 
			FROM dbo.LocArea WHERE LocAreaID = @LocationID AND Deleted = 0;

			SELECT @LocWarehouseCode = WarehouseCode 
			FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID AND Deleted = 0;

			SET @LocationPrefix = @LocWarehouseCode + @LocAreaCode;

			SET @sql += N' AND SUBSTRING(ISNULL(U.ULDCurrentLocation, ''''), 1, 2) = ''' + REPLACE(@LocationPrefix, '''', '''''') + '''';

		END ELSE IF @LocationType = 'Section' 
		BEGIN

			SELECT @LocAreaID = LocAreaID, @LocSectionCode = SectionCode 
			FROM dbo.LocSection WHERE LocSectionID = @LocationID AND Deleted = 0;

			SELECT @LocWarehouseID = LocWarehouseID, @LocAreaCode = AreaCode 
			FROM dbo.LocArea WHERE  LocAreaID = @LocAreaID AND Deleted = 0;

			SELECT @LocWarehouseCode = WarehouseCode 
			FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID AND Deleted = 0;

			SET @LocationPrefix = @LocWarehouseCode + @LocAreaCode + @LocSectionCode;

			SET @sql += N' AND SUBSTRING(ISNULL(U.ULDCurrentLocation, ''''), 1, 5) = ''' + REPLACE(@LocationPrefix, '''', '''''') + '''';
		END
	END

	
    IF @TenantCode IS NOT NULL
        SET @sql += N' AND U.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';

	IF @ItemNumber IS NOT NULL
        SET @sql += N' AND U.ItemNumber = ''' + REPLACE(@ItemNumber, '''', '''''') + '''';

    SET @sql += N'
            GROUP BY U.ULDID
            HAVING SUM(UL.TransactionQty) > 0
        ) AS Sub;';
		

    -- Execute and capture result
    EXEC sp_executesql @sql, N'@RowCount INT OUTPUT', @RowCount = @RowCount OUTPUT;

    -- Set output value
    IF @RowCount > 0
        SET @IsEmpty = 0;
    ELSE
        SET @IsEmpty = 1;
END
GO
