USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDashboardConfig_InsertReportDashboardConfig]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 Aug, 2024>
-- Description:	<Insert ReportDashboardConfigID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDashboardConfig_InsertReportDashboardConfig]  
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20),
	@ConfigInfo dbo.ValueArray READONLY,	
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate ReportDashboardConfigName
		 IF EXISTS(SELECT 1 FROM dbo.ReportDashboardConfig WHERE TenantCode = @TenantCode AND Deleted = 0)
		 BEGIN
			 SET @Message = 'ReportDashboardConfig Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		INSERT INTO dbo.ReportDashboardConfig
		(
			WarehouseCode,
			TenantCode,
			[Location],
			WidgetName,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		SELECT @WarehouseCode, @TenantCode , [ID], [Value], 0, @CreatedDateTime, @CreatedBy
		FROM @ConfigInfo;
        

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
