USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DHLIntegrationLine_ViewIntegrationLinesByID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Aug, 2025>
-- Description:	<Get detail information of DHL Integration Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DHLIntegrationLine_ViewIntegrationLinesByID] 
   @IntegrationID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT l.* 
    FROM dbo.DHLIntegrationLine l
    WHERE l.IntegrationID = @IntegrationID AND l.DELETED = 0;
END
GO
