USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_AutoCreatingITFlatformInvoices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      Nam Nguyen
-- Create date: 02 June, 2025
-- Description: Auto Creating IT Platform Invoices
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_AutoCreatingITFlatformInvoices]
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @ChargeItemName VARCHAR(200) = 'IT Platform /Customer Service fee';
        DECLARE @ChargeItemID INT;

        -- Get ChargeItemID
        SELECT @ChargeItemID = ChargeItemID
        FROM dbo.ChargeITem
        WHERE ChargeItemName = @ChargeItemName 
          AND DELETED = 0 
          AND ChargeItemGroup = 'Account Management' 
          AND ChargeItemUnit = 'Week';

        IF @ChargeItemID IS NOT NULL
        BEGIN
            BEGIN TRANSACTION;

            DECLARE @TenantCode VARCHAR(10);
            DECLARE @WarehouseCode VARCHAR(20);
            DECLARE @Charge DECIMAL(10, 2);
            DECLARE @Currency VARCHAR(20);
            DECLARE @ChargeType VARCHAR(20); -- Standard or Custom
			
            -- Cursor for TenantCode
            DECLARE ITFlatform_Cursor CURSOR FOR 
                SELECT TenantCode 
                FROM dbo.TenantChargeItem 
                WHERE DELETED = 0 AND ChargeItemID = @ChargeItemID;

            OPEN ITFlatform_Cursor;
            FETCH NEXT FROM ITFlatform_Cursor INTO @TenantCode;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                -- Cursor for WarehouseCode
                DECLARE WarehouseCursor CURSOR FOR
                    SELECT WarehouseCode 
                    FROM dbo.LocWarehouse 
                    WHERE Deleted = 0;

                OPEN WarehouseCursor;
                FETCH NEXT FROM WarehouseCursor INTO @WarehouseCode;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @Charge = NULL;
                    SET @Currency = NULL;
                    SET @ChargeType = NULL;

                    -- Get charge info
                    EXEC [dbo].[SP_VI_TBL_ChargeItem_GetCostInfoOfTenantByWarehouseCode]
                        @ChargeItemID = @ChargeItemID,
                        @TenantCode = @TenantCode,
                        @WarehouseCode = @WarehouseCode,
                        @Charge = @Charge OUTPUT,
                        @Currency = @Currency OUTPUT,
                        @ChargeType = @ChargeType OUTPUT;

                    IF @ChargeType IS NOT NULL AND @Charge != 0
                    BEGIN
                        INSERT INTO [dbo].[Invoice] (
                            TenantCode,
                            ChargeName,
                            ChargeType,
                            ChargeCategory,
                            InvoiceReferences,
                            WarehouseCode,
                            Qty,
                            Cost,
                            Charge,
                            Currency,
                            Status,
                            Deleted,
                            CreatedDateTime,
                            CreatedBy
                        )
                        VALUES (
                            @TenantCode,
                            @ChargeItemName,
                            'IT Platform',
                            'Account Management',
                            'Auto',
                            @WarehouseCode,
                            1,
                            @Charge,
                            @Charge,
                            @Currency,
                            'Pending',
                            0,
                            GETDATE(),
                            'Scheduler'
                        );
                    END

                    FETCH NEXT FROM WarehouseCursor INTO @WarehouseCode;
                END

                CLOSE WarehouseCursor;
                DEALLOCATE WarehouseCursor;

                FETCH NEXT FROM ITFlatform_Cursor INTO @TenantCode;
            END

            CLOSE ITFlatform_Cursor;
            DEALLOCATE ITFlatform_Cursor;

            COMMIT TRANSACTION;
        END

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END
GO
