USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_ListAvailableMailingFulfilmentOrders]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Sep, 2025>
-- Description:	<List Available Mailing Fulfilment Orders>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_ListAvailableMailingFulfilmentOrders]    
	 @WarehouseName VARCHAR(150), 
	 @TenantCode VARCHAR(10) = NULL, 
	 @Search NVARCHAR(100) = NULL,
	 @ShipmentType  VARCHAR(20) = NULL,  -- Local Int
	 @PageNumber INT = 1,
	 @PageSize INT = 10,
	 @OrderBy NVARCHAR(50) = 'OrderNumber',
	 @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);	

	DECLARE @WarehouseCode VARCHAR(10);

	SELECT @WarehouseCode = WarehouseCode
	FROM dbo.LocWarehouse
	WHERE WarehouseName = @WarehouseName AND Deleted = 0


	IF @Search IS NULL OR LEN(@Search) = 0
	BEGIN
		-- Get the total number of records		
		
		SELECT @TotalRecords =
		(
			-- Fulfilment count
			SELECT COUNT(*) 
			FROM dbo.Fulfilment f
			INNER JOIN 
			(
				SELECT 
					w.WaveID, 
					w.PickingType, 
					wl.OrderNumber, 
					wl.SourceOrderNumber
				FROM dbo.WaveLine wl
				INNER JOIN dbo.Wave w 
					ON w.WaveID = wl.WaveID 
				   AND w.Deleted = 0
				WHERE w.CurrentStep = 'Mailing' 
				  AND w.StepStatus IN ('Pending', 'Started')
				  AND w.WaveType = 'Orders'
				  AND wl.PackStatus = 'Completed'
				  AND wl.PickStatus = 'Completed'
				  AND (wl.MailStatus IS NULL OR wl.MailStatus <> 'Completed')
				  AND (
						(w.PickingType = 'Bulk' AND wl.SortStatus = 'Completed')
						OR (w.PickingType <> 'Bulk')
					  )
				  AND (
						@TenantCode IS NULL OR wl.TenantCode = @TenantCode		
					  )
				  AND (
						@ShipmentType IS NULL OR wl.ShipmentType = @ShipmentType		
					  )
			) A ON A.OrderNumber = f.OrderNumber
			WHERE f.Deleted = 0 
				AND f.FulfilmentStatus <> 'Error'
				AND (f.CarrierID IS NULL OR f.CarrierID <> 2)
				AND f.WarehouseName = @WarehouseName
		)
		+
		(
			-- AP_Shipment count
			SELECT COUNT(*)
			FROM AP_Shipment s
			LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
			LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
			WHERE s.ManualShipmentStatus = 'Pending' AND s.Deleted = 0 AND s.WarehouseCode = @WarehouseCode
				   AND (
						@ShipmentType IS NULL OR @ShipmentType = 'Local'		
					)
		)
		+
		(
			-- AP_ShipmentINT count
			SELECT COUNT(*)
			FROM AP_ShipmentINT s
			LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
			LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
			WHERE s.ManualShipmentStatus = 'Pending' AND s.Deleted = 0 AND s.WarehouseCode = @WarehouseCode
				   AND (
						@ShipmentType IS NULL OR @ShipmentType = 'INT'		
					)
		);


		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);		

		SET @SQL = N'
				SELECT f.OrderNumber, f.order_number, f.TenantCode, f.CreatedDateTime, w.WaveID, w.WaveNumber, w.WaveStatus, lw.WarehouseName, t.TenantName, t.TenantID, f.order_number as SourceOrderNumber
				FROM dbo.Fulfilment f
				INNER JOIN (
					SELECT 
						w.WaveID, 
						w.PickingType, 
						wl.OrderNumber, 
						wl.SourceOrderNumber,
						wl.ShipmentType
					FROM dbo.WaveLine wl
					INNER JOIN dbo.Wave w 
						ON w.WaveID = wl.WaveID 
					   AND w.Deleted = 0
					WHERE w.CurrentStep = ''Mailing'' 
					  AND w.StepStatus IN (''Pending'', ''Started'')
					  AND w.WaveType = ''Orders''
					  AND wl.PackStatus = ''Completed''
					  AND wl.PickStatus = ''Completed''
					  AND (wl.MailStatus IS NULL OR wl.MailStatus <> ''Completed'')
					  AND (
							(w.PickingType = ''Bulk'' AND wl.SortStatus = ''Completed'')
							OR (w.PickingType <> ''Bulk'')
						  )
				) A ON A.OrderNumber = f.OrderNumber
				LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = f.WarehouseCode
				LEFT JOIN Tenant t ON t.TenantCode = f.TenantCode
				LEFT JOIN dbo.Wave w ON w.WaveID = A.WaveID
				WHERE f.Deleted = 0 
				  AND f.FulfilmentStatus <> ''Error''
				  AND (f.CarrierID IS NULL OR f.CarrierID <> 2)
				  AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + ''' ' +
				CASE 
					WHEN @TenantCode IS NOT NULL AND LTRIM(RTRIM(@TenantCode)) <> '''' 
					THEN ' AND f.TenantCode = ''' + REPLACE(LTRIM(RTRIM(@TenantCode)), '''', '''''') + ''' '
					ELSE ''
				END +		
				CASE 
					WHEN @ShipmentType IS NOT NULL AND LTRIM(RTRIM(@ShipmentType)) <> '''' 
					THEN ' AND A.ShipmentType = ''' + REPLACE(LTRIM(RTRIM(@ShipmentType)), '''', '''''') + ''' '
					ELSE ''
				END +	
				'
				UNION ALL

				SELECT s.Shipment_Reference AS OrderNumber, '''' AS order_number, s.TenantCode, s.CreatedDateTime, 0 AS WaveID, '''' AS WaveNumber, '''' AS WaveStatus, lw.WarehouseName, t.TenantName, t.TenantID, s.SourceShipment as SourceOrderNumber
				FROM AP_Shipment s
				LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
				LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
				WHERE s.ManualShipmentStatus = ''Pending'' 
				AND s.WarehouseCode = ''' + @WarehouseCode + ''' ' + '
				AND s.Deleted = 0 ' +
				CASE 
					WHEN @TenantCode IS NOT NULL AND LTRIM(RTRIM(@TenantCode)) <> '''' 
					THEN ' AND s.TenantCode = ''' + REPLACE(LTRIM(RTRIM(@TenantCode)), '''', '''''') + ''' '
					ELSE ''
				END +		
				CASE 
					WHEN @ShipmentType IS NOT NULL AND LTRIM(RTRIM(@ShipmentType)) <> 'Local' 
					THEN ' AND s.ShipmentId < 0 '
					ELSE ''
				END +	
				' 
				UNION ALL

				SELECT s.Shipment_Reference AS OrderNumber, '''' AS order_number, s.TenantCode, s.CreatedDateTime, 0 AS WaveID, '''' AS WaveNumber, '''' AS WaveStatus, lw.WarehouseName, t.TenantName, t.TenantID, s.SourceShipment as SourceOrderNumber
				FROM AP_ShipmentINT s
				LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
				LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
				WHERE s.ManualShipmentStatus = ''Pending'' 
				AND s.WarehouseCode = ''' + @WarehouseCode + ''' ' + '
				AND s.Deleted = 0 ' +
				CASE 
					WHEN @TenantCode IS NOT NULL AND LTRIM(RTRIM(@TenantCode)) <> '''' 
					THEN ' AND s.TenantCode = ''' + REPLACE(LTRIM(RTRIM(@TenantCode)), '''', '''''') + ''' '
					ELSE ''
				END +		
				CASE 
					WHEN @ShipmentType IS NOT NULL AND LTRIM(RTRIM(@ShipmentType)) <> 'INT' 
					THEN ' AND s.ShipmentId < 0 '
					ELSE ''
				END +	
				'
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
				OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

	END
	ELSE
	BEGIN
		-- Get the total number of records
		SET @Search = LOWER(@Search);		

		SELECT @TotalRecords =
		(
			-- Fulfilment count
			SELECT COUNT(*) 
			FROM dbo.Fulfilment f
			INNER JOIN 
			(
				SELECT 
					w.WaveID, 
					w.PickingType, 
					wl.OrderNumber, 
					wl.SourceOrderNumber
				FROM dbo.WaveLine wl
				INNER JOIN dbo.Wave w 
					ON w.WaveID = wl.WaveID 
				   AND w.Deleted = 0
				WHERE w.CurrentStep = 'Mailing' 
				  AND w.StepStatus IN ('Pending', 'Started')
				  AND w.WaveType = 'Orders'
				  AND wl.PackStatus = 'Completed'
				  AND wl.PickStatus = 'Completed'
				  AND (wl.MailStatus IS NULL OR wl.MailStatus <> 'Completed')
				  AND (
						(w.PickingType = 'Bulk' AND wl.SortStatus = 'Completed')
						OR (w.PickingType <> 'Bulk')
					  )
				  AND (
						@TenantCode IS NULL OR wl.TenantCode = @TenantCode		
					  )
				  AND (
						@ShipmentType IS NULL OR wl.ShipmentType = @ShipmentType		
					  )
			) A ON A.OrderNumber = f.OrderNumber
			LEFT JOIN dbo.Tenant t ON f.TenantCode = t.TenantCode 
			LEFT JOIN Wave w ON w.WaveID = A.WaveID 
			WHERE f.Deleted = 0 
				AND f.FulfilmentStatus <> 'Error'
				AND (f.CarrierID IS NULL OR f.CarrierID <> 2)
				AND f.WarehouseName = @WarehouseName
				AND (
					LOWER(f.OrderNumber) LIKE '%' + LOWER(@Search) + '%' 			
					OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(f.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
				)
		)
		+
		(
			-- AP_Shipment count
			SELECT COUNT(*)
			FROM AP_Shipment s
			LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
			LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
			WHERE s.ManualShipmentStatus = 'Pending' 
				  AND s.Deleted = 0 
				  AND s.WarehouseCode = @WarehouseCode
				  AND (
						@ShipmentType IS NULL OR @ShipmentType = 'Local'		
				  )
				  AND (
					LOWER(s.Shipment_Reference) LIKE '%' + LOWER(@Search) + '%' 			
					OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(s.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
				 )
		)
		+
		(
			-- AP_ShipmentINT count
			SELECT COUNT(*)
			FROM AP_ShipmentINT s
			LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
			LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
			WHERE s.ManualShipmentStatus = 'Pending' 
			      AND s.Deleted = 0 
				  AND s.WarehouseCode = @WarehouseCode
				  AND (
						@ShipmentType IS NULL OR @ShipmentType = 'INT'		
				  )
				  AND (
					LOWER(s.Shipment_Reference) LIKE '%' + LOWER(@Search) + '%' 			
					OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
					OR LOWER(s.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
				 )
		);


		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);
		

		SET @SQL = N'
			SELECT f.OrderNumber, f.order_number, f.TenantCode, f.CreatedDateTime, w.WaveID, w.WaveNumber, w.WaveStatus, lw.WarehouseName, t.TenantName, t.TenantID, f.order_number as SourceOrderNumber
			FROM dbo.Fulfilment f
			INNER JOIN (
				SELECT 
					w.WaveID, 
					w.PickingType, 
					wl.OrderNumber, 
					wl.SourceOrderNumber,
					wl.ShipmentType
				FROM dbo.WaveLine wl
				INNER JOIN dbo.Wave w 
					ON w.WaveID = wl.WaveID 
					AND w.Deleted = 0
				WHERE w.CurrentStep = ''Mailing'' 
					AND w.StepStatus IN (''Pending'', ''Started'')
					AND w.WaveType = ''Orders''
					AND wl.PackStatus = ''Completed''
					AND wl.PickStatus = ''Completed''
					AND (wl.MailStatus IS NULL OR wl.MailStatus <> ''Completed'')
					AND (
						(w.PickingType = ''Bulk'' AND wl.SortStatus = ''Completed'')
						OR (w.PickingType <> ''Bulk'')
						)
			) A ON A.OrderNumber = f.OrderNumber
			LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = f.WarehouseCode
			LEFT JOIN Tenant t ON t.TenantCode = f.TenantCode
			LEFT JOIN dbo.Wave w ON w.WaveID = A.WaveID
			WHERE f.Deleted = 0 
				AND f.FulfilmentStatus <> ''Error''
				AND (f.CarrierID IS NULL OR f.CarrierID <> 2)
				AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + ''' ' +
			CASE 
				WHEN @TenantCode IS NOT NULL AND LTRIM(RTRIM(@TenantCode)) <> '''' 
				THEN ' AND f.TenantCode = ''' + REPLACE(LTRIM(RTRIM(@TenantCode)), '''', '''''') + ''' '
				ELSE ''
			END +		
			CASE 
				WHEN @ShipmentType IS NOT NULL AND LTRIM(RTRIM(@ShipmentType)) <> '''' 
				THEN ' AND A.ShipmentType = ''' + REPLACE(LTRIM(RTRIM(@ShipmentType)), '''', '''''') + ''' '
				ELSE ''
			END +	
			' AND (
					LOWER(f.OrderNumber) LIKE ''%' + LOWER(@Search) + '%'' 				
				 OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
				 OR LOWER(f.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
			)

			UNION ALL

			SELECT s.Shipment_Reference AS OrderNumber, '''' AS order_number, s.TenantCode, s.CreatedDateTime, 0 AS WaveID, '''' AS WaveNumber, '''' AS WaveStatus, lw.WarehouseName, t.TenantName, t.TenantID, s.SourceShipment as SourceOrderNumber
			FROM AP_Shipment s
			LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
			LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
			WHERE s.ManualShipmentStatus = ''Pending'' 
			AND s.WarehouseCode = ''' + @WarehouseCode + ''' ' + '
			AND s.Deleted = 0 ' +
			CASE 
				WHEN @TenantCode IS NOT NULL AND LTRIM(RTRIM(@TenantCode)) <> '''' 
				THEN ' AND s.TenantCode = ''' + REPLACE(LTRIM(RTRIM(@TenantCode)), '''', '''''') + ''' '
				ELSE ''
			END +		
			CASE 
				WHEN @ShipmentType IS NOT NULL AND LTRIM(RTRIM(@ShipmentType)) <> 'Local' 
				THEN ' AND s.ShipmentId < 0 '
				ELSE ''
			END +	
			' AND (
					LOWER(s.Shipment_Reference) LIKE ''%' + LOWER(@Search) + '%'' 				
				 OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
				 OR LOWER(s.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
				)

			UNION ALL

			SELECT s.Shipment_Reference AS OrderNumber, '''' AS order_number, s.TenantCode, s.CreatedDateTime, 0 AS WaveID, '''' AS WaveNumber, '''' AS WaveStatus, lw.WarehouseName, t.TenantName, t.TenantID, s.SourceShipment as SourceOrderNumber
			FROM AP_ShipmentINT s
			LEFT JOIN LocWarehouse lw ON lw.WarehouseCode = s.WarehouseCode AND lw.Deleted = 0
			LEFT JOIN Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
			WHERE s.ManualShipmentStatus = ''Pending'' 
			AND s.WarehouseCode = ''' + @WarehouseCode + ''' ' + '
			AND s.Deleted = 0 ' +
			CASE 
				WHEN @TenantCode IS NOT NULL AND LTRIM(RTRIM(@TenantCode)) <> '''' 
				THEN ' AND s.TenantCode = ''' + REPLACE(LTRIM(RTRIM(@TenantCode)), '''', '''''') + ''' '
				ELSE ''
			END +		
			CASE 
				WHEN @ShipmentType IS NOT NULL AND LTRIM(RTRIM(@ShipmentType)) <> 'INT' 
				THEN ' AND s.ShipmentId < 0 '
				ELSE ''
			END +	
			' AND (
					LOWER(s.Shipment_Reference) LIKE ''%' + LOWER(@Search) + '%'' 				
				 OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
				 OR LOWER(s.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
				)
			ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
			OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
			FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

	END 


	PRINT  @SQL; 

    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL; 

END
GO
