USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetStockOnHandOfTenantForExport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 Mar, 2025>
-- Description:	<Get Stock of Tenant For Export>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetStockOnHandOfTenantForExport] 
	@TenantID INT,
	@WarehouseCodes dbo.StringArray READONLY  -- empty is ALl Warehouses	
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    DECLARE @WarehouseCodeList dbo.StringArray;
	DECLARE @WarehouseCount INT;
	SELECT @WarehouseCount = COUNT(*) FROM @WarehouseCodes;
	
	DECLARE @TenantCode VARCHAR(10);
	SELECT @TenantCode = TenantCode FROM Tenant WHERE DELETED = 0 AND TenantID = @TenantID;

	IF @WarehouseCount = 0   -- 'All Warehouses';
	BEGIN
		PRINT 'All Warehouses';

		INSERT INTO @WarehouseCodeList (Value)
		SELECT WarehouseCode
		FROM LocWarehouse
		WHERE DELETED = 0;
	END
	ELSE
	BEGIN
		INSERT INTO @WarehouseCodeList (Value)
		SELECT (Value) FROM @WarehouseCodes;
	END

	DECLARE @WarehouseCodeListStr NVARCHAR(MAX);
	-- Convert the TVP to a comma-separated string
	SELECT @WarehouseCodeListStr = STRING_AGG('''' + Value + '''', ', ') FROM @WarehouseCodeList;

	DECLARE @SQL NVARCHAR(MAX);

	SET @SQL = N'
			SELECT A.WarehouseCode, lw.WarehouseName, A.ItemName, A.ItemNumber AS ItemCode, COALESCE(A.TotalULD,0) AS TotalULD, COALESCE(A.TotalTransactionQty,0) AS Qty
			FROM (
				SELECT 
					U.ItemNumber, 
					U.ItemName,
					U.WarehouseCode,
					COUNT(DISTINCT U.ULDID) AS TotalULD, 
					SUM(UL.TransactionQty) AS TotalTransactionQty
				FROM dbo.ULD U
				INNER JOIN dbo.ULDLine UL ON UL.ULDID = U.ULDID
				WHERE U.TenantCode = ''' + @TenantCode + '''
					AND U.DELETED = 0
					AND U.HoldStatus IS NULL 
					AND U.Status <> ''Draft'' AND U.Status <> ''InActive'' AND U.Status <> ''Locked'' 
					AND UL.TransactionType  <> ''Allocated''
					AND UL.DELETED = 0';

	-- Append the dynamic IN clause for WarehouseCode
	IF @WarehouseCodeListStr <> ''''''
	BEGIN
		SET @SQL = @SQL + N' AND U.WarehouseCode IN (' + @WarehouseCodeListStr + ')';
	END

	-- Complete the query with grouping and ordering
	SET @SQL = @SQL + N'
			GROUP BY U.ItemNumber, U.ItemName, U.WarehouseCode
			HAVING SUM(UL.TransactionQty) > 0
		) AS A 
		LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = A.WarehouseCode
		ORDER BY A.WarehouseCode';

	 -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;


END
GO
