USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_GetReportDateRange]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 Jun, 2025>
-- Description:	<Get StartDate and Endate for Report>  
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_GetReportDateRange]
    @ScheduleType VARCHAR(50),
    @StartDate DATETIME OUTPUT,
    @EndDate DATETIME OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

    IF @ScheduleType = 'Monthly'
    BEGIN
        -- Set @EndDate to last day of previous month at 23:59:59
        SET @EndDate = DATEADD(SECOND, -1,
                        DATEADD(DAY, 1,
                            CAST(EOMONTH(DATEADD(MONTH, -1, GETDATE())) AS DATETIME)));

        -- Set @StartDate to first day of previous month at 00:00:01
        SET @StartDate = DATEADD(SECOND, 1,
                          CAST(DATEFROMPARTS(
                              YEAR(@EndDate), MONTH(@EndDate), 1
                          ) AS DATETIME));
    END
    ELSE IF @ScheduleType = 'Weekly'
    BEGIN
        SET DATEFIRST 7; -- Sunday = 1

        DECLARE @Today DATE = CAST(GETDATE() AS DATE);

        -- Last Monday 00:00:01
        SET @StartDate = DATEADD(SECOND, 1,
                          DATEADD(DAY, -7,
                            DATEADD(DAY, 1 - DATEPART(WEEKDAY, @Today),
                              CAST(@Today AS DATETIME))));

        -- Last Sunday 23:59:59
        SET @EndDate = DATEADD(SECOND, -1,
                        DATEADD(DAY, 1,
                          DATEADD(DAY, -1 * DATEPART(WEEKDAY, @Today),
                            CAST(@Today AS DATETIME))));
    END
    ELSE
    BEGIN
        SET @StartDate = GETDATE();
        SET @EndDate = GETDATE();
    END
END
GO
