USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_GetPendingManualReceiptInboundDetail]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <13 Nov, 2024>
-- Description:	<List Pending Manual Receipt Inbound Detail>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_GetPendingManualReceiptInboundDetail] 
    @ReceiptInboundID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @ShipmentNumber VARCHAR(30);
	DECLARE @ClientShipmentNumber VARCHAR(30);
	DECLARE @TenantCode VARCHAR(20); 
	DECLARE @ULDCurrentLocation VARCHAR(50); 
	DECLARE @ItemNumber VARCHAR(30);

	SELECT @TenantCode = TenantCode, @ShipmentNumber = ShipmentNumber, @ClientShipmentNumber = ClientShipmentNumber 
	FROM dbo.ReceiptInbound WHERE DELETED = 0 AND ReceiptInboundID = @ReceiptInboundID;

    -- Temp table to store combined results
    CREATE TABLE #TempULDTransactionDetails
	(
		ULDID INT,
		TenantCode VARCHAR(10),
		LocationCode VARCHAR(50),
		LocationLabel VARCHAR(1000),
		ItemName VARCHAR(250),
		ItemNumber VARCHAR(30),
		ItemType VARCHAR(30), -- ULD Type
		BatchNumber VARCHAR(30),
		ExpiryDate DATETIME,
		TrackSerialOnReceipt BIT,
		Qty INT,
		TransactionQty INT,
		Received BIT
	);

	CREATE TABLE #TempULDTransactionDetailsForPallet
	(
		ULDID INT,
		TenantCode VARCHAR(10),
		LocationCode VARCHAR(50),
		LocationLabel VARCHAR(1000),
		ItemName VARCHAR(250),
		ItemNumber VARCHAR(30),
		ItemType VARCHAR(30), -- ULD Type
		BatchNumber VARCHAR(30),
		ExpiryDate DATETIME,
		TrackSerialOnReceipt BIT,
		Qty INT,
		TransactionQty INT,
		Received BIT
	);

	CREATE TABLE #TempItemNumbers
	(
		ItemNumber VARCHAR(30)
	);

	--Insert from Receipt Line
	INSERT INTO #TempULDTransactionDetails (ULDID, TenantCode, LocationCode, LocationLabel, ItemName, ItemNumber, ItemType, BatchNumber, ExpiryDate, TrackSerialOnReceipt, Qty, TransactionQty, Received)
	SELECT 
		0 as ULDID, 
		@TenantCode,
		NULL,
		NULL,
        ItemName, 
        ItemNumber, 
		NULL,
        NULL, 
        NULL, 
		0,
        Quantity,
		0,
		0
	FROM dbo.ReceiptInboundLine 
	WHERE DELETED = 0 AND ReceiptInboundID = @ReceiptInboundID;

	--loop to update
	DECLARE ItemCursor CURSOR FOR
	SELECT ItemNumber
	FROM #TempULDTransactionDetails;

	-- Open the cursor
	OPEN ItemCursor;

	-- Fetch the first row into the @ItemNumber variable
	FETCH NEXT FROM ItemCursor INTO @ItemNumber;

	-- Loop through each row
	WHILE @@FETCH_STATUS = 0
	BEGIN

		DECLARE @NumberLineInULD INT;
		DECLARE @NumberLineInReceipt INT;
		DECLARE @OriginQty INT;
		SELECT @NumberLineInReceipt = COUNT(*) FROM #TempULDTransactionDetails WHERE ItemNumber = @ItemNumber;
		SELECT @OriginQty = Qty FROM #TempULDTransactionDetails WHERE ItemNumber = @ItemNumber;
		
		WITH CTE AS (
			SELECT 
				u.ULDID, 		
				u.ULDCurrentLocation AS LocationCode,
				u.ItemName, 
				u.ItemNumber, 
				u.BatchNumber, 
				u.ULDType AS ItemType,
				u.ExpiryDate, 
				0 AS TrackSerialOnReceipt,
				SUM(ul.TransactionQty) AS TransactionQty
			FROM dbo.ULD u
			JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
			WHERE 
				u.DELETED = 0 
				AND u.TenantCode = @TenantCode 
				AND ul.SerialNumber IS NULL
				AND ul.DELETED = 0 
				AND ul.ItemNumber = @ItemNumber
				AND (ul.TransactionReference = @ShipmentNumber OR ul.TransactionReference = @ClientShipmentNumber)
			GROUP BY 
				u.ULDID, 
				u.ULDCurrentLocation,
				u.ItemName, 
				u.ItemNumber, 
				u.ULDType,
				u.BatchNumber, 
				u.ExpiryDate
		)
		INSERT INTO #TempULDTransactionDetailsForPallet
			(ULDID, TenantCode, LocationCode, LocationLabel, ItemName, ItemNumber, ItemType, BatchNumber, ExpiryDate, TrackSerialOnReceipt, Qty, TransactionQty, Received)
		SELECT 
			c.ULDID,
			@TenantCode AS TenantCode,
			c.LocationCode,			
			dbo.fn_GetShortLocationNameFromCode(c.LocationCode) as LocationLabel,
			c.ItemName,
			c.ItemNumber,
			c.ItemType,
			c.BatchNumber,
			c.ExpiryDate,
			c.TrackSerialOnReceipt,
			@OriginQty AS Qty,
			c.TransactionQty,
			1 AS Received
		FROM CTE c;

		SELECT @NumberLineInULD = COUNT(*) FROM #TempULDTransactionDetailsForPallet;
		IF @NumberLineInULD <> 0
		BEGIN
			IF @NumberLineInULD <> @NumberLineInReceipt
			BEGIN
				INSERT INTO #TempItemNumbers (ItemNumber) VALUES (@ItemNumber);
			END
			ELSE
			BEGIN
				UPDATE t
				SET 
					ULDID = c.ULDID,
					LocationCode = c.LocationCode,
					LocationLabel = dbo.fn_GetShortLocationNameFromCode(c.LocationCode),
					BatchNumber = c.BatchNumber,
					ItemType = c.ItemType,
					ExpiryDate = c.ExpiryDate,
					TrackSerialOnReceipt = c.TrackSerialOnReceipt,
					TransactionQty = c.TransactionQty,
					Received = 1
				FROM #TempULDTransactionDetails t
				INNER JOIN #TempULDTransactionDetailsForPallet c ON t.ItemNumber = c.ItemNumber;
			END;
		END;	

		-- 

		-- Update records where SerialNumber IS NOT NULL (count of TransactionQty)
		WITH CTESerial AS (
			SELECT 
				u.ULDID, 
				u.ULDCurrentLocation as LocationCode,
				u.ItemName, 
				u.ItemNumber, 
				u.ULDType,
				u.BatchNumber, 
				u.ExpiryDate, 
				1 AS TrackSerialOnReceipt, 
				SUM(ul.TransactionQty) AS TransactionQty
			FROM dbo.ULD u
			JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
			WHERE 
				u.DELETED = 0 
				AND u.TenantCode = @TenantCode 
				AND ul.SerialNumber IS NOT NULL
				AND ul.ItemNumber = @ItemNumber
				AND ul.DELETED = 0 
				AND (ul.TransactionReference = @ShipmentNumber OR ul.TransactionReference = @ClientShipmentNumber)
			GROUP BY 
				u.ULDID, 
				u.ULDCurrentLocation,
				u.ItemName, 
				u.ItemNumber, 
				u.ULDType,
				u.BatchNumber, 
				u.ExpiryDate
		)
		INSERT INTO #TempULDTransactionDetailsForPallet
			(ULDID, TenantCode, LocationCode, LocationLabel, ItemName, ItemNumber, ItemType, BatchNumber, ExpiryDate, TrackSerialOnReceipt, Qty, TransactionQty, Received)
		SELECT 
			c.ULDID,
			@TenantCode AS TenantCode,
			c.LocationCode,
			dbo.fn_GetShortLocationNameFromCode(c.LocationCode) AS LocationLabel,
			c.ItemName,
			c.ItemNumber,
			c.ULDType,
			c.BatchNumber,
			c.ExpiryDate,
			c.TrackSerialOnReceipt,
			@OriginQty AS Qty,
			c.TransactionQty,
			1 AS Received
		FROM CTESerial c;

		SELECT @NumberLineInULD = COUNT(*) FROM #TempULDTransactionDetailsForPallet;
		IF @NumberLineInULD <> 0
		BEGIN
			IF @NumberLineInULD <> @NumberLineInReceipt
			BEGIN
				INSERT INTO #TempItemNumbers (ItemNumber) VALUES (@ItemNumber);
			END
			ELSE
			BEGIN
				UPDATE t
				SET 
					ULDID = c.ULDID,
					LocationCode = c.LocationCode,
					LocationLabel = dbo.fn_GetShortLocationNameFromCode(c.LocationCode),
					BatchNumber = c.BatchNumber,
					ItemType = c.ItemType,
					ExpiryDate = c.ExpiryDate,
					TrackSerialOnReceipt = c.TrackSerialOnReceipt,
					TransactionQty = c.TransactionQty,
					Received = 1
				FROM #TempULDTransactionDetails t				
				INNER JOIN #TempULDTransactionDetailsForPallet c ON t.ItemNumber = c.ItemNumber;
				/*UPDATE t
				SET 
					ULDID = c.ULDID,
					LocationCode = c.LocationCode,
					LocationLabel = SUBSTRING(c.LocationCode, 27, 7),
					BatchNumber = c.BatchNumber,
					ItemType = c.ULDType,
					ExpiryDate = c.ExpiryDate,
					TrackSerialOnReceipt = c.TrackSerialOnReceipt,
					TransactionQty = c.TransactionQty,
					Received = 1
				FROM #TempULDTransactionDetails t
				INNER JOIN CTESerial c ON t.ItemNumber = c.ItemNumber;*/				
			END
		END

		-- Fetch the next row
		FETCH NEXT FROM ItemCursor INTO @ItemNumber;
	END;

	-- Close and deallocate the cursor
	CLOSE ItemCursor;
	DEALLOCATE ItemCursor;

	  -- Select the combined results
	SELECT @NumberLineInULD = COUNT(*) FROM #TempItemNumbers;

	IF @NumberLineInULD <> 0
	BEGIN
		DECLARE ItemNumberCursor CURSOR FOR
		SELECT ItemNumber
		FROM #TempItemNumbers;

		-- Open the cursor
		OPEN ItemNumberCursor;

		-- Fetch the first row into the @ItemNumber variable
		FETCH NEXT FROM ItemNumberCursor INTO @ItemNumber;

		-- Loop through each row
		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			DELETE FROM #TempULDTransactionDetails WHERE ItemNumber = @ItemNumber;

			INSERT INTO #TempULDTransactionDetails  
			SELECT * FROM #TempULDTransactionDetailsForPallet WHERE ItemNumber = @ItemNumber;

			-- Fetch the next row
			FETCH NEXT FROM ItemNumberCursor INTO @ItemNumber;
		END;
		-- Close and deallocate the cursor
		CLOSE ItemNumberCursor;
		DEALLOCATE ItemNumberCursor;
	END;

	SELECT 
		ULDID, 
		TenantCode,
		LocationCode,
		LocationLabel,
		ItemName, 
		ItemNumber, 
		ItemType,
		BatchNumber, 
		ExpiryDate, 
		TrackSerialOnReceipt, 
		Qty,
		TransactionQty,
		Received
	FROM #TempULDTransactionDetails;

    -- Clean up temp table
    DROP TABLE #TempULDTransactionDetails;
	DROP TABLE #TempItemNumbers;
	DROP TABLE #TempULDTransactionDetailsForPallet;
END
GO
