USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_ListAllStandardServices]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:<Nam nguyen>
-- Create date: <05 Aug, 2025>
-- Description:<List All Standard Service>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_APIntegration_ListAllStandardServices]
    @WarehouseCode VARCHAR(50) = NULL
AS
BEGIN

    SET NOCOUNT ON;

    SELECT ss.*, ISNULL(lw.WarehouseName, '') AS WarehouseName
    FROM dbo.AP_StandardService ss
    LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = ss.WarehouseCode
    WHERE ss.DELETED = 0
        AND (@WarehouseCode IS NULL OR ss.WarehouseCode = @WarehouseCode);
END
GO