USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocTempLocation_DeleteEmptyLocTempLocations]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Mar, 2025>
-- Description:	<Delete Empty LocTempLocation>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocTempLocation_DeleteEmptyLocTempLocations] 
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Try to update the DELETED field
    BEGIN TRY

		BEGIN TRANSACTION

		-- not used
		UPDATE ltl
		SET ltl.DELETED = 1
		FROM dbo.LocTempLocation ltl
		WHERE ltl.DELETED = 0
		AND NOT EXISTS (
			SELECT 1 FROM ULD WHERE ULDCurrentLocation = 
					  ISNULL(ltl.WarehouseCode, '') 
					+ ISNULL(ltl.AreaCode, '') 
					+ ISNULL(ltl.SectionCode, '') 
					+ ltl.BinCode
		);

		UPDATE ltl
		SET ltl.DELETED = 1
		FROM dbo.LocTempLocation ltl
		WHERE ltl.DELETED = 0
		AND EXISTS (
			SELECT 1
				FROM (
					SELECT U.ULDCurrentLocation, SUM(UL.TransactionQty) as Total
					FROM dbo.ULDLine UL
					INNER JOIN dbo.ULD U ON UL.ULDID = U.ULDID
					WHERE UL.DELETED = 0 
						  AND U.Status <> 'Draft'
						  AND UL.TransactionType  <> 'Allocated'
						  AND U.ULDCurrentLocation IS NOT NULL
					GROUP BY U.ULDCurrentLocation					
				) u
				WHERE u.Total = 0 AND u.ULDCurrentLocation = 
					ISNULL(ltl.WarehouseCode, '') 
					+ ISNULL(ltl.AreaCode, '') 
					+ ISNULL(ltl.SectionCode, '') 
					+ ltl.BinCode
		);

		-- Commit the transaction
		COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;


END
GO
