USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ExitPickingTaskOfKitting]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Jul, 2025>
-- Description:	<Exit Picking of Kitting Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ExitPickingTaskOfKitting] 
    @WaveID INT,
	@PickingScheduleID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ServiceID INT,
				@ServiceNumber VARCHAR(50),
				@ServiceStatus VARCHAR(20),
				@ServiceType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@Status VARCHAR(20),
				@TenantCode VARCHAR(10);

		-- get service info from wave
		SELECT @ServiceNumber = SourceOrderNumber
		FROM dbo.WaveLine WHERE WaveID = @WaveID AND Deleted = 0;

		-- get service from service
		SELECT @ServiceID = ServiceID,
			   @ServiceStatus = Status,
			   @ServiceType = ServiceType,
			   @TenantCode = TenantCode
		FROM dbo.Service WHERE ServiceNumber = @ServiceNumber AND Deleted = 0;
		
		IF @ServiceStatus != 'InProgress'
		BEGIN
			SET @Message = 'Service Status is not In Progress.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @ServiceType IS NULL OR @ServiceType != 'Kitting'
		BEGIN
			SET @Message = 'This Service is not Kitting Service.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		SELECT @Status = [Status] FROM dbo.PickingSchedule 
		WHERE PickingScheduleID = @PickingScheduleID AND DELETED = 0;

		IF @Status IS NULL OR @Status != 'Taken'
		BEGIN
			SET @Message = 'This Picking is over.';
			ROLLBACK TRANSACTION;
			RETURN;
		END

		UPDATE dbo.PickingSchedule
			SET [Status] = 'Init',
			    OperationStaff = NULL,
			    StartDate = NULL,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @OperationDateTime,
				LastEditedBy = @OperationBy
			WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;

		DECLARE @AllRowsAreInit BIT;
		SELECT @AllRowsAreInit = CASE
									 WHEN COUNT(*) > 0 THEN 0
									 ELSE 1
								 END
		FROM dbo.PickingSchedule
		WHERE FulfilmentOrder = @ServiceNumber
		  AND Deleted = 0
		  AND Status <> 'Init';

		IF @AllRowsAreInit = 1		
		BEGIN
			-- Update pick status
			UPDATE dbo.WaveLine
			SET 				
				PickStatus =  'Pending',
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @OperationDateTime,
				LastEditedBy = @OperationBy
			WHERE WaveID = @WaveID AND Deleted = 0;		
		END
	
		-- Commit the transaction
        COMMIT TRANSACTION;
       
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
