USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_ViewIntegrationByTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Aug, 2025>
-- Description:	<Get detail information of AP Integration by Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APIntegration_ViewIntegrationByTenant] 
   @TenantID INT
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10);

	SELECT @TenantCode = TenantCode 
	FROM dbo.Tenant
	WHERE TenantID = @TenantID AND Deleted = 0;

    SELECT * 
    FROM dbo.APIntegration 
    WHERE TenantCode = @TenantCode AND DELETED = 0;
END
GO
