USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_InvestigatingItems_InsertInvestigatingItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <27 Nov, 2024>
-- Description:	<Insert Not Existed Item to Investigatiing List>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_InvestigatingItems_InsertInvestigatingItem] 
        @Barcode VARCHAR(30),
		@ReceiptInboundID INT, 
		@CreatedDateTime DATETIME = NULL,
        @CreatedBy VARCHAR(100) = NULL,
		@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 IF EXISTS(SELECT 1 FROM dbo.InvestigatingItems WHERE Barcode = @Barcode AND Deleted = 0)
		BEGIN
			 SET @Message = 'Barcode does existed in Investigating list.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		-- Retrieve APIName from the dbo.API table
        DECLARE @TenantCode VARCHAR(10);
		DECLARE @TenantName VARCHAR(150);
		DECLARE @ShipmentNumber VARCHAR(30);
		DECLARE @ClientShipmentNumber VARCHAR(30);

        SELECT @TenantCode = TenantCode,
		       @ShipmentNumber = ShipmentNumber,
			   @ClientShipmentNumber = ClientShipmentNumber
		FROM dbo.ReceiptInbound WHERE ReceiptInboundID = @ReceiptInboundID AND Deleted = 0;

        -- Check if APIName exists
        IF @TenantCode IS NOT NULL
        BEGIN
           SELECT @TenantName = TenantName
		   FROM dbo.Tenant WHERE LOWER(TenantCode) = LOWER(@TenantCode) AND Deleted = 0;
        END
		ELSE
		BEGIN
			SET @ReceiptInboundID = NULL;
		END

       -- Insert into InvestigatingItems table
        INSERT INTO dbo.InvestigatingItems
        (
		    Barcode,
			ReceiptInboundID,
            TenantCode,
            TenantName,
            ShipmentNumber,
            ClientShipmentNumber,
            Deleted,
            CreatedDateTime,
            CreatedBy
        )
        VALUES
        (
		    @Barcode,
			@ReceiptInboundID,
            @TenantCode,
            @TenantName,
            @ShipmentNumber,
            @ClientShipmentNumber,
            0, -- Default value for Deleted
            @CreatedDateTime,
            @CreatedBy
        )

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;

END
GO
