USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_UnLockTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Mar, 2025>
-- Description:	<UnLock Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_UnLockTenant] 
	@TenantID INT,
	@WarehouseCodes dbo.StringArray READONLY, -- If  len = 0 , means lock all warehouse
	@CreatedDateTime     DATETIME = NULL,
	@CreatedBy           VARCHAR(100) = NULL,
	@Message             VARCHAR(4000) OUTPUT -- Output parameter for error messages
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @TenantCode VARCHAR(10);
		-- Retrieve the TenantCode based on the provided TenantID
		SELECT @TenantCode = TenantCode 
		FROM dbo.Tenant 
		WHERE TenantID = @TenantID AND DELETED = 0;


		DECLARE @NumberOfWarehouse INT;
		SELECT @NumberOfWarehouse = COUNT(*) FROM @WarehouseCodes;

		IF @NumberOfWarehouse = 0 -- ALL
		BEGIN
			UPDATE TenantLock 
			SET Deleted = 1
			WHERE TenantCode = @TenantCode;
		END
		ELSE
		BEGIN
			UPDATE TenantLock 
			SET Deleted = 1
			WHERE TenantCode = @TenantCode 
			  AND WarehouseCode IN (
				  SELECT [Value] 
				  FROM @WarehouseCodes
			  );
		END

			-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
