USE [3PLWMS_Developers];
GO

/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_ListStandardServices]    Script Date: 4/28/2026 ******/
SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

-- =============================================
-- Author:      <Nam Nguyen>
-- Create date: <28 Apr, 2026>
-- Description: <Get list of Standard Service with paging, search and order information>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_APIntegration_ListStandardServices]
    @WarehouseCode VARCHAR(50) = NULL,
    @Search NVARCHAR(100) = NULL,
    @PageNumber INT = 1,
    @PageSize INT = 10,
    @OrderBy NVARCHAR(50) = 'ServiceID',
    @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
    @TotalRecords INT OUTPUT,
    @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

    IF @PageNumber IS NULL OR @PageNumber < 1
    BEGIN
        SET @PageNumber = 1;
    END;

    IF @PageSize IS NULL OR @PageSize < 1
    BEGIN
        SET @PageSize = 10;
    END;

    SET @OrderDir = UPPER(ISNULL(@OrderDir, 'ASC'));

    IF @OrderDir NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDir = 'ASC';
    END;

    SET @OrderBy = CASE
        WHEN @OrderBy IN
        (
            'ServiceID',
            'ServiceName',
            'ServiceCode',
            'ProductCode',
            'Description',
            'WarehouseCode',
            'ProductID',
            'Deleted',
            'CreatedDateTime',
            'CreatedBy',
            'FirstEditedDateTime',
            'FirstEditedBy',
            'LastEditedDateTime',
            'LastEditedBy'
        )
            THEN @OrderBy
        ELSE 'ServiceID'
    END;

    SET @Search = LTRIM(RTRIM(@Search));

    IF @Search = ''
    BEGIN
        SET @Search = NULL;
    END;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

    SELECT @TotalRecords = COUNT(1)
    FROM dbo.AP_StandardService
    WHERE Deleted = 0
      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
      AND
      (
          @Search IS NULL
          OR LOWER(ServiceName) LIKE '%' + LOWER(@Search) + '%'
          OR LOWER(ServiceCode) LIKE '%' + LOWER(@Search) + '%'
          OR LOWER(ProductCode) LIKE '%' + LOWER(@Search) + '%'
          OR LOWER(Description) LIKE '%' + LOWER(@Search) + '%'
          OR LOWER(ProductID) LIKE '%' + LOWER(@Search) + '%'
          OR LOWER(WarehouseCode) LIKE '%' + LOWER(@Search) + '%'
      );

    SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

    SET @SQL = N'
        SELECT ss.*, ISNULL(lw.WarehouseName, '''') AS WarehouseName
        FROM dbo.AP_StandardService ss
        LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = ss.WarehouseCode
        WHERE ss.Deleted = 0
          AND (@WarehouseCode IS NULL OR ss.WarehouseCode = @WarehouseCode)
          AND
          (
              @Search IS NULL
              OR LOWER(ss.ServiceName) LIKE ''%'' + LOWER(@Search) + ''%''
              OR LOWER(ss.ServiceCode) LIKE ''%'' + LOWER(@Search) + ''%''
              OR LOWER(ss.ProductCode) LIKE ''%'' + LOWER(@Search) + ''%''
              OR LOWER(ss.Description) LIKE ''%'' + LOWER(@Search) + ''%''
              OR LOWER(ss.ProductID) LIKE ''%'' + LOWER(@Search) + ''%''
              OR LOWER(ss.WarehouseCode) LIKE ''%'' + LOWER(@Search) + ''%''
          )
        ORDER BY ' + QUOTENAME(@OrderBy) + N' ' + @OrderDir + N'
        OFFSET @Offset ROWS
        FETCH NEXT @PageSize ROWS ONLY;';

    EXEC sp_executesql
        @SQL,
        N'@WarehouseCode VARCHAR(50), @Search NVARCHAR(100), @Offset INT, @PageSize INT',
        @WarehouseCode = @WarehouseCode,
        @Search = @Search,
        @Offset = @Offset,
        @PageSize = @PageSize;
END;
GO