USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocTempLocation_ListLocTempLocations]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Feb, 2025>
-- Description:	<Get list of Temp Location with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocTempLocation_ListLocTempLocations]
	 @SectionId INT,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'LocTempLocationID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocTempLocation WHERE DELETED = 0 AND LocSectionID = @SectionId;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		
		SET @SQL = N'
				SELECT 
					ltl.*, 
					COALESCE(u.ULDCurrentLocation, '''') AS Location, 
					COALESCE(u.TenantName, '''') AS Tenant,
					COALESCE(u.ULDID, '''') AS ULDID
				FROM dbo.LocTempLocation ltl
				LEFT JOIN 
				(
					SELECT UL.ULDID, U.ULDCurrentLocation, U.TenantCode, T.TenantName
					FROM dbo.ULDLine UL
					INNER JOIN dbo.ULD U ON UL.ULDID = U.ULDID
					INNER JOIN dbo.Tenant T ON U.TenantCode = T.TenantCode
					WHERE UL.DeLETED = 0 
						AND U.DELETED = 0 
						AND U.Status <> ''Draft''
					    AND UL.TransactionType  <> ''Allocated'' 
						AND U.ULDCurrentLocation IS NOT NULL
					GROUP BY UL.ULDID, U.ULDCurrentLocation, U.TenantCode, T.TenantName
					HAVING SUM(UL.TransactionQty) > 0
				) u 
				ON COALESCE(ltl.WarehouseCode, '''') 
				   + COALESCE(ltl.AreaCode, '''') 
				   + COALESCE(ltl.SectionCode, '''') 
				   + ltl.BinCode = u.ULDCurrentLocation 
				WHERE ltl.Deleted = 0 
				AND ltl.LocSectionID = ' + CAST(@SectionId AS NVARCHAR) + '
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
				OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocTempLocation ltl
		LEFT JOIN 
			(
				SELECT UL.ULDID, U.ULDCurrentLocation, U.TenantCode, T.TenantName
				FROM dbo.ULDLine UL
				INNER JOIN dbo.ULD U ON UL.ULDID = U.ULDID
				INNER JOIN dbo.Tenant T ON U.TenantCode = T.TenantCode
				WHERE UL.DELETED = 0 
					AND U.DELETED = 0 
					AND U.Status <> 'Draft'
					AND UL.TransactionType  <> 'Allocated'
					AND U.ULDCurrentLocation IS NOT NULL
				GROUP BY UL.ULDID, U.ULDCurrentLocation, U.TenantCode, T.TenantName
				HAVING SUM(UL.TransactionQty) > 0
			) u 
			ON COALESCE(ltl.WarehouseCode, '''') 
			   + COALESCE(ltl.AreaCode, '''') 
			   + COALESCE(ltl.SectionCode, '''') 
			   + ltl.BinCode = u.ULDCurrentLocation 
		WHERE ltl.DELETED = 0 AND ltl.LocSectionID = @SectionId
		AND (
			LOWER(ltl.WarehouseCode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ltl.AreaCode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ltl.SectionCode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ltl.BinCode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ltl.BinType) LIKE '%' + LOWER(@Search) + '%' 
            OR CONVERT(NVARCHAR, ltl.CreatedDateTime, 120) LIKE '%' + @Search + '%'
			OR LOWER(u.TenantName) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'
			SELECT 
				ltl.*, 
				COALESCE(u.ULDCurrentLocation, '''') AS Location, 
				COALESCE(u.TenantName, '''') AS Tenant,
				COALESCE(u.ULDID, '''') AS ULDID
			FROM dbo.LocTempLocation ltl
			LEFT JOIN 
			(
				SELECT UL.ULDID, U.ULDCurrentLocation, U.TenantCode, T.TenantName
				FROM dbo.ULDLine UL
				INNER JOIN dbo.ULD U ON UL.ULDID = U.ULDID
				INNER JOIN dbo.Tenant T ON U.TenantCode = T.TenantCode
				WHERE UL.DELETED = 0 
					  AND U.DELETED = 0 
					  AND U.Status <> ''Draft''
					  AND UL.TransactionType  <> ''Allocated''
					  AND U.ULDCurrentLocation IS NOT NULL
				GROUP BY UL.ULDID, U.ULDCurrentLocation, U.TenantCode, T.TenantName
				HAVING SUM(UL.TransactionQty) > 0
			) u 
			ON COALESCE(ltl.WarehouseCode, '''') 
			   + COALESCE(ltl.AreaCode, '''') 
			   + COALESCE(ltl.SectionCode, '''') 
			   + ltl.BinCode = u.ULDCurrentLocation 
			WHERE ltl.Deleted = 0 
			AND ltl.LocSectionID = ' + CAST(@SectionId AS NVARCHAR) + '
			AND (
				LOWER(ltl.WarehouseCode) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(ltl.AreaCode) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(ltl.SectionCode) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(ltl.BinCode) LIKE ''%' + LOWER(@Search) + '%''
				OR LOWER(ltl.BinType) LIKE ''%' + LOWER(@Search) + '%''
				OR CONVERT(NVARCHAR, ltl.CreatedDateTime, 120) LIKE ''%' + @Search + '%''
				OR LOWER(u.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
			) 
			ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
			OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
			FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
