USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_ResetWarehouseOfUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 Oct, 2024>
-- Description:	<Reset Temp Warehouse of User>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_ResetWarehouseOfUser] @AzureUserId VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

        UPDATE dbo.CurrentWarehouseUser
        SET WarehouseCode = NULL
        WHERE AzureUserId = @AzureUserId;
       
        PRINT 'Reset successful for AzureUserId: ' + @AzureUserId;
    END TRY
    BEGIN CATCH
         -- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
