USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_ListTenants]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Aug, 2024>
-- Description:	<Get list of tenant with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_ListTenants]
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'TenantID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.Tenant WHERE DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT t.*, 
		              CASE 
						WHEN EXISTS (
								SELECT 1 
								FROM dbo.TenantLock tl
								WHERE tl.TenantCode = t.TenantCode AND tl.DELETED = 0
							) THEN 1
							ELSE 0
						END AS HasLock
		             FROM dbo.Tenant t WHERE t.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				    ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.Tenant 
		WHERE DELETED = 0 
		AND (
			LOWER(TenantCode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(TenantName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(TenantAddressLine1) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(TenantSuburb) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(TenantState) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(TenantPostcode) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(TenantCountry) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(StorageType) LIKE '%' + LOWER(@Search) + '%'
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT t.*, 
					CASE 
						WHEN EXISTS (
							SELECT 1 
							FROM dbo.TenantLock tl
							WHERE tl.TenantCode = t.TenantCode AND tl.DELETED = 0
						) THEN 1
						ELSE 0
					END AS HasLock
		    FROM dbo.Tenant t
            WHERE t.DELETED = 0 
            AND (
                LOWER(t.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(t.TenantAddressLine1) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(t.TenantSuburb) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(t.TenantState) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(t.TenantPostcode) LIKE ''%' + LOWER(@Search) + '%'' 
				OR LOWER(t.TenantCountry) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(t.TenantDefaultCarrier) LIKE ''%' + LOWER(@Search) + '%''
				OR LOWER(t.StorageType) LIKE ''%' + LOWER(@Search) + '%''
            ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
   
   
END
GO
