USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_ViewULDsOfReceiptInbound]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Jan, 2025>
-- Description:	<View ULD of Receipt Inbound>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_ViewULDsOfReceiptInbound] @ReceiptInboundID INT
AS
BEGIN

	SET NOCOUNT ON;

    DECLARE @ShipmentNumber VARCHAR(30);
	DECLARE @TenantCode VARCHAR(20);

	SELECT @TenantCode = TenantCode, @ShipmentNumber = ShipmentNumber
	FROM dbo.ReceiptInbound WHERE ReceiptInboundID = @ReceiptInboundID AND DELETED = 0;
	
	SELECT 
		ul.ItemNumber,
		COALESCE(SUM(ul.TransactionQty),0) as ReceivedQuantity,
		u.ULDID,
		u.ULDBarcode
	FROM dbo.ULD u
	JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
	WHERE 
		u.DELETED = 0 
		AND u.TenantCode = @TenantCode 
		AND ul.DELETED = 0 
		AND ul.TransactionReference = @ShipmentNumber
	GROUP BY
		ul.ItemNumber,
		u.ULDID,
		u.ULDBarcode

END
GO
