USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetLocationBarcodesByArea]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <06 Jan, 2025>
-- Description:	<Get Location Barcodes by Area>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetLocationBarcodesByArea]
    @LocAreaID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Declare variables to store the results
    DECLARE @LocWarehouseCode NVARCHAR(20),
            @LocAreaCode NVARCHAR(20),
			@LocSectionCode NVARCHAR(20),
            @LocRowCode NVARCHAR(20),
			@LocColumnCode NVARCHAR(20),
            @LocShelfCode NVARCHAR(20),
            @LocBinCode NVARCHAR(20),
            @LocSBinCode NVARCHAR(20);

	-- get above code
	SELECT 
		@LocWarehouseCode = lw.WarehouseCode
	FROM 
		LocArea la
	INNER JOIN 
		LocWarehouse lw ON la.LocWarehouseId = lw.LocWarehouseId
	WHERE 
		la.LocAreaId = @LocAreaID 
		AND la.DELETED = 0;


	-- retrive
	SELECT 
	    la.AreaCode as AreaCode,
		lsec.SectionCode AS SectionCode,
		lr.RowCode AS RowCode,
		lc.ColumnCode AS ColumnCode,
		ls.ShelfCode AS ShelfCode,
		lb.BinCode AS BinCode,
		lsb.SBinCode AS SBinCode,
		(@LocWarehouseCode + la.AreaCode + lsec.SectionCode + lr.RowCode + lc.ColumnCode + ls.ShelfCode + lb.BinCode + lsb.SBinCode) AS Barcode,
		CASE 
			WHEN (SELECT COUNT(*) FROM LocSBin WHERE LocBinId = lb.LocBinId) = 1 THEN lb.BinCode
			ELSE lsb.SBinCode
		END AS ReadableText
	FROM 
		LocArea la
	INNER JOIN 
		LocSection lsec ON la.LocAreaId = lsec.LocAreaId
	INNER JOIN 
		LocRow lr ON lsec.LocSectionId = lr.LocSectionId
	INNER JOIN 
		LocColumn lc ON lr.LocRowId = lc.LocRowId
	INNER JOIN 
		LocShelf ls ON lc.LocColumnId = ls.LocColumnId
	INNER JOIN 
		LocBin lb ON ls.LocShelfId = lb.LocShelfId
	INNER JOIN 
		LocSBin lsb ON lb.LocBinId = lsb.LocBinId
	WHERE 
		la.LocAreaId = @LocAreaID AND la.DELETED = 0 AND lsec.DELETED = 0 AND lr.DELETED = 0 AND lc.DELETED = 0 AND ls.DELETED = 0 AND lb.DELETED = 0 AND lsb.DELETED = 0 -- add deleted=0 from Section ->> SBIN
	ORDER BY 
		lsec.SectionCode, lr.RowCode, lc.ColumnCode, ls.ShelfCode, lb.BinCode, lsb.SBinCode;



END
GO
