USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_ShowULDsOfSBin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 Mar, 2025>
-- Description:	<Show ULDs of SBin>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_ShowULDsOfSBin]
	@SBinId INT 
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT u.ULDID, u.ULDBarcode, u.ULDCurrentLocation, u.TenantCode , t.TenantName
	FROM dbo.ULD u
	LEFT JOIN dbo.Tenant t ON t.TenantCode = u.TenantCode
	WHERE u.DELETED = 0 AND u.LocSBinID = @SBinId;
   
END
GO
