USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_IPAddressStatusList_ViewIPAddressStatusList]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Dec, 2025>
-- Description:	<Get detail information of IPAddressStatusList>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_IPAddressStatusList_ViewIPAddressStatusList] @IPAddressStatusListID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.IPAddressStatusList 
    WHERE IPAddressStatusListID = @IPAddressStatusListID AND DELETED = 0;
END
GO
