USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_CompletePickingTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Jun, 2025>
-- Description:	<Complete Picking Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_CompletePickingTask]     
	@WaveID INT,
	@PickingScheduleID INT,
	@CompletedDateTime  DATETIME = NULL,
	@OperationBy       VARCHAR(100) = NULL,
	@Results dbo.OrderPickingResultType READONLY,
	@TaskStatus VARCHAR(20) OUTPUT,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION
		
		DECLARE @PickingQty INT,
				@PickedQty INT,		
				@CurrentULDID INT,	
				@TransactionMovement VARCHAR(1000);

		DECLARE @InvoiceMessage VARCHAR(4000);

		DECLARE @NewULDID INT;
		DECLARE @UpdateResult BIT;
		DECLARE @WaveOrderNumbers TABLE (SourceOrderNumber VARCHAR(50));
		DECLARE @RelatedOrderNumbers TABLE (
			SourceOrderNumber VARCHAR(50),
			TransactionQty INT				
		);

		DECLARE @ULDOrderNumbers TABLE (
			SourceOrderNumber VARCHAR(50),
			TransactionQty INT,
			ULDLineID INT
		);

		DECLARE @UpdatedIDs TABLE 
		(
			ULDID INT,
			FulfilmentOrder VARCHAR(50),
			PRIMARY KEY (ULDID, FulfilmentOrder) 
		);

		DECLARE @UpdatedSerialNumbers TABLE 
		(
			ULDLineID INT,
			SerialNumber VARCHAR(30)
		);

		--Create picking invoice
		DECLARE @ChargeItemNumber NVARCHAR(30),				
				@ChargeScannedUnit VARCHAR(30),
				@TransactionReference VARCHAR(500);	


		DECLARE @CurULDID INT,
				@CurFulfilmentOrder VARCHAR(50);

		DECLARE @WaveNumber VARCHAR(11),
				@WaveStatus VARCHAR(20),
				@PickStatus VARCHAR(20),
				@PickingType  VARCHAR(50),	
				@WaveType VARCHAR(50),
				@SourceOrderNumber VARCHAR(50),
				@Status VARCHAR(20),
				@CurrentStep VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@TenantCode VARCHAR(10);

		-- get wave info
		SELECT @WarehouseCode = WarehouseCode,
			   @CurrentStep = CurrentStep,
			   @WaveStatus = WaveStatus,
			   @PickStatus = StepStatus,
			   @PickingType = PickingType,
			   @WaveType = WaveType,
			   @WaveNumber = WaveNumber
		FROM dbo.Wave WHERE WaveID = @WaveID AND Deleted = 0;	
		
		INSERt INTO @WaveOrderNumbers(SourceOrderNumber)
			SELECT SourceOrderNumber
			FROM  dbo.WaveLine
			WHERE WaveID = @WaveID AND Deleted = 0;	

		-- check
		IF @CurrentStep <> 'Picking'
		BEGIN
			SET @Message = 'Picking is over';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @PickStatus = 'Completed'
		BEGIN
			SET @Message = 'Picking is completed';	
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @WaveType IS NULL OR @WaveType != 'Orders'
		BEGIN
			SET @Message = 'This Wave is not Tenant Order Wave.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		IF @PickingType = 'PickToOrder'
		BEGIN
			SELECT 
				@Status = [Status],
				@SourceOrderNumber = FulfilmentOrder,
				@TenantCode = TenantCode,
				@PickingQty = Qty,
				@CurrentULDID = ULDID
			FROM dbo.PickingSchedule 
			WHERE PickingScheduleID = @PickingScheduleID AND DELETED = 0;
		END
		ELSE
		BEGIN
			SELECT 
				@Status = [Status],
				@SourceOrderNumber = FulfilmentOrder,
				@TenantCode = TenantCode,
				@PickingQty = Qty,
				@CurrentULDID = ULDID
			FROM dbo.PickingSchedule 
			WHERE PickingScheduleID = @PickingScheduleID AND DELETED = 0;

			SELECT @TenantCode = TenantCode
			FROM dbo.ULD
			WHERE ULDID = @CurrentULDID AND DELETED = 0;
		END
		

		IF @Status IS NULL OR @Status != 'Taken'
		BEGIN
			SET @Message = 'This Picking task is over.'
			ROLLBACK TRANSACTION;
			RETURN;
		END		

		-- picked qty
		SELECT 
			@PickedQty = ISNULL(SUM(Qty), 0)
		FROM 
			@Results
		GROUP BY 
			ULDID;		

		IF @PickedQty > @PickingQty
		BEGIN
			SET @Message = 'The picking number exceeds the limit.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @ReplacedQty INT;
		DECLARE @MissingSerialNumber VARCHAR(100);		

		-- get next locatiion to replace		
		SET @UpdateResult = 1;


		-- get not process order numbers in currentULD
		INSERT INTO @RelatedOrderNumbers (SourceOrderNumber, TransactionQty)
		SELECT DISTINCT ul.TransactionReference, ul.TransactionQty
		FROM dbo.ULDLine AS ul
		WHERE ul.ULDID = @CurrentULDID
			AND ul.Deleted = 0
			AND ul.TransactionType = 'Allocated'
			AND ul.TransactionReference IS NOT NULL
			AND ul.TransactionReference <> @SourceOrderNumber
			AND EXISTS (
				SELECT 1
				FROM @WaveOrderNumbers w
				WHERE w.SourceOrderNumber = ul.TransactionReference
			);

		INSERT INTO @ULDOrderNumbers (SourceOrderNumber, TransactionQty, ULDLineID)
		SELECT DISTINCT ul.TransactionReference, ul.TransactionQty, ul.ULDLineID
		FROM dbo.ULDLine AS ul
		WHERE ul.ULDID = @CurrentULDID
			AND ul.Deleted = 0
			AND ul.TransactionType = 'Allocated'
			AND ul.TransactionReference IS NOT NULL			
			AND EXISTS (
				SELECT 1
				FROM @WaveOrderNumbers w
				WHERE w.SourceOrderNumber = ul.TransactionReference
			);


		-- Picked not enough
		IF @PickedQty < @PickingQty
		BEGIN

			IF @PickingType = 'PickToOrder'
			BEGIN

				-- insert invoice
				SET @TransactionReference = @SourceOrderNumber;
				SELECT TOP 1 @ChargeItemNumber = ItemNumber, @ChargeScannedUnit = ScannedUnit FROM @Results;
		
				-- create invoice 
				EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
					@TenantCode = @TenantCode,
					@WarehouseCode = @WarehouseCode,
					@ItemCode = @ChargeItemNumber,
					@TransactionReference = @TransactionReference,  
					@WaveReferences = @WaveNumber,
					@ItemUnit = @ChargeScannedUnit,     
					@ItemQty = @PickedQty,
					@CreatedDateTime = @CompletedDateTime, 
					@CreatedBy = @OperationBy,  
					@Message = @InvoiceMessage OUTPUT;

					
				-- find replace ULD				
				SET @ReplacedQty = @PickingQty - @PickedQty;
				EXEC [dbo].[SP_VI_TBL_ULD_GetNextLocationForPicking]
					@PickingScheduleID = @PickingScheduleID,  
					@Qty = @ReplacedQty,
					@WaveID = @WaveID,					
					@OperationDateTime = @CompletedDateTime,
					@OperationBy  = @OperationBy,
					@NewULDID = @NewULDID OUTPUT;

				IF @NewULDID IS NULL -- not find anything
				BEGIN			

					SET @TaskStatus = 'Failed';
				
					SET @UpdateResult = 0;

					-- update current schedule
					UPDATE dbo.PickingSchedule
					SET [Status] = 'Failed',
						CompletedDate = @CompletedDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @CompletedDateTime,
						LastEditedBy = @OperationBy
					WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;  
				
					--update failed for all other schedule of this orders 
					UPDATE dbo.PickingSchedule
					SET [Status] = 'Failed',
						CompletedDate = @CompletedDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @CompletedDateTime,
						LastEditedBy = @OperationBy
					OUTPUT 
						INSERTED.ULDID, 
						INSERTED.FulfilmentOrder
					INTO @UpdatedIDs (ULDID, FulfilmentOrder)
					WHERE FulfilmentOrder = @SourceOrderNumber 
						  AND PickingScheduleID <> @PickingScheduleID
						  AND Deleted = 0 And WaveID = @WaveID;  
				
					--
					UPDATE ps
						SET ps.Status = 'Failed',
						ps.CompletedDate = @CompletedDateTime,
						ps.FirstEditedDateTime = COALESCE(ps.FirstEditedDateTime, @CompletedDateTime),
						ps.FirstEditedBy = COALESCE(ps.FirstEditedBy, @OperationBy),
						ps.LastEditedDateTime = @CompletedDateTime,
						ps.LastEditedBy = @OperationBy
					OUTPUT 
						INSERTED.ULDID, 
						INSERTED.FulfilmentOrder
					INTO @UpdatedIDs (ULDID, FulfilmentOrder)
					FROM dbo.PickingSchedule AS ps
					WHERE ps.Deleted = 0 
						  AND ps.WaveID = @WaveID
						  AND EXISTS (
							SELECT 1
							FROM @RelatedOrderNumbers r
							WHERE r.SourceOrderNumber = ps.FulfilmentOrder
						  );					  

					-- update uldline
					DECLARE cur_UpdatedIDs CURSOR LOCAL FAST_FORWARD FOR
					SELECT ULDID, FulfilmentOrder
					FROM @UpdatedIDs;

					OPEN cur_UpdatedIDs;

					FETCH NEXT FROM cur_UpdatedIDs INTO @CurULDID, @CurFulfilmentOrder;

					WHILE @@FETCH_STATUS = 0
					BEGIN
					
						Update ul
						SET ul.Deleted = 1,
							ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
							ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
							ul.LastEditedDateTime = @CompletedDateTime,
							ul.LastEditedBy = @OperationBy
						FROM dbo.ULDLine AS ul
						WHERE ul.Deleted = 0 
							  AND ul.TransactionType  = 'Allocated' 
							  AND ul.ULDID = @CurULDID
							  AND ul.ULDID <> @CurrentULDID
							  AND ul.TransactionReference = @CurFulfilmentOrder;	
						  
						EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
							 @ULDID = @CurULDID;

						FETCH NEXT FROM cur_UpdatedIDs INTO @CurULDID, @CurFulfilmentOrder;
					END

					CLOSE cur_UpdatedIDs;
					DEALLOCATE cur_UpdatedIDs;	

				END -- End not find any thing
				ELSE  
				BEGIN

					SET @TaskStatus = 'Found'

					UPDATE dbo.PickingSchedule
					SET [Status] = 'End',
						Qty = @PickedQty,
						CompletedDate = @CompletedDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @CompletedDateTime,
						LastEditedBy = @OperationBy
					WHERE PickingScheduleID = @PickingScheduleID;
				
					-- loop orders in the same ULD
					DECLARE @RelatedOrderNumber VARCHAR(50);	
					DECLARE @RelatedPickingScheduleID INT;
					DECLARE @RelatedNewULDID INT,
							@RelatedTransactionQty INT;

					DECLARE RelatedOrdersCursor CURSOR LOCAL FAST_FORWARD FOR
					SELECT SourceOrderNumber, TransactionQty FROM @RelatedOrderNumbers

					OPEN RelatedOrdersCursor;

					FETCH NEXT FROM RelatedOrdersCursor INTO @RelatedOrderNumber, @RelatedTransactionQty;

					WHILE @@FETCH_STATUS = 0
					BEGIN

						DELETE FROM @UpdatedIDs;

						SELECT @RelatedPickingScheduleID = PickingScheduleID
						FROM dbo.PickingSchedule
						WHERE WaveID = @WaveID AND Deleted = 0 AND FulfilmentOrder = @RelatedOrderNumber AND ULDID = @CurrentULDID;
						
						SET @ReplacedQty = -@RelatedTransactionQty;
						EXEC [dbo].[SP_VI_TBL_ULD_GetNextLocationForPicking]
							@PickingScheduleID = @RelatedPickingScheduleID,  
							@Qty = @ReplacedQty,
							@WaveID = @WaveID,							
							@OperationDateTime = @CompletedDateTime,
							@OperationBy  = @OperationBy,
							@NewULDID = @RelatedNewULDID OUTPUT;

						IF @RelatedNewULDID IS NULL  -- not found
						BEGIN
							--update failed for all other schedule of this orders 
							UPDATE dbo.PickingSchedule
							SET [Status] = 'Failed',
								CompletedDate = @CompletedDateTime,
								FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
								FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
								LastEditedDateTime = @CompletedDateTime,
								LastEditedBy = @OperationBy
							OUTPUT 
								INSERTED.ULDID, 
								INSERTED.FulfilmentOrder
							INTO @UpdatedIDs (ULDID, FulfilmentOrder)
							WHERE FulfilmentOrder = @RelatedOrderNumber AND Deleted = 0 And WaveID = @WaveID;  

							-- update uldline
							DECLARE cur_UpdatedIDs CURSOR LOCAL FAST_FORWARD FOR
							SELECT ULDID, FulfilmentOrder
							FROM @UpdatedIDs;

							OPEN cur_UpdatedIDs;

							FETCH NEXT FROM cur_UpdatedIDs INTO @CurULDID, @CurFulfilmentOrder;

							WHILE @@FETCH_STATUS = 0
							BEGIN
					
								Update ul
								SET ul.Deleted = 1,
									ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
									ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
									ul.LastEditedDateTime = @CompletedDateTime,
									ul.LastEditedBy = @OperationBy
								FROM dbo.ULDLine AS ul
								WHERE ul.Deleted = 0 
									  AND ul.TransactionType  = 'Allocated' 
									  AND ul.ULDID = @CurULDID
									  AND ul.ULDID <> @CurrentULDID
									  AND ul.TransactionReference =  @CurFulfilmentOrder;	
						  
								EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
									 @ULDID = @CurULDID;

								FETCH NEXT FROM cur_UpdatedIDs INTO @CurULDID, @CurFulfilmentOrder;
							END

							CLOSE cur_UpdatedIDs;
							DEALLOCATE cur_UpdatedIDs;	


						END -- end IF @RelatedNewULDID IS NULL
						ELSE
						BEGIN
							UPDATE dbo.PickingSchedule
							SET Deleted = 1,	
								--ULDID = @RelatedNewULDID,
								FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
								FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
								LastEditedDateTime = @CompletedDateTime,
								LastEditedBy = @OperationBy
							WHERE ULDID = @CurrentULDID
								  AND FulfilmentOrder = @RelatedOrderNumber 
								  AND Deleted = 0 
								  And WaveID = @WaveID;  
						END
					
						FETCH NEXT FROM RelatedOrdersCursor INTO @RelatedOrderNumber, @RelatedTransactionQty;
					END

					CLOSE RelatedOrdersCursor;
					DEALLOCATE RelatedOrdersCursor;
				
				END -- Find replace

			END -- End @PickingType = 'PickToOrder'
			ELSE			
			BEGIN
				-- find replace ULD				
				SET @ReplacedQty = @PickingQty - @PickedQty;
				EXEC [dbo].[SP_VI_TBL_ULD_GetNextLocationForPicking]
					@PickingScheduleID = @PickingScheduleID,  
					@Qty = @ReplacedQty,
					@WaveID = @WaveID,							
					@OperationDateTime = @CompletedDateTime,
					@OperationBy  = @OperationBy,
					@NewULDID = @NewULDID OUTPUT;

				IF @NewULDID IS NULL -- not find anything
				BEGIN			

					SET @TaskStatus = 'Failed';
				
					SET @UpdateResult = 1;
				
					--update failed for all otherschedule of this orders 
					UPDATE dbo.PickingSchedule
					SET [Status] = 'End',
						PickedQty = @PickedQty,
						CompletedDate = @CompletedDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @CompletedDateTime
					WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;  

				END -- END  not find anything
				ELSE
				BEGIn

					SET @TaskStatus = 'Found';

					UPDATE dbo.PickingSchedule
					SET [Status] = 'End',
						Qty = @PickedQty,
						PickedQty = @PickedQty,
						CompletedDate = @CompletedDateTime,
						FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						LastEditedDateTime = @CompletedDateTime
					WHERE PickingScheduleID = @PickingScheduleID AND Deleted = 0;  
				END  -- END  find replace

			END -- End @PickingType = 'Single' OR 'Bulk'
			
			
			-- Locked ULD
			DECLARE @ResultMessage VARCHAR(4000);
			DECLARE @LockReason VARCHAR(200);
			SET @LockReason = 'Real quantity of this ULD is not correct. Found when picking for wave number ' + @WaveNumber;
			EXEC [dbo].[SP_VI_TBL_ULD_UpdateLockedStatusByULD]
				@ULDID = @CurrentULDID,          
				@Locked = 1,                 
				@LockReason = @LockReason,
				@EditedDateTime = @CompletedDateTime,
				@EditedBy = @OperationBy,   
				@Message = @ResultMessage OUTPUT;
			
		END  -- End IF @PickedQty < @PickingQty 
		ELSE -- @PickedQty = @PickingQty
		BEGIN
			UPDATE dbo.PickingSchedule
			SET [Status] = 'End',
				CompletedDate = @CompletedDateTime,
				PickedQty = @PickingQty,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @CompletedDateTime,
				LastEditedBy = @OperationBy
			WHERE PickingScheduleID = @PickingScheduleID;

			SET @TaskStatus = 'End';

			IF @PickingType = 'PickToOrder'
			BEGIN

				SET @TransactionReference = @SourceOrderNumber;
				SELECT TOP 1 @ChargeItemNumber = ItemNumber, @ChargeScannedUnit = ScannedUnit FROM @Results;
		
				-- create invoice 
				EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
					@TenantCode = @TenantCode,
					@WarehouseCode = @WarehouseCode,
					@ItemCode = @ChargeItemNumber,
					@TransactionReference = @TransactionReference,  
					@WaveReferences = @WaveNumber,
					@ItemUnit = @ChargeScannedUnit,     
					@ItemQty = @PickedQty,
					@CreatedDateTime = @CompletedDateTime, 
					@CreatedBy = @OperationBy,  
					@Message = @InvoiceMessage OUTPUT;
			END			
			ELSE
			BEGIN
			
				SELECT TOP 1 @ChargeItemNumber = ItemNumber, @ChargeScannedUnit = ScannedUnit FROM @Results;

				-- variables (adjust types/sizes to your schema)
				DECLARE @InvoiceTransactionReference VARCHAR(50);
				DECLARE @InvoiceTransactionQty  INT;

				DECLARE cur_Alloc CURSOR LOCAL FOR
					SELECT 
						   ul.TransactionReference,
						   ul.TransactionQty
					FROM dbo.ULDLine AS ul
					WHERE ul.ULDID = @CurrentULDID
					  AND ul.Deleted = 0
					  AND ul.TransactionType = 'Allocated'
					  AND ul.TransactionReference IS NOT NULL
					  AND EXISTS (
							SELECT 1
							FROM @WaveOrderNumbers AS w
							WHERE w.SourceOrderNumber = ul.TransactionReference
					  );

				OPEN cur_Alloc;

				FETCH NEXT FROM cur_Alloc
				INTO @InvoiceTransactionReference, @InvoiceTransactionQty;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @TransactionReference = @InvoiceTransactionReference;	
					SET @InvoiceTransactionQty = -@InvoiceTransactionQty
		
					-- create invoice 
					EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
						@TenantCode = @TenantCode,
						@WarehouseCode = @WarehouseCode,
						@ItemCode = @ChargeItemNumber,
						@TransactionReference = @TransactionReference,  
						@WaveReferences = @WaveNumber,
						@ItemUnit = @ChargeScannedUnit,     
						@ItemQty = @InvoiceTransactionQty,
						@CreatedDateTime = @CompletedDateTime, 
						@CreatedBy = @OperationBy,  
						@Message = @InvoiceMessage OUTPUT;

					FETCH NEXT FROM cur_Alloc
					INTO @InvoiceTransactionReference, @InvoiceTransactionQty;
				END

				CLOSE cur_Alloc;
				DEALLOCATE cur_Alloc;


			END
		END
		-- update Picking Result
		IF @UpdateResult = 1
		BEGIN
			-- Variables to hold data from cursor
			DECLARE @SequenceNumber INT,
					@OrderID INT,
					@OrderNumber VARCHAR(50),
					@ItemID INT,
					@Qty INT,
					@RequiredQty INT,
					@ULDID INT,
					@ItemNumber NVARCHAR(30),
					@ULDCurrentLocation VARCHAR(50),
					@ULDBarcode VARCHAR(50),
					@ItemName VARCHAR(250),
					@ScannedType VARCHAR(30),
					@ScannedUnit VARCHAR(30),
					@ScannedNumber VARCHAR(MAX),
					@SerialCase BIT,
					@ScannedQty INT;

			SET @SerialCase = 0;


			-- Insert Result
			DECLARE result_cursor CURSOR LOCAL FOR
			SELECT Qty, RequiredQty, ULDID, ItemNumber, ScannedType, ScannedUnit, ScannedQty, ScannedNumber, OrderID, OrderNumber
			FROM @Results;

			-- Open cursor
			OPEN result_cursor;

			FETCH NEXT FROM result_cursor INTO @Qty, @RequiredQty, @ULDID, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber, @OrderID, @OrderNumber;

			-- Loop through the rows
			WHILE @@FETCH_STATUS = 0
			BEGIN

				If @ScannedType = 'Serial Number'
				BEGIN
					SET @SerialCase = 1;
				END
			
				-- get ItemID
				SELECT @ItemID = ItemID 
				FROM dbo.Items 
				WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode AND DELETED = 0;

				-- get ULD info
				SELECT @ULDCurrentLocation = ULDCurrentLocation, @ULDBarcode = ULDBarcode, @ItemName = ItemName
				FROM dbo.ULD
				WHERE ULDID = @ULDID AND DELETED = 0;

				/*IF @NewULDID IS NOT NULL  -- have replace
				BEGIN
					SET @RequiredQty = @Qty;
				END*/

				-- insert
				INSERT INTO [dbo].[PickingResult] (
					OrderID,
					OrderNumber,
					OrderType,
					PickingScheduleID,
					ItemID,
					ULDID,
					TenantCode,
					ULDBarcode,
					ItemName,
					ItemNumber,
					ULDCurrentLocation,
					Qty,
					RequiredQty,
					ScannedType,
					ScannedUnit,
					ScannedQty,
					ScannedNumber,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES (
					@OrderID,
					@OrderNumber,
					'Orders',
					@PickingScheduleID,
					@ItemID,
					@ULDID,
					@TenantCode,
					@ULDBarcode,
					@ItemName,
					@ItemNumber,
					@ULDCurrentLocation,
					@Qty,
					@RequiredQty,
					@ScannedType,
					@ScannedUnit,
					@ScannedQty,
					@ScannedNumber,
					0,
					@CompletedDateTime,
					@OperationBy
				);					

				-- Fetch next row
				FETCH NEXT FROM result_cursor INTO @Qty, @RequiredQty, @ULDID, @ItemNumber, @ScannedType, @ScannedUnit, @ScannedQty, @ScannedNumber, @OrderID, @OrderNumber;
			END;

			-- Clean up
			CLOSE result_cursor;
			DEALLOCATE result_cursor;

		END -- End @UpdateResult = 1


		
		-- Process lock current ULD
		DECLARE @MissingNumber INT;	
		IF @PickingType = 'PickToOrder'
		BEGIN
			IF @TaskStatus = 'Failed' OR @TaskStatus = 'Found'
			BEGIN
			
				SELECT @ULDCurrentLocation = ULDCurrentLocation, @ULDBarcode = ULDBarcode, @ItemName = ItemName, @ItemNumber = ItemNumber
					FROM dbo.ULD
					WHERE ULDID = @CurrentULDID AND DELETED = 0;

				-- Serial Number
				If @SerialCase = 1
				BEGIN

					-- remove current
					Update ul
					SET ul.Deleted = 1,
						ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						ul.LastEditedDateTime = @CompletedDateTime,
						ul.LastEditedBy = @OperationBy
					FROM dbo.ULDLine AS ul
					WHERE ul.Deleted = 0 
							AND ul.TransactionType  = 'Allocated' 					
							AND ul.ULDID = @CurrentULDID
							AND ul.TransactionReference = @SourceOrderNumber;	

					Update ul
						SET ul.Deleted = 1,
							ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
							ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
							ul.LastEditedDateTime = @CompletedDateTime,
							ul.LastEditedBy = @OperationBy
						FROM dbo.ULDLine AS ul
						WHERE ul.Deleted = 0 
								AND ul.TransactionType  = 'Allocated' 					
								AND ul.ULDID = @CurrentULDID
								AND ul.TransactionReference IN (SELECT SourceOrderNumber FROM @RelatedOrderNumbers);	

					
					--process add serial number
					DECLARE result_serial_cursor CURSOR LOCAL FOR
					SELECT ScannedNumber
					FROM @Results;

					-- Open cursor
					OPEN result_serial_cursor;

					FETCH NEXT FROM result_serial_cursor INTO @ScannedNumber;

					-- Loop through the rows
					WHILE @@FETCH_STATUS = 0
					BEGIN

						IF @TaskStatus = 'Failed' 
						BEGIN
							SET @TransactionMovement = 'Picked 1 ' + @ItemNumber + ' for ' + @SourceOrderNumber + ' failed order';

							INSERT INTO [dbo].[ULDLine] (
								ULDID,
								SequenceNumber,
								SerialNumber,
								TransactionDate,
								TransactionUser,
								TransactionType,
								TransactionQty,
								TransactionReference,
								TransactionMovement,
								TransactionLocation,
								ItemNumber,
								ItemName,
								AllocatedType,
								Picked,
								Deleted,
								CreatedDateTime,
								CreatedBy
							)
							SELECT 
								@CurrentULDID,
								1,
								ScannedNumber,
								@CompletedDateTime,
								@OperationBy,
								'PickedButFailed',
								-1,						
								@SourceOrderNumber,
								@TransactionMovement, 
								@ULDCurrentLocation,
								@ItemNumber,
								@ItemName,
								'Orders',
								1,
								0,
								@CompletedDateTime,
								@OperationBy						 
							FROM @Results;
						END
						ELSE -- End 'Found' 
						BEGIN
							SET @TransactionMovement = 'Picked 1 ' + @ItemNumber + ' for ' + @SourceOrderNumber + ' order';

							INSERT INTO [dbo].[ULDLine] (
								ULDID,
								SequenceNumber,
								SerialNumber,
								TransactionDate,
								TransactionUser,
								TransactionType,
								TransactionQty,
								TransactionReference,
								TransactionMovement,
								TransactionLocation,
								ItemNumber,
								ItemName,
								AllocatedType,
								Picked,
								Deleted,
								CreatedDateTime,
								CreatedBy
							)
							SELECT 
								@CurrentULDID,
								1,
								ScannedNumber,
								@CompletedDateTime,
								@OperationBy,
								'Picked',
								-1,						
								@SourceOrderNumber,
								@TransactionMovement, 
								@ULDCurrentLocation,
								@ItemNumber,
								@ItemName,
								'Orders',
								1,
								0,
								@CompletedDateTime,
								@OperationBy						 
							FROM @Results;					
						END

						-- Fetch next row
						FETCH NEXT FROM result_serial_cursor INTO @ScannedNumber;
					END;

					-- Clean up
					CLOSE result_serial_cursor;
					DEALLOCATE result_serial_cursor;		
								

					DECLARE SerialCursor CURSOR LOCAL FOR
					SELECT SerialNumber
					FROM ULDLine
					WHERE SerialNumber IS NOT NULL 
						AND Deleted = 0 
						AND ULDID = @CurrentULDID
					GROUP BY SerialNumber
					HAVING SUM(TransactionQty) = 1;

					OPEN SerialCursor;

					FETCH NEXT FROM SerialCursor INTO @MissingSerialNumber;

					WHILE @@FETCH_STATUS = 0
					BEGIN
					
						SET @TransactionMovement = 'Not Found 1' + @ItemNumber + ' when picking ' + @SourceOrderNumber + ' order';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							SerialNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							AllocatedType,
							Picked,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@ULDID,
							1,
							@MissingSerialNumber, -- @SerialNumber
							@CompletedDateTime,
							@OperationBy,
							'Not Found',
							-1,						
							@SourceOrderNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,
							'Orders',
							1,
							0,
							@CompletedDateTime,
							@OperationBy
						);

						SET @TransactionMovement = 'Missing 1 ' + @ItemNumber + ' when picking ' + @SourceOrderNumber + ' order';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							SerialNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							AllocatedType,
							Picked,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@ULDID,
							1,
							@MissingSerialNumber, -- @SerialNumber
							@CompletedDateTime,
							@OperationBy,
							'Missing',
							-1,						
							@SourceOrderNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,
							'Orders',
							1,
							0,
							@CompletedDateTime,
							@OperationBy
						);

						FETCH NEXT FROM SerialCursor INTO @MissingSerialNumber;
					END

					CLOSE SerialCursor;
					DEALLOCATE SerialCursor;

				END -- End serial number
				ELSE
				BEGIN -- Not Serial number
				
					IF @TaskStatus = 'Failed' 
					BEGIN

						-- update current
						SET @TransactionMovement = 'Picked ' + CAST((@PickedQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @SourceOrderNumber + ' failed order';

						Update ul
						SET ul.TransactionType = 'PickedButFailed',
							ul.TransactionMovement = @TransactionMovement,
							ul.TransactionQty = -@PickedQty,
							ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
							ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
							ul.LastEditedDateTime = @CompletedDateTime,
							ul.LastEditedBy = @OperationBy
						FROM dbo.ULDLine AS ul
						WHERE ul.Deleted = 0 
								AND ul.TransactionType  = 'Allocated' 					
								AND ul.ULDID = @CurrentULDID
								AND ul.TransactionReference = @SourceOrderNumber;	
					END
					ELSE
					BEGIN
						
						SET @TransactionMovement = 'Picked ' +  CAST((@PickedQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for' + @SourceOrderNumber + ' order';

						Update ul
						SET ul.TransactionType = 'Picked',
							ul.Picked = 1,
							ul.TransactionMovement = @TransactionMovement,
							ul.TransactionQty = -@PickedQty,
							ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
							ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
							ul.LastEditedDateTime = @CompletedDateTime,
							ul.LastEditedBy = @OperationBy
						FROM dbo.ULDLine AS ul
						WHERE ul.Deleted = 0 
								AND ul.TransactionType  = 'Allocated' 					
								AND ul.ULDID = @CurrentULDID
								AND ul.TransactionReference = @SourceOrderNumber;	
					END

					-- remove related
					Update ul
					SET ul.Deleted = 1,
						ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
						ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
						ul.LastEditedDateTime = @CompletedDateTime,
						ul.LastEditedBy = @OperationBy
					FROM dbo.ULDLine AS ul
					WHERE ul.Deleted = 0 
							AND ul.TransactionType  = 'Allocated' 							
							AND ul.ULDID = @CurrentULDID
							AND ul.TransactionReference IN (SELECT SourceOrderNumber FROM @RelatedOrderNumbers);

					
					-- add not found	
					SELECT @MissingNumber = SUM(TransactionQty)
					FROM dbo.ULDLine 
					WHERE ULDID = @CurrentULDID AND DELETED = 0 AND TransactionType NOT IN ('Not Found', 'Missing')
					GROUP BY ULDID;
					IF @MissingNumber > 0
					BEGIN

						-- Add not found
						SET @TransactionMovement = 'Not Found ' +  CAST((@MissingNumber) AS VARCHAR(5)) + ' ' + @ItemNumber + ' when picking ' + @SourceOrderNumber + ' order';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@CurrentULDID,
							1,
							@CompletedDateTime,
							@OperationBy,
							'Not Found',
							-@MissingNumber,						
							@SourceOrderNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,							
							0,
							@CompletedDateTime,
							@OperationBy
						);

						-- add missing	
						SET @TransactionMovement = 'Missing ' +  CAST((@MissingNumber) AS VARCHAR(5)) + ' ' + @ItemNumber + ' when picking ' + @SourceOrderNumber + ' order';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@CurrentULDID,
							1,
							@CompletedDateTime,
							@OperationBy,
							'Missing',
							-@MissingNumber,						
							@SourceOrderNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,							
							0,
							@CompletedDateTime,
							@OperationBy
						);
					END
				END -- End not serial number

				-- reset
				EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
					 @ULDID = @CurrentULDID;			

			END -- End @TaskStatus = 'Failed' OR @TaskStatus = 'Found'

		END -- End @PickingType = 'PickToOrder'
		ELSE
		BEGIN
			IF @TaskStatus = 'Failed' OR @TaskStatus = 'Found' 
			BEGIN

				SELECT @ULDCurrentLocation = ULDCurrentLocation, @ULDBarcode = ULDBarcode, @ItemName = ItemName, @ItemNumber = ItemNumber
				FROM dbo.ULD
				WHERE ULDID = @CurrentULDID AND DELETED = 0;

				DECLARE @ULDLineID INT;
				DECLARE @TmpQty INT;
				DECLARE @Count INT,
					    @NumberOfSerial INT;

				DECLARE @SNumber VARCHAR(30);
				DECLARE @SerialNumbers TABLE (SerialNumber VARCHAR(30));

				SELECT TOP 1 @ChargeScannedUnit = ScannedUnit FROM @Results;

				-- Serial number
				If @SerialCase = 1
				BEGIN

					SELECT @NumberOfSerial = COUNT(*) FROM @Results;					

					INSERT INTO @SerialNumbers (SerialNumber)
					SELECT ScannedNumber FROM @Results;
					
					SET @TmpQty = @PickedQty;

					DECLARE ULDOrdersCursor CURSOR LOCAL FAST_FORWARD FOR
					SELECT SourceOrderNumber, TransactionQty, ULDLineID FROM @ULDOrderNumbers ORDER BY TransactionQty DESC, SourceOrderNumber ASC; -- process the small qty need first becasue TransactionQty < 0

					OPEN ULDOrdersCursor;

					FETCH NEXT FROM ULDOrdersCursor INTO @RelatedOrderNumber, @RelatedTransactionQty, @ULDLineID;

					WHILE @@FETCH_STATUS = 0
					BEGIN


						SET @RelatedTransactionQty = -@RelatedTransactionQty;

						Update ul
							SET ul.Deleted = 1,
								ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
								ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
								ul.LastEditedDateTime = @CompletedDateTime,
								ul.LastEditedBy = @OperationBy
							FROM dbo.ULDLine AS ul
							WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;
						
						IF @TaskStatus = 'Failed' 
						BEGIN
							
							IF @TmpQty <> 0							
							BEGIN
								IF @TmpQty = @RelatedTransactionQty OR  @TmpQty < @RelatedTransactionQty
								BEGIN

									SET @Count = 0;
									/*SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;*/
									
									-- Loop through the rows
									WHILE @Count < @TmpQty
									BEGIN

										SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;  
										IF @SNumber IS NULL
										BEGIN
											-- nothing left to pick; stop to avoid infinite loop
											BREAK;
										END
										
										SET @TransactionMovement = 'Picked 1' + @SNumber + ' when picking ' + @RelatedOrderNumber + ' order';

										INSERT INTO [dbo].[ULDLine] (
											ULDID,
											SequenceNumber,
											SerialNumber,
											TransactionDate,
											TransactionUser,
											TransactionType,
											TransactionQty,
											TransactionReference,
											TransactionMovement,
											TransactionLocation,
											ItemNumber,
											ItemName,
											AllocatedType,
											Picked,
											Deleted,
											CreatedDateTime,
											CreatedBy
										)
										VALUES
										(
											@CurrentULDID,
											1,
											@SNumber,
											@CompletedDateTime,
											@OperationBy,
											'Picked',
											-1,						
											@RelatedOrderNumber,
											@TransactionMovement, 
											@ULDCurrentLocation,
											@ItemNumber,
											@ItemName,
											'Orders',
											1,
											0,
											@CompletedDateTime,
											@OperationBy						 
										);

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = 1,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @Count = @Count + 1;
										DELETE FROM @SerialNumbers WHERE SerialNumber = @SNumber;
									END
										
									SET @TmpQty = 0;
								END								
								ELSE
								BEGIN
									
									SET @Count = 0;
									--SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;
									
									-- Loop through the rows
									WHILE @Count < @RelatedTransactionQty
									BEGIN

										SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;  
										IF @SNumber IS NULL
										BEGIN
											-- nothing left to pick; stop to avoid infinite loop
											BREAK;
										END
										SET @TransactionMovement = 'Picked 1' + @SNumber + ' when picking ' + @RelatedOrderNumber + ' order';
										
										INSERT INTO [dbo].[ULDLine] (
											ULDID,
											SequenceNumber,
											SerialNumber,
											TransactionDate,
											TransactionUser,
											TransactionType,
											TransactionQty,
											TransactionReference,
											TransactionMovement,
											TransactionLocation,
											ItemNumber,
											ItemName,
											AllocatedType,
											Picked,
											Deleted,
											CreatedDateTime,
											CreatedBy
										)
										VALUES
										(
											@CurrentULDID,
											1,
											@SNumber,
											@CompletedDateTime,
											@OperationBy,
											'Picked',
											-1,						
											@RelatedOrderNumber,
											@TransactionMovement, 
											@ULDCurrentLocation,
											@ItemNumber,
											@ItemName,
											'Orders',
											1,
											0,
											@CompletedDateTime,
											@OperationBy						 
										);

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = 1,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @Count = @Count + 1;
										DELETE FROM @SerialNumbers WHERE SerialNumber = @SNumber;
									END

									SET @TmpQty = @TmpQty - @RelatedTransactionQty;
								END
							END
						END
						ELSE -- 'Found'  @NewULDID mai tipe tuc chuyen qua @newULDID
						BEGIN
							IF @TmpQty = 0	
							BEGIN
								-- insert new uld line for @RelatedOrderNumber in @NewULDID  having Qty = @RelatedTransactionQty - @PickedQty
								SET @TransactionMovement = 'Allocated ' +  CAST(@RelatedTransactionQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @RelatedOrderNumber + ' order';
						
								-- insert allocation for ULD Line
								INSERT INTO [dbo].[ULDLine] (
									ULDID,
									SequenceNumber,
									SerialNumber,
									TransactionDate,
									TransactionUser,
									TransactionType,
									TransactionQty,
									TransactionReference,
									TransactionMovement,
									TransactionLocation,
									ItemNumber,
									ItemName,
									AllocatedType,
									Picked,
									Deleted,
									CreatedDateTime,
									CreatedBy
								)
			
								VALUES (
									@NewULDID,
									1,
									NULL, -- @SerialNumber
									@CompletedDateTime,
									@OperationBy,
									'Allocated',
									-@RelatedTransactionQty,						
									@RelatedOrderNumber,
									@TransactionMovement, 
									@ULDCurrentLocation,
									@ItemNumber,
									@ItemName,
									'Orders',
									0,
									0,
									@CompletedDateTime,
									@OperationBy
								);
							END							
							ELSE
							BEGIN
								IF @TmpQty = @RelatedTransactionQty
								BEGIN

									SET @Count = 0;
									--SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;
									
									-- Loop through the rows
									WHILE @Count < @RelatedTransactionQty
									BEGIN

										SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;  
										IF @SNumber IS NULL
										BEGIN
											-- nothing left to pick; stop to avoid infinite loop
											BREAK;
										END
										SET @TransactionMovement = 'Picked 1' + @SNumber + ' when picking ' + @RelatedOrderNumber + ' order';

										INSERT INTO [dbo].[ULDLine] (
											ULDID,
											SequenceNumber,
											SerialNumber,
											TransactionDate,
											TransactionUser,
											TransactionType,
											TransactionQty,
											TransactionReference,
											TransactionMovement,
											TransactionLocation,
											ItemNumber,
											ItemName,
											AllocatedType,
											Picked,
											Deleted,
											CreatedDateTime,
											CreatedBy
										)
										VALUES
										(
											@CurrentULDID,
											1,
											@SNumber,
											@CompletedDateTime,
											@OperationBy,
											'Picked',
											-1,						
											@RelatedOrderNumber,
											@TransactionMovement, 
											@ULDCurrentLocation,
											@ItemNumber,
											@ItemName,
											'Orders',
											1,
											0,
											@CompletedDateTime,
											@OperationBy						 
										);

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = 1,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @Count = @Count + 1;
										DELETE FROM @SerialNumbers WHERE SerialNumber = @SNumber;
									END
										
									SET @TmpQty = 0;
								END			
								ELSE
								IF @TmpQty < @RelatedTransactionQty
								BEGIN

									SET @Count = 0;
									--SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;
									
									-- Loop through the rows
									WHILE @Count < @TmpQty
									BEGIN

										SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;  
										IF @SNumber IS NULL
										BEGIN
											-- nothing left to pick; stop to avoid infinite loop
											BREAK;
										END

										SET @TransactionMovement = 'Picked 1' + @SNumber + ' when picking ' + @RelatedOrderNumber + ' order';

										INSERT INTO [dbo].[ULDLine] (
											ULDID,
											SequenceNumber,
											SerialNumber,
											TransactionDate,
											TransactionUser,
											TransactionType,
											TransactionQty,
											TransactionReference,
											TransactionMovement,
											TransactionLocation,
											ItemNumber,
											ItemName,
											AllocatedType,
											Picked,
											Deleted,
											CreatedDateTime,
											CreatedBy
										)
										VALUES
										(
											@CurrentULDID,
											1,
											@SNumber,
											@CompletedDateTime,
											@OperationBy,
											'Picked',
											-1,						
											@RelatedOrderNumber,
											@TransactionMovement, 
											@ULDCurrentLocation,
											@ItemNumber,
											@ItemName,
											'Orders',
											1,
											0,
											@CompletedDateTime,
											@OperationBy						 
										);

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = 1,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @Count = @Count + 1;
										DELETE FROM @SerialNumbers WHERE SerialNumber = @SNumber;
									END

									 -- insert new uld line for @RelatedOrderNumber in @NewULDID  having Qty = @RelatedTransactionQty - @PickedQty
									 SET @TransactionMovement = 'Allocated ' +  CAST((@RelatedTransactionQty - @TmpQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @RelatedOrderNumber + ' order';
						
									-- insert allocation for ULD Line
									INSERT INTO [dbo].[ULDLine] (
										ULDID,
										SequenceNumber,
										SerialNumber,
										TransactionDate,
										TransactionUser,
										TransactionType,
										TransactionQty,
										TransactionReference,
										TransactionMovement,
										TransactionLocation,
										ItemNumber,
										ItemName,
										AllocatedType,
										Picked,
										Deleted,
										CreatedDateTime,
										CreatedBy
									)
			
									VALUES (
										@NewULDID,
										1,
										NULL, -- @SerialNumber
										@CompletedDateTime,
										@OperationBy,
										'Allocated',
										-(@RelatedTransactionQty - @TmpQty),						
										@RelatedOrderNumber,
										@TransactionMovement, 
										@ULDCurrentLocation,
										@ItemNumber,
										@ItemName,
										'Orders',
										0,
										0,
										@CompletedDateTime,
										@OperationBy
									);
										
									SET @TmpQty = 0;
								END	
								ELSE
								BEGIN
									
									SET @Count = 0;
									--SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;
									
									-- Loop through the rows
									WHILE @Count < @RelatedTransactionQty
									BEGIN
										
										SELECT TOP 1 @SNumber = SerialNumber FROM @SerialNumbers;  
										IF @SNumber IS NULL
										BEGIN
											-- nothing left to pick; stop to avoid infinite loop
											BREAK;
										END

										SET @TransactionMovement = 'Picked 1' + @SNumber + ' when picking ' + @RelatedOrderNumber + ' order';

										INSERT INTO [dbo].[ULDLine] (
											ULDID,
											SequenceNumber,
											SerialNumber,
											TransactionDate,
											TransactionUser,
											TransactionType,
											TransactionQty,
											TransactionReference,
											TransactionMovement,
											TransactionLocation,
											ItemNumber,
											ItemName,
											AllocatedType,
											Picked,
											Deleted,
											CreatedDateTime,
											CreatedBy
										)
										VALUES
										(
											@CurrentULDID,
											1,
											@SNumber,
											@CompletedDateTime,
											@OperationBy,
											'Picked',
											-1,						
											@RelatedOrderNumber,
											@TransactionMovement, 
											@ULDCurrentLocation,
											@ItemNumber,
											@ItemName,
											'Orders',
											1,
											0,
											@CompletedDateTime,
											@OperationBy						 
										);

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = 1,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @Count = @Count + 1;
										DELETE FROM @SerialNumbers WHERE SerialNumber = @SNumber;
									END

									SET @TmpQty = @TmpQty - @RelatedTransactionQty;
								END
							END
						END -- ENd Found

						FETCH NEXT FROM ULDOrdersCursor INTO @RelatedOrderNumber, @RelatedTransactionQty, @ULDLineID;
					END

					CLOSE ULDOrdersCursor;
					DEALLOCATE ULDOrdersCursor;							
								

					DECLARE SerialCursor CURSOR LOCAL FOR
					SELECT SerialNumber
					FROM ULDLine
					WHERE SerialNumber IS NOT NULL 
						AND Deleted = 0 
						AND ULDID = @CurrentULDID
					GROUP BY SerialNumber
					HAVING SUM(TransactionQty) = 1;

					OPEN SerialCursor;

					FETCH NEXT FROM SerialCursor INTO @MissingSerialNumber;

					WHILE @@FETCH_STATUS = 0
					BEGIN
					
						SET @TransactionMovement = 'Not Found 1' + @MissingSerialNumber + ' when picking ' + @WaveNumber + ' wave';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							SerialNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							AllocatedType,
							Picked,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@ULDID,
							1,
							@MissingSerialNumber, -- @SerialNumber
							@CompletedDateTime,
							@OperationBy,
							'Not Found',
							-1,						
							@WaveNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,
							'Orders',
							1,
							0,
							@CompletedDateTime,
							@OperationBy
						);

						SET @TransactionMovement = 'Missing 1 ' + @MissingSerialNumber + ' when picking ' + @WaveNumber + ' wave';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							SerialNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							AllocatedType,
							Picked,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@ULDID,
							1,
							@MissingSerialNumber, -- @SerialNumber
							@CompletedDateTime,
							@OperationBy,
							'Missing',
							-1,						
							@WaveNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,
							'Orders',
							1,
							0,
							@CompletedDateTime,
							@OperationBy
						);

						FETCH NEXT FROM SerialCursor INTO @MissingSerialNumber;
					END

					CLOSE SerialCursor;
					DEALLOCATE SerialCursor;


				END -- End @SerialCase = 1
				ELSE
				BEGIN -- Not Serial Number

					
					SET @TmpQty = @PickedQty;
					DECLARE ULDOrdersCursor CURSOR LOCAL FAST_FORWARD FOR
					SELECT SourceOrderNumber, TransactionQty, ULDLineID FROM @ULDOrderNumbers ORDER BY TransactionQty ASC;

					OPEN ULDOrdersCursor;

					FETCH NEXT FROM ULDOrdersCursor INTO @RelatedOrderNumber, @RelatedTransactionQty, @ULDLineID;

					WHILE @@FETCH_STATUS = 0
					BEGIN

						SET @RelatedTransactionQty = -@RelatedTransactionQty;
						
						IF @TaskStatus = 'Failed' 
						BEGIN
							
							IF @TmpQty = 0
							BEGIN
								Update ul
										SET ul.Deleted = 1,
											ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
											ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
											ul.LastEditedDateTime = @CompletedDateTime,
											ul.LastEditedBy = @OperationBy
										FROM dbo.ULDLine AS ul
										WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;
							END
							ELSE
							BEGIN
								IF @TmpQty = @RelatedTransactionQty
								BEGIN

									SET @TransactionMovement = 'Picked ' + CAST((@RelatedTransactionQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @RelatedOrderNumber + ' order';

									Update ul
										SET ul.TransactionType = 'Picked',
											ul.TransactionMovement = @TransactionMovement,
											ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
											ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
											ul.LastEditedDateTime = @CompletedDateTime,
											ul.LastEditedBy = @OperationBy
										FROM dbo.ULDLine AS ul
										WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = @RelatedTransactionQty,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @TmpQty = 0;
								END
								ELSE
								IF @TmpQty < @RelatedTransactionQty
								BEGIN

									SET @TransactionMovement = 'Picked ' + CAST((@TmpQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @RelatedOrderNumber + ' order';

									Update ul
										SET ul.TransactionType = 'Picked',
											ul.TransactionQty = -@TmpQty,
											ul.TransactionMovement = @TransactionMovement,
											ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
											ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
											ul.LastEditedDateTime = @CompletedDateTime,
											ul.LastEditedBy = @OperationBy
										FROM dbo.ULDLine AS ul
										WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = @TmpQty,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @TmpQty = 0;
								END
								ELSE
								BEGIN

									SET @TransactionMovement = 'Picked ' + CAST((@RelatedTransactionQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @RelatedOrderNumber + ' order';

									Update ul
										SET ul.TransactionType = 'Picked',	
										    ul.TransactionMovement = @TransactionMovement,
											ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
											ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
											ul.LastEditedDateTime = @CompletedDateTime,
											ul.LastEditedBy = @OperationBy
										FROM dbo.ULDLine AS ul
										WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = @RelatedTransactionQty,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @TmpQty = @TmpQty - @RelatedTransactionQty;
								END
							END
						END
						ELSE -- 'Found'  @NewULDID 
						BEGIN
							
							IF @TmpQty = 0
							BEGIN
								-- insert new uld line for @RelatedOrderNumber in @NewULDID  having Qty = @RelatedTransactionQty - @PickedQty
								SET @TransactionMovement = 'Allocated ' +  CAST(@RelatedTransactionQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @RelatedOrderNumber + ' order';
						
								-- insert allocation for new ULD Line
								INSERT INTO [dbo].[ULDLine] (
									ULDID,
									SequenceNumber,
									SerialNumber,
									TransactionDate,
									TransactionUser,
									TransactionType,
									TransactionQty,
									TransactionReference,
									TransactionMovement,
									TransactionLocation,
									ItemNumber,
									ItemName,
									AllocatedType,
									Picked,
									Deleted,
									CreatedDateTime,
									CreatedBy
								)
			
								VALUES (
									@NewULDID,
									1,
									NULL, -- @SerialNumber
									@CompletedDateTime,
									@OperationBy,
									'Allocated',
									-@RelatedTransactionQty,						
									@RelatedOrderNumber,
									@TransactionMovement, 
									@ULDCurrentLocation,
									@ItemNumber,
									@ItemName,
									'Orders',
									0,
									0,
									@CompletedDateTime,
									@OperationBy
								);

								-- remove old
								Update ul
								SET ul.Deleted = 1,									
									ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
									ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
									ul.LastEditedDateTime = @CompletedDateTime,
									ul.LastEditedBy = @OperationBy
								FROM dbo.ULDLine AS ul
								WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;

							END -- End  @TmpQty = 0
							ELSE
							BEGIN 
								IF @TmpQty = @RelatedTransactionQty
								BEGIN

									SET @TransactionMovement = 'Picked ' +  CAST((@RelatedTransactionQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for' + @RelatedOrderNumber + ' order';

									Update ul
										SET ul.TransactionType = 'Picked',
											ul.Picked = 1,
											ul.TransactionMovement = @TransactionMovement,
											ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
											ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
											ul.LastEditedDateTime = @CompletedDateTime,
											ul.LastEditedBy = @OperationBy
										FROM dbo.ULDLine AS ul
										WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = @RelatedTransactionQty,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @TmpQty = 0;
								END
								ELSE
								IF @TmpQty < @RelatedTransactionQty
								BEGIN

									SET @TransactionMovement = 'Picked ' +  CAST((@TmpQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for' + @RelatedOrderNumber + ' order';

									Update ul
										SET ul.TransactionType = 'Picked',
											ul.TransactionQty = -@TmpQty,
											ul.Picked = 1,
											ul.TransactionMovement = @TransactionMovement,
											ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
											ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
											ul.LastEditedDateTime = @CompletedDateTime,
											ul.LastEditedBy = @OperationBy
										FROM dbo.ULDLine AS ul
										WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = @TmpQty,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										-- insert new uld line for @RelatedOrderNumber in @NewULDID  having Qty = @RelatedTransactionQty - @PickedQty
										SET @TransactionMovement = 'Allocated ' +  CAST((@RelatedTransactionQty - @TmpQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @RelatedOrderNumber + ' order';
						
									-- insert allocation for ULD Line
									INSERT INTO [dbo].[ULDLine] (
										ULDID,
										SequenceNumber,
										SerialNumber,
										TransactionDate,
										TransactionUser,
										TransactionType,
										TransactionQty,
										TransactionReference,
										TransactionMovement,
										TransactionLocation,
										ItemNumber,
										ItemName,
										AllocatedType,
										Picked,
										Deleted,
										CreatedDateTime,
										CreatedBy
									)
			
									VALUES (
										@NewULDID,
										1,
										NULL, -- @SerialNumber
										@CompletedDateTime,
										@OperationBy,
										'Allocated',
										-(@RelatedTransactionQty - @TmpQty),						
										@RelatedOrderNumber,
										@TransactionMovement, 
										@ULDCurrentLocation,
										@ItemNumber,
										@ItemName,
										'Orders',
										0,
										0,
										@CompletedDateTime,
										@OperationBy
									);

										SET @TmpQty = 0;
								END
								ELSE
								BEGIN
									
									SET @TransactionMovement = 'Picked ' +  CAST((@RelatedTransactionQty) AS VARCHAR(5)) + ' ' + @ItemNumber + ' for' + @RelatedOrderNumber + ' order';

									Update ul
										SET ul.TransactionType = 'Picked',		
											ul.Picked = 1,
											ul.TransactionMovement = @TransactionMovement,
											ul.FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CompletedDateTime),
											ul.FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
											ul.LastEditedDateTime = @CompletedDateTime,
											ul.LastEditedBy = @OperationBy
										FROM dbo.ULDLine AS ul
										WHERE ul.Deleted = 0 AND ul.ULDLineID = @ULDLineID;

										-- insert invoice
										SET @TransactionReference = @RelatedOrderNumber;					
		
										-- create invoice 
										EXEC [dbo].[SP_VI_TBL_Invoice_InsertPickingInvoice] 
											@TenantCode = @TenantCode,
											@WarehouseCode = @WarehouseCode,
											@ItemCode = @ItemNumber,
											@TransactionReference = @TransactionReference,  
											@WaveReferences = @WaveNumber,
											@ItemUnit = @ChargeScannedUnit,     
											@ItemQty = @RelatedTransactionQty,
											@CreatedDateTime = @CompletedDateTime, 
											@CreatedBy = @OperationBy,  
											@Message = @InvoiceMessage OUTPUT;

										SET @TmpQty =  @TmpQty - @RelatedTransactionQty;
								END
							END -- -- End  @TmpQty > 0
							
							
						END -- End -- 'Found'  @NewULDID 

						FETCH NEXT FROM ULDOrdersCursor INTO @RelatedOrderNumber, @RelatedTransactionQty, @ULDLineID;
					END

					CLOSE ULDOrdersCursor;
					DEALLOCATE ULDOrdersCursor;		

					-- add not found	
					SELECT @MissingNumber = SUM(TransactionQty)
					FROM dbo.ULDLine 
					WHERE ULDID = @CurrentULDID AND DELETED = 0 AND TransactionType NOT IN ('Not Found', 'Missing')
					GROUP BY ULDID;
					IF @MissingNumber > 0
					BEGIN

						-- Add not found
						SET @TransactionMovement = 'Not Found ' +  CAST((@MissingNumber) AS VARCHAR(5)) + ' ' + @ItemNumber + ' when picking ' + @WaveNumber + ' wave';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@CurrentULDID,
							1,
							@CompletedDateTime,
							@OperationBy,
							'Not Found',
							-@MissingNumber,						
							@WaveNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,							
							0,
							@CompletedDateTime,
							@OperationBy
						);

						-- add missing	
						SET @TransactionMovement = 'Missing ' +  CAST((@MissingNumber) AS VARCHAR(5)) + ' ' + @ItemNumber + ' when picking ' + @WaveNumber + ' wave';

						INSERT INTO [dbo].[ULDLine] (
							ULDID,
							SequenceNumber,
							TransactionDate,
							TransactionUser,
							TransactionType,
							TransactionQty,
							TransactionReference,
							TransactionMovement,
							TransactionLocation,
							ItemNumber,
							ItemName,
							Deleted,
							CreatedDateTime,
							CreatedBy
						)
						VALUES (
							@CurrentULDID,
							1,
							@CompletedDateTime,
							@OperationBy,
							'Missing',
							-@MissingNumber,						
							@WaveNumber,
							@TransactionMovement, 
							@ULDCurrentLocation,
							@ItemNumber,
							@ItemName,							
							0,
							@CompletedDateTime,
							@OperationBy
						);
					END
			
				END -- End Not Serial Number				

				EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
					@ULDID = @NewULDID;

				EXEC dbo.SP_VI_TBL_ULDLine_ResetULDLineSequence
					@ULDID = @CurrentULDID;

			END -- End @TaskStatus = 'Failed' OR @TaskStatus = 'Found' 


		END -- @PickingType = 'Single' OR 'Bulk'

		
		--SELECT * FROM PickingSchedule WHERE WaveID = @WaveID AND DEleted = 0;
		
		 -- Commit the transaction
         COMMIT TRANSACTION;
       
    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
