USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_GetShipmentInfoOfWaveByOrders]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Jun, 2025>
-- Description:	<Get All shipment Info of Wave by ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_GetShipmentInfoOfWaveByOrders] 
    @Orders dbo.StringArray READONLY
AS
BEGIN
    SET NOCOUNT ON;	

	SELECT wl.OrderNumber,
       wl.SourceOrderNumber,
       wl.ShipmentID,
       wl.ShipmentType,
	   wl.TenantCode,
	   w.WarehouseCode
	FROM dbo.WaveLine wl
	JOIN dbo.Wave w ON w.WaveID = wl.WaveID
	JOIN @Orders o
	  ON wl.OrderNumber = o.[Value]
	WHERE wl.Deleted = 0;

END
GO
