USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_DHLGetImageOptions]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DHLGetImageOptions]
    @ShipmentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ImageOptionsID,
        ShipmentID,
        typeCode,
        templateName,
        isRequested,
        hideAccountNumber,
        numberOfCopies,
        invoiceType,
        languageCode,
        languageCountryCode,
        languageScriptCode,
        encodingFormat,
        renderDHLLogo,
        fitLabelsToA4,
        labelFreeText,
        labelCustomerDataText,
        shipmentReceiptCustomerDataText
    FROM dbo.DHLImageOptions
    WHERE ShipmentID = @ShipmentID;
END;
GO
