USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_IPAddressStatusList_ResetIPAddressStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Mar, 2025>
-- Description:	<Reset Status of IP Address>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_IPAddressStatusList_ResetIPAddressStatus] 
   @IPAddress VARCHAR(50),
   @FirstEditedDateTime   DATETIME = NULL,
   @FirstEditedBy         VARCHAR(100) = NULL,
   @LastEditedDateTime    DATETIME = NULL,
   @LastEditedBy          VARCHAR(100) = NULL,
   @Message	 VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

   BEGIN TRY
        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.IPAddressStatusList
        SET
            FailedCount = 0,
			LastFailedAttempt = NULL,
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE IPAddress = @IPAddress AND Deleted = 0

		SELECT @@ROWCOUNT;
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
