USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_GetTenantInfoByOrderNumbers]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <13 may, 2025>
-- Description:	<Get Tenant Info By Order Numbers>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_GetTenantInfoByOrderNumbers] 
    @OrderNumbers dbo.StringArray READONLY
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	SELECT o.order_number AS OrderNumber, o.TenantCode, t.TenantName
	FROM @OrderNumbers ord
	INNER JOIN dbo.Orders o ON o.order_number = ord.Value AND o.DELETED = 0
	LEFT JOIN dbo.Tenant t ON t.TenantCode = o.TenantCode;

END
GO
