USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_UpdateAppliedTenantStatusOfReportDefinitions]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Jan, 2025>
-- Description:	<Update Apply Status of Tenant for List of Report Definition>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_UpdateAppliedTenantStatusOfReportDefinitions]  
	 @TenantCode VARCHAR(10),	
	 @ReportDefinitionInfo  ValueArray READONLY,
	 @CreatedDateTime DATETIME = NULL,
     @CreatedBy VARCHAR(100) = NULL,
	 @Message   VARCHAR(4000) OUTPUT -- Output parameter for error messages
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		DECLARE @ReportDefinitionID INT;
	
		UPDATE dbo.TenantReportDefinition
		SET DELETED = 1
		WHERE TenantCode = @TenantCode;

		-- Insert Standard
		INSERT INTO dbo.TenantReportDefinition 
			(
				TenantCode, 
				ReportDefinitionId, 
				WarehouseCode, 
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
		SELECT  @TenantCode,
				[ID],
				[Value],
				0 As Deleted,
				@CreatedDateTime,
				@CreatedBy
		FROM @ReportDefinitionInfo;

		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
