USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DHLIntegration_InsertIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 Oct, 2025>
-- Description:	<Insert DHL Integration>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DHLIntegration_InsertIntegration]  
	@TenantCode VARCHAR(10),
    @WarehouseCode VARCHAR(10),
	@Password VARCHAR(100),
	@UserName VARCHAR(100),
    @AccountNumber VARCHAR(100),
	@TenantAccountNumber VARCHAR(100),
	@ServiceMappings [dbo].[DHLServiceType] READONLY,
	@IsWarehouseAccount BIT = 0,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @DHLIntegrationID INT;
		DECLARE @TenantName VARCHAR(150);

		SELECT @DHLIntegrationID = IntegrationID FROM dbo.DHLIntegration WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		  -- Check for duplicate 
		 IF @DHLIntegrationID IS NOT NULL  -- update
		 BEGIN
			UPDATE dbo.DHLIntegration
			SET
				UserName = @UserName,
				AccountNumber = @AccountNumber,
				TenantAccountNumber = @TenantAccountNumber,
				[Password] = @Password,		
				IsWarehouseAccount = @IsWarehouseAccount,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
				LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
			WHERE IntegrationID = @DHLIntegrationID;

		 END
		 ELSE
		 BEGIN -- INSERT 

			SELECT @TenantName = TenantName 
			FROM dbo.Tenant
			WHERE TenantCode = @TenantCode AND Deleted = 0;

			INSERT INTO dbo.DHLIntegration
			(
				TenantCode,
				TenantName,
				WarehouseCode,
				AccountNumber,
				TenantAccountNumber,
				UserName,
				[Password],
				IsWarehouseAccount,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@TenantCode,
				@TenantName,
				@WarehouseCode,
				@AccountNumber,
				@TenantAccountNumber,
				@UserName,
				@Password,
				@IsWarehouseAccount,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			SET @DHLIntegrationID = SCOPE_IDENTITY();
		 END

		 DECLARE @OrderType VARCHAR(20),
			     @ServiceName VARCHAR(50),
				 @OrderServiceName VARCHAR(100);

		 DECLARE ServiceCursor CURSOR FOR
			SELECT 
				OrderType,
				ServiceName,
				OrderServiceName
			FROM @ServiceMappings

		OPEN ServiceCursor

		FETCH NEXT FROM ServiceCursor INTO 
			@OrderType,
			@ServiceName,
			@OrderServiceName

		WHILE @@FETCH_STATUS = 0
		BEGIN	

			-- insert line
			INSERT INTO dbo.DHLIntegrationLine
			(
				IntegrationID,				
				OrderType,
				ServiceName,
				OrderServiceName,					
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@DHLIntegrationID,				
				@OrderType,
				@ServiceName,
				@OrderServiceName,							
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			FETCH NEXT FROM ServiceCursor INTO 
				@OrderType,
				@ServiceName,
				@OrderServiceName
		END

		CLOSE ServiceCursor
		DEALLOCATE ServiceCursor
		 
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
