USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ExitStockTakeTask]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 April, 2025>
-- Description:	<Exit Stock Take Task>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ExitStockTakeTask] 
    @ServiceID INT,
	@StockTakeScheduleID INT,
	@OperationDateTime DATETIME = NULL,
	@OperationBy       VARCHAR(100),
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		DECLARE 
				@ServiceStatus VARCHAR(20),
				@ServiceType VARCHAR(50),
				@WarehouseCode VARCHAR(20),
				@Status VARCHAR(20),
				@TenantCode VARCHAR(10);

		SELECT @ServiceStatus = Status,
			   @ServiceType = ServiceType
		FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;
		
		IF @ServiceStatus != 'InProgress'
		BEGIN
			SET @Message = 'Service Status is not In Progress.'
			RETURN;
		END

		IF @ServiceType IS NULL OR @ServiceType != 'Stocktake'
		BEGIN
			SET @Message = 'This Service is not Stocktake Service.'			
			RETURN;
		END

		SELECT @Status = [Status] FROM dbo.StockTakeSchedule 
		WHERE StockTakeScheduleID = @StockTakeScheduleID AND DELETED = 0;

		IF @Status IS NULL OR @Status != 'Taken'
		BEGIN
			SET @Message = 'This StockTake is over.'
			RETURN;
		END

		UPDATE dbo.StockTakeSchedule
			SET [Status] = 'Init',
			    OperationStaff = NULL,
			    StartDate = NULL,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
				LastEditedDateTime = @OperationDateTime,
				LastEditedBy = @OperationBy
			WHERE StockTakeScheduleID = @StockTakeScheduleID;
       
    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
