USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_ViewChargeItem]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Nov, 2024>
-- Description:	<Get detail information of Charge Item>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_ViewChargeItem] 
    @ChargeItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

   -- Retrieve 
    SELECT ci.* , a.APIName AS APIName
    FROM dbo.ChargeItem ci
	LEFT JOIN dbo.API a
	ON ci.APIID = a.APIID
    WHERE ci.ChargeItemID = @ChargeItemID AND ci.DELETED = 0;
END
GO
