USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APShipment_InsertAPIntShipment]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Insert Int shipment>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APShipment_InsertAPIntShipment]  
	@FulfilmentID INT,
	@BoxSize dbo.BoxSizeType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@NewShipmentID  INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @StartedTran bit = 0;

	BEGIN TRY
		
        IF @@TRANCOUNT = 0
		BEGIN
			SET @StartedTran = 1;
			BEGIN TRANSACTION;
		END      

		DECLARE @IntegrationID INT,				
				@ImportReferenceNumber VARCHAR(50),
				@ExportDeclarationNumber VARCHAR(50),
				@MLID VARCHAR(50),
				@Carrier VARCHAR(500),
				@SourceOrderNumber VARCHAR(50),
				@OrderNumber VARCHAR(50),
				@OrderSource VARCHAR(50),
				@WarehouseCode  VARCHAR(10),
				@TenantCode VARCHAR(10);

		DECLARE @OrderServiceName VARCHAR(100),
				@IntegrationProductID VARCHAR(20),
			    @IntegrationProductCode VARCHAR(50),
				@IntegrationServiceCode VARCHAR(10),
				@IntegrationServiceName VARCHAR(50),
				@InsuranceAmount DECIMAL(10,2),
				@ItemValue DECIMAL(10,2),
				@AuthorityToLeave BIT,
				@AllowPartialDelivery BIT;

		DECLARE @Length Decimal(10,2),
				@Height Decimal(10,2),
				@Width Decimal(10,2),
				@Weight Decimal(10,2),				
				@ItemWeight Decimal(10,2);

		DECLARE 			
			@Shipment_Reference      VARCHAR(50),
			@Shipment_Reference_1    VARCHAR(50),
			@Shipment_Reference_2    VARCHAR(50),
			@email_tracking_enabled  BIT,
			@from_Name               VARCHAR(50),
			@from_Business_Name      VARCHAR(50),
			@from_Addressline1       VARCHAR(50),
			@from_Addressline2       VARCHAR(50),
			@from_Suburb             VARCHAR(20),
			@from_State              VARCHAR(20),
			@from_Postcode           VARCHAR(20),
			@from_Phone              VARCHAR(20),
			@from_Email              VARCHAR(150),
			@to_Name                 VARCHAR(50),
			@to_business_Name        VARCHAR(50),
			@to_Addressline1         VARCHAR(50),
			@to_Addressline2         VARCHAR(50),
			@to_Suburb               VARCHAR(20),
			@to_State                VARCHAR(20),
			@to_Country				 VARCHAR(50),
			@to_Postcode             VARCHAR(20),
			@to_phone                VARCHAR(20),
			@to_email                VARCHAR(150),	
			@NewShipmentItemID		 INT;

		-- get tenant code
		SELECT @TenantCode = TenantCode, 
				@WarehouseCode = WarehouseCode, 
				@OrderSource = OrderSource,
				@SourceOrderNumber = order_number,
				@OrderNumber = OrderNumber,
				@Carrier = Carrier,
				@to_Name = shipping_address_name,
				@to_business_Name = shipping_address_company,
				@to_Addressline1 = shipping_address_address1,
				@to_Addressline2 = shipping_address_address2,
				@to_Suburb = shipping_address_city,
				@to_State = shipping_address_province,
				@to_Postcode = shipping_address_zip,				  
				@to_phone = Phone,
				@to_email = contact_email,
				@to_Country = shipping_address_country
		FROM dbo.Fulfilment
		WHERE FulfilmentID = @FulfilmentID AND Deleted = 0;

		SET @to_Country = dbo.fn_GetCountryCode(@to_Country);
		IF @to_Country IS NULL
		BEGIN
			SET @Message = 'Country Code does not exist.';			
			RETURN;
		END
		

		-- get Intergration info
		SELECT @IntegrationID = IntegrationID,
				@MLID = MLID, 
				@ImportReferenceNumber = ImportReferenceNumber, 
				@ExportDeclarationNumber = ExportDeclarationNumber
		FROM dbo.APIntegration
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;

		-- get Tenant name
		SELECT @from_Name = TenantName
		FROM dbo.Tenant
		WHERE TenantCode = @TenantCode AND Deleted = 0;

		
		SET @email_tracking_enabled = 1;
		SET @Shipment_Reference = @OrderNumber;
		SET @Shipment_Reference_1 = @TenantCode;

		-- get data from warehouse
		SELECT 													
			@from_Addressline1 = WAddressLine1,
			@from_Addressline2 = WAddressLine2,
			@from_Suburb = WSuburb,
			@from_State = WState,
			@from_Postcode = WPostcode,
			@from_Phone = Phone,
			@from_Email = Email
		FROM LocWarehouse
		WHERE WarehouseCode = @WarehouseCode AND Deleted = 0;
			
		IF @IntegrationID IS NOT NULL
		BEGIN
			IF @OrderSource = 'Manual'
			BEGIN
				SET @Carrier = TRIM(REPLACE(@Carrier, 'Australia Post', ''));
				SELECT 
					@IntegrationProductID = s.ProductID,
					@IntegrationProductCode = s.ProductCode,
					@IntegrationServiceCode = s.ServiceCode,
					@IntegrationServiceName = s.ServiceName,					
					@AuthorityToLeave = s.AuthorityToLeave,	
					@AllowPartialDelivery = s.AllowPartialDelivery
				FROM dbo.AP_StandardService s
				WHERE s.ServiceName = @Carrier AND Deleted = 0;

				IF @to_phone IS NULL AND @to_email IS NULL
				BEGIN
					SELECT @to_Addressline1 = shipping_address_address1,
						   @to_Addressline2 = shipping_address_address2,
						   @to_phone = Phone,
						   @to_email = contact_email,
						   @to_Name = shipping_address_name,
						   @to_business_Name = shipping_address_company,							
						   @to_Suburb = shipping_address_city,
						   @to_State = shipping_address_province,
						   @to_Postcode = shipping_address_zip  
					FROM dbo.Orders
					WHERE Deleted = 0 ANd order_number = @SourceOrderNumber;
				END
					
			END
			ELSE  -- Not manual
			BEGIN

				SET @Carrier = REPLACE(@Carrier COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       'Australia Post ' COLLATE SQL_Latin1_General_CP1_CI_AS, 
                       '');

				SELECT 
					@IntegrationProductID = s.ProductID,
					@IntegrationProductCode = s.ProductCode,
					@IntegrationServiceCode = s.ServiceCode,
					@IntegrationServiceName = s.ServiceName
				FROM dbo.APIntegrationLine l 
				LEFT JOIN dbo.AP_Service s ON s.ServiceID = l.ServiceID AND s.Deleted = 0
				where l.Deleted = 0 and l.IntegrationID = @IntegrationID 
						AND l.OrderType COLLATE SQL_Latin1_General_CP1_CI_AS = @OrderSource COLLATE SQL_Latin1_General_CP1_CI_AS
						AND l.OrderServiceName = @Carrier ;
			END
		END -- End @IntegrationID IS NOT NULL

		IF LEN(@to_Addressline1) > 40
		BEGIN
			DECLARE @SplitPos INT;

			-- Find the last space within the first 40 characters
			SET @SplitPos = LEN(LEFT(@to_Addressline1, 40)) 
						  - CHARINDEX(' ', REVERSE(LEFT(@to_Addressline1, 40))) + 1;

			-- If no space found (CHARINDEX = 0), just cut at 40
			IF @SplitPos <= 0 OR @SplitPos > 40
				SET @SplitPos = 40;

			-- Assign line1 and line2
			SET @to_Addressline2 = ISNULL(@to_Addressline2, '') 
								 + LTRIM(SUBSTRING(@to_Addressline1, @SplitPos + 1, 60));

			SET @to_Addressline1 = LEFT(@to_Addressline1, @SplitPos);
		END	

		IF @IntegrationServiceName IS NOT NULL AND @IntegrationServiceName = 'International'
		BEGIN
				
			INSERT INTO dbo.AP_ShipmentINT
			(
				ServiceName,
				Shipment_Reference,
				Shipment_Reference_1,
				Shipment_Reference_2,
				email_tracking_enabled,
				from_Name,
				from_Business_Name,
				from_Addressline1,
				from_Addressline2,
				from_Suburb,
				from_State,
				from_Postcode,
				from_Phone,
				from_Email,
				to_Name,
				to_business_Name,
				to_Addressline1,
				to_Addressline2,
				to_Suburb,
				to_State,
				to_Postcode,
				to_Country,
				to_phone,
				to_email,
				TenantMLID,
				WarehouseCode,
				TenantCode,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@IntegrationServiceName, 
				@Shipment_Reference,
				@Shipment_Reference_1,
				@Shipment_Reference_2,
				@email_tracking_enabled, 
				@from_Name, 
				@from_Business_Name,
				@from_Addressline1,
				@from_Addressline2,
				@from_Suburb,
				@from_State,
				@from_Postcode,
				@from_Phone,
				@from_Email,
				@to_Name,
				@to_business_Name,
				@to_Addressline1,
				@to_Addressline2,
				@to_Suburb,
				@to_State,
				@to_Postcode,
				@to_Country,
				@to_phone,
				@to_email,
				@MLID,
				@WarehouseCode,
				@TenantCode, 
				0, 
				@CreatedDateTime, 
				@CreatedBy 
			);

			SET @NewShipmentID = SCOPE_IDENTITY();

			DECLARE @ClassificationType VARCHAR(100) = NULL,					
					@DescriptionOfOther VARCHAR(500) = NULL,  -- add if @ClassificationType = 'OTHER'
					@ItemReference VARCHAR(50) = NULL,
					@ItemDescription VARCHAR(500) = NULL;

			SET @ClassificationType = 'SALE_OF_GOODS';
			SET @ItemReference = CAST(@FulfilmentID AS VARCHAR(10));
			SET @ItemDescription = @TenantCode;

			IF @OrderSource = 'Manual'
			BEGIN
				SET @InsuranceAmount= 0; -- have to calculate
			END

			-- Insert one box to AP_ShipmentItemsINT
			INSERT INTO dbo.AP_ShipmentItemsINT
			(
				ShipmentID,
				classification_type,
				commercial_value,
				description_of_other,
				export_declaration_number,
				import_reference_number,
				item_Reference,
				item_description,
				product_id,
				Length,
				Height,
				Width,
				Weight,
				authority_to_leave,
				allow_partial_delivery,
				Article,
				InsuranceAmount,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES( 
				@NewShipmentID,
				@ClassificationType, 
				0,
				@DescriptionOfOther,				
				@ExportDeclarationNumber,
				@ImportReferenceNumber,
				@ItemReference,
				@ItemDescription, ---
				@IntegrationProductID,
				'0',
				'0',
				'0',
				'0',
				@AuthorityToLeave,
				@AllowPartialDelivery,
				1,
				@InsuranceAmount,
				0,                    
				@CreatedDateTime,
				@CreatedBy 
			);
			

			SET @NewShipmentItemID = SCOPE_IDENTITY();

			-- insert to AP_ShipmentItemContentsINT

			DECLARE @Sku VARCHAR(150);; -- input parameter
			DECLARE @Quantity INT, @ItemID INT;			
			DECLARE @Description VARCHAR(300);

			DECLARE fulfilment_cursor CURSOR LOCAL FAST_FORWARD FOR
			SELECT line_items_sku, line_items_current_quantity , line_items_name, ItemID
			FROM dbo.FulfilmentLine
			WHERE FulfilmentID = @FulfilmentID  AND Deleted = 0;

			OPEN fulfilment_cursor;

			FETCH NEXT FROM fulfilment_cursor 
			INTO @Sku, @Quantity, @Description, @ItemID;

			SET @Weight = 0;

			WHILE @@FETCH_STATUS = 0
			BEGIN

				-- get weight
				SELECT @ItemWeight = ISNULL(Weight,0)
				FROM dbo.ItemTradeUnit
				WHERE ItemID = @ItemID 
					AND ItemType = 'Unit'
					AND Deleted = 0;

				SELECT @ItemValue = ISNULL(ItemPrice, 0)
				FROM dbo.Items
				WHERE ItemID = @ItemID AND Deleted = 0;

				SET @ItemValue = @Quantity * @ItemValue;
				SET @InsuranceAmount = @InsuranceAmount + @ItemValue;

				INSERT INTO dbo.AP_ShipmentItemContentsINT
				(
					ShipmentItemID,
					country_of_origin,
					description,
					tariff_code,
					sku,
					quantity,				
					value,
					weight,
					item_contents_reference,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VALUES
				(
					@NewShipmentItemID,
					'AU',
					@Description,
					'420330',
					@Sku,
					@Quantity,				
					@ItemValue,
					@ItemWeight,
					'',
					0,              
					@CreatedDateTime,
					@CreatedBy 
				);
				
				SET @Weight = @Weight + (@Quantity * @ItemWeight);

				-- Next row
				FETCH NEXT FROM fulfilment_cursor 
				INTO  @Sku, @Quantity, @Description, @ItemID;
			END

			CLOSE fulfilment_cursor;
			DEALLOCATE fulfilment_cursor;


			SELECT 
				@Length = CEILING(ISNULL(Length, 0) / 10.0),
				@Height = CEILING(ISNULL(Height, 0) / 10.0),
				@Width  = CEILING(ISNULL(Width, 0) / 10.0)
			FROM @BoxSize;


			-- Update
			Update dbo.AP_ShipmentItemsINT
			SET 
				InsuranceAmount = @InsuranceAmount,
				Length = CAST(CAST(@Length AS INT) AS VARCHAR(20)),
				Height = CAST(CAST(@Height AS INT) AS VARCHAR(20)),
				Width = CAST(CAST(@Width  AS INT) AS VARCHAR(20)),
				Weight = CAST(@Weight AS varchar(20))
			WHERE ShipmentItemID = @NewShipmentItemID;
		END -- END @IntegrationServiceName <> 'International'	

		-- Commit the transaction     
		IF @StartedTran = 1
            COMMIT TRANSACTION;       

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
			IF @StartedTran = 1
				ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
