USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_ConvertTenant2Custom]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Dec, 2024>
-- Description:	<Convert Standard to Custom>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_ConvertTenant2Custom]  
	@TenantCode VARCHAR(10),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION;

		-- Update Tenant record
		UPDATE dbo.Tenant
		SET IsUsingCustomPrice = 1
		WHERE TenantCode = @TenantCode;

		-- Insert and update in a set-based manner
		INSERT INTO dbo.TenantCustomCost (
			TenantChargeItemID,
			WarehouseCode,
			ChargeItemPrice,
			ChargeItemCurrency,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		SELECT 
			TCI.TenantChargeItemID,
			CIC.WarehouseCode,
			CIC.ChargeItemPrice,
			CIC.ChargeItemCurrency,
			0,
			@CreatedDateTime,
			@CreatedBy
		FROM dbo.TenantChargeItem TCI
		INNER JOIN dbo.ChargeItemCost CIC ON CIC.ChargeItemID = TCI.ChargeItemID
		WHERE TCI.ChargeType = 'Standard'
		  AND TCI.TenantCode = @TenantCode
		  AND TCI.Deleted = 0
		  AND CIC.Deleted = 0;

		-- Update ChargeType
		UPDATE dbo.TenantChargeItem
		SET ChargeType = 'Custom',
			LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@CreatedBy, LastEditedBy),
		    FirstEditedDateTime = COALESCE(@CreatedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@CreatedBy, FirstEditedBy)
			
		WHERE TenantCode = @TenantCode
		  AND ChargeType = 'Standard'
		  AND Deleted = 0;

		COMMIT TRANSACTION;

		
    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
