USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_InsertOrdersToWave]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 Jun, 2025>
-- Description:	<Insert Orders to Wave>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_InsertOrdersToWave]  
	@FulfilmentIDs dbo.IdArray READONLY,   
	@FulfilmentType VARCHAR(50), --Orders - Kitting - Release Stock - Destroy Stock
	@PickingType VARCHAR(50) = N'PickToOrder',
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
	@NewWaveID INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

    BEGIN TRANSACTION

		DECLARE @PickRequired BIT,
				@SortRequired BIT,
				@PackRequired BIT,
				@MailingRequired BIT;

		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @FirstFulfilmentID INT;
		DECLARE @NumberOfOrders INT;

		SELECT TOP 1 @FirstFulfilmentID = [Value] FROM @FulfilmentIDs;
		SELECT @NumberOfOrders = COUNT(*) FROM @FulfilmentIDs;

		--get warehouse code
		SELECT @WarehouseCode = WarehouseCode
		FROM  dbo.Fulfilment			
		WHERE FulfilmentID = @FirstFulfilmentID;	

		IF @FulfilmentType = 'Kitting' 
		BEGIN
			-- Check
			IF @NumberOfOrders > 1
			BEGIN
				SET @Message = 'A Kitting wave cannot contain more than 1 orders.';
				ROLLBACK TRANSACTION;
				RETURN;
			END						

			SET @PickRequired = 1;
			SET	@SortRequired = 0;
			SET	@PackRequired = 0;
			SET	@MailingRequired = 0;
			SET @PickingType = NULL;
		END 
		ELSE IF @FulfilmentType = 'Orders'
		BEGIN
			-- Check
			IF @NumberOfOrders > 50
			BEGIN
				SET @Message = 'A Order wave cannot contain more than 50 orders.';
				ROLLBACK TRANSACTION;
				RETURN;
			END

			SET @PickRequired = 1;
			IF @PickingType = 'PickToOrder'
			BEGIN
				SET	@SortRequired = 0;
			END
			ELSE IF @PickingType = 'Single'
			BEGIN
				SET	@SortRequired = 0;
			END
			ELSE
			BEGIN
				SET	@SortRequired = 1;
			END			
			
			SET	@PackRequired = 1;
			SET	@MailingRequired = 1;
		END 


		-- create Wave Number
		DECLARE @WaveID bigint;
		DECLARE @WaveNumber VARCHAR(11);		

		-- Get next sequence value
		SET @WaveID = NEXT VALUE FOR dbo.WaveNumberSequence;

		-- Format it with leading zeroes (11 digits)
		SET @WaveNumber = CAST(@WaveID AS VARCHAR(11)); --RIGHT('00000000000' + CAST(@WaveID AS varchar), 11);
	
		-- insert to wave
		INSERT INTO dbo.Wave (				
			WaveNumber,
			WaveStatus,
			WaveType,
			WarehouseCode,
			NumberOfOrders,	
			PickRequired,
			SortRequired,
			PackRequired,
			MailingRequired,
			PickingType,
			CurrentStep,
			StepStatus,
			Deleted,
			CreatedBy,
			CreatedDateTime
		)
		VALUES (				
			@WaveNumber,				
			'Pending',				
			@FulfilmentType,
			@WarehouseCode,
			@NumberOfOrders,		
			@PickRequired,
			@SortRequired,
			@PackRequired,
			@MailingRequired,
			@PickingType,
			'Picking',
			'Pending',
			0,
			@CreatedBy,
			@CreatedDateTime
		);

		-- insert to wave line
		SET @NewWaveID = SCOPE_IDENTITY();
		
		--loop create wave
		DECLARE OrderCursor CURSOR FOR
		SELECT Value
		FROM @FulfilmentIDs;
		
		
		DECLARE @FulfilmentID INT;
		DECLARE @OrderNumber VARCHAR(50);
		DECLARE @SourceOrderNumber VARCHAR(50);
		DECLARE @TenantCode VARCHAR(10);
		DECLARE @SlotNumber INT;
		SET @SlotNumber = 1;


		OPEN OrderCursor;

		FETCH NEXT FROM OrderCursor INTO @FulfilmentID;

		WHILE @@FETCH_STATUS = 0
		BEGIN

			SELECT @OrderNumber = OrderNumber,
				   @SourceOrderNumber = order_number,
				   @TenantCode = TenantCode
			FROM Fulfilment WHERE FulfilmentID = @FulfilmentID AND Deleted = 1;				

			INSERT INTO dbo.WaveLine (
				WaveID,
				WaveNumber,
				OrderNumber,
				SourceOrderNumber,
				TenantCode,
				PickStatus,						
				Deleted,
				CreatedBy,
				CreatedDateTime
			)
			VALUES (
				@NewWaveID,             
				@WaveNumber,          
				@OrderNumber,  				
				@SourceOrderNumber, 
				@TenantCode,
				'Pending', 
				0,             
				@CreatedBy,
				@CreatedDateTime         
			);


		    -- Update status for kitting service
			IF @FulfilmentType = 'Kitting' 
			BEGIN
				-- update receipt status
				UPDATE dbo.Service
				SET [Status] = 'InProgress',
					StartServiceTime = COALESCE(StartServiceTime, @CreatedDateTime),
					StartServiceBy = COALESCE(StartServiceBy, @CreatedBy),
					FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
					FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
					LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
				WHERE ServiceNumber = @SourceOrderNumber AND Deleted = 0;	

				-- update uld line
				UPDATE dbo.ULDLine
				SET	Deleted = 0
				WHERE Deleted = 1 AND TransactionReference = @SourceOrderNumber AND AllocatedType IS NOT NULL;

			END
			ELSE IF @FulfilmentType = 'Orders'
			BEGIN
				-- update status of Manual orders (if having)
				UPDATE dbo.Orders
				SET OrderStatus = 'InProgress',
				    FulfilmentStatus = 'Started',
			        FulfilmentStatusDateTime = @CreatedDateTime,
					FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
					FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
					LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
				WHERE order_number = @SourceOrderNumber AND Deleted = 0 AND TenantCode = @TenantCode;	
			END

			
			-- update picking schedule
			IF @FulfilmentType = 'Kitting' OR  (@FulfilmentType = 'Orders' AND @PickingType = 'PickToOrder')
			BEGIN
				UPDATE dbo.PickingSchedule
				SET	
					Deleted = 0,
					WaveID = @NewWaveID,
					OrderNumber = @OrderNumber
				WHERE Deleted = 1 
					  AND FulfilmentOrder = @SourceOrderNumber
					  AND FulfilmentType = @FulfilmentType
					  AND (TenantCode IS NULL OR TenantCode = @TenantCode);
			END
			ELSE
			BEGIN -- @PickingType = 'Single' or 'Bulk'
				UPDATE dbo.PickingSchedule
				SET	
					Deleted = 0,
					WaveID = @NewWaveID,
					OrderNumber = NULL
				WHERE Deleted = 1 
					  AND OrderNumber = @OrderNumber
					  AND FulfilmentType = @FulfilmentType
					  AND (TenantCode IS NULL OR TenantCode = @TenantCode);
			END


			-- update fulfilment orders
			IF EXISTS(SELECT 1 FROM dbo.Fulfilment WHERE FulfilmentID = @FulfilmentID AND Deleted = 1)
			BEGIN
				UPDATE dbo.Fulfilment
				SET
					Deleted = 0,
					FulfilmentStatus = 'Fulfilment',
					LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
				WHERE FulfilmentID = @FulfilmentID;

				UPDATE dbo.FulfilmentLine
				SET
					Deleted = 0,
					LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
					LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
				WHERE FulfilmentID = @FulfilmentID;
			END

			--- create Slot number
			IF @FulfilmentType = 'Orders' AND @PickingType = 'PickToOrder'
			BEGIN
				INSERT INTO dbo.PickingInfo (
					WaveID,									
					OrderNumber,									
					SlotNumber,
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
				VAlUES(
					@NewWaveID, 
					@OrderNumber, 
					@SlotNumber, 
					0, 
					@CreatedDateTime,
					@CreatedBy);
								
				SET @SlotNumber = @SlotNumber + 1;
			END

			FETCH NEXT FROM OrderCursor INTO @FulfilmentID;
		END

		CLOSE OrderCursor;
		DEALLOCATE OrderCursor;
		
		
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
