USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_StandardBox_ListStandardBoxes]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Sep, 2025>
-- Description:	<Get list of Standard Box with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_StandardBox_ListStandardBoxes]
	 @Search NVARCHAR(100),
	 @PageNumber INT,
     @PageSize INT,
     @OrderBy NVARCHAR(50),
     @OrderDir NVARCHAR(4), -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.StandardBox WHERE DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT * FROM dbo.StandardBox WHERE DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.StandardBox 
		WHERE DELETED = 0 
		AND (
			LOWER(Name) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(Description) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT * FROM dbo.StandardBox 
            WHERE DELETED = 0 
            AND (
                LOWER(Name) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(Description) LIKE ''%' + LOWER(@Search) + '%''                
            ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
