USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ManualIntegration_InsertIntegration]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <30 Sep, 2025>
-- Description:	<Insert Manual Integration>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ManualIntegration_InsertIntegration]  
	@TenantCode VARCHAR(10),
    @WarehouseCode VARCHAR(10),	
	@ServiceMappings dbo.ManualServiceType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION
		
		DECLARE @TenantName VARCHAR(150);
		SELECT @TenantName = TenantName
		FROM dbo.Tenant
		WHERE TenantCode = @TenantCode AND Deleted = 0;
		
		-- remove old one
		UPDATE dbo.ManualIntegration
		SET
			Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CreatedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @CreatedBy),
			LastEditedDateTime = COALESCE(@CreatedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@CreatedBy, LastEditedBy)
		WHERE  TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND Deleted = 0;


		 DECLARE 
				@OrderType NCHAR(20),
				@OrderServiceName NCHAR(100);

		 DECLARE ServiceCursor CURSOR FOR
			SELECT 
				OrderType,
				OrderServiceName
			FROM @ServiceMappings

		OPEN ServiceCursor

		FETCH NEXT FROM ServiceCursor INTO 			
			@OrderType,
			@OrderServiceName

		WHILE @@FETCH_STATUS = 0
		BEGIN	
			
			-- insert line
			INSERT INTO dbo.ManualIntegration
			(
				TenantCode,
				TenantName,
				WarehouseCode,
				OrderType,
				OrderServiceName,					
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@TenantCode,
				@TenantName,
				@WarehouseCode,
				@OrderType,
				@OrderServiceName,							
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			);

			FETCH NEXT FROM ServiceCursor INTO 				
				@OrderType,
				@OrderServiceName
		END

		CLOSE ServiceCursor
		DEALLOCATE ServiceCursor

		 
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
