USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Dashboard_GetDashboardInfo]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <1 Nov, 2025>
-- Description:	<Dashboard API>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Dashboard_GetDashboardInfo] 	
	@TenantCode   VARCHAR(20) = NULL,
	@WarehouseCode VARCHAR(10) = NULL,
	@StartDate DATETIME = NULL,
	@EndDate DATETIME = NULL,
	@PendingOrders INT OUTPUT,
	@ProcessedOrders INT OUTPUT,
	@InProgressOrders INT OUTPUT,
	@ErrorOrders INT OUTPUT,
	@ManualOrders INT OUTPUT,
	@ShopifyOrders INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @UtcTodayStart DATETIME = CAST(GETDATE() AS DATE);
	DECLARE @UtcTodayEnd   DATETIME = DATEADD(SECOND, -1, DATEADD(DAY, 1, @UtcTodayStart));

	IF @StartDate IS NOT NULL AND @EndDate IS NOT NULL
	BEGIN
		SET @UtcTodayStart = @StartDate;
		SET @UtcTodayEnd = @EndDate;
	END	

	-- Pending
	SELECT @PendingOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Fulfilment'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	-- InProgress
	SELECT @InProgressOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	       AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Started'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	-- Completed
	SELECT @ProcessedOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Completed'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	--Error
	SELECT @ErrorOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Error'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);


	SELECT @ManualOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND OrderSource = 'Manual'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	SELECT @ShopifyOrders = COUNT(OrderNumber)
	FROM Fulfilment 
	WHERE Deleted = 0 
	      AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND OrderSource = 'shopify'
		  AND CreatedDateTime BETWEEN @UtcTodayStart AND @UtcTodayEnd
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode);

	DECLARE @CurrentYear INT = YEAR(GETDATE());
	DECLARE @CurrentMonth INT = MONTH(GETDATE());

	DECLARE @StartFinancialYear DATE;
	DECLARE @EndFinancialYear DATE;

	------------------------------------------------------------
	-- 1. Determine financial year based on current month
	------------------------------------------------------------
	IF @CurrentMonth > 6
	BEGIN
		-- Current FY: 1 July THIS YEAR → 30 June NEXT YEAR
		SET @StartFinancialYear = DATEFROMPARTS(@CurrentYear, 7, 1);
		SET @EndFinancialYear   = DATEFROMPARTS(@CurrentYear + 1, 6, 30);
	END
	ELSE
	BEGIN
		-- Current FY: 1 July LAST YEAR → 30 June THIS YEAR
		SET @StartFinancialYear = DATEFROMPARTS(@CurrentYear - 1, 7, 1);
		SET @EndFinancialYear   = DATEFROMPARTS(@CurrentYear, 6, 30);
	END;

		----------------------------------------------
	-- 1. Generate 12-month financial year range
	----------------------------------------------
	WITH FinancialMonths AS
	(
		SELECT 
			1 AS Seq,
			DATEADD(MONTH, 0, @StartFinancialYear) AS MonthStart
		UNION ALL
		SELECT 
			Seq + 1,
			DATEADD(MONTH, Seq, @StartFinancialYear)
		FROM FinancialMonths
		WHERE Seq < 11  -- total 12 months (0 → 11)
	),
	----------------------------------------------
	-- 2. Aggregate completed orders per month
	----------------------------------------------
	Orders AS
	(
		SELECT
			YEAR(CreatedDateTime) AS [Year],
			MONTH(CreatedDateTime) AS [Month],
			COUNT(OrderNumber) AS CompletedOrders
		FROM Fulfilment
		WHERE Deleted = 0
		  AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
		  AND FulfilmentStatus = 'Completed'
		  AND CreatedDateTime >= @StartFinancialYear
		  AND CreatedDateTime < DATEADD(DAY, 1, @EndFinancialYear)
		  AND (@TenantCode IS NULL OR TenantCode = @TenantCode)
		GROUP BY 
			YEAR(CreatedDateTime),
			MONTH(CreatedDateTime)
	)
	----------------------------------------------
	-- 3. Join Months + Orders to show zeros
	----------------------------------------------
	SELECT
		YEAR(FM.MonthStart) AS [Year],
		MONTH(FM.MonthStart) AS [Month],
		DATENAME(MONTH, FM.MonthStart) AS [MonthName],
		ISNULL(O.CompletedOrders, 0) AS CompletedOrders
	FROM FinancialMonths FM
	LEFT JOIN Orders O
		ON YEAR(FM.MonthStart) = O.[Year]
	   AND MONTH(FM.MonthStart) = O.[Month]
	ORDER BY FM.MonthStart
	OPTION (MAXRECURSION 0);


END
GO
