USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetLocationInfoFromCode]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <18 Mar, 2025>
-- Description:	<Get Location Info from Location Code>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetLocationInfoFromCode]
	@LocationCode VARCHAR(50),
	@LocationFound BIT OUTPUT,
	@TemporaryLocation BIT OUTPUT,
	@ColumnId INT OUTPUT,
	@LocWarehouseCode NVARCHAR(1) OUTPUT,
	@LocAreaCode NVARCHAR(1) OUTPUT,
	@LocSectionCode NVARCHAR(3) OUTPUT,
	@LocRowCode NVARCHAR(4) OUTPUT,
	@LocColumnCode NVARCHAR(6) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	
	SET NOCOUNT ON;

	SET @LocationFound = 0;
	SET @TemporaryLocation = 0;
	
	IF LEN(@LocationCode) != 33
	BEGIN
		SET @LocationFound = 0;
		RETURN;
	END
	ELSE
	BEGIN

		-- check temp location
		EXEC dbo.[SP_VI_TBL_LocTempLocation_CheckLocationAvailable] 
			@LocationCode = @LocationCode,
			@LocationFound = @LocationFound OUTPUT,
			@LocationLabel = NULL,
			@IsEmpty = NULL;

		IF @LocationFound = 1
		BEGIN
			SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
			SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
			SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
			SET @TemporaryLocation = 1;
			RETURN;
		END
		ELSE
		BEGIN
			SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
			SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
			SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
			SET @LocRowCode = SUBSTRING(@LocationCode, 6, 4);
			SET @LocColumnCode = SUBSTRING(@LocationCode, 10, 6);

			DECLARE @LocWarehouseID INT,
            @LocAreaID INT,
			@LocSectionID INT,
            @LocRowID INT,
            @LocColumnID INT;

			-- Get LocWarehouse ID
			SELECT @LocWarehouseID = LocWarehouseID
			FROM dbo.LocWarehouse
			WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

			IF @LocWarehouseID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			-- Get LocArea ID
			SELECT @LocAreaID = LocAreaID
			FROM dbo.LocArea
			WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

			IF @LocAreaID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			 -- Get LocSection Code
			SELECT @LocSectionID = LocSectionID
			FROM dbo.LocSection
			WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;

			IF @LocSectionID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

			-- Get LocRow Code
			SELECT @LocRowID = LocRowID
			FROM dbo.LocRow
			WHERE RowCode = @LocRowCode AND LocSectionID = @LocSectionID AND DELETED = 0;

			IF @LocRowID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END

		
			-- Get LocColumn Code
			SELECT @LocColumnID = LocColumnID
			FROM dbo.LocColumn
			WHERE ColumnCode = @LocColumnCode AND LocRowID = @LocRowID AND DELETED = 0;

			IF @LocColumnID IS NULL
			BEGIN
				SET @LocationFound = 0;
				RETURN;
			END
			ELSE
			BEGIN
				SET @ColumnId = @LocColumnID;
			END

			SET @LocationFound = 1;

		END
	
	END

END
GO
