USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_CurrentWarehousePrinterUser_GetCurrentWarehousePrinterOfUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Nov, 2024>
-- Description:	<Get Current Warehouse Printer of user>
-- =============================================
CREATE PROCEDURE[dbo].[SP_VI_TBL_CurrentWarehousePrinterUser_GetCurrentWarehousePrinterOfUser] 
    @AzureUserId VARCHAR(50),
	@WarehouseCode VARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE	@PrinterName VARCHAR(200);

	SELECT @PrinterName = PrinterName 
	FROM dbo.CurrentWarehousePrinterUser 
	WHERE AzureUserId = @AzureUserId AND WarehouseCode = @WarehouseCode;

	SELECT @PrinterName;
	
END
GO
