USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertLabourServiceInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Feb, 2025>
-- Description:	<Insert Labour Service Invoice>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertLabourServiceInvoice]  
	@ServiceID INT,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		DECLARE @TenantCode VARCHAR(10);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ServiceNumber VARCHAR(50);		

		SELECT @WarehouseCode = WarehouseCode,
			   @TenantCode = TenantCode,
			   @ServiceNumber = ServiceNumber
		FROM dbo.Service WHERE ServiceID = @ServiceID AND DELETED = 0;

		IF @WarehouseCode IS NULL
		BEGIN
			 SET @Message = 'This Service does not exists.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @Charge DECIMAL(10, 2);
		DECLARE @Currency VARCHAR(20);
		DECLARE @ChargeType VARCHAR(20); -- Standard or Custom
		DECLARE @ChargeItemID INT;
		DECLARE @ChargeItemName VARCHAR(200);

		DECLARE @Activity NVARCHAR(255);
		DECLARE @NumberOfHours INT;
		DECLARE @NumberOfPeople INT;

		DECLARE service_cursor CURSOR FOR 
		SELECT Activity, NumberOfHours, NumberOfPeople FROM dbo.ServiceLine	WHERE ServiceID = @ServiceID AND DELETED = 0;

		OPEN service_cursor;

		FETCH NEXT FROM service_cursor INTO @Activity, @NumberOfHours, @NumberOfPeople;

		WHILE @@FETCH_STATUS = 0
		BEGIN
		
			SELECT @ChargeItemID = ChargeItemID, @ChargeItemName = ChargeItemName
			FROM dbo.ChargeItem
			WHERE ChargeItemName = @Activity AND DELETED = 0 AND ChargeItemGroup = 'Labour Service' AND ChargeItemUnit = 'Person per Hour';

			IF @ChargeItemID IS NOT NULL
			BEGIN
				-- Call the child stored procedure
				EXEC [dbo].[SP_VI_TBL_ChargeItem_GetCostInfoOfTenantByWarehouseCode]
					@ChargeItemID = @ChargeItemID,
					@TenantCode = @TenantCode,
					@WarehouseCode = @WarehouseCode,
					@Charge = @Charge OUTPUT,
					@Currency = @Currency OUTPUT,
					@ChargeType = @ChargeType OUTPUT;

				IF @ChargeType IS NOT NULL
				BEGIN
					 INSERT INTO [dbo].[Invoice] (
						TenantCode,
						ChargeName,
						ChargeType,
						ChargeCategory,
						InvoiceReferences,
						WarehouseCode,
						Qty,
						Cost,
						Charge,
						Currency,
						Status,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
					VALUES (
						@TenantCode,
						@ChargeItemName,
						@ChargeType,
						'Services - Stock Take',
						@ServiceNumber,
						@WarehouseCode,
						@NumberOfHours * @NumberOfPeople,
						@Charge,
						@Charge * @NumberOfHours * @NumberOfPeople,
						@Currency,
						'Pending',
						0, -- Deleted
						@CreatedDateTime,
						@CreatedBy
					);
				END

				

			END

			FETCH NEXT FROM service_cursor INTO @Activity, @NumberOfHours, @NumberOfPeople;
		END

		CLOSE service_cursor;
		DEALLOCATE service_cursor;

    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;

END
GO
