USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_PackingResult_ViewPackingResultOfWaveByStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <17 Sep, 2025>
-- Description:	<Get packing result of Wave by Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_PackingResult_ViewPackingResultOfWaveByStatus] 
	@WaveID INT,
    @Status VARCHAR(30) = 'Pending'
AS
BEGIN

	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.PackingResult 
    WHERE WaveID = @WaveID AND Status = @Status AND DELETED = 0;
END
GO
