USE [3PLWMS_Developers];
GO

/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_APIntegration_UpdateStandardService]    Script Date: 28/04/2026 ******/
SET ANSI_NULLS ON;
GO

SET QUOTED_IDENTIFIER ON;
GO

-- =============================================
-- Author:      <Nam Nguyen>
-- Create date: <28 Apr, 2026>
-- Description: <Update Standard Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_APIntegration_UpdateStandardService]
    @ServiceID INT,
    @ServiceName NVARCHAR(50),
    @ServiceCode NVARCHAR(10),
    @ProductCode NVARCHAR(50),
    @Description NVARCHAR(50),
    @WarehouseCode VARCHAR(50) = NULL,
    @SignatureOnDeliveryReceiverDrop BIT,
    @SignatureAlwaysRequired BIT,
    @SignatureOnDeliverySenderDrop BIT,
    @NoSignature BIT,
    @AuthorityToLeave BIT,
    @SafeDropEnabled BIT = NULL,
    @AllowPartialDelivery BIT,
    @ProductID NVARCHAR(20) = NULL,
    @FirstEditedDateTime DATETIME = NULL,
    @FirstEditedBy NVARCHAR(100) = NULL,
    @LastEditedDateTime DATETIME = NULL,
    @LastEditedBy NVARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if the ServiceID exists and is not marked as deleted
        IF NOT EXISTS
        (
            SELECT 1
            FROM dbo.AP_StandardService
            WHERE ServiceID = @ServiceID
              AND Deleted = 0
        )
        BEGIN
            SET @Message = 'ServiceID does not exist or has been deleted.';

            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Update the AP_StandardService table
        UPDATE dbo.AP_StandardService
        SET
            ServiceName = COALESCE(@ServiceName, ServiceName),
            ServiceCode = COALESCE(@ServiceCode, ServiceCode),
            ProductCode = COALESCE(@ProductCode, ProductCode),
            Description = COALESCE(@Description, Description),
            WarehouseCode = COALESCE(@WarehouseCode, WarehouseCode),
            SignatureOnDeliveryReceiverDrop = @SignatureOnDeliveryReceiverDrop,
            SignatureAlwaysRequired = @SignatureAlwaysRequired,
            SignatureOnDeliverySenderDrop = @SignatureOnDeliverySenderDrop,
            NoSignature = @NoSignature,
            AuthorityToLeave = @AuthorityToLeave,
            SafeDropEnabled = @SafeDropEnabled,
            AllowPartialDelivery = @AllowPartialDelivery,
            ProductID = COALESCE(@ProductID, ProductID),
            FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
            FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
            LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
            LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE ServiceID = @ServiceID;

        SET @Message = 'Standard Service updated successfully.';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        SET @Message = ERROR_MESSAGE();

        THROW;
    END CATCH;
END;
GO