USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_ViewShipmentBoxesByOrderNumber]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2025>
-- Description:	<Get detail information of Shipment Boxes by FulfilmentOrder>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_ViewShipmentBoxesByOrderNumber] 
    @OrderNumber VARCHAR(50)
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @PackingResultID INT;
	DECLARE @CarrierID INT;
	DECLARE @ShipmentID INT;
	DECLARE @ConsignmentID VARCHAR(150);
	DECLARE @ShipmentType VARCHAR(20);

	
	SELECT @PackingResultID = PackingResultID, 
		   @ShipmentID = ShipmentID		   
	FROM dbo.PackingResult
	WHERE OrderNumber = @OrderNumber AND Deleted = 0;

	SELECT @ShipmentType = ShipmentType,
	       @CarrierID = CarrierID
	FROM dbo.Waveline wl
	WHERE OrderNumber = @OrderNumber AND Deleted = 0;

	IF @ShipmentType IS NOT NULL AND @CarrierID = 1
	BEGIN
		IF @ShipmentType = 'Local'
		BEGIN
			SELECT @ConsignmentID = AP_ConsignmentID
			FROM AP_Shipment
			WHERE ShipmentID = @ShipmentID AND Deleted = 0;
		END
		ELSE
		BEGIN
			SELECT @ConsignmentID = AP_ConsignmentID
			FROM AP_ShipmentINT
			WHERE ShipmentID = @ShipmentID AND Deleted = 0;
		END
	END

	IF @PackingResultID IS NOT NULL
	BEGIN
		SELECT @ShipmentID as ShipmentID, l.BoxNumber, i.ItemName as StandardBoxName, l.ItemName, l.ItemNumber, l.SerialNumber, l.Qty, @ShipmentType as ShipmentType, @ConsignmentID as ConsignmentID
			FROM dbo.PackingResultLine l		
			LEFT JOIN dbo.ItemTradeUnit b ON b.ItemTradeUnitID = l.StandardBoxID AND b.Deleted = 0
			LEFT JOIN dbo.Items i ON i.ItemID = b.ItemID AND i.Deleted = 0
			WHERE l.PackingResultID = @PackingResultID AND l.Deleted = 0
			ORDER BY l.BoxNumber		
	END
   
END
GO
