USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCodes]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <15 April, 2025>
-- Description:	<Get Full Location Info from Location Codes>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetFullLocationInfoFromCodes]
	@LocationCodes dbo.StringArray READONLY
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @LocationFound BIT,
			@TemporaryLocation BIT,
			@LocSBinID INT,
			@LocBinID INT,
			@LocShelfID INT,
			@LocColumnID INT,
			@LocRowID INT,
			@LocSectionID INT,
			@LocAreaID INT,
			@LocWarehouseID INT,
			@LocWarehouseCode NVARCHAR(1),
			@LocAreaCode NVARCHAR(1),
			@LocSectionCode NVARCHAR(3),
			@LocRowCode NVARCHAR(4),
			@LocColumnCode NVARCHAR(6),
			@LocShelfCode NVARCHAR(4),
			@LocBinCode NVARCHAR(7),
			@LocSBinCode NVARCHAR(7),
			@LocTempCode NVARCHAR(33),
			@LocWarehouseName VARCHAR(200),
			@LocAreaName    VARCHAR(200),
			@LocSectionName VARCHAR(200),
			@LocRowName     VARCHAR(200),
			@LocColumnName  VARCHAR(200),
			@LocBinName     VARCHAR(200),
			@StorageType VARCHAR(50),
			@NumberOfSBin INT;


	CREATE TABLE #LocationInfo (
		ULDCurrentLocation VARCHAR(50),
		LocationFound BIT,
		TemporaryLocation BIT,
		LocSBinID INT,
		LocBinID INT,
		LocShelfID INT,
		LocColumnID INT,
		LocRowID INT,
		LocSectionID INT,
		LocAreaID INT,
		LocWarehouseID INT,
		LocWarehouseCode NVARCHAR(1),
		LocAreaCode NVARCHAR(1),
		LocSectionCode NVARCHAR(3),
		LocRowCode NVARCHAR(4),
		LocColumnCode NVARCHAR(6),
		LocShelfCode NVARCHAR(4),
		LocBinCode NVARCHAR(7),
		LocSBinCode NVARCHAR(7),
		LocTempCode NVARCHAR(33),
		LocWarehouseName VARCHAR(200),
		LocAreaName VARCHAR(200),
		LocSectionName VARCHAR(200),
		LocRowName VARCHAR(200),
		LocColumnName VARCHAR(200),
		LocBinName VARCHAR(200),
		StorageType VARCHAR(50),
		HasMultipleSBin BIT
	);


	DECLARE @LocationCode VARCHAR(MAX);

	DECLARE LocationCodeCursor CURSOR FOR
		SELECT [Value]
		FROM @LocationCodes;

	OPEN LocationCodeCursor;

	FETCH NEXT FROM LocationCodeCursor INTO @LocationCode;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		SET @LocationFound = 0;
		SET @TemporaryLocation = 0;
		SET @NumberOfSBin = 0;
		SET @LocSBinID = NULL;
		SET @LocBinID = NULL;
		SET @LocShelfID = NULL;
		SET @LocColumnID = NULL;
		SET @LocRowID = NULL;
		SET @LocSectionID = NULL;
		SET @LocAreaID = NULL;
		SET @LocWarehouseID = NULL;
		SET @LocWarehouseCode = NULL;
		SET @LocAreaCode = NULL;
		SET @LocSectionCode = NULL;
		SET @LocRowCode = NULL;
		SET @LocColumnCode = NULL;
		SET @LocShelfCode = NULL;
		SET @LocBinCode = NULL;
		SET @LocSBinCode = NULL;
		SET @LocTempCode = NULL;
		SET @LocWarehouseName = NULL;
		SET @LocAreaName = NULL;
		SET @LocSectionName = NULL;
		SET @LocRowName = NULL;
		SET @LocColumnName = NULL;
		SET @LocBinName = NULL;
		SET @StorageType = NULL;
	
		IF LEN(@LocationCode) != 33
		BEGIN
			SET @LocationFound = 0;
		END
		ELSE
		BEGIN

			-- check temp location
			EXEC dbo.[SP_VI_TBL_LocTempLocation_CheckLocationAvailable] 
				@LocationCode = @LocationCode,
				@LocationFound = @LocationFound OUTPUT,
				@LocationLabel = NULL,
				@IsEmpty = NULL;

			IF @LocationFound = 1
			BEGIN
				SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
				SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
				SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
				SET @LocTempCode = SUBSTRING(@LocationCode, 6, LEN(@LocationCode));

				-- Get LocWarehouse ID
				SELECT @LocWarehouseID = LocWarehouseID, @LocWarehouseName = WarehouseName
				FROM dbo.LocWarehouse
				WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

				IF @LocWarehouseID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END


				-- Get LocArea ID
				SELECT @LocAreaID = LocAreaID, @LocAreaName = AreaName
				FROM dbo.LocArea
				WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

				IF @LocAreaID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END

				 -- Get LocSection Code
				SELECT @LocSectionID = LocSectionID, @LocSectionName = SectionName 
				FROM dbo.LocSection
				WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;

				IF @LocSectionID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END

				SET @TemporaryLocation = 1;
				GOTO InsertAndContinue;
			END
			ELSE
			BEGIN
				SET @LocWarehouseCode = SUBSTRING(@LocationCode, 1, 1);
				SET @LocAreaCode = SUBSTRING(@LocationCode, 2, 1);
				SET @LocSectionCode = SUBSTRING(@LocationCode, 3, 3);
				SET @LocRowCode = SUBSTRING(@LocationCode, 6, 4);
				SET @LocColumnCode = SUBSTRING(@LocationCode, 10, 6);
				SET @LocShelfCode = SUBSTRING(@LocationCode, 16, 4);
				SET @LocBinCode = SUBSTRING(@LocationCode, 20, 7);
				SET @LocSBinCode = SUBSTRING(@LocationCode, 27, 7);

				-- Get LocWarehouse ID
				SELECT @LocWarehouseID = LocWarehouseID, @LocWarehouseName = WarehouseName
				FROM dbo.LocWarehouse
				WHERE WarehouseCode = @LocWarehouseCode AND DELETED = 0;

				IF @LocWarehouseID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END	

				-- Get LocArea ID
				SELECT @LocAreaID = LocAreaID, @LocAreaName = AreaName
				FROM dbo.LocArea
				WHERE AreaCode = @LocAreaCode AND LocWarehouseID = @LocWarehouseID AND DELETED = 0;

				IF @LocAreaID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END

				 -- Get LocSection Code
				SELECT @LocSectionID = LocSectionID, @LocSectionName = SectionName, @StorageType = StorageType
				FROM dbo.LocSection
				WHERE SectionCode = @LocSectionCode AND LocAreaID = @LocAreaID AND DELETED = 0;

				IF @LocSectionID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END

				-- Get LocRow Code
				SELECT @LocRowID = LocRowID, @LocRowName = RowName 
				FROM dbo.LocRow
				WHERE RowCode = @LocRowCode AND LocSectionID = @LocSectionID AND DELETED = 0;

				IF @LocRowID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END

		
				-- Get LocColumn Code
				SELECT @LocColumnID = LocColumnID, @LocColumnName = ColumnName 
				FROM dbo.LocColumn
				WHERE ColumnCode = @LocColumnCode AND LocRowID = @LocRowID AND DELETED = 0;

				IF @LocColumnID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END
			
				-- Get LocShelf Code
				SELECT @LocShelfID = LocShelfID
				FROM dbo.LocShelf
				WHERE ShelfCode = @LocShelfCode AND LocColumnID = @LocColumnID AND DELETED = 0;

				IF @LocShelfID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END

				-- Get LocBin Code
				SELECT @LocBinID = LocBinID, @LocBinName = BinName   
				FROM dbo.LocBin
				WHERE BinCode = @LocBinCode AND LocShelfID = @LocShelfID AND DELETED = 0;

				IF @LocBinID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END
				
				SELECT @NumberOfSBin = COUNT(*)  
					FROM dbo.LocSBin 
					WHERE LocBinID = @LocBinID AND DELETED = 0;

				-- Get LocSBin Code
				SELECT @LocSBinID = LocSBinID
				FROM dbo.LocSBin
				WHERE SBinCode = @LocSBinCode AND LocBinID = @LocBinID AND DELETED = 0;

				IF @LocSBinID IS NULL
				BEGIN
					SET @LocationFound = 0;
					GOTO InsertAndContinue;
				END

				SET @LocationFound = 1;

			END
		END

		InsertAndContinue:

			DECLARE @HasMultipleSBin BIT;

			IF @NumberOfSBin > 1
			BEGIN
				SET @HasMultipleSBin = 1;
			END
			ELSE
			BEGIN
				SET @HasMultipleSBin = 0;
			END

			INSERT INTO #LocationInfo (
				ULDCurrentLocation,
				LocationFound,
				TemporaryLocation,
				LocSBinID,
				LocBinID,
				LocShelfID,
				LocColumnID,
				LocRowID,
				LocSectionID,
				LocAreaID,
				LocWarehouseID,
				LocWarehouseCode,
				LocAreaCode,
				LocSectionCode,
				LocRowCode,
				LocColumnCode,
				LocShelfCode,
				LocBinCode,
				LocSBinCode,
				LocTempCode,
				LocWarehouseName,
				LocAreaName,
				LocSectionName,
				LocRowName,
				LocColumnName,
				LocBinName,
				StorageType,
				HasMultipleSBin
			)
			VALUES (
				@LocationCode,
				@LocationFound,
				@TemporaryLocation,
				@LocSBinID,
				@LocBinID,
				@LocShelfID,
				@LocColumnID,
				@LocRowID,
				@LocSectionID,
				@LocAreaID,
				@LocWarehouseID,
				@LocWarehouseCode,
				@LocAreaCode,
				@LocSectionCode,
				@LocRowCode,
				@LocColumnCode,
				@LocShelfCode,
				@LocBinCode,
				@LocSBinCode,
				@LocTempCode,
				@LocWarehouseName,
				@LocAreaName,
				@LocSectionName,
				@LocRowName,
				@LocColumnName,
				@LocBinName,
				@StorageType,
				@HasMultipleSBin
			);

			FETCH NEXT FROM LocationCodeCursor INTO @LocationCode;

	END

	CLOSE LocationCodeCursor;
	DEALLOCATE LocationCodeCursor;

	SELECT * FROM #LocationInfo;

	DROP TABLE #LocationInfo;
	
END
GO
