USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_BayTenantAllocation_GetAllAllocatedOfTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <10 Mar, 2025>
-- Description:	<GETAll Allocated Column Of Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_BayTenantAllocation_GetAllAllocatedOfTenant]  
	@TenantCode VARCHAR(10)
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT bta.BayTenantAllocationID, bta.TenantCode, bta.TenantName, bta.AllocationDate, 
	       bta.ColumnId, lc.ColumnCode, lc.ColumnName, 
		   lr.RowCode, lr.RowName, ls.SectionCode, ls.SectionName, la.AreaCode, la.AreaName, lw.WarehouseCode, lw.WarehouseName
	FROM dbo.BayTenantAllocation bta 
	INNER JOIN dbo.LocColumn lc ON lc.LocColumnID = bta.ColumnID
	INNER JOIN dbo.LocRow lr ON lr.LocRowID = lc.LocRowID
	INNER JOIN dbo.LocSection ls ON ls.LocSectionID = lr.LocSectionID
	INNER JOIN dbo.LocArea la ON la.LocAreaID = ls.LocAreaID
	INNER JOIN dbo.LocWarehouse lw ON lw.LocWarehouseID = la.LocWarehouseID
	WHERE bta.Deleted = 0 AND bta.TenantCode = @TenantCode;
END
GO
