USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_InsertPerfectPickLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Mar, 2025>
-- Description:	<Insert PerfectPick Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_InsertPerfectPickLocation]
	@LocAreaID         INT,
	@LocShelfID        INT = NULL,  -- If NULL Create From Section to Row, otherwise not creating
	@BinCode		   VARCHAR(15) = NULL,
	@NumberSBins        INT,
	@Height             INT = 0,
    @Width              INT = 0,
    @Depth              INT = 0,
    @Distance           INT = 0,
	@CreatedDateTime   DATETIME = NULL,
	@CreatedBy		   VARCHAR(100) = NULL,
	@NewLocShelfID     INT OUTPUT,
	@Message            VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION;		

		IF @NumberSBins > 8
		BEGIN
			 SET @Message = 'The Number of Sub Bin is not exceed 8.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @LocParentID INT;
		DECLARE @LocType INT;  
		DECLARE @CurrentOrder INT;
		DECLARE @CurrentCode INT;
		DECLARE @CurrentPrefix INT;
		DECLARE @CurrentLocColumnID INT;
		DECLARE @ShelfID INT;
		DECLARE @Counter INT;

		DECLARE 
				@NumberSections INT,
				@NumberRows INT,	
				@NumberColumns INT,
				@NumberShelves INT,
				@NumberBins INT;
			
		DECLARE  
				@SectionIncrement INT,
				@RowIncrement INT,
				@ColumnIncrement INT,
				@ShelfIncrement INT,
				@BinIncrement INT,
				@SBinIncrement INT;

		DECLARE 
				@SectionCodeMaxValue INT,
				@RowCodeMaxValue INT,
				@ColumnCodeMaxValue INT,
				@ShelfCodeMaxValue INT,
				@BinCodeMaxValue INT,
				@SbinCodeMaxValue INT;

		DECLARE 
				@MaxNumberSections INT,
				@MaxNumberRows INT,
				@MaxNumberColumns INT,
				@MaxNumberShelves INT,
				@MaxNumberBins INT,
				@MaxNumberSBins INT;

		DECLARE @SectionTable TABLE (
			SectionNum INT,
			Deleted BIT,
			LocAreaID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			SectionCode VARCHAR(20)
		);

		DECLARE @RowTable TABLE (
			RowNum INT,
			Deleted BIT,
			LocSectionID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			RowCode VARCHAR(20)
		);

		DECLARE @ColumnTable TABLE (
			ColumnNum INT,
			Deleted BIT,
			LocRowID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			ColumnCode VARCHAR(20)
		);

		DECLARE @ShelfTable TABLE (
			ShelfNum INT,
			Deleted BIT,
			LocColumnID INT,
			OrderNumber INT,
			Code INT,
			Prefix INT,
			ShelfCode VARCHAR(20)
		);

		DECLARE @TempShelfTable TABLE
		(
			LocShelfID INT,
			LocColumnID INT,
			Code VARCHAR(20),
			RowNum INT
		);
        
		DECLARE @TempBinTable TABLE
		(
			LocShelfID INT,
			LocColumnID INT,
			Code VARCHAR(20),
			OrderNumber INT,
			RowNum INT
		);
        
		DECLARE @NewSectionIDs TABLE (
			LocSectionID INT
		);

		DECLARE @NewRowIDs TABLE (
			LocRowID INT
		);

		DECLARE @NewColumnIDs TABLE (
			LocColumnID INT
		);

		DECLARE @NewShelfIDs TABLE (
			LocShelfID INT,
			LocColumnID INT
		);

		DECLARE @NewBinIDs TABLE (
			LocBinID INT
		);

		-- get Row Code max value
		SELECT 
			@MaxNumberSections = ISNULL(MAX(CASE WHEN SettingName = 'MAX_NUMBER_SECTIONS' THEN SettingValue END), 0),
			@MaxNumberRows = ISNULL(MAX(CASE WHEN SettingName = 'MAX_NUMBER_ROWS' THEN SettingValue END), 0),
			@MaxNumberColumns = ISNULL(MAX(CASE WHEN SettingName = 'MAX_NUMBER_COLUMNS' THEN SettingValue END), 0),
			@MaxNumberShelves = ISNULL(MAX(CASE WHEN SettingName = 'MAX_NUMBER_SHELVES' THEN SettingValue END), 0),
			@MaxNumberBins = ISNULL(MAX(CASE WHEN SettingName = 'MAX_NUMBER_BINS' THEN SettingValue END), 0),
			@MaxNumberSBins = ISNULL(MAX(CASE WHEN SettingName = 'MAX_NUMBER_SBINS' THEN SettingValue END), 0),
			@RowIncrement = ISNULL(MAX(CASE WHEN SettingName = 'ROW_INCREMENT' THEN SettingValue END), 0),
			@SectionIncrement = ISNULL(MAX(CASE WHEN SettingName = 'SECTION_INCREMENT' THEN SettingValue END), 0),
			@ColumnIncrement = ISNULL(MAX(CASE WHEN SettingName = 'COLUMN_INCREMENT' THEN SettingValue END), 0),
			@ShelfIncrement = ISNULL(MAX(CASE WHEN SettingName = 'SHELF_INCREMENT' THEN SettingValue END), 0),
			@BinIncrement = ISNULL(MAX(CASE WHEN SettingName = 'BIN_INCREMENT' THEN SettingValue END), 0),
			@SBinIncrement = ISNULL(MAX(CASE WHEN SettingName = 'SBIN_INCREMENT' THEN SettingValue END), 0),
			@SectionCodeMaxValue = ISNULL(MAX(CASE WHEN SettingName = 'SECTION_CODE_MAX_VALUE' THEN SettingValue END), 0),
			@RowCodeMaxValue = ISNULL(MAX(CASE WHEN SettingName = 'ROW_CODE_MAX_VALUE' THEN SettingValue END), 0),
			@ColumnCodeMaxValue = ISNULL(MAX(CASE WHEN SettingName = 'COLUMN_CODE_MAX_VALUE' THEN SettingValue END), 0),
			@ShelfCodeMaxValue = ISNULL(MAX(CASE WHEN SettingName = 'SHELF_CODE_MAX_VALUE' THEN SettingValue END), 0),
			@BinCodeMaxValue = ISNULL(MAX(CASE WHEN SettingName = 'BIN_CODE_MAX_VALUE' THEN SettingValue END), 0),
			@SbinCodeMaxValue = ISNULL(MAX(CASE WHEN SettingName = 'SBIN_CODE_MAX_VALUE' THEN SettingValue END), 0)
		FROM [dbo].[Setting]
		WHERE SettingName IN (
			'MAX_NUMBER_SECTIONS','MAX_NUMBER_ROWS','MAX_NUMBER_COLUMNS', 'MAX_NUMBER_SHELVES', 'MAX_NUMBER_BINS', 'MAX_NUMBER_SBINS',
			'SECTION_INCREMENT', 'ROW_INCREMENT', 'COLUMN_INCREMENT', 'SHELF_INCREMENT', 'BIN_INCREMENT', 'SBIN_INCREMENT',
			'SECTION_CODE_MAX_VALUE','ROW_CODE_MAX_VALUE','COLUMN_CODE_MAX_VALUE', 'SHELF_CODE_MAX_VALUE','BIN_CODE_MAX_VALUE','SBIN_CODE_MAX_VALUE');

		--init
		SET @NumberSections = 1;
		SET @NumberRows = 1;
		SET @NumberColumns = 1;
		SET @NumberShelves = 1;
		SET @NumberBins = 1;
		SET @LocParentID = @LocAreaID;
		SET @LocType = 2;

		IF @LocShelfID IS NULL
		BEGIN
			-- Code to handle Section creation
            PRINT 'Creating Section...';
		
			-- get current row
			SELECT 
				@CurrentOrder = ISNULL(COALESCE(CurrentOrder, 0), 0),
				@CurrentCode = ISNULL(COALESCE(CurrentCode, 0), 0),
				@CurrentPrefix = ISNULL(COALESCE(CurrentPrefix, 1), 1)
			FROM dbo.LocSequence
			WHERE LocationId = @LocAreaID AND LocationType = @LocType;

			-- Check if any rows were returned
			IF @@ROWCOUNT = 0
			BEGIN
				-- No rows were returned, set the default values
				SET @CurrentOrder = 0;
				SET @CurrentCode = 0;
				SET @CurrentPrefix = 1;
			END

			IF @CurrentCode < @SectionCodeMaxValue
			BEGIN
				SET @CurrentCode = @CurrentCode + 1;
			END
			ELSE
			BEGIN
				SET @CurrentCode = 1;
				SET @CurrentPrefix = @CurrentPrefix + 1;
			END;

			-- Step 0: Insert into LocSection using recursive CTE with the @NumberSections variable
			WITH SectionCTE AS (
                -- Anchor member: Insert the first section 
                SELECT 1 AS SectionNum,
                       0 as Deleted, 
                       @LocParentID as LocAreaID,
                       (@CurrentOrder + @SectionIncrement) as OrderNumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00')) as SectionCode
                UNION ALL
                -- Recursive member: Insert remaining sections
                SELECT SectionNum + 1,
                       0,
                       @LocParentID,
                       OrderNumber + @SectionIncrement,
                       CASE 
						   WHEN Code < @SectionCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @SectionCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @SectionCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @SectionCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '00')) as SectionCode
                FROM SectionCTE
                WHERE SectionNum < @NumberSections
            )

			-- Insert CTE results into the temporary table
			INSERT INTO @SectionTable (SectionNum, Deleted, LocAreaID, OrderNumber, Code, Prefix, SectionCode)
			SELECT SectionNum, Deleted, LocAreaID, OrderNumber, Code, Prefix, SectionCode
			FROM SectionCTE
			OPTION (MAXRECURSION 0);

			-- Insert dynamically generated sections into LocSection
            INSERT INTO LocSection (LocAreaID, OrderNumber, SectionCode, SectionName, StorageType, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocSectionID INTO @NewSectionIDs
            SELECT LocAreaID, OrderNumber, SectionCode, SectionCode, 'PerfectPick', Deleted, @CreatedDateTime, @CreatedBy
            FROM @SectionTable;  -- To allow more than the default 100 recursion levels


			-- Get the last values for Code and Prefix from the CTE
			SELECT TOP 1 @CurrentCode = Code, @CurrentPrefix = Prefix
			FROM @SectionTable
			ORDER BY SectionNum DESC;

			  -- Update LocSequence
            IF @CurrentOrder = 0
            BEGIN
                 INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
                 VALUES (@LocType, @LocParentID, @CurrentOrder + (@SectionIncrement * @NumberSections), @CurrentCode , @CurrentPrefix , 0);
            END
            ELSE
            BEGIN
                UPDATE dbo.LocSequence
		        SET CurrentOrder = COALESCE(@CurrentOrder + (@SectionIncrement * @NumberSections), CurrentOrder),
                    CurrentCode = COALESCE(@CurrentCode, CurrentCode),
					CurrentPrefix = COALESCE(@CurrentPrefix, CurrentPrefix)
                WHERE LocationId = @LocParentID AND LocationType = @LocType;
            END;
           
            -- Step 2: Insert into LocRow using recursive CTE
            SET @CurrentOrder = @RowIncrement;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH RowCTE AS (
                -- Anchor member: Insert the first row for each section
                SELECT S.LocSectionID, 
                       1 AS RowNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')) as RowCode
                FROM @NewSectionIDs S
                UNION ALL
                -- Recursive member: Insert remaining rows for each section
                SELECT R.LocSectionID, 
                       RowNum + 1, 
                       ONumber + @RowIncrement,
                       CASE 
						   WHEN Code < @RowCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @RowCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @RowCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @RowCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000'))
                FROM RowCTE R
                JOIN @NewSectionIDs S ON S.LocSectionID = R.LocSectionID
                WHERE RowNum < @NumberRows 
            )

            -- Insert CTE results into the table
            INSERT INTO LocRow (LocSectionID, OrderNumber, RowCode, RowName, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocRowID INTO @NewRowIDs
            SELECT LocSectionID, ONumber, RowCode , RowCode, 0, @CreatedDateTime, @CreatedBy
            FROM RowCTE
            OPTION (MAXRECURSION 0);

            -- Update LocSequence
			SET @CurrentOrder = @NumberRows * @RowIncrement;
            IF (@NumberRows % @RowCodeMaxValue) = 0
			BEGIN
				SET @CurrentCode = @RowCodeMaxValue;
                SET @CurrentPrefix = (@NumberRows / @RowCodeMaxValue);
			END
			ELSE
			BEGIN
				SET @CurrentCode = (@NumberRows % @RowCodeMaxValue);
				SET @CurrentPrefix = (@NumberRows / @RowCodeMaxValue) + 1;
			END;

            INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
			SELECT 
				3 AS LocationType,        
				LocSectionID AS LocationId,  
				@CurrentOrder AS CurrentOrder,    
                @CurrentCode as CurrentCode,
                @CurrentPrefix as CurrentPrefix,  
				0 AS Deleted               
			FROM @NewSectionIDs;

            -- Step 3: Insert into LocColumn using recursive CTE
            SET @CurrentOrder = @ColumnIncrement;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH ColumnCTE AS (
                -- Anchor member: Insert the first Column for each Row
                SELECT R.LocRowID, 
                       1 AS ColumnNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '00000')) as ColumnCode
                FROM @NewRowIDs R
                UNION ALL
                -- Recursive member: Insert remaining Columns for each row
                SELECT C.LocRowID, 
                       ColumnNum + 1, 
                       ONumber + @ColumnIncrement,
                       CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ColumnCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ColumnCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ColumnCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '00000'))
                FROM ColumnCTE C
                JOIN @NewRowIDs R ON R.LocRowID = C.LocRowID
                WHERE ColumnNum < @NumberColumns 
            )

            -- Insert CTE results into the temporary table
            INSERT INTO LocColumn (LocRowID, OrderNumber, ColumnCode, ColumnName, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocColumnID INTO @NewColumnIDs
            SELECT LocRowID, ONumber, ColumnCode , ColumnCode, 0, @CreatedDateTime, @CreatedBy
            FROM ColumnCTE
            OPTION (MAXRECURSION 0);

            -- Update LocSequence
			SET @CurrentOrder = @NumberColumns * @ColumnIncrement;
            IF (@NumberColumns % @ColumnCodeMaxValue) = 0
			BEGIN
				SET @CurrentCode = @ColumnCodeMaxValue;
                SET @CurrentPrefix = (@NumberColumns / @ColumnCodeMaxValue);
			END
			ELSE
			BEGIN
				SET @CurrentCode = (@NumberColumns % @ColumnCodeMaxValue);
				SET @CurrentPrefix = (@NumberColumns / @ColumnCodeMaxValue) + 1;
			END;

            INSERT INTO dbo.LocSequence (LocationType, LocationId, CurrentOrder, CurrentCode, CurrentPrefix, Deleted)
			SELECT 
				4 AS LocationType,        
				LocRowID AS LocationId,  
				@CurrentOrder AS CurrentOrder,    
                @CurrentCode as CurrentCode,
                @CurrentPrefix as CurrentPrefix,  
				0 AS Deleted               
			FROM @NewRowIDs;

            -- Step 4: Insert into LocShelf using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH ShelfCTE AS (
                -- Anchor member: Insert the first Shelf for each Column
                SELECT C.LocColumnID, 
                       1 AS ShelfNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000')) as ShelfCode
                FROM @NewColumnIDs C
                UNION ALL
                -- Recursive member: Insert remaining Shelf for each Column
                SELECT S.LocColumnID, 
                       ShelfNum + 1, 
                       ONumber + @ShelfIncrement,
                       CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @ShelfCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @ShelfCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @ShelfCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000'))
                FROM ShelfCTE S
                JOIN @NewColumnIDs C ON C.LocColumnID = S.LocColumnID
                WHERE ShelfNum < @NumberShelves 
            )

            -- Insert CTE results into the table
            INSERT INTO LocShelf (LocColumnID, OrderNumber, ShelfCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocShelfID, INSERTED.LocColumnID INTO @NewShelfIDs
            SELECT LocColumnID, ONumber, ShelfCode , 0, @CreatedDateTime, @CreatedBy
            FROM ShelfCTE
            OPTION (MAXRECURSION 0);    
			
			-- set ouput
			SELECT @NewLocShelfID = LocShelfID FROM @NewShelfIDs; 

            -- Step 5: Insert into LocBin using recursive CTE
            INSERT INTO @TempShelfTable (LocShelfID, LocColumnID, Code, RowNum)
			SELECT 
				LocShelfID, 
				LocColumnID, 
				NULL AS Code, 
				ROW_NUMBER() OVER (PARTITION BY LocColumnID ORDER BY LocShelfID) AS RowNum
			FROM @NewShelfIDs;
						
			DECLARE ShelfCursor CURSOR FOR
			SELECT DISTINCT LocColumnID
			FROM @TempShelfTable;

			OPEN ShelfCursor;
			FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;

			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Initialize the prefix to 'A' and code number to 1 for each LocColumnID
				SET @CurrentCode = 1;
			    SET @CurrentPrefix = 1;
				SET @CurrentOrder = 0;

				-- Update the Code field for the current LocColumnID group
				DECLARE UpdateCursor CURSOR FOR
				SELECT LocShelfID 
				FROM @TempShelfTable
				WHERE LocColumnID = @CurrentLocColumnID
				ORDER BY RowNum;

				OPEN UpdateCursor;
				FETCH NEXT FROM UpdateCursor INTO @ShelfID;

				WHILE @@FETCH_STATUS = 0
				BEGIN

					SET @Counter = 1;
					WHILE @Counter <= @NumberBins
					BEGIN
						
						INSERT INTO @TempBinTable (LocShelfID, LocColumnID, OrderNumber, Code)
						VALUES (@ShelfID, @CurrentLocColumnID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')));

						-- Increment the code number
						SET @CurrentCode = @CurrentCode + 1;
                        SET @CurrentOrder = @CurrentOrder + @BinIncrement;

						-- When the code number exceeds 10, reset it to 1 and increment the prefix
						IF @CurrentCode > @BinCodeMaxValue
						BEGIN
							SET @CurrentCode = 1;
							SET @CurrentPrefix = @CurrentPrefix + 1;
						END
					    SET @Counter = @Counter + 1;
					END

					-- Fetch the next shelf in the current LocColumnID group
					FETCH NEXT FROM UpdateCursor INTO @ShelfID;
				END

				CLOSE UpdateCursor;
				DEALLOCATE UpdateCursor;

				-- Move to the next LocColumnID group
				FETCH NEXT FROM ShelfCursor INTO @CurrentLocColumnID;
			END

			CLOSE ShelfCursor;
			DEALLOCATE ShelfCursor;

			-- Select the updated rows to show the changes (optional, for verification)
            INSERT INTO LocBin (LocShelfID, OrderNumber, BinCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocBinID INTO @NewBinIDs
			SELECT LocShelfID, OrderNumber, Code , 0, @CreatedDateTime, @CreatedBy
			FROM @TempBinTable;		      
            
            -- Step 6: Insert into LocSBin using recursive CTE
            SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH SBinCTE AS (
                -- Anchor member: Insert the first SBin for each Bin
                SELECT B.LocBinID, 
                       1 AS SBinNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')) as SBinCode
                FROM @NewBinIDs B
                UNION ALL
                -- Recursive member: Insert remaining SBin for each Shelf
                SELECT SB.LocBinID, 
                       SBinNum + 1, 
                       ONumber + @SBinIncrement,
                       CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @SBinCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @SBinCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000000'))
                FROM SBinCTE SB                
                JOIN @NewBinIDs B ON B.LocBinID = SB.LocBinID
                WHERE SBinNum < @NumberSBins 
            )

            -- Insert CTE results into the table           
            INSERT INTO LocSBin (LocBinID, OrderNumber, SBinCode, Deleted, SBinType, Height, Width, Depth, Distance, CreatedDateTime, CreatedBy)
            SELECT LocBinID, ONumber, SBinCode , 0 , 'Bin' as SBinType, @Height as Height, @Width as Width, @Depth as Depth, @Distance as Distance, @CreatedDateTime, @CreatedBy
            FROM SBinCTE
            OPTION (MAXRECURSION 0);
           
		END
		ELSE
		BEGIN
			
			SET @CurrentOrder = 0;
			SET @CurrentCode = 0;
			SET @CurrentPrefix = 1;

			-- init @CurrentOrder
			SELECT TOP 1 @CurrentOrder = OrderNumber
			FROM dbo.LocBin 
			WHERE LocShelfID = @LocShelfID AND DELETED = 0
			ORDER BY LocBinID DESC;

			-- init @CurrentCode
			SELECT @CurrentCode = COALESCE(COUNT(LocBinID),0)
			FROM dbo.LocBin 
			WHERE LocShelfID = @LocShelfID AND DELETED = 0;

			IF @CurrentCode < @BinCodeMaxValue
			BEGIN
				SET @CurrentCode = @CurrentCode + 1;
			END
			ELSE
			BEGIN
				SET @CurrentCode = 1;
				SET @CurrentPrefix = @CurrentPrefix + 1;
			END;
			
			-- Select the updated rows to show the changes (optional, for verification)
            INSERT INTO LocBin (LocShelfID, OrderNumber, BinCode, Deleted, CreatedDateTime, CreatedBy)
            OUTPUT INSERTED.LocBinID INTO @NewBinIDs
			VALUES (@LocShelfID, @CurrentOrder, CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')), 0, @CreatedDateTime, @CreatedBy);
		

			SET @CurrentOrder = 0;
			SET @CurrentCode = 1;
			SET @CurrentPrefix = 1;
            WITH SBinCTE AS (
                -- Anchor member: Insert the first SBin for each Bin
                SELECT B.LocBinID, 
                       1 AS SBinNum,
                       @CurrentOrder as ONumber,
                       @CurrentCode as Code,
                       @CurrentPrefix as Prefix,
                       CONCAT(CHAR(65 + (@CurrentPrefix - 1) % 26), FORMAT(@CurrentCode, '000000')) as SBinCode
                FROM @NewBinIDs B
                UNION ALL
                -- Recursive member: Insert remaining SBin for each Shelf
                SELECT SB.LocBinID, 
                       SBinNum + 1, 
                       ONumber + @SBinIncrement,
                       CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Code + 1 
						   ELSE 1 
					   END AS Code,
					   CASE 
						   WHEN Code < @SBinCodeMaxValue THEN Prefix 
						   ELSE Prefix + 1 
					   END AS Prefix,
						  CONCAT(CHAR(65 + (CASE 
                               WHEN Code < @SBinCodeMaxValue THEN Prefix 
                               ELSE Prefix + 1 
                             END - 1) % 26), 
						  FORMAT(CASE 
									 WHEN Code < @SBinCodeMaxValue THEN Code + 1 
									 ELSE 1 
								 END, '000000'))
                FROM SBinCTE SB                
                JOIN @NewBinIDs B ON B.LocBinID = SB.LocBinID
                WHERE SBinNum < @NumberSBins 
            )

            -- Insert CTE results into the table           
            INSERT INTO LocSBin (LocBinID, OrderNumber, SBinCode, Deleted, SBinType, Height, Width, Depth, Distance, CreatedDateTime, CreatedBy)
            SELECT LocBinID, ONumber, SBinCode , 0 , 'Bin' as SBinType, @Height as Height, @Width as Width, @Depth as Depth, @Distance as Distance, @CreatedDateTime, @CreatedBy
            FROM SBinCTE
            OPTION (MAXRECURSION 0);
		END


		-- Insert Perfect Pick info
		INSERT INTO PerfectPickInfo (BinID, PerfectPickCode, PerfectPickDivider, Deleted, CreatedDateTime, CreatedBy)
		SELECT LocBinID, @BinCode as PerfectPickCode, @NumberSBins as PerfectPickDivider, 0, @CreatedDateTime, @CreatedBy
        FROM @NewBinIDs;
	
		-- Commit transaction if update is successful
		COMMIT TRANSACTION;
    
		PRINT 'Insert successful';

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;

END
GO
