USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSection_ListLocSection]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<List>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSection_ListLocSection]
     @LocAreaID INT,
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
	 @PageSize INT = 10,
	 @OrderBy NVARCHAR(50) = 'LocSectionID',
	 @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocSection WHERE LocAreaID = @LocAreaID AND DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ls.*, COALESCE(bta.AllocationCount,0) as AllocationCount
				   FROM (
						SELECT s.*, COALESCE(c.ColumnCount, 0) AS ColumnCount
						FROM LocSection s
						LEFT JOIN (
							SELECT r.LocSectionId, COUNT(c.LocRowId) AS ColumnCount
							FROM LocRow r
							LEFT JOIN LocColumn c ON r.LocRowId = c.LocRowId
							GROUP BY r.LocSectionId
						) c ON s.LocSectionId = c.LocSectionId
				   ) ls 
				   LEFT JOIN 
					 (select SectionId , Deleted, COUNT(SectionId) as AllocationCount FROM dbo.BayTenantAllocation group by SectionId, Deleted) bta
				   ON ls.LocSectionID = bta.SectionID AND bta.Deleted = 0 
				   WHERE ls.LocAreaID = ' + CAST(@LocAreaID AS NVARCHAR(10)) + ' AND ls.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				  ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.LocSection 
		WHERE DELETED = 0 
		AND LocAreaID = @LocAreaID 
		AND (
			LOWER(SectionName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(SectionCode) LIKE '%' + LOWER(@Search) + '%' 
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ls.*, COALESCE(bta.AllocationCount,0) as AllocationCount
		    FROM (
				SELECT s.*, COALESCE(c.ColumnCount, 0) AS ColumnCount
				FROM LocSection s
				LEFT JOIN (
					SELECT r.LocSectionId, COUNT(c.LocRowId) AS ColumnCount
					FROM LocRow r
					LEFT JOIN LocColumn c ON r.LocRowId = c.LocRowId
					GROUP BY r.LocSectionId
				) c ON s.LocSectionId = c.LocSectionId
			) ls 
			LEFT JOIN 
				(select SectionId , Deleted, COUNT(SectionId) as AllocationCount FROM dbo.BayTenantAllocation group by SectionId, Deleted) bta 
			ON ls.LocSectionID = bta.SectionID AND bta.Deleted = 0
            WHERE ls.DELETED = 0 
			ANd ls.LocAreaID = ' + CAST(@LocAreaID AS NVARCHAR(10)) + ' 
            AND (
                LOWER(ls.SectionName) LIKE ''%' + LOWER(@Search) + '%'' 
                OR LOWER(ls.SectionCode) LIKE ''%' + LOWER(@Search) + '%'' 
            ) 
            ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
            ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
            FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL; 
END
GO
