USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_DHL_Response]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DHL_Response]
    @MessageReference NVARCHAR(100),
    @ShipmentTrackingNumber NVARCHAR(50),
    @CurrencyType NVARCHAR(50),
    @PriceCurrency NVARCHAR(50),
    @Price DECIMAL(10,2),
    @DispatchConfirmationNumber NVARCHAR(50),
    @Documents dbo.DHLResponseDocumentsType READONLY,
    @ServiceBreakdown dbo.DHLResponseChargesBreakdownType READONLY,
    @Packages dbo.DHLResponsePackagesType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO [dbo].[DHLResponse]
            ([MessageReference],[shipmentTrackingNumber],[currencyType],[priceCurrency],[price],[dispatchConfirmationNumber])
        VALUES
            (@MessageReference,@ShipmentTrackingNumber,@CurrencyType,@PriceCurrency,@Price,@DispatchConfirmationNumber);

        DECLARE @DHLResponseID INT = SCOPE_IDENTITY();

        INSERT INTO [dbo].[DHLResponseDocuments]
            ([DHLResponseID],[ShipmentReference],[imageFormat],[typeCode],[Content],[FileName])
        SELECT @DHLResponseID, ShipmentReference, imageFormat, typeCode, Content, FileName
        FROM @Documents;

        INSERT INTO [dbo].[DHLResponseChargesBreakdown]
            ([DHLResponseID],[ShipmentReference],[name],[price],[typeCode])
        SELECT @DHLResponseID, @MessageReference, [name], [price], ISNULL([typeCode], '')
        FROM @ServiceBreakdown;

        INSERT INTO [dbo].[DHLResponsePackages]
            ([DHLResponseID],[ShipmentReference],[referenceNumber],[trackingNumber])
        SELECT @DHLResponseID, @MessageReference, referenceNumber, trackingNumber
        FROM @Packages;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
