USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_CheckValidDestinationOfTransferULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Feb, 2025>
-- Description:	<Check Valid Destination Of Transfer ULD >
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_CheckValidDestinationOfTransferULD]  
	@FromULDBarcode VARCHAR(30),
	@LocationCode VARCHAR(50),
	@ULDBarcode VARCHAR(30),
    @Message VARCHAR(4000) OUTPUT,
	@ULDTenant VARCHAR(10) OUTPUT 
AS
BEGIN
	
	SET NOCOUNT ON;

	-- Check Destination
    IF LEN(@LocationCode) != 33 
	BEGIN
		SET @Message = 'The Location Code is not in correct format.';
		RETURN;
	END

	DECLARE @ULDDate DATETIME;
	DECLARE @ULDLocationCode VARCHAR(50);
	DECLARE @ULDID INT;
	DECLARE @ExpiryDate DATETIME;
	DECLARE @BatchNumber VARCHAR(30);
	DECLARE @ItemNumber VARCHAR(30);
	DECLARE @TenantCode VARCHAR(10);
	DECLARE @PickingCondition VARCHAR(100);
	DECLARE @HoldStatus VARCHAR(20);
	DECLARE @HoldReason VARCHAR(1000);

	SELECT @ULDLocationCode = ULDCurrentLocation,
		   @ULDID = ULDID,
		   @ExpiryDate = ExpiryDate,
		   @BatchNumber = BatchNumber,
		   @ItemNumber = ItemNumber,
		   @TenantCode = TenantCode,
		   @ULDDate = CreatedDateTime,
		   @HoldStatus = HoldStatus,
		   @HoldReason = HoldReason
	FROM dbo.ULD WHERE ULDBarcode = @ULDBarcode AND DELETED = 0;

	SET @ULDTenant = @TenantCode;

	IF @HoldStatus IS NOT NULL AND @HoldStatus = 'Hold'
	BEGIN
		SET @Message = 'This ULD is on hold due to the following reason: ' + @HoldReason;
		RETURN;
	END

	IF @ULDLocationCode IS NULL
	BEGIN
		SET @Message = 'This ULDBarcode does not exists.';
		RETURN;
	END

	IF @ULDLocationCode <> @LocationCode
	BEGIN
		SET @Message = 'The Location does not contain this ULD';
		RETURN;
	END
		
	-- get Source Infomation
	DECLARE @SourceULDDate DATETIME;
	DECLARE @SourceExpiryDate DATETIME;
	DECLARE @SourceBatchNumber VARCHAR(30);
	DECLARE @SourceULDID INT;
	DECLARE @SourceItemNumber VARCHAR(30);
	DECLARE @SourceTenantCode VARCHAR(10);
	DECLARE @SourcePickingCondition VARCHAR(100);

	SELECT @SourceULDID = ULDID,
		   @SourceExpiryDate = ExpiryDate,
		   @SourceBatchNumber = BatchNumber,
		   @SourceItemNumber = ItemNumber,
		   @SourceTenantCode = TenantCode,
		   @SourceULDDate = CreatedDateTime
	FROM dbo.ULD WHERE ULDBarcode = @FromULDBarcode AND DELETED = 0;
	
	IF @SourceItemNumber <> @ItemNumber
	BEGIN
		SET @Message = 'Source and destination Item are not match.';
		RETURN;
	END

	IF @SourceExpiryDate IS NOT NULL AND @ExpiryDate IS NOT NULL AND @SourceExpiryDate <> @ExpiryDate
	BEGIN
		SET @Message = 'Source and destination expire date are not match.';
		RETURN;
	END

	IF @SourceBatchNumber IS NOT NULL AND @BatchNumber IS NOT NULL AND @SourceBatchNumber <> @BatchNumber
	BEGIN
		SET @Message = 'Source and destination batch number are not match.';
		RETURN;
	END

	IF @SourceTenantCode <> @TenantCode
	BEGIN
		SET @Message = 'Source and destination Tenant are not match.';
		RETURN;
	END

	-- get Picking Condition
	SELECT @PickingCondition = PickingCondition FROM dbo.Items 
	WHERE Deleted = 0 AND ItemNumber = @ItemNumber AND TenantCode = @TenantCode;

	-- get source Picking Condition
	SELECT @SourcePickingCondition = PickingCondition FROM dbo.Items 
	WHERE Deleted = 0 AND ItemNumber = @SourceItemNumber AND TenantCode = @SourceTenantCode;

	if @SourcePickingCondition IS NOT NULL 
	          AND (@SourcePickingCondition = 'Last In - First Out' OR @SourcePickingCondition = 'First In - First Out')
			  AND (DATEPART(YEAR, @SourceULDDate) <> DATEPART(YEAR, @ULDDate)
				OR DATEPART(MONTH, @SourceULDDate) <> DATEPART(MONTH, @ULDDate)
				OR DATEPART(DAY, @SourceULDDate) <> DATEPART(DAY, @ULDDate))
	BEGIN
		SET @Message = 'ULD Dates are not match.';
		RETURN;
	END

END
GO
