USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_GetAvailableLocationNumber]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Sep, 2024>
-- Description:	<Get Available Number of Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_GetAvailableLocationNumber]
	@LocParentID        INT,  -- Id of parent follow the value of @LocType. Ex: @LocType = 1 (Create Area) so @LocParentID is ID of warehouse
	@LocType		    INT,  -- Type of Loc will be created 1: Area ; 2:Section ; 3:Row ; 4:Column ; 5:Shelf ; 6:Bin ; ; 7:Sbin
	@AvailableNumber     INT OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		-- Declare variables for each SettingValue in camel case
		DECLARE @MaxNumberWarehouses INT,
				@MaxNumberAreas INT,
				@MaxNumberSections INT,
				@MaxNumberRows INT,
				@MaxNumberColumns INT,
				@MaxNumberShelves INT,
				@MaxNumberBins INT,
				@MaxNumberSBins INT
    
		-- Select the values from the Setting table and assign to variables
		SELECT 
			@MaxNumberWarehouses = MAX(CASE WHEN SettingName = 'MAX_NUMBER_WAREHOUSES' THEN SettingValue END),
			@MaxNumberAreas = MAX(CASE WHEN SettingName = 'MAX_NUMBER_AREAS' THEN SettingValue END),
			@MaxNumberSections = MAX(CASE WHEN SettingName = 'MAX_NUMBER_SECTIONS' THEN SettingValue END),
			@MaxNumberRows = MAX(CASE WHEN SettingName = 'MAX_NUMBER_ROWS' THEN SettingValue END),
			@MaxNumberColumns = MAX(CASE WHEN SettingName = 'MAX_NUMBER_COLUMNS' THEN SettingValue END),
			@MaxNumberShelves = MAX(CASE WHEN SettingName = 'MAX_NUMBER_SHELVES' THEN SettingValue END),
			@MaxNumberBins = MAX(CASE WHEN SettingName = 'MAX_NUMBER_BINS' THEN SettingValue END),
			@MaxNumberSBins = MAX(CASE WHEN SettingName = 'MAX_NUMBER_SBINS' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN (
			'MAX_NUMBER_WAREHOUSES', 'MAX_NUMBER_AREAS', 'MAX_NUMBER_SECTIONS', 'MAX_NUMBER_ROWS',
			'MAX_NUMBER_COLUMNS', 'MAX_NUMBER_SHELVES', 'MAX_NUMBER_BINS', 'MAX_NUMBER_SBINS');


        DECLARE @TotalRecords INT;
       
		IF @LocType = 1
        BEGIN
            -- Code to handle Area creation
            PRINT 'Getting Area...';

            SET @AvailableNumber = @MaxNumberAreas;
        END
        ELSE IF @LocType = 2
        BEGIN
            -- Code to handle Section creation
            PRINT 'Getting Section...';
            
			SET @AvailableNumber = @MaxNumberSections;

        END
        ELSE IF @LocType = 3
        BEGIN
            -- Code to handle Row creation
            PRINT 'Getting Row...';

			SET @AvailableNumber = @MaxNumberRows;
            
        END
        ELSE IF @LocType = 4
        BEGIN
            -- Code to handle Column creation
            PRINT 'Getting Column...';

			SET @AvailableNumber = @MaxNumberColumns;
            
        END
        ELSE IF @LocType = 5
        BEGIN
            -- Code to handle Shelf creation
            PRINT 'Getting Shelf...';

			SET @AvailableNumber = @MaxNumberShelves;
           
        END
        ELSE IF @LocType = 6
        BEGIN
            -- Code to handle Bin creation
            PRINT 'Getting Bin...';

			SET @AvailableNumber = @MaxNumberBins;
            
        END
        ELSE
        BEGIN
            -- Default case for unknown LocType
            PRINT 'Getting Sbin';

			SET @AvailableNumber = @MaxNumberSBins;
			
        END;
	END TRY
	BEGIN CATCH
		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;

END
GO
