USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_SummaryInvoiceWeeklyReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Sep, 2025>
-- Description:	<Implement Summary Invoice Weekly Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_SummaryInvoiceWeeklyReport]
	@ReportDefinitionID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@WarehouseCode VARCHAR(20),
			@WarehouseName VARCHAR(150),
			@OutputType VARCHAR(50),
			@StartDate DateTime,
			@EndDate DateTime,
			@TenantName VARCHAR(250),
			@Mandatory BIT;

	SELECT 
		@OutputType = OutputType,
		@Mandatory = Mandatory
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	-- Declare
	CREATE TABLE #TempInvoiceTable
	(
		WarehouseCode VARCHAR(20),
		WarehouseName VARCHAR(150),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ChargeName VARCHAR(100),
		ChargeCategory VARCHAR(100),
		ChargeDesc VARCHAR(500),
		Qty INT,
		Cost Decimal(18, 2),
		Charge Decimal(18, 2),
		Currency VARCHAR(20),
		ChargedDateTime DateTime,
		ChargedBy VARCHAR(100)
	);


	EXEC SP_VI_TBL_ReportScript_GetReportDateRange
		 @ScheduleType = 'Weekly',
		 @StartDate = @StartDate OUTPUT,
		 @EndDate = @EndDate OUTPUT;
	
	IF @Mandatory = 1
	BEGIN
		DECLARE TenantCursor CURSOR FOR
		SELECT t.TenantCode, t.TenantName, w.WarehouseCode, w.WarehouseName
		FROM dbo.Tenant t, dbo.LocWarehouse w		
		WHERE t.Deleted = 0 AND w.Deleted = 0;

		OPEN TenantCursor;

		FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- You can perform your logic here, e.g.:
			PRINT 'Processing tenant: ' + @TenantCode;

			INSERT INTO #TempInvoiceTable
			(
				WarehouseCode,
				WarehouseName,
				TenantCode,
				TenantName,
				ChargeName,
				ChargeCategory,
				ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				ChargedDateTime,
				ChargedBy
			)
			SELECT 
				@WarehouseCode,
				@WarehouseName,
				TenantCode,
				@TenantName,
				ChargeName,
				CASE 
					WHEN ChargeCategory IN ('Services - Stock Take','Services - Kitting','Services - Other') 						
						THEN 'Services'
					ELSE ChargeCategory
				END AS ChargeCategory,				
				InvoiceReferences as ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				CreatedDateTime AS ChargedDateTime,
				CreatedBy AS ChargedBy
			FROM dbo.Invoice
			WHERE 
				TenantCode = @TenantCode
				AND WarehouseCode = @WarehouseCode
				AND DELETED = 0
				AND CreatedDateTime BETWEEN @StartDate AND @EndDate
			ORDER BY TenantCode, WarehouseCode;
				
			-- Next
			FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;
		END

	END
	ELSE
	BEGIN
		DECLARE TenantCursor CURSOR FOR
		SELECT s.TenantCode, t.TenantName, s.WarehouseCode, w.WarehouseName
		FROM dbo.TenantReportDefinition s
		LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode
		LEFT JOIN dbo.LocWarehouse w ON w.WarehouseCode = s.WarehouseCode	
		WHERE s.Deleted = 0 AND s.ReportDefinitionID = @ReportDefinitionID;	

		OPEN TenantCursor;

		FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- You can perform your logic here, e.g.:
			PRINT 'Processing tenant: ' + @TenantCode;

			INSERT INTO #TempInvoiceTable
			(
				WarehouseCode,
				WarehouseName,
				TenantCode,
				TenantName,
				ChargeName,
				ChargeCategory,
				ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				ChargedDateTime,
				ChargedBy
			)
			SELECT 
				@WarehouseCode,
				@WarehouseName,
				TenantCode,
				@TenantName,
				ChargeName,
				CASE 
					WHEN ChargeCategory IN ('Services - Stock Take','Services - Kitting','Services - Other') 						
						THEN 'Services'
					ELSE ChargeCategory
				END AS ChargeCategory,		
				InvoiceReferences as ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				CreatedDateTime AS ChargedDateTime,
				CreatedBy AS ChargedBy
			FROM dbo.Invoice
			WHERE 
				TenantCode = @TenantCode
				AND WarehouseCode = @WarehouseCode
				AND DELETED = 0
				AND CreatedDateTime BETWEEN @StartDate AND @EndDate
			ORDER BY TenantCode, WarehouseCode;
				
			-- Next
			FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;
		END
	END

	CLOSE TenantCursor;
	DEALLOCATE TenantCursor;
	
	IF @OutputType IS NULL OR @OutputType = 'Server'
	BEGIN
		
		PRINT 'Return CSV';
		SELECT WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory, SUM(Qty) as Qty, SUM(Charge) as Total , Currency
		FROM #TempInvoiceTable
		GROUP BY WarehouseCode, WarehouseName, TenantCode, TenantName, ChargeCategory, Currency;
	END
END
GO
