USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocArea_UpdateLocArea]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<Update Area>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocArea_UpdateLocArea] 
	@LocAreaID                    INT,
    @AreaName                     VARCHAR(200) = NULL,
	@AreaDesc                     VARCHAR(1000) = NULL,
    @OrderNumber                  INT = NULL,
	@FirstEditedDateTime          DATETIME = NULL,
    @FirstEditedBy                VARCHAR(100) = NULL,
    @LastEditedDateTime           DATETIME = NULL,
    @LastEditedBy                 VARCHAR(100) = NULL, 
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		DECLARE @Deleted BIT = NULL, @LocWarehouseID INT;

		SELECT @Deleted = Deleted, 
			   @LocWarehouseID = LocWarehouseID
		FROM dbo.LocArea
		WHERE LocAreaID = @LocAreaID;

		IF @Deleted IS NULL OR @Deleted = 1
		BEGIN
			SET @Message = 'LocAreaID does not exist or has been deleted.'
			RETURN;
		END

		IF EXISTS(SELECT 1 FROM dbo.LocArea WHERE LocWarehouseID = @LocWarehouseID AND LocAreaID != @LocAreaID AND Deleted = 0 
		AND LOWER(TRIM(AreaName)) = LOWER(TRIM(@AreaName)))
        BEGIN
            SET @Message = 'Area name already exists.'
            RETURN;
        END

		IF EXISTS(SELECT 1 FROM dbo.LocArea WHERE LocWarehouseID = @LocWarehouseID AND LocAreaID != @LocAreaID AND Deleted = 0 
		AND OrderNumber = @OrderNumber)
        BEGIN
            SET @Message = 'Order Number already exists.'
            RETURN;
        END

		-- Check maximum order number can change
		DECLARE @AreaIncrement INT;
		DECLARE @CurrentOrder INT;

		
		SELECT 
			@AreaIncrement = MAX(CASE WHEN SettingName = 'AREA_INCREMENT' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN ('AREA_INCREMENT');

		SELECT @CurrentOrder = CurrentOrder
		FROM dbo.LocSequence
		WHERE LocationID = @LocWarehouseID AND LocationType = 1;

		IF @OrderNumber > @CurrentOrder + @AreaIncrement
        BEGIN
            SET @Message = 'Order number exceeds the allowed limit.'
            RETURN;
        END
		
		
		UPDATE dbo.LocArea
		SET
			AreaName = COALESCE(@AreaName, AreaName),
			OrderNumber = COALESCE(@OrderNumber, OrderNumber),
			AreaDesc = COALESCE(@AreaDesc, AreaDesc),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
		WHERE LocAreaID = @LocAreaID
	END TRY
	BEGIN CATCH
		-- Handle the error
		DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE()

		-- Rethrow the error
		RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
	END CATCH;
END
GO
