USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_InvoiceWeeklyReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 May, 2025>
-- Description:	<Implement Invoice Weekly Report>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ReportScript_InvoiceWeeklyReport]
	@ReportDefinitionID INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10), 
			@WarehouseCode VARCHAR(20),
			@WarehouseName VARCHAR(150),
			@OutputType VARCHAR(50),
			@StartDate DateTime,
			@EndDate DateTime,
			@TenantName VARCHAR(250),
			@Mandatory BIT;

	SELECT 
		@OutputType = OutputType,
		@Mandatory = Mandatory
	FROM dbo.ReportDefinition 
	WHERE ReportDefinitionID = @ReportDefinitionID AND Deleted = 0;

	-- Declare
	CREATE TABLE #TempInvoiceTable
	(
		WarehouseCode VARCHAR(20),
		WarehouseName VARCHAR(150),
		TenantCode VARCHAR(10),
		TenantName VARCHAR(250),
		ChargeName VARCHAR(100),
		ChargeDesc VARCHAR(500),
		Qty INT,
		Cost Decimal(18, 2),
		Charge Decimal(18, 2),
		Currency VARCHAR(20),
		ChargedDateTime DateTime,
		ChargedBy VARCHAR(100)
	);


	EXEC SP_VI_TBL_ReportScript_GetReportDateRange
		 @ScheduleType = 'Weekly',
		 @StartDate = @StartDate OUTPUT,
		 @EndDate = @EndDate OUTPUT;
	
	IF @Mandatory = 1
	BEGIN
		DECLARE TenantCursor CURSOR FOR
		SELECT t.TenantCode, t.TenantName, w.WarehouseCode, w.WarehouseName
		FROM dbo.Tenant t, dbo.LocWarehouse w		
		WHERE t.Deleted = 0 AND w.Deleted = 0;

		OPEN TenantCursor;

		FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- You can perform your logic here, e.g.:
			PRINT 'Processing tenant: ' + @TenantCode;

			INSERT INTO #TempInvoiceTable
			(
				WarehouseCode,
				WarehouseName,
				TenantCode,
				TenantName,
				ChargeName,
				ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				ChargedDateTime,
				ChargedBy
			)
			SELECT 
				@WarehouseCode,
				@WarehouseName,
				TenantCode,
				@TenantName,
				ChargeName,
				InvoiceReferences as ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				CreatedDateTime AS ChargedDateTime,
				CreatedBy AS ChargedBy
			FROM dbo.Invoice
			WHERE 
				TenantCode = @TenantCode
				AND WarehouseCode = @WarehouseCode
				AND DELETED = 0
				AND CreatedDateTime BETWEEN @StartDate AND @EndDate
			ORDER BY TenantCode, WarehouseCode;
				
			-- Next
			FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;
		END

	END
	ELSE
	BEGIN
		DECLARE TenantCursor CURSOR FOR
		SELECT s.TenantCode, t.TenantName, s.WarehouseCode, w.WarehouseName
		FROM dbo.TenantReportDefinition s
		LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode
		LEFT JOIN dbo.LocWarehouse w ON w.WarehouseCode = s.WarehouseCode	
		WHERE s.Deleted = 0 AND s.ReportDefinitionID = @ReportDefinitionID;	

		OPEN TenantCursor;

		FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			-- You can perform your logic here, e.g.:
			PRINT 'Processing tenant: ' + @TenantCode;

			INSERT INTO #TempInvoiceTable
			(
				WarehouseCode,
				WarehouseName,
				TenantCode,
				TenantName,
				ChargeName,
				ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				ChargedDateTime,
				ChargedBy
			)
			SELECT 
				@WarehouseCode,
				@WarehouseName,
				TenantCode,
				@TenantName,
				ChargeName,
				InvoiceReferences as ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				CreatedDateTime AS ChargedDateTime,
				CreatedBy AS ChargedBy
			FROM dbo.Invoice
			WHERE 
				TenantCode = @TenantCode
				AND WarehouseCode = @WarehouseCode
				AND DELETED = 0
				AND CreatedDateTime BETWEEN @StartDate AND @EndDate
			ORDER BY TenantCode, WarehouseCode;
				
			-- Next
			FETCH NEXT FROM TenantCursor INTO @TenantCode, @TenantName, @WarehouseCode, @WarehouseName;
		END
	END

	CLOSE TenantCursor;
	DEALLOCATE TenantCursor;

	IF @OutputType IS NULL OR @OutputType = 'Portal'
	BEGIN
		PRINT 'Save DB';

		BEGIN TRY

			BEGIN TRANSACTION

			--inset header
			INSERT INTO dbo.ReportData (ReportDefinitionID, TenantCode, TenantName, WarehouseCode, StartDate, EndDate, ReportFileName, StoreProcedure, Deleted, CreatedDateTime, CreatedBy)
			SELECT DISTINCT 
				@ReportDefinitionID,
				TenantCode,
				TenantName,
				WarehouseCode,
				@StartDate,
				@EndDate,
				NULL,
				'[dbo].[SP_VI_TBL_ReportScript_InvoiceManualReport]',
				0,
				GETDATE(),
				'System'
			FROM #TempInvoiceTable
			GROUP BY TenantCode, TenantName, WarehouseCode;
			
			-- Step 2: Insert related lines
			/*INSERT INTO dbo.ReportInvoice (
				ReportDataID,
				ChargeName,
				ChargeDesc,
				Qty,
				Cost,
				Charge,
				Currency,
				ChargedDateTime,
				ChargedBy,
				Deleted, 
				CreatedDateTime, 
				CreatedBy
			)
			SELECT 
				H.ReportDataID,
				T.ChargeName,
				T.ChargeDesc,
				T.Qty,
				T.Cost,
				T.Charge,
				T.Currency,
				T.ChargedDateTime,
				T.ChargedBy,
				0,
				GETDATE(),
				'System'
			FROM #TempInvoiceTable T
			JOIN dbo.ReportData H
				ON T.TenantCode = H.TenantCode
				AND T.TenantName = H.TenantName
				AND T.WarehouseCode = H.WarehouseCode;*/

			-- Commit the transaction
			COMMIT TRANSACTION;

			SELECT TenantCode FROM #TempInvoiceTable;

		END TRY
		BEGIN CATCH
			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;

	END
	
	IF @OutputType IS NULL OR @OutputType = 'Server'
	BEGIN
		
		PRINT 'Return CSV';
		SELECT 
			WarehouseCode,
			WarehouseName,
			TenantCode,
			TenantName,
			ChargeName,
			ChargeDesc,
			Qty,
			Cost,
			Charge,
			Currency,
			CONVERT(char(8), ChargedDateTime, 3) AS ChargedDateTime,
			ChargedBy
		FROM #TempInvoiceTable;
	END
END
GO
