USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_ViewAppliedTenantById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <29 Nov, 2024>
-- Description:	<View All Applied Charge Item By Id>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_ViewAppliedTenantById]  
	 @ChargeItemID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT DISTINCT
    t.TenantCode, 
    t.TenantName,
	t.IsUsingCustomPrice,
	tci.ChargeType,
    CASE 
        WHEN COALESCE(tci.ChargeItemID, 0) > 0 THEN 1
        ELSE 0
    END AS Applied
	FROM dbo.Tenant t
	LEFT JOIN dbo.TenantChargeItem tci 
		ON LOWER(t.TenantCode) = LOWER(tci.TenantCode) 
		AND tci.ChargeItemID = @ChargeItemID AND tci.deleted = 0
	WHERE t.deleted = 0
	ORDER BY t.TenantName;

END
GO
