USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_SearchULDs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Feb, 2025>
-- Description:	<Search ULDs>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_SearchULDs]
	 @WarehouseCode NVARCHAR(10) = NULL,	
     @TenantCode NVARCHAR(10) = NULL,
	 @ItemNumber NVARCHAR(30) = NULL,
	 @StartTime datetime = NULL,
	 @EndTime datetime = NULL,
	 @Status NVARCHAR(50) = NULL, -- Bulk InActive Locked NotLocked
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ULDID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);
	DECLARE @Query NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        
		-- Get the total number of records
		SET @Query = N'SELECT @TotalRecords = COUNT(*) FROM dbo.ULD WHERE DELETED = 0 AND (IsWarehouseTenant IS NULL OR IsWarehouseTenant = 0) AND Status <> ''Draft''';

		-- Append conditions based on parameter values

		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @Query += N' AND WarehouseCode = TRIM(@WarehouseCode)';
		END

		IF @TenantCode IS NOT NULL
		BEGIN
			SET @Query += N' AND TenantCode = TRIM(@TenantCode)';
		END

		IF @ItemNumber IS NOT NULL
		BEGIN
			SET @Query += N' AND ItemNumber = TRIM(@ItemNumber)';
		END

		IF @StartTime IS NOT NULL
		BEGIN
			SET @Query += N' AND CreatedDateTime >= @StartTime';
		END
		
		IF @EndTime IS NOT NULL
		BEGIN
			SET @Query += N' AND CreatedDateTime <= @EndTime';
		END

		IF @Status IS NOT NULL
		BEGIN	
			IF @Status = 'NotLocked'
			BEGIN
				SET @Query += N' AND Status <> ''Locked''';
			END
			ELSE 
			BEGIN
				SET @Query += N' AND Status = TRIM(@Status)';
			END
		END
		

		-- Execute the dynamically built query
		EXEC sp_executesql @Query,
		N'@TenantCode NVARCHAR(10), @WarehouseCode NVARCHAR(10), @ItemNumber NVARCHAR(30), @StartTime DATETIME, @EndTime DATETIME, @Status NVARCHAR(50), @TotalRecords INT OUTPUT',
		@TenantCode, @WarehouseCode, @ItemNumber, @StartTime, @EndTime, @Status, @TotalRecords OUTPUT;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT i.*, t.TenantName, lw.WarehouseName , ii.ItemID, t.TenantID
		              FROM dbo.ULD i
					  LEFT JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					  LEFT JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
					  LEFT JOIN dbo.Items ii ON ii.ItemNumber = i.ItemNumber AND ii.TenantCode = i.TenantCode AND ii.Deleted = 0
		              WHERE i.DELETED = 0 AND (i.IsWarehouseTenant IS NULL OR i.IsWarehouseTenant = 0) AND i.Status <> ''Draft''';

		-- Append conditions dynamically
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END

		IF @TenantCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.TenantCode = TRIM(@TenantCode)';
		END

		IF @ItemNumber IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.ItemNumber = TRIM(@ItemNumber)';
		END

		IF @StartTime IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.CreatedDateTime >= @StartTime';
		END

		IF @EndTime IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.CreatedDateTime <= @EndTime';
		END

		IF @Status IS NOT NULL
		BEGIN	
			IF @Status = 'NotLocked'
			BEGIN
				SET @SQL += N' AND i.Status <> ''Locked''';
			END
			ELSE 
			BEGIN
				SET @SQL += N' AND i.Status = TRIM(@Status)';
			END
		END

		-- Add ORDER BY, OFFSET, and FETCH clauses
		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				   ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

				   PRINT @SQL;

		-- Execute the dynamically built query
		EXEC sp_executesql @SQL,
			N'@TenantCode NVARCHAR(10), @WarehouseCode NVARCHAR(10), @ItemNumber NVARCHAR(30), @StartTime DATETIME, @EndTime DATETIME, 
			  @OrderBy NVARCHAR(50), @OrderDir NVARCHAR(10), @Offset INT, @PageSize INT, @Status NVARCHAR(50)',
			@TenantCode, @WarehouseCode, @ItemNumber, @StartTime, @EndTime, @OrderBy, @OrderDir, @Offset, @PageSize, @Status;

    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		-- Initialize base SQL query
		SET @Query = N'SELECT @TotalRecords = COUNT(*) 
										FROM dbo.ULD i
										LEFT JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
										LEFT JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
										WHERE i.DELETED = 0 AND (i.IsWarehouseTenant IS NULL OR i.IsWarehouseTenant = 0) AND i.Status <> ''Draft''
										AND (
											LOWER(i.ULDCurrentLocation) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.ItemName) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.ItemNumber) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(i.ULDBarcode) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(t.TenantName) LIKE ''%'' + @Search + ''%'' 
											OR LOWER(lw.WarehouseName) LIKE ''%'' + @Search + ''%''
											OR LOWER(i.BatchNumber) LIKE ''%'' + @Search + ''%''
											OR LOWER(CONVERT(NVARCHAR, i.ExpiryDate, 103)) LIKE ''%'' + @Search + ''%''
										)';

		-- Append conditions dynamically
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @Query += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END


		IF @TenantCode IS NOT NULL
		BEGIN
			SET @Query += N' AND i.TenantCode = TRIM(@TenantCode)';
		END

		IF @ItemNumber IS NOT NULL
		BEGIN
			SET @Query += N' AND i.ItemNumber = TRIM(@ItemNumber)';
		END

		IF @StartTime IS NOT NULL
		BEGIN
			SET @Query += N' AND i.CreatedDateTime >= @StartTime';
		END

		IF @EndTime IS NOT NULL
		BEGIN
			SET @Query += N' AND i.CreatedDateTime <= @EndTime';
		END

		IF @Status IS NOT NULL
		BEGIN	
			IF @Status = 'NotLocked'
			BEGIN
				SET @Query += N' AND i.Status <> ''Locked''';
			END
			ELSE 
			BEGIN
				SET @Query += N' AND i.Status = TRIM(@Status)';
			END
		END

		-- Execute the query
		EXEC sp_executesql @Query,
			N'@Search NVARCHAR(MAX), @TenantCode NVARCHAR(10), @WarehouseCode NVARCHAR(10), @ItemNumber NVARCHAR(30),
			  @StartTime DATETIME, @EndTime DATETIME, @Status NVARCHAR(50), @TotalRecords INT OUTPUT',
			@Search, @TenantCode, @WarehouseCode, @ItemNumber, @StartTime, @EndTime, @Status, @TotalRecords OUTPUT;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT i.*, t.TenantName, lw.WarehouseName, ii.ItemID, t.TenantID
						FROM dbo.ULD i
					    LEFT JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					    LEFT JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
						LEFT JOIN dbo.Items ii ON ii.ItemNumber = i.ItemNumber AND ii.TenantCode = i.TenantCode AND ii.Deleted = 0
						WHERE i.DELETED = 0 AND (i.IsWarehouseTenant IS NULL OR i.IsWarehouseTenant = 0) AND i.Status <> ''Draft''
						AND (
							LOWER(i.ULDCurrentLocation) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(i.ItemName) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(i.ItemNumber) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(i.ULDBarcode) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(t.TenantName) LIKE ''%'' + @Search + ''%'' 
							OR LOWER(lw.WarehouseName) LIKE ''%'' + @Search + ''%''
							OR LOWER(i.BatchNumber) LIKE ''%'' + @Search + ''%''
							OR LOWER(CONVERT(NVARCHAR, i.ExpiryDate, 103)) LIKE ''%'' + @Search + ''%''
						)';

		-- Dynamically append additional filters
		IF @WarehouseCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.WarehouseCode = TRIM(@WarehouseCode)';
		END

		IF @TenantCode IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.TenantCode = TRIM(@TenantCode)';
		END

		IF @ItemNumber IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.ItemNumber = TRIM(@ItemNumber)';
		END

		IF @StartTime IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.CreatedDateTime >= @StartTime';
		END
		
		IF @EndTime IS NOT NULL
		BEGIN
			SET @SQL += N' AND i.CreatedDateTime <= @EndTime';
		END

		IF @Status IS NOT NULL
		BEGIN	
			IF @Status = 'NotLocked'
			BEGIN
				SET @SQL += N' AND i.Status <> ''Locked''';
			END
			ELSE 
			BEGIN
				SET @SQL += N' AND i.Status = TRIM(@Status)';
			END
		END

		-- Append ORDER BY, OFFSET, and FETCH clauses
		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				   ' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
					 FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		-- Execute the dynamically built query
		EXEC sp_executesql @SQL,
			N'@Search NVARCHAR(MAX), @TenantCode NVARCHAR(10), @WarehouseCode NVARCHAR(10), @ItemNumber NVARCHAR(30),
			  @StartTime DATETIME, @EndTime DATETIME, @OrderBy NVARCHAR(50), 
			  @OrderDir NVARCHAR(10), @Offset INT, @PageSize INT, @Status NVARCHAR(50)',
			@Search, @TenantCode, @WarehouseCode, @ItemNumber, @StartTime, @EndTime, @OrderBy, @OrderDir, @Offset, @PageSize, @Status;

    END 
   
END
GO
