USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_ViewKittingItemOfService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<View Kitting Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_ViewKittingItemOfService] @ServiceID INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT DISTINCT s.KittingItemID, s.ItemID, s.ItemNumber, s.ItemName, s.TenantCode, s.Qty
	FROM dbo.KittingItem s
    WHERE s.ServiceID = @ServiceID AND s.DELETED = 0;
   
END
GO
