USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocSBin_ListAllSBinsByBinId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get SBin by BinId>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocSBin_ListAllSBinsByBinId] @LocBinID INT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @StorageType VARCHAR(50);

	SELECT TOP 1 @StorageType = ls.StorageType
	FROM dbo.LocSection ls
	INNER JOIN dbo.LocRow lr ON ls.LocSectionID = lr.LocSectionID AND lr.DELETED = 0
	INNER JOIN dbo.LocColumn lc ON lr.LocRowID = lc.LocRowID AND lc.DELETED = 0
	INNER JOIN dbo.LocShelf lsf ON lc.LocColumnID = lsf.LocColumnID AND lsf.DELETED = 0
	INNER JOIN dbo.LocBin lb ON lsf.LocShelfID = lb.LocShelfID AND lb.DELETED = 0 AND lb.LocBinID = @LocBinID;

	SELECT ls.*, @StorageType AS StorageType, CASE 
           WHEN U.LocSBinID IS NULL THEN 'Empty' 
           ELSE 'Occupied' 
       END AS StorageStatus
	FROM dbo.LocSBin ls
	LEFT JOIN (
		SELECT U.LocSBinID
			FROM dbo.ULD U
			WHERE U.LocSBinID IS NOT NULL
			AND U.DELETED = 0
			AND EXISTS (
				SELECT 1
				FROM dbo.ULDLine UL
				WHERE UL.ULDID = U.ULDID
				AND UL.DELETED = 0
				GROUP BY UL.ULDID
				HAVING SUM(UL.TransactionQty) > 0
			)
			GROUP BY U.LocSBinID
	) U ON ls.LocSBinID = U.LocSBinID
	WHERE ls.LocBinID = @LocBinID AND ls.DELETED = 0;
END
GO
