USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_ViewAppliedReportDefinitionByTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 Jan, 2025>
-- Description:	<View All Applied Report Definition By Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_ViewAppliedReportDefinitionByTenant]  
	 @TenantCode VARCHAR(10)
AS
BEGIN

	SET NOCOUNT ON;

	(
		SELECT DISTINCT trs.ReportDefinitionId, rs.ReportName, rs.StoreProcedure, trs.WarehouseCode, rs.Deleted, rs.Mandatory, rs.OutputType 
		FROM dbo.TenantReportDefinition trs
		LEFT JOIN dbo.ReportDefinition rs ON LOWER(rs.ReportDefinitionId) = LOWER(trs.ReportDefinitionId)
		WHERE trs.TenantCode = @TenantCode AND trs.deleted = 0
	)

	UNION ALL
	(
		SELECT DISTINCT rs.ReportDefinitionId, rs.ReportName, rs.StoreProcedure, w.WarehouseCode, rs.Deleted, rs.Mandatory, rs.OutputType
		FROM dbo.ReportDefinition rs, LocWarehouse w
		WHERE rs.DELETED = 0 AND w.DELETED = 0 AND rs.Mandatory = 1
	)
  
END
GO
