USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportSchedule_ViewReportSchedule]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 jan, 2025>
-- Description:	<Get detail information of Report Schedule>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportSchedule_ViewReportSchedule] 
    @ReportScheduleID INT
AS
BEGIN
	
	SET NOCOUNT ON;

   -- Retrieve 
    SELECT *
    FROM dbo.ReportSchedule
    WHERE ReportScheduleID = @ReportScheduleID AND DELETED = 0;
END
GO
