USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DHLPackages_AddPackages]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Aug, 2025>
-- Description:	<Add Packages to DHL Shipment>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_DHLPackages_AddPackages]  
	@ShipmentID INT,	
	@OrderNumber VARCHAR(50),
	@BoxWeight DECIMAL(10, 2) = 0,
	@BoxSize dbo.BoxSizeType READONLY,
	@Items dbo.OrderLineType READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,	
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN	
	
	SET NOCOUNT ON;

	DECLARE @StartedTran bit = 0;

	BEGIN TRY

		-- Start only if no ambient transaction
		IF @@TRANCOUNT = 0
		BEGIN
			SET @StartedTran = 1;
			BEGIN TRANSACTION;
		END       

		
		DECLARE @TenantCode VARCHAR(10),
			@typeCode NVARCHAR(6),
			@weight DECIMAL(10,3),
			@length DECIMAL(10,3),
			@width DECIMAL(10,0),
			@height DECIMAL(10,0),
			@invoice_totalNetWeight DECIMAL(18,3),
			@ItemWeight Decimal(10,2),
			@CR_value NVARCHAR(70),
			@CR_typeCode NVARCHAR(6),
			@description NVARCHAR(140), 
			@SourceOrderNumber VARCHAR(50),
			@ItemID INT;

		SELECT  @TenantCode = TenantCode, 
				@SourceOrderNumber = order_number
		FROM dbo.Fulfilment
		WHERE OrderNumber = @OrderNumber AND Deleted = 0;

		SELECT 
			@length = CEILING(ISNULL(Length, 0) / 10.0),
			@height = CEILING(ISNULL(Height, 0) / 10.0),
			@width  = CEILING(ISNULL(Width, 0) / 10.0)
		FROM @BoxSize;

		SET @CR_value = @OrderNumber + '-' + @SourceOrderNumber; 
		SET @CR_typeCode = N'CU';
		SET @description = @TenantCode + '-' + N'Oversea Shipment';
		
		SET @weight = 0;

		DECLARE @ItemNumber NVARCHAR(20),
				@ItemQty INT;

		DECLARE cur_Items CURSOR LOCAL FAST_FORWARD FOR
			SELECT OrderItemNumber, OrderQuantity
			FROM @Items;

		OPEN cur_Items;  

		FETCH NEXT FROM cur_Items INTO @ItemNumber, @ItemQty;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			SELECT @ItemID = ItemID
			FROM dbo.Items
			WHERE ItemNumber = @ItemNumber AND Deleted = 0 AND TenantCode = @TenantCode;

			SELECT @ItemWeight = ISNULL(Weight,0)
			FROM dbo.ItemTradeUnit
			WHERE ItemID = @ItemID 
				AND ItemType = 'Unit'
				AND Deleted = 0;
		
			SET @weight = @weight + (@ItemQty * @ItemWeight);		

			FETCH NEXT FROM cur_Items INTO @ItemNumber, @ItemQty;
		END;

		CLOSE cur_Items;
		DEALLOCATE cur_Items;

		-- Add box weight
		SET @weight = @weight + @BoxWeight;
	

		INSERT INTO [dbo].[DHLPackages]
		(
			[ShipmentID],
			[typeCode],
			[weight],
			[length],
			[width],
			[height],
			[CR_value],
			[CR_typeCode],
			[description],
			[labelDescription],
			[Deleted],
			[CreatedDateTime],
			[CreatedBy]
		)
		VALUES
		(
			@ShipmentID,
			@typeCode,
			@weight,
			@length,
			@width,
			@height,
			@CR_value,
			@CR_typeCode,
			@description,
			'',
			0,
			@CreatedDateTime,
			@CreatedBy
		);


		-- Commit the transaction
		IF @StartedTran = 1
            COMMIT TRANSACTION;       

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
			IF @StartedTran = 1
				ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
