USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocArea_ViewLocArea]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Sep, 2024>
-- Description:	<View Area>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocArea_ViewLocArea] @LocAreaID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT * 
    FROM dbo.LocArea 
    WHERE LocAreaID = @LocAreaID AND DELETED = 0;
END
GO
