USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_StandardBox_ListAllStandardBoxes]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Sep, 2025>
-- Description:	<Get list of ALl Standard Box >
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_StandardBox_ListAllStandardBoxes]
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT * FROM dbo.StandardBox WHERE DELETED = 0;

END
GO
