USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_CP_GetShipmentDomestic]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CP_GetShipmentDomestic]
    @ShipmentDomesticID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ShipmentDomesticID,
        pickupDeliveryChoiceID,
        TenantCode,
        pickupFirstName,
        pickupLastName,
        pickupCompanyName,
        pickupEmail,
        pickupAddress1,
        pickupAddress2,
        pickupSuburb,
        pickupState,
        pickupPostcode,
        pickupPhone,
        pickupIsBusiness,
        destinationDeliveryChoiceID,
        destinationFirstName,
        destinationLastName,
        destinationCompanyName,
        destinationEmail,
        destinationAddress1,
        destinationAddress2,
        destinationSuburb,
        destinationState,
        destinationPostcode,
        destinationPhone,
        destinationIsBusiness,
        contactFirstName,
        contactLastName,
        contactCompanyName,
        contactEmail,
        contactAddress1,
        contactAddress2,
        contactSuburb,
        contactState,
        contactPostcode,
        contactPhone,
        contactIsBusiness,
        specialInstruction,
        referenceNumber,
        termsAccepted,
        dangerousGoods,
        rateCardId,
        isATL,
        readyDateTime
    FROM dbo.CPShipmentDomestic
    WHERE ShipmentDomesticID = @ShipmentDomesticID;
END;
GO
