USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_DeleteUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Aug, 2024>
-- Description:	<Soft Delete User>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_DeleteUser] 
	@UserID INT, 
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;
	
    BEGIN TRY

		BEGIN TRANSACTION

		IF EXISTS(SELECT 1 FROM dbo.Users WHERE UserID = @UserID AND Deleted = 1)
		BEGIN
			 SET @Message = 'User has already been deleted.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.Users
        SET DELETED = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE UserID = @UserID;

		DECLARE @UserCode NVARCHAR(50);
		SELECT @UserCode = UserCode
		FROM dbo.Users
		WHERE UserID = @UserID;

		IF @UserCode IS NOT NULL
		BEGIN
			--DELETE FROM dbo.UserPermission WHERE UserCode = @UserCode;
			UPDATE dbo.UserPermission
			SET DELETED = 1,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE UserCode = @UserCode;
		END

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
        
        PRINT 'Update successful for UserID: ' + CAST(@UserID AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while updating UserID: ' + CAST(@UserID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW
    END CATCH;
END
GO
