USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_GetWaveInfoForPrintByID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Jun, 2025>
-- Description:	<Get All Info of Wave by ID For Print>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_GetWaveInfoForPrintByID] 
    @WaveID INT,
	@Operation VARCHAR(20), -- Picking Sorting Packing
	@PickingType VARCHAR(50) OUTPUT,
    @WaveNumber VARCHAR(11) OUTPUT,
    @WaveStatus VARCHAR(20) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- get real data
	SELECT @WaveNumber = WaveNumber, @WaveStatus = WaveStatus , @PickingType = PickingType
	FROM dbo.Wave 
	WHERE @WaveID = WaveID AND Deleted = 0;

	CREATE TABLE #TempFulfilmentTable (
		Id INT,
		OrderNumber VARCHAR(50),
		SourceOrderNumber VARCHAR(50),
		TenantName VARCHAR(150)
	);

	IF @Operation = 'Picking'
	BEGIN
		--get Fulfilment ID
		INSERT INTO #TempFulfilmentTable (ID, OrderNumber, SourceOrderNumber, TenantName)
		SELECT f.FulfilmentID, f.OrderNumber, f.order_number as SourceOrderNumber, t.TenantName
		FROM dbo.WaveLine l
		LEFT JOIN dbo.Fulfilment f ON f.OrderNumber = l.OrderNumber AND f.Deleted = 0
		LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
		WHERE l.WaveID = @WaveID AND l.Deleted = 0;		
	END
	ELSE IF @Operation = 'Sorting'
	BEGIN
		INSERT INTO #TempFulfilmentTable (ID, OrderNumber, SourceOrderNumber, TenantName)
		SELECT f.FulfilmentID, f.OrderNumber, f.order_number as SourceOrderNumber, t.TenantName
		FROM dbo.WaveLine l
		LEFT JOIN dbo.Fulfilment f ON f.OrderNumber = l.OrderNumber AND f.Deleted = 0
		LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
		WHERE l.WaveID = @WaveID AND l.Deleted = 0 AND l.PickStatus = 'Completed';		
	END
	ELSE IF @Operation = 'Packing'
	BEGIN
		If @PickingType = 'Bulk'
		BEGIN
			INSERT INTO #TempFulfilmentTable (ID, OrderNumber, SourceOrderNumber, TenantName)
			SELECT f.FulfilmentID, f.OrderNumber, f.order_number as SourceOrderNumber, t.TenantName
			FROM dbo.WaveLine l
			LEFT JOIN dbo.Fulfilment f ON f.OrderNumber = l.OrderNumber AND f.Deleted = 0
			LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
			WHERE l.WaveID = @WaveID AND l.Deleted = 0 AND l.SortStatus = 'Completed';		
		END
		ELSE
		BEGIN
			INSERT INTO #TempFulfilmentTable (ID, OrderNumber, SourceOrderNumber, TenantName)
			SELECT f.FulfilmentID, f.OrderNumber, f.order_number as SourceOrderNumber, t.TenantName
			FROM dbo.WaveLine l
			LEFT JOIN dbo.Fulfilment f ON f.OrderNumber = l.OrderNumber AND f.Deleted = 0
			LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
			WHERE l.WaveID = @WaveID AND l.Deleted = 0 AND l.PickStatus = 'Completed';		
		END
		
	END
	
	-- return order info
	SELECT tf.OrderNumber, tf.SourceOrderNumber, tf.TenantName, l.*
	FROM dbo.FulfilmentLine l
	JOIN #TempFulfilmentTable tf ON l.FulfilmentID = tf.Id
	WHERE l.Deleted = 0;
END
GO
