USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Wave_ListOrders]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <11 Jun, 2025>
-- Description:	<List Orders By Wave Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Wave_ListOrders]
     @WaveStatus NVARCHAR(20),  --Started Failed Completed
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
	 @PageSize INT = 10,
	 @OrderBy NVARCHAR(50) = 'OrderID',
	 @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	/*DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @WaveStatus IS NOT NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave WHERE WaveStatus = @WaveStatus AND DELETED = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT o.* FROM dbo.Wave w 
			           LEFT JOIN dbo.Orders o ON w.OrderNumber = o.order_number
			           WHERE w.WaveStatus = ''' + @WaveStatus + ''' AND w.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave w
			LEFT JOIN dbo.Orders o ON w.OrderNumber = o.order_number
			LEFT JOIN dbo.Tenant t ON o.TenantCode = t.TenantCode 
			WHERE w.DELETED = 0 
			AND w.WaveStatus = @WaveStatus
			AND (
				LOWER(o.order_number) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(o.Source) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(o.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT o.*, t.TenantName FROM dbo.Wave w
			    LEFT JOIN dbo.Orders o ON w.OrderNumber = o.order_number
				LEFT JOIN dbo.Tenant t ON o.TenantCode = t.TenantCode 
				WHERE w.DELETED = 0 
				AND w.WaveStatus = ''' + @WaveStatus + ''' 
				AND (
					LOWER(o.order_number) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(o.Source) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(o.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END 
	END
	ELSE -- @WaveStatus IS NULL
	BEGIN
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave WHERE DELETED = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT o.* FROM dbo.Wave w
			           LEFT JOIN dbo.Orders o ON w.OrderNumber = o.order_number
			           WHERE w.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN
		   -- Get the total number of records
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Wave w
			LEFT JOIN dbo.Orders o ON w.OrderNumber = o.order_number
			LEFT JOIN dbo.Tenant t ON o.TenantCode = t.TenantCode 
			WHERE w.DELETED = 0 
			AND (
				LOWER(o.order_number) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(o.Source) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(o.TenantCode) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT o.*, t.TenantName FROM dbo.Wave w
			    LEFT JOIN dbo.Orders o ON w.OrderNumber = o.order_number
				LEFT JOIN dbo.Tenant t ON o.TenantCode = t.TenantCode 
				WHERE w.DELETED = 0 
				AND (
					LOWER(o.order_number) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(o.Source) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(o.TenantCode) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END 
	END

    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL; 
	*/
END
GO
