USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeItem_ListChargeItems]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Nov, 2024>
-- Description:	<Get list of Charge Item with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeItem_ListChargeItems]
	 @Search NVARCHAR(100) = NULL,
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ChargeItemName',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @NumberOfTenants INT = 0;
	DECLARE @NumberOfAllApplied INT = 0;

	SELECT @NumberOfTenants = COUNT(*)
	FROM dbo.Tenant
	WHERE deleted = 0;

	SET @NumberOfAllApplied = @NumberOfTenants;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN
        -- Get the total number of records
		SELECT @TotalRecords = COUNT(*) 
		FROM dbo.ChargeItem WHERE DELETED = 0;

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ci.*, 
                    COALESCE(a.APIName, '''') AS APIName, 
                    CASE 
                        WHEN ci.appliedNumber = 0 THEN ''Apply''
                        WHEN ci.appliedNumber = ' + CAST(@NumberOfAllApplied AS NVARCHAR) + ' THEN ''All''
                        ELSE ''Part''
                    END AS Status
             FROM 
			 (
				SELECT c.*, COALESCE(tci.appliedNumber, 0) AS appliedNumber 
				FROM dbo.ChargeItem c 
				LEFT JOIN  
				(
					SELECT ChargeItemId, COUNT(*) AS appliedNumber 
					FROM dbo.TenantChargeItem tci 
					WHERE deleted = 0 
					GROUP BY ChargeItemId
				) tci 
                ON c.ChargeItemId = tci.ChargeItemId
			 ) ci
             LEFT JOIN dbo.API a
             ON a.APIID = ci.APIID
             WHERE ci.DELETED = 0 
             ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
             OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
             FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		SELECT @TotalRecords = COUNT(*)
		FROM dbo.ChargeItem ci
		LEFT JOIN dbo.API a
		ON a.APIID = ci.APIID
		WHERE ci.DELETED = 0
		AND (
			LOWER(ci.ChargeItemName) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ci.ChargeItemUnit) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ci.ChargeItemGroup) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(ci.ChargeItemType) LIKE '%' + LOWER(@Search) + '%' 
			OR LOWER(COALESCE(a.APIName, '')) LIKE '%' + LOWER(@Search) + '%'
		);

		-- Calculate the total number of pages
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'SELECT ci.*, 
                    COALESCE(a.APIName, '''') AS APIName, 
                    CASE 
                        WHEN ci.appliedNumber = 0 THEN ''Apply''
                        WHEN ci.appliedNumber = ' + CAST(@NumberOfAllApplied AS NVARCHAR) + ' THEN ''All''
                        ELSE ''Part''
                    END AS Status
             FROM 
			 (
				SELECT c.*, COALESCE(tci.appliedNumber, 0) AS appliedNumber 
				FROM dbo.ChargeItem c 
				LEFT JOIN  
				(
					SELECT ChargeItemId, COUNT(*) AS appliedNumber 
					FROM dbo.TenantChargeItem tci 
					WHERE deleted = 0 
					GROUP BY ChargeItemId
				) tci 
                ON c.ChargeItemId = tci.ChargeItemId
			 ) ci
             LEFT JOIN dbo.API a
             ON a.APIID = ci.APIID
             WHERE ci.DELETED = 0 
             AND (
                 LOWER(ci.ChargeItemName) LIKE ''%' + LOWER(@Search) + '%'' 
                 OR LOWER(ci.ChargeItemUnit) LIKE ''%' + LOWER(@Search) + '%'' 
                 OR LOWER(ci.ChargeItemGroup) LIKE ''%' + LOWER(@Search) + '%'' 
				 OR LOWER(ci.ChargeItemType) LIKE ''%' + LOWER(@Search) + '%''
                 OR LOWER(COALESCE(a.APIName, '''')) LIKE ''%' + LOWER(@Search) + '%'' 
             )
             ORDER BY ' + @OrderBy + ' ' + @OrderDir + '
             OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
             FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
