USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportScript_StockTakeDetailManualReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jun, 2025>
-- Description:	<Implement StockTake Detail Manual Report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportScript_StockTakeDetailManualReport]
	@ReportDefinitionID INT,
	@WarehouseCode VARCHAR(20) = NULL,
	@ManualTenantCode VARCHAR(10) = NULL,
	@StartDate DateTime = NULL,
	@EndDate DateTime = NULL
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @TenantName VARCHAR(250);
	SELECT @TenantName = TenantName FROM dbo.Tenant WHERE Deleted = 0 AND TenantCode = @ManualTenantCode;

	DECLARE @WarehouseName VARCHAR(150);
	SELECT @WarehouseName = WarehouseName FROM dbo.LocWarehouse WHERE Deleted = 0 AND WarehouseCode = @WarehouseCode;

	SELECT s.ServiceID, s.WarehouseCode, @WarehouseName as WarehouseName, s.TenantCode, @TenantName as TenantName, s.ServiceNumber, s.ServiceName,
	   sr.ULDBarcode, sr.ItemName, sr.ItemNumber as ItemCode, sr.ULDCurrentLocation, dbo.fn_GetLocationNameFromCode(sr.ULDCurrentLocation) AS ULDCurrentLocationnName,
	   sr.Qty, sr.ScannedType, sr.ScannedUnit, sr.ScannedQty, sr.ScannedNumber as ScannedBarCode, sr.CreatedDateTime, sr.CreatedBy,
	   COALESCE(u.HoldStatus, '') as HoldStatus, COALESCE(u.HoldReason, '') as HoldReason
	FROM Service s 
	JOIN StockTakeResult sr ON s.ServiceID = sr.ServiceID
	LEFT JOIN ULD u ON u.ULDID = sr.ULDID
	WHERE s.Deleted = 0 AND s.ServiceType = 'Stocktake' AND s.Status = 'Completed'
	      AND s.TenantCode = @ManualTenantCode AND  s.WarehouseCode = @WarehouseCode
		  AND s.CreatedDateTime BETWEEN @StartDate AND @EndDate;

END
GO
