USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantPermission_ListAllTenantPermissions]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Dec, 2025>
-- Description:	<List All Tenant Permission>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantPermission_ListAllTenantPermissions] 
AS
BEGIN

	SET NOCOUNT ON;

    SELECT [Permission], IsViewEnable, IsDeleteEnable, IsEditEnable, IsAddEnable	
	FROM dbo.TenantPermission	
	WHERE Deleted = 0;

END
GO
