USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CheckValidBeforeCompleteKittingService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Jul, 2025>
-- Description:	<Check before Complete Kitting Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_CheckValidBeforeCompleteKittingService] 
    @ServiceID INT,
	@PickStatus VARCHAR(20) OUTPUT,
	@IsEnough BIT OUTPUT,
	@NumberOfRequiredKittings INT OUTPUT,
	@Message VARCHAR(4000) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @ServiceNumber VARCHAR(50);

	SELECT @ServiceNumber = ServiceNumber
	FROM dbo.Service WHERE ServiceID = @ServiceID AND Deleted = 0;

	SELECT 	  
		@PickStatus = PickStatus
	FROM dbo.WaveLine 
	WHERE SourceOrderNumber = @ServiceNumber AND Deleted = 0;

	SET @IsEnough = 1;

	DECLARE @NumberOfInitPicking INT;

	SELECT @NumberOfInitPicking = COUNT(*)
	FROM dbo.PickingSchedule
	WHERE Deleted = 0 AND FulfilmentOrder = @ServiceNumber AND Status = 'Init' And FulfilmentType = 'Kitting';

	IF @NumberOfInitPicking > 0
	BEGIN
		SET @Message = 'Can not complete kitting. There are items that have been picked';
		SET @IsEnough = 0;
		RETURN;
	END

	-- get required qty
	SELECT @NumberOfRequiredKittings = Qty FROM dbo.KittingItem WHERE ServiceID = @ServiceID AND Deleted = 0;

	DECLARE @PickNumber INT;
	SELECT @PickNumber = COUNT(*) FROM dbo.PickingResult WHERE Deleted = 0 AND OrderID = @ServiceID

	IF @PickNumber = 0
	BEGIN		
		SET @IsEnough = 0;
		RETURN;
	END

	DECLARE @Qty INT,
			@RequiredQTY INT,
			@ItemName VARCHAR(250);

	DECLARE PickingCursor CURSOR LOCAL FAST_FORWARD FOR
	SELECT 
		RequiredQTY, 
		SUM(QTY) AS TotalQty,
		ItemName
	FROM dbo.PickingResult 
	WHERE Deleted = 0 AND OrderID = @ServiceID
	GROUP BY PickingScheduleID, RequiredQTY, ItemName;

	OPEN PickingCursor;

	FETCH NEXT FROM PickingCursor INTO @RequiredQTY, @Qty, @ItemName;

	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF @Qty <> @RequiredQTY
		BEGIN
			SET @IsEnough = 0;			
			GOTO ExitCursor;
		END

		FETCH NEXT FROM PickingCursor INTO @RequiredQTY, @Qty, @ItemName;
	END

	ExitCursor:
	CLOSE PickingCursor;
	DEALLOCATE PickingCursor;
	
END
GO
