USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Carrier_InsertCarrier]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<Insert Carrier>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Carrier_InsertCarrier]  
    @WarehouseCode VARCHAR(20),
	@TenantCode VARCHAR(20),
	@CarrierName VARCHAR(150),
    @CarrierCode VARCHAR(20),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
         BEGIN TRANSACTION

		 DECLARE @CarrierID INT;
		 SELECT @CarrierID = CarrierID FROM dbo.Carrier 
		 WHERE WarehouseCode = @WarehouseCode AND TenantCode = @TenantCode AND CarrierName = @CarrierName AND Deleted = 1;
        
		 IF @CarrierID IS NULL
		 BEGIN
			 -- Insert into Carrier table
			INSERT INTO dbo.Carrier
			(
				WarehouseCode,
				TenantCode,
				CarrierName,
				CarrierCode,
				CarrierActive,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@WarehouseCode,
				@TenantCode,
				@CarrierName,
				@CarrierCode,
				1,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)
		END
		ELSE
		BEGIN
			UPDATE dbo.Carrier
			SET
				Deleted = 0,
				CarrierActive = 1,
				CarrierCode = COALESCE(@CarrierCode, CarrierCode),
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime =  NULL,
				LastEditedBy =  NULL,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			WHERE CarrierID = @CarrierID
		END
        
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
