USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantCustomCost_UpdateChargeItemCostById]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Dec, 2024>
-- Description:	<Update Custom Cost of Warehouse by Charge Item ID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantCustomCost_UpdateChargeItemCostById] 
	@ChargeItemID INT,
	@TenantCode VARCHAR(10),
	@ChargeItemWarehouseCosts ChargeItemWarehouseCostTable READONLY,
	@FirstEditedDateTime  DATETIME = NULL,
	@FirstEditedBy         VARCHAR(100) = NULL,
	@LastEditedDateTime     DATETIME = NULL,
	@LastEditedBy          VARCHAR(100) = NULL,
	@Message				VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
       
		DECLARE @TenantChargeItemID INT

		SELECT @TenantChargeItemID = TenantChargeItemID 
		FROM dbo.TenantChargeItem 
		WHERE DELETED = 0 AND ChargeItemID = @ChargeItemID AND TenantCode = @TenantCode AND ChargeType = 'Custom';

		SELECT * FROM dbo.TenantCustomCost WHERE DELETED = 0 AND TenantChargeItemID = @TenantChargeItemID;

		UPDATE TCC
		SET 
			TCC.ChargeItemPrice = CIWC.Price,
			TCC.FirstEditedDateTime = COALESCE(@FirstEditedDateTime, TCC.FirstEditedDateTime),
			TCC.FirstEditedBy = COALESCE(@FirstEditedBy, TCC.FirstEditedBy),
			TCC.LastEditedDateTime = COALESCE(@LastEditedDateTime, TCC.LastEditedDateTime),
			TCC.LastEditedBy = COALESCE(@LastEditedBy, TCC.LastEditedBy)
		FROM dbo.TenantCustomCost TCC
		INNER JOIN @ChargeItemWarehouseCosts CIWC
			ON TCC.WarehouseCode = CIWC.WarehouseCode
		WHERE TCC.Deleted = 0 
		  AND TCC.TenantChargeItemID = @TenantChargeItemID;
        
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
