USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_SetCurrentWorkstationForUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Nov, 2025>
-- Description:	<Set Current WorkStation of User>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_SetCurrentWorkstationForUser] 
	@AzureUserId VARCHAR(50), 
	@WorkStationID INT,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		DECLARE @WorkStationName VARCHAR(50);		
		SELECT @WorkStationName = (a.AreaName + ' - ' + s.SectionName)
		FROM dbo.SectionPrinter s
		LEFT JOIN dbo.LocArea a ON a.LocAreaID = s.AreaID AND a.Deleted = 0
		WHERE s.SectionPrinterID = @WorkStationID;
		
		IF EXISTS(SELECT 1 FROM dbo.CurrentWorkStationUser WHERE AzureUserId = @AzureUserId)
		BEGIN
			UPDATE dbo.CurrentWorkStationUser
			SET WorkStationID = @WorkStationID,
			    WorkStationName = @WorkStationName,
				Deleted = 0,
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @FirstEditedDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @FirstEditedBy),
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE AzureUserId = @AzureUserId;
		END
		ELSE
		BEGIN

			INSERT INTO dbo.CurrentWorkStationUser
			(
				WorkStationID,
				WorkStationName,
				AzureUserId,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@WorkStationID,
				@WorkStationName,
				@AzureUserId,
				0,
				@LastEditedDateTime,
				@LastEditedBy
			)
		END;
       
        PRINT 'Update successful for AzureUserId: ' + @AzureUserId;
    END TRY
    BEGIN CATCH
        -- Handle the error
	 DECLARE @ErrorMessage NVARCHAR(4000)
	 DECLARE @ErrorSeverity INT
	 DECLARE @ErrorState INT

	 SELECT 
		 @ErrorMessage = ERROR_MESSAGE(),
		 @ErrorSeverity = ERROR_SEVERITY(),
		 @ErrorState = ERROR_STATE()

	 -- Rethrow the error
	 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
