USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_AssignDefaultWarehouseForUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Oct, 2024>
-- Description:	<Set Default Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_AssignDefaultWarehouseForUser] @UserID INT, @WarehouseCode VARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Users
        SET WarehouseCode = @WarehouseCode
        WHERE UserID = @UserID;

        PRINT 'Update successful for UserID: ' + CAST(@UserID AS NVARCHAR);
    END TRY
    BEGIN CATCH
         -- Handle the error
		 DECLARE @ErrorMessage NVARCHAR(4000)
		 DECLARE @ErrorSeverity INT
		 DECLARE @ErrorState INT

		 SELECT 
			 @ErrorMessage = ERROR_MESSAGE(),
			 @ErrorSeverity = ERROR_SEVERITY(),
			 @ErrorState = ERROR_STATE()

		 -- Rethrow the error
		 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
   
END
GO
