USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_WarehousePrinter_InsertWarehousePrinter]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Nov, 2024>
-- Description:	<Insert WarehousePrinter>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_WarehousePrinter_InsertWarehousePrinter]  
	@WarehouseCode VARCHAR(20),
    @PrinterName VARCHAR(200),
	@PrinterType VARCHAR(50),
	@PrinterResolution INT,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate
		 IF EXISTS(SELECT 1 FROM dbo.WarehousePrinter WHERE PrinterName = @PrinterName AND WarehouseCode = @WarehouseCode AND Deleted = 0)
		 BEGIN
			 SET @Message = 'Printer Name already exists for this Warehouse.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		 DECLARE @WarehousePrinterID INT;

		 SELECT @WarehousePrinterID = WarehousePrinterID 
		 FROM dbo.WarehousePrinter 
		 WHERE PrinterName = @PrinterName AND WarehouseCode = @WarehouseCode AND Deleted = 1;
		 
		 IF @WarehousePrinterID IS NOT NULL
		 BEGIN
			 UPDATE dbo.WarehousePrinter
			 SET
				DELETED = 0,
				PrinterType = COALESCE(@PrinterType, PrinterType),
				PrinterResolution =COALESCE(@PrinterResolution, PrinterResolution),
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			 WHERE WarehousePrinterID = @WarehousePrinterID
         END
		 ELSE
		 BEGIN
		   -- Insert into table
			 INSERT INTO dbo.WarehousePrinter
			 (
				WarehouseCode,
				PrinterName,
				PrinterType,
				PrinterResolution,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@WarehouseCode,
				@PrinterName,
				@PrinterType,
				@PrinterResolution,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)
         END
        

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
