USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_ViewFulfilmentByOrderNumber]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <14 Oct, 2025>
-- Description:	<Get detail information of FulfilmentLine by FulfilmentID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_ViewFulfilmentByOrderNumber] 
     @OrderNumber VARCHAR(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	

    SELECT 
		f.FulfilmentID,
		f.WarehouseCode, 
		f.WarehouseName, 
		f.TenantCode, 
		t.TenantName,
		f.order_number AS SourceOrderNumber, 
		f.OrderSource,
		f.CreatedDateTime,
		f.CreatedBy,
		f.CarrierID,
		f.FulfilmentStatus,
		CASE
			WHEN f.Carrier LIKE 'Australia Post%'   THEN 'Australia Post'
			WHEN f.Carrier LIKE 'Manual Shipment%'  THEN 'Manual Shipment'
			WHEN f.Carrier LIKE 'DHL Express%'              THEN 'DHL Express'
			WHEN f.Carrier LIKE 'Couriers%Please%'  THEN 'Couriers Please'
			ELSE f.Carrier
		END AS Carrier,
				CASE
			WHEN f.Carrier LIKE 'Australia Post%'   
				THEN LTRIM(SUBSTRING(f.Carrier, LEN('Australia Post') + 1, 4000))
			WHEN f.Carrier LIKE 'Manual Shipment%'  
				THEN LTRIM(SUBSTRING(f.Carrier, LEN('Manual Shipment') + 1, 4000))
			WHEN f.Carrier LIKE 'DHL Express%'              
				THEN LTRIM(SUBSTRING(f.Carrier, LEN('DHL Express') + 1, 4000))
			WHEN f.Carrier LIKE 'Couriers%Please%'  
				THEN LTRIM(SUBSTRING(f.Carrier, LEN('Couriers Please') + 1, 4000))
			ELSE f.CarrierService
		END AS CarrierService,
		CASE
			WHEN f.Carrier LIKE 'Australia Post%'  AND  wl.ShipmentType LIKE '%Local' THEN ash.AP_ConsignmentID
			WHEN f.Carrier LIKE 'Australia Post%'  AND  wl.ShipmentType LIKE '%INT' THEN  asht.AP_ConsignmentID	
			When f.Carrier LIKE 'DHL Express%' THEN d.TrackingNumber
			WHEN f.TrackingNumber IS NOT NULL THEN f.TrackingNumber
			ELSE ''
		END AS TrackingNumber,
		f.shipping_address_name,
		f.shipping_address_company,
		f.shipping_address_address1,
		f.shipping_address_address2,
		f.shipping_address_city,
		f.shipping_address_province,
		f.shipping_address_zip,
		f.shipping_address_country,
		f.Phone,
		f.contact_email,
		wl.WaveNumber,
		wl.ShipmentType,
		wl.PickStatus,
		wl.SortStatus,
		wl.PackStatus,
		wl.MailStatus
	FROM dbo.Fulfilment f
	LEFT JOIN dbo.Tenant t ON t.TenantCode = f.TenantCode AND t.Deleted = 0
	LEFT JOIN dbo.WaveLine wl ON wl.OrderNumber = f.OrderNumber AND wl.Deleted = 0
	LEFT JOIN dbo.AP_Shipment ash ON wl.ShipmentID = ash.ShipmentID AND ash.Deleted = 0
	LEFT JOIN dbo.AP_ShipmentINT asht ON wl.ShipmentID = asht.ShipmentID AND asht.Deleted = 0
	LEFT JOIN 
	(
		SELECT s.ShipmentID, r.shipmentTrackingNumber as TrackingNumber
		FROM dbo.DHLResponse r
		LEFT JOIN dbo.DHLShipment s ON r.MessageReference = s.MessageReference AND s.Deleted = 0
	) d ON wl.ShipmentID = d.ShipmentID
	WHERE f.OrderNumber = @OrderNumber AND f.Deleted = 0;
END
GO
