USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_UpdateUserStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <28 Aug, 2024>
-- Description:	<Update User Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_UpdateUserStatus] @AzureUserId VARCHAR(50), @UserStatus VARCHAR(20), @BlockedReason VARCHAR(3000)
AS
BEGIN
	
	SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Users
        SET UserStatus = @UserStatus, BlockedReason = @BlockedReason
        WHERE AzureUserId = @AzureUserId;
      
        PRINT 'Update successful for AzureUserId: ' + CAST(@AzureUserId AS NVARCHAR);
    END TRY
    BEGIN CATCH
        -- Handle the error
		 DECLARE @ErrorMessage NVARCHAR(4000)
		 DECLARE @ErrorSeverity INT
		 DECLARE @ErrorState INT

		 SELECT 
			 @ErrorMessage = ERROR_MESSAGE(),
			 @ErrorSeverity = ERROR_SEVERITY(),
			 @ErrorState = ERROR_STATE()

		 -- Rethrow the error
		 RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
