USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Manifest_ListManifests]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 Jan, 2025>
-- Description:	<List Manifest>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Manifest_ListManifests]
	 @WarehouseCode NVARCHAR(10) = NULL,
	 @TenantCode NVARCHAR(10) = NULL,
	 @Search NVARCHAR(100),
	 @PageNumber INT = 1,
     @PageSize INT = 10,
     @OrderBy NVARCHAR(50) = 'ManifestID',
     @OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);

	IF @Search IS NULL OR LEN(@Search) = 0
    BEGIN

		IF @TenantCode IS NULL
		BEGIN

			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Manifest WHERE WarehouseCode = @WarehouseCode AND DELETED = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName
		              FROM
		                 dbo.Manifest i
					  JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					  JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
		          WHERE i.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + '''
				  AND i.DELETED = 0 ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';

		END
		ELSE
		BEGIN
			-- Get the total number of records
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Manifest WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND DELETED = 0;

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName
		              FROM
		                 dbo.Manifest i
					  JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 	
					  JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
		          WHERE i.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + ''' 
				  AND i.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + ''' 
				  AND i.DELETED = 0 
				  ORDER BY ' + @OrderBy + ' ' + @OrderDir +
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
        
    END
    ELSE
    BEGIN
       -- Get the total number of records
	    SET @Search = LOWER(@Search);

		IF @TenantCode IS NULL
		BEGIN

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Manifest i
			JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
			JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
			WHERE i.DELETED = 0 AND i.WarehouseCode = @WarehouseCode 
			AND (
				LOWER(i.MailingBy) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(i.Filename) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(i.MailingDateTime) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(lw.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName
					   FROM 
						  dbo.Manifest i
					   JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					   JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
				WHERE i.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + ''' 
				AND i.DELETED = 0 
				AND (
					LOWER(i.MailingBy) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(i.Filename) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(i.MailingDateTime) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
		END
		ELSE
		BEGIN

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.Manifest i
			JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
			JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
			WHERE i.DELETED = 0 AND i.WarehouseCode = @WarehouseCode AND i.TenantCode = @TenantCode 
			AND (
				LOWER(i.MailingBy) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(i.Filename) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(i.MailingDateTime) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(t.TenantName) LIKE '%' + LOWER(@Search) + '%' 
				OR LOWER(lw.WarehouseName) LIKE '%' + LOWER(@Search) + '%' 
			);

			-- Calculate the total number of pages
			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'SELECT i.*, t.TenantName, t.TenantID, lw.WarehouseName
					   FROM 
						  dbo.Manifest i
					   JOIN dbo.Tenant t ON i.TenantCode = t.TenantCode 
					   JOIN dbo.LocWarehouse lw ON i.WarehouseCode = lw.WarehouseCode
				WHERE i.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + ''' 
				AND i.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + ''' 
				AND i.DELETED = 0 
				AND (
					LOWER(i.MailingBy) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(i.Filename) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(i.MailingDateTime) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(t.TenantName) LIKE ''%' + LOWER(@Search) + '%'' 
					OR LOWER(lw.WarehouseName) LIKE ''%' + LOWER(@Search) + '%'' 
				) 
				ORDER BY ' + @OrderBy + ' ' + @OrderDir + 
				' OFFSET ' + CAST(@Offset AS NVARCHAR) + ' ROWS 
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + ' ROWS ONLY';
			
		END

		

    END 
   
    -- Execute the dynamic SQL
    EXEC sp_executesql @SQL;
END
GO
