USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetAllULDsOfTenant]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 Mar, 2025>
-- Description:	<Get All UlDs of Tenant>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetAllULDsOfTenant] 
	@TenantID INT,
	@ItemCode VARCHAR(30)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @TenantCode VARCHAR(10);
	SELECT @TenantCode = TenantCode FROM Tenant WHERE DELETED = 0 AND TenantID = @TenantID;

	SELECT U.ULDID, U.ULDBarcode, U.WarehouseCode, lw.WarehouseName
	FROM dbo.ULD U
	LEFT JOIN dbo.LocWarehouse lw ON lw.WarehouseCode = U.WarehouseCode
	WHERE U.ItemNumber = @ItemCode AND U.TenantCode = @TenantCode
	AND U.DELETED = 0
	AND EXISTS 
	(
		SELECT 1
		FROM dbo.ULDLine UL
		WHERE UL.ULDID = U.ULDID
		AND UL.DELETED = 0
			AND UL.TransactionType <> 'Allocated'
		GROUP BY UL.ULDID
		HAVING SUM(UL.TransactionQty) > 0
	)

END
GO
