USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Fulfilment_SearchFulfilmentsByStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 Jul, 2025>
-- Description:	<Search Error Fulfilment Orders>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Fulfilment_SearchFulfilmentsByStatus]
     @FulfilmentStatus VARCHAR(20) = NULL,  -- Fulfilment : Started : Completed or Cancelled : Error : OnHoldCleared
	 @FulfilmentType VARCHAR(20),  --Orders - Kitting - Release Stock - Destroy Stock
	 @OrderNumber VARCHAR(50) = NULL,  -- Source Orer Number
	 @TenantCode VARCHAR(20) = NULL,  
	 @ItemNumber VARCHAR(30) = NULL, 
	 @WarehouseName VARCHAR(150) = NULL, 
	 @StartDate DateTime = NULL,
	 @EndDate DateTime = NULL,	 
	 @PageNumber INT = 1,
	 @PageSize INT = 10,
	 @OrderBy VARCHAR(50) = 'FulfilmentID',
	 @OrderDir VARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @SQL NVARCHAR(MAX);
	DECLARE @RowCount INT;

	IF @FulfilmentStatus IS NOT NULL
	BEGIN

		SET @SQL = N'
			SELECT @RowCount = COUNT(*) 
			FROM  dbo.Fulfilment f
			LEFT JOIN
			(
				SELECT l.OrderNumber, w.WaveNumber, w.WaveStatus 
				FROM WaveLine l 
				LEFT JOIN Wave w ON w.WaveID = l.WaveID 
				WHERE l.Deleted = 0
			) w ON w.OrderNumber = f.OrderNumber	
			WHERE f.Deleted = 0 AND f.OnHold = 0 AND f.FulfilmentStatus = ''' +  @FulfilmentStatus  +  ''' 
				  AND f.FulfilmentType = ''' +  @FulfilmentType  +  '''';			     

		IF @WarehouseName IS NOT NULL
			SET @SQL += N' AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + '''';

		IF @TenantCode IS NOT NULL
			SET @SQL += N' AND f.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';

		IF @OrderNumber IS NOT NULL
			SET @SQL += N' AND f.OrderNumber LIKE ''%' + REPLACE(@OrderNumber, '''', '''''') + '%''';

		IF @StartDate IS NOT NULL
			SET @SQL += N' AND f.CreatedDateTime >= ''' + CONVERT(NVARCHAR, @StartDate, 120) + ''' ';

		IF @EndDate IS NOT NULL
			SET @SQL += N' AND f.CreatedDateTime <= ''' + CONVERT(NVARCHAR, @EndDate, 120) + ''' ';

		IF @ItemNumber IS NOT NULL
			SET @SQL += N' AND fl.line_items_sku LIKE ''%' + REPLACE(@ItemNumber, '''', '''''') + '%''';
		

		-- Execute and capture result
		EXEC sp_executesql @SQL, N'@RowCount INT OUTPUT', @RowCount = @RowCount OUTPUT;

		SET @TotalRecords = @RowCount;
		SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

		SET @SQL = N'
				SELECT 
					f.*, 
					w.WaveNumber, 
					w.WaveStatus, 
					lw.WarehouseName, 
					t.TenantName,

					-- Tracking number logic
					CASE
						WHEN f.Carrier LIKE ''Australia Post%'' 
							 AND wl.ShipmentType LIKE ''%Local'' 
							THEN ash.AP_ConsignmentID

						WHEN f.Carrier LIKE ''Australia Post%'' 
							 AND wl.ShipmentType LIKE ''%INT'' 
							THEN asht.AP_ConsignmentID

						WHEN f.Carrier LIKE ''DHL Express%'' 
							THEN d.shipmentTrackingNumber

						WHEN f.TrackingNumber IS NOT NULL 
							THEN f.TrackingNumber

						ELSE ''''
					END AS TrackingNumber

				FROM dbo.Fulfilment f

				LEFT JOIN (
					SELECT 
						l.OrderNumber, 
						w.WaveNumber, 
						w.WaveStatus
					FROM WaveLine l
					LEFT JOIN Wave w ON w.WaveID = l.WaveID
					WHERE l.Deleted = 0
				) w ON w.OrderNumber = f.OrderNumber

				LEFT JOIN LocWarehouse lw 
					ON lw.WarehouseCode = f.WarehouseCode 
				   AND lw.Deleted = 0

				LEFT JOIN Tenant t 
					ON t.TenantCode = f.TenantCode 
				   AND t.Deleted = 0

				-- Needed for TrackingNumber CASE
				LEFT JOIN dbo.WaveLine wl 
					ON wl.OrderNumber = f.OrderNumber 
				   AND wl.Deleted = 0

				LEFT JOIN dbo.AP_Shipment ash
					ON wl.ShipmentID = ash.ShipmentID 
				   AND ash.Deleted = 0

				LEFT JOIN dbo.AP_ShipmentINT asht
					ON wl.ShipmentID = asht.ShipmentID 
				   AND asht.Deleted = 0

				LEFT JOIN dbo.DHLResponse d
					ON f.TrackingNumber = d.MessageReference

				WHERE f.Deleted = 0 
				  AND f.OnHold = 0
				  AND f.FulfilmentStatus = ''' + @FulfilmentStatus + '''
				  AND f.FulfilmentType = ''' + @FulfilmentType + '''';


		IF @WarehouseName IS NOT NULL
			SET @SQL += N' AND f.WarehouseName = ''' + REPLACE(@WarehouseName, '''', '''''') + '''';

		IF @TenantCode IS NOT NULL
			SET @SQL += N' AND f.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';

		IF @OrderNumber IS NOT NULL
			SET @SQL += N' AND f.OrderNumber LIKE ''%' + REPLACE(@OrderNumber, '''', '''''') + '%''';

		IF @StartDate IS NOT NULL
			SET @SQL += N' AND f.CreatedDateTime >= ''' + CONVERT(NVARCHAR, @StartDate, 120) + ''' ';

		IF @EndDate IS NOT NULL
			SET @SQL += N' AND f.CreatedDateTime <= ''' + CONVERT(NVARCHAR, @EndDate, 120) + ''' ';

		IF @ItemNumber IS NOT NULL
			SET @SQL += N' AND fl.line_items_sku LIKE ''%' + REPLACE(@ItemNumber, '''', '''''') + '%''';

		SET @SQL += N' ORDER BY ' + @OrderBy + ' ' + @OrderDir +
					' OFFSET ' + CAST(@Offset AS VARCHAR) + ' ROWS FETCH NEXT ' + CAST(@PageSize AS VARCHAR) + ' ROWS ONLY';

		PRINT @SQL;

		EXEC sp_executesql @SQL;
		
	END
	
END
GO
