USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_TransferULDToAnotherULD]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Nov, 2024>
-- Description:	<Transfer ULD To Another ULD>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_TransferULDToAnotherULD]  
	@FromULDBarcode		VARCHAR(30),  
	@FromLocationCode	VARCHAR(50),
	@ULDBarcode			VARCHAR(30),
	@LocationCode		VARCHAR(50),
    @SerialNumbers		dbo.StringArray READONLY,
	@TransactionQty		INT = 0, 
    @TransactionUser	VARCHAR(100),
	@IsAllocate			BIT = 0,
	@ChargeImmediately	BIT = 0,
    @Message			VARCHAR(4000) OUTPUT,
	@NewULDID			INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @DestULDID INT;
		DECLARE @DestSequenceNumber INT;
       
        DECLARE @SrcULDID INT;
        DECLARE @SrcSequenceNumber INT;
		DECLARE @TenantCode  VARCHAR(10);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(30);
		DECLARE @BatchNumber VARCHAR(30); 
		DECLARE @ExpiryDate DATETIME; 
		DECLARE @LineTransactionQty INT;

        SELECT 
            @SrcULDID = ULDID,
			@TenantCode = TenantCode,
			@WarehouseCode = WarehouseCode,
			@ItemNumber = ItemNumber,
			@ItemName = ItemName,
			@BatchNumber = BatchNumber,
			@ExpiryDate = ExpiryDate
        FROM [dbo].[ULD]
        WHERE ULDBarcode = @FromULDBarcode AND Deleted = 0; 

        SELECT 
           @SrcSequenceNumber = COUNT(*)
        FROM [dbo].[ULDLine]
        WHERE ULDID = @SrcULDID AND Deleted = 0; 
	

		SELECT 
			@DestULDID = ULDID
		FROM [dbo].[ULD]
		WHERE ULDBarcode = @ULDBarcode AND Deleted = 0; 

		SELECT 
			@DestSequenceNumber = COUNT(*)
		FROM [dbo].[ULDLine]
		WHERE ULDID = @DestULDID AND Deleted = 0; 

		--Update received date
		UPDATE [dbo].[ULD]
		SET ReceivedDateTime = GETDATE()
		WHERE ULDID = @DestULDID;

		--Insert Line
		DECLARE @CurrentDateTime DATETIME = GETDATE();

		DECLARE @TransactionMovement VARCHAR(1000);

		DECLARE @NumberOfSerialNumber INT;
		SELECT @NumberOfSerialNumber = COUNT(*) FROM @SerialNumbers;

		IF @NumberOfSerialNumber = 0  -- Not have Serial Number
		BEGIN
			-- Add Line for Source
			SET @TransactionMovement = 'Transferred out ' +  CAST(@TransactionQty AS VARCHAR(10)) + 'x ' + @ItemNumber + ' ';
            IF @BatchNumber IS NOT NULL
                BEGIN
                    SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
                END
                IF @ExpiryDate IS NOT NULL
                BEGIN
                    SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
                END
            SET @TransactionMovement = @TransactionMovement + 'to ULD ' + @ULDBarcode;

            SET @LineTransactionQty = -@TransactionQty;
            SET @SrcSequenceNumber = @SrcSequenceNumber + 1;

            INSERT INTO [dbo].[ULDLine] (
                ULDID,
                SequenceNumber,
                SerialNumber,
                TransactionDate,
                TransactionUser,
                TransactionType,
                TransactionQty,
                TransactionReference,
                TransactionMovement,
                TransactionLocation,
                ItemNumber,
                ItemName,
                Deleted,
                CreatedDateTime,
                CreatedBy
            )
            VALUES (
                @SrcULDID,
                @SrcSequenceNumber,
                NULL,
                @CurrentDateTime,
                @TransactionUser,
                'Transfer Out',
                @LineTransactionQty,
                @ULDBarcode,
                @TransactionMovement, 
                @FromLocationCode,
                @ItemNumber,
                @ItemName,
                0,
                @CurrentDateTime,
                @TransactionUser
            );

			-- Add Line for Dest
			SET @TransactionMovement = 'Transferred in ' +  CAST(@TransactionQty AS VARCHAR(10)) + 'x ' + @ItemNumber + ' ';
			IF @BatchNumber IS NOT NULL
			BEGIN
				SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
			END
			IF @ExpiryDate IS NOT NULL
			BEGIN
				SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
			END
			SET @TransactionMovement = @TransactionMovement + 'from ULD ' + @FromULDBarcode;

			SET @LineTransactionQty = @TransactionQty;
            SET @DestSequenceNumber = @DestSequenceNumber + 1;

			INSERT INTO [dbo].[ULDLine] (
                ULDID,
                SequenceNumber,
                SerialNumber,
                TransactionDate,
                TransactionUser,
                TransactionType,
                TransactionQty,
                TransactionReference,
                TransactionMovement,
                TransactionLocation,
                ItemNumber,
                ItemName,
                Deleted,
                CreatedDateTime,
                CreatedBy
            )
        
            VALUES (
                @DestULDID,
                @DestSequenceNumber,
                NULL,
                @CurrentDateTime,
                @TransactionUser,
                'Transfer In',
                @LineTransactionQty,
                @FromULDBarcode,
                @TransactionMovement, 
                @LocationCode,
                @ItemNumber,
                @ItemName,
                0,
                @CurrentDateTime,
                @TransactionUser
            );


		END
		ELSE  -- Have Serial Number
		BEGIN
			DECLARE @SerialNumber VARCHAR(30);
			

			DECLARE SerialCursor CURSOR FOR
			SELECT Value FROM @SerialNumbers;

			OPEN SerialCursor;

			FETCH NEXT FROM SerialCursor INTO @SerialNumber;
			WHILE @@FETCH_STATUS = 0
			BEGIN			
                 
                -- Insert Transfer Out of Src
                SET @TransactionMovement = 'Transferred out 1x ' + @ItemNumber + ' ';
                SET @TransactionMovement = @TransactionMovement + 'Serial Number: ' + @SerialNumber + ' ';
                IF @BatchNumber IS NOT NULL
                    BEGIN
                        SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
                    END
                    IF @ExpiryDate IS NOT NULL
                    BEGIN
                        SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
                    END
                SET @TransactionMovement = @TransactionMovement + 'to ULD ' + @ULDBarcode;
               
                SET @SrcSequenceNumber = @SrcSequenceNumber + 1;

                INSERT INTO [dbo].[ULDLine] (
                    ULDID,
                    SequenceNumber,
                    SerialNumber,
                    TransactionDate,
                    TransactionUser,
                    TransactionType,
                    TransactionQty,
                    TransactionReference,
                    TransactionMovement,
                    TransactionLocation,
                    ItemNumber,
                    ItemName,
                    Deleted,
                    CreatedDateTime,
                    CreatedBy
                )
            
                VALUES (
                    @SrcULDID,
                    @SrcSequenceNumber,
                    @SerialNumber,
                    @CurrentDateTime,
                    @TransactionUser,
                    'Transfer Out',
                    -1,
                    @ULDBarcode,
                    @TransactionMovement, 
                    @FromLocationCode,
                    @ItemNumber,
                    @ItemName,
                    0,
                    @CurrentDateTime,
                    @TransactionUser
                );

				-- Insert Trans in
                SET @TransactionMovement = 'Transferred in 1x ' + @ItemNumber + ' ';
                SET @TransactionMovement = @TransactionMovement + 'Serial Number: ' + @SerialNumber + ' ';
                IF @BatchNumber IS NOT NULL
                BEGIN
                    SET @TransactionMovement = @TransactionMovement + 'Batch: ' + @BatchNumber + ' ';
                END
                IF @ExpiryDate IS NOT NULL
                BEGIN
                    SET @TransactionMovement = @TransactionMovement + 'Expiry Date: ' + CONVERT(VARCHAR, @ExpiryDate, 23) + ' ';
                END
                SET @TransactionMovement = @TransactionMovement + 'from ULD ' + @FromULDBarcode;

				SET @DestSequenceNumber = @DestSequenceNumber + 1;

				INSERT INTO [dbo].[ULDLine] (
                    ULDID,
                    SequenceNumber,
                    SerialNumber,
                    TransactionDate,
                    TransactionUser,
                    TransactionType,
                    TransactionQty,
                    TransactionReference,
                    TransactionMovement,
                    TransactionLocation,
                    ItemNumber,
                    ItemName,
                    Deleted,
                    CreatedDateTime,
                    CreatedBy
                )
            
                VALUES (
                    @DestULDID,
					@DestSequenceNumber,
                    @SerialNumber,
                    @CurrentDateTime,
                    @TransactionUser,
                    'Transfer In',
                    1,
                    @ULDBarcode,
                    @TransactionMovement, 
                    @LocationCode,
                    @ItemNumber,
                    @ItemName,
                    0,
                    @CurrentDateTime,
                    @TransactionUser
                );

				FETCH NEXT FROM SerialCursor INTO @SerialNumber;
			END;

			CLOSE SerialCursor;
			DEALLOCATE SerialCursor;

		END
		
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
   
END
GO
