USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ServiceLine_UpdateServiceLine]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<Update Service Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ServiceLine_UpdateServiceLine] 
	@ServiceLineID INT,
	@Activity VARCHAR(100),
	@NumberOfPeople INT,
	@NumberOfHours INT,
    @FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        -- Check if the ServiceLineID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.ServiceLine WHERE ServiceLineID = @ServiceLineID AND Deleted = 0)
        BEGIN
            SET @Message = 'ServiceLineID does not exist or has been deleted.'
            RETURN;
        END

		UPDATE dbo.ServiceLine
        SET
			Activity = COALESCE(@Activity, Activity),
            NumberOfHours = COALESCE(@NumberOfHours, NumberOfHours),
			NumberOfPeople = COALESCE(@NumberOfPeople, NumberOfPeople),
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE ServiceLineID = @ServiceLineID;
		 
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
