USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_CopyULDIntoNewTemporaryLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Mar, 2025>
-- Description:	<Copy ULD to new Temporary Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_CopyULDIntoNewTemporaryLocation]
    @FromULDBarcode VARCHAR(30),
	@LocWarehouseID      INT,  
	@LocAreaID           INT,  
	@LocSectionID        INT, 
	@Name               VARCHAR(200) = NULL,
	@Desc               VARCHAR(1000) = NULL,
    @Height             INT = 0,
    @Width              INT = 0,
    @Depth              INT = 0,
    @Distance           INT = 0,
	@CreatedDateTime	DATETIME = NULL,
	@CreatedBy			VARCHAR(100) = NULL,
	@Message            VARCHAR(4000) OUTPUT,
	@LocationCode       VARCHAR(50) OUTPUT,
	@NewULDID			INT OUTPUT
AS
BEGIN
	
	BEGIN TRY

		BEGIN TRANSACTION;

		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @AreaCode VARCHAR(20);
		DECLARE @SectionCode VARCHAR(20);
		DECLARE @NewTmpLocation INT;
		DECLARE @SourceULDDate DATETIME;

		SELECT @WarehouseCode = WarehouseCode FROM dbo.LocWarehouse WHERE DELETED = 0 AND LocWarehouseID  = @LocWarehouseID;
		SELECT @AreaCode = AreaCode FROM dbo.LocArea WHERE DELETED = 0 AND LocAreaID  = @LocAreaID;
		SELECT @SectionCode = SectionCode FROM dbo.LocSection WHERE DELETED = 0 AND LocSectionID  = @LocSectionID;		

		DECLARE @BinCode VARCHAR(28);

		SET @NewTmpLocation = NEXT VALUE FOR dbo.TmpLocationSequence;			
		SET @BinCode = 'TL' + RIGHT(REPLICATE('0', 26 - LEN(CAST(@NewTmpLocation AS VARCHAR(28)))) + CAST(@NewTmpLocation AS VARCHAR(28)), 26);
    	
		INSERT INTO dbo.LocTempLocation (
			LocSectionID, SectionCode, LocAreaID, AreaCode, LocWarehouseID, WarehouseCode, 
			BinCode, BinType, StorageType, Height, Width, Depth, Distance, Deleted, 
			CreatedDateTime, CreatedBy
		)
		VALUES (
			@LocSectionID, @SectionCode, @LocAreaID, @AreaCode, @LocWarehouseID, @WarehouseCode, 
			@BinCode, 'Pallet', 'TemporaryLocation', @Height, @Width, @Depth, @Distance, 0, 
			@CreatedDateTime, @CreatedBy
		);
		
		SET @LocationCode = @WarehouseCode + @AreaCode + @SectionCode + @BinCode;

		--Create Barcode
		DECLARE @TenantCode  VARCHAR(10);
		DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(250);
		DECLARE @BatchNumber VARCHAR(30); 
		DECLARE @ULDType VARCHAR(30); 
		DECLARE @ExpiryDate DATETIME; 

		SELECT 
			@TenantCode = TenantCode,
			@ItemNumber = ItemNumber,
			@ItemName = ItemName,
			@BatchNumber = BatchNumber,
			@ExpiryDate = ExpiryDate,
			@ULDType = ULDType,
			@SourceULDDate = CreatedDateTime
        FROM [dbo].[ULD]
        WHERE ULDBarcode = @FromULDBarcode AND Deleted = 0; 

		DECLARE @Prefix NVARCHAR(6) = '3PLULD';
		DECLARE @SequenceValue BIGINT;
		DECLARE @CurrentPrefix INT;

		-- Get the next value from the sequence
		SET @SequenceValue = NEXT VALUE FOR dbo.ULDBarcodeSequence;

		-- Get the current prefix
		SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;

		-- Check if the sequence has cycled back to the starting value
		IF @SequenceValue = 10000000001
		BEGIN
			-- Increment the prefix if the sequence has cycled
			UPDATE dbo.ULDPrefix
			SET CurrentPrefix = CurrentPrefix + 1;

			-- Refresh the current prefix after updating
			SELECT @CurrentPrefix = CurrentPrefix FROM dbo.ULDPrefix;
		END

		-- Construct the full ULD ID
		DECLARE @NewULDBarcode VARCHAR(50);
		SET @NewULDBarcode = @Prefix + CAST(@CurrentPrefix AS NVARCHAR(10)) + CAST(@SequenceValue AS NVARCHAR(50));

		DECLARE @SourcePickingCondition VARCHAR(100);
		SELECT @SourcePickingCondition = PickingCondition FROM dbo.Items 
		WHERE Deleted = 0 AND ItemNumber = @ItemNumber AND TenantCode = @TenantCode;

		if @SourcePickingCondition IS NOT NULL 
	          AND (@SourcePickingCondition = 'Last In - First Out' OR @SourcePickingCondition = 'First In - First Out')
		BEGIN
			SET @CreatedDateTime = @SourceULDDate;
		END
		
		DECLARE @NewULDTable TABLE (ULDID INT);
		-- Insert to ULD
		INSERT INTO [dbo].[ULD] (
			ULDBarcode,
			ULDCurrentLocation,
			TenantCode,
			HoldStatus,
			CurrentZone,
			ULDType,
			WarehouseCode,
			Status,
			ItemNumber,
			ItemName,
			ExpiryDate,
			BatchNumber,
			IsPallete,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		OUTPUT INSERTED.ULDID INTO @NewULDTable
		VALUES (
			@NewULDBarcode,
			@LocationCode,
			@TenantCode,
			NULL,
			NULL,
			@ULDType,
			@WarehouseCode,
			'Bulk',
			@ItemNumber,
			@ItemName,
			@ExpiryDate,
			@BatchNumber,
			1,
			0, 
			@CreatedDateTime,
			@CreatedBy
		);

		SELECT @NewULDID = ULDID FROM @NewULDTable;
	    -- Commit transaction if update is successful
		COMMIT TRANSACTION;
    
		PRINT 'Insert successful';

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;
END
GO
