USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_ChangeULDLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <24 Feb, 2025>
-- Description:	<Change ULD Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_ChangeULDLocation]  
	@FromLocationCode	VARCHAR(50),
	@ULDBarcode			VARCHAR(30),
	@ToLocationCode		VARCHAR(50),
	@TransactionUser	VARCHAR(100),
	@IsAllocate			BIT = 0,
	@ChargeImmediately	BIT = 0,
    @Message			VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @ULDLocationCode VARCHAR(50);
		DECLARE @TenantCode VARCHAR(10);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ULDID INT;
		DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(250);

		IF LEN(@FromLocationCode) != 33
		BEGIN
			 SET @Message = 'The Source Location Code is not correct.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		IF LEN(@ToLocationCode) != 33
		BEGIN
			 SET @Message = 'The Destination Location Code is not correct.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		SELECT @ULDID = ULDID, 
		       @ULDLocationCode = ULDCurrentLocation, 
			   @TenantCode = TenantCode,
			   @WarehouseCode = WarehouseCode,
			   @ItemNumber = ItemNumber,
			   @ItemName = ItemName
		FROM dbo.ULD WHERE ULDBarcode = @ULDBarcode AND DELETED = 0;
		IF @ULDLocationCode IS NULL
		BEGIN
			 SET @Message = 'This ULDBarcode does not exists.';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		IF @ULDLocationCode != @FromLocationCode
		BEGIN
			 SET @Message = 'The Source Location Code does not contain the ULD Barcode';
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @IsLocked BIT,
		    @LockReason VARCHAR(1000);

		-- Call the inner stored procedure
		EXEC [dbo].[SP_VI_TBL_Tenant_CheckTenantLock]
			@TenantCode = @TenantCode,
			@Lock = @IsLocked OUTPUT,
			@Reason = @LockReason OUTPUT;

		IF @IsLocked = 1
		BEGIN
			SET @Message = 'The Tenant is locked by reason: ' + @LockReason;
			ROLLBACK TRANSACTION;
			RETURN;
		END

		-- call store procedure
		DECLARE @LocationFound BIT;
		DECLARE @LocationLabel VARCHAR(10);
		DECLARE @StorageType VARCHAR(50);
		DECLARE @IsEmpty BIT;
		DECLARE @ColumnId INT;
		DECLARE @ShelfId INT;
		DECLARE @BinId INT;
		DECLARE @SBinId INT;
		DECLARE @AllocatedTenantCode VARCHAR(10);

		-- Call the child stored procedure
		EXEC [dbo].[SP_VI_TBL_Loc_CheckLocationAvailable] 
			@LocationCode = @ToLocationCode,
			@LocationFound = @LocationFound OUTPUT,
			@LocationLabel = @LocationLabel OUTPUT,
			@StorageType = @StorageType OUTPUT,
			@IsEmpty = @IsEmpty OUTPUT,
			@ColumnId = @ColumnId OUTPUT,
			@SBinId = @SBinId OUTPUT,
			@SBinType = NULL,
			@AllocatedTenant = NULL;

		IF @LocationFound = 1
		BEGIN
			IF @StorageType <> 'Receiving' AND @StorageType <> 'TemporaryLocation' AND @StorageType <> 'Bulk'
			BEGIN
				PRINT 'Location Found: ';
				-- Check Bay Allocation
				SELECT @AllocatedTenantCode = TenantCode FROM dbo.BayTenantAllocation where ColumnID = @ColumnId AND DELETED = 0;
				IF @AllocatedTenantCode IS NULL OR @AllocatedTenantCode  != @TenantCode
				BEGIN
					SET @Message = 'The Destination Location was allocated to another Tenant';
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END
			ELSE
			BEGIN
				IF @IsEmpty = 0 AND @StorageType = 'TemporaryLocation'
				BEGIN
					SET @Message = 'The Destination Temporary Location is not empty';
					ROLLBACK TRANSACTION;
					RETURN;
				END
			END
		END

		-- Update Location
		DECLARE @CurrentDateTime DATETIME = GETDATE();

		-- get LocBinId And LocShelfID
		SELECT @BinId = LocBinID FROM LocSBin WHERE LocSbinID = @SBinId;
		SELECT @ShelfId = LocShelfID FROM LocBin WHERE LocBinID = @BinId;


		UPDATE dbo.ULD
		SET ULDCurrentLocation = @ToLocationCode,
			LocColumnID = @ColumnId,
			LocShelfID = @ShelfId,
			LocBinID = @BinId,
			LocSBinID = @SBinId,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
			LastEditedDateTime = @CurrentDateTime,
			LastEditedBy = @TransactionUser
		WHERE ULDID = @ULDID;

		DECLARE @FromLocationLabel VARCHAR(10);

		-- Call the child stored procedure
		EXEC [dbo].[SP_VI_TBL_Loc_CheckLocationAvailable] 
			@LocationCode = @FromLocationCode,
			@LocationFound = NULL,
			@LocationLabel = @FromLocationLabel OUTPUT,
			@StorageType = NULL,
			@IsEmpty = NULL,
			@ColumnId = NULL,
			@SBinId = NULL,
			@SBinType = NULL,
			@AllocatedTenant = NULL;

		-- Update ULD Line
		DECLARE @SequenceNumber INT;
		SELECT @SequenceNumber = COUNT(*) FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
		SET @SequenceNumber = @SequenceNumber + 1;

		DECLARE @TransactionMovement VARCHAR(1000);
		SET @TransactionMovement = 'ULD moved from ' +  @FromLocationCode  + ' to ' +  @ToLocationCode;

		INSERT INTO [dbo].[ULDLine] (
			ULDID,
			SequenceNumber,
			SerialNumber,
			TransactionDate,
			TransactionUser,
			TransactionType,
			TransactionQty,
			TransactionReference,
			TransactionMovement,
			TransactionLocation,
			ItemNumber,
			ItemName,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
			
		VALUES (
			@ULDID,
			@SequenceNumber,
			NULL,
			@CurrentDateTime,
			@TransactionUser,
			'ULD Moved',
			0,
			'N/A',
			@TransactionMovement, 
			@ToLocationCode,
			@ItemNumber,
			@ItemName,
			0,
			@CurrentDateTime,
			@TransactionUser
		);

		-- update Picking schedule if having
		DECLARE @PickingScheduleID INT;

		SELECT @PickingScheduleID = PickingScheduleID  FROM dbo.PickingSchedule 
		WHERE Deleted = 0 AND ULDCurrentLocation = @FromLocationCode AND Status = 'Init';

		IF @PickingScheduleID IS NOT NULL
		BEGIN
			UPDATE dbo.PickingSchedule 
			SET
				ULDCurrentLocation = @ToLocationCode,
				LocationOrderNumber = dbo.fn_GetLocationOrderNumberFromCode(@ToLocationCode),
				FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
				FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
				LastEditedDateTime = @CurrentDateTime,
				LastEditedBy = @TransactionUser
			WHERE PickingScheduleID = @PickingScheduleID;
				
		END

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
