USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Invoice_InsertChargeGroupInvoice]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <01 Mar, 2025>
-- Description:	<Insert Charge Group Invoice>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_Invoice_InsertChargeGroupInvoice]  
	@ItemNumber VARCHAR(30),
	@ItemUnit VARCHAR(50),
	@TenantCode VARCHAR(10),
	@WarehouseCode VARCHAR(20),
	@Qty INT,
	@TransactionReference VARCHAR(500) = NULL,
	@OrderReferences VARCHAR(500) = NULL,
	@WaveReferences VARCHAR(30) = NULL,
	@Category VARCHAR(50),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
		
		DECLARE @ItemID INT;
		DECLARE @ItemName VARCHAR(250);
		DECLARE @ChargeGroupID INT;
		
		SELECT @ItemID = ItemID, @ItemName = ItemName 
		       FROM dbo.Items 
		       WHERE ItemNumber = @ItemNumber AND TenantCode = @TenantCode AND DELETED = 0;

		IF @ItemID IS NULL
		BEGIN
			 SET @Message = 'This Item does not exists.';
			 RETURN;
		END

		SELECT @ChargeGroupID = ChargeGroupID 
		       FROM dbo.ItemChargeGroup 
		       WHERE ItemId = @ItemId AND DELETED = 0 AND Category = @Category;


		IF @ChargeGroupID IS NULL
		BEGIN
			 SET @Message = 'This Charge group does not exists.';
			 RETURN;
		END

		DECLARE @Charge DECIMAL(10, 2);
		DECLARE @Currency VARCHAR(20);
		DECLARE @ChargeItemName VARCHAR(200);

		SELECT @ChargeItemName = ChargeGroupName 
		       FROM dbo.ChargeGroup 
		       WHERE ChargeGroupID = @ChargeGroupID AND DELETED = 0 AND Category = @Category;

		SELECT @Charge = ChargeItemPrice,  @Currency = ChargeItemCurrency
		       FROM dbo.ChargeGroupCost 
		       WHERE ChargeGroupID = @ChargeGroupID AND DELETED = 0 AND ChargeItemUnit = @ItemUnit AND WarehouseCode = @WarehouseCode;

		IF @Charge IS NULL
		BEGIN
			 SET @Message = 'This Charge group cost does not exists.';
			 RETURN;
		END

		IF @TransactionReference IS NULL
		BEGIN
			SET @TransactionReference = CAST(@ChargeGroupID AS NVARCHAR);
		END

		IF NOT EXISTS (
			SELECT 1 
			FROM dbo.Invoice 
			WHERE TenantCode = @TenantCode 
			AND WarehouseCode = @WarehouseCode	
			AND ItemReferences = @ItemName + ' - ' + @ItemNumber
			AND OrderReferences = @OrderReferences 
			AND ChargeName = @ChargeItemName 
			AND ChargeCategory = @Category
			AND Deleted = 0
		)
		BEGIN
			INSERT INTO [dbo].[Invoice] (
				TenantCode,
				ChargeName,
				ChargeType,
				ChargeCategory,
				InvoiceReferences,
				OrderReferences,
				WaveReferences,
				ItemReferences,
				WarehouseCode,
				Qty,
				Cost,
				Charge,
				Currency,
				Status,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES (
				@TenantCode,
				@ChargeItemName,
				'Standard',
				@Category,
				@TransactionReference,
				@OrderReferences,
				@WaveReferences,
				@ItemName + ' - ' + @ItemNumber,
				@WarehouseCode,
				@Qty,
				@Charge,
				@Charge * @Qty,
				@Currency,
				'Pending',
				0, -- Deleted
				@CreatedDateTime,
				@CreatedBy
			);
		END

		


    END TRY
    BEGIN CATCH

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
