USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Orders_CheckUploadOrder]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<Check Upload Order>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Orders_CheckUploadOrder]  
    @WarehouseCode VARCHAR(20),
    @TenantCode VARCHAR(10),
	@OrderNumber VARCHAR(30) = NULL,
    @Carrier VARCHAR(30) = NULL,
    @CarrierService VARCHAR(200) = NULL,
	@CarrierID INT OUTPUT,
    @CarrierServiceID INT OUTPUT,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

	SET @Message = '';

	IF EXISTS(SELECT 1 FROM dbo.Orders WHERE order_number = @OrderNumber AND Deleted = 0)
	BEGIN
		SET @Message = 'This order numnber is existed'
		ROLLBACK TRANSACTION;
		RETURN;
	END

	-- Check for Tenant Code
	IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0)
	BEGIN
		SET @Message = 'Tenant Code does not exists.'		
		RETURN;
	END

	IF NOT EXISTS(SELECT 1 FROM dbo.LocWarehouse WHERE WarehouseCode = @WarehouseCode AND Deleted = 0)
	BEGIN
		SET @Message = 'Warehouse Code does not exists.'
		RETURN;
	END

	/*SELECT @CarrierID = CarrierID FROM dbo.Carrier 
	WHERE CarrierName = @Carrier AND WarehouseCode = @WarehouseCode AND TenantCode = @TenantCode AND Deleted = 0;
	IF @CarrierID IS NULL
	BEGIN
		SET @Message = 'Carrier does not exists for this Tenant in this Warehouse.'		
		RETURN;
	END*/
	IF @Carrier <> 'Australia Post' and @Carrier <> 'Manual Shipment' AND @Carrier <> 'DHL Express' and @Carrier <> 'Courier Please'
	BEGIN
		SET @Message = 'Carrier does not exists for this Tenant in this Warehouse.'		
		RETURN;
	END
	ELSE IF @Carrier = 'Australia Post'
	BEGIN
		SET @CarrierID = 1;

		--SELECT @CarrierServiceID = ServiceID FROM  dbo.AP_StandardService WHERE ServiceName = @CarrierService AND Deleted = 0;	
		SELECT @CarrierServiceID = ServiceID
		FROM APIntegration i
		LEFT JOIN APIntegrationLine l on l.IntegrationID = i.IntegrationID
		WHERE i.WarehouseCode = @WarehouseCode and i.TenantCode = @TenantCode and l.ServiceName = @CarrierService and i.Deleted = 0 and l.Deleted = 0
		GROUP BY ServiceID, ServiceName

		IF @CarrierServiceID IS NULL
		BEGIN
			SET @Message = 'Carrier Service does not exists for this Carrier.'
			RETURN;
		END
	END
	ELSE IF @Carrier = 'Manual Shipment'
	BEGIN
		SET @CarrierID = 2;
		SET @CarrierServiceID = 1;
	END
	ELSE IF @Carrier = 'DHL Express'
	BEGIN
		SET @CarrierID = 3;
		SET @CarrierServiceID = 1;
	END
	ELSE IF @Carrier = 'Courier Please'
	BEGIN
		SET @CarrierID = 4;
		SET @CarrierServiceID = 1;
	END
END
GO
