USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Loc_ResetOrderNumber]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Oct, 2024>
-- Description:	<Reset Order Number>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Loc_ResetOrderNumber]
    @LocParentID        INT,  -- Id of parent follow the value of @LocType. Ex: @LocType = 1 (Reset Area) so @LocParentID is ID of warehouse
    @LocType		    INT,  -- Type of Loc will be reset 1: Area ; 2:Section ; 3:Row ; 4:Column 
    @Message            VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		BEGIN TRANSACTION;

		DECLARE @AreaIncrement INT,
		@SectionIncrement INT,
		@RowIncrement INT,
		@ColumnIncrement INT;

		SELECT 
			@AreaIncrement = MAX(CASE WHEN SettingName = 'AREA_INCREMENT' THEN SettingValue END),
			@SectionIncrement = MAX(CASE WHEN SettingName = 'SECTION_INCREMENT' THEN SettingValue END),
			@RowIncrement = MAX(CASE WHEN SettingName = 'ROW_INCREMENT' THEN SettingValue END),
			@ColumnIncrement = MAX(CASE WHEN SettingName = 'COLUMN_INCREMENT' THEN SettingValue END)
		FROM [dbo].[Setting]
		WHERE SettingName IN (
			'AREA_INCREMENT', 'SECTION_INCREMENT', 'ROW_INCREMENT','COLUMN_INCREMENT');
    
		DECLARE @CurrentOrder INT;
		DECLARE @LocID INT;
		SET @CurrentOrder = 0;

		IF @LocType = 1  --Area
		BEGIN

			-- Disable the unique index
			ALTER INDEX UK_LocArea_OrderNumberAndLocWarehouseID ON dbo.LocArea DISABLE;

			SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

			-- Declare a cursor for the LocArea records
			DECLARE LocAreaCursor CURSOR FOR
				SELECT LocAreaID
				FROM dbo.LocArea
				WHERE LocWarehouseID = @LocParentID AND Deleted = 0
				ORDER BY OrderNumber;

			-- Open the cursor
			OPEN LocAreaCursor;

			-- Fetch the first row
			FETCH NEXT FROM LocAreaCursor INTO @LocID;

			-- Iterate over each row
			WHILE @@FETCH_STATUS = 0
			BEGIN

				-- Increment the NewOrderNumber by AreaIncrement
				SET @CurrentOrder = @CurrentOrder + @AreaIncrement;

				-- Update the OrderNumber of the current LocArea record
				UPDATE dbo.LocArea
				SET OrderNumber = @CurrentOrder
				WHERE LocAreaID = @LocID;
				
				-- Fetch the next row
				FETCH NEXT FROM LocAreaCursor INTO @LocID;
			END;

			-- Close and deallocate the cursor
			CLOSE LocAreaCursor;
			DEALLOCATE LocAreaCursor;

			-- Rebuild the unique index
			ALTER INDEX UK_LocArea_OrderNumberAndLocWarehouseID ON dbo.LocArea REBUILD;

		END
		ELSE IF @LocType = 2  --Section
		BEGIN

			-- Disable the unique index
			ALTER INDEX UK_LocSection_OrderNumberAndLocAreaID ON dbo.LocSection DISABLE;

			-- Declare a cursor for the LocSection records
			DECLARE LocSectionCursor CURSOR FOR
				SELECT LocSectionID
				FROM dbo.LocSection
				WHERE LocAreaID = @LocParentID AND Deleted = 0
				ORDER BY OrderNumber;

			-- Open the cursor
			OPEN LocSectionCursor;

			-- Fetch the first row
			FETCH NEXT FROM LocSectionCursor INTO @LocID;

			-- Iterate over each row
			WHILE @@FETCH_STATUS = 0
			BEGIN
				-- Increment the NewOrderNumber by SectionIncrement
				SET @CurrentOrder = @CurrentOrder + @SectionIncrement;
				
				-- Update the OrderNumber of the current LocSection record
				UPDATE dbo.LocSection
				SET OrderNumber = @CurrentOrder
				WHERE LocSectionID = @LocID;

				-- Fetch the next row
				FETCH NEXT FROM LocSectionCursor INTO @LocID;
			END;

			-- Close and deallocate the cursor
			CLOSE LocSectionCursor;
			DEALLOCATE LocSectionCursor;

			-- Rebuild the unique index
			ALTER INDEX UK_LocSection_OrderNumberAndLocAreaID ON dbo.LocSection REBUILD;

		END
		ELSE IF @LocType = 3  --Row
		BEGIN

			-- Disable the unique index
			ALTER INDEX UK_LocRow_OrderNumberAndLocSectionID ON dbo.LocRow DISABLE;

			-- Declare a cursor for the LocRow records
			DECLARE LocRowCursor CURSOR FOR
				SELECT LocRowID
				FROM dbo.LocRow
				WHERE LocSectionID = @LocParentID AND Deleted = 0
				ORDER BY OrderNumber;

			-- Open the cursor
			OPEN LocRowCursor;

			-- Fetch the first row
			FETCH NEXT FROM LocRowCursor INTO @LocID;

			-- Iterate over each row
			WHILE @@FETCH_STATUS = 0
			BEGIN
				
				-- Increment the NewOrderNumber by RowIncrement
				SET @CurrentOrder = @CurrentOrder + @RowIncrement;

				-- Update the OrderNumber of the current LocRow record
				UPDATE dbo.LocRow
				SET OrderNumber = @CurrentOrder
				WHERE LocRowID = @LocID;

				-- Fetch the next row
				FETCH NEXT FROM LocRowCursor INTO @LocID;
			END;

			-- Close and deallocate the cursor
			CLOSE LocRowCursor;
			DEALLOCATE LocRowCursor;

			-- Rebuild the unique index
			ALTER INDEX UK_LocRow_OrderNumberAndLocSectionID ON dbo.LocRow REBUILD;
		END
		ELSE IF @LocType = 4  --Column
		BEGIN
		
			-- Disable the unique index
			ALTER INDEX UK_LocColumn_OrderNumberAndLocRowID ON dbo.LocColumn DISABLE;

			-- Declare a cursor for the LocColumn records
			DECLARE LocColumnCursor CURSOR FOR
				SELECT LocColumnID
				FROM dbo.LocColumn
				WHERE LocRowID = @LocParentID AND Deleted = 0
				ORDER BY OrderNumber;

			-- Open the cursor
			OPEN LocColumnCursor;

			-- Fetch the first row
			FETCH NEXT FROM LocColumnCursor INTO @LocID;

			-- Iterate over each row
			WHILE @@FETCH_STATUS = 0
			BEGIN
			
				-- Increment the NewOrderNumber by ColumnIncrement
				SET @CurrentOrder = @CurrentOrder + @ColumnIncrement;

				-- Update the OrderNumber of the current LocColumn record
				UPDATE dbo.LocColumn
				SET OrderNumber = @CurrentOrder
				WHERE LocColumnID = @LocID;

				-- Fetch the next row
				FETCH NEXT FROM LocColumnCursor INTO @LocID;
			END;

			-- Close and deallocate the cursor
			CLOSE LocColumnCursor;
			DEALLOCATE LocColumnCursor;
			
			-- Rebuild the unique index
			ALTER INDEX UK_LocColumn_OrderNumberAndLocRowID ON dbo.LocColumn REBUILD;

		END;

		UPDATE dbo.LocSequence
		SET CurrentOrder = COALESCE(@CurrentOrder, CurrentOrder)
		WHERE LocationId = @LocParentID AND LocationType = @LocType;

        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
    
        PRINT 'Reset successful';

    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Print error message
        PRINT 'Error occurred while insert location';
        PRINT ERROR_MESSAGE();
        THROW
    END CATCH;

END
GO
