USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_CarrierLine_InsertCarrierLine]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<Insert Carrier Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_CarrierLine_InsertCarrierLine]  
    @CarrierID INT,
	@CarrierServiceCode VARCHAR(50),
    @CarrierServiceName VARCHAR(150),
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
         BEGIN TRANSACTION

		  IF NOT EXISTS(SELECT 1 FROM dbo.Carrier WHERE CarrierID = @CarrierID AND Deleted = 0)
          BEGIN
            SET @Message = 'CarrierID does not exist or has been deleted.'
            RETURN;
          END

		 DECLARE @CarrierLineID INT;
		 SELECT @CarrierLineID = CarrierLineID FROM dbo.CarrierLine
		 WHERE CarrierID = @CarrierID AND CarrierServiceCode = @CarrierServiceCode 
		 AND CarrierServiceName = @CarrierServiceName AND Deleted = 1;
        
		 IF @CarrierLineID IS NULL
		 BEGIN
			 -- Insert into Carrier table
			INSERT INTO dbo.CarrierLine
			(
				CarrierID,
				CarrierServiceCode,
				CarrierServiceName,
				CarrierServiceActive,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@CarrierID,
				@CarrierServiceCode,
				@CarrierServiceName,
				1,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)
		END
		ELSE
		BEGIN
			UPDATE dbo.CarrierLine
			SET
				Deleted = 0,				
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime =  NULL,
				LastEditedBy =  NULL,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			WHERE CarrierLineID = @CarrierLineID
		END
        
        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
