USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_UpdateLockedStatusByULDs]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <23 Jun, 2025>
-- Description:	<Update Lock Status By ULDs>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ULD_UpdateLockedStatusByULDs] 
   @ULDIDs				dbo.IdArray READONLY,  
   @LockReason			VARCHAR(1000), 
   @EditedDateTime      DATETIME = NULL,
   @EditedBy            VARCHAR(100) = NULL,
   @Message				VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRY

	   BEGIN TRANSACTION

	   IF EXISTS (SELECT 1 FROM dbo.ULD WHERE ULDID IN (SELECT Value FROM @ULDIDs) AND Deleted = 0 AND Status = 'Locked')
	   BEGIN
			SET @Message = 'There are existing locked ULDs.';
			ROLLBACK TRANSACTION;
			RETURN;
	   END

       
	   UPDATE dbo.ULD
       SET  Status = 'Locked',
            LockReason = @LockReason,
            FirstEditedDateTime = COALESCE(@EditedDateTime, FirstEditedDateTime),
            FirstEditedBy = COALESCE(@EditedBy, FirstEditedBy),
            LastEditedDateTime = COALESCE(@EditedDateTime, LastEditedDateTime),
            LastEditedBy = COALESCE(@EditedBy, LastEditedBy)
       WHERE ULDID IN (SELECT Value FROM @ULDIDs) AND Deleted = 0;

	   COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
