USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ULD_RemoveULDLineFromReceipt]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP_VI_TBL_ULD_RemoveULDLineFromReceipt]  
	@ULDID				INT,
	@InvoiceCharging     BIT = 1,
	@TransactionUser	VARCHAR(100),
    @Message			VARCHAR(4000) OUTPUT
AS
BEGIN

    SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		IF NOT EXISTS(SELECT 1 FROM dbo.ULD WHERE ULDID = @ULDID AND DELETED = 0)
		BEGIN
			SET @Message = 'ULD does exists in this receipt.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @ShipmentNumber VARCHAR(30); 
		SELECT @ShipmentNumber = TransactionReference
		FROM dbo.ULDLine WHERE ULDID = @ULDID AND TransactionType = 'Receipt' AND DELETED = 0;

		DECLARE @TenantCode  VARCHAR(10);
	    DECLARE @ItemNumber  VARCHAR(30);
		DECLARE @ItemName VARCHAR(30);
	    DECLARE @LocationCode VARCHAR(50);
		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @ULDType VARCHAR(30);
		DECLARE @TransactionReference VARCHAR(500);
	  
		SELECT @TenantCode = TenantCode,
			   @WarehouseCode = WarehouseCode,
			   @ULDType =  ULDType,
		       @LocationCode = ULDCurrentLocation,
			   @ItemNumber = ItemNumber,
			   @ItemName = ItemName
		FROM dbo.ULD WHERE ULDID = @ULDID AND DELETED = 0;
		
		-- create invoice 
		DECLARE @CurrentDateTime DATETIME = GETDATE();

		DECLARE @Qty INT; 

		SELECT @Qty = SUM(UL.TransactionQty)
		FROM dbo.ULDLine UL
		WHERE UL.ULDID = @ULDID	AND UL.DELETED = 0
		GROUP BY UL.ULDID;

		IF @Qty > 0
		BEGIN
			SET @Qty = -@Qty;

			IF @InvoiceCharging = 1
			BEGIN
				SET @TransactionReference = 'Receiving the shipment number: ' +  @ShipmentNumber;

				EXEC [dbo].[SP_VI_TBL_Invoice_InsertReceivingInvoice] 
					@TenantCode = @TenantCode,
					@WarehouseCode = @WarehouseCode,
					@ItemCode = @ItemNumber,
					@TransactionReference = @TransactionReference,  
					@ItemUnit = @ULDType,     
					@ItemQty = @Qty,    
					@CreatedDateTime = @CurrentDateTime, 
					@CreatedBy = @TransactionUser,  
					@Message = NULL;
			END
			
		END
		
		UPDATE dbo.ULD
		SET Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
			LastEditedDateTime = @CurrentDateTime,
			LastEditedBy = @TransactionUser
		WHERE ULDID = @ULDID;

		UPDATE dbo.ULDLine
		SET Deleted = 1,
			FirstEditedDateTime = COALESCE(FirstEditedDateTime, @CurrentDateTime),
			FirstEditedBy = COALESCE(FirstEditedBy, @TransactionUser),
			LastEditedDateTime = @CurrentDateTime,
			LastEditedBy = @TransactionUser
		WHERE ULDID = @ULDID;

		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
