USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_ListReceiptInbounds]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <07 Nov, 2024>
-- Description:	<List Receipt Inbound>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_ListReceiptInbounds]
	 @WarehouseCode NVARCHAR(10) = NULL,
     @ReceiptType NVARCHAR(20),
     @ReceiptStatuses dbo.StringArray READONLY,
	 @Search NVARCHAR(100) = NULL,
	 @StartDate DATETIME = NULL,
	 @EndDate DATETIME = NULL,
	 @TenantCode NVARCHAR(10) = NULL,
	 @PageNumber INT,
     @PageSize INT,
     @OrderBy NVARCHAR(50),
     @OrderDir NVARCHAR(4), -- 'ASC' or 'DESC'
	 @TotalRecords INT OUTPUT,
     @TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
	DECLARE @SQL NVARCHAR(MAX);
	DECLARE @WhereClause NVARCHAR(MAX) = N'
		WHERE ri.DELETED = 0
		  AND ri.ReceiptType = @ReceiptType';
	DECLARE @OrderClause NVARCHAR(MAX);
	DECLARE @SearchTerm NVARCHAR(100) = NULL;

	SET @Search = TRIM(@Search);
	SET @TenantCode = TRIM(@TenantCode);

	IF @WarehouseCode IS NOT NULL AND LEN(@WarehouseCode) > 0
	BEGIN
		SET @WhereClause += N'
		  AND ri.WarehouseCode = @WarehouseCode';
	END

	IF EXISTS (SELECT 1 FROM @ReceiptStatuses)
	BEGIN
		SET @WhereClause += N'
		  AND ri.ReceiptStatus IN (SELECT Value FROM @ReceiptStatuses)';
	END

	IF @TenantCode IS NOT NULL AND LEN(@TenantCode) > 0
	BEGIN
		SET @WhereClause += N'
		  AND LOWER(ri.TenantCode) = LOWER(@TenantCode)';
	END

	IF @StartDate IS NOT NULL
	BEGIN
		SET @WhereClause += N'
		  AND ri.CreatedDateTime >= @StartDate';
	END

	IF @EndDate IS NOT NULL
	BEGIN
		SET @WhereClause += N'
		  AND ri.CreatedDateTime < DATEADD(DAY, 1, CAST(@EndDate AS DATE))';
	END

	IF @Search IS NOT NULL AND LEN(@Search) > 0
	BEGIN
		SET @SearchTerm = LOWER(@Search);
		SET @WhereClause += N'
		  AND (
			LOWER(t.TenantName) LIKE ''%'' + @SearchTerm + ''%''
			OR LOWER(lw.WarehouseName) LIKE ''%'' + @SearchTerm + ''%''
			OR LOWER(ri.ReceiptStatus) LIKE ''%'' + @SearchTerm + ''%''
			OR LOWER(ri.ShipmentNumber) LIKE ''%'' + @SearchTerm + ''%''
			OR LOWER(ri.ClientShipmentNumber) LIKE ''%'' + @SearchTerm + ''%''
			OR LOWER(FORMAT(ri.DueDate, ''dd/MM/yyyy'')) LIKE ''%'' + @SearchTerm + ''%''
			OR LOWER(FORMAT(ri.CreatedDateTime, ''dd/MM/yyyy'')) LIKE ''%'' + @SearchTerm + ''%''
		  )';
	END

	SET @SQL = N'
		SELECT @TotalRecords = COUNT(*)
		FROM dbo.ReceiptInbound ri
		JOIN dbo.LocWarehouse lw ON ri.WarehouseCode = lw.WarehouseCode
		JOIN dbo.Tenant t ON ri.TenantCode = t.TenantCode' + @WhereClause;

	EXEC sp_executesql
		@SQL,
		N'@ReceiptType NVARCHAR(20),
		  @WarehouseCode NVARCHAR(10),
		  @ReceiptStatuses dbo.StringArray READONLY,
		  @TenantCode NVARCHAR(10),
		  @StartDate DATETIME,
		  @EndDate DATETIME,
		  @SearchTerm NVARCHAR(100),
		  @TotalRecords INT OUTPUT',
		@ReceiptType = @ReceiptType,
		@WarehouseCode = @WarehouseCode,
		@ReceiptStatuses = @ReceiptStatuses,
		@TenantCode = @TenantCode,
		@StartDate = @StartDate,
		@EndDate = @EndDate,
		@SearchTerm = @SearchTerm,
		@TotalRecords = @TotalRecords OUTPUT;

	SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

	SET @OrderClause = @OrderBy + N' ' + @OrderDir;

	IF LOWER(@OrderBy) <> N'createddatetime'
	BEGIN
			SET @OrderClause += N', ri.CreatedDateTime DESC';
	END

	SET @SQL = N'
		SELECT
			ri.*,
			lw.WarehouseName,
			t.TenantName
		FROM dbo.ReceiptInbound ri
		JOIN dbo.LocWarehouse lw ON ri.WarehouseCode = lw.WarehouseCode
		JOIN dbo.Tenant t ON ri.TenantCode = t.TenantCode' + @WhereClause + N'
		ORDER BY ' + @OrderClause + N'
		OFFSET ' + CAST(@Offset AS NVARCHAR(20)) + N' ROWS
		FETCH NEXT ' + CAST(@PageSize AS NVARCHAR(20)) + N' ROWS ONLY';

	EXEC sp_executesql
		@SQL,
		N'@ReceiptType NVARCHAR(20),
		  @WarehouseCode NVARCHAR(10),
		  @ReceiptStatuses dbo.StringArray READONLY,
		  @TenantCode NVARCHAR(10),
		  @StartDate DATETIME,
		  @EndDate DATETIME,
		  @SearchTerm NVARCHAR(100)',
		@ReceiptType = @ReceiptType,
		@WarehouseCode = @WarehouseCode,
		@ReceiptStatuses = @ReceiptStatuses,
		@TenantCode = @TenantCode,
		@StartDate = @StartDate,
		@EndDate = @EndDate,
		@SearchTerm = @SearchTerm;
END
GO
