USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocBin_ListAllBinsByShelfId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Sep, 2024>
-- Description:	<Get Bin by ShelfId>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocBin_ListAllBinsByShelfId] @LocShelfID INT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @StorageType VARCHAR(50);
	DECLARE @SBinType VARCHAR(50);
	DECLARE @LocColumnID INT;

	SELECT TOP 1 @StorageType = ls.StorageType
	FROM dbo.LocSection ls
	INNER JOIN dbo.LocRow lr ON ls.LocSectionID = lr.LocSectionID AND lr.DELETED = 0
	INNER JOIN dbo.LocColumn lc ON lr.LocRowID = lc.LocRowID AND lc.DELETED = 0
	INNER JOIN dbo.LocShelf lsf ON lc.LocColumnID = lsf.LocColumnID AND lsf.DELETED = 0 AND lsf.LocShelfID = @LocShelfID

	SELECT TOP 1 @SBinType = lsb.SBinType
	FROM dbo.LocSBin lsb
	INNER JOIN dbo.LocBin lb ON lb.LocBinID = lsb.LocBinID AND lb.DELETED = 0
	WHERE lb.LocShelfID = @LocShelfID AND lb.DELETED = 0;

	SELECT @LocColumnID = LocColumnID
	FROM dbo.LocShelf
	WHERE LocShelfID = @LocShelfID AND DELETED = 0;

	IF @StorageType = 'PickFace'
	BEGIN
		SELECT A.*, 
			   COALESCE(bta.TenantName, 'N/A') AS AllocationStatus, 
			   @StorageType AS StorageType, 
			   @SBinType AS SBinType,
			   COALESCE(B.SBinCount, 0) AS TotalSBin,
			   COALESCE(C.TotalULD, 0) AS TotalULD,
			   COALESCE(C.UsedSBin, 0) AS UsedSBin
		FROM
		(
			SELECT @LocColumnID as LocColumnID , lb.*
			FROM dbo.LocBin lb	
			WHERE lb.LocShelfID = @LocShelfID AND lb.DELETED = 0
		) A
		LEFT JOIN dbo.BayTenantAllocation bta ON A.LocColumnID = bta.ColumnID AND bta.Deleted = 0
		LEFT JOIN 
		(
			SELECT LocBinID, COUNT(LocSBinID) AS SBinCount
			FROM dbo.LocSBin WHERE Deleted = 0 GROUP BY LocBinID
		) B ON A.LocBinID = B.LocBinID
		LEFT JOIN (
			SELECT U.LocBinID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.LocBinID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocBinID
		) C ON A.LocBinID = C.LocBinID;
	END
	ELSE IF @StorageType = 'PerfectPick'
	BEGIN
		SELECT A.*, 
			   COALESCE(bta.TenantName, 'N/A') AS AllocationStatus, 
			   @StorageType AS StorageType, 
			   @SBinType AS SBinType,
			   COALESCE(B.SBinCount, 0) AS TotalSBin,
			   COALESCE(C.TotalULD, 0) AS TotalULD,
			   COALESCE(C.UsedSBin, 0) AS UsedSBin
		FROM
		(
			SELECT @LocColumnID as LocColumnID , lb.*
			FROM dbo.LocBin lb	
			WHERE lb.LocShelfID = @LocShelfID AND lb.DELETED = 0
		) A
		LEFT JOIN dbo.BinTenantAllocation bta ON A.LocBinID = bta.BinID AND bta.Deleted = 0
		LEFT JOIN 
		(
			SELECT LocBinID, COUNT(LocSBinID) AS SBinCount
			FROM dbo.LocSBin WHERE Deleted = 0 GROUP BY LocBinID
		) B ON A.LocBinID = B.LocBinID
		LEFT JOIN (
			SELECT U.LocBinID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.LocBinID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocBinID
		) C ON A.LocBinID = C.LocBinID;
	END
	ELSE
	BEGIN
		SELECT A.*, 
			   'N/A' AS AllocationStatus, 
			   @StorageType AS StorageType, 
			   @SBinType AS SBinType,
			   COALESCE(B.SBinCount, 0) AS TotalSBin,
			   COALESCE(C.TotalULD, 0) AS TotalULD,
			   COALESCE(C.UsedSBin, 0) AS UsedSBin
		FROM
		(
			SELECT @LocColumnID as LocColumnID , lb.*
			FROM dbo.LocBin lb	
			WHERE lb.LocShelfID = @LocShelfID AND lb.DELETED = 0
		) A
		LEFT JOIN 
		(
			SELECT LocBinID, COUNT(LocSBinID) AS SBinCount
			FROM dbo.LocSBin WHERE Deleted = 0 GROUP BY LocBinID
		) B ON A.LocBinID = B.LocBinID
		LEFT JOIN (
			SELECT U.LocBinID, COUNT(U.ULDID) as TotalULD, COUNT(DISTINCT U.LocSBinID) AS UsedSBin
				FROM dbo.ULD U
				WHERE U.LocColumnID IS NOT NULL 
				AND U.LocSBinID IS NOT NULL
				AND U.LocBinID IS NOT NULL
				AND U.DELETED = 0
				AND EXISTS (
					SELECT 1
					FROM dbo.ULDLine UL
					WHERE UL.ULDID = U.ULDID
					AND UL.DELETED = 0
					GROUP BY UL.ULDID
					HAVING SUM(UL.TransactionQty) > 0
				)
				GROUP BY U.LocBinID
		) C ON A.LocBinID = C.LocBinID;
	END
END
GO
