USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDefinition_UpdateAppliedTenantsStatusOfReportDefinition]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <21 jan, 2025>
-- Description:	<Update Applied Tenant Status of ReportDefinition>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDefinition_UpdateAppliedTenantsStatusOfReportDefinition]  
	 @ReportDefinitionId INT,
	 @TenantCodes dbo.StringArray READONLY,	
	 @WarehouseCodes dbo.StringArray READONLY,
	 @CreatedDateTime DATETIME = NULL,
     @CreatedBy VARCHAR(100) = NULL,
	 @Message   VARCHAR(4000) OUTPUT -- Output parameter for error messages
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION

		-- update all existed to deleted
		UPDATE dbo.TenantReportDefinition
		SET DELETED = 1
		WHERE ReportDefinitionID = @ReportDefinitionId;
	
		--insert new
		DECLARE @TenantCode NVARCHAR(10);

		DECLARE TenantCodeCursor CURSOR FOR
		SELECT Value
		FROM @TenantCodes;

		OPEN TenantCodeCursor;

		FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			-- Insert Standard
			INSERT INTO dbo.TenantReportDefinition 
				(
					TenantCode, 
					ReportDefinitionId, 
					WarehouseCode, 
					Deleted,
					CreatedDateTime,
					CreatedBy
				)
			SELECT  @TenantCode,
					@ReportDefinitionID,
					[Value],
					0 As Deleted,
					@CreatedDateTime,
					@CreatedBy
			FROM @WarehouseCodes;

			FETCH NEXT FROM TenantCodeCursor INTO @TenantCode;
		END

		CLOSE TenantCodeCursor;
		DEALLOCATE TenantCodeCursor;     

		-- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH

		 -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION
        END

        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
