USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Items_CheckAvailableStockForOrderInLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <20 Jun, 2025>
-- Description:	<Check Available Stock For Order In Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Items_CheckAvailableStockForOrderInLocation]
	@WarehouseCode VARCHAR(20),
	@TenantCode VARCHAR(10),
	@OrderNumber VARCHAR(50) = NULL,  -- Manual Order or Shopify Order
	@OrderItems dbo.OrderLineType READONLY,
	@LocationType VARCHAR(20) = NULL,  -- Area or Section
	@LocationID INT = NULL, -- AreaID or SectionID based on @LocationType
	@OperationDateTime    DATETIME = NULL,
	@OperationBy          VARCHAR(100) = NULL,
	@ReturnMissing BIT  = 1,
	@IsEnough BIT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SET @IsEnough = 1;

	CREATE TABLE #TempItemULDTable (		
		ULDID INT NOT NULL,
		ULDBarcode VARCHAR(30) NOT NULL,
		ULDCurrentLocation VARCHAR(50) NULL,
		LocationOrderNumber VARCHAR(200) NULL,
		LocColumnID INT NULL,
		LocShelfID INT NULL,
		LocBinID INT NULL,
		LocSBinID INT NULL,
		ULDType VARCHAR(30) NULL,
		TenantCode VARCHAR(10) NULL,
		WarehouseCode VARCHAR(20) NULL,
		HoldStatus VARCHAR(20) NULL,
		CurrentZone VARCHAR(20) NULL,
		Status VARCHAR(20) NULL,
		ItemNumber VARCHAR(30) NULL,
		ItemName VARCHAR(250) NULL,
		ExpiryDate DATETIME NULL,
		BatchNumber VARCHAR(30) NULL,
		CreatedDateTime DATETIME NULL,
		TotalQty INT NULL
	);

	CREATE TABLE #TempULDTable (
		RowNum INT NOT NULL,
		ULDID INT NOT NULL,
		ULDBarcode VARCHAR(30) NOT NULL,
		ULDCurrentLocation VARCHAR(50) NULL,
		LocationOrderNumber VARCHAR(200) NULL,
		LocColumnID INT NULL,
		LocShelfID INT NULL,
		LocBinID INT NULL,
		LocSBinID INT NULL,
		ULDType VARCHAR(30) NULL,
		TenantCode VARCHAR(10) NULL,
		WarehouseCode VARCHAR(20) NULL,
		HoldStatus VARCHAR(20) NULL,
		CurrentZone VARCHAR(20) NULL,
		Status VARCHAR(20) NULL,
		ItemNumber VARCHAR(30) NULL,
		ItemName VARCHAR(250) NULL,
		ExpiryDate DATETIME NULL,
		BatchNumber VARCHAR(30) NULL,
		CreatedDateTime DATETIME NULL,
		TotalQty INT NULL
	);

	CREATE TABLE #TempMissingItemTable (
		ItemNumber VARCHAR(30) NULL,
		ItemName VARCHAR(250) NULL,
		TotalQty INT NULL
	);

	--table contains all children items
	CREATE TABLE #TempChildItemsTable (
		ItemID INT,		
		Qty INT
	);

	-- table contains required qty
	CREATE TABLE #TempRequiredItemsTable (
		ItemNumber VARCHAR(50),
		Qty INT
	);

	DECLARE @ItemId INT,
			@OrderQuantity INT,
			@OrderItemNumber VARCHAR(30),
			@PickingCondition VARCHAR(100),
			@IsCompositeItem BIT,
			@ItemNumber VARCHAR(30),
			@ItemName VARCHAR(250);

	DECLARE @ChildItemID INT,
		    @Quantity INT,
			@TmpTotalQty INT,
		    @TotalQty INT;

	DECLARE @SequenceNumber INT,
			@TransactionMovement VARCHAR(1000),
			@ULDID INT,
			@ULDBarcode VARCHAR(30),
			@ULDCurrentLocation VARCHAR(50),
			@ULDQty INT,
			@AllocatedQty INT,
			@SerialNumber VARCHAR(30);


	
	-- init cursor
	DECLARE OrderItemCursor CURSOR LOCAL FAST_FORWARD FOR
	SELECT OrderItemNumber, OrderQuantity
	FROM @OrderItems;

	OPEN OrderItemCursor;

	FETCH NEXT FROM OrderItemCursor INTO @OrderItemNumber, @OrderQuantity;

	WHILE @@FETCH_STATUS = 0
	BEGIN

		-- Get Item ID	
		SELECT @ItemId = ItemId FROM dbo.Items 
		WHERE ItemNumber = @OrderItemNumber  AND DELETED = 0 AND TenantCode = @TenantCode;

		-- get info
		SELECT @IsCompositeItem = ItemIsComposite
		FROM dbo.Items
		WHERE ItemId = @ItemId AND DELETED = 0 AND CompositeType = 'Order';

		-- Stock Composite Item 
		IF @IsCompositeItem IS NOT NULL AND @IsCompositeItem = 1
		BEGIN
			
			DECLARE @ChildItems TABLE (
				ItemID INT,
				Qty INT
			);
			
			-- get children items
			INSERT INTO @ChildItems (ItemID, Qty)
			SELECT ItemID, Qty FROM [dbo].[fn_GetAllChildrenItemsOfCompositeItem](@ItemId);

			DECLARE @CurrentItemID INT;
			DECLARE @CurrentQty INT;

			DECLARE ChildItemCursor CURSOR LOCAL FAST_FORWARD FOR
			SELECT ItemID, Qty
			FROM @ChildItems;

			OPEN ChildItemCursor;

			FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;

			WHILE @@FETCH_STATUS = 0
			BEGIN			
				
				IF EXISTS (SELECT 1 FROM #TempChildItemsTable WHERE ItemID = @CurrentItemID)
				BEGIN
					UPDATE #TempChildItemsTable
					SET Qty = Qty + (@CurrentQty * @OrderQuantity)
					WHERE ItemID = @CurrentItemID;
				END
				ELSE
				BEGIN
					INSERT INTO #TempChildItemsTable (ItemID, Qty)
					VALUES (@CurrentItemID, @CurrentQty * @OrderQuantity);
				END

				FETCH NEXT FROM ChildItemCursor INTO @CurrentItemID, @CurrentQty;
			END

			CLOSE ChildItemCursor;
			DEALLOCATE ChildItemCursor;
			
		END
		ELSE -- no composite item or Order Composite item
		BEGIN
			IF NOT EXISTS (
				SELECT 1
				FROM #TempChildItemsTable
				WHERE ItemID = @ItemId 
			)
			BEGIN
				INSERT INTO #TempChildItemsTable (ItemID,Qty)
				VALUES (@ItemId , @OrderQuantity);
			END
			ELSE
			BEGIN
				UPDATE #TempChildItemsTable
				SET Qty = Qty + @OrderQuantity 
				WHERE ItemID = @ItemId;
			END
		END
		
		FETCH NEXT FROM OrderItemCursor INTO @OrderItemNumber, @OrderQuantity;
	END

	CLOSE OrderItemCursor;
	DEALLOCATE OrderItemCursor;

	DECLARE @NumberItems INT;
	SELECT @NumberItems = COUNT(*) FROM  #TempChildItemsTable;

	IF @NumberItems = 0
	BEGIN
		SET @IsEnough = 0;
		RETURN;
	END

	-- Declare the cursor
	DECLARE ItemCursor CURSOR LOCAL FOR
	SELECT ItemID, Qty 
	FROM #TempChildItemsTable;

	-- Open the cursor
	OPEN ItemCursor;

	-- Fetch the first row
	FETCH NEXT FROM ItemCursor INTO @ChildItemID, @Quantity;

	-- Loop through rows
	WHILE @@FETCH_STATUS = 0
	BEGIN
			
		SET @ItemNumber = '';
		SET @ItemName = '';
		SET @PickingCondition = '';			

		-- Check 
		SELECT @ItemNumber = ItemNumber,
				@ItemName = ItemName,
				@PickingCondition = PickingCondition
		FROM Items WHERE ItemID = @ChildItemID AND Deleted = 0;
			
		--insert ULD to tmp table
		INSERT INTO #TempItemULDTable (
				ULDID,
				ULDBarcode,
				ULDCurrentLocation,		
				LocationOrderNumber,
				LocColumnID,
				LocShelfID,
				LocBinID,
				LocSBinID,
				ULDType,
				TenantCode,
				WarehouseCode,
				HoldStatus,
				CurrentZone,
				Status,
				ItemNumber,
				ItemName,
				ExpiryDate,
				BatchNumber,
				CreatedDateTime,
				TotalQty
		)
		EXEC [dbo].[SP_VI_TBL_ULD_GetULDsHavingStockOfTenantAtLocation] 
			@TenantCode = @TenantCode,
			@WarehouseCode = @WarehouseCode,
			@LocationType = @LocationType,
			@LocationID = @LocationID,
			@ItemNumber = @ItemNumber,
			@PickingCondition = @PickingCondition,
			@CountOnHold = 0;
				
		-- get location info
		SELECT @TotalQty = ISNULL(SUM(TotalQty), 0) FROM #TempItemULDTable WHERE ItemNumber = @ItemNumber;	

		IF @TotalQty < @Quantity
		BEGIN
			SET @IsEnough = 0;
				
			-- insert missing
			INSERT INTO #TempMissingItemTable (
				ItemNumber,
				ItemName,
				TotalQty
			)
			VALUES
			(
				@ItemNumber,
				@ItemName,
				@Quantity - @TotalQty
			);
				
		END
		ELSE
		BEGIN
			INSERT INTO #TempRequiredItemsTable (
				ItemNumber,
				Qty
			)
			VALUES
			(
				@ItemNumber,
				@Quantity 
			);
		END

		DECLARE @NormalizedCondition VARCHAR(100);
		SET @NormalizedCondition = REPLACE(REPLACE(@PickingCondition, '-', ''), ' ', '');		

		IF @NormalizedCondition  IS NULL OR @NormalizedCondition = '' OR  @NormalizedCondition = 'None'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY LocationOrderNumber ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY LocationOrderNumber ASC;
		END
		ELSE IF @NormalizedCondition = 'FirstInFirstOut'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY CreatedDateTime ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY CreatedDateTime ASC;
		END
		ELSE IF @NormalizedCondition = 'LastInFirstOut'
		BEGIN		
			
			INSERT INTO #TempULDTable (	
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY CreatedDateTime DESC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY CreatedDateTime DESC;
		END		
		ELSE IF @NormalizedCondition = 'FirstExpiryFirstOut'
		BEGIN			
			INSERT INTO #TempULDTable (		
					RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			)
			SELECT 
					ROW_NUMBER() OVER (ORDER BY ExpiryDate ASC) AS RowNum,
					ULDID,
					ULDBarcode,
					ULDCurrentLocation,	
					LocationOrderNumber,
					LocColumnID,
					LocShelfID,
					LocBinID,
					LocSBinID,
					ULDType,
					TenantCode,
					WarehouseCode,
					HoldStatus,
					CurrentZone,
					Status,
					ItemNumber,
					ItemName,
					ExpiryDate,
					BatchNumber,
					CreatedDateTime,
					TotalQty
			FROM #TempItemULDTable ORDER BY ExpiryDate ASC;
		END
		ELSE
		BEGIN
			PRINT  @NormalizedCondition;
		END
		
		DELETE FROM #TempItemULDTable;

		-- Fetch next
		FETCH NEXT FROM ItemCursor INTO @ChildItemID, @Quantity;
	END

	-- Clean up
	CLOSE ItemCursor;
	DEALLOCATE ItemCursor;

	IF @IsEnough = 1 -- create allocated ULD line
	BEGIN

		BEGIN TRY 

			BEGIN TRANSACTION

			DECLARE @ULDLineID INT;

			DECLARE ULDCursor CURSOR LOCAL FOR
			SELECT ULDID, ULDBarcode, ULDCurrentLocation, ItemName, ItemNumber, TotalQty
			FROM #TempULDTable;

			-- Open the cursor
			OPEN ULDCursor;

			-- Fetch the first row
			FETCH NEXT FROM ULDCursor INTO @ULDID, @ULDBarcode, @ULDCurrentLocation, @ItemName, @ItemNumber, @ULDQty;

			-- Loop through rows
			WHILE @@FETCH_STATUS = 0
			BEGIN	

				SELECT @SequenceNumber = COUNT(*)
				FROM dbo.ULDLine WHERE ULDID = @ULDID AND DELETED = 0;
				SET @SequenceNumber = @SequenceNumber + 1;

				SET @AllocatedQty = NULL;

				-- get require qty
				SELECT @AllocatedQty = QTY FROM #TempRequiredItemsTable WHERE ItemNumber = @ItemNumber;

				IF @AllocatedQty IS NOT NULL
				BEGIN
								
					IF @AllocatedQty = @ULDQty
					BEGIN
						DELETE FROM #TempRequiredItemsTable
						WHERE ItemNumber = @ItemNumber;

						SET @AllocatedQty = @ULDQty;
					END 
					ELSE IF @AllocatedQty > @ULDQty
					BEGIN
						UPDATE #TempRequiredItemsTable
						SET QTY = (@AllocatedQty - @ULDQty)
						WHERE ItemNumber = @ItemNumber;

						SET @AllocatedQty = @ULDQty;
					END
					ELSE
					BEGIN
						DELETE FROM #TempRequiredItemsTable
						WHERE ItemNumber = @ItemNumber;							
					END
					
					SET @TransactionMovement = 'Allocated ' +  CAST(@AllocatedQty AS VARCHAR(5)) + ' ' + @ItemNumber + ' for ' + @OrderNumber + ' order';

					-- remove previous failure
					SET @ULDLineID = NULL;
					SELECT @ULDLineID = ULDLineID FROM dbo.ULDLine WHERE ULDID = @ULDID AND Deleted = 0 AND TransactionType = 'Allocated' AND TransactionReference = @OrderNumber
					IF @ULDLineID IS NOT NULL 
					BEGIN
						UPDATE dbo.ULDLine
							SET Deleted = 1,
							FirstEditedDateTime = COALESCE(FirstEditedDateTime, @OperationDateTime),
							FirstEditedBy = COALESCE(FirstEditedBy, @OperationBy),
							LastEditedDateTime = COALESCE(@OperationDateTime, LastEditedDateTime),
							LastEditedBy = COALESCE(@OperationBy, LastEditedBy)
						WHERE ULDID = @ULDID AND Deleted = 0 AND TransactionType = 'Allocated' AND TransactionReference = @OrderNumber;
					END
				
					-- insert allocation for ULD Line
					INSERT INTO [dbo].[ULDLine] (
						ULDID,
						SequenceNumber,
						SerialNumber,
						TransactionDate,
						TransactionUser,
						TransactionType,
						TransactionQty,
						TransactionReference,
						TransactionMovement,
						TransactionLocation,
						ItemNumber,
						ItemName,
						AllocatedType,
						Picked,
						Deleted,
						CreatedDateTime,
						CreatedBy
					)
	
					VALUES (
						@ULDID,
						@SequenceNumber,
						NULL, -- @SerialNumber
						@OperationDateTime,
						@OperationBy,
						'Allocated',
						-@AllocatedQty,						
						@OrderNumber,
						@TransactionMovement, 
						@ULDCurrentLocation,
						@ItemNumber,
						@ItemName,
						'Orders',
						0,
						0,
						@OperationDateTime,
						@OperationBy
					);
				END	
				-- Fetch next
				FETCH NEXT FROM ULDCursor INTO @ULDID, @ULDBarcode, @ULDCurrentLocation, @ItemName, @ItemNumber, @ULDQty;
		
			END

			CLOSE ULDCursor;
			DEALLOCATE ULDCursor;
		
			-- Commit the transaction
			COMMIT TRANSACTION;

		END TRY
		BEGIN CATCH

			-- Handle the error
			IF @@TRANCOUNT > 0
			BEGIN
				ROLLBACK TRANSACTION;
			END

			-- Handle the error
			DECLARE @ErrorMessage NVARCHAR(4000)
			DECLARE @ErrorSeverity INT
			DECLARE @ErrorState INT

			SELECT 
				@ErrorMessage = ERROR_MESSAGE(),
				@ErrorSeverity = ERROR_SEVERITY(),
				@ErrorState = ERROR_STATE()

			-- Rethrow the error
			RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		END CATCH;
	END -- End IsEnough = 1
	ELSE
	BEGIN
		IF @ReturnMissing = 1
		BEGIN
			SELECT * FROM #TempMissingItemTable;
		END
	END

	
END
GO
