USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_ListTenantsOfReceiptInboundsByTypeAndStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Nov, 2024>
-- Description:	<List Tenant of Receipt Inbound by Type, Status>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_ListTenantsOfReceiptInboundsByTypeAndStatus]
     @WarehouseCode VARCHAR(20),
     @ReceiptType NVARCHAR(20),
     @ReceiptStatuses dbo.StringArray READONLY
WITH EXECUTE AS OWNER
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT DISTINCT ri.TenantCode, t.TenantName
	FROM dbo.ReceiptInbound ri
	LEFT JOIN dbo.Tenant t
	ON ri.TenantCode = t.TenantCode
	WHERE ri.DELETED = 0 
	    AND LOWER(ri.WarehouseCode) = LOWER(@WarehouseCode)
		AND ri.ReceiptStatus IN (SELECT Value FROM @ReceiptStatuses)
		AND ri.ReceiptType = @ReceiptType
	ORDER BY t.TenantName;
		   
END
GO
