USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Report_DeleteReport]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <08 jan, 2025>
-- Description:	<Delete report>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Report_DeleteReport] @ReportID INT, @Message VARCHAR(4000) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN TRY
		
		BEGIN TRANSACTION;

		IF EXISTS(SELECT 1 FROM dbo.Report WHERE ReportID = @ReportID AND Deleted = 1)
		BEGIN
			 SET @Message = 'Report has already been deleted.';
             ROLLBACK TRANSACTION;
			 RETURN;
		END

        UPDATE dbo.Report
        SET DELETED = 1
        WHERE ReportID = @ReportID;

        UPDATE dbo.ReportParameter
        SET DELETED = 1
        WHERE ReportID = @ReportID;
		
        -- Commit transaction if update is successful
        COMMIT TRANSACTION;
      
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Print error message
        PRINT 'Error occurred while updating ReportID: ' + CAST(@ReportID AS NVARCHAR);
        PRINT ERROR_MESSAGE();
		THROW;
    END CATCH;
END
GO
