USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_IPAddressStatusList_InsertIPAddressStatusList]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <25 Dec, 2025>
-- Description:	<Insert IPAddressStatusList>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_IPAddressStatusList_InsertIPAddressStatusList]  
	@IPAddress VARCHAR(100),
	@Name VARCHAR(200) = NULL,
	@Comment TEXT =  NULL,
	@Email VARCHAR(50) = NULL,
    @IsBlocked BIT,
	@IsWhitelisted BIT,
    @BlockedDateTime DATETIME = NULL,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate IPAddressStatusListName
		 IF EXISTS(SELECT 1 FROM dbo.IPAddressStatusList WHERE IPAddress = @IPAddress AND Deleted = 0)
		 BEGIN
			 SET @Message = 'IPAddressStatusList already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		 END

		 DECLARE @IPAddressStatusListID INT;
		 SELECT @IPAddressStatusListID = IPAddressStatusListID FROM dbo.IPAddressStatusList WHERE IPAddress = @IPAddress AND Deleted = 1;
        
		 IF @IPAddressStatusListID IS NULL
		 BEGIN
			 -- Insert into IPAddressStatusList table
			INSERT INTO dbo.IPAddressStatusList
			(
				IPAddress,
				[Name],
				Comment,
				Email,
				IsBlocked,
				IsWhitelisted,
				BlockedDateTime,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@IPAddress,
				@Name,
				@Comment,
				@Email,
				@IsBlocked,
				@IsWhitelisted,
				@BlockedDateTime,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)
		END
		ELSE
		BEGIN
			UPDATE dbo.IPAddressStatusList
			SET
				Deleted = 0,
				IPAddress = COALESCE(@IPAddress, IPAddress),
				[Name] = COALESCE(@Name, [Name]),
				Comment = COALESCE(@Comment, Comment),
				Email = COALESCE(@Email, Email),
				IsBlocked = COALESCE(@IsBlocked, IsBlocked),
				IsWhitelisted = COALESCE(@IsWhitelisted, IsWhitelisted),
				BlockedDateTime = COALESCE(@BlockedDateTime, BlockedDateTime),
				FirstEditedDateTime = NULL,
				FirstEditedBy = NULL,
				LastEditedDateTime =  NULL,
				LastEditedBy =  NULL,
				CreatedDateTime = @CreatedDateTime,
				CreatedBy = @CreatedBy
			WHERE IPAddressStatusListID = @IPAddressStatusListID
		END

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        --RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SET @Message = @ErrorMessage
    END CATCH;
END
GO
