USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[sp_CP_Update_ShipmentDomestic_ShipmentResponse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CP_Update_ShipmentDomestic_ShipmentResponse]
    @ShipmentDomesticID INT,
    @ConsignmentCode NVARCHAR(150),
    @ReferenceNumber NVARCHAR(50),
    @JobNumber NVARCHAR(50),
    @Status NVARCHAR(10),
    @Message NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.CPShipmentDomestic
    SET
        ResponseShipment_consignmentCode = @ConsignmentCode,
        ResponseShipment_referenceNumber = @ReferenceNumber,
        ResponseShipment_jobNumber       = @JobNumber,
        ResponseShipment_Status          = @Status,
        ResponseShipment_Message         = @Message
    WHERE ShipmentDomesticID = @ShipmentDomesticID;
END;
GO
