USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeGroup_InsertChargeGroup]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Dec, 2024>
-- Description:	<Insert Charge Group>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeGroup_InsertChargeGroup]  
	@ChargeGroupName VARCHAR(100),
    @ChargeGroupDescription VARCHAR(1000),
	@Category VARCHAR(50),
	@Costs dbo.ChargeGroupWarehouseCostTable READONLY,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		 -- Check for duplicate ChargeGroupName
		IF EXISTS(SELECT 1 FROM dbo.ChargeGroup WHERE ChargeGroupName = @ChargeGroupName AND Deleted = 0)
		BEGIN
			 SET @Message = 'Charge Group Name already exists.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END

		DECLARE @NewChargeGroupID INT;
		SELECT @NewChargeGroupID = ChargeGroupID FROM dbo.ChargeGroup WHERE ChargeGroupName = @ChargeGroupName AND Deleted = 1;
		
		IF @NewChargeGroupID IS NULL
		BEGIN
			-- Insert into ChargeGroup table
			INSERT INTO dbo.ChargeGroup
			(
				ChargeGroupName,
				ChargeGroupDescription,
				Category,
				Deleted,
				CreatedDateTime,
				CreatedBy
			)
			VALUES
			(
				@ChargeGroupName,
				@ChargeGroupDescription,
				@Category,
				0, -- Default value for Deleted
				@CreatedDateTime,
				@CreatedBy
			)

			SET @NewChargeGroupID = SCOPE_IDENTITY();
		END
		ELSE
		BEGIN
			 UPDATE dbo.ChargeGroup
			 SET
			    Deleted = 0,
				ChargeGroupDescription = COALESCE(@ChargeGroupDescription, ChargeGroupDescription),
				Category = COALESCE(@Category, Category),
				CreatedDateTime = COALESCE(@CreatedDateTime, CreatedDateTime),
				CreatedBy = COALESCE(@CreatedBy, CreatedBy)
			WHERE ChargeGroupID = @NewChargeGroupID;
		END

		-- Insert into Cost
		INSERT INTO dbo.ChargeGroupCost
		(
			ChargeGroupID,
			WarehouseCode,
			ChargeItemPrice,
			ChargeItemUnit,
			ChargeItemCurrency,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		SELECT 
			@NewChargeGroupID as ChargeGroupID,
			WarehouseCode,
			Price,
			Unit,
			Currency,
			0 as Deleted,
			@CreatedDateTime,
			@CreatedBy
		FROM 
			@Costs;

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
