USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReportDashboardConfig_ViewReportDashboardConfig]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Dec, 2025>
-- Description:	<Get detail information of Report Dashboard Config>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReportDashboardConfig_ViewReportDashboardConfig] 
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;

	IF @WarehouseCode IS NULL
	BEGIN
		SELECT * 
		FROM dbo.ReportDashboardConfig 		
		WHERE TenantCode = @TenantCode AND DELETED = 0;
	END
	ELSE
	BEGIN
		SELECT * 
		FROM dbo.ReportDashboardConfig 				
		WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode AND DELETED = 0;
	END
END
GO
