USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocTempLocation_InsertTemporaryLocation]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Mar, 2025>
-- Description:	<Insert Temporary Location>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocTempLocation_InsertTemporaryLocation]
	@LocWarehouseID      INT,  
	@LocAreaID           INT,  
	@LocSectionID        INT,  
    @Number             INT = 0,
	@Name               VARCHAR(200) = NULL,
	@Desc               VARCHAR(1000) = NULL,
    @Height             INT = 0,
    @Width              INT = 0,
    @Depth              INT = 0,
    @Distance           INT = 0,
	@CreatedDateTime	DATETIME = NULL,
	@CreatedBy			VARCHAR(100) = NULL,
	@Message            VARCHAR(4000) OUTPUT,
	@LocationCode       VARCHAR(50) OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		BEGIN TRANSACTION;

		DECLARE @WarehouseCode VARCHAR(20);
		DECLARE @AreaCode VARCHAR(20);
		DECLARE @SectionCode VARCHAR(20);
		DECLARE @NewTmpLocation INT;

		SELECT @WarehouseCode = WarehouseCode FROM dbo.LocWarehouse WHERE DELETED = 0 AND LocWarehouseID  = @LocWarehouseID;
		SELECT @AreaCode = AreaCode FROM dbo.LocArea WHERE DELETED = 0 AND LocAreaID  = @LocAreaID;
		SELECT @SectionCode = SectionCode FROM dbo.LocSection WHERE DELETED = 0 AND LocSectionID  = @LocSectionID;

		DECLARE @BinCode VARCHAR(28);
		DECLARE @Counter INT = 1;

		WHILE @Counter <= @Number
		BEGIN

			SET @NewTmpLocation = NEXT VALUE FOR dbo.TmpLocationSequence;				
			SET @BinCode = 'TL' + RIGHT(REPLICATE('0', 26 - LEN(CAST(@NewTmpLocation AS VARCHAR(28)))) + CAST(@NewTmpLocation AS VARCHAR(28)), 26);
    	
			INSERT INTO dbo.LocTempLocation (
				LocSectionID, SectionCode, LocAreaID, AreaCode, LocWarehouseID, WarehouseCode, 
				BinCode, BinType, StorageType, Height, Width, Depth, Distance, Deleted, 
				CreatedDateTime, CreatedBy
			)
			VALUES (
				@LocSectionID, @SectionCode, @LocAreaID, @AreaCode, @LocWarehouseID, @WarehouseCode, 
				@BinCode, 'Pallet', 'TemporaryLocation', @Height, @Width, @Depth, @Distance, 0, 
				@CreatedDateTime, @CreatedBy
			);
			
			SET @LocationCode = @WarehouseCode + @AreaCode + @SectionCode + @BinCode;

			SET @Counter = @Counter + 1;
		END;
    

	    -- Commit transaction if update is successful
		COMMIT TRANSACTION;
    
		PRINT 'Insert successful';

	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while insert location';
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;

END
GO
