USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_GetFailedLogin]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <27 Aug, 2024>
-- Description:	<Get Failed Login>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_GetFailedLogin] @AzureUserId varchar(50)
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE	@NumberOfFailedLogin INT;

	SELECT @NumberOfFailedLogin = NumberOfFailedLogin 
	FROM dbo.Users 
	WHERE AzureUserId = @AzureUserId;

	IF @NumberOfFailedLogin IS NULL
	BEGIN
		select 0;
	END
	ELSE
	BEGIN
		select @NumberOfFailedLogin;
	END
END
GO
