USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_CarrierLine_UpdateCarrierLine]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 April, 2025>
-- Description:	<Update Carrier Line>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_CarrierLine_UpdateCarrierLine] 
	@CarrierLineID INT,
	@CarrierServiceCode VARCHAR(50),
    @CarrierServiceName VARCHAR(150),
	@CarrierServiceActive BIT,
	@FirstEditedDateTime          DATETIME = NULL,
	@FirstEditedBy                VARCHAR(100) = NULL,
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        -- Check if the CarrierID exists and is not marked as deleted
        IF NOT EXISTS(SELECT 1 FROM dbo.CarrierLine WHERE CarrierLineID = @CarrierLineID AND Deleted = 0)
        BEGIN
            SET @Message = 'CarrierLineID does not exist or has been deleted.'
            RETURN;
        END

        -- Update the Tenant table, excluding TenantCode and Deleted fields
        UPDATE dbo.CarrierLine
        SET
			CarrierServiceActive = COALESCE(@CarrierServiceActive, CarrierServiceActive),
			CarrierServiceCode = COALESCE(@CarrierServiceCode, CarrierServiceCode),
            CarrierServiceName = COALESCE(@CarrierServiceName, CarrierServiceName),			
			FirstEditedDateTime = COALESCE(@FirstEditedDateTime, FirstEditedDateTime),
			FirstEditedBy = COALESCE(@FirstEditedBy, FirstEditedBy),
			LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
			LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
        WHERE CarrierLineID = @CarrierLineID
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
