USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Shipment_ListShipments]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <03 Nov, 2025>
-- Description:	<Get list of Shipment with paging and order information>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Shipment_ListShipments]
    @WarehouseCode NVARCHAR(10) = NULL,
	@Carrier NVARCHAR(100) = NULL, -- AP, DHL, or NULL
	@TenantCode NVARCHAR(10) = NULL,
	@Status NVARCHAR(50) = NULL,
	@Search NVARCHAR(100) = NULL,
	@PageNumber INT = 1,
	@PageSize INT = 10,
	@OrderBy NVARCHAR(50) = 'Carrier',
	@OrderDir NVARCHAR(4) = 'ASC', -- 'ASC' or 'DESC'
	@IsDeleted BIT = 0,
	@TotalRecords INT OUTPUT,
	@TotalPages INT OUTPUT
WITH EXECUTE AS OWNER
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
	DECLARE @SQL NVARCHAR(MAX);
	DECLARE @TenantCodeSQL NVARCHAR(200);	
	DECLARE @WarehouseCodeSQL NVARCHAR(200);	

	-- Initialize
	SET @TenantCodeSQL = '';
	SET @WarehouseCodeSQL = '';

	---------------------------------------------------
	-- CASE 1: @Carrier IS NULL → UNION ALL DHL + AP + AP_INT
	---------------------------------------------------
	IF @Carrier IS NULL
	BEGIN
		-- Tenant filter
		IF (@TenantCode IS NOT NULL AND @TenantCode <> '')
		BEGIN
			SET @TenantCodeSQL = N' AND s.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';
		END

		IF (@WarehouseCode IS NOT NULL AND @WarehouseCode <> '')
		BEGIN
			SET @WarehouseCodeSQL = N' AND s.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + '''';
		END

		-- No search
		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			SELECT @TotalRecords =
			(
				SELECT SUM(cnt)
				FROM (
					SELECT COUNT(*) AS cnt FROM dbo.DHLShipment WHERE DELETED = @IsDeleted AND (@TenantCode IS NULL OR TenantCode = @TenantCode) AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
					UNION ALL
					SELECT COUNT(*) AS cnt FROM dbo.AP_Shipment WHERE DELETED = @IsDeleted AND (@TenantCode IS NULL OR TenantCode = @TenantCode) AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
					UNION ALL
					SELECT COUNT(*) AS cnt FROM dbo.AP_ShipmentINT WHERE DELETED = @IsDeleted AND (@TenantCode IS NULL OR TenantCode = @TenantCode) AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
				) AS T
			);

			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT * FROM (
					SELECT ''DHL'' AS Carrier, r.shipmentTrackingNumber AS TrackingNumber, ISNULL(wl.OrderNumber,s.MessageReference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, '''' as APShipmentType, 
						   s.MessageReference as ShipmentNumber, 0 as IsManifest
					FROM dbo.DHLShipment s
					LEFT JOIN dbo.DHLResponse r ON s.MessageReference = r.MessageReference
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 3
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'

					UNION ALL

					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''Local'' as APShipmentType, s.Shipment_Reference as ShipmentNumber,
						   CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						   END AS IsManifest
					FROM dbo.AP_Shipment s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''Local''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'

					UNION ALL

					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''INT'' as APShipmentType, s.Shipment_Reference as ShipmentNumber,
						   CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						   END AS IsManifest
					FROM dbo.AP_ShipmentINT s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''INT''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
				) AS Combined
				ORDER BY ' + @OrderBy + N' ' + @OrderDir + N'
				OFFSET ' + CAST(@Offset AS NVARCHAR) + N' ROWS
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + N' ROWS ONLY';
		END
		ELSE
		BEGIN
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords =
			(
				SELECT SUM(cnt)
				FROM (
					SELECT COUNT(*) AS cnt
						FROM dbo.DHLShipment s
						LEFT JOIN dbo.DHLResponse r ON s.MessageReference = r.MessageReference
						WHERE s.DELETED = @IsDeleted
						  AND (@TenantCode IS NULL OR s.TenantCode = @TenantCode)
						  AND (@WarehouseCode IS NULL OR s.WarehouseCode = @WarehouseCode)
						  AND (
								LOWER(r.shipmentTrackingNumber) LIKE '%' + LOWER(@Search) + '%'
								OR LOWER(s.MessageReference) LIKE '%' + LOWER(@Search) + '%'
								OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE '%' + @Search + '%'
							  )

					UNION ALL

					SELECT COUNT(*) AS cnt
					FROM dbo.AP_Shipment
					WHERE DELETED = @IsDeleted
					  AND (@TenantCode IS NULL OR TenantCode = @TenantCode)
					  AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
					  AND (
							LOWER(AP_ConsignmentID) LIKE '%' + LOWER(@Search) + '%'
							OR LOWER(Shipment_Reference) LIKE '%' + LOWER(@Search) + '%'
							OR CAST(ShipmentID AS NVARCHAR(20)) LIKE '%' + @Search + '%'
						  )

					UNION ALL

					SELECT COUNT(*) AS cnt
						FROM dbo.AP_ShipmentINT
						WHERE DELETED = @IsDeleted
						  AND (@TenantCode IS NULL OR TenantCode = @TenantCode)
						  AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
						  AND (
								LOWER(AP_ConsignmentID) LIKE '%' + LOWER(@Search) + '%'
								OR LOWER(Shipment_Reference) LIKE '%' + LOWER(@Search) + '%'
								OR CAST(ShipmentID AS NVARCHAR(20)) LIKE '%' + @Search + '%'
							  )

				) AS T
			);

			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT * FROM (
					SELECT ''DHL'' AS Carrier, r.shipmentTrackingNumber AS TrackingNumber, ISNULL(wl.OrderNumber,s.MessageReference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, '''' as APShipmentType, s.MessageReference as ShipmentNumber, 0 as IsManifest
					FROM dbo.DHLShipment s
					LEFT JOIN dbo.DHLResponse r ON s.MessageReference = r.MessageReference
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 3
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
					  AND (
							LOWER(r.shipmentTrackingNumber) LIKE ''%' + @Search + '%''
							OR LOWER(s.MessageReference) LIKE ''%' + @Search + '%''
							OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE ''%' + @Search + '%''
						)

					UNION ALL

					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''Local'' as APShipmentType, s.Shipment_Reference as ShipmentNumber,
						   CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						   END AS IsManifest
					FROM dbo.AP_Shipment s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''Local''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
					  AND (
							LOWER(s.AP_ConsignmentID) LIKE ''%' + @Search + '%''
							OR LOWER(s.Shipment_Reference) LIKE ''%' + @Search + '%''
							OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE ''%' + @Search + '%''
						 )

					UNION ALL

					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''INT'' as APShipmentType, s.Shipment_Reference as ShipmentNumber,
						   CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						   END AS IsManifest
					FROM dbo.AP_ShipmentINT s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''INT''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
					  AND (
							LOWER(s.AP_ConsignmentID) LIKE ''%' + @Search + '%''
							OR LOWER(s.Shipment_Reference) LIKE ''%' + @Search + '%''
							OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE ''%' + @Search + '%''
						 )
				) AS Combined
				ORDER BY ' + @OrderBy + N' ' + @OrderDir + N'
				OFFSET ' + CAST(@Offset AS NVARCHAR) + N' ROWS
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + N' ROWS ONLY';
		END
	END

	---------------------------------------------------
	-- CASE 2: @Carrier = 'AP'
	---------------------------------------------------
	ELSE IF @Carrier = 'AP'
	BEGIN
		IF (@TenantCode IS NOT NULL AND @TenantCode <> '')
		BEGIN
			SET @TenantCodeSQL = N' AND s.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';
		END

		IF (@WarehouseCode IS NOT NULL AND @WarehouseCode <> '')
		BEGIN
			SET @WarehouseCodeSQL = N' AND s.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + '''';
		END

		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			SELECT @TotalRecords =
			(
				SELECT SUM(cnt)
				FROM (
					SELECT COUNT(*) AS cnt FROM dbo.AP_Shipment 
					WHERE DELETED = @IsDeleted AND (@TenantCode IS NULL OR TenantCode = @TenantCode) 
						AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)

					UNION ALL

					SELECT COUNT(*) AS cnt FROM dbo.AP_ShipmentINT 
					WHERE DELETED = @IsDeleted 
						AND (@TenantCode IS NULL OR TenantCode = @TenantCode) 
						AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)
				) AS T
			);

			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT * FROM (
					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''Local'' as APShipmentType, 
						    s.Shipment_Reference as ShipmentNumber,
							CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						    END AS IsManifest
					FROM dbo.AP_Shipment s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''Local''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'

					UNION ALL

					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''INT'' as APShipmentType, 
						   s.Shipment_Reference as ShipmentNumber,
						   CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						   END AS IsManifest
					FROM dbo.AP_ShipmentINT s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''INT''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
				) AS Combined
				ORDER BY ' + @OrderBy + N' ' + @OrderDir + N'
				OFFSET ' + CAST(@Offset AS NVARCHAR) + N' ROWS
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + N' ROWS ONLY';
		END
		ELSE
		BEGIN
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords =
			(
				SELECT SUM(cnt)
				FROM (
					SELECT COUNT(*) AS cnt FROM dbo.AP_Shipment 
						WHERE DELETED = @IsDeleted AND (@TenantCode IS NULL OR TenantCode = @TenantCode) AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode) 
						AND (
							LOWER(AP_ConsignmentID) LIKE '%' + LOWER(@Search) + '%'
							OR LOWER(Shipment_Reference) LIKE '%' + LOWER(@Search) + '%'
							OR CAST(ShipmentID AS NVARCHAR(20)) LIKE '%' + @Search + '%'
						)
					UNION ALL
					SELECT COUNT(*) AS cnt FROM dbo.AP_ShipmentINT 
						WHERE DELETED = @IsDeleted AND (@TenantCode IS NULL OR TenantCode = @TenantCode) AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode) 
						AND (
							LOWER(AP_ConsignmentID) LIKE '%' + LOWER(@Search) + '%'
							OR LOWER(Shipment_Reference) LIKE '%' + LOWER(@Search) + '%'
							OR CAST(ShipmentID AS NVARCHAR(20)) LIKE '%' + @Search + '%'
						)
				) AS T
			);

			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT * FROM (
					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''Local'' as APShipmentType, s.Shipment_Reference as ShipmentNumber,
						    CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						   END AS IsManifest
					FROM dbo.AP_Shipment s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''Local''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
						AND (
							LOWER(s.AP_ConsignmentID) LIKE ''%' + @Search + '%''
							OR LOWER(s.Shipment_Reference) LIKE ''%' + @Search + '%''
							OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE ''%' + @Search + '%''
						 )

					UNION ALL

					SELECT ''AP'' AS Carrier, s.AP_ConsignmentID AS TrackingNumber, ISNULL(wl.OrderNumber,s.Shipment_Reference) as OrderNumber,
						   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, ''INT'' as APShipmentType, s.Shipment_Reference as ShipmentNumber,
						   CASE 
								WHEN s.ManualShipmentStatus = ''Pending'' THEN 0
								WHEN s.ManualShipmentStatus IS NULL AND s.AP_ConsignmentID IS NULL THEN 0								
								ELSE 1
						   END AS IsManifest
					FROM dbo.AP_ShipmentINT s
					LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
					LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 1 AND wl.ShipmentType = ''INT''
					WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
					  AND (
							LOWER(s.AP_ConsignmentID) LIKE ''%' + @Search + '%''
							OR LOWER(s.Shipment_Reference) LIKE ''%' + @Search + '%''
							OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE ''%' + @Search + '%''
						 )
				) AS Combined
				ORDER BY ' + @OrderBy + N' ' + @OrderDir + N'
				OFFSET ' + CAST(@Offset AS NVARCHAR) + N' ROWS
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + N' ROWS ONLY';
		END
	END

	---------------------------------------------------
	-- CASE 3: @Carrier = 'DHL'
	---------------------------------------------------
	ELSE IF @Carrier = 'DHL'
	BEGIN
		IF (@TenantCode IS NOT NULL AND @TenantCode <> '')
		BEGIN
			SET @TenantCodeSQL = N' AND s.TenantCode = ''' + REPLACE(@TenantCode, '''', '''''') + '''';
		END

		IF (@WarehouseCode IS NOT NULL AND @WarehouseCode <> '')
		BEGIN
			SET @WarehouseCodeSQL = N' AND s.WarehouseCode = ''' + REPLACE(@WarehouseCode, '''', '''''') + '''';
		END

		IF @Search IS NULL OR LEN(@Search) = 0
		BEGIN
			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.DHLShipment 
			WHERE DELETED = @IsDeleted AND (@TenantCode IS NULL OR TenantCode = @TenantCode) AND (@WarehouseCode IS NULL OR WarehouseCode = @WarehouseCode)

			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT ''DHL'' AS Carrier, r.shipmentTrackingNumber AS TrackingNumber, ISNULL(wl.OrderNumber,s.MessageReference) as OrderNumber,
					   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, '''' as APShipmentType, s.MessageReference as ShipmentNumber, 0 as IsManifest
				FROM dbo.DHLShipment s
				LEFT JOIN dbo.DHLResponse r ON s.MessageReference = r.MessageReference
				LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
				LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 3
				WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
				ORDER BY ' + @OrderBy + N' ' + @OrderDir + N'
				OFFSET ' + CAST(@Offset AS NVARCHAR) + N' ROWS
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + N' ROWS ONLY';
		END
		ELSE
		BEGIN
			SET @Search = LOWER(@Search);

			SELECT @TotalRecords = COUNT(*) 
			FROM dbo.DHLShipment s
			LEFT JOIN dbo.DHLResponse r ON s.MessageReference = r.MessageReference
			WHERE s.DELETED = @IsDeleted 
			  AND (@TenantCode IS NULL OR s.TenantCode = @TenantCode)
			  AND (@WarehouseCode IS NULL OR s.WarehouseCode = @WarehouseCode)
			  AND (
					LOWER(r.shipmentTrackingNumber) LIKE '%' + LOWER(@Search) + '%'
					OR LOWER(s.MessageReference) LIKE '%' + LOWER(@Search) + '%'
					OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE '%' + @Search + '%'
				);

			SET @TotalPages = CEILING(CAST(@TotalRecords AS FLOAT) / @PageSize);

			SET @SQL = N'
				SELECT ''DHL'' AS Carrier, r.shipmentTrackingNumber AS TrackingNumber, ISNULL(wl.OrderNumber,s.MessageReference) as OrderNumber,
					   s.ShipmentID, s.TenantCode, t.TenantName, t.TenantID, s.CreatedDateTime, '''' as APShipmentType, s.MessageReference as ShipmentNumber, 0 as IsManifest
				FROM dbo.DHLShipment s
				LEFT JOIN dbo.DHLResponse r ON s.MessageReference = r.MessageReference
				LEFT JOIN dbo.Tenant t ON t.TenantCode = s.TenantCode AND t.Deleted = 0
				LEFT JOIN dbo.WaveLine wl ON wl.ShipmentID = s.ShipmentID AND wl.Deleted = 0 AND wl.CarrierID = 3
				WHERE s.DELETED = ' + CAST(@IsDeleted as VARCHAR(2)) + ' ' + @TenantCodeSQL + @WarehouseCodeSQL + N'
				AND (
				    LOWER(r.shipmentTrackingNumber) LIKE ''%' + @Search + '%''
					OR LOWER(s.MessageReference) LIKE ''%' + @Search + '%''
					OR CAST(s.ShipmentID AS NVARCHAR(20)) LIKE ''%' + @Search + '%''
				)
				ORDER BY ' + @OrderBy + N' ' + @OrderDir + N'
				OFFSET ' + CAST(@Offset AS NVARCHAR) + N' ROWS
				FETCH NEXT ' + CAST(@PageSize AS NVARCHAR) + N' ROWS ONLY';
		END
	END

	PRINT @SQL;

	-- Execute dynamic SQL
	EXEC sp_executesql @SQL;
END
GO
