USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_TenantSectionPermission_ListAllTenantSectionPermissionsByTenantPermissionID]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Dec, 2025>
-- Description:	<List All Tenant Section Permission>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_TenantSectionPermission_ListAllTenantSectionPermissionsByTenantPermissionID] 
	@TenantPermissionID INT
AS
BEGIN

	SET NOCOUNT ON;

    SELECT *	
	FROM dbo.TenantSectionPermission	
	WHERE TenantPermissionID = @TenantPermissionID AND Deleted = 0;

END
GO
