USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DashboardConfig_UpdateDashboardConfig]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Aug, 2024>
-- Description:	<Update DashboardConfigID>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DashboardConfig_UpdateDashboardConfig] 
	@WarehouseCode VARCHAR(10) = NULL,
    @TenantCode VARCHAR(20),
	@ConfigInfo dbo.ValueArray READONLY,	
	@LastEditedDateTime           DATETIME = NULL,
	@LastEditedBy                 VARCHAR(100) = NULL,
	@Message					  VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
		
		BEGIN TRANSACTION

		IF @WarehouseCode IS NULL
		BEGIN
			-- Update the Tenant table, excluding TenantCode and Deleted fields
			UPDATE dbo.DashboardConfig
			SET
				Deleted = 1,			
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE TenantCode = @TenantCode;
		END
		ELSE
		BEGIN
			-- Update the Tenant table, excluding TenantCode and Deleted fields
			UPDATE dbo.DashboardConfig
			SET
				Deleted = 1,			
				LastEditedDateTime = COALESCE(@LastEditedDateTime, LastEditedDateTime),
				LastEditedBy = COALESCE(@LastEditedBy, LastEditedBy)
			WHERE TenantCode = @TenantCode AND WarehouseCode = @WarehouseCode;
		END
		
		-- insert new
		INSERT INTO dbo.DashboardConfig
		(
			WarehouseCode,
			TenantCode,
			[Location],
			WidgetName,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		SELECT @WarehouseCode, @TenantCode , [ID], [Value], 0, @LastEditedDateTime, @LastEditedBy
		FROM @ConfigInfo;


		-- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH

		-- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
       
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
