USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_IPAddressStatusList_RecordIPAddressStatus]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <02 Mar, 2025>
-- Description:	<Record Status of IP Address>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_IPAddressStatusList_RecordIPAddressStatus] 
   @IPAddress VARCHAR(50),
   @FailedDateTime DATETIME,
   @CreatedDateTime DATETIME = NULL,
   @CreatedBy VARCHAR(100) = NULL,
   @Message VARCHAR(4000) OUTPUT,
   @FailedCount INT OUTPUT, 
   @IsBlocked BIT OUTPUT
AS
BEGIN
   SET NOCOUNT ON;

   BEGIN TRY
		DECLARE @IPAddressStatusListID INT;
        DECLARE @CurrentFailedCount INT;
        DECLARE @IsWhitelisted BIT;

		-- Check if IP exists and get current status
        SELECT 
            @IPAddressStatusListID = IPAddressStatusListID,
            @CurrentFailedCount = ISNULL(FailedCount, 0),
            @IsWhitelisted = ISNULL(IsWhitelisted, 0)
        FROM dbo.IPAddressStatusList 
        WHERE IPAddress = @IPAddress AND Deleted = 0;

        -- If IP is whitelisted, don't record failed attempt
        IF @IsWhitelisted = 1
        BEGIN
            SET @FailedCount = 0;
            SET @IsBlocked = 0;
            SET @Message = 'IP is whitelisted, failed attempt not recorded.';
            RETURN;
        END

        IF @IPAddressStatusListID IS NULL
        BEGIN
            -- Insert new record for first failed attempt
            INSERT INTO dbo.IPAddressStatusList
            (
                IPAddress,
                FailedCount,
                IsBlocked,
                IsWhitelisted,
                LastFailedAttempt,
                Deleted,
                CreatedDateTime,
                CreatedBy
            )
            VALUES
            (
                @IPAddress,
                1,
                0,
                0,
                @FailedDateTime,
                0,
                COALESCE(@CreatedDateTime, GETDATE()),
                COALESCE(@CreatedBy, 'System')
            );

            SET @FailedCount = 1;
            SET @IsBlocked = 0;
            SET @Message = 'First failed attempt recorded.';
        END
        ELSE
        BEGIN
            UPDATE dbo.IPAddressStatusList
            SET 
                FailedCount = FailedCount + 1,
                LastFailedAttempt = @FailedDateTime,
                IsBlocked = CASE 
                    WHEN FailedCount + 1 >= 5 THEN 1 
                    ELSE IsBlocked 
                END,
                BlockedDateTime = CASE 
                    WHEN FailedCount + 1 >= 5 AND BlockedDateTime IS NULL 
                    THEN GETDATE() 
                    ELSE BlockedDateTime 
                END,
                LastEditedDateTime = COALESCE(@CreatedDateTime, GETDATE()),
                LastEditedBy = COALESCE(@CreatedBy, 'System')
            WHERE IPAddressStatusListID = @IPAddressStatusListID AND Deleted = 0;

            -- Get the updated values after update
            SELECT 
                @FailedCount = FailedCount,
                @IsBlocked = ISNULL(IsBlocked, 0)
            FROM dbo.IPAddressStatusList
            WHERE IPAddressStatusListID = @IPAddressStatusListID;

            IF @IsBlocked = 1
                SET @Message = 'IP has been blocked after ' + CAST(@FailedCount AS VARCHAR(10)) + ' failed attempts.';
            ELSE
                SET @Message = 'Failed attempt recorded. Count: ' + CAST(@FailedCount AS VARCHAR(10));
        END
    END TRY
    BEGIN CATCH
        -- Handle the error
        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
