USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_DOTWMS_InsertSortLabelInfo]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <04 Jan, 2026>
-- Description:	<Insert DOTWMSSortLabel data>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_DOTWMS_InsertSortLabelInfo]  
    @Info dbo.DOTWMSSortLabelType READONLY, 
    @CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION

        -- Declare variables for cursor
        DECLARE @WaveNumber VARCHAR(50)
        DECLARE @OrderNumber VARCHAR(50)
        DECLARE @Status VARCHAR(50)

        -- Declare cursor to iterate through @Info
        DECLARE info_cursor CURSOR FOR
        SELECT WaveNumber, OrderNumber, Status
        FROM @Info

        -- Open cursor
        OPEN info_cursor

        -- Fetch first row
        FETCH NEXT FROM info_cursor INTO @WaveNumber, @OrderNumber, @Status

        -- Loop through all rows
        WHILE @@FETCH_STATUS = 0
        BEGIN

            IF EXISTS (
                SELECT 1 
                FROM [dbo].[DOTWMS_WaveSort] 
                WHERE WaveNumber = @WaveNumber 
                  AND Deleted = 0
            )       
            BEGIN
                SET @Message = 'WaveNumber ' + @WaveNumber + ' already exists.';
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- Insert data into DOTWMS_WaveSort table
            INSERT INTO [dbo].[DOTWMS_WaveSort]
            (
                [WaveNumber],
                [OrderNumber],
                [Status],
                [Deleted],
                [CreatedDateTime],
                [CreatedBy]
            )
            VALUES
            (
                @WaveNumber,
                @OrderNumber,
                @Status,
                0, -- Default Deleted = 0 (not deleted)
                @CreatedDateTime,
                @CreatedBy
            )
            
            -- Fetch next row
            FETCH NEXT FROM info_cursor INTO @WaveNumber, @OrderNumber, @Status
        END

        -- Close and deallocate cursor
        CLOSE info_cursor
        DEALLOCATE info_cursor

        -- Commit the transaction
        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Close cursor if still open
        IF CURSOR_STATUS('local','info_cursor') >= 0
        BEGIN
            CLOSE info_cursor
            DEALLOCATE info_cursor
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Set error message to output parameter
        SET @Message = @ErrorMessage
    END CATCH;
END
GO
