USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_LocWarehouse_DeleteLocWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam Nguyen>
-- Create date: <04 Oct, 2024>
-- Description:	<Soft Delete Loc Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_LocWarehouse_DeleteLocWarehouse] @LocWarehouseID INT, @Message VARCHAR(4000) OUTPUT
	AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY

		-- Begin transaction to ensure data integrity
	    BEGIN TRANSACTION;


		IF EXISTS(SELECT 1 FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID AND Deleted = 1)
		BEGIN
			 SET @Message = 'LocWarehouse has already been deleted.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END		

		DECLARE @WarehouseCode VARCHAR(20);
		SELECT @WarehouseCode = WarehouseCode FROM dbo.LocWarehouse WHERE LocWarehouseID = @LocWarehouseID AND Deleted = 0;

		DECLARE	@IsEmpty BIT;

		EXEC [dbo].[SP_VI_TBL_ULD_CheckHavingStockOfTenantAtWarehouse]
			@WarehouseCode = @WarehouseCode,
			@IsEmpty = @IsEmpty OUTPUT

		IF @IsEmpty = 0
		BEGIN
			 SET @Message = 'There are stock at this Warehouse.'
			 ROLLBACK TRANSACTION;
			 RETURN;
		END		

		UPDATE dbo.LocWarehouse
		SET DELETED = 1
		WHERE LocWarehouseID = @LocWarehouseID;

		UPDATE dbo.ChargeItemCost
		SET DELETED = 1
		WHERE WarehouseCode = @WarehouseCode;

		UPDATE dbo.ChargeGroupCost
		SET DELETED = 1
		WHERE WarehouseCode = @WarehouseCode;

		UPDATE dbo.WarehousePrinter
		SET DELETED = 1
		WHERE WarehouseCode = @WarehouseCode;

		UPDATE dbo.TenantCustomCost
		SET DELETED = 1
		WHERE WarehouseCode = @WarehouseCode;
		
	
		-- Commit transaction if update is successful
		COMMIT TRANSACTION;
    
		PRINT 'Update successful for LocWarehouseID: ' + CAST(@LocWarehouseID AS NVARCHAR);
	END TRY
	BEGIN CATCH
		-- Rollback transaction in case of an error
		ROLLBACK TRANSACTION;

		-- Print error message
		PRINT 'Error occurred while updating LocWarehouseID: ' + CAST(@LocWarehouseID AS NVARCHAR);
		PRINT ERROR_MESSAGE();
		THROW
	END CATCH;
END
GO
