USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ReceiptInbound_GetRandomReceiptInboundLineDetail]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 jan, 2025>
-- Description:	<View Detail of Item in Random Receipt>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ReceiptInbound_GetRandomReceiptInboundLineDetail] 
	@ReceiptInboundID INT,
	@ItemNumber VARCHAR(30)
AS
BEGIN
	
	SET NOCOUNT ON;

    DECLARE @ShipmentNumber VARCHAR(30);
	DECLARE @TenantCode VARCHAR(20); 
	DECLARE @BatchNumber VARCHAR(30); 

	-- Get Tenant code and ShipmentNumber
	SELECT @TenantCode = TenantCode, @ShipmentNumber = ShipmentNumber 
	FROM dbo.ReceiptInbound 
	WHERE DELETED = 0 AND ReceiptInboundID = @ReceiptInboundID;

	
	--Get BatchNumber
	SELECT @BatchNumber = COALESCE(BatchNumber, 'N/A') FROM dbo.ULD u JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID 
	WHERE u.DELETED = 0 AND u.TenantCode = @TenantCode 
	      AND ul.ItemNumber = @ItemNumber 
	      AND ul.DELETED = 0 
		  AND ul.TransactionReference = @ShipmentNumber;

	 -- Temp table to store combined results
    CREATE TABLE #TempDetails
    (
        ItemNumber VARCHAR(30),
		ExpectedQuantity INT,
		ActualQuantity INT,
		VarianceQuantity INT,
        SerialNumber VARCHAR(30),
        BatchNumber VARCHAR(30),
        ReceivedQuantity INT
    );

	-- Has Serial Number
	IF EXISTS(SELECT 1 FROM dbo.ULD u JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID WHERE u.DELETED = 0 AND u.TenantCode = @TenantCode AND ul.ItemNumber = @ItemNumber AND ul.SerialNumber IS NOT NULL AND ul.DELETED = 0 AND ul.TransactionReference = @ShipmentNumber)
	BEGIN

		 INSERT INTO #TempDetails (ItemNumber, ExpectedQuantity, ActualQuantity, VarianceQuantity, SerialNumber, BatchNumber, ReceivedQuantity)
		 SELECT 
			 @ItemNumber,
			 0,
			 SUM(ul.TransactionQty),
			 SUM(ul.TransactionQty),
			 ul.SerialNumber,
			 @BatchNumber,
			 1 as ReceivedQuantity
		FROM dbo.ULD u
		JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
		WHERE 
			u.DELETED = 0 
			AND u.TenantCode = @TenantCode 
			AND ul.SerialNumber IS NOT NULL
			AND ul.DELETED = 0 
			AND ul.ItemNumber = @ItemNumber
			AND ul.TransactionReference = @ShipmentNumber
		GROUP BY ul.SerialNumber
		HAVING SUM(ul.TransactionQty) > 0;
	END
	ELSE
	BEGIN
		INSERT INTO #TempDetails (ItemNumber, ExpectedQuantity, ActualQuantity, VarianceQuantity, SerialNumber, BatchNumber, ReceivedQuantity)
		SELECT 
			 @ItemNumber,
			 0,
			 SUM(ul.TransactionQty) AS ActualQuantity,
			 SUM(ul.TransactionQty) AS VarianceQuantity,
			 'N/A',
			 @BatchNumber,
			 SUM(ul.TransactionQty) AS ReceivedQuantity
		FROM dbo.ULD u
		JOIN dbo.ULDLine ul ON u.ULDID = ul.ULDID
		WHERE 
			u.DELETED = 0 
			AND u.TenantCode = @TenantCode 
			AND ul.SerialNumber IS NULL
			AND ul.DELETED = 0 
			AND ul.ItemNumber = @ItemNumber
			AND ul.TransactionReference = @ShipmentNumber;
	
	END

	 -- Select the combined results
    SELECT 
		ItemNumber,
		ExpectedQuantity,
		ActualQuantity,
		VarianceQuantity,
		SerialNumber,
		BatchNumber,
		ReceivedQuantity 
	FROM #TempDetails;

	 -- Clean up temp table
    DROP TABLE #TempDetails;
END
GO
