USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ChargeGroup_ViewChargeGroupCost]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <12 Dec, 2024>
-- Description:	<Get detail information of ChargeGroupCost>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ChargeGroup_ViewChargeGroupCost] @ChargeGroupID INT
AS
BEGIN

	SET NOCOUNT ON;
	
    SELECT C.*, CG.Category , W.WarehouseName, CG.FirstEditedBy, CG.FirstEditedDateTime
	FROM 
		dbo.ChargeGroupCost AS C
		INNER JOIN dbo.ChargeGroup AS CG 
			ON C.ChargeGroupID = CG.ChargeGroupID 
			AND CG.ChargeGroupID = @ChargeGroupID 
			AND CG.DELETED = 0
		LEFT JOIN dbo.LocWarehouse AS W 
        ON C.WarehouseCode = W.WarehouseCode 
	WHERE 
		C.DELETED = 0;
	
END
GO
