USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_CheckValidBeforeCompleteStockTakeService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <16 Jun, 2025>
-- Description:	<Check before Complete Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_CheckValidBeforeCompleteStockTakeService] 
    @ServiceID INT,
	@IsAll BIT OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;

	SET @IsAll = 1;

   IF EXISTS (
		SELECT 1 
		FROM dbo.StocktakeSchedule 
		WHERE ServiceID = @ServiceID AND Deleted = 0 AND Status = 'Init'
	)
	BEGIN
		SET @IsAll = 0;
	END
END
GO
