USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_ItemChargeGroup_ViewItemChargeGroupByItemId]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <19 Dec, 2024>
-- Description:	<List Item Charge Group By Item Id>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_ItemChargeGroup_ViewItemChargeGroupByItemId] @ItemID INT
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT 
        *
    FROM 
        dbo.ItemChargeGroup
    WHERE 
        ItemID = @ItemID AND DELETED = 0
	ORDER BY Category DESC;
END
GO
