USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Tenant_GetAllStockItemsOfTenantAtWarehouse]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <26 Mar, 2025>
-- Description:	<Get List Of Stock Item At Warehouse>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Tenant_GetAllStockItemsOfTenantAtWarehouse] 
	@TenantCode VARCHAR(10),
	@WarehouseCode Varchar(20)  
AS
BEGIN

	SET NOCOUNT ON;
	
	IF NOT EXISTS(SELECT 1 FROM Tenant WHERE DELETED = 0 AND TenantCode = @TenantCode)
	BEGIN
		RETURN;
	END

	SELECT DISTINCT I.ItemID, I.ItemName, U.ItemNumber , U.TenantCode, 
	       U.ULDCurrentLocation AS LocationBarcode, 
		   dbo.fn_GetLocationNameFromCode(U.ULDCurrentLocation) AS LocationName, 
		   U.LocBinID AS BinID, 
		   TL.LocTempLocationID AS TempLocationID
	FROM dbo.ULD U
	LEFT JOIN dbo.Items I ON U.ItemNumber = I.ItemNumber AND I.Deleted = 0
	LEFT JOIN 
	(
		SELECT 
			LocTempLocationID, WarehouseCode + AreaCode + SectionCode + BinCode AS ULDCurrentLocation
		FROM 
			dbo.LocTemplocation
		WHERE DELETED = 0
	) TL 
	ON TL.ULDCurrentLocation = U.ULDCurrentLocation
	WHERE U.DELETED = 0 AND U.TenantCode = @TenantCode  
	      AND U.WarehouseCode = @WarehouseCode 
		  AND Status != 'Draft'
		  AND U.ULDCurrentLocation IS NOT NULL
		  AND (U.LocBinID IS NOT NULL OR TL.LocTempLocationID IS NOT NULL)
	AND EXISTS (
		SELECT 1
		FROM dbo.ULDLine UL
		WHERE UL.ULDID = U.ULDID
		AND UL.DELETED = 0
		GROUP BY UL.ULDID
		HAVING SUM(UL.TransactionQty) > 0
	);

END
GO
