USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Service_InsertService]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <05 Feb, 2025>
-- Description:	<Insert Service>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Service_InsertService]  
    @WarehouseCode VARCHAR(20),
	@TenantCode VARCHAR(20),
	@ServiceName VARCHAR(100),
	@ServiceType VARCHAR(50),
	@ServiceDescription VARCHAR(1000) = NULL,
    @StartDate DATETIME = NULL,
	@EndDate DATETIME = NULL,
	@CreatedDateTime DATETIME = NULL,
    @CreatedBy VARCHAR(100) = NULL,
    @Message VARCHAR(4000) OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	BEGIN TRY
        BEGIN TRANSACTION

		-- Check for Tenant Code
		IF NOT EXISTS(SELECT 1 FROM dbo.Tenant WHERE TenantCode = @TenantCode AND Deleted = 0)
		BEGIN
			SET @Message = 'Tenant Code does not exists.'
			ROLLBACK TRANSACTION;
			RETURN;
		END

		DECLARE @ServiceID INT;

		DECLARE @CurrentDateString VARCHAR(8);
		SET @CurrentDateString = FORMAT(GETDATE(), 'ddMMyyyy');

		DECLARE @TenantName VARCHAR(150);
		SELECT @TenantName = COALESCE(TenantName,TenantCode)
		FROM dbo.Tenant
		WHERE TenantCode = @TenantCode;

		SET @TenantName = LEFT(REPLACE(@TenantName, ' ', ''), 33);
	
		DECLARE @SequenceValue BIGINT;
		SET @SequenceValue = NEXT VALUE FOR dbo.ServiceSequence;
		DECLARE @FormattedSequenceValue VARCHAR(7);
		SET @FormattedSequenceValue = RIGHT('0000000' + CAST(@SequenceValue AS VARCHAR(20)), 7);

		DECLARE @NewServiceNumber VARCHAR(50);
		SET @NewServiceNumber = @TenantName + '-' + @CurrentDateString + '-' + @FormattedSequenceValue;
		
			-- Insert into Service table
		INSERT INTO dbo.Service
		(
			WarehouseCode,
			TenantCode,
			ServiceName,
			ServiceNumber,
			ServiceType,
			ServiceDescription,
			StartDate,
			EndDate,
			Status,
			Deleted,
			CreatedDateTime,
			CreatedBy
		)
		VALUES
		(
			@WarehouseCode,
			@TenantCode,
			@ServiceName,
			@NewServiceNumber,
			@ServiceType,
			@ServiceDescription,
			@StartDate,
			@EndDate,
			'Pending',
			0,
			@CreatedDateTime,
			@CreatedBy
		);
		
    
        -- Commit the transaction
        COMMIT TRANSACTION

    END TRY
    BEGIN CATCH
        -- Handle the error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        DECLARE @ErrorMessage NVARCHAR(4000)
        DECLARE @ErrorSeverity INT
        DECLARE @ErrorState INT

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE()

        -- Rethrow the error
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH;
END
GO
