USE [3PLWMS_Developers]
GO
/****** Object:  StoredProcedure [dbo].[SP_VI_TBL_Users_GetCurrentWorkstationOfUser]    Script Date: 3/2/2026 10:38:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Nam nguyen>
-- Create date: <09 Oct, 2024>
-- Description:	<Get Default WorkStation of user>
-- =============================================
CREATE PROCEDURE [dbo].[SP_VI_TBL_Users_GetCurrentWorkstationOfUser] @AzureUserId VARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT c.*,
	       p.DesktopPrinter,
	       COALESCE(wpD.PrinterType,       'PDF') AS DesktopPrinterType,
	       COALESCE(wpD.PrinterResolution,  600 ) AS DesktopPrinterDPI,
	       p.LabelPrinter,
	       COALESCE(wpL.PrinterType,       'ZPL') AS LabelPrinterType,
	       COALESCE(wpL.PrinterResolution,  203 ) AS LabelPrinterDPI
	FROM   dbo.CurrentWorkStationUser c
	LEFT   JOIN dbo.SectionPrinter p     ON p.SectionPrinterID = c.WorkstationID AND p.Deleted = 0
	LEFT   JOIN dbo.WarehousePrinter wpL ON wpL.WarehouseCode  = p.WarehouseCode
	                                    AND wpL.PrinterName    = p.LabelPrinter
	                                    AND wpL.Deleted = 0
	LEFT   JOIN dbo.WarehousePrinter wpD ON wpD.WarehouseCode  = p.WarehouseCode
	                                    AND wpD.PrinterName    = p.DesktopPrinter
	                                    AND wpD.Deleted = 0
	WHERE  c.AzureUserId = @AzureUserId AND c.Deleted = 0;

END
GO
