USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/2/2026 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[UserCode] [varchar](50) NOT NULL,
	[UserEmail] [varchar](100) NOT NULL,
	[MobilePassword] [varbinary](max) NULL,
	[LastLogin] [datetime] NULL,
	[UserStatus] [varchar](20) NULL,
	[Deleted] [bit] NULL,
	[UserType] [varchar](30) NULL,
	[WarehouseCode] [varchar](20) NULL,
	[UserGroup] [varchar](50) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[SuperUser] [bit] NULL,
	[UserAPIKey] [varchar](50) NULL,
	[FirstName] [varchar](100) NOT NULL,
	[TenantCode] [varchar](10) NULL,
	[NumberOfFailedLogin] [int] NULL,
	[AzureUserId] [varchar](50) NULL,
	[BlockedReason] [varchar](3000) NULL,
	[IsDeveloper] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
