USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TenantPermission]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantPermission](
	[TenantPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[Permission] [varchar](200) NOT NULL,
	[IsViewEnable] [bit] NULL,
	[IsDeleteEnable] [bit] NULL,
	[IsEditEnable] [bit] NULL,
	[IsAddEnable] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TenantUIPermission] PRIMARY KEY CLUSTERED 
(
	[TenantPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
