USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReportInvoice]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportInvoice](
	[ReportInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[ReportDataID] [int] NULL,
	[ChargeName] [varchar](100) NULL,
	[ChargeDesc] [varchar](500) NULL,
	[Qty] [int] NULL,
	[Cost] [decimal](10, 2) NULL,
	[Charge] [decimal](10, 2) NULL,
	[Currency] [varchar](20) NULL,
	[ChargedDateTime] [datetime] NULL,
	[ChargedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL
) ON [PRIMARY]
GO
