USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReportParameter]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportParameter](
	[ReportParameterID] [int] IDENTITY(1,1) NOT NULL,
	[ReportID] [int] NOT NULL,
	[ReportParameterName] [varchar](200) NOT NULL,
	[ReportParameterValue] [varchar](200) NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ReportParameter] PRIMARY KEY CLUSTERED 
(
	[ReportParameterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportParameter]  WITH CHECK ADD  CONSTRAINT [FK_ReportParameter_Report] FOREIGN KEY([ReportID])
REFERENCES [dbo].[Report] ([ReportID])
GO
ALTER TABLE [dbo].[ReportParameter] CHECK CONSTRAINT [FK_ReportParameter_Report]
GO
