USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ULDLabelFileMapping]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ULDLabelFileMapping](
	[ULDLabelFileMappingID] [int] IDENTITY(1,1) NOT NULL,
	[ULDBarcode] [varchar](30) NOT NULL,
	[PdfFileLocation] [varchar](100) NULL,
	[ZplFileLocation] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL
) ON [PRIMARY]
GO
