USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ItemChargeGroup]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemChargeGroup](
	[ItemChargeGroupID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ChargeGroupID] [int] NULL,
	[Category] [varchar](50) NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ItemChargeGroup] PRIMARY KEY CLUSTERED 
(
	[ItemChargeGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemChargeGroup]  WITH CHECK ADD  CONSTRAINT [FK_ItemChargeGroup_ChargeGroup] FOREIGN KEY([ChargeGroupID])
REFERENCES [dbo].[ChargeGroup] ([ChargeGroupID])
GO
ALTER TABLE [dbo].[ItemChargeGroup] CHECK CONSTRAINT [FK_ItemChargeGroup_ChargeGroup]
GO
ALTER TABLE [dbo].[ItemChargeGroup]  WITH CHECK ADD  CONSTRAINT [FK_ItemChargeGroup_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[ItemChargeGroup] CHECK CONSTRAINT [FK_ItemChargeGroup_Items]
GO
