USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReportSchedule]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportSchedule](
	[ReportScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ReportName] [varchar](100) NOT NULL,
	[Interval] [varchar](50) NOT NULL,
	[Output] [varchar](50) NOT NULL,
	[StoreProcedureName] [varchar](200) NULL,
	[Description] [varchar](1000) NULL,
	[ReportType] [varchar](50) NULL,
	[WarehouseCode] [varchar](20) NULL,
	[DayDuration] [int] NULL,
	[Mandatory] [bit] NULL,
	[CurrentData] [bit] NULL,
	[Invoice] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ReportSchedule] PRIMARY KEY CLUSTERED 
(
	[ReportScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportSchedule] ADD  CONSTRAINT [DF_ReportSchedule_Mandatory]  DEFAULT ((0)) FOR [Mandatory]
GO
ALTER TABLE [dbo].[ReportSchedule]  WITH CHECK ADD  CONSTRAINT [FK_ReportSchedule_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[ReportSchedule] CHECK CONSTRAINT [FK_ReportSchedule_LocWarehouse]
GO
