USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocRow]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocRow](
	[LocRowID] [int] IDENTITY(1,1) NOT NULL,
	[LocSectionID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[RowCode] [varchar](20) NOT NULL,
	[RowName] [varchar](200) NOT NULL,
	[RowDesc] [varchar](1000) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_LocRow] PRIMARY KEY CLUSTERED 
(
	[LocRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocRow]  WITH CHECK ADD  CONSTRAINT [FK_LocRow_LocSection] FOREIGN KEY([LocSectionID])
REFERENCES [dbo].[LocSection] ([LocSectionID])
GO
ALTER TABLE [dbo].[LocRow] CHECK CONSTRAINT [FK_LocRow_LocSection]
GO
