USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [varchar](20) NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ServiceNumber] [varchar](50) NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[ServiceType] [varchar](50) NOT NULL,
	[ServiceDescription] [varchar](1000) NULL,
	[AdditionalType] [varchar](100) NULL,
	[AdditionalQty] [int] NULL,
	[AdditionalCost] [decimal](10, 2) NULL,
	[Status] [varchar](20) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CompleteServiceTime] [datetime] NULL,
	[CompleteServiceBy] [varchar](100) NULL,
	[StartServiceTime] [datetime] NULL,
	[StartServiceBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_LocWarehouse]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Tenant]
GO
