USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ChargeItem]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargeItem](
	[ChargeItemID] [int] IDENTITY(1,1) NOT NULL,
	[APIID] [int] NULL,
	[ChargeItemName] [varchar](200) NOT NULL,
	[ChargeItemUnit] [varchar](50) NOT NULL,
	[ChargeItemGroup] [varchar](100) NULL,
	[ChargeItemType] [varchar](50) NULL,
	[Required] [bit] NULL,
	[Deleted] [bit] NULL,
	[Mandatory] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ChargeItem] PRIMARY KEY CLUSTERED 
(
	[ChargeItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChargeItem] ADD  CONSTRAINT [DF_ChargeItem_Mandatory]  DEFAULT ((0)) FOR [Mandatory]
GO
ALTER TABLE [dbo].[ChargeItem]  WITH CHECK ADD  CONSTRAINT [FK_ChargeItem_API] FOREIGN KEY([APIID])
REFERENCES [dbo].[API] ([APIID])
GO
ALTER TABLE [dbo].[ChargeItem] CHECK CONSTRAINT [FK_ChargeItem_API]
GO
