USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[IPAddressStatusList]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPAddressStatusList](
	[IPAddressStatusListID] [int] IDENTITY(1,1) NOT NULL,
	[IPAddress] [varchar](50) NOT NULL,
	[Name] [varchar](200) NULL,
	[Email] [varchar](50) NULL,
	[Comment] [text] NULL,
	[FailedCount] [int] NULL,
	[IsBlocked] [bit] NULL,
	[LastFailedAttempt] [datetime] NULL,
	[BlockedDateTime] [datetime] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[IsWhitelisted] [bit] NULL,
 CONSTRAINT [PK_IPAddressStatusList] PRIMARY KEY CLUSTERED 
(
	[IPAddressStatusListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[IPAddressStatusList] ADD  CONSTRAINT [DF__IPAddress__IsWhi__014ACC79]  DEFAULT ((0)) FOR [IsWhitelisted]
GO
