USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Carrier]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrier](
	[CarrierID] [int] IDENTITY(1,1) NOT NULL,
	[CarrierCode] [varchar](20) NOT NULL,
	[WarehouseCode] [varchar](20) NULL,
	[TenantCode] [varchar](20) NULL,
	[CarrierName] [varchar](150) NULL,
	[CarrierActive] [bit] NULL,
	[IntegratedManifest] [bit] NULL,
	[Driver] [varchar](50) NULL,
	[EstimateDriver] [varchar](50) NULL,
	[TenantDefaultCarrier] [bit] NULL,
	[RestrictedCountries] [varchar](500) NULL,
	[POBoxOK] [bit] NULL,
	[ConsolidateConnotes] [bit] NULL,
	[IntegratedLabeling] [bit] NULL,
	[CarrierServiceRequiresPrebooking] [bit] NULL,
	[LabelTemplate] [varchar](50) NULL,
	[MaximumUnitWeight] [int] NULL,
	[MaximumUnitCubic] [int] NULL,
	[MaximumWeight] [int] NULL,
	[MaximumCubic] [int] NULL,
	[MaximumNumberItems] [int] NULL,
	[ReturnService] [bit] NULL,
	[Insured] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Carrier] PRIMARY KEY CLUSTERED 
(
	[CarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
