USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ChargeItemCost]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargeItemCost](
	[ChargeItemCostID] [int] IDENTITY(1,1) NOT NULL,
	[ChargeItemID] [int] NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[ChargeItemPrice] [decimal](10, 2) NOT NULL,
	[ChargeItemCurrency] [varchar](20) NULL,
	[Division] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ChargeItemCost] PRIMARY KEY CLUSTERED 
(
	[ChargeItemCostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChargeItemCost]  WITH CHECK ADD  CONSTRAINT [FK_ChargeItemCost_ChargeItem] FOREIGN KEY([ChargeItemID])
REFERENCES [dbo].[ChargeItem] ([ChargeItemID])
GO
ALTER TABLE [dbo].[ChargeItemCost] CHECK CONSTRAINT [FK_ChargeItemCost_ChargeItem]
GO
ALTER TABLE [dbo].[ChargeItemCost]  WITH CHECK ADD  CONSTRAINT [FK_ChargeItemCost_Warehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[ChargeItemCost] CHECK CONSTRAINT [FK_ChargeItemCost_Warehouse]
GO
