USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ItemTradeUnit]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTradeUnit](
	[ItemTradeUnitID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[Barcode] [varchar](30) NULL,
	[UnitQuantity] [int] NULL,
	[ItemType] [varchar](20) NULL,
	[Height] [decimal](10, 2) NULL,
	[Width] [decimal](10, 2) NULL,
	[Depth] [decimal](10, 2) NULL,
	[Weight] [decimal](10, 2) NULL,
	[Packaging] [varchar](50) NULL,
	[PalletTi] [int] NULL,
	[PalletHi] [int] NULL,
	[PrimaryUnit] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ItemsLine] PRIMARY KEY CLUSTERED 
(
	[ItemTradeUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemTradeUnit]  WITH CHECK ADD  CONSTRAINT [FK_ItemTradeUnit_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[ItemTradeUnit] CHECK CONSTRAINT [FK_ItemTradeUnit_Items]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit-Inner-Outer-Pallet-Additional' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ItemTradeUnit', @level2type=N'COLUMN',@level2name=N'ItemType'
GO
