USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[CreateKitOrder]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreateKitOrder](
	[CreateKitOrderID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [varchar](20) NULL,
	[TenantCode] [varchar](10) NULL,
	[JobNumber] [varchar](15) NULL,
	[ReferenceNumber] [varchar](50) NULL,
	[KitInstructions] [varchar](250) NULL,
	[NumberOfKits] [int] NULL,
	[OrderStatus] [varchar](15) NULL,
	[NewKitItemCode] [varchar](10) NULL,
 CONSTRAINT [PK_CreateKitOrder] PRIMARY KEY CLUSTERED 
(
	[CreateKitOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
