USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[OnHoldOrderLog]    Script Date: 4/16/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnHoldOrderLog](
[OnHoldOrderLogID] [int] IDENTITY(1,1) NOT NULL,
[OrderNumber] [varchar](50) NOT NULL,
[OrderType] [varchar](20) NOT NULL,
[Reason] [varchar](5000) NULL,
[LogType] [varchar](20) NOT NULL,
[LogDate] [datetime] NOT NULL,
[LogBy] [varchar](255) NOT NULL,
[CreatedBy] [varchar](100) NULL,
[CreatedDateTime] [datetime] NULL,
[LastEditedBy] [varchar](100) NULL,
[LastEditedDateTime] [datetime] NULL,
[FirstEditedDateTime] [datetime] NULL,
[FirstEditedBy] [varchar](100) NULL,
[Deleted] [bit] NULL,
 CONSTRAINT [PK_OnHoldOrderLog] PRIMARY KEY CLUSTERED 
(
[OnHoldOrderLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CK_OnHoldOrderLog_OrderType] CHECK  (([OrderType]='Order' OR [OrderType]='Fulfilment')),
 CONSTRAINT [CK_OnHoldOrderLog_LogType] CHECK  (([LogType]='Hold' OR [LogType]='Clear'))
) ON [PRIMARY] 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Log hold/clear actions for Order/Fulfilment with order payload snapshot' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OnHoldOrderLog'
GO
