USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Connote]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connote](
	[ConnoteID] [int] IDENTITY(1,1) NOT NULL,
	[ConnoteNumber] [varchar](50) NOT NULL,
	[CreatedDateTime] [date] NOT NULL,
	[CreatedBy] [varchar](20) NULL,
	[WarehouseCode] [varchar](20) NULL,
	[TenantCode] [varchar](10) NULL,
	[CarrierCode] [varchar](20) NULL,
	[CarrierService] [varchar](150) NULL,
	[DestinationName] [varchar](150) NULL,
	[DestinationCompany] [varchar](150) NULL,
	[AddressLine1] [varchar](50) NULL,
	[AddressLine2] [varchar](50) NULL,
	[Suburb] [varchar](20) NULL,
	[State] [varchar](20) NULL,
	[Postcode] [varchar](15) NULL,
	[Countery] [varchar](20) NULL,
	[SpecialInstructions] [varchar](200) NULL,
	[ReceiverPhone] [varchar](20) NULL,
	[ReceiverEmail] [varchar](150) NULL,
	[PackingSlipNumber] [varchar](20) NULL,
	[PickingSlipNumber] [varchar](20) NULL,
	[OrderNumber] [varchar](20) NULL,
	[ASNNumber] [varchar](20) NULL,
	[CartonCount] [int] NULL,
	[WeightKG] [int] NULL,
	[CubicM3] [int] NULL,
	[ManifestNumber] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Connote] PRIMARY KEY CLUSTERED 
(
	[ConnoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
