USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[DHLResponse]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHLResponse](
	[DHLResponseID] [int] IDENTITY(1,1) NOT NULL,
	[MessageReference] [nvarchar](100) NOT NULL,
	[shipmentTrackingNumber] [nvarchar](50) NULL,
	[currencyType] [nvarchar](50) NULL,
	[priceCurrency] [nvarchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[dispatchConfirmationNumber] [nvarchar](50) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_DHLResponse] PRIMARY KEY CLUSTERED 
(
	[DHLResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
