USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemNumber] [varchar](30) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ItemName] [varchar](250) NOT NULL,
	[ItemPrice] [decimal](10, 2) NULL,
	[PickingCondition] [varchar](100) NULL,
	[CompositeType] [varchar](30) NULL,
	[MaterialType] [varchar](50) NULL,
	[MinimumStockLimit] [int] NULL,
	[ItemIsComposite] [bit] NULL,
	[ItemIsMaterial] [bit] NULL,
	[ItemIsActive] [bit] NULL,
	[NonShippingItem] [bit] NULL,
	[TrackSerialOnShipment] [bit] NULL,
	[TrackSerialOnReceipt] [bit] NULL,
	[TrackBatchCodeOnShipment] [bit] NULL,
	[TrackBatchCodeOnReceipt] [bit] NULL,
	[TrackExpiryDateOnShipment] [bit] NULL,
	[TrackExpiryDateOnReceipt] [bit] NULL,
	[HsTariffCode] [varchar](50) NULL,
	[ReorderLevel] [varchar](50) NULL,
	[CountryOfOrgin] [varchar](50) NULL,
	[BillableForPicking] [bit] NULL,
	[SerialNumberMask] [varchar](50) NULL,
	[BatchNumberMask] [varchar](50) NULL,
	[DHLDocument] [varchar](200) NULL,
	[Deleted] [bit] NULL,
	[IsSueSort] [bit] '0',
	[IsCMC] [bit] '0',
	[IsPerfectPick] [bit] '0',
	[ShopDomain] [varchar](150) NULL,
	[Shopy_Handle] [bigint] NULL,
	[Shopy_LocationID] [bigint] NULL,
	[Shopy_InventoryItemID] [bigint] NULL,
	[Shopy_ShopifyItemID] [bigint] NULL,
	[Shopy_VariantID] [bigint] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Tenant]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Item Description ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Items', @level2type=N'COLUMN',@level2name=N'ItemName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Not used' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Items', @level2type=N'COLUMN',@level2name=N'HsTariffCode'
GO
