USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocTempLocation]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocTempLocation](
	[LocTempLocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocSectionID] [int] NOT NULL,
	[SectionCode] [varchar](20) NULL,
	[LocAreaID] [int] NOT NULL,
	[AreaCode] [varchar](20) NULL,
	[LocWarehouseID] [int] NOT NULL,
	[WarehouseCode] [varchar](20) NULL,
	[BinCode] [varchar](30) NOT NULL,
	[BinType] [varchar](50) NULL,
	[StorageType] [varchar](50) NULL,
	[Height] [int] NULL,
	[Width] [int] NULL,
	[Depth] [int] NULL,
	[Distance] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_LocTempLocation] PRIMARY KEY CLUSTERED 
(
	[LocTempLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocTempLocation]  WITH CHECK ADD  CONSTRAINT [FK_LocTempLocation_LocArea] FOREIGN KEY([LocAreaID])
REFERENCES [dbo].[LocArea] ([LocAreaID])
GO
ALTER TABLE [dbo].[LocTempLocation] CHECK CONSTRAINT [FK_LocTempLocation_LocArea]
GO
ALTER TABLE [dbo].[LocTempLocation]  WITH CHECK ADD  CONSTRAINT [FK_LocTempLocation_LocSection] FOREIGN KEY([LocSectionID])
REFERENCES [dbo].[LocSection] ([LocSectionID])
GO
ALTER TABLE [dbo].[LocTempLocation] CHECK CONSTRAINT [FK_LocTempLocation_LocSection]
GO
ALTER TABLE [dbo].[LocTempLocation]  WITH CHECK ADD  CONSTRAINT [FK_LocTempLocation_LocWarehouse] FOREIGN KEY([LocWarehouseID])
REFERENCES [dbo].[LocWarehouse] ([LocWarehouseID])
GO
ALTER TABLE [dbo].[LocTempLocation] CHECK CONSTRAINT [FK_LocTempLocation_LocWarehouse]
GO
