USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ItemKitingCost]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemKitingCost](
	[ItemKitingCostID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[WarehouseCode] [varchar](20) NULL,
	[Cost] [decimal](10, 2) NULL,
	[Currency] [varchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ItemKitingCost] PRIMARY KEY CLUSTERED 
(
	[ItemKitingCostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemKitingCost]  WITH CHECK ADD  CONSTRAINT [FK_ItemKitingCost_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[ItemKitingCost] CHECK CONSTRAINT [FK_ItemKitingCost_Items]
GO
