USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TenantLock]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantLock](
	[TenantLockID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[Reason] [varchar](1000) NULL,
	[LockDateTime] [datetime] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TenantLock] PRIMARY KEY CLUSTERED 
(
	[TenantLockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TenantLock]  WITH CHECK ADD  CONSTRAINT [FK_TenantLock_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[TenantLock] CHECK CONSTRAINT [FK_TenantLock_LocWarehouse]
GO
ALTER TABLE [dbo].[TenantLock]  WITH CHECK ADD  CONSTRAINT [FK_TenantLock_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[TenantLock] CHECK CONSTRAINT [FK_TenantLock_Tenant]
GO
