USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[CPItemsDomestic]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPItemsDomestic](
	[ItemsDomesticID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentDomesticID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[length] [int] NOT NULL,
	[width] [int] NOT NULL,
	[height] [int] NOT NULL,
	[physicalWeight] [decimal](5, 2) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_CPItemsDomestic] PRIMARY KEY CLUSTERED 
(
	[ItemsDomesticID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
