USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TarekTest]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarekTest](
	[TarekField1] [nchar](10) NULL,
	[TarekTestID] [int] IDENTITY(1,1) NOT NULL,
	[tarekField2] [nchar](10) NULL,
	[tarekfield3] [nchar](10) NULL,
	[tarekfield4] [nchar](10) NULL,
	[tarekField55] [nchar](10) NULL
) ON [PRIMARY]
GO
