USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReceiptInbound]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptInbound](
	[ReceiptInboundID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ShipmentNumber] [varchar](30) NOT NULL,
	[ClientShipmentNumber] [varchar](50) NULL,
	[ReferenceNumber] [varchar](250) NULL,
	[DueDate] [datetime] NULL,
	[ContainerType] [varchar](20) NULL,
	[ReceiptStatus] [varchar](25) NOT NULL,
	[ReceiptType] [varchar](20) NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[CompletedDateTime] [datetime] NULL,
	[CompletedBy] [varchar](100) NULL,
	[StartDateTime] [datetime] NULL,
	[StartBy] [varchar](100) NULL,
 CONSTRAINT [PK_ReceiptInbound] PRIMARY KEY CLUSTERED 
(
	[ReceiptInboundID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReceiptInbound]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptInbound_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[ReceiptInbound] CHECK CONSTRAINT [FK_ReceiptInbound_LocWarehouse]
GO
ALTER TABLE [dbo].[ReceiptInbound]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptInbound_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[ReceiptInbound] CHECK CONSTRAINT [FK_ReceiptInbound_Tenant]
GO
