USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[DHLImageOptions]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHLImageOptions](
	[ImageOptionsID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentID] [int] NULL,
	[typeCode] [nvarchar](100) NULL,
	[templateName] [nvarchar](50) NULL,
	[isRequested] [bit] NULL,
	[hideAccountNumber] [bit] NULL,
	[numberOfCopies] [smallint] NULL,
	[invoiceType] [nvarchar](50) NULL,
	[languageCode] [nvarchar](6) NULL,
	[languageCountryCode] [nvarchar](4) NULL,
	[languageScriptCode] [nvarchar](8) NULL,
	[encodingFormat] [nvarchar](6) NULL,
	[renderDHLLogo] [bit] NULL,
	[fitLabelsToA4] [bit] NULL,
	[labelFreeText] [nvarchar](300) NULL,
	[labelCustomerDataText] [nvarchar](500) NULL,
	[shipmentReceiptCustomerDataText] [nvarchar](1400) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_DHL_ImageOptions] PRIMARY KEY CLUSTERED 
(
	[ImageOptionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
