USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocBin]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocBin](
	[LocBinID] [int] IDENTITY(1,1) NOT NULL,
	[LocShelfID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[BinCode] [varchar](20) NOT NULL,
	[BinName] [varchar](200) NULL,
	[BinDesc] [varchar](1000) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_LocBin] PRIMARY KEY CLUSTERED 
(
	[LocBinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocBin]  WITH CHECK ADD  CONSTRAINT [FK_LocBin_LocShelf] FOREIGN KEY([LocShelfID])
REFERENCES [dbo].[LocShelf] ([LocShelfID])
GO
ALTER TABLE [dbo].[LocBin] CHECK CONSTRAINT [FK_LocBin_LocShelf]
GO
