USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ULD]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ULD](
	[ULDID] [int] IDENTITY(1,1) NOT NULL,
	[ULDBarcode] [varchar](30) NOT NULL,
	[ULDCurrentLocation] [varchar](50) NULL,
	[LocColumnID] [int] NULL,
	[LocShelfID] [int] NULL,
	[LocBinID] [int] NULL,
	[LocSBinID] [int] NULL,
	[ULDType] [varchar](30) NULL,
	[TenantCode] [varchar](10) NULL,
	[WarehouseCode] [varchar](20) NULL,
	[HoldStatus] [varchar](20) NULL,
	[LockReason] [varchar](1000) NULL,
	[HoldReason] [varchar](1000) NULL,
	[CurrentZone] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[ItemNumber] [varchar](30) NULL,
	[ItemName] [varchar](250) NULL,
	[ExpiryDate] [datetime] NULL,
	[BatchNumber] [varchar](30) NULL,
	[IsPallete] [bit] NULL,
	[IsWarehouseTenant] [bit] NULL,
	[Deleted] [bit] NULL,
	[ReceivedDateTime] [datetime] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ULD] PRIMARY KEY CLUSTERED 
(
	[ULDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ULD] ADD  CONSTRAINT [DF_ULD_IsPallete]  DEFAULT ((0)) FOR [IsPallete]
GO
ALTER TABLE [dbo].[ULD]  WITH CHECK ADD  CONSTRAINT [FK_ULD_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[ULD] CHECK CONSTRAINT [FK_ULD_LocWarehouse]
GO
ALTER TABLE [dbo].[ULD]  WITH CHECK ADD  CONSTRAINT [FK_ULD_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[ULD] CHECK CONSTRAINT [FK_ULD_Tenant]
GO
