USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[PickingSchedule]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickingSchedule](
	[PickingScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [varchar](50) NULL,
	[FulfilmentOrder] [varchar](50) NULL,
	[FulfilmentType] [varchar](20) NULL,
	[TenantCode] [varchar](10) NULL,
	[WaveID] [int] NULL,
	[ItemID] [int] NULL,
	[ItemNumber] [varchar](30) NULL,
	[ItemName] [varchar](250) NULL,
	[Qty] [int] NULL,
	[PickedQty] [int] NULL,
	[ULDID] [int] NULL,
	[ULDBarcode] [varchar](30) NULL,
	[ULDCurrentLocation] [varchar](50) NULL,
	[LocationOrderNumber] [varchar](200) NULL,
	[WarehouseID] [int] NULL,
	[AreaID] [int] NULL,
	[SectionID] [int] NULL,
	[RowID] [int] NULL,
	[ColumnID] [int] NULL,
	[BinID] [int] NULL,
	[WarehouseCode] [varchar](20) NULL,
	[AreaCode] [varchar](20) NULL,
	[SectionCode] [varchar](20) NULL,
	[RowCode] [varchar](20) NULL,
	[ColumnCode] [varchar](20) NULL,
	[BinCode] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[StartDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
	[OperationStaff] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[WarehouseName] [varchar](200) NULL,
	[AreaName] [varchar](200) NULL,
	[SectionName] [varchar](200) NULL,
	[RowName] [varchar](200) NULL,
	[ColumnName] [varchar](200) NULL,
	[BinName] [varchar](200) NULL,
 CONSTRAINT [PK_PickingSchedule] PRIMARY KEY CLUSTERED 
(
	[PickingScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
