USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[DHLResponseDocuments]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHLResponseDocuments](
	[DHLResponseDocumentsID] [int] IDENTITY(1,1) NOT NULL,
	[DHLResponseID] [int] NOT NULL,
	[ShipmentReference] [nvarchar](150) NULL,
	[imageFormat] [nvarchar](50) NULL,
	[typeCode] [nvarchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[FileName] [nvarchar](300) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_DHLResponseDocuments] PRIMARY KEY CLUSTERED 
(
	[DHLResponseDocumentsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
