USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[StockTakeSchedule]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTakeSchedule](
	[StockTakeScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[ItemID] [int] NULL,
	[ItemName] [varchar](250) NULL,
	[ItemNumber] [varchar](30) NULL,
	[ULDCurrentLocation] [varchar](50) NULL,
	[WarehouseID] [int] NULL,
	[AreaID] [int] NULL,
	[SectionID] [int] NULL,
	[RowID] [int] NULL,
	[ColumnID] [int] NULL,
	[BinID] [int] NULL,
	[WarehouseCode] [varchar](20) NULL,
	[AreaCode] [varchar](20) NULL,
	[SectionCode] [varchar](20) NULL,
	[RowCode] [varchar](20) NULL,
	[ColumnCode] [varchar](20) NULL,
	[BinCode] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[StartDate] [datetime] NULL,
	[CompletedDate] [datetime] NULL,
	[OperationStaff] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[WarehouseName] [varchar](200) NULL,
	[AreaName] [varchar](200) NULL,
	[SectionName] [varchar](200) NULL,
	[RowName] [varchar](200) NULL,
	[ColumnName] [varchar](200) NULL,
	[BinName] [varchar](200) NULL,
	[StorageType] [varchar](50) NULL,
 CONSTRAINT [PK_StocktakeSchedule] PRIMARY KEY CLUSTERED 
(
	[StockTakeScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockTakeSchedule]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeSchedule_LocArea] FOREIGN KEY([AreaID])
REFERENCES [dbo].[LocArea] ([LocAreaID])
GO
ALTER TABLE [dbo].[StockTakeSchedule] CHECK CONSTRAINT [FK_StockTakeSchedule_LocArea]
GO
ALTER TABLE [dbo].[StockTakeSchedule]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeSchedule_LocSection] FOREIGN KEY([SectionID])
REFERENCES [dbo].[LocSection] ([LocSectionID])
GO
ALTER TABLE [dbo].[StockTakeSchedule] CHECK CONSTRAINT [FK_StockTakeSchedule_LocSection]
GO
ALTER TABLE [dbo].[StockTakeSchedule]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeSchedule_LocWarwhouse] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[LocWarehouse] ([LocWarehouseID])
GO
ALTER TABLE [dbo].[StockTakeSchedule] CHECK CONSTRAINT [FK_StockTakeSchedule_LocWarwhouse]
GO
ALTER TABLE [dbo].[StockTakeSchedule]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeSchedule_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[StockTakeSchedule] CHECK CONSTRAINT [FK_StockTakeSchedule_Service]
GO
