USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[CPShipmentDomestic]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPShipmentDomestic](
	[ShipmentDomesticID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [nvarchar](10) NOT NULL,
	[pickupDeliveryChoiceID] [nvarchar](500) NULL,
	[pickupFirstName] [nvarchar](50) NOT NULL,
	[pickupLastName] [nvarchar](50) NOT NULL,
	[pickupCompanyName] [nvarchar](50) NOT NULL,
	[pickupEmail] [nvarchar](200) NOT NULL,
	[pickupAddress1] [nvarchar](100) NOT NULL,
	[pickupAddress2] [nvarchar](100) NULL,
	[pickupSuburb] [nvarchar](50) NOT NULL,
	[pickupState] [nvarchar](3) NOT NULL,
	[pickupPostcode] [nvarchar](4) NOT NULL,
	[pickupPhone] [nvarchar](20) NOT NULL,
	[pickupIsBusiness] [bit] NOT NULL,
	[destinationDeliveryChoiceID] [nvarchar](50) NULL,
	[destinationFirstName] [nvarchar](50) NOT NULL,
	[destinationLastName] [nvarchar](50) NOT NULL,
	[destinationCompanyName] [nvarchar](50) NULL,
	[destinationEmail] [nvarchar](200) NOT NULL,
	[destinationAddress1] [nvarchar](100) NOT NULL,
	[destinationAddress2] [nvarchar](100) NULL,
	[destinationSuburb] [nvarchar](50) NOT NULL,
	[destinationState] [nvarchar](3) NOT NULL,
	[destinationPostcode] [nvarchar](4) NOT NULL,
	[destinationPhone] [nvarchar](20) NOT NULL,
	[destinationIsBusiness] [bit] NOT NULL,
	[contactFirstName] [nvarchar](50) NOT NULL,
	[contactLastName] [nvarchar](50) NOT NULL,
	[contactCompanyName] [nvarchar](50) NOT NULL,
	[contactEmail] [nvarchar](200) NOT NULL,
	[contactAddress1] [nvarchar](100) NOT NULL,
	[contactAddress2] [nvarchar](100) NULL,
	[contactSuburb] [nvarchar](50) NOT NULL,
	[contactState] [nvarchar](3) NOT NULL,
	[contactPostcode] [nvarchar](4) NOT NULL,
	[contactPhone] [nvarchar](20) NOT NULL,
	[contactIsBusiness] [bit] NOT NULL,
	[specialInstruction] [nvarchar](140) NULL,
	[referenceNumber] [nvarchar](40) NOT NULL,
	[termsAccepted] [bit] NOT NULL,
	[dangerousGoods] [bit] NOT NULL,
	[rateCardId] [nvarchar](50) NOT NULL,
	[isATL] [bit] NULL,
	[readyDateTime] [datetime] NULL,
	[ResponseQTE_Results] [nvarchar](50) NULL,
	[ResponseQTE_ResultsMSG] [nvarchar](30) NULL,
	[ResponseQTE_CalculatedFreightCharge] [decimal](8, 2) NULL,
	[ResponseQTE_CalculatedFuelCharge] [decimal](6, 2) NULL,
	[ResponseQTE_ETA] [nvarchar](100) NULL,
	[ResponseQTE_PickupCutOffTime] [nvarchar](10) NULL,
	[ResponseQTE_RateCardCode] [nvarchar](5) NULL,
	[ResponseQTE_RateCardDescription] [nvarchar](50) NULL,
	[ResponseQTE_Weight] [decimal](6, 2) NULL,
	[ResponseShipment_consignmentCode] [nvarchar](150) NULL,
	[ResponseShipment_referenceNumber] [nvarchar](50) NULL,
	[ResponseShipment_jobNumber] [nvarchar](50) NULL,
	[ResponseShipment_Status] [nvarchar](10) NULL,
	[ResponseShipment_Message] [nvarchar](500) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_CPShipmentDomestic] PRIMARY KEY CLUSTERED 
(
	[ShipmentDomesticID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
