USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocSBin]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocSBin](
	[LocSBinID] [int] IDENTITY(1,1) NOT NULL,
	[LocBinID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[SBinCode] [varchar](20) NOT NULL,
	[SBinName] [varchar](200) NULL,
	[SBinDesc] [varchar](1000) NULL,
	[SBinType] [varchar](50) NULL,
	[Height] [int] NULL,
	[Width] [int] NULL,
	[Depth] [int] NULL,
	[Distance] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_LocSBin] PRIMARY KEY CLUSTERED 
(
	[LocSBinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocSBin]  WITH CHECK ADD  CONSTRAINT [FK_LocSBin_LocBin] FOREIGN KEY([LocBinID])
REFERENCES [dbo].[LocBin] ([LocBinID])
GO
ALTER TABLE [dbo].[LocSBin] CHECK CONSTRAINT [FK_LocSBin_LocBin]
GO
