USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TenantReportDefinition]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantReportDefinition](
	[TenantReportDefinitionID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ReportDefinitionID] [int] NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TenantReportDefinition] PRIMARY KEY CLUSTERED 
(
	[TenantReportDefinitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TenantReportDefinition]  WITH CHECK ADD  CONSTRAINT [FK_TenantReportDefinition_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[TenantReportDefinition] CHECK CONSTRAINT [FK_TenantReportDefinition_LocWarehouse]
GO
ALTER TABLE [dbo].[TenantReportDefinition]  WITH CHECK ADD  CONSTRAINT [FK_TenantReportDefinition_ReportDefinition] FOREIGN KEY([ReportDefinitionID])
REFERENCES [dbo].[ReportDefinition] ([ReportDefinitionID])
GO
ALTER TABLE [dbo].[TenantReportDefinition] CHECK CONSTRAINT [FK_TenantReportDefinition_ReportDefinition]
GO
ALTER TABLE [dbo].[TenantReportDefinition]  WITH CHECK ADD  CONSTRAINT [FK_TenantReportDefinition_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[TenantReportDefinition] CHECK CONSTRAINT [FK_TenantReportDefinition_Tenant]
GO
