USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[StockTakeItemLocation]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTakeItemLocation](
	[StockTakeItemLocationID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NULL,
	[StockTakeItemID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[BinID] [int] NULL,
	[TempLocationID] [int] NULL,
	[LocationBarCode] [varchar](50) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_StockTakeItemLocation] PRIMARY KEY CLUSTERED 
(
	[StockTakeItemLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockTakeItemLocation]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeItemLocation_LocBin] FOREIGN KEY([BinID])
REFERENCES [dbo].[LocBin] ([LocBinID])
GO
ALTER TABLE [dbo].[StockTakeItemLocation] CHECK CONSTRAINT [FK_StockTakeItemLocation_LocBin]
GO
ALTER TABLE [dbo].[StockTakeItemLocation]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeItemLocation_LocTemp] FOREIGN KEY([TempLocationID])
REFERENCES [dbo].[LocTempLocation] ([LocTempLocationID])
GO
ALTER TABLE [dbo].[StockTakeItemLocation] CHECK CONSTRAINT [FK_StockTakeItemLocation_LocTemp]
GO
ALTER TABLE [dbo].[StockTakeItemLocation]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeItemLocationService] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[StockTakeItemLocation] CHECK CONSTRAINT [FK_StockTakeItemLocationService]
GO
