USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Fulfilment]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fulfilment](
	[FulfilmentID] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [varchar](50) NOT NULL,
	[OrderNumber] [varchar](50) NOT NULL,
	[OrderSource] [varchar](50) NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[OnHold] [bit] NULL DEFAULT ((0)),
	[TrackingNumber] [varchar](150) NULL,
	[FulfilmentType] [varchar](20) NOT NULL,
	[FulfilmentStatus] [varchar](30) NULL,
	[WarehouseName] [varchar](150) NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[CarrierID] [int] NULL,
	[CarrierServiceID] [int] NULL,
	[Carrier] [varchar](100) NULL,
	[CarrierService] [varchar](200) NULL,
	[shipping_address_name] [nvarchar](100) NULL,
	[shipping_address_company] [nvarchar](300) NULL,
	[shipping_address_address1] [nvarchar](300) NULL,
	[shipping_address_address2] [nvarchar](300) NULL,
	[shipping_address_city] [nvarchar](150) NULL,
	[shipping_address_province] [nvarchar](150) NULL,
	[shipping_address_zip] [nvarchar](20) NULL,
	[shipping_address_country] [nvarchar](50) NULL,
	[Phone] [varchar](70) NULL,
	[contact_email] [nvarchar](200) NULL,
	[ReferenceNumber] [varchar](30) NULL,
	[ShipmentNumber] [varchar](20) NULL,
	[SpecialInstructions] [varchar](500) NULL,
 CONSTRAINT [PK_Fulfilment] PRIMARY KEY CLUSTERED 
(
	[FulfilmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fulfilment] ADD  CONSTRAINT [DF_Fulfilment_DestinationCountry]  DEFAULT (N'Australia') FOR [shipping_address_country]
GO
ALTER TABLE [dbo].[Fulfilment]  WITH CHECK ADD  CONSTRAINT [FK_Fulfilment_LocWarehouse_WarehouseCode] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[Fulfilment] CHECK CONSTRAINT [FK_Fulfilment_LocWarehouse_WarehouseCode]
GO
ALTER TABLE [dbo].[Fulfilment]  WITH CHECK ADD  CONSTRAINT [FK_Fulfilment_Tenant_TenantCode] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[Fulfilment] CHECK CONSTRAINT [FK_Fulfilment_Tenant_TenantCode]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Active, Picked, Packed, Lodged, Deleted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Fulfilment', @level2type=N'COLUMN',@level2name=N'FulfilmentStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Packing Slip Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Fulfilment', @level2type=N'COLUMN',@level2name=N'ReferenceNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Order Number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Fulfilment', @level2type=N'COLUMN',@level2name=N'ShipmentNumber'
GO
