USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[StockTakeResult]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTakeResult](
	[StocktakeResultID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[StockTakeScheduleID] [int] NOT NULL,
	[ItemID] [int] NULL,
	[ULDID] [int] NULL,
	[TenantCode] [varchar](30) NULL,
	[ULDBarcode] [varchar](30) NULL,
	[ItemName] [varchar](250) NULL,
	[ItemNumber] [varchar](30) NULL,
	[ULDCurrentLocation] [varchar](50) NULL,
	[StockQty] [int] NULL,
	[Qty] [int] NOT NULL,
	[ScannedType] [varchar](30) NULL,
	[ScannedUnit] [varchar](30) NULL,
	[ScannedQty] [int] NULL,
	[ScannedNumber] [varchar](max) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_StocktakeResult] PRIMARY KEY CLUSTERED 
(
	[StocktakeResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[StockTakeResult]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeResult_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[StockTakeResult] CHECK CONSTRAINT [FK_StockTakeResult_Service]
GO
ALTER TABLE [dbo].[StockTakeResult]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeResult_StockTakeSchedule] FOREIGN KEY([StockTakeScheduleID])
REFERENCES [dbo].[StockTakeSchedule] ([StockTakeScheduleID])
GO
ALTER TABLE [dbo].[StockTakeResult] CHECK CONSTRAINT [FK_StockTakeResult_StockTakeSchedule]
GO
ALTER TABLE [dbo].[StockTakeResult]  WITH CHECK ADD  CONSTRAINT [FK_StockTakeResult_ULD] FOREIGN KEY([ULDID])
REFERENCES [dbo].[ULD] ([ULDID])
GO
ALTER TABLE [dbo].[StockTakeResult] CHECK CONSTRAINT [FK_StockTakeResult_ULD]
GO
