USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Wave]    Script Date: 3/2/2026 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wave](
	[WaveID] [int] IDENTITY(1,1) NOT NULL,
	[WaveNumber] [varchar](11) NULL,
	[WaveType] [varchar](50) NULL,
	[WaveStatus] [varchar](20) NULL,
	[CurrentStep] [varchar](50) NULL,
	[StepStatus] [varchar](20) NULL,
	[WarehouseCode] [varchar](20) NULL,
	[NumberOfOrders] [int] NULL,
	[PickRequired] [bit] NULL,
	[SortRequired] [bit] NULL,
	[PackRequired] [bit] NULL,
	[MailingRequired] [bit] NULL,
	[PickingType] [varchar](50) NULL,
	[SortingType] [varchar](50) NULL,
	[PackingType] [varchar](50) NULL,
	[PickCompletedDateTime] [datetime] NULL,
	[PickCompletedBy] [varchar](100) NULL,
	[PackCompletedDateTime] [datetime] NULL,
	[PackCompletedBy] [varchar](100) NULL,
	[SortCompletedDateTime] [datetime] NULL,
	[SortCompletedBy] [varchar](100) NULL,
	[MailCompletedDateTime] [datetime] NULL,
	[MailCompletedBy] [varchar](100) NULL,
	[DefaultBoxID] [int] NULL,
	[ManualPacking] [bit] NULL DEFAULT (1),
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Wave] PRIMARY KEY CLUSTERED 
(
	[WaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
