USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocColumn]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocColumn](
	[LocColumnID] [int] IDENTITY(1,1) NOT NULL,
	[LocRowID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ColumnCode] [varchar](20) NOT NULL,
	[ColumnName] [varchar](200) NOT NULL,
	[ColumnDesc] [varchar](1000) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_LocColumn] PRIMARY KEY CLUSTERED 
(
	[LocColumnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocColumn]  WITH CHECK ADD  CONSTRAINT [FK_LocColumn_LocRow] FOREIGN KEY([LocRowID])
REFERENCES [dbo].[LocRow] ([LocRowID])
GO
ALTER TABLE [dbo].[LocColumn] CHECK CONSTRAINT [FK_LocColumn_LocRow]
GO
