USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[KittingItem]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KittingItem](
	[KittingItemID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[TenantCode] [varchar](10) NULL,
	[ItemID] [int] NULL,
	[ItemNumber] [varchar](30) NULL,
	[ItemName] [varchar](250) NULL,
	[Qty] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_KittingItem] PRIMARY KEY CLUSTERED 
(
	[KittingItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KittingItem]  WITH CHECK ADD  CONSTRAINT [FK_KittingItem_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[KittingItem] CHECK CONSTRAINT [FK_KittingItem_Service]
GO
