USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LogTypeMapping]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTypeMapping](
	[LogTypeMappingID] [int] IDENTITY(1,1) NOT NULL,
	[LogFileName] [varchar](255) NOT NULL,
	[SqlLog] [bit] NOT NULL,
 CONSTRAINT [PK_LogTypeMapping] PRIMARY KEY CLUSTERED 
(
	[LogTypeMappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
