USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[OrdersLine]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersLine](
	[OrdersLineID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[line_items_name] [varchar](300) NOT NULL,
	[line_items_sku] [varchar](150) NULL,
	[line_items_current_quantity] [int] NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ItemID] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_OrdersLine] PRIMARY KEY CLUSTERED 
(
	[OrdersLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrdersLine]  WITH CHECK ADD  CONSTRAINT [FK_OrdersLine_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[OrdersLine] CHECK CONSTRAINT [FK_OrdersLine_Items]
GO
ALTER TABLE [dbo].[OrdersLine]  WITH CHECK ADD  CONSTRAINT [FK_OrdersLine_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrdersLine] CHECK CONSTRAINT [FK_OrdersLine_OrderID]
GO
