USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[DHLShipment]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHLShipment](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[MessageReference] [nvarchar](100) NULL,
	[plannedShippingDateAndTime] [nvarchar](60) NULL,
	[pickup_isRequested] [bit] NULL,
	[closeTime] [nvarchar](5) NULL,
	[location] [nvarchar](50) NULL,
	[productCode] [nvarchar](12) NULL,
	[localProductCode] [nvarchar](6) NULL,
	[getRateEstimates] [bit] NULL,
	[accounts_typeCode_Shipper] [nvarchar](30) NULL,
	[accounts_number_Shipper] [nvarchar](24) NULL,
	[accounts_typeCode_Payer] [nvarchar](30) NULL,
	[accounts_number_Payer] [nvarchar](24) NULL,
	[valueAddedServices_serviceCode] [nvarchar](12) NULL,
	[valueAddedServices_value] [decimal](10, 2) NULL,
	[valueAddedServices_currency] [nvarchar](6) NULL,
	[valueAddedServices_serviceCode2] [nvarchar](12) NULL,
	[outputImageProperties_printerDPI] [int] NULL,
	[outputImageProperties_encodingFormat] [nchar](10) NULL,
	[outputImageProperties_splitTransportAndWaybillDocLabels] [bit] NULL,
	[outputImageProperties_allDocumentsInOneImage] [bit] NULL,
	[outputImageProperties_splitDocumentsByPages] [bit] NULL,
	[outputImageProperties_splitInvoiceAndReceipt] [bit] NULL,
	[outputImageProperties_receiptAndLabelsInOneImage] [bit] NULL,
	[SD_postalCode] [nvarchar](24) NULL,
	[SD_cityName] [nvarchar](90) NULL,
	[SD_countryCode] [nvarchar](4) NULL,
	[SD_provinceCode] [nvarchar](70) NULL,
	[SD_addressLine1] [nvarchar](90) NULL,
	[SD_addressLine2] [nvarchar](90) NULL,
	[SD_countryName] [nvarchar](90) NULL,
	[SD_CI_email] [nvarchar](140) NULL,
	[SD_CI_phone] [nvarchar](140) NULL,
	[SD_CI_mobilePhone] [nvarchar](140) NULL,
	[SD_CI_companyName] [nvarchar](200) NULL,
	[SD_CI_fullName] [nvarchar](500) NULL,
	[SD_RN_typeCode] [nvarchar](6) NULL,
	[SD_RN_number] [nvarchar](70) NULL,
	[SD_RN_issuerCountryCode] [nvarchar](4) NULL,
	[SD_BD_name] [nvarchar](120) NULL,
	[SD_BD_settlementLocalCurrency] [nvarchar](6) NULL,
	[SD_BD_settlementForeignCurrency] [nvarchar](6) NULL,
	[SD_typeCode] [nvarchar](50) NULL,
	[RD_postalCode] [nvarchar](24) NULL,
	[RD_cityName] [nvarchar](90) NULL,
	[RD_countryCode] [nvarchar](4) NULL,
	[RD_provinceCode] [nvarchar](70) NULL,
	[RD_addressLine1] [nvarchar](90) NULL,
	[RD_addressLine2] [nvarchar](90) NULL,
	[RD_countryName] [nvarchar](90) NULL,
	[RD_CI_email] [nvarchar](140) NULL,
	[RD_CI_phone] [nvarchar](140) NULL,
	[RD_CI_mobilePhone] [nvarchar](140) NULL,
	[RD_CI_companyName] [nvarchar](200) NULL,
	[RD_CI_fullName] [nvarchar](500) NULL,
	[RD_RN_typeCode] [nvarchar](6) NULL,
	[RD_RN_number] [nvarchar](70) NULL,
	[RD_RN_issuerCountryCode] [nvarchar](4) NULL,
	[RD_BD_name] [nvarchar](120) NULL,
	[RD_BD_settlementLocalCurrency] [nvarchar](6) NULL,
	[RD_BD_settlementForeignCurrency] [nvarchar](6) NULL,
	[RD_typeCode] [nvarchar](50) NULL,
	[content_isCustomsDeclarable] [bit] NULL,
	[content_declaredValue] [decimal](18, 2) NULL,
	[content_declaredValueCurrency] [nvarchar](6) NULL,
	[invoice_number] [nvarchar](50) NULL,
	[invoice_date] [nvarchar](20) NULL,
	[invoice_instructions] [nvarchar](30) NULL,
	[invoice_totalNetWeight] [decimal](18, 3) NULL,
	[invoice_totalGrossWeight] [decimal](18, 3) NULL,
	[invoice_customerReferences_typeCode] [nvarchar](6) NULL,
	[invoice_customerReferences_value] [nvarchar](50) NULL,
	[invoice_termsOfPayment] [nvarchar](50) NULL,
	[invoice_indicativeCustomsValues_importCustomsDutyValue] [decimal](18, 2) NULL,
	[invoice_indicativeCustomsValues_importTaxesValue] [decimal](18, 2) NULL,
	[remarks_value] [nvarchar](500) NULL,
	[destinationPortName] [nvarchar](200) NULL,
	[placeOfIncoterm] [nvarchar](200) NULL,
	[payerVATNumber] [nvarchar](50) NULL,
	[recipientReference] [nvarchar](100) NULL,
	[exporter_id] [nvarchar](50) NULL,
	[exporter_code] [nvarchar](50) NULL,
	[packageMarks] [nvarchar](200) NULL,
	[declarationNotes_value] [nvarchar](1400) NULL,
	[exportReference] [nvarchar](80) NULL,
	[exportReason] [nvarchar](60) NULL,
	[exportReasonType] [nvarchar](60) NULL,
	[licenses_typeCode] [nvarchar](50) NULL,
	[licenses_value] [nvarchar](32) NULL,
	[shipmentType] [nvarchar](50) NULL,
	[customsDocuments_typeCode] [nvarchar](6) NULL,
	[customsDocuments_value] [nvarchar](300) NULL,
	[description] [nvarchar](140) NULL,
	[USFilingTypeValue] [nvarchar](40) NULL,
	[incoterm] [nvarchar](6) NULL,
	[unitOfMeasurement] [nvarchar](50) NULL,
	[shipmentNotification_typeCode] [nvarchar](50) NULL,
	[shipmentNotification_receiverId] [nvarchar](100) NULL,
	[shipmentNotification_languageCode] [nvarchar](6) NULL,
	[shipmentNotification_languageCountryCode] [nvarchar](4) NULL,
	[shipmentNotification_bespokeMessage] [nvarchar](500) NULL,
	[prepaidCharges_typeCode] [nvarchar](50) NULL,
	[prepaidCharges_currency] [nvarchar](6) NULL,
	[prepaidCharges_value] [decimal](18, 2) NULL,
	[prepaidCharges_method] [nvarchar](50) NULL,
	[estimatedDeliveryDate_isRequested] [bit] NULL,
	[estimatedDeliveryDate_typeCode] [nvarchar](8) NULL,
	[getAdditionalInformation_typeCode] [nvarchar](50) NULL,
	[getAdditionalInformation_isRequested] [bit] NULL,
	[SupportDocument1] [nvarchar](150) NULL,
	[typeCode1] [nvarchar](6) NULL,
	[imageFormat1] [nvarchar](8) NULL,
	[SupportDocument2] [nvarchar](150) NULL,
	[typeCode2] [nvarchar](6) NULL,
	[imageFormat2] [nvarchar](8) NULL,
	[SupportDocument3] [nvarchar](150) NULL,
	[typeCode3] [nvarchar](6) NULL,
	[imageFormat3] [nvarchar](8) NULL,
	[WarehouseCode] [nchar](10) NULL,
	[AlterTenantCode] [nchar](10) NULL,
	[TenantCode] [nchar](10) NULL,
	[SourceShipment] [nchar](100) NULL,
	[ManualInvoiceComment] [nchar](1000) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_DHL_Shipment] PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
