USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReportData]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportData](
	[ReportDataID] [int] IDENTITY(1,1) NOT NULL,
	[ReportDefinitionID] [int] NULL,
	[TenantCode] [varchar](10) NULL,
	[TenantName] [varchar](250) NULL,
	[WarehouseCode] [varchar](10) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[StoreProcedure] [varchar](500) NULL,
	[ReportFileName] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ReportData] PRIMARY KEY CLUSTERED 
(
	[ReportDataID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportData]  WITH CHECK ADD  CONSTRAINT [FK_ReportData_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[ReportData] CHECK CONSTRAINT [FK_ReportData_Tenant]
GO
