USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[PerfectPickInfo]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfectPickInfo](
	[PerfectPickInfoID] [int] IDENTITY(1,1) NOT NULL,
	[BinID] [int] NOT NULL,
	[PerfectPickCode] [varchar](15) NOT NULL,
	[PerfectPickDivider] [int] NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_PerfectPickInfo] PRIMARY KEY CLUSTERED 
(
	[PerfectPickInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerfectPickInfo]  WITH CHECK ADD  CONSTRAINT [FK_PerfectPickInfo_LocBin] FOREIGN KEY([BinID])
REFERENCES [dbo].[LocBin] ([LocBinID])
GO
ALTER TABLE [dbo].[PerfectPickInfo] CHECK CONSTRAINT [FK_PerfectPickInfo_LocBin]
GO
