USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[BayTenantAllocation]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BayTenantAllocation](
	[BayTenantAllocationID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[TenantName] [varchar](150) NULL,
	[SectionID] [int] NULL,
	[RowID] [int] NULL,
	[ColumnID] [int] NOT NULL,
	[AllocationDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_BayTenantAllocation] PRIMARY KEY CLUSTERED 
(
	[BayTenantAllocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BayTenantAllocation]  WITH CHECK ADD  CONSTRAINT [FK_BayTenantAllocation_LocColumn] FOREIGN KEY([ColumnID])
REFERENCES [dbo].[LocColumn] ([LocColumnID])
GO
ALTER TABLE [dbo].[BayTenantAllocation] CHECK CONSTRAINT [FK_BayTenantAllocation_LocColumn]
GO
ALTER TABLE [dbo].[BayTenantAllocation]  WITH CHECK ADD  CONSTRAINT [FK_BayTenantAllocation_LocRow] FOREIGN KEY([RowID])
REFERENCES [dbo].[LocRow] ([LocRowID])
GO
ALTER TABLE [dbo].[BayTenantAllocation] CHECK CONSTRAINT [FK_BayTenantAllocation_LocRow]
GO
ALTER TABLE [dbo].[BayTenantAllocation]  WITH CHECK ADD  CONSTRAINT [FK_BayTenantAllocation_LocSection] FOREIGN KEY([SectionID])
REFERENCES [dbo].[LocSection] ([LocSectionID])
GO
ALTER TABLE [dbo].[BayTenantAllocation] CHECK CONSTRAINT [FK_BayTenantAllocation_LocSection]
GO
ALTER TABLE [dbo].[BayTenantAllocation]  WITH CHECK ADD  CONSTRAINT [FK_BayTenantAllocation_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[BayTenantAllocation] CHECK CONSTRAINT [FK_BayTenantAllocation_Tenant]
GO
