USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 3/2/2026 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[WeatherID] [int] IDENTITY(1,1) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[Country] [varchar](100) NOT NULL,
	[TemperatureC] [float] NOT NULL
) ON [PRIMARY]
GO
