USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[WaveLine]    Script Date: 3/2/2026 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaveLine](
	[WaveLineID] [int] IDENTITY(1,1) NOT NULL,
	[WaveID] [int] NOT NULL,
	[CarrierID] [int] NULL,
	[ShipmentID] [int] NULL,
	[ShipmentType] [varchar](20) NULL,
	[WaveNumber] [varchar](11) NULL,
	[OrderNumber] [varchar](50) NULL,
	[SourceOrderNumber] [varchar](50) NULL,
	[TenantCode] [varchar](10) NULL,
	[PickStatus] [varchar](20) NULL,
	[SortStatus] [varchar](20) NULL,
	[PackStatus] [varchar](20) NULL,
	[MailStatus] [varchar](20) NULL,
	[PickDateTime] [datetime] NULL,
	[PickBy] [varchar](100) NULL,
	[PackDateTime] [datetime] NULL,
	[PackBy] [varchar](100) NULL,
	[SortDateTime] [datetime] NULL,
	[SortBy] [varchar](100) NULL,
	[MailDateTime] [datetime] NULL,
	[MailBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_WaveLine] PRIMARY KEY CLUSTERED 
(
	[WaveLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WaveLine]  WITH CHECK ADD  CONSTRAINT [FK_WaveLine_Wave_WaveID] FOREIGN KEY([WaveID])
REFERENCES [dbo].[Wave] ([WaveID])
GO
ALTER TABLE [dbo].[WaveLine] CHECK CONSTRAINT [FK_WaveLine_Wave_WaveID]
GO
