USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocSequence]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocSequence](
	[LocSequenceID] [int] IDENTITY(1,1) NOT NULL,
	[LocationType] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[CurrentOrder] [int] NOT NULL,
	[CurrentCode] [int] NOT NULL,
	[CurrentPrefix] [int] NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK__LocSequence] PRIMARY KEY CLUSTERED 
(
	[LocSequenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocSequence] ADD  CONSTRAINT [DF_LocSequence_CurrentCode]  DEFAULT ((0)) FOR [CurrentCode]
GO
ALTER TABLE [dbo].[LocSequence] ADD  CONSTRAINT [DF_LocSequence_CurrentPrefix]  DEFAULT ((1)) FOR [CurrentPrefix]
GO
