USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[InvestigatingItems]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestigatingItems](
	[InvestigatingItemID] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [varchar](30) NOT NULL,
	[ReceiptInboundID] [int] NULL,
	[TenantCode] [varchar](10) NULL,
	[TenantName] [varchar](150) NULL,
	[ShipmentNumber] [varchar](30) NULL,
	[ClientShipmentNumber] [varchar](30) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_InvestigatingItems] PRIMARY KEY CLUSTERED 
(
	[InvestigatingItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvestigatingItems]  WITH CHECK ADD  CONSTRAINT [FK_InvestigatingItems_ReceiptInbound] FOREIGN KEY([ReceiptInboundID])
REFERENCES [dbo].[ReceiptInbound] ([ReceiptInboundID])
GO
ALTER TABLE [dbo].[InvestigatingItems] CHECK CONSTRAINT [FK_InvestigatingItems_ReceiptInbound]
GO
