USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LogAccessLink]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogAccessLink](
	[LogAccessLinkID] [int] IDENTITY(1,1) NOT NULL,
	[AccessLink] [varchar](500) NOT NULL
) ON [PRIMARY]
GO
