USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[CurrentWarehouseUser]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentWarehouseUser](
	[CurrentWarehouseUserID] [int] IDENTITY(1,1) NOT NULL,
	[AzureUserId] [varchar](50) NOT NULL,
	[WarehouseCode] [varchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_CurrentWarehouseUser] PRIMARY KEY CLUSTERED 
(
	[CurrentWarehouseUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CurrentWarehouseUser]  WITH CHECK ADD  CONSTRAINT [FK_CurrentWarehouseUser_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[CurrentWarehouseUser] CHECK CONSTRAINT [FK_CurrentWarehouseUser_LocWarehouse]
GO
ALTER TABLE [dbo].[CurrentWarehouseUser]  WITH CHECK ADD  CONSTRAINT [FK_CurrentWarehouseUser_Users] FOREIGN KEY([AzureUserId])
REFERENCES [dbo].[Users] ([AzureUserId])
GO
ALTER TABLE [dbo].[CurrentWarehouseUser] CHECK CONSTRAINT [FK_CurrentWarehouseUser_Users]
GO
