USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ChargeGroupCost]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargeGroupCost](
	[ChargeGroupCostID] [int] IDENTITY(1,1) NOT NULL,
	[ChargeGroupID] [int] NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[ChargeItemPrice] [decimal](10, 2) NOT NULL,
	[ChargeItemUnit] [varchar](50) NULL,
	[ChargeItemCurrency] [varchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ChargeGroupCost] PRIMARY KEY CLUSTERED 
(
	[ChargeGroupCostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChargeGroupCost]  WITH CHECK ADD  CONSTRAINT [FK_ChargeGroupCost_ChargeGroup] FOREIGN KEY([ChargeGroupID])
REFERENCES [dbo].[ChargeGroup] ([ChargeGroupID])
GO
ALTER TABLE [dbo].[ChargeGroupCost] CHECK CONSTRAINT [FK_ChargeGroupCost_ChargeGroup]
GO
ALTER TABLE [dbo].[ChargeGroupCost]  WITH CHECK ADD  CONSTRAINT [FK_ChargeGroupCost_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[ChargeGroupCost] CHECK CONSTRAINT [FK_ChargeGroupCost_LocWarehouse]
GO
