USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ChargeName] [varchar](100) NULL,
	[ChargeType] [varchar](20) NOT NULL,
	[ChargeCategory] [varchar](100) NOT NULL,
	[InvoiceReferences] [varchar](500) NULL,
	[OrderReferences] [varchar](500) NULL,
	[ItemReferences] [varchar](500) NULL,
	[WaveReferences] [varchar](20) NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[Qty] [int] NULL,
	[Cost] [decimal](18, 2) NULL,
	[Charge] [decimal](18, 2) NOT NULL,
	[Currency] [varchar](20) NOT NULL,
	[Status] [varchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_LocWarehouse]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Tenant]
GO
