USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TenantChargeItem]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantChargeItem](
	[TenantChargeItemID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ChargeItemId] [int] NOT NULL,
	[ChargeType] [varchar](20) NOT NULL,
	[EffectiveDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CustomCost] [float] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TenantChargeItem] PRIMARY KEY CLUSTERED 
(
	[TenantChargeItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TenantChargeItem]  WITH CHECK ADD  CONSTRAINT [FK_TenantChargeItem_ChargeItem] FOREIGN KEY([ChargeItemId])
REFERENCES [dbo].[ChargeItem] ([ChargeItemID])
GO
ALTER TABLE [dbo].[TenantChargeItem] CHECK CONSTRAINT [FK_TenantChargeItem_ChargeItem]
GO
ALTER TABLE [dbo].[TenantChargeItem]  WITH CHECK ADD  CONSTRAINT [FK_TenantChargeItem_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[TenantChargeItem] CHECK CONSTRAINT [FK_TenantChargeItem_Tenant]
GO
