USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[TenantID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[TenantName] [varchar](150) NULL,
	[TenantJoinDate] [datetime] NULL,
	[TenantAddressLine1] [varchar](150) NULL,
	[TenantAddressLine2] [varchar](150) NULL,
	[TenantSuburb] [varchar](20) NULL,
	[TenantState] [varchar](20) NULL,
	[TenantPostcode] [varchar](15) NULL,
	[TenantCountry] [varchar](50) NULL,
	[TenantStatus] [varchar](20) NULL,
	[TenantDefaultCarrier] [varchar](50) NULL,
	[StorageType] [varchar](50) NULL,
	[IsUsingCustomPrice] [bit] NULL,
	[IsWarehouseTenant] [bit] NULL,
	[TenantWarehouseName] [varchar](100) NULL,
	[TenantWarehouseCode] [varchar](20) NULL,
	[IsInit] [bit] NULL DEFAULT ((1)),
	[Deleted] [bit] NULL,
	[TenantABN] [varchar](11) NULL,
	[TenantContactMobile] [varchar](20) NULL,
	[TenantContactEmail] [varchar](100) NULL,
	[TenantContactName] [varchar](100) NULL,
	[TenantReturnAddress] [varchar](150) NULL,
	[NotificationEmail] [varchar](100) NULL,
	[NotificationName] [varchar](150) NULL,
	[ExpiredAlertDays] [int] NULL,
	[ExtraOrderCost] [decimal](10, 2) NULL,
	[CMCChargeCost] [decimal](10, 2) NULL,
	[MailingChargePercent] [int] NULL,
	[PackingRequired] [bit] NULL,
	[PackingRequiredType] [varchar](50) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[TenantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Tenant_Code] UNIQUE NONCLUSTERED 
(
	[TenantCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tenant] ADD  CONSTRAINT [DF_Tenant_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TenantCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tenant', @level2type=N'CONSTRAINT',@level2name=N'UK_Tenant_Code'
GO
