USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocArea]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocArea](
	[LocAreaID] [int] IDENTITY(1,1) NOT NULL,
	[LocWarehouseID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[AreaCode] [varchar](20) NOT NULL,
	[AreaDesc] [varchar](1000) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[AreaName] [varchar](200) NOT NULL,
 CONSTRAINT [PK_LocArea] PRIMARY KEY CLUSTERED 
(
	[LocAreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocArea]  WITH CHECK ADD  CONSTRAINT [FK_LocArea_LocWarehouse] FOREIGN KEY([LocWarehouseID])
REFERENCES [dbo].[LocWarehouse] ([LocWarehouseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocArea] CHECK CONSTRAINT [FK_LocArea_LocWarehouse]
GO
