USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ULDLine]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ULDLine](
	[ULDLineID] [int] IDENTITY(1,1) NOT NULL,
	[ULDID] [int] NOT NULL,
	[SequenceNumber] [int] NOT NULL,
	[SerialNumber] [varchar](30) NULL,
	[TransactionDate] [datetime] NULL,
	[TransactionUser] [varchar](200) NULL,
	[TransactionType] [varchar](100) NULL,
	[TransactionQty] [int] NULL,
	[ReceivingQty] [int] NULL,
	[TransactionReference] [varchar](100) NULL,
	[TransactionMovement] [varchar](1000) NULL,
	[TransactionLocation] [varchar](50) NULL,
	[ItemNumber] [varchar](30) NULL,
	[ItemName] [varchar](250) NULL,
	[AllocatedType] [varchar](20) NULL,
	[Picked] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ULDLine] PRIMARY KEY CLUSTERED 
(
	[ULDLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ULDLine]  WITH CHECK ADD  CONSTRAINT [FK_ULDLine_ULD] FOREIGN KEY([ULDID])
REFERENCES [dbo].[ULD] ([ULDID])
GO
ALTER TABLE [dbo].[ULDLine] CHECK CONSTRAINT [FK_ULDLine_ULD]
GO
