USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[PickingResult]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickingResult](
	[PickingResultID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OrderNumber] [varchar](50) NULL,
	[OrderType] [varchar](50) NULL,
	[PickingScheduleID] [int] NOT NULL,
	[ItemID] [int] NULL,
	[ULDID] [int] NULL,
	[TenantCode] [varchar](30) NULL,
	[ULDBarcode] [varchar](30) NULL,
	[ItemName] [varchar](250) NULL,
	[ItemNumber] [varchar](30) NULL,
	[ULDCurrentLocation] [varchar](50) NULL,
	[Qty] [int] NOT NULL,
	[RequiredQty] [int] NULL,
	[ScannedType] [varchar](30) NULL,
	[ScannedUnit] [varchar](30) NULL,
	[ScannedQty] [int] NULL,
	[ScannedNumber] [varchar](max) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_PickingResult] PRIMARY KEY CLUSTERED 
(
	[PickingResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PickingResult]  WITH CHECK ADD  CONSTRAINT [FK_PickingResult_PickingSchedule] FOREIGN KEY([PickingScheduleID])
REFERENCES [dbo].[PickingSchedule] ([PickingScheduleID])
GO
ALTER TABLE [dbo].[PickingResult] CHECK CONSTRAINT [FK_PickingResult_PickingSchedule]
GO
ALTER TABLE [dbo].[PickingResult]  WITH CHECK ADD  CONSTRAINT [FK_PickingResult_ULD] FOREIGN KEY([ULDID])
REFERENCES [dbo].[ULD] ([ULDID])
GO
ALTER TABLE [dbo].[PickingResult] CHECK CONSTRAINT [FK_PickingResult_ULD]
GO
