USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[UserIpAddress]    Script Date: 3/2/2026 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIpAddress](
	[UserIpAddressID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[UserEmail] [varchar](100) NOT NULL,
	[UserCode] [varchar](50) NOT NULL,
	[IpAddress] [varchar](50) NOT NULL,
	[IpAddressStatus] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_UserIpAddress] PRIMARY KEY CLUSTERED 
(
	[UserIpAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserIpAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserIpAddress_Users] FOREIGN KEY([UserCode])
REFERENCES [dbo].[Users] ([UserCode])
GO
ALTER TABLE [dbo].[UserIpAddress] CHECK CONSTRAINT [FK_UserIpAddress_Users]
GO
