USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[APIEndpoint]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIEndpoint](
	[APIEndpointID] [int] IDENTITY(1,1) NOT NULL,
	[APIController] [varchar](100) NOT NULL,
	[APIEndpoint] [varchar](100) NOT NULL,
	[APIName] [varchar](100) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_APIEndpoint] PRIMARY KEY CLUSTERED 
(
	[APIEndpointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APIEndpoint]  WITH CHECK ADD  CONSTRAINT [FK_APIEndpoint_API] FOREIGN KEY([APIName])
REFERENCES [dbo].[API] ([APIName])
GO
ALTER TABLE [dbo].[APIEndpoint] CHECK CONSTRAINT [FK_APIEndpoint_API]
GO
