USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocSection]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocSection](
	[LocSectionID] [int] IDENTITY(1,1) NOT NULL,
	[LocAreaID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[SectionCode] [varchar](20) NOT NULL,
	[SectionName] [varchar](200) NOT NULL,
	[SectionDesc] [varchar](1000) NULL,
	[StorageType] [varchar](50) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_LocSection] PRIMARY KEY CLUSTERED 
(
	[LocSectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocSection]  WITH CHECK ADD  CONSTRAINT [FK_LocSection_LocArea] FOREIGN KEY([LocAreaID])
REFERENCES [dbo].[LocArea] ([LocAreaID])
GO
ALTER TABLE [dbo].[LocSection] CHECK CONSTRAINT [FK_LocSection_LocArea]
GO
