USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[APIntegrationLine]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIntegrationLine](
	[IntegrationLineID] [int] IDENTITY(1,1) NOT NULL,
	[IntegrationID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[ServiceName] [varchar](100) NULL,
	[OrderType] [varchar](50) NULL,
	[OrderServiceName] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_APIntegrationLine] PRIMARY KEY CLUSTERED 
(
	[IntegrationLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APIntegrationLine]  WITH CHECK ADD  CONSTRAINT [FK_APIntegrationLine_APIntegration] FOREIGN KEY([IntegrationID])
REFERENCES [dbo].[APIntegration] ([IntegrationID])
GO
ALTER TABLE [dbo].[APIntegrationLine] CHECK CONSTRAINT [FK_APIntegrationLine_APIntegration]
GO
ALTER TABLE [dbo].[APIntegrationLine]  WITH CHECK ADD  CONSTRAINT [FK_APIntegrationLine_APService] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[AP_Service] ([ServiceID])
GO
ALTER TABLE [dbo].[APIntegrationLine] CHECK CONSTRAINT [FK_APIntegrationLine_APService]
GO
