USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TenantPermissionConfig]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantPermissionConfig](
	[TenantPermissionConfigID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [varchar](10) NULL,
	[TenantCode] [varchar](20) NULL,
	[Permission] [varchar](200) NULL,
	[Action] [varchar](100) NULL,
	[Allow] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TenantPermissionConfig] PRIMARY KEY CLUSTERED 
(
	[TenantPermissionConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
