USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TenantReportSchedule]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantReportSchedule](
	[TenantReportScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ReportScheduleID] [int] NOT NULL,
	[Interval] [varchar](50) NOT NULL,
	[Output] [varchar](50) NOT NULL,
	[StoreProcedureName] [varchar](200) NULL,
	[Param1] [varchar](100) NULL,
	[Param2] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TenantReportSchedule] PRIMARY KEY CLUSTERED 
(
	[TenantReportScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TenantReportSchedule]  WITH CHECK ADD  CONSTRAINT [FK_TenantReportSchedule_ReportSchedule] FOREIGN KEY([ReportScheduleID])
REFERENCES [dbo].[ReportSchedule] ([ReportScheduleID])
GO
ALTER TABLE [dbo].[TenantReportSchedule] CHECK CONSTRAINT [FK_TenantReportSchedule_ReportSchedule]
GO
ALTER TABLE [dbo].[TenantReportSchedule]  WITH CHECK ADD  CONSTRAINT [FK_TenantReportSchedule_Tenant] FOREIGN KEY([TenantCode])
REFERENCES [dbo].[Tenant] ([TenantCode])
GO
ALTER TABLE [dbo].[TenantReportSchedule] CHECK CONSTRAINT [FK_TenantReportSchedule_Tenant]
GO
