USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[NumberingSequances]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberingSequances](
	[NumberingSequanceID] [int] IDENTITY(1,1) NOT NULL,
	[SequanceName] [varchar](30) NULL,
	[SequanceType] [varchar](50) NULL,
	[SequanceBeginString] [varchar](10) NULL,
	[SequanceEndString] [varchar](10) NULL,
	[SequanceNextNumber] [int] NULL,
	[SequanceFinalNumber] [int] NULL,
	[SequanceZeroFill] [int] NULL,
	[SequanceCheckDigit] [int] NULL,
	[SequanceStatus] [varchar](10) NULL,
 CONSTRAINT [PK_NumberingSequances] PRIMARY KEY CLUSTERED 
(
	[NumberingSequanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
