USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReportScheduleParameter]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportScheduleParameter](
	[ReportScheduleParameterID] [int] IDENTITY(1,1) NOT NULL,
	[ReportScheduleID] [int] NOT NULL,
	[ParamName] [varchar](50) NOT NULL,
	[ParamVal] [varchar](200) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ReportScheduleParameter] PRIMARY KEY CLUSTERED 
(
	[ReportScheduleParameterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportScheduleParameter]  WITH CHECK ADD  CONSTRAINT [FK_ReportScheduleParameter_ReportSchedule] FOREIGN KEY([ReportScheduleID])
REFERENCES [dbo].[ReportSchedule] ([ReportScheduleID])
GO
ALTER TABLE [dbo].[ReportScheduleParameter] CHECK CONSTRAINT [FK_ReportScheduleParameter_ReportSchedule]
GO
