USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[CarrierLine]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrierLine](
	[CarrierLineID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [varchar](20) NULL,
	[TenantCode] [varchar](20) NULL,
	[CarrierID] [int] NULL,
	[CarrierServiceCode] [varchar](50) NULL,
	[CarrierServiceName] [varchar](150) NULL,
	[TenantCarrierServiceName] [varchar](150) NULL,
	[CarrierServiceActive] [bit] NULL,
	[AccountNumer] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_CarrierLines] PRIMARY KEY CLUSTERED 
(
	[CarrierLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarrierLine]  WITH CHECK ADD  CONSTRAINT [FK_CarrierLines_Carrier_CarrierID] FOREIGN KEY([CarrierID])
REFERENCES [dbo].[Carrier] ([CarrierID])
GO
ALTER TABLE [dbo].[CarrierLine] CHECK CONSTRAINT [FK_CarrierLines_Carrier_CarrierID]
GO
