USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[LocShelf]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocShelf](
	[LocShelfID] [int] IDENTITY(1,1) NOT NULL,
	[LocColumnID] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ShelfCode] [varchar](20) NOT NULL,
	[ShelfName] [varchar](200) NULL,
	[ShelfDesc] [varchar](1000) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_LocShelf] PRIMARY KEY CLUSTERED 
(
	[LocShelfID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocShelf]  WITH CHECK ADD  CONSTRAINT [FK_LocShelf_LocColumn] FOREIGN KEY([LocColumnID])
REFERENCES [dbo].[LocColumn] ([LocColumnID])
GO
ALTER TABLE [dbo].[LocShelf] CHECK CONSTRAINT [FK_LocShelf_LocColumn]
GO
