USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[TenantCustomCost]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantCustomCost](
	[TenantCustomCostID] [int] IDENTITY(1,1) NOT NULL,
	[TenantChargeItemID] [int] NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[ChargeItemPrice] [decimal](10, 2) NOT NULL,
	[ChargeItemCurrency] [varchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TenantCustomCost] PRIMARY KEY CLUSTERED 
(
	[TenantCustomCostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TenantCustomCost]  WITH CHECK ADD  CONSTRAINT [FK_TenantCustomCost_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[TenantCustomCost] CHECK CONSTRAINT [FK_TenantCustomCost_LocWarehouse]
GO
ALTER TABLE [dbo].[TenantCustomCost]  WITH CHECK ADD  CONSTRAINT [FK_TenantCustomCost_TenantChargeItem] FOREIGN KEY([TenantChargeItemID])
REFERENCES [dbo].[TenantChargeItem] ([TenantChargeItemID])
GO
ALTER TABLE [dbo].[TenantCustomCost] CHECK CONSTRAINT [FK_TenantCustomCost_TenantChargeItem]
GO
