USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[APIntegration]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APIntegration](
	[IntegrationID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [varchar](50) NULL,
	[TenantName] [varchar](150) NULL,
	[WarehouseCode] [varchar](50) NULL,
	[AccountNumber] [varchar](50) NULL,
	[Token] [varchar](100) NULL,
	[MLID] [varchar](50) NULL,
	[ImportReferenceNumber] [varchar](50) NULL,
	[ExportDeclarationNumber] [varchar](50) NULL,
	[IsWarehouseAccount] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_APIntegration] PRIMARY KEY CLUSTERED 
(
	[IntegrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
