USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ULDPrefix]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ULDPrefix](
	[CurrentPrefix] [int] NOT NULL
) ON [PRIMARY]
GO
