USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[AP_ShipmentItemContentsINT]    Script Date: 3/2/2026 10:32:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP_ShipmentItemContentsINT](
	[ShipmentItemContentID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentItemID] [int] NULL,
	[country_of_origin] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[sku] [nvarchar](150) NULL,
	[quantity] [int] NULL,
	[tariff_code] [nvarchar](150) NULL,
	[value] [decimal](8, 2) NULL,
	[weight] [decimal](5, 3) NULL,
	[item_contents_reference] [nvarchar](150) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ShipmentItemContentsINT] PRIMARY KEY CLUSTERED 
(
	[ShipmentItemContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
