USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ItemComposite]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemComposite](
	[ItemCompositeID] [int] IDENTITY(1,1) NOT NULL,
	[ParentItemID] [int] NOT NULL,
	[ParentItemNumber] [varchar](30) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemName] [varchar](250) NULL,
	[ItemNumber] [varchar](30) NULL,
	[Quantity] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ItemComposite] PRIMARY KEY CLUSTERED 
(
	[ItemCompositeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemComposite]  WITH CHECK ADD  CONSTRAINT [FK_ItemComposite_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[ItemComposite] CHECK CONSTRAINT [FK_ItemComposite_Items]
GO
ALTER TABLE [dbo].[ItemComposite]  WITH CHECK ADD  CONSTRAINT [FK_ItemComposite_ParentItem] FOREIGN KEY([ParentItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[ItemComposite] CHECK CONSTRAINT [FK_ItemComposite_ParentItem]
GO
