USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[FulfilmentLine]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FulfilmentLine](
	[FulfilmentLineID] [int] IDENTITY(1,1) NOT NULL,
	[FulfilmentID] [int] NOT NULL,
	[line_items_name] [varchar](300) NOT NULL,
	[line_items_sku] [varchar](150) NULL,
	[line_items_current_quantity] [smallint] NULL,
	[TenantCode] [varchar](10) NOT NULL,
	[ItemID] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_FulfilmentLine] PRIMARY KEY CLUSTERED 
(
	[FulfilmentLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FulfilmentLine]  WITH CHECK ADD  CONSTRAINT [FK_FulfilmentLine_FulfilmentID] FOREIGN KEY([FulfilmentID])
REFERENCES [dbo].[Fulfilment] ([FulfilmentID])
GO
ALTER TABLE [dbo].[FulfilmentLine] CHECK CONSTRAINT [FK_FulfilmentLine_FulfilmentID]
GO
ALTER TABLE [dbo].[FulfilmentLine]  WITH CHECK ADD  CONSTRAINT [FK_FulfilmentLine_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[FulfilmentLine] CHECK CONSTRAINT [FK_FulfilmentLine_Items]
GO
