USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[AP_ShipmentINT]    Script Date: 3/2/2026 10:32:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP_ShipmentINT](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NOT NULL,
	[Shipment_Reference] [nvarchar](50) NULL,
	[Shipment_Reference_1] [nvarchar](50) NULL,
	[Shipment_Reference_2] [nvarchar](50) NULL,
	[email_tracking_enabled] [bit] NULL,
	[from_Name] [nvarchar](50) NULL,
	[from_Business_Name] [nvarchar](50) NULL,
	[from_Addressline1] [nvarchar](50) NULL,
	[from_Addressline2] [nvarchar](50) NULL,
	[from_Suburb] [nvarchar](20) NULL,
	[from_State] [nvarchar](20) NULL,
	[from_Postcode] [nvarchar](20) NULL,
	[from_Phone] [nvarchar](20) NULL,
	[from_Email] [nvarchar](150) NULL,
	[to_Name] [nvarchar](50) NULL,
	[to_business_Name] [nvarchar](50) NULL,
	[to_Addressline1] [nvarchar](50) NULL,
	[to_Addressline2] [nvarchar](50) NULL,
	[to_Suburb] [nvarchar](20) NULL,
	[to_State] [nvarchar](20) NULL,
	[to_Postcode] [nvarchar](20) NULL,
	[to_Country] [nvarchar](50) NULL,
	[to_phone] [nvarchar](20) NULL,
	[to_email] [nvarchar](150) NULL,
	[TenantMLID] [nvarchar](50) NULL,
	[AP_shipment_id] [nvarchar](150) NULL,
	[AP_total_cost] [decimal](6, 2) NULL,
	[AP_total_cost_ex_gst] [decimal](6, 2) NULL,
	[AP_shipping_cost] [decimal](6, 2) NULL,
	[AP_fuel_surcharge] [decimal](4, 2) NULL,
	[AP_total_gst] [decimal](5, 2) NULL,
	[AP_manual_handling_surcharge] [decimal](5, 2) NULL,
	[AP_status] [nvarchar](50) NULL,
	[TenantCode] [nvarchar](150) NULL,
	[AP_OrderID] [nvarchar](150) NULL,
	[AP_order_total_cost] [decimal](6, 2) NULL,
	[AP_order_total_cost_ex_gst] [decimal](6, 2) NULL,
	[AP_order_shipping_cost] [decimal](6, 2) NULL,
	[AP_order_fuel_surcharge] [decimal](4, 2) NULL,
	[AP_order_total_gst] [decimal](5, 2) NULL,
	[AP_order_manual_handling_surcharge] [decimal](5, 2) NULL,
	[AP_order_status] [nvarchar](50) NULL,
	[AP_ProductCode] [nvarchar](50) NULL,
	[AP_ServiceCode] [nvarchar](10) NULL,
	[AP_ConsignmentID] [nvarchar](150) NULL,
	[AP_Label_URL] [nvarchar](max) NULL,
	[ManualShipmentStatus] [nvarchar](20) NULL,
	[AlterTenantCode] [nchar](10) NULL,
	[ManualInvoiceComment] [nvarchar](1000) NULL,
	[SourceShipment] [nchar](100) NULL,
	[WarehouseCode] [nchar](10) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_AP_ShipmentINT] PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
