USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[WarehousePrinter]    Script Date: 3/2/2026 10:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehousePrinter](
	[WarehousePrinterID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [varchar](20) NOT NULL,
	[PrinterName] [varchar](200) NOT NULL,
	[PrinterType] [varchar](50) NULL,
	[PrinterResolution] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_WarehousePrinter] PRIMARY KEY CLUSTERED 
(
	[WarehousePrinterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WarehousePrinter]  WITH CHECK ADD  CONSTRAINT [FK_WarehousePrinter_LocWarehouse] FOREIGN KEY([WarehouseCode])
REFERENCES [dbo].[LocWarehouse] ([WarehouseCode])
GO
ALTER TABLE [dbo].[WarehousePrinter] CHECK CONSTRAINT [FK_WarehousePrinter_LocWarehouse]
GO
