USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[StandardBox]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardBox](
	[StandardBoxID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Description] [nvarchar](2000) NULL,
	[Length] [decimal](10, 2) NULL,
	[Height] [decimal](10, 2) NULL,
	[Width] [decimal](10, 2) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_StandardBox] PRIMARY KEY CLUSTERED 
(
	[StandardBoxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
