USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[DHLPackages]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHLPackages](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentID] [int] NULL,
	[typeCode] [nvarchar](6) NULL,
	[weight] [decimal](10, 3) NULL,
	[length] [decimal](10, 3) NULL,
	[width] [decimal](10, 0) NULL,
	[height] [decimal](10, 0) NULL,
	[CR_value] [nvarchar](70) NULL,
	[CR_typeCode] [nvarchar](6) NULL,
	[description] [nvarchar](70) NULL,
	[labelDescription] [nvarchar](160) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_DHL_Package] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
