USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[AP_ShipmentItemsINT]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP_ShipmentItemsINT](
	[ShipmentItemID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentID] [int] NOT NULL,
	[classification_type] [nvarchar](100) NULL,
	[commercial_value] [bit] NULL,
	[description_of_other] [nvarchar](500) NULL,
	[export_declaration_number] [nvarchar](50) NULL,
	[import_reference_number] [nvarchar](50) NULL,
	[item_Reference] [nvarchar](50) NULL,
	[item_description] [nvarchar](500) NULL,
	[product_id] [nvarchar](20) NULL,
	[Length] [nvarchar](20) NULL,
	[Height] [nvarchar](20) NULL,
	[Width] [nvarchar](20) NULL,
	[Weight] [nvarchar](20) NULL,
	[authority_to_leave] [bit] NULL,
	[allow_partial_delivery] [bit] NULL,
	[Article] [int] NULL,
	[InsuranceAmount] [decimal](10, 2) NULL,
	[AP_item_id] [nvarchar](150) NULL,
	[AP_total_cost] [decimal](10, 2) NULL,
	[AP_total_cost_ex_gst] [decimal](10, 2) NULL,
	[AP_total_gst] [decimal](10, 2) NULL,
	[AP_manual_handling_surcharge] [decimal](10, 2) NULL,
	[AP_status] [nvarchar](50) NULL,
	[AP_OrderID] [nvarchar](150) NULL,
	[AP_order_total_cost] [decimal](6, 2) NULL,
	[AP_order_total_cost_ex_gst] [decimal](6, 2) NULL,
	[AP_order_total_gst] [decimal](5, 2) NULL,
	[AP_order_manual_handling_surcharge] [decimal](5, 2) NULL,
	[AP_order_status] [nvarchar](50) NULL,
	[AP_consignment_id] [nvarchar](150) NULL,
	[AP_article_id] [nvarchar](300) NULL,
	[AP_barcode_id] [nvarchar](1000) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_AP_ShipmentItemsINT] PRIMARY KEY CLUSTERED 
(
	[ShipmentItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
