USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReportDefinition]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDefinition](
	[ReportDefinitionID] [int] IDENTITY(1,1) NOT NULL,
	[ReportName] [varchar](300) NULL,
	[StoreProcedure] [varchar](100) NULL,
	[Type] [varchar](20) NULL,
	[Cat] [varchar](100) NULL,
	[Invoice] [bit] NULL,
	[CurrentData] [bit] NULL,
	[Mandatory] [bit] NULL,
	[OutputType] [varchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ReportDefinition] PRIMARY KEY CLUSTERED 
(
	[ReportDefinitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
