USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ReceiptInboundLine]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptInboundLine](
	[ReceiptInboundLineID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptInboundID] [int] NOT NULL,
	[ShipmentNumber] [varchar](30) NOT NULL,
	[ItemNumber] [varchar](30) NOT NULL,
	[ItemName] [varchar](250) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ReceivedQuantity] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ReceiptInboundLine] PRIMARY KEY CLUSTERED 
(
	[ReceiptInboundLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReceiptInboundLine]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptInboundLine_ReceiptInbound] FOREIGN KEY([ReceiptInboundID])
REFERENCES [dbo].[ReceiptInbound] ([ReceiptInboundID])
GO
ALTER TABLE [dbo].[ReceiptInboundLine] CHECK CONSTRAINT [FK_ReceiptInboundLine_ReceiptInbound]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unit-Inner-Outer-Pallet-Additional' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ReceiptInboundLine', @level2type=N'COLUMN',@level2name=N'ReceivedQuantity'
GO
