USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ManualIntegration]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManualIntegration](
	[IntegrationID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [nchar](10) NULL,
	[TenantName] [nchar](150) NULL,
	[WarehouseCode] [nchar](10) NULL,
	[OrderType] [nchar](20) NULL,
	[OrderServiceName] [nchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_ManualIntegration] PRIMARY KEY CLUSTERED 
(
	[IntegrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
