USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[Manifest]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manifest](
	[ManifestID] [int] IDENTITY(1,1) NOT NULL,
	[AustPostID] [nvarchar](150) NULL,
	[WarehouseCode] [varchar](10) NULL,
	[TenantCode] [varchar](10) NULL,
	[Filename] [varchar](200) NULL,
	[MailingDateTime] [datetime] NULL,
	[MailingBy] [varchar](100) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Mailing] PRIMARY KEY CLUSTERED 
(
	[ManifestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
