USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[PackingResultLine]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackingResultLine](
	[PackingResultLineID] [int] IDENTITY(1,1) NOT NULL,
	[PackingResultID] [int] NOT NULL,
	[StandardBoxID] [int] NULL,
	[StandardBoxName] [varchar](200) NULL,
	[BoxNumber] [int] NULL,
	[ItemID] [int] NULL,
	[ItemName] [varchar](250) NULL,
	[ItemNumber] [varchar](30) NULL,
	[SerialNumber] [varchar](30) NULL,
	[Qty] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_PackingResultLine] PRIMARY KEY CLUSTERED 
(
	[PackingResultLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
