USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[AP_Service]    Script Date: 3/2/2026 10:32:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP_Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NULL,
	[ServiceCode] [nvarchar](10) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[SignatureOnDeliveryReceiverDrop] [bit] NOT NULL,
	[SignatureAlwaysRequired] [bit] NOT NULL,
	[SignatureOnDeliverySenderDrop] [bit] NOT NULL,
	[NoSignature] [bit] NOT NULL,
	[AuthorityToLeave] [bit] NOT NULL,
	[SafeDropEnabled] [bit] NULL,
	[AllowPartialDelivery] [bit] NOT NULL,
	[ProductID] [nvarchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_AP_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
