USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[CPManifest]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPManifest](
	[ManifestID] [int] IDENTITY(1,1) NOT NULL,
	[TenantCode] [nvarchar](50) NULL,
	[accountName] [nvarchar](250) NULL,
	[contactName] [nvarchar](100) NULL,
	[contractEmail] [nvarchar](150) NULL,
	[readyDateTime] [datetime] NULL,
	[consignmentCount] [int] NULL,
	[totalItemCount] [int] NULL,
	[totalWeight] [int] NULL,
	[phoneNumber] [nvarchar](20) NULL,
	[companyName] [nvarchar](100) NULL,
	[address1] [nvarchar](100) NULL,
	[address2] [nvarchar](100) NULL,
	[address3] [nvarchar](100) NULL,
	[suburb] [nvarchar](50) NULL,
	[postcode] [nvarchar](10) NULL,
	[jobNumber] [nvarchar](20) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_CPManifest] PRIMARY KEY CLUSTERED 
(
	[ManifestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
