USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[SectionPrinter]    Script Date: 3/2/2026 10:32:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectionPrinter](
	[SectionPrinterID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [varchar](100) NOT NULL,
	[SectionID] [int] NOT NULL,
	[AreaID] [int] NULL,
	[WarehouseCode] [varchar](10) NULL,
	[LabelPrinter] [varchar](500) NULL,
	[DesktopPrinter] [varchar](500) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_SectionPrinter] PRIMARY KEY CLUSTERED 
(
	[SectionPrinterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
