USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[ChargeGroup]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargeGroup](
	[ChargeGroupID] [int] IDENTITY(1,1) NOT NULL,
	[ChargeGroupName] [varchar](100) NOT NULL,
	[ChargeGroupDescription] [varchar](1000) NULL,
	[Category] [varchar](50) NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ChargeGroup] PRIMARY KEY CLUSTERED 
(
	[ChargeGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
