USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[MobileDevice]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MobileDevice](
	[MobileDeviceID] [int] IDENTITY(1,1) NOT NULL,
	[MobileDeviceIdentifier] [varchar](40) NOT NULL,
	[MobileDeviceModel] [varchar](100) NULL,
	[MobileDeviceName] [varchar](100) NULL,
	[MobileDeviceManufacturer] [varchar](100) NULL,
	[Allow] [bit] NOT NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_MobileDevice] PRIMARY KEY CLUSTERED 
(
	[MobileDeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
