USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[DHLLineItems]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DHLLineItems](
	[LineItemsID] [int] IDENTITY(1,1) NOT NULL,
	[ShipmentID] [int] NULL,
	[number] [int] NULL,
	[description] [nvarchar](1000) NULL,
	[price] [decimal](18, 2) NULL,
	[quantity_value] [int] NULL,
	[quantity_unitOfMeasurement] [nvarchar](16) NULL,
	[commodityCodes_typeCode] [nvarchar](30) NULL,
	[commodityCodes_value] [nvarchar](36) NULL,
	[exportReasonType] [nvarchar](100) NULL,
	[manufacturerCountry] [nvarchar](4) NULL,
	[exportControlClassificationNumber] [nvarchar](50) NULL,
	[weight_netValue] [decimal](18, 3) NULL,
	[weight_grossValue] [decimal](18, 3) NULL,
	[isTaxesPaid] [bit] NULL,
	[additionalInformation] [nvarchar](1000) NULL,
	[customerReferences_typeCode] [nvarchar](6) NULL,
	[customerReferences_value] [nvarchar](70) NULL,
	[customsDocuments_typeCode] [nvarchar](6) NULL,
	[customsDocuments_value] [nvarchar](70) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [nvarchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_DHL_LineItems] PRIMARY KEY CLUSTERED 
(
	[LineItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
