USE [3PLWMS_Developers]
GO
/****** Object:  Table [dbo].[DOTWMS_WaveSort]    Script Date: 3/2/2026 10:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTWMS_WaveSort](
	[WaveSortID] [int] IDENTITY(1,1) NOT NULL,
	[WaveNumber] [varchar](50) NULL,
	[OrderNumber] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Deleted] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[FirstEditedDateTime] [datetime] NULL,
	[FirstEditedBy] [varchar](100) NULL,
	[LastEditedDateTime] [datetime] NULL,
	[LastEditedBy] [varchar](100) NULL,
 CONSTRAINT [PK_DOTWMS_WaveSort] PRIMARY KEY CLUSTERED 
(
	[WaveSortID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
