USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  Table [dbo].[TenantLog]    Script Date: 3/5/2026 10:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantLog](
	[TenantLogID] [int] IDENTITY(1,1) NOT NULL,
	[AppName] [varchar](255) NOT NULL,
	[CallingInterfaceIPAddress] [varchar](500) NULL,
	[LogFileName] [varchar](255) NOT NULL,
	[LoggedInUser] [varchar](255) NOT NULL,
	[FileName] [varchar](255) NOT NULL,
	[MessageType] [varchar](50) NOT NULL,
	[TransactionResult] [varchar](50) NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[Comment1] [varchar](max) NULL,
	[Comment2] [varchar](max) NULL,
	[Comment3] [varchar](max) NULL,
	[PayloadRequest] [varchar](max) NULL,
	[PayloadResponse] [varchar](max) NULL,
	[ResponseStatus] [varchar](max) NULL,
	[MobileDeviceID] [varchar](40) NULL,
	[LogTime] [datetime] NULL,
 CONSTRAINT [PK_TenantLog] PRIMARY KEY CLUSTERED 
(
	[TenantLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contain Log information of Tenant API' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TenantLog'
GO
