USE [3PLWMS_LOGS_DEV]
GO
/****** Object:  Table [dbo].[LogAccessLink]    Script Date: 3/5/2026 10:55:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogAccessLink](
	[LogAccessLinkID] [int] IDENTITY(1,1) NOT NULL,
	[AccessLink] [varchar](500) NOT NULL,
	[Deleted] [bit] NULL
) ON [PRIMARY]
GO
